<template>
	<b-overlay
		:show="overlay"
		rounded="sm"
		opacity="1.0"
		blur="1px"
		variant="transparent"
	>
		<hr class="mt-0 pt-0">

		<b-row>
			<b-col>
		
				<b-row>
					<b-col lg="5">
						<b-form-group>
							<template v-slot:label>
								<div class="lab-form">
									Fecha<span class="req">*</span>
								</div>
							</template>
							<b-form-input
								type="date"
								class=""
								v-model="$v.form.fecha.$model"
								:state="
									$v.form.fecha.$dirty ? !$v.form.fecha.$error : null
								"
							></b-form-input>
							<b-form-invalid-feedback id="feedback-fecha">
								Campo obligatorio
							</b-form-invalid-feedback>
						</b-form-group>
					</b-col>
					<b-col lg="7">
						<empleados-select-component
							@getEmpleado="$v.form.persona.$model = $event"
							:state="
								$v.form.persona.$dirty ? !$v.form.persona.$error : null
							"
							:empleadoEdit="form.persona"
						/>
					</b-col>
				</b-row>

				<b-row>
					<b-col lg="6">
						<b-form-group class="mb-0">
							<template v-slot:label>
								<div class="lab-form">
									Tipo de examen<span class="req">*</span>
								</div>
							</template>
							<template v-if="!rote">
								<b-form-select
									v-model="$v.form.tipoExamen.$model"
									:state="
										$v.form.tipoExamen.$dirty
											? !$v.form.tipoExamen.$error
											: null
									"
									:options="tiposExamen"
								>
									<template v-slot:first>
										<option :value="null">
											Seleccione el tipo de examen
										</option>
									</template>
								</b-form-select>
								<b-button
									variant="link"
									class="text-secondary float-right mb-0"
									style="cursor:pointer"
									@click="registrarOtroTipoExamen"
									><small
										>Registrar otro tipo</small
									></b-button
								>
							</template>
							<template v-else>
								<b-form-input
									ref="tipoExamen"
									placeholder="Ingrese el tipo de examen"
									v-model="$v.form.tipoExamen.$model"
									:state="
										$v.form.tipoExamen.$dirty
											? !$v.form.tipoExamen.$error
											: null
									"
									:options="tiposExamen"
								>
								</b-form-input>
								<b-button
									variant="link"
									class="text-secondary float-right mb-0"
									style="cursor:pointer"
									@click="verListaTipoExamen"
									><small>Ver lista de examenes</small></b-button
								>
							</template>
						</b-form-group>
					</b-col>
					<b-col lg="6">
						<b-form-group class="mb-0">
							<template v-slot:label>
								<div class="lab-form">
									Clínica<span class="req">*</span>
								</div>
							</template>
							<template v-if="!roc">
								<b-form-select
									v-model="$v.form.clinica.$model"
									:state="
										$v.form.clinica.$dirty
											? !$v.form.clinica.$error
											: null
									"
									:options="clinicas"
								>
									<template v-slot:first>
										<option :value="null">
											Seleccione la clínica
										</option>
									</template>
								</b-form-select>
								<b-button
									variant="link"
									class="text-secondary float-right mb-0"
									style="cursor:pointer"
									@click="registrarOtraClinica"
									><small>Registrar otra clínica</small></b-button
								>
							</template>
							<template v-else>
								<b-form-input
									ref="clinica"
									placeholder="Ingrese el nombre de la clínica"
									v-model="$v.form.clinica.$model"
									:state="
										$v.form.clinica.$dirty
											? !$v.form.clinica.$error
											: null
									"
									:options="clinicas"
								>
								</b-form-input>
								<b-button
									variant="link"
									class="text-secondary float-right mb-0"
									style="cursor:pointer"
									@click="verListaClinicas"
									><small>Ver lista de clinicas</small></b-button
								>
							</template>
						</b-form-group>
					</b-col>
				</b-row>
				
				<b-row>
					<b-col lg="6">
						<b-form-group>
							<template v-slot:label>
									<div class="lab-form">
										Cuenta<span class="req">*</span>
									</div>
								</template>
							<b-form-input
								readonly
								v-model="$v.form.cuenta.$model"
								placeholder="Asigne una cuenta"
								:state="
									$v.form.cuenta.$dirty
										? !$v.form.cuenta.$error
										: null
								"
							>
							</b-form-input>
							
							<b-form-invalid-feedback id="feedback-proveedor">
								Campo obligatorio
							</b-form-invalid-feedback>

							<b-button
								v-if="form.cuenta"
								variant="link"
								class="text-secondary float-right"
								style="cursor: pointer"
								@click="cambiarCuenta()"
								><small>Cambiar cuenta</small>
							</b-button>

							<b-button
								v-else
								variant="link"
								class="text-secondary float-right"
								style="cursor: pointer"
								@click="asignar('cuenta')"
								><small>Asignar cuenta</small>
							</b-button>

						</b-form-group>
					</b-col>
					<b-col lg="6">
						<b-form-group>
							<template v-slot:label>
								<div class="lab-form">
									Costo<span class="req">*</span>
								</div>
							</template>
							<b-input-group prepend="$">
								<b-form-input
									type="number"
									class="text-right"
									v-model="$v.form.costo.$model"
									:state="
										$v.form.costo.$dirty
											? !$v.form.costo.$error
											: null
									"
									placeholder="0.00"
								></b-form-input>
							</b-input-group>
						</b-form-group>
					</b-col>
				</b-row>

				<fieldset class="scheduler-border">
					<legend class="scheduler-border">
						Resultados
					</legend>

					<b-row>
						<b-col lg="5" class="pr-0">
							<b-form-group>
								<template v-slot:label>
									<div class="lab-form">
										Tipo
									</div>
								</template>
								<b-form-select
									size="sm"
									v-model="tipoResultado"
									:options="tiposResultados"
								>
									<template v-slot:first>
										<option :value="null" disabled
											>Seleccione</option
										>
									</template>
								</b-form-select>
								<small class="text-danger" v-show="errorTipoResultado"
									>Requerido</small
								>
							</b-form-group>
						</b-col>
						<b-col lg="4" class="pr-0">
							<b-form-group>
								<template v-slot:label>
									<div class="lab-form">
										Valor
									</div>
								</template>
								<b-form-input
									v-model="valorResultado"
									size="sm"
									placeholder="Indique"
								></b-form-input>
								<small class="text-danger" v-show="errorValorResultado"
									>Requerido</small
								>
							</b-form-group>
						</b-col>
						<b-col lg="3">
							<b-button
								size="sm"
								block
								style="margin-top: 28px"
								@click="agregarResultados"
								>Agregar</b-button
							>
						</b-col>
					</b-row>
					<h5
						v-show="!form.resultados.length"
						class="text-center bg-light mt-3 p-3"
					>
						No se han registrado resultados
					</h5>

					<b-table-simple v-if="form.resultados.length > 0" small responsive>
						<b-thead>
							<b-tr class="text-center">
								<b-th width="42%">Tipo</b-th>
								<b-th width="42%">Valor</b-th>
								<b-th width="16%"></b-th>
							</b-tr>
						</b-thead>
						<b-tbody>
							<b-tr
								class="text-center"
								v-for="(resultado, index) in form.resultados"
								:key="index"
							>
								<b-td>{{ resultado.tipo }}</b-td>
								<b-td>{{ resultado.valor }}</b-td>
								<b-td>
									<small
										><b-link
											href="#"
											class="text-danger"
											@click="quitarResultado(index)"
											>Quitar</b-link
										></small
									>
								</b-td>
							</b-tr>
						</b-tbody>
					</b-table-simple>
				</fieldset>

                <!-- <template
						v-if="
							!historial ||
								changeCuenta ||
								historial.cuenta == 'S/C'
						"
					>
					<tipo-cuenta-component
						@getCuenta="$v.form.cuenta.$model = $event"
						@getTipoCuenta="$v.form.tipoCuenta.$model = $event"
						:state="stateTipoCuenta"
					/>
                </template> -->
                <!-- <template
						v-if="
							historial &&
								historial.cuenta != 'S/C' &&
								!changeCuenta
						"
					>
                    <fieldset class="scheduler-border" style="margin-top: 15px !important">
                        <legend class="scheduler-border">
                            Cuenta
                        </legend>
                        <div class="p-2 text-center">
                            <h4>
                                <small>
                                {{ historial.cuenta }}
                                <b-link
                                    @click="changeCuenta = true"
                                    class="text-danger"
                                >
                                    <small><small><i class="fas fa-edit ml-2"></i></small></small>
                                </b-link>
                                </small>
                            </h4>
                        </div>
                    </fieldset>
                </template> -->

				<template
					v-if="
						!historial ||
							changeFile ||
							historial.nombreFile == 'S/A'
					"
				>
					<b-form-group label-for="file-default">
						<template v-slot:label>			
							<div class="lab-form">
								Adjuntar archivo
							</div>
						</template>
						<b-form-file
							id="file-default"
							name="file"
							placeholder="Seleccione un archivo"
							@change="setFile"
							v-model="$v.form.file.$model"
							:state="
								$v.form.file.$dirty
									? !$v.form.file.$error
									: null
							"
						>
						</b-form-file>
						<b-form-invalid-feedback id="feedback-file">
							Campo obligatorio
						</b-form-invalid-feedback>
					</b-form-group>
				</template>
				
				<template
					v-if="
						historial &&
							historial.nombreFile != 'S/A' &&
							!changeFile
					"
				>
					<div class="lab-form">
						Archivo
					</div>
					<div class="p-2">
						<h4>
							<small>
							<i class="fas fa-file-alt mr-2"></i>
							{{ historial.nombreFile }}
							<b-link
								@click="changeFile = !changeFile"
								class="text-danger"
							>
								<small><small><i class="fas fa-edit ml-2"></i></small></small>
							</b-link>
							</small>
						</h4>
					</div>
				</template>
		
				<b-form-group>
					<template v-slot:label>
						<div class="lab-form">
							Observaciones<span class="req">*</span>
						</div>
					</template>
					<b-form-textarea
						type="text"
						rows="3"
						max-rows="6"
						v-model="$v.form.observaciones.$model"
						:state="
							$v.form.observaciones.$dirty
								? !$v.form.observaciones.$error
								: null
						"
					>
					</b-form-textarea>
					<b-form-invalid-feedback id="feedback-descripcion">
						Campo obligatorio
					</b-form-invalid-feedback>
				</b-form-group>

				<b-row>
					<b-col lg="6">
						<b-form-group>
							<h5
								v-show="form.visible"
								class="mt-2 mb-0"
								@click="form.visible = false"
								style="cursor:pointer"
							>
								<i class="fas fa-eye mr-1 text-danger"></i>
								Visible
							</h5>
							<h5
								v-show="!form.visible"
								class="mt-2 mb-0"
								@click="form.visible = true"
								style="cursor:pointer"
							>
								<i class="fas fa-eye-slash mr-2"></i>No visible
							</h5>
						</b-form-group>
					</b-col>
					<b-col lg="6">
						<div class="d-flex flex-row-reverse bd-highlight">
							<b-button
								variant="danger"
								class="ml-2 my-2"
								@click="submit"
							>
								GUARDAR
							</b-button>
							<b-button
								variant="white" class="link-light my-2"
								@click="cancel"
							>
								CANCELAR
							</b-button>
						</div>
					</b-col>
				</b-row>
			</b-col>
			<b-col
				v-if="asignarCuenta"
				class="border-left"
			>
			
				<tipo-cuenta-component
					@setCuenta="setCuenta($event)"
					:dataCuentaEdit="dataCuentaEdit"
					:seccion="'se.sa'"
					@cancelar="terminarAsignar"
				/>

			</b-col>
		</b-row>
	</b-overlay>
</template>

<script>
import { mapMutations, mapState, mapActions } from "vuex";
import { required } from "vuelidate/lib/validators";

export default {
	props: {
		historial: Object,
	},
	data() {
		return {
			asignarCuenta: false,
            changeCuenta: false,
			nuevaClinica: false,
			nuevoTipoExamen: false,
			changeFile: false,
			errorTipoResultado: false,
			errorValorResultado: false,
			tipoResultado: null,
			valorResultado: "",
			rote: false, // Registrar otro tipo de examen
			roc: false, // Registrar otra clinica
			overlay: false,
			form: {
				tipoExamen: null,
				fecha: "",
				persona: null,
				clinica: null,
				costo: null,
				resultados: [],
				tipoCuenta: null,
				cuenta: null,
				observaciones: "",
				file: null,
				visible: true,
			},
			tiposResultados: [
				"IGG",
				"IGM",
				"IGA",
				"Tipo de sangre",
				"Peso",
				"Talla",
				"Vision Izquierda",
				"Vision Derecha",
				"Audición Izquierda",
				"Audición Derecha",
				"Antigeno",
				"PCR",
				"Antecedentes patologicos",
				"Condición De Salud",
				"Riesgo Lumbar",
				"Quimica Sanguinea",
				"Enfermedades profesionales",
				"Signos vitales",
				"IMC",
				"Indice De Ruffier",
				"Alergias",
			],
		};
	},
	mounted() {
		if (this.historial) this.setDataEdit();
	},
	methods: {
		...mapMutations(["modalSubmit", "modalOk"]),
		...mapMutations("historial_clinico", [
			"addHC",
			"updateHC",
			"addClinica",
			"addTipoExamen",
		]),

		onContext(ctx) {
			this.formatted = ctx.selectedFormatted;
			this.form.fechaFinGastoEstimada = ctx.selectedYMD;
		},
		async submit() {
			this.overlay = true;
			this.$v.$touch();
			console.log(this.$v);
			if (!this.$v.$invalid) {
				try {
					var data = new FormData();
					if (this.form.cuenta == "") this.form.cuenta = "S/C";
					if (this.form.observaciones == "")
						this.form.observaciones = "S/O";
					data.append("tipoExamen", this.form.tipoExamen);
					data.append("fecha", this.form.fecha);
					data.append("persona", this.form.persona);
					data.append("clinica", this.form.clinica);
					data.append("costo", this.form.costo);
					data.append(
						"resultados",
						JSON.stringify(this.form.resultados)
					);
					data.append("cuenta", this.form.cuenta);
					data.append("observaciones", this.form.observaciones);
					data.append("visible", this.form.visible);
					data.append("file", this.form.file);
					if (this.historial) {
						data.append("id", this.historial.id);
						data.append("_method", "PUT");
					}
					const response = await axios.post(
						BaseUrl + `/api/se/salud/historial-clinico`,
						data
					);
					if (response.data.success) {
						if (!this.historial) {
							this.addHC(response.data.hc);
							if (this.roc) this.addClinica(this.form.clinica);
							if (this.rote)
								this.addTipoExamen(this.form.tipoExamen);
						} else {
							this.updateHC(response.data.hc);
						}
						this.modalSubmit(true);
					} else {
						this.modalOk(false);
					}
				} catch (e) {
					console.log(e);
					this.overlay = false;
				}
			} else {
				this.overlay = false;
			}
		},
		setDataEdit() {
			this.form.tipoExamen = this.historial.tipoExamen;
			this.form.persona = this.historial.persona;
			this.form.fecha = this.historial.fecha;
			this.form.responsable = this.historial.responsable;
			this.form.clinica = this.historial.clinica;
			this.form.costo = this.historial.costo;
			this.form.resultados = JSON.parse(this.historial.resultado);
			this.form.cuenta = this.historial.cuenta;
			this.form.observaciones = this.historial.observaciones;
			this.form.visible = this.historial.visible == 1 ? true : false;
		},
		cancel() {
			this.$bvModal.hide("modal-hc");
		},
		registrarOtroTipoExamen() {
			this.rote = true;
			setTimeout(this.focusTipoExamen, 100);
		},
		focusTipoExamen() {
			this.$refs.tipoExamen.focus();
		},
		verListaTipoExamen() {
			this.rote = false;
			if (this.form.tipoExamen == "") this.form.tipoExamen = null;
		},
		registrarOtraClinica() {
			this.roc = true;
			setTimeout(this.focusClinica, 100);
		},
		focusClinica() {
			this.$refs.clinica.focus();
		},
		verListaClinicas() {
			this.roc = false;
			if (this.form.clinica == "") this.form.clinica = null;
		},
		agregarResultados() {
			this.tipoResultado == null
				? (this.errorTipoResultado = true)
				: (this.errorTipoResultado = false);
			this.valorResultado == ""
				? (this.errorValorResultado = true)
				: (this.errorValorResultado = false);

			if (!this.errorTipoResultado && !this.errorValorResultado) {
				this.form.resultados.push({
					tipo: this.tipoResultado,
					valor: this.valorResultado,
				});
			}
		},
		setFile(e) {
			this.form.file = e.target.files[0];
		},
		quitarResultado(index) {
			this.form.resultados.splice(index, 1);
		},
		//METODODS PARA ASIGNACIÓN DE CUENTA
		asignar(tipo) {
			this.$emit('setSizeModal', 'xl');
			if(tipo == 'descripcion') {
				this.asignarDescripcion = true
				this.asignarCuenta = false
			} else {
				this.asignarDescripcion = false
				this.asignarCuenta = true
			}
		},
		terminarAsignar() {
			this.$emit('setSizeModal', 'md');
			this.asignarDescripcion = false;
			this.asignarCuenta = false;
		},
		setCuenta(dataCuenta) {
			this.$v.form.tipoCuenta.$model = dataCuenta.tipoCuenta
			this.$v.form.cuenta.$model = dataCuenta.cuenta
			this.terminarAsignar()
		},
		cambiarCuenta() {
			this.dataCuentaEdit = {
				cuenta: this.form.cuenta,
				tipoCuenta: this.form.tipoCuenta
			}
			this.asignar('cuenta')
		},
		//TERMINAN METODODS PARA ASIGNACIÓN DE CUENTA
	},
	computed: {
		...mapState("historial_clinico", ["clinicas", "tiposExamen"]),
		...mapState(["usuario", "okModal"]),

		stateTipoCuenta() {
			return {
				tipoCuenta: this.$v.form.tipoCuenta.$dirty
					? !this.$v.form.tipoCuenta.$error
					: null,
				cuenta: this.$v.form.cuenta.$dirty ? !this.$v.form.cuenta.$error : null,
			};
		},
	},
	validations: {
		form: {
			tipoExamen: { required },
			fecha: { required },
			persona: { required },
			clinica: { required },
			costo: { required },
			resultado: {},
			tipoCuenta: {},
			cuenta: { required },
			observaciones: {},
			file: {},
		},
	},
	watch: {
		okModal() {
			if (this.okModal == true) {
				this.submit();
			}
		},
		tipoResultado() {
			this.tipoResultado == null
				? (this.errorTipoResultado = true)
				: (this.errorTipoResultado = false);
		},
		valorResultado() {
			this.valorResultado == ""
				? (this.errorValorResultado = true)
				: (this.errorValorResultado = false);
		},
	},
};
</script>

<style>
.activate:hover {
	background-color: rgba(159, 161, 164, 0.1);
	transition: all 0.2s linear;
}
fieldset.scheduler-border {
	border: 1px solid #dee2e6 !important;
	padding: 0 1.4em 0.5em 1.4em !important;
	margin: 0 0 1.5em 0 !important;
	-webkit-box-shadow: 0px 0px 0px 0px #000;
	box-shadow: 0px 0px 0px 0px #000;
}
legend.scheduler-border {
	width: inherit; /* Or auto */
	padding: 0 10px; /* To give a bit of padding on the left and right */
	border-bottom: none;
}
</style>
