<template>
	<b-container fluid>
		<b-row class="pt-4">
			<b-col lg="3"></b-col>
			<b-col lg="6">
				<h1 class="text-center mb-0">Historial Clínico</h1>
			</b-col>
			<b-col lg="3">
				<b-button
					v-if="hasPermission('se.sa.hc.registrar')"
					size="sm"
					variant="danger"
					class="float-right mt-3"
					@click="
						(titleModalHistorial = 'Nuevo Historial Clínico'), openModal()
					"
				>
					Agregar registro
				</b-button>
			</b-col>
		</b-row>

		<b-row class="my-3">
			<b-col lg="9">
				<b-row>
					<b-col lg="3">
						<div class="input-group w-100 bg-white">
							<div class="input-group-prepend bg-light">
								<div class="mr-3 ml-2">
									<small><strong>Examenes:</strong></small>
								</div>
							</div>
							<b-form-select
								size="sm"
								:options="tiposExamen"
								v-model="tipoExamenSelected"
							>
								<template v-slot:first>
									<option :value="null">
										Todos
									</option>
								</template>
							</b-form-select>
						</div>
					</b-col>
					<b-col lg="3">
						<div class="input-group w-100 bg-white">
							<div class="input-group-prepend bg-light">
								<div class="mr-3 ml-2">
									<small><strong>Clínicas:</strong></small>
								</div>
							</div>
							<b-form-select
								size="sm"
								:options="clinicas"
								v-model="clinicaSelected"
							>
								<template v-slot:first>
									<option :value="null">
										Todas
									</option>
								</template>
							</b-form-select>
						</div>
					</b-col>
					<b-col lg="2">
                        <h5 class="mb-0">
						<b-badge
							variant="secondary"
							pull
							v-show="search == 'Clasificados'"
							>Todos los registros
							<i
								class="fas fa-times-circle"
								style="cursor:pointer"
								@click="setSearch('')"
							></i>
						</b-badge>
                        </h5>
					</b-col>
				</b-row>
			</b-col>
			<b-col lg="3">
				<div
					class="input-group w-100 bg-white border"
					id="input-shadow"
				>
					<div class="input-group-prepend bg-light mr-1 ml-3">
						<div class="pt-1 bg-white">
							<i class="fas fa-search"></i>
						</div>
					</div>
					<b-form-input
						id="input-search"
						size="sm"
						class="form-control border-0"
						placeholder="Escribe tu busqueda aquí"
						@keydown="inputHandler"
						v-model="filter"
						autocomplete="off"
					></b-form-input>
				</div>
			</b-col>
		</b-row>
		<b-card class="my-3" no-body>
			<se-salud-table-hc-component
				:filter="filter"
				@setDataEdit="setDataEdit($event)"
				@setDataDelete="setDataDelete($event)"
                :tipoExamenFilter="tipoExamenSelected"
                :clinicaFilter="clinicaSelected"
			/>
		</b-card>
		<modal-component
			:id="'modal-hc'"
			:title="titleModalHistorial"
			:hideFooter="true"
			:hideHeader="true"
			:sizeModal="sizeModalHistorial"
		>
			<template slot="content">
				<se-salud-form-hc-component :historial="historial" @setSizeModal="setSizeModalHistorial"/>
			</template>
		</modal-component>
		<modal-component :title="'Eliminar'" :id="'modal-delete'">
			<template slot="content">
				<form-delete />
			</template>
		</modal-component>
	</b-container>
</template>

<script>
import { mapMutations, mapState, mapActions } from "vuex";
export default {
	data() {
		return {
			tipoExamenSelected: null,
			clinicaSelected: null,
			filter: "",
			historial: null,
			titleModalHistorial: "",
			sizeModalHistorial: "md"
		};
	},
	mounted() {
		this.getClinicas();
		this.getTiposExamen();
	},
	methods: {
		...mapMutations("historial_clinico", ["setSearch"]),
		...mapActions("historial_clinico", ["getClinicas", "getTiposExamen"]),

		openModal() {
			this.historial = null;
			this.$bvModal.show("modal-hc");
		},
		setDataEdit(data) {
			this.historial = data;
			this.titleModalHistorial = "Editar registro";
			this.$bvModal.show("modal-hc");
		},
		setDataDelete(data) {
			this.historial = data;
			this.$bvModal.show("modal-hc-delete");
		},
		inputHandler(e) {
			if (e.keyCode === 13) {
				e.preventDefault();
				if (this.filter == "Clasificados") {
					this.setSearch(this.filter);
					this.filter = "";
				}
			}
		},
		hasPermission(funcion) {
			if (this.permissions.length) {
				const permiso = this.permissions.find(
					(permiso) => permiso.idFuncion == funcion
				);
				if (permiso) return true;
				return false;
			}
		},
		setSizeModalHistorial(size) {
			this.sizeModalHistorial = size
		}
	},
	computed: {
		...mapState("historial_clinico", ["search", "clinicas", "tiposExamen"]),
		...mapState(["permissions", "usuario"]),
	},
};
</script>
