<template>
	<div>
		<b-table
			:items="historialesByClinicas"
			:fields="computedFields"
			:filter="filter"
			striped
			show-empty
			responsive="sm"
			class="mb-0 shadow-sm"
			bordered
			hover
			:busy="isBusy"
			empty-html="<h5 class='my-4 text-secondary'>No se ha registrado ningún historial</h5>"
			empty-filtered-html="<h5 class='my-4 text-secondary'>No se encontaron registros que coincidan con tu búsqueda</h5>"
		>
			<template v-slot:cell(show_details)="row">
				<b-button
					size="sm"
					@click="row.toggleDetails"
					class="py-0 px-1 text-center"
				>
					<i class="fas fa-plus p-0"></i>
				</b-button>
			</template>

			<template v-slot:table-busy>
				<div class="my-3 text-center">
					<h5 class="mb-4">
						<b-spinner type="grow"></b-spinner>
						Cargando datos ...
					</h5>
				</div>
			</template>

			<template v-slot:row-details="row">
				<b-card>
					<b-row>
						<b-col sm="2" class="text-sm-right"
							><b>Resultados:</b></b-col
						>
						<b-col
							md="2"
							v-for="(resultado, index) in JSON.parse(
								row.item.resultado
							)"
							:key="index"
						>
							<b-row>
								<b-col md="6" class="text-right"
									><strong
										>{{ resultado.tipo }}:</strong
									></b-col
								>
								<b-col md="6">{{ resultado.valor }}</b-col>
							</b-row>
						</b-col>
					</b-row>
					
					<b-row class="mb-2 mt-3" v-if="row.item.observaciones">
                        <b-col lg="12">
                        <hr class="mt-0" />
                        </b-col>
						<b-col sm="2" class="text-sm-right"
							><b>Costo:</b>
						</b-col>
						<b-col>
							<vue-numeric
								separator=","
								:precision="2"
								currency="$"
								:read-only="true"
								:value="row.item.costo"
							/>
						</b-col>
					</b-row>
                    
					<b-row
						class="mb-2 mt-3"
						v-if="row.item.nombreFile != 'S/A'"
					>
                        <b-col lg="12">
                        <hr class="mt-0" />
                        
                        </b-col>
						<b-col sm="2" class="text-sm-right"
							><b>Adjuntos:</b>
						</b-col>
						<b-col
							><b-link class="text-secondary" @click="downloadFile(row.item.id)"
								><i class="fas fa-file-download mr-1"></i>
                                {{ row.item.nombreFile }}
							</b-link></b-col
						>
					</b-row>
				</b-card>
			</template>

			<template v-slot:cell(costo)="row">
				<vue-numeric
					separator=","
					:precision="2"
					currency="$"
					:read-only="true"
					:value="row.value"
				/>
			</template>

			<template v-slot:cell(fecha)="row">
				{{ this.moment(row.value).format("DD/MM/YYYY") }}
			</template>


			<template v-slot:cell(visible)="row">
				<i class="fas fa-eye text-danger" v-show="row.value == 1"></i>
				<i class="fas fa-eye-slash" v-show="row.value == 0"></i>
			</template>


			<template v-slot:cell(actions)="scope">
				<div class="text-center">
					<b-dropdown
						id="dropdown-left"
						right
						variant="light"
						size="sm"
						no-caret
						class="shadows"
					>
						<template v-slot:button-content>
							<i class="fas fa-ellipsis-v px-2"></i>
						</template>
						<b-dropdown-item
							v-b-modal.modal-actividad
							@click="dataEdit(scope.item)"
						>
							<i class="fas fa-edit px-2"></i>
							Editar
						</b-dropdown-item>
						<b-dropdown-item
							href="#"
							@click="showMsgBoxDeleteConfirm(scope.item)"
						>
							<i class="fas fa-trash px-2"></i>
							Eliminar
						</b-dropdown-item>
						<slot name="dropdown-more-actions"></slot>
					</b-dropdown>
				</div>
			</template>
		</b-table>
	</div>
</template>

<script>
import { mapActions, mapMutations, mapState } from "vuex";
export default {
	props: {
        filter: String,
        clinicaFilter: String,
        tipoExamenFilter: String
	},
	data() {
		return {
			items: null,
			fields: [
                {
					key: "visible",
                    class: "text-center",
                    visible: true
				},
				{
					key: "persona",
					sortable: true,
				},
				{
					key: "tipoExamen",
					sortable: true,
				},
				{
					key: "clinica",
					sortable: true,
				},
				{
					key: "fecha",
					class: "text-center",
					sortable: true,
				},
				{
					key: "cuenta",
					class: "text-center",
					sortable: true,
				},
				{
					key: "observaciones",
				},
				{
					key: "show_details",
                    label: "Detalles",
                    class: "text-center",
					type: "text",
                },
                {
					key: "actions",
					label: "Acciones",
					class: "text-center",
                    type: "text",
                    admin: true,
                },
			],
		};
	},
	mounted() {
		this.getHistoriales();
		// console.log(this.filter);
	},
	methods: {
		...mapActions("historial_clinico", ["getHistoriales"]),
		...mapMutations("historial_clinico", ["deleteHC"]),

		dataEdit(data) {
			this.$emit("setDataEdit", data);
		},
		showMsgBoxDeleteConfirm(data) {
			this.$bvModal
				.msgBoxConfirm("¿Esta seguro que desea eliminar el registro?", {
					title: "Favor de confirmar",
					size: "sm",
					buttonSize: "sm",
					okVariant: "danger",
					cancelVariant: "light",
					okTitle: "Eliminar",
					cancelTitle: "Cancelar",
					headerClass: "pt-3 pb-2 border-bottom-0",
					footerClass: "p-2 border-top-0",
					centered: true,
				})
				.then((confirm) => {
					if (confirm) this.deleteHistorial(data);
				});
		},
		async deleteHistorial(data) {
			try {
				const response = await axios.delete(
					BaseUrl + `/api/se/salud/historial-clinico/${data.id}`
				);
				if (response.data.success) {
					this.deleteHC(data.id);
					this.makeToast(
						"success",
						"Exito",
						"Se ha eliminado correctamente el registro"
					);
				}
			} catch (error) {
				this.makeToast(
					"danger",
					"Error",
					"Ha ocurrido un problema al eliminar el registro"
				);
				console.log(error);
			}
		},
		makeToast(variant = null, title, text) {
			this.$bvToast.toast(text, {
				title: title,
				variant: variant,
				solid: true,
			});
		},
		downloadFile(id) {
			window.location = BaseUrl + `/api/se/salud/historial-clinico/${id}/download`
		}
	},
	computed: {
        ...mapState("historial_clinico", ["historiales", "isBusy", "search"]),
        ...mapState(["usuario"]),
        historialesFilter() {
            if(this.search != "Clasificados"){
                return this.historiales.filter(hc => 
                    hc.visible == 1
                )
            }else return this.historiales
        },
        historialesByExamenes() {
            if(this.tipoExamenFilter)
                return this.historialesFilter.filter(hc => hc.tipoExamen == this.tipoExamenFilter);
            else return this.historialesFilter
        },
        historialesByClinicas() {
              if(this.clinicaFilter)
                return this.historialesByExamenes.filter(hc => hc.clinica == this.clinicaFilter);
            else return this.historialesByExamenes
        },
        filterFields() {
            if(this.search != "Clasificados"){
                return this.fields.filter(field => !field.visible);
            }else return this.fields;
        },
        computedFields(){
            if(this.usuario){
                if(this.usuario.idUsuario != 1 && this.usuario.idUsuario != 23)
                    return this.filterFields.filter(field => !field.admin);
                else return this.filterFields
            }else return this.filterFields.filter(field => !field.admin);
        },
        
    },
};
</script>
