<template>
	<b-list-group-item :variant="bgcolor">
		<b-container>
			<b-row class="mb-4 mt-2">
				<b-col lg="12">
					<h5 class="my-3"><strong>Semana {{ semana.semana }}</strong></h5>
				</b-col>
				<b-col lg="6">
					<b-row class="pl-0 pt-3">
						<b-col lg="2">
							<label for="input-small">Días:</label>
						</b-col>
						<b-col lg="6" class="px-0">
							<v-date-picker
							:columns="$screens({ default: 1, lg: 2 })"
							locale="es"
							size="sm"
							disabled
							v-model="rangeSemana"
							mode="range"
							:disabled-attribute="true"
							color="red"/>
						</b-col>
						<b-col lg="1">
							<i class="fas fa-check-circle text-success pt-2" v-show="updateSemana"></i>
							 <b-spinner small label="Small Spinner" v-if="updatingSemana"></b-spinner>
						</b-col>
					</b-row>
				</b-col>
				<b-col lg="6">
					<b-row class="pl-0 pt-3">
						<b-col lg="3">
							<label for="input-small">Días activos:</label>
						</b-col>
						<b-col lg="6" class="px-0">
							<v-date-picker
							:columns="$screens({ default: 1, lg: 2 })"
							locale="es"
							size="sm"
							v-model="rangeSemanaActiva"
							mode="range"
							color="red"/>
						</b-col>
						<b-col lg="1">
							<i class="fas fa-check-circle text-success pt-2" v-show="updateSemanaActiva"></i>
							 <b-spinner small label="Small Spinner" v-show="updatingSemanaActiva"></b-spinner>
						</b-col>
					</b-row>
				</b-col>

			</b-row>
		</b-container>
	</b-list-group-item>
</template>

<script>
	export default {
		props:{
			semana: Object,
		},
		data(){
			return {
				initSemana: true,
				initSemanaActiva: true,
				rangeSemana: {},
				rangeSemanaActiva: {},
				updateSemana: false,
				updateSemanaActiva: false,
				updatingSemana: false,
				updatingSemanaActiva: false,
			}
		},
		mounted(){
			if(this.semana.inicio && this.semana.fin){
				var inicio = moment(this.semana.inicio)
				var fin = moment(this.semana.fin)
				this.rangeSemana = {
					start: new Date(inicio),
					end: new Date(fin)
				}
			}else{
				this.initSemana = false
			}
			if(this.semana.activa_inicio && this.semana.activa_fin){
				var inicio = moment(this.semana.activa_inicio)
				var fin = moment(this.semana.activa_fin)
				this.rangeSemanaActiva = {
					start: new Date(inicio),
					end: new Date(fin)
				}
			}else{
				this.initSemanaActiva = false
			}
		},
		methods: {
			async submitSemana()
			{
				this.updateSemana = false;
				this.updatingSemana=true;

				const start = this.startSemana
				const end = this.endSemana

				const form = {
					inicio: start,
					fin: end
				}

				const response = await axios.put(BaseUrl + `/api/op/ra/configuracion/semanas/${this.semana.idSemana}`, form)

				if(response.data.success == true)
				{
					this.updatingSemana=false
					this.updateSemana = true
				}

			},
			async submitSemanaActiva()
			{
				this.updateSemanaActiva = false;
				this.updatingSemanaActiva=true;

				const form = {
					inicio: this.startSemanaActiva,
					fin: this.endSemanaActiva 
				}

				const response = await axios.put(BaseUrl + `/api/op/ra/configuracion/semanas/activas/${this.semana.idSemana}`, form)

				if(response.data.success == true)
				{
					this.updatingSemanaActiva=false
					this.updateSemanaActiva = true
				}
			},
		},
		computed: {
			startSemana()
			{
				return moment(this.rangeSemana.start).format("YYYY-MM-DD")
			},
			endSemana()
			{
				return moment(this.rangeSemana.end).format("YYYY-MM-DD")
			},
			startSemanaActiva()
			{
				return moment(this.rangeSemanaActiva.start).format("YYYY-MM-DD")
			},
			endSemanaActiva()
			{
				return moment(this.rangeSemanaActiva.end).format("YYYY-MM-DD")
			},
			bgcolor()
			{
				const now = moment().format('L'); 
				const inicio = moment(this.semana.inicio).format('L'); 
				const fin = moment(this.semana.fin).format('L'); 

				if(now>=inicio && now<=fin)
					return 'success';
			 	return 'white';
			}
		},
		watch:{
			rangeSemana()
			{				
				if(!this.initSemana){
					this.submitSemana()
					this.rangeSemanaActiva = this.rangeSemana
				}else{
					this.initSemana = false
				}
			},
			rangeSemanaActiva()
			{
				if(!this.initSemanaActiva)
					this.submitSemanaActiva()
				else
					this.initSemanaActiva = false
			}
		}
	}
</script>