<template>
	<b-container fluid style="height: calc(100vh - 54px)">
		<b-row class="h-100">
			<b-col lg="2" class="px-0">
				<op-ra-configuracion-sidebar />
			</b-col>
			<b-col lg="10">
				<b-row class="py-4">
					<b-col lg="2">
						<b-form inline class="mt-4">
							<b-input-group size="sm" prepend="Año">
								<b-form-select
									:options="years"
									size="sm"
									v-model="year"
								></b-form-select>
							</b-input-group>
						</b-form>
					</b-col>
					<b-col lg="8">
						<h1 class="text-center">Reporte de Actividades</h1>
						<h2 class="text-center mb-0">
							Configuración de Semanas Activas
						</h2>
					</b-col>
				</b-row>

				<b-card
					class="mb-4"
					style="height: calc(100vh - 195px); overflow: auto"
				>
					<div class="text-center mt-5" v-show="loading">
						<h5 class="text-secondary">
							<b-spinner
								type="grow"
								style="width: 1.5rem; height: 1.5rem"
							></b-spinner
							><label class="ml-1">Cargando semanas ...</label>
						</h5>
					</div>
					<div
						class="text-center mt-5"
						v-show="!semanas.length && !loading"
					>
						<h4 class="text-secondary">
							<label class="ml-1"
								>No se encontraron semanas ...</label
							>
						</h4>
					</div>
					<b-list-group flush v-if="!loading">
						<op-ra-configuracion-semanas-semana
							v-for="(semana, index) in semanas"
							:key="index"
							:semana="semana"
						/>
					</b-list-group>
				</b-card>
			</b-col>
		</b-row>
	</b-container>
</template>

<script>
export default {
	data() {
		return {
			loading: true,
			rangeDate: "",
			years: [
				{ value: 2020, text: "2020" },
				{ value: 2021, text: "2021" },
				{ value: 2022, text: "2022" },
				{ value: 2023, text: "2023" },
				{ value: 2024, text: "2024" },
			],
			year: 2023,
			semanas: [],
		};
	},
	mounted() {
		this.getSemanas();
	},
	methods: {
		getSemanas() {
			axios
				.get(BaseUrl + `/api/op/ra/configuracion/semanas/${this.year}`)
				.then((response) => {
					this.semanas = response.data;
					this.loading = false;
				});
		},
	},
	watch: {
		year() {
			this.loading = true;
			this.getSemanas();
		},
	},
};
</script>

<style>
.card-body-scroll {
	max-height: calc(100vh - 218px);
	overflow-y: auto;
}

input:focus,
input.form-control:focus,
[contenteditable].form-control:focus {
	box-shadow: inset 0 0px 0 #ddd;
}

.vc-py-2 {
	padding-top: 4px;
	padding-bottom: 4px;
}

.vc-text-base {
	font-size: 15px;
}
</style>
