<template>
	<b-container class="px-2 py-2">
		<b-row>
			<b-col class="text-left">
				<h1 class="display-1 m-3 mb-0" style="font-size: 23px;">
					Orden de Compra <b>#{{ orden.idOrdenCompra }}</b>
				</h1>
			</b-col>
			<b-col class="text-right">
				<b-button
					variant="link"
					size="sm"
					class="text-secondary mt-3"
					@click="$emit('hide', false)"
				>
					<b-icon icon="x" font-scale="1.5"></b-icon>
				</b-button>
			</b-col>
		</b-row>

		<b-container>
			<hr class="mt-1 mb-4" style="background-color: #eceeef;" />

			<b-nav>
				<b-nav-item class="button-detalles-oc">
					<h4
						class="text-dark"
						style="cursor: pointer; font-size: 20px"
					>
						Detalles
					</h4>
					<hr
						v-if="activeDS"
						style="border-top: 3px solid rgb(193 55 37)"
						class="my-0"
					/>
					<hr
						v-else
						style="border-top: 1px solid rgb(0 0 0)"
						class="my-0"
					/>
				</b-nav-item>
			</b-nav>

			<b-container v-if="activeDS" class="mt-3">
				<!-- DETALLES ORDEN DE COMPRA -->
				<co-sc-detalles-oc-component
					:orden="orden"
					@autorizacion="autorizacion($event)"
				/>
			</b-container>
		</b-container>

		<modal-component
			:id="'modal-autorizacion-oc'"
			:title="'Autorización de la orden de compra'"
			:hideFooter="true"
			:hideHeader="true"
			:centered="true"
		>
			<template slot="content">
				<co-sc-form-autorizacion-onden-compra-component
					:idOrdenCompra="orden.idOrdenCompra"
					:dataAutorizacion="dataAutorizacion"
				/>
			</template>
		</modal-component>
	</b-container>
</template>

<script>
import { mapState, mapActions, mapMutations } from "vuex";

export default {
	props: {
		orden: Object,
	},
	data() {
		return {
			activeDS: true,
			dataAutorizacion: "",
		};
	},
	mounted() {},
	methods: {
		autorizacion(data) {
			this.dataAutorizacion = data;
			this.$bvModal.show("modal-autorizacion-oc");
		},
		hasPermission(funcion) {
			if (this.permissions.length) {
				const permiso = this.permissions.find(
					(permiso) => permiso.idFuncion == funcion
				);
				if (permiso) return true;
				return false;
			}
		},
	},
	computed: {
		...mapState(["permissions"]),
		...mapState("co_sc_solicitudes", ["solicitudActiva"]),
	},
};
</script>

<style scoped>
.alert-success {
	color: #058d24;
	background-color: #f1fff4;
	border-color: #f1fff4;
}
.alert-danger {
	color: #87020e;
	background-color: #fff0f1;
	border-color: #fff0f1;
}
</style>
