<template>
	<div>
		<b-row>
			<b-col lg="5">
				<div class="pb-4" style="min-height: 70px;">
					<h1 class="display-1 text-dark" style="font-size: 12px;">
						<strong
							><label style="font-size: 14px;"
								>Proveedor</label
							></strong
						><br />
						{{ orden.nombre_proveedor }}<br />
						<small
							><strong>RS: </strong
							>{{ orden.razon_social_proveedor }}</small
						><br />
						<small
							><strong>RFC: </strong
							>{{ orden.rfc_proveedor }}</small
						>
					</h1>
				</div>
			</b-col>

			<b-col lg="3">
				<div class="pb-4" style="min-height: 70px;">
					<h1 class="display-1 text-dark" style="font-size: 12px;">
						<strong
							><label style="font-size: 14px;"
								>Forma de pago</label
							></strong
						><br />
						{{ orden.formaPago }}
					</h1>
				</div>
			</b-col>

			<b-col lg="4">
				<div class="pb-4" style="min-height: 70px;">
					<h1 class="display-1 text-dark" style="font-size: 12px;">
						<strong
							><label style="font-size: 14px;"
								>Método de pago</label
							></strong
						><br />

						<b-form-select
							v-if="
								hasPermission(
									'co.sc.solicitudes.oc.condicion.pago.editar'
								)
							"
							:value="orden.metodoPago"
							:options="selectMetodoPago"
							size="sm"
							@change="edit($event)"
						>
							<template v-slot:first>
								<option :value="null" disabled
									>Seleccione</option
								>
							</template>
						</b-form-select>

						<template v-else>
							<font v-if="orden.metodoPago">
								{{ orden.metodoPago }}
							</font>
							<font v-else>S/C</font>
						</template>
					</h1>
				</div>
			</b-col>
		</b-row>

		<b-row>
			<b-col lg="5">
				<div class="pb-4" style="min-height: 70px;">
					<h1 class="display-1 text-dark" style="font-size: 12px;">
						<strong
							><label style="font-size: 14px;"
								>Autorizador</label
							></strong
						><br />
						{{ autorizador.nombreUsuario }}
					</h1>
				</div>
			</b-col>

			<b-col lg="3">
				<div class="pb-4" style="min-height: 70px;">
					<h1 class="display-1 text-dark" style="font-size: 12px;">
						<strong
							><label style="font-size: 14px;"
								>Fecha de Entrega</label
							></strong
						><br />
						{{ fechaEntrega }}
					</h1>
				</div>
			</b-col>

			<b-col lg="4">
				<div class="pb-4" style="min-height: 70px;">
					<h1 class="display-1 text-dark" style="font-size: 12px;">
						<strong
							><label style="font-size: 14px;"
								>Cuenta</label
							></strong
						><br />
						{{ solicitudSuministroActiva.cuenta }}
					</h1>
				</div>
			</b-col>

			<b-col lg="12">
				<div class="pb-4 text-justify" style="min-height: 70px;">
					<h1 class="display-1 text-dark" style="font-size: 12px;">
						<strong
							><label style="font-size: 14px;"
								>Observaciones</label
							></strong
						><br />
						<font v-if="orden.observaciones">
							{{ orden.observaciones }}
						</font>
						<font v-else>
							Sin observaciones
						</font>
					</h1>
				</div>
			</b-col>
		</b-row>

		<b-button-group
			v-if="
				!orden.fechaAutorizacion &&
					autorizar &&
					solicitudActiva.idEtapa == 3
			"
			size="sm"
			class="mb-3"
		>
			<b-button
				variant="outline-success"
				size="sm"
				class="shadows"
				@click="setAutorizacion('autorizado')"
				squared
			>
				<label class="mb-0">
					<i class="far fa-check-circle"></i> Autorizar
				</label>
			</b-button>

			<b-button
				variant="outline-danger"
				size="sm"
				class="shadows"
				@click="setAutorizacion('rechazado')"
				squared
			>
				<label class="mb-0">
					<i class="fas fa-times-circle"></i> Rechazar
				</label>
			</b-button>
		</b-button-group>

		<b-alert
			v-if="orden.fechaAutorizacion"
			show
			:variant="autorizacion.variant"
			class="shadow mb-3"
		>
			<h5 class="alert-heading" style="font-size: 16px;">
				{{ autorizacion.text }}
			</h5>

			<p
				v-if="comentario"
				class="mb-0 display-1"
				style="font-size: 13px;"
			>
				{{ comentario.comentario }}
			</p>
		</b-alert>

		<small
			v-if="this.hasPermission('co.sc.solicitudes.editar.articulos')"
			class="float-right mb-2"
		>
			<b-link
				v-if="!editDescripcion"
				class="text-danger"
				@click="editing(true)"
				><strong>Editar descripción</strong></b-link
			>
			<b-link v-else class="text-dark" @click="editing(false)"
				><strong>Cancelar</strong></b-link
			>
		</small>

		<b-skeleton-table
			v-if="busyArticulosByOC"
			:rows="5"
			:columns="5"
			:table-props="{ bordered: true, striped: true }"
		></b-skeleton-table>

		<b-table-simple
			v-else
			bordered
			small
			caption-top
			responsive
			style="font-size: 10px"
			class="bg-white table-sidebar-oc shadow border-top"
		>
			<b-thead class="bg-light text-center">
				<b-tr>
					<b-th style="width: 10%;">Cant.</b-th>
					<b-th style="width: 12%;">Unidad</b-th>
					<b-th style="width: 30%;">
						Artículo <br />
						<b-badge v-if="editDescripcion" variant="warning"
							>Editando descripción</b-badge
						>
					</b-th>
					<b-th style="width: 16%;">Precio</b-th>
					<b-th style="width: 16%;">Descuento(%)</b-th>

					<b-th style="width: 16%;">Importe</b-th>
				</b-tr>
			</b-thead>
			<b-tbody>
				<b-tr v-for="(articulo, index) in articulos" :key="index">
					<b-td class="align-middle text-center" id="articulo">
						{{ articulo.cantidadOC }}
					</b-td>
					<b-td class="align-middle text-center">
						{{ articulo.unidad }}
					</b-td>
					<b-td
						class="align-middle text-center"
						:class="editDescripcion ? 'edit-descripcion' : ''"
					>
						<template v-if="!editDescripcion">
							{{ articulo.descripcion }}
						</template>
						<template v-else>
							<b-form-textarea
								size="sm"
								type="text"
								rows="3"
								max-rows="3"
								@blur="
									editingDescripcion(
										$event.target.value,
										articulo
									)
								"
								:value="articulo.descripcion"
								style="font-size: 9px;border: 0px; color: black;"
								autofocus="autofocus"
							>
							</b-form-textarea>
						</template>
					</b-td>
					<td class="align-middle">
						<div class="d-flex w-100 justify-content-between">
							<label class="mb-0 ml-1">$</label>
							<vue-numeric
								separator=","
								:precision="2"
								:read-only="true"
								:value="articulo.costoUnitario"
							/>
						</div>
					</td>
					<td class="align-middle">
						<div class="d-flex w-100 justify-content-between">
							<vue-numeric
								separator=","
								:precision="2"
								:read-only="true"
								:value="articulo.descuento"
							/>
							<label class="mb-0 ml-1">%</label>
						</div>
					</td>
					<td class="align-middle">
						<div class="d-flex w-100 justify-content-between">
							<label class="mb-0 ml-1">$</label>
							<vue-numeric
								separator=","
								:precision="2"
								:read-only="true"
								:value="
									setImporte(
										articulo.costoUnitario,
										articulo.cantidadOC,
										articulo.descuento
									)
								"
							/>
						</div>
					</td>
				</b-tr>
				<b-tr v-if="!articulos.length" class="text-center">
					<b-td colspan="5">
						<h5 class="p-3 mb-0" style="font-size: 12px;">
							No se han agregado articulos
						</h5>
					</b-td>
				</b-tr>
			</b-tbody>
		</b-table-simple>

		<b-row class="mt-4" style="font-size: 12px;">
			<b-col lg="8">
				<div class="lab-form float-right">
					<h1
						class="display-1 text-dark mb-0"
						style="font-size: 14px;"
					>
						<strong
							><label
								>SubTotal (<strong>{{
									orden.tipoMoneda
								}}</strong
								>):</label
							></strong
						>
					</h1>
				</div>
			</b-col>
			<b-col lg="4" class="text-right">
				<b-form-group class="mr-2">
					<vue-numeric
						separator=","
						:precision="2"
						currency="$"
						:read-only="true"
						:value="subTotal"
					/>
				</b-form-group>
			</b-col>
		</b-row>

		<b-row class="mt-0" style="font-size: 12px;">
			<b-col lg="8" class="mt-1">
				<div class="lab-form float-right">
					<h1
						class="display-1 text-dark mb-0"
						style="font-size: 14px;"
					>
						<strong><label>Descuento:</label></strong>
					</h1>
				</div>
			</b-col>
			<b-col lg="4" class="text-right">
				<b-form-group class="mr-2">
					<vue-numeric
						separator=","
						:precision="2"
						currency="$"
						:read-only="true"
						:value="importeDescuento"
					/>
				</b-form-group>
			</b-col>
		</b-row>

		<b-row class="mt-0" style="font-size: 12px;">
			<b-col lg="8" class="mt-1">
				<div class="lab-form float-right">
					<h1
						class="display-1 text-dark mb-0"
						style="font-size: 14px;"
					>
						<strong><label>IVA:</label></strong>
					</h1>
				</div>
			</b-col>
			<b-col lg="4" class="text-right">
				<b-form-group class="mr-2">
					<vue-numeric
						separator=","
						:precision="2"
						currency="$"
						:read-only="true"
						:value="orden.iva"
					/>
				</b-form-group>
			</b-col>
		</b-row>

		<b-row class="mt-0" style="font-size: 12px;">
			<b-col lg="8" class="mt-1">
				<div class="lab-form float-right">
					<h1
						class="display-1 text-dark mb-0"
						style="font-size: 14px;"
					>
						<strong><label>Retención IVA:</label></strong>
					</h1>
				</div>
			</b-col>
			<b-col lg="4" class="text-right">
				<b-form-group class="mr-2">
					<vue-numeric
						separator=","
						:precision="2"
						currency="$"
						:read-only="true"
						:value="orden.retencionIVA"
					/>
				</b-form-group>
			</b-col>
		</b-row>

		<b-row class="mt-0" style="font-size: 12px;">
			<b-col lg="8" class="mt-1">
				<div class="lab-form float-right">
					<h1
						class="display-1 text-dark mb-0"
						style="font-size: 14px;"
					>
						<strong><label>Retención ISR:</label></strong>
					</h1>
				</div>
			</b-col>
			<b-col lg="4" class="text-right">
				<b-form-group class="mr-2">
					<vue-numeric
						separator=","
						:precision="2"
						currency="$"
						:read-only="true"
						:value="orden.retencionISR"
					/>
				</b-form-group>
			</b-col>
		</b-row>

		<b-row class="mt-0" style="font-size: 12px;">
			<b-col lg="8" class="mt-1">
				<div class="lab-form float-right">
					<h1 class="display-1 text-dark" style="font-size: 14px;">
						<strong><label>Otros impuestos:</label></strong>
					</h1>
				</div>
			</b-col>
			<b-col lg="4" class="text-right">
				<b-form-group class="mr-2">
					<vue-numeric
						separator=","
						:precision="2"
						currency="$"
						:read-only="true"
						:value="orden.otrosImpuestos"
					/>
				</b-form-group>
			</b-col>
		</b-row>

		<b-row class="mt-0" style="font-size: 12px;">
			<b-col lg="8" class="mt-1">
				<div class="lab-form float-right">
					<h1 class="display-1 text-dark" style="font-size: 14px;">
						<strong
							><label
								>Total (<strong>{{ orden.tipoMoneda }}</strong
								>):</label
							></strong
						>
					</h1>
				</div>
			</b-col>
			<b-col lg="4" class="text-right">
				<b-form-group class="mr-2">
					<vue-numeric
						separator=","
						:precision="2"
						currency="$"
						:read-only="true"
						:value="total"
					/>
				</b-form-group>
			</b-col>
		</b-row>
	</div>
</template>

<script>
import { mapState, mapActions, mapMutations } from "vuex";

export default {
	props: {
		orden: Object,
	},
	data() {
		return {
			editDescripcion: false,
			comentario: null,
			selectMetodoPago: ["Crédito", "Contado", "PPD", "PUE"],
			importeDescuento: 0,
		};
	},
	mounted() {
		this.getComentario();
	},
	methods: {
		...mapMutations("co_sc_orden_compra", ["updateOrdenCompra"]),
		...mapMutations("co_sc_solicitudes", ["updateArticuloByOC"]),

		getComentario() {
			axios
				.get(
					BaseUrl +
						`/api/co/sc/ordencompra/${this.orden.idOrdenCompra}/comentario`
				)
				.then((response) => {
					this.comentario = response.data;
				});
		},
		setAutorizacion(status) {
			const data = {
				status: status,
				total: this.total,
				subTotal: this.subTotal,
			};
			this.$emit("autorizacion", data);
		},
		hasPermission(funcion) {
			if (this.permissions.length) {
				const permiso = this.permissions.find(
					(permiso) => permiso.idFuncion == funcion
				);
				if (permiso) return true;
				return false;
			}
		},
		edit(newCondicion) {
			axios
				.put(
					BaseUrl +
						`/api/co/sc/ordencompra/${this.orden.idOrdenCompra}/metodoPago`,
					{ metodoPago: newCondicion }
				)
				.then((response) => {
					if (response.data.success) {
						this.updateOrdenCompra(response.data.ordenCompra);
					}
				});
		},
		setImporte(costoUnitario, cantidad, descuento) {
			const importe = costoUnitario * cantidad;
			const importeDescuento = (descuento / 100) * importe;
			return importe - importeDescuento;
		},
		//EDITANDO DESCRIPCIÓN DEL ARTICULO
		editing(val) {
			this.editDescripcion = val;
		},
		editingDescripcion(descripcion, articulo) {
			axios
				.put(
					BaseUrl +
						`/api/co/sc/articulo/${articulo.idArticulo}/descripcion`,
					{ descripcion: descripcion }
				)
				.then((response) => {
					if (response.data.success) {
						console.log(
							response.data.success,
							response.data.articulo
						);
						this.updateArticuloByOC(response.data.articulo);
					}
				});
		},
	},
	computed: {
		...mapState("usuarios", ["usuarios"]),
		...mapState(["permissions", "usuario"]),
		...mapState("alm_ss_solicitudes", ["solicitudSuministroActiva"]),
		...mapState("alm_inventario_activos", ["listActivos"]),
		...mapState("co_conf_autorizaciones", ["listAutorizaciones"]),
		...mapState("co_sc_solicitudes", [
			"solicitudActiva",
			"listArticulosByOC",
			"busyArticulosByOC",
		]),

		subTotal() {
			this.importeDescuento = 0;
			if (this.articulos.length) {
				return this.articulos.reduce((suma, item) => {
					const importe =
						parseFloat(item.costoUnitario) * item.cantidadOC;
					const importeDescuento =
						(parseFloat(item.descuento) / 100) * importe;
					this.importeDescuento += importeDescuento;
					return suma + (importe - importeDescuento);
				}, 0);
			} else return 0;
		},
		total() {
			return (
				parseFloat(this.subTotal) +
				parseFloat(this.orden.iva) +
				parseFloat(this.orden.retencionIVA) +
				parseFloat(this.orden.retencionISR) +
				parseFloat(this.orden.otrosImpuestos)
			);
		},
		fechaEntrega() {
			moment.locale("es");
			return moment(this.orden.fechaEntrega).format("LL");
		},
		autorizador() {
			return this.usuarios.find(
				(usuario) => usuario.idUsuario == this.orden.idAutorizador
			);
		},
		autorizacion() {
			if (this.orden.fechaAutorizacion) {
				if (this.orden.autorizacion) {
					return { text: "Autorizado", variant: "success" };
				} else return { text: "Rechazado", variant: "danger" };
			}
		},
		autorizar() {
			if (
				this.usuario.idUsuario == this.orden.idAutorizador &&
				this.hasPermission("co.sc.solicitudes.orden.autorizacion")
			) {
				return true;
			} else return false;
		},
		articulos() {
			return this.listArticulosByOC;
		},
	},
	watch: {
		orden: {
			handler(val, oldVal) {
				this.getComentario();
			},
			deep: true,
		},
	},
};
</script>

<style scoped>
.table-sidebar-oc th {
	padding: 0.72rem;
	vertical-align: top;
	border-top: 1px solid #dee2e6;
}
.table-sidebar-oc td {
	padding: 0.72rem;
	vertical-align: top;
	border-top: 1px solid #dee2e6;
}
.edit-descripcion {
	border: 0.2rem solid #acb0b5;
}
</style>
