<template>
	<b-row class="mt-3">
		<b-col class="pr-1">
			<b-card style="min-height: 260px" class="shadow-sm">
				<div class="d-flex w-100 justify-content-between">
					<h3 class="mb-0">Solicitud de suministros</h3>
				</div>
				<hr />
				<template v-if="!busySolicitudActiva">
					<b-row style="font-size: 13px;">
						<b-col lg="5" class="text-right pr-0 mb-1">
							<strong>Empleado:</strong>
						</b-col>
						<b-col lg="7">
							{{
								solicitudSuministroActiva.usuario.nombreUsuario
							}}
						</b-col>

						<b-col lg="5" class="text-right pr-0 mb-1">
							<strong>Unidad de negocio:</strong>
						</b-col>

						<b-col lg="7">
							{{ solicitudSuministroActiva.unidadNegocio }}
						</b-col>

						<b-col lg="5" class="text-right pr-0 mb-1">
							<strong>Cuenta:</strong>
						</b-col>

						<b-col lg="7">
							{{ solicitudSuministroActiva.cuenta }}
						</b-col>

						<b-col lg="5" class="text-right pr-0 mb-1">
							<strong>Tipo pedido:</strong>
						</b-col>

						<b-col lg="7">
							<font>
								{{ solicitudSuministroActiva.tipoPedido }}
							</font>
						</b-col>

						<b-col lg="5" class="text-right pr-0 mb-1">
							<strong>Número de solicitud:</strong>
						</b-col>

						<b-col lg="7">
							<font>
								# {{ solicitudSuministroActiva.idSolicitud }}
							</font>
						</b-col>
					</b-row>
					<b-card-text
						style="position: absolute; bottom: 12px; width: 92%;"
					>
						<hr />
						<b-row>
							<b-col class="text-center">
								<b-link href="#" class="text-danger">
									<h5
										class="mt-1"
										style="font-size: 14px;"
										@click="openSidebar"
									>
										<strong>MÁS DETALLES</strong>
									</h5>
								</b-link>
							</b-col>
						</b-row>
					</b-card-text>
				</template>

				<div v-else class="my-4">
					<b-skeleton animation="throb" width="85%"></b-skeleton>
					<b-skeleton animation="throb" width="55%"></b-skeleton>
					<b-skeleton animation="throb" width="70%"></b-skeleton>
					<b-skeleton animation="throb" width="85%"></b-skeleton>
				</div>
			</b-card>
		</b-col>
		<b-col class="pl-1">
			<b-card style="min-height: 260px" class="shadow-sm">
				<div class="d-flex w-100 justify-content-between">
					<h3 class="mb-0">Detalles de compra</h3>
				</div>
				<hr />
				<b-row style="font-size: 13px;">
					<b-col lg="5" class="text-right pr-0 mb-1">
						<strong>Etapa:</strong>
					</b-col>
					<b-col lg="7">
						<font>
							{{ solicitudActiva.nombre_etapa }}
						</font>
					</b-col>
					<b-col lg="5" class="text-right pr-0 mb-1">
						<strong>Fecha de solicitud:</strong>
					</b-col>
					<b-col lg="7">
						{{ fechaSolicitud }}
					</b-col>
					<b-col lg="5" class="text-right pr-0 mb-1">
						<strong>Observaciones:</strong>
					</b-col>
					<b-col lg="7">
						<font>
							S/O
						</font>
					</b-col>
				</b-row>

				<template v-if="permissionTerminar">
					<b-card-text
						style="position: absolute; bottom: 12px; width: 92%;"
					>
						<hr />
						<b-row>
							<b-col class="text-center">
								<b-button
									v-if="!ending"
									class="shadows mb-0 px-4"
									variant="outline-danger"
									size="sm"
									@click="cambioEtapa(4)"
									squared
								>
									<strong>TERMINAR</strong>
								</b-button>
								<b-button
									v-else
									variant="outline-danger"
									class="shadows mb-0 px-4"
									size="sm"
									squared
								>
									<b-spinner small class="mr-1"></b-spinner>
									TERMINANDO...
								</b-button>
							</b-col>
						</b-row>
					</b-card-text>
				</template>
			</b-card>
		</b-col>
	</b-row>
</template>

<script>
import { mapState, mapActions, mapMutations } from "vuex";
export default {
	data() {
		return {
			ending: false,
			permissionTerminar: false,
		};
	},
	mounted() {},
	methods: {
		...mapMutations("co_sc_solicitudes", ["updateSolicitudActiva"]),

		hasPermission(funcion) {
			if (this.permissions.length) {
				const permiso = this.permissions.find(
					(permiso) => permiso.idFuncion == funcion
				);
				if (permiso) return true;
				return false;
			}
		},
		openSidebar() {
			this.$emit("openSidebar", true);
		},
		async cambioEtapa(etapa) {
			try {
				this.ending = true;
				const response = await axios.put(
					BaseUrl +
						`/api/co/sc/solicitud/${this.solicitudActiva.idSolicitudCompra}/etapas/${etapa}`
				);
				if (response.data.success) {
					this.ending = false;
					this.updateSolicitudActiva(response.data.solicitudCompra);
				}
			} catch (e) {
				console.log(e);
			}
		},
		setPermissions() {
			if (this.hasPermission("co.sc.solicitudes.terminar")) {
				if (this.solicitudActiva.idEtapa != 4) {
					const ordenes = this.listOrdenesCompra.filter(
						(orden) => !orden.fechaAutorizacion
					);
					if (ordenes.length > 0) {
						return false;
					} else return true;
				} else return false;
			} else {
				return false;
			}
		},
	},
	computed: {
		...mapState(["permissions", "usuario"]),
		...mapState("co_sc_solicitudes", ["solicitudActiva"]),
		...mapState("co_sc_orden_compra", ["listOrdenesCompra"]),
		...mapState("alm_ss_solicitudes", [
			"solicitudSuministroActiva",
			"busySolicitudActiva",
		]),
		fechaSolicitud() {
			moment.locale("es");
			return moment(this.solicitudActiva.created_at).format("LL, h:mm a");
		},
	},
	watch: {
		listOrdenesCompra: {
			handler(val, oldVal) {
				this.permissionTerminar = false;
				if (this.listOrdenesCompra.length) {
					this.permissionTerminar = this.setPermissions();
				}
			},
			deep: true,
		},
	},
};
</script>
