<template>
	<b-overlay
		:show="overlay"
		rounded="sm"
		opacity="1.0"
		blur="1px"
		variant="transparent"
	>
		<template v-if="ordenCompraActiva">
			<div class="container" v-if="terminado">
				<b-alert variant="success" :class="marginSuccess" show>
					<h5 class="text-center mb-0">
						Has {{ status }} correctamente la orden de compra #{{
							ordenCompraActiva.idOrdenCompra
						}}
					</h5>
				</b-alert>
			</div>
			<div class="container" v-if="!terminado">
				<template v-if="desdeCorreo">
					<h3 class="text-center mt-5">
						Autorización de la orden de compra #
						{{ form.idOrdenCompra }}
					</h3>
					<hr />
				</template>
				<p
					class="text-center text-justify"
					v-if="form.status == 'autorizado'"
				>
					Estas
					<strong class="text-success">autorizando</strong> esta orden
					de compra<template v-if="form.notificar"
						>, al terminar se enviará un correo al departamento de
						compras para darle seguimiento a la orden de
						compra</template
					>.
				</p>
				<div v-show="form.status == 'rechazado'">
					<p class="text-center text-justify">
						Estas
						<strong class="text-danger">rechazando</strong> esta
						orden de compra, al terminar se enviará un correo al
						departamento de compras para notificarle sobre este
						rechazo.
					</p>
					<b-form-textarea
						id="textarea"
						v-model="form.comentarios"
						placeholder="Ingresa tus comentarios..."
						rows="5"
						max-rows="6"
					></b-form-textarea>
				</div>
				<template v-if="form.notificar && form.status == 'autorizado'">
					<p class="text-center text-justify">
						Si deseas agregar comentarios al correo que será
						enviado, puedes hacerlo ahora y después dar clic en
						guardar, de lo contrario solo da clic en guardar.
					</p>
					<b-form-textarea
						id="textarea"
						v-model="form.comentarios"
						placeholder="Ingresa tus comentarios..."
						rows="5"
						max-rows="6"
					></b-form-textarea>
				</template>
				<template v-if="desdeCorreo">
					<center>
						<b-button class="mt-4" size="lg" @click="submit"
							>TERMINAR</b-button
						>
					</center>
				</template>
				<template v-else>
					<b-row class="mt-4 mb-2">
						<b-col lg="8"> </b-col>
						<b-col lg="4">
							<div class="mb-2 text-right">
								<b-button
									variant="danger"
									size="sm"
									@click="submit"
									>GUARDAR</b-button
								>
							</div>
						</b-col>
					</b-row>
				</template>
			</div>
		</template>
	</b-overlay>
</template>

<script>
import { mapActions, mapState, mapMutations } from "vuex";
export default {
	props: {
		idOrdenCompra: Number,
		dataAutorizacion: Object,
	},
	data() {
		return {
			overlay: false,
			desdeCorreo: false,
			form: {
				idOrdenCompra: null,
				status: "",
				comentarios: null,
				idEtapa: 3,
				tabla: "co_sc_orden_compra",
				notificar: true,
			},
		};
	},
	mounted() {
		if (this.$route.params.idOrdenCompra) {
			this.desdeCorreo = true;
			this.form.idOrdenCompra = this.$route.params.idOrdenCompra;
			this.form.status = this.$route.params.status;
		} else {
			this.form.idOrdenCompra = this.idOrdenCompra;
			this.form.status = this.dataAutorizacion.status;
		}
		this.getOrdenCompra(this.form.idOrdenCompra);
	},
	methods: {
		...mapActions("co_sc_orden_compra", ["getOrdenCompra"]),
		...mapMutations("co_sc_orden_compra", [
			"updateOrdenCompra",
			"setOrdenCompra",
		]),

		async submit() {
			this.overlay = true;
			if (this.form.comentarios) {
				const response = await axios.post(
					BaseUrl + `/api/co/sc/comentarios`,
					this.form
				);
				if (response.data.success) this.submitAutorizacion();
			} else this.submitAutorizacion();
		},
		async submitAutorizacion() {
			this.form.total = this.dataAutorizacion.total;
			this.form.subTotal = this.dataAutorizacion.total;
			this.form.cuenta = this.solicitudSuministroActiva.cuenta;

			const response = await axios.put(
				BaseUrl +
					`/api/co/sc/ordencompra/${this.form.idOrdenCompra}/autorizacion`,
				this.form
			);
			if (response.data.success) {
				this.updateOrdenCompra(response.data.ordenCompra);
				this.setOrdenCompra(response.data.ordenCompra);
				this.overlay = false;
			}
		},
		close() {
			this.$bvModal.hide("modal-autorizacion-oc");
		},
	},
	computed: {
		...mapState(["usuario"]),
		...mapState("co_sc_orden_compra", ["ordenCompraActiva"]),
		...mapState("alm_ss_solicitudes", ["solicitudSuministroActiva"]),

		terminado() {
			if (this.ordenCompraActiva) {
				if (this.ordenCompraActiva.fechaAutorizacion) return true;
			} else return false;
		},
		status() {
			if (this.ordenCompraActiva) {
				if (this.ordenCompraActiva.fechaAutorizacion) {
					if (this.ordenCompraActiva.autorizacion) {
						return "autorizado";
					} else return "rechazado";
				}
			}
			return "";
		},
		marginSuccess() {
			if (this.desdeCorreo) return "mt-5";
			else return "mt-0";
		},
	},
};
</script>
