<template>
	<b-overlay
		:show="overlay"
		rounded="sm"
		opacity="1.0"
		blur="1px"
		variant="transparent"
	>
		<hr class="mt-0" />
		<b-row>
			<b-col>
				<b-row>
					<b-col lg="6">
						<h6 class="mb-0">Fecha de elaboración</h6>
					</b-col>
					<b-col lg="6" class="text-right">
						<h6 class="mb-0">{{ fechaElaboracion }}</h6>
					</b-col>
				</b-row>
				<hr />

				<b-alert variant="danger" class="p-2" show v-if="errorSubmit">
					<h6 class="text-center mt-2">
						<i class="fas fa-exclamation-triangle mr-2"></i>
						Ha ocurrido un problema al crear la orden de compra
					</h6>
				</b-alert>

				<b-row>
					<b-col>
						<b-form-group>
							<template v-slot:label>
								<div class="lab-form">
									Proveedor<span class="req">*</span>
								</div>
							</template>
							<b-form-select
								v-model="$v.form.proveedor.$model"
								:options="selectProveedores"
								@change="setProveedor($event)"
								:state="
									$v.form.proveedor.$dirty
										? !$v.form.proveedor.$error
										: null
								"
							>
								<template v-slot:first>
									<option :value="null" disabled
										>Seleccione</option
									>
								</template>
							</b-form-select>
							<b-form-invalid-feedback
								id="feedback-fecha-elaboracion"
							>
								Campo obligatorio
							</b-form-invalid-feedback>
						</b-form-group>
					</b-col>
					<b-col>
						<b-form-group>
							<template v-slot:label>
								<div class="lab-form">
									Tipo de pedido<span class="req">*</span>
								</div>
							</template>
							<b-form-select
								v-model="$v.form.tipoPedido.$model"
								:options="selectTiposPedido"
								:state="
									$v.form.tipoPedido.$dirty
										? !$v.form.tipoPedido.$error
										: null
								"
							>
								<template v-slot:first>
									<option :value="null" disabled
										>Seleccione</option
									>
								</template>
							</b-form-select>
							<b-form-invalid-feedback id="feedback-tipo-pedido">
								Campo obligatorio
							</b-form-invalid-feedback>
						</b-form-group>
					</b-col>
				</b-row>
				<b-row>
					<b-col>
						<b-form-group>
							<template v-slot:label>
								<div class="lab-form">
									Fecha de Entrega Requerida<span class="req"
										>*</span
									>
								</div>
							</template>
							<b-form-input
								id="fechaRegreso"
								type="date"
								class=""
								v-model="$v.form.fechaEntrega.$model"
								:state="
									$v.form.fechaEntrega.$dirty
										? !$v.form.fechaEntrega.$error
										: null
								"
							>
							</b-form-input>
							<b-form-invalid-feedback
								id="feedback-fecha-entrega"
							>
								Campo obligatorio
							</b-form-invalid-feedback>
						</b-form-group>
					</b-col>

					<b-col>
						<b-form-group>
							<template v-slot:label>
								<div class="lab-form">
									Forma de pago<span class="req">*</span>
								</div>
							</template>
							<b-form-select
								v-model="$v.form.formaPago.$model"
								:options="selectTiposPago"
								:state="
									$v.form.formaPago.$dirty
										? !$v.form.formaPago.$error
										: null
								"
							>
								<template v-slot:first>
									<option :value="null" disabled
										>Seleccione</option
									>
								</template>
							</b-form-select>
							<b-form-invalid-feedback id="feedback-tipo-pago">
								Campo obligatorio
							</b-form-invalid-feedback>
						</b-form-group>
					</b-col>

					<b-col>
						<b-form-group>
							<template v-slot:label>
								<div class="lab-form">
									Tipo de moneda<span class="req">*</span>
								</div>
							</template>
							<b-form-select
								v-model="$v.form.tipoMoneda.$model"
								:options="selectTiposMoneda"
								:state="
									$v.form.tipoMoneda.$dirty
										? !$v.form.tipoMoneda.$error
										: null
								"
							>
								<template v-slot:first>
									<option :value="null" disabled
										>Seleccione</option
									>
								</template>
							</b-form-select>
							<b-form-invalid-feedback id="feedback-tipo-pago">
								Campo obligatorio
							</b-form-invalid-feedback>
						</b-form-group>
					</b-col>
				</b-row>

				<b-row>
					<b-col>
						<b-form-group>
							<template v-slot:label>
								<div class="lab-form">
									Método de pago<span class="req">*</span>
								</div>
							</template>
							<b-form-select
								v-model="$v.form.metodoPago.$model"
								:options="selectMetodoPago"
								:state="
									$v.form.metodoPago.$dirty
										? !$v.form.metodoPago.$error
										: null
								"
								:disabled="disabledMetodoPago"
							>
								<template v-slot:first>
									<option :value="null" disabled
										>Seleccione</option
									>
								</template>
							</b-form-select>
							<b-form-invalid-feedback id="feedback-tipo-pago">
								Campo obligatorio
							</b-form-invalid-feedback>
						</b-form-group>
					</b-col>

					<b-col>
						<b-form-group>
							<template v-slot:label>
								<div class="lab-form">
									Centro de costo<span class="req">*</span>
								</div>
							</template>
							<b-form-input
								id="centroCosto"
								placeholder="Centro de costo"
								type="text"
								v-model="$v.form.centroCosto.$model"
								:state="
									$v.form.centroCosto.$dirty
										? !$v.form.centroCosto.$error
										: null
								"
							>
							</b-form-input>
							<b-form-invalid-feedback id="feedback-centro-costo">
								Campo obligatorio
							</b-form-invalid-feedback>
						</b-form-group>
					</b-col>
					<b-col>
						<b-form-group>
							<template v-slot:label>
								<div class="lab-form">
									Ref. cotización
								</div>
							</template>
							<b-form-input
								id="referenciaCotizacion"
								placeholder="Referencia cotización"
								type="text"
								v-model="$v.form.referenciaCotizacion.$model"
								:state="
									$v.form.referenciaCotizacion.$dirty
										? !$v.form.referenciaCotizacion.$error
										: null
								"
							>
							</b-form-input>
							<b-form-invalid-feedback
								id="feedback-referencia-cotizacion"
							>
								Campo obligatorio
							</b-form-invalid-feedback>
						</b-form-group>
					</b-col>
				</b-row>
				<b-row>
					<b-col>
						<b-form-group>
							<template v-slot:label>
								<div class="lab-form">
									Condiciones de recepción de mercancía<span
										class="req"
										>*</span
									>
								</div>
							</template>
							<b-form-textarea
								id="condicionesRecepcionM"
								placeholder="Ingresa aquí las condiciones de recepción"
								type="text"
								rows="2"
								max-rows="2"
								v-model="$v.form.condicionesRM.$model"
								:state="
									$v.form.condicionesRM.$dirty
										? !$v.form.condicionesRM.$error
										: null
								"
							>
							</b-form-textarea>
							<b-form-invalid-feedback
								id="feedback-condiciones-recepcion-m"
							>
								Campo obligatorio
							</b-form-invalid-feedback>
						</b-form-group>
					</b-col>
					<b-col>
						<b-form-group>
							<template v-slot:label>
								<div class="lab-form">
									Uso del CFDI<span class="req">*</span>
								</div>
							</template>
							<b-form-select
								v-model="$v.form.cfdi.$model"
								:options="selectCFDI"
								:state="
									$v.form.cfdi.$dirty
										? !$v.form.cfdi.$error
										: null
								"
							>
								<template v-slot:first>
									<option :value="null" disabled
										>Seleccione</option
									>
								</template>
							</b-form-select>
							<b-form-invalid-feedback id="feedback-uso-cfdi">
								Campo obligatorio
							</b-form-invalid-feedback>
						</b-form-group>
					</b-col>
				</b-row>
			</b-col>
		</b-row>

		<fieldset class="scheduler-border">
			<legend class="scheduler-border">
				Artículos
			</legend>

			<b-row v-if="articulos.length">
				<b-col lg="2">
					<b-form-group>
						<template v-slot:label>
							<div class="lab-form">
								Cantidad
							</div>
						</template>

						<b-form-input
							size="sm"
							:value="selectedArticulo.cantidadOC"
							type="text"
							disabled
							class="text-center"
						></b-form-input>
					</b-form-group>
				</b-col>

				<b-col v-if="!edit" lg="6" class="align-middle">
					<b-form-group class="mb-0">
						<template v-slot:label>
							<div class="lab-form">
								Seleccione el articulo<span class="req">*</span>
							</div>
						</template>
						<b-form-select
							size="sm"
							v-model="articulo"
							:options="articulos"
							@change="setArticulo($event)"
						>
							<template v-slot:first>
								<option :value="null" disabled
									>Seleccione</option
								>
							</template>
						</b-form-select>
					</b-form-group>
					<template v-if="articulo">
						<small
							><b-link
								v-if="!edit"
								class="text-danger"
								@click="editing(true)"
								>Cambiar descripción</b-link
							></small
						>
					</template>
				</b-col>

				<b-col v-if="edit" lg="6" class="align-middle">
					<b-form-group class="mb-0">
						<template v-slot:label>
							<div class="lab-form">
								Articulo<span class="req">*</span>
							</div>
						</template>
						<b-form-input
							id="descripcion"
							size="sm"
							type="text"
							@input="editingDescripcion($event)"
							v-model="descripcion"
							autofocus="autofocus"
						>
						</b-form-input>
					</b-form-group>
					<template v-if="articulo">
						<small
							><b-link
								v-if="edit"
								class="text-danger"
								@click="editing(false)"
								>Seleccionar articulo</b-link
							></small
						>
					</template>
				</b-col>

				<b-col lg="4" class="align-middle">
					<b-form-group>
						<template v-slot:label>
							<div class="lab-form">
								Precio unitario<span class="req">*</span>
							</div>
						</template>

						<vue-numeric
							class="text-right form-control form-control-sm"
							separator=","
							:precision="2"
							currency="$"
							:read-only="false"
							v-model="costoUnitario"
						/>
					</b-form-group>
				</b-col>

				<b-col lg="4" class="align-middle">
					<b-form-group>
						<template v-slot:label>
							<div class="lab-form">
								Código de material
							</div>
						</template>
						<b-form-input
							id="codigoMaterial"
							size="sm"
							placeholder="Código de material"
							type="text"
							v-model="codigoMaterial"
						>
						</b-form-input>
					</b-form-group>
				</b-col>
				<b-col lg="3" class="pr-2">
					<b-form-group>
						<template v-slot:label>
							<div class="lab-form">
								Descuento<span class="req">*</span>
							</div>
						</template>
						<vue-numeric
							class="text-right form-control form-control-sm"
							separator=","
							:precision="2"
							:min="0"
							:max="100"
							currency=""
							:read-only="false"
							v-model="descuento"
						/>
					</b-form-group>
				</b-col>
				<b-col
					lg="1"
					class="pl-0"
					style="display: flex;align-items: flex-end; padding-bottom: 9px;"
				>
					<label style="font-size: 15px;"><strong>%</strong></label>
				</b-col>
				<b-col
					lg="4"
					style="align-items: flex-end; display: flex; padding-bottom: 15px;"
				>
					<b-button
						size="sm"
						@click="agregarArticulo"
						block
						float-right
						>Agregar</b-button
					>
				</b-col>
			</b-row>

			<b-table-simple
				bordered
				small
				caption-top
				responsive
				style="font-size: 10px"
				class="mt-3"
			>
				<b-thead class="bg-light text-center">
					<b-tr>
						<b-th style="width: 8%;">Cant.</b-th>
						<b-th style="width: 10%;">Unidad</b-th>
						<b-th style="width: 12%;">Código</b-th>
						<b-th style="width: 30%;">Articulo</b-th>
						<b-th style="width: 15%;">Precio</b-th>
						<b-th style="width: 10%;">Descuento</b-th>
						<b-th style="width: 15%;">Importe</b-th>
					</b-tr>
				</b-thead>
				<b-tbody>
					<b-tr
						v-for="(articulo, index) in form.articulos"
						:key="index"
					>
						<b-td class="align-middle text-center" id="articulo">
							<template>
								<font id="articulo-text">
									{{ articulo.cantidadOC }}
								</font>

								<b-link
									id="articulo-link"
									class="text-danger"
									@click="showMsgBoxDeleteConfirm(index)"
								>
									<i class="fas fa-trash"></i>
								</b-link>
							</template>
						</b-td>
						<b-td class="align-middle text-center">
							{{ articulo.unidad }}
						</b-td>
						<b-td class="align-middle text-center">
							{{ articulo.codigo }}
						</b-td>
						<b-td class="align-middle text-center">
							{{ articulo.descripcion }}
						</b-td>
						<td class="align-middle">
							<div class="d-flex w-100 justify-content-between">
								<label class="mb-0 mx-1"
									><strong>$</strong></label
								>
								<vue-numeric
									separator=","
									:precision="2"
									:read-only="dataEdit ? false : true"
									@change.native="
										editCostoUnitario(
											index,
											$event.target.value
										)
									"
									:value="articulo.costoUnitario"
								/>
							</div>
						</td>

						<td class="align-middle text-center">
							<div class="d-flex w-100 justify-content-between">
								<vue-numeric
									separator=","
									:precision="2"
									:read-only="dataEdit ? false : true"
									@change.native="
										editDescuento(
											index,
											$event.target.value
										)
									"
									:value="articulo.descuento"
								/>
								<label class="mb-0 ml-1"><strong>%</strong></label>
							</div>
						</td>

						<td class="align-middle">
							<div class="d-flex w-100 justify-content-between">
								<label class="mb-0 ml-1"
									><strong>$</strong></label
								>
								<vue-numeric
									separator=","
									:precision="2"
									:read-only="true"
									:value="
										setImporte(
											articulo.costoUnitario,
											articulo.cantidadOC,
											articulo.descuento
										)
									"
								/>
							</div>
						</td>
					</b-tr>
					<b-tr v-if="!form.articulos.length" class="text-center">
						<b-td colspan="7">
							<h5 class="p-3 mb-0" style="font-size: 12px;">
								No se han agregado articulos
							</h5>
						</b-td>
					</b-tr>
				</b-tbody>
			</b-table-simple>

			<b-row class="mt-4" style="font-size: 12px;">
				<b-col lg="8">
					<div class="lab-form float-right">
						SUBTOTAL:
					</div>
				</b-col>
				<b-col lg="4" class="text-right">
					<b-form-group class="mr-2">
						<vue-numeric
							class="text-right form-control"
							separator=","
							:precision="2"
							currency="$"
							:read-only="true"
							:value="subTotal"
						/>
					</b-form-group>
				</b-col>
			</b-row>

			<b-row class="mt-0" style="font-size: 12px;">
				<b-col lg="8" class="mt-1">
					<div class="lab-form float-right">
						RETENCIÓN I.V.A.:
					</div>
				</b-col>
				<b-col lg="4" class="text-right">
					<b-form-group class="mr-2 mb-1">
						<vue-numeric
							class="text-right form-control form-control-sm"
							separator=","
							:precision="2"
							currency="$"
							:read-only="false"
							v-model="form.retencionIVA"
							style="margin-bottom: 0px;"
						/>
					</b-form-group>
				</b-col>
			</b-row>

			<b-row class="mt-0" style="font-size: 12px;">
				<b-col lg="8" class="mt-1">
					<div class="lab-form float-right">
						I.V.A.:
					</div>
				</b-col>
				<b-col lg="4" class="text-right">
					<b-form-group class="mr-2 mb-1">
						<vue-numeric
							class="text-right form-control form-control-sm"
							separator=","
							:precision="2"
							currency="$"
							:read-only="false"
							v-model="form.iva"
							style="margin-bottom: 0px;"
						/>
					</b-form-group>
				</b-col>
			</b-row>

			<b-row class="mt-0" style="font-size: 12px;">
				<b-col lg="8" class="mt-1">
					<div class="lab-form float-right">
						RETENCIÓN I.S.R.:
					</div>
				</b-col>
				<b-col lg="4" class="text-right">
					<b-form-group class="mr-2 mb-1">
						<vue-numeric
							class="text-right form-control form-control-sm"
							separator=","
							:precision="2"
							currency="$"
							:read-only="false"
							v-model="form.retencionISR"
							style="margin-bottom: 0px;"
						/>
					</b-form-group>
				</b-col>
			</b-row>

			<b-row class="mt-0" style="font-size: 12px;">
				<b-col lg="8" class="mt-1">
					<div class="lab-form float-right">
						OTROS IMPUESTOS:
					</div>
				</b-col>
				<b-col lg="4" class="text-right">
					<b-form-group class="mr-2">
						<vue-numeric
							class="text-right form-control form-control-sm"
							separator=","
							:precision="2"
							currency="$"
							:read-only="false"
							v-model="form.otrosImpuestos"
							style="margin-bottom: 0px;"
						/>
					</b-form-group>
				</b-col>
			</b-row>

			<b-row class="mt-0" style="font-size: 12px;">
				<b-col lg="8" class="mt-1">
					<div class="lab-form float-right">
						TOTAL:
					</div>
				</b-col>
				<b-col lg="4" class="text-right">
					<b-form-group class="mr-2">
						<vue-numeric
							class="text-right form-control form-control-sm"
							separator=","
							:precision="2"
							currency="$"
							:read-only="true"
							:value="totalIva"
							style="margin-bottom: 0px;"
						/>
					</b-form-group>
				</b-col>
			</b-row>
		</fieldset>

		<b-form-group>
			<template v-slot:label>
				<div class="lab-form">
					Observaciones<span class="req">*</span>
				</div>
			</template>
			<b-form-textarea
				placeholder="Ingrese en caso de tener observaciones"
				rows="3"
				v-model="$v.form.observaciones.$model"
				@input="observacionesToUpper"
				:state="
					$v.form.observaciones.$dirty
						? !$v.form.observaciones.$error
						: null
				"
			>
			</b-form-textarea>
			<b-form-invalid-feedback id="feedback-objetivo-viatico">
				Campo obligatorio
			</b-form-invalid-feedback>
		</b-form-group>

		<div class="d-flex flex-row-reverse bd-highlight">
			<b-button
				variant="danger"
				class="ml-3 my-2"
				@click="submit"
				:disabled="disabledSubmit"
			>
				ENVIAR
			</b-button>
			<b-button variant="white" class="link-light my-2" @click="cancel">
				CANCELAR
			</b-button>
		</div>
	</b-overlay>
</template>

<script>
import { mapMutations, mapState, mapActions } from "vuex";
import { required } from "vuelidate/lib/validators";

export default {
	props: {
		dataEdit: Object,
	},
	data() {
		return {
			load: true,
			overlay: false,
			errorSubmit: false,

			edit: false,
			descripcion: null,
			selectedArticulo: {
				cantidadOC: 0,
			},
			form: {
				proveedor: null,
				fechaEntrega: "",
				observaciones: null,
				formaPago: null,
				metodoPago: null,
				tipoMoneda: null,
				idAutorizador: null,
				articulos: [],
				tipoPedido: null,
				centroCosto: null,
				referenciaCotizacion: null,
				condicionesRM: null,
				cfdi: null,
				iva: 0,
				retencionIVA: 0,
				retencionISR: 0,
				otrosImpuestos: 0,
			},

			articulo: null,
			selectedProveedor: null,
			costoUnitario: 0,
			codigoMaterial: null,
			descuento: 0,
			selectMetodoPago: [],
			disabledMetodoPago: true,

			selectTiposPago: [
				"Efectivo",
				"Tarjeta de crédito",
				"Tarjeta de débito",
				"Paypal",
				"Transferencia bancaria",
			],
			selectTiposPedido: ["Urgente", "Normal"],
			selectCFDI: [
				"I05 Dados, troqueles, moldes, matrices y herramental",
				"G01 Adquisición de mercancías",
				"G03 Gastos en General",
			],
			selectTiposMoneda: [
				{ value: "MXN", text: "MXN - Peso mexicano" },
				{ value: "USD", text: "USD - Dólar estadounidense" },
			],
			articulosFiltered: [],
		};
	},
	mounted() {
		this.getProveedores();
		if (this.dataEdit) this.setDataEdit();
	},
	methods: {
		...mapMutations("co_sc_orden_compra", [
			"addOrdenCompra",
			"updateOrdenCompra",
		]),
		...mapActions("co_conf_proveedores", ["getProveedores"]),
		...mapActions("alm_ss_solicitudes", ["getArticulos"]),
		...mapMutations(["modalSubmit", "modalOk"]),

		async submit() {
			this.overlay = true;
			this.errorSubmit = false;
			this.$v.$touch();

			if (!this.$v.$invalid) {
				try {
					if (!this.dataEdit) this.setAutorizador();
					this.form.idSolicitudCompra = this.solicitudActiva.idSolicitudCompra;
					const response = !this.dataEdit
						? await axios.post(`/api/co/sc/ordencompra`, this.form)
						: await axios.put(
								`/api/co/sc/ordencompra/${this.form.idOrdenCompra}`,
								this.form
						  );
					if (response.data.success) {
						if (!this.dataEdit)
							this.addOrdenCompra(response.data.ordenCompra);
						else this.updateOrdenCompra(response.data.ordenCompra);

						this.modalSubmit(true);
						this.overlay = false;
						this.getArticulos(
							this.solicitudActiva.idSolicitudSuministros
						);
					} else {
						this.modalOk(false);
					}
				} catch (e) {
					console.log(e);
					this.overlay = false;
					this.errorSubmit = true;
				}
			} else {
				this.overlay = false;
			}
		},
		cancel() {
			this.$bvModal.hide("modal-orden-compra");
		},
		observacionesToUpper(val) {
			this.form.observaciones = val.toUpperCase();
		},
		setArticulo(idArticulo) {
			this.selectedArticulo = this.articulosFiltered.find(
				(articulo) => articulo.idArticulo == idArticulo
			);
			this.descripcion = this.selectedArticulo.descripcion;
		},
		agregarArticulo() {
			if (this.selectedArticulo && this.costoUnitario != 0) {
				this.selectedArticulo.costoUnitario = this.costoUnitario;
				this.selectedArticulo.descuento = this.descuento;
				this.selectedArticulo.codigo = this.codigoMaterial;
				this.form.articulos.push(this.selectedArticulo);
				this.clearInputArt();
			}
		},
		clearInputArt() {
			this.costoUnitario = 0;
			this.selectedArticulo = { cantidadOC: 0 };
			this.articulo = null;
			this.descripcion = null;
			this.descuento = 0;
			this.codigoMaterial = null;
			this.edit = false;
		},
		setAutorizador() {
			this.listAutorizaciones.forEach((autorizacion) => {
				if (
					this.totalIva >= autorizacion.montoInicial &&
					autorizacion.montoFin >= this.totalIva
				) {
					this.form.idAutorizador = autorizacion.idUsuario;
				}
			});
		},
		setDataEdit() {
			this.form.iva = this.dataEdit.ordenCompra.iva;
			this.form.retencionIVA = this.dataEdit.ordenCompra.retencionIVA;
			this.form.retencionISR = this.dataEdit.ordenCompra.retencionISR;
			this.form.otrosImpuestos = this.dataEdit.ordenCompra.otrosImpuestos;
			this.form.proveedor = this.dataEdit.ordenCompra.idProveedor;
			this.form.fechaEntrega = this.dataEdit.ordenCompra.fechaEntrega;
			this.form.observaciones = this.dataEdit.ordenCompra.observaciones;
			this.form.formaPago = this.dataEdit.ordenCompra.formaPago;
			this.form.metodoPago = this.dataEdit.ordenCompra.metodoPago;
			this.form.tipoMoneda = this.dataEdit.ordenCompra.tipoMoneda;
			this.form.idAutorizador = this.dataEdit.ordenCompra.idAutorizador;
			this.form.idOrdenCompra = this.dataEdit.ordenCompra.idOrdenCompra;
			this.form.articulos = this.dataEdit.articulos;
			this.form.tipoPedido = this.dataEdit.ordenCompra.tipoPedido;
			this.form.centroCosto = this.dataEdit.ordenCompra.centroCosto;
			this.form.referenciaCotizacion = this.dataEdit.ordenCompra.referenciaCotizacion;
			this.form.condicionesRM = this.dataEdit.ordenCompra.condicionesRM;
			this.form.cfdi = this.dataEdit.ordenCompra.cfdi;
		},
		editCostoUnitario(index, value) {
			this.form.articulos[index].costoUnitario = value;
		},
		editDescuento(index, value) {
			this.form.articulos[index].descuento = value;
		},
		setProveedor(val) {
			this.form.metodoPago = null;
			this.selectedProveedor = this.listProveedores.find(
				(proveedor) => proveedor.idProveedor == val
			);
			this.setMetodoPago();
		},
		setImporte(costoUnitario, cantidad, descuento) {
			const importe = costoUnitario * cantidad;
			const importeDescuento = (descuento / 100) * importe;
			return importe - importeDescuento;
		},
		setMetodoPago() {
			if (this.selectedProveedor) {
				if (this.selectedProveedor.pagoCredito) {
					this.selectMetodoPago = ["PPD", "PUE"];
					this.disabledMetodoPago = false;
				} else {
					this.selectMetodoPago = ["PUE"];
					this.disabledMetodoPago = false;
				}
			} else {
				this.selectMetodoPago = [];
				this.disabledMetodoPago = true;
			}
		},
		// EDITAR DESCRIPCIÓN
		editing(val) {
			this.edit = val;
		},
		editingDescripcion(descripcion) {
			this.selectedArticulo.descripcion = descripcion;
		},
		// REMOVER LOS ARTICULO REGISTRADOS
		showMsgBoxDeleteConfirm(index) {
			this.$bvModal
				.msgBoxConfirm(
					`¿Está seguro de que desea eliminar este articulo?`,
					{
						title: "Favor de confirmar",
						size: "sm",
						buttonSize: "sm",
						okVariant: "danger",
						cancelVariant: "light",
						okTitle: "Confirmar",
						cancelTitle: "Cancelar",
						headerClass: "pt-3 pb-2 border-bottom-0",
						footerClass: "p-2 border-top-0",
						centered: true,
					}
				)
				.then((confirm) => {
					if (confirm) {
						this.remove(index);
					}
				});
		},
		remove(index) {
			this.form.articulos.splice(index, 1);
		},
		// TERMINA METODOS PARA REMOVER ARTICULOS
	},
	computed: {
		...mapState("alm_ss_solicitudes", ["listArticulos"]),
		...mapState("co_sc_solicitudes", ["solicitudActiva"]),
		...mapState("co_conf_autorizaciones", ["listAutorizaciones"]),
		...mapState("co_conf_proveedores", [
			"selectProveedores",
			"listProveedores",
		]),
		...mapState("alm_inventario_activos", ["listActivos"]),
		...mapState(["usuario", "okModal"]),

		fechaElaboracion() {
			return moment()
				.locale("es")
				.format("ll");
		},
		selectArticulos() {
			var articulos = [];
			this.listArticulos.forEach((articulo) => {
				if (!articulo.salida && !articulo.idOrdenCompra) {
					articulos.push(articulo);
				}
			}, this);
			this.articulosFiltered = articulos;
			return articulos.map((articulo) => {
				return {
					text: articulo.descripcion,
					value: articulo.idArticulo,
				};
			});
		},
		subTotal() {
			if (this.form.articulos.length) {
				return this.form.articulos.reduce((suma, item) => {
					const importe =
						parseFloat(item.costoUnitario) * item.cantidadOC;
					const importeDescuento = (item.descuento / 100) * importe;
					return suma + (importe - importeDescuento);
				}, 0);
			} else return 0;
		},
		totalIva() {
			return (
				this.subTotal +
				this.form.iva +
				this.form.retencionIVA +
				this.form.retencionISR +
				this.form.otrosImpuestos
			);
		},
		disabledSubmit() {
			return this.form.articulos.length ? false : true;
		},
		articulos() {
			var articulos = [];
			if (this.form.articulos.length && this.selectArticulos.length) {
				for (var i = 0; i < this.selectArticulos.length; i++) {
					const found = this.form.articulos.find(
						(articulo) =>
							articulo.idArticulo == this.selectArticulos[i].value
					);
					if (found == undefined)
						articulos.push(this.selectArticulos[i]);
				}
				return articulos;
			}
			return this.selectArticulos;
		},
	},
	watch: {
		// proveedor: {
		// 	handler(val, oldVal) {
				
		// 			console.log("entra 112");
				
		// 	},
		// 	deep: true,
		// },
	},
	validations() {
		return {
			form: {
				proveedor: { required },
				fechaEntrega: { required },
				formaPago: { required },
				metodoPago: { required },
				tipoMoneda: { required },
				observaciones: {},
				idAutorizador: {},
				iva: {},
				retencionIVA: {},
				retencionISR: {},
				otrosImpuestos: {},
				tipoPedido: { required },
				centroCosto: { required },
				referenciaCotizacion: {},
				condicionesRM: { required },
				cfdi: { required },
			},
		};
	},
};
</script>

<style>
#articulo-link {
	display: none;
}
#articulo:hover #articulo-link {
	display: block;
}
#articulo:hover #articulo-text {
	display: none;
}
</style>
