<template>
	<div>
		<template v-if="!busySolicitudes">
			<b-list-group
				class="bg-white list-solicitudes"
				v-if="solicitudesFiltered.length"
			>
				<co-sc-solicitudes-solicitud-component
					v-for="(solicitud, index) in solicitudesFiltered"
					:key="index"
					:solicitud="solicitud"
				/>
			</b-list-group>

			<div class="mt-5" v-else>
				<h5 class="text-center">
					No se ha registrado ninguna solicitud
				</h5>
			</div>
		</template>

		<div v-else class="p-3 text-center">
			<b-spinner label="Loading..."> Cargando... </b-spinner>
		</div>
	</div>
</template>

<script>
import { mapState, mapActions, mapMutations, mapGetters } from "vuex";
export default {
	data() {
		return {};
	},
	mounted() {},
	methods: {
		...mapActions("co_sc_solicitudes", ["getSolicitudes"]),
	},
	computed: {
		...mapState(["usuario"]),
		...mapState("co_sc_solicitudes", ["busySolicitudes"]),
		...mapGetters("co_sc_solicitudes", ["solicitudesFiltered"]),
	},
	watch: {},
};
</script>
<style scoped>
.list-solicitudes {
	max-height: calc(100vh - 188px);
	overflow: auto;
}
</style>
