<template>
	<div class="mt-1">
		<b-card>
			<b-row>
				<b-col>
					<b-button
						v-if="permissionsAddOC"
						class="shadows mb-2"
						variant="danger"
						@click="openModal"
						size="sm"
						squared
					>
						Nueva orden de compra</b-button
					>
				</b-col>
				<b-col>
					<b-badge
						variant="light"
						class="shadow-sm mt-1 mb-3 float-right"
						v-if="sending"
					>
						<b-spinner
							type="grow"
							small
							label="Spinning"
							class="mr-2"
						></b-spinner>
						Enviando a autorización ...
					</b-badge>

					<b-badge
						v-if="!sending && sendOrden"
						variant="light"
						class="shadow-sm mt-2 mb-3 float-right"
					>
						<font class="text-success">
							<i class="fas fa-check mr-1"></i>
							Enviado
						</font>
					</b-badge>
				</b-col>
			</b-row>

			<b-skeleton-table
				v-if="busyOrdenesCompra"
				:rows="5"
				:columns="6"
				:table-props="{ bordered: true, striped: true }"
			></b-skeleton-table>

			<b-table-simple
				v-else
				bordered
				responsive
				class="mb-2 table-oc border-top"
				style="font-size:11px; padding-bottom: 16px;"
			>
				<b-thead class="text-center bg-light" style="font-size: 12px;">
					<b-tr class="text-center">
						<b-th style="width: 10%;">OC</b-th>
						<b-th style="width: 26%;">Proveedor</b-th>
						<b-th style="width: 12%;">Tipo de Pago</b-th>
						<b-th style="width: 18%;">Fecha de Entrega</b-th>
						<b-th style="width: 11%;">Estado</b-th>
						<b-th style="width: 18%;">Total</b-th>
						<b-th style="width: 5%;">Acción</b-th>
					</b-tr>
				</b-thead>

				<b-tbody>
					<template v-if="listOrdenesCompra.length">
						<co-sc-tr-orden-compra-component
							v-for="(orden, index) in listOrdenesCompra"
							:key="index"
							:orden="orden"
							@openSidebar="openSidebar($event)"
							@editing="setDataEdit($event)"
							@sending="sendingOrden($event)"
						/>
					</template>

					<template v-else>
						<b-tr>
							<b-td colspan="7" class="text-center align-middle">
								<h6 class="text-secondary m-2">
									No se han registrado ordenes de compra
								</h6>
							</b-td>
						</b-tr>
					</template>
				</b-tbody>
			</b-table-simple>
		</b-card>

		<modal-component
			:id="'modal-orden-compra'"
			:title="'Nueva orden de compra'"
			:hideFooter="true"
			:hideHeader="true"
			:centered="true"
			:sizeModal="'lg'"
			v-if="solicitudActiva"
		>
			<template slot="content">
				<co-sc-solicitudes-form-oc-component :dataEdit="dataEdit" />
			</template>
		</modal-component>

		<b-sidebar
			id="sidebar-orden"
			shadow
			right
			no-header
			backdrop-variant="transparent"
			bg-variant="light"
			text-variant="dark"
			width="640px"
			:visible="showSidebar"
			@hidden="hiddenSidebar"
		>
			<template v-slot:default="{ hide }">
				<co-sc-content-sidebar-orden-compra-component
					v-if="showSidebar"
					:orden="orden"
					@hide="hide($event)"
				/>
			</template>
		</b-sidebar>
	</div>
</template>

<script>
import { mapState, mapActions, mapMutations } from "vuex";

export default {
	data() {
		return {
			dataEdit: null,
			showSidebar: false,
			orden: null,
			sending: false,
			sendOrden: false,
		};
	},
	mounted() {
		this.getUsuariosAll();
		setTimeout(() => this.changeBusyOC(false), 2000);
		this.hideBadge();
	},
	methods: {
		...mapActions("usuarios", ["getUsuariosAll"]),
		...mapMutations("co_sc_orden_compra", ["changeBusyOC"]),
		...mapMutations("co_sc_solicitudes", ["updateSolicitudActiva"]),
		...mapActions("co_sc_solicitudes", ["getArticulosByOrdenCompra"]),

		openSidebar(data) {
			this.showSidebar = data.sidebar;
			this.orden = data.orden;
			this.getArticulosByOrdenCompra(this.orden.idOrdenCompra);
		},
		hiddenSidebar() {
			this.showSidebar = false;
		},
		hasPermission(funcion) {
			if (this.permissions.length) {
				const permiso = this.permissions.find(
					(permiso) => permiso.idFuncion == funcion
				);
				if (permiso) return true;
				return false;
			}
		},
		setDataEdit(data) {
			this.dataEdit = data;
			this.$bvModal.show("modal-orden-compra");
		},
		openModal() {
			this.dataEdit = null;
			this.$bvModal.show("modal-orden-compra");
		},
		sendingOrden(status) {
			this.sending = status;
			this.sendOrden = !status;
		},
		hideBadge() {
			this.sending = false;
			this.sendOrden = false;
		},
	},
	computed: {
		...mapState(["permissions"]),
		...mapState("co_sc_solicitudes", ["solicitudActiva"]),
		...mapState("alm_ss_solicitudes", ["listArticulos"]),
		...mapState("alm_inventario_activos", ["listActivos"]),
		...mapState("co_sc_orden_compra", [
			"listOrdenesCompra",
			"busyOrdenesCompra",
		]),

		permissionsAddOC() {
			var articulos = [];
			this.listArticulos.forEach((articulo) => {
				if (!articulo.salida && !articulo.idOrdenCompra) {
					if (!articulo.idActivo) {
						articulos.push(articulo);
					} else {
						const activo = this.listActivos.find(
							(activo) => activo.idActivo == articulo.idActivo
						);
						if (activo.existencia < articulo.cantidad) {
							articulos.push(articulo);
						}
					}
				}
			}, this);
			if (
				articulos.length &&
				this.hasPermission("co.sc.solicitudes.solicitar.orden.compra")
			) {
				return true;
			} else return false;
		},
	},
	watch: {
		listOrdenesCompra: {
			handler(val, oldVal) {
				setTimeout(() => this.changeBusyOC(false), 2000);
			},
			deep: true,
		},
	},
};
</script>

<style>
.table-oc th {
	padding: 0.72rem;
	vertical-align: top;
	border-top: 1px solid #dee2e6;
}
.table-oc td {
	padding: 0.72rem;
	vertical-align: top;
	border-top: 1px solid #dee2e6;
}
</style>
