<template>
	<div>
		<div class="container-fluid" style="height: calc(100vh - 56px)">
			<b-row class="h-100">
				<b-col md="4" lg="3" sm="12" class="h-100 px-0 shadow">
					<div class="h-100 border-right bg-light">
						<div
							class="d-flex justify-content-between align-items-center p-3 mb-3 border-bottom"
							style="max-height: 73px"
						>
							<h3
								class="text-dark ml-3 mt-2"
								style="font-size: 30px; margin-bottom: 1.25px"
							>
								Solicitudes
								<b-badge
									variant="warning"
									style="font-size: 15px; cursor: pointer"
									@click="toAdminView"
									>Admin</b-badge
								>
							</h3>
						</div>

						<div class="mb-2">
							<co-sc-solicitudes-tipos-component />
							<hr />
						</div>

						<div class="mb-3">
							<co-sc-solicitudes-filters-component />
						</div>
						<co-sc-solicitudes-list-solicitudes-component />
					</div>
				</b-col>
				<b-col md="8" lg="9" class="px-0" v-if="!solicitudActiva">
					<div style="height: calc(100vh - 50px)">
						<icon-text-component
							:icon="'fas fa-comment-alt'"
							:text="'NO SE HA SELECCIONADO NINGUNA SOLICITUD'"
							:circleStyle="{
								backgroundColor: '#f5f5f6',
								color: '#a8aeb3',
							}"
						/>
					</div>
				</b-col>
				<b-col md="8" lg="9" class="h-100" v-else>
					<b-row class="bg-light border-bottom" style="height: 73px">
						<b-col
							lg="12"
							class="p-3 bg-white shadow-sm border-bottom"
						>
							<h2 class="text-center my-1">
								SOLICITUD DE COMPRA #{{
									solicitudActiva.idSolicitudCompra
								}}
								<i
									v-if="solicitudActiva.idEtapa == 4"
									class="fas fa-certificate pl-2 text-success"
								></i>
							</h2>
						</b-col>
					</b-row>
					<div class="scroll-solicitud">
						<co-sc-solicitudes-detalles-component
							@openSidebar="openSidebar($event)"
						/>

						<b-button-group size="sm" class="mt-3">
							<b-button
								style="font-size: 13px;"
								:class="{
									'btn-secondary': activeOC,
									'btn-light': !activeOC,
								}"
								class="shadows"
								squared
							>
								<h5
									class="display-1 my-1 mx-4"
									:class="{
										'btn-active-bold': activeOC,
										'btn-active-bolder': !activeOC,
									}"
									style="font-size: 13px; letter-spacing: 1.1px;"
								>
									Ordenes de compra
								</h5>
							</b-button>
						</b-button-group>

						<co-sc-orden-compra-component v-if="activeOC" />
					</div>
				</b-col>
			</b-row>
		</div>

		<b-sidebar
			id="sidebar-details-ss"
			shadow
			right
			no-header
			backdrop-variant="transparent"
			bg-variant="light"
			text-variant="dark"
			width="480px"
			:visible="showSidebar"
			@hidden="hiddenSidebar"
		>
			<template v-slot:default="{ hide }">
				<alm-ss-solicitudes-content-sidebar-component
					v-if="showSidebar"
					:solicitudActiva="solicitudSuministroActiva"
					@hide="hide($event)"
				/>
			</template>
		</b-sidebar>
	</div>
</template>

<script>
import { mapState, mapActions, mapMutations, mapGetters } from "vuex";
import { required } from "vuelidate/lib/validators";
export default {
	data() {
		return {
			sizeModalSolicitud: "md",
			tituloModalSolicitud: "",
			solicitudEdit: null,
			activeOC: true,
			showSidebar: false,
		};
	},
	mounted() {
		this.getActivos();
		this.setTipoSolicitudesByPermission();

		if (this.solicitudActiva && !this.listArticulos.length)
			this.getArticulos(this.solicitudActiva.idSolicitudSuministros);
	},
	methods: {
		...mapActions("alm_ss_solicitudes", ["getArticulos"]),
		...mapActions("alm_inventario_activos", ["getActivos"]),

		...mapActions("co_sc_solicitudes", [
			"getSolicitudes",
			"getSolicitudesByAutorizador",
		]),

		...mapMutations("co_sc_solicitudes", [
			"addSolicitud",
			"updateSolicitud",
			"setTipoSolicitudes",
		]),

		hasPermission(funcion) {
			if (this.permissions.length) {
				const permiso = this.permissions.find(
					(permiso) => permiso.idFuncion == funcion
				);
				if (permiso) return true;
				return false;
			}
		},
		setTipoSolicitudesByPermission() {
			if (this.hasPermission("co.sc.solicitudes.administrar")) {
				this.setTipoSolicitudes("todas");
				this.getSolicitudes();
			} else if (
				this.hasPermission("co.sc.solicitudes.orden.autorizacion")
			) {
				this.setTipoSolicitudes("porAutorizar");
				this.getSolicitudesByAutorizador(this.usuario.idUsuario);
			}
		},
		toAdminView() {
			this.$router.push(BaseUrl + `/compras/ss/admin-solicitudes`);
		},
		close(modal) {
			this.$bvModal.hide(modal);
		},
		openModal() {
			this.solicitudEdit = null;
			this.tituloModalSolicitud = "Nueva solicitud de suministro";
			this.$bvModal.show("modal-solicitud");
		},
		setSizeModalSolicitud(size) {
			this.sizeModalSolicitud = size;
		},
		openSidebar(val) {
			this.showSidebar = val;
		},
		hiddenSidebar() {
			this.showSidebar = false;
		},
	},
	computed: {
		...mapState(["permissions", "usuario"]),
		...mapState("co_sc_solicitudes", [
			"solicitudActiva",
			"listSolicitudes",
			"tipoSolicitudes",
		]),
		...mapState("alm_ss_solicitudes", [
			"listArticulos",
			"solicitudSuministroActiva",
		]),
	},
	watch: {
		permissions() {
			this.setTipoSolicitudesByPermission();
		},
	},
};
</script>

<style>
.scroll-solicitud {
	max-height: calc(100vh - 130px);
	overflow-y: auto;
}
.btn-active-bold {
	font-weight: bold;
}
.btn-active-bolder {
	font-weight: 400;
}
</style>
