<template>
	<b-tr class="text-center">
		<td class="align-middle">
			<b-link class="text-dark" @click="openSidebar">
				<strong>OC #{{ orden.idOrdenCompra }}</strong>
				<i :class="iconoNotificacion" class="ml-1"></i>
			</b-link>
		</td>
		<td class="align-middle">{{ orden.nombre_proveedor }}</td>
		<td class="align-middle">{{ orden.formaPago }}</td>
		<td class="align-middle">{{ fechaEntrega }}</td>

		<td class="align-middle" :class="autorizacion.color">
			<strong> {{ autorizacion.text }} </strong>
		</td>

		<td class="align-middle">
			<template v-if="busyField">
				<b-skeleton></b-skeleton>
			</template>

			<template v-else>
				<div class="d-flex w-100 justify-content-between">
					<label class="mb-0 ml-1">$</label>
					<vue-numeric
						separator=","
						:precision="2"
						:read-only="true"
						:value="total"
					/>
				</div>
			</template>
		</td>

		<b-td class="text-center align-middle">
			<b-dropdown
				id="dropdown-left"
				right
				variant="link"
				class="py-0 my-0"
				no-caret
				size="sm"
				:disabled="disabledAction"
			>
				<template v-slot:button-content>
					<i class="fas fa-ellipsis-v px-2 py-0 text-secondary"></i>
				</template>

				<b-dropdown-item
					v-if="!busyField"
					@click="download"
					style="font-size: 13px;"
				>
					<b-icon
						icon="download"
						font-scale="1"
						class="text-dark mr-2"
					>
					</b-icon>
					Descargar
				</b-dropdown-item>

				<b-dropdown-item
					v-if="
						!busyField &&
							hasPermission('co.sc.solicitudes.orden.editar')
					"
					@click="editing"
					style="font-size: 13px;"
				>
					<b-icon
						icon="pencil-square"
						font-scale="1"
						class="text-dark mr-2"
					>
					</b-icon>
					Editar
				</b-dropdown-item>

				<b-dropdown-item
					v-if="
						!busyField &&
							!orden.fechaAutorizacion &&
							!orden.notificacion
					"
					@click="enviarAutorizacion"
					style="font-size: 13px;"
				>
					<b-icon
						icon="arrow-right-square"
						font-scale="1"
						class="text-dark mr-2"
					>
					</b-icon>
					Enviar a autorización
				</b-dropdown-item>

				<slot name="dropdown-more-actions"></slot>
			</b-dropdown>
		</b-td>
	</b-tr>
</template>

<script>
import { mapState, mapMutations, mapActions } from "vuex";

export default {
	props: {
		orden: Object,
	},
	data() {
		return {
			articulos: [],
			busyField: true,
			importeDescuento: 0,
		};
	},
	mounted() {
		this.getArticulos();
	},
	methods: {
		...mapMutations("co_sc_solicitudes", ["updateSolicitudActiva"]),
		...mapMutations("co_sc_orden_compra", ["updateOrdenCompra"]),

		getArticulos() {
			axios
				.get(
					BaseUrl +
						`/api/co/sc/ordencompra/${this.orden.idOrdenCompra}/articulos`
				)
				.then((response) => {
					this.articulos = response.data;
					this.busyField = false;
				});
		},
		openSidebar() {
			const data = {
				orden: this.orden,
				sidebar: true,
			};
			this.$emit("openSidebar", data);
		},
		download() {
			moment.locale("es");
			const data = {
				articulos: this.articulos,
				orden: this.orden,
				created_at: moment(this.orden.created_at).format("ll"),
				delivery_date: moment(this.orden.fechaEntrega).format("ll"),
				subTotal: this.subTotal,
				importeDescuento: this.importeDescuento,
				id_solicitante: this.solicitudActiva.idUsuario,
				unidadNegocio: this.solicitudActiva.unidadNegocio,
			};
			axios
				.post("/api/co/sc/ordencompra/upload", data)
				.then((response) => {
					if (response.data.success) {
						let name = "Orden de Compra";
						window.location = `/api/co/sc/ordencompra/${name}/download`;
					}
				});
		},
		editing() {
			const data = {
				ordenCompra: this.orden,
				articulos: this.articulos,
			};
			this.$emit("editing", data);
		},
		hasPermission(funcion) {
			if (this.permissions.length) {
				const permiso = this.permissions.find(
					(permiso) => permiso.idFuncion == funcion
				);
				if (permiso) return true;
				return false;
			}
		},
		enviarAutorizacion() {
			try {
				this.$emit("sending", true);
				axios
					.put(
						`/api/co/sc/ordencompra/${this.orden.idOrdenCompra}/enviar/autorizacion`
					)
					.then((response) => {
						if (response.data.success) {
							this.$emit("sending", false);
							this.updateSolicitudActiva(
								response.data.solicitudCompra
							);
							this.updateOrdenCompra(response.data.ordenCompra);
						}
					});
			} catch (e) {
				console.log(e);
			}
		},
	},
	computed: {
		...mapState(["permissions"]),
		...mapState("co_sc_solicitudes", ["solicitudActiva"]),
		...mapState("co_sc_solicitudes", ["listArticulosByOC"]),

		subTotal() {
			this.importeDescuento = 0;
			if (this.articulos.length) {
				return this.articulos.reduce((suma, item) => {
					const importe =
						parseFloat(item.costoUnitario) *
						parseFloat(item.cantidadOC);
					const importeDescuento =
						(parseFloat(item.descuento) / 100) * importe;
					this.importeDescuento += importeDescuento;
					return suma + (importe - importeDescuento);
				}, 0);
			} else return 0;
		},
		total() {
			return (
				parseFloat(this.subTotal) +
				parseFloat(this.orden.iva) +
				parseFloat(this.orden.retencionIVA) +
				parseFloat(this.orden.retencionISR) +
				parseFloat(this.orden.otrosImpuestos)
			);
		},
		fechaEntrega() {
			moment.locale("es");
			return moment(this.orden.fechaEntrega).format("LL");
		},
		autorizacion() {
			if (!this.orden.fechaAutorizacion && !this.orden.autorizacion) {
				return { text: "Sin autorizar", color: "text-dark" };
			} else if (this.orden.fechaAutorizacion) {
				if (this.orden.autorizacion) {
					return { text: "Autorizado", color: "text-success" };
				} else return { text: "Rechazado", color: "text-danger" };
			}
		},
		disabledAction() {
			if (this.hasPermission("co.sc.solicitudes.oc.descargar")) {
				return false;
			} else return true;
		},
		iconoNotificacion() {
			if (this.orden.notificacion || this.orden.fechaAutorizacion) {
				return "fas fa-flag text-success";
			} else {
				return "fas fa-flag text-warning";
			}
		},
	},
	watch: {
		listArticulosByOC: {
			handler(val, oldVal) {
				this.getArticulos();
			},
			deep: true,
		},
	},
};
</script>
