<template>
	<b-overlay
		:show="overlay"
		rounded="sm"
		opacity="1.0"
		blur="1px"
		variant="transparent"
	>
		<b-form-group>
			<template v-slot:label>
				<div class="lab-form">Nombre<span class="req">*</span></div>
			</template>
			<b-form-input
				v-model="$v.form.nombre.$model"
				placeholder="Nombre del proveedor"
				:state="$v.form.nombre.$dirty ? !$v.form.nombre.$error : null"
			>
			</b-form-input>
			<b-form-invalid-feedback id="feedback-nombre">
				Campo obligatorio
			</b-form-invalid-feedback>
		</b-form-group>

		<b-form-group>
			<template v-slot:label>
				<div class="lab-form">
					Razón social<span class="req">*</span>
				</div>
			</template>
			<b-form-input
				v-model="$v.form.razonSocial.$model"
				placeholder="Razón social del proveedor"
				:state="
					$v.form.razonSocial.$dirty
						? !$v.form.razonSocial.$error
						: null
				"
			>
			</b-form-input>
			<b-form-invalid-feedback id="feedback-razonSocial">
				Campo obligatorio
			</b-form-invalid-feedback>
		</b-form-group>

		<b-row>
			<b-col>
				<b-form-group>
					<template v-slot:label>
						<div class="lab-form">
							RFC<span class="req">*</span>
						</div>
					</template>
					<b-form-input
						v-model="$v.form.rfc.$model"
						placeholder="RFC del proveedor"
						:state="$v.form.rfc.$dirty ? !$v.form.rfc.$error : null"
					>
					</b-form-input>
					<b-form-invalid-feedback id="feedback-rfc">
						Campo obligatorio
					</b-form-invalid-feedback>
				</b-form-group>
			</b-col>

			<b-col>
				<b-form-group>
					<template v-slot:label>
						<div class="lab-form">
							Teléfono de contacto<span class="req">*</span>
						</div>
					</template>
					<b-form-input
						v-model="$v.form.telefono.$model"
						placeholder="Teléfono"
						:state="
							$v.form.telefono.$dirty
								? !$v.form.telefono.$error
								: null
						"
					>
					</b-form-input>
					<b-form-invalid-feedback id="feedback-telefono">
						Campo obligatorio
					</b-form-invalid-feedback>
				</b-form-group>
			</b-col>
		</b-row>

		<b-row>
			<b-col>
				<b-form-group>
					<template v-slot:label>
						<div class="lab-form">
							Contacto<span class="req">*</span>
						</div>
					</template>
					<b-form-input
						v-model="$v.form.contacto.$model"
						placeholder="Persona de contacto"
						:state="
							$v.form.contacto.$dirty
								? !$v.form.contacto.$error
								: null
						"
					>
					</b-form-input>
					<b-form-invalid-feedback id="feedback-contacto">
						Campo obligatorio
					</b-form-invalid-feedback>
				</b-form-group>
			</b-col>
		</b-row>

		<b-row>
			<b-col>
				<b-form-group>
					<template v-slot:label>
						<div class="lab-form">
							Correo electrónico<span class="req">*</span>
						</div>
					</template>
					<b-form-input
						id="emailProveedor"
						v-model="$v.form.email.$model"
						type="email"
						placeholder="correo@dominio.com"
						:state="
							$v.form.email.$dirty ? !$v.form.email.$error : null
						"
					>
					</b-form-input>
					<b-form-invalid-feedback id="feedback-email-proveedor">
						Campo obligatorio
					</b-form-invalid-feedback>
				</b-form-group>
			</b-col>
		</b-row>

		<b-row>
			<b-col lg="12" class="align-middle py-3">
				<b-form-checkbox
					v-model="form.pagoCredito"
					name="pagoCredito-button"
					@change="setPagoCredito"
					switch
				>
					Pago a crédito
				</b-form-checkbox>
			</b-col>
			<b-col lg="6" v-if="form.pagoCredito">
				<b-form-group>
					<template v-slot:label>
						<div class="lab-form">
							Días de crédito<span class="req">*</span>
						</div>
					</template>
					<b-form-input
						type="number"
						v-model="$v.form.diasCredito.$model"
						:state="
							$v.form.diasCredito.$dirty
								? !$v.form.diasCredito.$error
								: null
						"
					>
					</b-form-input>
					<b-form-invalid-feedback id="feedback-diasCredito">
						Campo obligatorio
					</b-form-invalid-feedback>
				</b-form-group>
			</b-col>
			<b-col lg="6" v-if="form.pagoCredito">
				<b-form-group>
					<template v-slot:label>
						<div class="lab-form">
							Anticipo (%)<span class="req">*</span>
						</div>
					</template>
					<b-form-input
						type="number"
						v-model="$v.form.anticipo.$model"
						:state="
							$v.form.anticipo.$dirty
								? !$v.form.anticipo.$error
								: null
						"
					>
					</b-form-input>

					<b-form-invalid-feedback id="feedback-anticipo">
						Campo obligatorio
					</b-form-invalid-feedback>
				</b-form-group>
			</b-col>
		</b-row>

		<b-form-group>
			<template v-slot:label>
				<div class="lab-form">Dirección<span class="req">*</span></div>
			</template>
			<b-form-textarea
				v-model="$v.form.direccion.$model"
				placeholder="Dirección del proveedor"
				:state="
					$v.form.direccion.$dirty ? !$v.form.direccion.$error : null
				"
				rows="3"
				max-rows="6"
			>
			</b-form-textarea>

			<b-form-invalid-feedback id="feedback-direccion">
				Campo obligatorio
			</b-form-invalid-feedback>
		</b-form-group>

		<div class="d-flex flex-row-reverse bd-highlight">
			<b-button variant="danger" class="ml-3 my-2" @click="submit">
				GUARDAR
			</b-button>
			<b-button variant="white" class="link-light my-2" @click="cancel">
				CANCELAR
			</b-button>
		</div>
	</b-overlay>
</template>

<script>
import { mapMutations, mapState, mapActions } from "vuex";
import { required, email } from "vuelidate/lib/validators";

export default {
	props: {
		proveedor: Object,
	},
	data() {
		return {
			load: true,
			errorSubmit: false,
			overlay: false,

			form: {
				nombre: null,
				razonSocial: null,
				rfc: null,
				diasCredito: 0,
				contacto: null,
				telefono: null,
				direccion: null,
				email: null,
				anticipo: 0,
				pagoCredito: false,
			},
		};
	},
	mounted() {
		if (this.proveedor) this.setDataEdit();
	},
	methods: {
		...mapMutations(["modalSubmit", "modalOk"]),
		...mapMutations("co_conf_proveedores", [
			"addProveedor",
			"updateProveedor",
		]),

		async submit() {
			this.overlay = true;
			this.errorSubmit = false;
			this.$v.$touch();

			if (!this.$v.$invalid) {
				try {
					const response = !this.proveedor
						? await axios.post(`/api/co/proveedor`, this.form)
						: await axios.put(
								`/api/co/proveedor/${this.proveedor.idProveedor}`,
								this.form
						  );
					if (response.data.success) {
						if (!this.proveedor)
							this.addProveedor(response.data.proveedor);
						else this.updateProveedor(response.data.proveedor);
						this.modalSubmit(true);
						this.overlay = false;
					} else {
						this.modalOk(false);
					}
				} catch (e) {
					console.log(e);
					this.overlay = false;
					this.errorSubmit = true;
				}
			} else {
				this.overlay = false;
			}
		},
		setDataEdit() {
			this.form.nombre = this.proveedor.nombre;
			this.form.razonSocial = this.proveedor.razonSocial;
			this.form.rfc = this.proveedor.rfc;
			this.form.diasCredito = this.proveedor.diasCredito;
			this.form.contacto = this.proveedor.contacto;
			this.form.telefono = this.proveedor.telefono;
			this.form.direccion = this.proveedor.direccion;
			this.form.email = this.proveedor.email;
			this.form.anticipo = this.proveedor.anticipo;
			this.form.pagoCredito = this.proveedor.pagoCredito;
		},
		cancel() {
			this.$bvModal.hide("modal-agregar-co-proveedores");
		},
		setPagoCredito() {
			this.form.anticipo = 0;
			this.form.diasCredito = 0;
		},
	},
	computed: {
		...mapState(["usuario", "okModal"]),
	},
	validations() {
		return {
			form: {
				nombre: { required },
				razonSocial: { required },
				rfc: { required },
				diasCredito: { required },
				contacto: { required },
				telefono: { required },
				direccion: { required },
				email: { email },
				anticipo: { required },
				pagoCredito: {},
			},
		};
	},
};
</script>
