<template>
	<b-container fluid style="height: calc(100vh - 54px)">
		<b-row class="h-100">
			<b-col lg="2" class="px-0 h-100">
				<co-configuracion-sidebar />
			</b-col>
			<b-col lg="10" class="pl-0">
				<div
					class="p-4"
					style="height: calc(100vh - 54px); overflow: auto;"
				>
					<b-row>
						<b-col lg="2"></b-col>
						<b-col lg="8">
							<h1 class="text-center">Registro de Proveedores</h1>
						</b-col>
						<b-col lg="2"></b-col>
					</b-row>

					<b-card class="shadow-sm mt-4">
						<b-row>
							<b-col lg="4">
								<b-button
									v-if="
										hasPermission(
											'co.sc.conf.proveedores.registro'
										)
									"
									size="sm"
									class="shadows"
									variant="danger"
									@click="openModal"
									>Agregar proveedor</b-button
								>
								<template
									v-if="
										hasPermission(
											'co.sc.conf.proveedores.exportar'
										)
									"
								>
									<b-button
										v-if="!exporting"
										variant="outline-danger"
										size="sm"
										class="shadows"
										@click="exportExcel"
										squared
									>
										<label class="mb-0">
											<i class="fas fa-download pr-2"></i>
											Exportar excel
										</label>
									</b-button>

									<b-button
										v-else
										variant="outline-danger"
										size="sm"
										disabled
									>
										<b-spinner
											small
											class="mr-1"
										></b-spinner>
										Exportando ...
									</b-button>
								</template>
							</b-col>
							<b-col lg="4">
								<h3 class="text-center mb-0">
									Lista de proveedores
								</h3>
							</b-col>
							<b-col lg="4">
								<div
									class="input-group w-100 bg-white border"
									id="input-shadow"
								>
									<div
										class="input-group-prepend bg-light mr-1 ml-3"
									>
										<div class="pt-1 bg-white">
											<i class="fas fa-search"></i>
										</div>
									</div>
									<b-form-input
										id="input-search"
										size="sm"
										class="form-control border-0"
										placeholder="Escribe tu busqueda aquí"
										:value="filter"
										@input="setFilterSearch($event)"
										autocomplete="off"
									></b-form-input>
								</div>
							</b-col>
						</b-row>
						<hr class="mb-0 mt-4" />

						<b-skeleton-table
							v-if="busyProveedores"
							:rows="10"
							:columns="5"
							:table-props="{ striped: true }"
						>
						</b-skeleton-table>

						<b-table-simple
							v-else
							responsive
							bordered
							style="height: calc(100vh - 322px); overflow: auto; font-size: 11px;"
							hover
						>
							<b-thead
								class="text-center bg-light"
								style="font-size: 12px;"
							>
								<b-tr class="text-center">
									<b-th style="min-width: 300px;"
										>Nombre comercial</b-th
									>
									<b-th style="min-width: 250px;"
										>Razón social</b-th
									>
									<b-th style="min-width: 180px;">RFC</b-th>
									<b-th style="min-width: 120px;"
										>Pago a crédito</b-th
									>
									<b-th style="min-width: 120px;"
										>Días de crédito</b-th
									>
									<b-th style="min-width: 100px;"
										>Anticipo(%)</b-th
									>
									<b-th style="min-width: 250px;"
										>Contacto</b-th
									>
									<b-th style="min-width: 250px;"
										>Correo electrónico</b-th
									>
									<b-th style="min-width: 120px;"
										>Teléfono</b-th
									>
									<b-th style="min-width: 300px;"
										>Dirección</b-th
									>
									<b-th style="min-width: 50px;">Acción</b-th>
								</b-tr>
							</b-thead>
							<b-tbody style="font-size: 12px;">
								<b-tr
									v-if="proveedoresFiltered.length"
									v-for="(proveedor,
									index) in proveedoresFiltered"
									:key="index"
								>
									<b-td class="align-middle"
										><strong>{{
											proveedor.nombre
										}}</strong></b-td
									>
									<b-td class="align-middle"
										><strong>{{
											proveedor.razonSocial
										}}</strong></b-td
									>
									<b-td class="align-middle text-center">{{
										proveedor.rfc
									}}</b-td>
									<b-td class="align-middle text-center">
										<i
											:class="setIconPagoCredito(proveedor.pagoCredito)"
											class="fs-13"
										></i>
									</b-td>
									<b-td class="align-middle text-center">{{
										proveedor.diasCredito
									}}</b-td>
									<b-td class="align-middle text-center">{{
										proveedor.anticipo
									}} %</b-td>
									<b-td class="align-middle">{{
										proveedor.contacto
									}}</b-td>
									<b-td class="align-middle">{{
										proveedor.email
									}}</b-td>
									<b-td class="align-middle text-center">{{
										proveedor.telefono
									}}</b-td>
									<b-td class="align-middle">{{
										proveedor.direccion
									}}</b-td>

									<b-td class="align-middle text-center">
										<b-dropdown
											id="dropdown-left"
											right
											variant="link"
											class="py-0 my-0"
											no-caret
											size="sm"
										>
											<template v-slot:button-content>
												<i
													class="fas fa-ellipsis-v px-2 py-0 text-secondary"
												></i>
											</template>
											<b-dropdown-item
												v-b-modal.modal-agregar-co-proveedores
												@click="setDataEdit(proveedor)"
											>
												<i class="fas fa-edit px-2"></i>
												Editar
											</b-dropdown-item>
											<b-dropdown-item
												href="#"
												@click="
													showMsgBoxDeleteConfirm(
														proveedor.idProveedor
													)
												"
											>
												<i
													class="fas fa-trash px-2"
												></i>
												Eliminar
											</b-dropdown-item>
											<slot
												name="dropdown-more-actions"
											></slot>
										</b-dropdown>
									</b-td>
								</b-tr>
								<b-tr
									v-if="
										!busyProveedores &&
											!proveedoresFiltered.length
									"
								>
									<b-td class="align-middle" colspan="6">
										<h5 class="text-center my-3">
											No se encontraron resultados
										</h5>
									</b-td>
								</b-tr>
							</b-tbody>
						</b-table-simple>
					</b-card>
				</div>
			</b-col>
		</b-row>

		<modal-component
			:id="'modal-agregar-co-proveedores'"
			title="Agregar proveedor"
			:hideFooter="true"
			:hideHeader="true"
			:centered="true"
		>
			<template slot="content">
				<co-configuracion-proveedores-form-proveedor-component
					:proveedor="proveedor"
				/>
			</template>
		</modal-component>
	</b-container>
</template>

<script>
import { mapState, mapActions, mapMutations, mapGetters } from "vuex";
export default {
	data() {
		return {
			proveedor: null,
			exporting: false,
		};
	},
	mounted() {
		this.getProveedores();
	},
	methods: {
		...mapActions("co_conf_proveedores", ["getProveedores"]),
		...mapMutations("co_conf_proveedores", [
			"removeProveedor",
			"setFilterSearch",
		]),

		setDataEdit(proveedor) {
			this.proveedor = proveedor;
		},
		openModal() {
			this.proveedor = null;
			this.$bvModal.show("modal-agregar-co-proveedores");
		},
		showMsgBoxDeleteConfirm(id) {
			this.$bvModal
				.msgBoxConfirm(
					`¿Está seguro de que desea eliminar este proveedor?`,
					{
						title: "Favor de confirmar",
						size: "sm",
						buttonSize: "sm",
						okVariant: "danger",
						cancelVariant: "light",
						okTitle: "Confirmar",
						cancelTitle: "Cancelar",
						headerClass: "pt-3 pb-2 border-bottom-0",
						footerClass: "p-2 border-top-0",
						centered: true,
					}
				)
				.then((confirm) => {
					if (confirm) {
						this.remove(id);
					}
				});
		},
		async remove(id) {
			try {
				const response = await axios.delete(
					BaseUrl + `/api/co/proveedor/${id}`
				);
				if (response.data.success) this.removeProveedor(id);
			} catch (e) {
				console.log(e);
			}
		},
		exportExcel() {
			this.exporting = true;
			this.errorInExport = false;
			try {
				window.location = BaseUrl + `/api/co/proveedores/exportar`;
				setTimeout(() => this.afterExport(), 3000);
			} catch (e) {
				this.errorInExport = true;
			}
		},
		afterExport() {
			this.exporting = false;
		},
		hasPermission(funcion) {
			if (this.permissions.length) {
				const permiso = this.permissions.find(
					(permiso) => permiso.idFuncion == funcion
				);
				if (permiso) return true;
				return false;
			}
		},
		setIconPagoCredito(value) {
			if (value) {
				return "fas fa-check-circle text-success";
			}else {
				return "fas fa-times-circle text-danger";
			}
		},
	},
	computed: {
		...mapState(["permissions"]),
		...mapGetters("co_conf_proveedores", ["proveedoresFiltered"]),
		...mapState("co_conf_proveedores", ["busyProveedores", "filter"]),
	},
	watch: {},
};
</script>
