<template>
	<div class="modal fade" id="modal-all-notifications" tabindex="-1" role="dialog" aria-labelledby="modal-ticket-title" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header bg-light text-dark">
					<h1 class="modal-title display-1" id="exampleModalLongTitle" style="font-size:25px">
						Notificaciones &nbsp; <button class="btn btn-danger btn-sm">Marcar todas como leidas</button>
					</h1>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					  	<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">

					<center>
						<div class="spinner-border text-secondary my-2" role="status" v-if="isBusyNot">
							<span class="sr-only">Loading...</span>
						</div>
					</center>
					<div class="list-group notifications-all-scroll">
						<notification-component v-for="(notification, index) in notifications" :notification="notification" :key="index" />
						<infinite-loading @infinite="getNotifications" spinner="spiral">
			 				<span slot="no-more"></span>
			 				<template slot="spinner">
								
			 				</template>
			 				<template slot="no-results">No se encontraron notificaciones</template>
			 			</infinite-loading>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
    import { mapState, mapMutations, mapActions } from 'vuex'
	export default {
		props: {

		},
		data(){
			return {
				page: 1,
				infiniteId: +new Date(),
			}
		},
		mounted(){
			// this.getNotifications()
		},
		methods:{
			...mapMutations('notifications',['setNotCount', 'setIdNotifications', 'addNotifications']),
			getNotifications($state)
			{
				var api = BaseUrl + `/api/notifications`
				
				axios.get(api, {
			        params: {
			          page: this.page
			        },
			    }).then( response  => {
			        if (response.data.data.length) {
			          this.page += 1;
			          this.addNotifications(response.data.data)
			          $state.loaded();
			        } else {
			          $state.complete();
			        }
			    });
			},
			selectedNotification(notification){
				const idNotification = notification.data.id;
				const route = notification.data.route_name;
				this.$router.push( { path: BaseUrl + route } , () => {
					this.bandera = this.isNotificated ? false : true;
					this.setIdNotifications(this.bandera);
				});
			},
		},
		computed:{
			...mapState('notifications', ['notifications', 'isBusyNot', 'isNotificated']),
			time() {
                return moment(this.conversation.last_time, "YYYY-MM-DD hh:mm:ss")
                        .locale('es').fromNow();
            },
		},
		watch:{
		
		},
	}
</script>
<style>
	.shadow{
		/*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19); width: 380px;*/
	}
	.notifications-all-scroll{
        max-height: calc(80vh);
        overflow-y:auto;
    }
</style>


