<template>
	<li class="nav-item dropdown mr-0 mt-2">
		<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<i class="fas fa-bell"></i>  
			<span class="badge badge-danger" v-show="notCount > 0">{{ notCount }}</span> 
		</a>
		<infinite-loading @infinite="getFirstNotifications">
 			<span slot="no-more"></span>
 			<span slot="spinner"></span>
 			<span slot="no-results"></span>
 		</infinite-loading>
		<ul class="dropdown-menu dropdown-menu-right pt-0 pb-0" style="border: 1px solid #c4c4c4; box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19); width: 380px;">
			<notifications-list-component />
		</ul>
	</li>
</template>
<script>
    import { mapState, mapMutations } from 'vuex'
	export default {
		data(){
			return {
				page: 1,
			}
		},
		mounted(){
			this.getNotificationsCount()
		},
		methods:{
			...mapMutations('notifications',['addUnreadNotifications', 'setNotCount', 'changeIsBusyNot', 'addNotifications']),
			getFirstNotifications($state)
			{		
				this.changeIsBusyNot()
				var api = BaseUrl + `/api/unread-notifications`
				axios.get(api, {
			        params: {
			          page: this.page
			        },
			    }).then( response  => {
			        if (response.data.data.length) {
			          	this.addUnreadNotifications(response.data.data)
						this.changeIsBusyNot()
			         $state.complete();
			        } else {
						this.changeIsBusyNot()
			         	$state.complete();
			        }
			    });

			    var api = BaseUrl + `/api/notifications`
				axios.get(api, {
			        params: {
			          page: this.page
			        },
			    }).then( response  => {
			        if (response.data.data.length) {
			          	this.addNotifications(response.data.data)
			         	$state.complete();
			        } else {
			         	$state.complete();
			        }
			    });
			},
			getNotificationsCount()
			{
				axios.get(BaseUrl + `/api/notifications/count`)
				.then(response =>{
					this.setNotCount(response.data)
				})
			}
		},
		computed:{
			...mapState('notifications', ['notifications', 'notCount']),
		},
	}
</script>


