<template>
	<b-container fluid>
		<b-row class="mt-3">
			<b-col lg="3">
				<!-- v-if="hasPermission('se.accidente.registrar')" -->
				<b-button
					size="sm"
					variant="danger"
					class="mt-2"
					@click="
						(titleModalAccidente = 'Registrar Accidente'),
							openModal()
					"
				>
					Agregar registro
				</b-button>
			</b-col>
			<b-col lg="6">
				<h1 class="text-center mb-0">Investigación de Accidentes</h1>
			</b-col>
			<b-col lg="3">
				<b-button
					:variant="variantButtonSeguimiento"
					class="float-right mt-2"
					size="sm"
					@click="setShowTableSeguimiento"
				>
					<i class="fas fa-folder-open mr-1"></i> Seguimiento
				</b-button>
			</b-col>
		</b-row>
		<b-card class="my-3" no-body>
			<b-row class="my-3 mx-2">
				<b-col lg="4">
					<b-form inline >
						<div class="input-group bg-white">
							<div class="input-group-prepend">
								<div class="mr-3 ml-2">
									<small
										><strong
											>Colaborador:</strong
										></small
									>
								</div>
							</div>
							<b-form-select
								size="sm"
								:options="colaboradores"
								v-model="colaboradorSelected"
							>
								<template v-slot:first>
									<option :value="null">Seleccione</option>
								</template>
							</b-form-select>
						</div>
						<div class="input-group bg-white ml-3">
							<div class="input-group-prepend">
								<div class="mr-3 ml-2">
									<small
										><strong
											>Clasificacion:</strong
										></small
									>
								</div>
							</div>
							<b-form-select
								size="sm"
								:options="clasificaciones"
								v-model="clasificacionSelected"
							>
								<template v-slot:first>
									<option :value="null">Todas</option>
								</template>
							</b-form-select>
						</div>
					</b-form>
				</b-col>
				<b-col lg="4" class="text-center">
					<h3 v-if="!showTableSeguimiento">Lista de Accidentes</h3>
					<h3 v-else>Seguimiento a Recomendaciones</h3>
				</b-col>
				<b-col lg="2"></b-col>
				<b-col lg="2">
					<div
						class="input-group w-100 bg-white border"
						id="input-shadow"
					>
						<div class="input-group-prepend bg-light mr-1 ml-3">
							<div class="pt-1 bg-white">
								<i class="fas fa-search"></i>
							</div>
						</div>
						<b-form-input
							id="input-search"
							size="sm"
							class="form-control border-0"
							placeholder="Escribe tu busqueda aquí"
							:value="search"
							@input="setSearch"
							autocomplete="off"
						></b-form-input>
					</div>
				</b-col>
			</b-row>

			<se-accidentes-table-lista-component
				v-if="!showTableSeguimiento"
				:filter="filter"
				@setDataEdit="setDataEdit($event)"
				@setDataDelete="setDataDelete($event)"
			/>
			<se-accidentes-table-seguimiento-component
				v-else
				:filter="filter"
			/> 
		</b-card>
		<modal-component
			:id="'modal-accidente'"
			:title="titleModalAccidente"
			:hideFooter="true"
			:hideHeader="true"
			:sizeModal="sizeModalAccidente"
		>
			<template slot="content">
				<se-accidentes-form-accidente-component
					:accidente="accidente"
					@setSizeModal="setSizeModalAccidente"
				/>
			</template>
		</modal-component>
		<modal-component :title="'Eliminar'" :id="'modal-delete'">
			<template slot="content">
				<form-delete />
			</template>
		</modal-component>
	</b-container>
</template>

<script>
import { mapMutations, mapState, mapActions } from "vuex";
export default {
	data() {
		return {
			clasificaciones: [
				"Incidente",
				"Accidente A",
				"Accidente B",
				"Accidente C",
				"Accidente F",
			],
			vistaSelected: "Lista",
			filter: "",
			accidente: null,
			titleModalAccidente: "",
			sizeModalAccidente: "xl",
			showTableSeguimiento: false,
		};
	},
	mounted() {
		// this.getAccidentes();
		// this.getColaboradores();
	},
	methods: {
		...mapActions("se_accidentes", [
			"getAccidentes", 
			"getColaboradores"
		]),
		...mapMutations("se_accidentes", [
			"setColaborador",
			"setClasificacion",
			"setSearch"
		]),
		openModal() {
			this.accidente = null;
			this.$bvModal.show("modal-accidente");
		},
		setDataEdit(data) {
			this.accidente = data;
			this.titleModalAccidente = "Editar Accidente";
			this.$bvModal.show("modal-accidente");
		},
		setDataDelete(data) {
			this.accidente = data;
			this.$bvModal.show("modal-accidente-delete");
		},
		hasPermission(funcion) {
			if (this.permissions.length) {
				const permiso = this.permissions.find(
					(permiso) => permiso.idFuncion == funcion
				);
				if (permiso) return true;
				return false;
			}
		},
		setSizeModalAccidente(size) {
			this.sizeModalAccidente = size;
		},
		setShowTableSeguimiento() {
			this.showTableSeguimiento = !this.showTableSeguimiento
		}
	},
	computed: {
		...mapState("se_accidentes", [
			"search",
			"colaboradores",
			"accidentes",
			"colaboradorSelected",
			"clasificacionSelected",
		]),
		...mapState(["permissions", "usuario"]),
		variantButtonSeguimiento() {
			if(this.showTableSeguimiento)
				return 'secondary'
			else 
				return 'outline-secondary'
		}
	},
};
</script>
