<template>
	<b-overlay
		:show="overlay"
		rounded="sm"
		opacity="1.0"
		blur="1px"
		variant="transparent"
	>
		<hr class="mt-0 pt-0">

        <b-row>
			<b-col>
                <fieldset class="scheduler-border">
                    <legend class="scheduler-border">
                        Datos del Accidente
                    </legend>

                    <b-row>
                        <b-col lg="4">
                            <b-form-group>
                                <template v-slot:label>
                                    <div class="lab-form">
                                        Titulo<span class="req">*</span>
                                    </div>
                                </template>
                                <b-form-input
                                    placeholder="Ingrese el titulo del accidente"
                                    v-model="$v.form.titulo.$model"
                                    :state="
                                        $v.form.titulo.$dirty ? !$v.form.titulo.$error : null
                                    ">
                                </b-form-input>
                                <b-form-invalid-feedback id="feedback-titulo">
                                    Campo obligatorio
                                </b-form-invalid-feedback>
                            </b-form-group>
                        </b-col>
                        <b-col lg="4">
                            <b-form-group>
                                <template v-slot:label>
                                    <div class="lab-form">
                                        Involucrado<span class="req">*</span>
                                    </div>
                                </template>
                                <b-form-select>

                                </b-form-select>
                            </b-form-group>
                        </b-col>
                        <b-col lg="2">
                            <b-form-group>
                                <template v-slot:label>
                                    <div class="lab-form">
                                        Fecha<span class="req">*</span>
                                    </div>
                                </template>
                                <b-form-input
                                    type="date"
                                    v-model="$v.form.fecha.$model"
                                    :state="
                                        $v.form.fecha.$dirty ? !$v.form.fecha.$error : null
                                    "
                                ></b-form-input>
                                <b-form-invalid-feedback id="feedback-fecha">
                                    Campo obligatorio
                                </b-form-invalid-feedback>
                            </b-form-group>
                        </b-col>
                        <b-col lg="2">
                            <b-form-group>
                                <template v-slot:label>
                                    <div class="lab-form">
                                        Hora<span class="req">*</span>
                                    </div>
                                </template>
                                <b-form-input
                                    type="time"
                                    v-model="$v.form.hora.$model"
                                    :state="
                                        $v.form.hora.$dirty ? !$v.form.hora.$error : null
                                    "
                                ></b-form-input>
                                <b-form-invalid-feedback id="feedback-hora">
                                    Campo obligatorio
                                </b-form-invalid-feedback>
                            </b-form-group>
                        </b-col>
                    </b-row>

                    <b-row>
                        <b-col lg="3">
                            <b-form-group>
                                <template v-slot:label>
                                    <div class="lab-form">
                                        Clasificación:<span class="req">*</span>
                                    </div>
                                </template>
                                <b-form-select
                                    :options="clasificacionesAccidente"
                                    v-model="$v.form.clasificacion.$model"
                                    :state="
                                        $v.form.clasificacion.$dirty
                                            ? !$v.form.clasificacion.$error
                                            : null
                                    "
                                >
                                    <template v-slot:first>
                                        <option :value="null">Seleccione la clasificación del accidente</option>
                                    </template>
                                </b-form-select>
                                <b-form-invalid-feedback id="feedback-clasificacion">
                                    Campo obligatorio
                                </b-form-invalid-feedback>
                            </b-form-group>
                        </b-col>
                        <b-col lg="3">
                            <b-form-group>
                                <template v-slot:label>
                                    <div class="lab-form">
                                        Testigos<span class="req">*</span>
                                    </div>
                                </template>
                                <b-form-select>
                                </b-form-select>
                            </b-form-group>
                        </b-col>
                        <b-col lg="3">
                            <b-form-group>
                                <template v-slot:label>
                                    <div class="lab-form">
                                        Lugar<span class="req">*</span>
                                    </div>
                                </template>
                                <b-form-input
                                    placeholder="Ingrese el lugar del accidente"
                                    v-model="$v.form.lugar.$model"
                                    :state="
                                        $v.form.lugar.$dirty ? !$v.form.lugar.$error : null
                                    "
                                ></b-form-input>
                                <b-form-invalid-feedback id="feedback-lugar">
                                    Campo obligatorio
                                </b-form-invalid-feedback>
                            </b-form-group>
                        </b-col>
                        <b-col lg="3">
                            <b-form-group>
                                <template v-slot:label>
                                        <div class="lab-form">
                                            Cuenta<span class="req">*</span>
                                        </div>
                                    </template>
                                <b-form-input
                                    readonly
                                    v-model="$v.form.cuenta.$model"
                                    placeholder="Asigne una cuenta"
                                    :state="
                                        $v.form.cuenta.$dirty
                                            ? !$v.form.cuenta.$error
                                            : null
                                    "
                                >
                                </b-form-input>

                                <b-form-invalid-feedback id="feedback-proveedor">
                                    Campo obligatorio
                                </b-form-invalid-feedback>

                                <b-button
                                    v-if="form.cuenta"
                                    variant="link"
                                    class="text-secondary float-right"
                                    style="cursor: pointer"
                                    @click="cambiarCuenta()"
                                    ><small>Cambiar cuenta</small>
                                </b-button>

                                <b-button
                                    v-else
                                    variant="link"
                                    class="text-secondary float-right"
                                    style="cursor: pointer"
                                    @click="asignar('cuenta')"
                                    ><small>Asignar cuenta</small>
                                </b-button>

                            </b-form-group>
                        </b-col>
                    </b-row>

                    <b-row>
                        <b-col lg="6">
                            <b-form-group>
                                <template v-slot:label>
                                    <div class="lab-form">
                                        Actividad<span class="req">*</span>
                                    </div>
                                </template>
                                <b-form-input
                                    placeholder="Ingrese la actividad que realizaba el trabajador"
                                    v-model="$v.form.actividad.$model"
                                    :state="
                                        $v.form.actividad.$dirty
                                            ? !$v.form.actividad.$error
                                            : null
                                    "
                                >
                                </b-form-input>
                                <b-form-invalid-feedback id="feedback-actividad">
                                    Campo obligatorio
                                </b-form-invalid-feedback>
                            </b-form-group>
                        </b-col>
                        <b-col lg="6">
                            <b-form-group>
                                <template v-slot:label>
                                    <div class="lab-form">
                                        Hallazgo<span class="req">*</span>
                                    </div>
                                </template>
                                <b-form-input
                                    placeholder="Ingrese hallazgo del acidente"
                                    v-model="$v.form.hallazgo.$model"
                                    :state="
                                        $v.form.hallazgo.$dirty ? !$v.form.hallazgo.$error : null
                                    "
                                ></b-form-input>
                                <b-form-invalid-feedback id="feedback-hallazgo">
                                    Campo obligatorio
                                </b-form-invalid-feedback>
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col lg="6">
                            <b-form-group>
                                <template v-slot:label>
                                    <div class="lab-form">
                                        Versión<span class="req">*</span>
                                    </div>
                                </template>
                                <b-form-textarea
                                    rows="3"
                                    max-rows="6"
                                    placeholder="Ingrese la versión de los testigos"
                                    v-model="$v.form.versionTestigos.$model"
                                    :state="
                                        $v.form.versionTestigos.$dirty
                                            ? !$v.form.versionTestigos.$error
                                            : null
                                    "
                                >
                                </b-form-textarea>
                                <b-form-invalid-feedback id="feedback-version">
                                    Campo obligatorio
                                </b-form-invalid-feedback>
                            </b-form-group>
                        </b-col>

                        <b-col lg="6">
                            <b-form-group>
                                <template v-slot:label>
                                    <div class="lab-form">
                                        Análisis Causa Raíz<span class="req">*</span>
                                    </div>
                                </template>
                                <b-form-textarea
                                    rows="3"
                                    max-rows="6"
                                    placeholder="Ingrese su análisis"
                                    v-model="$v.form.analisis.$model"
                                    :state="
                                        $v.form.analisis.$dirty
                                            ? !$v.form.analisis.$error
                                            : null
                                    "
                                >
                                </b-form-textarea>
                                <b-form-invalid-feedback id="feedback-analisis">
                                    Campo obligatorio
                                </b-form-invalid-feedback>
                            </b-form-group>
                        </b-col>
                    </b-row>

                </fieldset>

                <fieldset class="scheduler-border">
                    <legend class="scheduler-border">
                        Datos del Trabajador
                    </legend>

                    <b-row>
                        <b-col lg="2">
                            <b-form-group>
                                <template v-slot:label>
                                    <div class="lab-form">
                                        Experiencia<span class="req">*</span>
                                    </div>
                                </template>
                                <b-form-input
                                    type="number"
                                    placeholder="Experiencia del trabajador"
                                    v-model="$v.form.experiencia.$model"
                                    :state="
                                        $v.form.experiencia.$dirty
                                            ? !$v.form.experiencia.$error
                                            : null
                                    "
                                >
                                </b-form-input>
                                <b-form-invalid-feedback id="feedback-experiencia">
                                    Campo obligatorio
                                </b-form-invalid-feedback>
                            </b-form-group>
                        </b-col>
                        <b-col lg="3">
                            <b-form-group>
                                <template v-slot:label>
                                    <div class="lab-form">
                                        Horario<span class="req">*</span>
                                    </div>
                                </template>
                                <b-form-select
                                    :options="horario"
                                    v-model="$v.form.horario.$model"
                                    :state="
                                        $v.form.horario.$dirty
                                            ? !$v.form.horario.$error
                                            : null
                                    "
                                >
                                    <template v-slot:first>
                                        <option :value="null">Seleccione</option>
                                    </template>
                                </b-form-select>
                                <b-form-invalid-feedback id="feedback-horario">
                                    Campo obligatorio
                                </b-form-invalid-feedback>
                            </b-form-group>
                        </b-col> 
                        <b-col lg="3">
                            <b-form-group>
                                <template v-slot:label>
                                    <div class="lab-form">
                                        Categoría<span class="req">*</span>
                                    </div>
                                </template>
                                <b-form-select
                                    :options="categoriasTrabajador"
                                    v-model="$v.form.categoriaTrabajador.$model"
                                    :state="
                                        $v.form.categoriaTrabajador.$dirty
                                            ? !$v.form.categoriaTrabajador.$error
                                            : null
                                    "
                                >
                                    <template v-slot:first>
                                        <option :value="null">Seleccione</option>
                                    </template>
                                </b-form-select>
                                <b-form-invalid-feedback id="feedback-categoria">
                                    Campo obligatorio
                                </b-form-invalid-feedback>
                            </b-form-group>
                        </b-col> 
                        <b-col lg="2">
                            <b-form-group>
                                <template v-slot:label>
                                    <div class="lab-form">
                                        Inicio de Incapacidad<span class="req">*</span>
                                    </div>
                                </template>
                                <b-form-input
                                    type="date"
                                    v-model="$v.form.fechaInicioInapacidad.$model"
                                    :state="
                                        $v.form.fechaInicioInapacidad.$dirty ? !$v.form.fechaInicioInapacidad.$error : null
                                    "
                                ></b-form-input>
                                <b-form-invalid-feedback id="feedback-fechaInicioInapacidad">
                                    Campo obligatorio
                                </b-form-invalid-feedback>
                            </b-form-group>
                        </b-col>
                        <b-col lg="2">
                            <b-form-group>
                                <template v-slot:label>
                                    <div class="lab-form">
                                        Fin de Incapacidad<span class="req">*</span>
                                    </div>
                                </template>
                                <b-form-input
                                    type="date"
                                    v-model="$v.form.fechaFinInapacidad.$model"
                                    :state="
                                        $v.form.fechaFinInapacidad.$dirty ? !$v.form.fechaFinInapacidad.$error : null
                                    "
                                ></b-form-input>
                                <b-form-invalid-feedback id="feedback-fechaFinInapacidad">
                                    Campo obligatorio
                                </b-form-invalid-feedback>
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col lg="12">
                            <b-form-group>
                                <template v-slot:label>
                                    <div class="lab-form">
                                        Descripción<span class="req">*</span>
                                    </div>
                                </template>
                                <b-form-textarea
                                    rows="3"
                                    max-rows="6"
                                    placeholder="Ingrese la descripción del trabajador"
                                    v-model="$v.form.descripcionTrabajador.$model"
                                    :state="
                                        $v.form.descripcionTrabajador.$dirty
                                            ? !$v.form.descripcionTrabajador.$error
                                            : null
                                    "
                                >
                                </b-form-textarea>
                                <b-form-invalid-feedback id="feedback-descripcion">
                                    Campo obligatorio
                                </b-form-invalid-feedback>
                            </b-form-group>
                        </b-col>
                    </b-row>
                </fieldset>

                <fieldset class="scheduler-border">
                    <legend class="scheduler-border">
                        Seguimiento a Recomendaciones
                    </legend>
              
                    <b-form-group>
                        <template v-slot:label>
                            <div class="lab-form">
                                Acciones a seguir<span class="req">*</span>
                            </div>
                        </template>
                        <b-form-textarea
                            rows="3"
                            max-rows="6"
                            placeholder="Ingrese su análisis"
                            v-model="$v.form.accionesSeguimiento.$model"
                            :state="
                                $v.form.accionesSeguimiento.$dirty
                                    ? !$v.form.accionesSeguimiento.$error
                                    : null
                            "
                        >
                        </b-form-textarea>
                        <b-form-invalid-feedback id="feedback-hallazgo">
                            Campo obligatorio
                        </b-form-invalid-feedback>
                    </b-form-group>

                    <b-row>
                        <b-col lg="4">
                            <b-form-group>
                                <template v-slot:label>
                                    <div class="lab-form">
                                        Responsable<span class="req">*</span>
                                    </div>
                                </template>
                                <b-form-select>

                                </b-form-select>
                            </b-form-group>
                        </b-col>
                        <b-col lg="4">
                            <b-form-group>
                                <template v-slot:label>
                                    <div class="lab-form">
                                        Evidencia<span class="req">*</span>
                                    </div>
                                </template>
                                <b-form-file
                                    placeholder="Agrege su evidencia"
                                    v-model="$v.form.imagenEvidencia.$model"
                                    :state="
                                        $v.form.imagenEvidencia.$dirty ? !$v.form.imagenEvidencia.$error : null
                                    "
                                ></b-form-file>
                                <b-form-invalid-feedback id="feedback-hallazgo">
                                    Campo obligatorio
                                </b-form-invalid-feedback>
                            </b-form-group>
                        </b-col>
                        <b-col lg="4">
                            <b-form-group>
                                <template v-slot:label>
                                    <div class="lab-form">
                                        Costos<span class="req">*</span>
                                    </div>
                                </template>
                                <b-form-input
                                    placeholder="Ingrese el titulo del accidente"
                                    v-model="$v.form.costos.$model"
                                    :state="
                                        $v.form.costos.$dirty ? !$v.form.costos.$error : null
                                    ">
                                </b-form-input>
                                <b-form-invalid-feedback id="feedback-costos">
                                    Campo obligatorio
                                </b-form-invalid-feedback>
                            </b-form-group>
                        </b-col>
                    </b-row>
                </fieldset>

				<!-- <fieldset class="scheduler-border">
					<legend class="scheduler-border">
						Resultados
					</legend>

					<b-row>
						<b-col lg="5" class="pr-0">
							<b-form-group>
								<template v-slot:label>
									<div class="lab-form">
										Tipo
									</div>
								</template>
								<b-form-select
									size="sm"
									v-model="tipoResultado"
									:options="tiposResultados"
								>
									<template v-slot:first>
										<option :value="null" disabled
											>Seleccione</option
										>
									</template>
								</b-form-select>
								<small class="text-danger" v-show="errorTipoResultado"
									>Requerido</small
								>
							</b-form-group>
						</b-col>
						<b-col lg="4" class="pr-0">
							<b-form-group>
								<template v-slot:label>
									<div class="lab-form">
										Valor
									</div>
								</template>
								<b-form-input
									v-model="valorResultado"
									size="sm"
									placeholder="Indique"
								></b-form-input>
								<small class="text-danger" v-show="errorValorResultado"
									>Requerido</small
								>
							</b-form-group>
						</b-col>
						<b-col lg="3">
							<b-button
								size="sm"
								block
								style="margin-top: 28px"
								@click="agregarResultados"
								>Agregar</b-button
							>
						</b-col>
					</b-row>
					<h5
						v-show="!form.resultados.length"
						class="text-center bg-light mt-3 p-3"
					>
						No se han registrado resultados
					</h5>

					<b-table-simple v-if="form.resultados.length > 0" small responsive>
						<b-thead>
							<b-tr class="text-center">
								<b-th width="42%">Tipo</b-th>
								<b-th width="42%">Valor</b-th>
								<b-th width="16%"></b-th>
							</b-tr>
						</b-thead>
						<b-tbody>
							<b-tr
								class="text-center"
								v-for="(resultado, index) in form.resultados"
								:key="index"
							>
								<b-td>{{ resultado.tipo }}</b-td>
								<b-td>{{ resultado.valor }}</b-td>
								<b-td>
									<small
										><b-link
											href="#"
											class="text-danger"
											@click="quitarResultado(index)"
											>Quitar</b-link
										></small
									>
								</b-td>
							</b-tr>
						</b-tbody>
					</b-table-simple>
				</fieldset> -->
				<!-- ARCHIVO  <template
					v-if="
						!historial ||
							changeFile ||
							historial.nombreFile == 'S/A'
					"
				>
					<b-form-group label-for="file-default">
						<template v-slot:label>			
							<div class="lab-form">
								Adjuntar archivo
							</div>
						</template>
						<b-form-file
							id="file-default"
							name="file"
							placeholder="Seleccione un archivo"
							@change="setFile"
							v-model="$v.form.file.$model"
							:state="
								$v.form.file.$dirty
									? !$v.form.file.$error
									: null
							"
						>
						</b-form-file>
						<b-form-invalid-feedback id="feedback-file">
							Campo obligatorio
						</b-form-invalid-feedback>
					</b-form-group>
				</template>
				
				<template
					v-if="
						historial &&
							historial.nombreFile != 'S/A' &&
							!changeFile
					"
				>
					<div class="lab-form">
						Archivo
					</div>
					<div class="p-2">
						<h4>
							<small>
							<i class="fas fa-file-alt mr-2"></i>
							{{ historial.nombreFile }}
							<b-link
								@click="changeFile = !changeFile"
								class="text-danger"
							>
								<small><small><i class="fas fa-edit ml-2"></i></small></small>
							</b-link>
							</small>
						</h4>
					</div>
				</template> -->

                <div class="d-flex flex-row-reverse bd-highlight">
                    <b-button
                        variant="danger"
                        class="ml-2 my-2"
                        @click="submit"
                    >
                        GUARDAR
                    </b-button>
                    <b-button
                        variant="white" class="link-light my-2"
                        @click="cancel"
                    >
                        CANCELAR
                    </b-button>
                </div>
			</b-col>
			<b-col
				v-if="asignarCuenta"
				class="border-left"
			>
				<tipo-cuenta-component
					@setCuenta="setCuenta($event)"
					:dataCuentaEdit="dataCuentaEdit"
					:seccion="'se.sa'"
					@cancelar="terminarAsignar"
				/>

			</b-col>
		</b-row>
	</b-overlay>
</template>

<script>
import { mapMutations, mapState, mapActions } from "vuex";
import { required } from "vuelidate/lib/validators";

export default {
	props: {
		accidente: Object,
	},
	data() {
		return {
			asignarCuenta: false,
			changeFile: false,
			overlay: false,
			form: {
				titulo: "",
				involucrado: "",
				testigos: "",
				fecha: "",
				hora: "",
				lugar: "",
				tipoCuenta: null,
				cuenta: null,
				clasificacion: null,
				experiencia: 0,
                horario: null,
				categoriaTrabajador: null,
                actividad: "",
                descripcionTrabajador: "",
                versionTestigos: "",
                analisis: "",
                fechaInicioInapacidad: "",
                fechaFinInapacidad: "",
                costos: "",
                hallazgo: "",
                accionesSeguimiento: "",
                responsable: "",
                imagenEvidencia: "",
                costos: 0,
			},
			clasificacionesAccidente: [
				"Incidente",
				"Accidente A",
				"Accidente B",
				"Accidente C",
				"Accidente F",
			],
            horario: ["Diurno", "Nocturno"],
            categoriasTrabajador: ["Servicio", "Administrativo"],
		};
	},
	mounted() {
		if (this.accidente) this.setDataEdit();
	},
	methods: {
		...mapMutations(["modalSubmit"]),
		...mapMutations("se_accidentes", [
			"addAccidente",
			"updateAccidente",
		]),
		async submit() {
			this.$v.$touch();
		},
		setDataEdit() {
			
		},
		cancel() {
			this.$bvModal.hide("modal-accidente");
		},
		//METODODS PARA ASIGNACIÓN DE CUENTA
		asignar(tipo) {
			this.$emit('setSizeModal', 'xl');
			if(tipo == 'descripcion') {
				this.asignarDescripcion = true
				this.asignarCuenta = false
			} else {
				this.asignarDescripcion = false
				this.asignarCuenta = true
			}
		},
		terminarAsignar() {
			this.$emit('setSizeModal', 'xl');
			this.asignarDescripcion = false;
			this.asignarCuenta = false;
		},
		setCuenta(dataCuenta) {
			this.$v.form.tipoCuenta.$model = dataCuenta.tipoCuenta
			this.$v.form.cuenta.$model = dataCuenta.cuenta
			this.terminarAsignar()
		},
		cambiarCuenta() {
			this.dataCuentaEdit = {
				cuenta: this.form.cuenta,
				tipoCuenta: this.form.tipoCuenta
			}
			this.asignar('cuenta')
		},
		//TERMINAN METODODS PARA ASIGNACIÓN DE CUENTA
	},
	computed: {
		...mapState("se_accidentes", ["accidente"]),
		...mapState(["usuario"]),

		stateTipoCuenta() {
			return {
				tipoCuenta: this.$v.form.tipoCuenta.$dirty
					? !this.$v.form.tipoCuenta.$error
					: null,
				cuenta: this.$v.form.cuenta.$dirty ? !this.$v.form.cuenta.$error : null,
			};
		},
	},
	validations: {
		form: {
			titulo: { required },
            involucrado: { required },
            testigos: { required },
            fecha: { required },
            hora: { required },
            lugar: { required },
            tipoCuenta: { required },
            cuenta: { required },
            clasificacion: { required },
            experiencia: { required },
            horario: { required },
            categoriaTrabajador: { required },
            actividad: { required },
            descripcionTrabajador: { required },
            versionTestigos: { required },
            analisis: { required },
            fechaInicioInapacidad: { required },
            fechaFinInapacidad: { required },
            costos: { required },
            hallazgo: { required },
            accionesSeguimiento: { required },
            responsable: { required },
            fecha: { required },
            imagenEvidencia: { required },
            costos: { required }
		},
	},
	watch: {
		
	},
};
</script>

<style>
fieldset.scheduler-border {
	border: 1px solid #dee2e6 !important;
	padding: 0 1.4em 0.5em 1.4em !important;
	margin: 0 0 1.5em 0 !important;
	-webkit-box-shadow: 0px 0px 0px 0px #000;
	box-shadow: 0px 0px 0px 0px #000;
}
legend.scheduler-border {
	width: inherit; /* Or auto */
	padding: 0 10px; /* To give a bit of padding on the left and right */
	border-bottom: none;
}
</style>
