<template>
    <b-table
        size="sm"
        class="mb-0"
        hover
        striped
        bordered
        :fields="fields"
        :items="accidentesFiltered"
        :filter="search"
    >

        <template v-slot:cell(fecha)="scope">
            {{scope.item.fecha}} {{scope.item.hora}} 
        </template>
    
        <template v-slot:cell(actions)="scope">
            <div class="text-center">
                <b-dropdown
                    id="dropdown-left"
                    right
                    variant="light"
                    size="sm"
                    no-caret
                    class="shadows"
                >
                    <template v-slot:button-content>
                        <i class="fas fa-ellipsis-v px-2"></i>
                    </template>
                    <b-dropdown-item
                        @click="dataEdit(scope.item)"
                    >
                        <i class="fas fa-edit px-2"></i>
                        Editar
                    </b-dropdown-item>
                    <b-dropdown-item
                        href="#"
                        @click="dataDelete(scope.item)"
                    >
                        <i class="fas fa-trash px-2"></i>
                        Eliminar
                    </b-dropdown-item>
                    <b-dropdown-item
                        href="#"
                        @click="report(scope.item)"
                    >
                        <i class="fas fa-file-alt px-2"></i>
                        Reporte
                    </b-dropdown-item>
                </b-dropdown>
            </div>
        </template>
    </b-table>

</template>

<script>
import { mapMutations, mapState, mapActions, mapGetters } from "vuex";
export default {
	data() {
		return {
			fields: [
				{
                    key: "titulo",
                    label: "Título",
                },
                {
                    key: "involucrado",
                    label: "Involucrado",
                },
                {
                    key: "fecha",
                    label: "Fecha y Hora",
                },
                {
                    key: "lugar",
                    label: "Lugar",
                },
                {
                    key: "cuenta",
                    label: "Cuenta",
                    class: "text-center"
                },
                {
                    key: "clasificacion",
                    label: "Clasificación",
                    class: "text-center"
                },
                {
                    key: "actions",
                    label: "Acciones",
                    class: "text-center"
                }
			],
		};
	},
	mounted() {

	},
	methods: {
        dataEdit(data) {
            this.$emit('setDataEdit', data)
        },
        dataDelete(data) {
            this.$emit('setDataDelete', data)
        }
	},
	computed: {
        ...mapState("se_accidentes", ["search"]),
        ...mapGetters("se_accidentes", ["accidentesFiltered"]),
		...mapState(["permissions", "usuario"]),
	},
};
</script>
