<template>
	<b-table
		size="sm"
		class="mb-0"
		hover
		striped
		bordered
		:fields="fields"
		:items="accidentesFiltered"
        :filter="search"
	>
		<template v-slot:cell(evidencia)="row">
			<b-button
				variant="link"
				class="text-secondary"
				size="sm"
				@click="donwload($event)"
			>
				<i class="far fa-file-image mr-1"></i> {{ row.item.evidencia }}
			</b-button>
		</template>

		<template v-slot:cell(fechaReal)="row">
			<b-form-input
				:value="row.item.fechaReal"
				size="sm"
				type="date"
				@blur="update($event)"
			></b-form-input>
		</template>

		<template v-slot:cell(verificacion)="row">
			<b-form-select
				:value="row.item.verificacion"
				size="sm"
				:options="verificaciones"
				@change="update($event)"
			></b-form-select>
		</template>

		<template v-slot:cell(observacion)="row">
			<b-form-input
				:value="row.item.observacion"
				size="sm"
				@blur="update($event)"
			></b-form-input>
		</template>
	</b-table>
</template>

<script>
import { mapMutations, mapState, mapActions, mapGetters } from "vuex";
export default {
	data() {
		return {
			fields: [
				{
					key: "metodo",
					label: "Metodo",
				},
				{
					key: "hallazgo",
					label: "Hallazgo",
				},
				{
					key: "accionesSeguimiento",
					label: "Corrección",
				},
				{
					key: "responsable",
					label: "responsable",
				},
				{
					key: "fecha",
					label: "fecha",
				},
				{
					key: "costo",
					label: "Costo",
					class: "text-center",
				},
				{
					key: "evidencia",
					label: "Evidencia",
				},
				{
					key: "fechaReal",
					label: "Fecha Real",
				},
				{
					key: "verificacion",
					label: "Verificación",
				},
				{
					key: "observacion",
					label: "Observación",
				},
			],
			verificaciones: ["OK", "NO"],
		};
	},
	mounted() {},
	methods: {
		update(data) {
			//METODO PARA ACTUALIZAR DATOS DE LA TABLA
		},
        download(data) {
            //METODO PARA DESCARGAR O ABRIR EVIDENCIA
        }
	},
	computed: {
		...mapGetters("se_accidentes", ["accidentesFiltered"]),
		...mapState("se_accidentes", ["search"]),
		...mapState(["permissions", "usuario"]),
	},
};
</script>
