<template>
	<div>
		<fn-cg-ind-no-deducible-empleado
			v-if="itemActive == 'EM'"
			:empleados="empleados"
			:noDeducibles="noDeducibles"
		/>
		<fn-cg-ind-no-deducible-cuenta
			v-if="itemActive == 'CI' || itemActive == 'CE'"
			:cuentasExternas="cuentasExternas"
			:cuentasInternas="cuentasInternas"
			:noDeducibles="noDeducibles"
			:itemActive="itemActive"
		/>
	</div>
</template>

<script>
import { mapState, mapMutations, mapActions, mapGetters } from "vuex";

export default {
	props: {
		itemActive: String,
	},
	data() {
		return {
			empleados: [],
			noDeducibles: [],
			cuentasExternas: [],
			cuentasInternas: [],
		};
	},
	mounted() {
		if (this.dataFilter.inicio && this.dataFilter.fin)
			this.getNoDeducibles();
	},
	methods: {
		getNoDeducibles() {
			const inicio = this.dataFilter.inicio;
			const fin = this.dataFilter.fin;
			axios
				.get(
					BaseUrl +
						`/api/fn/cg/comprobaciones/no-deducibles?inicio=${inicio}&fin=${fin}`
				)
				.then((response) => {
					this.empleados = response.data.empleados;
					this.noDeducibles = response.data.no_deducibles;
					this.cuentasExternas = response.data.cuentas_externas;
					this.cuentasInternas = response.data.cuentas_internas;
				});
		},
	},
	computed: {
		...mapState("fn_cg_comprobaciones", ["dataFilter"]),
	},
	watch: {
		dataFilter: {
			handler(val, oldVal) {
				this.getNoDeducibles();
			},
			deep: true,
		},
	},
};
</script>
