<template>
	<b-container class="px-0">
		<div class="float-right">
			<div
				class="input-group w-100 mt-2 mb-3"
				v-if="itemActive == 'CE' && comprobacionesByCuenta.length"
			>
				<div class="input-group-prepend bg-white mr-3 pt-1">
					<small><strong>Filtrar por cliente:</strong></small>
				</div>
				<b-form-select
					style="padding-right: 60px"
					size="sm"
					v-model="selected"
					:options="searchData"
				>
					<template v-slot:first>
						<option :value="null">Todos</option>
					</template>
				</b-form-select>
			</div>
		</div>

		<b-table-simple
			v-if="filteredComprobacionesByCuenta.length"
			striped
			small
			caption-top
			responsive
			bordered
			style="font-size: 12px"
			class="shadow-sm"
			id="table-no-deducible-cuenta"
		>
			<b-thead class="bg-white text-center">
				<b-tr>
					<b-th style="width: 50%"> CUENTA </b-th>
					<b-th style="width: 25%"> NO. DE COMPROBACIONES </b-th>
					<b-th style="width: 25%"> TOTAL NO DEDUCIBLE </b-th>
				</b-tr>
			</b-thead>
			<b-tbody>
				<tr
					v-for="(cuenta, index) in filteredComprobacionesByCuenta"
					:key="index"
				>
					<td class="pl-3">
						{{ cuenta[0] }}
					</td>
					<td class="text-center">
						<h6 class="text-danger align-middle">
							{{ cuenta[1] }}
						</h6>
					</td>
					<td>
						<div class="d-flex w-100 justify-content-between">
							<label class="mb-0 ml-1"
								><strong
									><i
										class="fas fa-dollar-sign align-middle"
									></i></strong
							></label>
							<vue-numeric
								separator=","
								:precision="2"
								:read-only="true"
								:value="cuenta[2]"
							/>
						</div>
					</td>
				</tr>
			</b-tbody>

			<b-tfoot>
				<b-tr style="background-color: #237cb31f !important;">
					<b-td colspan="2" class="text-right"
						><strong>T o t a l:</strong></b-td
					>
					<td>
						<strong>
							<div class="d-flex w-100 justify-content-between">
								<label class="mb-0 ml-1"
									><strong
										><i
											class="fas fa-dollar-sign align-middle"
										></i></strong
								></label>
								<vue-numeric
									separator=","
									:precision="2"
									:read-only="true"
									:value="totalImportes"
								/>
							</div>
						</strong>
					</td>
				</b-tr>
			</b-tfoot>
		</b-table-simple>

		<div v-else style="font-size: 12px;">
			<div style="height: calc(80vh - 200px)">
				<icon-text-component
					:circleStyle="{
						backgroundColor: '#f4f4f6',
						color: '#45555f',
					}"
					:icon="'fas fa-hand-holding-usd'"
					:text="text"
				/>
			</div>
		</div>

		<div class="mt-3" v-if="filteredComprobacionesByCuenta.length">
			<GChart
				style="height: 400px;"
				type="ColumnChart"
				:data="chartData"
				:options="chartOptions"
			/>
		</div>
	</b-container>
</template>

<script>
import { mapState } from "vuex";

export default {
	props: {
		cuentasExternas: Array,
		cuentasInternas: Array,
		noDeducibles: Array,
		itemActive: String,
	},
	data() {
		return {
			selected: null,
			searchData: [],
			chartOptions: {
				bar: { groupWidth: "40%" },
				legend: "top",
				colors: ["#c00000"],
				animation: {
					duration: 900,
					easing: "linear",
					startup: true,
				},
				vAxis: {
					format: "percent",
				},
				chartArea: {
					left: 80,
					right: 80,
				},
			},
		};
	},
	methods: {
		ordenarDescendente(array, index) {
			return array
				.sort(function(a, b) {
					return a[index] - b[index];
				})
				.reverse();
		},
		addSearchData(item) {
			if (this.searchData.indexOf(item) == -1) this.searchData.push(item);
		},
	},
	computed: {
		...mapState("fn_cg_comprobaciones", ["dataFilter"]),

		comprobacionesByCuenta() {
			var arrData = [];
			var cuentas = [];
			this.searchData = [];
			if (this.itemActive == "CI") cuentas = this.cuentasInternas;
			else cuentas = this.cuentasExternas;
			if (cuentas) {
				cuentas.forEach((cuenta) => {
					var dataFiltered = this.noDeducibles.filter(
						(item) => item.cuenta == cuenta
					);
					var importe = dataFiltered.reduce(
						(suma, item) => suma + parseFloat(item.importe),
						0
					);
					const firstItem = cuenta.split("-", 1)[0];
					this.addSearchData(firstItem);
					arrData.push([
						cuenta,
						dataFiltered.length,
						importe,
						firstItem,
					]);
				}, this);
				return this.ordenarDescendente(arrData, 2);
			} else return [];
		},
		filteredComprobacionesByCuenta() {
			if (this.itemActive == "CI" || !this.selected) {
				return this.comprobacionesByCuenta;
			} else {
				return this.comprobacionesByCuenta.filter(
					(item) => item[3] == this.selected
				);
			}
		},
		chartData() {
			var arrData = [["Cuenta", "Porcentaje"]];
			if (this.filteredComprobacionesByCuenta) {
				this.filteredComprobacionesByCuenta.forEach((cuenta) => {
					var porcentaje =
						(cuenta[2] * 100) / this.totalImportes / 100;
					arrData.push([
						cuenta[0],
						parseFloat(porcentaje.toFixed(2)),
					]);
				}, this);
			}
			return arrData;
		},
		totalImportes() {
			return this.filteredComprobacionesByCuenta.reduce(
				(suma, item) => suma + parseFloat(item[2]),
				0
			);
		},
		text() {
			if (this.dataFilter.inicio && this.dataFilter.fin) {
				return "No se encontraron resultados";
			} else {
				return "Seleccione un rango de fechas";
			}
		},
	},
};
</script>

<style>
#table-no-deducible-cuenta th,
#table-no-deducible-cuenta td {
	padding: 0.72rem;
	vertical-align: top;
	border-top: 1px solid #dee2e6;
}
</style>
