<template>
	<b-container class="px-0">
		<b-table-simple
			v-if="comprobacionesByEmpleado.length"
			striped
			small
			caption-top
			responsive
			bordered
			style="font-size: 12px"
			class="shadow-sm"
			id="table-no-deducible-empleado"
		>
			<b-thead class="bg-white text-center">
				<b-tr>
					<b-th style="width: 50%"> EMPLEADO </b-th>
					<b-th style="width: 25%"> NO. DE COMPROBACIONES </b-th>
					<b-th style="width: 25%"> TOTAL NO DEDUCIBLE </b-th>
				</b-tr>
			</b-thead>
			<b-tbody>
				<tr
					v-for="(empleado, index) in comprobacionesByEmpleado"
					:key="index"
				>
					<td class="pl-3">
						{{ empleado[0] }}
					</td>
					<td class="text-center">
						<h6 class="text-danger align-middle">
							{{ empleado[1] }}
						</h6>
					</td>
					<td>
						<div class="d-flex w-100 justify-content-between">
							<label class="mb-0 ml-1"
								><strong
									><i
										class="fas fa-dollar-sign align-middle"
									></i></strong
							></label>
							<vue-numeric
								separator=","
								:precision="2"
								:read-only="true"
								:value="empleado[2]"
							/>
						</div>
					</td>
				</tr>
			</b-tbody>

			<b-tfoot>
				<b-tr style="background-color: #237cb31f !important;">
					<b-td colspan="2" class="text-right"
						><strong>T o t a l:</strong></b-td
					>
					<td>
						<strong>
							<div class="d-flex w-100 justify-content-between">
								<label class="mb-0 ml-1"
									><strong
										><i
											class="fas fa-dollar-sign align-middle"
										></i></strong
								></label>
								<vue-numeric
									separator=","
									:precision="2"
									:read-only="true"
									:value="totalImportes"
								/>
							</div>
						</strong>
					</td>
				</b-tr>
			</b-tfoot>
		</b-table-simple>

		<div v-else style="font-size: 12px;">
			<div style="height: calc(80vh - 200px)">
				<icon-text-component
					:circleStyle="{
						backgroundColor: '#f4f4f6',
						color: '#45555f',
					}"
					:icon="'fas fa-hand-holding-usd'"
					:text="text"
				/>
			</div>
		</div>

		<div class="mt-3" v-if="comprobacionesByEmpleado.length">
			<GChart
				style="height: 400px;"
				type="ColumnChart"
				:data="chartData"
				:options="chartOptions"
			/>
		</div>
	</b-container>
</template>

<script>
import { mapState } from "vuex";

export default {
	props: {
		empleados: Array,
		noDeducibles: Array,
	},
	data() {
		return {
			totalImportes: 0,
			chartOptions: {
				bar: { groupWidth: "40%" },
				legend: "top",
				colors: ["#c00000"],
				animation: {
					duration: 900,
					easing: "linear",
					startup: true,
				},
				vAxis: {
					format: "percent",
				},
				chartArea: {
					left: 80,
					right: 80,
				},
			},
		};
	},
	methods: {
		ordenarDescendente(array, index) {
			return array
				.sort(function(a, b) {
					return a[index] - b[index];
				})
				.reverse();
		},
	},
	computed: {
		...mapState("fn_cg_comprobaciones", ["dataFilter"]),

		comprobacionesByEmpleado() {
			var arrData = [];
			if (this.empleados) {
				this.totalImportes = 0;
				this.empleados.forEach((empleado) => {
					var dataFiltered = this.noDeducibles.filter(
						(item) => item.nombre_usuario == empleado
					);
					var importe = dataFiltered.reduce(
						(suma, item) => suma + parseFloat(item.importe),
						0
					);
					this.totalImportes += importe;
					arrData.push([empleado, dataFiltered.length, importe]);
				}, this);
				return this.ordenarDescendente(arrData, 2);
			} else return [];
		},
		chartData() {
			var arrData = [["Empleado", "Porcentaje"]];
			if (this.comprobacionesByEmpleado) {
				this.comprobacionesByEmpleado.forEach((empleado) => {
					var porcentaje =
						(empleado[2] * 100) / this.totalImportes / 100;
					arrData.push([
						empleado[0],
						parseFloat(porcentaje.toFixed(2)),
					]);
				}, this);
			}
			return arrData;
		},
		text() {
			if (this.dataFilter.inicio && this.dataFilter.fin) {
				return "No se encontraron resultados";
			} else {
				return "Seleccione un rango de fechas";
			}
		},
	},
};
</script>

<style>
#table-no-deducible-empleado th,
#table-no-deducible-empleado td {
	padding: 0.72rem;
	vertical-align: top;
	border-top: 1px solid #dee2e6;
}
</style>
