<template>
	<div class="card shadows mb-2" style="font-size:13px">
		<div class="card-body p-2">
			<div class="d-flex w-100 justify-content-between">
				<p class="mb-1">
					<strong>
						<b-button
							variant="link"
							class="text-dark p-0"
							id="button-link"
							@click="selectedSolicitud()"
						>
							<strong
								>Solicitud de compra #
								{{ solicitud.idSolicitudCompra }}</strong
							>
						</b-button>
					</strong>
				</p>
				<b-badge
					:variant="
						solicitud.tipoPedido == 'Urgente' ? 'danger' : 'warning'
					"
					style="margin-bottom: 12px; padding-top: 3px; margin-top: 2px;"
				>
					{{ solicitud.tipoPedido }}
				</b-badge>
			</div>
			<p class="card-text mb-0">
				<strong>S:</strong>
				{{ solicitud.nombreUsuario }}
			</p>
			<p class="card-text mb-0">
				<strong>UN:</strong>
				{{ solicitud.unidadNegocio }}
			</p>
			<p class="card-text mb-0">
				<strong>C:</strong>
				{{ solicitud.cuenta }}
			</p>
			<center>
				<b-badge variant="light" class="mb-1 mt-2">
					{{ atTime }}
				</b-badge>
			</center>
		</div>
	</div>
</template>

<script>
import { mapActions, mapGetters, mapMutations, mapState } from "vuex";
export default {
	props: {
		solicitud: Object,
		etapa: Object,
	},
	data() {
		return {};
	},
	mounted() {
		moment.locale("es");
	},
	methods: {
		...mapMutations("co_sc_solicitudes", ["setSolicitudActiva"]),
		...mapActions("alm_ss_solicitudes", ["getArticulos"]),

		selectedSolicitud() {
			console.log(this.solicitud);
			this.setSolicitudActiva(this.solicitud);
			this.getArticulos(this.solicitud.idSolicitudSuministros);
			this.$router.push(BaseUrl + `/compras/sc/solicitudes`);
		},
	},
	computed: {
		atTime() {
			// return moment(this.solicitud.fechaCambioEtapa).fromNow();

			var diff = moment().diff(
				moment(this.solicitud.fechaSolicitud),
				"days"
			);

			if (diff > 14) {
				return moment(this.solicitud.fechaSolicitud, "YYYY-MM-DD")
					.locale("es")
					.format("LL");
			} else {
				return moment(this.solicitud.fechaSolicitud)
					.locale("es")
					.fromNow();
			}
		},
	},
};
</script>

<style>
#embudosTable td {
	width: 200px;
	overflow: auto;
	min-width: 230px;
	background-color: #f5f5f6;
	height: calc(100vh - 265px);
}
#embudosTable thead th {
	vertical-align: middle !important;
}
</style>
