<template>
	<b-container fluid>
		<b-row class="pt-4 mb-2">
			<b-col lg="4">
				<b-form-checkbox
					switch
					size="sm"
					class="mt-3"
					v-model="verTabla"
					>Ver tabla</b-form-checkbox
				>
				<b-form-checkbox switch size="sm" v-model="verGraficas"
					>Ver gráficas</b-form-checkbox
				>
			</b-col>
			<b-col lg="4">
				<h2 class="text-center mb-0">Indicadores</h2>
				<h4 class="text-center">Reporte de actividades</h4>
			</b-col>
			<b-col lg="4">
				<b-row>
					<b-col lg="12">
						<div
							class="input-group w-100 mt-3 bg-white float-right"
							style="max-width: 150px;"
						>
							<div class="input-group-prepend bg-light">
								<div class="mr-3 ml-2">
									<small><strong>Año:</strong></small>
								</div>
							</div>
							<b-form-select
								size="sm"
								:options="periodos"
								:value="periodo"
								@change="setPeriodo"
							>
							</b-form-select>
							<br />
						</div>
					</b-col>
				</b-row>
			</b-col>
		</b-row>

		<b-row>
			<b-col lg="10">
				<b-row>
					<b-col md="3">
						<div class="input-group w-100">
							<div class="input-group-prepend border bg-light">
								<div class="mr-3 ml-2">
									<small>
										<strong>Inicio:</strong>
									</small>
								</div>
							</div>
							<b-form-datepicker
								id="picker-inicio"
								size="sm"
								:value="fechaInicio"
								@context="setFechaInicio($event.selectedYMD)"
								locale="es"
								:show-decade-nav="false"
								:hide-header="true"
								label-help
								selected-variant="secondary"
								label-no-date-selected="Seleccione"
								:date-format-options="{
									day: 'numeric',
									year: 'numeric',
									month: 'long',
								}"
							></b-form-datepicker>
							<div class="input-group-append">
								<div class="text-center">
									<b-link
										class="text-secondary mt-1 ml-2"
										@click="setFechaInicio(null)"
										>&times;</b-link
									>
								</div>
							</div>
						</div>
					</b-col>
					<b-col md="3">
						<div class="input-group w-100">
							<div class="input-group-prepend border bg-light">
								<div class="mr-3 ml-2">
									<small>
										<strong>Fin:</strong>
									</small>
								</div>
							</div>
							<b-form-datepicker
								id="picker-fin"
								size="sm"
								:value="fechaFin"
								@context="setFechaFin($event.selectedYMD)"
								locale="es"
								:show-decade-nav="false"
								:hide-header="true"
								label-help
								selected-variant="secondary"
								label-no-date-selected="Seleccione"
								:date-format-options="{
									day: 'numeric',
									year: 'numeric',
									month: 'long',
								}"
							></b-form-datepicker>
							<div class="input-group-append">
								<div class="text-center">
									<b-link
										class="text-secondary mt-1 ml-2"
										@click="setFechaFin(null)"
										>&times;</b-link
									>
								</div>
							</div>
						</div>
					</b-col>

					<b-col md="3">
						<div class="input-group w-100">
							<div class="input-group-prepend border bg-light">
								<div class="mr-3 ml-2">
									<small>
										<strong>Línea de negocio:</strong>
									</small>
								</div>
							</div>

							<b-form-select
								:value="lineaNegocio"
								:options="selectLineaNegocio"
								size="sm"
								style="border-radius: 0rem;"
								@change="setLineaNegocio($event)"
								:disabled="permissionsLineaNegocio.disabled"
							>
								<template v-slot:first>
									<option :value="null" disabled
										>Seleccione</option
									>
								</template>
							</b-form-select>
						</div>
					</b-col>

					<b-col md="3" class="pl-0">
						<b-button
							size="sm"
							variant="danger"
							@click="getActividades"
							>Consultar</b-button
						>
					</b-col>
				</b-row>
			</b-col>
		</b-row>

		<b-card class="my-3" no-body v-show="verTabla">
			<b-table-simple
				v-show="!loadingActividades"
				striped
				show-empty
				responsive
				class="mb-0 shadow-sm text-center"
				bordered
				hover
				small
			>
				<b-thead class="bg-secondary text-white">
					<b-tr>
						<b-th colspan="2"></b-th>
						<b-th colspan="3">Horas Reales</b-th>
						<b-th colspan="3">% Real</b-th>
						<b-th colspan="3">Horas Optimas</b-th>
						<b-th colspan="4">Diferencia</b-th>
					</b-tr>
				</b-thead>
				<b-thead>
					<b-tr>
						<b-th class="text-nowrap" style="min-width: 100px"
							>Mes</b-th
						>
						<b-th class="text-nowrap" style="min-width: 120px"
							>Hras Totales</b-th
						>

						<b-th class="text-nowrap" style="min-width: 120px"
							>Interna
						</b-th>
						<b-th class="text-nowrap" style="min-width: 120px"
							>Externa
						</b-th>
						<b-th class="text-nowrap" style="min-width: 120px"
							>Capacitación
						</b-th>

						<b-th class="text-nowrap" style="min-width: 120px"
							>Interna</b-th
						>
						<b-th class="text-nowrap" style="min-width: 120px"
							>Externa</b-th
						>
						<b-th class="text-nowrap" style="min-width: 120px"
							>Capacitación</b-th
						>

						<b-th class="text-nowrap" style="min-width: 120px"
							>Interna 15%</b-th
						>
						<b-th class="text-nowrap" style="min-width: 120px"
							>Externa 80%</b-th
						>
						<b-th class="text-nowrap" style="min-width: 120px"
							>Capacitación 5%</b-th
						>

						<b-th class="text-nowrap" style="min-width: 120px"
							>Interna</b-th
						>
						<b-th class="text-nowrap" style="min-width: 120px"
							>Externa</b-th
						>
						<b-th class="text-nowrap" style="min-width: 120px"
							>Capacitación</b-th
						>
						<b-th class="text-nowrap" style="min-width: 120px"
							>Optimo</b-th
						>
					</b-tr>
				</b-thead>

				<b-tbody>
					<b-tr v-for="(mes, index) in meses" :key="index">
						<b-td
							class="text-left align-middle"
							style="width: 420px !important"
							><strong>{{ mes.mes }}</strong></b-td
						>
						<op-ra-indicadores-actividades-td-horas-reales-component
							:mes="mes.mes"
							:tipoCuenta="'Todas'"
							:periodo="periodo"
						/>
						<op-ra-indicadores-actividades-td-horas-reales-component
							:mes="mes.mes"
							:tipoCuenta="'Interna'"
							:periodo="periodo"
						/>
						<op-ra-indicadores-actividades-td-horas-reales-component
							:mes="mes.mes"
							:tipoCuenta="'Externa'"
							:periodo="periodo"
						/>
						<op-ra-indicadores-actividades-td-horas-reales-component
							:mes="mes.mes"
							:tipoCuenta="'Capacitacion'"
						/>
						<op-ra-indicadores-actividades-td-horas-reales-component
							:mes="mes.mes"
							:formato="'porcentaje'"
							:tipoCuenta="'Interna'"
						/>
						<op-ra-indicadores-actividades-td-horas-reales-component
							:mes="mes.mes"
							:formato="'porcentaje'"
							:tipoCuenta="'Externa'"
						/>
						<op-ra-indicadores-actividades-td-horas-reales-component
							:mes="mes.mes"
							:formato="'porcentaje'"
							:tipoCuenta="'Capacitacion'"
						/>
						<op-ra-indicadores-actividades-td-horas-optimas-component
							:mes="mes.mes"
							:tipoCuenta="'Interna'"
						/>
						<op-ra-indicadores-actividades-td-horas-optimas-component
							:mes="mes.mes"
							:tipoCuenta="'Externa'"
						/>
						<op-ra-indicadores-actividades-td-horas-optimas-component
							:mes="mes.mes"
							:tipoCuenta="'Capacitacion'"
						/>
						<op-ra-indicadores-actividades-td-horas-diferencia-component
							:mes="mes.mes"
							:tipoCuenta="'Interna'"
						/>
						<op-ra-indicadores-actividades-td-horas-diferencia-component
							:mes="mes.mes"
							:tipoCuenta="'Externa'"
						/>
						<op-ra-indicadores-actividades-td-horas-diferencia-component
							:mes="mes.mes"
							:tipoCuenta="'Capacitacion'"
						/>
						<op-ra-indicadores-actividades-td-horas-diferencia-component
							:mes="mes.mes"
							:tipoCuenta="'Optimo'"
						/>
					</b-tr>
				</b-tbody>
				<b-tfoot>
					<tr style="background-color: #237cb31f !important;">
						<td></td>
						<td>
							<vue-numeric
								class="text-center"
								currency=""
								separator=","
								:precision="1"
								:read-only="true"
								:value="total"
								style="font-weight: bold"
							/>
						</td>
						<td>
							<vue-numeric
								class="text-center"
								currency=""
								separator=","
								:precision="1"
								:read-only="true"
								:value="totalReales.interna"
								style="font-weight: bold"
							/>
						</td>
						<td>
							<vue-numeric
								class="text-center"
								currency=""
								separator=","
								:precision="1"
								:read-only="true"
								:value="totalReales.externa"
								style="font-weight: bold"
							/>
						</td>
						<td>
							<vue-numeric
								class="text-center"
								currency=""
								separator=","
								:precision="1"
								:read-only="true"
								:value="totalReales.capacitacion"
								style="font-weight: bold"
							/>
						</td>
						<td colspan="3"></td>
						<td>
							<vue-numeric
								class="text-center"
								currency=""
								separator=","
								:precision="1"
								:read-only="true"
								:value="totalHOptimas.interna"
								style="font-weight: bold"
							/>
						</td>
						<td>
							<vue-numeric
								class="text-center"
								currency=""
								separator=","
								:precision="1"
								:read-only="true"
								:value="totalHOptimas.externa"
								style="font-weight: bold"
							/>
						</td>
						<td>
							<vue-numeric
								class="text-center"
								currency=""
								separator=","
								:precision="1"
								:read-only="true"
								:value="totalHOptimas.capacitacion"
								style="font-weight: bold"
							/>
						</td>
						<td colspan="4"></td>
					</tr>
				</b-tfoot>
			</b-table-simple>

			<b-skeleton-table
				class="mb-0 shadow-sm text-center"
				v-if="loadingActividades"
				:rows="15"
				:columns="14"
				:table-props="{ bordered: true, striped: true, small: true }"
			>
			</b-skeleton-table>
		</b-card>
		<op-ra-indicadores-actividades-grafica-horas-component
			v-if="verGraficas"
		/>
	</b-container>
</template>

<script>
import { mapMutations, mapState, mapActions, mapGetters } from "vuex";
export default {
	data() {
		return {
			verTabla: true,
			verGraficas: true,
			tipoTable: "todo",
			saveProcess: false,
			periodos: [],
			selectLineaNegocio: [],
		};
	},
	mounted() {
		this.getActividades();
		this.getPeriodos();
	},
	methods: {
		...mapActions("op_ra_indicadores_actividades", ["getActividades"]),
		...mapMutations("op_ra_indicadores_actividades", [
			"setPeriodo",
			"setFechaInicio",
			"setFechaFin",
			"setLineaNegocio",
		]),
		async getPeriodos() {
			const response = await axios.get(
				BaseUrl + `/api/op/ra/reportes/years/toexport`
			);
			this.periodos = response.data;
		},
		hasPermission(role) {
			if (this.permissions.length) {
				const permiso = this.permissions.find(
					(permiso) => permiso.idRole == role
				);
				if (permiso) return true;
				return false;
			}
		},
	},
	computed: {
		...mapGetters("op_ra_indicadores_actividades", ["actividadesFiltered"]),
		...mapState(["permissions", "usuario", "meses"]),
		...mapState("op_ra_indicadores_actividades", [
			"periodo",
			"loadingActividades",
			"fechaInicio",
			"fechaFin",
			"lineaNegocio",
		]),

		permissionsLineaNegocio() {
			if (
				this.hasPermission("op.ra.administrador") ||
				this.hasPermission("op.ra.lectura")
			) {
				this.selectLineaNegocio = [
					"Todas",
					"CM",
					"TM",
					"RD",
					"SC",
					"MM",
				];
				this.setLineaNegocio("Todas");
				return {
					disabled: false,
				};
			} else if (this.hasPermission("op.ra.supervisor.cm")) {
				this.selectLineaNegocio = ["CM"];
				this.setLineaNegocio("CM");
				return {
					disabled: true,
				};
			} else if (this.hasPermission("op.ra.supervisor.tm")) {
				this.selectLineaNegocio = ["TM"];
				this.setLineaNegocio("TM");
				return {
					disabled: true,
				};
			} else if (this.hasPermission("op.ra.supervisor.rd")) {
				this.selectLineaNegocio = ["RD"];
				this.setLineaNegocio("RD");
				return {
					disabled: true,
				};
			} else {
				return {
					disabled: true,
				};
			}
		},
		total() {
			var total = this.actividadesFiltered.reduce((suma, act) => {
				var arrHrs = act.horas.split(" ", 2);
				return Number(suma) + Number(arrHrs[0]);
			}, 0);
			return Number(total.toFixed(1));
		},
		totalReales() {
			var totalInternas = this.actividadesFiltered
				.filter(
					(act) =>
						act.tipoCuenta == "Interna" || act.tipoCuenta == "Libre"
				)
				.reduce((suma, act) => {
					var arrHrs = act.horas.split(" ", 2);
					return suma + Number(arrHrs[0]);
				}, 0);

			var totalExternas = this.actividadesFiltered
				.filter((act) => act.tipoCuenta == "Externa")
				.reduce((suma, act) => {
					var arrHrs = act.horas.split(" ", 2);
					return suma + Number(arrHrs[0]);
				}, 0);

			var totalCapacitacion = this.actividadesFiltered
				.filter((act) => act.tipoCuenta == "Capacitacion")
				.reduce((suma, act) => {
					var arrHrs = act.horas.split(" ", 2);
					return suma + Number(arrHrs[0]);
				}, 0);

			return {
				interna: totalInternas.toFixed(1),
				externa: totalExternas.toFixed(1),
				capacitacion: totalCapacitacion.toFixed(1),
			};
		},
		totalHOptimas() {
			return {
				interna: (this.total * 0.15).toFixed(1),
				externa: (this.total * 0.8).toFixed(1),
				capacitacion: (this.total * 0.05).toFixed(1),
			};
		},
	},
	watch: {
		periodo() {
			this.getActividades();
		},
	},
};
</script>
