<template>
	<b-container fluid>
		<b-row>
			<b-col lg="6" class="pr-2 pl-0 text-center">
				<b-card class="mb-3 mt-1 shadow-sm" no-body>
					<h5 class="mt-3">Horas Internas</h5>
					<GChart
						style="height: 300px;"
						v-if="chartDataHI"
						type="LineChart"
						:data="chartDataHI"
						:options="chartOptionsTC"
					/>
				</b-card>
			</b-col>
			<b-col lg="6" class="pl-2 pr-0 text-center">
				<b-card class="mb-3 mt-1 shadow-sm" no-body>
					<h5 class="mt-3">Horas Externas</h5>
					<GChart
						style="height: 300px;"
						v-if="chartDataHE"
						type="LineChart"
						:data="chartDataHE"
						:options="chartOptionsTC"
					/>
				</b-card>
			</b-col>
			<b-col lg="6" class="pr-2 pl-0 mb-3 text-center">
				<b-card class="mb-3 shadow-sm" no-body>
					<h5 class="mt-3">Horas de Capacitación</h5>
					<GChart
						style="height: 300px;"
						v-if="chartDataHC"
						type="LineChart"
						:data="chartDataHC"
						:options="chartOptionsTC"
					/>
				</b-card>
			</b-col>
			<b-col lg="6" class="pl-2 pr-0 text-center">
				<b-card class="mb-3 shadow-sm" no-body>
					<h5 class="mt-3">Diferencias de Horas</h5>
					<GChart
						style="height: 300px;"
						v-if="chartDataDH"
						type="LineChart"
						:data="chartDataDH"
						:options="chartOptionsDH"
					/>
				</b-card>
			</b-col>
		</b-row>
	</b-container>
</template>

<script>
import { mapMutations, mapState, mapActions, mapGetters } from "vuex";
export default {
	props: {
		saveProcess: String,
	},
	data() {
		return {
			chartDataHI: [],
			chartDataHE: [],
			chartDataHC: [],
			chartDataDH: [],
			chartOptionsTC: {
				legend: "top",
				colors: ["#e43725", "#6a737b"],
				chartArea: {
					left: 60,
					right: 60,
				},
				lineWidth: 3,
				animation: {
					duration: 900,
					easing: "linear",
					startup: true,
				},
			},
			chartOptionsDH: {
				legend: "top",
				colors: ["#6a737b", "#e43725", "blue", "yellow"],
				chartArea: {
					left: 80,
					right: 80,
				},
				lineWidth: 3,
				animation: {
					duration: 900,
					easing: "linear",
					startup: true,
				},
			},
		};
	},
	mounted() {
		this.setChartData();
	},
	methods: {
		getSumatoriaMes(mes, tipoCuenta) {
			if (tipoCuenta == "Interna") {
				var actividadesFilter = this.actividadesFiltered.filter(
					(actividad) =>
						(actividad.tipoCuenta == tipoCuenta ||
							actividad.tipoCuenta == "Libre") &&
						actividad.mes == mes
				);
			} else {
				var actividadesFilter = this.actividadesFiltered.filter(
					(actividad) =>
						actividad.mes == mes &&
						actividad.tipoCuenta == tipoCuenta
				);
			}
			var total = actividadesFilter.reduce((suma, item) => {
				var arrHrs = item.horas.split(" ", 2);
				return suma + Number(arrHrs[0]);
			}, 0);
			total = Number(total.toFixed(0));
			return [mes, total];
		},
		setChartData() {
			this.emptyArray();
			this.meses.forEach((mes) => {
				const interna = this.getSumatoriaMes(mes.mes, "Interna");
				const externa = this.getSumatoriaMes(mes.mes, "Externa");
				const capacitacion = this.getSumatoriaMes(
					mes.mes,
					"Capacitacion"
				);
				const totalHoras = interna[1] + externa[1] + capacitacion[1];

				let hOpInternas = Number((totalHoras * 0.15).toFixed(0));
				let hOpExternas = Number((totalHoras * 0.8).toFixed(0));
				let hOpCapacitacion = Number((totalHoras * 0.05).toFixed(0));

				let diffInternas = interna[1] - hOpInternas;
				let diffExternas = externa[1] - hOpExternas;
				let diffCapacitacion = capacitacion[1] - hOpCapacitacion;

				this.chartDataDH.push([
					mes.mes,
					diffInternas,
					diffExternas,
					diffCapacitacion,
					diffInternas + diffExternas + diffCapacitacion,
				]);
				this.chartDataHI.push([interna[0], interna[1], hOpInternas]);
				this.chartDataHE.push([externa[0], externa[1], hOpExternas]);
				this.chartDataHC.push([
					capacitacion[0],
					capacitacion[1],
					hOpCapacitacion,
				]);
			}, this);
		},
		emptyArray() {
			this.chartDataHI = [["Mes", "Horas Reales", "Horas Optimas"]];
			this.chartDataHE = [["Mes", "Horas Reales", "Horas Optimas"]];
			this.chartDataHC = [["Mes", "Horas Reales", "Horas Optimas"]];
			this.chartDataDH = [
				["Mes", "Interna", "Externa", "Capacitación", "Optimo"],
			];
		},
	},
	computed: {
		...mapGetters("op_ra_indicadores_actividades", ["actividadesFiltered"]),
		...mapState(["meses"]),
	},
	watch: {
		actividadesFiltered() {
			this.setChartData();
		},
	},
};
</script>
