<template>
	<td class="align-middle">
		<vue-numeric
			class="text-center"
			currency=""
			separator=","
			:precision="1"
			:read-only="true"
			:value="valorOptimo"
		/>
	</td>
</template>

<script>
import { mapMutations, mapState, mapGetters } from "vuex";

export default {
	props: {
		mes: String,
		tipoCuenta: String,
	},
	data() {
		return {};
	},
	mounted() {},
	methods: {
		...mapMutations("op_ra_indicadores_actividades", ["updateHoraOptima"]),
	},
	computed: {
		...mapState("op_ra_indicadores_actividades", [
			"actividades",
			"horasOptimas",
			"periodo",
		]),
		...mapGetters("op_ra_indicadores_actividades", ["actividadesFiltered"]),

		valorOptimo() {
			if (this.actividadesFiltered.length) {
				var totalHoras = this.actividadesFiltered.reduce(
					(total, actividad) => {
						if (actividad.mes == this.mes) {
							var horas = actividad.horas.split(" ", 2);
							return total + Number(horas[0]);
						}
						return total;
					},
					0
				);
			} else var totalHoras = 0;

			switch (this.tipoCuenta) {
				case "Capacitacion":
					return (totalHoras * 0.05).toFixed(1);
					break;
				case "Externa":
					return (totalHoras * 0.8).toFixed(1);
					break;
				default:
					return (totalHoras * 0.15).toFixed(1);
					break;
			}
		},
	},
};
</script>

<style>
.icon-edit {
	display: none;
}
.div-valor-optimo:hover .icon-edit {
	display: inline-block;
}
</style>
