<template>
	<td class="align-middle">
		<div v-if="tipoCuenta == 'Interna'">
			<vue-numeric
				class="text-center"
				currency=""
				separator=","
				:precision="1"
				:read-only="true"
				:value="diffInternas"
			/>
		</div>
		<div v-if="tipoCuenta == 'Externa'">
			<vue-numeric
				class="text-center"
				currency=""
				separator=","
				:precision="1"
				:read-only="true"
				:value="diffExternas"
			/>
		</div>
		<div v-if="tipoCuenta == 'Capacitacion'">
			<vue-numeric
				class="text-center"
				currency=""
				separator=","
				:precision="1"
				:read-only="true"
				:value="diffCapacitacion"
			/>
		</div>
		<div v-if="tipoCuenta == 'Optimo'">
			<vue-numeric
				class="text-center"
				currency=""
				separator=","
				:precision="1"
				:read-only="true"
				:value="diffOptimo"
			/>
		</div>
	</td>
</template>

<script>
import { mapState, mapGetters } from "vuex";

export default {
	props: {
		mes: String,
		tipoCuenta: String,
	},
	data() {
		return {};
	},
	methods: {
		obtenerHorasOptimas(tipoCuenta) {
			if (this.actividadesFiltered.length) {
				var totalHoras = this.actividadesFiltered
					.filter((act) => act.mes === this.mes)
					.reduce((total, act) => {
						var horas = act.horas.split(" ", 2);
						return total + Number(horas[0]);
					}, 0);

				switch (tipoCuenta) {
					case "Capacitacion":
						return (totalHoras * 0.05).toFixed(1);
						break;
					case "Externa":
						return (totalHoras * 0.8).toFixed(1);
						break;
					default:
						return (totalHoras * 0.15).toFixed(1);
						break;
				}
			}
			return 0;
		},
		obtenerHoras(tipoCuenta) {
			if (this.actividadesFiltered.length) {
				if (tipoCuenta == "Interna") {
					var actividadesFilter = this.actividadesFiltered.filter(
						(actividad) =>
							(actividad.tipoCuenta == tipoCuenta ||
								actividad.tipoCuenta == "Libre") &&
							actividad.mes == this.mes
					);
				} else {
					var actividadesFilter = this.actividadesFiltered.filter(
						(actividad) =>
							actividad.mes == this.mes &&
							actividad.tipoCuenta == tipoCuenta
					);
				}
				var total = actividadesFilter.reduce((suma, item) => {
					var arrHrs = item.horas.split(" ", 2);
					return suma + Number(arrHrs[0]);
				}, 0);
				return Number(total.toFixed(1));
			}
			return 0;
		},
	},
	computed: {
		...mapState("op_ra_indicadores_actividades", ["actividades"]),
		...mapGetters("op_ra_indicadores_actividades", ["actividadesFiltered"]),

		diffInternas() {
			let hOp = this.obtenerHorasOptimas("Interna");
			let hInternas = this.obtenerHoras("Interna");
			return (hInternas - hOp).toFixed(1);
		},
		diffExternas() {
			let hOp = this.obtenerHorasOptimas("Externa");
			let hExternas = this.obtenerHoras("Externa");
			return (hExternas - hOp).toFixed(1);
		},
		diffCapacitacion() {
			let hOp = this.obtenerHorasOptimas("Capacitacion");
			let hCapacitacion = this.obtenerHoras("Capacitacion");
			return (hCapacitacion - hOp).toFixed(1);
		},
		diffOptimo() {
			var sumaA = (
				Number(this.diffInternas) + Number(this.diffExternas)
			).toFixed(1);
			var sumaB = (Number(sumaA) + Number(this.diffCapacitacion)).toFixed(
				1
			);
			return sumaB;
		},
	},
};
</script>
