<template>
	<td class="align-middle">
		<template v-if="this.formato == 'porcentaje'">
			{{ porcentaje }} %
		</template>
		<template v-else>
			<vue-numeric
				class="text-center"
				currency=""
				separator=","
				:precision="1"
				:read-only="true"
				:value="valorReal"
			/>
		</template>
	</td>
</template>

<script>
import { mapMutations, mapState, mapGetters } from "vuex";

export default {
	props: {
		mes: String,
		formato: String,
		tipoCuenta: String,
	},
	data() {
		return {
			visibleInput: false,
			idHoraOptima: null,
		};
	},
	computed: {
		...mapGetters("op_ra_indicadores_actividades", ["actividadesFiltered"]),

		valorReal() {
			let minutos = 0;
			let horas = 0;
			let actividades =
				this.tipoCuenta == "Todas"
					? this.actividadesFilterByMes
					: this.actividadesFilterByTipoCuenta;

			horas = actividades.reduce((total, act) => {
				var arrHrs = act.horas.split(" ", 2);
				return total + Number(arrHrs[0]);
			}, 0);
			return horas.toFixed(1);
		},
		actividadesFilterByTipoCuenta() {
			if (this.tipoCuenta == "Interna") {
				return this.actividadesFiltered.filter(
					(act) =>
						(act.tipoCuenta == "Interna" ||
							act.tipoCuenta == "Libre") &&
						act.mes == this.mes
				);
			} else {
				return this.actividadesFiltered.filter(
					(act) =>
						act.tipoCuenta == this.tipoCuenta && act.mes == this.mes
				);
			}
		},
		actividadesFilterByMes() {
			return this.actividadesFiltered.filter(
				(act) => act.mes == this.mes
			);
		},
		totalHoras() {
			return this.actividadesFiltered
				.filter((act) => act.mes == this.mes)
				.reduce((total, act) => {
					var arrHrs = act.horas.split(" ", 2);
					return total + Number(arrHrs[0]);
				}, 0);
		},
		porcentaje() {
			if (this.valorReal > 0 && this.formato == "porcentaje") {
				return ((this.valorReal * 100) / this.totalHoras).toFixed(0);
			} else return 0;
		},
	},
};
</script>

<style>
.icon-edit {
	display: none;
}
.div-valor-optimo:hover .icon-edit {
	display: inline-block;
}
</style>
