<template>
	<td>
		<template v-if="visibleInput">
			<b-form-input
				class="text-center"
				:value="valorOptimo"
				@keyup.enter.native="save($event.target.value)"
				ref="valorOptimo"
			></b-form-input>
		</template>
		<div
			v-else
			@click="actValor()"
			style="cursor:pointer"
			class="div-valor-optimo w-100"
		>
			{{ valorOptimo }}
			<b-link class="text-secondary ml-2 icon-edit"
				><i class="fas fa-pen"></i
			></b-link>
		</div>
	</td>
</template>

<script>
import { mapMutations, mapState } from "vuex";

export default {
	props: {
		mes: String,
		tipoCuenta: String,
	},
	data() {
		return {
			visibleInput: false,
			idHoraOptima: null,
		};
	},
	mounted() {},
	methods: {
		...mapMutations("op_ra_indicadores_actividades", ["updateHoraOptima"]),
		async save(valorOptimo) {
			this.$emit("saveProcess", "saving");
			let data = {
				id: this.idHoraOptima,
				mes: this.mes,
				periodo: this.periodo,
				horas: valorOptimo,
				tipoCuenta: this.tipoCuenta,
			};
			let response = await axios.post(
				BaseUrl + "/api/op/ra/indicadores/horas/optimas",
				data
			);
			if (response.data.success) {
				this.visibleInput = false;
				this.idHoraOptima = response.data.horaOptima.id;
				this.updateHoraOptima(response.data.horaOptima);
				this.$emit("saveProcess", "saved");
			} else {
				this.$emit("saveProcess", "error");
			}
		},
		actValor() {
			this.visibleInput = true;
			// this.$nextTick(() => {
			//     this.selectInput();
			// })
		},
		selectInput() {
			this.$refs.valorOptimo.select();
		},
	},
	computed: {
		...mapState("op_ra_indicadores_actividades", [
			"actividades",
			"horasOptimas",
			"periodo",
		]),

		valorOptimo() {
			if (this.horasOptimas.length) {
				let horaOptima = this.horasOptimas.find(
					(horaOptima) =>
						horaOptima.mes == this.mes &&
						horaOptima.tipoCuenta == this.tipoCuenta
				);
				if (horaOptima) {
					this.idHoraOptima = horaOptima.id;
					return horaOptima.horas;
				}
			}
			return 0;
		},
	},
};
</script>

<style>
.icon-edit {
	display: none;
}
.div-valor-optimo:hover .icon-edit {
	display: inline-block;
}
</style>
