<template> 
	<b-container fluid>
        <vt-negocios-header :title="'Lista de negocios'" />
        <filters-component>
            <template>
                <vt-negocios-filters/>
            </template>
        </filters-component>
        <table-component :fields="fields" 
                         :items="filteredNegociosByStatus" />
    </b-container>
</template>

<script>
    import { mapState, mapMutations, mapGetters } from 'vuex'

    export default {
        data() {
            return {
                items: 0,
                fields: [
                    { key: 'claveNegocio', 
                      label: 'Clave', 
                      sortable: true, 
                      sortDirection: 'desc', 
                      class: 'text-center',
                      thStyle: { width:'180px' } ,
                    },
                    { key: 'tituloNegocio', 
                      label: 'Titulo', 
                      sortable: true,
                      class: 'text-center'
                    },
                    { key: 'nombre_cliente', 
                      label: 'Cliente', 
                      sortable: true,
                      class: 'text-center'
                    },
                    { key: 'nombre_contacto', 
                      label: 'Contacto', 
                      sortable: true,
                      class: 'text-center',
                    },
                    { key: 'clave_unidad_negocio', 
                      label: 'Unidad de negocio', 
                      sortable: true,
                      class: 'text-center',
                    },
                    { key: 'nombre_equipo', 
                      label: 'Equipo', 
                      sortable: true,
                      class: 'text-center',
                    },
                ],
            }
        },
        mounted(){
            this.setRouteName('negocios.lista')
        },
        methods: { 
            ...mapMutations(['setRouteName']),
        },
        computed: {
            ...mapState(['totalRows']),
            ...mapGetters('negocios', ['filteredNegociosByStatus'])
        }
    }
</script>