<template>
	<form ref="form" @submit.stop.prevent="handleSubmit">
		<b-modal id="modal-change-clave"
		@show="resetModal"
		@hidden="resetModal"
		ref="modal" 
		@ok="handleOk">

		<template v-slot:modal-header="{ close }">
			<h4 class="mb-0">Cambiar clave de negocio</h4>
		    <b-button variant="link" class="text-dark" @click="close()" >
		        <i class="fas fa-times" style="font-size: 20px"></i>
		    </b-button>
   		</template>
		
		<b-container>
			<b-form-group label="Negocios:">
		   		<b-input-group>
		   			<b-input-group-append>
				      <b-button variant="secondary"><i class="fas fa-briefcase"></i></b-button>
					</b-input-group-append>
					<b-form-select 
		   			v-model="selectedNegocio" 
		   			:options="negocios"
		   			@change="setNegocio($event)">
			   			<template v-slot:first>
								<option :value="null">Seleccione el negocio</option>
						</template>
		   			</b-form-select>
				</b-input-group>
			</b-form-group>

			<template v-if="selectedNegocio">	
				<center><p class="display-4" style="font-size: 20px;">{{ tituloNegocio }}</p></center>

				<b-form-group label="Clave del negocio:">
					<div align="center">
						<strong>
							<h3 class="display-4" style="font-size: 22px;">
								<label>{{ cliente }}</label> - 
								<label>{{ consecutivo }}</label> - 
								<label>{{ unidadNegocio }}</label> -
								<label>{{ equipo }}</label> - 
								<label>{{ servicio }}</label>
							</h3>
						</strong>
					</div>
				</b-form-group>

				<b-form-group label="Clave consecutivo:">
					<b-form-input type="text" required 
						name="consecutivo"
						v-model="consecutivo"
						autocomplete="off"
						placeholder="clave consecutivo">
					</b-form-input>
				</b-form-group>
			
				<b-form-group label="Unidad de negocio:">
					<b-form-select 
					v-model="selectedUN" 
					:options="unidadesNegocio"
					@change="setClaveUN($event)">
						<template v-slot:first>
							<option :value="null">Seleccione la unidad de negocio</option>
						</template>
					</b-form-select>
				</b-form-group>

				<b-form-group label="Equipo:">
					<b-form-select 
					v-model="selectedEquipo" 
					:options="equipos"
					@change="setClaveEQ($event)">
						<template v-slot:first>
							<option :value="null">Seleccione el equipo</option>
						</template>
					</b-form-select>
				</b-form-group>

				<b-form-group label="Tipo de servicio:">
					<b-form-select 
					v-model="selectedServicio" 
					:options="servicios"
					@change="setClaveSC($event)">
						<template v-slot:first>
							<option :value="null">Seleccione el servicio</option>
						</template>
					</b-form-select>
				</b-form-group>
			</template>
		</b-container>

		<template v-slot:modal-footer="{ ok, cancel, hide }">
	       	<b-button variant="secondary" @click="cancel()">
	        	Cancelar
	      	</b-button>
	      	<b-button :disabled="isDisabled" variant="danger" @click="ok()">
	        	Guardar
	      	</b-button>
    	</template>
		</b-modal>
	</form>
</template>

<script>
	export default {
		data() {
			return {
				selectedNegocio: null,
				negocios: [],
		
				cliente: null,
				consecutivo: null,
				unidadNegocio: null,
				equipo: null,
				servicio: null,

				idNegocio: null,
				claveNegocio: null,
				tituloNegocio: null,

				selectedServicio: null,
				servicios: [],

				selectedUN: null,
				unidadesNegocio: [],

				selectedEquipo: null,
				equipos: [],
			}
		},
		mounted() {
			this.getEquipos()
			this.getServicios()
			this.getUnidadesNegocio()
			this.getNegocios()
		},
		methods: {
			setClaveUN(e){
				this.unidadNegocio = this.selectedUN.text;
			},
			setClaveEQ(e){
				this.equipo = this.selectedEquipo.text;
			},
			setClaveSC(e){
				this.servicio = this.selectedServicio.text;
			},
			getNegocios(){
				axios.get(`/api/ventas/negocios/selectNegocios/${this.embudoSelected.idEmbudo}`)
				.then((response) => {
					this.negocios = response.data
				});
			},
			setNegocio(idNegocio){
				axios.get(`/api/negocio/${idNegocio}`)
                .then((response) => {	
                	console.log(response.data);

                  var consecutivo = response.data[0].claveConsecutivo	
                  this.consecutivo = ('0000'+consecutivo).substring(consecutivo.toString().length); 
                  this.cliente = response.data[0].claveOrganizacion
                  this.unidadNegocio = response.data[0].clave_unidad_negocio
                  this.equipo = response.data[0].clave_equipo
                  this.servicio = response.data[0].claveServicio
				  this.idNegocio = response.data[0].idNegocio
				  this.tituloNegocio = response.data[0].tituloNegocio

                });
			},
			getEquipos() {
				axios.get(`/api/ventas/negocios/equipos/selectEquipos`)
				.then((response) => {
					this.equipos = response.data;
				});
			},
			getServicios() {
				axios.get(`/api/ventas/negocios/servicios/selectServicios`)
				.then((response) => {
					this.servicios = response.data;
				});
			},
			getUnidadesNegocio() {
				axios.get(`/api/ventas/negocios/unidadNegocio/selectUnidadNegocio`)
				.then((response) => {
					this.unidadesNegocio = response.data;
				});
			},
			resetModal() {
				this.selectedServicio = null
				this.selectedUN = null
				this.selectedEquipo = null
				this.selectedNegocio = null
			},
			makeToast(variant = null) {
				this.$bvToast.toast('Se ha registrado correctamente la estimación', {
					title: `Éxito`,
					variant: variant,
					solid: true
				});
			},
			handleOk(bvModalEvt) {
				bvModalEvt.preventDefault()
				this.handleSubmit()
			},
			handleSubmit() {
				this.claveNegocio = this.cliente+'-'+this.consecutivo+'-'+this.selectedUN.text+'-'+this.selectedEquipo.text+'-'+this.selectedServicio.text
			
				const params = {
				 	// Consecutivo (clave)
					clave_consecutivo: this.consecutivo,
					// Unidad de negocio (id)
					unidad_negocio_id: this.selectedUN.value, 
				 	// Equipo (id)
					equipo_id: this.selectedEquipo.value,
				 	// Servicios (clave)
					clave_servicio: this.selectedServicio.text,
					// Clave de negocio (clave)		 	
					clave_negocio: this.claveNegocio,
					negocio_id: this.idNegocio
				}

				axios.put('/api/ventas/negocio/clavenegocio', params)
				.then((response) => {
					if(response.data.success){
						this.makeToast('success');
                        this.$nextTick(() => {
                        	this.$refs.modal.hide()
                        });
                    }
                });
			}
		},
		computed: {
			embudoSelected: function () {
				return this.$store.state.embudoSelected
			},
			isDisabled: function(){
				return !this.selectedUN
    		}
		}
	}
</script>