<template>
	<div>
		<vt-negocios-filters />
		<b-card no-body class="mb-2"> 
			<b-table
				:striped="true"
				:bordered="true"
				:small="true"
				:hover="true"
				:foot-clone="true"
				:no-border-collapse="false"
				:head-variant="'light'"
  				responsive
				show-empty

				:fields="fields"
				:items="filteredNegocios"

				class="mb-0"
  				:sticky-header="true"
  				:busy="isBusy"

				:current-page="currentPage"
				:per-page="perPage"
				:filter="filter"
				:filterIncludedFields="filterOn"
				@filtered="onFiltered">

				 <template v-slot:table-busy>
			    	<div class="my-2">
			    		<b-spinner type="grow"></b-spinner>
			    		<label style="margin-top:-30px">Cargando datos...</label>
			    	</div>
			    </template>

			    <template v-slot:cell(claveNegocio)="scope">
			    	<div class="text-nowrap">
			    		<strong>{{ scope.value }}</strong>
			    	</div>
			    </template>

			    <template v-slot:cell(tituloNegocio)="scope">
			    	<div class="text-nowrap" align="left">
			    		{{ scope.value }}
			    	</div>
			    </template>

			    <template v-slot:cell(nombre_contacto)="scope">
			    	<div class="text-nowrap" align="left">
			    		{{ scope.value }}
			    	</div>
			    </template>

			    <template v-slot:cell(nombre_organizacion)="scope">
			    	<div class="text-nowrap" align="left">
			    		{{ scope.value }}
			    	</div>
			    </template>
			    
			    <template v-slot:head()="scope">
			    	<div class="text-nowrap">
			    		{{ scope.label }}
			    	</div>
			    </template>

			    <template v-slot:row-details="row">
			        <b-card>
			          	<ul>
			            	<li v-for="(value, key) in row.item" :key="key">{{ key }}: {{ value }} <b-form-input type="text" size="sm" :value="value"></b-form-input></li>
			          	</ul>
			        </b-card>
			    </template>
		    </b-table>
		</b-card>
		<pagination-component />
	</div>
</template>

<script>
	export default {
		props:{
			columns: Array,
		},	
		data() {
			return {

			}
		},
		mounted()
		{
            this.$store.commit('setFields', this.columns)
            this.$store.commit('resetFilterOn')
		},
		methods:{
		    onFiltered(filteredItems) {
		        // Trigger pagination to update the number of buttons/pages due to filtering
		    	this.$store.commit('setTotalRows', filteredItems.length) 
		    	this.$store.commit('setCurrentPage', 1)
		    }
		},
		computed: {
		    negocios() 
			{
				return this.$store.state.negocios
			},
		    currentPage()
		    {
		    	return this.$store.state.currentPage
		    },
		    filteredNegocios()
		    {
		    	return this.$store.getters.filteredNegocios
		    },
		    perPage()
		    {
		    	return this.$store.state.perPage
		    },
		    filter()
		    {
		    	return this.$store.state.filter
		    },
		    filterOn()
		    {
		    	return this.$store.state.filterOn
		    },
		    isBusy()
		    {
		    	return this.$store.state.isBusy
		    },
		    fields()
		    {
		    	return this.$store.state.fields
		    }
    	}
    }
</script>

<style>
	.b-table-sticky-header {
        overflow-y: auto;
        max-height: calc(100vh - 185px);
    }
</style>


