<template>
	<b-container fluid style="height: calc(100vh - 54px)">
		<b-row class="h-100">
			<b-col lg="2" class="px-0 h-100">
				<vt-configuracion-sidebar />
			</b-col>
			<b-col lg="10">
				<div>
					<b-row>
						<b-col lg="2"></b-col>
						<b-col lg="8">
							<h1 class="text-center mt-4">
								Configuración de Embudos
							</h1>
						</b-col>
						<b-col lg="2">
							<b-badge
								variant="success"
								class="float-right mt-5"
								v-show="success"
							>
								<i class="fas fa-check-circle mr-1"></i>Se han
								guardado correctamente los cambios
							</b-badge>
							<b-badge
								variant="light"
								class="float-right mt-5"
								v-show="load"
							>
								<b-spinner
									type="grow"
									small
									label="Spinning"
								></b-spinner
								>Cargando ...
							</b-badge>
						</b-col>
					</b-row>
					<b-card title="Card Title" no-body class="mt-3">
						<b-card-header header-tag="nav" class="bg-light border">
							<b-nav
								card-header
								pills
								justified
								class="bg-light"
								style="overlay: auto"
							>
								<b-nav-item
									class="shadow border activate"
									:class="{
										['bg-secondary text-white']:
											embudoActive &&
											embudoActive.idEmbudo ==
												embudo.idEmbudo,
									}"
									v-for="(embudo, index) in listEmbudos"
									:key="index"
									@click="
										embudoActive = embudo;
										getEtapasByEmbudo();
									"
								>
									{{ embudo.nombre }}
									<!-- &nbsp;<b-badge pill variant="secondary">{{embud}}</b-badge> -->
								</b-nav-item>
								<b-nav-item
									v-if="
										hasPermission(
											'vt.crm.embudos.registrar'
										)
									"
									class="shadow activate border text-danger"
									v-b-modal.modal-embudo
									@click="embudoEdit = null"
								>
									<i class="fas fa-plus-circle"></i> Agregar
									embudo
								</b-nav-item>
							</b-nav>
						</b-card-header>
						<b-card-body
							class="px-5 pb-5"
							style="height: calc(100vh - 215px); overflow:auto"
						>
							<template
								v-if="embudoActive"
								style="height: calc(100vh - 271px); overflow:auto"
							>
								<b-card-text>
									<b-row>
										<b-col lg="6">
											<h2
												class="py-2 ml-2 text-secondary"
											>
												{{ embudoActive.nombre }}
												<span class="ml-3">
													<b-button
														v-if="
															hasPermission(
																'vt.crm.embudos.editar'
															)
														"
														variant="link"
														class="p-0"
														style="font-size: 13px"
														@click="
															embudoEdit = embudoActive
														"
														v-b-modal.modal-embudo
													>
														<i
															class="fas fa-edit text-danger"
														></i>
													</b-button>
													<b-button
														v-if="
															hasPermission(
																'vt.crm.embudos.eliminar'
															)
														"
														variant="link"
														class="p-0 ml-1"
														style="font-size: 13px"
														@click="
															showMsgBoxDeleteConfirm(
																embudoActive,
																'embudo'
															)
														"
													>
														<i
															class="fas fa-trash text-danger"
														></i>
													</b-button>
												</span>
											</h2>
										</b-col>
										<b-col lg="6">
											<b-button
												v-if="
													hasPermission(
														'vt.crm.embudos.registrar.etapa'
													)
												"
												variant="link"
												class="text-danger float-right mt-3"
												v-b-modal.modal-etapa
												@click="etapaEdit = null"
											>
												<i
													class="fas fa-plus-circle"
												></i>
												Agregar etapa
											</b-button>
										</b-col>
									</b-row>
								</b-card-text>

								<draggable
									v-model="listEtapas"
									ghost-class="ghost"
									@end="onEnd"
									:disabled="true"
								>
									<transition-group
										type="transition"
										name="flip-list"
									>
										<b-card
											class="sortable shadow mb-3 card-etapa"
											no-body
											v-for="(etapa, index) in listEtapas"
											:key="etapa.idEtapa"
										>
											<b-row>
												<b-col lg="4" class="pl-5">
													<h4 class="mb-0 mr-2 ml-5">
														{{ index + 1 }} -
														{{ etapa.nombreEtapa }}
														<span
															class="ml-2 span-opciones"
														>
															<b-button
																v-if="
																	hasPermission(
																		'vt.crm.embudos.editar.etapa'
																	)
																"
																variant="link"
																class="p-0"
																style="font-size: 12px !important"
																@click="
																	etapaEdit = etapa
																"
																v-b-modal.modal-etapa
															>
																<i
																	class="fas fa-edit text-danger"
																></i>
															</b-button>
															<b-button
																v-if="
																	hasPermission(
																		'vt.crm.embudos.eliminar.etapa'
																	)
																"
																variant="link"
																class="p-0 ml-1"
																style="font-size: 12px"
																@click="
																	showMsgBoxDeleteConfirm(
																		etapa,
																		'etapa'
																	)
																"
															>
																<i
																	class="fas fa-trash text-danger"
																></i>
															</b-button>
														</span>
													</h4>
												</b-col>
												<b-col
													lg="4"
													class="text-center"
												>
													<small>
														{{
															etapa.probabilidad
														}}% de probabilidad
													</small>
												</b-col>
												<b-col
													lg="4"
													class="text-center"
												>
													<small
														v-if="
															etapa.inactividad >
																0
														"
													>
														{{ etapa.inactividad }}
														días de estancamiento
													</small>
												</b-col>
											</b-row>
										</b-card>
									</transition-group>
								</draggable>
							</template>
							<template v-else>
								<div style="height: calc(100vh - 271px)">
									<icon-text-component
										:icon="'fas fa-comment-alt'"
										:text="
											'NO SE HA SELECCIONADO NINGÚN EMBUDO'
										"
										:circleStyle="{
											backgroundColor: '#f5f5f6',
											color: '#a8aeb3',
										}"
									/>
								</div>
							</template>
						</b-card-body>
					</b-card>
				</div>
			</b-col>
		</b-row>
		<modal-component
			:title="'Nuevo Embudo'"
			:id="'modal-embudo'"
			:hideFooter="true"
			:hideHeader="true"
			:centered="true"
		>
			<template slot="content">
				<vt-form-embudo-component
					:embudo="embudoEdit"
					@addEmbudo="addEmbudo($event)"
					@updateEmbudo="updateEmbudo($event)"
				/>
			</template>
		</modal-component>
		<modal-component
			:title="'Nueva Etapa'"
			:id="'modal-etapa'"
			:hideFooter="true"
			:hideHeader="true"
			:centered="true"
			:sizeModal="'sm'"
		>
			<template slot="content">
				<vt-form-etapa-component
					v-if="embudoActive"
					:etapa="etapaEdit"
					:idEmbudo="embudoActive.idEmbudo"
					@addEtapa="addEtapa($event)"
					@updateEtapa="updateEtapa($event)"
				/>
			</template>
		</modal-component>
	</b-container>
</template>

<script>
import draggable from "vuedraggable";

import { mapMutations, mapState, mapActions } from "vuex";
export default {
	components: {
		draggable,
	},
	props: {},
	data() {
		return {
			oldIndex: "",
			newIndex: "",
			listEmbudos: [],
			listEtapas: [],
			embudoActive: null,
			success: null,
			load: null,
			embudoEdit: null,
			etapaEdit: null,
		};
	},
	mounted() {
		this.setRouteName("vt.configuracion.embudos");
		this.getEmbudos();
	},
	methods: {
		...mapMutations(["setRouteName"]),
		onEnd: function(evt) {
			this.oldIndex = evt.oldIndex;
			this.newIndex = evt.newIndex;
			this.updateOrdenEtapas();
		},
		onUpdate: function(event) {
			this.list.splice(
				event.newIndex,
				0,
				this.list.splice(event.oldIndex, 1)[0]
			);
		},
		async updateOrdenEtapas() {
			this.load = true;
			this.success = false;
			try {
				const data = {
					idEmbudo: this.embudoActive.idEmbudo,
					etapas: this.listEtapas,
				};
				const response = await axios.put(
					BaseUrl + `/api/vt/etapas/orden`,
					data
				);
				this.load = false;
				this.makeToast(
					"success",
					"Éxito",
					"Se han guardado correctamente los cambios"
				);
			} catch (error) {
				this.makeToast(
					"danger",
					"Error",
					"Ha ocurrido un problema al actualizar el orden de las etapas"
				);
				console.log(error);
			}
		},
		async getEmbudos() {
			const response = await axios.get(BaseUrl + "/api/vt/embudos");
			this.listEmbudos = response.data;
		},
		async getEtapasByEmbudo() {
			const response = await axios.get(
				BaseUrl + `/api/vt/embudos/${this.embudoActive.idEmbudo}/etapas`
			);
			this.listEtapas = response.data;
		},
		addEmbudo(embudo) {
			this.listEmbudos.push(embudo);
		},
		updateEmbudo(embudoEdit) {
			const emb = this.listEmbudos.find(
				(embudo) => embudo.idEmbudo == embudoEdit.idEmbudo
			);
			emb.nombre = embudoEdit.nombre;
			emb.periodo = embudoEdit.periodo;
		},
		async deleteEmbudo(data) {
			try {
				const response = await axios.delete(
					BaseUrl + `/api/vt/embudos/${data.idEmbudo}`
				);
				if (response.data.success) {
					const index = this.listEmbudos.findIndex(
						(embudo) => embudo.idEmbudo == data.idEmbudo
					);

					this.listEmbudos.splice(index, 1);
					this.embudoActive = null;

					this.makeToast(
						"success",
						"Éxito",
						"Se ha eliminado correctamente el embudo"
					);
				}
			} catch (error) {
				this.makeToast(
					"danger",
					"Error",
					"Ha ocurrido un problema al eliminar el embudo"
				);
				console.log(error);
			}
		},
		addEtapa(etapa) {
			this.listEtapas.push(etapa);
		},
		updateEtapa(etapaEdit) {
			const etap = this.listEtapas.find(
				(etapa) => etapa.idEtapa == etapaEdit.idEtapa
			);
			etap.nombreEtapa = etapaEdit.nombreEtapa;
			etap.probabilidad = etapaEdit.probabilidad;
			etap.inactividad = etapaEdit.inactividad;
		},
		async deleteEtapa(data) {
			try {
				const response = await axios.delete(
					BaseUrl + `/api/vt/etapas/${data.idEtapa}`
				);
				if (response.data.success) {
					const index = this.listEtapas.findIndex(
						(etapa) => etapa.idEtapa == data.idEtapa
					);

					this.listEtapas.splice(index, 1);

					this.makeToast(
						"success",
						"Éxito",
						"Se ha eliminado correctamente la etapa"
					);
				}
			} catch (error) {
				this.makeToast(
					"danger",
					"Error",
					"Ha ocurrido un problema al eliminar la etapa"
				);
				console.log(error);
			}
		},
		showMsgBoxDeleteConfirm(data, tipo) {
			const mensaje =
				tipo == "etapa"
					? "la etapa " + data.nombreEtapa
					: "el embudo " + data.nombre;
			this.$bvModal
				.msgBoxConfirm(
					"¿Esta seguro que desea eliminar " + mensaje + "?",
					{
						title: "Favor de confirmar",
						size: "sm",
						buttonSize: "sm",
						okVariant: "danger",
						cancelVariant: "light",
						okTitle: "Eliminar",
						cancelTitle: "Cancelar",
						headerClass: "pt-3 pb-2 border-bottom-0",
						footerClass: "p-2 border-top-0",
						centered: true,
					}
				)
				.then((confirm) => {
					if (confirm) {
						if (tipo == "embudo") this.deleteEmbudo(data);
						if (tipo == "etapa") this.deleteEtapa(data);
					}
				});
		},
		makeToast(variant = null, title, text) {
			this.$bvToast.toast(text, {
				title: title,
				variant: variant,
				solid: true,
			});
		},
		hasPermission(funcion) {
			if (this.permissions.length) {
				const permiso = this.permissions.find(
					(permiso) => permiso.idFuncion == funcion
				);
				if (permiso) return true;
				return false;
			}
		},
	},
	computed: {
		...mapState(["permissions"]),
	},
};
</script>

<style>
.card-etapa:hover {
	-webkit-box-shadow: 0px 1px 23px -4px rgba(255, 102, 102, 1) !important;
	-moz-box-shadow: 0px 1px 23px -4px rgba(255, 102, 102, 1) !important;
	box-shadow: 0px 1px 20px -4px rgba(255, 102, 102, 1) !important;
}

.activate:hover {
	-webkit-box-shadow: 0px 0px 23px -4px rgb(69, 85, 95) !important;
	-moz-box-shadow: 0px 0px 23px -4px rgb(69, 85, 95) !important;
	box-shadow: 0px 2px 15px -4px rgb(69, 85, 95) !important;
}

.sortable {
	width: 100%;
	background: white;
	padding: 1em;
	cursor: move;
	span {
		float: right;
	}
}
.hello .sortable-drag {
	opacity: 0;
}

.flip-list-move {
	transition: transform 0.5s;
}

.ghost {
	border-left: 6px solid #dc3545;
	box-shadow: 10px 10px 5px -1px rgba(0, 0, 0, 0.14);
	opacity: 0.7;

	/*  &::before{
            content: '';
            position:absolute;
            width:20px;
            height:20px;
            margin-left:-50px
        }*/
}

.card-etapa:hover .span-opciones {
	display: inline-block;
}

.span-opciones {
	display: none;
}
</style>
