<template>
	<b-overlay
		:show="overlay"
		rounded="sm"
		opacity="1.0"
		blur="1px"
		variant="transparent"
	>
    	<b-alert variant="danger" class="p-2" show v-if="errorSubmit">
            <h6 class="text-center mt-2">
                <i class="fas fa-exclamation-triangle mr-2"></i>
                Ha ocurrido un problema al enviar la solicitud
            </h6>
        </b-alert>

        <b-form-group>
             <label class="form">
                Nombre de etapa
                <span class="req">*</span>
            </label>
            <b-form-input
                placeholder="Ingrese el nombre de la etapa"
                v-model="$v.form.nombreEtapa.$model"
                :state="
                    $v.form.nombreEtapa.$dirty
                        ? !$v.form.nombreEtapa.$error
                        : null
                "
            >
            </b-form-input>
            <b-form-invalid-feedback id="feedback-nombre-etapa">
                Campo obligatorio
            </b-form-invalid-feedback>
        </b-form-group>

        <b-row>
            <b-col lg="6">
                <b-form-group>
                    <label class="form">
                        Probabilidad
                        <span class="req">*</span>
                    </label>
                     <b-input-group prepend="%">
                        <b-form-input
                            v-model="$v.form.probabilidad.$model"
                            :state="
                                $v.form.probabilidad.$dirty
                                    ? !$v.form.probabilidad.$error
                                    : null
                            "
                        >
                        </b-form-input>
                     </b-input-group>
                    <b-form-invalid-feedback id="feedback-probabilidad">
                        Campo obligatorio
                    </b-form-invalid-feedback>
                </b-form-group>

            </b-col>
        </b-row>
         <b-form-group>
        	<b-form-checkbox
                v-model="estancandose"
                name="check-button"
                switch
                
            >
                Negocio "estancándose"
            </b-form-checkbox>
         </b-form-group>
        <b-row v-show="estancandose">
             <b-col lg="12">
                <b-form-group>
                    <label class="form">
                        Inactividad
                        <span class="req">*</span>
                    </label>
                    <b-row>
                        <b-col lg="4">
                            <b-form-input
                                v-model="$v.form.inactividad.$model"
                                :state="
                                    $v.form.inactividad.$dirty
                                        ? !$v.form.inactividad.$error
                                        : null
                                "
                            >
                            </b-form-input>
                        </b-col>
                        <b-col lg="7" class="pt-2 pl-0">
                            <small> días de inactividad </small>
                        </b-col>
                    </b-row>
                    <b-form-invalid-feedback id="feedback-inactividad">
                        Campo obligatorio
                    </b-form-invalid-feedback>
                </b-form-group>
                
            </b-col>
        </b-row>

        <div class="d-flex flex-row-reverse bd-highlight">
            <b-button
                variant="danger"
                class="ml-3 my-2"
                @click="submit"
            >
                GUARDAR
            </b-button>
            <b-button
                variant="white"
                class="link-light my-2"
                @click="cancel"
            >
                CANCELAR
            </b-button>
        </div>

	</b-overlay>
</template>

<script>
import { mapMutations, mapState, mapActions } from "vuex";
import { required } from "vuelidate/lib/validators";

export default {
	props: {
        etapa: Object,
        idEmbudo: Number,
	},
	data() {
		return {
			load:true,
			errorSubmit: false,
            overlay: false,
            estancandose: false,
			form: {
				nombreEtapa: "",
				probabilidad: null,
                inactividad: null,  
                idEmbudo: null
            },
		};
	},
	mounted() {
		if (this.etapa) this.setDataEdit();
	},
	methods: {
		...mapMutations(["modalSubmit", "modalOk"]),
		async submit() {
			this.overlay = true;
			this.errorSubmit = false;
			this.$v.$touch();

			if (!this.$v.$invalid) {
				try{
                    this.form.idEmbudo = this.idEmbudo
                    if(!this.estancandose){
                        this.form.inactividad = 0;
                    }
                    const response = !this.etapa
                        ? await axios.post(
                                BaseUrl + `/api/vt/etapas`,
                                this.form
                        )
                        : await axios.put(
                                BaseUrl +
                                    `/api/vt/etapas/${this.etapa.idEtapa}`,
                                this.form
                        );
                    if (response.data.success) {
                        if (!this.etapa)
                            this.$emit('addEtapa', response.data.etapa);
                        else 
                            this.$emit('updateEtapa', response.data.etapa);
                        this.modalSubmit(true);
                        this.overlay = false;
                    } else 
                        this.modalOk(false);
				}catch(e){
					console.log(e)
					this.overlay = false
					this.errorSubmit = true
				}
			} else {
				this.overlay = false;
			}
		},
		setDataEdit() {
            this.form.nombreEtapa = this.etapa.nombreEtapa;
			this.form.probabilidad = this.etapa.probabilidad;
            this.form.inactividad = this.etapa.inactividad;    
            if(Number(this.form.inactividad>0))
                this.estancandose = true        
		},
		cancel() {
			this.$bvModal.hide("modal-etapa");
        },
	},
	computed: {
		...mapState(["okModal"]),
	},
	validations() {
        if(this.estancandose) {
           return {
                form: {
                    nombreEtapa: { required },
                    probabilidad: { required },
                    inactividad: { required },  
                },
            }
        }else {
            return {
                form: {
                    nombreEtapa: { required },
                    probabilidad: { required },
                    inactividad: { },  
                },
            }
        }
		
	},
	watch: {
		okModal() {
			if (this.okModal == true) {
				this.submit();
			}
		},
	},
};
</script>

<style>
.activate:hover {
	background-color: rgba(159, 161, 164, 0.1);
	transition: all 0.2s linear;
}
</style>
