<template>
	<b-overlay
		:show="overlay"
		rounded="sm"
		opacity="1.0"
		blur="1px"
		variant="transparent"
	>
    	<b-alert variant="danger" class="p-2" show v-if="errorSubmit">
            <h6 class="text-center mt-2">
                <i class="fas fa-exclamation-triangle mr-2"></i>
                Ha ocurrido un problema al actualizar el embudo
            </h6>
        </b-alert>

        <b-form-group>
             <label class="form">
                Nombre de embudo
                <span class="req">*</span>
            </label>
            <b-form-input
                placeholder="Ingrese el nombre del embudo"
                v-model="$v.form.nombre.$model"
                :state="
                    $v.form.nombre.$dirty
                        ? !$v.form.nombre.$error
                        : null
                "
                @input="nombreToUpper"
            >
            </b-form-input>
            <b-form-invalid-feedback id="feedback-nombre">
                Campo obligatorio
            </b-form-invalid-feedback>
        </b-form-group>

         <b-form-group>
             <label class="form">
                Periodo
                <span class="req">*</span>
            </label>
            <b-form-select
                :options="periodos"
                v-model="$v.form.periodo.$model"
                :state="
                    $v.form.periodo.$dirty
                        ? !$v.form.periodo.$error
                        : null
                "
            >
            	<template v-slot:first>
                    <option :value="null">
                        Seleccione el periodo de embudo
                    </option>
                </template>
            </b-form-select>
            <b-form-invalid-feedback id="feedback-periodo">
                Campo obligatorio
            </b-form-invalid-feedback>
        </b-form-group>

        <div class="d-flex flex-row-reverse bd-highlight">
            <b-button
                variant="danger"
                class="ml-3 my-2"
                @click="submit"
            >
                GUARDAR
            </b-button>
            <b-button
                variant="white"
                class="link-light my-2"
                @click="cancel"
            >
                CANCELAR
            </b-button>
        </div>

	</b-overlay>
</template>

<script>
import { mapMutations, mapState, mapActions } from "vuex";
import { required } from "vuelidate/lib/validators";

export default {
	props: {
		embudo: Object,
	},
	data() {
		return {
			load:true,
			errorSubmit: false,
			overlay: false,
			form: {
				nombre: "",
				periodo: null,
            },
            periodos:[2018, 2019, 2020, 2021, 2022, 2023, 2024, 2025]
		};
	},
	mounted() {
		if (this.embudo) this.setDataEdit();
	},
	methods: {
		...mapMutations(["modalSubmit", "modalOk"]),
		async submit() {
			this.overlay = true;
			this.errorSubmit = false;
			this.$v.$touch();

			if (!this.$v.$invalid) {
				try{
                    const response = !this.embudo
                        ? await axios.post(
                                BaseUrl + `/api/vt/embudos`,
                                this.form
                        )
                        : await axios.put(
                                BaseUrl +
                                    `/api/vt/embudos/${this.embudo.idEmbudo}`,
                                this.form
                        );
                    if (response.data.success) {
                        if (!this.embudo)
                            this.$emit('addEmbudo', response.data.embudo);
                        else 
                            this.$emit('updateEmbudo', response.data.embudo);
                        this.modalSubmit(true);
                        this.overlay = false;
                    } else 
                        this.modalOk(false);
				}catch(e){
					console.log(e)
					this.overlay = false
					this.errorSubmit = true
				}
			} else {
				this.overlay = false;
			}
		},
		setDataEdit() {
			this.form.nombre = this.embudo.nombre;
			this.form.periodo = this.embudo.periodo;
		},
		cancel() {
			this.$bvModal.hide("modal-embudo");
        },
        nombreToUpper(val)
        {
            this.form.nombre = val.toUpperCase()
        },
	},
	computed: {
		...mapState(["okModal"]),
	},
	validations: {
		form: {
			nombre: { required },
			periodo: { required },
		},
	},
	watch: {
		okModal() {
			if (this.okModal == true) {
				this.submit();
			}
		},
	},
};
</script>

<style>
.activate:hover {
	background-color: rgba(159, 161, 164, 0.1);
	transition: all 0.2s linear;
}
</style>
