<template>
	<b-container fluid>
		<filters-component class="pt-2 pb-2" :filterMarginTop="4">
			<template>
				<b-row>
					<b-col lg="2">
						<b-button
							v-if="hasPermission('vt.crm.clientes.registrar')"
							variant="danger"
							size="sm"
							class="shadow-sm mt-3"
							@click="cliente = null"
							v-b-modal.modal
						>
							<b-icon
								icon="person-plus-fill"
								aria-hidden="true"
							></b-icon>
							Agregar cliente
						</b-button>
					</b-col>
					<b-col lg="10">
						<h1 class="text-center mb-0">
							Administración de Clientes
						</h1>
					</b-col>
				</b-row>
			</template>
		</filters-component>
		<table-component
			:fields="fields"
			:items="clientes"
			@dataEdit="setDataEdit($event)"
			@dataDelete="setDataDelete($event)"
		>
		</table-component>
		<modal-component :title="'Nuevo cliente'" :id="'modal'">
			<template slot="content">
				<vt-form-cliente :cliente="cliente" />
			</template>
		</modal-component>
	</b-container>
</template>

<script>
import { mapState, mapMutations, mapGetters, mapActions } from "vuex";

export default {
	data() {
		return {
			items: 0,
			cliente: null,
			fields: [
				{
					key: "clave",
					label: "Clave",
					sortable: true,
					sortDirection: "desc",
					class: "text-center",
					thStyle: { width: "180px" },
				},
				{
					key: "nombre",
					label: "Nombre",
					sortable: true,
					class: "text-left",
				},
				{
					key: "telefono",
					label: "Telefono",
					sortable: true,
					class: "text-center",
				},
				{
					key: "direccion",
					label: "Direccion",
					sortable: true,
					class: "text-left",
				},
				{
					key: "paginaWeb",
					label: "Pagina Web",
					sortable: true,
					class: "text-left",
				},
				{
					key: "localidadEstado",
					label: "Localidad",
					sortable: true,
					class: "text-left",
				},
				{
					key: "rfc",
					label: "RFC",
					sortable: true,
					class: "text-center",
				},
				{
					key: "actions",
					label: "Acciones",
					class: "text-center",
				},
			],
		};
	},
	mounted() {
		this.getClientes();
		this.setRouteName("negocios.clientes");
	},
	methods: {
		...mapMutations(["setRouteName", "setFormDelete"]),
		...mapActions("clientes", ["getClientes"]),
		setDataEdit(cliente) {
			this.cliente = cliente;
		},
		setDataDelete(cliente) {
			const data = {
				dpto: "vt",
				section: "clientes",
				tipo: "Cliente",
				id: cliente.idCliente,
				registro: cliente.nombre,
			};
			this.setFormDelete(data);
		},
		hasPermission(funcion) {
			if (this.permissions.length) {
				const permiso = this.permissions.find(
					(permiso) => permiso.idFuncion == funcion
				);
				if (permiso) return true;
				return false;
			}
		},
	},
	computed: {
		...mapState(["totalRows", "permissions"]),
		...mapState("clientes", ["clientes"]),
	},
};
</script>
