<template>
	<div>
		<b-row>
			<b-col lg="3">
				<b-form-group>
					<b-input-group prepend="Clientes" size="sm">
						<b-form-select 
						size="sm" 
						:options="clientes"
						:value="embudoSelected" 
						@change="setEmbudo($event)">					
						</b-form-select>
					</b-input-group>
				</b-form-group>	 
			</b-col>
		</b-row>
	</div>
</template>

 <script>
	
	import { mapState, mapMutations, mapActions } from 'vuex'

 	export default {
 		data() {
 			return {

 			}
 		},
 		mounted(){
 			this.selectClientes()
 		},
 		methods:{
 			// ...mapActions('negocios',['getNegocios','getEmbudos','getEtapas', 'getNegociosActividades']),
 			// ...mapMutations('negocios', ['setEmbudoSelected', 'setStatusFilter']),
	
 			...mapActions('clientes', ['selectClientes']),
 			setEmbudo(event) {
 				this.setEmbudoSelected(event)
 				this.getEtapas()
 				if(this.routeName == 'negocios.embudos'){
 					this.getNegociosActividades()
 				}else{
					 this.getNegocios()
					 				
 				}
 			}
 		},
		computed:{
            ...mapState('negocios', ['embudos', 'embudoSelected', 'statusFilter']),	
            ...mapState('clientes', ['clientes']),	
			...mapState(['routeName'])	
		},
		watch:{
			routeName()
			{
				if(this.routeName == 'negocios.embudos')
	 			 	this.getNegociosActividades()
	 			else
	 			 	this.getNegocios()
			}
		}
	}
 </script>