<template>
	<form ref="form" @submit.stop.prevent="submit">	
		<b-row>

			<b-col lg="8" class="pr-0 mr-0">

				<b-form-group label="Nombre completo">
					<b-form-input type="text"
						id="input-nombre"
						v-model="$v.form.nombre.$model"
						:state="$v.form.nombre.$dirty ? !$v.form.nombre.$error : null"
						placeholder="Ingrese el nombre del cliente"
						aria-describedby="feedback-nombre">
					</b-form-input>
					<b-form-invalid-feedback id="feedback-nombre">
						Campo obligatorio
					</b-form-invalid-feedback>
				</b-form-group>

			</b-col> 
			<b-col>

				<b-form-group label="Clave">
					<b-form-input type="text"
						id="input-clave"
						v-model="$v.form.clave.$model"
						:state="$v.form.clave.$dirty ? !$v.form.clave.$error : null"
						placeholder=""
						aria-describedby="clave-required"
						class="text-center">
					</b-form-input>
					<b-form-invalid-feedback v-if="!$v.form.clave.required" id="clave-required">
						Campo obligatorio
					</b-form-invalid-feedback>
					<b-form-invalid-feedback v-if="!$v.form.clave.alpha" id="clave-required">
						Solo se aceptan letras
					</b-form-invalid-feedback>
				</b-form-group>

			</b-col>
		</b-row>

		<b-form-group label="Dirección">
			<b-form-input type="text"
				id="input-direccion"
				v-model="$v.form.direccion.$model"
				:state="$v.form.direccion.$dirty ? !$v.form.direccion.$error : null"
				placeholder="Ingerese la dirección del cliente">
			</b-form-input>
		</b-form-group>

		<b-form-group label="Localidad / estado">
			<b-form-input type="text"
				id="input-localidad-estado"
				v-model="$v.form.localidadEstado.$model"
				:state="$v.form.localidadEstado.$dirty ? !$v.form.localidadEstado.$error : null"
				placeholder="Ingerese localidad y/o estado del cliente">
			</b-form-input>
		</b-form-group>

		<b-form-group label="Página web">
			<b-form-input type="text"
				id="input-pagina"
				v-model="$v.form.paginaWeb.$model"
				:state="$v.form.paginaWeb.$dirty ? !$v.form.paginaWeb.$error : null"
				placeholder="Ingerese la página web del cliente"
				aria-describedby="paginaweb-required">
				</b-form-input>
					
					<b-form-invalid-feedback id="paginaweb-required">
						Ingrese un sitio valido
					</b-form-invalid-feedback>
		</b-form-group>

		<b-row>
			<b-col lg="8">
				<b-form-group label="Teléfono">
					<b-form-input type="text"
						id="input-telefono"
						v-model="$v.form.telefono.$model"
						:state="$v.form.telefono.$dirty ? !$v.form.telefono.$error : null"
						placeholder="Número"
						aria-describedby="feedback-telefono">
					</b-form-input>

					<b-form-invalid-feedback v-if="!$v.form.telefono.required" id="feedback-telefono">
						Campo obligatorio
					</b-form-invalid-feedback>
					<b-form-invalid-feedback v-if="!$v.form.telefono.numeric" id="feedback-telefono">
						Solo se aceptan numeros
					</b-form-invalid-feedback>
					<b-form-invalid-feedback v-if="!$v.form.telefono.minLength||!$v.form.telefono.maxLength" id="feedback-telefono">
						10 numeros para el telefono
					</b-form-invalid-feedback>
				</b-form-group>
			</b-col>
			<b-col lg="4" class="pl-0">
				<b-form-group label="Extención">
					<b-form-input type="text"
						id="input-extención"
						v-model="$v.form.extensionTelefonica.$model"
						:state="$v.form.extensionTelefonica.$dirty ? !$v.form.extensionTelefonica.$error : null"
						placeholder="Ext"
						class="text-center"
						aria-describedby="feedback-extencion">
					</b-form-input>

					<b-form-invalid-feedback v-if="!$v.form.extensionTelefonica.maxLength||!$v.form.extensionTelefonica.minLength" id="feedback-extencion">
						3 numeros para la extension
					</b-form-invalid-feedback>
				</b-form-group>
			</b-col>
		</b-row>

		<b-row>
			<b-col lg="6">

				<b-form-group label="Sector industrial">
					<b-form-select 
						v-model="$v.form.sector.$model" 
						:options="sectores"
						:state="$v.form.sector.$dirty ? !$v.form.sector.$error : null"
						aria-describedby="sector-required">
					</b-form-select>
					
					<b-form-invalid-feedback id="sector-required">
						Campo obligatorio
					</b-form-invalid-feedback>
				</b-form-group>
	
			</b-col>
			<b-col lg="6" class="ml-0 pl-0">

				<b-form-group label="RFC">
					<b-form-input type="text"
						id="input-rfc"
						v-model="$v.form.rfc.$model"
						:state="$v.form.rfc.$dirty ? !$v.form.rfc.$error : null"
						placeholder="Ingerese el RFC del cliente">
					</b-form-input>
				</b-form-group>

			</b-col>
		</b-row>
	</form>
</template>

<script>
	import { required, minLength,numeric,maxLength,alpha,url} from 'vuelidate/lib/validators'
	import { mapState, mapMutations, mapActions } from 'vuex'
	export default {
		props:{
			cliente: Object
		},
		data() {
			return {
				sectores:[],
				form:{
		            idCliente: null,
		            nombre: '',
		            clave: '',
		            direccion: '',
		            localidadEstado: '',
		            telefono: '',
		            tipoTelefono: '',
					extensionTelefonica: '',
					paginaWeb:'',
		            sector: 1,
					rfc: '',
					idUsuario: 1
		        },
		        selectTiposTelefono: [
		          { value: null, text: 'Seleccione' },
		          { value: 'Trabajo', text: 'Trabajo' },
		          { value: 'Celular', text: 'Celular' },
		        ],
		        selectSectores: [
		          { value: 'Industrial', text: 'Industrial' },
		        ],
			}
		},
		mounted() {
			this.getSector();
			if(this.cliente) 
				this.setDataEdit()
		},
		methods: {
			...mapMutations(['modalSubmit', 'modalOk']),
			...mapMutations('clientes', ['addCliente', 'updateCliente']), 

			async submit() {
				this.$v.$touch()
				if (!this.$v.$invalid) {
					console.log('entra')
		            const response = (!this.cliente) ?
		            		await axios.post(BaseUrl + `/api/vt/clientes`, this.form) : 
		            		await axios.put(BaseUrl + `/api/vt/clientes`, this.form)
	                console.log(response)
	                if(response.data.success){
	                	if(!this.cliente)
	                    	this.addCliente(response.data.cliente)
			            else
			            	this.updateCliente(response.data.cliente)
	                	this.modalSubmit(true) 
	                }
				}else{
					this.modalOk(false)
				}
			},
			getSector(){
				axios.get(BaseUrl + `/api/vt/sector/select`)
	            .then(response=> {
	                this.sectores=response.data;
	            });
			},
			setDataEdit()
			{
				this.form.idCliente = this.cliente.idCliente
				this.form.nombre = this.cliente.nombre
				this.form.clave = this.cliente.clave
				this.form.direccion = this.cliente.direccion
				this.form.localidadEstado = this.cliente.localidadEstado
				this.form.paginaWeb = this.cliente.paginaWeb
				this.form.telefono = this.cliente.telefono
				this.form.extensionTelefonica = this.cliente.extensionTelefonica
				this.form.tipoTelefono = this.cliente.tipoTelefono
				this.form.rfc = this.cliente.rfc
				this.form.sector = this.cliente.idSector
			}
		},
		computed: {
			...mapState(['okModal']),
		},
		validations: {
			form:{
				nombre: { required },
				clave: { required,alpha }, 
				direccion: {},
				localidadEstado: { required },
				paginaWeb: {url},
				sector: { required },
				rfc: {},
				telefono: { required, numeric, maxLength: maxLength(10),minLength: minLength(10) },
				extensionTelefonica: {}
			}
		},
		watch: {
			okModal()
			{
				if(this.okModal==true){
					this.submit()
				}
			}
		}
	}
</script>