<template>
  	<div>
		<treeselect
			:value="clienteSelected"
			:load-options="loadRootOptions"
			:async="true"
			@input="setClienteSelected"
			:size="'sm'"
			placeholder="Seleccione un cliente" />
 	</div>
</template>

<script>
  import Treeselect from '@riophae/vue-treeselect'
  import '@riophae/vue-treeselect/dist/vue-treeselect.css'
  import { LOAD_ROOT_OPTIONS } from '@riophae/vue-treeselect'
  import { ASYNC_SEARCH } from '@riophae/vue-treeselect'
  import { mapState, mapMutations, mapActions } from 'vuex'

  export default {
	  
    components: { Treeselect },
  	props: {
  		idClienteEdit: Number
  	},
    data: () => ({
		
    	 
  	}),
    mounted(){
		this.setClienteSelected(null)
	},
    methods: {
    	async loadRootOptions({ action, searchQuery, callback }) {
			  const options = await axios.get(BaseUrl + `/api/vt/clientes/like?searchQuery=${searchQuery}`)
	      	.then(response => {
		        return response.data.map(cliente => ({
		            id: cliente.idCliente,
		            label: cliente.nombre,
		        }))
	      	})
	      	callback(null, options)
		   },
		   ...mapMutations('clientes',['setClienteSelected']),
		   ...mapActions('clientes', ['getContactosByIdCliente'])
	}, 
	computed: {
		...mapState('clientes',['clienteSelected']),
	},
	watch: {
		clienteSelected() {
			if(this.clienteSelected)
				this.getContactosByIdCliente()
		},
		idClienteEdit(){
			if(this.idClienteEdit)
				this.setClienteSelected(this.idClienteEdit)
		}
	}
 }
</script>

<style>
	.vue-treeselect__control {
	    display: block;
	    width: 100%;
	    height: calc(1.5em + 0.75rem + 2px);
	    padding-top: 0rem;
	    padding-right: 0.75rem;
	    padding-left: 0.45rem;
	    font-size: 1rem;
	    font-weight: 400;
	    line-height: 1.5;
	    color: #495057 !important;
	    background-color: #fff;
	    background-clip: padding-box;
	    border: 1px solid #ced4da;
	    border-radius: 0.25rem;
	    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	}

	.vue-treeselect__input {
	    max-width: 100%;
	    margin: 0;
	    padding-top: 5px;
	    padding-right: 0px;
	    padding-bottom: 0px;
	    padding-left: 0px;
	    border: 0;
	    outline: none;
	    box-sizing: content-box;
	    box-shadow: none;
	    background: none transparent;
	    line-height: 1;
	    vertical-align: middle;
	}

	.vue-treeselect__control-arrow-container {
    	line-height: 2 !important;
	}	

	.vue-treeselect div, .vue-treeselect span {
	    box-sizing: border-box;
	    margin-top: -1px;
	    color: #757575;
	}

	.vue-treeselect__x-container {
	    padding-top: 4px;
	    padding-right: 8px;
	}
</style>
