<template>
	<b-container class="bv-example-row">
		<b-row>
			<b-col cols="6">
				<h5 class="display-1 pb-1" style="font-size: 16px">
					Clave de negocio:
					<strong> {{ dataDetailsPresupuesto.claveNegocio }} </strong>
				</h5>
			</b-col>
			<b-col cols="6" class="text-right">
				<h5 class="display-1 pb-2" style="font-size: 14px">
					Fecha de facturación:
					<b-badge
						class="pt-2 pb-2 bg-light text-secondary font-weight-light"
						style="font-size: 13px"
					>
						{{ fechaFacturacion }}
					</b-badge>
				</h5>
			</b-col>
			<b-col cols="12">
				<h5 class="display-1 pb-2" style="font-size: 16px">
					Descripción del negocio:
					<strong>{{ dataDetailsPresupuesto.tituloNegocio }}</strong>
				</h5>
			</b-col>
		</b-row>

		<b-row>
			<b-col cols="6">
				<hr class="mb-0 pb-0" />
				<b-table-simple
					:striped="false"
					:bordered="true"
					:small="true"
					:no-border-collapse="false"
					responsive
					show-empty
					class="mb-0"
				>
					<b-thead>
						<b-tr>
							<b-th colspan="3" class="text-center mb-2">
								<h5
									class="display-1 my-1"
									style="font-size: 14px"
								>
									<b>Real</b>
								</h5>
							</b-th>
						</b-tr>
					</b-thead>
					<b-thead class="text-center">
						<b-th>
							<small>Clave</small>
						</b-th>
						<b-th>
							<small>Mes</small>
						</b-th>
						<b-th>
							<small>Importe MXN</small>
						</b-th>
					</b-thead>
					<b-tbody v-if="dataDetailsPresupuesto.foundNegocio">
						<tr class="text-center">
							<td width="40%">
								<small>{{ negocio.claveNegocio }}</small>
							</td>
							<td width="30%" :class="statusFechaFactura">
								<small>{{ nameMonthFactura }}</small>
							</td>
							<td width="30%">
								<vt-presupuesto-formato-importe-mxn
									:importe="parseFloat(negocio.valorNegocio)"
									:tipoMoneda="negocio.tipoMoneda"
									:dolar="parseFloat(negocio.xCambio)"
								/>
							</td>
						</tr>
					</b-tbody>

					<b-tbody v-else>
						<tr class="text-center">
							<td colspan="3">
								<small>
									<div
										role="alert"
										aria-live="polite"
										aria-atomic="true"
										class="alert alert-warning-light text-justify mb-0"
									>
										<strong>Advertencia:</strong>
										Ha ocurrido un inconveniente al intentar
										encontrar el negocio, es posible que el
										negocio ya no se encuentre en el embudo
										seleccionado.
									</div>
								</small>
							</td>
						</tr>
					</b-tbody>

					<b-thead>
						<b-tr>
							<b-th colspan="3" class="text-center mb-2 bg-light">
								<h5
									class="display-1 my-1"
									style="font-size: 12px"
								>
									<b> Estimaciones </b>
								</h5>
							</b-th>
						</b-tr>
					</b-thead>
					<b-tbody v-if="estimaciones.length > 0">
						<tr
							class="text-center"
							v-for="estimacion in estimaciones"
							:key="estimacion.idNegocio"
						>
							<td width="40%">
								<small>
									{{ estimacion.claveNegocio }}
								</small>
							</td>
							<td width="30%">
								<vt-presupuesto-formato-fecha
									:fecha="estimacion.fecha_factura"
								/>
							</td>
							<td width="30%">
								<vt-presupuesto-formato-importe-mxn
									:importe="
										parseFloat(estimacion.valorNegocio)
									"
									:tipoMoneda="estimacion.tipoMoneda"
									:dolar="parseFloat(estimacion.xCambio)"
								/>
							</td>
						</tr>
					</b-tbody>

					<b-tbody v-else>
						<tr class="text-center bg-red-light-1">
							<td colspan="3">
								<small>
									Sin estimaciones
								</small>
							</td>
						</tr>
					</b-tbody>
				</b-table-simple>
			</b-col>

			<b-col cols="6">
				<hr class="mb-0 pb-0" />
				<b-table-simple
					:striped="false"
					:bordered="true"
					:small="true"
					:no-border-collapse="false"
					responsive
					show-empty
					class="mb-0"
				>
					<b-thead>
						<b-tr>
							<b-th colspan="3" class="text-center mb-2">
								<h5
									class="display-1 my-1"
									style="font-size: 14px"
								>
									<b>Presupuestado </b>
								</h5>
							</b-th>
						</b-tr>
					</b-thead>
					<b-thead class="text-center">
						<b-th>
							<small>Clave</small>
						</b-th>
						<b-th>
							<small>Mes</small>
						</b-th>
						<b-th>
							<small>Importe MXN</small>
						</b-th>
					</b-thead>
					<b-tbody class="text-center">
						<tr
							v-for="presupuesto in presupuestoMes"
							:key="presupuesto.idPreMes"
						>
							<td width="40%">
								<small>
									{{ presupuesto.clave_negocio }}
								</small>
							</td>
							<td width="30%">
								<vt-presupuesto-nombre-mes
									:idMes="presupuesto.idMes"
								/>
							</td>
							<td width="30%">
								<small>
									<vue-numeric
										separator=","
										:precision="2"
										currency="$"
										:read-only="true"
										:value="presupuesto.totalMensual"
									/>
								</small>
							</td>
						</tr>
					</b-tbody>

					<b-thead>
						<b-tr>
							<b-th colspan="3" class="text-center mb-2 bg-light">
								<h5
									class="display-1 my-1"
									style="font-size: 12px"
								>
									<b>Estimaciones </b>
								</h5>
							</b-th>
						</b-tr>
					</b-thead>
					<b-tbody
						class="text-center"
						v-if="presupuestoMesEstimacion.length > 0"
					>
						<tr
							v-for="presupuesto in presupuestoMesEstimacion"
							:key="presupuesto.idPreMes"
							:class="
								presupuesto.id_embudo !== embudoSelected
									? 'bg-red-light-2'
									: 'bg-white'
							"
						>
							<td width="40%">
								<small>
									{{ presupuesto.clave_negocio }}
								</small>
							</td>
							<td width="30%">
								<vt-presupuesto-nombre-mes
									:idMes="presupuesto.idMes"
								/>
							</td>
							<td width="30%">
								<small>
									<vue-numeric
										separator=","
										:precision="2"
										currency="$"
										:read-only="true"
										:value="presupuesto.totalMensual"
									/>
								</small>
							</td>
						</tr>
					</b-tbody>

					<b-tbody v-else>
						<tr class="text-center bg-red-light-1">
							<td colspan="3">
								<small>
									Sin estimaciones
								</small>
							</td>
						</tr>
					</b-tbody>
				</b-table-simple>
			</b-col>
		</b-row>

		<b-row class="pt-3">
			<b-col>
				<h5 class="display-1 pb-2" style="font-size: 14px">
					Total:
					<b-badge
						class="pt-2 pb-2 bg-light text-dark font-weight-light"
						style="font-size: 13px"
					>
						<vue-numeric
							separator=","
							:precision="2"
							currency="$"
							:read-only="true"
							:value="totalNegocio"
						/>
						<strong> MXN </strong>
					</b-badge>
				</h5>
			</b-col>
			<b-col>
				<h5 class="display-1 pb-2" style="font-size: 14px">
					Total:
					<b-badge
						class="pt-2 pb-2 bg-light text-dark font-weight-light"
						style="font-size: 13px"
					>
						<vue-numeric
							separator=","
							:precision="2"
							currency="$"
							:read-only="true"
							:value="dataDetailsPresupuesto.totalAnual"
						/>
						<strong> MXN </strong>
					</b-badge>
				</h5>
			</b-col>
		</b-row>
	</b-container>
</template>

<script>
import { mapState, mapMutations, mapActions } from "vuex";

export default {
	data() {
		return {};
	},
	methods: {
		usdToMXN(negocio) {
			return negocio.tipoMoneda == "USD"
				? parseFloat(negocio.valorNegocio) * parseFloat(negocio.xCambio)
				: parseFloat(negocio.valorNegocio);
		},
	},
	computed: {
		...mapState("negocios", ["negocios", "embudoSelected"]),
		...mapState("presupuesto", [
			"dataDetailsPresupuesto",
			"presupuestosMeses",
			"presupuestos",
		]),

		presupuestoMes() {
			return this.presupuestosMeses.filter(
				(presupuesto) =>
					presupuesto.idPresupuesto ==
						this.dataDetailsPresupuesto.idPresupuesto &&
					presupuesto.idNegocioMensual == presupuesto.id_negocio
			);
		},
		presupuestoMesEstimacion() {
			return this.presupuestosMeses.filter(
				(presupuesto) =>
					presupuesto.idPresupuesto ==
						this.dataDetailsPresupuesto.idPresupuesto &&
					presupuesto.idNegocioMensual != presupuesto.id_negocio
			);
		},
		fechaFacturacion() {
			if (this.dataDetailsPresupuesto.foundNegocio) {
				const fecha = moment(this.negocio.fecha_factura)
					.locale("es")
					.format("LL");
				return fecha != "Invalid date" ? fecha : "sin factura";
			} else {
				return "sin factura";
			}
		},
		nameMonthFactura() {
			const mes = moment(this.negocio.fecha_factura)
				.locale("es")
				.format("MMMM");
			return mes != "Invalid date" ? mes.toUpperCase() : "sin factura";
		},
		statusFechaFactura() {
			return this.nameMonthFactura != "sin factura"
				? "bg-green-light-2"
				: "bg-red-light-1";
		},
		negocio() {
			const negocio = this.negocios.find(
				(negocio) =>
					negocio.idNegocio == this.dataDetailsPresupuesto.idNegocio
			);
			return negocio != null ? negocio : "sin negocio";
		},
		estimaciones() {
			return this.negocios.filter(
				(estimacion) =>
					estimacion.estimacion ==
					this.dataDetailsPresupuesto.idNegocio
			);
		},
		totalNegocio() {
			if (this.dataDetailsPresupuesto.foundNegocio) {
				if (isNaN(this.estimaciones)) {
					var importe = 0;
					for (var i = 0; i < this.estimaciones.length; i++) {
						importe += this.usdToMXN(this.estimaciones[i]);
					}
					importe += this.usdToMXN(this.negocio);
					return importe.toFixed(2);
				} else {
					return this.usdToMXN(this.negocio).toFixed(2);
				}
			} else {
				if (isNaN(this.estimaciones)) {
					var importe = 0;
					for (var i = 0; i < this.estimaciones.length; i++) {
						importe += this.usdToMXN(this.estimaciones[i]);
					}
					return importe.toFixed(2);
				} else {
					return 0;
				}
			}
		},
	},
};
</script>

<style>
.bg-green-light-2 {
	background-color: #e0ffe1;
	color: #28a745;
}
.bg-red-light-1 {
	background-color: rgb(255, 241, 241);
	color: #ce6262;
}
.bg-red-light-2 {
	background-color: rgb(255, 241, 241);
}
.alert-warning-light {
	color: #856404;
	background-color: #fffcf4;
	border-color: #fffcf4;
}
</style>
