<template>
	<div>
		<div v-if="dataTotalMes.foundNegocio">
			<div v-if="dataTotalMes.facturado">
				<b-container>
					<h5
						class="display-1 pb-1"
						style="font-size: 22px"
						align="center"
					>
						Detalles de presupuesto mensual
					</h5>
					<h5
						class="display-1 pt-0 pb-2"
						style="font-size: 14px"
						align="right"
					>
						Negocio:
						<b-badge
							class="pt-2 pb-2 bg-light text-dark font-weight-light"
							style="font-size: 15px"
						>
							Facturado
						</b-badge>
					</h5>
					<h5 class="display-1 pb-1" style="font-size: 14px">
						Clave de negocio:
						<strong> {{ dataTotalMes.claveNegocio }} </strong>
					</h5>
					<h5 class="display-1 pb-1" style="font-size: 14px">
						Mes de facturación:
						<strong> {{ nameMonthFactura }} </strong>
					</h5>
					<h5 class="display-1 pb-1" style="font-size: 14px">
						Estimación:
						<strong> {{ estimacion }} </strong>
					</h5>
					<h5 class="display-1" style="font-size: 14px">
						Valor mensual:
						<strong>
							<vue-numeric
								class="text-right form-control form-control-sm"
								separator=","
								:precision="2"
								currency="$"
								:read-only="true"
								:value="total"
							/>
							MXN
						</strong>
					</h5>
				</b-container>
			</div>

			<div v-else>
				<form ref="form" @submit.stop.prevent="submit">
					<h5 class="display-1 pb-2" style="font-size: 17px">
						Clave de negocio:
						<strong>{{ dataTotalMes.claveNegocio }}</strong>
					</h5>
					<div>
						<b-form-group
							class="mt-3"
							v-if="estimacionesByEmbudo.length > 0"
						>
							<b-form-checkbox
								v-model="checked"
								name="check-estimacion"
								switch
								@change="setDataSwitch"
							>
								Estimación
							</b-form-checkbox>
						</b-form-group>

						<b-form-group v-show="checked">
							<div v-if="checkEstimacion">
								<div
									role="alert"
									aria-live="polite"
									aria-atomic="true"
									class="alert alert-warning-light text-justify"
								>
									<strong>Advertencia:</strong>
									Es posible que la estimación asignada ya no
									se encuentre en el embudo seleccionado,
									Póngase en contacto con el administrador
									para mas información.
								</div>

								<h5
									class="display-1 pb-2"
									style="font-size: 13px"
								>
									Eliminar presupuesto mensual:
									<b-button
										variant="link"
										v-b-toggle.collapse-eliminar
										size="sm"
									>
										<i
											class="fas fa-trash-alt text-danger"
										/>
									</b-button>
								</h5>

								<b-collapse
									id="collapse-eliminar"
									class="mt-2 mb-3"
								>
									<b-card>
										<h5
											class="display-1 pb-2 text-danger"
											style="font-size: 13px"
										>
											¿Esta seguro que desea eliminar el
											siguiente registro?
										</h5>
										<b-button
											size="sm"
											v-b-toggle.collapse-eliminar
											variant="secondary"
											>Cancelar</b-button
										>
										<b-button
											size="sm"
											variant="success"
											@click="remove()"
											>Aceptar</b-button
										>
									</b-card>
								</b-collapse>

								<h5
									class="display-1 pb-2"
									style="font-size: 13px"
								>
									Estimación:
									<strong>{{ estimacion }}</strong>
								</h5>

								<h5
									class="display-1 pb-2"
									style="font-size: 13px"
								>
									Valor mensual: <strong>{{ total }}</strong>
								</h5>
							</div>

							<div v-else>
								<b-form-select
									type="text"
									id="input-negocio"
									v-model="$v.form.negocio.$model"
									:state="
										$v.form.negocio.$dirty
											? !$v.form.negocio.$error
											: null
									"
									:options="estimacionesByEmbudo"
								>
									<template v-slot:first>
										<option :value="null"
											>Seleccione la estimación del
											negocio</option
										>
									</template>
								</b-form-select>
							</div>
						</b-form-group>
					</div>

					<b-form-group label="Importe (MXN)">
						<b-form-input
							type="text"
							autofocus
							v-model="$v.form.totalMensual.$model"
							:state="
								$v.form.totalMensual.$dirty
									? !$v.form.totalMensual.$error
									: null
							"
						>
						</b-form-input>
					</b-form-group>
				</form>
			</div>
		</div>

		<div v-else>
			<div
				role="alert"
				aria-live="polite"
				aria-atomic="true"
				class="alert alert-warning-light text-justify"
			>
				<strong>Advertencia:</strong>
				Ha ocurrido un inconveniente al intentar encontrar el negocio,
				es posible que el negocio ya no se encuentre en el embudo
				seleccionado, Póngase en contacto con el administrador para mas
				información.
			</div>

			<h5 class="display-1 pb-2" style="font-size: 14px">
				Clave de negocio:
				<strong>{{ dataTotalMes.claveNegocio }}</strong>
			</h5>

			<h5 class="display-1" style="font-size: 14px">
				Valor mensual:
				<strong>
					<vue-numeric
						class="text-right form-control form-control-sm"
						separator=","
						:precision="2"
						currency="$"
						:read-only="true"
						:value="total"
					/>
					MXN
				</strong>
			</h5>
		</div>

		<div class="d-flex flex-row-reverse bd-highlight">
			<b-button variant="danger" class="ml-3 my-2" @click="submit">
				GUARDAR
			</b-button>
			<b-button variant="white" class="link-light my-2" @click="cancel">
				CANCELAR
			</b-button>
		</div>
	</div>
</template>

<script>
import { required, minLength, decimal } from "vuelidate/lib/validators";
import { mapState, mapMutations, mapActions } from "vuex";

export default {
	data() {
		return {
			checked: false,
			selectEstimacion: [],
			estimacion: null,
			total: 0,
			checkEstimacion: false,
			submitSend: true,

			form: {
				idPreMes: null,
				idPresupuesto: null,
				idMes: null,
				negocio: null,
				totalMensual: null,
			},
		};
	},
	mounted() {
		this.setData();
		this.getEstimaciones(
			this.dataTotalMes.idNegocio,
			this.embudoSelected.idEmbudo
		);
	},
	methods: {
		...mapMutations(["modalSubmit", "modalOk"]),
		...mapActions("presupuesto", ["getEstimaciones"]),
		...mapMutations("presupuesto", [
			"addPresupuestosMeses",
			"updatePresupuestosMeses",
			"removePresupuestoMes",
		]),

		async submit() {
			if (this.submitSend) {
				this.submitSend = false;
				this.$v.$touch();
				if (!this.$v.$invalid) {
					this.form.idPresupuesto = this.dataTotalMes.idPresupuesto;
					this.form.idMes = this.dataTotalMes.idMes;
					this.form.idPreMes = this.dataTotalMes.idPreMes;

					const response =
						this.dataTotalMes.idPreMes === 0
							? await axios.post(
									BaseUrl +
										`/api/vt/presupuesto/presupuestosMeses`,
									this.form
							  )
							: await axios.put(
									BaseUrl +
										`/api/vt/presupuesto/presupuestosMeses`,
									this.form
							  );
					if (response.data.success) {
						if (this.dataTotalMes.idPreMes === 0)
							this.addPresupuestosMeses(
								response.data.presupuestos_meses
							);
						else
							this.updatePresupuestosMeses(
								response.data.presupuestos_meses
							);
						// this.updateTotalAnual(response.data);
						// this.updateTotalMensual(response.data);
						this.modalSubmit(true);
					}
				} else {
					this.modalOk(false);
				}
			}
		},
		remove() {
			axios
				.delete(
					`/api/vt/presupuesto/meses/${this.dataTotalMes.idPreMes}`
				)
				.then((response) => {
					if (response.data.success) {
						this.removePresupuestoMes(
							response.data.presupuesto_mes.idPreMes
						);
						// this.subtractTotalAnualMensual(
						// 	response.data.presupuesto_mes
						// );
						this.$bvModal.hide("modal-total-mes");
					}
				});
		},
		setData() {
			if (
				(this.dataTotalMes.idNegocio !==
					this.dataTotalMes.idNegocioMensual) &
				(this.dataTotalMes.idNegocioMensual !== 0)
			) {
				this.checked = true;
				this.form.negocio = this.dataTotalMes.idNegocioMensual;
			} else {
				this.checked = false;
				this.form.negocio = this.dataTotalMes.idNegocio;
			}
			if (this.dataTotalMes.totalMensual !== null) {
				this.form.totalMensual = this.dataTotalMes.totalMensual;
				this.total = this.form.totalMensual;
			}
		},
		setDataSwitch(checked) {
			if (!checked) this.form.negocio = this.dataTotalMes.idNegocio;
			else this.form.negocio = null;
		},
		selectedEstimacion() {
			const estimacion = this.estimaciones.find(
				(estimacion) => estimacion.value == this.form.negocio
			);

			if (estimacion !== undefined) {
				this.estimacion = estimacion.text;
				this.checksEstimacion(estimacion);
			} else {
				this.estimacion = "Sin definir";
			}
		},
		checksEstimacion(estimacion) {
			const response = this.negocios.find(
				(negocio) => negocio.idNegocio == estimacion.value
			);
			if (response !== undefined) this.checkEstimacion = false;
			else this.checkEstimacion = true;
		},
		cancel() {
			this.$bvModal.hide("modal-total-mes");
		},
	},
	computed: {
		...mapState(["okModal"]),
		...mapState("presupuesto", ["dataTotalMes", "estimaciones"]),
		...mapState("negocios", ["embudoSelected", "negocios"]),

		nameMonthFactura() {
			if (this.dataTotalMes.facturado) {
				const mes = moment(this.dataTotalMes.fecha_factura)
					.locale("es")
					.format("MMMM");
				return mes != "Invalid date" ? mes.toUpperCase() : "---";
			}
		},
		estimacionesByEmbudo() {
			const estimaciones = this.negocios.filter(
				(negocio) => negocio.estimacion == this.dataTotalMes.idNegocio
			);

			return estimaciones.map((estimacion) => ({
				text:
					estimacion.claveNegocio + " - " + estimacion.tituloNegocio,
				value: estimacion.idNegocio,
			}));
		},
	},
	validations: {
		form: {
			idPreMes: {},
			idPresupuesto: {},
			idMes: {},
			negocio: {},
			totalMensual: {
				required,
				decimal,
			},
		},
	},
	watch: {
		okModal() {
			if (this.okModal == true) {
				this.submit();
			}
		},
		estimaciones() {
			this.selectedEstimacion();
		},
	},
};
</script>

<style>
.alert-warning-light {
	color: #856404;
	background-color: #fffcf4;
	border-color: #fffcf4;
}
</style>
