<template>
	<small>
		<vue-numeric   
		separator="," 
		:precision="2"
		currency="$"
		:read-only="true"
		:value="importeMXN" />
	</small>
</template>

<script>
	import VueNumeric  from 'vue-numeric'

	export default {
		props:{
			importe: Number,
			tipoMoneda: String,
			dolar: Number,
		},
		computed: {
			importeMXN()
			{
				return (this.tipoMoneda != 'USD') ? this.importe : this.importe * this.dolar
			}
		}
	}
</script>