<template>
	<small>{{ formatFecha }}</small>
</template>

<script>
	export default {
		props:{
			fecha: String,
		},
		computed: {
			formatFecha()
			{
				const mes = moment(this.fecha).locale('es').format("MMMM")
				return (mes != 'Invalid date') ? mes.toUpperCase() : 'sin factura'
			}	
		}
	}
</script>