<template>
	<div
		style="height: calc(100vh - 250px); width: 100%; background: rgb(254, 254, 255)"
		class="mt-2 img-content border"
	>
		<center>
			<b-img
				:src="urlImage"
				style="width: 350px; opacity: 0.7;"
				alt="Seleccione una nota para comenzar"
				class="imag"
			>
			</b-img>
		</center>
	</div>
</template>

<script>
export default {
	data() {
		return {
			urlImage: "",
		};
	},
	mounted() {
		this.urlImage = BaseUrl + "/img/system/presupuesto3.png";
	},
};
</script>

<style>
.img-content {
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-ms-flex-align: center;
	-ms-flex-pack: center;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
}
</style>
