<template>
	<div style="width: 100px;">
		<template v-if="presupuestoMes">
			<template v-if="foundNegocio">
				<div class="d-flex">
					<div class="mr-auto pl-2">
						<i class="fas fa-dollar-sign"></i>
					</div>
					<vue-numeric
						v-if="hasPermission('vt.crm.presupuesto.editar')"
						class="text-right form-control form-control-sm"
						:style="statusFacturacion"
						style="cursor:pointer;"
						separator=","
						:precision="2"
						:read-only="true"
						:value="presupuestoMes.totalMensual"
						v-b-modal.modal-total-mes
						@click.native="
							setData(
								presupuesto.idPresupuesto,
								presupuesto.idNegocio,
								presupuesto.clave_negocio,
								presupuestoMes.totalMensual,
								mes.idMes,
								presupuestoMes.idPreMes,
								presupuestoMes.idNegocioMensual,
								presupuesto.fecha_factura,
								foundNegocio
							)
						"
					/>
					<vue-numeric
						v-else
						class="text-right form-control form-control-sm"
						:style="statusFacturacion"
						separator=","
						:precision="2"
						:read-only="true"
						:value="presupuestoMes.totalMensual"
					/>
				</div>
			</template>
			<template v-else>
				<div class="d-flex">
					<div class="mr-auto pl-2">
						<i class="fas fa-dollar-sign"></i>
					</div>
					<vue-numeric
						v-if="hasPermission('vt.crm.presupuesto.editar')"
						class="text-right form-control form-control-sm"
						:style="statusFacturacion"
						style="cursor:pointer;"
						separator=","
						:precision="2"
						:read-only="true"
						:value="presupuestoMes.totalMensual"
						v-b-modal.modal-total-mes
						@click.native="
							setData(
								presupuesto.idPresupuesto,
								presupuesto.idNegocio,
								presupuesto.clave_negocio,
								presupuestoMes.totalMensual,
								mes.idMes,
								presupuestoMes.idPreMes,
								presupuestoMes.idNegocioMensual,
								null,
								foundNegocio
							)
						"
					/>
					<vue-numeric
						v-else
						class="text-right form-control form-control-sm"
						:style="statusFacturacion"
						separator=","
						:precision="2"
						:read-only="true"
						:value="presupuestoMes.totalMensual"
					/>
				</div>
			</template>
		</template>
		<template v-else>
			<b-button
				style="font-size: 12px; margin-top:-8px"
				variant="link"
				class="text-secondary mb-0 pb-0"
				v-b-modal.modal-total-mes
				@click="
					setData(
						presupuesto.idPresupuesto,
						presupuesto.idNegocio,
						presupuesto.clave_negocio,
						null,
						mes.idMes,
						0,
						0,
						presupuesto.fecha_factura,
						foundNegocio
					)
				"
				:disabled="
					hasPermission('vt.crm.presupuesto.editar') ? false : true
				"
			>
				--
			</b-button>
		</template>
	</div>
</template>

<script>
import { mapState, mapMutations } from "vuex";

export default {
	props: {
		mes: Object,
		presupuesto: Object,
		facturado: Boolean,
		foundNegocio: Boolean,
	},
	data() {
		return {
			estimaciones: [],
			total: null,
		};
	},
	methods: {
		...mapMutations("presupuesto", ["setPresupuestoEdit"]),

		setData(
			idPresupuesto,
			idNegocio,
			claveNegocio,
			totalMensual,
			idMes,
			idPreMes,
			idNegocioMensual,
			fechaFactura,
			negocio
		) {
			const data = {
				idPresupuesto: idPresupuesto,
				idNegocio: idNegocio,
				claveNegocio: claveNegocio,
				totalMensual: totalMensual,
				idMes: idMes,
				idPreMes: idPreMes,
				idNegocioMensual: idNegocioMensual,
				fecha_factura: fechaFactura,
				facturado: this.facturado,
				foundNegocio: this.foundNegocio,
			};
			this.setPresupuestoEdit(data);
		},
		getEstimaciones() {
			if (this.foundNegocio) {
				this.estimaciones = this.negocios.filter(
					(estimacion) =>
						estimacion.estimacion == this.presupuesto.idNegocio
				);
			}
		},
		usdToMXN(valor, tipo, vdolar) {
			return tipo == "USD"
				? parseFloat(valor) * parseFloat(vdolar)
				: parseFloat(valor);
		},
		hasPermission(funcion) {
			if (this.permissions.length) {
				const permiso = this.permissions.find(
					(permiso) => permiso.idFuncion == funcion
				);
				if (permiso) return true;
				return false;
			}
		},
	},
	computed: {
		...mapState(["permissions"]),
		...mapState("presupuesto", ["presupuestosMeses"]),
		...mapState("negocios", ["embudoSelected", "negocios"]),
		...mapState("embudos", ["embudos"]),

		embudo() {
			if (this.embudos) {
				return this.embudos.find(
					(embudo) => embudo.idEmbudo == this.embudoSelected.idEmbudo
				);
			}
			return null;
		},
		presupuestoMes() {
			return this.presupuestosMeses.find(
				(presupuesto) =>
					presupuesto.id_negocio == this.presupuesto.idNegocio &&
					presupuesto.idMes == this.mes.idMes &&
					presupuesto.idPresupuesto == this.presupuesto.idPresupuesto
			);
		},
		presupuestoMensuales() {
			return this.presupuestosMeses.filter(
				(presupuestoMes) =>
					presupuestoMes.idPresupuesto ==
					this.presupuesto.idPresupuesto
			);
		},
		importeMXN() {
			if (isNaN(this.estimaciones)) {
				var importe = 0;
				for (var i = 0; i < this.estimaciones.length; i++) {
					importe += this.usdToMXN(
						this.estimaciones[i].valorNegocio,
						this.estimaciones[i].tipoMoneda,
						this.estimaciones[i].xCambio
					);
				}
				importe += this.usdToMXN(
					this.presupuesto.valor_negocio,
					this.presupuesto.tipo_moneda,
					this.presupuesto.x_cambio
				);
				return importe.toFixed(2);
			} else {
				return this.usdToMXN(
					this.presupuesto.valor_negocio,
					this.presupuesto.tipo_moneda,
					this.presupuesto.x_cambio
				).toFixed(2);
			}
		},
		importePresupuesto() {
			var importe = 0;
			this.presupuestoMensuales.forEach(function(pre_mes) {
				importe += parseFloat(pre_mes.totalMensual);
			});
			return importe.toFixed(2);
		},
		statusFacturacion() {
			if (this.presupuestoMes != null) {
				if (this.facturado && this.embudo) {
					if (this.yearFactura == this.embudo.periodo) {
						if (
							this.numberMonthFactura ==
								this.presupuestoMes.idMes &&
							this.importePresupuesto == this.importeMXN
						)
							return "color: green";
						else return "color: #b10303";
					} else {
						return "color: ";
					}
				}
			}
		},
		yearFactura() {
			if (this.facturado) {
				return moment(this.presupuesto.fecha_factura)
					.locale("es")
					.format("YYYY");
			}
		},
		numberMonthFactura() {
			if (this.facturado) {
				var mes = moment(this.presupuesto.fecha_factura)
					.locale("es")
					.format("MMMM");
				return moment()
					.month(mes)
					.format("M");
			}
		},
	},
	watch: {
		negocios() {
			this.getEstimaciones();
		},
	},
};
</script>
