<template>
	<form ref="form" @submit.stop.prevent="submit">
		<div class="input-group w-100 bg-white border" id="input-shadow">
			<div class="input-group-prepend bg-light mr-1 ml-3">
				<div class="pt-1 bg-white">
					<i class="fas fa-search"></i>
				</div>
			</div>
			<b-form-input
				id="input-search"
				size="sm"
				class="form-control border-0"
				placeholder="Escribe tu busqueda aquí"
				v-model="filter"
				autocomplete="off"
			></b-form-input>
		</div>

		<b-card class="mt-3 mb-3" style="max-height:550px; overflow:auto">
			<template v-if="negociosFiltered.length">
				<b-table
					:fields="fields"
					:items="negociosFiltered"
					selectable
					thead-class="hidden_header"
					class="mb-0"
					@row-selected="onRowSelected"
				>
					<template #cell()="data">
						<h6 class="mb-0">
							{{ data.item.claveNegocioCompleta }}
						</h6>
						<small class="text-secondary">{{
							data.item.tituloNegocio
						}}</small>
					</template>
				</b-table>
				<hr class="my-0" />
			</template>
			<template v-else>
				<h5 class="mb-1 text-center">No se encontraron negocios</h5>
			</template>
		</b-card>

		<div class="mt-3 d-flex flex-row-reverse bd-highlight">
			<b-button
				variant="danger"
				class="ml-3 my-2"
				@click="submit"
				v-if="negociosSelected.length"
			>
				AGREGAR
			</b-button>
			<b-button variant="danger" class="ml-3 my-2" @click="cancel" v-else>
				TERMINAR
			</b-button>
			<b-button variant="white" class="link-light my-2" @click="cancel">
				CANCELAR
			</b-button>
		</div>
	</form>
</template>

<script>
import { required, minLength } from "vuelidate/lib/validators";
import { mapState, mapMutations, mapActions } from "vuex";

export default {
	data() {
		return {
			filter: "",
			fields: ["tituloNegocio"],
			load: false,
			success: false,
			negociosSelected: [],
		};
	},
	mounted() {},
	methods: {
		...mapMutations(["modalSubmit", "modalOk"]),
		...mapActions("presupuesto", ["getPresupuestos"]),
		submit() {
			const params = {
				negocios: this.negociosSelected,
				id_embudo: this.embudoSelected.idEmbudo,
			};
			axios
				.post(BaseUrl + `/api/vt/presupuesto`, params)
				.then((response) => {
					if (response.data.success) {
						this.getPresupuestos(this.embudoSelected.idEmbudo);
						this.modalSubmit(true);
					}
				});
		},
		cancel() {
			this.$bvModal.hide("modal-presupuesto");
		},
		onRowSelected(items) {
			this.negociosSelected = items;
		},
	},
	computed: {
		...mapState(["okModal"]),
		...mapState("presupuesto", ["presupuestos"]),
		...mapState("negocios", ["embudoSelected", "negocios"]),

		negociosFaltantes() {
			var negocios = [];
			if (this.negocios.length && this.presupuestos.length) {
				for (var i = 0; i < this.negocios.length; i++) {
					const found = this.presupuestos.find(
						(presupuesto) =>
							presupuesto.idNegocio === this.negocios[i].idNegocio
					);
					if (found == undefined) negocios.push(this.negocios[i]);
				}
				return negocios;
			}
			return this.negocios;
		},
		negociosFiltered() {
			return this.negociosFaltantes.filter(
				(negocio) =>
					negocio.claveNegocioCompleta
						.toLowerCase()
						.indexOf(this.filter.toLowerCase()) > -1 ||
					negocio.tituloNegocio
						.toLowerCase()
						.indexOf(this.filter.toLowerCase()) > -1
			);
		},
	},
	watch: {
		okModal() {
			if (this.okModal == true) {
				this.submit();
			}
		},
	},
};
</script>

<style>
.hidden_header {
	display: none;
}
</style>
