<template>
	<small>
		{{ month }}
	</small>
</template>

<script>
export default {
	props: {
		idMes: Number,
	},
	computed: {
		month() {
			const number = this.idMes - 1;
			const mes = moment()
				.month(number)
				.locale("es")
				.format("MMMM");
			return mes.toUpperCase();
		},
	},
};
</script>
