<template>
	<div class="wrapper">
		<b-container fluid>
			<b-row class="p-3">
				<b-col lg="2">
					<b-form-checkbox
						v-if="hasPermission('vt.crm.presupuesto.resumen')"
						class="mt-2 pt-1"
						v-model="verResumen"
						name="check-button"
						switch
						>Ver resumen</b-form-checkbox
					>
				</b-col>
				<b-col lg="8">
					<h1 class="text-center mb-0">Presupuesto Ventas</h1>
				</b-col>
				<b-col lg="2">
					<b-badge
						variant="success"
						class="float-right mt-5"
						v-show="success"
					>
						<i class="fas fa-check-circle mr-1"></i>Se han guardado
						correctamente los cambios
					</b-badge>
					<b-badge
						variant="light"
						class="float-right mt-5"
						v-show="load"
					>
						<b-spinner
							type="grow"
							small
							label="Spinning"
						></b-spinner
						>Cargando ...
					</b-badge>
				</b-col>
			</b-row>

			<vt-presupuesto-table
				:fields="fields"
				:filter="filter"
				:ver-resumen="verResumen"
			/>

			<modal-component
				:hideFooter="true"
				:hideHeader="true"
				:title="'Agregar negocio'"
				:id="'modal-presupuesto'"
			>
				<template slot="content">
					<vt-presupuesto-form-negocio />
				</template>
			</modal-component>

			<modal-component
				:title="'Total mensual'"
				:id="'modal-total-mes'"
				:hideFooter="true"
			>
				<template slot="content">
					<vt-presupuesto-form-total-mes />
				</template>
			</modal-component>

			<modal-component
				:title="'Detalles de presupuesto'"
				:id="'modal-details-presupuesto'"
				:sizeModal="'lg'"
				:hideFooter="true"
			>
				<template slot="content">
					<vt-presupuesto-detalle-presupuesto />
				</template>
			</modal-component>
		</b-container>
	</div>
</template>
<script>
import { mapState, mapMutations, mapActions } from "vuex";

export default {
	data() {
		return {
			success: false,
			load: false,
			filter: "",
			verResumen: false,
			fields: [
				{
					key: "cliente",
					label: "CLIENTE",
					sortable: true,
					sortDirection: "desc",
					stickyColumn: true,
					isRowHeader: true,
				},
				{
					key: "unidad_negocio",
					label: "UN",
					sortable: true,
					sortDirection: "desc",
					stickyColumn: true,
					isRowHeader: true,
				},
				{
					key: "equipo",
					label: "EQUIPO",
					sortable: true,
					sortDirection: "desc",
					stickyColumn: true,
					isRowHeader: true,
				},
				{
					key: "titulo_negocio",
					label: "DESCRIPCIÓN",
					colspan: "2",
					sortable: true,
				},
				{ key: "info", label: "", sortable: true },
				{ key: "totalAnual", label: "TOTAL ANUAL", sortable: true },
				{ key: "enero", label: "ENERO", sortable: true },
				{ key: "febrero", label: "FEBRERO", sortable: true },
				{ key: "marzo", label: "MARZO", sortable: true },
				{ key: "abril", label: "ABRIL", sortable: true },
				{ key: "mayo", label: "MAYO", sortable: true },
				{ key: "junio", label: "JUNIO", sortable: true },
				{ key: "julio", label: "JULIO", sortable: true },
				{ key: "agosto", label: "AGOSTO", sortable: true },
				{ key: "septiembre", label: "SEPTIEMBRE", sortable: true },
				{ key: "octubre", label: "OCTUBRE", sortable: true },
				{ key: "noviembre", label: "NOVIEMBRE", sortable: true },
				{ key: "diciembre", label: "DICIEMBRE", sortable: true },
			],
		};
	},
	mounted() {
		this.setRouteName("vt-presupuesto");
		this.getNegociosFacturados();
		this.getEmbudos();
	},
	methods: {
		...mapMutations(["setRouteName"]),
		...mapActions("negocios", ["getNegociosFacturados"]),
		...mapActions("embudos", ["getEmbudos"]),

		hasPermission(funcion) {
			if (this.permissions.length) {
				const permiso = this.permissions.find(
					(permiso) => permiso.idFuncion == funcion
				);
				if (permiso) return true;
				return false;
			}
		},
	},
	computed: {
		...mapState(["permissions"]),
	},
};
</script>
