<template>
	<div>
		<b-card>
			<b-row>
				<b-col lg="4">
					<b-form inline>
						<b-form-group>
							<b-input-group
								prepend="Embudos"
								size="sm"
								v-if="!loading"
							>
								<b-form-select
									size="sm"
									:options="selectEmbudos"
									:value="embudoSelected"
									@change="setEmbudo($event)"
								>
								</b-form-select>
							</b-input-group>

							<small v-else>
								<b-skeleton
									width="150px"
									type="input"
								></b-skeleton>
							</small>
						</b-form-group>
						<template v-if="!verResumen">
							<template
								v-if="
									hasPermission('vt.crm.presupuesto.agregar')
								"
							>
								<b-button
									v-if="!loading"
									variant="danger"
									class="shadows ml-3"
									size="sm"
									v-b-modal.modal-presupuesto
								>
									<i class="fas fa-plus-circle"></i> Agregar
									negocio
								</b-button>
								<b-skeleton
									type="button"
									class="ml-3"
									v-else
								></b-skeleton>
							</template>
						</template>
						<template v-if="verResumen">
							<b-form-group class="ml-3">
								<b-input-group
									prepend="Comparación"
									size="sm"
									v-if="!loading"
								>
									<b-form-select
										size="sm"
										:options="selectEmbudos"
										v-model="embudoComparable"
									>
										<template v-slot:first>
											<option :value="null" disabled>
												Seleccione
											</option>
										</template>
									</b-form-select>
								</b-input-group>
								<small v-else>
									<b-skeleton
										width="150px"
										type="input"
									></b-skeleton>
								</small>
							</b-form-group>
						</template>
					</b-form>
				</b-col>
				<b-col lg="4">
					<h3 class="text-center mb-0" v-if="!loading">
						{{ nombreEmbudoSelected }}
					</h3>
					<center v-else>
						<h5 class="text-secondary mb-0 mt-1">
							<b-spinner
								type="grow"
								style="width: 1.5rem; height: 1.5rem"
							></b-spinner
							><label class="ml-1">Cargando...</label>
						</h5>
					</center>
				</b-col>
				<b-col lg="2"></b-col>
				<b-col lg="2">
					<div
						class="input-group w-100 bg-white border"
						id="input-shadow"
						v-if="!loading && !verResumen"
					>
						<div class="input-group-prepend bg-light mr-1 ml-3">
							<div class="pt-1 bg-white">
								<i class="fas fa-search"></i>
							</div>
						</div>
						<b-form-input
							id="input-search"
							size="sm"
							class="form-control border-0"
							placeholder="Escribe tu busqueda aquí"
							v-model="filter"
							autocomplete="off"
						></b-form-input>
					</div>
					<small v-if="loading">
						<b-skeleton type="input"></b-skeleton>
					</small>
					<b-form-group v-if="!loading && verResumen" class="ml-3">
						<b-form-tags
							id="tags-component-select"
							v-model="unidadesSelected"
							size="sm"
							add-on-change
							no-outer-focus
						>
							<template
								v-slot="{
									tags,
									inputAttrs,
									inputHandlers,
									disabled,
									removeTag,
								}"
							>
								<b-row>
									<b-col lg="12">
										<b-form-select
											v-bind="inputAttrs"
											v-on="inputHandlers"
											size="sm"
											:disabled="
												disabled ||
													availableOptions.length ===
														0
											"
											:options="availableOptions"
										>
											<template #first>
												<option disabled value="">
													Unidades de negocio
												</option>
											</template>
										</b-form-select>

										<ul
											v-if="tags.length > 0"
											class="list-inline d-inline-block my-0 ml-2"
										>
											<li
												v-for="tag in tags"
												:key="tag"
												class="list-inline-item"
											>
												<b-form-tag
													@remove="removeTag(tag)"
													:title="tag"
													:disabled="disabled"
													size="sm"
													variant="info"
													>{{ tag }}</b-form-tag
												>
											</li>
										</ul>
									</b-col>
								</b-row>
							</template>
						</b-form-tags>
					</b-form-group>
				</b-col>
			</b-row>

			<div
				style="height: calc(100vh - 239px); overflow: auto"
				class="mt-3"
			>
				<hr
					class="mb-0 mt-0"
					v-show="presupuestos.length && !verResumen"
				/>
				<b-table-simple
					v-show="presupuestos.length && !verResumen"
					striped
					bordered
					small
					hover
					:no-border-collapse="false"
					responsive
					show-empty
					class="mb-0"
					thead-class="align-middle"
					id="presupuestoTable"
				>
					<b-thead>
						<b-tr class="bg-light">
							<b-th colspan="3" class="text-center"></b-th>
							<b-th
								colspan="2"
								class="text-danger text-right align-middle"
							>
								<small><strong>TOTALES:</strong></small>
							</b-th>
							<b-th
								class="text-center text-nowrap align-middle"
								style="min-width: 145px;"
							>
								<small>
									<div class="d-flex">
										<div class="mr-auto pl-2">
											<i class="fas fa-dollar-sign"></i>
										</div>
										<vue-numeric
											class="form-control form-control-sm"
											separator=","
											:precision="2"
											:read-only="true"
											:value="totalPresupuesto"
										/>
									</div>
								</small>
							</b-th>
							<b-th
								v-for="mes in meses"
								:key="mes.idMes"
								class="text-center text-nowrap align-middle"
								style="min-width: 135px;"
							>
								<vt-td-total-mensual :mes="mes" />
							</b-th>
						</b-tr>
					</b-thead>
					<b-thead
						class="text-center text-dark"
						style="font-size: 12px"
					>
						<b-tr>
							<template v-for="(field, index) in fields">
								<b-th
									v-if="field.label == 'Cliente'"
									scope="col"
									class="fixed-pre"
									:key="index"
								>
									<div class="text-nowrap" align="center">
										{{ field.label }}
									</div>
								</b-th>

								<b-th
									v-else-if="field.label == 'UN'"
									scope="col"
									class="fixed-pre fixed-margin-un"
									:key="index"
								>
									<div class="text-nowrap" align="center">
										{{ field.label }}
									</div>
								</b-th>

								<b-th
									v-else-if="field.label == 'Equipo'"
									scope="col"
									class="fixed-pre fixed-margin-equipo"
									:key="index"
								>
									<div class="text-nowrap" align="center">
										{{ field.label }}
									</div>
								</b-th>

								<b-th
									v-else-if="field.label == 'Descripción'"
									scope="col"
									class="fixed-pre fixed-margin-desc"
									:key="index"
								>
									<div class="text-nowrap" align="center">
										{{ field.label }}
									</div>
								</b-th>

								<b-th
									v-else
									scope="col"
									style="z-index: 1"
									:key="index"
								>
									<div class="text-nowrap" align="center">
										{{ field.label }}
									</div>
								</b-th>
							</template>
						</b-tr>
					</b-thead>
					<b-tbody>
						<vt-presupuesto-tr
							v-for="presupuesto in presupuestosFiltered"
							:key="presupuesto.idPresupuesto"
							:presupuesto="presupuesto"
						/>
					</b-tbody>
				</b-table-simple>
				<vt-indicadores-presupuesto-table-resumen
					v-show="!loading && verResumen"
					:embudo-comparable="embudoComparable"
					:unidadesSelected="unidadesSelected"
				/>
				<div class="text-center" v-if="loading">
					<b-skeleton-table
						:rows="20"
						small
						:columns="15"
						:table-props="{ bordered: true, striped: true }"
					></b-skeleton-table>
				</div>
				<div
					class="text-center"
					v-if="!presupuestos.length && !loading"
				>
					<vt-imagen-presupuesto />
				</div>
			</div>
		</b-card>
	</div>
</template>

<script>
import { mapActions, mapMutations, mapState } from "vuex";
export default {
	props: {
		fields: Array,
		filter: String,
		verResumen: Boolean,
	},
	data() {
		return {
			loading: true,
			presupuestosLength: false,
			embudoComparable: null,
			unidadesSelected: [
				"Campo",
				"Taller",
				"Smart Condition",
				"Sin unidad de negocio",
				"Montajes",
				"Asesoría",
				"Ingeniería",
			],
		};
	},
	mounted() {
		this.getDatos();
		this.getUnidadesNegocio();
		if (this.presupuestos.length) this.loadingStop();
	},
	methods: {
		...mapActions("vt_unidades_negocio", ["getUnidadesNegocio"]),
		...mapMutations("negocios", ["setEmbudoSelected"]),
		...mapActions("negocios", [
			"getNegocios",
			"getNegociosFacturados",
			"getNegociosFacturados2",
		]),
		...mapActions("presupuesto", [
			"getPresupuestos",
			"getPresupuestosMeses",
		]),
		loadingStop() {
			this.loading = false;
		},
		getDatos() {
			this.getPresupuestos(this.embudoSelected.idEmbudo);
			this.getPresupuestosMeses(this.embudoSelected.idEmbudo);
			this.getNegocios();
		},
		setEmbudo(embudoSelected) {
			this.setEmbudoSelected(embudoSelected);
			this.getDatos();
			this.getNegociosFacturados();
		},
		hasPermission(funcion) {
			if (this.permissions.length) {
				const permiso = this.permissions.find(
					(permiso) => permiso.idFuncion == funcion
				);
				if (permiso) return true;
				return false;
			}
		},
	},
	computed: {
		...mapState("presupuesto", [
			"monto_meses",
			"presupuestos",
			"presupuestosMeses",
		]),
		...mapState("vt_unidades_negocio", ["listUnidadesNegocio"]),
		...mapState("negocios", ["embudoSelected"]),
		...mapState("embudos", ["embudos"]),
		...mapState(["permissions", "meses"]),

		totalPresupuesto() {
			return this.presupuestosMeses.reduce(
				(sum, value) => sum + parseFloat(value.totalMensual),
				0
			);
		},
		presupuestosFiltered() {
			if (this.presupuestos.length && this.filter)
				return this.presupuestos.filter(
					(negocio) =>
						negocio.titulo_negocio
							.toLowerCase()
							.indexOf(this.filter.toLowerCase()) > -1
				);
			else return this.presupuestos;
		},
		nombreEmbudoSelected() {
			const embudo = this.selectEmbudos.find(
				(embudo) =>
					embudo.value.idEmbudo == this.embudoSelected.idEmbudo
			);
			if (embudo) return embudo.text;
		},
		selectEmbudos() {
			return this.embudos.map((embudo) => {
				return {
					text: embudo.nombre,
					value: {
						idEmbudo: embudo.idEmbudo,
						nombre: embudo.nombre,
						periodo: embudo.periodo,
					},
				};
			});
		},
		optionsUN() {
			return this.listUnidadesNegocio.map(
				(unidad) => unidad.unidadNegocio
			);
		},
		availableOptions() {
			return this.optionsUN.filter(
				(opt) => this.unidadesSelected.indexOf(opt) === -1
			);
		},
	},
	watch: {
		presupuestos() {
			this.presupuestosLength = this.presupuestos.length ? true : false;
			if (this.loading == true) setTimeout(this.loadingStop, 1);
		},
		embudoComparable() {
			this.getNegociosFacturados2(this.embudoComparable.idEmbudo);
		},
	},
};
</script>

<style>
.fixed {
	position: sticky;
	left: -1px;
	background-color: white;
}
.fixed-pre {
	position: sticky;
	left: -1px;
	background-color: white;
}
.fixed-margin-un {
	left: 50px;
}
.fixed-margin-equipo {
	left: 100px;
}
.fixed-margin-desc {
	left: 150px;
}
.table-primary th,
.table-primary td,
.table-primary thead th,
.table-primary tbody + tbody {
	border-color: #dc35454a;
}
.table-primary,
.table-primary > th,
.table-primary > td {
	background-color: #dc35453d;
}
/*.b-table-sticky-header {
	overflow-y: auto;
	max-height: calc(100vh - 185px);
}*/
#presupuestoTable tr {
	height: 2.5rem;
}
</style>
