<template>
	<small>
		<div class="d-flex">
			<div class="mr-auto pl-2">
				<i class="fas fa-dollar-sign align-middle"></i>
			</div>
			<vue-numeric
				class="text-right form-control form-control-sm"
				separator=","
				:precision="2"
				:read-only="true"
				:value="totalMensual"
			/>
		</div>
	</small>
</template>

<script>
import { mapState, mapMutations } from "vuex";

export default {
	props: {
		mes: Object,
	},
	data() {
		return {};
	},
	computed: {
		...mapState("presupuesto", ["presupuestosMeses"]),

		totalMensual() {
			var presupuestoMeses = this.presupuestosMeses.filter(
				(item) => item.idMes == this.mes.idMes
			);
			return presupuestoMeses.reduce(
				(sum, value) => sum + parseFloat(value.totalMensual),
				0
			);
		},
	},
};
</script>
