<template>
	<b-tr
		:style="status"
		style="font-size: 11px"
		align="center"
		class="row-form"
	>
		<b-td class="selected text-nowrap fixed">
			<div class="text-nowrap" style="width: 60px">
				<label class="mt-2 mb-0">
					<strong>{{ presupuesto.clave_cliente }}</strong>
				</label>
			</div>
		</b-td>
		<b-td class="selected text-nowrap fixed fixed-margin-un">
			<div style="width: 60px">
				<label class="mt-2 mb-0">
					<strong>{{ presupuesto.clave_unidad_negocio }}</strong>
				</label>
			</div>
		</b-td>
		<b-td class="selected text-nowrap fixed fixed-margin-equipo">
			<div style="width: 60px">
				<label class="mt-2 mb-0">
					<strong>{{ presupuesto.clave_equipo }}</strong>
				</label>
			</div>
		</b-td>
		<b-td
			class="selected text-nowrap fixed fixed-margin-desc"
			v-b-tooltip.hover.bottomright="presupuesto.titulo_negocio"
		>
			<div
				class="text-left pt-2 pl-1"
				style="width: 380px; white-space: nowrap; text-overflow: ellipsis;  overflow: hidden;"
			>
				{{ presupuesto.titulo_negocio }}
			</div>
		</b-td>
		<b-td class="selected text-nowrap bg-white">
			<b-container class="pt-2">
				<b-link
					v-if="hasPermission('vt.crm.presupuesto.eliminar')"
					class="text-danger"
					v-b-tooltip.hover.topleft
					title="Eliminar presupuesto"
					@click="showMsgBoxDeleteConfirm(presupuesto.idPresupuesto)"
				>
					<i class="fas fa-trash-alt" style="font-size: 17px;" />
				</b-link>

				<b-link
					class="text-secondary ml-2"
					v-b-tooltip.hover.topleft
					title="Detalles del presupuesto"
					v-b-modal.modal-details-presupuesto
					@click="
						setData(
							presupuesto.idPresupuesto,
							presupuesto.totalAnual,
							presupuesto.idNegocio,
							presupuesto.clave_negocio,
							presupuesto.titulo_negocio
						)
					"
				>
					<i class="fas fa-poll-h" style="font-size: 17px;" />
				</b-link>
			</b-container>
		</b-td>
		<b-td class="selected align-middle bg-white" style="width: 130px;">
			<div class="text-nowrap py-2" style="width: 100px">
				<div class="d-flex">
					<div class="mr-auto pl-2">
						<i class="fas fa-dollar-sign"></i>
					</div>
					<vue-numeric
						class="text-right form-control form-control-sm"
						separator=","
						:precision="2"
						:read-only="true"
						:value="totalAnual"
					/>
				</div>
			</div>
		</b-td>
		<b-td
			class="text-nowrap align-middle"
			v-for="mes in meses"
			:key="mes.idMes"
		>
			<vt-presupuesto-monto-mes
				:presupuesto="presupuesto"
				:mes="mes"
				:facturado="facturado"
				:foundNegocio="foundNegocio"
			/>
		</b-td>
	</b-tr>
</template>

<script>
import { mapState, mapMutations } from "vuex";

export default {
	props: {
		presupuesto: Object,
	},
	data() {
		return {
			status: null,
			facturado: false,
			foundNegocio: true,
		};
	},
	mounted() {
		this.statusPresupuesto();
	},
	methods: {
		...mapMutations("presupuesto", [
			"setDetailsPresupuesto",
			"removePresupuesto",
			"removePresupuestosMeses",
		]),

		setData(
			idPresupuesto,
			totalAnual,
			idNegocio,
			claveNegocio,
			tituloNegocio
		) {
			const data = {
				idPresupuesto: idPresupuesto,
				totalAnual: totalAnual,
				idNegocio: idNegocio,
				claveNegocio: claveNegocio,
				tituloNegocio: tituloNegocio,
				facturado: this.facturado,
				foundNegocio: this.foundNegocio,
			};
			this.setDetailsPresupuesto(data);
		},
		statusPresupuesto() {
			if (this.presupuesto.idEmbudo !== this.presupuesto.id_embudo) {
				this.status = "background: #fdedebe3";
				this.foundNegocio = false;
			} else {
				this.status = "";
				this.foundNegocio = true;
			}
			if (this.presupuesto.fecha_factura !== null) {
				this.facturado = true;
			} else this.facturado = false;
		},
		showMsgBoxDeleteConfirm(id) {
			this.$bvModal
				.msgBoxConfirm("¿Esta seguro que desea eliminar el registro?", {
					title: "Favor de confirmar",
					size: "sm",
					buttonSize: "sm",
					okVariant: "danger",
					cancelVariant: "light",
					okTitle: "Eliminar",
					cancelTitle: "Cancelar",
					headerClass: "pt-3 pb-2 border-bottom-0",
					footerClass: "p-2 border-top-0",
					centered: true,
				})
				.then((confirm) => {
					if (confirm) this.deletePresupuesto(id);
				});
		},
		async deletePresupuesto(id) {
			try {
				const response = await axios.delete(
					BaseUrl + `/api/vt/presupuesto/${id}`
				);
				if (response.data.success) {
					this.removePresupuestosMeses(id);
					this.removePresupuesto(id);
					this.makeToast(
						"success",
						"Exito",
						"Se ha eliminado correctamente el registro"
					);
				}
			} catch (error) {
				this.makeToast(
					"danger",
					"Error",
					"Ha ocurrido un problema al eliminar el registro"
				);
			}
		},
		makeToast(variant = null, title, text) {
			this.$bvToast.toast(text, {
				title: title,
				variant: variant,
				solid: true,
			});
		},
		hasPermission(funcion) {
			if (this.permissions.length) {
				const permiso = this.permissions.find(
					(permiso) => permiso.idFuncion == funcion
				);
				if (permiso) return true;
				return false;
			}
		},
	},
	computed: {
		...mapState(["permissions", "meses"]),
		...mapState("presupuesto", ["presupuestosMeses"]),

		totalAnual() {
			var presupuestoMeses = this.presupuestosMeses.filter(
				(item) => item.idPresupuesto == this.presupuesto.idPresupuesto
			);
			return presupuestoMeses.reduce(
				(sum, value) => sum + parseFloat(value.totalMensual),
				0
			);
		},
	},
	watch: {
		presupuesto() {
			this.statusPresupuesto();
		},
	},
};
</script>

<style>
.row-form:hover .selected {
	background-color: #9aa0a4 !important;
	color: white !important;
}
</style>
