<template>
	<b-container fluid style="height: calc(100vh - 54px)">
		<b-row class="h-100">
			<b-col lg="2" class="px-0 h-100">
				<th-configuracion-sidebar />
			</b-col>
			<b-col lg="10" class="pl-0">
				<div class="p-4">
					<b-row>
						<b-col lg="2"></b-col>
						<b-col lg="8">
							<h1 class="text-center">
								Configuración de Autorizaciones
							</h1>
							<h2 class="text-center">Vacaciones y permisos</h2>
						</b-col>
						<b-col lg="2">
							<b-badge
								variant="success"
								class="float-right mt-5"
								v-show="success"
							>
								<i class="fas fa-check-circle mr-1"></i>Se han
								guardado correctamente los cambios
							</b-badge>
							<b-badge
								variant="light"
								class="float-right mt-5"
								v-show="load"
							>
								<b-spinner
									type="grow"
									small
									label="Spinning"
								></b-spinner
								>Cargando ...
							</b-badge>
						</b-col>
					</b-row>

					<b-card class="shadow-sm mt-4">
						<b-row>
							<b-col lg="4">
								<b-button
									size="sm"
									variant="danger"
									v-b-modal.modal-th-vp-usuario-autorizacion
									>Agregar usuario</b-button
								>
							</b-col>
							<b-col lg="4">
								<h3 class="text-center mb-0">
									Lista de usuarios
								</h3>
							</b-col>
							<b-col lg="4">
								<div
									class="input-group w-100 bg-white border"
									id="input-shadow"
								>
									<div
										class="input-group-prepend bg-light mr-1 ml-3"
									>
										<div class="pt-1 bg-white">
											<i class="fas fa-search"></i>
										</div>
									</div>
									<b-form-input
										id="input-search"
										size="sm"
										class="form-control border-0"
										placeholder="Escribe tu busqueda aquí"
										v-model="filter"
										autocomplete="off"
									></b-form-input>
								</div>
							</b-col>
						</b-row>
						<hr />
						<b-skeleton-table
							v-if="busyAutorizaciones"
							:rows="16"
							:columns="4"
							:table-props="{ striped: true }"
						>
						</b-skeleton-table>
						<b-table-simple
							v-else
							responsive
							style="height: calc(100vh - 322px); overflow: auto;"
							striped
							hover
						>
							<b-thead>
								<b-tr>
									<b-th>Usuario</b-th>
									<b-th>Autorizador 1</b-th>
									<b-th>Autorizador 2</b-th>
								</b-tr>
							</b-thead>
							<b-tbody>
								<b-tr
									v-for="(autorizacion,
									index) in autorizacionesFiltered"
									:key="index"
								>
									<b-td>{{
										autorizacion.nombre_usuario
									}}</b-td>
									<b-td>
										<b-form-select
											size="sm"
											:options="listAutorizadores"
											:value="autorizacion.idAutorizador1"
											@change="
												update(autorizacion, 1, $event)
											"
										></b-form-select>
									</b-td>
									<b-td>
										<b-form-select
											size="sm"
											:options="listAutorizadores"
											:value="autorizacion.idAutorizador2"
											@change="
												update(autorizacion, 2, $event)
											"
										></b-form-select>
									</b-td>
								</b-tr>
								<b-tr
									v-if="
										!busyAutorizaciones &&
											!autorizacionesFiltered.length
									"
								>
									<b-td colspan="4">
										<h5 class="text-center my-3">
											No se encontraron resultados
										</h5>
									</b-td>
								</b-tr>
							</b-tbody>
						</b-table-simple>
					</b-card>
				</div>
			</b-col>
		</b-row>
		<modal-component
			:id="'modal-th-vp-usuario-autorizacion'"
			title="Agregar empleado"
			:hideFooter="true"
			:hideHeader="true"
			:centered="true"
		>
			<template slot="content">
				<th-vp-configuracion-autorizaciones-form-usuario-component
					:autorizadores="autorizadores"
					:autorizaciones="autorizaciones"
				/>
			</template>
		</modal-component>
	</b-container>
</template>

<script>
export default {
	data() {
		return {
			filter: "",
			load: false,
			success: false,
			usuarios: [],
			autorizaciones: [],
			autorizadores: [],
			busyAutorizaciones: false,
			autorizadores: [],
			fields: ["nombreUsuario"],
		};
	},
	mounted() {
		this.getAutorizaciones();
		this.getAutorizadores();
	},
	methods: {
		async getAutorizaciones() {
			this.busyAutorizaciones = true;
			const response = await axios.get(
				BaseUrl + `/api/th/vp/configuracion/autorizaciones`
			);
			this.autorizaciones = response.data;
			this.busyAutorizaciones = false;
		},
		async getAutorizadores() {
			const response = await axios.get(
				BaseUrl + `/api/th/vp/configuracion/autorizadores`
			);
			this.autorizadores = response.data;
		},
		async update(autorizacion, opcion, value) {
			this.load = true;
			this.success = false;
			const form = {
				idUsuario: autorizacion.idUsuario,
				opcion: opcion,
				value: value,
			};
			const response = await axios.put(
				BaseUrl +
					`/api/th/vp/configuracion/autorizaciones/${autorizacion.idAutorizacion}`,
				form
			);
			if (response.data.success) {
				this.load = false;
				this.success = true;
			}
		},
	},
	computed: {
		autorizacionesFiltered() {
			return this.autorizaciones.filter(
				(autorizacion) =>
					autorizacion.nombre_usuario
						.toLowerCase()
						.indexOf(this.filter.toLowerCase()) > -1
			);
		},
		listAutorizadores() {
			return this.autorizadores.map(function(autorizador) {
				return {
					value: autorizador.idUsuario,
					text: autorizador.nombreUsuario,
				};
			});
		},
	},
};
</script>
