<template>
	<b-overlay>
		<b-form-group>
			<label class="form">
				Usuario
				<span class="req">*</span>
			</label>
			<b-form-select
				:options="usuariosFaltantes"
				v-model="$v.form.idUsuario.$model"
				:state="
					$v.form.idUsuario.$dirty ? !$v.form.idUsuario.$error : null
				"
			>
				<template v-slot:first>
					<option :value="null" disabled>Seleccione</option>
				</template>
			</b-form-select>
		</b-form-group>
		<b-form-group>
			<label class="form">
				Autorizador 1
				<span class="req">*</span>
			</label>
			<b-form-select
				:options="listAutorizadores"
				v-model="$v.form.autorizador1.$model"
				:state="
					$v.form.autorizador1.$dirty
						? !$v.form.autorizador1.$error
						: null
				"
			>
				<template v-slot:first>
					<option :value="null" disabled>Seleccione</option>
				</template>
			</b-form-select>
		</b-form-group>
		<b-form-group>
			<label class="form">
				Autorizador 2
				<span class="req">*</span>
			</label>
			<b-form-select
				:options="listAutorizadores"
				v-model="$v.form.autorizador2.$model"
				:state="
					$v.form.autorizador2.$dirty
						? !$v.form.autorizador2.$error
						: null
				"
			>
				<template v-slot:first>
					<option :value="null" disabled>Seleccione</option>
				</template>
			</b-form-select>
		</b-form-group>

		<div class="d-flex flex-row-reverse bd-highlight">
			<b-button variant="danger" class="ml-3 my-2" @click="submit">
				GUARDAR
			</b-button>
			<b-button variant="white" class="link-light my-2" @click="cancel">
				CANCELAR
			</b-button>
		</div>
	</b-overlay>
</template>

<script>
import { required } from "vuelidate/lib/validators";
import { mapMutations, mapState } from "vuex";
export default {
	props: {
		autorizadores: Array,
		autorizaciones: Array,
	},
	data() {
		return {
			usuarios: [],
			form: {
				idUsuario: null,
				autorizador1: null,
				autorizador2: null,
			},
		};
	},
	mounted() {
		this.getUsuarios();
	},
	methods: {
		...mapMutations(["modalSubmit", "modalOk"]),
		getUsuarios() {
			axios.get(BaseUrl + `/api/usuarios/all`).then((response) => {
				this.usuarios = response.data;
			});
		},
		async submit() {
			this.$v.$touch();

			if (!this.$v.$invalid) {
				const response = await axios.post(
					BaseUrl + `/api/th/vp/configuracion/autorizaciones`,
					this.form
				);
				if (response.data.success) {
					this.autorizaciones.push(response.data.autorizacion);
					this.modalSubmit(true);
				}
			} else {
				this.modalOk(false);
			}
		},
		cancel() {
			this.$bvModal.hide("modal-usuario");
		},
	},
	computed: {
		...mapState(["usuario", "okModal"]),

		usuariosFaltantes() {
			var usuarios = [];
			if (this.usuarios.length && this.autorizaciones.length) {
				for (var i = 0; i < this.usuarios.length; i++) {
					const found = this.autorizaciones.find(
						(autorizacion) =>
							autorizacion.idUsuario ===
							this.usuarios[i].idUsuario
					);
					if (found == undefined)
						usuarios.push({
							value: this.usuarios[i].idUsuario,
							text: this.usuarios[i].nombreUsuario,
						});
				}
				return usuarios;
			}
			return this.usuarios.map(function(usuario) {
				return {
					value: usuario.idUsuario,
					text: usuario.nombreUsuario,
				};
			});
		},
		listAutorizadores() {
			return this.autorizadores.map(function(autorizador) {
				return {
					value: autorizador.idUsuario,
					text: autorizador.nombreUsuario,
				};
			});
		},
	},
	validations: {
		form: {
			idUsuario: { required },
			autorizador1: { required },
			autorizador2: { required },
		},
	},
	watch: {
		okModal() {
			if (this.okModal == true) {
				this.submit();
			}
		},
	},
};
</script>
