<template>
	<b-row>
		<b-col lg="12">
			<b-card no-body class="text-center">
				<b-tabs small card>
					<b-tab title="Unidad de negocio">
						<b-row class="justify-content-md-center">
							<b-col lg="10">
								<h1 class="display-1" style="font-size: 25px">Unidad de negocio</h1>
								
							</b-col>
						</b-row>
						<hr class="mb-0 pb-0">
						<b-table-simple class="text-center" :striped="true"
							:bordered="true"
							:small="true"
							:hover="true"
							responsive
							show-empty>
							<b-thead>
								<b-tr>
									<b-th></b-th>
									<b-th colspan="2" class="py-3"> 
										Campo	
									</b-th>
									<b-th colspan="2" class="py-3"> 
										Montajes	
									</b-th>
									<b-th colspan="2" class="py-3"> 
										Taller	
									</b-th>
									<b-th colspan="2" class="py-3"> 
										Asesoría	
									</b-th>
									<b-th colspan="2" class="py-3"> 
										Total general	
									</b-th>
								</b-tr>
								<b-tr>
									<b-th></b-th>
									<b-th style="width: 200px"><small>Presupuesto</small></b-th>
									<b-th style="width: 200px"><small>Real</small></b-th>
									<b-th style="width: 200px"><small>Presupuesto</small></b-th>
									<b-th style="width: 200px"><small>Real</small></b-th>
									<b-th style="width: 200px"><small>Presupuesto</small></b-th>
									<b-th style="width: 200px"><small>Real</small></b-th>
									<b-th style="width: 200px"><small>Presupuesto</small></b-th>
									<b-th style="width: 200px"><small>Real</small></b-th>
									<b-th style="width: 200px"><small>Presupuesto</small></b-th>
									<b-th style="width: 200px"><small>Real</small></b-th>
								</b-tr>
							</b-thead>
							<b-tbody>
								<b-tr v-for="(mes,index) in meses" :key="index">
									<b-td class="bg-white">
										{{ mes.nombre }}
									</b-td>
									<b-td class="td-presupuestado">
										<small>{{ mes.campo_presupuesto }}</small>
									</b-td>
									<b-td class="td-real">
										<small>{{ mes.campo_real }}</small>
									</b-td>
									<b-td class="td-presupuestado">
										<small>{{ mes.montajes_presupuesto }}</small>
									</b-td>
									<b-td class="td-real">
										<small>{{ mes.montajes_real }}</small>
									</b-td>
									<b-td class="td-presupuestado">
										<small>{{ mes.taller_presupuesto }}</small>
									</b-td>
									<b-td class="td-real">
										<small>{{ mes.taller_real}}</small>
									</b-td>
									<b-td class="td-presupuestado">
										<small>{{ mes.asesoria_presupuesto }}</small>
									</b-td>
									<b-td class="td-real">
										<small>{{ mes.asesoria_real }}</small>
									</b-td>
									<b-td class="td-presupuestado">
										<small>{{ mes.general_presupuesto }}</small>
									</b-td>
									<b-td class="td-real">
										<small>{{ mes.general_real }}</small>
									</b-td>
								</b-tr>
							</b-tbody>
						</b-table-simple>
					</b-tab>
					<b-tab title='Unidad de negocio "Porcentaje"'>
						<b-row class="justify-content-md-center">
							<b-col lg="10">
								<h1 class="display-1" style="font-size: 25px">Unidad de negocio "Porcentaje"</h1>
							</b-col>
						</b-row>
						<hr class="mb-0 pb-0">
						<b-table-simple class="text-center" :striped="true"
							:bordered="true"
							:small="true"
							:hover="true"
							responsive
							show-empty>
							<b-thead>
								<b-tr>
									<b-th></b-th>
									<b-th colspan="2" class="py-3"> 
										Campo	
									</b-th>
									<b-th colspan="2" class="py-3"> 
										Montajes	
									</b-th>
									<b-th colspan="2" class="py-3"> 
										Taller	
									</b-th>
									<b-th colspan="2" class="py-3"> 
										Asesoría	
									</b-th>
									<b-th colspan="2" class="py-3"> 
										Total general	
									</b-th>
								</b-tr>
								<b-tr>
									<b-th></b-th>
									<b-th style="width: 200px"><small>Presupuesto</small></b-th>
									<b-th style="width: 200px"><small>Real</small></b-th>
									<b-th style="width: 200px"><small>Presupuesto</small></b-th>
									<b-th style="width: 200px"><small>Real</small></b-th>
									<b-th style="width: 200px"><small>Presupuesto</small></b-th>
									<b-th style="width: 200px"><small>Real</small></b-th>
									<b-th style="width: 200px"><small>Presupuesto</small></b-th>
									<b-th style="width: 200px"><small>Real</small></b-th>
									<b-th style="width: 200px"><small>Presupuesto</small></b-th>
									<b-th style="width: 200px"><small>Real</small></b-th>
								</b-tr>
							</b-thead>
							<b-tbody>
								<b-tr v-for="(mes,index) in meses" :key="index">
									<b-td class="bg-white">
										{{ mes.nombre }}
									</b-td>
									<b-td class="td-presupuestado">
										<small>{{ mes.campo_presupuesto }}</small>
									</b-td>
									<b-td class="td-real">
										<small>{{ mes.campo_real }}</small>
									</b-td>
									<b-td class="td-presupuestado">
										<small>{{ mes.montajes_presupuesto }}</small>
									</b-td>
									<b-td class="td-real">
										<small>{{ mes.montajes_real }}</small>
									</b-td>
									<b-td class="td-presupuestado">
										<small>{{ mes.taller_presupuesto }}</small>
									</b-td>
									<b-td class="td-real">
										<small>{{ mes.taller_real}}</small>
									</b-td>
									<b-td class="td-presupuestado">
										<small>{{ mes.asesoria_presupuesto }}</small>
									</b-td>
									<b-td class="td-real">
										<small>{{ mes.asesoria_real }}</small>
									</b-td>
									<b-td class="td-presupuestado">
										<small>{{ mes.general_presupuesto }}</small>
									</b-td>
									<b-td class="td-real">
										<small>{{ mes.general_real }}</small>
									</b-td>
								</b-tr>
							</b-tbody>
						</b-table-simple>
					</b-tab>
					<b-tab title="Clientes">
						<b-row class="justify-content-md-center">
							<b-col lg="10">
								<h1 class="display-1" style="font-size: 25px">Clientes</h1>
								<hr>
							</b-col>
						</b-row>
					</b-tab>
				</b-tabs>
			</b-card>
		</b-col>
	</b-row>
</template>

<script>
 	import { mapState } from 'vuex'
	export default {
		props:{

		},
		data() {
			return {
				meses: [
					{ 
						nombre:'ENERO', 
						campo_presupuesto: 0,
						campo_real: 0,
						montajes_presupuesto: 0,
						montajes_real: 0,
						taller_presupuesto: 0,
						taller_real: 0,
						asesoria_presupuesto: 0,
						asesoria_real: 0,
						general_presupuesto: 0,
						general_real: 0,
					},
					{ 
						nombre:'FEBRERO', 
						campo_presupuesto: 0,
						campo_real: 0,
						montajes_presupuesto: 0,
						montajes_real: 0,
						taller_presupuesto: 0,
						taller_real: 0,
						asesoria_presupuesto: 0,
						asesoria_real: 0,
						general_presupuesto: 0,
						general_real: 0,
					},
					{ 
						nombre:'MARZO', 
						campo_presupuesto: 0,
						campo_real: 0,
						montajes_presupuesto: 0,
						montajes_real: 0,
						taller_presupuesto: 0,
						taller_real: 0,
						asesoria_presupuesto: 0,
						asesoria_real: 0,
						general_presupuesto: 0,
						general_real: 0,
					},
					{ 
						nombre:'ABRIL', 
						campo_presupuesto: 0,
						campo_real: 0,
						montajes_presupuesto: 0,
						montajes_real: 0,
						taller_presupuesto: 0,
						taller_real: 0,
						asesoria_presupuesto: 0,
						asesoria_real: 0,
						general_presupuesto: 0,
						general_real: 0,
					},
					{ 
						nombre:'MAYO', 
						campo_presupuesto: 0,
						campo_real: 0,
						montajes_presupuesto: 0,
						montajes_real: 0,
						taller_presupuesto: 0,
						taller_real: 0,
						asesoria_presupuesto: 0,
						asesoria_real: 0,
						general_presupuesto: 0,
						general_real: 0,
					},
					{ 
						nombre:'JUNIO', 
						campo_presupuesto: 0,
						campo_real: 0,
						montajes_presupuesto: 0,
						montajes_real: 0,
						taller_presupuesto: 0,
						taller_real: 0,
						asesoria_presupuesto: 0,
						asesoria_real: 0,
						general_presupuesto: 0,
						general_real: 0,
					},
					{ 
						nombre:'JULIO', 
						campo_presupuesto: 0,
						campo_real: 0,
						montajes_presupuesto: 0,
						montajes_real: 0,
						taller_presupuesto: 0,
						taller_real: 0,
						asesoria_presupuesto: 0,
						asesoria_real: 0,
						general_presupuesto: 0,
						general_real: 0,
					},
					{ 
						nombre:'AGOSTO', 
						campo_presupuesto: 0,
						campo_real: 0,
						montajes_presupuesto: 0,
						montajes_real: 0,
						taller_presupuesto: 0,
						taller_real: 0,
						asesoria_presupuesto: 0,
						asesoria_real: 0,
						general_presupuesto: 0,
						general_real: 0,
					},
					{ 
						nombre:'SEPTIEMBRE', 
						campo_presupuesto: 0,
						campo_real: 0,
						montajes_presupuesto: 0,
						montajes_real: 0,
						taller_presupuesto: 0,
						taller_real: 0,
						asesoria_presupuesto: 0,
						asesoria_real: 0,
						general_presupuesto: 0,
						general_real: 0,
					},
					{ 
						nombre:'OCTUBRE', 
						campo_presupuesto: 0,
						campo_real: 0,
						montajes_presupuesto: 0,
						montajes_real: 0,
						taller_presupuesto: 0,
						taller_real: 0,
						asesoria_presupuesto: 0,
						asesoria_real: 0,
						general_presupuesto: 0,
						general_real: 0,
					},
					{ 
						nombre:'NOVIEMBRE', 
						campo_presupuesto: 0,
						campo_real: 0,
						montajes_presupuesto: 0,
						montajes_real: 0,
						taller_presupuesto: 0,
						taller_real: 0,
						asesoria_presupuesto: 0,
						asesoria_real: 0,
						general_presupuesto: 0,
						general_real: 0,
					},
					{ 
						nombre:'DICIEMBRE', 
						campo_presupuesto: 0,
						campo_real: 0,
						montajes_presupuesto: 0,
						montajes_real: 0,
						taller_presupuesto: 0,
						taller_real: 0,
						asesoria_presupuesto: 0,
						asesoria_real: 0,
						general_presupuesto: 0,
						general_real: 0,
					},		
				]
			}
		},
		mounted()
		{
			// this.totalByMes()
		},
		methods: {
			totalByMes()
			{	
				this.meses.forEach(function(mes) {
					mes.total = this.indicador(mes)
				});
			},
			indicador()
			{
				//(CLIENTES PRESUPUESTADOS + NUEVOS (FACTURADOS) / PRESUPUETADOS) - 1 * 100
				//CHECAR CUANTOS NEGOCIOS HABIA EN ENERO Y FEBRERO Y ASI
				console.log(this.clientesFacturados)
				 return this.clientesFacturados.filter(
						cliente => 
						moment(cliente.fecha_factura).locale('es').format("MMMM") == mes.nombre
						).length
			}
		},
		computed: {
			...mapState(['clientesFacturados']),
			deceado()
			{
				if(this.periodo=='cuatri')
					return '33.33%'
				return '25%'
			},
		}
	}
</script>

<style>
	
	.bg-success-light{
		background-color: #c3e6cb;
	}

	.td-presupuestado{
		background-color: #ffeded;
		/*#f5f5ff*/
	}
	.td-real{
		background-color: #e8ffe8;
	}
</style>