<template>
	<div class="wrapper">
		<sidebar-component :title="'INDICADORES'" >
			<template slot="content">
				<vt-ind-sidebar />
			</template>
		</sidebar-component>
		<b-container fluid>
			<header-component :title="'Porcentaje de ventas'" />
			<b-row class="mt-3">
				<b-col lg="2">
					<vt-ind-filter-embudos />
				</b-col>
			</b-row>
			<vt-ind-porcentaje-ventas-content class="mt-1" />
		</b-container>
	</div>
</template>
<script>
    import { mapState, mapMutations } from 'vuex'

	export default {
	    data() {
			return {
				
	     	}
    	},
	    mounted(){
	            this.setRouteName('vt.indicadores.pv')
	    },
	    methods: { 
	        ...mapMutations(['setRouteName']),
	    },
  	}
</script>