<template> 
	<div class="mt-4" style="height: calc(100vh - 100px)">
 		<b-card no-body class="h-100">

			<b-card-header header-tag="nav" >
				 <div class="media">
		            <div class="media-body align-self-center overflow-hidden">
		                <h4 class="text-truncate mb-0 ml-3 mt-2" v-if="procedimientoActivo">
		                	{{ procedimientoActivo.nombre }}
		                </h4>
		                <h4 class="text-truncate mb-0 ml-3 mt-2" v-else>
		                	Todos los archivos
		                </h4>
		            </div>

		            <div class="align-self-center ml-5" v-if="procedimientoActivo">
		                <b-button size="sm" variant="danger" v-b-modal.modal-archivo @click="setArchivo(null)">Subir archivo <i class="fas fa-cloud-upload-alt"></i></b-button>
		            </div>
		        </div>
			</b-card-header>
			
 		 	<b-card-body class="px-0">
 		 		<div class="mx-3">
	 		 		<div class="input-group bg-white shadow w-100">
		    			<div class="input-group-prepend mr-1 ml-3">
	                        <div class="pt-2">
	                            <i class="fas fa-search"></i>
	                        </div>
	                    </div>
	                    <b-form-input id="input-search-files" class="form-control border-0" placeholder="Escribe tu busqueda aquí" style="overflow: hidden; overflow-wrap: break-word; resize: none;" v-model="filter"></b-form-input>
	                 </div>
	             </div>

    			<b-list-group flush class="card-body-scroll mt-4">

    				<div class="shadow mx-3">
						<div class="border-bottom pt-2 pl-3 bg-light-35">
							<h5 class="text-dark">Procedimientos <b-badge variant="light-35">({{ procedimientosFiltered.length }})</b-badge></h5>
						</div>
						<div v-if="procedimientosFiltered.length">
							<nr-file-component v-for="(archivo, index) in procedimientosFiltered" :key="archivo.idArchivo" :archivo="archivo"/>
						</div>
						<div v-else>
							<b-list-group-item style="margin-bottom: -8px">
								<p class="text-center mt-3">No se encontraron archivos</p>
							</b-list-group-item>
						</div>
					</div>
					<div class="shadow mt-4 mx-3">
						<div class="border-bottom pt-2 pl-3 bg-light-35">
							<h5 class="text-dark">Instrucciones de trabajo <b-badge variant="light-35">({{ itsFiltered.length }})</b-badge></h5>
						</div>
						<div v-if="itsFiltered.length">
							<nr-file-component v-for="(archivo, index) in itsFiltered" :key="archivo.idArchivo" :archivo="archivo"/>
						</div>
						<div v-else>
							<b-list-group-item style="margin-bottom: -8px">
								<p class="text-center mt-3">No se encontraron archivos</p>
							</b-list-group-item>
						</div>
					</div>
					<div class="shadow my-4 mx-3">
						<div class="border-bottom pt-2 pl-3 bg-light-35">
							<h5 class="text-dark">Formatos <b-badge variant="light-35">({{ formatosFiltered.length }})</b-badge></h5>
						</div>
						<div v-if="formatosFiltered.length">
							<nr-file-component v-for="(archivo, index) in formatosFiltered" :key="archivo.idArchivo" :archivo="archivo"/>
						</div>
						<div v-else>
							<b-list-group-item>
								<p class="text-center mt-3">No se encontraron archivos</p>
							</b-list-group-item>
						</div>
					</div>
				</b-list-group>
			</b-card-body>
		</b-card>
		<modal-component :title="titleModalArchivo" :id="'modal-archivo'">
			<template slot="content">
				<nr-form-file-component />
			</template>
		</modal-component>	
	</div>
</template>

<script>
	import { mapState, mapMutations, mapGetters , mapActions} from 'vuex'

    export default {
        data() {
            return {
				filter: ''
            }
        },
        mounted(){
			if(this.searchGeneral.length)
				this.filter = this.searchGeneral
        },
        methods: { 
			...mapMutations('areas', ['setArchivo'])
        },
        computed: {
			...mapState('areas', ['listArchivos', 'procedimientoActivo', 'searchGeneral', 'archivoActivo']),
			procedimientosFiltered()
			{
				if(this.listArchivos.length){
					return this.listArchivos.filter(
	                    archivo => 
							archivo.tipo == 'P' &&
			            	archivo.nombre.toLowerCase().indexOf(this.filter.toLowerCase()) > -1
	            		)
				}
				return []
			},
			itsFiltered()
			{
				if(this.listArchivos.length){
					return this.listArchivos.filter(
	                    archivo => 
							archivo.tipo == 'IT' &&
			            	archivo.nombre.toLowerCase().indexOf(this.filter.toLowerCase()) > -1
						)
				}
				return []
			},
			formatosFiltered()
			{
				if(this.listArchivos.length){
					return this.listArchivos.filter(
	                    archivo => 
							archivo.tipo == 'F' &&
			            	archivo.nombre.toLowerCase().indexOf(this.filter.toLowerCase()) > -1
	            		)
				}
				return []
			},
			titleModalArchivo()
			{
				if(this.archivoActivo)
					return 'Actualizar archivo'
				else
					return 'Subir archivo'
			}
		},
    }
</script>
<style>
	.punteado{
	  	border-style: dashed;
	   	border-width: 2px;
	   	border-color: #a7a7a7;
	}

	#input-search-files{
		background-color: #fff !important;
		color: rgb(69, 85, 95) !important;
	}

	 .card-body-scroll{
        max-height: calc(100vh - 244px);
        overflow-y:auto;
    }
</style>
