<template>
	<b-form-checkbox
		v-model="selected"
		:value="value"
		checked
		@change="setVal($event)"
        class="ml-5"
	>
		{{ role.nombre }}
	</b-form-checkbox>
</template>

<script>
import { mapMutations, mapState } from 'vuex';
export default {
    props: {
        role: Object,
        usuario: Object,
        idSubmodulo: String
    },
    data() {
        return {
            selected: null
        }
    },
    mounted() {

    },
    methods: {
		...mapMutations("usuarios", ["addRoleUsuario", "deleteRoleUsuario"]),
		setVal(val) {
			if (val) this.addRoleUsuario(val);
			else this.deleteRoleUsuario(this.value);
		},
	},
	computed: {
		...mapState("usuarios", ["rolesUsuario"]),
		value() {
			return {
				idUsuario: this.usuario.idUsuario,
                idRole: this.role.idRole,
                idSubmodulo: this.idSubmodulo,
			};
		},
	},
	watch: {
        rolesUsuario() {
            const roleUsuario = this.rolesUsuario.find(
                (roleUsuario) =>
                    roleUsuario.idRole == this.role.idRole
            );
            if(roleUsuario){
                this.selected = {
                        idRole: roleUsuario.idRole,
                        idUsuario: roleUsuario.idUsuario,
                        idSubmodulo: roleUsuario.idSubmodulo,
                    }
            } else {
                this.selected = null
            }
        }
    },
}
</script>