<template>
	<b-overlay
		:show="overlay"
		rounded="sm"
		opacity="1.0"
		blur="1px"
		variant="transparent"
	>
		<div class="mb-3" v-if="!editing">
			<b-form-checkbox
				v-model="checkedUsuario"
				name="check-button"
				switch
			>
				Usuario Externo
			</b-form-checkbox>
		</div>

		<div v-if="!checkedUsuario">
			<b-form-group v-if="!editing">
				<template v-slot:label>
					<div class="lab-form">
						Empleado<span class="req">*</span>
					</div>
				</template>
				<b-form-select
					v-model="$v.form.noEmpleado.$model"
					:state="
						$v.form.noEmpleado.$dirty
							? !$v.form.noEmpleado.$error
							: null
					"
					:options="empleadosFaltantes"
				>
					<template v-slot:first>
						<option :value="''">Seleccione un empleado</option>
					</template>
				</b-form-select>
			</b-form-group>
		</div>

		<b-form-group v-else>
			<template v-slot:label>
				<div class="lab-form">
					Nombre del usuario<span class="req">*</span>
				</div>
			</template>
			<b-form-input
				v-model="$v.form.nombreUsuario.$model"
				:state="
					$v.form.nombreUsuario.$dirty
						? !$v.form.nombreUsuario.$error
						: null
				"
				placeholder="Nombre completo del usuario"
			>
			</b-form-input>
		</b-form-group>

		<b-form-group>
			<template v-slot:label>
				<div class="lab-form">Usuario<span class="req">*</span></div>
			</template>
			<b-form-input
				v-model="$v.form.usuario.$model"
				:state="$v.form.usuario.$dirty ? !$v.form.usuario.$error : null"
				placeholder="Ingrese el username ejem. acastro"
			>
			</b-form-input>
		</b-form-group>

		<b-form-group>
			<template v-slot:label>
				<div class="lab-form">Correo<span class="req">*</span></div>
			</template>
			<b-form-input
				v-model="$v.form.email.$model"
				:state="$v.form.email.$dirty ? !$v.form.email.$error : null"
				placeholder="Ingrese el correo para acceder al ERP"
			>
			</b-form-input>
		</b-form-group>

		<b-form-group>
			<template v-slot:label>
				<div class="lab-form">Teléfono<span class="req">*</span></div>
			</template>
			<b-form-input
				v-model="$v.form.telefono.$model"
				:state="$v.form.telefono.$dirty ? !$v.form.telefono.$error : null"
				placeholder="Ingrese el número de teléfono"
			>
			</b-form-input>
		</b-form-group>

		<template v-if="usuario && !changePassword">
			<div class="mt-4 mb-3">
				<p class="ml-2 mb-0">
					Contraseña actual &nbsp;
					<b-link @click="changePassword = !changePassword" class="text-danger">
						<i class="fas fa-edit"></i>
					</b-link>
				</p>
			</div>
		</template>

		<b-form-group v-else>
			<template v-slot:label>
				<div class="lab-form">Contraseña<span class="req">*</span></div>
			</template>
			<b-input-group>
				<b-input-group-prepend>
					<b-button
						size="sm"
						text="Button"
						variant="light"
						v-if="showPass"
						@click="
							showPass = false;
							typePass = 'password';
						"
					>
						<i
							class="fas fa-eye px-1 mt-1"
							style="font-size: 16px"
						></i>
					</b-button>
					<b-button
						size="sm"
						text="Button"
						variant="secondary"
						v-else
						@click="
							showPass = true;
							typePass = 'text';
						"
					>
						<i
							class="fas fa-eye-slash px-1 mt-1"
							style="font-size: 15px"
						></i>
					</b-button>
				</b-input-group-prepend>
				<b-form-input
					placeholder="Ingrese la contraseña"
					:type="typePass"
					ref="password"
					autocomplete="off"
					v-model="$v.form.password.$model"
					:state="
						$v.form.password.$dirty
							? !$v.form.password.$error
							: null
					"
				>
				</b-form-input>
				<b-form-invalid-feedback id="feedback-password">
					Campo obligatorio
				</b-form-invalid-feedback>
			</b-input-group>
		</b-form-group>

		
		<template v-if="editing && !changeFile">
			<div class="mt-1 mb-4">
				<hr class="mt-2 mb-3">
				<p class="ml-2 mb-0">
					Imagen actual <strong>{{ foto }}</strong> &nbsp;
					<b-link @click="changeFile = !changeFile" class="text-danger">
						<i class="fas fa-edit"></i>
					</b-link>
				</p>
			</div>
		</template>

		<b-form-group v-else>
			<template v-slot:label>
				<div class="lab-form">
					Foto
				</div>
			</template>
			<b-form-file
				ref="foto"
				v-model="$v.form.foto.$model"
				:state="$v.form.foto.$dirty ? !$v.form.foto.$error : null"
				placeholder="Elija una foto o suéltelo aquí..."
				drop-placeholder="Suelta el archivo aquí..."
			>
			</b-form-file>
			<b-form-invalid-feedback id="feedback-foto">
				Campo obligatorio
			</b-form-invalid-feedback>
		</b-form-group>


		<div class="d-flex flex-row-reverse bd-highlight">
			<b-button variant="danger" class="ml-3 my-2" @click="submit">
				GUARDAR
			</b-button>
			<b-button variant="white" class="link-light my-2" @click="cancel">
				CANCELAR
			</b-button>
		</div>
	</b-overlay>
</template>

<script>
import { required } from "vuelidate/lib/validators";
import { mapActions, mapMutations, mapState } from "vuex";

export default {
	props: {
		usuario: Object,
	},
	data() {
		return {
			foto: null,
			changeFile: false,
			editing: false,
			overlay: false,
			checkedUsuario: false,
			changePassword: false,
			typePass: "text",
			showPass: true,
			empleados: [],
			form: {
				nombreUsuario: null,
				usuario: null,
				email: null,
				foto: null,
				activo: 1,
				noEmpleado: "",
				password: null,
				telefono: null,
			},
		};
	},
	mounted() {
		this.getEmpleados();
		if (this.usuario) this.setDataEdit();
	},
	methods: {
		...mapMutations(["modalSubmit"]),
		...mapMutations("usuarios", ["addUsuario", "updateUsuario"]),

		getEmpleados() {
			axios.get(BaseUrl + `/api/th/empleados`).then((response) => {
				this.empleados = response.data;
			});
		},
		async submit() {
			this.overlay = true;
			this.$v.$touch();
			if (!this.$v.$invalid) {
				try {
					if (!this.checkedUsuario) {
						this.form.nombreUsuario = this.empleados.find(
							(empleado) =>
								empleado.noEmpleado === this.form.noEmpleado
						).nombre;
					}
					var data = new FormData();
					data.append("nombreUsuario", this.form.nombreUsuario);
					data.append("usuario", this.form.usuario);
					data.append("email", this.form.email);
					data.append("pass", this.form.password);
					data.append("activo", this.form.activo);
					data.append("noEmpleado", this.form.noEmpleado);
					data.append("telefono", this.form.telefono);
					data.append("file", this.form.foto);
					if (this.usuario) {
						data.append("idUsuario", this.usuario.idUsuario);
						data.append("_method", "PUT");
					}
					const response = await axios.post(BaseUrl + `/api/usuarios`, data);
					if (response.data.saved) {
						if (!this.usuario)
							this.addUsuario(response.data.usuario);
						else this.updateUsuario(response.data.usuario);
						this.modalSubmit(true);
					}
				} catch (e) {
					this.overlay = false;
				}
			} else {
				this.overlay = false;
			}
		},
		cancel() {
			this.$bvModal.hide("modal-usuario");
		},
		setDataEdit() {
			this.form.nombreUsuario = this.usuario.nombreUsuario;
			this.form.noEmpleado = this.usuario.noEmpleado;
			this.form.usuario = this.usuario.usuario;
			this.form.email = this.usuario.email;
			this.form.telefono = this.usuario.telefono;
			if (this.usuario.noEmpleado == null) {
				this.checkedUsuario = true;
			}
			this.foto = this.usuario.foto;
			this.form.password = null;
			this.form.foto = null;
			this.editing = true;
		},
	},
	computed: {
		...mapState(["okModal"]),
		...mapState("usuarios", ["usuarios"]),

		empleadosFaltantes() {
			var empleados = [];
			if (this.usuarios.length && this.empleados.length) {
				for (var i = 0; i < this.empleados.length; i++) {
					const found = this.usuarios.find(
						(usuario) =>
							usuario.noEmpleado === this.empleados[i].noEmpleado
					);
					if (found == undefined)
						empleados.push({
							value: this.empleados[i].noEmpleado,
							text: this.empleados[i].nombre,
						});
				}
				return empleados;
			}
			return this.empleados;
		},
	},
	watch: {
		okModal() {
			if (this.okModal == true) {
				this.submit();
			}
		},
	},
	validations() {
		if (this.editing) {
			return {
				form: {
					nombreUsuario: { required },
					usuario: { required },
					email: { required },
					foto: {},
					activo: {},
					noEmpleado: {},
					password: {},
					telefono: {},
				},
			};
		} else {
			if (!this.checkedUsuario) {
				return {
					form: {
						nombreUsuario: {},
						usuario: { required },
						email: { required },
						foto: {},
						activo: {},
						noEmpleado: { required },
						password: { required },
						telefono: {},
					},
				};
			} else {
				return {
					form: {
						nombreUsuario: { required },
						usuario: { required },
						email: { required },
						foto: {},
						activo: {},
						noEmpleado: {},
						password: { required },
						telefono: {},
					},
				};
			}
		}
	},
};
</script>
