<template>
	<b-container fluid style="height: calc(100vh - 54px)">	
		<b-row class="py-4">
			<b-col lg="3"></b-col>
			<b-col lg="6">
				<h1 class="text-center mb-0">
					Administración de Usuarios ERP
				</h1>
			</b-col>
			<b-col lg="3">
				 <b-button variant="danger" size="sm" class="float-right mt-2 shadow-sm" @click="openModel">
					<b-icon icon="person-plus-fill" aria-hidden="true"></b-icon> Nuevo usuario
				</b-button>
			</b-col>
		</b-row>

		<b-card class="shadow-sm">
			<b-row>
				<b-col lg="2">
					 <b-form-select size="sm" v-model="selectedFilter" :options="options"></b-form-select>	
				</b-col>
				<b-col lg="8">
					<h3 class="mb-0 text-center">
						Lista de usuarios
					</h3>
				</b-col>
				<b-col lg="2">
					 	<div
						class="input-group w-100 bg-white border shadow-sm"
						id="input-shadow"
					>
						<div
							class="input-group-prepend bg-light mr-1 ml-3"
						>
							<div class="pt-1 bg-white">
								<i class="fas fa-search"></i>
							</div>
						</div>
						<b-form-input
							id="input-search"
							size="sm"
							class="form-control border-0"
							placeholder="Escribe tu busqueda aquí"
							v-model="filter"
							autocomplete="off"
						></b-form-input>
					</div>
				</b-col>
			</b-row>
			<hr />
			<b-table
				:items="usuariosFiltered"
				:filter="filter"
				:fields="fields"
				@row-selected="onRowSelected"
				selectable
				select-mode="single"
				striped
				show-empty
				responsive="sm"
				:busy="isBusy"
				empty-html="<h5 class='my-4 text-secondary'>No se ha registrado ningún usuario</h5>"
				empty-filtered-html="<h5 class='my-4 text-secondary'>No se encontaron registros que coincidan con tu búsqueda</h5>"
			>
				<template v-slot:table-busy>
					<div class="my-3 text-center">
						<h5 class="mb-4">
							<b-spinner type="grow"></b-spinner>
							Cargando datos ...
						</h5>
					</div>
				</template>

				<template v-slot:cell(ruta)="row">
					<div class="text-center pt-0">
						<b-avatar
							:src="row.value"
						></b-avatar>
					</div>
				</template>

				<template v-slot:cell(activo)="row">
					<div class="text-center pt-1">
						<b-form-checkbox
							v-model="row.value == 1 ? true : false"
							switch
							name="activo-usuario"
							@change="cambiarActivo(row.item)"
						>
						</b-form-checkbox>
					</div>
				</template>

				<template v-slot:cell(actions)="scope">
					<div class="text-center">
						<b-dropdown
							id="dropdown-left"
							right
							variant="light"
							size="sm"
							no-caret
							class="shadows"
						>
							<template v-slot:button-content>
								<i
									class="fas fa-ellipsis-v px-2"
								></i>
							</template>
							<b-dropdown-item
								v-b-modal.modal-usuario
								@click="setDataEdit(scope.item)"
							>
								<i class="fas fa-edit px-2"></i>
								Editar
							</b-dropdown-item>
							<b-dropdown-item
								href="#"
								@click="
									showMsgBoxDeleteConfirm(
										scope.item
									)
								"
							>
								<i
									class="fas fa-trash px-2"
								></i>
								Eliminar
							</b-dropdown-item>
							<slot
								name="dropdown-more-actions"
							></slot>
						</b-dropdown>
					</div>
				</template>
			</b-table>
		</b-card>
		
		<div>
			<b-sidebar
				id="sidebar-backdrop"
				backdrop-variant="transparent"
				class="bg-white"
				shadow
				right
				bg-variant="white"
				text-variant="dark"
				width="630px"
				:visible="showSidebar"
				@hidden="hiddenSidebar"
			>
				<div class="px-5 py-2" v-if="usuarioActive">
					<h2>{{ usuarioActive.nombreUsuario }}</h2>
					<b-alert
						show
						variant="success"
						class="border-0 mt-4 py-2"
						v-if="success && !load"
					>
						<p style="font-size: 13px;" class="mb-0">
							<i
								class="far fa-check-circle mr-1 text-success"
							></i>
							Se guardaron correctamente los cambios
						</p>
					</b-alert>
					<b-alert
						show
						variant="light"
						class="border-0 mt-4 py-2"
						v-if="load"
					>
						<p style="font-size: 13px;" class="mb-0">
							<b-spinner
								type="grow"
								small
								label="Spinning"
								class="mr-1"
							></b-spinner
							>Cargando ...
						</p>
					</b-alert>
					<div class="mt-4">
						<fieldset
							class="scheduler-border"
							style="margin-top: 15px !important"
						>
							<legend class="scheduler-border">
								Roles de usuario
							</legend>

							<b-button
								@click="submit"
								class="float-right"
								variant="danger"
								size="sm"
								>Guardar</b-button
							>

							<div
								v-for="(modulo, index) in modulos"
								:key="'mod' + index"
							>
								<h4 class="mt-2">{{ modulo.nombre }}</h4>
								<div
									v-for="(submodulo,
									index2) in submodulosByModulo(
										modulo.idModulo
									)"
									:key="'sub' + index2"
									class="mb-3"
								>
									<h5 class="ml-3">{{ submodulo.nombre }}</h5>
									<ad-usuarios-check-roles-component
										v-for="(role,
										index3) in rolesBySubmodulo(
											submodulo.idSubmodulo
										)"
										:usuario="usuarioActive"
										:role="role"
										:idSubmodulo="submodulo.idSubmodulo"
										:key="'role' + index3"
									/>
								</div>
							</div>
						</fieldset>
					</div>
				</div>
			</b-sidebar>
		</div>

		<modal-component
			:id="'modal-usuario'"
			title="Agregar usuario"
			:hideFooter="true"
			:hideHeader="true"
			:centered="true"
		>
			<template slot="content">
				<ad-usuarios-form-usuario-component :usuario="usuario" />
			</template>
		</modal-component>

	</b-container>
</template>

<script>
import { mapActions, mapMutations, mapState } from "vuex";

export default {
	data() {
		return {
			usuario: null,
			showSidebar: false,
			selectedFilter: 1,
			usuarioActive: null,
			filter: "",
			autorizaciones: [],
			isBusy: false,
			options: [
				{ value: 1, text: 'Activos' },
				{ value: 0, text: 'Inactivos' },
          		{ value: 2, text: 'Todos' },
			],
			fields: [
				{
					key: "ruta",
					label: "Foto",
					class: "text-center",
				},
				"nombreUsuario",
				"usuario",
				"email",
				"telefono",
				{
					key: "activo",
					class: "text-center",
				},
				{
					key: "actions",
					label: "Acciones",
					class: "text-center",
					type: "text",
					admin: true,
				},
			],
			sectionActivate: "Roles",
		};
	},
	mounted() {
		this.getUsuariosAll();
		this.getModulos();
		this.getSubmodulos();
		this.getRoles();
		this.setSuccess(false);
	},
	methods: {
		...mapActions("usuarios", [
			"getModulos",
			"getSubmodulos",
			"getRoles",
			"getRolesByUsuario",
			"getUsuariosAll",
		]),
		...mapMutations("usuarios", ["setLoad", "setSuccess", "removeUsuario", "updateUsuario"]),

		openModel() {
			this.usuario = null;
			this.$bvModal.show("modal-usuario");
		},
		setDataEdit(selectedUsuario) {
			this.usuario = selectedUsuario;
		},
		async cambiarActivo(usuario) {
			const data = {
				activo: usuario.activo,
				idUsuario: usuario.idUsuario,
			};
			let response = await axios.put(
				BaseUrl + "/api/usuarios/usuario-activo",
				data
			);
			if (response.data.success)
				this.updateUsuario(response.data.usuario)
		},
		showMsgBoxDeleteConfirm(selectedUsuario) {
			this.$bvModal
				.msgBoxConfirm("¿Esta seguro que desea eliminar el registro?", {
					title: "Favor de confirmar",
					size: "sm",
					buttonSize: "sm",
					okVariant: "danger",
					cancelVariant: "light",
					okTitle: "Eliminar",
					cancelTitle: "Cancelar",
					headerClass: "pt-3 pb-2 border-bottom-0",
					footerClass: "p-2 border-top-0",
					centered: true,
				})
				.then((confirm) => {
					if (confirm) this.deleteUsuario(selectedUsuario);
				});
		},
		async deleteUsuario(usuario) {
			try {
				const response = await axios.delete(
					BaseUrl + `/api/usuarios/${usuario.idUsuario}`
				);
				if (response.data.success) {
					this.removeUsuario(usuario.idUsuario);
					this.makeToast(
						"success",
						"Exito",
						"Se ha eliminado correctamente el registro"
					);
				}
			} catch (error) {
				this.makeToast(
					"danger",
					"Error",
					"Ha ocurrido un problema al eliminar el registro"
				);
			}
		},
		makeToast(variant = null, title, text) {
			this.$bvToast.toast(text, {
				title: title,
				variant: variant,
				solid: true,
			});
		},
		async submit() {
			this.setLoad(true);
			this.setSuccess(false);
			const rolesUsuario = {
				rolesUsuario: this.rolesUsuario,
			};
			const response = await axios.post(
				BaseUrl + `/api/usuarios-roles/${this.usuarioActive.idUsuario}`,
				rolesUsuario
			);
			if (response.data.success) {
				this.setLoad(false);
				this.setSuccess(true);
			}
		},
		seccionesBySubmodulo(idSubmodulo) {
			if (this.secciones) {
				const sec = this.secciones.filter(
					(seccion) => seccion.idSubmodulo == idSubmodulo
				);
				return sec;
			}
		},
		openSidebar() {
			this.showSidebar = true;
		},
		hiddenSidebar() {
			this.usuarioActive = null;
			this.showSidebar = false;
			this.setSuccess(false);
		},
		onRowSelected(items) {
			this.setSuccess(false);
			this.usuarioActive = items[0];
			this.getRolesByUsuario(this.usuarioActive.idUsuario);
			if (this.usuarioActive) this.openSidebar();
		},
		cancel() {
			this.$bvModal.hide("modal-agregar");
		},
		submodulosByModulo(idModulo) {
			return this.submodulos.filter(
				(submodulo) => submodulo.idModulo == idModulo
			);
		},
		rolesBySubmodulo(idSubmodulo) {
			return this.roles.filter((role) => role.idSubmodulo == idSubmodulo);
		},
	},
	computed: {
		...mapState("usuarios", [
			"success",
			"load",
			"modulos",
			"submodulos",
			"roles",
			"rolesUsuario",
			"usuarios",
		]),
		usuariosFiltered() {
			if (this.selectedFilter < 2) return this.usuarios.filter((usuario) => usuario.activo === this.selectedFilter);
			else return this.usuarios;	
		},
	},
	watch: {
		usuarioActive() {
			if (!this.usuarioActive) this.showSidebar = false;
		},
	},
};
</script>
