<template>
	<div style="height: 80vh" class="img-content">
		<center>
			<b-img :src="urlImage"
				style="max-width:400px; opacity: 0.6;" fluid 
				alt="Responsive image" class="imag">
			</b-img>
			<h2 class="display-4" 
				style="opacity:0.4">
				SEGURIDAD
			</h2>
		</center>
	</div>
</template>

<script>

	export default {
		data() {
		    return {
		    	urlImage: ''
		   	};
		},
		mounted()
		{
		    this.urlImage = BaseUrl + '/img/logo/logoammmec.png'

		},
	}
</script>


<style>
	.img-content {
	  display: -ms-flexbox;
	  display: -webkit-box;
	  display: flex;
	  -ms-flex-align: center;
	  -ms-flex-pack: center;
	  -webkit-box-align: center;
	  align-items: center;
	  -webkit-box-pack: center;
	  justify-content: center;

	}
	 /*h2 {
	 	width: 100%;
	 	opacity: 0.4;
	 }
	 .img-fluid {
	 	width: 400px;
	 	opacity: 0.6;
	 }

	 @media (min-width: 1367px) and (max-width: 2500px) { 

	 	.imag{
	 		margin-top: 270px;
	 		width: 400px;
	 		opacity: 0.6;
	 	}

	 }
	 @media (max-width: 767px) {

	 	.imag{
	 		padding-top: 53px;
	 		width: 400px;
	 		opacity: 0.6;
	 	}

	 }*/
</style>