<template>
	<b-collapse id="nav-collapse" is-nav>
		<b-navbar-nav>
			<b-nav-item-dropdown>
				<template v-slot:button-content> 
					<i class="fas fa-user-md pr-1" style="color:white"></i>
					Salud
				</template>

	            <b-dropdown-item :to="{name: 'se.historial_clinico'}"
	            	style="color: #777;">
		            	<div class="mr-5 ml-1">
							<i class="fas fa-stethoscope pr-2"></i>
			            	Historial Clinico
		            	</div>
	            </b-dropdown-item>
	   		</b-nav-item-dropdown>

			<!-- <b-nav-item :to="{name: 'se.accidentes'}">
				<i class="fas fa-car-crash pr-1" style="color:white"></i>
				Accidentes
			</b-nav-item> -->

		</b-navbar-nav>

		<b-navbar-nav class="ml-auto">

			<b-nav-item class="pr-0" right v-on:click="$emit('showSystemInfo')">
				<b-button variant="link">
					<i class="fas fa-question-circle text-white"></i>
				</b-button>
			</b-nav-item>

			<b-nav-item-dropdown right>
				<template v-slot:button-content>
					<b-avatar :src="urlImage" class="mr-2" variant="dark"></b-avatar>
        			<span class="mr-auto">{{ nombreUsuario }}</span>
				</template>

				<b-dropdown-item href="http://localhost:8080/erp-ammmec/modules/ventas/?c=perfil&g=true"
					style="color: #777;">
					<div class="mr-5 ml-1">
						<i class="fas fa-user-circle pr-2"></i>
						Mi cuenta
					</div>
				</b-dropdown-item>

	            <!-- <hr class="pb-1 mb-0 mt-1"> -->
				<!-- <b-dropdown-item href="http://localhost:8080/erp-ammmec/modules/ventas/?c=negocios&a=ConfigurarEmbudos"
					style="color: #777;">
					<div class="mr-5 ml-1">
						<i class="fas fa-cogs pr-2"></i> 	
						Configuración
					</div>
				</b-dropdown-item> -->

	            <hr class="pb-1 mb-0 mt-1">
				<b-dropdown-item @click="logout"
					style="color: #777;">
					<div class="mr-5 ml-1">
						<i class="fas fa-sign-out-alt pr-2"></i> 	
						Cerrar sesión
					</div>
				</b-dropdown-item>

			</b-nav-item-dropdown>
		</b-navbar-nav> 
	</b-collapse>
</template>


<script>
		
	import { mapState, mapActions} from 'vuex'

	export default {
		  props:{
            usuario: Object
        },
		data() {
		    return {
		     	urlImage: null
		    };
		},
		mounted(){
			this.urlImagen(this.usuario.foto);
		},
		methods:{
			urlImagen(foto){
				this.urlImage = BaseUrl + '/img/profiles/' + foto;
			},
			logout() {
                axios.post(BaseUrl + '/logout').then(response => {
                    window.location = "/";
                }).catch(error => {
                    location.reload()
                })
            },
            presupuesto()
            {
            	this.getPresupuestos(this.embudoSelected.idEmbudo)
            	this.getNegocios()
            },
		},
		computed:{
			...mapState(['nombreUsuario']),
			...mapState('notifications', ['notCount']),
		},
	}
</script>
