<template>
	<b-overlay :show="overlay" rounded="sm" opacity="1.0" blur="1px" variant='transparent'>
		<b-form-group label="Categoría" class="mb-0" v-show="!roc">
			<b-form-select
				v-model="$v.form.idCategoria.$model"
				:state="$v.form.idCategoria.$dirty ? !$v.form.idCategoria.$error : null"
				:options="categorias">
				<template v-slot:first>
					<option :value="null">
						Seleccione una categoría
					</option>
				</template>
			</b-form-select>
			<b-button 
				variant="link" 
				class="text-secondary float-right mb-0" 
				style="cursor:pointer" 
				@click="registrarOtraCatgoria">
				<small>Registrar otra categoría</small>
			</b-button>
		</b-form-group>

		<b-row v-show="roc">
			<b-col lg="10">
				<b-form-group label="Categoria" class="mb-0">
					<b-form-input
						ref="categoria"
						v-model="$v.form.idCategoria.$model"
						:state="$v.form.idCategoria.$dirty ? !$v.form.idCategoria.$error : null"
						placeholder="Nombre de la categoría" autocomplete="off">
					</b-form-input>
					<b-button 
						variant="link" 
						class="text-secondary float-right mb-0" 
						style="cursor:pointer" 
						@click="verListaCategorias">
						<small>Ver lista de categorias</small>
					</b-button>
				</b-form-group>
			</b-col>
			<b-col lg="2">
				<b-button 
					variant="secondary" 
					size="sm" 
					class="float-right mb-0 mr-1" 
					@click="saveCategoria"
					style="margin-top: 29px">
					Guardar
				</b-button>
			</b-col>
		</b-row>

		<b-form-group label="Estado de Licencia">
			<b-form-radio-group 
				v-model="$v.form.status.$model" 
				:state="$v.form.status.$dirty ? !$v.form.status.$error : null">
				<b-form-radio value="Activo">Activo</b-form-radio>
				<b-form-radio value="Inactivo">Inactivo</b-form-radio>
				<b-form-radio value="Baja">Baja</b-form-radio>
			</b-form-radio-group>
			<b-form-invalid-feedback id="feedback-status">
				Campo obligatorio
			</b-form-invalid-feedback>
		</b-form-group>

		<b-row>
			<b-col lg="8">
				<b-form-group label="Nombre">
					<b-form-input
					ref="nombre"
					autocomplete="off"
					placeholder="Ingrese la nombre"
					v-model="$v.form.nombre.$model"
					:state="$v.form.nombre.$dirty ? !$v.form.nombre.$error : null">
					</b-form-input>
					<b-form-invalid-feedback id="feedback-nombre">
						Campo obligatorio
					</b-form-invalid-feedback>
				</b-form-group>
			</b-col>
			<b-col lg="4">
				<b-form-group label="Monto">
					<b-form-input
					ref="monto"
					autocomplete="off"
					placeholder="Ingrese el monto"
					v-model="$v.form.monto.$model"
					:state="$v.form.monto.$dirty ? !$v.form.monto.$error : null">
					</b-form-input>
					<b-form-invalid-feedback id="feedback-monto">
						Campo obligatorio
					</b-form-invalid-feedback>
				</b-form-group>
			</b-col>
		</b-row>

		<b-row>
			<b-col lg="6">
				<b-form-group label="Periodo de pago">
					<b-form-select
					:options="periodosPagoSelect"
					v-model="$v.form.periodoPago.$model"
					:state="$v.form.periodoPago.$dirty ? !$v.form.periodoPago.$error : null">
					</b-form-select>
					<b-form-invalid-feedback id="feedback-licencia">
						Campo obligatorio
					</b-form-invalid-feedback>
				</b-form-group>
			</b-col>
			<b-col lg="6">
				<b-form-group label="Cuenta interna">
					<b-form-input
					v-model="$v.form.cuentaInterna.$model"
					:state="$v.form.cuentaInterna.$dirty ? !$v.form.cuentaInterna.$error : null">
					</b-form-input>
					<b-form-invalid-feedback id="feedback-cuentainterna">
						Campo obligatorio
					</b-form-invalid-feedback>
				</b-form-group>
			</b-col>
		</b-row>
		
		<b-row>
			<b-col lg="6">
				<b-form-group label="Tipo Pago">
					<b-form-select
					:options="tiposPagoSelect"
					v-model="$v.form.tipoPago.$model"
					:state="$v.form.tipoPago.$dirty ? !$v.form.tipoPago.$error : null">
						<template v-slot:first>
							<option :value="null">
								Seleccione el tipo de pago
							</option>
						</template>
					</b-form-select>
					<b-form-invalid-feedback id="feedback-tipoPago">
						Campo obligatorio
					</b-form-invalid-feedback>
				</b-form-group>
			</b-col>
			<b-col lg="6">
				<b-form-group label="Tarjeta" :disabled="form.tipoPago != 'Domiciliado'">
					<b-form-input
					ref="tarjeta"
					autocomplete="off"
					placeholder="Tarjeta de pago"
					v-model="$v.form.tarjeta.$model"
					:state="$v.form.tarjeta.$dirty ? !$v.form.tarjeta.$error : null">
					</b-form-input>
					<b-form-invalid-feedback id="feedback-tarjeta">
						Campo obligatorio
					</b-form-invalid-feedback>
				</b-form-group>
			</b-col>
		</b-row>

		<div class="d-flex flex-row-reverse bd-highlight my-2">
			<b-button variant="danger" class="ml-2 my-2" size="sm" @click="submit()">
	        	Guardar
	      	</b-button>
			<b-button variant="light" class="my-2" size="sm" @click="cancel()">
	        	Cancelar
	      	</b-button>
	    </div>
	</b-overlay>
</template>

<script>
	import { mapMutations, mapState } from 'vuex'
	import { required, sameAs } from 'vuelidate/lib/validators'

	export default {
		props:{
			licencia: Object,
		},
		data() {
		    return {
		    	roc: false,
		    	overlay:false,
		    	tiposPagoSelect: ['Domiciliado', 'Transferencia', 'Toka'],
		    	periodosPagoSelect: ['Anual', 'Semestral', 'Mensual'],
				form:{
					idCategoria: null,
					tipoPago: null,
					tarjeta: '',
					nombre: '',
					periodoPago: null,
					monto: '',
					cuentaInterna: null,
					status: null
				},
		        categorias: [],
		   	};
		},
		mounted()
		{
			if(this.licencia){
				this.setDataEdit()
			}
		},
		methods: {
			...mapMutations(['modalSubmit', 'modalOk']),
			...mapMutations('licencias_software', ['addLicencia', 'updateLicencia', 'addCategoria']),
			async submit(){
				this.overlay = true

				this.$v.$touch()

				if (!this.$v.$invalid) {
			      	try{
			      		const response = (!this.licencia) ?
	            		await axios.post(BaseUrl + `/api/si/admin/licencias`, this.form) :
	            		await axios.put(BaseUrl + `/api/si/admin/licencias/${this.licencia.idLicencia}`, this.form)

		                if(response.data.success){
		                	if(!this.licencia)
		                    	this.addLicencia(response.data.licencia)
				            else
				            	this.updateLicencia(response.data.licencia)
				            this.modalSubmit(true) 
		                }else{
		                	this.modalOk(false)
		                }

			      	}catch(e){
			      		console.log(e)
						this.overlay = false
			      	}
				}else{
					this.overlay = false
				}
			},
			registrarOtraCatgoria()
			{
				this.roc = true	
				setTimeout(this.focusCategoria,100);
			},
			focusCategoria()
			{
           		this.$refs.categoria.focus()
			},
			verListaCategorias()
			{
				this.roc = false
				if(this.form.categoria == '')
					this.form.categoria = null
			},
			setDataEdit()
			{
				this.form.nombre = this.licencia.nombre
				this.form.monto = this.licencia.monto
				this.form.periodoPago = this.licencia.periodoPago
				this.form.tipoPago = this.licencia.tipoPago
				this.form.tarjeta = this.licencia.tarjeta
				this.form.cuenta = this.licencia.cuenta
				this.form.idCategoria = this.licencia.idCategoria
			},
			cancel(){
				this.$bvModal.hide('modal-licencia')
			},	
			saveCategoria()
			{
				axios.post(BaseUrl + `si/admin/categorias/licencias`, this.nombreCategoria).then(
					(response) =>{
						if(response.data.success)
							this.addCategoria(response.data.categoria)
					})
			}
		},
		computed: {
			...mapState(['usuario', 'okModal']),
			...mapState('licencias_software', ['categoriasSelect'])
		},
		validations() {
			return {
				form: {
					idCategoria: {required},
					tipoPago: {required},
					periodoPago: {},
					tarjeta: {required},
					status: {required},
					tipoPago: {required},
					nombre: {required},
					monto: {},
					cuentaInterna: {required},
				}
			}	
		},
		watch:{
			okModal()
			{
				if(this.okModal==true){
					this.submit()
				}
			}
		},
	}
</script>

