<template>
	<div>
		<div v-show="sectionPeriodo" class="my-4">
			<b-overlay :show="overlay" rounded="sm" opacity="1.0" blur="1px" variant='transparent'>
				<h2>{{ titleSectionPeriodo }}</h2>
				<hr class="bg-white">
				<b-row>
					<b-col lg="6">
						<b-form-group label="Monto">
							<b-form-input
							ref="monto"
							autocomplete="off"
							placeholder="Ingrese el monto"
							v-model="$v.form.monto.$model"
							:state="$v.form.monto.$dirty ? !$v.form.monto.$error : null">
							</b-form-input>
							<b-form-invalid-feedback id="feedback-monto">
								Campo obligatorio
							</b-form-invalid-feedback>
						</b-form-group>
					</b-col>
					<b-col lg="6">
						<b-form-group label="Fecha Pago">
							<b-form-input
							type="date"
							v-model="$v.form.fechaPago.$model"
							:state="$v.form.fechaPago.$dirty ? !$v.form.fechaPago.$error : null">
							</b-form-input>
							<b-form-invalid-feedback id="feedback-fechaFin">
								Campo obligatorio
							</b-form-invalid-feedback>
						</b-form-group>
					</b-col>
				</b-row>

				<b-row>
					<b-col lg="6">
						<b-form-group label="Fecha Inicio">
							<b-form-input
							type="date"
							v-model="$v.form.fechaInicio.$model"
							:state="$v.form.fechaInicio.$dirty ? !$v.form.fechaInicio.$error : null">
							</b-form-input>
							<b-form-invalid-feedback id="feedback-fechaInicio">
								Campo obligatorio
							</b-form-invalid-feedback>
						</b-form-group>
					</b-col>
					<b-col lg="6">
						<b-form-group label="Fecha Fin">
							<b-form-input
							type="date"
							v-model="$v.form.fechaFin.$model"
							:state="$v.form.fechaFin.$dirty ? !$v.form.fechaFin.$error : null">
							</b-form-input>
							<b-form-invalid-feedback id="feedback-fechaFin">
								Campo obligatorio
							</b-form-invalid-feedback>
						</b-form-group>
					</b-col>
				</b-row>
				<div class="d-flex flex-row-reverse bd-highlight my-2">
					<b-button variant="danger" class="ml-2 my-2" size="sm" @click="submit()">
			        	Guardar
			      	</b-button>
					<b-button class="my-2 bg-white text-dark" size="sm" @click="sectionPeriodo = false; clearData()" >
			        	Cancelar
			      	</b-button>
			    </div>
			</b-overlay>
		</div>
		<div>
			<b-link class="float-right text-white mb-3" @click="agregarNewPeriodo" v-if="!sectionPeriodo">
				<i class="fas fa-plus mr-1"></i> Agregar periodo de pago
			</b-link>
			<b-table :fields="fields" :items="periodos" table-variant="light">

				<template v-slot:cell(actions)="scope">
					<b-dropdown id="dropdown-left" right variant="light" size="sm" no-caret>
						<template v-slot:button-content>
							<i class="fas fa-ellipsis-v px-2"></i>
						</template>
						<b-dropdown-item @click="setDataEdit(scope.item); titleSectionPeriodo = 'Editar periodo de pago'">
							<i class="fas fa-edit px-2"></i> 
							Editar
						</b-dropdown-item>
					</b-dropdown>
				</template>

				<template v-slot:cell(monto)="scope">
					<strong>$ {{ scope.item.monto }}</strong>
				</template>

				<template v-slot:cell(pagado)="scope">
					<b-form-checkbox name="check-button" switch @change="updatePagado(scope.item, $event)" v-model="scope.item.pagado" :value="1" :unchecked-value="0">
					</b-form-checkbox>
				</template>
				
			</b-table>

			<div class="text-center mt-4" v-show="isBusy">
				<h5 class="text-white">
					<b-spinner 
						type="grow" 
						style="width: 1.5rem; height: 1.5rem;">		
					</b-spinner>
					<label class="ml-1 text-white">
						Cargando...
					</label>
				</h5>
			</div>
			<div class="mt-4" v-show="!periodos.length && !isBusy">
				<h5 class="text-white text-center">
					No se han registrado periodos
				</h5>
			</div>
		</div>
	</div>
</template>

<script>
	import { mapMutations, mapState } from 'vuex'
	import { required, sameAs } from 'vuelidate/lib/validators'

	export default {
		props:{
			idLicencia: Number,
		},
		data() {
		    return {
		    	titleSectionPeriodo: '',
		    	sectionPeriodo: false,
		    	overlay:false,
				form:{
					fechaInicio: '',
					fechaFin: '',
					fechaPago: '',
					monto: '',
					idLicencia: null,
				},
				periodos: [],
				periodo: null,
				isBusy: true,
				fields: [
					{
		     			key: 'actions',
		     			class: 'text-center'
		     		},
		     		{
		     			key: 'monto',
		     			class: 'text-center'
		     		},
		     		{
		     			key: 'fechaInicio',
		     			class: 'text-center',
		     			formatter: this.formatterDate
		     		},
		     		{
		     			key: 'fechaFin',
		     			class: 'text-center',
		     			formatter: this.formatterDate
		     		},
		     		{
		     			key: 'status',
		     			class: 'text-center',
		     			label: 'Status'
		     		},
		     		{
		     			key: 'pagado',
		     			class: 'text-center',
		     			label: 'Pagado'
		     		},
		     	],
		   	};
		},
		mounted()
		{
			this.getPeriodos()
		},
		methods: {
			async submit(){
				this.overlay = true

				this.form.idLicencia = this.idLicencia
				this.form.mesVencimiento = this.mesVencimiento
				this.form.yearVencimiento = this.yearVencimiento

				console.log(this.form.mesVencimiento, this.form.yearVencimiento)

				this.$v.$touch()

				if (!this.$v.$invalid) {
			      	try{
			      		const response = (!this.periodo) ?
	            		await axios.post(BaseUrl + `/api/si/admin/licencias/periodos`, this.form) :
	            		await axios.put(BaseUrl + `/api/si/admin/licencias/periodos/${this.periodo.idPeriodo}`, this.form)

		                if(response.data.success){
		                	if(!this.periodo)
		                    	this.addPeriodo(response.data.periodo)
				            else
				            	this.updatePeriodo(response.data.periodo) 
							this.overlay = false
							this.clearData()
							this.sectionPeriodo = false
		                }
			      	}catch(e){
			      		console.log(e)
						this.overlay = false
			      	}
				}else{
					this.overlay = false
				}
			},

			setDataEdit(periodo)
			{
				this.periodo = periodo
				this.form.fechaInicio = periodo.fechaInicio
				this.form.fechaFin = periodo.fechaFin
				this.form.fechaPago = periodo.fechaPago
				this.form.monto = periodo.monto
				this.form.idLicencia = periodo.idLicencia
				this.sectionPeriodo = true
			},
			addPeriodo(periodo)
			{
				this.periodos.push(periodo)
			},
			updatePeriodo(periodo)
			{
				const this_periodo = this.periodos.find(function(this_periodo) {
                return this_periodo.idPeriodo == periodo.idPeriodo
	            })
	           	this_periodo.monto = periodo.monto
	           	this_periodo.fechaInicio = periodo.fechaInicio
	           	this_periodo.fechaFin = periodo.fechaFin
	           	this_periodo.fechaPagado = periodo.fechaPagado
	           	this_periodo.mesVencimiento = periodo.mesVencimiento
	           	this_periodo.yearVencimiento = periodo.yearVencimiento
	           	this_periodo.status = periodo.status
	           	this_periodo.pagado = periodo.pagado
			},
			updatePagado(periodo, event)
			{	
				axios.put(BaseUrl + `/api/si/admin/licencias/periodos/${periodo.idPeriodo}/${event}`).then(
						(response) => {
							this.updatePeriodo(response.data.periodo)
							if(response.data.periodo.pagado == 1)
							{
								this.sectionPeriodo = true
								this.setDataEdit(periodo)
								this.titleSectionPeriodo = 'Agregar fecha de pago'
							}
						})
			},
			getPeriodos()
			{
				this.isBusy = true
				axios.get(BaseUrl + `/api/si/admin/licencias/periodos/${this.idLicencia}`).then(
						(response) => {
							this.periodos = response.data
							this.isBusy = false
						})
			},
			agregarNewPeriodo()
			{
				this.titleSectionPeriodo = 'Agregar periodo de pago'
				this.sectionPeriodo = true
				this.$v.form.$reset
				setTimeout(this.montoFocus(), 1000)
			},
			montoFocus()
			{
				this.$refs.monto.focus()
			},
			clearData()
			{
				this.form.monto = '',
				this.form.fechaInicio = '',
				this.form.fechaFin = ''
				this.form.fechaPago = ''
				setTimeout(this.montoFocus(),1000)
			},
			formatterDate(value, key, item)
			{
				moment.locale('es');
				return moment(value).format('DD/MM/YY');   
			}
		},
		computed: {
			mesVencimiento()
			{
				if(this.form.fechaFin)
				{
					moment.locale('es');
					const mes = moment(this.form.fechaFin).format('MMMM');  
					return mes.charAt(0).toUpperCase() + mes.slice(1);   
				}
			},
			yearVencimiento()
			{
				return '2020'
			}
		},
		validations: {
			form: {
				fechaInicio: {required},
				fechaFin: {required},
				fechaPago: {},
				monto: {required},
			}
		},
		watch:{
			okModal()
			{
				if(this.okModal==true){
					this.submit()
				}
			},
			idLicencia()
			{
				this.getPeriodos()
			}
		},
	}
</script>