<template>
	<b-tr class="text-center" :class="trClass" @click="openSidebar(licencia)">
		<b-td class="bg-green-light-2 p-2"><small><strong>ACTIVO</strong></small></b-td>
		<b-th class="text-left pl-5">{{ licencia.nombre }}</b-th>
		<b-td>
			<div class="text-center">
				<b-dropdown id="dropdown-left" right variant="light" size="sm">
					<template v-slot:button-content>
						<i class="fas fa-ellipsis-v px-2"></i>
					</template>
					<b-dropdown-item v-b-modal.modal-licencia @click="licencia = scope.item; titleModalLicencia = 'Actualizar Licencia'">
						<i class="fas fa-edit px-2"></i> 
						Editar
					</b-dropdown-item>
				</b-dropdown>
			</div>
		</b-td>
		<b-td>{{ licencia.cuenta }}</b-td>
		<b-td>{{ ultimoPago }}</b-td>
		<b-td>{{ fechaVencimiento }}</b-td>
		<b-td>{{ licencia.periodoPago }}</b-td>
		<b-td>{{ licencia.tipoPago }}</b-td>
		<b-td>$ {{ licencia.monto }}</b-td>
	</b-tr>
</template>
<script>
    export default {
    	props:{
    		licencia: Object,
    		licenciaActiva: Object,
    	},
        data() {
            return {
            	
		    };
        },
        mounted()
        {
        	
        },
        methods: {
        	openSidebar(licencia)
        	{
        		this.$emit('openSidebar')
        	},
        },
        computed: {
        	trClass()
        	{
        		if(this.licenciaActiva){
        			if(this.licenciaActiva.idLicencia == this.licencia.idLicencia)
        				return 'table-active'
        		}
        		return ''	
        	},
        	ultimoPago()
        	{
        		moment.locale('es'); 
        		var ultimoPago = new Date(this.licencia.ultimoPago)
        		return moment(ultimoPago).format('ll');
        	},
        	fechaVencimiento()
        	{
        		moment.locale('es'); 
        		var fechaVencimiento = new Date(this.licencia.fechaVencimiento)
        		return moment(fechaVencimiento).format('ll');
        	},
        },
        watch: {
        	
        }
    }
</script>