<template>
	<b-container fluid>
		<header-component :title="'Agenda de actividades'">
			<template slot="left">
				<div style="width: 300px" class="pl-4 pt-3">
					<b-button-group size="sm" class="w-100">
						<b-button
							@click="changeActive('Todas')"
							@dblclick="changeAll()"
							v-b-tooltip.hover
							title="Todas"
							:class="{
								'bg-secondary text-white': activeTodo,
								'bg-light text-secondary': !activeTodo,
							}"
							class="border"
						>
							Todas
						</b-button>
						<b-button
							@click="changeActive('Llamada')"
							v-b-tooltip.hover
							title="Llamadas"
							:class="{
								'bg-secondary text-white': activeLlamada,
								'bg-light text-secondary': !activeLlamada,
							}"
							class="border"
						>
							<i class="fas fa-phone px-1 py-1"></i>
						</b-button>
						<b-button
							@click="changeActive('Reunión')"
							v-b-tooltip.hover
							title="Reuniones"
							:class="{
								'bg-secondary text-white': activeReunion,
								'bg-light text-secondary': !activeReunion,
							}"
							class="border"
						>
							<i class="fas fa-users px-1 py-1"></i>
						</b-button>
						<b-button
							@click="changeActive('Tarea')"
							v-b-tooltip.hover
							title="Tareas"
							:class="{
								'bg-secondary text-white': activeTarea,
								'bg-light text-secondary': !activeTarea,
							}"
							class="border"
						>
							<i class="far fa-clock px-1 py-1"></i>
						</b-button>
						<b-button
							@click="changeActive('Correo')"
							v-b-tooltip.hover
							title="Correos"
							:class="{
								'bg-secondary text-white': activeCorreo,
								'bg-light text-secondary': !activeCorreo,
							}"
							class="border"
						>
							<i class="fas fa-envelope px-1 py-1"></i>
						</b-button>
						<b-button
							@click="changeActive('Comida')"
							v-b-tooltip.hover
							title="Comidas"
							:class="{
								'bg-secondary text-white': activeComida,
								'bg-light text-secondary': !activeComida,
							}"
							class="border"
						>
							<i class="fas fa-utensils px-1 py-1"></i>
						</b-button>
						<b-button
							@click="changeActive('Whatsapp')"
							v-b-tooltip.hover
							title="Whatsapps"
							:class="{
								'bg-secondary text-white': activeWhatsapp,
								'bg-light text-secondary': !activeWhatsapp,
							}"
							variant="light"
							class="border"
						>
							<i class="fab fa-whatsapp px-1 py-1"></i>
						</b-button>
					</b-button-group>
				</div>

				<div style="width: 500px" class="pl-4 pt-3">
					<b-button-group size="sm" class="w-100">
						<b-button
							@click="changeRangeActive('Planeado')"
							:class="{
								'bg-secondary text-white': activePlaneado,
								'bg-light text-secondary': !activePlaneado,
							}"
							class="border"
						>
							Planeado
						</b-button>
						<b-button
							@click="changeRangeActive('Vencido')"
							:class="{
								'bg-secondary text-white': activeVencido,
								'bg-light text-secondary': !activeVencido,
							}"
							class="border"
						>
							Vencido
						</b-button>
						<b-button
							@click="changeRangeActive('Hoy')"
							:class="{
								'bg-secondary text-white': activeHoy,
								'bg-light text-secondary': !activeHoy,
							}"
							class="border"
						>
							Hoy
						</b-button>
						<b-button
							@click="changeRangeActive('Manana')"
							:class="{
								'bg-secondary text-white': activeManana,
								'bg-light text-secondary': !activeManana,
							}"
							class="border"
						>
							Mañana
						</b-button>
						<!-- <b-button @click="changeRangeActive('Semana')" 
							 :class="{'bg-secondary text-white' : activeSemana, 'bg-light text-secondary' : !activeSemana}"
							 class="border" >
			                        Esta semana
			                </b-button> -->
						<b-button
							@click="changeRangeActive('Completado')"
							:class="{
								'bg-secondary text-white': activeCompletado,
								'bg-light text-secondary': !activeCompletado,
							}"
							class="border"
						>
							Completado
						</b-button>
					</b-button-group>
				</div>
			</template>

			<template slot="down-center">
				{{ filteredActividadesByRange.length }} Actividades
			</template>
		</header-component>
		<filters-component>
			<div class="col-3 pl-0" size="sm">
				<!-- <vt-clientes-select /> -->
			</div>
		</filters-component>
		<!-- <filters-component>
            <template>
				<b-row>
					<b-col lg="2">
						<b-form-group>
							<b-input-group prepend="Ver" size="sm">
								<b-form-select 
								size="sm"
								:options="options">	
								<template v-slot¡:first>
									<option :value="1">
										Completas
									</option>
								</template>				
								</b-form-select>
							</b-input-group>
						</b-form-group>	
					</b-col>
				</b-row>
            </template>
        </filters-component> -->
		<table-component
			:fields="fields"
			:items="
				this.idNotification
					? filterNotification
					: filteredActividadesByStatus
			"
			@dataEdit="setDataEdit($event)"
			@dataDelete="setDataDelete($event)"
		>
		</table-component>

		<modal-component :title="'Editar Actividad'" :id="'modal'">
			<template slot="content">
				<vt-form-actividad :actividad="actividad" />
			</template>
		</modal-component>

		<modal-component :title="'Eliminar'" :id="'modal-delete'">
			<template slot="content">
				<form-delete />
			</template>
		</modal-component>
	</b-container>
</template>

<script>
import { mapState, mapMutations, mapGetters, mapActions } from "vuex";

//  window.addEventListener('popstate', function(e){console.log('url changed')});
//  window.addEventListener('hashchange', function(){
// 	 console.log('cambio')
// });
// window.onhashchange = function() {
// 	this.getParameterByName('idNotification')
// }

export default {
	data() {
		return {
			negocio: null,
			items: 0,
			actividad: null,
			resultado: null,
			idNotification: null,
			idArray: null,
			idActividad: null,
			fields: [
				{
					key: "complete",
					label: "Completar",
					class: "text-center",
				},
				{
					key: "tipo",
					label: "Actividad",
					sortable: true,
					class: "text-center",
				},
				{
					key: "notas",
					label: "Descripción",
					sortable: true,
					class: "text-left",
				},
				{
					key: "fechaActividad",
					label: "Fecha Actividad",
					sortable: true,
					class: "text-center",
				},
				{
					key: "nombre_cliente",
					label: "Nombre cliente",
					sortable: true,
					class: "text-left",
				},
				{
					key: "nombrePersona",
					label: "Nombre contacto",
					sortable: true,
					class: "text-left",
				},
				{
					key: "clave_negocio",
					label: "Negocio",
					sortable: true,
					class: "text-center",
				},
				{
					key: "actions",
					label: "Acciones",
					class: "text-center",
				},
			],
			options: [
				{ value: "2", text: "Leads" },
				{ value: "3", text: "Internas" },
			],
			tipo: "",
			range: "",
			todo: "",
			actividadFiltered: [],
			activeTodo: true,
			activeLlamada: false,
			activeTarea: false,
			activeReunion: false,
			activeCorreo: false,
			activeComida: false,
			activeWhatsapp: false,
			activePlaneado: false,
			activeVencido: false,
			activeHoy: false,
			activeManana: false,
			activeSemana: false,
			activeCompletado: false,
		};
	},
	mounted() {
		this.setRouteName("negocios.actividades");
		this.getActividades();
		this.todo = "todo";
		//this.$route;
		if (location.search.includes("ia")) {
			this.getParameterByName("ia");
		}
	},
	methods: {
		...mapMutations(["setRouteName", "setFormDelete"]),
		...mapMutations(["setRouteName"]),
		...mapActions("actividades", ["getActividades"]),

		getParameterByName(name) {
			console.log(name);
			name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
			var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
				results = regex.exec(location.search);
			results === null
				? ""
				: decodeURIComponent(results[1].replace(/\+/g, " "));
			this.idArray =
				results === null
					? ""
					: results[1].split("-", results[1].length);
			this.idArray == ""
				? (this.idNotification = false)
				: (this.idNotification = true);
		},

		addActividad(actividad) {
			this.actividades.push(actividad);
		},
		setDataEdit(actividad) {
			this.actividad = actividad;
		},
		setDataDelete(actividad) {
			const data = {
				dpto: "vt",
				section: "actividades",
				tipo: "Actividad",
				id: actividad.idActividad,
				registro: actividad.tipo + "  -  " + actividad.nombrePersona,
			};
			this.setFormDelete(data);
		},
		SendNotification() {
			axios
				.get(BaseUrl + "/api/send/email")
				.then((response) => (this.resultado = response.data));
		},
		changeActive(tipo) {
			this.desactiveTipos();
			switch (tipo) {
				case "Todas":
					this.todo = "todo";
					this.tipo = "";
					this.activeTodo = true;
					break;
				case "Llamada":
					this.tipo = "Llamada";
					this.activeLlamada = true;
					break;
				case "Tarea":
					this.tipo = "Tarea";
					this.activeTarea = true;
					break;
				case "Reunión":
					this.tipo = "Reunión";
					this.activeReunion = true;
					break;
				case "Correo":
					this.tipo = "Correo";
					this.activeCorreo = true;
					break;
				case "Comida":
					this.tipo = "Comida";
					this.activeComida = true;
					break;
				case "Whatsapp":
					this.tipo = "Whatsapp";
					this.activeWhatsapp = true;
					break;
			}
		},
		changeRangeActive(range) {
			this.desactiveRange();
			switch (range) {
				case "Planeado":
					this.range = "planeado";
					this.activePlaneado = true;
					break;
				case "Vencido":
					this.range = "vencido";
					this.activeVencido = true;
					break;
				case "Hoy":
					this.range = "hoy";
					this.activeHoy = true;
					break;
				case "Manana":
					this.range = "manana";
					this.activeManana = true;
					break;
				case "Semana":
					this.range = "semana";
					this.activeSemana = true;
					break;
				case "Completado":
					this.range = "completado";
					this.activeCompletado = true;
					break;
			}
		},
		changeAll() {
			this.idNotification = null;
			if (this.$route.params.idNotification) {
				this.$router.push(BaseUrl + `/ventas/actividades`);
			}
			this.desactiveRange();
			this.tipo = "";
			this.range = "";
			this.todo = "todo";
		},
		desactiveTipos() {
			this.activeTodo = false;
			this.activeLlamada = false;
			this.activeTarea = false;
			this.activeReunion = false;
			this.activeCorreo = false;
			this.activeComida = false;
			this.activeWhatsapp = false;
		},
		desactiveRange() {
			(this.activePlaneado = false),
				(this.activeVencido = false),
				(this.activeHoy = false),
				(this.activeManana = false),
				(this.activeSemana = false),
				(this.activeCompletado = false);
		},
	},
	computed: {
		...mapState(["totalRows"]),
		...mapState("actividades", ["actividades"]),
		...mapState("notifications", ["isNotificated"]),
		...mapGetters("negocios", ["filteredNegociosByStatus"]),
		...mapGetters("actividades", ["filteredActividadesByCliente"]),
		...mapState("actividades", ["clienteActividadSelected"]),

		filterNotification() {
			var actividad = null;
			if (this.idArray) {
				var array = [];
				for (var i = 0; i < this.idArray.length; i++) {
					for (var j = 0; j < this.actividades.length; j++) {
						if (
							this.idArray[i] == this.actividades[j].idActividad
						) {
							array.push(this.actividades[j]);
						}
					}
				}
				actividad = array;
				return actividad;
			} else {
				actividad = this.actividades.filter(
					(actividad) => actividad.idActividad == this.idNotification
				);

				return actividad;
			}

			return actividad;
		},

		filteredActividadesByStatus() {
			if (this.tipo != "") {
				return this.filteredActividadesByRange.filter(
					(actividad) => actividad.tipo == this.tipo
				);
			} else if (this.todo == "todo") {
				return this.filteredActividadesByRange.filter(
					(actividad) => actividad
				);
			} else {
				return this.actividades;
			}
		},

		filteredActividadesByRange() {
			const today = moment().format("YYYY-MM-DD");
			const tomorrow = moment()
				.add(1, "days")
				.format("YYYY-MM-DD");
			const wekeend = moment()
				.add(7, "days")
				.format("YYYY-MM-DD");
			const day = moment().format("dddd");
			switch (this.range) {
				case "planeado":
					return this.actividades.filter(
						(actividad) =>
							moment(actividad.fechaActividad).format(
								"YYYY-MM-DD"
							) >= today
					);
					break;
				case "vencido":
					return this.actividades.filter(
						(actividad) =>
							moment(actividad.fechaActividad).format(
								"YYYY-MM-DD"
							) < today
					);
					break;
				case "hoy":
					return this.actividades.filter(
						(actividad) =>
							moment(actividad.fechaActividad).format(
								"YYYY-MM-DD"
							) == today
					);
					break;
				case "manana":
					return this.actividades.filter(
						(actividad) =>
							moment(actividad.fechaActividad).format(
								"YYYY-MM-DD"
							) == tomorrow
					);
					break;
				//case 'semana':
				// var fin = '';
				// //const inicio = 'Lunes';
				// const inicio = moment().format('YYYY-MM-DD');
				// var cos = moment(inicio).format('DDDD');
				// var año = moment().format('YYYY');

				// if(cos == 'Saturday'){
				// 	 fin = cos.add(3, 'days');
				// }
				//  console.log(inicio, cos, año);

				// return this.actividades.filter(actividad =>
				// moment(actividad.fechaActividad).format('YYYY-MM-DD') >= tomorrow ||
				// moment(actividad.fechaActividad).format('YYYY-MM-DD') >= tomorrow
				//);
				//break;
				case "completado":
					return this.actividades.filter(
						(actividad) => actividad.completado == 1
					);
					break;
				default:
					return this.actividades;
			}
		},
		isNotificated() {
			this.idNotification = this.$route.params.idNotification;
		},
	},
	watch: {
		$route(to, from) {
			this.idNotification = this.$route.params.idNotification;
		},
		isNotificated() {
			this.idNotification = this.$route.params.idNotification;
		},
		actividad() {
			this.idActividad = this.actividad.idActividad;
		},
	},
};
</script>
