<template>
	<form ref="form" @submit.stop.prevent="handleSubmit">
		<template v-if="form.selectedEtapa != 'Leads'">
				<div class="text-center">
					<h5>{{ negocio.claveNegocio }}</h5>
					<h6><i class="fas fa-building"></i> {{ negocio.nombre_cliente }}</h6>
					<p>{{ negocio.tituloNegocio }}</p><hr>
				</div>
			</template>
		<b-form-group 
			label="Tipo de Actividad">
    		<b-button-group size="" class="w-100">     
                <b-button @click="changeActive('Llamada')"  v-b-tooltip.hover title="Llamada"
						:class="{'bg-secondary text-white' : activeLlamada , 'bg-light text-secondary' : !activeLlamada}"
                        class="border">
                        <i class="fas fa-phone px-1 py-1"></i>
                </b-button>
                <b-button @click="changeActive('Reunión')"  v-b-tooltip.hover title="Reunión"
                        :class="{'bg-secondary text-white' : activeReunion , 'bg-light text-secondary' : !activeReunion}" class="border">
                       <i class="fas fa-users px-1 py-1"></i>
                </b-button>
                <b-button @click="changeActive('Tarea')"  v-b-tooltip.hover title="Tarea"
                        :class="{'bg-secondary text-white' : activeTarea , 'bg-light text-secondary' : !activeTarea}" class="border">
                        <i class="far fa-clock px-1 py-1"></i> 
                </b-button>
                <b-button @click="changeActive('Correo')"  v-b-tooltip.hover title="Correo"
						:class="{'bg-secondary text-white' : activeCorreo , 'bg-light text-secondary' : !activeCorreo}"
                        class="border">
                        <i class="fas fa-envelope px-1 py-1"></i>
                </b-button>
                 <b-button @click="changeActive('Comida')"  v-b-tooltip.hover title="Comida"
				 		:class="{'bg-secondary text-white' : activeComida , 'bg-light text-secondary' : !activeComida}"
                    	class="border">
                        <i class="fas fa-utensils px-1 py-1"></i>
                </b-button>
                <b-button @click="changeActive('Whatsapp')"  v-b-tooltip.hover title="Whatsapp"
						:class="{'bg-secondary text-white' : activeWhatsapp , 'bg-light text-secondary' : !activeWhatsapp}"
                        class="border">
                        <i class="fab fa-whatsapp px-1 py-1"></i>
                </b-button>
            </b-button-group>
		</b-form-group>

		<b-form-group>
			<b-form-input type="text"
				id="input-tipo"
				v-model="$v.form.tipo.$model"
				:state="$v.form.tipo.$dirty ? !$v.form.tipo.$error : null"
				disabled
				placeholder="Seleccione el tipo de actividad"
				class="text-center">
			</b-form-input>
			<b-form-invalid-feedback id="tipo-required">
				Campo obligatorio
			</b-form-invalid-feedback>
		</b-form-group>
		
		<b-form-group>
			<b-form-textarea
			    id="textarea-descripcion"
			    v-model="$v.form.notas.$model"
				:state="$v.form.notas.$dirty ? !$v.form.notas.$error : null"
			    placeholder="Descripción de actividad..."
			    rows="2"
			    max-rows="2">
			</b-form-textarea>
			<b-form-invalid-feedback id="notas-required">
				Campo obligatorio
			</b-form-invalid-feedback>
		</b-form-group>

		<b-form-group label="Contacto">
			<b-form-select
			    	v-model="$v.form.selectedContacto.$model"
					:state="$v.form.selectedContacto.$dirty ? !$v.form.selectedContacto.$error : null"
			    	:options="selectContactosByCliente">
				<template v-slot:first>
        			<option :value="null" disabled>Seleccione...</option>
     		</template>
			</b-form-select>
			<b-form-invalid-feedback id="selectedContacto-required">
					Debe selecionar un contacto
			</b-form-invalid-feedback>
		</b-form-group>

		<b-form-group label="Responsable">
			<b-form-select
			    	v-model="$v.form.selectedUsuario.$model"
					:state="$v.form.selectedUsuario.$dirty ? !$v.form.selectedUsuario.$error : null"
			    	:options="usuariosFiltered">
			<template v-slot:first>
        			<option :value="null" disabled>Seleccione..</option>
     		</template>
		</b-form-select>
			<b-form-invalid-feedback id="selectedUsuario-required">
					Debe selecionar un usuario
			</b-form-invalid-feedback>
		</b-form-group>

		<b-row>
			<b-col lg="6" class="pr-0">
				<b-form-group label="Fecha">
					<b-input-group class="w-100">
						<b-input-group-prepend is-text>
							<i class="far fa-calendar-alt"></i>
						</b-input-group-prepend>
						<v-date-picker 
						:input-props='{
							class: "",
							placeholder: "dd/mm/yyyy",
							readonly: true
						}'
						style="width: 190px"
						color="red"
						v-model="$v.form.fechaActividad.$model" 
						:state="$v.form.fechaActividad.$dirty ? !$v.form.fechaActividad.$error : null"
						/>
					</b-input-group>
					<label 
						style="font-size: 11px" 
						class="text-danger" 
						v-if="$v.form.fechaActividad.$error" >
						Debe selecionar una fecha
						</label>
				</b-form-group>
			</b-col>
			<b-col lg="6">
				<b-form-group class="mb-0 pb-0">
					<b-form-checkbox class="mb-1 pb-1"
						id="checkbox-fecha-duracion"
						v-model="form.addDuracion">
				      Asignar hora
				    </b-form-checkbox>
				</b-form-group>
				<b-input-group>
					<b-input-group-prepend is-text>
						<i class="far fa-clock"></i> 
					</b-input-group-prepend>
					<b-form-input type="time"
						id="input-hora"
						:disabled="!form.addDuracion"
						v-model="$v.form.horaInicio.$model"
						:state="$v.form.horaInicio.$dirty ? !$v.form.horaInicio.$error : null">
					</b-form-input>
				</b-input-group>
			</b-col>
		</b-row>
		
		<slot name="buttons">
			
		</slot>
	</form>
</template>

<script>
	import { required, minLength, email } from 'vuelidate/lib/validators'
	import {mapState, mapMutations, mapActions} from 'vuex'
	export default {
		props: {
			negocio: Object,
			actividad: Object,
		},
		data() {
			return {
				form: {
					tipo: null,
					notas: '',
					fechaActividad: null,
					selectedContacto: null,
					selectedUsuario: null,
					idActividad: null,
					idUsuario: null,
			 		idNegocio: null,
					idCliente: null,
					nombrePersona: null,
					addDuracion: false,
					horaInicio: null,
					nombre_cliente: null,
					titulo_negocio: null,
				},
				prueba:false,
				contactos: [],
				activeLlamada: false,
				activeTarea: false,
				activeReunion: false,
				activeCorreo: false,
				activeComida: false,
				activeWhatsapp: false,
			}
		},
		mounted() {
			if(this.actividad){
				this.form.nombre_cliente = this.actividad.nombre_cliente
				this.form.titulo_negocio = this.actividad.titulo_negocio
				this.setDataEdit()
				this.form.idCliente = this.actividad.idCliente;
				this.form.idUsuario = this.form.selectedUsuario;
				this.form.idNegocio = this.actividad.idNegocio;
			}else{
				this.form.nombre_cliente = this.negocio.nombre_cliente
				this.form.titulo_negocio = this.negocio.tituloNegocio
				this.form.idUsuario = this.form.selectedUsuario
				this.form.idNegocio = this.negocio.idNegocio
				this.form.idCliente = this.negocio.idCliente
			}
			this.getContactos()
			this.getUsuariosAll()
		},
		methods: {
			...mapMutations(['modalSubmit', 'modalOk']),
			...mapMutations('negocios', ['addActividad']),	
			...mapMutations('actividades', ['updateActividad']),
			...mapActions('usuarios', ['getUsuariosAll']),

			changeActive(tipo){
				this.desactiveTipos()
				switch(tipo){
					case 'Llamada':
						this.form.tipo = 'Llamada'
						this.activeLlamada = true
						break;
					case 'Tarea':
						this.form.tipo = 'Tarea'
						this.activeTarea = true
						break;
					case 'Reunión':
						this.form.tipo = 'Reunión'
						this.activeReunion = true
						break;
					case 'Correo':
						this.form.tipo = 'Correo'
						this.activeCorreo = true
						break;
					case 'Comida':
						this.form.tipo = 'Comida'
						this.activeComida = true
						break;
					case 'Whatsapp':
						this.form.tipo = 'Whatsapp'
						this.activeWhatsapp = true
						break;
				}
			},
			desactiveTipos()
			{
				this.activeLlamada = false
				this.activeTarea = false
				this.activeReunion = false
				this.activeCorreo = false
				this.activeComida = false
				this.activeWhatsapp = false
			},
			resetForm() {},
			getContactos()
			{
				axios.get(BaseUrl + `/api/vt/contactos`)
				.then((response) => {
						this.contactos = response.data
				});
			},
			async submit() {
				this.$v.$touch()
				if (!this.$v.$invalid) {
					this.form['nombrePersona'] = this.form.selectedContacto;
					this.form['idUsuario'] = this.form.selectedUsuario.value;
					this.form['fechaActividad'] = this.dateActividad;
		            const response = (!this.actividad) ?
		            		await axios.post(BaseUrl + `/api/vt/actividades`, this.form) : 
		            		await axios.put(BaseUrl + `/api/vt/actividades`, this.form)
	                if(response.data.success){
						if(!this.actividad){
							const data = {
								idNegocio: this.negocio.idNegocio,
								actividad: response.data.actividad
							}
	                    	this.addActividad(data)
						}else
			            	this.updateActividad(response.data.actividad)
						this.modalSubmit(true)
	                }
	                this.modalOk(false)
				}else{
					this.modalOk(false)
				}
			},
			setDataEdit()
			{
				this.changeActive(this.actividad.tipo)
				this.form.idActividad = this.actividad.idActividad
				this.form.tipo = this.actividad.tipo
				this.form.notas = this.actividad.notas
				this.form.selectedContacto = this.actividad.nombrePersona
				this.form.selectedUsuario = {text:this.actividad.idUsuario, value: this.actividad.nombre_usuario},
				this.form.fechaActividad = moment(this.actividad.fechaActividad).format('YYYY-MM-DD')	
				this.form.horaInicio = this.actividad.horaInicio
			},
		},
		computed:{
			errorMessage() {
      		if (!this.form.fechaActividad) 
      			return 'Debe ingresar una fecha';
     			 return '';
    		},
			dateActividad()
			{
				return moment(this.form.fechaActividad).format("YYYY-MM-DD")
			},
			...mapState(['usuario', 'okModal']),
			...mapState('usuarios', ['usuarios']),
			selectContactosByCliente()
			{
				const contactos = this.contactos.filter(
					contacto =>	contacto.idCliente == this.form.idCliente
				)
				return contactos.map(contacto => ({
		           	value: contacto.nombre,
		           	text: contacto.nombre
		       	}))
			},
			usuariosFiltered() {
				var autorizados = [2,27,19,26,12, 54]; // [FEH, FER, OMV, RAE, YTB, RHB]
				if (this.usuarios.length) {
					var data = this.usuarios.filter((item) => {
						if (autorizados.indexOf(item.idUsuario) != -1) {
							return item;
						}
					}).map((item) => {
						return {
							text: item.nombreUsuario,
							value: {
								text: item.nombreUsuario,
								value: item.idUsuario
							}
						}
					});
					return data;
				}else return [];
			},
		},
		validations: {
			form: {
					tipo: {required},
					notas: {required},
					fechaActividad: {required},
					selectedContacto: {},
					selectedUsuario: {required},
					addDuracion: {},
					horaInicio: {},
				}
		},
		watch: {
			okModal()
			{
				if(this.okModal==true){
					this.submit()
				}
			}
		}
	}
</script>

<style>
	.vc-text-base {
    font-size: 14px !important;
}

.vc-rounded {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
</style>