<!-- Vue SFC -->
<template>
  <div >
				<treeselect
				:value="clienteActividadSelected"
				:load-options="loadOptions"
				:async="true"
				@input="setClienteActividadSelected"
				:size="'small'"
				placeholder="Seleccione un cliente" />
 	</div>
</template>

<script>
  // import the component
  import Treeselect from '@riophae/vue-treeselect'
  // import the styles
  import '@riophae/vue-treeselect/dist/vue-treeselect.css'

  import { LOAD_ROOT_OPTIONS } from '@riophae/vue-treeselect'
  import { ASYNC_SEARCH } from '@riophae/vue-treeselect'
  import { mapState, mapMutations, mapActions } from 'vuex'
  // const sleep = d => new Promise(r => setTimeout(r, d))
  // let called = false

  export default {
	  
    components: { Treeselect },
     data: () => ({
    	 selectClientes: null,
  	}),
    methods: {
    	async loadOptions({ action, searchQuery, callback }) {
	      	const options = await axios.get(BaseUrl + `/api/vt/clientes/like?searchQuery=${searchQuery}`)
	      	.then(response => {
	      		return response.data.map(cliente => ({
		            id: cliente.idCliente,
		            label: cliente.nombre,
		        }))
	      	})
	      	callback(null, options)
		   },
		   ...mapMutations('actividades',['setClienteActividadSelected']),
	  }, 
	  computed:{
		  ...mapState('actividades',['clienteActividadSelected']),
	  }
 }
</script>