<template>
	<b-collapse id="nav-collapse" is-nav>
		<b-navbar-nav>
			<b-nav-item-dropdown>
				<template v-slot:button-content>
					<i
						class="fas fa-hand-holding-usd mr-1"
						style="color: white"
					></i>
					Comprobación de gastos
				</template>

				<b-dropdown-item
					v-if="hasPermission('fn.cg.admin_solicitudes')"
					:to="{ name: 'fn.cg.admin_solicitudes' }"
					style="color: #777"
				>
					<div class="mr-3">
						<i class="fas fa-home pr-3"></i>
						Administración
					</div>
				</b-dropdown-item>

				<b-dropdown-item
					:to="{ name: 'fn.cg.solicitudes' }"
					style="color: #777"
				>
					<div class="mr-3">
						<i class="fas fa-file-invoice pr-3"></i>
						&nbsp;Solicitudes
					</div>
				</b-dropdown-item>

				<!-- <b-dropdown-item
					v-if="hasPermission('fn.cg.auxiliar_movimientos')"
					:to="{ name: 'fn.cg.auxiliar_movimientos' }"
					style="color: #777"
				>
					<div class="mr-3">
						<i class="fas fa-history pr-3"></i>
						Movimientos
					</div>
				</b-dropdown-item> -->

				<b-dropdown-item
					v-if="hasPermission('fn.cg.indicadores')"
					:to="{ name: 'fn.cg.indicadores.no_deducible' }"
					style="color: #777"
				>
					<div class="mr-3">
						<i class="fas fa-chart-line pr-3"></i>
						Indicadores
					</div>
				</b-dropdown-item>
			</b-nav-item-dropdown>

			<!-- <b-nav-item-dropdown>
				<template v-slot:button-content>
					<i class="fas fa-list-alt mr-1" style="color: white"></i>
					Catálogos
				</template>

				<b-dropdown-item
					v-if="hasPermission('fn.cuentas_contables')"
					:to="{ name: 'fn.cuentas_contables' }"
					style="color: #777"
				>
					<div class="mr-4">Cuentas contables</div>
				</b-dropdown-item>

				<b-dropdown-item
					v-if="hasPermission('fn.cuentas_internas')"
					:to="{ name: 'fn.cuentas_internas' }"
					style="color: #777"
				>
					<div class="mr-4">Cuentas internas</div>
				</b-dropdown-item>

				<b-dropdown-item
					:to="{ name: 'fn.cg.cuentas_externas' }"
					style="color: #777"
				>
					<div class="mr-4">Cuentas externas</div>
				</b-dropdown-item>
			</b-nav-item-dropdown> -->
		</b-navbar-nav>

		<b-navbar-nav class="ml-auto">
			<b-nav-item-dropdown right>
				<template v-slot:button-content>
					<b-avatar
						:src="urlImage"
						class="mr-2"
						variant="dark"
					></b-avatar>
					<span class="mr-auto">{{ nombreUsuario }}</span>
				</template>

				<template v-if="permissionsConf">
					<b-dropdown-item
						:to="{ name: 'fn.cg.configuracion_autorizaciones' }"
						style="color: #777"
					>
						<div class="mr-5 ml-1">
							<i class="fas fa-cogs pr-2"></i>
							Configuración
						</div>
					</b-dropdown-item>
					<hr class="pb-1 mb-0 mt-1" />
				</template>

				<b-dropdown-item @click="logout" style="color: #777">
					<div class="mr-5 ml-1">
						<i class="fas fa-sign-out-alt pr-2"></i>
						Cerrar sesión
					</div>
				</b-dropdown-item>
			</b-nav-item-dropdown>
		</b-navbar-nav>
	</b-collapse>
</template>

<script>
import { mapState, mapActions } from "vuex";

export default {
	props: {
		usuario: Object,
	},
	data() {
		return {
			urlImage: null,
		};
	},
	mounted() {
		this.urlImagen(this.usuario.ruta);
	},
	methods: {
		urlImagen(ruta) {
			this.urlImage = BaseUrl + ruta;
		},

		logout() {
			axios
				.post(BaseUrl + "/logout")
				.then((response) => {
					window.location = "/";
				})
				.catch((error) => {
					location.reload();
				});
		},
		hasPermission(funcion) {
			if (this.permissions.length) {
				const permiso = this.permissions.find(
					(permiso) => permiso.idFuncion == funcion
				);
				if (permiso) return true;
				return false;
			}
		},
	},
	computed: {
		...mapState(["nombreUsuario", "permissions"]),
		...mapState("notifications", ["notCount"]),
		...mapState("negocios", ["embudoSelected"]),

		permissionsConf() {
			if (
				this.hasPermission("fn.cg.conf.autorizadores.navegar") ||
				this.hasPermission("fn.conf.mano_obra.navegar") ||
				this.hasPermission("fn.conf.cuentas_internas.navegar") ||
				this.hasPermission("fn.conf.cuentas_contables.navegar")
			) {
				return true;
			} else return false;
		},
	},
};
</script>
