<template>
	<b-container fluid style="height: calc(100vh - 54px)">
		<b-row class="h-100">
			<b-col lg="2" class="px-0 h-100">
				<fn-configuracion-sidebar />
			</b-col>
			<b-col lg="10">
				<b-row>
					<b-col lg="2"></b-col>
					<b-col lg="8">
						<h1>Lectura de CFDI XML</h1>
						<input type="file" @change="handleFileUpload" />
						<div v-if="cfdiData">
							<h2>Datos del CFDI</h2>
							<pre>{{ cfdiData }}</pre>
						</div>
					</b-col>
					<b-col lg="2"></b-col>
				</b-row>
			</b-col>
		</b-row>
	</b-container>
</template>

<script>
import { mapActions, mapState } from "vuex";
import { parseString } from "xml2js";

export default {
	data() {
		return {
			cfdiData: null,
		};
	},
	mounted() {},
	methods: {
		handleFileUpload(event) {
			const file = event.target.files[0];
			if (file && file.type === "text/xml") {
				const reader = new FileReader();
				reader.onload = (e) => {
					const xml = e.target.result;
					this.parseXML(xml);
				};
				reader.readAsText(file);
			} else {
				alert("Por favor, sube un archivo XML válido.");
			}
		},
		parseXML(xml) {
			parseString(xml, { explicitArray: false }, (err, result) => {
				if (err) {
					console.error("Error al parsear XML:", err);
				} else {
					// Puedes acceder a los datos específicos del CFDI aquí
					this.cfdiData = this.extractCFDIData(result);
				}
			});
		},
		extractCFDIData(result) {
			// Aquí puedes extraer la información que necesites del resultado
			const cfdi = result["cfdi:Comprobante"];
			return {
				folio: cfdi.$.Folio,
				fecha: cfdi.$.fecha,
				emisor: cfdi["cfdi:Emisor"].$,
				receptor: cfdi["cfdi:Receptor"].$,
				conceptos: cfdi.$,
			};
		},
	},
	computed: {},
	watch: {},
};
</script>
