<template>
	<div class="mt-3 w-25">
		<b-button-group size="sm" class="w-100 ml-4">		
			<b-button :to="{name: 'negocios.lista'}"
					:class="{[active]: routeName == 'negocios.lista', [noActive]: routeName != 'negocios.lista'}">
					<i class="fas fa-list-alt p-1"></i>
			</b-button>
			<b-button :to="{name: 'negocios.embudos'}" 
					:class="{[active]: routeName == 'negocios.embudos', [noActive]: routeName != 'negocios.embudos'}">
					<i class="fab fa-microsoft p-1"></i> 
			</b-button>
			<b-button :to="{name: 'negocios.seguimiento'}" 
					:class="{[active]: routeName == 'negocios.seguimiento', [noActive]: routeName != 'negocios.seguimiento'}">
					<i class="fas fa-exchange-alt p-1"></i> 
			</b-button>
			<b-button :to="{name: 'negocios.notas'}" 
					:class="{[active]: routeName == 'negocios.notas', [noActive]: routeName != 'negocios.notas'}">
					<i class="far fa-sticky-note p-1"></i> 
			</b-button>
		</b-button-group>
	</div>
</template>

<script>
	export default {
		data(){
			return {
				active: 'border-danger bg-danger text-white',
				noActive: 'border bg-light text-white'
			}
		},
		computed: {
			routeName()
			{
				return this.$store.state.routeName
			}
		}
	}
</script>