<template>
	<div class="mt-3">
		<b-button-group
			v-if="hasPermission('vt.crm.negocios.registrar')"
			size="sm"
			class="float-right mr-4"
		>
			<b-button
				variant="outline-secondary"
				v-b-modal.modal-create-negocio
			>
				Nuevo negocio
			</b-button>
			<b-button
				variant="outline-secondary"
				v-b-modal.modal-create-estimacion
			>
				Nueva estimación
			</b-button>
			<b-button variant="outline-secondary" v-b-modal.modal-change-clave>
				Cambiar clave
			</b-button>
		</b-button-group>

		<modal-component
			:title="'Crear negocio'"
			:id="'modal-create-negocio'"
			:hideFooter="true"
		>
			<template slot="content">
				<vt-negocios-form-negocio />
			</template>
		</modal-component>

		<modal-component
			:title="'Crear estimación'"
			:id="'modal-create-estimacion'"
			:hideFooter="true"
		>
			<template slot="content">
				<vt-negocios-form-estimacion />
			</template>
		</modal-component>

		<modal-component
			:title="'Cambiar clave de negocio'"
			:id="'modal-change-clave'"
			:hideFooter="true"
		>
			<template slot="content">
				<vt-negocios-form-set-clave />
			</template>
		</modal-component>
	</div>
</template>

<script>
import { mapState } from "vuex";

export default {
	data() {
		return {
			active: "border-danger bg-danger text-white",
		};
	},
	methods: {
		hasPermission(funcion) {
			if (this.permissions.length) {
				const permiso = this.permissions.find(
					(permiso) => permiso.idFuncion == funcion
				);
				if (permiso) return true;
				return false;
			}
		},
	},
	computed: {
		...mapState(["permissions"]),

		routeName() {
			return this.$store.state.routeName;
		},
	},
};
</script>
