<template>
	<b-form inline>
		<b-form-group>
			<b-input-group prepend="Embudo" size="sm">
				<b-form-select
					size="sm"
					:options="selectEmbudos"
					:value="embudoSelected"
					@change="setEmbudo($event)"
				>
				</b-form-select>
			</b-input-group>
		</b-form-group>

		<b-form-group class="ml-3">
			<b-input-group prepend="Negocios" size="sm">
				<b-form-select
					size="sm"
					:value="statusFilter"
					@change="setStatusFilter($event)"
				>
					<option value="0">Abiertos</option>
					<option value="1">Ganados</option>
					<option value="2">Perdidos</option>
					<option value="3">Todos</option>
				</b-form-select>
			</b-input-group>
		</b-form-group>

		<b-form-group class="ml-3" v-if="routeName == 'negocios.seguimiento'">
			<b-input-group prepend="Etapas" size="sm">
				<b-form-select
					size="sm"
					:options="selectEtapas"
					:value="etapaSelected"
					@change="setEtapaSelected($event)"
				>
					<template v-slot:first>
						<option :value="null">Todas</option>
					</template>
				</b-form-select>
			</b-input-group>
		</b-form-group>

		<b-form-group class="ml-3">
			<b-input-group prepend="U.N." size="sm">
				<b-form-select
					size="sm"
					:options="unidadesNegocio"
					:value="unidadSelected"
					@change="setUnidadSelected($event)"
				>
					<template v-slot:first>
						<option :value="null">Todas</option>
					</template>
				</b-form-select>
			</b-input-group>
		</b-form-group>

		<b-form-group class="ml-3" v-if="testFilterDate.length">
			<b-input-group prepend="Desde" size="sm">
				<b-form-input v-model="dateFilter1" size="sm" type="date">
				</b-form-input>
			</b-input-group>
		</b-form-group>

		<b-form-group class="ml-3" v-if="testFilterDate.length">
			<b-input-group prepend="Hasta" size="sm">
				<b-form-input v-model="dateFilter2" size="sm" type="date">
				</b-form-input>
			</b-input-group>
		</b-form-group>
	</b-form>
</template>

 <script>
import { mapState, mapMutations, mapActions, mapGetters } from "vuex";

export default {
	data() {
		return {
			// conditionCantidadFilter: null,
			selected: null,
			conditions: [
				{ value: null, text: "Seleccionar" },
				{ value: 1, text: "Mayor a" },
				{ value: 2, text: "Menor a" },
				{ value: 3, text: "Igual a" },
			],
		};
	},
	mounted() {
		this.getEmbudos();
		this.getEtapas();
		this.getUnidadesNegocio();
	},
	methods: {
		...mapActions("negocios", [
			"getNegocios",
			"getEtapas",
			"getNegociosActividades",
		]),
		...mapActions("embudos", ["getEmbudos"]),

		...mapActions("vt_unidades_negocio", ["getUnidadesNegocio"]),
		...mapMutations("negocios", [
			"setEmbudoSelected",
			"setStatusFilter",
			"setEtapaSelected",
			"setUnidadSelected",
		]),
		setEmbudo(event) {
			this.setEmbudoSelected(event);
			this.getEtapas();
			this.setEtapaSelected(null);
			if (this.routeName == "negocios.embudos") {
				this.getNegociosActividades();
			} else {
				this.getNegocios();
			}
		},
	},
	computed: {
		...mapState("negocios", [
			"embudoSelected",
			"statusFilter",
			"selectEtapas",
			"etapaSelected",
			"unidadSelected"
		]),
		...mapState("embudos", ["embudos"]),
		...mapState(["routeName"]),
		...mapState("vt_unidades_negocio", ["listUnidadesNegocio"]),
		...mapGetters(["testFilterNumber", "testFilterDate"]),

		selectEmbudos() {
			return this.embudos.map((embudo) => {
				return {
					text: embudo.nombre,
					value: {
						idEmbudo: embudo.idEmbudo,
						nombre: embudo.nombre,
						periodo: embudo.periodo
					}
				}
			})
		},
		dateFilter1: {
			set(val) {
				this.$store.commit("setDateFilter1", val);
			},
			get() {
				return this.$store.state.dateFilter1;
			},
		},
		dateFilter2: {
			set(val) {
				this.$store.commit("setDateFilter2", val);
			},
			get() {
				return this.$store.state.dateFilter2;
			},
		},
		conditionCantidadFilter: {
			set(val) {
				this.$store.commit("setConditionCantidadFilter", val);
			},
			get() {
				return this.$store.state.conditionCantidadFilter;
			},
		},
		cantidadFiter: {
			set(val) {
				this.$store.commit("setCantidadFilter", val);
			},
			get() {
				return this.$store.state.cantidadFiter;
			},
		},
		unidadesNegocio() {
			return this.listUnidadesNegocio.map(function(unidad) {
				return {value: unidad, text:unidad.unidadNegocio}
			})
		}
	},
	watch: {
		routeName() {
			if (this.routeName == "negocios.embudos")
				this.getNegociosActividades();
			else this.getNegocios();
		},
	},
};
</script>