<template>
	<b-overlay
		:show="overlay"
		rounded="sm"
		opacity="1.0"
		blur="1px"
		variant="transparent"
	>
		<b-form-group label="Cliente:" style="padding-top: 3px !important;">
			<vt-clientes-select />
		</b-form-group>

		<b-form-group v-if="clienteSelected" label="Contacto">
			<b-form-select
				v-model="$v.form.selectedContacto.$model"
				:state="
					$v.form.selectedContacto.$dirty
						? !$v.form.selectedContacto.$error
						: null
				"
				:options="selectContactos"
			>
				<template v-slot:first>
					<option :value="null"
						>Seleccione la persona de contacto</option
					>
				</template>
			</b-form-select>
		</b-form-group>

		<b-form-group label="Título del negocio">
			<b-form-input
				type="text"
				required
				name="name"
				autocomplete="off"
				v-model="$v.form.tituloNegocio.$model"
				:state="
					$v.form.tituloNegocio.$dirty
						? !$v.form.tituloNegocio.$error
						: null
				"
				placeholder="Título del negocio"
			>
			</b-form-input>
		</b-form-group>

		<b-form-group label="Etapas de negocio">
			<b-form-select
				v-model="$v.form.selectedEtapa.$model"
				:state="
					$v.form.selectedEtapa.$dirty
						? !$v.form.selectedEtapa.$error
						: null
				"
				:options="selectEtapas"
			>
				<template v-slot:first>
					<option :value="null">Seleccione la etapa</option>
				</template>
			</b-form-select>
		</b-form-group>

		<template v-if="form.selectedEtapa">
			<template v-if="form.selectedEtapa.nombreEtapa != 'Leads'">
				<b-form-group label="Clave del negocio completa">
					<div align="center">
						<strong>
							<h3 class="display-4" style="font-size: 22px;">
								<label>{{ labCliente }}</label> -
								<label>{{ labConsecutivo }}</label> -
								<label>{{ labUN }}</label> -
								<label>{{ labEquipo }}</label> -
								<label>{{ labServicio }}</label>
							</h3>
						</strong>
					</div>
				</b-form-group>
				<b-form-group label="Clave del negocio de muestra">
					<div align="center">
						<strong>
							<h3 class="display-4" style="font-size: 22px;">
								<label>{{ labCliente }}</label> -
								<label>{{ labConsecutivo }}</label> -
								<label>{{ labClaveServicio }}</label>
							</h3>
						</strong>
					</div>
				</b-form-group>
			</template>
		</template>

		<b-row>
			<b-col>
				<b-form-group label="Unidad de negocio">
					<b-form-select
						v-model="$v.form.selectedUN.$model"
						:state="
							$v.form.selectedUN.$dirty
								? !$v.form.selectedUN.$error
								: null
						"
						:options="unidadesNegocio"
						@change="setClaveUN($event)"
					>
						<template v-slot:first>
							<option :value="null"
								>Seleccione la ud. de negocio</option
							>
						</template>
					</b-form-select>
				</b-form-group>
			</b-col>
			<b-col>
				<b-form-group label="Tipo de servicio">
					<b-form-select
						v-model="$v.form.selectedServicio.$model"
						:state="
							$v.form.selectedServicio.$dirty
								? !$v.form.selectedServicio.$error
								: null
						"
						:options="selectServicios"
						@change="setClaveSC($event)"
					>
						<template v-slot:first>
							<option :value="null"
								>Seleccione el servicio</option
							>
						</template>
					</b-form-select>
				</b-form-group>
			</b-col>
		</b-row>

		<b-form-group label="Equipo">
			<b-form-select
				v-model="$v.form.selectedEquipo.$model"
				:state="
					$v.form.selectedEquipo.$dirty
						? !$v.form.selectedEquipo.$error
						: null
				"
				:options="equipos"
				@change="setClaveEQ($event)"
			>
				<template v-slot:first>
					<option :value="null">Seleccione el equipo</option>
				</template>
			</b-form-select>
		</b-form-group>

		<b-row>
			<b-col>
				<b-form-group label="Valor del negocio">
					<b-input-group>
						<b-form-input
							type="text"
							required
							name="valor"
							v-model="$v.form.valorNegocio.$model"
							:state="
								$v.form.valorNegocio.$dirty
									? !$v.form.valorNegocio.$error
									: null
							"
							autocomplete="off"
							placeholder="Valor"
						>
						</b-form-input>
						<b-input-group-append>
							<b-button variant="light" class="border"
								><i class="fas fa-dollar-sign"></i
							></b-button>
						</b-input-group-append>
					</b-input-group>
				</b-form-group>
			</b-col>
			<b-col>
				<b-form-group label="Tipo de moneda">
					<b-form-select
						v-model="$v.form.selectedTM.$model"
						:state="
							$v.form.selectedTM.$dirty
								? !$v.form.selectedTM.$error
								: null
						"
						:options="tipoMoneda"
					>
					</b-form-select>
				</b-form-group>
			</b-col>
		</b-row>

		<b-row v-show="form.selectedTM == 'USD'">
			<b-col>
				<p class="mt-2 text-secondary" align="rigth">
					Ingrese el valor del dolar:
				</p>
			</b-col>
			<b-col>
				<b-input-group>
					<b-form-input
						v-model="$v.form.dolar.$model"
						:state="
							$v.form.dolar.$dirty ? !$v.form.dolar.$error : null
						"
						autocomplete="off"
					/>
					<b-input-group-append>
						<b-button variant="light" class="border"
							><i class="fas fa-hand-holding-usd"></i
						></b-button>
					</b-input-group-append>
				</b-input-group>
			</b-col>
		</b-row>
		<b-row>
			<b-col lg="6">
				<b-form-group label="Fecha de cierre prevista">
					<b-form-input
						type="date"
						v-model="$v.form.fechaCierre.$model"
						:state="
							$v.form.fechaCierre.$dirty
								? !$v.form.fechaCierre.$error
								: null
						"
					>
					</b-form-input>
				</b-form-group>
			</b-col>
			<b-col lg="6">
				<b-form-group label="Probabilidad">
					<b-form-select
						v-model="$v.form.selectedPonderacion.$model"
						:state="
							$v.form.selectedPonderacion.$dirty
								? !$v.form.selectedPonderacion.$error
								: null
						"
						:options="ponderacion"
					>
					</b-form-select>
				</b-form-group>
			</b-col>
		</b-row>

		<div class="d-flex flex-row-reverse bd-highlight">
			<b-button variant="danger" class="ml-3 my-2" @click="submit">
				GUARDAR
			</b-button>
			<b-button variant="white" class="link-light my-2" @click="cancel">
				CANCELAR
			</b-button>
		</div>
	</b-overlay>
</template>

<script>
import { required, minLength, decimal } from "vuelidate/lib/validators";
import { mapState, mapMutations, mapActions } from "vuex";

export default {
	data() {
		return {
			overlay: false,

			labCliente: "---",
			labConsecutivo: "----",
			labUN: "--",
			labEquipo: "--",
			labServicio: "--",
			labClaveServicio: "---",
			vclientes: null,
			vcontactos: null,
			contactosById: [],
			clienteById: [],
			clientes: [],
			contactos: [],
			unidadesNegocio: [],
			equipos: [],
			servicios: [],
			selectServicios: [],
			tipoMoneda: [
				{ value: "MXN", text: "Pesos Méxicanos (MXN)" },
				{ value: "USD", text: "US Dollar (USD)" },
			],
			ponderacion: [
				{ value: null, text: "Seleccione la probabilidad" },
				{ value: "1", text: "1" },
				{ value: "2", text: "2" },
				{ value: "2.5", text: "2.5" },
				{ value: "3", text: "3" },
			],
			form: {
				selectedCliente: null,
				selectedContacto: null,
				tituloNegocio: null,
				selectedEtapa: null,
				selectedUN: null,
				selectedEquipo: null,
				claveConsecutivo: null,
				selectedServicio: null,
				valorNegocio: null,
				selectedTM: "MXN",
				fechaCierre: null,
				selectedPonderacion: null,
				clave_negocio: null,
				dolar: 19,
				clave_negocio_completa: "",
			},
		};
	},
	mounted() {
		this.getEquipos();
		this.getServicios();
		this.getUnidadesNegocio();
		this.setClienteSelected(null);
	},
	methods: {
		...mapMutations(["modalSubmit"]),
		...mapMutations("negocios", ["addNegocio"]),
		...mapMutations("clientes", ["setClienteSelected"]),

		setClaveUN(e) {
			this.labUN = this.form.selectedUN.text;
		},
		setClaveEQ(e) {
			this.labEquipo = this.form.selectedEquipo.text;
		},
		setClaveSC(e) {
			this.labServicio = this.form.selectedServicio.text;
			this.labClaveServicio = this.form.selectedServicio.claveServicio;
		},
		getClaveCliente() {
			axios
				.get(
					BaseUrl +
						`/api/vt/clientes/clave?idCliente=${this.clienteSelected}`
				)
				.then((response) => {
					this.labCliente = response.data;
					this.getConsecutivo(response.data);
				});
		},
		getConsecutivo(claveCliente) {
			axios
				.get(
					BaseUrl +
						`/api/vt/negocios/clave/consecutivo?clave=${claveCliente}`
				)
				.then((response) => {
					this.labConsecutivo = response.data;
					this.form.claveConsecutivo = response.data;
				});
		},
		getUnidadesNegocio() {
			axios.get(BaseUrl + `/api/vt/unidad/select`).then((response) => {
				this.unidadesNegocio = response.data;
			});
		},
		getEquipos() {
			axios.get(BaseUrl + `/api/vt/equipos/select`).then((response) => {
				this.equipos = response.data;
			});
		},
		getServicios() {
			axios.get(BaseUrl + `/api/vt/servicios/select`).then((response) => {
				this.servicios = response.data;
				this.selectServicios = response.data.map((servicio) => ({
					text:
						"(" +
						servicio.claveServicio +
						") - " +
						servicio.servicio,
					value: {
						text: servicio.noServicio,
						value: servicio.idServicio,
						claveServicio: servicio.claveServicio,
					},
				}));
			});
		},
		submit() {
			this.overlay = true;
			this.$v.$touch();
			if (!this.$v.$invalid) {
				try {
					if (this.form.selectedEtapa.nombreEtapa === "Leads") {
						this.form.claveConsecutivo = "";
						this.form.clave_negocio = "Leads";
						this.form.clave_negocio_completa = "Leads";
					} else {
						this.form.clave_negocio_completa =
							this.labCliente +
							"-" +
							this.form.claveConsecutivo +
							"-" +
							this.form.selectedUN.text +
							"-" +
							this.form.selectedEquipo.text +
							"-" +
							this.form.selectedServicio.text;
						this.form.clave_negocio =
							this.labCliente +
							"-" +
							this.form.claveConsecutivo +
							"-" +
							this.form.selectedServicio.claveServicio;
					}
					this.form.dolar =
						this.form.dolar === null ? "1" : this.form.dolar;
					const params = {
						cliente_id: this.clienteSelected,
						contacto_id: this.form.selectedContacto,
						embudo_id: this.embudoSelected.idEmbudo,
						titulo_negocio: this.form.tituloNegocio,
						etapa_id: this.form.selectedEtapa.idEtapa,
						unidad_negocio_id: this.form.selectedUN.value,
						equipo_id: this.form.selectedEquipo.value,
						clave_cliente: this.labCliente,
						clave_consecutivo: this.form.claveConsecutivo,
						clave_servicio: this.form.selectedServicio
							.claveServicio,
						valor_negocio: this.form.valorNegocio,
						tipo_moneda: this.form.selectedTM,
						fecha_cierre: this.form.fechaCierre,
						ponderacion: this.form.selectedPonderacion,
						clave_equipo: this.form.selectedEquipo.text,
						clave_unidad_negocio: this.form.selectedUN.text,
						clave_negocio_completa: this.form
							.clave_negocio_completa,
						clave_negocio: this.form.clave_negocio,
						cambio_x: this.form.dolar,
						id_servicio: this.form.selectedServicio.value,
					};

					axios
						.post(BaseUrl + "/api/vt/negocios", params)
						.then((response) => {
							if (response.data.success) {
								this.addNegocio(response.data.negocio);
								this.modalSubmit(true);
							}
						});
				} catch (e) {
					this.overlay = false;
				}
			} else {
				this.overlay = false;
			}
		},
		cancel() {
			this.$bvModal.hide("modal-create-negocio");
		},
	},
	computed: {
		...mapState("negocios", ["selectEtapas", "embudoSelected"]),
		...mapState("clientes", ["clienteSelected", "selectContactos"]),
	},
	validations: {
		form: {
			selectedCliente: { required },
			selectedContacto: { required },
			tituloNegocio: {
				required,
				minLength: minLength(4),
			},
			selectedEtapa: { required },
			selectedUN: { required },
			selectedEquipo: { required },
			claveConsecutivo: {},
			selectedServicio: { required },
			valorNegocio: {
				required,
				decimal,
			},
			selectedTM: { required },
			fechaCierre: { required },
			selectedPonderacion: { required },
			clave_negocio: {},
			dolar: { required },
		},
	},
	watch: {
		clienteSelected() {
			this.form.selectedContacto = null;
			if (this.clienteSelected) {
				this.getClaveCliente();
				this.form.selectedCliente = this.clienteSelected;
			}
		},
	},
};
</script>
