<template>
	<b-overlay
		:show="overlay"
		rounded="sm"
		opacity="1.0"
		blur="1px"
		variant="transparent"
	>
		<template v-if="!negocio">
			<template v-if="!form.selectedNegocio">
				<div
					class="input-group w-100 bg-white border mb-3"
					id="input-shadow"
				>
					<div class="input-group-prepend bg-light mr-1 ml-3">
						<div class="pt-1 bg-white">
							<i class="fas fa-search"></i>
						</div>
					</div>
					<b-form-input
						id="input-search"
						size="sm"
						class="form-control border-0"
						placeholder="Escribe tu busqueda aquí"
						v-model="filter"
						autocomplete="off"
					></b-form-input>
				</div>

				<b-skeleton-table
					v-if="loading"
					:rows="5"
					:columns="1"
					:table-props="{ bordered: true, striped: true }"
				></b-skeleton-table>

				<b-card
					v-else
					class="mb-3"
					style="max-height:550px; overflow:auto"
				>
					<b-table
						:fields="fields"
						:items="negociosFiltered"
						selectable
						thead-class="hidden_header"
						class="mb-0"
						@row-selected="onRowSelected"
						select-mode="single"
					>
						<template #cell()="data">
							<h6 class="mb-0">
								{{ data.item.claveNegocioCompleta }}
							</h6>
							<small class="text-secondary">{{
								data.item.tituloNegocio
							}}</small>
						</template>
					</b-table>
					<hr class="my-0" />

					<template v-if="!negociosFiltered.length">
						<h5 class="mb-1 text-center">
							No se encontraron negocios
						</h5>
					</template>
				</b-card>
			</template>
		</template>

		<template v-if="form.selectedNegocio || negocio">
			<b-container v-if="!negocio" class="text-right mb-3">
				<b-link
					class="text-secondary pr-0 mt-1 fs-12"
					size="sm"
					style="font-size: 12px;"
					@click="form.selectedNegocio = null"
				>
					ELEGIR OTRO NEGOCIO
					<b-icon icon="arrow90deg-up" flip-h>></b-icon>
				</b-link>
			</b-container>

			<label>Titulo del negocio:</label>
			<center>
				<p class="display-4" style="font-size: 20px;">
					{{ tituloNegocio }}
				</p>
			</center>

			<b-form-group label="Clave del negocio:">
				<div align="center">
					<strong>
						<h3 class="display-4" style="font-size: 22px;">
							<label>{{ labClaveCliente }}</label> -
							<label>{{ labClaveConsecutivo }}</label> -
							<label>{{ unidadNegocio }}</label> -
							<label>{{ equipo }}</label> -
							<label>{{ noServicio }}</label>
						</h3>
					</strong>
				</div>
			</b-form-group>

			<b-row>
				<b-col lg="12">
					<b-form-group
						label="Cliente:"
						style="padding-top: 3px !important;"
					>
						<vt-clientes-select />
					</b-form-group>
				</b-col>

				<b-col lg="12">
					<b-form-group v-if="clienteSelected" label="Contacto">
						<b-form-select
							v-model="$v.form.selectedContacto.$model"
							:state="
								$v.form.selectedContacto.$dirty
									? !$v.form.selectedContacto.$error
									: null
							"
							:options="selectContactos"
							@change="setContacto()"
						>
							<template v-slot:first>
								<option :value="null"
									>Seleccione la persona de contacto</option
								>
							</template>
						</b-form-select>
					</b-form-group>
				</b-col>

				<b-col lg="6">
					<b-form-group label="Clave consecutivo:">
						<b-form-input
							type="text"
							id="input-consecutivo"
							v-model="$v.form.consecutivo.$model"
							:state="
								$v.form.consecutivo.$dirty
									? !$v.form.consecutivo.$error
									: null
							"
							autocomplete="off"
							placeholder="clave consecutivo"
						>
						</b-form-input>
					</b-form-group>
				</b-col>
				<b-col lg="6">
					<b-form-group label="Unidad de negocio:">
						<b-form-select
							v-model="$v.form.selectedUN.$model"
							:state="
								$v.form.selectedUN.$dirty
									? !$v.form.selectedUN.$error
									: null
							"
							:options="unidadesNegocio"
							@change="setClaveUN()"
						>
							<template v-slot:first>
								<option :value="null"
									>Seleccione la unidad de negocio</option
								>
							</template>
						</b-form-select>
					</b-form-group>
				</b-col>
			</b-row>

			<b-row>
				<b-col lg="6">
					<b-form-group label="Equipo:">
						<b-form-select
							v-model="$v.form.selectedEquipo.$model"
							:state="
								$v.form.selectedEquipo.$dirty
									? !$v.form.selectedEquipo.$error
									: null
							"
							:options="equipos"
							@change="setClaveEQ()"
						>
							<template v-slot:first>
								<option :value="null"
									>Seleccione el equipo</option
								>
							</template>
						</b-form-select>
					</b-form-group>
				</b-col>
				<b-col lg="6">
					<b-form-group label="Tipo de servicio:">
						<b-form-select
							v-model="$v.form.selectedServicio.$model"
							:state="
								$v.form.selectedServicio.$dirty
									? !$v.form.selectedServicio.$error
									: null
							"
							:options="servicios"
							@change="setClaveSC()"
						>
							<template v-slot:first>
								<option :value="null"
									>Seleccione el servicio</option
								>
							</template>
						</b-form-select>
					</b-form-group>
				</b-col>
			</b-row>
		</template>

		<div class="d-flex flex-row-reverse bd-highlight">
			<b-button
				v-if="form.selectedNegocio"
				variant="danger"
				class="ml-3 my-2"
				@click="submit"
			>
				GUARDAR
			</b-button>
			<b-button variant="white" class="link-light my-2" @click="cancel">
				CANCELAR
			</b-button>
		</div>
	</b-overlay>
</template>

<script>
import {
	required,
	minLength,
	maxLength,
	numeric,
} from "vuelidate/lib/validators";
import { mapState, mapMutations, mapActions } from "vuex";

export default {
	props: {
		negocio: Object,
	},
	data() {
		return {
			loading: true,
			filter: "",
			fields: ["tituloNegocio"],
			overlay: false,

			unidadNegocio: null,
			equipo: null,
			noServicio: null,
			claveServicio: null,
			tituloNegocio: null,
			oldClaveCliente: null,
			oldIdCliente: null,
			oldIdContacto: null,

			labClaveCliente: null,
			labClaveConsecutivo: null,

			servicios: [],
			unidadesNegocio: [],
			equipos: [],
			negocios: [],

			form: {
				idContacto: null,
				idCliente: null,
				selectedContacto: null,
				claveCliente: null,
				selectedNegocio: null,
				consecutivo: null,
				selectedUN: null,
				selectedEquipo: null,
				selectedServicio: null,
				claveNegocio: null,
				idNegocio: null,
			},
		};
	},
	mounted() {
		if (!this.negocio) {
			this.getNegocios();
		} else {
			this.form.selectedNegocio = this.negocio.idNegocio;
			this.setNegocio(this.negocio.idNegocio);
		}
		this.getEquipos();
		this.getServicios();
		this.getUnidadesNegocio();
	},
	methods: {
		...mapMutations(["modalSubmit"]),
		...mapMutations("negocios", ["updateClaveNegocio"]),

		setContacto() {
			this.form.idContacto = this.form.selectedContacto;
		},
		setClaveUN() {
			this.unidadNegocio = this.form.selectedUN.text;
		},
		setClaveEQ() {
			this.equipo = this.form.selectedEquipo.text;
		},
		setClaveSC() {
			this.noServicio = this.form.selectedServicio.text;
		},
		getNegocios() {
			axios
				.get(
					BaseUrl +
						`/api/vt/negocios/join?idEmbudo=${this.embudoSelected.idEmbudo}`
				)
				.then((response) => {
					this.negocios = response.data;
				});
			// axios.get(BaseUrl + `/api/vt/negocios/select/negocios?idEmbudo=${this.embudoSelected.idEmbudo}`)
			// .then((response) => {
			// 	console.log(response);
			// 	this.negocios = response.data
			// })
		},
		setNegocio(idNegocio) {
			axios
				.get(BaseUrl + `/api/vt/negocios/${idNegocio}`)
				.then((response) => {
					if (response.data.claveConsecutivo != null) {
						const consecutivo = response.data.claveConsecutivo;
						this.form.consecutivo = (
							"0000" + consecutivo
						).substring(consecutivo.toString().length);
					} else {
						this.getConsecutivo(response.data.claveCliente);
					}

					if (response.data.claveCliente != null) {
						this.oldClaveCliente = response.data.claveCliente;
						this.form.claveCliente = response.data.claveCliente;
					} else {
						this.getClaveCliente(response.data.idCliente);
					}

					if (response.data.idServicio != null)
						this.getServicio(response.data.idServicio);

					this.labClaveConsecutivo = this.form.consecutivo;
					this.labClaveCliente = this.form.claveCliente;
					this.oldIdCliente = response.data.idCliente;
					this.form.idCliente = response.data.idCliente;
					this.form.idContacto = response.data.idContacto;
					this.oldIdContacto = response.data.idContacto;
					this.unidadNegocio = response.data.clave_unidad_negocio;
					this.equipo = response.data.clave_equipo;
					this.claveServicio = response.data.claveServicio;
					this.form.idNegocio = response.data.idNegocio;
					this.tituloNegocio = response.data.tituloNegocio;
					this.form.selectedEquipo = {
						text: response.data.clave_equipo,
						value: response.data.idEquipo,
					};
					this.form.selectedUN = {
						text: response.data.clave_unidad_negocio,
						value: response.data.idUnidadNegocio,
					};
				});
		},
		setClaveServicio(noServicio) {
			for (var i = 0; this.servicios.length > i; i++) {
				if (this.servicios[i].value.text == noServicio)
					this.form.selectedServicio = this.servicios[i].value;
			}
		},
		getEquipos() {
			axios.get(BaseUrl + `/api/vt/equipos/select`).then((response) => {
				this.equipos = response.data;
			});
		},
		getServicio(idServicio) {
			axios
				.get(BaseUrl + `/api/vt/servicios/${idServicio}`)
				.then((response) => {
					this.noServicio = response.data.noServicio;
					this.setClaveServicio(response.data.noServicio);
				});
		},
		getServicios() {
			axios.get(BaseUrl + `/api/vt/servicios/select`).then((response) => {
				this.servicios = response.data.map((servicio) => ({
					text: servicio.servicio,
					value: {
						text: servicio.noServicio,
						value: servicio.idServicio,
						claveServicio: servicio.claveServicio,
					},
				}));
			});
		},
		getUnidadesNegocio() {
			axios.get(BaseUrl + `/api/vt/unidad/select`).then((response) => {
				this.unidadesNegocio = response.data;
			});
		},
		getConsecutivo(claveCliente) {
			axios
				.get(
					BaseUrl +
						`/api/vt/negocios/clave/consecutivo?clave=${claveCliente}`
				)
				.then((response) => {
					this.form.consecutivo = response.data;
					this.labClaveConsecutivo = response.data;
				});
		},
		getClaveCliente(cliente) {
			axios
				.get(BaseUrl + `/api/vt/clientes/clave?idCliente=${cliente}`)
				.then((response) => {
					this.labClaveCliente = response.data;
					this.form.claveCliente = response.data;
					this.getConsecutivo(response.data);
				});
		},
		submit() {
			this.overlay = true;
			this.$v.$touch();
			if (!this.$v.$invalid) {
				try {
					var claveNegocioCompleta =
						this.form.claveCliente +
						"-" +
						this.form.consecutivo +
						"-" +
						this.form.selectedUN.text +
						"-" +
						this.form.selectedEquipo.text +
						"-" +
						this.form.selectedServicio.text;

					this.form.claveNegocio =
						this.form.claveCliente +
						"-" +
						this.form.consecutivo +
						"-" +
						this.form.selectedServicio.claveServicio;

					const params = {
						clave_consecutivo: this.form.consecutivo,
						unidad_negocio_id: this.form.selectedUN.value,
						equipo_id: this.form.selectedEquipo.value,
						clave_servicio: this.form.selectedServicio
							.claveServicio,
						clave_negocio: this.form.claveNegocio,
						clave_negocio_completa: claveNegocioCompleta,
						negocio_id: this.form.idNegocio,
						clave_cliente: this.form.claveCliente,
						id_servicio: this.form.selectedServicio.value,
						id_cliente: this.form.idCliente,
						id_contacto: this.form.idContacto,
					};

					axios
						.put(BaseUrl + "/api/vt/negocios/clave/", params)
						.then((response) => {
							if (response.data.success) {
								this.updateClaveNegocio(response.data.negocio);
								this.modalSubmit(true);
							}
						});
				} catch (e) {
					this.overlay = false;
				}
			} else {
				this.overlay = false;
			}
		},
		onRowSelected(items) {
			this.form.selectedNegocio = items[0].idNegocio;
			this.setNegocio(items[0].idNegocio);
		},
		cancel() {
			this.$bvModal.hide("modal-change-clave");
		},
	},
	computed: {
		...mapState("negocios", ["embudoSelected"]),
		...mapState("clientes", ["clienteSelected", "selectContactos"]),

		negociosFiltered() {
			return this.negocios.filter(
				(negocio) =>
					negocio.claveNegocioCompleta
						.toLowerCase()
						.indexOf(this.filter.toLowerCase()) > -1 ||
					negocio.tituloNegocio
						.toLowerCase()
						.indexOf(this.filter.toLowerCase()) > -1
			);
		},
	},
	validations: {
		form: {
			selectedContacto: {},
			selectedNegocio: {},
			consecutivo: {
				required,
				minLength: minLength(4),
				maxLength: maxLength(4),
				numeric,
			},
			selectedUN: { required },
			selectedEquipo: { required },
			selectedServicio: { required },
			claveNegocio: {},
			idNegocio: {},
		},
	},
	watch: {
		clienteSelected() {
			this.form.selectedContacto = null;
			if (this.clienteSelected) {
				this.form.idCliente = this.clienteSelected;
				this.getClaveCliente(this.clienteSelected);
			} else {
				this.form.idContacto = this.oldIdContacto;
				this.form.idCliente = this.oldIdCliente;
				this.labClaveCliente = this.oldClaveCliente;
				this.form.claveCliente = this.oldClaveCliente;
				this.getConsecutivo(this.form.claveCliente);
			}
		},
		negociosFiltered() {
			this.loading = false;
		},
	},
};
</script>

<style>
.hidden_header {
	display: none;
}
</style>
