<template>
	<b-overlay
		:show="overlay"
		rounded="sm"
		opacity="1.0"
		blur="1px"
		variant="transparent"
	>
		<template v-if="!form.selectedNegocio">
			<div
				class="input-group w-100 bg-white border mb-3"
				id="input-shadow"
			>
				<div class="input-group-prepend bg-light mr-1 ml-3">
					<div class="pt-1 bg-white">
						<i class="fas fa-search"></i>
					</div>
				</div>
				<b-form-input
					id="input-search"
					size="sm"
					class="form-control border-0"
					placeholder="Escribe tu busqueda aquí"
					v-model="filter"
					autocomplete="off"
				></b-form-input>
			</div>

			<b-skeleton-table
				v-if="loading"
				:rows="5"
				:columns="1"
				:table-props="{ bordered: true, striped: true }"
			></b-skeleton-table>

			<b-card v-else class="mb-3" style="max-height:550px; overflow:auto">
				<b-table
					:fields="fields"
					:items="negociosFiltered"
					selectable
					thead-class="hidden_header"
					class="mb-0"
					@row-selected="onRowSelected"
					select-mode="single"
				>
					<template #cell()="data">
						<h6 class="mb-0">
							{{ data.item.claveNegocioCompleta }}
						</h6>
						<small class="text-secondary">{{
							data.item.tituloNegocio
						}}</small>
					</template>
				</b-table>
				<hr class="my-0" />

				<template v-if="!negociosFiltered.length">
					<h5 class="mb-1 text-center">No se encontraron negocios</h5>
				</template>
			</b-card>
		</template>

		<template v-if="form.selectedNegocio">
			<b-container class="text-right">
				<b-link
					class="text-secondary pr-0 mt-1 fs-12"
					size="sm"
					style="font-size: 12px;"
					@click="form.selectedNegocio = null"
				>
					ELEGIR OTRO NEGOCIO
					<b-icon icon="arrow90deg-up" flip-h>></b-icon>
				</b-link>
			</b-container>

			<b-form-group label="Cliente:">
				<b-input-group>
					<b-input-group-append>
						<b-button variant="light"
							><i class="fas fa-building"></i
						></b-button>
					</b-input-group-append>
					<b-form-input
						type="text"
						required
						disabled
						v-model="nombreCliente"
					>
					</b-form-input>
				</b-input-group>
			</b-form-group>

			<b-form-group label="Contacto:">
				<b-form-select
					v-model="$v.form.selectedContacto.$model"
					:state="
						$v.form.selectedContacto.$dirty
							? !$v.form.selectedContacto.$error
							: null
					"
					:options="contactos"
				>
				</b-form-select>
			</b-form-group>

			<b-form-group label="Título del negocio:">
				<b-form-input
					type="text"
					required
					name="name"
					autocomplete="off"
					v-model="$v.form.tituloNegocio.$model"
					:state="
						$v.form.tituloNegocio.$dirty
							? !$v.form.tituloNegocio.$error
							: null
					"
					placeholder="Título del negocio"
				>
				</b-form-input>
			</b-form-group>

			<b-form-group label="Etapa de negocio:">
				<b-form-select
					v-model="$v.form.selectedEtapa.$model"
					:state="
						$v.form.selectedEtapa.$dirty
							? !$v.form.selectedEtapa.$error
							: null
					"
					:options="selectEtapas"
				>
					<template v-slot:first>
						<option :value="null">Seleccione la etapa</option>
					</template>
				</b-form-select>
			</b-form-group>

			<b-form-group label="Clave del negocio:">
				<div align="center">
					<strong>
						<h3 class="display-4" style="font-size: 22px;">
							<label>{{ labCliente }}</label> -
							<label>{{ labConsecutivo }}</label> -
							<label>{{ labUN }}</label> -
							<label>{{ labEquipo }}</label> -
							<label>{{ labNoServicio }}</label>
						</h3>
					</strong>
				</div>
			</b-form-group>

			<b-form-group label="Equipo:">
				<b-form-select
					v-model="$v.form.selectedEquipo.$model"
					:state="
						$v.form.selectedEquipo.$dirty
							? !$v.form.selectedEquipo.$error
							: null
					"
					:options="equipos"
					@change="setClaveEQ($event)"
				>
				</b-form-select>
			</b-form-group>

			<b-row>
				<b-col>
					<b-form-group label="Valor del negocio:">
						<b-input-group>
							<b-form-input
								type="text"
								required
								name="valor"
								v-model="$v.form.valorNegocio.$model"
								:state="
									$v.form.valorNegocio.$dirty
										? !$v.form.valorNegocio.$error
										: null
								"
								autocomplete="off"
								placeholder="Valor"
							>
							</b-form-input>
							<b-input-group-append>
								<b-button
									variant="light"
									v-model="labTipoMoneda"
									><i class="fas fa-dollar-sign"></i>
									{{ labTipoMoneda }}
								</b-button>
							</b-input-group-append>
						</b-input-group>
					</b-form-group>
				</b-col>
				<b-col>
					<b-form-group label="Fecha de cierre prevista:">
						<b-form-input
							type="date"
							v-model="$v.form.fechaCierre.$model"
							:state="
								$v.form.fechaCierre.$dirty
									? !$v.form.fechaCierre.$error
									: null
							"
						>
						</b-form-input>
					</b-form-group>
				</b-col>
			</b-row>
		</template>

		<div class="d-flex flex-row-reverse bd-highlight">
			<b-button v-if="form.selectedNegocio" variant="danger" class="ml-3 my-2" @click="submit">
				GUARDAR
			</b-button>
			<b-button variant="white" class="link-light my-2" @click="cancel">
				CANCELAR
			</b-button>
		</div>
	</b-overlay>
</template>

<script>
import { required, minLength, decimal } from "vuelidate/lib/validators";
import { mapState, mapMutations, mapActions } from "vuex";

export default {
	data() {
		return {
			loading: true,
			filter: "",
			fields: ["tituloNegocio"],
			overlay: false,

			labTipoMoneda: null,
			nombreCliente: null,
			labCliente: null,
			labConsecutivo: null,
			labUN: null,
			labEquipo: null,
			labNoServicio: null,
			labClaveServicio: null,
			contactos: [],
			equipos: [],

			form: {
				selectedNegocio: null,
				selectedContacto: null,
				tituloNegocio: null,
				selectedEtapa: null,
				selectedEquipo: null,
				valorNegocio: null,
				fechaCierre: null,
				clave_negocio: null,
				oldIdNegocio: null,
			},
		};
	},
	mounted() {
		this.getNegocios();
		this.getEquipos();
	},
	methods: {
		...mapMutations(["modalSubmit"]),
		...mapActions("negocios", ["getNegocios"]),
		...mapMutations("negocios", ["addNegocio"]),

		setNegocio(idNegocio) {
			axios
				.get(BaseUrl + `/api/vt/negocios/${idNegocio}`)
				.then((response) => {
					var consecutivo = response.data.claveConsecutivo;
					this.labConsecutivo = ("0000" + consecutivo).substring(
						consecutivo.toString().length
					);
					this.getContactosById(response.data.idCliente);
					this.form.tituloNegocio = response.data.tituloNegocio;
					this.form.fechaCierre = response.data.fechaCierre;
					this.form.valorNegocio = response.data.valorNegocio;
					this.form.selectedEtapa = response.data.idEtapa;
					this.labTipoMoneda = response.data.tipoMoneda;
					this.labCliente = response.data.claveCliente;
					this.labUN = response.data.clave_unidad_negocio;
					this.labEquipo = response.data.clave_equipo;
					this.nombreCliente = response.data.nombre_cliente;

					if (response.data.idServicio != null) {
						this.getServicio(response.data.idServicio);
					} else {
						this.labClaveServicio = response.data.claveServicio;
					}

					this.form.selectedEquipo = {
						text: response.data.clave_equipo,
						value: response.data.idEquipo,
					};

					this.form.selectedContacto = response.data.idContacto;
					this.form.selectedEtapa = {
						idEtapa: response.data.idEtapa,
						nombreEtapa: response.data.nombre_etapa,
					};
					this.form.oldIdNegocio = response.data.idNegocio;
				});
		},
		getServicio(idServicio) {
			axios
				.get(BaseUrl + `/api/vt/servicios/${idServicio}`)
				.then((response) => {
					this.labNoServicio = response.data.noServicio;
					this.labClaveServicio = response.data.claveServicio;
				});
		},
		getContactosById(idCliente) {
			axios
				.get(BaseUrl + `/api/vt/clientes/${idCliente}/contactos/select`)
				.then((response) => {
					this.contactos = response.data;
				});
		},
		getEquipos() {
			axios.get(BaseUrl + `/api/vt/equipos/select`).then((response) => {
				this.equipos = response.data;
			});
		},
		setClaveEQ(e) {
			this.labEquipo = this.form.selectedEquipo.text;
		},
		submit() {
			this.overlay = true;
			this.$v.$touch();
			if (!this.$v.$invalid) {
				try {
					this.form.clave_negocio =
						this.labCliente +
						"-" +
						this.labConsecutivo +
						"-" +
						this.labClaveServicio;

					var clave_negocio_completa =
						this.labCliente +
						"-" +
						this.labConsecutivo +
						"-" +
						this.labUN +
						"-" +
						this.form.selectedEquipo.text +
						"-" +
						this.labNoServicio;

					const params = {
						contacto_id: this.form.selectedContacto,
						titulo_negocio: this.form.tituloNegocio,
						etapa_id: this.form.selectedEtapa.idEtapa,
						clave_equipo: this.form.selectedEquipo.text,
						equipo_id: this.form.selectedEquipo.value,
						valor_negocio: this.form.valorNegocio,
						fecha_cierre: this.form.fechaCierre,
						clave_negocio: this.form.clave_negocio,
						clave_negocio_completa: clave_negocio_completa,
						old_negocio_id: this.form.oldIdNegocio,
					};

					axios
						.post(BaseUrl + "/api/vt/negocios/estimacion", params)
						.then((response) => {
							if (response.data.success) {
								this.addNegocio(response.data.estimacion);
								this.modalSubmit(true);
							}
						});
				} catch (e) {
					this.overlay = false;
				}
			} else {
				this.overlay = false;
			}
		},
		onRowSelected(items) {
			this.form.selectedNegocio = items[0].idNegocio;
			this.setNegocio(items[0].idNegocio);
		},
		cancel() {
			this.$bvModal.hide("modal-create-estimacion");		
		},
	},
	computed: {
		...mapState("negocios", [
			"selectEtapas",
			"negociosNotLeads",
			"embudoSelected",
		]),
		negociosFiltered() {
			return this.negociosNotLeads.filter(
				(negocio) =>
					negocio.claveNegocioCompleta
						.toLowerCase()
						.indexOf(this.filter.toLowerCase()) > -1 ||
					negocio.tituloNegocio
						.toLowerCase()
						.indexOf(this.filter.toLowerCase()) > -1
			);
		},
	},
	validations: {
		form: {
			selectedNegocio: { required },
			selectedContacto: { required },
			tituloNegocio: {
				required,
				minLength: minLength(4),
			},
			selectedEtapa: { required },
			selectedEquipo: { required },
			valorNegocio: {
				required,
				decimal,
			},
			fechaCierre: { required },
			clave_negocio: {},
			oldIdNegocio: {},
		},
	},
	watch: {
		negociosFiltered() {
			this.loading = false;
		},
	},
};
</script>

<style>
.hidden_header {
	display: none;
}
</style>
