<template>
	<form ref="form" @submit.stop.prevent="submit">	
		<!-- <b-form-group label="Cliente:">
			<b-form-input type="text" required
				name="name"
				autocomplete="off"
				disabled
				v-model="dataNegocioLeads.cliente">
			</b-form-input>
		</b-form-group>

		<b-form-group label="Contacto:">
			<b-form-input type="text" required
				name="name"
				autocomplete="off"
				disabled
				v-model="dataNegocioLeads.contacto">
			</b-form-input>
		</b-form-group>
 -->
 		<div class="text-center">
					<h5>{{ dataNegocioLeads.cliente }}</h5>
					<h6></i>{{ dataNegocioLeads.contacto }}</h6><hr>
				</div>
		<b-form-group label="Título del negocio:">
			<b-form-input type="text" required
				name="name"
				autocomplete="off"
				v-model="dataNegocioLeads.tituloNegocio">
			</b-form-input>
		</b-form-group>
		
		<div v-show="emptyEtapaleads">
		  	<b-alert show variant="warning" class="text-justify" style="font-size: 12px">
		   		<h5 class="alert-heading">Advertencia:</h5>
			    <p>
				    El embudo seleccionado no cuenta con una etapa Leads, agregue la etapa o póngase en contacto con el administrador para mas información.
			    </p>
		  </b-alert>
		</div>

		<b-row>
			<b-col>
				<b-form-group label="Unidad de negocio">
					<b-form-select
					v-model="$v.form.selectedUN.$model"
					:state="$v.form.selectedUN.$dirty ? !$v.form.selectedUN.$error : null"
					:options="unidadesNegocio"
					@change="setClaveUN($event)">
						<template v-slot:first>
							<option :value="null">Seleccione la ud. de negocio</option>
						</template>
					</b-form-select>
				</b-form-group>
			</b-col>
			<b-col>
				<b-form-group label="Tipo de servicio">
					<b-form-select
					v-model="$v.form.selectedServicio.$model"
					:state="$v.form.selectedServicio.$dirty ? !$v.form.selectedServicio.$error : null"
					:options="selectServicios"
					@change="setClaveSC($event)">
						<template v-slot:first>
							<option :value="null">Seleccione el servicio</option>
						</template>
					</b-form-select>
				</b-form-group>
			</b-col>	
		</b-row>

		<b-form-group label="Equipo">
			<b-form-select
			v-model="$v.form.selectedEquipo.$model"
			:state="$v.form.selectedEquipo.$dirty ? !$v.form.selectedEquipo.$error : null"
			:options="equipos"
			@change="setClaveEQ($event)">
				<template v-slot:first>
					<option :value="null">Seleccione el equipo</option>
				</template>
			</b-form-select>
		</b-form-group>

		<b-row>
			<b-col>
				<b-form-group label="Valor del negocio:">
					<b-input-group>
						<b-form-input type="text" required
						name="valor"
						v-model="$v.form.valorNegocio.$model"
						:state="$v.form.valorNegocio.$dirty ? !$v.form.valorNegocio.$error : null"
						autocomplete="off"
						placeholder="Valor">
						</b-form-input>
						<b-input-group-append>
					      <b-button variant="light"><i class="fas fa-dollar-sign"></i></b-button>
					    </b-input-group-append>
					</b-input-group>
				</b-form-group>
			</b-col>
			<b-col>
				<b-form-group label="Tipo de moneda:">
					<b-form-select 
					v-model="$v.form.selectedTM.$model"
					:state="$v.form.selectedTM.$dirty ? !$v.form.selectedTM.$error : null" 
					:options="tipoMoneda">
					</b-form-select>
				</b-form-group>
			</b-col>
		</b-row>

		<b-row v-show="form.selectedTM == 'USD'">
			<b-col>
				<p class="mt-2 text-secondary" align="rigth">Ingrese el valor del dolar:</p>
			</b-col>
			<b-col>
				<b-input-group>
				    <b-form-input
				    v-model="$v.form.dolar.$model"
					:state="$v.form.dolar.$dirty ? !$v.form.dolar.$error : null"
					autocomplete="off"
				    />
				    <b-input-group-append>
				      <b-button variant="light"><i class="fas fa-hand-holding-usd"></i></b-button>
				    </b-input-group-append>
  				</b-input-group>
			</b-col>
  		</b-row>

		<b-form-group label="Fecha de cierre prevista:">
			<b-form-input type="date"
			v-model="$v.form.fechaCierre.$model"
			:state="$v.form.fechaCierre.$dirty ? !$v.form.fechaCierre.$error : null">
			</b-form-input>
		</b-form-group>

		<b-form-group label="Probabilidad:">
			<b-form-select 
			v-model="$v.form.selectedPonderacion.$model"
			:state="$v.form.selectedPonderacion.$dirty ? !$v.form.selectedPonderacion.$error : null" 
			:options="ponderacion">
			</b-form-select>
		</b-form-group>
	</form>
</template>

<script>
	import { required, minLength, decimal } from 'vuelidate/lib/validators'
	import { mapState, mapMutations, mapActions } from 'vuex'

	export default {
		data() {
			return {
				selectEtapas: [],
				etapaLeads: [],
				unidadesNegocio: [],
				equipos: [],
				selectServicios: [],
				tituloComentario: '',

				tipoMoneda: [
					{ value: 'MXN', text: 'Pesos Méxicanos (MXN)' },
					{ value: 'USD', text: 'US Dollar (USD)' }
				],
				ponderacion: [
					{ value: null, text: 'Seleccione la probabilidad' },
					{ value: '1', text: '1' },
					{ value: '2', text: '2' },
					{ value: '2.5', text: '2.5' },
					{ value: '3', text: '3' }
				],
				form: {
					valorNegocio: null,
					selectedTM: 'MXN',
					fechaCierre: null,
					selectedPonderacion: null,
					dolar: null,
					selectedUN: null,
					selectedEquipo: null,
					selectedServicio: null
				},
				emptyEtapaleads: false
			}
		},
		mounted()
		{
			this.tituloComentario = this.dataNegocioLeads.tituloNegocio
			this.getEtapas()
			this.getUnidadesNegocio()
			this.getEquipos()
			this.getServicios()
		},
		methods: {
			...mapMutations(['modalSubmit', 'modalOk']),
			...mapMutations('negocios', ['addNegocio']),
			...mapMutations('notas', ['updateComentario']),

			getUnidadesNegocio() {
				axios.get(BaseUrl + `/api/vt/unidad/select`)
				.then((response) => {
					this.unidadesNegocio = response.data;
				});
			},
			getEquipos() {
				axios.get(BaseUrl + `/api/vt/equipos/select`)
				.then((response) => {
					this.equipos = response.data;
				});
			},
			getServicios() {
				axios.get(BaseUrl + `/api/vt/servicios/select`)
				.then((response) => {
					this.servicios = response.data;
					this.selectServicios = response.data.map(servicio => ({
			            text: servicio.servicio,
		            	value: {text:servicio.noServicio, value:servicio.idServicio, claveServicio: servicio.claveServicio},
		        	}))
				});
			},
			submit() {
				this.$v.$touch()
				if (!this.$v.$invalid) {
					if (!this.emptyEtapaleads) {
						this.form.dolar = this.form.dolar === null ? '1' : this.form.dolar;
						// console.log('DATANEGOCIOLEADOS', this.dataNegocioLeads)
						const params = {
							cliente_id: this.dataNegocioLeads.idCliente,
							contacto_id: this.dataNegocioLeads.idContacto,
							embudo_id: this.embudoSelected.idEmbudo,
							titulo_negocio: this.dataNegocioLeads.tituloNegocio,
							etapa_id: this.etapaLeads.idEtapa,
							unidad_negocio_id: this.form.selectedUN.value,
							equipo_id: this.form.selectedEquipo.value,
							clave_cliente: this.dataNegocioLeads.claveCliente,
							clave_consecutivo: "",
							clave_servicio: this.form.selectedServicio.claveServicio,
							valor_negocio: this.form.valorNegocio,
							tipo_moneda: this.form.selectedTM,
							fecha_cierre: this.form.fechaCierre,
							ponderacion: this.form.selectedPonderacion,
							clave_equipo: this.form.selectedEquipo.text,
							clave_unidad_negocio: this.form.selectedUN.text,
							clave_negocio_completa: "Leads",
							clave_negocio: "Leads",
							cambio_x: this.form.dolar,
							id_servicio: this.form.selectedServicio.value,
							idUsuarioComentario: this.dataNegocioLeads.idUsuarioComentario,
							tituloComentario: this.tituloComentario,
						}
						// console.log(params);
						axios.post(BaseUrl + '/api/vt/negocios', params)
						.then((response) => {
							if(response.data.success){
								this.addNegocio(response.data.negocio)
								this.updateNegocioComentario();
								this.modalSubmit(true)
		                    }
		                })
					}
				}else{
					this.modalOk(false)
				}	
			},
			updateNegocioComentario(){
				const parametros = {
					idComentario: this.dataNegocioLeads.idComentario
				}
				axios.put(BaseUrl + `/api/vt/comentarioNegocio`,parametros).then(response => {
						this.updateComentario(response.data.comentario);
		      		});
			},
			getEtapas()
			{
				axios.get(BaseUrl + `/api/vt/embudos/${this.embudoSelected.idEmbudo}/etapas`)
	            .then((response) => {
	                this.selectEtapas = response.data
	                this.etapaLeads = this.selectEtapas.find(
						etapa => 
							etapa.nombreEtapa == 'Leads' || 
							etapa.nombreEtapa == 'leads'
						)
					if (this.etapaLeads.length != 0) {
						emptyEtapaleads: false
					}else{
						emptyEtapaleads: true
					}

	            })
			}
		},
		computed: {
			...mapState(['okModal']),
			...mapState('negocios', ['embudoSelected', 'dataNegocioLeads']),
		},
		validations: {
			form:{
				valorNegocio: { 
					required,
					decimal 
				},
				selectedTM: { required },
				fechaCierre: { required },
				selectedPonderacion: { required },
				clave_negocio: {},
				dolar: {},

				selectedUN: { required },
				selectedEquipo: { required },
				selectedServicio: { required }
			},
			dataNegocioLeads: {
				tituloNegocio: { 
					required,
					minLength: minLength(4) 
				}
			}
		},
		watch: {
			okModal()
			{
				if(this.okModal==true){
					this.submit()
				}
			}
		}
	}
</script>
