<template>
	<header-component :title="title" :countName="'negocios'" >
		<template slot="left">
			<vt-negocios-buttons-menu />
		</template>

		<template slot="down-center">
			<i class="fas fa-balance-scale"></i>  
			{{ totalRows }} Negocios
		</template>

		<template slot="right">
			<vt-negocios-buttons-negocios />
		</template>
		<template slot="right">
			<br></br>
			<slot name="save-success">
			</slot>
		</template>
	</header-component>
</template>

<script>
	export default {
		props:{
			title: String,
		},
		computed: {
            totalRows()
            {
                return this.$store.state.totalRows
            }
        }
	}
</script>
