<template>
	<form ref="form" @submit.stop.prevent="submit">	
		<b-form-group>
			<b-form-radio-group
			v-model="radio"
			:options="filtro"
			@change="onChange($event)"/>
		</b-form-group>

		<b-form-group v-if="radio == 1">
			<b-form-select
			v-model="$v.form.selectedCliente.$model"
			:state="$v.form.selectedCliente.$dirty ? !$v.form.selectedCliente.$error : null"
			:options="clientes"
			@change="setClienteContactos($event)">
			<template v-slot:first>
				<option :value="null">Seleccione el cliente</option>
			</template>
			</b-form-select>
		</b-form-group>

		<b-form-group v-show="vcontactos">
			<b-form-select
			v-model="$v.form.selectedContacto.$model"
			:state="$v.form.selectedContacto.$dirty ? !$v.form.selectedContacto.$error : null"
			:options="contactosById">
				<template v-slot:first>
					<option :value="null">Seleccione la persona de contacto</option>
				</template>
			</b-form-select>
		</b-form-group>

		<b-form-group v-if="radio == 2">
			<b-form-select
			v-model="$v.form.selectedContacto.$model"
			:state="$v.form.selectedContacto.$dirty ? !$v.form.selectedContacto.$error : null"
			:options="contactos"
			@change="setContactoClientes($event)">
				<template v-slot:first>
					<option :value="null">Seleccione la persona de contacto</option>
				</template>
			</b-form-select>
		</b-form-group>

		<b-form-group v-show="vclientes">
			<b-form-select
				v-model="$v.form.selectedCliente.$model"
				:state="$v.form.selectedCliente.$dirty ? !$v.form.selectedCliente.$error : null"
				:options="clienteById">
			</b-form-select>
		</b-form-group>

		<b-form-group label="Título del negocio:">
			<b-form-input type="text" required
				name="name"
				autocomplete="off"
				v-model="$v.form.tituloNegocio.$model"
				:state="$v.form.tituloNegocio.$dirty ? !$v.form.tituloNegocio.$error : null"
				placeholder="Título del negocio">
			</b-form-input>
		</b-form-group>

		<b-form-group label="Etapas de negocio:">
			<b-form-select
			v-model="$v.form.selectedEtapa.$model"
			:state="$v.form.selectedEtapa.$dirty ? !$v.form.selectedEtapa.$error : null"
			:options="etapas">
				<template v-slot:first>
					<option :value="null">Seleccione la etapa</option>
				</template>
			</b-form-select>
		</b-form-group>

		<template v-if="form.selectedEtapa">
			<template v-if="form.selectedEtapa.nombreEtapa != 'Leads'">
				<b-form-group label="Clave del negocio:">
					<div align="center">
						<strong>
							<h3 class="display-4" style="font-size: 22px;">
								<label>{{ labCliente }}</label> -
								<label>{{ labConsecutivo }}</label> -
								<label>{{ labUN }}</label> -
								<label>{{ labEquipo }}</label> -
								<label>{{ labServicio }}</label>
							</h3>
						</strong>
					</div>
				</b-form-group>

				<b-form-group label="Unidad de negocio:">
					<b-form-select
					v-model="$v.form.selectedUN.$model"
					:state="$v.form.selectedUN.$dirty ? !$v.form.selectedUN.$error : null"
					:options="unidadesNegocio"
					@change="setClaveUN($event)">
						<template v-slot:first>
							<option :value="null">Seleccione la unidad de negocio</option>
						</template>
					</b-form-select>
				</b-form-group>

				<b-form-group label="Equipo:">
					<b-form-select
					v-model="$v.form.selectedEquipo.$model"
					:state="$v.form.selectedEquipo.$dirty ? !$v.form.selectedEquipo.$error : null"
					:options="equipos"
					@change="setClaveEQ($event)">
						<template v-slot:first>
							<option :value="null">Seleccione el equipo</option>
						</template>
					</b-form-select>
				</b-form-group>

				<b-form-group label="Tipo de servicio:">
					<b-form-select
					v-model="$v.form.selectedServicio.$model"
					:state="$v.form.selectedServicio.$dirty ? !$v.form.selectedServicio.$error : null"
					:options="servicios"
					@change="setClaveSC($event)">
						<template v-slot:first>
							<option :value="null">Seleccione el servicio</option>
						</template>
					</b-form-select>
				</b-form-group>
			</template>
		</template>

		<b-row>
			<b-col>
				<b-form-group label="Valor del negocio:">
					<b-input-group>
						<b-form-input type="text" required
						name="valor"
						v-model="$v.form.valorNegocio.$model"
						:state="$v.form.valorNegocio.$dirty ? !$v.form.valorNegocio.$error : null"
						autocomplete="off"
						placeholder="Valor">
						</b-form-input>
						<b-input-group-append>
					      <b-button variant="light"><i class="fas fa-dollar-sign"></i></b-button>
					    </b-input-group-append>
					</b-input-group>
				</b-form-group>
			</b-col>
			<b-col>
				<b-form-group label="Tipo de moneda:">
					<b-form-select 
					v-model="$v.form.selectedTM.$model"
					:state="$v.form.selectedTM.$dirty ? !$v.form.selectedTM.$error : null" 
					:options="tipoMoneda">
					</b-form-select>
				</b-form-group>
			</b-col>
		</b-row>

		<b-row v-show="form.selectedTM == 'USD'">
			<b-col>
				<p class="mt-2 text-secondary" align="rigth">Ingrese el valor del dolar:</p>
			</b-col>
			<b-col>
				<b-input-group>
				    <b-form-input
				    v-model="$v.form.dolar.$model"
					:state="$v.form.dolar.$dirty ? !$v.form.dolar.$error : null"
					autocomplete="off"
				    />
				    <b-input-group-append>
				      <b-button variant="light"><i class="fas fa-hand-holding-usd"></i></b-button>
				    </b-input-group-append>
  				</b-input-group>
			</b-col>
  		</b-row>

		<b-form-group label="Fecha de cierre prevista:">
			<b-form-input type="date"
			v-model="$v.form.fechaCierre.$model"
			:state="$v.form.fechaCierre.$dirty ? !$v.form.fechaCierre.$error : null">
			</b-form-input>
		</b-form-group>

		<b-form-group label="Probabilidad:">
			<b-form-select 
			v-model="$v.form.selectedPonderacion.$model"
			:state="$v.form.selectedPonderacion.$dirty ? !$v.form.selectedPonderacion.$error : null" 
			:options="ponderacion">
			</b-form-select>
		</b-form-group>
	</form>
</template>

<script>
	import { required, minLength, decimal } from 'vuelidate/lib/validators'
	import { mapState, mapMutations, mapActions } from 'vuex'

	export default {
		data() {
			return {
				labCliente: '---',
				labConsecutivo: '----',
				labUN: '--',
				labEquipo: '--',
				labServicio: '--',
				vclientes: null,
				vcontactos: null,
				contactosById: [],
				clienteById: [],
				clientes: [],
				contactos: [],
				etapas: [],
				unidadesNegocio: [],
				equipos: [],
				servicios: [],
				tipoMoneda: [
				{ value: 'MXN', text: 'Pesos Méxicanos (MXN)' },
				{ value: 'USD', text: 'US Dollar (USD)' }
				],
				ponderacion: [
				{ value: null, text: 'Seleccione la probabilidad' },
				{ value: '1', text: '1' },
				{ value: '2', text: '2' },
				{ value: '2.5', text: '2.5' },
				{ value: '3', text: '3' }
				],
				radio: '1',
				filtro: [
				{ value: '1', text: 'Filtrar por cliente' },
				{ value: '2', text: 'Filtrar por persona de contacto' },
				],

				form: {
					selectedCliente: null,
					selectedContacto: null,
					tituloNegocio: null,
					selectedEtapa: null,
					selectedUN: null,
					selectedEquipo: null,
					claveConsecutivo: null,
					selectedServicio: null,
					valorNegocio: null,
					selectedTM: 'MXN',
					fechaCierre: null,
					selectedPonderacion: null,
					clave_negocio: null,
					dolar: null,
				}
			}
		},
		mounted() {
			this.onChange()
			this.getClientes()
			this.getContactos()
			this.getEquipos()
			this.getServicios()
			this.getEtapas()
			this.getUnidadesNegocio()
		},
		methods: {
			...mapMutations(['modalSubmit', 'modalOk']),
			...mapMutations('negocios', ['addNegocio']),

			setClaveUN(e){
				this.labUN = this.form.selectedUN.text;
			},
			setClaveEQ(e){
				this.labEquipo = this.form.selectedEquipo.text;
			},
			setClaveSC(e){
				this.labServicio = this.form.selectedServicio.text;
			},
			setClienteContactos(e){
				this.vcontactos = true;
				this.vclientes = null;
				this.getContactosById(e);
			},
			setContactoClientes(e){
				this.vclientes = true;
				this.vcontactos = null;
				this.getClienteById(e);
			},
			getClienteById(contacto) { 
				axios.get(BaseUrl + `/api/vt/contactos/${contacto.value}/clientes/select`)
				.then((response) => {
					this.form.selectedCliente = response.data[0].value
					this.clienteById = response.data
					this.labCliente = this.form.selectedCliente.text
					this.getConsecutivo(this.form.selectedCliente.text)
				});
			},
			getContactosById(cliente) { 
				axios.get(BaseUrl + `/api/vt/clientes/${cliente.value}/contactos/select`)
				.then((response) => {
					this.form.selectedContacto = null
					this.contactosById = response.data
					this.labCliente = cliente.text
					this.getConsecutivo(cliente.text)
				});
			},
			getConsecutivo(claveCliente) { 
				axios.get(BaseUrl + `/api/vt/negocios/clave/consecutivo?clave=${claveCliente}`)
				.then((response) => {
					this.labConsecutivo = response.data
					this.form.claveConsecutivo = response.data
				});
			},
			getClientes() { 
				axios.get(BaseUrl + `/api/vt/clientes/select`)
				.then((response) => {
					this.clientes = response.data;
				});
			},
			getContactos() { 
				axios.get(BaseUrl + `/api/vt/contactos/select`)
				.then((response) => {
					this.contactos = response.data;
				});
			},
			getUnidadesNegocio() {
				axios.get(BaseUrl + `/api/vt/unidad/select`)
				.then((response) => {
					this.unidadesNegocio = response.data;
				});
			},
			getEquipos() {
				axios.get(BaseUrl + `/api/vt/equipos/select`)
				.then((response) => {
					this.equipos = response.data;
				});
			},
			getServicios() {
				axios.get(BaseUrl + `/api/vt/servicios/select`)
				.then((response) => {
					this.servicios = response.data;
				});
			},
			getEtapas() { 
				axios.get(BaseUrl + `/api/vt/etapas/select?idEmbudo=${this.embudoSelected.idEmbudo}`)
				.then((response) => {
					this.etapas = response.data;
				});
			},
			onChange(e) {
				if (e == 1) {
					this.vclientes = null
					this.form.selectedCliente =  null
					this.form.selectedContacto =  null
					this.labCliente =  '---'
					this.labConsecutivo = '----'
				}else if (e == 2){
					this.vcontactos = null
					this.form.selectedContacto =  null
					this.labCliente =  '---'
					this.labConsecutivo = '----'
				}
			},
			submit() {
				this.$v.$touch()
				if (!this.$v.$invalid) {
					if (this.form.selectedEtapa.nombreEtapa === 'Leads') {
						this.form.selectedCliente = {value: this.form.selectedCliente.value, text: ''}
						this.form.claveConsecutivo = ''
						this.form.selectedServicio = {value: '', text: ''}
						this.form.selectedEquipo = {value: 1, text: 'S/E'}
						this.form.selectedUN = {value: 1, text: 'S/UN'}
						this.form.clave_negocio = 'Leads'
					}else{
						this.form.clave_negocio = this.form.selectedCliente.text+'-'+this.form.claveConsecutivo+'-'+this.form.selectedUN.text+'-'+this.form.selectedEquipo.text+'-'+this.form.selectedServicio.text
					}
					this.form.dolar = this.form.dolar === null ? '1' : this.form.dolar;

					const params = {
						cliente_id: this.form.selectedCliente.value,
						contacto_id: this.form.selectedContacto.value,
						titulo_negocio: this.form.tituloNegocio,
						etapa_id: this.form.selectedEtapa.idEtapa,
						unidad_negocio_id: this.form.selectedUN.value,
						equipo_id: this.form.selectedEquipo.value,
						clave_cliente: this.form.selectedCliente.text,
						clave_consecutivo: this.form.claveConsecutivo,
						clave_servicio: this.form.selectedServicio.text,
						valor_negocio: this.form.valorNegocio,
						tipo_moneda: this.form.selectedTM,
						fecha_cierre: this.form.fechaCierre,
						ponderacion: this.form.selectedPonderacion,
						clave_equipo: this.form.selectedEquipo.text,
						clave_unidad_negocio: this.form.selectedUN.text,
						clave_negocio: this.form.clave_negocio,
						cambio_x: this.form.dolar
					}

					console.log(params)
					// axios.post(BaseUrl + '/api/vt/negocios', params)
					// .then((response) => {
					// 	if(response.data.success){
					// 		this.addNegocio(response.data.negocio)
	    //                     this.modalSubmit(true)
	    //                 }
	    //             })
				}else{
					this.modalOk(false)
				}	
			}
		},
		computed: {
			...mapState(['okModal']),

			embudoSelected: function () {
				return this.$store.state.negocios.embudoSelected
			}
		},
		validations: {
			form:{
				selectedCliente: { required },
				selectedContacto: { required },
				tituloNegocio: { 
					required,
					minLength: minLength(4) 
				},
				selectedEtapa: { required },
				selectedUN: { },
				selectedEquipo: { },
				claveConsecutivo: {},
				selectedServicio: { },
				valorNegocio: { 
					required,
					decimal 
				},
				selectedTM: { required },
				fechaCierre: { required },
				selectedPonderacion: { required },
				clave_negocio: {},
				dolar: {},	
			}
		},
		watch: {
			okModal()
			{
				if(this.okModal==true){
					console.log('modalok true')
					this.submit()
				}
			}
		}
	}
</script>
