<template>
	<div>
		<b-navbar
			toggleable="lg"
			v-if="moduleActive"
			type="dark"
			variant="dark"
			class="py-0 shadow"
			:sticky="true"
		>
			<b-navbar-brand href="">
				<b-dropdown
					size="sm"
					variant="link"
					id="image-modules"
					toggle-class="text-decoration-none"
					no-caret
				>
					<template #button-content>
						<b-img
							class="py-0"
							alt="img"
							:src="urlImage"
							style="max-width: 100px; max-height: 45px; cursor: pointer"
						/>
					</template>
					<modules-list-component />
				</b-dropdown>
			</b-navbar-brand>

			<b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
			<ad-navbar-component
				v-if="moduleActive && moduleActive == 'cadmin'"
				:usuario="usuario"
				@showSystemInfo="showSystemInfo"
			/>
			<vt-navbar-component
				v-if="moduleActive && moduleActive == 'ventas'"
				:usuario="usuario"
				@showSystemInfo="showSystemInfo"
			/>
			<nr-navbar-component
				v-if="moduleActive && moduleActive == 'calidad'"
				:usuario="usuario"
				@showSystemInfo="showSystemInfo"
			/>
			<op-navbar-component
				v-if="moduleActive && moduleActive == 'servicios'"
				:usuario="usuario"
				@showSystemInfo="showSystemInfo"
			/>
			<si-navbar-component
				v-if="moduleActive && moduleActive == 'sistemas'"
				:usuario="usuario"
				@showSystemInfo="showSystemInfo"
			/>
			<se-navbar-component
				v-if="moduleActive && moduleActive == 'seguridad'"
				:usuario="usuario"
				@showSystemInfo="showSystemInfo"
			/>
			<fn-navbar-component
				v-if="moduleActive && moduleActive == 'finanzas'"
				:usuario="usuario"
				@showSystemInfo="showSystemInfo"
			/>
			<tk-navbar-component
				v-if="moduleActive && moduleActive == 'tickets'"
				:usuario="usuario"
				@showSystemInfo="showSystemInfo"
			/>
			<co-navbar-component
				v-if="moduleActive && moduleActive == 'compras'"
				:usuario="usuario"
				@showSystemInfo="showSystemInfo"
			/>
			<alm-navbar-component
				v-if="moduleActive && moduleActive == 'almacen'"
				:usuario="usuario"
				@showSystemInfo="showSystemInfo"
			/>
			<th-navbar-component
				v-if="moduleActive && moduleActive == 'talentoHumano'"
				:usuario="usuario"
				@showSystemInfo="showSystemInfo"
			/>
		</b-navbar>

		<transition name="slide-fade" mode="out-in">
			<router-view></router-view>
		</transition>
	</div>
</template>

<script>
import { mapState, mapMutations } from "vuex";

export default {
	props: {
		module: String,
		usuario: Object,
		notCount: Number,
	},
	data() {
		return {
			urlImage: null,
		};
	},
	mounted() {
		this.urlImage = BaseUrl + "/img/logo/logo-blanco.png";
		this.setUsuarioActive(this.usuario);
		this.setNombreUsuario(this.usuario.nombreUsuario);
		this.setNotCount(this.notCount);
		this.getPermisosByUsuario(this.usuario.idUsuario);
		this.setModuleActive(this.module);
	},
	methods: {
		...mapMutations([
			"setUsuario",
			"setNombreUsuario",
			"setPermisosUsuario",
			"setModuleActive",
		]),
		...mapMutations("notifications", ["setNotCount"]),

		setUsuarioActive(usuario) {
			axios
				.get(BaseUrl + `/api/usuario/active/${usuario.idUsuario}`)
				.then((response) => {
					this.setUsuario(response.data);
				});
		},
		makeToast() {
			this.$bvToast.toast("Se han guardado correctamente los cambios", {
				title: "Éxito",
				variant: "success",
				solid: true,
			});
		},
		getPermisosByUsuario(idUsuario) {
			axios
				.get(BaseUrl + `/api/usuarios/${idUsuario}/permisos`)
				.then((response) => {
					this.setPermisosUsuario(response.data);
				});
		},
		showSystemInfo() {
			const h = this.$createElement;
			const messageVNode = h("div", { class: ["foobar", "pt-2"] }, [
				h("b-img", {
					props: {
						src: "/img/logo/logoammmec.png",
						thumbnail: true,
						center: true,
						fluid: true,
						rounded: "circle",
					},
				}),
				h("p", { class: ["text-center", "pt-3"] }, [
					" Herramienta de software para la gestión de clientes y administración de procesos especializada en la empresa AMMMEC. ",
				]),
				h("hr"),
				h("p", { class: ["text-center", "pt-1", "mb-0"] }, [
					"Versión 2.0",
				]),
				h("p", { class: ["text-center", "mb-0"] }, [
					"Copyright 2020-2021",
				]),
			]);
			// We must pass the generated VNodes as arrays
			this.$bvModal.msgBoxOk([messageVNode], {
				title: "ERP AMMMEC",
				titleClass: "text-center",
				buttonSize: "sm",
				okVariant: "danger",
				okTitle: "Listo",
				hideHeaderClose: true,
				hideFooter: true,
				centered: true,
				size: "sm",
			});
		},
		modules() {
			window.location = BaseUrl + "/modulos";
		},
	},
	computed: {
		...mapState(["submitModal", "moduleActive"]),
	},
	watch: {
		submitModal() {
			if (this.submitModal == true) this.makeToast("success");
		},
	},
};
</script>

<style>
.dropdown-item:active {
	background-color: rgb(106, 115, 123) !important;
}

.active {
	background-color: #dc3545 !important;
}

.pagination .page-item.active .page-link,
.pagination .active > a,
.pagination .active > a:hover,
.pagination .active > a:focus,
.pagination .active > span,
.pagination .active > span:hover,
.pagination .active > span:focus {
	background-color: #dc3545 !important;
	border-color: #dc3545 !important;
	color: #fff !important;
}

.custom-control-input:checked ~ .custom-control-label::before {
	color: #fff;
	border-color: #dc3545 !important;
	background-color: #dc3545 !important;
}

.btn-danger {
	background-color: rgb(192, 0, 0) !important;
}

.btn-light {
	background-color: rgb(159, 161, 164, 0.1) !important;
	border-color: rgb(159, 161, 164, 0.1);
	color: rgb(69, 85, 95) !important;
}

.bg-danger {
	background-color: rgb(192, 0, 0) !important;
	color: white;
}

.bg-danger-15 {
	background-color: rgb(227, 27, 35, 0.15) !important;
	color: rgb(69, 85, 95) !important;
}

.bg-danger-35 {
	background-color: rgb(227, 27, 35, 0.35) !important;
	color: rgb(69, 85, 95) !important;
}

.bg-light-0 {
	background-color: rgb(159, 161, 164, 0) !important;
	color: rgb(69, 85, 95) !important;
}

.bg-light {
	/* background-color: rgb(159, 161, 164, .1) !important;  */
	background-color: rgb(
		245 245 246
	) !important; /* Es el mismo pero sin opacidad */
	color: rgb(69, 85, 95) !important;
}

.bg-light-9 {
	background-color: rgb(159, 161, 164, 09) !important;
	color: rgb(69, 85, 95) !important;
}

.bg-light-8 {
	background-color: rgb(159, 161, 164, 0.08) !important;
	color: rgb(69, 85, 95) !important;
}

.bg-light-5 {
	background-color: rgb(159, 161, 164, 0.05) !important;
	color: rgb(69, 85, 95) !important;
}

.bg-light-15 {
	background-color: rgb(159, 161, 164, 0.15) !important;
	color: rgb(69, 85, 95) !important;
}

.bg-light-35 {
	background-color: rgb(159, 161, 164, 0.35) !important;
	color: rgb(69, 85, 95) !important;
}

.bg-dark {
	background-color: rgb(69, 85, 95) !important;
	color: white;
}

.bg-secondary {
	background-color: rgb(106, 115, 123) !important;
}

.bg-secondary-15 {
	background-color: rgb(106, 115, 123, 0.15) !important;
}

.bg-secondary-10 {
	background-color: rgb(106, 115, 123, 0.1) !important;
}

.alert-secondary {
	background-color: rgb(106, 115, 123, 0.2) !important;
	color: rgb(69, 85, 95) !important;
}

.bg-white {
	background-color: white;
}

.navbar-dark {
	background-color: rgb(69, 85, 95) !important;
}

.text-dark {
	color: rgb(69, 85, 95) !important;
}

.text-danger {
	color: #dc3545 !important;
}

.text-dark-80 {
	color: rgb(69, 85, 95, 0.8) !important;
}

.text-secondary {
	color: rgb(106, 115, 123) !important;
}

.danger {
	color: rgb(192, 0, 0) !important;
}

.card-header {
	background-color: rgb(159, 161, 164, 0.35) !important;
	color: rgb(69, 85, 95) !important;
}

.bg-dark-90 {
	background-color: rgb(69, 85, 95, 0.9) !important;
}
.bg-dark-30 {
	background-color: rgb(69, 85, 95, 0.3) !important;
}

.badge-light {
	background-color: rgb(245, 246, 246) !important;
	color: rgb(69, 85, 95) !important;
}

.badge-light-35 {
	background-color: rgb(223, 224, 225) !important;
	color: rgb(69, 85, 95) !important;
}

.badge-dark {
	background-color: rgb(69, 85, 95) !important;
}

.icon-shape > i,
.icon-shape > span {
	position: absolute;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	left: 50%;
	top: 50%;
}

.card {
	border: 1px solid #dfe0e1 !important;
}

.border {
	border: 1px solid #dfe0e1 !important;
}

.icon-shape {
	position: relative;
	display: inline-block;
	border-radius: 50%;
	font-size: 1.549rem;
	min-width: 2.75rem;
	height: 2.75rem;
	min-height: 2.75rem;
	width: 2.75rem;
	min-width: 2.75rem;
}

#input-shadow:focus-within {
	-webkit-box-shadow: 0px 1px 6px 2px rgba(0, 0, 0, 0.32) !important;
	-moz-box-shadow: 0px 1px 6px 2px rgba(0, 0, 0, 0.32) !important;
	box-shadow: 0px 1px 6px 2px rgba(0, 0, 0, 0.32) !important;
	transition: all 0.1s linear;
}

.shadows:hover {
	-webkit-box-shadow: 0px 1px 6px 2px rgba(0, 0, 0, 0.32) !important;
	-moz-box-shadow: 0px 1px 6px 2px rgba(0, 0, 0, 0.32) !important;
	box-shadow: 0px 1px 6px 2px rgba(0, 0, 0, 0.32) !important;
	transition: all 0.1s linear;
}

fieldset.scheduler-border {
	border: 1px solid #dee2e6 !important;
	padding: 0 1.4em 0.5em 1.4em !important;
	margin: 0 0 1.5em 0 !important;
	-webkit-box-shadow: 0px 0px 0px 0px #000;
	box-shadow: 0px 0px 0px 0px #000;
}
legend.scheduler-border {
	width: inherit; /* Or auto */
	padding: 0 10px; /* To give a bit of padding on the left and right */
	border-bottom: none;
}

.lab-form {
	display: flex;
	align-items: center;
	margin-bottom: 3px;
	color: rgb(50, 49, 48);
	font-weight: 600;
}

span.req {
	color: red;
	margin-left: 2px;
}

.link-light {
	color: #acb0b5;
}
.link-light:hover {
	color: #888888;
}
.link-light:focus {
	color: #6a737b !important;
}
.border-active {
	border-bottom: 3px solid #dc3545 !important;
}

.img-content {
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-ms-flex-align: center;
	-ms-flex-pack: center;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
}

span.req {
	color: red;
}
label.form {
	font-weight: bold;
}

#image-modules__BV_toggle_ {
	padding: 0px !important;
}

/* NO SE SABE PARA QUE ES */
.div-content {
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-ms-flex-align: center;
	-ms-flex-pack: center;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
}
.border-light-2 {
	border-color: #6c757d2e;
}
.minh-100 {
	height: calc(100vh - 63px);
}

/* .shadows:hover {
	-webkit-box-shadow: 0px 1px 6px 2px rgba(0, 0, 0, 0.32) !important;
	-moz-box-shadow: 0px 1px 6px 2px rgba(0, 0, 0, 0.32) !important;
	box-shadow: 0px 1px 6px 2px rgba(0, 0, 0, 0.32) !important;
}
fieldset.scheduler-border {
	border: 1px solid #dee2e6 !important;
	padding: 0 1.4em 0.5em 1.4em !important;
	margin: 0 0 1.5em 0 !important;
	-webkit-box-shadow: 0px 0px 0px 0px #000;
	box-shadow: 0px 0px 0px 0px #000;
}
legend.scheduler-border {
	width: inherit; 
	padding: 0 10px; 
	border-bottom: none;
} */
</style>
