<template>
	<div>
		<ckeditor
			:editor="editor"
			v-model="editorData"
			class="editor"
			:config="editorConfig"
			@ready="getData"
			@blur="blur"
            ref="editor"
		></ckeditor>
	</div>
</template>

<script>
import ClassicEditor from "@ckeditor/ckeditor5-build-classic";

export default {
	props: {
		lastInfo: String,
		editorConf: Object,
	},
	mounted() {
		if (this.editorConf) {
			this.editorConfig = this.editorConf;
		}
        // this.$nextTick(() => this.$refs.editor.focus())
	},
	data() {
		return {
			editor: ClassicEditor,
			editorConfig: {
				toolbar: [
					"heading",
					"|",
					"bold",
					"italic",
					"link",
					"bulletedList",
					"numberedList",
					"undo",
					"redo",
				],
				// heading: {
				//     options: [
				//         { model: 'paragraph', title: 'Paragraph', class: 'ck-heading_paragraph' },
				//         { model: 'heading1', view: 'h1', title: 'Heading 1', class: 'ck-heading_heading1' },
				//         { model: 'heading2', view: 'h2', title: 'Heading 2', class: 'ck-heading_heading2' }
				//     ]
				// }
			},
			editorData: "",
		};
	},
	methods: {
		getData(editor) {
			this.editorData = this.lastInfo;
		},
		blur() {
            this.$emit("blur");
        },
	},
	watch: {
		editorData() {
			this.$emit("getEditor", this.editorData);
		},
		lastInfo() {
			this.editorData = this.lastInfo;
		},
	},
};
</script>
