<template>
	<div>
		<h5 class="text-center mt-4 text-secondary" v-if="loading">
			<b-spinner class="ml-auto" small></b-spinner>
			Cargando
		</h5>
		<template v-else>
			<b-form-group class="mb-0" v-if="!crearCuenta">
				<template v-slot:label>
					<div class="lab-form">Cuentas Registradas</div>
				</template>
				<b-form-select
					:options="selectCuentas"
					v-model="cuenta"
					:state="$v.cuenta.$dirty ? !$v.cuenta.$error : null"
				>
					<template v-slot:first>
						<option :value="null" disabled>Seleccione</option>
					</template>
				</b-form-select>
				<b-form-invalid-feedback id="feedback-cuenta">
					Campo obligatorio
				</b-form-invalid-feedback>
				<b-button
					variant="link"
					class="text-secondary float-right"
					@click="crearCuenta = true"
					><small>Crear cuenta</small></b-button
				>
			</b-form-group>

			<template v-if="crearCuenta">
				<div class="lab-form mb-2">
					Nueva cuenta<span class="req">*</span>
				</div>
				<b-card class="shadow-sm text-center bg-light">
					<h3 class="mb-0">
						{{ codigoNegocio }} - {{ codigoDepartamento }} -
						{{ codigoCategoria }} - {{ consecutivo }}
					</h3>
				</b-card>

				<b-row class="mt-3">
					<b-col lg="4">
						<b-form-group label="Negocio">
							<b-form-select
								:options="selectNegocios"
								v-model="$v.codigoNegocio.$model"
								:state="
									$v.codigoNegocio.$dirty
										? !$v.codigoNegocio.$error
										: null
								"
							>
								<template v-slot:first>
									<option :value="null" disabled>
										Seleccione
									</option>
								</template>
							</b-form-select>
						</b-form-group>
					</b-col>
					<b-col lg="4">
						<b-form-group label="Departamento">
							<b-form-select
								:options="selectDepartamentos"
								v-model="$v.codigoDepartamento.$model"
								:state="
									$v.codigoDepartamento.$dirty
										? !$v.codigoDepartamento.$error
										: null
								"
							>
								<template v-slot:first>
									<option :value="null" disabled>
										Seleccione
									</option>
								</template>
							</b-form-select>
						</b-form-group>
					</b-col>
					<b-col lg="4">
						<b-form-group label="Categoría">
							<b-form-select
								:options="selectCategorias"
								v-model="$v.codigoCategoria.$model"
								:state="
									$v.codigoCategoria.$dirty
										? !$v.codigoCategoria.$error
										: null
								"
							>
								<template v-slot:first>
									<option :value="null" disabled>
										Seleccione
									</option>
								</template>
							</b-form-select>
						</b-form-group>
					</b-col>
				</b-row>

				<b-card class="mb-3 bg-light" no-body v-if="codigoCategoria">
					<div class="px-3">
						<h4 class="mb-0 ml-1 py-3">{{ tituloTable }}</h4>
						<div
							class="input-group w-100 bg-white border mb-3"
							id="input-shadow"
						>
							<div class="input-group-prepend bg-light mr-1 ml-3">
								<div class="pt-1 bg-white">
									<i class="fas fa-search"></i>
								</div>
							</div>
							<b-form-input
								id="input-search"
								size="sm"
								class="form-control border-0"
								placeholder="Escribe tu busqueda aquí"
								v-model="filter"
								autocomplete="off"
							></b-form-input>
						</div>
					</div>
					<div
						style="max-height: 230px; overflow: auto"
						v-if="!tbLoading"
					>
						<b-table
							:fields="fields"
							:items="itemsFiltered"
							selectable
							thead-class="hidden_header"
							class="mb-0 bg-white text-left"
							@row-selected="onRowSelected"
							select-mode="single"
						>
							<template #cell()="data">
								<h6 class="mb-0">
									{{ data.item.nombre }}
								</h6>
								<small
									class="text-secondary"
									v-if="codigoCategoria == 'PR'"
								>
									{{ data.item.departamento }}
								</small>
							</template>
						</b-table>
					</div>
					<div v-else class="bg-white">
						<b-skeleton-table
							:rows="5"
							:columns="1"
							:table-props="{ bordered: true }"
						></b-skeleton-table>
					</div>
					<h5
						class="pt-3 pb-4 text-center"
						v-if="!itemsFiltered.length && !tbLoading"
					>
						<i class="fas fa-info-circle"></i> No se encontraron
						resultados
					</h5>
				</b-card>

				<b-card v-else class="mb-3 bg-light border-danger">
					<h5 class="my-3 text-center">
						<i class="fas fa-info-circle"></i> Seleccione una
						categoría
					</h5>
				</b-card>

				<div
					v-if="$v.consecutivo.$error"
					class="mb-3"
					style="margin-top: -5px"
				>
					<b-form-invalid-feedback style="display: block">
						Requerido
					</b-form-invalid-feedback>
				</div>
			</template>

			<b-button
				size="sm"
				variant="light"
				class="mt-2"
				@click="asignar"
				:disabled="!cuentaValidate"
			>
				<font class="text-success"
					><i class="fas fa-check mx-1"></i> Asignar</font
				>
			</b-button>

			<b-button
				size="sm"
				variant="link"
				class="text-secondary mt-2 ml-1"
				@click="cancelar"
			>
				Cancelar
			</b-button>
		</template>
	</div>
</template>

<script>
import { mapState } from "vuex";
import { required } from "vuelidate/lib/validators";

export default {
	props: {
		seccion: String,
		cuentaEdit: String,
		tipoCuenta: String,
	},
	data() {
		return {
			fields: ["nombre"],
			filter: "",

			cuenta: null,
			cuentasInternas: [],
			crearCuenta: false,

			codigoDepartamento: null,
			codigoNegocio: null,
			codigoCategoria: null,
			consecutivo: "",
			consecutivoOld: "",

			negocios: [],
			departamentos: [],
			categorias: [],
			procesos: [],
			activos: [],
			colaboradores: [],
			noProductivos: [],
			tbLoading: true,
			loading: true,
		};
	},
	mounted() {
		this.getUnidadesNegocio();
		this.getDepartamentos();
		this.getCategorias();

		if (this.seccion == "op.ra") {
			this.getCuentasRegistradasRA();
		} else if (this.seccion == "fn.cg") {
			this.getCuentasRegistradasCG();
		} else {
			this.cuentasInternas = [];
			this.loading = false;
			this.crearCuenta = true;
		}
	},
	methods: {
		getUnidadesNegocio() {
			axios
				.get(BaseUrl + `/api/fn/cc/unidades-negocio`)
				.then((response) => {
					if (response.data) this.negocios = response.data;
				});
		},
		getDepartamentos() {
			axios.get(BaseUrl + `/api/fn/cc/departamentos`).then((response) => {
				if (response.data) this.departamentos = response.data;
			});
		},
		getCategorias() {
			axios.get(BaseUrl + `/api/fn/cc/categorias`).then((response) => {
				if (response.data) this.categorias = response.data;
			});
		},
		getColaboradores() {
			axios.get(BaseUrl + `/api/fn/cc/colaboradores`).then((response) => {
				if (response.data) this.colaboradores = response.data;
				this.tbLoading = false;
			});
		},
		getProcesos() {
			axios.get(BaseUrl + `/api/fn/cc/procesos`).then((response) => {
				if (response.data) this.procesos = response.data;
				this.tbLoading = false;
			});
		},
		getNoProductivos() {
			axios
				.get(BaseUrl + `/api/fn/cc/no-productivos`)
				.then((response) => {
					if (response.data) this.noProductivos = response.data;
					this.tbLoading = false;
				});
		},
		getActivos() {
			this.tbLoading = false;
		},
		getCuentasRegistradasRA() {
			axios
				.get(
					BaseUrl +
						`/api/op/ra/semanas/${this.semana.idSemana}/cuentas/${this.tipoCuenta}`
				)
				.then((response) => {
					if (!response.data.length) this.crearCuenta = true;
					else this.crearCuenta = false;
					if (response.data) this.cuentasInternas = response.data;
					this.loading = false;
				});
		},
		getCuentasRegistradasCG() {
			axios
				.get(
					BaseUrl +
						`/api/fn/cg/solicitudes/${this.solicitudActiva.idSolicitud}/cuentas/${this.tipoCuenta}`
				)
				.then((response) => {
					if (!response.data.length) this.crearCuenta = true;
					if (response.data) this.cuentasInternas = response.data;
					this.loading = false;
				});
		},
		getCuentasSemanaByUsuario() {},
		onRowSelected(items) {
			this.consecutivoOld = this.consecutivo;
			if (items.length) {
				if (this.codigoCategoria == "PR")
					this.codigoDepartamento = items[0].codigo_departamento;
				if (this.codigoCategoria == "CO") {
					var noEmpleado = items[0].noEmpleado.split("-", 2);
					this.consecutivo = noEmpleado[0];
				} else {
					this.consecutivo = items[0].codigo;
				}
			}
		},
		asignar() {
			this.$v.$touch();
			if (!this.$v.$invalid) {
				if (this.crearCuenta)
					this.cuenta =
						this.codigoNegocio +
						"-" +
						this.codigoDepartamento +
						"-" +
						this.codigoCategoria +
						"-" +
						this.consecutivo;
				this.$emit("setCuenta", this.cuenta);
			}
		},
		cancelar() {
			this.$emit("cancelar");
		},
	},
	computed: {
		...mapState("solicitudes_gastos", ["solicitudActiva"]),
		...mapState("reporte_actividades", ["semana"]),

		selectDepartamentos() {
			return this.departamentos.map(function(departamento) {
				return {
					value: departamento.codigo,
					text: departamento.nombre,
				};
			});
		},
		selectNegocios() {
			return this.negocios.map(function(negocio) {
				return {
					value: negocio.claveUnidadNegocio,
					text: negocio.unidadNegocio,
				};
			});
		},
		selectCategorias() {
			if (this.seccion == "op.ra") this.categorias.splice(1, 1);
			return this.categorias.map(function(categoria) {
				return {
					value: categoria.codigo,
					text: categoria.nombre,
				};
			});
		},
		itemsFiltered() {
			if (this.codigoCategoria == "PR") {
				var procesos = this.procesos;
				if (this.codigoDepartamento)
					procesos = this.procesos.filter(
						(proceso) =>
							proceso.codigo_departamento ==
							this.codigoDepartamento
					);
				if (this.filter)
					return procesos.filter(
						(proceso) =>
							proceso.nombre
								.toLowerCase()
								.indexOf(this.filter.toLowerCase()) > -1 ||
							proceso.departamento
								.toLowerCase()
								.indexOf(this.filter.toLowerCase()) > -1
					);
				return procesos;
			} else if (this.codigoCategoria == "CO") {
				if (this.filter)
					return this.colaboradores.filter(
						(colaborador) =>
							colaborador.nombre
								.toLowerCase()
								.indexOf(this.filter.toLowerCase()) > -1
					);
				return this.colaboradores;
			} else if (this.codigoCategoria == "NP") {
				if (this.filter)
					return this.noProductivos.filter(
						(noProductivo) =>
							noProductivo.nombre
								.toLowerCase()
								.indexOf(this.filter.toLowerCase()) > -1
					);
				return this.noProductivos;
			} else if (this.codigoCategoria == "AC") {
				return this.activos;
			}
		},
		tituloTable() {
			switch (this.codigoCategoria) {
				case "PR":
					return "Procesos";
					break;
				case "CO":
					return "Colaboradores";
					break;
				case "AC":
					return "Activos";
					break;
				case "NP":
					return "No productivos";
					break;
				default:
					break;
			}
		},
		cuentaValidate() {
			if (this.crearCuenta) {
				if (
					this.codigoDepartamento &&
					this.codigoNegocio &&
					this.codigoCategoria &&
					this.consecutivo
				)
					return true;
			} else return this.cuenta;
		},
		selectCuentas() {
			return this.cuentasInternas.map(function(cuenta) {
				return cuenta.cuenta;
			});
		},
	},
	watch: {
		codigoDepartamento() {
			if (this.consecutivoOld != "") {
				this.consecutivo = "";
			}
		},
		codigoCategoria() {
			this.consecutivo = "";
			this.tbLoading = true;
			switch (this.codigoCategoria) {
				case "PR":
					this.getProcesos();
					break;
				case "CO":
					this.getColaboradores();
					break;
				case "AC":
					this.getActivos();
					break;
				case "NP":
					this.getNoProductivos();
					break;
				default:
					break;
			}
		},
		cuentasInternas() {
			if (this.cuentaEdit) {
				let cuenta = this.cuentasInternas.find(
					(cuenta) => cuenta.cuenta == this.cuentaEdit
				);
				if (!cuenta)
					this.cuentasInternas.push({ cuenta: this.cuentaEdit });
				this.cuenta = this.cuentaEdit;
			}
		},
		tipoCuenta() {
			if (this.seccion == "op.ra") {
				this.getCuentasRegistradasRA();
			}
		},
	},
	validations() {
		if (this.crearCuenta) {
			return {
				codigoDepartamento: { required },
				codigoNegocio: { required },
				codigoCategoria: { required },
				consecutivo: { required },
			};
		} else {
			return {
				cuenta: { required },
			};
		}
	},
};
</script>
