<template>
	<div>
		<h5 class="text-center mt-4 text-secondary" v-if="loading">
			<b-spinner class="ml-auto" small></b-spinner>
			Cargando
		</h5>
		<template v-else>
			<b-form-group class="mb-0" v-if="!buscarCuenta">
				<template v-slot:label>
					<div class="lab-form">Cuentas Registradas</div>
				</template>
				<b-form-select
					:options="selectCuentas"
					v-model="cuenta"
					:state="$v.cuenta.$dirty ? !$v.cuenta.$error : null"
				>
					<template v-slot:first>
						<option :value="null" disabled>Seleccione</option>
					</template>
				</b-form-select>
				<b-form-invalid-feedback id="feedback-cuenta">
					Campo obligatorio
				</b-form-invalid-feedback>
				<b-button
					variant="link"
					class="text-secondary float-right"
					@click="buscarCuenta = true"
					><small>Buscar cuenta</small></b-button
				>
			</b-form-group>

			<template v-else>
				<b-card class="mb-3 bg-light" no-body>
					<div class="px-3">
						<h4 class="mb-0 ml-1 py-3">
							Cuentas Externas

							<b-form-select
								class="w-25 float-right"
								size="sm"
								v-model="embudo"
								:options="embudos"
								@change="getNegocios()"
							>
							</b-form-select>
						</h4>

						<div
							class="input-group w-100 bg-white border mb-3"
							id="input-shadow"
						>
							<div class="input-group-prepend bg-light mr-1 ml-3">
								<div class="pt-1 bg-white">
									<i class="fas fa-search"></i>
								</div>
							</div>
							<b-form-input
								id="input-search"
								size="sm"
								class="form-control border-0"
								placeholder="Escribe tu busqueda aquí"
								v-model="filter"
								autocomplete="off"
							></b-form-input>
						</div>
					</div>

					<div
						v-if="!tbLoading"
						style="max-height: 230px; overflow: auto"
					>
						<b-table
							:fields="fields"
							:items="itemsFiltered"
							selectable
							thead-class="hidden_header"
							class="mb-0 bg-white text-left"
							@row-selected="onRowSelected"
							select-mode="single"
						>
							<template #cell()="data">
								<h6 class="mb-0">
									{{ data.item.claveNegocioCompleta }}
								</h6>
								<small class="text-secondary">
									{{ data.item.tituloNegocio }}
								</small>
							</template>
						</b-table>
					</div>
					<div v-else class="bg-white">
						<b-skeleton-table
							:rows="5"
							:columns="1"
							:table-props="{ bordered: true }"
						></b-skeleton-table>
					</div>
					<h5
						class="pt-3 pb-4 text-center"
						v-if="!itemsFiltered.length && !tbLoading"
					>
						<i class="fas fa-info-circle"></i> No se encontraron
						resultados
					</h5>
				</b-card>
			</template>
		</template>

		<template v-if="!loading">
			<b-button
				size="sm"
				variant="light"
				class="mt-2"
				@click="asignar"
				:disabled="!cuentaValidate"
			>
				<font class="text-success"
					><i class="fas fa-check mx-1"></i> Asignar</font
				>
			</b-button>

			<b-button
				size="sm"
				variant="link"
				class="text-secondary mt-2 ml-1"
				@click="cancelar"
			>
				Cancelar
			</b-button>
		</template>
	</div>
</template>

<script>
import { mapActions, mapState, mapMutations } from "vuex";
import { required } from "vuelidate/lib/validators";

export default {
	props: {
		seccion: String,
		cuentaEdit: String,
	},
	data() {
		return {
			filter: "",
			fields: ["claveNegocioCompleta"],
			cuenta: null,
			cuentasExternas: [],
			buscarCuenta: false,
			negocios: [],
			selected: null,
			loading: true,
			tbLoading: true,
			embudo: "2024",
			embudos: ["2021", "2022", "2023", "2024"],
		};
	},
	mounted() {
		if (this.seccion == "fn.cg") {
			this.getCuentasRegistradasCG();
		} else if (this.seccion == "op.ra") {
			this.getCuentasRegistradasRA();
		} else if (this.seccion == "co.ss") {
			this.getCuentasRegistradasSS();
		} else if (this.seccion == "fn.cg.sv") {
			this.getCuentasRegistradasSV();
		} else {
			this.cuentasInternas = [];
			this.loading = false;
			this.crearCuenta = true;
		}
	},
	methods: {
		async getNegocios() {
			this.tbLoading = true;
			this.buscarCuenta = true;
			const response = await axios.get(
				BaseUrl +
					`/api/vt/negocios/secciones/${this.seccion}/embudos/${this.embudo}`
			);
			if (response.data) {
				this.tbLoading = false;
				this.negocios = response.data;
			}
		},
		getCuentasRegistradasRA() {
			axios
				.get(
					BaseUrl +
						`/api/op/ra/semanas/${this.semana.idSemana}/cuentas/Externa`
				)
				.then((response) => {
					if (!response.data.length) this.buscarCuenta = true;
					if (response.data) this.cuentasExternas = response.data;
					this.loading = false;
				});
		},
		getCuentasRegistradasCG() {
			axios
				.get(
					BaseUrl +
						`/api/fn/cg/solicitudes/${this.solicitudActiva.idSolicitud}/cuentas/Externa`
				)
				.then((response) => {
					if (!response.data.length) this.buscarCuenta = true;
					if (response.data) this.cuentasExternas = response.data;
					this.loading = false;
				});
		},
		getCuentasRegistradasSS() {
			axios
				.get(BaseUrl + `/api/alm/ss/solicitudes/cuentas/Externa`)
				.then((response) => {
					if (!response.data.length) this.buscarCuenta = true;
					if (response.data) this.cuentasExternas = response.data;
					this.loading = false;
				});
		},
		getCuentasRegistradasSV() {
			axios
				.get(
					BaseUrl + `/api/fn/cg/solicitudes/viaticos/cuentas/Externa`
				)
				.then((response) => {
					if (!response.data.length) this.buscarCuenta = true;
					if (response.data) this.cuentasExternas = response.data;
					this.loading = false;
				});
		},
		onRowSelected(items) {
			this.selected = items[0];
		},
		asignar() {
			if (this.buscarCuenta)
				this.cuenta = this.selected.claveNegocioCompleta;
			this.$emit("setCuenta", this.cuenta);
		},
		cancelar() {
			this.$emit("cancelar");
		},
	},
	computed: {
		...mapState("solicitudes_gastos", ["solicitudActiva"]),
		...mapState("reporte_actividades", ["semana"]),

		selectCuentas() {
			return this.cuentasExternas.map(function(cuenta) {
				return cuenta.cuenta;
			});
		},
		cuentaValidate() {
			if (this.buscarCuenta) {
				if (this.selected) return true;
			} else return this.cuenta;
		},
		itemsFiltered() {
			if (this.filter) {
				if (this.negocios) {
					return this.negocios.filter(
						(negocio) =>
							(negocio.tituloNegocio &&
								negocio.tituloNegocio
									.toLowerCase()
									.indexOf(this.filter.toLowerCase()) > -1) ||
							(negocio.claveNegocioCompleta &&
								negocio.claveNegocioCompleta
									.toLowerCase()
									.indexOf(this.filter.toLowerCase()) > -1)
					);
				} else return [];
			} else return this.negocios;
		},
	},
	watch: {
		buscarCuenta() {
			if (this.buscarCuenta) this.getNegocios();
		},
		cuentasExternas() {
			if (this.cuentaEdit) {
				let cuenta = this.cuentasExternas.find(
					(cuenta) => cuenta.cuenta == this.cuentaEdit
				);
				if (!cuenta)
					this.cuentasExternas.push({ cuenta: this.cuentaEdit });
				this.cuenta = this.cuentaEdit;
			}
		},
	},
	validations() {
		if (!this.buscarCuenta) {
			return {
				cuenta: { required },
			};
		}
	},
};
</script>
