<template>
	<div>
		<b-form-group class="mb-0" v-show="!ror">
			<template v-slot:label>
				<div class="lab-form">
					Empleado<span class="req">*</span>
				</div>
			</template>
			<b-form-select
				v-model="empleado"
				:state="state"
				:options="empleados"
			>
				<template v-slot:first>
					<option :value="null">
						Seleccione un empleado
					</option>
				</template>
			</b-form-select>
			<b-button
				variant="link"
				class="text-secondary float-right mb-0"
				style="cursor:pointer"
				@click="registrarOtraPersona"
				><small>Registrar otra persona</small></b-button
			>
		</b-form-group>

		<b-form-group label="Empleado" class="mb-0" v-show="ror">
			<b-form-input
				ref="empleado"
				v-model="empleado"
				:state="state"
				placeholder="Nombre de la persona"
				autocomplete="off"
			>
			</b-form-input>
			<b-button
				variant="link"
				class="text-secondary float-right mb-0"
				style="cursor:pointer"
				@click="verListaEmpleados"
				><small>Ver lista de empleados</small></b-button
			>
		</b-form-group>
	</div>
</template>

<script>
export default {
    props: {
        state: Boolean,
        empleadoEdit: String,
    },
    data() {
        return {
            ror: false,
            empleado: null,
            empleados: []
        }
    },
    mounted() {
        this.getEmpleados();
    },
    methods: {
        getEmpleados() {
            axios.get(BaseUrl + `/api/empleados`).then((response) => {
                this.empleados = response.data.map(function(empleado) {
                    return { value: empleado.nombre, text: empleado.nombre };
                });
            });
		},
		registrarOtraPersona() {
			this.ror = true;
			setTimeout(this.focusEmpleado, 100);
		},
		focusEmpleado() {
			this.$refs.empleado.focus();
		},
		verListaEmpleados() {
			this.ror = false;
			if (this.empleado == "") this.empleado = null;
		},
    },
    watch: {
        empleado() {
            this.$emit('getEmpleado', this.empleado)
        },
        empleadoEdit() {
            this.empleado = this.empleadoEdit
        }
    }
};
</script>
