<template>
	<div>
		<b-row class="mt-3">
			<b-col lg="10">
				<slot>

				</slot>
			</b-col>

			<b-col lg="2">
				<b-form-group :class="classFilter">
			      	<b-input-group size="sm">
			       		<b-form-input
			          		:value="filter"
			          		@input="setFilter"
			          		type="search"
			          		id="filterInput"
			          		placeholder="Ingresa tu búsqueda"
			       			>		
			       		</b-form-input>
			        	<b-input-group-append v-if="isShow">
			          		<b-button size="sm" v-b-modal.modal-columnsfiltered variant="light" class="border" :class="{[active]: isActive}">
			          			<i class="fas fa-filter" :class="{[iconActive]: isActive}"></i>
			          		</b-button>
			        	</b-input-group-append>
			      	</b-input-group>
			    </b-form-group>
			</b-col>
		</b-row>
		<modal-filter-fields-component />
	</div>
</template>

 <script>
	
	import { mapState, mapMutations, mapActions } from 'vuex'

 	export default {
		props: {
			filterMarginTop: Number
		},
 		data() {
 			return {
				active: 'bg-secondary border',
				iconActive: "text-white",
 				isActive: false,
 				isShow: true
 			}	
 		},
 		mounted(){
 		
 		},
 		methods:{
 			...mapMutations(['setFilter']),
 		},
		computed:{	
			...mapState(['filter', 'routeName', 'filterOn', 'filterOnNeg']),
			classFilter() {
				switch (this.filterMarginTop) {
					case 1:
						return 'mt-1'
						break;
					case 2:
						return 'mt-2'
						break;
					case 3:
						return 'mt-3'
						break;
					case 4:
						return 'mt-4'
						break;
					case 5:
						return 'mt-5'
						break;
					default:
						break;
				}
			}
		},
		watch :{
			filterOnNeg()
			{
				if(this.filterOnNeg.length)
 					this.isActive = true;
 				else
 					this.isActive = false
			},
			filterOn()
			{
				if(this.filterOn.length)
 					this.isActive = true
 				else
 					this.isActive = false
			},
			routeName()
			{
				if(this.routeName=='negocios.seguimiento')
				{
					if(this.filterOnNeg.length)
	 					this.isActive = true;
	 				else
	 					this.isActive = false
				}else{
					if(this.filterOn.length)
	 					this.isActive = true;
	 				else
	 					this.isActive = false
				}
				if(this.routeName=='negocios.embudos')
					this.isShow=false
				else
					this.isShow=true
			},
		}
	}
 </script>

 