<template>
	<div>
		<h1 class="display-1" 
			style="font-size: 24px">
			¿Esta seguro que decea eliminar el siguiente registro?
		</h1>
		<h3 class="display-1 mt-3" 
			style="font-size: 19px"> 
			<strong>{{ formDelete.tipo }}:</strong>  
			{{ formDelete.registro }}
		</h3>
		<b-alert variant="danger"  fade :show="error" @dismissed="error=false">
      <strong>Error:</strong> Ha ocurrido un error al intentar eliminar los datos, asegurese
	  que el elemento deceado a eliminar no tenga datos ligados, el id del error es el siguiente: <i> {{mensaje}} </i>, 
	  Pongase en contacto con el administrador para mas información. <u class="color-link"><a class="color-link" href="http://smartconsulting.mx/tickets/public/" target="_blank">Abrir Ticket</a></u>
    </b-alert>
	
	</div>	
		
</template>

<script>
	import { mapState, mapMutations } from 'vuex' 
	export default {
		data() {
			return {
				error: false,
				mensaje: '',
			}
		},
		mounted() {
			
		},
		methods: {			
			...mapMutations(['modalSubmit', 'modalOk', 'modalHidden']),
			...mapMutations('clientes', ['delElementCliente']),
			...mapMutations('contactos', ['delElementContacto']),
			...mapMutations('actividades', ['delElementActividad']),
			...mapMutations('notas', ['delElementComentario']),
			...mapMutations('notas', ['delElementNota']),
			...mapMutations('notas',['setIdNota']),
			...mapMutations('areas',['delElementProceso']),
			...mapMutations('areas',['delElementProcedimiento']),
			...mapMutations('historial_clinico',['delElementHC']),

			async submit() {
				try{
				await axios.delete(BaseUrl + `/api/${this.formDelete.dpto}/${this.formDelete.section}/${this.formDelete.id}`)
	            .then(response => {
						if(response.data.success)
						{
							switch (this.formDelete.section) {
								case 'clientes':
									this.delElementCliente(this.formDelete.id)
									break;
								case 'contactos':
									this.delElementContacto(this.formDelete.id)
									break;
								case 'actividades':
									this.delElementActividad(this.formDelete)
									break;
								case 'comentarios':
									this.delElementComentario(this.formDelete.id)
									break;
								case 'notas':
									this.delElementNota(this.formDelete.id)
									if(this.formDelete.id == this.idNota)
										this.setIdNota(null);
									break;
								case 'procesos':
									this.delElementProceso(this.formDelete.id)
									break;
								case 'procedimientos':
									this.delElementProcedimiento(this.formDelete.id)
									break;
								case 'salud/historial-clinico':
									this.delElementHC(this.formDelete.id)
									break;
							}
						}
						this.modalHidden(true)
					})
					
				} catch (e) {
					 this.error = true;
					 this.mensaje = ' ' + e.message;
				}
			},
		},
		computed: {
			...mapState(['okModal', 'formDelete', 'hiddenModal']),
			...mapState('notas', ['idNota']),
			// section()
			// {
			// 	//Este metodo manda la sección con la primer letra mayuscula y le quita la s del final para que
			// 	// diga Cliente o Contacto en vez de clientes o contactos en la información del registro que se
			// 	// va a eliminar
			// 	const subc = this.formDelete.section.charAt(0).toUpperCase() + this.formDelete.section.slice(1)
			// 	return subc.substring(0, subc.length - 1);
			// }
		},
		watch: {
			okModal()
			{
				if(this.okModal==true){
					this.submit()
				}
			}
		}
	}
</script>

<style>
		.color-link{
			color: #941C24;
		}
	</style>