<template>
	<div>
		<b-card no-body class="mt-3 pt-2 pb-3">
			<b-row class="text-center">
				<b-col lg="4">
					<slot name="left" />
				</b-col>
				<b-col lg="4">
					<div class="mt-3">
						<h1 class="display-1" 
							style="font-size: 30px;" 
							align="center">			
							{{ title }}
						</h1>
						<slot name="center"></slot>
						<b><p><slot name="down-center"></slot></p></b>
					</div>
				</b-col>
				<b-col lg="4">
    				<slot name="right" />
				</b-col>
			</b-row>
			<b-row>
				<b-col lg="12">
					<slot name="all-row-1"></slot>
				</b-col>
			</b-row>
		</b-card>
	</div>
</template>

<script>
	export default {
		props:{
			title: String,
		},
	}
</script>
