<template>
    <div
        class="text-center w-100 h-100 div-content"
    >
        <b-avatar
            class="image-blurred-edge"
            size="28em"
            :style="myStyle"
        >
       
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-12 text-center">
                    <div class="text-center">
                        <i
                            class="img-fluid rounded mx-auto d-block"
                            :class="icon"
                            style="font-size: 140px;"
                            width="35%"
                            height="35%"
                        ></i>
                    </div>
                    <center>
                        <div class="mt-3" style="width:80%">
                            <h2 class="text-center">
                                {{text}}
                            </h2>
                        </div>
                    </center>
                </div>
            </div>
        </b-avatar>
    </div>            
</template>

<script>
export default {
    props: {
        icon: String,
        text: String,
        circleStyle: Object,
    },
    data() {
        return {
           
        }
    },
    computed: {
        myStyle() {
            if(this.circleStyle) {
                 return this.circleStyle
            }
            else {
                return {
                    backgroundColor: '#e2e4e6',
                    color: '#6c7980'
                }
            }
        },
    }
}
</script>

<style>
.div-content {
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-ms-flex-align: center;
	-ms-flex-pack: center;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
}
.image-blurred-edge { 
    box-shadow: 0 0 10px 4px #f5f5f6 inset; 
}
</style>