<template>
	<b-modal id="modal-columnsfiltered"
		ref="modal"
		size="sm"
		title="Crear nota"
		hidden-foot
		header-class="pb-2"
		header-bg-variant="light">
		<template v-slot:modal-header="{ close }">
				<h1 class="display-1"
					style="font-size: 23px">
					Filtrar por columnas
				</h1>
				<b-button variant="link" 
					size="sm" 
					class="text-secondary" 
					@click="close()">
					<i class="fas fa-times" style="font-size: 15px"></i>
				</b-button>
			</template>
		<b-form-group
	    	class="my-2 ml-4">
	    	<b-form-checkbox-group 
	    			v-if="routeName == 'negocios.embudos'" 
	    			v-model="filterOn"
	    			class="mt-1">
	    		<div v-for="field in filterFields">
	    			<b-form-checkbox :value="field.idEtapa">
	    				{{ field.nombreEtapa }}
	    			</b-form-checkbox>
	    		</div>	
	    	</b-form-checkbox-group>
	    	<b-form-checkbox-group v-else-if="routeName == 'negocios.seguimiento'" 
	    			v-model="filterOnNegocios"	
	    			class="mt-1">
	    		<div v-for="field in filterFields">
	    			<b-form-checkbox v-if="field.type!='s/f'" :value="{key:field.key, type:field.type, label:field.label}">
	    				{{ field.label }}
	    			</b-form-checkbox>
	    		</div>	
	    	</b-form-checkbox-group>
	    	<b-form-checkbox-group v-else 
	    			v-model="filterOn"	
	    			class="mt-1">
	    		<div v-for="field in filterFields">
	    			<b-form-checkbox :value="field.key">
	    				{{ field.label }}
	    			</b-form-checkbox>
	    		</div>	
	    	</b-form-checkbox-group>
		</b-form-group>
		<template v-slot:modal-footer="{ ok, cancel, hide }">
			<b-button variant="success" size="sm" @click="ok()">
				Aceptar
			</b-button>
		</template>
	</b-modal>
</template>

 <script>
 	import { mapState, mapMutations } from 'vuex'
 	export default {
 		mounted(){
			
 		},
 		methods:{

 		},
		computed:{
			filterOn: {
				set(val)
				{
					this.$store.commit('setFilterOn', val)
				},
				get()
				{
					return this.$store.state.filterOn
				}
			},
			filterOnNegocios: {
				set(val)
				{
					this.$store.commit('setFilterOnNegocios', val)
				},
				get()
				{
					return this.$store.state.filterOnNeg
				}
			},
			...mapState(['filterFields', 'routeName']),
		}
	}
 </script>