<template>
	<b-modal :id="id"
			:ref="id"
			hidden-foot
			header-class="pb-2"
			header-bg-variant="light"
			@show="showModal"
			@ok="handleOk"
			no-close-on-esc
			no-close-on-backdrop
			hide-header-close
			:size="sizeModal"
			:centered="centered"
			:hide-footer="hideFooter"
			:hide-header="hideHeader">

		<template v-slot:modal-header="{ close }">
			<h1 class="display-1"
				style="font-size: 23px">
				{{ title }}
			</h1>
			<slot name="button-close">
				<b-button variant="link" size="sm" class="text-secondary" @click="close()" v-if="!noButtonClose">
					<i class="fas fa-times" style="font-size: 15px"></i>
				</b-button>
			</slot>
		</template>

		<template v-if="hideHeader">
			<div class="d-flex w-100 justify-content-between">
				<h3 class="mb-4 mt-1">{{ title }}</h3>
				<slot name="button-close">
					<b-button variant="link" size="sm" class="text-secondary" @click="close()" style="margin-top:-15px" v-if="!noButtonClose">
						<i class="fas fa-times" style="font-size: 15px"></i>
					</b-button>
				</slot>
			</div>
		</template>

		<slot name="content"></slot>

		<template v-slot:modal-footer="{ ok, cancel }">
			<slot name="buttons">
		       	<b-button variant="light" size="sm" @click="cancel()">
		        	Cancelar
		      	</b-button>
		      	<b-button variant="danger" size="sm" type="submit" @click="ok()">
		        	Guardar
		      	</b-button>
			</slot>
    	</template>
	</b-modal>
</template>

<script>
	import { mapState, mapMutations} from 'vuex'
    export default {
        props:{
            id: String,
            title: String,
            sizeModal: String,
            centered: Boolean,
			hideFooter: Boolean,
			hideHeader: Boolean,
			noButtonClose: Boolean
        },
        mounted() {
        	
        },
        methods:{
			...mapMutations(['modalOk', 'modalHidden', 'modalSubmit']),
        	showModal()
        	{
				this.modalOk(false)
				this.modalHidden(false)
				this.modalSubmit(false)
        	},
        	handleOk(bvModalEvt) {
        		bvModalEvt.preventDefault()
				this.modalOk(true)
			},
			close() {
				this.$refs[`${this.id}`].hide()
			}
        }, 
        computed: {
        	...mapState(['submitModal', 'hiddenModal'])
        },
        watch: {
        	submitModal()
        	{
        		if(this.submitModal==true){
        			this.$refs[`${this.id}`].hide()        		
        		}
        	},
        	hiddenModal()
        	{
        		if(this.hiddenModal==true)
        			this.$refs[`${this.id}`].hide()
        	}
        }
    }
</script>