<template>
	<div
		style="margin-top: -8px; width: 600px; padding-top:1px; margin-bottom: -7px"
		class="shadow-lg"
	>
		<b-card class="bg-light text-center card-modules">
			<b-row>
				<b-col
					lg="4"
					class="my-2"
					v-if="
						usuario &&
							(usuario.idUsuario == 4 || usuario.idUsuario == 5)
					"
				>
					<div
						class="border shadow bg-white activate"
						@click="to('cadmin')"
					>
						<div class="panel-body" style="padding-bottom: 12px">
							<div class="icon" style="margin-bottom: -5px">
								<i class="fas fa-hdd"></i>
							</div>
							<h5
								class="text-center text-secondary"
								style="font-size: 14px;"
							>
								<strong>CADMIN</strong>
							</h5>
						</div>
					</div>
				</b-col>
				<b-col lg="4" class="my-2" v-if="hasPermission('vt.navegar')">
					<div
						class="border shadow bg-white activate"
						@click="to('ventas')"
					>
						<div class="panel-body" style="padding-bottom: 12px">
							<div class="icon" style="margin-bottom: -5px">
								<i class="fas fa-chart-line"></i>
							</div>
							<h5
								class="text-center text-secondary"
								style="font-size: 14px;"
							>
								<strong>CRM</strong>
							</h5>
						</div>
					</div>
				</b-col>
				<b-col lg="4" class="my-2" v-if="hasPermission('op.navegar')">
					<div
						class="border shadow bg-white activate"
						@click="to('servicios')"
					>
						<div class="panel-body" style="padding-bottom: 12px">
							<div class="icon" style="margin-bottom: -5px">
								<i class="fas fa-cogs"></i>
							</div>
							<h5
								class="text-center text-secondary"
								style="font-size: 14px;"
							>
								<strong>SERVICIOS</strong>
							</h5>
						</div>
					</div>
				</b-col>
				<b-col lg="4" class="my-2" v-if="hasPermission('se.navegar')">
					<div
						class="border shadow bg-white activate"
						@click="to('seguridad')"
					>
						<div class="panel-body" style="padding-bottom: 12px">
							<div class="icon" style="margin-bottom: -5px">
								<i class="fas fa-user-shield"></i>
							</div>
							<h5
								class="text-center text-secondary"
								style="font-size: 14px;"
							>
								<strong>SEGURIDAD</strong>
							</h5>
						</div>
					</div>
				</b-col>
				<b-col lg="4" class="my-2" v-if="hasPermission('fn.navegar')">
					<div
						class="border shadow bg-white activate"
						@click="to('finanzas')"
					>
						<div class="panel-body" style="padding-bottom: 12px">
							<div class="icon" style="margin-bottom: -5px">
								<i class="fas fa-hand-holding-usd"></i>
							</div>
							<h5
								class="text-center text-secondary"
								style="font-size: 14px;"
							>
								<strong>VIÁTICOS</strong>
							</h5>
						</div>
					</div>
				</b-col>
				<b-col lg="4" class="my-2" v-if="hasPermission('ca.navegar')">
					<div
						class="border shadow bg-white activate"
						@click="to('calidad')"
					>
						<div class="panel-body" style="padding-bottom: 12px">
							<div class="icon" style="margin-bottom: -5px">
								<i class="fas fa-chart-line"></i>
							</div>
							<h5
								class="text-center text-secondary"
								style="font-size: 14px;"
							>
								<strong>CALIDAD</strong>
							</h5>
						</div>
					</div>
				</b-col>
				<b-col lg="4" class="my-2">
					<div
						class="border shadow bg-white activate"
						@click="to('tickets')"
					>
						<div class="panel-body" style="padding-bottom: 12px">
							<div class="icon" style="margin-bottom: -5px">
								<i class="far fa-comment-alt"></i>
							</div>
							<h5
								class="text-center text-secondary"
								style="font-size: 14px;"
							>
								<strong>TICKETS</strong>
							</h5>
						</div>
					</div>
				</b-col>
				<b-col lg="4" class="my-2" v-if="hasPermission('sm.navegar')">
					<div
						class="border shadow bg-white activate"
						@click="to('tickets')"
					>
						<div class="panel-body" style="padding-bottom: 12px">
							<div class="icon" style="margin-bottom: -5px">
								<i class="far fa-comment-alt"></i>
							</div>
							<h5
								class="text-center text-secondary"
								style="font-size: 14px;"
							>
								<strong>SUMINISTROS</strong>
							</h5>
						</div>
					</div>
				</b-col>
				<b-col lg="4" class="my-2" v-if="hasPermission('si.navegar')">
					<div
						class="border shadow bg-white activate"
						@click="to('sistemas')"
					>
						<div class="panel-body" style="padding-bottom: 12px">
							<div class="icon" style="margin-bottom: -5px">
								<i class="fas fa-laptop"></i>
							</div>
							<h5
								class="text-center text-secondary"
								style="font-size: 14px;"
							>
								<strong>SISTEMAS</strong>
							</h5>
						</div>
					</div>
				</b-col>

				<b-col lg="4" class="my-2" v-if="hasPermission('co.navegar')">
					<div
						class="border shadow bg-white activate"
						@click="to('compras')"
					>
						<div class="panel-body" style="padding-bottom: 12px">
							<div class="icon" style="margin-bottom: -5px">
								<i class="fas fa-shopping-cart"></i>
							</div>
							<h5
								class="text-center text-secondary"
								style="font-size: 14px;"
							>
								<strong>COMPRAS</strong>
							</h5>
						</div>
					</div>
				</b-col>

				<b-col lg="4" class="my-2" v-if="hasPermission('alm.navegar')">
					<div
						class="border shadow bg-white activate"
						@click="to('almacen')"
					>
						<div class="panel-body" style="padding-bottom: 12px">
							<div class="icon" style="margin-bottom: -5px">
								<i class="fas fa-boxes"></i>
							</div>
							<h5
								class="text-center text-secondary"
								style="font-size: 14px;"
							>
								<strong>ALMACÉN</strong>
							</h5>
						</div>
					</div>
				</b-col>

				<b-col
					lg="4"
					class="my-2"
					v-if="hasPermission('alm.ss.solicitudes.navegar')"
				>
					<div
						class="border shadow bg-white activate"
						@click="to('almacen')"
					>
						<div class="panel-body" style="padding-bottom: 12px">
							<div class="icon" style="margin-bottom: -5px">
								<i class="fas fa-people-carry"></i>
							</div>
							<h5
								class="text-center text-secondary"
								style="font-size: 14px;"
							>
								<strong>SUMINISTROS</strong>
							</h5>
						</div>
					</div>
				</b-col>

				<b-col lg="4" class="my-2" v-if="hasPermission('th.navegar')">
					<div
						class="border shadow bg-white activate"
						@click="to('talentoHumano')"
					>
						<div class="panel-body" style="padding-bottom: 12px">
							<div class="icon" style="margin-bottom: -5px">
								<i class="fas fa-user-tie"></i>
							</div>
							<h5
								class="text-center text-secondary"
								style="font-size: 14px;"
							>
								<strong>TALENTO HUMANO</strong>
							</h5>
						</div>
					</div>
				</b-col>

				<!-- <b-col
					lg="8"
					class="my-2"
					v-if="hasPermission('th.vp.solicitudes')"
				>
					<div
						class="border shadow bg-white activate"
						@click="to('talentoHumano')"
					>
						<div class="panel-body" style="padding-bottom: 12px">
							<div class="icon" style="margin-bottom: -5px">
								<i class="fas fa-plane-departure"></i>
							</div>
							<h5
								class="text-center text-secondary"
								style="font-size: 14px;"
							>
								<strong>VACACIONES Y PERMISOS</strong>
							</h5>
						</div>
					</div>
				</b-col> -->
			</b-row>
		</b-card>
	</div>
</template>

<script>
import { mapState, mapMutations } from "vuex";
export default {
	methods: {
		...mapMutations(["setModuleActive"]),
		to(module) {
			if (this.moduleActive != module) {
				if (module == "finanzas")
					this.$router.push(BaseUrl + `/finanzas/cg/solicitudes`);
				else this.$router.push(BaseUrl + `/${module}`);
			}
			this.setModuleActive(module);
		},
		hasPermission(funcion) {
			if (this.permissions.length) {
				const permiso = this.permissions.find(
					(permiso) => permiso.idFuncion == funcion
				);
				if (permiso) return true;
				return false;
			}
		},
	},
	computed: {
		...mapState(["permissions", "usuario", "moduleActive"]),
	},
};
</script>

<style scoped>
.disabled {
	opacity: 0.5;
	cursor: not-allowed;
}
.icon {
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
	position: sticky;
	z-index: 0;
	font-size: 42px;
	color: rgba(0, 0, 0, 0.15);
}
.activate {
	cursor: pointer;
}
.activate:hover {
	-webkit-box-shadow: 0px 0px 23px -4px rgba(255, 102, 102, 1) !important;
	-moz-box-shadow: 0px 0px 23px -4px rgba(255, 102, 102, 1) !important;
	box-shadow: 0px 0px 23px -4px rgba(255, 102, 102, 1) !important;
	transition: all 0.2s linear !important;
}
</style>
