<template>
	<b-row align-h="between" class="my-3">
		<b-col sm="5" md="2" class="pr-0">
			<b-form-group>
				<b-input-group size="sm">
					<b-input-group-append class="p-1 pr-2">
			          	Registros por página:
			        </b-input-group-append>
					<b-form-select :value="perPage" 
					@change="setPerPage"
					:options="pageOptions"
					size="sm"
					style="max-width: 75px">					
					</b-form-select>
				</b-input-group>
			</b-form-group>	
	    </b-col>
		<b-col sm="7" md="3">
	        <b-pagination
	          :value="currentPage"
	          @change="setCurrentPage"
	          :total-rows="totalRows"
	          :per-page="perPage"
	          align="fill"
	          size="sm"
	        ></b-pagination>
      	</b-col>
	</b-row>
</template>

 <script>
 	import { mapState, mapMutations } from 'vuex'
 	export default {
 		props: {
 			totalItems: Number
 		},
 		methods:{
 			...mapMutations(['setCurrentPage', 'setPerPage', 'setTotalRows']),

 		},
		computed:{
			...mapState(['currentPage', 'totalRows', 'perPage', 'pageOptions'])
		},
		watch: {
			totalItems()
			{
				this.setTotalRows(this.totalItems)
			}
		}
	}
 </script>