<template>
	<nav id="sidebar" class="shadow">
	 	<div class="sidebar-header bg-dark text-light text-center">
	 		<h3 class="mt-2">{{ title }}</h3>
	 	</div>
	 	<slot name="content" />
	 </nav>
</template>

<script>
    import { mapState } from 'vuex'
    export default {
    	props: {
    		title: String
    	},
        mounted() {},
        methods: {},
        computed: {
            ...mapState(['routeName']),
        },
    }
</script>

<style>
.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    perspective: 1500px;
}
#sidebar {
    min-width: 290px;
    max-width: 290px;
    height: calc(100vh - 59px);
    background: #7386D5;
    color: #fff;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: bottom left;
}
#sidebar.active {
    margin-left: -250px;
    transform: rotateY(100deg);
}
#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}
#sidebar ul.components {
    padding: 20px 0;
}
#sidebar ul p {
    color: #fff;
    padding: 10px;
}
#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: ##6c757dc7;
}

a[data-toggle="collapse"] {
    position: relative;
}
.side-button {
    font-size: 1.0em !important;
    padding-left: 30px !important;
}
</style>