<template>
	<div>
		<b-card no-body class="mb-2">
			<b-table
				hover
				:no-border-collapse="false"
				responsive
				show-empty
				striped
				:fields="fields"
				:items="items"
				class="mb-0"
				sticky-header
				:busy="isBusy"
				:current-page="currentPage"
				:per-page="perPage"
				:filter="filter"
				:filterIncludedFields="filterOn"
				@filtered="onFiltered"
			>
				<template v-slot:table-busy>
					<div class="my-3 ml-5">
						<b-spinner type="grow"></b-spinner>
						<h1
							class="display-5"
							style="margin-top:-27px; font-size: 17px; margin-left: 35px"
						>
							Cargando datos ...
						</h1>
					</div>
				</template>

				<template v-slot:head()="scope">
					<div class="text-nowrap">
						{{ scope.label }}
					</div>
				</template>

				<template v-slot:cell()="scope">
					<div class="text-nowrap">
						{{ scope.value }}
					</div>
				</template>

				<template v-slot:cell(actions)="scope">
					<div class="text-center">
						<b-dropdown
							id="dropdown-left"
							right
							variant="light"
							size="sm"
							no-caret
							:disabled="permissionActions.action"
						>
							<template v-slot:button-content>
								<i class="fas fa-ellipsis-v px-2"></i>
							</template>
							<b-dropdown-item
								v-if="!permissionActions.editar"
								v-b-modal.modal
								@click="$emit('dataEdit', scope.item)"
							>
								<i class="fas fa-edit px-2"></i>
								Editar
							</b-dropdown-item>
							<b-dropdown-item
								v-if="!permissionActions.eliminar"
								v-b-modal.modal-delete
								@click="$emit('dataDelete', scope.item)"
							>
								<i class="fas fa-trash px-2"></i>
								Eliminar
							</b-dropdown-item>
							<slot name="dropdown-more-actions"></slot>
						</b-dropdown>
					</div>
				</template>
				<template v-slot:cell(complete)="scope">
					<div class="text-center">
						<vt-negocios-button-completar-actividad
							:dateComplete="dateComplete"
							:idActividad="scope.item.idActividad"
							:completada="scope.item.fechaCompletado"
						/>
					</div>
				</template>
			</b-table>
		</b-card>
		<pagination-component :total-items="items.length" />
	</div>
</template>

<script>
import { mapState, mapMutations } from "vuex";
export default {
	props: {
		fields: Array,
		items: Array,
	},
	data() {
		return {
			idActividad: null,
			dateComplete: true,
			completada: null,
		};
	},
	mounted() {
		if (!this.items.length) this.setIsBusy();
		this.setFilterFields(this.fields);
		this.resetFilterOn();
	},
	methods: {
		onFiltered(filteredItems) {
			this.setTotalRows(filteredItems.length);
			this.setCurrentPage(1);
		},
		...mapMutations([
			"setTotalRows",
			"setCurrentPage",
			"setFilterFields",
			"resetFilterOn",
			"setIsBusy",
		]),

		hasPermission(funcion) {
			if (this.permissions.length) {
				const permiso = this.permissions.find(
					(permiso) => permiso.idFuncion == funcion
				);
				if (permiso) return true;
				return false;
			}
		},
	},
	computed: {
		...mapState([
			"currentPage",
			"perPage",
			"filter",
			"filterOn",
			"isBusy",
			"routeName",
			"permissions",
		]),

		permissionActions() {
			if (this.routeName == "negocios.actividades") {
				if (
					this.hasPermission("vt.crm.actividades.editar") &&
					this.hasPermission("vt.crm.actividades.eliminar")
				) {
					return {
						editar: false,
						eliminar: false,
						action: false,
					};
				} else if (
					this.hasPermission("vt.crm.actividades.editar") &&
					!this.hasPermission("vt.crm.actividades.eliminar")
				) {
					return {
						editar: false,
						eliminar: true,
						action: false,
					};
				} else if (
					this.hasPermission("vt.crm.actividades.eliminar") &&
					!this.hasPermission("vt.crm.actividades.editar")
				) {
					return {
						editar: true,
						eliminar: false,
						action: false,
					};
				} else {
					return {
						editar: true,
						eliminar: true,
						action: true,
					};
				}
			} else if (this.routeName == "negocios.clientes") {
				if (
					this.hasPermission("vt.crm.clientes.editar") &&
					this.hasPermission("vt.crm.clientes.eliminar")
				) {
					return {
						editar: false,
						eliminar: false,
						action: false,
					};
				} else if (
					this.hasPermission("vt.crm.clientes.editar") &&
					!this.hasPermission("vt.crm.clientes.eliminar")
				) {
					return {
						editar: false,
						eliminar: true,
						action: false,
					};
				} else if (
					this.hasPermission("vt.crm.clientes.eliminar") &&
					!this.hasPermission("vt.crm.clientes.editar")
				) {
					return {
						editar: true,
						eliminar: false,
						action: false,
					};
				} else {
					return {
						editar: true,
						eliminar: true,
						action: true,
					};
				}
			} else if (this.routeName == "negocios.contactos") {
				if (
					this.hasPermission("vt.crm.contactos.editar") &&
					this.hasPermission("vt.crm.contactos.eliminar")
				) {
					return {
						editar: false,
						eliminar: false,
						action: false,
					};
				} else if (
					this.hasPermission("vt.crm.contactos.editar") &&
					!this.hasPermission("vt.crm.contactos.eliminar")
				) {
					return {
						editar: false,
						eliminar: true,
						action: false,
					};
				} else if (
					this.hasPermission("vt.crm.contactos.eliminar") &&
					!this.hasPermission("vt.crm.contactos.editar")
				) {
					return {
						editar: true,
						eliminar: false,
						action: false,
					};
				} else {
					return {
						editar: true,
						eliminar: true,
						action: true,
					};
				}
			} else {
				return {
					editar: false,
					eliminar: false,
					action: false,
				};
			}
		},
	},
	watch: {
		fields() {
			this.setFilterFields(this.fields);
		},
		items() {
			if (this.isBusy) this.setIsBusy();
		},
	},
};
</script>

<style>
.b-table-sticky-header {
	overflow-y: auto;
	max-height: calc(100vh - 204px);
}
</style>
