<template>
	<div>
		<h3 class="display-5">Asignar Cuenta</h3>
		<hr />
		<b-row>
			<b-col lg="7">
				<b-form-group v-slot="{ ariaDescribedby }" block class="w-100">
					<div class="lab-form mb-2 pb-1">
						Tipo de cuenta<span class="req">*</span>
					</div>
					<b-form-radio-group
						id="btn-radios-2"
						v-model="tipoCuenta"
						:options="tiposCuentas"
						:aria-describedby="ariaDescribedby"
						button-variant="outline-secondary"
						size="sm"
						block
						class="w-100"
						buttons
					></b-form-radio-group>
				</b-form-group>
			</b-col>
		</b-row>

		<b-card class="bg-light" v-show="!tipoCuenta">
			<h5 class="my-3 pb-1 text-center text-secondary">
				<i class="fas fa-info-circle"></i> Seleccione un tipo de cuenta
			</h5>
		</b-card>

		<cuentas-internas-component
			v-if="tipoCuenta == 'Interna'"
			:cuentaEdit="cuentaEdit"
			:seccion="seccion"
			:tipoCuenta="tipoCuenta"
			@setCuenta="setCuenta($event)"
			@cancelar="cancelar()"
		/>
		<cuentas-externas-component
			v-if="tipoCuenta == 'Externa'"
			:cuentaEdit="cuentaEdit"
			:seccion="seccion"
			@setCuenta="setCuenta($event)"
			@cancelar="cancelar()"
		/>
	</div>
</template>

<script>
import { mapState } from "vuex";
export default {
	props: {
		dataCuentaEdit: Object,
		seccion: String,
	},
	data() {
		return {
			cuentaEdit: "",
			tipoCuenta: null,
			tiposCuentas: ["Interna", "Externa"],
		};
	},
	mounted() {
		if (this.dataCuentaEdit) {
			this.tipoCuenta = this.dataCuentaEdit.tipoCuenta;
			this.cuentaEdit = this.dataCuentaEdit.cuenta;
		}
	},
	methods: {
		setCuenta(cuenta) {
			let data = {
				tipoCuenta: this.tipoCuenta,
				cuenta: cuenta,
			};
			this.$emit("setCuenta", data);
		},
		cancelar() {
			this.$emit("cancelar");
		},
	},
};
</script>
<style>
.active {
	background-color: #6c757d !important;
}
.hidden_header {
	display: none;
}
</style>
