<template>
	<fieldset class="scheduler-border" style="margin-top: 15px !important">
		<legend class="scheduler-border">
			Cuenta
		</legend>
		<b-form-group>
			<b-form-radio-group
				class="mt-2 ml-4"
				v-model="tipoCuenta"
				@change="cambioTipoCuenta($event)"
			>
				<b-form-radio value="S/C">Sin cuenta</b-form-radio>
				<b-form-radio value="Interna">Interna</b-form-radio>
				<b-form-radio value="Externa">Externa</b-form-radio>
			</b-form-radio-group>
			<b-form-invalid-feedback id="feedback-tipoCuenta">
				Campo obligatorio
			</b-form-invalid-feedback>
		</b-form-group>

		<div class="text-center mt-3" v-show="tipoCuenta == 'Interna'">
			<h3 class="text-dark bg-light py-2 mb-0">
				<small>{{ cuentaInterna }}</small>
			</h3>
			<hr class="mb-2 mt-0" />
			<p>
				<small
					>Cambiar cuenta<i
						class="fas fa-edit text-danger ml-2"
						style="cursor:pointer"
						v-b-modal.modal-cuenta-interna
					></i
				></small>
			</p>
		</div>

		<div class="text-center mt-3" v-show="tipoCuenta == 'Externa'">
			<h3 class="text-dark bg-light py-2 mb-0">
				<small>{{ cuentaExterna }}</small>
			</h3>
			<hr class="mb-2 mt-0" />
			<p>
				<small
					>Cambiar cuenta<i
						class="fas fa-edit text-danger ml-2"
						style="cursor:pointer"
						v-b-modal.modal-cuenta-externa
					></i
				></small>
			</p>
		</div>

		<op-form-actividades-cuenta-externa-component
			@setCuentaExterna="cuentaExterna = $event"
			:cuenta="cuentaExterna"
		/>
		<op-form-actividades-cuenta-interna-component
			@setCuentaInterna="cuentaInterna = $event"
			:cuenta="cuentaInterna"
		/>
	</fieldset>
</template>

<script>
export default {
	props: {
		state: Boolean,
	},
	data() {
		return {
			cuentaInterna: "S/C",
			cuentaExterna: "S/C",
			tipoCuenta: "S/C",
		};
	},
	methods: {
		cambioTipoCuenta(tipo) {
			console.log(tipo);
			this.tipoCuenta = tipo;
			if (tipo == "S/C") {
				this.$emit("getCuenta", "S/C");
			}
		},
	},
	watch: {
		cuentaInterna() {
			this.$emit("getCuenta", this.cuentaInterna);
		},
		cuentaExterna() {
			this.$emit("getCuenta", this.cuentaExterna);
		},
	},
};
</script>