<template>
	<div id="componente" style="color:#495057">
		<b-row>
			<b-col class="8">
				<h5>
					<i :class="iconActividad" style="font-size: 15px"></i>
					{{ actividad.tipo }}
				</h5>
			</b-col>
			<b-col class="4">
				<vt-negocios-button-completar-actividad
					class="float-right"
					:idActividad="actividad.idActividad"
				/>
			</b-col>
		</b-row>
		<b-row class="mt-1">
			<b-col lg="12">
				<label v-if="estado == 'vencida'">Vencida</label>
				<label v-else-if="estado == 'planeada'">Actividad</label>
				<label v-else>Hoy</label>
				<label>
					<template v-if="estado != 'hoy'">{{ lastTime }}</template>
				</label>
			</b-col>
		</b-row>
		<b-row class="mt-1">
			<b-col lg="12">
				<label><strong>Responsable:</strong></label>
				<label>
					{{ actividad.nombre_usuario }}
				</label>
			</b-col>
		</b-row>

		<b-card bg-variant="light" class="mt-3">
			<b-card-text>{{ actividad.notas }}</b-card-text>
		</b-card>
		<hr />
	</div>
</template>

<script>
export default {
	props: {
		actividad: Object,
		estado: String,
	},
	data() {
		return {};
	},
	mounted() {},
	methods: {},
	computed: {
		lastTime() {
			return moment(this.actividad.fechaActividad, "YYYY-MM-DD")
				.locale("es")
				.fromNow();
			//moment().subtract(1, 'days').calendar();
		},
		iconActividad() {
			switch (this.actividad.tipo) {
				case "Llamada":
					return "fas fa-phone";
					break;
				case "Reunión":
					return "fas fa-users";
					break;
				case "Tarea":
					return "fas fa-clock";
					break;
				case "Correo":
					return "fas fa-envelope";
					break;
				case "Comida":
					return "fas fa-utensils";
					break;
				case "Whatsapp":
					return "fab fa-whatsapp";
					break;
			}
		},
	},
};
</script>
