<!-- <td class="px-0 py-0">
			          <div class="card">
			            <div class="card-body">
			              <h5 class="card-title">CUB-0026-MPV</h5>
			              <p class="card-text">Alineación de motores para molino 1 <br>$24,400,00 MXN <br>COMPAÑIA MINERAL DEL CUBO, S.A DE C.V.</p>
			            </div>
			          </div>

			          <div class="card">
			            <div class="card-body">
			              <h5 class="card-title">CUB-0026-MPV</h5>
			              <p class="card-text">Alineación de motores para molino 1 <br>$24,400,00 MXN <br>COMPAÑIA MINERAL DEL CUBO, S.A DE C.V.</p>
			            </div>
			          </div>

			          <div class="card">
			            <div class="card-body">
			              <h5 class="card-title">CUB-0026-MPV</h5>
			              <p class="card-text">Alineación de motores para molino 1 <br>$24,400,00 MXN <br>COMPAÑIA MINERAL DEL CUBO, S.A DE C.V.</p>
			            </div>
			          </div>

			          <div class="card">
			            <div class="card-body">
			              <h5 class="card-title">CUB-0026-MPV</h5>
			              <p class="card-text">Alineación de motores para molino 1 <br>$24,400,00 MXN <br>COMPAÑIA MINERAL DEL CUBO, S.A DE C.V.</p>
			            </div>
			          </div>


			          <div class="card">
			            <div class="card-body">
			              <h5 class="card-title">CUB-0026-MPV</h5>
			              <p class="card-text">Alineación de motores para molino 1 <br>$24,400,00 MXN <br>COMPAÑIA MINERAL DEL CUBO, S.A DE C.V.</p>
			            </div>
			          </div>

			          <div class="card">
			            <div class="card-body">
			              <h5 class="card-title">CUB-0026-MPV</h5>
			              <p class="card-text">Alineación de motores para molino 1 <br>$24,400,00 MXN <br>COMPAÑIA MINERAL DEL CUBO, S.A DE C.V.</p>
			            </div>
			          </div>

			          <div class="card">
			            <div class="card-body">
			              <h5 class="card-title">CUB-0026-MPV</h5>
			              <p class="card-text">Alineación de motores para molino 1 <br>$24,400,00 MXN <br>COMPAÑIA MINERAL DEL CUBO, S.A DE C.V.</p>
			            </div>
			          </div>

			          <div class="card">
			            <div class="card-body">
			              <h5 class="card-title">CUB-0026-MPV</h5>
			              <p class="card-text">Alineación de motores para molino 1 <br>$24,400,00 MXN <br>COMPAÑIA MINERAL DEL CUBO, S.A DE C.V.</p>
			            </div>
			          </div>
			        </td>
			        <td class="px-0 py-0">
			          <div class="card">
			            <div class="card-body">
			              <h5 class="card-title">CUB-0026-MPV</h5>
			              <p class="card-text">Alineación de motores para molino 1 <br>$24,400,00 MXN <br>COMPAÑIA MINERAL DEL CUBO, S.A DE C.V.</p>
			            </div>
			          </div>

			          <div class="card bg-success text-white">
			            <div class="card-body">
			              <h5 class="card-title">CUB-0026-MPV</h5>
			              <p class="card-text">Alineación de motores para molino 1 <br>$24,400,00 MXN <br>COMPAÑIA MINERAL DEL CUBO, S.A DE C.V.</p>
			            </div>
			          </div>

			          <div class="card">
			            <div class="card-body">
			              <h5 class="card-title">CUB-0026-MPV</h5>
			              <p class="card-text">Alineación de motores para molino 1 <br>$24,400,00 MXN <br>COMPAÑIA MINERAL DEL CUBO, S.A DE C.V.</p>
			            </div>
			          </div>

			          <div class="card">
			            <div class="card-body">
			              <h5 class="card-title">CUB-0026-MPV</h5>
			              <p class="card-text">Alineación de motores para molino 1 <br>$24,400,00 MXN <br>COMPAÑIA MINERAL DEL CUBO, S.A DE C.V.</p>
			            </div>
			          </div>

			          <div class="card">
			            <div class="card-body">
			              <h5 class="card-title">CUB-0026-MPV</h5>
			              <p class="card-text">Alineación de motores para molino 1 <br>$24,400,00 MXN <br>COMPAÑIA MINERAL DEL CUBO, S.A DE C.V.</p>
			            </div>
			          </div>
			        </td>
			        <td class="px-0 py-0">
			          <div class="card">
			            <div class="card-body">
			              <h5 class="card-title">CUB-0026-MPV</h5>
			              <p class="card-text">Alineación de motores para molino 1 <br>$24,400,00 MXN <br>COMPAÑIA MINERAL DEL CUBO, S.A DE C.V.</p>
			            </div>
			          </div>
			        </td>
			        <td class="px-0 py-0">
			          <div class="card">
			            <div class="card-body">
			              <h5 class="card-title">CUB-0026-MPV</h5>
			              <p class="card-text">Alineación de motores para molino 1 <br>$24,400,00 MXN <br>COMPAÑIA MINERAL DEL CUBO, S.A DE C.V.</p>
			            </div>
			          </div>

			          <div class="card">
			            <div class="card-body">
			              <h5 class="card-title">CUB-0026-MPV</h5>
			              <p class="card-text">Alineación de motores para molino 1 <br>$24,400,00 MXN <br>COMPAÑIA MINERAL DEL CUBO, S.A DE C.V.</p>
			            </div>
			          </div>

			          <div class="card">
			            <div class="card-body">
			              <h5 class="card-title">CUB-0026-MPV</h5>
			              <p class="card-text">Alineación de motores para molino 1 <br>$24,400,00 MXN <br>COMPAÑIA MINERAL DEL CUBO, S.A DE C.V.</p>
			            </div>
			          </div>

			          <div class="card">
			            <div class="card-body">
			              <h5 class="card-title">CUB-0026-MPV</h5>
			              <p class="card-text">Alineación de motores para molino 1 <br>$24,400,00 MXN <br>COMPAÑIA MINERAL DEL CUBO, S.A DE C.V.</p>
			            </div>
			          </div>

			          <div class="card">
			            <div class="card-body">
			              <h5 class="card-title">CUB-0026-MPV</h5>
			              <p class="card-text">Alineación de motores para molino 1 <br>$24,400,00 MXN <br>COMPAÑIA MINERAL DEL CUBO, S.A DE C.V.</p>
			            </div>
			          </div>
			        </td>
			        <td class="px-0 py-0">
			          <div class="card bg-success text-white">
			            <div class="card-body">
			              <h5 class="card-title">CUB-0026-MPV</h5>
			              <p class="card-text">Alineación de motores para molino 1 <br>$24,400,00 MXN <br>COMPAÑIA MINERAL DEL CUBO, S.A DE C.V.</p>
			            </div>
			          </div>

			          <div class="card">
			            <div class="card-body">
			              <h5 class="card-title">CUB-0026-MPV</h5>
			              <p class="card-text">Alineación de motores para molino 1 <br>$24,400,00 MXN <br>COMPAÑIA MINERAL DEL CUBO, S.A DE C.V.</p>
			            </div>
			          </div>

			          <div class="card">
			            <div class="card-body">
			              <h5 class="card-title">CUB-0026-MPV</h5>
			              <p class="card-text">Alineación de motores para molino 1 <br>$24,400,00 MXN <br>COMPAÑIA MINERAL DEL CUBO, S.A DE C.V.</p>
			            </div>
			          </div>
			        </td>
			        <td class="px-0 py-0">
			          <div class="card">
			            <div class="card-body">
			              <h5 class="card-title">CUB-0026-MPV</h5>
			              <p class="card-text">Alineación de motores para molino 1 <br>$24,400,00 MXN <br>COMPAÑIA MINERAL DEL CUBO, S.A DE C.V.</p>
			            </div>
			          </div>

			          
			          <div class="card">
			            <div class="card-body">
			              <h5 class="card-title">CUB-0026-MPV</h5>
			              <p class="card-text">Alineación de motores para molino 1 <br>$24,400,00 MXN <br>COMPAÑIA MINERAL DEL CUBO, S.A DE C.V.</p>
			            </div>
			          </div>
			        </td>
			        <td class="px-0 py-0">
			          <div class="card">
			            <div class="card-body">
			              <h5 class="card-title">CUB-0026-MPV</h5>
			              <p class="card-text">Alineación de motores para molino 1 <br>$24,400,00 MXN <br>COMPAÑIA MINERAL DEL CUBO, S.A DE C.V.</p>
			            </div>
			          </div>

			          <div class="card">
			            <div class="card-body">
			              <h5 class="card-title">CUB-0026-MPV</h5>
			              <p class="card-text">Alineación de motores para molino 1 <br>$24,400,00 MXN <br>COMPAÑIA MINERAL DEL CUBO, S.A DE C.V.</p>
			            </div>
			          </div>

			          <div class="card">
			            <div class="card-body">
			              <h5 class="card-title">CUB-0026-MPV</h5>
			              <p class="card-text">Alineación de motores para molino 1 <br>$24,400,00 MXN <br>COMPAÑIA MINERAL DEL CUBO, S.A DE C.V.</p>
			            </div>
			          </div>

			          <div class="card">
			            <div class="card-body">
			              <h5 class="card-title">CUB-0026-MPV</h5>
			              <p class="card-text">Alineación de motores para molino 1 <br>$24,400,00 MXN <br>COMPAÑIA MINERAL DEL CUBO, S.A DE C.V.</p>
			            </div>
			          </div>
			        </td>
			        <td class="px-0 py-0">
			          <div class="card">
			            <div class="card-body">
			              <h5 class="card-title">CUB-0026-MPV</h5>
			              <p class="card-text">Alineación de motores para molino 1 <br>$24,400,00 MXN <br>COMPAÑIA MINERAL DEL CUBO, S.A DE C.V.</p>
			            </div>
			          </div>

			          <div class="card bg-warning">
			            <div class="card-body">
			              <h5 class="card-title">CUB-0026-MPV</h5>
			              <p class="card-text">Alineación de motores para molino 1 <br>$24,400,00 MXN <br>COMPAÑIA MINERAL DEL CUBO, S.A DE C.V.</p>
			            </div>
			          </div>

			          <div class="card">
			            <div class="card-body">
			              <h5 class="card-title">CUB-0026-MPV</h5>
			              <p class="card-text">Alineación de motores para molino 1 <br>$24,400,00 MXN <br>COMPAÑIA MINERAL DEL CUBO, S.A DE C.V.</p>
			            </div>
			          </div>

			          <div class="card">
			            <div class="card-body">
			              <h5 class="card-title">CUB-0026-MPV</h5>
			              <p class="card-text">Alineación de motores para molino 1 <br>$24,400,00 MXN <br>COMPAÑIA MINERAL DEL CUBO, S.A DE C.V.</p>
			            </div>
			          </div>

			          <div class="card">
			            <div class="card-body">
			              <h5 class="card-title">CUB-0026-MPV</h5>
			              <p class="card-text">Alineación de motores para molino 1 <br>$24,400,00 MXN <br>COMPAÑIA MINERAL DEL CUBO, S.A DE C.V.</p>
			            </div>
			          </div>
			        </td>
			        <td class="px-0 py-0">
			          <div class="card">
			            <div class="card-body">
			              <h5 class="card-title">CUB-0026-MPV</h5>
			              <p class="card-text">Alineación de motores para molino 1 <br>$24,400,00 MXN <br>COMPAÑIA MINERAL DEL CUBO, S.A DE C.V.</p>
			            </div>
			          </div>
			          <div class="card">
			            <div class="card-body">
			              <h5 class="card-title">CUB-0026-MPV</h5>
			              <p class="card-text">Alineación de motores para molino 1 <br>$24,400,00 MXN <br>COMPAÑIA MINERAL DEL CUBO, S.A DE C.V.</p>
			            </div>
			          </div>

			          <div class="card bg-danger text-white">
			            <div class="card-body">
			              <h5 class="card-title">CUB-0026-MPV</h5>
			              <p class="card-text">Alineación de motores para molino 1 <br>$24,400,00 MXN <br>COMPAÑIA MINERAL DEL CUBO, S.A DE C.V.</p>
			            </div>
			          </div>
			        </td>
			        <td class="px-0 py-0">
			          

			          <div class="card">
			            <div class="card-body">
			              <h5 class="card-title">CUB-0026-MPV</h5>
			              <p class="card-text">Alineación de motores para molino 1 <br>$24,400,00 MXN <br>COMPAÑIA MINERAL DEL CUBO, S.A DE C.V.</p>
			            </div>
			          </div>     
			        </td>  -->