<template>
	<div>
		<b-button
			class="text-center"
			:id="propoverId"
			variant="link"
			size="sm"
			style="margin-top: -9px !important"
			:disabled="
				hasPermission('vt.crm.negocios.completar.actividad')
					? false
					: true
			"
		>
			<h5 class="mb-0 pt-2"><i :class="[iconCkeck, colorText]"></i></h5>
		</b-button>
		<b-popover
			:target="propoverId"
			triggers="click"
			:show.sync="popoverShow"
			placement="auto"
			container="my-container"
			ref="popover"
			@show="onShow"
		>
			<template v-slot:title>
				<b-button
					@click="onClose"
					class="close"
					style="margin-top: -4px"
					aria-label="Close"
				>
					<span class="d-inline-block " aria-hidden="true"
						>&times;</span
					>
				</b-button>
				Completar actividad
			</template>

			<v-date-picker
				v-model="$v.form.date.$model"
				:state="$v.form.date.$dirty ? !$v.form.date.$error : null"
				mode="single"
				color="red"
				is-inline
			/>

			<label class="text-danger mt-2" v-if="$v.form.date.$error"
				>Debe selecionar una fecha</label
			>

			<b-form-group label="Comentarios finales" class="mt-2">
				<b-form-textarea
					id="textarea-comentario"
					placeholder="Agregar tu comentario"
					v-model="$v.form.comentario.$model"
					:state="
						$v.form.comentario.$dirty
							? !$v.form.comentario.$error
							: null
					"
					rows="2"
					max-rows="5"
				>
				</b-form-textarea>
			</b-form-group>

			<b-button @click="onClose" size="sm" variant="secondary" class="">
				Cancelar
			</b-button>
			<b-button @click="onOk" size="sm" variant="success">
				Guardar
			</b-button>
		</b-popover>
	</div>
</template>

<script>
import { mapMutations, mapState } from "vuex";
import { required, minLength, email } from "vuelidate/lib/validators";
export default {
	props: {
		idActividad: Number,
		dateComplete: Boolean,
		completada: String,
	},
	data() {
		return {
			popoverShow: false,
			propoverId: "",
			invalidDate: true,
			respuesta: null,
			iconCkeck: "far fa-calendar-check",
			form: {
				date: new Date(),
				comentario: null,
			},
		};
	},
	mounted() {
		this.propoverId = `propover-id-${this.idActividad}`;
	},
	methods: {
		...mapMutations("negocios", ["removeActividadCompletada"]),
		...mapMutations("actividades", ["updateFechaCompletado"]),
		onClose() {
			this.popoverShow = false;
		},
		onOk() {
			this.$v.$touch();
			if (!this.$v.$invalid) {
				const params = {
					fechaCompletado: this.fechaCompletado,
					comentario: this.form.comentario,
				};
				axios
					.put(
						BaseUrl +
							`/api/vt/actividades/${this.idActividad}/completadas`,
						params
					)
					.then((response) => {
						if (response.data.success) {
							this.respuesta = response.data;
							this.popoverShow = false;
							this.removeActividadCompletada(
								response.data.actividad
							);
							if (this.dateComplete) {
								this.updateFechaCompletado(
									response.data.actividad
								);
							}
						}
					});
			}
		},
		onShow() {
			// This is called just before the popover is shown
			// Reset our popover form variables
		},
		hasPermission(funcion) {
			if (this.permissions.length) {
				const permiso = this.permissions.find(
					(permiso) => permiso.idFuncion == funcion
				);
				if (permiso) return true;
				return false;
			}
		},
	},
	computed: {
		...mapState(["permissions"]),

		fechaCompletado() {
			return moment(this.form.date).format("YYYY-MM-DD");
		},
		colorText() {
			if (this.respuesta != null && this.respuesta.success) {
				return "text-success";
			} else if (this.completada) {
				return "text-success";
			} else {
				return "text-secondary";
			}
		},
	},
	validations: {
		form: {
			date: { required },
			comentario: {},
		},
	},
	watch: {},
};
</script>
