<template>
	<div class="card" :style="cardStyle">
		<div class="card-body p-2">
			<p class="mb-0">
				<b-badge pill variant="danger" v-if="negocio.cambioEmbudo == 1"
					><i class="fas fa-exchange-alt"></i
				></b-badge>
				<strong>
					<b-button
						v-if="negocio.claveNegocio == 'Leads'"
						variant="link"
						class="text-dark p-0"
						id="button-link"
					>
						<strong>Leads {{ negocio.claveCliente }}</strong>
					</b-button>
					<b-button
						v-else
						variant="link"
						class="text-dark p-0"
						@click="selectedNegocio"
						id="button-link"
					>
						<strong>{{ negocio.claveNegocio }}</strong>
					</b-button>
					<b-button
						v-show="
							this.negocio.status == 0 && totalActividades > 0
						"
						variant="link"
						class="pt-1 pr-2 float-right"
						@click="openModalActividades"
						v-b-modal.modal-actividades-pendientes
					>
						<i
							class="float-right"
							:class="iconClass"
							:style="iconStyle"
							style="font-size: 15px"
						></i>
					</b-button>
					<b-button
						v-show="
							this.negocio.status == 0 &&
								totalActividades == 0 &&
								hasPermission(
									'vt.crm.negocios.registrar.actividad'
								)
						"
						variant="link"
						class="pt-1 pr-2 float-right"
						@click="openModalActividad"
						v-b-modal.modal
					>
						<i
							class="float-right"
							:class="iconClass"
							:style="iconStyle"
							style="font-size: 15px"
						></i>
					</b-button>
				</strong>
			</p>
			<p class="card-text mb-0">
				{{ negocio.tituloNegocio }}
				<br />
				<vue-numeric
					class="form-control form-control-sm"
					separator=","
					:precision="2"
					currency="$"
					:read-only="true"
					:value="negocio.valorNegocio"
				/>{{ " " + negocio.tipoMoneda }}
				<br />
				{{ negocio.nombre_cliente }}
			</p>
			<div align="center">
				<span v-if="condicionDays" class="badge badge-pill badge-light">
					{{ dias }} {{ labelStatus }}
				</span>
				<span
					v-if="negocio.status == 1 || negocio.status == 2"
					class="badge badge-pill "
					:class="messageStyle"
				>
					{{ labelStatus }}
				</span>
			</div>
		</div>
	</div>
</template>

<script>
import { mapState, mapActions, mapGetters, mapMutations } from "vuex";
export default {
	props: {
		etapa: Object,
		negocio: Object,
	},
	data() {
		return {
			actividades: [],
			dias: null,
			numDias: null,
		};
	},
	mounted() {},
	methods: {
		...mapMutations("negocios", ["addActividades", "setNegocioSelected"]),
		...mapActions("negocios", ["getNegocio"]),
		selectedNegocio() {
			this.$router.push(
				BaseUrl + `/ventas/negocios/${this.negocio.idNegocio}`
			);
		},
		openModalActividades() {
			const data = {
				negocio: this.negocio,
				vencidas: this.vencidas,
				planeadas: this.planeadas,
				hoy: this.hoy,
			};
			this.$emit("openModalActividades", data);
		},
		openModalActividad() {
			this.$emit("openModalActividad", this.negocio);
		},
		hasPermission(funcion) {
			if (this.permissions.length) {
				const permiso = this.permissions.find(
					(permiso) => permiso.idFuncion == funcion
				);
				if (permiso) return true;
				return false;
			}
		},
	},
	computed: {
		...mapState(["permissions"]),

		totalRows() {
			return this.$store.state.totalRows;
		},
		hoy() {
			return this.negocio.actividades.filter((actividad) => {
				const fechaActividad = moment(actividad.fechaActividad).format(
					"YYYY-MM-DD"
				);
				const diff = moment().diff(fechaActividad, "days");
				const tomorrow = moment()
					.add(1, "days")
					.format("YYYY-MM-DD");
				if (
					actividad.completado == 0 &&
					fechaActividad != tomorrow &&
					diff == 0
				) {
					return actividad;
				}
			});
		},
		planeadas() {
			return this.negocio.actividades.filter((actividad) => {
				const fechaActividad = moment(actividad.fechaActividad).format(
					"YYYY-MM-DD"
				);
				const diff = moment().diff(fechaActividad, "days");
				const tomorrow = moment()
					.add(1, "days")
					.format("YYYY-MM-DD");
				if (
					(actividad.completado == 0 && fechaActividad == tomorrow) ||
					diff < 0
				) {
					return actividad;
				}
			});
		},
		vencidas() {
			return this.negocio.actividades.filter((actividad) => {
				const fechaActividad = moment(actividad.fechaActividad);
				const diff = moment().diff(fechaActividad, "days");
				if (actividad.completado == 0 && diff > 0) {
					return actividad;
				}
			});
		},
		totalActividades() {
			return (
				this.hoy.length + this.planeadas.length + this.vencidas.length
			);
		},
		iconClass() {
			if (this.totalActividades == 0) {
				return "fas fa-exclamation-triangle";
			} else if (!this.hoy.length && this.vencidas.length) {
				return "fas fa-play-circle";
			} else if (!this.hoy.length && this.planeadas.length) {
				return "fas fa-play-circle";
			} else if (this.hoy.length) {
				return "fas fa-play-circle";
			}
		},
		iconStyle() {
			if (this.totalActividades == 0) {
				return { color: "rgb(255, 155, 0)" }; //oranch
			} else if (!this.hoy.length && this.vencidas.length) {
				return { color: "rgb(255, 62, 41)" }; //red
			} else if (!this.hoy.length && this.planeadas.length) {
				return { color: "rgb(142, 149, 154" }; //gray
			} else if (this.hoy.length) {
				return { color: "#2bc14e" }; //green
			}
		},
		condicionDays() {
			if (
				(this.negocio.status == 0 &&
					this.etapa.inactividad >= 3 &&
					this.dias > this.etapa.inactividad) ||
				this.dias == 1
			) {
				return true;
			} else {
				return false;
			}
		},
		messageStyle() {
			if (this.negocio.status == 1) {
				return "badge-success";
			} else {
				return "badge-danger";
			}
		},
		labelStatus() {
			if (this.negocio.status == 1) {
				return "Ganado";
			} else if (this.negocio.status == 2) {
				return "Perdido";
			} else if (this.negocio.status == 0 && this.dias == 1) {
				return "día";
			} else {
				return "días";
			}
		},
		cardStyle() {
			const contadorActivo = moment(
				this.negocio.contadorActivo,
				"YYYY-MM-DD"
			); //Monitorear esta linea
			const diff = moment().diff(contadorActivo, "days");
			this.dias = diff;
			if (
				this.negocio.status == 0 &&
				this.etapa.inactividad >= 3 &&
				this.dias > this.etapa.inactividad
			) {
				return { background: "#ffe8e8" };
			} else if (
				this.negocio.status == 0 &&
				this.etapa.inactividad > 0 &&
				this.dias == 1
			) {
				//return {background: '#fff59d'}
				return { background: "#fff9c4" };
				//return {background: '#ffff8d'}
			}
		},
	},
};
</script>
