<template> 
	<b-container fluid>
		<vt-negocios-header :title="'Embudos de negocios'" />
		<filters-component>
            <template>
                <vt-negocios-filters/>
            </template>
        </filters-component>
       	<vt-negocios-embudos-table/>
    </b-container>
</template>

<script>
    export default {
		mounted(){
          this.$store.commit('setRouteName', 'negocios.embudos')
        }
    }
</script>