<template>
	<div style="max-height: 45px">
		{{ etapa.nombreEtapa }}<br>
		<label id="probabilidad">
			<template v-if="etapa.probabilidad>0">
				<small id="probabilidad-valor">  
				    <vue-numeric class="text-right form-control form-control-sm"
						separator="," 
						:precision="2"
						currency="$"
						:read-only="true"
						:value="valorTotalProbabilidad" /> 
						MXN / 
				</small> 
				<small id="probabilidad-porcentaje">
					{{ etapa.probabilidad }}% de 
					<vue-numeric class="text-right form-control form-control-sm"
						separator="," 
						:precision="2"
						currency="$"
						:read-only="true"
						:value="valorTotalNegocios" /> 
				</small>
			</template>
		    <small>{{ negociosByEtapa.length }} negocios</small>
		</label>
	</div>
</template>

<script>

	import { mapState, mapMutations, mapGetters } from 'vuex'

	export default {
		props:{
			etapa: Object
		},
		data() {
			return {
				valorTotalNegocios: 0
			}
		},
		mounted() {
			
		},
		methods:{
			testFilter(negocio){
				var valorNegocio = 0;
				if(negocio.tipoMoneda == 'USD')
					valorNegocio = negocio.valorNegocio * negocio.xCambio
				else
					valorNegocio = negocio.valorNegocio
				this.valorTotalNegocios = this.valorTotalNegocios + parseFloat(valorNegocio)
			},
			sumaTotales()
			{
				this.negociosByEtapa.filter(this.testFilter);
			},
		},
		computed:{
			...mapGetters('negocios', ['filteredNegociosEmbudos']),
			negociosByEtapa()
			{
				return this.filteredNegociosEmbudos.filter(negocio => negocio.idEtapa == this.etapa.idEtapa  
                    )
			},
			valorTotalProbabilidad()
			{
				return this.valorTotalNegocios * (this.etapa.probabilidad / 100)
			}
		},
		watch:{
			negociosByEtapa()
			{
				this.valorTotalNegocios= 0
				this.sumaTotales()
			}
		}
	}
</script>
<style>
	#probabilidad-porcentaje{
		display: none;
		margin-top: -3px;
		margin-bottom: -8px;
	}
	#probabilidad:hover #probabilidad-porcentaje{
		 display: block;
	}
	#probabilidad:hover #probabilidad-valor{
		 display: none;
	}
</style>