<template>
	<div>
		<template v-if="hoy.length > 0">
			<h5>Hoy ({{ hoy.length }})</h5>
			<b-card class="my-3">
				<b-card-text>
					<vt-negocios-embudos-actividades-pendientes
						v-for="actividad in hoy"
						:actividad="actividad"
						:estado="'hoy'"
						:key="actividad.idActividad"
					/>
				</b-card-text>
			</b-card>
		</template>
		<template v-if="planeadas.length > 0">
			<h5>Pendientes ({{ planeadas.length }})</h5>
			<b-card class="my-3">
				<b-card-text>
					<vt-negocios-embudos-actividades-pendientes
						v-for="actividad in planeadas"
						:actividad="actividad"
						:estado="'planeada'"
						:key="actividad.idActividad"
					/>
				</b-card-text>
			</b-card>
		</template>
		<template v-if="vencidas.length > 0">
			<h5>Vencidas ({{ vencidas.length }})</h5>
			<b-card class="my-3">
				<b-card-text>
					<vt-negocios-embudos-actividades-pendientes
						v-for="actividad in vencidas"
						:actividad="actividad"
						:estado="'vencida'"
						:key="actividad.idActividad"
					/>
				</b-card-text>
			</b-card>
		</template>
		<center>
			<b-button
				v-if="hasPermission('vt.crm.negocios.registrar.actividad')"
				variant="link"
				class="mt-2 text-danger"
				v-b-modal.modal
			>
				<h6><i class="far fa-calendar-alt"></i> Añadir actividad</h6>
			</b-button>
		</center>
	</div>
</template>

<script>
import { mapState } from "vuex";
export default {
	props: {
		etapa: Object,
		negocio: Object,
		vencidas: Array,
		planeadas: Array,
		hoy: Array,
	},
	methods: {
		hasPermission(funcion) {
			if (this.permissions.length) {
				const permiso = this.permissions.find(
					(permiso) => permiso.idFuncion == funcion
				);
				if (permiso) return true;
				return false;
			}
		},
	},
	computed: {
		...mapState(["permissions"]),
	},
};
</script>
