<template>
	<div>
		<div style="overflow: auto">
			<b-table-simple
				bordered
				:sticky-header="true"
				responsive
				id="embudosTable"
			>
				<b-thead head-variant="light">
					<b-tr>
						<b-th
							scope="col"
							v-for="etapa in etapas"
							:key="etapa.idEtapa"
						>
							<vt-negocios-embudos-etapas-head-component
								:etapa="etapa"
							/>
						</b-th>
					</b-tr>
				</b-thead>
				<b-tbody>
					<b-tr>
						<b-td
							class="px-0 py-0"
							v-for="etapa in etapas"
							:key="etapa.idEtapa"
						>
							<template v-for="negocio in filteredNegociosEmbudos">
								<vt-negocios-embudos-card-negocio
									v-if="etapa.idEtapa == negocio.idEtapa"
									:negocio="negocio"
									:etapa="etapa"
									:key="negocio.idNegocio"
									@openModalActividad="openModalActividad($event)"
									@openModalActividades="
										openModalActividades($event)
									"
								/>
							</template>
						</b-td>
					</b-tr>
				</b-tbody>
			</b-table-simple>
		</div>
		<div class="text-center mt-3" v-show="loading">
			<h5 class="text-secondary">
				<b-spinner
					type="grow"
					style="width: 1.5rem; height: 1.5rem"
				></b-spinner
				><label class="ml-1">Cargando...</label>
			</h5>
		</div>
		<div class="text-center mt-3" v-show="!negociosLength">
			<h5 class="text-secondary">
				<label>No se encontraron negocios</label>
			</h5>
		</div>
		<modal-component
			:id="'modal-actividades-pendientes'"
			:title="'Crear actividad'"
		>
			<template slot="content">
				<vt-negocios-embudos-list-actividades
					:negocio="negocio"
					:vencidas="vencidas"
					:planeadas="planeadas"
					:hoy="hoy"
				/>
			</template>
			<template slot="buttons">
				<b-button
					variant="secondary"
					size="sm"
					type="submit"
					@click="aceptar()"
				>
					Aceptar
				</b-button>
			</template>
		</modal-component>
		<modal-component :id="'modal'" :title="'Crear actividad'">
			<template slot="content">
				<vt-form-actividad :negocio="negocio" />
			</template>
		</modal-component>
	</div>
</template>

<script>
import { mapState, mapActions, mapGetters, mapMutations } from "vuex";
export default {
	props: {},
	data() {
		return {
			negocio: null,
			vencidas: null,
			planeadas: null,
			hoy: null,
			loading: true,
			negociosLength: true,
		};
	},
	mounted() {
		this.getEtapas();
		this.getNegociosActividades();
	},
	methods: {
		...mapActions("negocios", ["getNegociosActividades", "getEtapas"]),
		...mapMutations(["modalSubmit", "modalOk", "setTotalRows"]),
		...mapMutations("negocios", ["setFilterEmbudos"]),
		openModalActividades(data) {
			this.negocio = data.negocio;
			this.vencidas = data.vencidas;
			this.planeadas = data.planeadas;
			this.hoy = data.hoy;
		},
		openModalActividad(negocio) {
			this.negocio = negocio;
		},
		aceptar() {
			this.modalSubmit(true);
		},
	},
	computed: {
		...mapState(["filter"]),
		...mapState("negocios", ["etapas", "negocios_actividades"]),
		...mapGetters("negocios", ["filteredNegociosEmbudos", "filterEmbudos"]),
		totalRows() {
			return this.$store.state.totalRows;
		},
	},
	watch: {
		filter() {
			this.setFilterEmbudos(this.filter);
		},
		filteredNegociosEmbudos() {
			this.setTotalRows(this.filteredNegociosEmbudos.length);
			this.negociosLength = this.filteredNegociosEmbudos.length
				? true
				: false;
			if (this.loading == true) this.loading = false;
		},
	},
};
</script>

    <style>
#embudosTable td {
	width: 200px;
	overflow: auto;
	min-width: 230px;
}

.b-table-sticky-header {
	overflow-y: auto;
	/*max-height: calc(100vh - 128px);*/
	max-height: calc(100vh - 265px);
}
</style>

