<template>
	<b-container>
		<b-card class="mt-4">
			<h3>Negocios AMMMEC 2020 que faltan de número de servicio</h3>
			<hr class="mb-4">
		<b-list-group>
			<negocios v-for="negocio in negocios" :key="negocio.idNegocio" :negocio="negocio" :selectServicios="selectServicios"></negocios>
		</b-list-group>
		</b-card>
	</b-container>
</template>

<script>
	export default {
		data(){
			return {
				negocios: [],
				selectServicios: []
			}
		},
		mounted()
		{
			this.getNegocios()
			this.getServicios()
		},
		methods:{
			getNegocios(){
				axios.get(BaseUrl + '/api/vt/servicios').then((response) =>{
					this.negocios = response.data;
				})
			},
			getServicios() {
				axios.get(BaseUrl + `/api/vt/servicios/select`)
				.then((response) => {
					this.selectServicios = response.data.map(servicio => ({
			            text: servicio.servicio,
		            	value: {text:servicio.noServicio, value:servicio.idServicio, claveServicio: servicio.claveServicio},
		        	}))
				});
			},
		},
		computed: {

		}
	}
</script>