<template>
	<b-list-group-item>
		<b-container>
			<b-row>
				<b-col lg="6">
					<div>
						<strong>Clave corta</strong>
						{{ negocio.claveNegocio }}
					</div>
					<div>
						<strong>Clave completa</strong>
						{{ negocio.claveNegocioCompleta }}
					</div>
					<div>
						<strong>Titulo negocio</strong> 
						{{ negocio.tituloNegocio }}
					</div>
					<b-row class="pl-0 pt-3">
						<b-col lg="2">
							<label for="input-small">Servicio:</label>
						</b-col>
						<b-col lg="5" class="px-0">
							  <b-form-select v-model="servicioSelected" :options="selectServicios" size="sm" @change="setClaves"></b-form-select>
						</b-col>
						<b-col lg="1">
							  <i class="fas fa-check-circle text-success pt-2" v-if="completo"></i>
						</b-col>
					</b-row>
				</b-col>
				<b-col lg="6">
					<div v-if="claveNew.length">
						<strong>Clave corta actualizada</strong>
						{{ claveNew }}
					</div>
					<div v-if="claveCompletaNew.length">
						<strong>Clave completa actualizada</strong>
						{{ claveCompletaNew }}
					</div>
				</b-col>
			</b-row>
			<hr class="mb-0 mt-4">
		</b-container>
	</b-list-group-item>
</template>

<script>
	export default {
		props:{
			negocio: Object,
			selectServicios: Array
		},
		data(){
			return {
				servicioSelected: null,
				completo: false,
				claveNew: '',
				claveCompletaNew: ''
			}
		},
		mounted(){
			console.log(this.negocio)
			if(this.negocio.idServicio != null){
				this.completo=true;
			}
		},
		methods: {
			setClaves()
			{
				var claveConsecutivo = ('0000'+this.negocio.claveConsecutivo).substring(this.negocio.claveConsecutivo.toString().length);
				const params={
					id_negocio: this.negocio.idNegocio,
					clave_negocio: this.negocio.claveCliente +'-'+ claveConsecutivo +'-'+ this.servicioSelected.claveServicio, 
					clave_negocio_completa: this.negocio.claveCliente+'-'+claveConsecutivo+'-'+this.negocio.clave_unidad+'-'+this.negocio.clave_equipo+'-'+this.servicioSelected.text,
					clave_servicio: this.servicioSelected.claveServicio,
					id_servicio: this.servicioSelected.value
				}
				axios.post(BaseUrl + '/api/vt/servicios', params).then((response)=>{
					this.claveNew = response.data.negocio.claveNegocio
					this.claveCompletaNew = response.data.negocio.claveNegocioCompleta
					this.completo = true;
				})
			}
		},
		computed: {
			
		}
	}
</script>