<template>
	<b-container fluid style="height: calc(100vh - 54px)">
		<b-row class="h-100">
			<b-col lg="2" class="px-0 h-100">
				<th-configuracion-sidebar />
			</b-col>
			<b-col lg="10" class="pl-0">
				<div
					class="p-4"
					style="height: calc(100vh - 54px); overflow: auto;"
				>
					<b-row>
						<b-col lg="2"></b-col>
						<b-col lg="8">
							<h1 class="text-center">
								Registro de departamentos
							</h1>
						</b-col>
						<b-col lg="2"></b-col>
					</b-row>

					<b-card class="shadow-sm mt-4">
						<b-row>
							<b-col lg="4">
								<b-button
									size="sm"
									class="shadows"
									variant="danger"
									@click="openModal"
									>Agregar departamento</b-button
								>
							</b-col>
							<b-col lg="4">
								<h3 class="text-center mb-0">
									Lista de departamentos
								</h3>
							</b-col>
							<b-col lg="4">
								<div
									class="input-group w-100 bg-white border"
									id="input-shadow"
								>
									<div
										class="input-group-prepend bg-light mr-1 ml-3"
									>
										<div class="pt-1 bg-white">
											<i class="fas fa-search"></i>
										</div>
									</div>
									<b-form-input
										id="input-search"
										size="sm"
										class="form-control border-0"
										placeholder="Escribe tu busqueda aquí"
										:value="filter"
										@input="setFilterSearch($event)"
										autocomplete="off"
									></b-form-input>
								</div>
							</b-col>
						</b-row>
						<hr class="mb-0 mt-4" />

						<b-skeleton-table
							v-if="busyDepartamentos"
							:rows="8"
							:columns="3"
							:table-props="{ striped: true }"
						>
						</b-skeleton-table>

						<b-table-simple
							v-else
							responsive
							bordered
							style="height: calc(100vh - 322px); overflow: auto; font-size: 11px;"
							hover
							striped
						>
							<b-thead style="font-size: 12px;">
								<b-tr>
									<b-th
										class="text-center"
										style="min-width: 300px;"
										>Nombre</b-th
									>
									<b-th
										class="text-center"
										style="min-width: 250px;"
										>Abreviatura</b-th
									>
									<b-th
										class="text-center"
										style="min-width: 50px;"
										>Acción</b-th
									>
								</b-tr>
							</b-thead>
							<b-tbody style="font-size: 12px;">
								<b-tr
									v-if="departamentosFiltered.length"
									v-for="(departamento,
									index) in departamentosFiltered"
									:key="index"
								>
									<b-td class="align-middle">
										<h6
											class="mb-0"
											style="font-size: 13px;"
										>
											<dd>
												<strong>{{
													departamento.nombre
												}}</strong>
											</dd>
										</h6>
									</b-td>
									<b-td class="align-middle text-center">{{
										departamento.codigo
									}}</b-td>
									<b-td class="align-middle text-center">
										<b-dropdown
											id="dropdown-left"
											right
											variant="link"
											class="py-0 my-0"
											no-caret
											size="sm"
										>
											<template v-slot:button-content>
												<i
													class="fas fa-ellipsis-v px-2 py-0 text-secondary"
												></i>
											</template>
											<b-dropdown-item
												v-b-modal.modal-agregar-th-departamento
												@click="
													setDataEdit(departamento)
												"
											>
												<i class="fas fa-edit px-2"></i>
												Editar
											</b-dropdown-item>
											<b-dropdown-item
												@click="
													showMsgBoxDeleteConfirm(
														departamento.idDepartamento
													)
												"
											>
												<i
													class="fas fa-trash px-2"
												></i>
												Eliminar
											</b-dropdown-item>
											<slot
												name="dropdown-more-actions"
											></slot>
										</b-dropdown>
									</b-td>
								</b-tr>
								<b-tr
									v-if="
										!busyDepartamentos &&
											!departamentosFiltered.length
									"
								>
									<b-td colspan="3">
										<h5 class="text-center my-3">
											No se encontraron resultados
										</h5>
									</b-td>
								</b-tr>
							</b-tbody>
						</b-table-simple>
					</b-card>
				</div>
			</b-col>
		</b-row>

		<modal-component
			:id="'modal-agregar-th-departamento'"
			title="Agregar departamento"
			:hideFooter="true"
			:hideHeader="true"
			:centered="true"
		>
			<template slot="content">
				<th-configuracion-departamentos-form-departamento-component
					:departamento="departamento"
				/>
			</template>
		</modal-component>
	</b-container>
</template>

<script>
import { mapState, mapActions, mapMutations, mapGetters } from "vuex";
export default {
	data() {
		return {
			departamento: null,
		};
	},
	mounted() {
		this.getDepartamentos();
	},
	methods: {
		...mapActions("th_departamentos", ["getDepartamentos"]),
		...mapMutations("th_departamentos", [
			"removeDepartamento",
			"setFilterSearch",
		]),

		setDataEdit(departamento) {
			this.departamento = departamento;
		},
		openModal() {
			this.departamento = null;
			this.$bvModal.show("modal-agregar-th-departamento");
		},
		showMsgBoxDeleteConfirm(id) {
			this.$bvModal
				.msgBoxConfirm(
					`¿Confirmas que quieres eliminar este departamento?`,
					{
						title: "Favor de confirmar",
						size: "sm",
						buttonSize: "sm",
						okVariant: "danger",
						cancelVariant: "light",
						okTitle: "Confirmar",
						cancelTitle: "Cancelar",
						headerClass: "pt-3 pb-2 border-bottom-0",
						footerClass: "p-2 border-top-0",
						centered: true,
					}
				)
				.then((confirm) => {
					if (confirm) {
						this.remove(id);
					}
				});
		},
		async remove(id) {
			try {
				const response = await axios.delete(
					BaseUrl + `/api/th/departamento/${id}`
				);
				if (response.data.success) this.removeDepartamento(id);
			} catch (e) {
				console.log(e);
			}
		},
	},
	computed: {
		...mapGetters("th_departamentos", ["departamentosFiltered"]),
		...mapState("th_departamentos", ["busyDepartamentos", "filter"]),
	},
	watch: {},
};
</script>
