<template>
	<b-overlay
		:show="overlay"
		rounded="sm"
		opacity="1.0"
		blur="1px"
		variant="transparent"
	>
		<b-form-group>
			<template v-slot:label>
				<div class="lab-form">Nombre<span class="req">*</span></div>
			</template>
			<b-form-input
				v-model="$v.form.nombre.$model"
				placeholder="Nombre del departamento"
				:state="$v.form.nombre.$dirty ? !$v.form.nombre.$error : null"
			>
			</b-form-input>
			<b-form-invalid-feedback id="feedback-nombre">
				Campo obligatorio
			</b-form-invalid-feedback>
		</b-form-group>

		<b-form-group>
			<template v-slot:label>
				<div class="lab-form">
					Abreviatura<span class="req">*</span>
				</div>
			</template>
			<b-form-input
				v-model="$v.form.codigo.$model"
				placeholder="Abreviatura del departamento"
				:state="$v.form.codigo.$dirty ? !$v.form.codigo.$error : null"
			>
			</b-form-input>
			<b-form-invalid-feedback id="feedback-codigo">
				Campo obligatorio
			</b-form-invalid-feedback>
		</b-form-group>

		<div class="d-flex flex-row-reverse bd-highlight">
			<b-button variant="danger" class="ml-3 my-2" @click="submit">
				GUARDAR
			</b-button>
			<b-button variant="white" class="link-light my-2" @click="cancel">
				CANCELAR
			</b-button>
		</div>
	</b-overlay>
</template>

<script>
import { mapMutations, mapState, mapActions } from "vuex";
import { required } from "vuelidate/lib/validators";

export default {
	props: {
		departamento: Object,
	},
	data() {
		return {
			load: true,
			errorSubmit: false,
			overlay: false,

			form: {
				nombre: null,
				codigo: null,
			},
		};
	},
	mounted() {
		if (this.departamento) this.setDataEdit();
	},
	methods: {
		...mapMutations(["modalSubmit", "modalOk"]),
		...mapMutations("th_departamentos", [
			"addDepartamento",
			"updateDepartamento",
		]),

		async submit() {
			this.overlay = true;
			this.errorSubmit = false;
			this.$v.$touch();

			if (!this.$v.$invalid) {
				try {
					const response = !this.departamento
						? await axios.post(`/api/th/departamento`, this.form)
						: await axios.put(
								`/api/th/departamento/${this.departamento.idDepartamento}`,
								this.form
						  );
					if (response.data.success) {
						if (!this.departamento)
							this.addDepartamento(response.data.departamento);
						else
							this.updateDepartamento(response.data.departamento);
						this.modalSubmit(true);
						this.overlay = false;
					} else {
						this.modalOk(false);
					}
				} catch (e) {
					console.log(e);
					this.overlay = false;
					this.errorSubmit = true;
				}
			} else {
				this.overlay = false;
			}
		},
		setDataEdit() {
			this.form.nombre = this.departamento.nombre;
			this.form.codigo = this.departamento.codigo;
		},
		cancel() {
			this.$bvModal.hide("modal-agregar-th-departamento");
		},
	},
	computed: {
		...mapState(["usuario", "okModal"]),
	},
	validations() {
		return {
			form: {
				nombre: { required },
				codigo: { required },
			},
		};
	},
};
</script>
