<template>
	<b-overlay
		:show="overlay"
		rounded="sm"
		opacity="1.0"
		blur="1px"
		variant="transparent"
	>
		<b-form-group>
			<template v-slot:label>
				<div class="lab-form">Servicio<span class="req">*</span></div>
			</template>
			<b-form-input
				placeholder="Ingrese el nombre del servicio"
				v-model="$v.form.name.$model"
				:state="$v.form.name.$dirty ? !$v.form.name.$error : null"
			>
			</b-form-input>
			<b-form-invalid-feedback id="feedback-cc">
				Campo obligatorio
			</b-form-invalid-feedback>
		</b-form-group>

		<b-form-group>
			<template v-slot:label>
				<div class="lab-form">
					Descripción<span class="req">*</span>
				</div>
			</template>
			<b-form-textarea
				placeholder="Ingrese la descripción"
				v-model="$v.form.description.$model"
				:state="
					$v.form.description.$dirty
						? !$v.form.description.$error
						: null
				"
				rows="5"
			>
			</b-form-textarea>
			<b-form-invalid-feedback id="feedback-cc">
				Campo obligatorio
			</b-form-invalid-feedback>
		</b-form-group>

		<div class="d-flex flex-row-reverse bd-highlight">
			<b-button variant="danger" class="ml-3 my-2" @click="submit">
				AGREGAR
			</b-button>
			<b-button variant="white" class="link-light my-2" @click="cancel">
				CANCELAR
			</b-button>
		</div>
	</b-overlay>
</template>

<script>
import { mapMutations, mapState, mapActions } from "vuex";
import { required } from "vuelidate/lib/validators";

export default {
	props: {
		service: Object,
	},
	data() {
		return {
			overlay: false,
			form: {
				name: null,
				description: null,
				status: "Activo",
				departament_id: null,
			},
		};
	},
	mounted() {
		if (this.service) this.setDataEdit();
	},
	methods: {
		...mapMutations(["modalSubmit", "modalOk"]),
		...mapMutations("services", ["addService", "updateService"]),

		async submit() {
			this.overlay = true;
			this.$v.$touch();
			if (!this.$v.$invalid) {
				this.form.departament_id = this.usuario.id_departamento;
				try {
					const response = !this.service
						? await axios.post(`/api/tk/service`, this.form)
						: await axios.put(`/api/tk/service`, this.form);
					if (response.data.saved) {
						if (!this.service)
							this.addService(response.data.service);
						else this.updateService(response.data.service);
						this.modalSubmit(true);
					} else this.modalOk(false);
				} catch (e) {
					this.overlay = false;
				}
			} else {
				this.overlay = false;
			}
		},
		setDataEdit() {
			this.form.id = this.service.id;
			this.form.name = this.service.name;
			this.form.description = this.service.description;
			this.form.status = this.service.status;
		},
		cancel() {
			this.$bvModal.hide("modal-service");
		},
	},
	computed: {
		...mapState(["usuario"]),
		...mapState(["usuario", "okModal"]),
	},
	validations: {
		form: {
			name: { required },
			description: { required },
			status: {},
			departament_id: {},
		},
	},
	watch: {
		okModal() {
			if (this.okModal == true) {
				this.submit();
			}
		},
	},
};
</script>
