<template>
	<b-overlay
		:show="overlay"
		rounded="sm"
		opacity="1.0"
		blur="1px"
		variant="transparent"
	>
		<div class="text-center">
			<h4 class="display-1" style="font-size: 20px;">
				<strong>{{ service.name }}</strong>
			</h4>
			<hr />
		</div>

		<!-- {{ unassignedUsers }} -->
		<div class="input-group w-100 bg-white border mb-4" id="input-shadow">
			<div class="input-group-prepend bg-light mr-1 ml-3">
				<div class="pt-1 bg-white">
					<i class="fas fa-search"></i>
				</div>
			</div>
			<b-form-input
				id="input-search"
				size="sm"
				class="form-control border-0"
				placeholder="Escribe tu busqueda aquí"
				v-model="filter"
				autocomplete="off"
			></b-form-input>
		</div>

		<div class="text-center mt-1 mb-3">
			<h4 class="display-1" style="font-size: 15px;">
				Usuarios asignados
			</h4>
		</div>

		<b-card v-if="loading">
			<b-skeleton animation="wave" width="85%"></b-skeleton>
			<b-skeleton animation="wave" width="55%"></b-skeleton>
			<b-skeleton animation="wave" width="70%"></b-skeleton>
		</b-card>

		<b-list-group
			v-else
			style="max-height: calc(100vh - 456px); overflow: auto; border-radius: 0rem; font-size: 12px;"
		>
			<b-list-group-item
				v-for="(user, index) in usersFiltered"
				:key="index"
			>
				<b-row>
					<b-col lg="10">
						<b-media>
							<template #aside>
								<b-avatar
									:src="'/img/profiles/' + user.foto"
								></b-avatar>
							</template>
							<h4 class="mt-0 mb-1" style="font-size: 13px;">
								{{ user.name }}
							</h4>
							<p class="mb-0" style="font-size: 11px;">
								{{ user.email }}
							</p>
						</b-media>
					</b-col>
					<b-col lg="2" align="right">
						<b-link @click="confirmation(user, index)">
							<b-icon
								icon="trash-fill"
								font-scale="1.3"
								class="text-danger mr-2"
							>
							</b-icon>
						</b-link>
					</b-col>
				</b-row>
			</b-list-group-item>
			<b-list-group-item
				class="text-center text-secondary"
				v-if="!usersFiltered.length"
			>
				No hay ningún responsable asignado
			</b-list-group-item>
		</b-list-group>

		<b-overlay :show="busy" no-wrap variant="white">
			<template v-slot:overlay>
				<div
					ref="dialog"
					tabindex="-1"
					role="dialog"
					aria-modal="false"
					aria-labelledby="form-confirm-label"
					class="text-center p-3"
				>
					<p>
						<strong id="form-confirm-label">
							¿Está seguro que desea eliminar el asunto?
						</strong>
					</p>
					<div class="d-flex justify-content-center">
						<b-button
							size="sm"
							class="mr-2 px-3"
							variant="secondary"
							@click="onCancel"
						>
							Cancelar
						</b-button>
						<b-button
							size="sm"
							class="px-3"
							variant="danger"
							@click="onOK"
						>
							Confirmar
						</b-button>
					</div>
				</div>
			</template>
		</b-overlay>

		<hr class="mt-4 mb-0" />
		<form ref="form" @submit.stop.prevent="submit" class="mt-1">
			<b-form-group v-if="addingSubject" class="mb-1">
				<template v-slot:label>
					<div class="lab-form">
						Usuario<span class="req">*</span>
					</div>
				</template>

				<b-form-select
					class="mb-2"
					v-model="$v.form.user_id.$model"
					:state="
						$v.form.user_id.$dirty ? !$v.form.user_id.$error : null
					"
					:options="selectUsers"
					size="sm"
				>
					<template v-slot:first>
						<option :value="null">Seleccione el usuario</option>
					</template>
				</b-form-select>
			</b-form-group>

			<b-row class="mb-1">
				<b-col lg="4">
					<b-button
						v-if="addingSubject"
						variant="danger"
						type="submit"
						size="sm"
					>
						GUARDAR
					</b-button>
				</b-col>
				<b-col lg="8">
					<b-link
						v-if="!addingSubject"
						class="text-danger float-right pr-0 mt-1 fs-12"
						size="sm"
						@click="addingSubject = true"
					>
						+ agregar responsable
					</b-link>
					<b-link
						v-else
						class="link-light float-right pr-2 mt-1 fs-12"
						size="sm"
						@click="clearData()"
					>
						Cancelar
					</b-link>
				</b-col>
			</b-row>
		</form>

		<div class="d-flex flex-row-reverse bd-highlight">
			<b-button
				variant="white"
				class="link-light my-2"
				@click="modalCancel"
			>
				TERMINAR
			</b-button>
		</div>
	</b-overlay>
</template>

<script>
import { mapMutations, mapState, mapActions } from "vuex";
import { required } from "vuelidate/lib/validators";

export default {
	props: {
		service: Object,
	},
	data() {
		return {
			busy: false,
			loading: true,
			dataRemove: null,
			addingSubject: false,
			overlay: false,
			filter: "",
			form: {
				user_id: null,
				service_id: null,
			},
		};
	},
	mounted() {
		this.getUsersByService(this.service.id);
		this.getUsersByDepartament(this.service.departament_id);
	},
	methods: {
		...mapMutations("services", ["setUsersByService"]),
		...mapActions("services", ["getUsersByService", "getUsersByDepartament"]),

		confirmation(user, index) {
			this.dataRemove = {
				service_id: user.service_id,
				user_id: user.user_id,
				index: index,
			};
			this.busy = true;
		},
		onCancel() {
			this.dataRemove = null;
			this.busy = false;
		},
		async onOK() {
			let response = await axios.put(
				`/api/tk/service/user`,
				this.dataRemove
			);
			if (response.data.success)
				this.users.splice(this.dataRemove.index, 1);
			this.busy = false;
		},
		submit() {
			this.overlay = true;
			this.$v.$touch();
			if (!this.$v.$invalid) {
				try {
					this.form.service_id = this.service.id;
					axios
						.post("/api/tk/service/user", this.form)
						.then((response) => {
							if (response.data.success) {
								this.clearData();
								this.overlay = false;
								this.setUsersByService(response.data.users);
							}
						});
				} catch (e) {
					this.overlay = false;
				}
			} else {
				this.overlay = false;
			}
		},
		clearData() {
			this.addingSubject = false;
			this.form.user_id = null;
			this.form.service_id = null;
		},
		modalCancel() {
			this.$bvModal.hide("modal-responsible");
		},
	},
	computed: {
		// ...mapState(["usuario"]),
		...mapState("services", ["users", "selectUsers"]),

		// unassignedUsers() {
		// 	console.log(this.selectUsers);
		// 	var data = [];
		// 	this.users.forEach(function(user) {
		// 		if (
		// 			!this.selectUsers.filter(
		// 				(item) => item.value == user.idUsuario
		// 			).length > 0
		// 		) {
		// 			data.push(user);
		// 		}
		// 	}, this);
		// 	return data;
		// },
		usersFiltered() {
			return this.users
				.filter((user) =>
					user.nombreUsuario
						.toLowerCase()
						.includes(this.filter.toLowerCase())
				)
				.map(function(user) {
					return {
						name: user.nombreUsuario,
						email: user.email,
						foto: user.foto,
						service_id: user.pivot.service_id,
						user_id: user.pivot.user_id,
					};
				});
		},
	},
	validations: {
		form: {
			user_id: { required },
			service_id: {},
		},
	},
	watch: {
		usersFiltered() {
			this.loading = false;
		},
	},
};
</script>
