<template>
	<b-overlay
		:show="overlay"
		rounded="sm"
		opacity="1.0"
		blur="1px"
		variant="transparent"
	>
		<div class="text-center mb-3 bg-light p-2 border">
			<h5 class="mb-0">
				{{ service.name }}
			</h5>
		</div>

		<div class="input-group w-100 bg-white border mb-3" id="input-shadow">
			<div class="input-group-prepend bg-light mr-1 ml-3">
				<div class="pt-1 bg-white">
					<i class="fas fa-search"></i>
				</div>
			</div>
			<b-form-input
				id="input-search"
				size="sm"
				class="form-control border-0"
				placeholder="Escribe tu busqueda aquí"
				v-model="filter"
				autocomplete="off"
			></b-form-input>
		</div>

		<b-card v-if="loading">
			<b-skeleton animation="wave" width="85%"></b-skeleton>
			<b-skeleton animation="wave" width="55%"></b-skeleton>
			<b-skeleton animation="wave" width="70%"></b-skeleton>
		</b-card>

		<b-list-group
			v-else
			class="shadow-sm"
			style="max-height: calc(100vh - 456px); overflow: auto; border-radius: 0rem; font-size: 12px;"
		>
			<b-list-group-item
				v-for="(subject, index) in subjectsFiltered"
				:key="index"
			>
				<b-row>
					<b-col lg="10">
						<h6 class="mb-0">{{ subject.name }}</h6>
					</b-col>
					<b-col lg="2" align="right">
						<b-link @click="confirmation(subject, index)">
							<i class="fas fa-trash-alt text-danger mr-2"></i>
						</b-link>
					</b-col>
				</b-row>
			</b-list-group-item>
			<b-list-group-item
				class="text-center text-secondary"
				v-if="!subjectsFiltered.length"
			>
				No se encontraron registros
			</b-list-group-item>
		</b-list-group>

		<b-overlay :show="busy" no-wrap variant="white">
			<template v-slot:overlay>
				<div
					ref="dialog"
					tabindex="-1"
					role="dialog"
					aria-modal="false"
					aria-labelledby="form-confirm-label"
					class="text-center p-3"
				>
					<p>
						<strong id="form-confirm-label">
							¿Está seguro que desea eliminar el asunto?
						</strong>
					</p>
					<div class="d-flex justify-content-center">
						<b-button
							size="sm"
							class="mr-2 px-3"
							variant="secondary"
							@click="onCancel"
						>
							Cancelar
						</b-button>
						<b-button
							size="sm"
							class="px-3"
							variant="danger"
							@click="onOK"
						>
							Confirmar
						</b-button>
					</div>
				</div>
			</template>
		</b-overlay>

		<form ref="form" @submit.stop.prevent="submit" class="mt-3">
			<b-form-group v-if="addingSubject" class="mb-1">
				<b-form-input
					class="mb-2"
					v-model="$v.form.name.$model"
					:state="$v.form.name.$dirty ? !$v.form.name.$error : null"
					size="sm"
					placeholder="Escriba el asunto"
				>
				</b-form-input>
			</b-form-group>

			<b-row class="mb-1 mt-2">
				<b-col lg="4">
					<b-button
						v-if="addingSubject"
						variant="danger"
						type="submit"
						size="sm"
					>
						Guardar
					</b-button>
					<b-link
						v-if="addingSubject"
						class="link-light float-right pr-2 mt-1 fs-12"
						size="sm"
						@click="clearData()"
					>
						Cancelar
					</b-link>
				</b-col>
				<b-col lg="8">
					<b-link
						v-if="!addingSubject"
						class="text-danger float-right pr-0 mt-1 fs-12"
						size="sm"
						@click="addingSubject = true"
					>
						<small><i class="fas fa-plus-circle"></i> Agregar asunto</small>
					</b-link>
				</b-col>
			</b-row>
		</form>

		<div class="d-flex flex-row-reverse bd-highlight">
			<b-button
				variant="white"
				class="link-light my-2"
				@click="modalCancel"
			>
				TERMINAR
			</b-button>
		</div>
	</b-overlay>
</template>

<script>
import { mapMutations, mapState, mapActions } from "vuex";
import { required } from "vuelidate/lib/validators";

export default {
	props: {
		service: Object,
	},
	data() {
		return {
			busy: false,
			loading: true,
			dataRemove: null,
			addingSubject: false,
			overlay: false,
			filter: "",
			form: {
				name: null,
				service_id: null,
			},
		};
	},
	mounted() {
		this.getSubjectsByService(this.service.id);
	},
	methods: {
		...mapMutations(["modalSubmit", "modalOk"]),
		...mapActions("services", ["getSubjectsByService"]),
		...mapMutations("services", ["addSubject"]),

		confirmation(subject, index) {
			this.dataRemove = {
				id: subject.id,
				index: index,
			};
			this.busy = true;
		},
		onCancel() {
			this.dataRemove = null;
			this.busy = false;
		},
		async onOK() {
			let response = await axios.delete(
				`/api/tk/subject/${this.dataRemove.id}`
			);
			if (response.data.success)
				this.subjects.splice(this.dataRemove.index, 1);
			this.busy = false;
		},
		submit() {
			this.overlay = true;
			this.$v.$touch();
			if (!this.$v.$invalid) {
				try {
					this.form.service_id = this.service.id;
					axios.put("/api/tk/subject", this.form).then((response) => {
						if (response.data.success) {
							this.clearData();
							this.overlay = false;
							this.addSubject(response.data.subject);
						}
					});
				} catch (e) {
					this.overlay = false;
				}
			} else {
				this.overlay = false;
			}
		},
		clearData() {
			this.addingSubject = false;
			this.form.name = null;
			this.form.service_id = null;
		},
		modalCancel() {
			this.$bvModal.hide("modal-subject");
		},
	},
	computed: {
		...mapState(["usuario", "okModal"]),
		...mapState("services", ["subjects"]),

		subjectsFiltered() {
			return this.subjects
				.filter((subject) =>
					subject.name
						.toLowerCase()
						.includes(this.filter.toLowerCase())
				)
				.map(function(subject) {
					return {
						id: subject.id,
						name: subject.name,
					};
				});
		},
	},
	validations: {
		form: {
			name: { required },
			service_id: {},
		},
	},
	watch: {
		okModal() {
			if (this.okModal == true) {
				this.submit();
			}
		},
		subjectsFiltered() {
			this.loading = false;
		},
	},
};
</script>
