<template>
	<b-container fluid style="height: calc(100vh - 54px)">
		<b-row class="h-100">
			<b-col lg="2" class="px-0 h-100">
				<tk-configuracion-sidebar />
			</b-col>
			<b-col lg="10" class="pl-0">
				<div class="p-4">
					<b-row>
						<b-col lg="2"></b-col>
						<b-col lg="8">
							<h1 class="text-center">Tickets</h1>
							<h2 class="text-center">
								Configuración de servicios
							</h2>
						</b-col>
						<b-col lg="2">
							<b-badge
								variant="success"
								class="float-right mt-5"
								v-show="success"
							>
								<i class="fas fa-check-circle mr-1"></i>Se han
								guardado correctamente los cambios
							</b-badge>
							<b-badge
								variant="light"
								class="float-right mt-5"
								v-show="load"
							>
								<b-spinner
									type="grow"
									small
									label="Spinning"
								></b-spinner
								>Cargando ...
							</b-badge>
						</b-col>
					</b-row>
					<b-card class="shadow-sm mt-4">
						<b-row>
							<b-col lg="3">
								<b-button
									size="sm"
									variant="danger"
									@click="openModal"
									>Agregar servicio</b-button
								>
							</b-col>
							<b-col lg="6">
								<h3 class="text-center mb-0">
									Servicios disponibles
								</h3>
							</b-col>
							<b-col lg="3">
								<div
									class="input-group w-100 bg-white border"
									id="input-shadow"
								>
									<div
										class="input-group-prepend bg-light mr-1 ml-3"
									>
										<div class="pt-1 bg-white">
											<i class="fas fa-search"></i>
										</div>
									</div>
									<b-form-input
										id="input-search"
										size="sm"
										class="form-control border-0"
										placeholder="Escribe tu busqueda aquí"
										v-model="filter"
										autocomplete="off"
									></b-form-input>
								</div>
							</b-col>
						</b-row>
						<hr />
						<b-skeleton-table
							v-if="busyServices"
							:rows="16"
							:columns="4"
							:table-props="{ striped: true }"
						>
						</b-skeleton-table>
						<b-table-simple
							v-else
							responsive
							style="height: calc(100vh - 322px); overflow: auto;"
							striped
							hover
						>
							<b-thead>
								<b-tr>
									<b-th style="width:25%">Servicio</b-th>
									<b-th style="width:50%">Descripción</b-th>
									<b-th style="width:10%" class="text-center"
										>Disponible</b-th
									>
									<b-th style="width:5%">Acción</b-th>
								</b-tr>
							</b-thead>
							<b-tbody>
								<b-tr
									v-for="(service, index) in servicesFiltered"
									:key="index"
								>
									<b-td>
										{{ service.name }}
									</b-td>
									<b-td class="text-justify">
										{{ service.description }}
									</b-td>
									<b-td class="text-center">
										<b-form-checkbox
											v-model="service.status"
											name="check-button"
											switch
											@change="changeActive(service)"
										>
										</b-form-checkbox>
									</b-td>
									<b-td>
										<b-dropdown
											id="dropdown-left"
											right
											variant="light"
											size="sm"
											class="pt-0 pb-0"
											no-caret
										>
											<template v-slot:button-content>
												<i
													class="fas fa-ellipsis-v px-2"
												></i>
											</template>
											<b-dropdown-item
												v-b-modal.modal-service
												@click="setData(service)"
											>
												<i class="fas fa-edit mr-2"></i>
												Editar
											</b-dropdown-item>
											<b-dropdown-item
												v-b-modal.modal-subject
												@click="setData(service)"
											>
												<i class="fas fa-clipboard-check mr-3"></i>
												Asuntos
											</b-dropdown-item>
											<b-dropdown-item
												v-b-modal.modal-responsible
												@click="setData(service)"
											>
												<i class="fas fa-user-check mr-2"></i>
												Responsables
											</b-dropdown-item>
										</b-dropdown>
									</b-td>
								</b-tr>
								<b-tr
									v-if="
										!busyServices &&
											!servicesFiltered.length
									"
								>
									<b-td colspan="4">
										<h5 class="text-center my-3">
											No se encontraron resultados
										</h5>
									</b-td>
								</b-tr>
							</b-tbody>
						</b-table-simple>
					</b-card>
				</div>
			</b-col>
		</b-row>
		<modal-component
			:id="'modal-service'"
			title="Agregar servicio"
			:hideFooter="true"
			:hideHeader="true"
			:centered="true"
		>
			<template slot="content">
				<tk-configuracion-form-service-component :service="service" />
			</template>
		</modal-component>

		<modal-component
			:id="'modal-subject'"
			title="Asuntos"
			:hideFooter="true"
			:hideHeader="true"
			:centered="false"
		>
			<template slot="content">
				<tk-configuracion-form-subject-component :service="service" />
			</template>
		</modal-component>

		<modal-component
			:id="'modal-responsible'"
			title="Responsables"
			:hideFooter="true"
			:hideHeader="true"
			:centered="false"
		>
			<template slot="content">
				<tk-configuracion-form-responsible-component
					:service="service"
				/>
			</template>
		</modal-component>
	</b-container>
</template>

<script>
import { mapMutations, mapActions, mapState } from "vuex";

export default {
	data() {
		return {
			filter: "",
			load: false,
			service: null,
			success: false,
			busyServices: true,
		};
	},
	mounted() {
		if (this.usuario) this.getServicesByDepartament(this.usuario.id_departamento);
		this.setRouteName("tk.configuracion.services");
	},
	methods: {
		...mapMutations(["setRouteName"]),
		...mapActions("services", ["getServicesByDepartament"]),

		async changeActive(service) {
			this.success = false;
			this.load = true;
			let response = await axios.put("/api/tk/services/status", service);
			if (response.data.success) {
				this.success = true;
				this.load = false;
			} else this.load = false;
		},
		openModal() {
			this.service = null;
			this.$bvModal.show("modal-service");
		},
		setData(service) {
			this.service = service;
		},
	},
	computed: {
		...mapState(["usuario"]),
		...mapState("services", ["services"]),

		servicesFiltered() {
			return this.services
				.filter((service) =>
					service.name
						.toLowerCase()
						.includes(this.filter.toLowerCase())
				)
				.map(function(service) {
					return {
						id: service.id,
						name: service.name,
						description: service.description,
						status: service.status == "Activo" ? true : false,
						departament_id: service.departament_id,
					};
				});
		},
	},
	watch: {
		usuario() {
			this.getServicesByDepartament(this.usuario.id_departamento);
		},
		services() {
			this.busyServices = false;
		},
		success() {
			setTimeout(function() {
				this.success = false;
			}, 5000);
		},
	},
};
</script>
