<template>
	<b-container fluid style="height: calc(100vh - 54px)">
		<b-row class="h-100">
			<b-col lg="2" class="px-0 h-100">
				<ad-configuracion-sidebar />
			</b-col>
			<b-col lg="10" class="pl-0">
				<div
					class="p-4"
					style="height: calc(100vh - 54px); overflow: auto;"
				>
					<b-row>
						<b-col lg="2"></b-col>
						<b-col lg="8">
							<h1 class="text-center">
								Asignación de Cuentas Externas
							</h1>
							<h2 class="text-center">cadmin</h2>
						</b-col>
						<b-col lg="2" class="pt-3">
							<b-badge
								variant="success"
								class="float-right mt-5"
								v-show="success"
							>
								<i class="fas fa-check-circle mr-1"></i>Se han
								guardado correctamente los cambios
							</b-badge>
							<b-badge
								variant="light"
								class="float-right mt-5"
								v-show="load"
							>
								<b-spinner
									type="grow"
									small
									label="Spinning"
								></b-spinner
								>Cargando ...
							</b-badge>
						</b-col>
					</b-row>
					<b-card class="mt-3">
						<b-row>
							<b-col lg="6">
								<b-form-group label="Embudo">
									<b-form-select
										:options="selectEmbudos"
										v-model="embudoSelected"
										@change="getEtapas()"
									>
										<template v-slot:first>
											<option :value="null" disabled
												>Seleccione</option
											>
										</template>
									</b-form-select>
									<b-form-invalid-feedback
										id="feedback-empleado"
										>Campo
										obligatorio</b-form-invalid-feedback
									>
								</b-form-group>
							</b-col>
							<b-col lg="6">
								<b-form-group label="Sección">
									<b-form-select
										:options="selectSecciones"
										v-model="seccionSelected"
										@change="checkEtapas()"
									>
										<template v-slot:first>
											<option :value="null" disabled
												>Seleccione</option
											>
										</template>
									</b-form-select>
									<b-form-invalid-feedback
										id="feedback-empleado"
										>Campo
										obligatorio</b-form-invalid-feedback
									>
								</b-form-group>
							</b-col>
						</b-row>

						<div class="border w-100 mt-2 px-5 py-4 mb-2">
							<b-row v-if="embudoSelected != null">
								<b-col lg="6">
									<h5
										class="text-center mt-4"
										v-if="!seccionSelected"
									>
										<i class="fas fa-info-circle"></i>
										Seleccione una sección
									</h5>
									<template v-else>
										<p>
											<strong
												>Seleccionar las etapas de donde
												se obtendrán las cuentas
												externas:</strong
											>
										</p>

										<b-overlay
											style="mt-3"
											:show="overlay"
											rounded="sm"
											opacity="1.0"
											blur="1px"
											variant="transparent"
										>
											<b-form-checkbox-group
												v-model="selected"
												:options="listEtapas"
												class="mb-3"
												value-field="etapa"
												text-field="nombreEtapa"
												stacked
											></b-form-checkbox-group>
										</b-overlay>
									</template>
								</b-col>
								<b-col lg="6">
									<b-row>
										<b-col lg="12"></b-col>
										<b-col lg="12" class="mt-3">
											<pre
												class="m-1"
											><b-button size="sm" variant="danger" class="float-right" @click="submit">Guardar</b-button><strong>{{embudoSelected.nombre}}</strong> {{ selected }} </pre>
										</b-col>
									</b-row>
								</b-col>
							</b-row>
							<h5 class="text-center my-3" v-else>
								No se ha seleccionado ningún embudo
							</h5>
						</div>

						<b-row>
							<b-col>
								<b-button
									size="sm"
									variant="danger"
									@click="getCuentasExternas()"
									>CONSULTAR CUENTAS</b-button
								>
							</b-col>
							<b-col class="text-right mt-1">
								<label
									><strong> Total: </strong>
									{{ cuentasExternas.length }} cuentas</label
								>
							</b-col>
						</b-row>

						<b-row>
							<b-col
								lg="6"
								v-for="(cuentaExterna,
								index) in cuentasExternas"
								:key="index"
							>
								<b-card class="mt-2">
									<b-media>
										<h5 class="mt-0 mb-1">
											{{ cuentaExterna.clave }}
										</h5>
										<p class="mb-0">
											{{ cuentaExterna.nombre }}
										</p>
									</b-media>
								</b-card>
							</b-col>
						</b-row>
					</b-card>
				</div>
			</b-col>
		</b-row>
	</b-container>
</template>

<script>
import { mapActions, mapState, mapMutations } from "vuex";
export default {
	data() {
		return {
			load: false,
			success: false,
			overlay: false,
			negocios: [],
			selected: [],
			listEtapas: [],
			cuentasExternas: [],
			embudoSelected: null,
			seccionSelected: null,
			selectSecciones: [
				{ value: "CG", text: "Finanzas - Comprobación de gastos" },
				{ value: "SV", text: "Finanzas - Solicitud de viáticos" },
				{ value: "RA", text: "Servicios - Reporte de actividades" },
				{ value: "SA", text: "Seguridad - Salud" },
				{ value: "SS", text: "Compras - Solicitud de suministros" },
			],
		};
	},
	mounted() {
		this.getEmbudos();
		this.getConfCuentasExternas();
	},
	methods: {
		...mapActions("embudos", ["getEmbudos"]),
		...mapActions("ad_cf_cuentas_externas", ["getConfCuentasExternas"]),
		...mapMutations("ad_cf_cuentas_externas", [
			"addConfCuentaExterna",
			"updateConfCuentaExterna",
		]),
		async getEtapas() {
			this.selected = [];
			const response = await axios.get(
				BaseUrl +
					`/api/vt/embudos/${this.embudoSelected.idEmbudo}/etapas`
			);
			this.listEtapas = response.data.map((etapa) => {
				return {
					nombreEtapa: etapa.nombreEtapa,
					etapa: {
						id: etapa.idEtapa,
						etapa: etapa.nombreEtapa,
					},
				};
			});
			this.checkEtapas();
			this.getNegocios();
		},
		checkEtapas() {
			if (this.cfCuentaExternaByEmbudo && this.seccionSelected) {
				switch (this.seccionSelected) {
					case "CG":
						this.selected = this.cfCuentaExternaByEmbudo
							.fn_cg_etapas
							? JSON.parse(
									this.cfCuentaExternaByEmbudo.fn_cg_etapas
							  )
							: [];
						break;
					case "RA":
						this.selected = this.cfCuentaExternaByEmbudo
							.op_ra_etapas
							? JSON.parse(
									this.cfCuentaExternaByEmbudo.op_ra_etapas
							  )
							: [];
						break;
					case "SA":
						this.selected = this.cfCuentaExternaByEmbudo
							.se_sa_etapas
							? JSON.parse(
									this.cfCuentaExternaByEmbudo.se_sa_etapas
							  )
							: [];
						break;
					case "SS":
						this.selected = this.cfCuentaExternaByEmbudo
							.co_ss_etapas
							? JSON.parse(
									this.cfCuentaExternaByEmbudo.co_ss_etapas
							  )
							: [];
						break;
					case "SV":
						this.selected = this.cfCuentaExternaByEmbudo
							.fn_cg_sv_etapas
							? JSON.parse(
									this.cfCuentaExternaByEmbudo.fn_cg_sv_etapas
							  )
							: [];
						break;
					default:
						break;
				}
			} else this.selected = [];
		},
		async getNegocios() {
			const response = await axios.get(
				BaseUrl +
					`/api/vt/negocios/join?idEmbudo=${this.embudoSelected.idEmbudo}`
			);
			this.negocios = response.data.map((negocio) => {
				return {
					nombre: negocio.tituloNegocio,
					clave: negocio.claveNegocioCompleta,
					idEtapa: negocio.idEtapa,
				};
			});
		},
		getCuentasExternas() {
			var arrNegocios = [];
			if (this.selected) {
				this.selected.forEach((etapa) => {
					var temp = this.negocios.filter(
						(negocio) => negocio.idEtapa == etapa.id
					);
					arrNegocios = arrNegocios.concat(temp);
				}, this);
			}
			this.cuentasExternas = arrNegocios;
		},
		async submit() {
			this.load = true;
			this.success = false;

			var data = new FormData();
			data.append("idEmbudo", this.embudoSelected.idEmbudo);
			data.append("etapas", JSON.stringify(this.selected));
			data.append("seccion", this.seccionSelected);

			if (this.cfCuentaExternaByEmbudo) {
				data.append("id", this.cfCuentaExternaByEmbudo.id);
				data.append("_method", "PUT");
			}
			const response = await axios.post(
				BaseUrl + `/api/cf-cuentasExternas`,
				data
			);
			if (response.data.success) {
				if (!this.cfCuentaExternaByEmbudo)
					this.addConfCuentaExterna(response.data.cf_cuentaExterna);
				else
					this.updateConfCuentaExterna(
						response.data.cf_cuentaExterna
					);
				this.load = false;
				this.success = true;
			}
		},
	},
	computed: {
		...mapState("embudos", ["embudos"]),
		...mapState("ad_cf_cuentas_externas", ["cfCuentasExternas"]),

		cfCuentaExternaByEmbudo() {
			if (this.embudoSelected && this.cfCuentasExternas) {
				return this.cfCuentasExternas.find(
					(cuentaExterna) =>
						cuentaExterna.idEmbudo == this.embudoSelected.idEmbudo
				);
			} else return null;
		},
		selectEmbudos() {
			return this.embudos.map((embudo) => {
				return {
					text: embudo.nombre,
					value: {
						idEmbudo: embudo.idEmbudo,
						nombre: embudo.nombre,
						periodo: embudo.periodo,
					},
				};
			});
		},
	},
	watch: {},
};
</script>
