<template>
	<b-container fluid style="height: calc(100vh - 54px)">
		<b-row class="h-100">
			<b-col lg="2" class="px-0 h-100">
				<fn-configuracion-sidebar />
			</b-col>
			<b-col lg="10">
				<b-row>
					<b-col lg="2"></b-col>
					<b-col lg="8">
						<h1 class="text-center mt-4">
							Configuración de Costos
						</h1>
					</b-col>
					<b-col lg="2">
						<b-badge
							variant="light"
							class="float-right mt-5"
							v-if="load"
						>
							<b-spinner
								type="grow"
								small
								label="Spinning"
								class="mr-2"
							></b-spinner
							>Cargando ...
						</b-badge>

						<b-badge
							v-if="!load && success"
							variant="success"
							class="float-right mt-5"
						>
							<i class="fas fa-check-circle mr-2"></i>Se han
							guardado correctamente los cambios
						</b-badge>

						<b-badge
							v-if="errorSubmit"
							variant="danger"
							class="float-right mt-5"
						>
							<i class="fas fa-check-circle mr-2"></i>Ha ocurrido
							un problema al intentar guardar
						</b-badge>
					</b-col>
				</b-row>
				<b-card class="mt-3" no-body>
					<b-skeleton-table
						v-if="overlay"
						:rows="13"
						:columns="6"
						:table-props="{ bordered: true, striped: true }"
					></b-skeleton-table>

					<b-table-simple
						v-else
						hover
						small
						bordered
						caption-top
						responsive
						class="shadow-sm mb-0"
					>
						<b-thead>
							<b-tr class="text-center">
								<th colspan="4" class="bg-factor align-middle">
									Factor para el Domingo Trabajado
								</th>
								<th class="bg-white">
									<b-form-input
										type="text"
										style="font-weight: bold;"
										class="text-center text-danger"
										v-model="formFactor.domingo"
										size="sm"
										@change="editFactor()"
									>
									</b-form-input>
								</th>
							</b-tr>
						</b-thead>
						<br />
						<b-thead>
							<b-tr class="text-center">
								<th colspan="4" class="bg-factor align-middle">
									Factor para IVA
								</th>
								<th
									class="bg-white"
									style="border: 1px solid #e9ecef;"
								>
									<b-form-input
										type="text"
										style="font-weight: bold;"
										class="text-center text-danger"
										v-model="formFactor.iva"
										size="sm"
										@change="editFactor()"
									>
									</b-form-input>
								</th>
							</b-tr>
							<b-tr>
								<th class="py-2" colspan="6"></th>
							</b-tr>
						</b-thead>
						<b-thead>
							<b-tr class="text-center">
								<th colspan="4" class="bg-factor align-middle">
									Factor de Mano de Obra
								</th>
								<th class="bg-white">
									<b-form-input
										type="text"
										style="font-weight: bold;"
										class="text-center text-danger"
										v-model="formFactor.jornadaOcho"
										size="sm"
										@change="editFactor()"
									>
									</b-form-input>
								</th>
								<th class="bg-white">
									<b-form-input
										type="text"
										style="font-weight: bold;"
										class="text-center text-danger"
										v-model="formFactor.jornadaDoce"
										size="sm"
										@change="editFactor()"
									>
									</b-form-input>
								</th>
							</b-tr>
						</b-thead>
						<b-thead>
							<b-tr class="bg-light text-center">
								<b-th width="5%">Item</b-th>
								<b-th width="40%">Puesto</b-th>
								<b-th width="15%">Sueldo</b-th>
								<b-th width="10%">Factor Utilización</b-th>
								<b-th width="15%">Jornada 8 horas</b-th>
								<b-th width="15%">Jornada 12 horas</b-th>
							</b-tr>
						</b-thead>
						<b-tbody>
							<b-tr
								class="text-center"
								v-for="(puesto, index) in formatPuestos"
								:key="index"
							>
								<b-td class="align-middle">
									{{ index + 1 }}
								</b-td>
								<b-td class="text-left align-middle">
									{{ puesto.puesto }}
								</b-td>
								<b-td class="align-middle">
									<div
										class="d-flex w-100 justify-content-between"
									>
										<label class="mb-0 ml-1 mr-3">$</label>
										<b-form-input
											type="text"
											class="text-right"
											:value="puesto.sueldo"
											size="sm"
											@change="
												editPuesto(
													$event,
													puesto,
													'sueldo'
												)
											"
										>
										</b-form-input>
									</div>
								</b-td>
								<b-td class="align-middle text-right">
									<b-form-input
										type="text"
										class="text-center"
										:value="puesto.factorUtilizacion"
										size="sm"
										@change="
											editPuesto(
												$event,
												puesto,
												'factorUtilizacion'
											)
										"
									>
									</b-form-input>
								</b-td>
								<b-td class="align-middle">
									<div
										class="d-flex w-100 justify-content-between"
									>
										<label class="mb-0 ml-1">$</label>
										<vue-numeric
											separator=","
											:precision="2"
											:read-only="true"
											:value="puesto.jornadaOcho"
										/>
									</div>
								</b-td>
								<b-td class="align-middle">
									<div
										class="d-flex w-100 justify-content-between"
									>
										<label class="mb-0 ml-1">$</label>
										<vue-numeric
											separator=","
											:precision="2"
											:read-only="true"
											:value="puesto.jornadaDoce"
										/>
									</div>
								</b-td>
							</b-tr>
						</b-tbody>
						<b-tfoot>
							<b-tr class="text-center">
								<th colspan="4" class="bg-factor align-middle">
									Factor de M.O. Disponible
								</th>
								<th class="bg-white">
									<b-form-input
										type="text"
										style="font-weight: bold;"
										class="text-center text-danger"
										v-model="formFactor.moDisponible"
										size="sm"
										@change="editFactor()"
									>
									</b-form-input>
								</th>
							</b-tr>
						</b-tfoot>
					</b-table-simple>
				</b-card>

				<!-- INVENTARIO DE HERRAMIENTA Y EQUIPO ALMACEN -->
				<div
					class="mt-3"
					v-if="hasPermission('fn.conf.mano_obra.activos')"
				>
					<b-row>
						<b-col lg="8">
							<b-form-file
								v-model="file"
								placeholder="Seleccione un archivo"
								drop-placeholder="Drop file here..."
							></b-form-file>
						</b-col>
						<b-col lg="4">
							<b-overlay
								:show="loadFile"
								rounded
								opacity="0.6"
								spinner-small
								spinner-variant="secondary"
								class="d-inline-block"
								@hidden="onHidden"
							>
								<b-button
									ref="button"
									:disabled="loadFile"
									variant="secondary"
									@click="submitFile"
								>
									GUARDAR
								</b-button>
							</b-overlay>
						</b-col>
					</b-row>
				</div>
				<!-- TERMINA INVENTARIO -->
			</b-col>
		</b-row>
	</b-container>
</template>

<script>
import { mapMutations, mapState, mapActions } from "vuex";
import { required } from "vuelidate/lib/validators";

export default {
	data() {
		return {
			load: false,
			success: false,
			errorSubmit: false,
			overlay: true,
			form: {
				sueldo: 0.0,
				faltorUtilizacion: 0,
			},
			formFactor: {
				iva: null,
				domingo: null,
				jornadaOcho: null,
				jornadaDoce: null,
				moDisponible: null,
			},

			// FILE INVENTARIO
			file: null,
			inventario: [],
			loadFile: false,
			// FIN INVENTARIO
		};
	},
	mounted() {
		this.getPuestos();
		this.getFactores();
	},
	methods: {
		...mapActions("cnf_mano_obra", ["getPuestos", "getFactores"]),
		...mapMutations("cnf_mano_obra", ["updatePuesto", "setFactores"]),

		async editPuesto(value, puesto, campo) {
			this.errorSubmit = false;
			this.setDataEdit(puesto);

			if (campo == "sueldo") this.form.sueldo = value;
			else if (campo == "factorUtilizacion")
				this.form.factorUtilizacion = value;

			try {
				this.load = true;
				this.success = false;
				const response = await axios.put(
					BaseUrl + `/api/fn/co/puesto/${puesto.idPuesto}`,
					this.form
				);
				if (response.data.success) {
					this.updatePuesto(response.data.puesto);
					this.load = false;
					this.success = true;
				}
			} catch (e) {
				console.log(e);
				this.errorSubmit = true;
				this.load = false;
				this.success = false;
			}
		},
		async editFactor() {
			this.errorSubmit = false;
			try {
				this.load = true;
				this.success = false;
				const response = await axios.put(
					BaseUrl + `/api/fn/co/factor/${this.factores.idFactor}`,
					this.formFactor
				);
				if (response.data.success) {
					this.setFactores(response.data.factor);
					this.load = false;
					this.success = true;
				}
			} catch (e) {
				console.log(e);
				this.errorSubmit = true;
				this.load = false;
				this.success = false;
			}
		},
		setDataEdit(puesto) {
			this.form.sueldo = puesto.sueldo;
			this.form.factorUtilizacion = puesto.factorUtilizacion;
		},

		// FILE INVENTARIO ---
		async submitFile() {
			try {
				this.loadFile = true;
				const response = await axios.post(
					BaseUrl + `/api/op/co/activo`,
					this.inventario
				);
				if (response.data.success) this.loadFile = false;
			} catch (e) {
				this.loadFile = false;
				console.log(e);
			}
		},
		readerFile() {
			const reader = new FileReader();
			reader.onload = () => this.processFile(reader.result);
			reader.readAsText(this.file, "ISO-8859-1");
		},
		processFile(result) {
			result = result.trim();
			var data = result.split("\n").map((row) => {
				return row.split(/,(?!\s)/);
			});

			for (var i = 0; i < data.length - 1; i++) {
				if (data[i][2] != "" && data[i][3] != "") {
					var rowData = {
						unidad: data[i][3],
						articulo: this.trim(data[i][2]),
						existencia: this.trim(data[i][4]),
						costoUnitario: this.trim(data[i][5]),
						categoria: this.trim(data[i][0]),
					};
					this.inventario.push(rowData);
				}
			}
		},
		trim(cadena) {
			var retorno = cadena.replace(/^"[ ]+/g, "");
			var retorno = retorno.replace(/"+$/g, "");
			return retorno;
		},
		onHidden() {
			this.$refs.button.focus();
		},
		// FIN FILE INVENTARIO

		hasPermission(funcion) {
			if (this.permissions.length) {
				const permiso = this.permissions.find(
					(permiso) => permiso.idFuncion == funcion
				);
				if (permiso) return true;
				return false;
			}
		},
	},
	computed: {
		...mapState(["permissions"]),
		...mapState("cnf_mano_obra", ["factores", "puestos"]),

		formatPuestos() {
			return this.puestos.map((puesto) => {
				return {
					idPuesto: puesto.idPuesto,
					puesto: puesto.puesto,
					sueldo: puesto.sueldo,
					factorUtilizacion: puesto.factorUtilizacion,
					jornadaOcho: puesto.sueldo * this.factores.jornadaOcho,
					jornadaDoce: puesto.sueldo * this.factores.jornadaDoce,
				};
			});
		},
	},
	watch: {
		formatPuestos() {
			this.overlay = false;
		},
		factores() {
			this.formFactor.iva = this.factores.iva;
			this.formFactor.domingo = this.factores.domingo;
			this.formFactor.jornadaOcho = this.factores.jornadaOcho;
			this.formFactor.jornadaDoce = this.factores.jornadaDoce;
			this.formFactor.moDisponible = this.factores.moDisponible;
			this.formFactor.idFactor = this.factores.idFactor;
		},

		//FILE INVENTARIO ---
		file() {
			this.readerFile();
		},
		//FIN FILE INVENTARIO
	},
};
</script>

<style>
.bg-factor {
	background-color: #dee2e6;
	color: #455566;
}
</style>
