<template> 
    <b-container fluid style="height: calc(100vh - 56px)">
        <b-row>
            <b-col cols="12">
               <!-- <costo-header-component/> -->
            </b-col>
             <b-col cols="12">
               <!-- <general-table-component :items="items" :fields="fields" :total-rows="totalRows"/> -->
            </b-col>
        </b-row>
        <!-- <costo-modal-component @costoCreated="addCosto($event)"/> -->
    </b-container>
</template>
<script>
    export default {
        data() {
            return {
                // fields: [
                //     { key: 'no_requisicion', 
                //       label: 'Número de requisición', 
                //       sortable: true, 
                //       sortDirection: 'desc', 
                //       class: 'text-center' },
                //     { key: 'clave_negocio', 
                //       label: 'Clave del negocio', 
                //       sortable: true},
                //     { key: 'titulo_negocio', 
                //       label: 'Titulo del negocio', 
                //       sortable: true, 
                //       sortDirection: 'desc', 
                //       class: 'text-left' },
                //     { 
                //       key: 'fecha_emision', 
                //       label: 'Fecha de emisión',
                //       formatter: (value, key, item) => {
                //          return moment(value, "YYYY-MM-DD hh:mm:ss")
                //         .locale('es').format('LL');
                //       }, 
                //       sortable: true, 
                //       sortByFormatted: true, 
                //       filterByFormatted: true 
                //     },
            //         { key: 'actions', label: 'Acciones' }
            //     ],
            //     items: [],
            //     totalRows: null
            // }
      }
    //     mounted()
    //     {
    //         this.getCostos();
    //     },
    //     methods:{           
    //         getCostos()
    //         {
    //             axios.get('/api/ventas/costos/')
    //             .then((response) => {
    //                 this.items = response.data;
    //                 this.totalRows = this.items.length;
    //             });
    //         },
    //         addCosto(item)
    //         {
    //             this.items.push(item);
    //             this.totalRows = this.items.length;
    //         }
    }
   }
</script>
