<template>
	<b-card no-body class="text-center mt-3">
		<b-row align-v="center">
			<b-col>
			</b-col>
			<b-col md="12" lg="9">
				<h1 class="display-1 my-3" style="font-size: 40px;" align="center">Costo Operativo
				</h1>
			</b-col>
			<b-col>
				<b-button type="button" 
					class="mr-3 pt-1" size="sm"
					v-b-modal.modal-request 
					variant="danger">
					Solicitar CO 
					<i class="fas fa-file-invoice-dollar"></i>
				</b-button>
			</b-col>
		</b-row>
	</b-card>
</template>

<script>
	export default {
		mounted() {
			console.log('Component mounted.')
		}
	}
</script>
