<template>
	<form ref="form" @submit.stop.prevent="handleSubmit">
		<b-modal id="modal-request" 
			title="Solicitud de Costo Operativo"
			size="xl" centered
		      ref="modal"
		      @show="resetModal"
		      @hidden="resetModal"
		      @ok="handleOk">
			<template v-slot:modal-header>
		      	<h5 class="modal-title display-1" style="font-size: 25px;">
		      		<strong>
		      			Solicitud de cotización
		      		</strong>
		      	</h5>
				<b-button 
					size="sm" 
					variant="light" 
					class="py-1 px-2" @click="close()" 
					style="padding : 0.1rem 0.5rem !important;">
		      		<i class="fas fa-times"></i>
		      	</b-button>
		    </template>
			<fieldset>
				<legend><font size="4"> Datos generales </font></legend>
			
				<b-row>
					<b-col lg="4">
						<b-form-group
							label="Fecha de Emisión:">
							<b-row>
								<b-col md="12">
									<p class="h6 px-2 py-2 bg-light" align="center" ><strong>1 de agosto del 2019</strong></p>
								</b-col>
							</b-row>
					    </b-form-group>
					</b-col>
					<b-col lg="4">
						<b-form-group
							label="Entrega requerida:">
							<b-form-input type="date" id="input-fecha-requerida" 
								value="2019-10-29"
								v-model="fechaRequerida">		
							</b-form-input>
					    </b-form-group>
					</b-col>
					<b-col lg="4">
						<b-form-group
							label="Requisición No.:">
							<b-form-input type="text" id="input-requisicion" 
								v-model="noRequisicion">		
							</b-form-input>
					    </b-form-group>
					</b-col>
				</b-row>
				<b-row>
					<b-col lg="5">
						<b-form-group 
							label="Cuenta:">
					    	<b-form-select id="input-cuenta"
					          	v-model="negocioId"
					          	:options="cuentas"
					          	@change="onChange($event)">
					         </b-form-select>
					    </b-form-group>
					</b-col>
					<b-col lg="7">
						<b-form-group
							label="Proyecto:">
							<b-row>
								<b-col md="12">
									<p class="h6 px-2 py-2 bg-light" align="center" ><strong>{{ tituloNegocio }}</strong></p>
								</b-col>
							</b-row>
					    </b-form-group>
					</b-col>
				</b-row>
					<b-row>
					<b-col lg="5">
						<b-form-group
							label="Cliente:">
							<b-row>
								<b-col md="12">
									<p class="h6 px-2 py-2 bg-light" align="center" ><strong>{{ nombreCliente }}</strong></p>
								</b-col>
							</b-row>
					    </b-form-group>
					</b-col>
					<b-col lg="7">
						<b-form-group 
							label="Contacto:">
					    	<b-row>
								<b-col md="12">
									<p class="h6 px-2 py-2 bg-light" align="center" ><strong>{{ nombreContacto }}</strong></p>
								</b-col>
							</b-row>
					    </b-form-group>
					</b-col>
				</b-row>
			</fieldset>
		</b-modal>
	</form>
</template>

<script>
	export default {
		data() {
			return {
		   		fechaRequerida : null,
		   		noRequisicion : null,
		   		negocioId : null,
		   		contactoId: null,
		   		idOrganizacion: null,
		   		tituloNegocio: null,
		   		nombreContacto: null,
		   		nombreCliente: null,
		   		cuentas: [
		        	{ value: 1, text: 'BAS-0063-CM-BO-22' },
		        	{ value: 2, text: 'MEB-0063-CM-EA-15' },
		        	{ value: 3, text: 'ARS-0068-MM-MO-25' }
		        ]
			}
		},
		mounted() {
			console.log('Component mounted.')
		},
		methods: {
			onChange(event){
				this.getNegocio(event);
			},
			getNegocio(idNegocio){;
				axios.get(`/api/negocio/${idNegocio}`)
                .then((response) => {
                    this.tituloNegocio = response.data[0].tituloNegocio;
                    this.nombreCliente = response.data[0].nombre_organizacion;
                    this.idOrganizacion = response.data[0].idOrganizacion;
                    this.nombreContacto = response.data[0].nombre_contacto;
                    this.contactoId = response.data[0].idCliente;

                });
			},
	      	makeToast(variant = null) {
	        	this.$bvToast.toast('Se ha enviado correctamente la solicitud', {
	        		title: `Éxito`,
	            	variant: variant,
	            	solid: true
	        	});
	      	},
            checkFormValidity() {
				const valid = this.$refs.form.checkValidity()
				this.nameState = valid ? 'valid' : 'invalid'
				return valid
			},
			resetModal() {
				this.fechaEmision = null;
	            this.fechaRequerida = null;
	            this.noRequisicion = null;
	            this.contactoId = null;
	            this.negocioId = null;
			},
			handleOk(bvModalEvt) {
				// Prevent modal from closing
		        bvModalEvt.preventDefault()
		        // Trigger submit handler
		        this.handleSubmit()
			},
			handleSubmit() {
				// Exit when the form isn't valid
				if (!this.checkFormValidity()) {
				  	return
				}
				const params = {
		            fecha_emision: this.fechaEmision,
		            fecha_requerida: this.fechaRequerida,
		            no_requisicion: this.noRequisicion,
		            contacto_id: this.contactoId,
		            negocio_id: this.negocioId,
		        }
				axios.post('/api/ventas/costos', params)
                .then((response) => {
                    if(response.data.success){
                        this.makeToast('success');
                        this.$emit('costoCreated', response.data.sco);
                        //Hide the modal manually
                        this.$nextTick(() => {
							this.$refs.modal.hide()
						});
                    }
                });
			}
	    }
	}
</script>
