<template>
	<b-overlay :show="overlay" rounded="sm" class="mt-2">
		<form ref="form" @submit.stop.prevent="submit" class="pb-4">
			<div class="p-3 bg-light text-center">
				<h5 class="display-1 mb-0" style="font-size: 18px">
					{{ title }}
				</h5>
			</div>

			<div class="p-3">
				<template v-if="!puestoActivo.perfil || changeFile">
					<b-form-group label="Archivo" label-for="file-default">
						<b-form-file
							id="file-default"
							name="file"
							placeholder="Seleccione un archivo"
							@change="setFile"
							v-model="$v.form.file.$model"
							:state="
								$v.form.file.$dirty
									? !$v.form.file.$error
									: null
							"
						>
						</b-form-file>
						<b-form-invalid-feedback id="file-required">
							Campo obligatorio
						</b-form-invalid-feedback>
					</b-form-group>
				</template>

				<template v-if="puestoActivo.perfil && !changeFile">
					<div class="text-center mt-2">
						<h5>{{ puestoActivo.perfil.nombre }}</h5>
						<hr class="mb-2" />
						<p>
							<small>
								Archivo actual&nbsp;
								<b-link
									@click="changeFile = !changeFile"
									class="text-danger"
								>
									<i class="fas fa-edit"></i>
								</b-link>
							</small>
						</p>
					</div>
				</template>

				<b-form-group label="Clave">
					<b-form-input
						type="text"
						id="input-clave"
						v-model="$v.form.clave.$model"
						:state="
							$v.form.clave.$dirty ? !$v.form.clave.$error : null
						"
						placeholder="Ej. ABC"
						aria-describedby="clave-required"
						class="text-center"
						@input="textToUpper"
					>
					</b-form-input>
					<b-form-invalid-feedback id="clave-required">
						Campo obligatorio
					</b-form-invalid-feedback>
				</b-form-group>

				<b-form-group label="Versión">
					<b-form-input
						type="text"
						id="input-version"
						v-model="$v.form.version.$model"
						:state="
							$v.form.version.$dirty
								? !$v.form.version.$error
								: null
						"
						placeholder="Ej. 01"
						aria-describedby="feedback-version"
						class="text-center"
					>
					</b-form-input>
					<b-form-invalid-feedback id="feedback-version">
						Campo obligatorio
					</b-form-invalid-feedback>
				</b-form-group>

				<div class="text-center mt-4">
					<h3 class="text-dark">
						PP - {{ puestoActivo.area.codigo }} - {{ form.clave }} -
						{{ form.version }}
					</h3>
					<hr class="mb-2" />
					<p><small>Código</small></p>
				</div>

				<b-form-group label="Última modificación">
					<b-calendar
						block
						v-model="$v.form.ultimaModificacion.$model"
						@context="onContext"
						locale="es-US"
						selected-variant="danger"
						today-variant="secondary"
					>
					</b-calendar>

					<div
						id="feedback-calendar"
						class="text-danger"
						v-if="$v.form.ultimaModificacion.$error"
					>
						<small class="mt-1">Campo obligatorio</small>
					</div>
				</b-form-group>

				<div class="mb-2 py-1">
					<b-button
						variant="danger"
						size="sm"
						class="float-right"
						@click="submit"
						>Guardar</b-button
					>
					<b-button
						variant="light"
						size="sm"
						class="float-right mr-3"
						@click="changeEditData(false)"
						>Cancelar</b-button
					>
				</div>
			</div>
		</form>
	</b-overlay>
</template>

<script>
import {
	required,
	minLength,
	numeric,
	maxLength,
	alpha,
	url,
} from "vuelidate/lib/validators";
import { mapState, mapMutations, mapActions } from "vuex";
export default {
	props: {},
	data() {
		return {
			changeFile: false,
			context: null,
			overlay: false,
			form: {
				idPerfil: null,
				idPuesto: null,
				file: null,
				version: "",
				clave: "",
				ultimaModificacion: "",
			},
		};
	},
	mounted() {
		if (this.puestoActivo.perfil) {
			this.setDataEdit();
		}
	},
	methods: {
		...mapMutations("puestos", ["setPerfil", "changeEditData"]),
		setFile(e) {
			this.form.file = e.target.files[0];
		},
		async submit() {
			this.$v.$touch();

			if (!this.$v.$invalid) {
				this.overlay = true;

				var data = new FormData();

				let idPerfil = this.puestoActivo.perfil
					? this.puestoActivo.perfil.idPerfil
					: null;

				data.append("idPerfil", idPerfil);
				data.append("file", this.form.file);
				data.append("clave", this.form.clave);
				data.append("version", this.form.version);
				data.append("codigo", this.codigo);
				data.append("idPuesto", this.puestoActivo.idPuesto);
				data.append("ultimaModificacion", this.form.ultimaModificacion);

				try {
					const response = !this.puestoActivo.perfil
						? await axios.post(
								BaseUrl + `/api/nr/perfil-puesto/`,
								data
						  )
						: await axios.post(
								BaseUrl + `/api/nr/perfil-puesto/update`,
								data
						  );
					if (response.data.success) {
						this.setPerfil(response.data.perfil);
						this.overlay = false;
						this.$emit("submit");
						this.changeEditData(false);
					}
				} catch (e) {
					console.log(e);
					this.overlay = false;
				}
			}
		},
		setDataEdit() {
			if (this.puestoActivo.perfil) {
				this.form.idPerfil = this.puestoActivo.perfil.idPerfil;
				this.form.clave = this.puestoActivo.perfil.clave;
				this.form.version = this.puestoActivo.perfil.version;
				this.form.ultimaModificacion = this.puestoActivo.perfil.ultima_modificacion;
			} else {
				this.form.idPerfil = null;
				this.form.clave = null;
				this.form.version = null;
				this.form.ultimaModificacion = null;
			}
		},
		textToUpper(val) {
			this.form.clave = val.toUpperCase();
		},
		onContext(ctx) {
			this.context = ctx;
		},
	},
	computed: {
		...mapState("puestos", ["puestoActivo"]),
		codigo() {
			return `PP-${this.puestoActivo.area.codigo}-${this.form.clave}-${this.form.version}`;
		},
		title() {
			if (this.puestoActivo.perfil) return "Actualizar perfil de puesto";
			else return "Agregar perfil de puesto";
		},
	},
	validations() {
		if (this.puestoActivo.perfil) {
			return {
				form: {
					clave: { required },
					version: { required },
					file: {},
					ultimaModificacion: { required },
				},
			};
		} else {
			return {
				form: {
					clave: { required },
					version: { required },
					file: { required },
					ultimaModificacion: { required },
				},
			};
		}
	},
	watch: {
		puestoActivo() {
			this.setDataEdit();
		},
	},
};
</script>

<style>
.custom-file-input:lang(en) ~ .custom-file-label::after {
	content: "Elegir archivo";
}
</style>
