<template>
	<div class="h-100 bg-white border-left shadow overflow-auto">
		<div class="bg-light align-items-center px-3 pt-4 pb-3 w-100">
			<h6 class="selected-node-group">Nodo seleccionado</h6>
			<b-form-input
				type="text"
				@change="selectNode"
				id="selected-node"
				class="selected-node-group new-node text-dark"
				disabled
				v-model.lazy="nodeSelected"
				size="sm"
				value="hola"
			></b-form-input>
			<div class="mb-2 mt-3 text-center">
				<b-button variant="light" @click="selectNode" size="sm"
					>Ver información <i class="fas fa-info-circle"></i
				></b-button>
			</div>
		</div>
		<div v-if="puestoActivo">
			<div class="p-3 text-center">
				<!-- <h3>{{ puestoActivo.area.nombre }}</h3> -->
				<h3 class="mt-3">{{ puestoActivo.nombre }}</h3>
				<h6 v-if="puestoActivo.perfil">
					<b-badge variant="secondary">{{
						puestoActivo.perfil.codigo
					}}</b-badge>
				</h6>
			</div>
			<div>
				<b-list-group-item
					class="px-4 mt-2"
					v-if="puestoActivo.perfil && editData == false"
				>
					<div class="media">
						<a href="#" class="icon-shape bg-light mr-4">
							<i class="far fa-file-pdf"></i>
						</a>
						<div
							class="media-body align-self-center overflow-hidden"
						>
							<h6 class="text-truncate mb-1">
								<a class="text-reset" href="#" @click="show">{{
									puestoActivo.perfil.nombre
								}}</a>
							</h6>

							<ul class="list-inline small mb-1">
								<li class="list-inline-item">
									<span class="text-muted text-uppercase">{{
										puestoActivo.perfil.formato
									}}</span>
								</li>
								<li class="list-inline-item">
									<span class="text-muted">{{
										fileSize
									}}</span>
								</li>
							</ul>

							<h6 class="text-muted mb-0">
								{{ puestoActivo.perfil.codigo }}
							</h6>
						</div>
						<div class="align-self-center ml-3">
							<b-link
								class="text-danger ml-1"
								@click="changeEditData(true)"
							>
								<small
									><i
										class="fas fa-edit"
										style="font-size: 13px"
									></i
								></small>
							</b-link>
						</div>
					</div>
				</b-list-group-item>

				<div
					class="text-center"
					v-if="!puestoActivo.perfil && editData == false"
				>
					<p class="text-secondary">
						No se ha cargado ningún archivo
					</p>
					<b-button
						variant="danger"
						@click="changeEditData(true)"
						size="sm"
					>
						Subir perfil de puesto
						<i class="fas fa-cloud-upload-alt"></i>
					</b-button>
				</div>
			</div>
			<nr-form-perfil-puesto-component
				v-if="editData"
				@submit="makeToast()"
			/>
		</div>
		<div v-else class="p-3 mt-5 text-center">
			<h5>No se ha seleccionado ningún puesto</h5>
		</div>
	</div>
</template>
<script>
import { mapState, mapMutations, mapActions } from "vuex";
export default {
	data() {
		return {
			nodeSelected: "",
		};
	},
	mounted() {},
	methods: {
		...mapActions("puestos", ["getPuesto"]),
		...mapMutations("puestos", ["changeEditData"]),
		selectNode() {
			let selectedNode = document.getElementById(
				document.getElementById("selected-node").dataset.node
			);
			var dataSource = selectedNode.getAttribute("data-source");
			dataSource = JSON.parse(dataSource);
			if (dataSource) this.getPuesto(dataSource.nodeId);
		},
		show() {},
		makeToast() {
			this.$bvToast.toast("Se han guardado correctamente los cambios", {
				title: `Éxito`,
				variant: "success",
				solid: true,
			});
		},
	},
	computed: {
		...mapState("puestos", ["puestoActivo", "editData"]),
		fileSize() {
			if (this.puestoActivo.perfil) {
				let size = this.puestoActivo.perfil.size / 1024;
				if (size > 1024) {
					size = size / 1024;
					return size.toFixed(2) + " MB";
				}
				return size.toFixed(2) + " KB";
			}
		},
	},
	watch: {
		puestoActivo() {
			// this.changeEditData(false)
		},
	},
};
</script>
<style>
.scroll {
}
</style>
