<template>
	<div>
		<h4 class="mt-3 mb-4">Ingeniero de sistemas</h4>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam
			minus repudiandae iure nam atque molestiae velit, laboriosam
			accusantium, necessitatibus perspiciatis perferendis illum aut
			libero, culpa quaerat adipisci, rem tempore consequatur.
		</p>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam
			minus repudiandae iure nam atque molestiae velit, laboriosam
			accusantium, necessitatibus perspiciatis perferendis illum aut
			libero, culpa quaerat adipisci, rem tempore consequatur.
		</p>
	</div>
</template>

<script>
export default {
	data() {
		return {};
	},
	mounted() {},
};
</script>
