<template>
	<b-container fluid>
		<b-row style="height: calc(100vh - 54px)">
			<!-- <b-col lg="9" sm="9" md="9" class="pl-0 bg-light h-100"> -->
			<b-col lg="12" sm="12" md="12" class="pl-0 bg-light h-100">
				<b-container fluid>
					<modal-component
						id="modal-perfil"
						title="Perfil de puesto"
						:centered="true"
					>
						<template slot="content">
							<nr-modal-perfil-component />
						</template>
						<template slot="buttons">
							<b-button size="sm">Terminar</b-button>
						</template>
					</modal-component>
					<!-- <header-component :title="'Estructura Organizacional'"> 
						<template slot="top-center">-->
					<!--</template>
					 </header-component> -->
					<div class="my-3 p-3 border-bottom">
						<h2 class="ml-2 text-center">
							Estructura organizacional
						</h2>
					</div>
					<vo-edit
						:data="chartData"
						:pan="true"
						:verticalDepth="5"
						:depth="6"
						:nodeTitle="'name'"
						:toggleCollapse="false"
						:zoom="true"
						@clickNode="alert('porfin entra')"
					>
					</vo-edit>
				</b-container>
			</b-col>
			<!-- <b-col lg="3" sm="3" md="3" class="h-100 px-0">
				<nr-organigrama-info-component />
			</b-col> -->
		</b-row>
	</b-container>
</template>
<script>
import { VoBasic, VoEdit } from "vue-orgchart";
import { mapActions } from "vuex";
export default {
	components: { VoBasic, VoEdit },
	data() {
		return {
			nodeSelected: "",
		};
	},
	created() {
		this.chartData = {
			name: "DIrector General",
			title: "Director General",
			className: "top-level",
			children: [
				{ name: "Asesores externos", className: "node-level-1" },
				{
					name: "Subdirecciones",
					className: "middle-level",
					children: [
						{
							name: "Subdirección de servicio",
							className: "node-level-2",
							children: [
								{
									nodeId: 11,
									name: "Lider de servicio",
									className: "node-level-3",
									children: [
										{
											nodeId: 12,
											name: "Planeador",
											className: "node-level-4",
										},
										{
											nodeId: 14,
											name:
												"Ingeniero de centro de servicio",
											className: "node-level-4",
											children: [
												{
													nodeId: 23,
													name:
														'Técnico en servicio "A"',
													className: "node-level-5",
												},
												{
													nodeId: 24,
													name:
														'Técnico en servicio "B"',
													className: "node-level-5",
												},
												{
													nodeId: 25,
													name:
														'Técnico en servicio "C"',
													className: "node-level-5",
												},
												{
													nodeId: 26,
													name:
														"Asistente de servicio",
													className: "node-level-5",
												},
											],
										},
										{
											nodeId: 13,
											name:
												"Ingeniero de servicio en campo",
											className: "node-level-4",
										},
										{
											nodeId: 15,
											name:
												"Ingeniero de servicio de monitoreo",
											className: "node-level-4",
											children: [
												{
													nodeId: 27,
													name:
														'Técnico en Monitoreo de condición "A"',
													className: "node-level-5",
												},
												{
													nodeId: 28,
													name:
														'Técnico en Monitoreo de condición "B"',
													className: "node-level-5",
												},
												{
													nodeId: 28,
													name:
														"Asistente de Monitoreo de condición",
													className: "node-level-5",
												},
											],
										},
									],
								},
								{
									nodeId: 16,
									name: "Lider de ventas",
									className: "node-level-3",
									children: [
										{
											nodeId: 17,
											name:
												"Coordinador Administrativo de Ventas",
											className: "node-level-4",
										},
										{
											nodeId: 18,
											name: "Asesor comercial",
											className: "node-level-4",
										},
									],
								},
								{
									nodeId: 19,
									name: "Lider de suministros",
									className: "node-level-3",
									children: [
										{
											nodeId: 20,
											name: "Coordinador de compras",
											className: "node-level-4",
										},
										{
											nodeId: 21,
											name: "Coordinador de conservación",
											className: "node-level-4",
										},
										{
											nodeId: 22,
											name: "Almacén",
											className: "node-level-4",
										},
									],
								},
							],
						},
						{
							nodeId: 3,
							name: "Subdirección administrativa",
							className: "node-level-2",
							children: [
								{
									nodeId: 4,
									name: "Lider de finanzas",
									className: "node-level-3",
									children: [
										{
											nodeId: 5,
											name: "Coordinador de contabilidad",
											className: "node-level-4",
										},
									],
								},
								{
									nodeId: 6,
									name: "Cordinador de Talento Humano",
									className: "node-level-3",
								},
								{
									name: "Cordinador de calidad",
									className: "node-level-3",
								},
								{
									nodeId: 8,
									name: "Cordinador de seguridad",
									className: "node-level-3",
								},
								{
									nodeId: 9,
									name: "Ingeniero de sistemas",
									className: "node-level-3",
								},
							],
						},
					],
				},
				{ nodeId: 2, name: "Mercadotecnia", className: "node-level-1" },
			],
		};
	},
	mounted() {
		// this.$nextTick(
		// 		this.mountOrgchart()
		// )
	},
	watch: {},
	methods: {
		...mapActions("puestos", ["getPuesto"]),

		mountOrgchart() {
			this.$children.forEach((item) => {
				item.orgchart !== undefined
					? (this.orgchart = item.orgchart)
					: null;
			});
		},
		addNodes() {
			let chartContainer = document.getElementById("chart-container");
			let nodeVals = [];

			// console.log('chartContainer', chartContainer)

			Array.from(
				document
					.getElementById("new-nodelist")
					.querySelectorAll(".new-node")
			).forEach((item) => {
				let validVal = item.value.trim();

				if (validVal) {
					nodeVals.push(validVal);
				}
			});
			let selectedNode = document.getElementById(
				document.getElementById("selected-node").dataset.node
			);

			// console.log('selectNode', selectedNode)

			if (!nodeVals.length) {
				alert("Please input value for new node");
				return;
			}
			let nodeType = document.querySelector(
				'input[name="node-type"]:checked'
			);

			if (!nodeType) {
				alert("Please select a node type");
				return;
			}
			if (
				nodeType.value !== "parent" &&
				!document.querySelector(".orgchart")
			) {
				alert(
					"Please creat the root node firstly when you want to build up the orgchart from the scratch"
				);
				return;
			}
			if (nodeType.value !== "parent" && !selectedNode) {
				alert("Please select one node in orgchart");
				return;
			}

			if (nodeType.value === "parent") {
				if (!chartContainer.children.length) {
					// if the original chart has been deleted
					this.orgchart = new OrgChart({
						chartContainer: "#chart-container",
						data: { name: nodeVals[0] },
						parentNodeSymbol: "fa-th-large",
						createNode: function(node, data) {
							node.id = this.getId();
						},
					});
					this.orgchart.chart.classList.add("view-state");
				} else {
					this.orgchart.addParent(
						chartContainer.querySelector(".node"),
						{ name: nodeVals[0], Id: this.getId() }
					);
				}
			} else if (nodeType.value === "siblings") {
				this.orgchart.addSiblings(selectedNode, {
					siblings: nodeVals.map((item) => {
						return {
							name: item,
							relationship: "110",
							Id: this.getId(),
						};
					}),
				});
				// console.log(this.orgchart)
			} else {
				let hasChild = selectedNode.parentNode.colSpan > 1;

				if (!hasChild) {
					let rel = nodeVals.length > 1 ? "110" : "100";

					this.orgchart.addChildren(selectedNode, {
						children: nodeVals.map((item) => {
							return {
								name: item,
								relationship: rel,
								Id: this.getId(),
							};
						}),
					});
				} else {
					this.orgchart.addSiblings(
						closest(selectedNode, (el) => el.nodeName === "TABLE")
							.querySelector(".nodes")
							.querySelector(".node"),
						{
							siblings: nodeVals.map(function(item) {
								return {
									name: item,
									relationship: "110",
									Id: this.getId(),
								};
							}),
						}
					);
				}
			}
		},
		deleteNodes() {
			let sNodeInput = document.getElementById("selected-node");

			let sNode = document.getElementById(sNodeInput.dataset.node);

			if (!sNode) {
				alert("Please select one node in orgchart");
				return;
			} else if (
				sNode ===
				document.querySelector(".orgchart").querySelector(".node")
			) {
				if (
					!window.confirm(
						"Are you sure you want to delete the whole chart?"
					)
				) {
					return;
				}
			}
			this.orgchart.removeNodes(sNode);
			sNodeInput.value = "";
			sNodeInput.dataset.node = "";
		},
		exportJSON() {
			let datasourceJSON = {};
			let ChartJSON = this.orgchart.getChartJSON();
			datasourceJSON = JSON.stringify(ChartJSON, null, 2);
			if (document.getElementsByTagName("code")[1]) {
				let code = document.getElementsByTagName("code")[1];
				code.innerHTML = datasourceJSON;
			}
			return datasourceJSON;
		},
		getId() {
			return (
				new Date().getTime() * 1000 + Math.floor(Math.random() * 1001)
			);
		},
	},
	computed: {},
};
</script>

<style>
#chart-container {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		"Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	top: 0px;
}

#chart-container .orgchart .title {
	position: relative;
	/*border: 1px solid #e7e7e7;*/
	padding: 5px;
	cursor: pointer;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	height: auto;
	border-radius: 4px;
}

.orgchart .top-level .title {
	background-color: #006699;
	color: white;
	display: inline-block;
	margin: -5px 0px -10px 0px;
}

.orgchart .middle-level .title {
	background-color: #ff9800;
	color: white;
	display: inline-block;
	margin: -5px 0px -10px 0px;
}

.orgchart .node-level-1 .title {
	background-color: #429eb9;
	color: white;
	display: inline-block;
	margin: -5px 0px -10px 0px;
}

.orgchart .node-level-2 .title {
	background-color: #ff9800;
	color: white;
	display: inline-block;
	margin: -5px 0px -10px 0px;
}

.orgchart .node-level-3 .title {
	background-color: #d9534f;
	color: white;
	display: inline-block;
	margin: -5px 0px -10px 0px;
}

.orgchart .node-level-4 .title {
	background-color: #5cb85c;
	color: #fff;
	margin: 0 0px 0px 0px;
}

.orgchart .node-level-5 .title {
	background-color: #efe24c;
	color: #000;
	margin: 0 0px 0px 0px;
}

.orgchart .node {
	width: auto !important;
}

.orgchart .verticalNodes ul > li:after,
.orgchart .verticalNodes ul > li:before {
	border-color: #616161;
}

.orgchart .verticalNodes > td:before {
	border: 1px solid #616161;
}

.orgchart {
	cursor: default;
	transform: matrix(0.626042, 0, 0, 0.626042, -337, -124);
}

#chart-container {
	width: 100% !important;
	height: calc(100vh - 166px) !important;
	/*background-color: white;*/
}

.orgchart #selected-node {
	background-color: #000;
	color: #fff;
}
</style>
