<template>
  <div>
    <organization-chart :datasource="ds" @node-click="selectNode">
        <template slot-scope="{nodeData}">
          <div :class="nodeData.className" class="node p-1">{{ nodeData.name }}</div>
        </template>
    </organization-chart>
  </div>
</template>

<script>
  import OrganizationChart from 'vue-organization-chart'
  

  export default {
    components: {
      OrganizationChart
    },
     methods:{
       selectNode (nodeData) {
          alert('node ' + nodeData.name + ' is selected')
        }
    },
    data () {
      return {
        ds : {
          name: 'DIrector General',
          title: 'Director General',
          className: 'top-level',
          children:[
            {name: 'Asesores externos', className: 'node-level-1'},
            {name: 'Subdirecciones', className: 'middle-level', 
              children:[  
              { name: 'Subdirección de servicio', className: 'node-level-2',
                children: [
                  { name: 'Lider de servicio', className: 'node-level-3',
                    children: [
                      { name: 'Planeador', className: 'node-level-4' },
                      { name: 'Ingeniero de centro de servicio', className: 'node-level-4',
                        children: [
                          { name: 'Técnico en servicio "A"', className: 'node-level-5' },
                          { name: 'Técnico en servicio "B"', className: 'node-level-5' },
                          { name: 'Técnico en servicio "C"', className: 'node-level-5' },
                          { name: 'Asistente de servicio', className: 'node-level-5' },
                        ]
                      },

                      { name: 'Ingeniero de servicio en campo', className: 'node-level-4'                   
                      },
                
                      { name: 'Ingeniero de servicio de monitoreo', className: 'node-level-4',
                        children: [
                          { name: 'Técnico en Monitoreo de condición "A"', className: 'node-level-5' },
                          { name: 'Técnico en Monitoreo de condición "B"', className: 'node-level-5' },
                          { name: 'Asistente de Monitoreo de condición', className: 'node-level-5' },
                        ]
                      }
                    ]
                  },
                  { name: 'Lider de ventas', className: 'node-level-3',
                  children: [
                    { name: 'Coordinador Administrativo de Ventas', className: 'node-level-4' },
                    { name: 'Asesor comercial', className: 'node-level-4' }
                  ]
                  },
                  { name: 'Lider de suministros', className: 'node-level-3',
                  children: [
                    { name: 'Coordinador de compras', className: 'node-level-4' },
                    { name: 'Coordinador de conservación', className: 'node-level-4' },
                    { name: 'Almacén', className: 'node-level-4' },
                  ]
                  }
                ] },
              
              { name: 'Subdirección administrativa', className: 'node-level-2' ,
                children: [
                  { name: 'Lider de finanzas', className: 'node-level-3',
                  children: [
                    { name: 'Coordinador de contabilidad', className: 'node-level-4' }
                  ]
                  },
                  { name: 'Cordinador de Talento Humano', className: 'node-level-3'},
                  { name: 'Cordinador de calidad', className: 'node-level-3'},
                  { name: 'Cordinador de seguridad', className: 'node-level-3'},
                  { name: 'Ingeniero de sistemas', className: 'node-level-3'}

                ] },
          ],
            },
            {name: 'Mercadotecnia', className: 'node-level-1'},
          ]
        }
      }

    }
   
  }
</script>
<style>
  #chart-container{
    font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    top: 0px;
  }

/*
  .top-level  {
    background-color: #006699 !important;
    color: white;
    display: inline-block;
      margin: -5px -5px -10px 5px;
  }

  .middle-level  {
    background-color: #FF9800 !important;
    color: white;
    display: inline-block;
      margin: -5px -5px -10px 5px;
  }

  .node-level-1 {
    background-color: #429eb9 !important;
    color: white;
    /*display: inline-block;*/
   /*   margin: -5px -5px -10px 5px;
  }*/
 /* .node-level-2 {
    background-color: #FF9800 !important;
    color: white;
    display: inline-block;
      margin: -5px -5px -10px 5px;
  }

  .node-level-3 {
    background-color: #d9534f !important;
    color: white;
    display: inline-block;
      margin: -5px -5px -10px 5px;
  }

  .node-level-4 {
    background-color: #5cb85c !important;
      color: #fff;
      margin: 0 10px 0px 0px;
  }

  .node-level-5 {
    background-color: #efe24c !important;
      color: #000;
      margin: 0 10px 0px 0px;
  }

 

  .verticalNodes ul>li:after, .verticalNodes ul>li:before{
    border-color: rgba(0, 0, 0, 1);
  }

  .verticalNodes>td:before {
    border: 1px solid rgba(0, 0, 0, 1);
  }*/
</style>
