<template>
	<form ref="form" @submit.stop.prevent="submit">
		<b-form-group label="Nombre">
			<b-form-input
				type="text"
				id="input-nombre"
				v-model="$v.form.nombre.$model"
				:state="$v.form.nombre.$dirty ? !$v.form.nombre.$error : null"
				placeholder="Ingrese el nombre del proceso"
				aria-describedby="feedback-nombre"
			>
			</b-form-input>
			<b-form-invalid-feedback id="feedback-nombre">
				Campo obligatorio
			</b-form-invalid-feedback>
		</b-form-group>

		<b-row>
			<b-col lg="6">
				<b-form-group label="Clave">
					<b-form-input
						type="text"
						id="input-clave"
						v-model="$v.form.clave.$model"
						:state="
							$v.form.clave.$dirty ? !$v.form.clave.$error : null
						"
						placeholder="Ej. ABC"
						aria-describedby="clave-required"
						class="text-center"
						@input="textToUpper"
					>
					</b-form-input>
					<b-form-invalid-feedback id="clave-required">
						Campo obligatorio
					</b-form-invalid-feedback>
				</b-form-group>
			</b-col>
			<b-col>
				<b-form-group label="Versión">
					<b-form-input
						type="text"
						id="input-version"
						v-model="$v.form.version.$model"
						:state="
							$v.form.version.$dirty
								? !$v.form.version.$error
								: null
						"
						placeholder="Ej. 01"
						aria-describedby="feedback-version"
						class="text-center"
					>
					</b-form-input>
					<b-form-invalid-feedback id="feedback-version">
						Campo obligatorio
					</b-form-invalid-feedback>
				</b-form-group>
			</b-col>
		</b-row>

		<div class="text-center mt-3">
			<h1 class="text-dark">
				PR - {{ codigoArea }} - {{ form.clave }} - {{ form.version }}
			</h1>
			<hr class="mb-2" />
			<p><small>Código</small></p>
		</div>
	</form>
</template>

<script>
import {
	required,
	minLength,
	numeric,
	maxLength,
	alpha,
	url,
} from "vuelidate/lib/validators";
import { mapState, mapMutations, mapActions } from "vuex";
export default {
	props: {},
	data() {
		return {
			form: {
				idProceso: null,
				nombre: "",
				clave: "",
				idArea: null,
				version: "",
				codigo: "",
			},
		};
	},
	mounted() {
		if (this.procesoActivo) this.setDataEdit();
	},
	methods: {
		...mapMutations(["modalSubmit", "modalOk"]),
		...mapMutations("areas", ["addProceso", "updateProceso"]),

		async submit() {
			this.$v.$touch();
			if (!this.$v.$invalid) {
				this.form.idArea = this.areaActiva.idArea;
				this.form.codigo = this.codigo;
				try {
					const response = !this.procesoActivo
						? await axios.post(
								BaseUrl + `/api/nr/procesos`,
								this.form
						  )
						: await axios.put(
								BaseUrl + `/api/nr/procesos`,
								this.form
						  );
					if (response.data.success) {
						if (!this.procesoActivo)
							this.addProceso(response.data.proceso);
						else this.updateProceso(response.data.proceso);
						this.modalSubmit(true);
					} else {
						this.modalOk(false);
					}
				} catch (e) {
					this.modalOk(false);
				}
			} else {
				this.modalOk(false);
			}
		},
		setDataEdit() {
			this.form.idProceso = this.procesoActivo.idProceso;
			this.form.nombre = this.procesoActivo.nombre;
			this.form.clave = this.procesoActivo.clave;
			this.form.idArea = this.procesoActivo.idArea;
			this.form.version = this.procesoActivo.version;
		},
		textToUpper(val) {
			this.form.clave = val.toUpperCase();
		},
	},
	computed: {
		...mapState(["okModal"]),
		...mapState("areas", ["areaActiva", "procesoActivo"]),
		codigoArea() {
			return this.areaActiva.codigo;
		},
		codigo() {
			return `PR-${this.codigoArea}-${this.form.clave}-${this.form.version}`;
		},
	},
	validations: {
		form: {
			nombre: { required },
			clave: { required },
			version: { required },
		},
	},
	watch: {
		okModal() {
			if (this.okModal == true) {
				this.submit();
			}
		},
	},
};
</script>
