<template>
	<b-card no-body class="mb-4 mx-3" :class="cardClass">
		<b-card-header header-tag="nav" class="border">
			<b-row align-h="between">
				<b-col cols="9">
					<h4 class="ml-3 mt-2">
						{{ proceso.nombre }} &nbsp;
						<b-dropdown
							dropright
							no-caret
							variant="link"
							size="sm"
							:disabled="
								hasPermission('ca.gc.md.procesos.editar') ||
								hasPermission('ca.gc.md.procesos.eliminar') ||
								hasPermission(
									'ca.gc.md.procedimientos.registrar'
								)
									? false
									: true
							"
						>
							<template v-slot:button-content>
								<i class="fas fa-ellipsis-v text-dark"></i>
							</template>

							<b-dropdown-item
								v-if="
									hasPermission(
										'ca.gc.md.procedimientos.registrar'
									)
								"
								v-b-modal.modal-procedimiento
								@click="
									setProceso(proceso);
									setProcedimiento(null);
								"
								>Nuevo procedimiento</b-dropdown-item
							>
							<b-dropdown-item
								v-if="hasPermission('ca.gc.md.procesos.editar')"
								v-b-modal.modal-proceso
								@click="setProceso(proceso)"
								>Editar datos del proceso</b-dropdown-item
							>
							<b-dropdown-item
								@click="setDataDelete"
								v-b-modal.modal-delete
								v-if="
									!proceso.procedimientos.length &&
										hasPermission(
											'ca.gc.md.procesos.eliminar'
										)
								"
								>Eliminar proceso</b-dropdown-item
							>
						</b-dropdown>
					</h4>
				</b-col>
				<b-col cols="3">
					<h5>
						<b-badge class="float-right mt-2">{{
							proceso.codigo
						}}</b-badge>
					</h5>
				</b-col>
			</b-row>
		</b-card-header>
		<b-card-body class="py-2">
			<template v-if="proceso.procedimientos.length">
				<h5 class="mt-2 text-center">Procedimientos</h5>
				<hr class="mb-2" />
			</template>
			<b-row v-if="proceso.procedimientos.length">
				<b-col
					lg="6"
					class="my-2"
					v-for="(procedimiento, index) in proceso.procedimientos"
					:key="index"
				>
					<nr-procedimiento-component
						:procedimiento="procedimiento"
						:proceso="proceso"
					/>
				</b-col>
			</b-row>
			<div v-else>
				<h5 class="my-5 text-center">
					No se han registrado procedimientos
				</h5>
			</div>
		</b-card-body>
	</b-card>
</template>

<script>
import { mapMutations, mapState } from "vuex";
export default {
	props: {
		proceso: Object,
	},
	data() {
		return {
			isAdmin: true,
		};
	},
	mounted() {},
	methods: {
		...mapMutations("areas", ["setProceso", "setProcedimiento"]),
		...mapMutations(["setFormDelete"]),
		setDataDelete() {
			const data = {
				dpto: "nr",
				section: "procesos",
				tipo: "Proceso",
				id: this.proceso.idProceso,
				registro: this.proceso.nombre,
			};
			this.setFormDelete(data);
		},
		hasPermission(funcion) {
			if (this.permissions.length) {
				const permiso = this.permissions.find(
					(permiso) => permiso.idFuncion == funcion
				);
				if (permiso) return true;
				return false;
			}
		},
	},
	computed: {
		...mapState(["permissions"]),
		...mapState("areas", ["procesoActivo"]),
		cardClass() {
			if (this.procesoActivo) {
				if (this.procesoActivo.idProceso == this.proceso.idProceso)
					return "shadow";
				else return "shadow-sm";
			} else {
				return "shadow-sm";
			}
		},
	},
};
</script>
<style>
/*.box-shadow-active{
		-webkit-box-shadow: 7px 7px 14px -5px rgba(0,0,0,0.75);
		-moz-box-shadow: 7px 7px 14px -5px rgba(0,0,0,0.75);
		box-shadow: 7px 7px 14px -5px rgba(0,0,0,0.75);
	}*/
</style>
