<template>
	<div>
		<b-row class="border-bottom">
			<b-col lg="12">
				<b-row>
					<b-col class="pt-3 pb-3 text-center">
						<h3>
							{{ costoActivo.cuenta }}
						</h3>
						<h5>
							{{ costoActivo.proyecto }}
						</h5>
					</b-col>
				</b-row>

				<hr class="my-0 mx-5 shadow-sm" />
				<b-row>
					<b-col lg="6" class="p-3 text-center">
						<h5 class="mt-4 display-5" style="font-size: 17px;">
							<strong class="bg-danger p-2">Total Real:</strong>
							<label class="bg-light p-2">
								<template v-if="loadCosto">
									<b-spinner
										small
										class="mx-4 align-middle"
									></b-spinner>
								</template>

								<template v-else>
									$
									<vue-numeric
										separator=","
										:precision="2"
										:read-only="true"
										:value="totalReal"
									/>
								</template>
							</label>
						</h5>
					</b-col>
					<b-col lg="6" class="p-3 text-center ">
						<b-row>
							<b-col lg="1"></b-col>
							<b-col lg="6" class="text-right">
								<strong>Duración del Proyecto:</strong>
							</b-col>
							<b-col lg="1" class="text-center bg-light p-0">
								{{ costoActivo.duracion }}
							</b-col>
							<b-col lg="4"></b-col>
						</b-row>
						<b-row>
							<b-col lg="1"></b-col>
							<b-col lg="6" class="text-right">
								<strong>Jornadas Internas:</strong>
							</b-col>
							<b-col lg="1" class="text-center bg-light">
								{{ costoActivo.jornadaInterna }}
							</b-col>
							<b-col lg="4"></b-col>
						</b-row>
						<b-row>
							<b-col lg="1"></b-col>
							<b-col lg="6" class="text-right">
								<strong>Jornada Laboral (Hrs):</strong>
							</b-col>
							<b-col lg="1" class="text-center bg-light">
								{{ costoActivo.jornadaLaboral }}
							</b-col>
							<b-col lg="4"></b-col>
						</b-row>
						<b-row>
							<b-col lg="1"></b-col>
							<b-col lg="6" class="text-right">
								<strong>Jornada Dominical:</strong>
							</b-col>
							<b-col lg="1" class="text-center bg-light">
								{{ costoActivo.jornadaDominical }}
							</b-col>
							<b-col lg="4"></b-col>
						</b-row>
					</b-col>
				</b-row>
			</b-col>
		</b-row>

		<b-row class="border-bottom border-top">
			<b-col lg="12" class="shadow-sm border-bottom">
				<b-button-group size="sm">
					<b-button
						v-if="
							hasPermission('op.co.cr.materiales.insumos.navegar')
						"
						:class="{
							'btn-secondary': activeMI,
							'btn-light': !activeMI,
						}"
						class="shadows"
						@click="setSeccionActive('MI')"
						squared
					>
						Material e Insumos
					</b-button>
					<b-button
						v-if="hasPermission('op.co.cr.mano.obra.navegar')"
						:class="{
							'btn-secondary': activeMO,
							'btn-light': !activeMO,
						}"
						class="shadows"
						@click="setSeccionActive('MO')"
						squared
					>
						Mano de Obra
					</b-button>
					<b-button
						v-if="
							hasPermission(
								'op.co.cr.herramientas.equipos.navegar'
							)
						"
						:class="{
							'btn-secondary': activeHE,
							'btn-light': !activeHE,
						}"
						class="shadows"
						@click="setSeccionActive('HE')"
						squared
					>
						Herramienta y Equipo
					</b-button>
					<b-button
						v-if="
							hasPermission('op.co.cr.gastos.operacion.navegar')
						"
						:class="{
							'btn-secondary': activeGO,
							'btn-light': !activeGO,
						}"
						class="shadows"
						@click="setSeccionActive('GO')"
						squared
					>
						Gastos de Operación
					</b-button>
					<b-button
						v-if="
							hasPermission('op.co.cr.gastos.especiales.navegar')
						"
						:class="{
							'btn-secondary': activeGE,
							'btn-light': !activeGE,
						}"
						class="shadows"
						@click="setSeccionActive('GE')"
						squared
					>
						Gastos Especiales
					</b-button>
					<b-button
						v-if="hasPermission('op.co.ind.cuenta.navegar')"
						:class="{
							'btn-secondary': activeICU,
							'btn-light': !activeICU,
						}"
						class="shadows"
						@click="setSeccionActive('ICU')"
						squared
					>
						Ind. por Cuenta
					</b-button>
					<b-button
						v-if="hasPermission('op.co.ind.seguridad.navegar')"
						:class="{
							'btn-secondary': activeISE,
							'btn-light': !activeISE,
						}"
						class="shadows"
						@click="setSeccionActive('ISE')"
						squared
					>
						Ind. de Seguridad
					</b-button>
				</b-button-group>

				<b-badge
					variant="light"
					class="shadow-sm mt-1 float-right"
					v-if="loadSeccion"
				>
					<b-spinner
						type="grow"
						small
						label="Spinning"
						class="mr-2"
					></b-spinner
					>Guardando cambios ...
				</b-badge>

				<b-badge
					v-if="!loadSeccion && updatedSeccion"
					variant="light"
					class="shadow-sm mt-2 float-right"
				>
					<font class="text-success">
						<i class="fas fa-check mr-1"></i>
						Cambios guardados
					</font>
				</b-badge>
			</b-col>
		</b-row>

		<!-- TABLAS -->
		<op-co-cp-material-insumos-component
			v-if="activeMI"
			:total="materialesInsumos.total"
			:items="materialesInsumos.items"
			:materialInsumo="materialInsumo"
			:cuenta="'Real'"
			@editing="editSeccion($event)"
			@update="updateMaterialInsumo($event)"
		/>

		<op-co-cr-mano-obra-component
			v-if="activeMO"
			:total="manoObra.total"
			:items="manoObra.items"
		/>

		<op-co-cp-herramienta-equipos-component
			v-if="activeHE"
			:total="herramientasEquipos.total"
			:items="herramientasEquipos.items"
			:herramientaEquipo="herramientaEquipo"
			:cuenta="'Real'"
			@editing="editSeccion($event)"
			@update="updateHerramientaEquipo($event)"
		/>

		<op-co-cr-gastos-operacion-component
			v-if="activeGO"
			:total="gastosOperacion.total"
			:items="gastosOperacion.items"
		/>

		<op-co-cp-gastos-especiales-component
			v-if="activeGE"
			:total="gastosEspeciales.total"
			:items="gastosEspeciales.items"
			:gastoEspecial="gastoEspecial"
			:cuenta="'Real'"
			@editing="editSeccion($event)"
			@update="updateGastoEspecial($event)"
		/>

		<op-co-cr-ind-cuenta-component v-if="activeICU" />
		<op-co-cr-ind-seguridad-component
			v-if="activeISE"
			@editing="editSeccion($event)"
		/>

		<template
			v-if="
				!activeMI &&
					!activeMO &&
					!activeHE &&
					!activeGO &&
					!activeGE &&
					!activeISE &&
					!activeICU
			"
		>
			<b-container
				class="w-100 h-100 div-content"
				style="color: #a8aeb3;"
			>
				<b-row class="my-5 w-100">
					<b-col class="text-center">
						<i
							class="img-fluid rounded mx-auto d-block"
							:class="'fas fa-hand-holding-usd'"
							style="font-size: 70px;"
							width="35%"
							height="35%"
						></i>
						<div class="mt-3 text-center">
							<h2 style="font-size: 18px;">
								ELIJA UNA DE LAS OPCIONES QUE SE ENCUENTRAN EN
								EL MENÚ.
							</h2>
						</div>
					</b-col>
				</b-row>
			</b-container>
		</template>
	</div>
</template>

<script>
import { mapState, mapActions, mapMutations, mapGetters } from "vuex";
import { required } from "vuelidate/lib/validators";
export default {
	data() {
		return {
			activeMI: false,
			activeMO: false,
			activeHE: false,
			activeGO: false,
			activeGE: false,
			activeISE: false,
			activeICU: false,
			loadSeccion: false,
			updatedSeccion: false,
			updatedCosto: false,
		};
	},
	mounted() {
		this.getManoObra(this.costoActivo.cuenta);
		this.getGastosOperacion(this.costoActivo.cuenta);
		this.getMaterialInsumo(this.costoActivo.idCosto);
		this.getGastoEspecial(this.costoActivo.idCosto);
		this.getHerramientaEquipo(this.costoActivo.idCosto);
		setTimeout(() => this.setLoadCosto(false), 4000);
	},
	methods: {
		...mapMutations("op_co_costos", ["setLoadCosto"]),

		...mapMutations("op_co_cuenta_real", [
			"updateMaterialInsumo",
			"updateGastoEspecial",
			"updateHerramientaEquipo",
		]),
		...mapActions("op_co_cuenta_real", [
			"getManoObra",
			"getGastosOperacion",
			"getMaterialInsumo",
			"getGastoEspecial",
			"getHerramientaEquipo",
		]),

		setSeccionActive(seccion) {
			this.desactiveSeccion();
			this.hideBadge();
			switch (seccion) {
				case "MI":
					this.activeMI = true;
					break;
				case "MO":
					this.activeMO = true;
					break;
				case "HE":
					this.activeHE = true;
					break;
				case "GO":
					this.activeGO = true;
					break;
				case "GE":
					this.activeGE = true;
					break;
				case "ISE":
					this.activeISE = true;
					break;
				case "ICU":
					this.activeICU = true;
					break;
			}
		},
		desactiveSeccion() {
			this.activeMI = false;
			this.activeMO = false;
			this.activeHE = false;
			this.activeGO = false;
			this.activeGE = false;
			this.activeISE = false;
			this.activeICU = false;
		},
		editSeccion(status) {
			this.loadSeccion = status;
			this.updatedSeccion = !status;
		},
		hideBadge() {
			this.loadSeccion = false;
			this.updatedSeccion = false;
		},
		hasPermission(funcion) {
			if (this.permissions.length) {
				const permiso = this.permissions.find(
					(permiso) => permiso.idFuncion == funcion
				);
				if (permiso) return true;
				return false;
			}
		},
	},
	computed: {
		...mapState(["permissions", "usuario"]),
		...mapState("op_co_costos", [
			"costoActivo",
			"costoFactores",
			"loadCosto",
		]),

		...mapState("op_co_cuenta_real", [
			"sueldos",
			"manoObra",
			"gastosOperacion",
			"materialInsumo",
			"materialesInsumos",
			"gastoEspecial",
			"gastosEspeciales",
			"herramientaEquipo",
			"herramientasEquipos",
		]),

		totalReal() {
			const dataMIiva = this.costoFactores
				? this.materialesInsumos.total * this.costoFactores.iva
				: this.materialesInsumos.total;

			let total =
				this.manoObra.total +
				this.herramientasEquipos.total +
				this.gastosEspeciales.total +
				this.gastosOperacion.total +
				dataMIiva;

			return total;
		},
	},
	watch: {
		costoActivo() {
			this.getManoObra(this.costoActivo.cuenta);
			this.getGastosOperacion(this.costoActivo.cuenta);
			this.getMaterialInsumo(this.costoActivo.idCosto);
			this.getGastoEspecial(this.costoActivo.idCosto);
			this.getHerramientaEquipo(this.costoActivo.idCosto);
		},
	},
};
</script>

<style scope>
#gasto-link {
	display: none;
}
#gasto:hover #gasto-link {
	display: block;
}
#gasto:hover #gasto-text {
	display: none;
}
.fs-12 {
	font-size: 12px;
}
.div-content {
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-ms-flex-align: center;
	-ms-flex-pack: center;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	margin-top: 85px;
}
</style>
