<template>
	<div id="div-ind-cuenta" class="scroll-costos">
		<b-row class="text-center">
			<b-col>
				<h4 class="mb-0 mt-3">Comparativa de Costos %</h4>
			</b-col>
			<b-col>
				<h4 class="mb-0 mt-3">Comparativa de Costos $</h4>
			</b-col>
		</b-row>

		<b-container>
			<b-row>
				<b-col>
					<b-table-simple
						small
						borderless
						caption-top
						responsive
						class="shadow mt-3"
						id="table-ind-cuenta"
					>
						<b-thead>
							<b-tr class="bg-light">
								<b-th class="align-middle" width="30%"
									>Familia</b-th
								>
								<b-th
									class="align-middle text-center"
									width="25%"
									>Costo Programado</b-th
								>
								<b-th
									class="align-middle text-center"
									width="25%"
									>Costo Real</b-th
								>
								<b-th
									class="align-middle text-center"
									width="20%"
									>% de Eficiencia</b-th
								>
							</b-tr>
						</b-thead>

						<b-tbody>
							<tr>
								<td class="align-middle bg-light fs-12">Insumo</td>
								<td class="align-middle fs-11">
									<div
										class="d-flex w-100 justify-content-between"
									>
										<label class="mb-0 ml-1">$</label>
										<vue-numeric
											separator=","
											:precision="2"
											:read-only="true"
											:value="cpInsumoTotalIva"
										/>
									</div>
								</td>
								<td class="align-middle fs-11">
									<div
										class="d-flex w-100 justify-content-between"
									>
										<label class="mb-0 ml-1">$</label>
										<vue-numeric
											separator=","
											:precision="2"
											:read-only="true"
											:value="crInsumoTotalIva"
										/>
									</div>
								</td>
								<td class="align-middle text-center fs-11">
									{{
										comparativa.insumo.porcentaje.toFixed()
									}}%
								</td>
							</tr>
							<tr>
								<td class="align-middle bg-light fs-12">
									Mano de obra
								</td>
								<td class="align-middle fs-11">
									<div
										class="d-flex w-100 justify-content-between"
									>
										<label class="mb-0 ml-1">$</label>
										<vue-numeric
											separator=","
											:precision="2"
											:read-only="true"
											:value="cuentaPlaneada.manoObra"
										/>
									</div>
								</td>
								<td class="align-middle fs-11">
									<div
										class="d-flex w-100 justify-content-between"
									>
										<label class="mb-0 ml-1">$</label>
										<vue-numeric
											separator=","
											:precision="2"
											:read-only="true"
											:value="cuentaReal.manoObra"
										/>
									</div>
								</td>
								<td class="align-middle text-center fs-11">
									{{
										comparativa.manoObra.porcentaje.toFixed()
									}}%
								</td>
							</tr>
							<tr>
								<td class="align-middle bg-light fs-12">
									Herramienta y equipo
								</td>
								<td class="align-middle fs-11">
									<div
										class="d-flex w-100 justify-content-between"
									>
										<label class="mb-0 ml-1">$</label>
										<vue-numeric
											separator=","
											:precision="2"
											:read-only="true"
											:value="
												cuentaPlaneada.herramientaEquipo
											"
										/>
									</div>
								</td>
								<td class="align-middle fs-11">
									<div
										class="d-flex w-100 justify-content-between"
									>
										<label class="mb-0 ml-1">$</label>
										<vue-numeric
											separator=","
											:precision="2"
											:read-only="true"
											:value="
												cuentaReal.herramientaEquipo
											"
										/>
									</div>
								</td>
								<td class="align-middle text-center fs-11">
									{{
										comparativa.herramientaEquipo.porcentaje.toFixed()
									}}%
								</td>
							</tr>
							<tr>
								<td class="align-middle bg-light fs-12">
									Gastos de operación
								</td>
								<td class="align-middle fs-11">
									<div
										class="d-flex w-100 justify-content-between"
									>
										<label class="mb-0 ml-1">$</label>
										<vue-numeric
											separator=","
											:precision="2"
											:read-only="true"
											:value="
												cuentaPlaneada.gastoOperacion
											"
										/>
									</div>
								</td>
								<td class="align-middle fs-11">
									<div
										class="d-flex w-100 justify-content-between"
									>
										<label class="mb-0 ml-1">$</label>
										<vue-numeric
											separator=","
											:precision="2"
											:read-only="true"
											:value="cuentaReal.gastoOperacion"
										/>
									</div>
								</td>
								<td class="align-middle text-center fs-11">
									{{
										comparativa.gastoOperacion.porcentaje.toFixed()
									}}%
								</td>
							</tr>
							<tr>
								<td class="align-middle bg-light fs-12">
									Gastos especiales
								</td>
								<td class="align-middle fs-11">
									<div
										class="d-flex w-100 justify-content-between"
									>
										<label class="mb-0 ml-1">$</label>
										<vue-numeric
											separator=","
											:precision="2"
											:read-only="true"
											:value="
												cuentaPlaneada.gastoEspecial
											"
										/>
									</div>
								</td>
								<td class="align-middle fs-11">
									<div
										class="d-flex w-100 justify-content-between"
									>
										<label class="mb-0 ml-1">$</label>
										<vue-numeric
											separator=","
											:precision="2"
											:read-only="true"
											:value="cuentaReal.gastoEspecial"
										/>
									</div>
								</td>
								<td class="align-middle text-center fs-11">
									{{
										comparativa.gastoEspecial.porcentaje.toFixed()
									}}%
								</td>
							</tr>
						</b-tbody>

						<b-tfoot class="bg-light">
							<b-tr>
								<b-th class="text-left fs-12">Total</b-th>
								<b-th class="text-right fs-11">
									<div
										class="d-flex w-100 justify-content-between"
									>
										<label class="mb-0 ml-1">$</label>
										<vue-numeric
											separator=","
											:precision="2"
											:read-only="true"
											:value="totalCP"
										/>
									</div>
								</b-th>
								<b-th class="text-right fs-11">
									<div
										class="d-flex w-100 justify-content-between"
									>
										<label class="mb-0 ml-1">$</label>
										<vue-numeric
											separator=","
											:precision="2"
											:read-only="true"
											:value="totalCR"
										/>
									</div>
								</b-th>
								<b-th class="text-center fs-11">
									{{ porcentajeTotal.toFixed() }}%
								</b-th>
							</b-tr>
						</b-tfoot>
					</b-table-simple>
				</b-col>
				<b-col>
					<b-table-simple
						small
						borderless
						caption-top
						responsive
						class="shadow mt-3"
						id="table-ind-cuenta"
					>
						<b-thead>
							<b-tr class="bg-light">
								<b-th class="align-middle" width="30%"
									>Familia</b-th
								>
								<b-th
									class="align-middle text-center"
									width="25%"
									>Costo Programado</b-th
								>
								<b-th
									class="align-middle text-center"
									width="25%"
									>Costo Real</b-th
								>
								<b-th
									class="align-middle text-center"
									width="20%"
									>Costo Diferencia</b-th
								>
							</b-tr>
						</b-thead>

						<b-tbody style="font-size: 12px">
							<tr>
								<td class="align-middle bg-light fs-12">Insumo</td>
								<td class="align-middle fs-11">
									<div
										class="d-flex w-100 justify-content-between"
									>
										<label class="mb-0 ml-1">$</label>
										<vue-numeric
											separator=","
											:precision="2"
											:read-only="true"
											:value="cpInsumoTotalIva"
										/>
									</div>
								</td>
								<td class="align-middle fs-11">
									<div
										class="d-flex w-100 justify-content-between"
									>
										<label class="mb-0 ml-1">$</label>
										<vue-numeric
											separator=","
											:precision="2"
											:read-only="true"
											:value="crInsumoTotalIva"
										/>
									</div>
								</td>
								<td class="align-middle fs-11">
									<div
										class="d-flex w-100 justify-content-between"
									>
										<label class="mb-0 ml-1">$</label>
										<vue-numeric
											separator=","
											:precision="2"
											:read-only="true"
											:value="
												comparativa.insumo.diferencia
											"
										/>
									</div>
								</td>
							</tr>
							<tr>
								<td class="align-middle bg-light fs-12">
									Mano de obra
								</td>
								<td class="align-middle fs-11">
									<div
										class="d-flex w-100 justify-content-between"
									>
										<label class="mb-0 ml-1">$</label>
										<vue-numeric
											separator=","
											:precision="2"
											:read-only="true"
											:value="cuentaPlaneada.manoObra"
										/>
									</div>
								</td>
								<td class="align-middle fs-11">
									<div
										class="d-flex w-100 justify-content-between"
									>
										<label class="mb-0 ml-1">$</label>
										<vue-numeric
											separator=","
											:precision="2"
											:read-only="true"
											:value="cuentaReal.manoObra"
										/>
									</div>
								</td>
								<td class="align-middle fs-11">
									<div
										class="d-flex w-100 justify-content-between"
									>
										<label class="mb-0 ml-1">$</label>
										<vue-numeric
											separator=","
											:precision="2"
											:read-only="true"
											:value="
												comparativa.manoObra.diferencia
											"
										/>
									</div>
								</td>
							</tr>
							<tr>
								<td class="align-middle bg-light fs-12">
									Herramienta y equipo
								</td>
								<td class="align-middle fs-11">
									<div
										class="d-flex w-100 justify-content-between"
									>
										<label class="mb-0 ml-1">$</label>
										<vue-numeric
											separator=","
											:precision="2"
											:read-only="true"
											:value="
												cuentaPlaneada.herramientaEquipo
											"
										/>
									</div>
								</td>
								<td class="align-middle fs-11">
									<div
										class="d-flex w-100 justify-content-between"
									>
										<label class="mb-0 ml-1">$</label>
										<vue-numeric
											separator=","
											:precision="2"
											:read-only="true"
											:value="
												cuentaReal.herramientaEquipo
											"
										/>
									</div>
								</td>
								<td class="align-middle fs-11">
									<div
										class="d-flex w-100 justify-content-between"
									>
										<label class="mb-0 ml-1">$</label>
										<vue-numeric
											separator=","
											:precision="2"
											:read-only="true"
											:value="
												comparativa.herramientaEquipo
													.diferencia
											"
										/>
									</div>
								</td>
							</tr>
							<tr>
								<td class="align-middle bg-light fs-12">
									Gastos de operación
								</td>
								<td class="align-middle fs-11">
									<div
										class="d-flex w-100 justify-content-between"
									>
										<label class="mb-0 ml-1">$</label>
										<vue-numeric
											separator=","
											:precision="2"
											:read-only="true"
											:value="
												cuentaPlaneada.gastoOperacion
											"
										/>
									</div>
								</td>
								<td class="align-middle fs-11">
									<div
										class="d-flex w-100 justify-content-between"
									>
										<label class="mb-0 ml-1">$</label>
										<vue-numeric
											separator=","
											:precision="2"
											:read-only="true"
											:value="cuentaReal.gastoOperacion"
										/>
									</div>
								</td>
								<td class="align-middle fs-11">
									<div
										class="d-flex w-100 justify-content-between"
									>
										<label class="mb-0 ml-1">$</label>
										<vue-numeric
											separator=","
											:precision="2"
											:read-only="true"
											:value="
												comparativa.gastoOperacion
													.diferencia
											"
										/>
									</div>
								</td>
							</tr>
							<tr>
								<td class="align-middle bg-light fs-12">
									Gastos especiales
								</td>
								<td class="align-middle fs-11">
									<div
										class="d-flex w-100 justify-content-between"
									>
										<label class="mb-0 ml-1">$</label>
										<vue-numeric
											separator=","
											:precision="2"
											:read-only="true"
											:value="
												cuentaPlaneada.gastoEspecial
											"
										/>
									</div>
								</td>
								<td class="align-middle fs-11">
									<div
										class="d-flex w-100 justify-content-between"
									>
										<label class="mb-0 ml-1">$</label>
										<vue-numeric
											separator=","
											:precision="2"
											:read-only="true"
											:value="cuentaReal.gastoEspecial"
										/>
									</div>
								</td>
								<td class="align-middle fs-11">
									<div
										class="d-flex w-100 justify-content-between"
									>
										<label class="mb-0 ml-1">$</label>
										<vue-numeric
											separator=","
											:precision="2"
											:read-only="true"
											:value="
												comparativa.gastoEspecial
													.diferencia
											"
										/>
									</div>
								</td>
							</tr>
						</b-tbody>

						<b-tfoot class="bg-light">
							<b-tr>
								<b-th class="text-left fs-12">Total</b-th>
								<b-th class="text-right fs-11">
									<div
										class="d-flex w-100 justify-content-between"
									>
										<label class="mb-0 ml-1">$</label>
										<vue-numeric
											separator=","
											:precision="2"
											:read-only="true"
											:value="totalCP"
										/>
									</div>
								</b-th>
								<b-th class="text-right fs-11">
									<div
										class="d-flex w-100 justify-content-between"
									>
										<label class="mb-0 ml-1">$</label>
										<vue-numeric
											separator=","
											:precision="2"
											:read-only="true"
											:value="totalCR"
										/>
									</div>
								</b-th>
								<b-th class="text-right fs-11">
									<div
										class="d-flex w-100 justify-content-between"
									>
										<label class="mb-0 ml-1">$</label>
										<vue-numeric
											separator=","
											:precision="2"
											:read-only="true"
											:value="diferenciaTotal"
										/>
									</div>
								</b-th>
							</b-tr>
						</b-tfoot>
					</b-table-simple>
				</b-col>
			</b-row>
		</b-container>
	</div>
</template>

<script>
import { mapState, mapActions, mapMutations } from "vuex";

export default {
	data() {
		return {};
	},
	mounted() {},
	methods: {
		hasPermission(funcion) {
			if (this.permissions.length) {
				const permiso = this.permissions.find(
					(permiso) => permiso.idFuncion == funcion
				);
				if (permiso) return true;
				return false;
			}
		},
	},
	computed: {
		...mapState(["permissions", "usuario"]),
		...mapState("op_co_costos", ["cuentaPlaneada", "costoFactores"]),
		...mapState("op_co_cuenta_real", ["cuentaReal"]),

		cpInsumoTotalIva() {
			return this.costoFactores
				? this.cuentaPlaneada.insumo * this.costoFactores.iva
				: this.cuentaPlaneada.insumo;
		},
		crInsumoTotalIva() {
			return this.costoFactores
				? this.cuentaReal.insumo * this.costoFactores.iva
				: this.cuentaReal.insumo;
		},
		totalCP() {
			return (
				this.cpInsumoTotalIva +
				this.cuentaPlaneada.manoObra +
				this.cuentaPlaneada.herramientaEquipo +
				this.cuentaPlaneada.gastoOperacion +
				this.cuentaPlaneada.gastoEspecial
			);
		},
		totalCR() {
			return (
				this.crInsumoTotalIva +
				this.cuentaReal.manoObra +
				this.cuentaReal.herramientaEquipo +
				this.cuentaReal.gastoOperacion +
				this.cuentaReal.gastoEspecial
			);
		},
		porcentajeTotal() {
			return this.totalCP > 0
				? ((this.totalCP - this.totalCR) / this.totalCP) * 100
				: 0;
		},
		diferenciaTotal() {
			return this.totalCP - this.totalCR;
		},
		comparativa() {
			if (this.cuentaPlaneada && this.cuentaReal) {
				return {
					insumo: {
						porcentaje:
							this.cpInsumoTotalIva > 0
								? ((this.cpInsumoTotalIva -
										this.crInsumoTotalIva) /
										this.cpInsumoTotalIva) *
								  100
								: 0,
						diferencia:
							this.cpInsumoTotalIva - this.crInsumoTotalIva,
					},
					manoObra: {
						porcentaje:
							this.cuentaPlaneada.manoObra > 0
								? ((this.cuentaPlaneada.manoObra -
										this.cuentaReal.manoObra) /
										this.cuentaPlaneada.manoObra) *
								  100
								: 0,
						diferencia:
							this.cuentaPlaneada.manoObra -
							this.cuentaReal.manoObra,
					},
					herramientaEquipo: {
						porcentaje:
							this.cuentaPlaneada.herramientaEquipo > 0
								? ((this.cuentaPlaneada.herramientaEquipo -
										this.cuentaReal.herramientaEquipo) /
										this.cuentaPlaneada.herramientaEquipo) *
								  100
								: 0,
						diferencia:
							this.cuentaPlaneada.herramientaEquipo -
							this.cuentaReal.herramientaEquipo,
					},
					gastoOperacion: {
						porcentaje:
							this.cuentaPlaneada.gastoOperacion > 0
								? ((this.cuentaPlaneada.gastoOperacion -
										this.cuentaReal.gastoOperacion) /
										this.cuentaPlaneada.gastoOperacion) *
								  100
								: 0,
						diferencia:
							this.cuentaPlaneada.gastoOperacion -
							this.cuentaReal.gastoOperacion,
					},
					gastoEspecial: {
						porcentaje:
							this.cuentaPlaneada.gastoEspecial > 0
								? ((this.cuentaPlaneada.gastoEspecial -
										this.cuentaReal.gastoEspecial) /
										this.cuentaPlaneada.gastoEspecial) *
								  100
								: 0,
						diferencia:
							this.cuentaPlaneada.gastoEspecial -
							this.cuentaReal.gastoEspecial,
					},
				};
			}
			return {
				insumo: { porcentaje: 0, diferencia: 0 },
				manoObra: { porcentaje: 0, diferencia: 0 },
				herramientaEquipo: { porcentaje: 0, diferencia: 0 },
				gastoOperacion: { porcentaje: 0, diferencia: 0 },
				gastoEspecial: { porcentaje: 0, diferencia: 0 },
			};
		},
	},
};
</script>

<style>
#table-ind-cuenta th,
#table-ind-cuenta td {
	padding: 0.82rem;
	vertical-align: top;
	border-top: 1px solid #dee2e6;
}
.fs-12 {
	font-size: 12px;
}
.fs-11 {
	font-size: 11px;
}
</style>
