<template>
	<div id="div-ind-seguridad" class="scroll-costos">
		<div class="text-center">
			<h4 class="mb-0 mt-3">Seguridad</h4>
		</div>

		<center>
			<b-table-simple
				small
				borderless
				caption-top
				responsive
				class="shadow mt-3"
				id="table-ind-seguridad"
				style="width: 65%"
			>
				<b-tbody>
					<tr class="text-center">
						<td
							colspan="2"
							class="align-middle text-danger display-1"
						>
							<h1>{{ porcentaje.toFixed() }}%</h1>
						</td>
					</tr>
					<tr class="bg-light">
						<th>Concepto</th>
						<th class="text-center">Cantidad</th>
					</tr>
					<tr>
						<th class="text-secondary">Contacto</th>
						<td class="text-center">
							<template
								v-if="
									hasPermission('op.co.ind.seguridad.editar')
								"
							>
								<b-form-input
									size="sm"
									type="number"
									class="text-center border-0"
									v-model="form.contacto"
									@blur="edit()"
									@keyup.enter="edit()"
								></b-form-input>
							</template>

							<template v-else>
								{{ form.contacto }}
							</template>
						</td>
					</tr>
					<tr>
						<th class="text-secondary">Incidente</th>
						<td class="text-center">
							<template
								v-if="
									hasPermission('op.co.ind.seguridad.editar')
								"
							>
								<b-form-input
									size="sm"
									type="number"
									class="text-center border-0"
									v-model="form.incidente"
									@blur="edit()"
									@keyup.enter="edit()"
								></b-form-input>
							</template>

							<template v-else>
								{{ form.incidente }}
							</template>
						</td>
					</tr>
					<tr>
						<th class="text-secondary">Accidente</th>
						<td class="text-center">
							<template
								v-if="
									hasPermission('op.co.ind.seguridad.editar')
								"
							>
								<b-form-input
									size="sm"
									type="number"
									class="text-center border-0"
									v-model="form.accidente"
									@blur="edit()"
									@keyup.enter="edit()"
								></b-form-input>
							</template>

							<template v-else>
								{{ form.accidente }}
							</template>
						</td>
					</tr>
				</b-tbody>
			</b-table-simple>
		</center>
	</div>
</template>

<script>
import { mapState, mapActions, mapMutations } from "vuex";

export default {
	data() {
		return {
			form: {
				contacto: null,
				incidente: null,
				accidente: null,
			},
		};
	},
	mounted() {
		this.setDataEdit();
	},
	methods: {
		...mapMutations("op_co_costos", ["updateCostoSeguridad"]),

		hasPermission(funcion) {
			if (this.permissions.length) {
				const permiso = this.permissions.find(
					(permiso) => permiso.idFuncion == funcion
				);
				if (permiso) return true;
				return false;
			}
		},
		setDataEdit() {
			this.form.contacto = this.costoSeguridad.contacto;
			this.form.incidente = this.costoSeguridad.incidente;
			this.form.accidente = this.costoSeguridad.accidente;
		},
		async edit() {
			try {
				this.$emit("editing", true);
				const response = await axios.put(
					BaseUrl +
						`/api/op/co/costo/seguridad/${this.costoSeguridad.idSeguridad}`,
					this.form
				);
				if (response.data.success) {
					this.updateCostoSeguridad(response.data.costoSeguridad);
					this.$emit("editing", false);
				}
			} catch (e) {
				console.log(e);
			}
		},
	},
	computed: {
		...mapState(["permissions"]),
		...mapState("op_co_costos", ["costoSeguridad"]),

		porcentaje() {
			return (
				(1 -
					(this.costoSeguridad.contacto * 0.1 +
						this.costoSeguridad.incidente * 0.1 +
						this.costoSeguridad.accidente * 1)) *
				100
			);
		},
	},
	watch: {
		costoSeguridad() {
			this.setDataEdit();
		},
	},
};
</script>

<style>
#table-ind-seguridad th,
#table-ind-seguridad td {
	padding: 0.72rem;
	vertical-align: top;
	border-top: 1px solid #dee2e6;
}
</style>
