<template>
	<div id="div-mano-obra" class="scroll-costos">
		<div class="text-center">
			<h4 class="mb-0 mt-3">Mano de Obra</h4>
		</div>

		<hr class="mb-0" />

		<b-skeleton-table
			v-if="loadCosto"
			:rows="11"
			:columns="5"
			:table-props="{ bordered: true, striped: true }"
		></b-skeleton-table>

		<b-table-simple
			v-else
			hover
			small
			bordered
			caption-top
			responsive
			class="shadow-sm"
			id="table-mano-obra"
		>
			<b-thead>
				<b-tr class="bg-light text-center">
					<b-th width="5%">Item</b-th>
					<b-th width="20%">Fecha</b-th>
					<b-th width="35%">Responsable</b-th>
					<b-th width="15%">Horas</b-th>
					<b-th width="15%">Costo Total</b-th>
				</b-tr>
			</b-thead>
			<b-tbody style="font-size: 12px">
				<template v-if="items.length">
					<b-tr v-for="(item, index) in items" :key="index">
						<b-td class="text-center align-middle">{{
							index + 1
						}}</b-td>
						<b-td class="align-middle text-center">
							{{ item.fecha }}
						</b-td>
						<b-td class="align-middle">
							<template>
								{{ item.responsable }}
							</template>
						</b-td>
						<b-td class="text-center align-middle">
							{{ item.total_horas }}
						</b-td>
						<b-td class="text-center align-middle">
							<div class="d-flex w-100 justify-content-between">
								<label class="mb-0 ml-1">$</label>
								<vue-numeric
									separator=","
									:precision="2"
									:read-only="true"
									:value="item.costo"
								/>
							</div>
						</b-td>
					</b-tr>
				</template>
				<template v-else>
					<b-tr>
						<b-td colspan="5" class="text-center align-middle">
							<h6 class="text-secondary m-2">
								No se han registrado actividades de mano de obra
							</h6>
						</b-td>
					</b-tr>
				</template>
			</b-tbody>
			<b-tfoot>
				<b-tr class="text-center">
					<b-td colspan="3"></b-td>
					<b-th class="text-center bg-light">Total</b-th>
					<b-td class="bg-light">
						<strong>
							<div class="d-flex w-100 justify-content-between">
								<label class="mb-0 ml-1">$</label>
								<vue-numeric
									separator=","
									:precision="2"
									:read-only="true"
									:value="total"
								/>
							</div>
						</strong>
					</b-td>
				</b-tr>
			</b-tfoot>
		</b-table-simple>
	</div>
</template>

<script>
import { mapState, mapActions, mapMutations, mapGetters } from "vuex";
import { required } from "vuelidate/lib/validators";

export default {
	props: {
		items: Array,
		total: Number,
	},
	data() {
		return {};
	},
	mounted() {
		this.setLoadCosto(false);
	},
	methods: {
		...mapMutations("op_co_costos", ["setLoadCosto"]),

		hasPermission(funcion) {
			if (this.permissions.length) {
				const permiso = this.permissions.find(
					(permiso) => permiso.idFuncion == funcion
				);
				if (permiso) return true;
				return false;
			}
		},
	},
	computed: {
		...mapState(["permissions"]),
		...mapState("op_co_costos", ["loadCosto"]),
	},
	watch: {
		items: {
			handler(val, oldVal) {
				this.setLoadCosto(false);
			},
			deep: true,
		},
	},
};
</script>

<style>
#table-mano-obra th,
#table-mano-obra td {
	padding: 0.72rem;
	vertical-align: top;
	border-top: 1px solid #dee2e6;
}
</style>
