<template>
	<div class="wrapper" style="height: calc(100vh - 54px)">
		<sidebar-component :title="'INDICADORES'" >
			<template slot="content">
				<vt-ind-sidebar />
			</template>
		</sidebar-component>
		<b-container fluid style="overflow:auto">
			<header-component :title="'Oportunidades'"/>
            <b-row class="mt-3">
                <b-col lg="3">
                    <vt-ind-filter-embudos />
                </b-col>
            </b-row>

            <b-card>
                <h4 class="text-center">CIERRE AMMMEC 2020</h4>
                <b-table-simple class="mt-3" striped bordered style="font-size:12px">
                    <b-thead>
                        <b-tr>
                            <b-th class="text-center">
                                OBJETIVO CIERRE AMMMEC 2020
                            </b-th>
                            <b-th>
                               <strong>
                                    <div class="d-flex w-100 justify-content-between">
                                        <vue-numeric
                                            currency="$"
                                            separator=","
                                            :precision="2"
                                            :read-only="true"
                                            value="6844000.00"
                                        />
                                    </div>
                                </strong>
                            </b-th>
                            <b-th>
                                <strong>
                                    <div class="d-flex w-100 justify-content-between">
                                        <vue-numeric
                                            currency="$"
                                            separator=","
                                            :precision="2"
                                            :read-only="true"
                                            value="64230775.00"
                                        />
                                    </div>
                                </strong>
                            </b-th>
                        </b-tr>
                    </b-thead>
                    <b-tbody>
                        <b-tr>
                            <b-td rowspan="4" class="text-center align-middle">
                                <strong>Planeado</strong>
                            </b-td>
                            <b-td>Septiembre</b-td>
                            <b-td class="text-right">
                                <vue-numeric
                                    currency="$"
                                    separator=","
                                    :precision="2"
                                    :read-only="true"
                                    value="64230775.00"
                                />
                            </b-td>
                        </b-tr>
                        <b-tr>
                            <b-td>Octubre</b-td>
                            <b-td class="text-right">
                                <vue-numeric
                                    currency="$"
                                    separator=","
                                    :precision="2"
                                    :read-only="true"
                                    value="64230775.00"
                                />
                            </b-td>
                        </b-tr>
                        <b-tr>
                            <b-td>Noviembre</b-td>
                            <b-td class="text-right">
                                <vue-numeric
                                    currency="$"
                                    separator=","
                                    :precision="2"
                                    :read-only="true"
                                    value="64230775.00"
                                />
                            </b-td>
                        </b-tr>
                        <b-tr>
                            <b-td>Diciembre</b-td>
                            <b-td class="text-right">
                                <vue-numeric
                                    currency="$"
                                    separator=","
                                    :precision="2"
                                    :read-only="true"
                                    value="64230775.00"
                                />
                            </b-td>
                        </b-tr>
                    </b-tbody>
                    <b-tbody>
                        <b-tr>
                            <b-td rowspan="4" class="text-center align-middle">
                                <strong>Real</strong>
                            </b-td>
                            <b-td>Septiembre</b-td>
                            <b-td class="text-right">
                                <vue-numeric
                                    currency="$"
                                    separator=","
                                    :precision="2"
                                    :read-only="true"
                                    value="64230775.00"
                                />
                            </b-td>
                        </b-tr>
                        <b-tr>
                            <b-td>Octubre</b-td>
                            <b-td class="text-right">
                                <vue-numeric
                                    currency="$"
                                    separator=","
                                    :precision="2"
                                    :read-only="true"
                                    value="64230775.00"
                                />
                            </b-td>
                        </b-tr>
                        <b-tr>
                            <b-td>Noviembre</b-td>
                            <b-td class="text-right">
                                <vue-numeric
                                    currency="$"
                                    separator=","
                                    :precision="2"
                                    :read-only="true"
                                    value="64230775.00"
                                />
                            </b-td>
                        </b-tr>
                        <b-tr>
                            <b-td>Diciembre</b-td>
                            <b-td class="text-right">
                                <vue-numeric
                                    currency="$"
                                    separator=","
                                    :precision="2"
                                    :read-only="true"
                                    value="64230775.00"
                                />
                            </b-td>
                        </b-tr>
                    </b-tbody>
                    <b-tbody>
                         <b-tr>
                            <b-td rowspan="2" class="text-center align-middle">
                                <strong>Cumplimiento</strong>
                            </b-td>
                            <b-td>Total programado</b-td>
                            <b-td class="text-right">
                                <vue-numeric
                                    currency="$"
                                    separator=","
                                    :precision="2"
                                    :read-only="true"
                                    value="64230775.00"
                                />
                            </b-td>
                        </b-tr>
                        <b-tr>
                            <b-td>Total Real</b-td>
                            <b-td class="text-right">
                                <vue-numeric
                                    currency="$"
                                    separator=","
                                    :precision="2"
                                    :read-only="true"
                                    value="64230775.00"
                                />
                            </b-td>
                        </b-tr>
                    </b-tbody>
                    <b-tfoot>
                        <b-tr class="text-center align-middle">
                            <b-td><strong>% Cumplimiento</strong></b-td>
                            <b-td class="text-center" colspan="3">
                                <h5 class="mb-0">16%</h5>
                            </b-td>
                        </b-tr>
                        <b-tr>
                            <b-td class="text-center">
                                <strong>Para lograr Objetivo</strong>
                            </b-td>
                            <b-td class="text-center" colspan="3">
                                <h5 class="mb-0">
                                    <strong>
                                        <vue-numeric
                                            currency="$"
                                            separator=","
                                            :precision="2"
                                            :read-only="true"
                                            value="5716018.00"
                                        />
                                    </strong>
                                </h5>
                            </b-td>
                        </b-tr>
                    </b-tfoot>
                </b-table-simple>
            </b-card>

            <b-card class="mt-3">
                <h4 class="text-center">OPORTUNIDAD</h4><hr class="mb-0">
                <b-row>
                    <b-col lg="6">
                        <b-table-simple class="mt-3" bordered striped style="font-size:12px">
                            <b-tbody>
                                <b-tr>
                                    <b-td class="text-center"><strong>100%</strong></b-td>
                                    <b-td class="text-right">
                                        <vue-numeric
                                            currency="$"
                                            separator=","
                                            :precision="2"
                                            :read-only="true"
                                            value="4900000.00"
                                        />
                                    </b-td>
                                </b-tr>
                                <b-tr>
                                    <b-td class="text-center"><strong>75%</strong></b-td>
                                    <b-td class="text-right">
                                        <vue-numeric
                                            currency="$"
                                            separator=","
                                            :precision="2"
                                            :read-only="true"
                                            value="4900000.00"
                                        />
                                    </b-td>
                                </b-tr>
                                <b-tr>
                                    <b-td class="text-center"><strong>50%</strong></b-td>
                                    <b-td class="text-right">
                                        <vue-numeric
                                            currency="$"
                                            separator=","
                                            :precision="2"
                                            :read-only="true"
                                            value="4900000.00"
                                        />
                                    </b-td>
                                </b-tr>
                                <b-tr>
                                    <b-td class="text-center"><strong>menor a 50%</strong></b-td>
                                    <b-td class="text-right">
                                        <vue-numeric
                                            currency="$"
                                            separator=","
                                            :precision="2"
                                            :read-only="true"
                                            value="4900000.00"
                                        />
                                    </b-td>
                                </b-tr>
                            </b-tbody>
                        </b-table-simple>
                    </b-col>
                    <b-col lg="6">
                        <b-table-simple class="mt-3" bordered striped  style="font-size:12px">
                            <b-tbody>
                                <b-tr>
                                    <b-td class="text-center"><strong>I. Septiembre</strong></b-td>
                                    <b-td class="text-right">
                                        <vue-numeric
                                            currency="$"
                                            separator=","
                                            :precision="2"
                                            :read-only="true"
                                            value="4900000.00"
                                        />
                                    </b-td>
                                </b-tr>
                                <b-tr>
                                    <b-td class="text-center"><strong>F. Septiembre</strong></b-td>
                                    <b-td class="text-right">
                                        <vue-numeric
                                            currency="$"
                                            separator=","
                                            :precision="2"
                                            :read-only="true"
                                            value="4900000.00"
                                        />
                                    </b-td>
                                </b-tr>
                                <b-tr>
                                    <b-td class="text-center"><strong>I. Octubre</strong></b-td>
                                    <b-td class="text-right">
                                        <vue-numeric
                                            currency="$"
                                            separator=","
                                            :precision="2"
                                            :read-only="true"
                                            value="4900000.00"
                                        />
                                    </b-td>
                                </b-tr>
                                <b-tr>
                                    <b-td class="text-center"><strong>F. Octubre</strong></b-td>
                                    <b-td class="text-right">
                                        <vue-numeric
                                            currency="$"
                                            separator=","
                                            :precision="2"
                                            :read-only="true"
                                            value="4900000.00"
                                        />
                                    </b-td>
                                </b-tr>
                                <b-tr>
                                    <b-td class="text-center"><strong>I. Noviembre</strong></b-td>
                                    <b-td class="text-right">
                                        <vue-numeric
                                            currency="$"
                                            separator=","
                                            :precision="2"
                                            :read-only="true"
                                            value="4900000.00"
                                        />
                                    </b-td>
                                </b-tr>
                                <b-tr>
                                    <b-td class="text-center"><strong>F. Noviembre</strong></b-td>
                                    <b-td class="text-right">
                                        <vue-numeric
                                            currency="$"
                                            separator=","
                                            :precision="2"
                                            :read-only="true"
                                            value="4900000.00"
                                        />
                                    </b-td>
                                </b-tr>
                                <b-tr>
                                    <b-td class="text-center"><strong>I. Diciembre</strong></b-td>
                                    <b-td class="text-right">
                                        <vue-numeric
                                            currency="$"
                                            separator=","
                                            :precision="2"
                                            :read-only="true"
                                            value="4900000.00"
                                        />
                                    </b-td>
                                </b-tr>
                                <b-tr>
                                    <b-td class="text-center"><strong>F. Diciembre</strong></b-td>
                                    <b-td class="text-right">
                                        <vue-numeric
                                            currency="$"
                                            separator=","
                                            :precision="2"
                                            :read-only="true"
                                            value="4900000.00"
                                        />
                                    </b-td>
                                </b-tr>
                            </b-tbody>
                        </b-table-simple>
                    </b-col>
                </b-row>
            </b-card>

            <b-card class="mt-3">
                <b-row>
                    <b-col lg="6">
                        <h4 class="text-center">OPORTUNIDADES</h4>
                        <b-table-simple class="mt-3" borderless outlined small>
                            <b-thead>
                                <b-tr class="bg-light">
                                    <b-th class="border">S 1</b-th>
                                    <b-th class="border">S 2</b-th>
                                    <b-th class="border">S 3</b-th>
                                    <b-th class="border">S 4</b-th>
                                    <b-th class="border">S 5</b-th>
                                    <b-th class="border">S 6</b-th>
                                    <b-th class="border">S 7</b-th>
                                    <b-th class="border">S 8</b-th>
                                    <b-th class="border">S 9</b-th>
                                    <b-th class="border">S 10</b-th>
                                    <b-th class="border">S 11</b-th>
                                    <b-th class="border">S 12</b-th>
                                    <b-th class="border">S 13</b-th>
                                    <b-th class="border">S 14</b-th>
                                </b-tr>
                            </b-thead>
                            <b-tbody>
                                <b-tr>
                                    <b-td class="border">136</b-td>
                                    <b-td class="border"></b-td>
                                    <b-td class="border"></b-td>
                                    <b-td class="border"></b-td>
                                </b-tr>
                                <b-tr>
                                    <b-td colspan="4"></b-td>
                                    <b-td class="border"></b-td>
                                    <b-td class="border"></b-td>
                                    <b-td class="border"></b-td>
                                    <b-td class="border"></b-td>
                                </b-tr>
                                <b-tr>
                                    <b-td colspan="8"></b-td>
                                    <b-td class="border"></b-td>
                                    <b-td class="border"></b-td>
                                    <b-td class="border"></b-td>
                                    <b-td class="border"></b-td>
                                </b-tr>
                                <b-tr>
                                    <b-td colspan="12"></b-td>
                                    <b-td class="border"></b-td>
                                    <b-td class="border"></b-td>
                                </b-tr>
                            </b-tbody>
                        </b-table-simple>
                    </b-col>
                    <b-col lg="6">
                        <h4 class="text-center">% PROBABILIDAD</h4>
                        <b-table-simple class="mt-3 text-center " borderless outlined small>
                            <b-thead>
                                <b-tr class="bg-light">
                                    <b-th class="border">S 1</b-th>
                                    <b-th class="border">S 2</b-th>
                                    <b-th class="border">S 3</b-th>
                                    <b-th class="border">S 4</b-th>
                                    <b-th class="border">S 5</b-th>
                                    <b-th class="border">S 6</b-th>
                                    <b-th class="border">S 7</b-th>
                                    <b-th class="border">S 8</b-th>
                                    <b-th class="border">S 9</b-th>
                                    <b-th class="border">S 10</b-th>
                                    <b-th class="border">S 11</b-th>
                                    <b-th class="border">S 12</b-th>
                                    <b-th class="border">S 13</b-th>
                                    <b-th class="border">S 14</b-th>
                                </b-tr>
                            </b-thead>
                            <b-tbody>
                                <b-tr>
                                    <b-td class="border">37%</b-td>
                                    <b-td class="border"></b-td>
                                    <b-td class="border"></b-td>
                                    <b-td class="border"></b-td>
                                </b-tr>
                                <b-tr>
                                    <b-td colspan="4"></b-td>
                                    <b-td class="border"></b-td>
                                    <b-td class="border"></b-td>
                                    <b-td class="border"></b-td>
                                    <b-td class="border"></b-td>
                                </b-tr>
                                <b-tr>
                                    <b-td colspan="8"></b-td>
                                    <b-td class="border"></b-td>
                                    <b-td class="border"></b-td>
                                    <b-td class="border"></b-td>
                                    <b-td class="border"></b-td>
                                </b-tr>
                                <b-tr>
                                    <b-td colspan="12"></b-td>
                                    <b-td class="border"></b-td>
                                    <b-td class="border"></b-td>
                                </b-tr>
                            </b-tbody>
                        </b-table-simple>
                    </b-col>
                </b-row>
            </b-card>

             <b-card class="mt-3 mb-4">
                <b-row>
                    <b-col lg="6">
                        <h4 class="text-center">PROBABILIDAD POR STATUS</h4>
                        <b-table-simple class="mt-3 text-center" bordered outlined small style="font-size: 12px">
                            <b-thead>
                                <b-tr class="bg-light">
                                    <b-td></b-td>
                                    <b-th>S 1</b-th>
                                    <b-th>S 2</b-th>
                                    <b-th>S 3</b-th>
                                    <b-th>S 4</b-th>
                                    <b-th>S 5</b-th>
                                    <b-th>S 6</b-th>
                                    <b-th>S 7</b-th>
                                    <b-th>S 8</b-th>
                                    <b-th>S 9</b-th>
                                    <b-th>S 10</b-th>
                                    <b-th>S 11</b-th>
                                    <b-th>S 12</b-th>
                                    <b-th>S 13</b-th>
                                    <b-th>S 14</b-th>
                                </b-tr>
                            </b-thead>
                            <b-tbody>
                                <b-tr>
                                    <b-td class="bg-light text-left"><strong>2021</strong></b-td>
                                    <b-td>11</b-td>
                                    <b-td></b-td>
                                    <b-td></b-td>
                                    <b-td></b-td>
                                    <b-td></b-td>
                                    <b-td></b-td>
                                    <b-td></b-td>
                                    <b-td></b-td>
                                    <b-td></b-td>
                                    <b-td></b-td>
                                    <b-td></b-td>
                                    <b-td></b-td>
                                    <b-td></b-td>
                                    <b-td></b-td>
                                </b-tr>
                                <b-tr>
                                    <b-td class="bg-light text-left"><strong>CO</strong></b-td>
                                    <b-td>3</b-td>
                                    <b-td></b-td>
                                    <b-td></b-td>
                                    <b-td></b-td>
                                    <b-td></b-td>
                                    <b-td></b-td>
                                    <b-td></b-td>
                                    <b-td></b-td>
                                    <b-td></b-td>
                                    <b-td></b-td>
                                    <b-td></b-td>
                                    <b-td></b-td>
                                    <b-td></b-td>
                                    <b-td></b-td>
                                </b-tr>
                                <b-tr>
                                    <b-td class="bg-light text-left"><strong>Cotizado</strong></b-td>
                                    <b-td>57</b-td>
                                    <b-td></b-td>
                                    <b-td></b-td>
                                    <b-td></b-td>
                                    <b-td></b-td>
                                    <b-td></b-td>
                                    <b-td></b-td>
                                    <b-td></b-td>
                                    <b-td></b-td>
                                    <b-td></b-td>
                                    <b-td></b-td>
                                    <b-td></b-td>
                                    <b-td></b-td>
                                    <b-td></b-td>
                                </b-tr>
                                <b-tr>
                                    <b-td class="bg-light text-left"><strong>Facturado</strong></b-td>
                                    <b-td>12</b-td>
                                    <b-td></b-td>
                                    <b-td></b-td>
                                    <b-td></b-td>
                                    <b-td></b-td>
                                    <b-td></b-td>
                                    <b-td></b-td>
                                    <b-td></b-td>
                                    <b-td></b-td>
                                    <b-td></b-td>
                                    <b-td></b-td>
                                    <b-td></b-td>
                                    <b-td></b-td>
                                    <b-td></b-td>
                                </b-tr>
                                <b-tr>
                                    <b-td class="bg-light text-left"><strong>Lead</strong></b-td>
                                    <b-td>26</b-td>
                                    <b-td></b-td>
                                    <b-td></b-td>
                                    <b-td></b-td>
                                    <b-td></b-td>
                                    <b-td></b-td>
                                    <b-td></b-td>
                                    <b-td></b-td>
                                    <b-td></b-td>
                                    <b-td></b-td>
                                    <b-td></b-td>
                                    <b-td></b-td>
                                    <b-td></b-td>
                                    <b-td></b-td>
                                </b-tr>
                                <b-tr>
                                    <b-td class="bg-light text-left"><strong>Pagado</strong></b-td>
                                    <b-td>3</b-td>
                                    <b-td></b-td>
                                    <b-td></b-td>
                                    <b-td></b-td>
                                    <b-td></b-td>
                                    <b-td></b-td>
                                    <b-td></b-td>
                                    <b-td></b-td>
                                    <b-td></b-td>
                                    <b-td></b-td>
                                    <b-td></b-td>
                                    <b-td></b-td>
                                    <b-td></b-td>
                                    <b-td></b-td>
                                </b-tr>
                                <b-tr>
                                    <b-td class="bg-light text-left"><strong>Perdido</strong></b-td>
                                    <b-td>5</b-td>
                                    <b-td></b-td>
                                    <b-td></b-td>
                                    <b-td></b-td>
                                    <b-td></b-td>
                                    <b-td></b-td>
                                    <b-td></b-td>
                                    <b-td></b-td>
                                    <b-td></b-td>
                                    <b-td></b-td>
                                    <b-td></b-td>
                                    <b-td></b-td>
                                    <b-td></b-td>
                                    <b-td></b-td>
                                </b-tr>
                                <b-tr>
                                    <b-td class="bg-light text-left"><strong>Proceso</strong></b-td>
                                    <b-td>19</b-td>
                                    <b-td></b-td>
                                    <b-td></b-td>
                                    <b-td></b-td>
                                    <b-td></b-td>
                                    <b-td></b-td>
                                    <b-td></b-td>
                                    <b-td></b-td>
                                    <b-td></b-td>
                                    <b-td></b-td>
                                    <b-td></b-td>
                                    <b-td></b-td>
                                    <b-td></b-td>
                                    <b-td></b-td>
                                </b-tr>
                            </b-tbody>
                            <b-tfoot>
                                 <b-tr>
                                    <b-td class="bg-light text-left"><strong>TOTAL</strong></b-td>
                                    <b-td>136</b-td>
                                </b-tr>
                            </b-tfoot>
                        </b-table-simple>
                    </b-col>
                    <b-col lg="6">
                        <h4 class="text-center">FACTURACIÓN</h4>
                        <b-table-simple class="mt-3 text-center " borderless outlined small style="font-size:12px">
                            <b-thead>
                                <b-tr class="bg-light">
                                    <b-th class="border" colspan="2">Septiembre</b-th>
                                    <b-th class="border" colspan="2">Octubre</b-th>
                                    <b-th class="border" colspan="2">Novimebre</b-th>
                                    <b-th class="border" colspan="2">Diciembre</b-th>
                                </b-tr>
                            </b-thead>
                            <b-tbody>
                                <b-tr>
                                    <b-td class="bg-light border"><strong>S 1</strong></b-td>
                                    <b-td class="text-right">
                                        <vue-numeric
                                            currency="$"
                                            separator=","
                                            :precision="2"
                                            :read-only="true"
                                            value="5716018.00"
                                        />
                                    </b-td>

                                    <b-td class="bg-light border"><strong>S 1</strong></b-td>
                                    <b-td class="text-right">
                                        <vue-numeric
                                            currency="$"
                                            separator=","
                                            :precision="2"
                                            :read-only="true"
                                            value="5716018.00"
                                        />
                                    </b-td>

                                    <b-td class="bg-light border"><strong>S 1</strong></b-td>
                                    <b-td class="text-right">
                                        <vue-numeric
                                            currency="$"
                                            separator=","
                                            :precision="2"
                                            :read-only="true"
                                            value="5716018.00"
                                        />
                                    </b-td>
        
                                    <b-td class="bg-light border"><strong>S 1</strong></b-td>
                                    <b-td class="text-right">
                                        <vue-numeric
                                            currency="$"
                                            separator=","
                                            :precision="2"
                                            :read-only="true"
                                            value="5716018.00"
                                        />
                                    </b-td>
                                </b-tr>
                                <b-tr>
                                    <b-td class="bg-light border"><strong>S 2</strong></b-td>
                                    <b-td></b-td>

                                    <b-td class="bg-light border"><strong>S 2</strong></b-td>
                                    <b-td></b-td>

                                    <b-td class="bg-light border"><strong>S 2</strong></b-td>
                                    <b-td></b-td>
        
                                    <b-td class="bg-light border"><strong>S 2</strong></b-td>
                                    <b-td></b-td>
                                </b-tr>
                                <b-tr>
                                    <b-td class="bg-light border"><strong>S 3</strong></b-td>
                                    <b-td></b-td>

                                    <b-td class="bg-light border"><strong>S 3</strong></b-td>
                                    <b-td></b-td>

                                    <b-td class="bg-light border"><strong>S 3</strong></b-td>
                                    <b-td></b-td>
        
                                    <b-td class="bg-light border"><strong>S 3</strong></b-td>
                                    <b-td></b-td>
                                </b-tr>
                                 <b-tr>
                                    <b-td class="bg-light border"><strong>S 4</strong></b-td>
                                    <b-td></b-td>

                                    <b-td class="bg-light border"><strong>S 4</strong></b-td>
                                    <b-td></b-td>

                                    <b-td class="bg-light border"><strong>S 4</strong></b-td>
                                    <b-td></b-td>
        
                                    <b-td class="bg-light border"><strong>S 4</strong></b-td>
                                    <b-td></b-td>
                                </b-tr>
                                <b-tr>
                                    <b-td class="bg-light border"><strong>S 5</strong></b-td>
                                    <b-td></b-td>

                                    <b-td class="bg-light border"><strong>S 5</strong></b-td>
                                    <b-td></b-td>

                                    <b-td class="bg-light border"><strong>S 5</strong></b-td>
                                    <b-td></b-td>
        
                                    <b-td class="bg-light border"><strong>S 5</strong></b-td>
                                    <b-td></b-td>
                                </b-tr>
                            </b-tbody>
                            <b-tfoot>
                                <b-tr class="bg-light">
                                    <b-td class="border"><strong>T</strong></b-td>
                                    <b-td></b-td>

                                    <b-td class="border"><strong>T</strong></b-td>
                                    <b-td></b-td>

                                    <b-td class="border"><strong>T</strong></b-td>
                                    <b-td></b-td>
        
                                    <b-td class="border"><strong>T</strong></b-td>
                                    <b-td></b-td>
                                </b-tr>
                            </b-tfoot>
                        </b-table-simple>
                    </b-col>
                </b-row>
            </b-card>
		</b-container>
	</div>
</template>
<script>
    import { mapState, mapMutations, mapActions } from 'vuex'

	export default {
	    data() {
			return {

	     	}
    	},
	    mounted(){
	            this.setRouteName('vt.indicadores.oportunidades')
	            this.getNegociosFacturados()
	    },
        
  	}
</script>