<template>
	<div class="container-fluid" style="height: calc(100vh - 56px);">
		<!-- <header-component
			title="Catálogo de Cuentas Internas"
		></header-component> -->
			<div class="p-4">
				<b-row>
					<b-col lg="2"></b-col>
					<b-col lg="8">
						<h2 class="text-center">Catálogo de Cuentas Internas</h2>
						<h3 class="text-center mb-0">Dpto. de Finanzas</h3>

					</b-col>
					<b-col lg="2">
						<b-badge variant="success" class="float-right mt-5" v-show="success">
							<i class="fas fa-check-circle mr-1"></i>Se han guardado correctamente los cambios
						</b-badge>
						<b-badge variant="light" class="float-right mt-5" v-show="load">
							<b-spinner type="grow" small label="Spinning"></b-spinner>Cargando ...
						</b-badge>
					</b-col>
				</b-row>
			</div>

		<b-card class="mt-2" style="height: calc(100vh - 220px); overflow: auto">
			<b-row>
				<b-col lg="2">
					<b-button
						size="sm"
						variant="danger"
						class="border-light-2 shadows"
						@click="openModal"
						><i class="fas fa-plus-circle mr-1"></i>Agregar
						cuenta</b-button
					>
					<b-button
						size="sm"
						variant="light"
						class="border-light-2 ml-2 shadows"
						v-b-modal.modal-filter
						><i class="fas fa-filter mr-1"></i>Filtrar áreas</b-button
					>
				</b-col>
				<b-col lg="8">
					<h4 class="text-center">Lista de cuentas</h4>
				</b-col>
				<b-col lg="2">
					<div class="input-group w-100 bg-white border shadows">
						<div class="input-group-prepend bg-light mr-1 ml-3">
							<div class="pt-1 bg-white">
								<i class="fas fa-search"></i>
							</div>
						</div>
						<b-form-input
							id="input-search"
							size="sm"
							class="form-control border-0"
							placeholder="Escribe tu busqueda aquí"
							v-model="filter"
						></b-form-input>
					</div>
				</b-col>
			</b-row>
			<hr class="mb-0">
			<div
				style="height: calc(100vh - 240px)"
				v-if="selectedAreas.length == 0"
			>
				<icon-text-component
					:icon="'fas fa-list-alt'"
					:text="'NO SE HA SELECCIONADO NINGUNA ÁREA'"
					:circleStyle="{
						backgroundColor: '#f5f5f6',
						color: '#a8aeb3',
					}"
				/>
			</div>
			<div v-else>
				<b-table
					:empty-text="'No hay registros para mostrar'"
					:filter="filter"
					:fields="fields"
					:items="cuentasInternasByAreas"
					striped
				>
					<template v-slot:cell(actions)="scope">
						<div class="text-center">
							<b-dropdown
								id="dropdown-left"
								right
								variant="light"
								size="sm"
							>
								<template v-slot:button-content>
									<i class="fas fa-ellipsis-v px-2"></i>
								</template>
								<b-dropdown-item
									v-b-modal.modal-centro-costos
									@click="setDataEdit(scope.item)"
								>
									<i class="fas fa-edit px-2"></i>
									Editar
								</b-dropdown-item>
								<b-dropdown-item
									href="#"
									v-b-modal.modal-delete
									@click="showMsgBoxDeleteConfirm(scope.item)"
								>
									<i class="fas fa-trash px-2"></i>
									Eliminar
								</b-dropdown-item>
								<slot name="dropdown-more-actions"></slot>
							</b-dropdown>
						</div>
					</template>
				</b-table>
			</div>
		</b-card>

		<b-container
			class="text-right my-3 mx-0"
			v-if="selectedAreas.length > 0"
			fluid
		>
			Filtros aplicados:
			<b-badge
				class="float-right ml-1 mt-1"
				variant="info"
				v-for="area in selectedAreas"
				:key="area"
			>
				{{ area }}
			</b-badge>
		</b-container>

		<modal-component
			:id="'modal-filter'"
			:title="'Filtrar áreas'"
			:hideFooter="true"
			:sizeModal="'sm'"
		>
			<template slot="content">
				<b-form-group>
					<template>
						<b-form-checkbox
							v-model="allSelectedAreas"
							:indeterminate="indeterminate"
							aria-describedby="areas"
							aria-controls="areas"
							@change="toggleAll"
						>
							{{
								allSelectedAreas
									? "Deselecciona Todo"
									: "Seleccionar Todo"
							}}
						</b-form-checkbox>
					</template>

					<b-form-checkbox-group
						id="flavors"
						v-model="selectedAreas"
						:options="areas"
						name="areas"
						class="ml-4"
						aria-label="Individual areas"
						stacked
					></b-form-checkbox-group>
				</b-form-group>
				<b-button
					variant="danger"
					class="ml-3 my-2 float-right"
					@click="closeModel"
				>
					LISTO
				</b-button>
			</template>
		</modal-component>

		<modal-component
			:id="'modal-centro-costos'"
			:title="'Agregar Cuenta Interna'"
			:hideFooter="true"
			:hideHeader="true"
			:centered="true"
		>
			<template slot="content">
				<fn-cuentas-internas-form-cuenta-component
					:cuentaInterna="cuentaInterna"
				/>
			</template>
		</modal-component>
	</div>
</template>

<script>
import { mapState, mapMutations, mapActions } from "vuex";

export default {
	data() {
		return {
			filter: null,
			cuentaInterna: null,

			selectedAreas: [],
			allSelectedAreas: false,
			indeterminate: false,
			areas: [
				"Ventas",
				"Dirección",
				"Mercadotecnia",
				"Servicios",
				"Talento Humano",
				"Finanzas",
				"Conservacion",
				"Compras",
				"Almacen",
				"Suministros",
				"Costo de Operacion",
				"Taller",
				"Campo",
				"Montaje",
				"Subdirección",
				"Gastos Financieros",
			],
		};
	},
	mounted() {
		this.getCuentasInternas();
		this.getUnidadesNegocio();
		this.getNombres();
	},
	methods: {
		...mapActions("cnf_cuentas_internas", [
			"getCuentasInternas",
			"getUnidadesNegocio",
			"getNombres",
		]),
		...mapMutations("cnf_cuentas_internas", ["removeCuentaInterna"]),

		toggleAll(checked) {
			this.selectedAreas = checked ? this.areas.slice() : [];
		},
		openModal() {
			this.cuentaInterna = null;
			this.$bvModal.show("modal-centro-costos");
		},
		closeModel() {
			this.$bvModal.hide("modal-filter");
		},
		setDataEdit(selectedCuenta) {
			this.cuentaInterna = selectedCuenta;
		},
		showMsgBoxDeleteConfirm(selectedCuenta) {
			this.$bvModal
				.msgBoxConfirm("¿Esta seguro que desea eliminar el registro?", {
					title: "Favor de confirmar",
					size: "sm",
					buttonSize: "sm",
					okVariant: "danger",
					cancelVariant: "light",
					okTitle: "Eliminar",
					cancelTitle: "Cancelar",
					headerClass: "pt-3 pb-2 border-bottom-0",
					footerClass: "p-2 border-top-0",
					centered: true,
				})
				.then((confirm) => {
					if (confirm) this.deleteCuentaInterna(selectedCuenta);
				});
		},
		async deleteCuentaInterna(cuenta) {
			try {
				const response = await axios.delete(
					BaseUrl +
						`/api/fn/cuentas-internas/cuenta/${cuenta.idCuenta}`
				);
				if (response.data.success) {
					this.removeCuentaInterna(cuenta.idCuenta);
					this.makeToast(
						"success",
						"Exito",
						"Se ha eliminado correctamente el registro"
					);
				}
			} catch (error) {
				this.makeToast(
					"danger",
					"Error",
					"Ha ocurrido un problema al eliminar el registro"
				);
			}
		},
		makeToast(variant = null, title, text) {
			this.$bvToast.toast(text, {
				title: title,
				variant: variant,
				solid: true,
			});
		},
	},
	computed: {
		...mapState("cnf_cuentas_internas", ["cuentasInternas", "fields"]),

		cuentasInternasByAreas() {
			return this.cuentasInternas.filter((cuentaInterna) =>
				this.selectedAreas.includes(cuentaInterna.area)
			);
		},
		isMovil() {
			return (
				navigator.userAgent.match(/Android/i) ||
				navigator.userAgent.match(/webOS/i) ||
				navigator.userAgent.match(/iPhone/i) ||
				navigator.userAgent.match(/iPod/i) ||
				navigator.userAgent.match(/iPad/i) ||
				navigator.userAgent.match(/BlackBerry/i)
			);
		},
		noIsMovil() {
			return !(
				navigator.userAgent.match(/Android/i) ||
				navigator.userAgent.match(/webOS/i) ||
				navigator.userAgent.match(/iPhone/i) ||
				navigator.userAgent.match(/iPod/i) ||
				navigator.userAgent.match(/iPad/i) ||
				navigator.userAgent.match(/BlackBerry/i)
			);
		},
	},
	watch: {
		selectedAreas(newVal, oldVal) {
			if (newVal.length === 0) {
				this.indeterminate = false;
				this.allSelectedAreas = false;
			} else if (newVal.length === this.areas.length) {
				this.indeterminate = false;
				this.allSelectedAreas = true;
			} else {
				this.indeterminate = true;
				this.allSelectedAreas = false;
			}
		},
	},
};
</script>

<style>
.shadows:hover {
	-webkit-box-shadow: 0px 1px 6px 2px rgba(0, 0, 0, 0.32) !important;
	-moz-box-shadow: 0px 1px 6px 2px rgba(0, 0, 0, 0.32) !important;
	box-shadow: 0px 1px 6px 2px rgba(0, 0, 0, 0.32) !important;
}
fieldset.scheduler-border {
	border: 1px solid #dee2e6 !important;
	padding: 0 1.4em 0.5em 1.4em !important;
	margin: 0 0 1.5em 0 !important;
	-webkit-box-shadow: 0px 0px 0px 0px #000;
	box-shadow: 0px 0px 0px 0px #000;
}
legend.scheduler-border {
	width: inherit; /* Or auto */
	padding: 0 10px; /* To give a bit of padding on the left and right */
	border-bottom: none;
}
.border-light-2 {
	border-color: #6c757d2e;
}
</style>
