<template>
	<b-overlay
		:show="overlay"
		rounded="sm"
		opacity="1.0"
		blur="1px"
		variant="transparent"
	>
		<b-row>
			<b-col>
				<b-form-group class="mb-0">
					<template v-slot:label>
						<div class="lab-form">
							Unidad de negocio<span class="req">*</span>
						</div>
					</template>
					<template v-if="!roun">
						<b-form-select
							v-model="$v.form.unidadNegocio.$model"
							:state="
								$v.form.unidadNegocio.$dirty
									? !$v.form.unidadNegocio.$error
									: null
							"
							:options="unidadesNegocio"
						>
							<template v-slot:first>
								<option :value="null">Seleccione</option>
							</template>
						</b-form-select>
						<b-link
							class="text-secondary float-right mb-0"
							style="cursor:pointer"
							@click="registrarOtraUN"
							><small
								>Registrar otra unidad de negocio</small
							></b-link
						>
					</template>
					<template v-else>
						<b-form-input
							ref="unidadNegocio"
							placeholder="Ingrese la unidad de negocio"
							v-model="$v.form.unidadNegocio.$model"
							:state="
								$v.form.unidadNegocio.$dirty
									? !$v.form.unidadNegocio.$error
									: null
							"
						>
						</b-form-input>
						<b-link
							variant="link"
							class="text-secondary float-right mb-0"
							style="cursor:pointer"
							@click="verListaUN"
							><small>Ver lista de unidades</small></b-link
						>
					</template>
					<b-form-invalid-feedback id="feedback-un">
						Campo obligatorio
					</b-form-invalid-feedback>
				</b-form-group>
			</b-col>
			<b-col>
				<b-form-group>
					<template v-slot:label>
						<div class="lab-form">
							Área<span class="req">*</span>
						</div>
					</template>
					<b-form-select
						v-model="$v.form.area.$model"
						:state="
							$v.form.area.$dirty ? !$v.form.area.$error : null
						"
						:options="areas"
					>
						<template v-slot:first>
							<option :value="null">Seleccione</option>
						</template>
					</b-form-select>
					<b-form-invalid-feedback id="feedback-area">
						Campo obligatorio
					</b-form-invalid-feedback>
				</b-form-group>
			</b-col>
		</b-row>
		<b-row>
			<b-col>
				<b-form-group>
					<template v-slot:label>
						<div class="lab-form">
							Tipo<span class="req">*</span>
						</div>
					</template>
					<b-form-select
						v-model="$v.form.tipo.$model"
						:state="
							$v.form.tipo.$dirty ? !$v.form.tipo.$error : null
						"
						:options="tipos"
						@change="form.nombre = null"
					>
						<template v-slot:first>
							<option :value="null">Seleccione</option>
						</template>
					</b-form-select>
					<b-form-invalid-feedback id="feedback-tipo">
						Campo obligatorio
					</b-form-invalid-feedback>
				</b-form-group>
			</b-col>
			<b-col>
				<b-form-group
					v-if="form.tipo != 'Colaborador'"
					label="Nombre"
					class="mb-0"
				>
					<template v-if="!ron">
						<b-form-select
							v-model="$v.form.nombre.$model"
							:state="
								$v.form.nombre.$dirty
									? !$v.form.nombre.$error
									: null
							"
							:options="nombres"
						>
							<template v-slot:first>
								<option :value="null">Seleccione</option>
							</template>
						</b-form-select>
						<b-link
							class="text-secondary float-right mb-0"
							style="cursor:pointer"
							@click="registrarOtroNombre"
							><small>Registrar otro nombre</small></b-link
						>
					</template>

					<template v-else>
						<b-form-input
							ref="nombre"
							placeholder="Ingrese el nombre"
							v-model="$v.form.nombre.$model"
							:state="
								$v.form.nombre.$dirty
									? !$v.form.nombre.$error
									: null
							"
						>
						</b-form-input>
						<b-link
							variant="link"
							class="text-secondary float-right mb-0"
							style="cursor:pointer"
							@click="verListaNombres"
							><small>Ver lista de nombres</small></b-link
						>
					</template>
					<b-form-invalid-feedback id="feedback-nombre">
						Campo obligatorio
					</b-form-invalid-feedback>
				</b-form-group>

				<empleados-select-component
					v-else
					@getEmpleado="$v.form.nombre.$model = $event"
					:state="
						$v.form.nombre.$dirty ? !$v.form.nombre.$error : null
					"
					:empleadoEdit="form.nombre"
				/>
			</b-col>
		</b-row>

		<b-form-group>
			<template v-slot:label>
				<div class="lab-form">
					Cuenta<span class="req">*</span>
				</div>
			</template>
			<b-form-input
				placeholder="Ingrese la cuenta"
				v-model="$v.form.cuenta.$model"
				:state="$v.form.cuenta.$dirty ? !$v.form.cuenta.$error : null"
			>
			</b-form-input>
			<b-form-invalid-feedback id="feedback-cc">
				Campo obligatorio
			</b-form-invalid-feedback>
		</b-form-group>

		<div class="d-flex flex-row-reverse bd-highlight">
			<b-button variant="danger" class="ml-3 my-2" @click="submit">
				AGREGAR
			</b-button>
			<b-button variant="white" class="link-light my-2" @click="cancel">
				CANCELAR
			</b-button>
		</div>
	</b-overlay>
</template>

<script>
import { mapMutations, mapState, mapActions } from "vuex";
import { required } from "vuelidate/lib/validators";

export default {
	props: {
		cuentaInterna: Object,
	},
	data() {
		return {
			overlay: false,
			form: {
				unidadNegocio: null,
				area: null,
				tipo: null,
				nombre: null,
				cuenta: null,
			},
			ron: false,
			roun: false,
			tipos: ["Activo", "Colaborador", "Proceso"],
			unidades_negocio: [
				"Campo",
				"Taller",
				"Montajes",
				"Asesorias",
				"Servicios Administrativos",
			],
			areas: [
				"Ventas",
				"Dirección",
				"Mercadotecnia",
				"Servicios",
				"Talento Humano",
				"Finanzas",
				"Conservacion",
				"Compras",
				"Almacen",
				"Suministros",
				"Costo de Operacion",
				"Taller",
				"Campo",
				"Montaje",
				"Subdirección",
				"Gastos Financieros",
			],
		};
	},
	mounted() {
		if (this.cuentaInterna) this.setDataEdit();
	},
	methods: {
		...mapMutations(["modalSubmit", "modalOk"]),
		...mapMutations("cnf_cuentas_internas", [
			"addCuentaInterna",
			"updateCuentaInterna",
		]),
		async submit() {
			this.overlay = true;
			this.$v.$touch();
			if (!this.$v.$invalid) {
				try {
					const response = !this.cuentaInterna
						? await axios.post(
								`/api/fn/cuentas-internas/cuenta`,
								this.form
						  )
						: await axios.put(
								`/api/fn/cuentas-internas/cuenta`,
								this.form
						  );

					if (response.data.saved) {
						if (!this.cuentaInterna)
							this.addCuentaInterna(response.data.cuenta);
						else this.updateCuentaInterna(response.data.cuenta);
						this.modalSubmit(true);
					} else this.modalOk(false);
				} catch (e) {
					this.overlay = false;
				}
			} else {
				this.overlay = false;
			}
		},
		setDataEdit() {
			this.form.idCuenta = this.cuentaInterna.idCuenta;
			this.form.area = this.cuentaInterna.area;
			this.form.tipo = this.cuentaInterna.tipo;
			this.form.nombre = this.cuentaInterna.nombre;
			this.form.cuenta = this.cuentaInterna.cuenta;
			this.form.unidadNegocio = this.cuentaInterna.unidadNegocio;
		},
		cancel() {
			this.$bvModal.hide("modal-centro-costos");
		},
		registrarOtroNombre() {
			this.ron = true;
			this.form.nombre = null;
			setTimeout(this.focusNombre, 100);
		},
		focusNombre() {
			this.$refs.nombre.focus();
		},
		verListaNombres() {
			this.ron = false;
			if (this.form.nombre == "") this.form.nombre = null;
		},
		cambiarTipo() {
			this.form.nombre = null;
		},
		registrarOtraUN() {
			this.roun = true;
			this.form.unidadNegocio = null;
			setTimeout(this.focusUN, 100);
		},
		focusUN() {
			this.$refs.unidadNegocio.focus();
		},
		verListaUN() {
			this.roun = false;
			if (this.form.unidadNegocio == "") this.form.unidadNegocio = null;
		},
	},
	computed: {
		...mapState(["usuario", "okModal"]),
		...mapState("cnf_cuentas_internas", ["nombres", "unidadesNegocio"]),
	},
	validations: {
		form: {
			unidadNegocio: { required },
			area: { required },
			tipo: { required },
			nombre: { required },
			cuenta: { required },
		},
	},
	watch: {
		okModal() {
			if (this.okModal == true) {
				this.submit();
			}
		},
	},
};
</script>
