<template>
	<div class="wrapper">
		<sidebar-component :title="'INDICADORES'">
			<template slot="content">
				<fn-cg-ind-sidebar-content-component />
			</template>
		</sidebar-component>
		<b-container>
			<b-row class="py-4">
				<b-col lg="12">
					<h1 class="text-center mb-0">
						Días transcurridos
					</h1>
				</b-col>
			</b-row>

			<fn-cg-ind-filters-component />

			<b-card no-body class="mt-3 mb-4">
				<b-card-body class="scroll-body-dt">
					<b-container
						class="px-0"
						v-if="solicitudesByEmpleados.length"
					>
						<b-form-checkbox
							switch
							size="sm"
							class="my-2"
							v-model="verGraficas"
							>Ver gráfica</b-form-checkbox
						>
						<b-table-simple
							striped
							small
							caption-top
							responsive
							bordered
							style="font-size: 12px"
							class="shadow-sm"
							id="table-dias-transcurridos"
						>
							<b-thead class="bg-white text-center">
								<b-tr>
									<b-th
										style="min-width: 350px;"
										class="text-nowrap"
										>EMPLEADO</b-th
									>
									<b-th
										style="min-width: 200px;"
										class="text-nowrap"
										>NO. DE SOLICITUDES</b-th
									>
									<b-th
										style="min-width: 250px;"
										class="text-nowrap"
										>PROMEDIO DE DÍAS EN COMPROBAR</b-th
									>
								</b-tr>
							</b-thead>
							<b-tbody>
								<tr
									v-for="(solicitud,
									index) in solicitudesByEmpleados"
									:key="index"
								>
									<td class="pl-3">
										{{ solicitud[0] }}
									</td>
									<td class="text-center text-nowrap">
										<div
											style="cursor:pointer"
											class="div-no-solicitud w-100"
										>
											<h6 class="text-danger">
												{{ solicitud[1] }}
												<b-link
													@click="
														setListaSolicitudes(
															solicitud[0]
														)
													"
													class="text-dark ml-2 icon-list"
													><i
														class="fas fa-external-link-alt"
													></i
												></b-link>
											</h6>
										</div>
									</td>
									<td>
										<div
											class="d-flex w-100 justify-content-between"
										>
											<strong>
												<vue-numeric
													separator=","
													:precision="1"
													:read-only="true"
													:value="solicitud[2]"
												/>
											</strong>
											días
										</div>
									</td>
								</tr>
							</b-tbody>
						</b-table-simple>
					</b-container>

					<b-container v-else style="font-size: 12px;">
						<div style="height: calc(80vh - 200px)">
							<icon-text-component
								:circleStyle="{
									backgroundColor: '#f4f4f6',
									color: '#45555f',
								}"
								:icon="'fas fa-hourglass-half fa-sm'"
								:text="text"
							/>
						</div>
					</b-container>

					<b-container
						v-if="solicitudesByEmpleados.length && verGraficas"
						class="mt-3"
					>
						<GChart
							style="height: 400px;"
							type="ColumnChart"
							:data="chartData"
							:options="chartOptions"
						/>
					</b-container>
				</b-card-body>
			</b-card>
		</b-container>

		<modal-component
			:id="'modal-lista-solicitudes'"
			:title="'Lista de solicitudes'"
			:hideFooter="true"
			:hideHeader="false"
			:centered="false"
		>
			<template slot="content">
				<label class="mb-2" style="font-size: 16px;">
					<b>Empleado:</b>
					{{ empleadoSelected }}
				</label>

				<fn-cg-lista-solicitudes-component
					v-for="(solicitud, index) in listaSolicitudes"
					:key="index"
					:solicitud="solicitud"
				/>

				<div>
					<b-button
						variant="danger"
						class="ml-3 mt-4 float-right"
						@click="close"
					>
						ACEPTAR
					</b-button>
				</div>
			</template>
		</modal-component>
	</div>
</template>

<script>
import { mapState, mapMutations, mapActions } from "vuex";

export default {
	data() {
		return {
			empleadoSelected: null,
			listaSolicitudes: [],
			verGraficas: true,
			totalPromedio: 0,
			solicitudes: [],
			empleados: [],

			chartOptions: {
				bar: { groupWidth: "40%" },
				legend: "top",
				colors: ["#c00000"],
				animation: {
					duration: 900,
					easing: "linear",
					startup: true,
				},
				chartArea: {
					left: 80,
					right: 80,
				},
			},
		};
	},
	mounted() {
		this.setRouteName("fn.cg.indicadores.dias_transcurridos");
		if (this.dataFilter.inicio && this.dataFilter.fin)
			this.getSolicitudes();
	},
	methods: {
		...mapMutations(["setRouteName"]),

		ordenarDescendente(array, index) {
			return array
				.sort(function(a, b) {
					return a[index] - b[index];
				})
				.reverse();
		},
		getSolicitudes() {
			axios
				.get(
					BaseUrl +
						`/api/fn/cg/solicitudes/rango?inicio=${this.dataFilter.inicio}&fin=${this.dataFilter.fin}`
				)
				.then((response) => {
					this.empleados = response.data.empleados;
					this.solicitudes = response.data.solicitudes;
				});
		},
		obtenerDiferencia(fechaInicio, fechaFin) {
			if (fechaInicio && fechaFin) {
				fechaInicio = moment(fechaInicio).format("YYYY-MM-DD");
				fechaFin = moment(fechaFin).format("YYYY-MM-DD");
				let diff = moment(fechaFin).diff(moment(fechaInicio), "days");
				return diff;
			} else return 0;
		},
		setListaSolicitudes(empleado) {
			this.empleadoSelected = empleado;
			this.listaSolicitudes = this.solicitudes.filter(
				(solicitud) => solicitud.nombre_usuario == empleado
			);
			this.$bvModal.show("modal-lista-solicitudes");
		},
		close() {
			this.$bvModal.hide("modal-lista-solicitudes");
		},
	},
	computed: {
		...mapState("fn_cg_comprobaciones", ["dataFilter"]),

		solicitudesByEmpleados() {
			var arrData = [];
			if (this.empleados) {
				this.empleados.forEach((empleado) => {
					var diffDias = 0;
					var solicitudesByEmpleado = this.solicitudes.filter(
						(item) => item.nombre_usuario == empleado
					);
					solicitudesByEmpleado.forEach((solicitud) => {
						if (solicitud.fechaFinGastoReal) {
							diffDias += this.obtenerDiferencia(
								solicitud.fechaFinGastoReal,
								solicitud.fechaComprobacion
							);
						}else {
							diffDias += this.obtenerDiferencia(
								solicitud.fechaFinGastoEstimada,
								solicitud.fechaComprobacion
							);
						}
					}, this);
					arrData.push([
						empleado,
						solicitudesByEmpleado.length,
						diffDias / solicitudesByEmpleado.length,
					]);
				}, this);
				return this.ordenarDescendente(arrData, 2);
			} else return [];
		},
		chartData() {
			var arrData = [["Empleado", "Días en comprobar"]];
			if (this.solicitudesByEmpleados) {
				this.solicitudesByEmpleados.forEach((solicitud) => {
					arrData.push([solicitud[0], solicitud[2]]);
				}, this);
			}
			return arrData;
		},
		text() {
			if (this.dataFilter.inicio && this.dataFilter.fin) {
				return "No se encontraron resultados";
			} else {
				return "Seleccione un rango de fechas";
			}
		},
	},
	watch: {
		dataFilter: {
			handler(val, oldVal) {
				this.getSolicitudes();
			},
			deep: true,
		},
	},
};
</script>

<style>
.scroll-body-dt {
	max-height: calc(100vh - 210px);
	overflow-y: auto;
}
#table-dias-transcurridos th,
#table-dias-transcurridos td {
	padding: 0.72rem;
	vertical-align: top;
	border-top: 1px solid #dee2e6;
}
.icon-list {
	display: none;
}
.div-no-solicitud:hover .icon-list {
	display: inline-block;
}
</style>
