<template>
	<div>
		<b-card no-body class="shadow-sm mt-3">
			<b-row>
				<b-col>
					<h6 class="ml-3 m-3 text-dark">Solicitud #{{ solicitud.idSolicitud }}</h6>
				</b-col>
				<b-col class="text-right" style="font-size: 12px;">
					<p class="m-3">{{ fechaComprobacion }}</p>
				</b-col>
			</b-row>

			<b-container class="px-2 py-2" :style="styleContainer" style="font-size: 12px;">
				<b-row>
					<b-col lg="8">
						<b-icon icon="calendar3" :style="styleIcon" font-scale="1.3" class="ml-2 mr-2 mt-2"></b-icon>
						Días transcurridos en comprobar
					</b-col lg="4">
					<b-col class="text-right">
						<h6 class="pt-2">
							<vue-numeric
								separator=","
								:precision="1"
								:read-only="true"
								:value="diasTranscurridos"
							/>
						 días
						</h6>
					</b-col>
				</b-row>
			</b-container>

			<b-container class="my-2" style="font-size: 12px;">
				<b-row class="m-2">
					<b-col lg="4" class="text-right">Importe</b-col>
					<b-col lg="8" class="text-left">
						<strong>$
							<vue-numeric
								separator=","
								:precision="2"
								:read-only="true"
								:value="solicitud.importe_total"
							/>
						</strong>
					</b-col>
				</b-row>
				<hr class="my-1">
				<b-row class="m-2">
					<b-col lg="4" class="text-right">Estatus</b-col>
					<b-col lg="8" class="text-left">
						<strong>{{ solicitud.etapa }}</strong>
					</b-col>
				</b-row>
				<hr class="my-1">
				<b-row class="m-2">
					<b-col lg="4" class="text-right">Fecha real de gasto</b-col>
					<b-col lg="8" class="text-left">
						<strong>{{ fechaReal }}</strong>
					</b-col>
				</b-row>
				<hr class="my-1">
				<b-row class="m-2">
					<b-col lg="4" class="text-right">Fecha fin estimada</b-col>
					<b-col lg="8" class="text-left">
						<strong>{{ fechaEstimada }}</strong>
					</b-col>
				</b-row>
				<hr class="my-1">
			</b-container>
		</b-card>
	</div>
</template>

<script>
export default {
	props: {
		solicitud: Object,
	},
	data() {
		return {};
	},
	methods: {},
	computed: {
		fechaComprobacion() {
			if (this.solicitud.fechaComprobacion) {
				return moment(this.solicitud.fechaComprobacion).format('ll');
			}else return "Sin fecha de comprobación";
		},
		fechaReal() {
			if (this.solicitud.fechaFinGastoReal) {
				return moment(this.solicitud.fechaFinGastoReal).format('ll');
			}else return "Sin fecha real de gasto"; 
		},
		fechaEstimada() {
			if (this.solicitud.fechaFinGastoEstimada) {
				console.log(moment(this.solicitud.fechaFinGastoEstimada).format('ll'));
				return moment(this.solicitud.fechaFinGastoEstimada).format('ll');
			}else return "Sin fecha fin estimada"; 
		},
		diasTranscurridos() {
			if (this.solicitud.fechaFinGastoReal && this.solicitud.fechaComprobacion) {
				let fechaReal = moment(this.solicitud.fechaFinGastoReal).format("YYYY-MM-DD");
				let fechaComprobacion = moment(this.solicitud.fechaComprobacion).format("YYYY-MM-DD");
				let diff = moment(fechaComprobacion).diff(moment(fechaReal), "days");
				return diff;
			} else {
				if (this.solicitud.fechaFinGastoEstimada && this.solicitud.fechaComprobacion) {
					let fechaEstimada = moment(this.solicitud.fechaFinGastoEstimada).format("YYYY-MM-DD");
					let fechaComprobacion = moment(this.solicitud.fechaComprobacion).format("YYYY-MM-DD");
					let diff = moment(fechaComprobacion).diff(moment(fechaEstimada), "days");
					return diff;
				}else return 0;
			}  
		},
		styleContainer() {
			if (this.diasTranscurridos == 0) {
				return "background-color: #F8F9F9;";
			}else if (this.diasTranscurridos < 10) {
				return "background-color: #EAFAF1;";
			}else { 
				return "background-color: #F9EBEA;";
			}
		},
		styleIcon() {
			if (this.diasTranscurridos == 0) {
				return "color: #17202A;";
			}else if (this.diasTranscurridos < 10) {
				return "color: #229954;";
			}else { 
				return "color: #A93226;";
			}
		},
	},
};
</script>