<template>
	<b-row class="mt-3">
		<b-col lg="12">
			<div v-if="evaluaciones.length > 0">
				<div v-if="evaluaciones_preguntas.length > 0">
					<b-card no-body class="shadow-sm">
						<b-table-simple
							bordered
							:small="true"
							:hover="true"
							responsive
							show-empty
							class="mb-0"
						>
							<b-thead class="text-center">
								<b-tr style="font-size: 12px">
									<b-th class="pb-3" colspan="2"></b-th>
									<b-th
										style="font-size: 9px; overflow: auto; min-width: 100px;"
										width="9%"
										v-for="(pregunta, index) in preguntas"
										:key="pregunta.idPregunta"
									>
										{{ index + 1 }}
									</b-th>
									<b-th class="pb-3" colspan="2"></b-th>
								</b-tr>
							</b-thead>
							<b-thead class="text-center bg-light">
								<b-tr style="font-size: 12px">
									<b-th
										class="align-middle"
										style="min-width: 80px;"
									>
										CLIENTE
									</b-th>
									<b-th
										class="align-middle"
										style="min-width: 230px;"
									>
										CONTACTO
									</b-th>
									<b-th
										style="font-size: 9px; min-width: 100px;"
										width="9%"
										class="align-middle"
										v-for="pregunta in preguntas"
										:key="pregunta.idPregunta"
									>
										{{ pregunta.pregunta }}
									</b-th>
									<b-th class="align-middle">
										PROMEDIO
									</b-th>
									<b-th
										class="align-middle"
										style="min-width: 200px;"
									>
										OBSERVACIONES
									</b-th>
								</b-tr>
							</b-thead>
							<b-tbody
								class="text-center"
								style="font-size: 12px"
							>
								<vt-ind-es-tr-evaluacion
									v-for="evaluacion in evaluaciones"
									:key="evaluacion.idEvaluacion"
									:evaluacion="evaluacion"
								/>

								<vt-ind-es-tr-programado />

								<b-tr>
									<b-td class="text-left" colspan="2">
										<small><strong>Planeado</strong></small>
									</b-td>
									<b-td
										class="bg-light-real"
										v-for="index in 8"
										:key="index"
									>
										4.25
									</b-td>
								</b-tr>
							</b-tbody>
						</b-table-simple>
					</b-card>
				</div>
				<div class="text-center mt-3" v-else-if="loading">
					<h5 class="text-secondary">
						<b-spinner
							type="grow"
							style="width: 1.5rem; height: 1.5rem;"
						></b-spinner
						><label class="ml-1">Cargando...</label>
					</h5>
				</div>
			</div>
			<div class="text-center" v-else-if="!evaluacionesLength">
				<b-card>
					<div style="height: calc(100vh - 214px)">
						<icon-text-component
							:icon="'fas fa-comment-alt'"
							:text="'SIN REGISTROS DE EVALUACIÓN'"
							:circleStyle="{
								backgroundColor: '#f5f5f6',
								color: '#a8aeb3',
							}"
						/>
					</div>
				</b-card>
			</div>
		</b-col>
		<b-col class="mt-4">
			<b-container v-if="this.evaluaciones.length > 0">
				<center>
					<b-card v-if="evaluaciones_preguntas.length > 0">
						<h5 class="display-1 pb-0 mb-0" style="font-size: 28px">
							Gráfica
						</h5>

						<GChart
							style="height: 300px; width: 70%; font-size: 5px"
							type="ComboChart"
							:data="dataGraph"
							:options="chartOptions"
						/>
					</b-card>
				</center>
			</b-container>
		</b-col>
	</b-row>
</template>

<script>
import { mapState, mapMutations, mapActions } from "vuex";
import { GChart } from "vue-google-charts";

export default {
	mounted() {
		if (this.evaluaciones_preguntas.length) this.loadingStop();
	},
	methods: {
		loadingStop() {
			this.loading = false;
		},
	},
	data() {
		return {
			active: true,
			totalClientes: null,
			loading: true,
			evaluacionesLength: true,

			chartOptions: {
				legend: "none",
				vAxis: { title: "Promedio" },
				hAxis: { title: "Preguntas de evaluación" },
				seriesType: "bars",
				series: { 1: { type: "line" } },
			},
		};
	},
	computed: {
		...mapState("indicadores", [
			"evaluaciones",
			"preguntas",
			"dataGraph",
			"evaluaciones_preguntas",
		]),
	},
	watch: {
		evaluaciones() {
			this.evaluacionesLength = this.evaluaciones.length ? true : false;
		},
	},
};
</script>

<style>
.fixed {
	position: sticky;
	left: -1px;
	background-color: white;
}
.bg-success-light {
	background-color: #c3e6cb;
}
.bg-light-real {
	background-color: #f3f3f3;
}
.bg-dark-real {
	background-color: #6b6a6a;
	color: white;
}
</style>
