<template>
	<div class="wrapper">
		<sidebar-component :title="'INDICADORES'">
			<template slot="content">
				<vt-ind-sidebar />
			</template>
		</sidebar-component>

		<b-container fluid style="width: calc(100vw - 300px)">
			<b-row class="pt-4">
				<b-col lg="12">
					<h1 class="text-center mb-0">Evaluación de Servicio</h1>
				</b-col>
			</b-row>
			<b-row>
				<b-col lg="6">
					<b-form inline>
						<vt-ind-filter-embudos />
						<b-form-group class="ml-3">
							<b-input-group prepend="Periodos" size="sm">
								<b-form-select
									:value="cuatrimestre"
									:options="options"
									size="sm"
									@change="chageTotalFields"
									class="w-25"
								>
								</b-form-select>
							</b-input-group>
						</b-form-group>
					</b-form>
				</b-col>
				<b-col lg="6">
					<b-button
						v-if="
							hasPermission(
								'vt.crm.indicadores.es.agregar.cliente'
							)
						"
						variant="danger"
						size="sm"
						class="float-right"
						v-b-modal.modal-clientes-facturados
					>
						Agregar cliente
					</b-button>
				</b-col>
			</b-row>

			<vt-ind-es-content />

			<modal-component
				:id="'modal-clientes-facturados'"
				:title="'Agregar cliente'"
				:hideFooter="true"
				:hideHeader="true"
				:centered="true"
			>
				<template slot="content">
					<vt-ind-es-form-cliente />
				</template>
			</modal-component>
		</b-container>
	</div>
</template>
<script>
import { mapState, mapMutations, mapActions } from "vuex";

export default {
	data() {
		return {
			options: [
				{ value: "1", text: "Cuatrimestre 1" },
				{ value: "2", text: "Cuatrimestre 2" },
				{ value: "3", text: "Cuatrimestre 3" },
			],
		};
	},
	mounted() {
		this.setRouteName("vt.indicadores.es");
		this.getClientesFacturados(this.embudoSelected.idEmbudo);
		this.getEvaluaciones(this.embudoSelected.idEmbudo);
		this.getPreguntas();
		this.getEvaluacionesPreguntas();
	},
	methods: {
		...mapMutations(["setRouteName"]),
		...mapMutations("indicadores", ["setPeriodoSelected"]),

		...mapActions("indicadores", [
			"getClientesFacturados",
			"getEvaluaciones",
			"getPreguntas",
			"getEvaluacionesPreguntas",
		]),

		chageTotalFields(event) {
			this.setPeriodoSelected(event);
			this.getEvaluaciones(this.embudoSelected.idEmbudo);
			this.totalFields = this.totalFields == 3 ? 4 : 3;
		},
		hasPermission(funcion) {
			if (this.permissions.length) {
				const permiso = this.permissions.find(
					(permiso) => permiso.idFuncion == funcion
				);
				if (permiso) return true;
				return false;
			}
		},
	},
	computed: {
		...mapState(["permissions"]),
		...mapState("negocios", ["embudoSelected"]),
		...mapState("indicadores", ["cuatrimestre"]),
	},
};
</script>
