<template>
	<form ref="form" @submit.stop.prevent="submit">
		<b-form-group label="Cliente">
			<b-form-select
				type="text"
				id="input-cliente"
				v-model="$v.form.cliente.$model"
				:state="$v.form.cliente.$dirty ? !$v.form.cliente.$error : null"
				:options="selectClientes"
				@change="setClienteContactos($event)"
			>
				<template v-slot:first>
					<option :value="null">Seleccione el cliente</option>
				</template>
			</b-form-select>
		</b-form-group>

		<b-form-group v-if="$v.form.cliente.$model" label="Contacto">
			<b-form-select
				type="text"
				id="input-contacto"
				v-model="$v.form.contacto.$model"
				:state="
					$v.form.contacto.$dirty ? !$v.form.contacto.$error : null
				"
				:options="selectContactos"
			>
				<template v-slot:first>
					<option :value="null">
						Seleccione la persona de contacto
					</option>
				</template>
			</b-form-select>
		</b-form-group>
		<div class="d-flex flex-row-reverse bd-highlight">
			<b-button
				variant="danger"
				class="ml-3 my-2"
				@click="submit"
				:disabled="!form.cliente || !form.contacto"
			>
				AGREGAR
			</b-button>
			<b-button variant="white" class="link-light my-2" @click="cancel">
				CANCELAR
			</b-button>
		</div>
	</form>
</template>

<script>
import { required, minLength } from "vuelidate/lib/validators";
import { mapState, mapMutations, mapActions } from "vuex";

export default {
	data() {
		return {
			selectContactos: [],
			form: {
				cliente: null,
				contacto: null,
			},
		};
	},
	methods: {
		...mapMutations(["modalSubmit", "modalOk"]),
		...mapMutations("indicadores", [
			"addEvaluacion",
			"addEvaluacionPregunta",
		]),

		evaluacion(evaluacion) {
			axios
				.get(
					BaseUrl +
						`/api/vt/indicadores/evaluaciones/byId/${evaluacion.idEvaluacion}`
				)
				.then((response) => {
					this.addEvaluacion(response.data.evaluacion);
				});
		},
		submit() {
			this.$v.$touch();
			if (!this.$v.$invalid) {
				const params = {
					id_cliente: this.form.cliente.id,
					id_contacto: this.form.contacto,
					cuatrimestre: this.cuatrimestre,
					id_embudo: this.embudoSelected.idEmbudo,
				};
				axios
					.post(BaseUrl + `/api/vt/indicadores/evaluacion`, params)
					.then((response) => {
						if (response.data.success) {
							this.modalSubmit(true);
							this.evaluacion(response.data.evaluacion);
							response.data.evaluacionesPreguntas.forEach(
								this.addEvaluacionPregunta
							);
						}
					});
			} else {
				this.modalOk(false);
			}
		},
		setClienteContactos(cliente) {
			this.getContactosById(cliente.idCliente);
		},
		getContactosById(idCliente) {
			axios
				.get(BaseUrl + `/api/vt/clientes/${idCliente}/contactos/select`)
				.then((response) => {
					this.selectContactos = response.data;
				});
		},
		cancel() {
			this.$bvModal.hide("modal-clientes-facturados");
		},
	},
	computed: {
		...mapState(["okModal"]),
		...mapState("indicadores", ["selectClientes", "cuatrimestre"]),
		...mapState("negocios", ["embudoSelected"]),
	},
	validations: {
		form: {
			cliente: { required },
			contacto: { required },
		},
	},
	watch: {
		okModal() {
			if (this.okModal == true) {
				this.submit();
			}
		},
	},
};
</script>