<template>
	<b-td :class="color">
		{{ promedio_pregunta.toFixed(2) }}
	</b-td>
</template>

<script>
	import { mapState } from 'vuex'

	export default {
		props:{
			pregunta: Object
		},
		data() {
			return {
			}
		},
		computed: {
			...mapState('indicadores', [ 'evaluaciones', 'evaluaciones_preguntas']),

			promedio_pregunta()
			{
				var promedio = 0

				if (this.evaluaciones.length) {
					for (var i = 0; i < this.evaluaciones.length; i++) {
						const valor_pregunta = this.evaluaciones_preguntas.find( 
							evaluacion_pregunta => evaluacion_pregunta.idEvaluacion == this.evaluaciones[i].idEvaluacion && this.pregunta.idPregunta == evaluacion_pregunta.idPregunta)

						promedio = (valor_pregunta != null) ? promedio += valor_pregunta.valor : 0
					}
					return promedio /= this.evaluaciones.length
				}else{
					return 0
				}
			},
			color()
			{
				if (this.promedio_pregunta >= 0 && this.promedio_pregunta < 3.24)
					return 'bg-red-light'
				else if (this.promedio_pregunta >= 3.25 && this.promedio_pregunta < 4.24)
					return 'bg-yellow-light'
				else if (this.promedio_pregunta >= 4.25)
					return 'bg-green-light'
			}
		}
	}
</script>

<style>
	.bg-green-light{
		background-color: #dbffea;
	}
	.bg-red-light{
		background-color: #ffe4e1;
	}
	.bg-yellow-light{
		background-color: #fbfade;
	}
</style>