<template>
	<b-td>
		<div class="text-nowrap">
		    <b-form-input type="number" size="sm" min="0" max="5" class="text-center"
		    :value="pregunta.valor"
		    @change="setDataEdit(pregunta.id, $event)">
	    	</b-form-input>
		</div>
	</b-td>
</template>

<script>
	import { mapMutations } from 'vuex'

	export default {
		props:{
			evaluacion: Object,
			pregunta: Object
		},
		data() {
			return {
		
			}
		},
		methods: 
		{
			...mapMutations('indicadores', ['updateEvaluacionPregunta']),

			setDataEdit(id, value) 
	  		{
	  			this.params = { id : id, valor : parseInt(value) }
	  			this.update()
	  		},
	  		makeToast(variant = null) 
	  		{
				this.$bvToast.toast('Se ha actualizado correctamente el valor', {
					title: `Éxito`,
					variant: variant,
					solid: true
				})
			},
	  		update()
	  		{
      			axios.put(BaseUrl + '/api/vt/indicadores/evaluacion/pregunta', this.params)
      			.then((response) =>{
      				 if(response.data.success){
      				 	this.updateEvaluacionPregunta(response.data.evaluacionPregunta)
      					this.makeToast('success');
      				}
      			})
      		}
		}
	}
</script>