<template>
	<b-tr>
		<b-td>
			<small><strong>{{ evaluacion.clave_cliente }}</strong></small>
		</b-td>

		<b-td>
			<small>{{ evaluacion.nombre_contacto }}</small>
		</b-td>

		<vt-ind-es-td-valor 
			v-for="pregunta in evaluaciones_preguntas" 
			:key="pregunta.idPregunta" 
			v-if="pregunta.idEvaluacion == evaluacion.idEvaluacion"
			:pregunta="pregunta" 
			:evaluacion="evaluacion"/>

		<b-td>
			{{ promedio_cliente.toFixed(1) }}
		</b-td>
			
		<td width="20%">
			<b-form-input type="text" size="sm" class="text-center"
			:value="evaluacion.observaciones"
			@change="setDataEdit(evaluacion.idEvaluacion, $event)" >
	    	</b-form-input>		
	    </td>
	</b-tr>
</template>

<script>
	import { mapState, mapMutations, mapActions } from 'vuex'

	export default {
		props:{
			evaluacion: Object
		},
		data() {
			return {
				
			}
		},
		methods: 
		{
			...mapMutations('indicadores', [
				'updateEvaluacion', 
				'setEvaluacionPreguntaBoolean'
			]),

			setDataEdit(id, value) 
	  		{
	  			this.params = { idEvaluacion : id, observaciones : value }
	  			this.update()
	  		},
	  		makeToast(variant = null) 
	  		{
				this.$bvToast.toast('Se ha actualizado correctamente la evaluación', {
					title: `Éxito`,
					variant: variant,
					solid: true
				})
			},
	  		update()
	  		{
      			axios.put(BaseUrl + '/api/vt/indicadores/evaluacion', this.params)
      			.then((response) =>{
      				 if(response.data.success){
      				 	this.updateEvaluacion(response.data.evaluacion)
      					this.makeToast('success');
      				}
      			})
      		}
		},
		computed: {
			...mapState('indicadores', ['evaluaciones_preguntas']),

			evaluacionesPreguntas()
			{
				return this.evaluaciones_preguntas.filter( evaluacion => this.evaluacion.idEvaluacion == evaluacion.idEvaluacion)
			},
			promedio_cliente()
      		{
      			if (this.evaluaciones_preguntas != null) {
      				var promedio = 0      				
	      			for (var i = 0; i < this.evaluacionesPreguntas.length; i++) {
	      				promedio += this.evaluacionesPreguntas[i].valor
	      			}
      				return promedio /= this.evaluacionesPreguntas.length
      			}
      		}	
		}
	}
</script>

<style>
	.fixed
	{
	  position:sticky;
	  left: -1px;
	  background-color: white
	}
</style>