<template>
	<b-tr>
		<b-td class="text-left" colspan="2">
			<small>
				<strong>Real</strong>
			</small>
		</b-td>

		<vt-ind-es-td-programado 
			v-for="pregunta in preguntas" 
			:key="pregunta.idPregunta"
			:pregunta="pregunta" />
		
		<b-td>
			<strong> {{ promedio_general.toFixed(1) }} </strong>
		</b-td>
	</b-tr>
</template>

<script>
	import { mapState, mapMutations } from 'vuex'

	export default {
		data() {
			return {
			}
		},
		methods: {
			...mapMutations('indicadores', ['setDataGraph']),

			setColorPromedio(promedio)
			{
				if (promedio >= 0 && promedio < 3.24)
					return 'color: #E74C3C  '
				else if (promedio >= 3.25 && promedio < 4.24)
					return 'color: #F1C40F '
				else if (promedio >= 4.25)
					return 'color: #2ECC71 '
			}
		},
		computed: {
			...mapState('indicadores', [
				'preguntas', 
				'evaluaciones', 
				'evaluaciones_preguntas'
			]),
	
			promedio_general()
			{
				var promedio_cliente = 0
				var graph = [['Pregunta', 'Promedio real', { role: 'style' }, 'Meta', { role: 'style' } ]]

				for (var x = 0; x < this.preguntas.length; x++) {
					var promedio = 0

					for (var i = 0; i < this.evaluaciones.length; i++) {
						const evaluacion_cliente = this.evaluaciones_preguntas.find( 
							evaluacion_pregunta => evaluacion_pregunta.idEvaluacion == this.evaluaciones[i].idEvaluacion && this.preguntas[x].idPregunta == evaluacion_pregunta.idPregunta)

						promedio = (evaluacion_cliente != null) ? promedio += evaluacion_cliente.valor : 0
					}
					promedio /= this.evaluaciones.length


					var color = this.setColorPromedio(promedio.toFixed(2))

					var rowArray = [this.preguntas[x].clave, parseFloat(promedio.toFixed(2)), color, 4.24, 'green']

					graph.push(rowArray)

					promedio_cliente += promedio
				}

				this.setDataGraph(graph)

				return promedio_cliente /= this.preguntas.length
			}
		}
	}
</script>