<template>
	<div class="bg-dark p-4 h-100 border-top border-dark">
    	<h3 class="text-white mt-2 pl-2 pb-4 border-bottom border-dark">Configuración</h3>
	    	<b-list-group class="mt-3" flush>
	 			<b-list-group-item @click="toSection('/tickets/configuracion/servicios')" class="li-area"
						:class="{[active]: routeName == 'tk.configuracion.services'}">
						Servicios
				</b-list-group-item>
				<!-- <b-list-group-item @click="toSection('/tickets/configuracion/usuarios')" class="li-area"
						:class="{[active]: routeName == 'tk.configuracion.users'}">
						Usuarios
				</b-list-group-item> -->
		</b-list-group>
  	</div>
</template>

<script>
    import { mapState, mapActions, mapMutations } from 'vuex'
    export default {
    	data(){
    		return {
    			active: 'bg-white text-dark',
    			section: '',
    			url: BaseUrl
    		}
    	},
    	mounted() {
    		this.seccion = this.$route.params.seccion;
    	},
    	methods: 
		{
			toSection(section){
				if(this.section && section == this.section){

				}else{
					this.section = section
					var url = section 
					this.$router.push(BaseUrl + url)
				}
			},
		},	
        computed: {
		    ...mapState(["routeName"]),

        },
        watch:{
        	
        }
    }
</script>

<style>
	.bg-white{
		background-color: #fff !important;
	}
	.text-dark{
		color: rgb(69, 85, 95);
	}
	.li-area{
		color: #fff;
		background-color: rgb(69, 85, 95);
		cursor:pointer !important;
	}
</style>
