<template>
	<div class="wrapper">
		<sidebar-component :title="'INDICADORES'">
			<template slot="content">
				<tk-ind-sidebar />
			</template>
		</sidebar-component>
		<b-container fluid style="width: calc(100vw - 300px);">
			<h1 class="display-4" style="font-size: 35px;">
				<i class="far fa-chart-bar"></i>&nbsp;&nbsp; Sistema de tickets
				-
				<span style="font-size: 35px;" class="text-dark">
					Indicadores</span
				>
			</h1>

			<div class=" mb-4 mt-3">
				<v-date-picker
					:columns="$screens({ default: 1, lg: 2 })"
					locale="es"
					v-model="rangeDate"
					mode="range"
					color="red"
				/>
			</div>

			<div v-if="loading">
				<div v-if="tickets" class="row">
					<div class="col-6 px-0">
						<div class="col-12">
							<div
								class="toast fade show col bg-white"
								role="alert"
								aria-live="assertive"
								style="min-width: 100%"
							>
								<div class="toast-header text-secondary pt-2">
									<h1
										class="display-1 pt-2"
										style="font-size: 22px"
									>
										<b>Cumplimiento</b>
									</h1>

									<a
										tabindex="0"
										class="btn btn-link info mt-1"
										role="button"
										v-b-tooltip.hover
										title="Representa un porcentaje de productividad en base a la comparación de los tickets abiertos contra los tickets cerrados en un periodo de tiempo."
									>
										<i
											class="fas fa-question-circle text-dark"
										></i>
									</a>
								</div>
								<div class="toast-body text-center pb-2">
									<indicadores-productividad />
								</div>
							</div>
						</div>
						<div class="col-12 pt-4">
							<div
								class="toast fade show col bg-white"
								role="alert"
								aria-live="assertive"
								aria-atomic="true"
								style="min-width: 100%"
							>
								<div class="toast-header text-secondary pt-2">
									<h1
										class="display-1 pt-2"
										style="font-size: 22px"
									>
										<b>Número de tickets por servicios</b>
									</h1>
									&nbsp;
									<a
										tabindex="0"
										class="btn btn-link info mt-1"
										role="button"
										v-b-tooltip.hover
										title="Muestra una gráfica comparativa con el número de servicios solicitados, mostrando los servicios más solicitados en un periodo de tiempo."
									>
										<i
											class="fas fa-question-circle text-dark"
										></i>
									</a>
								</div>
								<div class="toast-body text-center pb-4">
									<indicadores-tickets-por-servicio />
								</div>
							</div>
						</div>
					</div>
					<div class="col-6 px-0">
						<div class="col-12">
							<div
								class="toast fade show col bg-white"
								role="alert"
								aria-live="assertive"
								aria-atomic="true"
								style="min-width: 100%"
							>
								<div class="toast-header text-secondary pt-2">
									<h1
										class="display-1 pt-2"
										style="font-size: 22px"
									>
										<b>Tiempo medio de solución</b>
									</h1>
									&nbsp;
									<a
										tabindex="0"
										class="btn btn-link info mt-1"
										role="button"
										v-b-tooltip.hover
										title="Representa un tiempo estimado en base al promedio de respuesta de todos los tickets creados."
									>
										<i
											class="fas fa-question-circle text-dark"
										></i>
									</a>
								</div>
								<div class="toast-body text-center pb-2">
									<indicadores-tiempo-solucion />
								</div>
							</div>
						</div>
						<div class="col-12 pt-4">
							<div
								class="toast fade show col bg-white"
								role="alert"
								aria-live="assertive"
								aria-atomic="true"
								style="min-width: 100%"
							>
								<div class="toast-header text-secondary pt-2">
									<h1
										class="display-1 pt-2"
										style="font-size: 22px"
									>
										<b>Número de tickets por asuntos</b>
									</h1>
									&nbsp;
									<a
										tabindex="0"
										class="btn btn-link info mt-1"
										role="button"
										v-b-tooltip.hover
										title="Muestra una gráfica comparativa con el número de asuntos solicitados, mostrando los asuntos más solicitados en un periodo de tiempo."
									>
										<i
											class="fas fa-question-circle text-dark"
										></i>
									</a>
								</div>
								<div class="toast-body text-center pb-4">
									<indicadores-tickets-por-asunto />
								</div>
							</div>
						</div>
					</div>
					<div class="col-12 pt-4 mb-4">
						<div
							class="toast fade show col bg-white"
							role="alert"
							aria-live="assertive"
							aria-atomic="true"
							style="min-width: 100%"
						>
							<div class="toast-header text-secondary pt-2">
								<h1
									class="display-1 pt-2"
									style="font-size: 22px"
								>
									<b>Número de tickets por departamentos</b>
								</h1>
								&nbsp;
								<a
									tabindex="0"
									class="btn btn-link info mt-1"
									role="button"
									v-b-tooltip.hover
									title="Muestra una gráfica comparativa con el número de tickets abiertos por departamento."
								>
									<i
										class="fas fa-question-circle text-dark"
									></i>
								</a>
							</div>
							<div class="toast-body text-center pb-4">
								<indicadores-tickets-por-departamento />
							</div>
						</div>
					</div>
				</div>
				<div
					v-else
					class="alert alert-warning-light text-center"
					role="alert"
				>
					<h1 class="display-1 pt-1" style="font-size: 22px">
						<b>Sin tickets</b>
					</h1>
				</div>
			</div>

			<div v-else class="text-center mt-3">
				<h5 class="text-secondary">
					<div
						class="spinner-border"
						role="status"
						style="width: 1.5rem; height: 1.5rem;"
					>
						<span class="sr-only"></span>
					</div>
					<label class="ml-1">Cargando...</label>
				</h5>
			</div>
		</b-container>
	</div>
</template>

<script>
import { mapState, mapActions, mapMutations } from "vuex";

export default {
	data() {
		return {
			loading: false,
			tickets: false,
			startOfMonth: null,
			endOfMonth: null,
			rangeDate: {},
		};
	},
	mounted() {
		this.getCurrentMonth();
	},
	methods: {
		...mapMutations("indicators", ["setRangeDate"]),

		getCurrentMonth() {
			this.startOfMonth = moment()
				.startOf("month")
				.format("YYYY-MM-D");
			this.endOfMonth = moment()
				.endOf("month")
				.format("YYYY-MM-D");

			const range = { start: this.startOfMonth, end: this.endOfMonth };

			this.rangeDate = {
				start: new Date(this.startOfMonth),
				end: new Date(this.endOfMonth),
			};

			this.setRangeDate(range);
		},

		...mapActions("indicators", [
			"getTicketsProductivity",
			"getTicketsByService",
			"getTicketsBySubject",
			"getTicketsByDepartment",
			"getTicketsAttentionTime",
		]),
	},
	computed: {
		...mapState(["usuario"]),
		...mapState("indicators", ["tkattentionTime", "productivity"]),

		dateStart() {
			return moment(this.rangeDate.start).format("YYYY-MM-DD");
		},
		dateEnd() {
			return moment(this.rangeDate.end).format("YYYY-MM-DD");
		},
	},
	watch: {
		productivity() {
			if (this.productivity.length > 0) {
				this.tickets = true;
			} else {
				this.tickets = false;
			}
		},
		tkattentionTime() {
			this.loading = true;
		},
		rangeDate() {
			const range = { start: this.dateStart, end: this.dateEnd };
			this.setRangeDate(range);
			if (this.usuario) {
				this.getTicketsProductivity(this.usuario.id_departamento);
				this.getTicketsByService(this.usuario.id_departamento);
				this.getTicketsBySubject(this.usuario.id_departamento);
				this.getTicketsByDepartment(this.usuario.id_departamento);
				this.getTicketsAttentionTime(this.usuario.id_departamento);
			}
		},
		usuario() {
			this.getTicketsProductivity(this.usuario.id_departamento);
			this.getTicketsByService(this.usuario.id_departamento);
			this.getTicketsBySubject(this.usuario.id_departamento);
			this.getTicketsByDepartment(this.usuario.id_departamento);
			this.getTicketsAttentionTime(this.usuario.id_departamento);
		},
	},
};
</script>

<style>
.alert-warning-light {
	background-color: #fffbf0;
	border-color: #fffbf0;
	color: #9a890b;
}
</style>
