<template>
	<div class="wrapper">
		<b-row class="py-4">
			<b-col lg="12">
				<h1 class="text-center mb-0">Cumplimiento de Tickets</h1>
			</b-col>
		</b-row>
		<div class="container-fluid">
			<table class="table table-bordered" style="font-size: 11px">
				<thead class="bg-light">
					<tr>
						<th colspan="2"></th>
						<th>% Real</th>
						<th>% Planeado</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><strong>Cumplimiento</strong></td>
						<td>Número de solución de problemas</td>
						<td>{{ percentageReal }}%</td>
						<td>90%</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="text-right">
			<div class="btn-group btn-group-toggle" data-toggle="buttons">
				<label
					class="btn btn-sm btn-outline-secondary active"
					@click="changeGraph('ColumnChart')"
				>
					<input
						type="radio"
						id="option1"
						autocomplete="off"
						checked
					/><i class="fas fa-chart-bar"></i>
				</label>
				<label
					class="btn btn-sm btn-outline-secondary"
					@click="changeGraph('PieChart')"
				>
					<input type="radio" id="option2" autocomplete="off" />
					<i class="fas fa-chart-pie"></i>
				</label>
			</div>
		</div>

		<GChart
			style="height: 300px; width: 100%; font-size: 12px"
			:type="chatType"
			:data="chartData"
			:options="chartOptions"
		/>
	</div>
</template>

<script>
import { GChart } from "vue-google-charts";
import { mapState } from "vuex";

export default {
	data() {
		return {
			chatType: "ColumnChart",

			chartOptions: {
				legend: "none",
				vAxis: { title: "Tickets" },
				hAxis: { title: "Estado del Ticket" },
				animation: {
					duration: 900,
					easing: "linear",
					startup: true,
				},
			},
		};
	},
	methods: {
		changeGraph(type) {
			this.chatType = type;
			if (type != "ColumnChart") {
				this.chartOptions = {
					is3D: true,
					slices: {
						0: { color: "#6c757d", offset: 0.2 },
						1: { color: "#b0120a", offset: 0.4 },
					},
				};
			} else {
				this.chartOptions = {
					legend: "none",
					vAxis: { title: "Tickets" },
					hAxis: { title: "Estado del Ticket" },
					animation: {
						duration: 900,
						easing: "linear",
						startup: true,
					},
				};
			}
		},
	},
	computed: {
		...mapState("indicators", ["productivity"]),

		tickets_closed() {
			return this.productivity.filter(
				(tickets) => tickets.status == "Cerrado"
			).length;
		},
		tickets_open() {
			return this.productivity.filter(
				(tickets) =>
					tickets.status == "Abierto" ||
					tickets.status == "Nuevo" ||
					tickets.status == "Contestado"
			).length;
		},
		chartData() {
			return [
				["Estado", "Tickets", { role: "style" }],
				["Cerrados", this.tickets_closed, "color: #6c757d"],
				["Abiertos", this.tickets_open, "color: #b0120a"],
			];
		},
		percentageReal() {
			const percentage =
				(this.tickets_closed * 100) /
				(this.tickets_closed + this.tickets_open);
			return percentage > 0 ? percentage.toFixed(2) : 0;
		},
	},
};
</script>

<style>
.active {
	background: #6c757d !important;
}
</style>
