<template>
	<div
		class="bg-dark p-2 border-top border-dark"
		style="height: calc(100vh - 137px)"
	>
		<b-list-group class="mt-2" flush>
			<b-list-group-item
				:to="{ name: 'tk.indicadores.cumplimiento' }"
				class="li-area"
				:class="{
					[active]: routeName == 'tk.indicadores.cumplimiento',
				}"
			>
				Cumplimiento
			</b-list-group-item>

			<b-list-group-item
				:to="{ name: 'tk.indicadores.eficiencia' }"
				class="li-area"
				:class="{ [active]: routeName == 'tk.indicadores.eficiencia' }"
				@click="loadDataCrecimiento()"
			>
				Eficiencia
			</b-list-group-item>

			<b-list-group-item
				:to="{ name: 'tk.indicadores.tps' }"
				class="li-area"
				:class="{ [active]: routeName == 'tk.indicadores.tps' }"
			>
				Tickets Por servicios
			</b-list-group-item>

			<b-list-group-item
				:to="{ name: 'tk.indicadores.tpd' }"
				class="li-area"
				:class="{ [active]: routeName == 'tk.indicadores.tpd' }"
			>
				Tickets por departamentos
			</b-list-group-item>
			<b-list-group-item
				:to="{ name: 'tk.indicadores.pdt' }"
				class="li-area disabled"
				:class="{
					[active]: routeName == 'tk.indicadores.pdt',
				}"
			>
				Plan de trabajo
			</b-list-group-item>

			<b-list-group-item
				:to="{ name: 'tk.indicadores.presupuesto' }"
				class="li-area"
				:class="{
					[active]: routeName == 'tk.indicadores.presupuesto',
				}"
			>
				Presupuesto
			</b-list-group-item>
		</b-list-group>
	</div>
</template>

<script>
import { mapState, mapActions } from "vuex";
export default {
	data() {
		return {
			active: "border-secondary bg-secondary text-white",
		};
	},
	methods: {},
	computed: {
		...mapState(["routeName"]),
	},
};
</script>

<style>
.bg-white {
	background-color: #fff !important;
}
.text-dark {
	color: rgb(69, 85, 95);
}
.li-area {
	color: #fff;
	background-color: rgb(69, 85, 95);
	cursor: pointer !important;
}
</style>
