<template>
	<div>
		<GChart
			style="height: 360px; width: 100%; font-size: 12px"
			type="ColumnChart"
			:data="chartData"
			:options="chartOptions"
		/>

		<div class="container-fluid mt-1">
			<div align="left">
				<b-button v-b-toggle.collapse-subjects class="m-2 btn-sm">
					<i class="fas fa-list"></i>
				</b-button>
				<label class="pl-2">Ocultar tabla de detalles</label>
			</div>
			<b-collapse visible id="collapse-subjects">
				<b-card no-body style="border: 0px !important;">
					<div style="width: 100%; height: 283px; overflow: scroll;">
						<table
							class="table table-bordered"
							style="font-size: 11px;"
						>
							<thead class="bg-light">
								<tr>
									<th>Asuntos</th>
									<th>Tickets</th>
									<th>Abreviatura</th>
								</tr>
							</thead>
							<tbody style="font-size: 10px">
								<tr
									v-for="(datatksub, index) in tableData"
									:key="index"
								>
									<td style="text-align: left;">
										{{ datatksub[0] }}
									</td>
									<td>{{ datatksub[1] }}</td>
									<td>{{ datatksub[2] }}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</b-card>
			</b-collapse>
		</div>
	</div>
</template>

<script>
import { GChart } from "vue-google-charts";
import { mapState } from "vuex";

export default {
	data() {
		return {
			chartOptions: {
				vAxis: { title: "Asuntos" },
				hAxis: { title: "Tickets" },
				colors: ["#b0120a"],
				animation: {
					duration: 900,
					easing: "linear",
					startup: true,
				},
			},
		};
	},
	mounted() {},
	methods: {},
	computed: {
		...mapState("indicators", ["tksubjects"]),

		chartData() {
			const array = [["Asunto", "Tickets"]];
			var index = 1;
			this.tksubjects.forEach(function(tksub) {
				array.push(["A-" + index, tksub.total]);
				++index;
			});
			return array;
		},
		totalTkSubjects() {
			var total = 0;
			this.tksubjects.forEach(function(tksub) {
				total += tksub.total;
			});
			return total;
		},
		tableData() {
			var array = [];
			var index = 1;
			for (var i = 0; this.tksubjects.length > i; i++) {
				array.push([
					this.tksubjects[i].subject,
					this.tksubjects[i].total,
					"A-" + index,
				]);
				++index;
			}
			return array;
		},
	},
};
</script>
