<template>
	<div>
		<div class="text-right">
			<div class="btn-group btn-group-toggle" data-toggle="buttons">
				<label
					class="btn btn-sm btn-outline-secondary active"
					@click="changeGraph('ColumnChart')"
				>
					<input
						type="radio"
						id="option1"
						autocomplete="off"
						checked
					/><i class="fas fa-chart-bar"></i>
				</label>
				<label
					class="btn btn-sm btn-outline-secondary"
					@click="changeGraph('PieChart')"
				>
					<input type="radio" id="option2" autocomplete="off" />
					<i class="fas fa-chart-pie"></i>
				</label>
			</div>
		</div>

		<GChart
			style="height: 300px; width: 100%; font-size: 12px"
			:type="chatType"
			:data="chartData"
			:options="chartOptions"
		/>

		<div class="container-fluid mt-1">
			<div align="left">
				<b-button v-b-toggle.collapse-services class="m-2 btn-sm">
					<i class="fas fa-list"></i>
				</b-button>
				<label class="pl-2">Ocultar tabla de detalles</label>
			</div>
			<b-collapse visible id="collapse-services">
				<b-card no-body style="border: 0px !important;">
					<div
						style="width: 100%; height: 283px; max-height: 283px; overflow: scroll;"
					>
						<table
							class="table table-bordered mb-0"
							style="font-size: 11px;"
						>
							<thead class="bg-light">
								<tr>
									<th>Servicio</th>
									<th>%</th>
									<th>Tickets</th>
									<th>Abreviatura</th>
								</tr>
							</thead>
							<tbody style="line-height: 8px; font-size: 10px">
								<tr
									v-for="(datatkser, index) in tableData"
									:key="index"
								>
									<td style="text-align: left;">
										{{ datatkser[0] }}
									</td>
									<td>{{ datatkser[1] }}%</td>
									<td>{{ datatkser[2] }}</td>
									<td>{{ datatkser[3] }}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</b-card>
			</b-collapse>
		</div>
	</div>
</template>

<script>
import { GChart } from "vue-google-charts";
import { mapState } from "vuex";

export default {
	data() {
		return {
			chatType: "ColumnChart",

			chartOptions: {
				vAxis: { title: "Tickets" },
				hAxis: { title: "Servicios" },
				colors: ["#b0120a", "#6c757d"],
				is3D: true,
				animation: {
					duration: 900,
					easing: "linear",
					startup: true,
				},
			},
		};
	},
	mounted() {},
	methods: {
		changeGraph(type) {
			this.chatType = type;
		},
	},
	computed: {
		...mapState("indicators", ["tkservices"]),

		chartData() {
			const array = [["Servicio", "Tickets"]];
			var index = 1;
			this.tkservices.forEach(function(tkser) {
				array.push(["S-" + index, tkser.total]);
				++index;
			});
			return array;
		},
		totalTkServices() {
			var total = 0;
			this.tkservices.forEach(function(tkser) {
				total += tkser.total;
			});
			return total;
		},
		tableData() {
			var array = [];
			var index = 1;
			for (var i = 0; this.tkservices.length > i; i++) {
				var porcentaje =
					(this.tkservices[i].total * 100) / this.totalTkServices;
				array.push([
					this.tkservices[i].service,
					porcentaje.toFixed(1),
					this.tkservices[i].total,
					"S-" + index,
				]);
				++index;
			}
			return array;
		},
	},
};
</script>
