<template>
	<div>
		<div class="text-right">
			<div class="btn-group btn-group-toggle" data-toggle="buttons">
				<label
					class="btn btn-sm btn-outline-secondary active"
					@click="changeGraph('AreaChart')"
				>
					<input type="radio" id="option2" autocomplete="off" />
					<i class="fas fa-chart-area"></i>
				</label>
				<label
					class="btn btn-sm btn-outline-secondary"
					@click="changeGraph('ColumnChart')"
				>
					<input
						type="radio"
						id="option1"
						autocomplete="off"
						checked
					/><i class="fas fa-chart-bar"></i>
				</label>
			</div>
		</div>

		<GChart
			style="height: 360px; width: 100%; font-size: 12px"
			:type="chatType"
			:data="chartData"
			:options="chartOptions"
		/>
	</div>
</template>

<script>
import { GChart } from "vue-google-charts";
import { mapState } from "vuex";

export default {
	data() {
		return {
			chatType: "AreaChart",
			chartOptions: {
				vAxis: { title: "Tickets" },
				hAxis: { title: "Departamentos" },
				colors: ["#b0120a", "#6c757d"],
				legend: { position: "top", maxLines: 3 },
			},
		};
	},
	methods: {
		changeGraph(type) {
			this.chatType = type;
		},
	},
	computed: {
		...mapState("indicators", ["tkdepartment"]),

		chartData() {
			const array = [
				["Departamento", "Tickets Abiertos", "Tickets Cerrados"],
			];
			var index = 1;
			this.tkdepartment.forEach(function(tkdep) {
				array.push([
					tkdep.departamento,
					tkdep.tickets_abiertos,
					tkdep.tickets_cerrados,
				]);
				++index;
			});
			return array;
		},
		totalTkSubjects() {
			var total = 0;
			this.tkdepartment.forEach(function(tksub) {
				total += tksub.total;
			});
			return total;
		},
		tableData() {
			var array = [];
			var index = 1;
			for (var i = 0; this.tkdepartment.length > i; i++) {
				array.push([
					this.tkdepartment[i].subject,
					this.tkdepartment[i].total,
					"A-" + index,
				]);
				++index;
			}
			return array;
		},
	},
};
</script>
