<template>
	<div class="container-fluid" style="height: 414px" align="center">
		<table class="table table-bordered" style="font-size: 11px">
			<thead class="bg-light">
				<tr align="center">
					<th>Servicios</th>
					<th># Tickets</th>
					<th>Tiempo de solución</th>
				</tr>
			</thead>
			<tbody style="font-size: 10px; line-height: 10px;">
				<tr v-for="(tk, index) in tkattentionTime" :key="index">
					<td align="left">{{ tk.services }}</td>
					<td align="center">{{ tk.tickets }}</td>
					<indicadores-promedio
						:tickets="tk.tickets"
						:days="tk.total_dias"
					/>
				</tr>
			</tbody>
		</table>
	</div>
</template>

<script>
import { mapState } from "vuex";

export default {
	data() {
		return {};
	},
	computed: {
		...mapState("indicators", ["tkattentionTime"]),
	},
};
</script>
