<template>
	<b-container fluid style="height: calc(100vh - 54px)">
		<b-row class="h-100">
			<b-col lg="2" class="px-0 h-100">
				<th-configuracion-sidebar />
			</b-col>
			<b-col lg="10" class="pl-0">
				<div
					class="p-4"
					style="height: calc(100vh - 54px); overflow: auto;"
				>
					<b-row>
						<b-col lg="2"></b-col>
						<b-col lg="8">
							<h1 class="text-center">
								Registro de días festivos
							</h1>
						</b-col>
						<b-col lg="2"></b-col>
					</b-row>

					<b-card class="shadow-sm mt-4">
						<b-row>
							<b-col lg="4">
								<b-button
									size="sm"
									class="shadows"
									variant="danger"
									@click="openModal"
									>Agregar día festivo</b-button
								>
							</b-col>
							<b-col lg="4">
								<h3 class="text-center mb-0">
									Lista de días festivos
								</h3>
							</b-col>
							<b-col lg="4">
								<div
									class="input-group w-100 bg-white border"
									id="input-shadow"
								>
									<div
										class="input-group-prepend bg-light mr-1 ml-3"
									>
										<div class="pt-1 bg-white">
											<i class="fas fa-search"></i>
										</div>
									</div>
									<b-form-input
										id="input-search"
										size="sm"
										class="form-control border-0"
										placeholder="Escribe tu busqueda aquí"
										:value="filter"
										@input="setFilterSearch($event)"
										autocomplete="off"
									></b-form-input>
								</div>
							</b-col>
						</b-row>
						<hr class="mb-0 mt-4" />

						<b-skeleton-table
							v-if="busyDiasFestivos"
							:rows="8"
							:columns="4"
							:table-props="{ striped: true }"
						>
						</b-skeleton-table>

						<b-table-simple
							v-else
							responsive
							bordered
							style="height: calc(100vh - 322px); overflow: auto; font-size: 11px;"
							hover
						>
							<b-thead
								class="text-center bg-light"
								style="font-size: 12px;"
							>
								<b-tr class="text-center">
									<b-th style="min-width: 300px;"
										>Descripción</b-th
									>
									<b-th style="min-width: 250px;"
										>Fecha festivo</b-th
									>
									<b-th style="min-width: 250px;"
										>Fecha feriado</b-th
									>
									<b-th style="min-width: 50px;">Acción</b-th>
								</b-tr>
							</b-thead>
							<b-tbody style="font-size: 12px;">
								<b-tr
									v-if="diasFestivosFiltered.length"
									v-for="(diaFestivo,
									index) in diasFestivosFiltered"
									:key="index"
								>
									<b-td class="align-middle text-center">
										<h6
											class="mb-0"
											style="font-size: 13px;"
										>
											{{ diaFestivo.descripcion }}
										</h6>
									</b-td>
									<b-td class="align-middle text-center">{{
										diaFestivo.fecha
									}}</b-td>
									<b-td class="align-middle text-center">{{
										diaFestivo.fechaFeriado
									}}</b-td>
									<b-td class="align-middle text-center">
										<b-dropdown
											id="dropdown-left"
											right
											variant="link"
											class="py-0 my-0"
											no-caret
											size="sm"
										>
											<template v-slot:button-content>
												<i
													class="fas fa-ellipsis-v px-2 py-0 text-secondary"
												></i>
											</template>
											<b-dropdown-item
												v-b-modal.modal-agregar-th-dias-festivos
												@click="setDataEdit(diaFestivo)"
											>
												<i class="fas fa-edit px-2"></i>
												Editar
											</b-dropdown-item>
											<b-dropdown-item
												@click="
													showMsgBoxDeleteConfirm(
														diaFestivo.idDiaFestivo
													)
												"
											>
												<i
													class="fas fa-trash px-2"
												></i>
												Eliminar
											</b-dropdown-item>
											<slot
												name="dropdown-more-actions"
											></slot>
										</b-dropdown>
									</b-td>
								</b-tr>
								<b-tr
									v-if="
										!busyDiasFestivos &&
											!diasFestivosFiltered.length
									"
								>
									<b-td colspan="3">
										<h5 class="text-center my-3">
											No se encontraron resultados
										</h5>
									</b-td>
								</b-tr>
							</b-tbody>
						</b-table-simple>
					</b-card>
				</div>
			</b-col>
		</b-row>

		<modal-component
			:id="'modal-agregar-th-dias-festivos'"
			title="Agregar día festivo"
			:hideFooter="true"
			:hideHeader="true"
			:centered="true"
		>
			<template slot="content">
				<th-configuracion-dias-festivos-form-festivos-component
					:diaFestivo="diaFestivo"
				/>
			</template>
		</modal-component>
	</b-container>
</template>

<script>
import { mapState, mapActions, mapMutations, mapGetters } from "vuex";
export default {
	data() {
		return {
			diaFestivo: null,
		};
	},
	mounted() {
		this.getDiasFestivos();
	},
	methods: {
		...mapActions("th_dias_festivos", ["getDiasFestivos"]),
		...mapMutations("th_dias_festivos", [
			"removeDiaFestivo",
			"setFilterSearch",
		]),

		setDataEdit(diaFestivo) {
			this.diaFestivo = diaFestivo;
		},
		openModal() {
			this.diaFestivo = null;
			this.$bvModal.show("modal-agregar-th-dias-festivos");
		},
		showMsgBoxDeleteConfirm(id) {
			this.$bvModal
				.msgBoxConfirm(
					`¿Está seguro de que desea eliminar este día festivo?`,
					{
						title: "Favor de confirmar",
						size: "sm",
						buttonSize: "sm",
						okVariant: "danger",
						cancelVariant: "light",
						okTitle: "Confirmar",
						cancelTitle: "Cancelar",
						headerClass: "pt-3 pb-2 border-bottom-0",
						footerClass: "p-2 border-top-0",
						centered: true,
					}
				)
				.then((confirm) => {
					if (confirm) {
						this.remove(id);
					}
				});
		},
		async remove(id) {
			try {
				const response = await axios.delete(
					BaseUrl + `/api/th/vp/diaFestivo/${id}`
				);
				if (response.data.success) this.removeDiaFestivo(id);
			} catch (e) {
				console.log(e);
			}
		},
	},
	computed: {
		...mapGetters("th_dias_festivos", ["diasFestivosFiltered"]),
		...mapState("th_dias_festivos", ["busyDiasFestivos", "filter"]),
	},
	watch: {},
};
</script>
