<template>
	<b-overlay
		:show="overlay"
		rounded="sm"
		opacity="1.0"
		blur="1px"
		variant="transparent"
	>
		<b-form-group>
			<template v-slot:label>
				<div class="lab-form">
					Descripción<span class="req">*</span>
				</div>
			</template>
			<b-form-input
				v-model="$v.form.descripcion.$model"
				placeholder="Descripción del día festivo"
				:state="
					$v.form.descripcion.$dirty
						? !$v.form.descripcion.$error
						: null
				"
			>
			</b-form-input>
			<b-form-invalid-feedback id="feedback-descripcion">
				Campo obligatorio
			</b-form-invalid-feedback>
		</b-form-group>

		<b-form-group>
			<template v-slot:label>
				<div class="lab-form">
					Fecha festivo<span class="req">*</span>
				</div>
			</template>
			<b-form-datepicker
				id="example-datepicker-festivo"
				v-model="$v.form.fecha.$model"
				:state="$v.form.fecha.$dirty ? !$v.form.fecha.$error : null"
				placeholder="Ingresa la fecha del día festivo"
			>
			</b-form-datepicker>
			<b-form-invalid-feedback id="feedback-fecha">
				Campo obligatorio
			</b-form-invalid-feedback>
		</b-form-group>

		<b-form-group>
			<template v-slot:label>
				<div class="lab-form">
					Fecha feriado<span class="req">*</span>
				</div>
			</template>
			<b-form-datepicker
				id="example-datepicker-feriado"
				v-model="$v.form.fechaFeriado.$model"
				:state="
					$v.form.fechaFeriado.$dirty
						? !$v.form.fechaFeriado.$error
						: null
				"
				placeholder="Ingresa la fecha del día feriado"
			>
			</b-form-datepicker>
			<b-form-invalid-feedback id="feedback-fechaFeriado">
				Campo obligatorio
			</b-form-invalid-feedback>
		</b-form-group>

		<div class="d-flex flex-row-reverse bd-highlight">
			<b-button variant="danger" class="ml-3 my-2" @click="submit">
				GUARDAR
			</b-button>
			<b-button variant="white" class="link-light my-2" @click="cancel">
				CANCELAR
			</b-button>
		</div>
	</b-overlay>
</template>

<script>
import { mapMutations, mapState, mapActions } from "vuex";
import { required } from "vuelidate/lib/validators";

export default {
	props: {
		diaFestivo: Object,
	},
	data() {
		return {
			load: true,
			errorSubmit: false,
			overlay: false,

			form: {
				descripcion: null,
				fecha: null,
				fechaFeriado: null,
			},
		};
	},
	mounted() {
		if (this.diaFestivo) this.setDataEdit();
	},
	methods: {
		...mapMutations(["modalSubmit", "modalOk"]),
		...mapMutations("th_dias_festivos", [
			"addDiaFestivo",
			"updateDiaFestivo",
		]),

		async submit() {
			this.overlay = true;
			this.errorSubmit = false;
			this.$v.$touch();

			if (!this.$v.$invalid) {
				try {
					this.form.dia = this.dia;
					this.form.noDia = this.noDia;
					this.form.mes =  this.mes;
					this.form.periodo = this.periodo;

					const response = !this.diaFestivo
						? await axios.post(`/api/th/vp/diaFestivo`, this.form)
						: await axios.put(
								`/api/th/vp/diaFestivo/${this.diaFestivo.idDiaFestivo}`,
								this.form
						  );
					if (response.data.success) {
						if (!this.diaFestivo)
							this.addDiaFestivo(response.data.diaFestivo);
						else this.updateDiaFestivo(response.data.diaFestivo);
						this.modalSubmit(true);
						this.overlay = false;
					} else {
						this.modalOk(false);
					}
				} catch (e) {
					console.log(e);
					this.overlay = false;
					this.errorSubmit = true;
				}
			} else {
				this.overlay = false;
			}
		},
		setDataEdit() {
			this.form.descripcion = this.diaFestivo.descripcion;
			this.form.fecha = this.diaFestivo.fecha;
			this.form.fechaFeriado = this.diaFestivo.fechaFeriado;
		},
		cancel() {
			this.$bvModal.hide("modal-agregar-th-dias-festivos");
		},
	},
	computed: {
		...mapState(["usuario", "okModal"]),

		dia()
		{
			moment.locale('es');
			const dia = moment(this.form.fechaFeriado).format('dddd');  
			return dia.charAt(0).toUpperCase() + dia.slice(1);   
		},
		mes()
		{
			moment.locale('es');
			const mes = moment(this.form.fechaFeriado).format('MMMM');  
			return mes.charAt(0).toUpperCase() + mes.slice(1);   
		},
		noDia()
		{
			return moment(this.form.fechaFeriado).format('DD');  
		},
		periodo()
		{
			return moment(this.form.fechaFeriado).format('YYYY');  
		},
	},
	validations() {
		return {
			form: {
				descripcion: { required },
				fecha: { required },
				fechaFeriado: { required },
			},
		};
	},
};
</script>
