<template>
	<b-collapse id="nav-collapse" is-nav>
		<b-navbar-nav>
			<!-- <b-nav-item-dropdown>
				<template v-slot:button-content>
					<i
						class="fas fa-plane-departure pr-1"
						style="color:white"
					></i>
					Vacaciones y permisos
				</template>

				<b-dropdown-item :to="{ name: 'th.vp.solicitudes' }" style="color: #777;">
					<div class="mr-5 ml-1">
						<i class="fas fa-plane-departure pr-2"></i>
						Solicitudes
					</div>
				</b-dropdown-item>
			</b-nav-item-dropdown> -->

			<!-- v-if="hasPermission('th.navegar')" -->
			<b-nav-item
				class="mr-1"
				:to="{ name: 'th.empleados' }"
			>
				<div class="mr-5 ml-1">
					<i class="fas fa-user-tie pr-2" style="color:white"></i>
					Empleados
				</div>
			</b-nav-item>
		</b-navbar-nav>

		<b-navbar-nav class="ml-auto">
			<b-nav-item class="pr-0" right>
				<b-button variant="link">
					<i class="fas fa-question-circle text-white"></i>
				</b-button>
			</b-nav-item>

			<b-nav-item-dropdown right>
				<template v-slot:button-content>
					<b-avatar
						:src="urlImage"
						class="mr-2"
						variant="dark"
					></b-avatar>
					<span class="mr-auto">{{ nombreUsuario }}</span>
				</template>

				<!-- <template v-if="hasPermission('th.configuracion')"> -->
					<b-dropdown-item
						:to="{ name: 'th.config.departamentos' }"
						style="color: #777;"
					>
						<div class="mr-5 ml-1">
							<i class="fas fa-cogs pr-2"></i>
							Configuración
						</div>
					</b-dropdown-item>

					<hr class="pb-1 mb-0 mt-1" />
				<!-- </template> -->

				<b-dropdown-item @click="logout" style="color: #777;">
					<div class="mr-5 ml-1">
						<i class="fas fa-sign-out-alt pr-2"></i>
						Cerrar sesión
					</div>
				</b-dropdown-item>
			</b-nav-item-dropdown>
		</b-navbar-nav>
	</b-collapse>
</template>

<script>
import { mapState, mapActions } from "vuex";

export default {
	props: {
		usuario: Object,
	},
	data() {
		return {
			urlImage: null,
		};
	},
	mounted() {
		this.urlImagen(this.usuario.foto);
	},
	methods: {
		urlImagen(foto) {
			this.urlImage = BaseUrl + "/img/profiles/" + foto;
		},
		logout() {
			axios
				.post(BaseUrl + "/logout")
				.then((response) => {
					window.location = "/";
				})
				.catch((error) => {
					location.reload();
				});
		},
		hasPermission(funcion) {
			if (this.permissions.length) {
				const permiso = this.permissions.find(
					(permiso) => permiso.idFuncion == funcion
				);
				if (permiso) return true;
				return false;
			}
		},
	},
	computed: {
		...mapState(["nombreUsuario", "permissions"]),
	},
};
</script>
