<template>
	<b-collapse id="nav-collapse" is-nav>
		<b-navbar-nav>
			<b-nav-item-dropdown v-if="hasPermission('alm.inv.activo.navegar')"> 
				<template v-slot:button-content>
					<i class="fas fa-warehouse mr-1" style="color: white"></i>
					Inventarios
				</template>

				<b-dropdown-item
					:to="{ name: 'alm.inventario.activos' }"
					style="color: #777"
				>
					<div class="mr-3">
						<i class="fas fa-boxes pr-3"></i>
						&nbsp;Activos
					</div>
				</b-dropdown-item>
			</b-nav-item-dropdown>

			<b-nav-item-dropdown>
				<template v-slot:button-content>
					<i class="fas fa-boxes mr-1" style="color: white"></i>

					Solicitud de suministros
				</template>

				<b-dropdown-item
					v-if="hasPermission('alm.ss.admin.navegar')"
					:to="{ name: 'alm.ss.admin_solicitudes' }"
					style="color: #777"
				>
					<div class="mr-3">
						<i
							class="fas fa-table pr-3"
							style="font-size: 15px;"
						></i>
						Administración
					</div>
				</b-dropdown-item>

				<b-dropdown-item
					v-if="hasPermission('alm.ss.solicitudes.navegar')"
					:to="{ name: 'alm.ss.solicitudes' }"
					style="color: #777"
				>
					<div class="mr-3">
						<i
							class="far fa-file-alt pr-3"
							style="font-size: 15px;"
						></i>
						&nbsp;Solicitudes
					</div>
				</b-dropdown-item>
			</b-nav-item-dropdown>
		</b-navbar-nav>

		<b-navbar-nav class="ml-auto">
			<b-nav-item-dropdown right>
				<template v-slot:button-content>
					<b-avatar
						:src="urlImage"
						class="mr-2"
						variant="dark"
					></b-avatar>
					<span class="mr-auto">{{ nombreUsuario }}</span>
				</template>

				<b-dropdown-item @click="logout" style="color: #777">
					<div class="mr-5 ml-1">
						<i class="fas fa-sign-out-alt pr-2"></i>
						Cerrar sesión
					</div>
				</b-dropdown-item>
			</b-nav-item-dropdown>
		</b-navbar-nav>
	</b-collapse>
</template>

<script>
import { mapState, mapActions } from "vuex";

export default {
	props: {
		usuario: Object,
	},
	data() {
		return {
			urlImage: null,
		};
	},
	mounted() {
		this.urlImagen(this.usuario.ruta);
	},
	methods: {
		urlImagen(ruta) {
			this.urlImage = BaseUrl + ruta;
		},
		logout() {
			axios
				.post(BaseUrl + "/logout")
				.then((response) => {
					window.location = "/";
				})
				.catch((error) => {
					location.reload();
				});
		},
		hasPermission(funcion) {
			if (this.permissions.length) {
				const permiso = this.permissions.find(
					(permiso) => permiso.idFuncion == funcion
				);
				if (permiso) return true;
				return false;
			}
		},
	},
	computed: {
		...mapState(["nombreUsuario", "permissions"]),
		...mapState("notifications", ["notCount"]),
		...mapState("negocios", ["embudoSelected"]),
	},
};
</script>
