<template>
	<b-card class="shadow" style="height: calc(100vh - 395px); overflow: auto">
		<b-card-text>
			<p class="mb-1">
				<i class="fas fa-square pr-2 text-danger"></i>
				<small><strong>Vacaciones</strong></small>

				<i class="fas fa-square pl-3 pr-2 text-secondary"></i>
				<small><strong>Permisos</strong></small>

				<i class="fas fa-square pl-3 pr-2 text-warning"></i>
				<small><strong>Días festivos</strong></small>
			</p>

			<div>
				<v-calendar
					id="calendar-p"
					class="custom-calendar max-w-full"
					:masks="masks"
					:attributes="attributes"
					disable-page-swipe
					is-expanded
				>
					<template
						v-slot:day-content="{
							day,
							attributes,
						}"
					>
						<div class="flex flex-col h-full z-10 overflow-hidden">
							<span
								class="day-label text-secondary"
								style="font-size: 10px;"
								>{{ day.day }}</span
							>
							<div class="flex-grow">
								<p
									v-for="attr in attributes"
									:key="attr.key"
									class="p-1 mt-0 mb-1"
									style="font-size: 10px; font-weight: bold;"
									:class="attr.customData.class"
								>
									{{ attr.customData.title }}
								</p>
							</div>
						</div>
					</template>
				</v-calendar>
			</div>
		</b-card-text>
	</b-card>
</template>

<script>
import { mapState, mapMutations, mapActions } from "vuex";
export default {
	data() {
		return {
			tipoSolicitud: "Vacaciones",
			statusFilter: "Abierto",
			masks: {
				weekdays: "WWW",
			},
		};
	},
	mounted() {},
	methods: {},
	computed: {
		...mapState("th_vp_solicitudes", ["listSolicitudesByEmpleado"]),
		...mapState("th_dias_festivos", ["listDiasFestivos"]),

		attributes() {
			var array = [];
			var key = 1;

			if (this.listSolicitudesByEmpleado.length) {
				var vacaciones = this.listSolicitudesByEmpleado.filter(
					(solicitud) =>
						solicitud.tipo == "Vacaciones" && solicitud.idEtapa != 3
				);

				if (vacaciones.length) {
					vacaciones.forEach((solicitud) => {
						var inicio = moment(solicitud.fechaInicio);
						var fin = moment(solicitud.fechaFin);
						var diff = fin.diff(inicio, "days");

						for (var i = 0; i < diff + 1; i++) {
							var date = moment(solicitud.fechaInicio).add(i, "d");
							array.push({
								key: key,
								customData: {
									title: solicitud.tipo,
									class: "bg-danger text-white",
								},
								dates: new Date(date),
							});
							key += 1;
						}
					}, this);
				}

				var permisos = this.listSolicitudesByEmpleado
					.filter(
						(solicitud) =>
							solicitud.tipo == "Permiso" &&
							solicitud.idEtapa != 3
					)
					.map((solicitud) => {
						return {
							key: key,
							customData: {
								title: solicitud.motivoAusencia,
								class: "bg-secondary text-white",
							},
							dates: new Date(solicitud.fechaInicio),
						};
						key += 1;
					});
				array = array.concat(permisos);

			}

			if (this.listDiasFestivos.length) {
				this.listDiasFestivos.forEach((item) => {
					array.push({
						key: key,
						customData: {
							title: item.descripcion,
							class: "bg-warning text-white",
						},
						dates: new Date(item.fechaFeriado),
					});
					key += 1;
				}, this);
			}
			return array;
		},
	},
	watch: {},
};
</script>

<style>
/*CALENDARIO*/
#calendar-p.vc-day[data-v-4a5f2beb] {
	padding: 0 5px 3px 5px;
	text-align: left;
	height: var(--day-height);
	min-width: var(--day-width);
	background-color: white;
	overflow-y: auto;
	overflow-x: auto;
	border: 1px solid #f8f9fa;
}
#calendar-p.custom-calendar.vc-container {
	--day-border: 1px solid #b8c2cc;
	--day-border-highlight: 1px solid #b8c2cc;
	--day-width: 75px;
	--day-height: 60px;
	--weekday-bg: #950f1c !important;
	--weekday-border: 1px solid #eaeaea;
	--arrows-padding: 3px 10px;
	border-radius: 0;
	width: 100%;
}
#calendar-p.weekday-7 {
	background-color: #e9ecef !important;
}
#calendar-p.weekday-1 {
	background-color: #e9ecef !important;
}
/*#calendar-p.vc-header[data-v-4a5f2beb] {
	background-color: #f1f5f8 !important;
	padding: 8px 0 !important;
}
#calendar-p.vc-weeks[data-v-4a5f2beb] {
	padding: 0;
}*/
/*#calendar-p.vc-weekday[data-v-4a5f2beb] {
	background-color: var(--weekday-bg);
	border-bottom: var(--weekday-border);
	border-top: var(--weekday-border);
	padding: 5px 0;
	font-size: 12px;
	background-color: #950f1c !important;
	color: #FFFFFF !important;
}*/
/*#calendar-p.vc-day-dots[data-v-4a5f2beb] {
	margin-bottom: 5px;
}*/
/*#calendar-p.vc-text-lg {
	font-size: 15px !important;
}
#calendar-p.vc-text-gray-500 {
	color: white !important;
}*/
</style>
