<template>
	<b-container class="px-2 py-2">
		<b-row>
			<b-col lg="8" class="text-left">
				<h1 class="display-1 m-3 mb-0" style="font-size: 22px;">
					Información de la solicitud
				</h1>
			</b-col>
			<b-col lg="4" class="text-right">
				<b-button
					variant="link"
					size="sm"
					class="text-secondary mt-3"
					@click="$emit('hide', false)"
				>
					<b-icon icon="x" font-scale="1.5"></b-icon>
				</b-button>
			</b-col>
		</b-row>

		<th-vp-timeline-solicitud-component
			v-if="solicitudActiva"
			:usuario="solicitudActiva.usuario"
			:solicitud="solicitudActiva"
		/>
	</b-container>
</template>

<script>
import { mapState } from "vuex";

export default {
	data() {
		return {};
	},
	mounted() {},
	methods: {
		hasPermission(funcion) {
			if (this.permissions.length) {
				const permiso = this.permissions.find(
					(permiso) => permiso.idFuncion == funcion
				);
				if (permiso) return true;
				return false;
			}
		},
	},
	computed: {
		...mapState(["permissions"]),
		...mapState("th_vp_solicitudes", ["solicitudActiva"]),
	},
};
</script>

<style>
.timeline {
	padding: 0;
	position: relative;
	list-style: none;
	font-family: sans-serif;
	margin: 10px 20px;
}
.timeline-others {
	background-color: #0000 var(--timelineBg);
}
</style>
