<template>
	<b-card class="shadow" style="height: calc(100vh - 395px); overflow: auto">
		<b-skeleton-wrapper :loading="busyDiasFestivos">
			<template #loading>
				<b-card>
					<b-skeleton width="85%"></b-skeleton>
					<b-skeleton width="55%"></b-skeleton>
					<b-skeleton width="70%"></b-skeleton>
					<b-skeleton width="85%"></b-skeleton>
				</b-card>
			</template>
			<b-card-text>
				<ul
					class="list-unstyled mb-0"
				>
					<b-media
						v-for="(item, index) in listDiasFestivos"
						:key="index"
						tag="li"
						style="border-bottom: 1px dotted #6c757d;"
					>
						<template #aside>
							<p class="calendar">
								{{ item.noDia }} <em>{{ item.mes }}</em>
							</p>
						</template>
						<h5 class="mt-2 mb-1" style="font-size: 13px;">
							{{ item.descripcion }}
						</h5>
						<p class="mb-0" style="font-size: 13px;">
							{{ item.dia }}, {{ item.periodo }}
						</p>
					</b-media>
				</ul>
			</b-card-text>
		</b-skeleton-wrapper>
	</b-card>
</template>

<script>
import { mapState, mapMutations, mapActions } from "vuex";
export default {
	data() {
		return {};
	},
	mounted() {},
	methods: {},
	computed: {
		...mapState(["permissions", "usuario"]),
		...mapState("th_dias_festivos", [
			"listDiasFestivos",
			"busyDiasFestivos",
		]),
	},
	watch: {},
};
</script>

<style>
/*ICONO DE CALENDARIO	*/
.calendar {
	margin: 0.25em 10px 8px 0;
	padding-top: 9px;
	float: left;
	width: 65px;
	background: #ededef;
	background: -webkit-gradient(
		linear,
		left top,
		left bottom,
		from(#ededef),
		to(#ccc)
	);
	background: -moz-linear-gradient(top, #ededef, #ccc);
	font: bold 12px/31px Arial Black, Arial, Helvetica, sans-serif;
	text-align: center;
	color: #000;
	text-shadow: #fff 0 1px 0;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	position: relative;
	-moz-box-shadow: 0 2px 2px #888;
	-webkit-box-shadow: 0 2px 2px #888;
	box-shadow: 0 2px 2px #888;
}
.calendar em {
	display: block;
	font: normal bold 10px/27px Arial, Helvetica, sans-serif;
	color: #fff;
	text-shadow: #5d010a 0 -1px 0 !important;;
	background: #b01404 !important;;
	background: -webkit-gradient(
		linear,
		left top,
		left bottom,
		from(#b01404),
		to(#5d010a)
	);
	background: -moz-linear-gradient(top, #b01404, #5d010a);
	-moz-border-radius-bottomright: 3px;
	-webkit-border-bottom-right-radius: 3px;
	border-bottom-right-radius: 3px;
	-moz-border-radius-bottomleft: 3px;
	-webkit-border-bottom-left-radius: 3px;
	border-bottom-left-radius: 3px;
	border-top: 1px solid #5d010a !important;;
}
.calendar:before,
.calendar:after {
	content: "";
	float: left;
	position: absolute;
	top: 5px;
	width: 8px;
	height: 8px;
	background: #111;
	z-index: 1;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 0 1px 1px #fff;
	-webkit-box-shadow: 0 1px 1px #fff;
	box-shadow: 0 1px 1px #fff;
}
.calendar:before {
	left: 11px;
}
.calendar:after {
	right: 11px;
}
</style>
