<template>
	<div>
		<b-card class="mt-3 shadow">
			<b-card-title>
				<i class="fas fa-info-circle pr-2"></i>
				<label
					style="font-size: 16px;"
				>
					Información del empleado
				</label>
				<hr class="mb-0" />
			</b-card-title>

			<b-card-text class="pt-2" style="font-family: sans-serif;">
				<b-row>
					<b-col>
						<fieldset
							class="scheduler-border shadow-sm"
							style="border-radius: 1rem; font-size: 13px;"
						>
							<legend
								class="scheduler-border"
								style="font-size: 15px;"
							>
								Datos de contacto
							</legend>

							<p>
								<i
									class="far fa-user mr-2"
									style="color: #b30b0b;"
								></i>
								{{ empleado.nombre }} -
								{{ empleado.noEmpleado }}
							</p>

							<p>
								<i
									class="far fa-envelope mr-2"
									style="color: #b30b0b;"
								></i>
								{{ empleado.email }}
							</p>
						</fieldset>
					</b-col>
					<b-col>
						<fieldset
							class="scheduler-border shadow-sm"
							style="border-radius: 1rem; font-size: 13px;"
						>
							<legend
								class="scheduler-border"
								style="font-size: 15px;"
							>
								Datos de antigüedad
							</legend>

							<p>
								<i
									class="far fa-calendar mr-2"
									style="color: #b30b0b;"
								></i>
								<b>Ingreso:</b> {{ fechaIngreso }}
							</p>
							<p>
								<i
									class="far fa-hourglass mr-2"
									style="color: #b30b0b;"
								></i>
								<b>Años de servicio:</b> {{ tiempoServicio }}
							</p>
						</fieldset>
					</b-col>
				</b-row>
			</b-card-text>
		</b-card>

		<b-card class="mt-3 shadow" style="height: calc(100vh - 313px); overflow: auto">
			<b-card-title>
				<i class="fas fa-info-circle pr-2"></i>
				<label
					style="font-size: 16px;"
				>
					Información de la solicitud
				</label>
				<hr class="mb-0" />
			</b-card-title>
			<b-card-text>
				<template>
					<th-vp-timeline-solicitud-component
						v-if="solicitud"
						:usuario="usuario"
						:solicitud="solicitud"
					/>
				</template>
			</b-card-text>
		</b-card>
	</div>
</template>

<script>
import { mapState, mapMutations, mapActions } from "vuex";
import { Timeline, TimelineItem, TimelineTitle } from "vue-cute-timeline";
import "vue-cute-timeline/dist/index.css";
export default {
	components: {
		Timeline,
		TimelineItem,
		TimelineTitle,
	},
	props: {
		usuario: Object,
		solicitud: Object,
	},
	data() {
		return {};
	},
	mounted() {
		if (this.usuario) {
			this.getEmpleado(this.usuario.noEmpleado);
		}
	},
	methods: {
		...mapActions("th_empleados", ["getEmpleado"]),

		formatDate(date) {
			return moment(date, "YYYY-MM-DD").format("LL");
		},
	},
	computed: {
		...mapState(["permissions"]),
		...mapState("th_empleados", ["empleado", "busyEmpleado"]),

		urlImage() {
			return BaseUrl + this.usuario.ruta;
		},
		tiempoServicio() {
			moment.locale("es");
			if (this.empleado) {
				const now = moment();
				var diff = now.diff(
					moment(this.empleado.fechaIngreso, "YYYYMMDD"),
					"years"
				);
				if (diff != 1) return diff + " años";
				else return diff + " año";
			} else return "Sin fecha";
		},
		fechaIngreso() {
			if (this.empleado) {
				return moment(this.empleado.fechaIngreso, "YYYYMMDD").format(
					"LL"
				);
			} else return "sin fecha";
		},
	},
	watch: {
		usuario() {
			if (this.usuario) {
				this.getEmpleado(this.usuario.noEmpleado);
			}
		},
	},
};
</script>

<!-- <style>
.timeline {
	padding: 0;
	position: relative;
	list-style: none;
	font-family: sans-serif;
	margin: 10px 20px;
}
</style> -->
