<template>
	<b-card class="mt-3 shadow">
		<b-card-title>
			<i class="fas fa-info-circle pr-2"></i>
			<label style="font-size: 16px;">
				Mi información
			</label>
			<hr class="mb-0" />
		</b-card-title>

		<b-skeleton-wrapper :loading="busyEmpleado">
			<template #loading>
				<b-card>
					<b-row>
						<b-col>
							<b-skeleton class="my-2" width="85%"></b-skeleton>
							<b-skeleton class="my-2" width="55%"></b-skeleton>
							<b-skeleton class="my-2" width="70%"></b-skeleton>
							<b-skeleton class="my-2" width="85%"></b-skeleton>
							<b-skeleton class="my-2" width="70%"></b-skeleton>
						</b-col>
						<b-col>
							<b-skeleton class="my-2" width="85%"></b-skeleton>
							<b-skeleton class="my-2" width="55%"></b-skeleton>
							<b-skeleton class="my-2" width="70%"></b-skeleton>
							<b-skeleton class="my-2" width="85%"></b-skeleton>
							<b-skeleton class="my-2" width="70%"></b-skeleton>
						</b-col>
					</b-row>
				</b-card>
			</template>

			<b-card-text style="font-family: system-ui;">
				<b-row>
					<b-col lg="7">
						<b-table-simple
							class="mb-0"
							style="font-size: 12px;"
							responsive
						>
							<b-thead style="background-color: #f8f9fa;">
								<b-tr class="text-center">
									<b-th>
										Vacaciones
									</b-th>
									<b-th>
										Permisos
									</b-th>
								</b-tr>
							</b-thead>
							<b-tbody>
								<b-tr>
									<b-td class="pt-0">
										<b-table-simple
											class="mb-0"
											style="font-size: 11px;"
										>
											<b-tbody>
												<b-tr>
													<b-td
														style="border-top: 0rem;"
														>Días disponibles</b-td
													>
													<b-td
														style="border-top: 0rem;"
														><strong
															><font
																style="font-size: 12px;"
																>{{
																	diasDisponibles
																}}</font
															>
															días</strong
														></b-td
													>
												</b-tr>
												<b-tr>
													<b-td
														>Días que
														corresponden</b-td
													>
													<b-td
														><strong
															><font
																style="font-size: 12px;"
																>{{
																	diasCorrespondientes
																}}</font
															>
															días</strong
														></b-td
													>
												</b-tr>
												<b-tr v-if="diasPendientes > 0">
													<b-td
														style="border-bottom: 1px solid #e8e8e8;"
														>Días pendientes
														<i
															class="fas fa-info-circle ml-2"
															v-b-tooltip.hover.html="
																tooltipDiasPendientes
															"
															style="font-size: 15px;color: #f39c12;"
														></i
													></b-td>
													<b-td
														style="border-bottom: 1px solid #e8e8e8;"
														><strong
															><font
																style="font-size: 12px;"
																>{{
																	diasPendientes
																}}</font
															>
															días</strong
														></b-td
													>
												</b-tr>
												<b-tr>
													<b-td
														style="border-bottom: 1px solid #e8e8e8;"
														>Días acumulados
													</b-td>
													<b-td
														style="border-bottom: 1px solid #e8e8e8;"
														><strong
															><font
																style="font-size: 12px;"
																>{{
																	diasAcumulados
																}}</font
															>
															días</strong
														></b-td
													>
												</b-tr>
											</b-tbody>
										</b-table-simple>
									</b-td>
									<b-td class="pt-0">
										<b-table-simple
											class="mb-0"
											style="font-size: 11px;"
										>
											<b-tbody>
												<b-tr>
													<b-td
														style="border-top: 0rem;"
														>Horas disponibles</b-td
													>
													<b-td
														style="border-top: 0rem;"
														><strong
															><font
																style="font-size: 12px;"
																>{{
																	horasDisponibles
																}}</font
															>
															Hrs</strong
														></b-td
													>
												</b-tr>
												<b-tr>
													<b-td
														style="border-bottom: 1px solid #e8e8e8;"
														>Horas que
														corresponden</b-td
													>
													<b-td
														style="border-bottom: 1px solid #e8e8e8;"
														><strong
															><font
																style="font-size: 12px;"
															>
																24 </font
															>Hrs</strong
														></b-td
													>
												</b-tr>
											</b-tbody>
										</b-table-simple>
									</b-td>
								</b-tr>
							</b-tbody>
						</b-table-simple>
					</b-col>

					<b-col lg="5" class="pt-4">
						<div
							class="d-flex w-100 justify-content-between"
							style="margin-bottom: 10px;"
						>
							<p class="mb-0" style="font-size:11px">
								Número de empleado:
							</p>
							<p class="mb-0" style="font-size:11px">
								<strong>{{ empleado.noEmpleado }}</strong>
							</p>
						</div>
						<div
							class="d-flex w-100 justify-content-between"
							style="margin-bottom: 10px;"
						>
							<p class="mb-0" style="font-size:11px">
								Puesto:
							</p>
							<p class="mb-0" style="font-size:11px">
								<strong>{{ empleado.nombre_puesto }}</strong>
							</p>
						</div>
						<div
							class="d-flex w-100 justify-content-between"
							style="margin-bottom: 10px;"
						>
							<p class="mb-0" style="font-size:11px">
								Área:
							</p>
							<p class="mb-0" style="font-size:11px">
								<strong>{{ empleado.nombre_area }}</strong>
							</p>
						</div>
						<div
							class="d-flex w-100 justify-content-between"
							style="margin-bottom: 10px;"
						>
							<p class="mb-0" style="font-size:11px">
								Años de servicio:
							</p>
							<p class="mb-0" style="font-size:11px">
								<strong>{{ tiempoServicio }}</strong>
							</p>
						</div>
						<div
							class="d-flex w-100 justify-content-between"
							style="margin-bottom: 10px;"
						>
							<p class="mb-0" style="font-size:11px">
								Fecha de ingreso:
							</p>
							<p class="mb-0" style="font-size:11px">
								<strong>{{ fechaIngreso }}</strong>
							</p>
						</div>
					</b-col>
				</b-row>
			</b-card-text>
		</b-skeleton-wrapper>
	</b-card>
</template>

<script>
import { mapState, mapMutations, mapActions } from "vuex";
export default {
	data() {
		return {
			fechaActual: moment().format("YYYY-MM-DD"),
		};
	},
	mounted() {
		moment.locale("es");
	},
	methods: {
		...mapMutations("th_empleados", [
			"setDiasDisponibles",
			"setTiempoServicio",
			"setHorasDisponibles",
			"setDiasPendientes",
			"setDiasAcumulados",
		]),

		setDiasCorrespondientes(antiguedad, periodo) {
			if (periodo >= "2023") {
				if (antiguedad >= 1 && 5 >= antiguedad) {
					return 10 + 2 * antiguedad;
				} else if (antiguedad >= 6 && 10 >= antiguedad) {
					return 22;
				} else if (antiguedad >= 11 && 15 >= antiguedad) {
					return 24;
				} else if (antiguedad >= 16 && 20 >= antiguedad) {
					return 26;
				} else if (antiguedad >= 21 && 25 >= antiguedad) {
					return 28;
				} else if (antiguedad >= 26 && 30 >= antiguedad) {
					return 30;
				} else if (antiguedad >= 31 && 35 >= antiguedad) {
					return 32;
				}
			} else {
				if (antiguedad >= 1 && 4 >= antiguedad) {
					return 4 + 2 * antiguedad;
				} else if (antiguedad >= 5 && 9 >= antiguedad) {
					return 14;
				} else if (antiguedad >= 10 && 14 >= antiguedad) {
					return 16;
				} else if (antiguedad >= 15 && 19 >= antiguedad) {
					return 18;
				} else if (antiguedad >= 20 && 24 >= antiguedad) {
					return 20;
				} else if (antiguedad >= 25 && 29 >= antiguedad) {
					return 22;
				} else {
					return 0;
				}
			}
		},
		setDiasVacacionesPendientes(solicitudes, vacacionesPendientes) {
			var solicitudesFiltered = solicitudes.filter(
				(item) =>
					item.tipo == "Vacaciones" &&
					item.diasTomadosPendiente > 0 &&
					item.idEtapa != 3
			);
			if (solicitudesFiltered) {
				var diasAcumulados = solicitudesFiltered.reduce(
					(sum, item) => sum + item.diasTomadosPendiente,
					0
				);
				if (diasAcumulados >= vacacionesPendientes.diasAcumulados) {
					this.setDiasPendientes(0);
					return 0;
				} else {
					var diasTotales =
						vacacionesPendientes.diasAcumulados - diasAcumulados;
					this.setDiasPendientes(diasTotales);
					return diasTotales;
				}
			} else {
				this.setDiasPendientes(vacacionesPendientes.diasAcumulados);
				return vacacionesPendientes.diasAcumulados;
			}
		},
		tooltipDiasPendientes() {
			return (
				"Fecha limite para disfrutar tus días pendientes " +
				this.vacacionesPendientes.fechaTermino
			);
		},
	},
	computed: {
		...mapState(["permissions"]),
		...mapState("th_empleados", ["empleado", "busyEmpleado"]),
		...mapState("th_vp_solicitudes", [
			"listSolicitudesByEmpleado",
			"vacacionesPendientes",
		]),
		tiempoServicio() {
			moment.locale("es");
			if (Object.entries(this.empleado).length != 0) {
				const fechaActual = moment();
				var antiguedad = fechaActual.diff(
					moment(this.empleado.fechaIngreso, "YYYY-MM-DD"),
					"years"
				);
				this.setTiempoServicio(antiguedad);
				if (antiguedad != 1) return antiguedad + " años";
				else return antiguedad + " año";
			} else {
				this.setTiempoServicio(0);
				return "Sin fecha";
			}
		},
		fechaIngreso() {
			if (Object.entries(this.empleado).length != 0) {
				return moment(this.empleado.fechaIngreso, "YYYY-MM-DD").format(
					"LL"
				);
			} else return "sin fecha";
		},
		diasCorrespondientes() {
			moment.locale("es");
			if (Object.entries(this.empleado).length != 0) {
				const fechaActual = moment();
				var antiguedad = fechaActual.diff(
					moment(this.empleado.fechaIngreso, "YYYY-MM-DD"),
					"years"
				);
				var periodo = moment(this.empleado.fechaIngreso)
					.add(antiguedad, "years")
					.format("YYYY");

				if (periodo >= "2023") {
					return this.setDiasCorrespondientes(antiguedad, periodo);
				} else return 0;
			} else return 0;
		},
		diasDisponibles() {
			if (this.listSolicitudesByEmpleado.length) {
				if (this.diasPendientes > 0) {
					this.setDiasDisponibles(this.diasCorrespondientes);
					return this.diasCorrespondientes;
				} else {
					var solicitudes = this.listSolicitudesByEmpleado.filter(
						(item) => item.tipo == "Vacaciones" && item.idEtapa != 3
					);
					var diasSolicitados = solicitudes.reduce(
						(sum, item) => sum + item.dias,
						0
					);
					if (this.vacacionesPendientes) {
						var diasAcumulados =
							diasSolicitados -
							this.vacacionesPendientes.diasTomados;
					}
					var dias = this.diasCorrespondientes - diasSolicitados;
					this.setDiasDisponibles(dias);
					return dias;
				}
			} else {
				this.setDiasDisponibles(this.diasCorrespondientes);
				return this.diasCorrespondientes;
			}
		},
		diasPendientes() {
			if (this.vacacionesPendientes) {
				if (
					this.vacacionesPendientes.diasAcumulados >
						this.vacacionesPendientes.diasTomados &&
					moment(this.fechaActual).isSameOrBefore(
						this.vacacionesPendientes.fechaTermino
					)
				) {
					if (this.listSolicitudesByEmpleado.length) {
						return this.setDiasVacacionesPendientes(
							this.listSolicitudesByEmpleado,
							this.vacacionesPendientes
						);
					} else {
						this.setDiasPendientes(
							this.vacacionesPendientes.diasAcumulados
						);
						return this.vacacionesPendientes.diasAcumulados;
					}
				} else {
					this.setDiasPendientes(0);
					return 0;
				}
			} else {
				this.setDiasPendientes(0);
				return 0;
			}
		},
		diasAcumulados() {
			if (Object.entries(this.empleado).length != 0) {
				const fechaActual = moment();
				var antiguedad = fechaActual.diff(
					moment(this.empleado.fechaIngreso, "YYYY-MM-DD"),
					"years"
				);
				var ultimoPeriodo = moment(this.empleado.fechaIngreso)
					.add(antiguedad, "years")
					.format("YYYY");

				if (parseInt(ultimoPeriodo) > 2022) {
					var acumulado = 0;
					for (
						var periodo = 2022;
						parseInt(ultimoPeriodo) > periodo;
						periodo++
					) {
						var antiguedadPeriodo =
							antiguedad - (parseInt(ultimoPeriodo) - periodo);
						var diasCorresponden = this.setDiasCorrespondientes(
							antiguedadPeriodo,
							periodo
						);
						if (this.listSolicitudesByEmpleado.length) {
							var solicitudesPeriodo = this.listSolicitudesByEmpleado.filter(
								(item) =>
									item.tipo == "Vacaciones" &&
									item.idEtapa != 3 &&
									item.periodo == periodo
							);
							if (solicitudesPeriodo) {
								var diasSolicitados = solicitudesPeriodo.reduce(
									(sum, item) => sum + item.dias,
									0
								);
								acumulado += diasCorresponden - diasSolicitados;
							}
						} else {
							acumulado += diasCorresponden;
						}
					}
					this.setDiasAcumulados(acumulado);
					return acumulado;
				} else {
					this.setDiasAcumulados(0);
					return 0;
				}
			} else {
				this.setDiasAcumulados(0);
				return 0;
			}
		},
		horasDisponibles() {
			var horasCorrespondientes = 24;
			if (this.listSolicitudesByEmpleado.length) {
				var solicitudes = this.listSolicitudesByEmpleado.filter(
					(item) => item.tipo == "Permiso"
				);
				var horasAcumulados = solicitudes.reduce(
					(sum, item) => sum + item.horas,
					0
				);
				var horas = horasCorrespondientes - horasAcumulados;
				this.setHorasDisponibles(horas);
				return horas;
			} else {
				this.setHorasDisponibles(horasCorrespondientes);
				return horasCorrespondientes;
			}
		},
	},
	watch: {},
};
</script>
