<template>
	<div class="mx-2">
		<b-row>
			<b-col lg="8">
				<div class="input-group w-100 bg-light">
					<div class="input-group-prepend bg-light mr-1 ml-3">
						<div class="pt-2 bg-light">
							<i class="fas fa-search"></i>
						</div>
					</div>
					<b-form-input
						id="input-search-procesos"
						class="form-control border-0 bg-light"
						placeholder="Escribe tu busqueda aquí"
						style="
                            overflow: hidden;
                            overflow-wrap: break-word;
                            resize: none;
                            font-size: 12px;
                        "
						@change="setFilterSearch"
						:input="filterSearch"
					></b-form-input>
				</div>
			</b-col>
			<b-col lg="4">
				<b-link
					class="text-secondary mr-2 mt-2 float-right"
					style="cursor: pointer; font-size: 13px"
					v-b-modal.modal-filters
				>
					<i
						class="fas fa-funnel-dollar"
						style="margin-right: 1px"
					></i>
					<b>Filtrar</b>
				</b-link>
			</b-col>
		</b-row>
		<modal-component
			:title="'Filtrar Solicitudes'"
			:id="'modal-filters'"
			:hideFooter="true"
			:hideHeader="true"
		>
			<template slot="content">
				<b-form-group>
					<template v-slot:label>
						<div class="lab-form">
							Fecha Inicio
						</div>
					</template>
					<div class="input-group w-100 bg-white">
						<b-form-datepicker
							id="picker-inicio"
							v-model="filters.inicio"
							locale="es"
							start-weekday="4"
							:show-decade-nav="false"
							:hide-header="true"
							label-help
							selected-variant="secondary"
							label-no-date-selected="Seleccione"
							:date-format-options="{
								day: 'numeric',
								year: 'numeric',
								month: 'long',
							}"
						></b-form-datepicker>
						<div class="input-group-append">
							<div class="text-center pt-2">
								<b-link
									class="text-secondary mr-2 ml-3 mt-2"
									@click="filters.inicio = null"
									>&times;</b-link
								>
							</div>
						</div>
					</div>
					<p class="text-danger" v-if="errorFechaInicio">
						<small>Requerido</small>
					</p>
				</b-form-group>

				<b-form-group>
					<template v-slot:label>
						<div class="lab-form">
							Fecha Fin
						</div>
					</template>
					<div class="input-group w-100 bg-white">
						<b-form-datepicker
							id="picker-fin"
							v-model="filters.fin"
							locale="es"
							start-weekday="4"
							:show-decade-nav="false"
							:hide-header="true"
							label-help
							selected-variant="secondary"
							label-no-date-selected="Seleccione"
							:date-format-options="{
								day: 'numeric',
								year: 'numeric',
								month: 'long',
							}"
						></b-form-datepicker>
						<div class="input-group-append">
							<div class="text-center pt-2">
								<b-link
									class="text-secondary mr-2 ml-3 mt-2"
									@click="filters.fin = null"
									>&times;</b-link
								>
							</div>
						</div>
					</div>
					<p class="text-danger" v-if="errorFechaFin">
						<small>Requerido</small>
					</p>
				</b-form-group>

				<b-row>
					<b-col lg="9">
						<b-form-group>
							<template v-slot:label>
								<div class="lab-form">
									Etapa
								</div>
							</template>
							<b-dropdown
								id="dropdown-right"
								left
								variant="light"
								no-caret
								style="margin-top: 3px"
							>
								<template v-slot:button-content>
									<p class="mb-0">
										<strong>{{ etapa }}</strong
										><i
											class="fas fa-chevron-down ml-3"
										></i>
									</p>
								</template>

								<b-dropdown-item
									@click="setEtapa(1, 'Pendiente aceptación')"
									>Pendiente aceptación</b-dropdown-item
								>
								<b-dropdown-item
									@click="setEtapa(2, 'Aceptada')"
									>Aceptadas</b-dropdown-item
								>
								<b-dropdown-item
									@click="
										setEtapa(3, 'Rechazada')
									"
									>Rechazadas</b-dropdown-item
								>
								<b-dropdown-item
									@click="
										setEtapa(4, 'Recabar firmas')
									"
									>Recabar firmas</b-dropdown-item
								>
								<b-dropdown-item
									@click="
										setEtapa(5, 'Terminado')
									"
									>Terminadas</b-dropdown-item
								>
								<b-dropdown-item
									@click="setEtapa(null, 'Todas')"
									>Todas</b-dropdown-item
								>
							</b-dropdown>
						</b-form-group>
					</b-col>
					<b-col lg="3">
						<div class="mt-5 text-right">
							<b-button
								variant="danger"
								@click="filtrarSolicitudes"
								>FILTRAR</b-button
							>
						</div>
					</b-col>
				</b-row>
			</template>
		</modal-component>
	</div>
</template>

<script>
import { mapState, mapActions, mapMutations } from "vuex";
export default {
	data() {
		return {
			selected: null,
			etapa: "Todas",
			filters: {
				inicio: null,
				fin: null,
				idEtapa: null,
			},
			errorFechaInicio: false,
			errorFechaFin: false,
		};
	},
	mounted() {},
	methods: {
		...mapMutations("th_vp_solicitudes", [
			"setFilterInicio",
			"setFilterFin",
			"setFilterEtapa",
			"setFilterSearch",
		]),

		hasPermission(funcion) {
			if (this.permissions.length) {
				const permiso = this.permissions.find(
					(permiso) => permiso.idFuncion == funcion
				);
				if (permiso) return true;
				return false;
			}
		},
		setEtapa(idEtapa, nombre) {
			this.filters.idEtapa = idEtapa;
			this.etapa = nombre;
		},
		filtrarSolicitudes() {
			if (!this.filters.inicio && this.filters.fin) {
				this.errorFechaInicio = true;
				this.errorFechaFin = false;
			} else if (!this.filters.fin && this.filters.inicio) {
				this.errorFechaFin = true;
				this.errorFechaInicio = false;
			} else {
				this.errorFechaFin = false;
				this.errorFechaInicio = false;
			}
			if (!this.errorFechaInicio && !this.errorFechaFin) {
				this.setFilterInicio(this.filters.inicio);
				this.setFilterFin(this.filters.fin);
				this.setFilterEtapa(this.filters.idEtapa);
				this.$bvModal.hide("modal-filters");
			}
		},
	},
	computed: {
		...mapState(["permissions", "usuario"]),
		...mapState("th_vp_solicitudes", ["filterSearch"]),
	},
};
</script>
