<template>
	<b-overlay
		:show="overlay"
		rounded="sm"
		opacity="1.0"
		blur="1px"
		variant="transparent"
	>
		<b-skeleton-wrapper :loading="busyEmpleado">
			<template #loading>
				<b-card>
					<b-skeleton class="py-3 my-2" width="85%"></b-skeleton>
					<b-skeleton class="py-3 my-2" width="55%"></b-skeleton>
					<b-skeleton class="py-3 my-2" width="70%"></b-skeleton>
					<b-skeleton class="py-3 my-2" width="85%"></b-skeleton>
					<b-skeleton class="py-3 my-2" width="70%"></b-skeleton>
					<b-skeleton class="py-3 my-2" width="55%"></b-skeleton>
				</b-card>
			</template>

			<b-card
				class="shadow"
				style="height: calc(100vh - 395px); overflow: visible"
			>
				<b-card-text style="font-family: system-ui;">
					<div class="mx-2 d-flex w-100 justify-content-between">
						<div>
							<b-nav>
								<b-nav-item class="button-vacaciones">
									<label
										class="text-dark mb-0"
										style="cursor: pointer; font-size: 13px"
										@click="tipoSolicitud = 'Vacaciones'"
									>
										<b>Vacaciones</b>
									</label>
									<hr
										v-if="tipoSolicitud == 'Vacaciones'"
										style="border-top: 3px solid #950f1c"
										class="my-1"
									/>
								</b-nav-item>

								<b-nav-item class="button-permisos">
									<label
										class="text-dark mb-0"
										style="cursor: pointer; font-size: 13px"
										@click="tipoSolicitud = 'Permiso'"
									>
										<b>Permisos</b>
									</label>
									<hr
										v-if="tipoSolicitud == 'Permiso'"
										style="border-top: 3px solid #950f1c"
										class="my-1"
									/>
								</b-nav-item>
							</b-nav>
						</div>
					</div>

					<b-progress
						class="mt-1 mb-4"
						height="3px"
						variant="danger"
						:striped="true"
						:value="valueProgress"
					>
					</b-progress>

					<audio id="audio">
						<source type="audio/mpeg" src="/sounds/tono.mp3" />
					</audio>

					<b-container
						v-if="tipoSolicitud == 'Vacaciones'"
						class="py-3 shadow-sm"
						id="container-form-solicitud"
						fluid
					>
						<template v-if="tiempoServicio > 0">
							<template v-if="diasDisponiblesAcumulado > 0">
								<b-row>
									<b-col lg="5">
										<b-form-group
											label-cols-lg="3"
											label-align-lg="right"
											class="mb-1"
										>
											<template v-slot:label>
												<div
													class="lab-form mt-0"
													style="font-size: 13px;"
												>
													Solicitar de:
												</div>
											</template>

											<v-date-picker
												:available-dates="{
													start: new Date(),
													end: null,
												}"
												:attributes="attributes"
												:columns="
													$screens({
														default: 1,
														lg: 1,
													})
												"
												v-model="rangoFechas"
												mode="range"
												color="red"
												style="font-size: 12px;"
											>
												<template
													v-slot="{
														inputValue,
														inputEvents,
													}"
												>
													<input
														id="date"
														class="bg-white w-full appearance-none border rounded-l focus:outline-none"
														:value="inputValue"
														v-on="inputEvents"
														placeholder="00/00/0000 - 00/00/0000"
														style="width: 230px; text-align: center; border: 1px solid #ced4da;border-radius: 0.25rem; padding: 0.375rem 1.75rem 0.375rem 0.75rem; float: right;"
													/>
												</template>
											</v-date-picker>
										</b-form-group>
									</b-col>
									<b-col lg="7">
										<b-alert
											show
											:variant="diasDisfrutar.variant"
											class="border-0 mt-0 py-2 shadow-sm"
											style="border-radius: 1rem !important; width: max-content;"
										>
											<p
												style="font-size: 12px"
												class="mb-0"
											>
												<i
													class="mr-2"
													:class="diasDisfrutar.icon"
												></i>
												{{ diasDisfrutar.text }}
											</p>
										</b-alert>
									</b-col>
								</b-row>

								<b-form-group class="mb-1">
									<template v-slot:label>
										<div
											class="lab-form"
											style="font-size: 13px;"
										>
											Comentarios:
										</div>
									</template>

									<b-form-textarea
										id="textarea"
										v-model="$v.form.descripcion.$model"
										:state="
											$v.form.descripcion.$dirty
												? !$v.form.descripcion.$error
												: null
										"
										placeholder="añadir comentarios"
										rows="2"
										max-rows="2"
										style="font-size: 12px;"
									></b-form-textarea>
									<b-form-invalid-feedback
										id="feedback-comentarios"
									>
										Campo obligatorio
									</b-form-invalid-feedback>
								</b-form-group>

								<b-container fluid class="text-right">
									<b-button
										variant="danger"
										class="mt-2"
										style="border-radius: 0rem"
										@click="submit"
										:disabled="diasDisfrutar.disabled"
									>
										SOLICITAR
									</b-button>
								</b-container>
							</template>
							<template v-else>
								<h5
									class="text-center display-1 text-secondary mt-5"
									style="font-size: 14px;"
								>
									<strong>
										<i
											class="fas fa-info pr-3 text-danger"
										></i>
										No cuenta con días disponibles para
										solicitar vacaciones.</strong
									>
								</h5>
							</template>
						</template>

						<template v-else>
							<h5
								class="text-center display-1 text-secondary mt-5"
								style="font-size: 14px;"
							>
								<strong>
									<i class="fas fa-info pr-3 text-danger"></i>
									Para habilitar la sección “Vacaciones” es
									necesario por lo menos haber cumplido un año
									laboral.</strong
								>
							</h5>
						</template>
					</b-container>

					<b-container
						v-if="tipoSolicitud == 'Permiso'"
						class="py-3 shadow-sm"
						id="container-form-solicitud"
						fluid
					>
						<b-row>
							<b-col lg="8">
								<b-form-group
									label-cols-lg="3"
									label-align-lg="right"
									class="mb-1"
								>
									<template v-slot:label>
										<div
											class="lab-form mt-1"
											style="font-size: 12px;"
										>
											Motivo de ausencia:
										</div>
									</template>
									<b-form-select
										v-model="$v.selectedMotivo.$model"
										:state="
											$v.selectedMotivo.$dirty
												? !$v.selectedMotivo.$error
												: null
										"
										:options="selectMotivosAusencia"
										style="font-size: 12px;"
									>
										<template v-slot:first>
											<option :value="null" disabled
												>Seleccione</option
											>
										</template>
									</b-form-select>
									<b-form-invalid-feedback
										id="feedback-motivoAusencia"
									>
										Campo obligatorio
									</b-form-invalid-feedback>
								</b-form-group>
							</b-col>
							<b-col lg="4">
								<b-form-group
									label-cols-lg="2"
									label-align-lg="right"
									class="mb-1"
								>
									<template v-slot:label>
										<div
											class="lab-form mt-1"
											style="font-size: 12px;"
										>
											Fecha:
										</div>
									</template>

									<v-date-picker
										:available-dates="availableDates"
										:attributes="attributes"
										:columns="
											$screens({ default: 1, lg: 1 })
										"
										v-model="form.fechaInicio"
										color="red"
										style="font-size: 12px;"
									>
										<template
											v-slot="{ inputValue, inputEvents }"
										>
											<input
												id="date"
												class="bg-white w-full appearance-none border rounded-l focus:outline-none"
												:value="inputValue"
												v-on="inputEvents"
												placeholder="00/00/0000"
												style="width: 210px; text-align: center; border: 1px solid #ced4da;border-radius: 0.25rem; padding: 0.375rem 1.75rem 0.375rem 0.75rem; float: right;"
											/>
										</template>
									</v-date-picker>
								</b-form-group>
							</b-col>
						</b-row>

						<b-row class="mt-2">
							<b-col lg="3">
								<b-form-group
									label-cols-lg="5"
									label-align-lg="right"
									class="mb-1"
								>
									<template v-slot:label>
										<div
											class="lab-form mt-1"
											style="font-size: 12px;"
										>
											Hora inicio:
										</div>
									</template>

									<b-form-timepicker
										locale="en"
										class="mb-2"
										placeholder="00:00"
										v-model="form.horaInicio"
										style="font-size: 12px;"
									></b-form-timepicker>
								</b-form-group>
							</b-col>
							<b-col lg="3">
								<b-form-group
									label-cols-lg="5"
									label-align-lg="right"
									class="mb-1"
								>
									<template v-slot:label>
										<div
											class="lab-form mt-1"
											style="font-size: 12px;"
										>
											Hora termino:
										</div>
									</template>

									<b-form-timepicker
										locale="en"
										class="mb-2"
										placeholder="00:00"
										v-model="form.horaFin"
										style="font-size: 12px;"
									></b-form-timepicker>
								</b-form-group>
							</b-col>
							<b-col lg="6">
								<b-alert
									show
									:variant="horasDisfrutar.variant"
									class="border-0 mt-0 py-2 shadow-sm"
									style="border-radius: 1rem !important; width: auto;"
								>
									<p style="font-size: 12px" class="mb-0">
										<i
											class="mr-2"
											:class="horasDisfrutar.icon"
										></i>
										{{ horasDisfrutar.text }}
									</p>
								</b-alert>
							</b-col>
						</b-row>

						<b-form-group class="mb-1">
							<template v-slot:label>
								<div class="lab-form" style="font-size: 13px;">
									Comentarios:
								</div>
							</template>

							<b-form-textarea
								id="textarea"
								v-model="$v.form.descripcion.$model"
								:state="
									$v.form.descripcion.$dirty
										? !$v.form.descripcion.$error
										: null
								"
								placeholder="añadir comentarios"
								rows="2"
								max-rows="2"
								style="font-size: 12px;"
							></b-form-textarea>
							<b-form-invalid-feedback id="feedback-comentarios">
								Campo obligatorio
							</b-form-invalid-feedback>
						</b-form-group>

						<b-container fluid class="text-right">
							<b-button
								variant="danger"
								class="mt-2"
								style="border-radius: 0rem"
								@click="submit"
								:disabled="horasDisfrutar.disabled"
							>
								SOLICITAR
							</b-button>
						</b-container>
					</b-container>
				</b-card-text>
			</b-card>
		</b-skeleton-wrapper>
	</b-overlay>
</template>

<script>
import { mapMutations, mapState, mapActions } from "vuex";
import { required } from "vuelidate/lib/validators";

export default {
	data() {
		return {
			overlay: false,
			errorSubmit: false,
			valueProgress: 0,
			autorizador: null,
			tipoSolicitud: "Vacaciones",
			selectedAusencia: null,
			selectedMotivo: null,
			selectedEmpleado: null,

			optionsEmpleados: [
				"Bruno Padilla Guerrero",
				"Alejandro Castro Saucedo",
				"Felipe Esquivel Hernandez",
			],
			rangoFechas: {
				start: null,
				end: null,
			},
			form: {
				idUsuario: null,
				motivoAusencia: null,
				fechaInicio: null,
				fechaFin: null,
				dias: 0,
				horaInicio: null,
				horaFin: null,
				descripcion: null,
				tipo: null,
				idAutorizador: null,
				fechaAutorizacion: null,
				autorizacion: null,
				idEtapa: 1,
			},
		};
	},
	mounted() {
		this.getAutorizaciones();
	},
	methods: {
		...mapMutations("th_vp_solicitudes", [
			"addSolicitud",
			"addSolicitudByEmpleado",
		]),

		async submit() {
			moment.locale("es");
			this.overlay = true;
			this.errorSubmit = false;
			this.$v.$touch();
			if (!this.$v.$invalid) {
				try {
					this.form.tipo = this.tipoSolicitud;
					this.form.idUsuario = this.usuario.idUsuario;
					this.form.idAutorizador = this.autorizador.idAutorizador1;
					this.form.periodo = moment().format("YYYY");

					if (
						this.diasPendientes > 0 &&
						this.tipoSolicitud == "Vacaciones"
					) {
						this.form.pendientes = true;
						this.form.noEmpleado = this.usuario.noEmpleado;
					} else {
						this.form.pendientes = false;
					}

					if (this.tipoSolicitud == "Vacaciones") {
						this.form.fechaInicio = moment(
							this.rangoFechas.start
						).format("YYYY-MM-DD");
						this.form.fechaFin = moment(
							this.rangoFechas.end
						).format("YYYY-MM-DD");
						this.form.motivoAusencia = this.tipoSolicitud;
						this.form.dias = this.diasDisfrutar.dias;
						this.form.horas = null;
					} else {
						this.form.fechaInicio = moment(
							this.form.fechaInicio
						).format("YYYY-MM-DD");
						this.form.fechaFin = null;
						this.form.dias = null;
						this.form.horas = this.diffHoras;
						this.form.motivoAusencia = this.selectedMotivo.motivo;
					}

					const response = await axios.post(
						`/api/th/vp/solicitud`,
						this.form
					);

					if (response.data.success) {
						this.interval = setInterval(this.runProgress, 700);
						this.addSolicitud(response.data.solicitud);
						this.addSolicitudByEmpleado(response.data.solicitud);
					}
					
				} catch (e) {
					console.log(e);
					this.overlay = false;
					this.errorSubmit = true;
				}
			} else {
				this.overlay = false;
			}
		},
		async getAutorizaciones() {
			const response = await axios.get(
				BaseUrl + `/api/th/vp/configuracion/autorizaciones`
			);
			var autorizaciones = response.data;
			if (response.data) {
				this.autorizador = response.data.find(
					(item) => item.idUsuario == this.usuario.idUsuario
				);
			}
		},
		reproducir() {
			var audio = document.getElementById("audio");
			audio.play();
		},
		runProgress() {
			this.valueProgress += 20;
			if (this.valueProgress == 100) {
				clearInterval(this.interval);
				this.valueProgress = 0;
				this.clearForm();
				this.overlay = false;
				this.reproducir();
			}
		},
		clearForm() {
			this.form.fechaInicio = null;
			this.form.fechaFin = null;
			this.form.horaInicio = null;
			this.form.horaFin = null;
			this.form.motivoAusencia = null;
			this.form.descripcion = null;
			this.form.tipo = null;
			this.form.idAutorizador = null;
			this.rangoFechas = {
				start: null,
				end: null,
			};
			this.$nextTick(() => {
				this.$v.$reset();
			});
		},
		round10(value, exp) {
			return this.decimalAdjust("round", value, exp);
		},
		decimalAdjust(type, value, exp) {
			if (typeof exp === "undefined" || +exp === 0) {
				return Math[type](value);
			}
			value = +value;
			exp = +exp;
			if (isNaN(value) || !(typeof exp === "number" && exp % 1 === 0)) {
				return NaN;
			}
			value = value.toString().split("e");
			value = Math[type](
				+(value[0] + "e" + (value[1] ? +value[1] - exp : -exp))
			);
			value = value.toString().split("e");
			return +(value[0] + "e" + (value[1] ? +value[1] + exp : exp));
		},
	},
	computed: {
		...mapState(["usuario"]),
		...mapState("th_motivos_ausencia", ["listMotivosAusencia"]),
		...mapState("th_dias_festivos", ["listDiasFestivos"]),
		...mapState("th_empleados", [
			"empleado",
			"diasDisponibles",
			"tiempoServicio",
			"horasDisponibles",
			"busyEmpleado",
			"diasPendientes",
			"diasAcumulados",
		]),

		diasDisponiblesAcumulado() {
			return (
				this.diasDisponibles + this.diasPendientes + this.diasAcumulados
			);
		},
		diasDisfrutar() {
			moment.locale("es");
			if (this.rangoFechas) {
				var dateStart = moment(this.rangoFechas.start).format(
					"YYYY-MM-DD"
				);
				var dateEnd = moment(this.rangoFechas.end).format("YYYY-MM-DD");
				var dias = moment(dateEnd).diff(moment(dateStart), "days") + 1;
				const year = moment().format("YYYY");
				var unicoDiaDominical = false;
				var unicoDiaFestivo = false;
				var numDom = 0;

				//CALCULAR DÍAS FESTIVOS
				var diasFestivos = this.listDiasFestivos.filter((item) => {
					if (
						item.periodo == year &&
						moment(item.fechaFeriado).isSameOrBefore(dateEnd) &&
						moment(item.fechaFeriado).isSameOrAfter(dateStart)
					) {
						return item;
					}
				});
				// FIN CALCULAR DÍAS FESTIVOS

				// VALIDAR DÍAS A SOLICITAR
				if (moment(dateStart).format("e") == 6) numDom += 1;
				if (moment(dateEnd).format("e") == 6) numDom += 1;
				if (dias == 1) {
					if (numDom > 0) {
						unicoDiaDominical = true;
					} else {
						if (diasFestivos.length > 0) unicoDiaFestivo = true;
					}
				} else {
					if (dias == 2) {
						dias -= numDom;
					} else {
						for (var i = 1; dias - 1 > i; i++) {
							let date = moment(dateStart)
								.add(i, "days")
								.format("YYYY-MM-DD");
							if (moment(date).format("e") == 6) {
								numDom += 1;
							}
						}
						dias -= numDom;
					}
					dias -= diasFestivos.length;
				}
				// FIN VALIDAR DÍAS A SOLICITAR

				if (unicoDiaFestivo) {
					return {
						disabled: true,
						dias: 0,
						text:
							"El día seleccionado corresponde a un día inhábil",
						icon: "fas fa-exclamation-triangle",
						variant: "danger",
					};
				} else if (unicoDiaDominical) {
					return {
						disabled: true,
						dias: 0,
						text:
							"El día seleccionado corresponde a un día de descanso",
						icon: "fas fa-exclamation-triangle",
						variant: "danger",
					};
				} else {
					if (dias < 1) {
						return {
							disabled: true,
							dias: dias,
							text: dias + " " + "días a disfrutar",
							icon: "fas fa-calendar-times",
							variant: "danger",
						};
					} else if (dias > this.diasDisponiblesAcumulado) {
						return {
							disabled: true,
							dias: dias,
							text:
								"Los días por solicitar exceden el número de días disponibles (" +
								dias +
								" / " +
								this.diasDisponiblesAcumulado +
								")",
							icon: "fas fa-calendar-times",
							variant: "danger",
						};
					} else {
						return {
							disabled: false,
							dias: dias,
							text: dias + " " + "días a disfrutar",
							icon: "far fa-calendar-check",
							variant: "success",
						};
					}
				}
			} else {
				return {
					disabled: true,
					dias: 0,
					text: "Elegir periodo vacacional",
					icon: "fas fa-info-circle",
					variant: "warning",
				};
			}
		},
		horasDisfrutar() {
			moment.locale("es");
			if (this.form.fechaInicio) {
				var dateStart = moment(this.form.fechaInicio).format(
					"YYYY-MM-DD"
				);
				if (
					this.listDiasFestivos.filter(
						(item) => item.fechaFeriado == dateStart
					).length > 0
				) {
					return {
						disabled: true,
						text:
							"El día seleccionado corresponde a un día inhábil",
						icon: "fas fa-calendar-times",
						variant: "danger",
					};
				} else if (moment(dateStart).format("e") == 6) {
					return {
						disabled: true,
						text:
							"El día seleccionado corresponde a un día de descanso",
						icon: "fas fa-calendar-times",
						variant: "danger",
					};
				}
			}

			if (this.diffHoras) {
				if (this.diffHoras > this.horasDisponibles) {
					return {
						disabled: true,
						text:
							"Las horas solicitadas exceden el número de horas permitidas (" +
							diffHoras +
							"hrs" +
							" / " +
							this.horasDisponibles +
							"hrs )",
						icon: "fas fa-clock",
						variant: "danger",
					};
				} else {
					if (this.diffHoras > 8) {
						return {
							disabled: true,
							text:
								"Las " +
								this.diffHoras +
								" horas solicitadas exceden las 8 horas permitidas por día",
							icon: "fas fa-clock",
							variant: "danger",
						};
					} else {
						return {
							disabled: false,
							text: this.diffHoras + " horas a solicitar",
							icon: "fas fa-clock",
							variant: "success",
						};
					}
				}
			} else {
				return {
					disabled: true,
					text: "Elegir hora inicio y hora termino",
					icon: "fas fa-info-circle",
					variant: "warning",
				};
			}
		},
		diffHoras() {
			moment.locale("es");
			var hora1 = moment(this.form.horaInicio, "HH:mm:ss");
			var hora2 = moment(this.form.horaFin, "HH:mm:ss");
			if (hora2 > hora1) var diff = hora2.diff(hora1, "minutes") / 60;
			else {
				var ultimaHora = moment("23:59", "HH:mm");
				var diff1 = ultimaHora.diff(hora1, "minutes") / 60;
				diff1 = this.round10(diff1, -1); //Redondear el segundo faltante
				var primeraHora = moment("00:00", "HH:mm");
				var diff2 = hora2.diff(primeraHora, "minutes") / 60;
				var diff = diff1 + diff2;
			}
			diff = +parseFloat(diff).toFixed(2);
			return diff;
		},
		selectMotivosAusencia() {
			if (this.listMotivosAusencia.length) {
				return this.listMotivosAusencia.map((item) => {
					return {
						text: item.motivo,
						value: {
							motivo: item.motivo,
							diasAnticipacion: item.diasAnticipacion,
						},
					};
				});
			} else return this.listMotivosAusencia;
		},
		availableDates() {
			if (this.selectedMotivo) {
				var start = moment().add(
					this.selectedMotivo.diasAnticipacion,
					"days"
				);
				return {
					start: new Date(start),
					end: null,
				};
			} else {
				return {
					start: new Date(),
					end: null,
				};
			}
		},
		attributes() {
			if (this.listDiasFestivos.length) {
				return this.listDiasFestivos.map((item) => {
					return {
						dot: {
							color: "yellow",
						},
						dates: new Date(moment(item.fechaFeriado)),
						popover: {
							label: item.descripcion,
						},
					};
				});
			} else {
				return [
					{
						key: "today",
						highlight: "yellow",
						dates: new Date(),
					},
				];
			}
		},
	},
	watch: {
		tipoSolicitud() {
			this.clearForm();
		},
		selectedMotivo() {
			this.form.fechaInicio = null;
		},
	},
	validations() {
		if (this.tipoSolicitud == "Vacaciones") {
			return {
				form: {
					idUsuario: {},
					motivoAusencia: {},
					fechaInicio: {},
					fechaFin: {},
					dias: {},
					horaInicio: {},
					horaFin: {},
					descripcion: { required },
					tipo: {},
					idAutorizador: {},
					fechaAutorizacion: {},
					autorizacion: {},
					idEtapa: {},
				},
			};
		} else {
			return {
				selectedMotivo: { required },
				form: {
					idUsuario: {},
					motivoAusencia: {},
					fechaInicio: {},
					fechaFin: {},
					dias: {},
					horaInicio: { required },
					horaFin: { required },
					descripcion: { required },
					tipo: {},
					idAutorizador: {},
					fechaAutorizacion: {},
					autorizacion: {},
					idEtapa: {},
				},
			};
		}
	},
};
</script>

<style>
/*CONTAINER SOLICITUD*/
#container-form-solicitud {
	border: 1px solid #00000003;
	background-color: #00000003;
	min-height: 195.75px;
	border-radius: 2rem;
}
.border-red-600 {
	--border-opacity: 1 !important;
	border-color: #e53e3e !important;
	border-color: rgba(229, 62, 62, var(--border-opacity)) !important;
}
</style>
