<template>
	<b-overlay
		:show="overlay"
		rounded="sm"
		opacity="1.0"
		blur="1px"
		variant="transparent"
	>
		<template v-if="solicitudActiva">
			<div class="container" v-if="terminado">
				<b-alert variant="success" :class="marginSuccess" show>
					<h5 class="text-center mb-0">
						Has {{ statusActiva }} correctamente la solicitud #{{
							idSolicitud
						}}
					</h5>
				</b-alert>
			</div>
			<div class="container" v-if="!terminado">
				<template v-if="desdeCorreo">
					<h3 class="text-center mt-5">
						Autorización de la solicitud #
						{{ form.idSolicitud }}
					</h3>
					<hr />
				</template>
				<p
					class="text-center text-justify"
					v-if="form.status == 'autorizado'"
				>
					Estas
					<strong class="text-success">autorizando</strong> esta
					solicitud<template v-if="form.notificar"
						>, al terminar se enviará un correo al departamento de
						Talento Humano para darle seguimiento a la
						solicitud</template
					>.
				</p>
				<div v-show="form.status == 'rechazado'">
					<p class="text-center text-justify">
						Estas
						<strong class="text-danger">rechazando</strong> esta
						solicitud, al terminar se enviará un correo al
						departamento de Talento Humano para notificarle sobre
						este rechazo.
					</p>
					<b-form-textarea
						id="textarea"
						v-model="form.comentarios"
						placeholder="Ingresa tus comentarios..."
						rows="5"
						max-rows="6"
					></b-form-textarea>
				</div>
				<template v-if="form.notificar && form.status == 'autorizado'">
					<p class="text-center text-justify">
						Si deseas agregar comentarios al correo que será
						enviado puedes hacerlo ahora y después dar clic en
						guardar, de lo contrario solo da clic en guardar.
					</p>
					<b-form-textarea
						id="textarea"
						v-model="form.comentarios"
						placeholder="Ingresa tus comentarios..."
						rows="5"
						max-rows="6"
					></b-form-textarea>
				</template>
				<template v-if="desdeCorreo">
					<center>
						<b-button class="mt-4" size="lg" @click="submit"
							>TERMINAR</b-button
						>
					</center>
				</template>
				<template v-else>
					<b-row class="mt-4 mb-2">
						<b-col lg="8"> </b-col>
						<b-col lg="4">
							<div class="mb-2 text-right">
								<b-button
									variant="danger"
									size="sm"
									@click="submit"
									>GUARDAR</b-button
								>
							</div>
						</b-col>
					</b-row>
				</template>
			</div>
		</template>
	</b-overlay>
</template>

<script>
import { mapActions, mapState, mapMutations } from "vuex";
export default {
	props: {
		idSolicitud: Number,
		status: String,
		autorizador: String,
	},
	data() {
		return {
			overlay: false,
			desdeCorreo: false,
			form: {
				idSolicitud: null,
				status: "",
				comentarios: null,
				idEtapa: null,
				notificar: true,
				autorizador: null,
			},
		};
	},
	mounted() {
		if (this.$route.params.idSolicitud) {
			this.desdeCorreo = true;
			this.form.idSolicitud = this.$route.params.idSolicitud;
			this.form.status = this.$route.params.status;
		} else {
			this.form.idSolicitud = this.idSolicitud;
			this.form.status = this.status;
			this.form.autorizador = this.autorizador;
		}
	},
	methods: {
		...mapMutations("th_vp_solicitudes", [
			"updateSolicitud",
			"updateSolicitudActiva",
			"updateSolicitudByEmpleado",
		]),

		async submit() {
			this.overlay = true;
			if (this.status == "autorizado") this.form.idEtapa = 2;
			else if (this.status == "rechazado") this.form.idEtapa = 3;

			if (this.form.comentarios) {
				const response = await axios.post(
					BaseUrl + `/api/th/vp/comentarios`,
					this.form
				);
				if (response.data.success) this.submitAutorizacion();
			} else this.submitAutorizacion();
		},
		async submitAutorizacion() {
			const response = await axios.put(
				BaseUrl +
					`/api/th/vp/solicitud/${this.form.idSolicitud}/autorizacion`,
				this.form
			);
			if (response.data.success) {
				this.updateSolicitud(response.data.solicitud);
				this.updateSolicitudActiva(response.data.solicitud);
				this.updateSolicitudByEmpleado(response.data.solicitud);
				this.overlay = false;
			}
		},
		close() {
			this.$bvModal.hide("modal-autorizacion");
		},
	},
	computed: {
		...mapState("th_vp_solicitudes", ["solicitudActiva"]),

		terminado() {
			if (this.solicitudActiva) {
				if (this.solicitudActiva.fechaAutorizacion) return true;
			} else return false;
		},
		statusActiva() {
			if (this.solicitudActiva) {
				if (this.solicitudActiva.fechaAutorizacion) {
					if (this.solicitudActiva.autorizacion) {
						return "autorizado";
					} else return "rechazado";
				}
			}
			return "";
		},
		marginSuccess() {
			if (this.desdeCorreo) return "mt-5";
			else return "mt-0";
		},
	},
};
</script>
