<template>
	<div>
		<template v-if="!busySolicitudes">
			<b-list-group
				class="bg-white list-solicitudes"
				v-if="solicitudesPorTipo.length"
			>
				<th-vp-solicitudes-solicitud-component
					v-for="(solicitud, index) in solicitudesPorTipo"
					:key="index"
					:solicitud="solicitud"
				/>
			</b-list-group>

			<div class="mt-5" v-else>
				<h5 class="text-center">
					No se ha registrado ninguna solicitud
				</h5>
			</div>
		</template>

		<div v-else class="p-3 text-center">
			<b-spinner label="Loading..."> Cargando... </b-spinner>
		</div>
	</div>
</template>

<script>
import { mapState, mapActions, mapMutations, mapGetters } from "vuex";
export default {
	props: {
		tipo: String,
	},
	data() {
		return {};
	},
	mounted() {
		// if (this.usuario) this.getSolicitudesByUsuario(this.usuario.idUsuario);
	},
	methods: {
		// ...mapActions("th_vp_solicitudes", ["getSolicitudesByUsuario"]),
	},
	computed: {
		...mapState(["usuario"]),
		...mapState("th_vp_solicitudes", ["busySolicitudes"]),
		...mapGetters("th_vp_solicitudes", ["solicitudesFiltered"]),

		solicitudesPorTipo() {
			if (!this.busySolicitudes && this.solicitudesFiltered.length) {
				return this.solicitudesFiltered.filter(
					(solicitud) => solicitud.tipo == this.tipo
				);
			} else return [];
		},
	},
	watch: {
		usuario() {
			// this.getSolicitudesByUsuario(this.usuario.idUsuario);
		},
	},
};
</script>
<style scoped>
.list-solicitudes {
	max-height: calc(100vh - 188px);
	overflow: auto;
}
</style>
