<template>
	<b-container fluid style="height: calc(100vh - 56px); overflow: auto">
		<b-row class="h-100">
			<b-col md="4" lg="3" sm="12" class="h-100 px-0 shadow-sm">
				<div class="h-100 border-right bg-light">
					<div
						class="d-flex justify-content-between align-items-center p-3 mb-3 border-bottom"
						style="max-height: 73px"
					>
						<h3
							class="text-dark ml-3 mt-2"
							style="font-size: 26px; margin-bottom: 1.25px"
						>
							Solicitudes
						</h3>
					</div>

					<!-- <div
						class="mb-2"
						v-if="
							hasPermission('th.vp.solicitudes.administrar') ||
								hasPermission('th.vp.solicitudes.autorizar')
						"
					>
						<th-vp-solicitudes-tipos-component />
						<hr />
					</div> -->

					<div
						class="mb-2"
					>
						<th-vp-solicitudes-tipos-component />
						<hr />
					</div>

					<div class="mb-2">
						<div class="mx-2 d-flex w-100 justify-content-between">
							<div>
								<b-nav>
									<b-nav-item class="button-vacaciones">
										<label
											class="text-secondary mb-0"
											style="cursor: pointer; font-size: 11px"
											@click="
												tipoSolicitud = 'Vacaciones'
											"
										>
											<b>VACACIONES</b>
											<!-- <b-badge
												variant="danger"
												class="ml-1"
												>3</b-badge
											> -->
										</label>
										<hr
											v-if="tipoSolicitud == 'Vacaciones'"
											style="border-top: 3px solid rgb(106, 115, 123)"
											class="my-1"
										/>
									</b-nav-item>

									<b-nav-item class="button-permisos">
										<label
											class="text-secondary mb-0"
											style="cursor: pointer; font-size: 11px"
											@click="tipoSolicitud = 'Permiso'"
										>
											<b>PERMISOS</b>
											<!-- <b-badge
												variant="danger"
												class="ml-1"
												>0</b-badge
											> -->
										</label>
										<hr
											v-if="tipoSolicitud == 'Permiso'"
											style="border-top: 3px solid rgb(106, 115, 123)"
											class="my-1"
										/>
									</b-nav-item>
								</b-nav>
							</div>
						</div>
						<th-vp-solicitudes-filters-component />
					</div>
					<th-vp-solicitudes-list-solicitudes-component
						:tipo="tipoSolicitud"
					/>
				</div>
			</b-col>

			<!-- <template v-if="listSolicitudes.length"> -->
			<template >

				<template v-if="tipoSolicitudes == 'misSolicitudes'">
					<b-col md="8" lg="9" sm="12">
						<th-vp-solicitudes-detalles-empleado-component />

						<b-container fluid class="mt-3">
							<b-row>
								<b-col lg="12" class="pl-0">
									<div class="middle">
										<label class="mb-0">
											<input
												type="radio"
												name="radio"
												v-model="selectedOption"
												value="solicitar"
												checked
											/>
											<div
												class="front-end box shadow-sm"
												style="border-radius: 0rem;"
											>
												<span>Solicitar mis días</span>
											</div>
										</label>

										<label class="mb-0">
											<input
												type="radio"
												name="radio"
												v-model="selectedOption"
												value="calendario"
											/>
											<div
												class="back-end box shadow-sm"
												style="border-radius: 0rem;"
											>
												<span>Mi calendario</span>
											</div>
										</label>

										<label class="mb-0">
											<input
												type="radio"
												name="radio"
												v-model="selectedOption"
												value="festivos"
											/>
											<div
												class="back-end box shadow-sm"
												style="border-radius: 0rem;"
											>
												<span>Próximos festivos</span>
											</div>
										</label>
									</div>
								</b-col>
							</b-row>
						</b-container>

						<th-vp-solicitudes-form-solicitud-component
							v-if="selectedOption == 'solicitar'"
						/>
						<th-vp-solicitudes-calendario-component
							v-if="selectedOption == 'calendario'"
						/>
						<th-vp-solicitudes-detalles-dias-festivos-component
							v-if="selectedOption == 'festivos'"
						/>
					</b-col>
				</template>

				<template v-else>
					<b-col
						md="8"
						lg="9"
						sm="12"
						class="px-0"
						v-if="!solicitudActiva"
					>
						<div style="height: calc(100vh - 50px)">
							<icon-text-component
								:icon="'fas fa-comment-alt'"
								:text="
									'NO SE HA SELECCIONADO NINGUNA SOLICITUD'
								"
								:circleStyle="{
									backgroundColor: '#f5f5f6',
									color: '#a8aeb3',
								}"
							/>
						</div>
					</b-col>
					<b-col v-else md="8" lg="9" sm="12">
						<th-vp-solicitudes-detalles-solicitud-component
							:usuario="solicitudActiva.usuario"
							:solicitud="solicitudActiva"
						/>
					</b-col>
				</template>
			</template>

			<!-- <template v-else>
				<b-col md="8" lg="9" sm="12" class="px-0">
					<div style="height: calc(100vh - 50px)">
						<icon-text-component
							:icon="'fas fa-comment-alt'"
							:text="'CARGANDO...'"
							:circleStyle="{
								backgroundColor: '#f5f5f6',
								color: '#a8aeb3',
							}"
						/>
					</div>
				</b-col>
			</template> -->
		</b-row>

		<b-sidebar
			id="sidebar-details-solicitud"
			shadow
			right
			no-header
			backdrop-variant="transparent"
			bg-variant="light"
			text-variant="dark"
			width="480px"
			:visible="showSidebar"
			@hidden="hiddenSidebar"
		>
			<template v-slot:default="{ hide }">
				<th-vp-content-sidebar-solicitud-component
					v-if="showSidebar && solicitudActiva"
					@hide="hide($event)"
				/>
			</template>
		</b-sidebar>
	</b-container>
</template>
<script>
import { mapState, mapMutations, mapActions } from "vuex";
export default {
	data() {
		return {
			showSidebar: false,
			tipoSolicitud: "Vacaciones",
			selectedOption: "solicitar",
		};
	},
	mounted() {
		this.getUsuariosAll();
		this.getMotivosAusencia();
		this.getDiasFestivos();
		
		if (this.permissions.length) this.setTipoSolicitudesByPermission();

		if (this.usuario) {
			this.getEmpleado(this.usuario.noEmpleado);
			this.getVacacionesPendientes(this.usuario.noEmpleado);
		}
	},
	methods: {
		...mapActions("th_motivos_ausencia", ["getMotivosAusencia"]),
		...mapActions("th_dias_festivos", ["getDiasFestivos"]),
		...mapActions("th_empleados", ["getEmpleado"]),
		...mapActions("usuarios", ["getUsuariosAll"]),
		...mapMutations("th_vp_solicitudes", [
			// "setPeriodoLaboral",
			"setTipoSolicitudes",
			"setSolicitudActiva",
		]),
		...mapActions("th_vp_solicitudes", [
			"getSolicitudes",
			"getSolicitudesByUsuario",
			"getSolicitudesByEmpleado",
			"getVacacionesPendientes",
		]),

		openSidebar() {
			this.showSidebar = true;
		},
		hiddenSidebar() {
			this.showSidebar = false;
			this.setSolicitudActiva(null);
		},
		// setPeriodo(fechaIngreso) {
			// moment.locale("es");
			// const fechaActual = moment();

			// var fechaInicio = moment(fechaIngreso).year("2023").format("YYYY-MM-DD");
			// console.log(fechaInicio);

			// var tiempoServicio = fechaActual.diff(
			// 	moment(fechaInicio, "YYYY-MM-DD"),
			// 	"years"
			// );

			// console.log(tiempoServicio);

			// var fechaTermino = 

			// const fechaActual = moment();
			// const tiempoServicio = fechaActual.diff(
			// 	moment(fechaIngreso, "YYYY-MM-DD"),
			// 	"years"
			// );
			// if (tiempoServicio > 0) {
			// 	var fechaInicio = moment(fechaIngreso)
			// 		.add(tiempoServicio, "years")
			// 		.format("YYYY-MM-DD");
			// } else {
			// 	var fechaInicio = moment(fechaIngreso).format("YYYY-MM-DD");
			// }
			// var fechaTermino = moment(fechaInicio)
			// 	.add(1, "years")
			// 	.format("YYYY-MM-DD");

			// this.setPeriodoLaboral({
			// 	fechaInicio: fechaInicio,
			// 	fechaTermino: fechaTermino,
			// });
		// },
		setTipoSolicitudesByPermission() {
			if (this.hasPermission("th.vp.solicitudes.administrar")) {
				this.setTipoSolicitudes("todas");
				this.getSolicitudes();
			} else {
				this.setTipoSolicitudes("misSolicitudes");
				this.getSolicitudesByUsuario(this.usuario.idUsuario);
			}
		},
		hasPermission(funcion) {
			if (this.permissions.length) {
				const permiso = this.permissions.find(
					(permiso) => permiso.idFuncion == funcion
				);
				if (permiso) return true;
				return false;
			}
		},
	},
	computed: {
		...mapState("th_empleados", ["empleado"]),
		...mapState(["permissions", "usuario"]),
		...mapState("th_vp_solicitudes", [
			"solicitudActiva",
			"listSolicitudes",
			"tipoSolicitudes",
		]),
	},
	watch: {
		tipoSolicitud() {
			this.hiddenSidebar();
		},
		tipoSolicitudes() {
			this.hiddenSidebar();
		},
		solicitudActiva() {
			if (
				this.solicitudActiva &&
				this.tipoSolicitudes == "misSolicitudes" &&
				!this.showSidebar
			) {
				this.openSidebar();
			}
		},
		permissions() {
			this.setTipoSolicitudesByPermission();
		},
		usuario() {
			this.getEmpleado(this.usuario.noEmpleado);
			this.getVacacionesPendientes(this.usuario.noEmpleado);
		},
		empleado() {
			if (Object.entries(this.empleado).length != 0) {
				// this.setPeriodo(this.empleado.fechaIngreso);
				this.getSolicitudesByEmpleado(this.usuario.idUsuario);
			}
		},
	},
};
</script>

<style>
.middle {
	width: 100%;
	text-align: left;
}
.middle input[type="radio"] {
	display: none;
}
.middle input[type="radio"]:checked + .box {
	background-color: #950f1c;
}
.middle input[type="radio"]:checked + .box span {
	color: white;
}
.middle input[type="radio"]:checked + .box span:before {
	opacity: 1;
}
.middle .box {
	width: 180px;
	height: 32px;
	background-color: #fff;
	transition: all 250ms ease;
	will-change: transition;
	display: inline-block;
	text-align: center;
	cursor: pointer;
	position: relative;
	font-weight: 600;
}
.middle .box span {
	position: absolute;
	transform: translate(0, 6px);
	left: 0;
	right: 0;
	transition: all 300ms ease;
	font-size: 13px;
	user-select: none;
	color: #45555f;
}
.middle .box span:before {
	font-size: 14px;
	display: block;
	opacity: 0;
	transition: all 300ms ease-in-out;
	font-weight: normal;
	color: white;
}
</style>
