<template>
	<b-list-group-item
		@click="setSolicitud"
		:class="buttonClass"
		class="flex-column align-items-start p-2 bg-light border-light"
	>
		<b-media class="bg-white" :class="buttonClass2" style="padding: 10px;">
			<div class="d-flex w-100 justify-content-between">
				<h6
					v-if="solicitud.tipo == 'Vacaciones'"
					class="mb-1"
					style="font-size:13px;"
				>
					<i class="fas fa-square pr-2" :class="classColor"></i>
					Desde {{ solicitud.fechaInicio }} -
					{{ solicitud.dias }} Días
				</h6>
				<h6 v-else class="mb-1" style="font-size:13px;">
					<i class="fas fa-square pr-2" :class="classColor"></i>
					Desde {{ solicitud.fechaInicio }} -
					{{ solicitud.horas }} Horas
				</h6>
				<small class="text-secondary">{{
					solicitud.nombre_etapa
				}}</small>
			</div>
			<div
				class="d-flex w-100 justify-content-between"
				style="margin-bottom: -2px;"
			>
				<p class="mb-0" style="font-size:11px">
					<b-avatar
						size="sm"
						:src="urlImage"
						class="mr-1 mb-1"
					></b-avatar>
					{{ solicitud.usuario.nombreUsuario }}
				</p>

				<small class="text-secondary">
					<strong>
						<template v-if="solicitud.idEtapa != etapas.aceptada">
							<i :class="status"></i>
						</template>
						<template v-else>
							{{ status }}
						</template>
					</strong>
				</small>
			</div>
			<div
				class="d-flex w-100 justify-content-between"
				style="margin-bottom: -5px;"
			>
				<p class="mb-0" style="font-size:11px">
					<strong>M:</strong> {{ solicitud.motivoAusencia }}
				</p>
			</div>
		</b-media>
	</b-list-group-item>
</template>

<script>
import { mapState, mapMutations, mapActions } from "vuex";
export default {
	props: {
		solicitud: Object,
	},
	data() {
		return {
			etapas: {
				pendiente: 1,
				aceptada: 2,
				rechazada: 3,
				terminado: 4,
			},
		};
	},
	methods: {
		...mapMutations("th_vp_solicitudes", ["setSolicitudActiva"]),

		setSolicitud() {
			this.setSolicitudActiva(this.solicitud);
		},
		hasPermission(funcion) {
			if (this.permissions.length) {
				const permiso = this.permissions.find(
					(permiso) => permiso.idFuncion == funcion
				);
				if (permiso) return true;
				return false;
			}
		},
	},
	computed: {
		...mapState("th_vp_solicitudes", ["solicitudActiva"]),
		...mapState(["permissions", "usuario"]),

		urlImage() {
			return BaseUrl + this.solicitud.usuario.ruta;
		},
		classColor() {
			switch (this.solicitud.idEtapa) {
				case 1: // Pendiente aceptación
					return "text-secondary";
					break;
				case 2: // Aceptada
					return "text-success";
					break;
				case 3: // Rechazada
					return "text-danger";
					break;
				default:
					// default
					return "text-secondary";
					break;
			}
		},
		buttonClass() {
			if (this.solicitudActiva) {
				if (
					this.solicitud.idSolicitud ==
					this.solicitudActiva.idSolicitud
				)
					return "bg-ligth-active";
			} else return "";
		},
		buttonClass2() {
			if (this.solicitudActiva) {
				if (
					this.solicitud.idSolicitud ==
					this.solicitudActiva.idSolicitud
				)
					return "bg-ligth-2-active";
			}
		},
		status() {
			const fechaActual = moment().format("YYYY-MM-DD");
			if (this.solicitud.idEtapa == this.etapas.pendiente) {
				return "fas fa-clock text-dark";
			} else if (this.solicitud.idEtapa == this.etapas.rechazada) {
				return "fas fa-times-circle text-dark";
			} else if (this.solicitud.idEtapa == this.etapas.terminado) {
				return "fas fa-check-double text-success";
			} else if (this.solicitud.idEtapa == this.etapas.aceptada) {
				if (
					moment(fechaActual).isSameOrBefore(
						this.solicitud.fechaFin
					) &&
					moment(fechaActual).isSameOrAfter(
						this.solicitud.fechaInicio
					)
				) {
					return "En curso";
				} else if (
					moment(fechaActual).isBefore(this.solicitud.fechaInicio)
				) {
					return "Pendiente de disfrutar";
				} else if (
					moment(fechaActual).isAfter(this.solicitud.fechaFin)
				) {
					return "Recabar firmas";
				}
			}
		},
	},
};
</script>

<style>
/*LISTA DE SOLICITUDE*/
.bg-ligth-active {
	background-color: rgb(206 214 220) !important;
}
.bg-ligth-2-active {
	background-color: #eef2f5 !important;
}
.spinner-grow-sm {
	width: 1.2rem !important;
	height: 1.2rem !important;
}
</style>
