<template>
	<div>
		<timeline>
			<timeline-item
				v-if="tipoSolicitudes == 'misSolicitudes'"
				style="font-size: 12px;"
			>
				<i
					class="fas fa-thumbtack text-dark"
					slot="others"
					style="font-size: 18px;"
				></i>
				<h6><strong>Solicitud</strong></h6>

				<p class="mb-0 py-1">
					<b>Fecha inicio:</b>
					{{ formatDate(solicitud.fechaInicio) }}
				</p>

				<template v-if="solicitud.tipo == 'Vacaciones'">
					<p class="mb-0 py-1">
						<b>Fecha termino:</b>
						{{ formatDate(solicitud.fechaFin) }}
					</p>
					<p class="mb-0 py-1">
						<b>Días a disfrutar:</b>
						{{ solicitud.dias }}
					</p>
				</template>

				<p v-else class="mb-0 py-1">
					<b>Horas:</b>
					{{ solicitud.horas }} hrs
				</p>

				<p class="mb-0 py-1">
					<b>Motivo:</b>
					{{ solicitud.motivoAusencia }}
				</p>
				<p class="mb-0 py-1 text-justify">
					<b>Comentarios:</b>
					{{ solicitud.descripcion }}
				</p>

				<template
					v-if="solicitud.fechaAutorizacion && solicitud.autorizacion"
				>
					<b-button
						v-if="!loading"
						variant="outline-danger"
						size="sm"
						class="shadows mt-3"
						@click="download"
						squared
					>
						<label class="mb-0">
							<i class="fas fa-download pr-2"></i> Descargar
						</label>
					</b-button>

					<b-button
						v-else
						variant="outline-danger"
						size="sm"
						class="mt-3"
						disabled
					>
						<b-spinner small class="mr-1"></b-spinner>
						Descargando ...
					</b-button>
				</template>
			</timeline-item>

			<timeline-item v-else style="font-size: 13px;">
				<i
					class="fas fa-thumbtack text-dark"
					slot="others"
					style="font-size: 18px;"
				></i>
				<h6><strong>Solicitud</strong></h6>

				<b-row>
					<b-col lg="5">
						<p class="mb-0 py-1">
							<b>Fecha inicio:</b>
							{{ formatDate(solicitud.fechaInicio) }}
						</p>

						<template v-if="solicitud.tipo == 'Vacaciones'">
							<p class="mb-0 py-1">
								<b>Fecha termino:</b>
								{{ formatDate(solicitud.fechaFin) }}
							</p>
							<p class="mb-0 py-1">
								<b>Días a disfrutar:</b>
								{{ solicitud.dias }}
							</p>
						</template>

						<p v-else class="mb-0 py-1">
							<b>Horas:</b>
							{{ solicitud.horas }} hrs
						</p>

						<template
							v-if="
								solicitud.fechaAutorizacion &&
									solicitud.autorizacion
							"
						>
							<b-button
								v-if="!loading"
								variant="outline-danger"
								size="sm"
								class="shadows mt-3"
								@click="download"
								squared
							>
								<label class="mb-0">
									<i class="fas fa-download pr-2"></i>
									Descargar
								</label>
							</b-button>

							<b-button
								v-else
								variant="outline-danger"
								size="sm"
								class="mt-3"
								disabled
							>
								<b-spinner small class="mr-1"></b-spinner>
								Descargando ...
							</b-button>
						</template>
					</b-col>
					<b-col lg="7">
						<p class="mb-0 py-1">
							<b>Motivo:</b>
							{{ solicitud.motivoAusencia }}
						</p>
						<p class="mb-0 py-1 text-justify">
							<b>Comentarios:</b>
							{{ solicitud.descripcion }}
						</p>
					</b-col>
				</b-row>
			</timeline-item>

			<timeline-item style="font-size: 13px;">
				<i
					:class="status.linea.autorizacion"
					slot="others"
					style="font-size: 18px;"
				></i>
				<h6><strong>Autorización</strong></h6>
				<p class="mb-0 py-1">
					<b>Autorizador:</b>
					<b-avatar
						size="sm"
						:src="urlImage"
						class="ml-3 mr-1 mb-1"
					></b-avatar>
					{{ autorizador.nombreUsuario }}
				</p>
				<p v-if="solicitud.fechaAutorizacion" class="mb-0 py-1">
					<b>Fecha de autorización:</b>
					{{ formatDate(solicitud.fechaAutorizacion) }}
				</p>
				<p class="mb-0 py-1">
					<i class="pr-2" :class="status.etapa.icon"></i>
					{{ status.etapa.title }}
				</p>

				<b-alert
					v-if="solicitud.fechaAutorizacion && comentario"
					show
					:variant="solicitud.autorizacion ? 'success' : 'danger'"
					class="shadow mb-1"
				>
					<h5 class="alert-heading" style="font-size: 13px;">
						Comentarios:
					</h5>

					<p class="mb-0 display-1" style="font-size: 11px;">
						{{ comentario.comentario }}
					</p>
				</b-alert>

				<b-button-group
					v-if="
						solicitud.idEtapa == etapas.pendiente &&
							usuario.idUsuario == autorizador.idUsuario &&
							tipoSolicitudes != 'misSolicitudes' &&
							hasPermission('th.vp.solicitudes.autorizar')
					"
					size="sm"
					class="mt-2"
				>
					<b-button
						variant="outline-success"
						size="sm"
						class="shadows"
						@click="autorizacion('autorizado')"
						squared
					>
						<label class="mb-0">
							<i class="far fa-check-circle"></i>
							Autorizar
						</label>
					</b-button>

					<b-button
						variant="outline-danger"
						size="sm"
						class="shadows"
						@click="autorizacion('rechazado')"
						squared
					>
						<label class="mb-0">
							<i class="fas fa-times-circle"></i>
							Rechazar
						</label>
					</b-button>
				</b-button-group>
			</timeline-item>
			<timeline-item style="font-size: 13px;">
				<i
					:class="status.linea.terminar.icon"
					slot="others"
					style="font-size: 18px;"
				></i>
				<h6>
					<strong>{{ status.linea.terminar.title }}</strong>
				</h6>

				<template v-if="solicitud.idEtapa == etapas.aceptada">
					<fieldset
						class="scheduler-border shadow-sm"
						style="border-radius: 1rem; font-size: 12px; margin-bottom: 0.5em !important;"
					>
						<legend
							class="scheduler-border"
							style="font-size: 13px;"
						>
							Semanas de capturación
						</legend>

						<div>
							<b-form-tags
								v-model="semanas"
								no-outer-focus
								class="mb-2"
								style="background-color: transparent; border-color: transparent;"
							>
								<template
									v-slot="{
										tags,
										inputAttrs,
										inputHandlers,
										addTag,
										removeTag,
									}"
								>
									<b-input-group
										v-if="
											tipoSolicitudes !=
												'misSolicitudes' &&
												hasPermission(
													'th.vp.solicitudes.capturar.semana'
												)
										"
										aria-controls="my-custom-tags-list"
									>
										<input
											v-bind="inputAttrs"
											v-on="inputHandlers"
											placeholder="Ingrese aquí la semana"
											class="form-control"
											size="sm"
											style="font-size: 12px;"
										/>
										<b-input-group-append>
											<b-button
												@click="addTag()"
												variant="danger"
												size="sm"
												>Agregar</b-button
											>
										</b-input-group-append>
									</b-input-group>

									<ul
										v-if="semanas.length"
										id="my-custom-tags-list"
										class="list-unstyled d-inline-flex flex-wrap mb-0"
										aria-live="polite"
										aria-atomic="false"
										aria-relevant="additions removals"
										style="font-size: 11px;"
									>
										<b-card
											v-for="tag in tags"
											:key="tag"
											:id="
												`my-custom-tags-tag_${tag.replace(
													/\s/g,
													'_'
												)}_`
											"
											tag="li"
											class="mt-1 mr-1"
											body-class="py-2 px-3 text-nowrap"
										>
											<strong>{{ tag }}</strong>
											<b-button
												v-if="
													tipoSolicitudes !=
														'misSolicitudes' &&
														hasPermission(
															'th.vp.solicitudes.capturar.semana'
														)
												"
												@click="removeTag(tag)"
												variant="link"
												size="sm"
												class="px-1 py-0"
												:aria-controls="
													`my-custom-tags-tag_${tag.replace(
														/\s/g,
														'_'
													)}_`
												"
												>Quitar</b-button
											>
										</b-card>
									</ul>
									<div class="text-center mt-2" v-else>
										<h6
											class="display-1"
											style="font-size: 12px;"
										>
											Sin datos que mostrar
										</h6>
									</div>
								</template>
							</b-form-tags>
						</div>
					</fieldset>

					<b-button
						v-if="hasPermission('th.vp.solicitudes.terminar')"
						variant="danger"
						size="sm"
						class="shadows mt-1"
						squared
						:disabled="semanas.length ? false : true"
					>
						<label class="mb-0">
							Terminar
						</label>
					</b-button>
				</template>
			</timeline-item>
		</timeline>

		<modal-component
			:id="'modal-autorizacion'"
			:title="'Autorización de la solicitud'"
			:hideFooter="true"
			:hideHeader="true"
			:centered="true"
		>
			<template slot="content">
				<th-vp-autorizacion-solicitud-component
					:idSolicitud="solicitud.idSolicitud"
					:status="selectedAutorizacion"
					:autorizador="autorizador.nombreUsuario"
				/>
			</template>
		</modal-component>
	</div>
</template>

<script>
import { mapState, mapMutations } from "vuex";
import { Timeline, TimelineItem, TimelineTitle } from "vue-cute-timeline";

export default {
	components: {
		Timeline,
		TimelineItem,
		TimelineTitle,
	},
	props: {
		solicitud: Object,
		usuario: Object,
	},
	data() {
		return {
			value: [],
			comentario: "",
			loading: false,
			selectedAutorizacion: null,
			etapas: {
				pendiente: 1,
				aceptada: 2,
				rechazada: 3,
				terminado: 4,
			},
			semanas: [],
		};
	},
	mounted() {
		this.getComentario();
		this.semanas = JSON.parse(this.solicitud.semanasCapturacion);
	},
	methods: {
		...mapMutations("th_vp_solicitudes", ["updateSolicitudActiva"]),

		formatDate(date) {
			return moment(date, "YYYY-MM-DD").format("LL");
		},
		hasPermission(funcion) {
			if (this.permissions.length) {
				const permiso = this.permissions.find(
					(permiso) => permiso.idFuncion == funcion
				);
				if (permiso) return true;
				return false;
			}
		},
		autorizacion(value) {
			this.selectedAutorizacion = value;
			this.$bvModal.show("modal-autorizacion");
		},
		async getComentario() {
			if (this.solicitud.idEtapa != this.etapas.pendiente) {
				const response = await axios.get(
					BaseUrl +
						`/api/th/vp/solicitud/${this.solicitud.idSolicitud}/${this.solicitud.idEtapa}/comentario`
				);
				this.comentario = response.data;
			} else this.comentario = "";
		},
		async addSemanas() {
			const data = {
				semanas: JSON.stringify(this.semanas),
			};
			const response = await axios.put(
				`/api/th/vp/solicitud/${this.solicitud.idSolicitud}/semanas`,
				data
			);
			if (response.data.success) {
				this.updateSolicitudActiva(response.data.solicitud);
			}
		},
		download() {
			moment.locale("es");
			axios
				.post("/api/th/vp/solicitud/upload", this.solicitud)
				.then((response) => {
					if (response.data.success) {
						let name = "Solicitud";
						window.location = `/api/th/vp/solicitud/${name}/download`;
					}
				});
		},
	},
	computed: {
		...mapState(["permissions"]),
		...mapState("usuarios", ["usuarios"]),
		...mapState("th_vp_solicitudes", ["tipoSolicitudes"]),

		urlImage() {
			return BaseUrl + this.autorizador.ruta;
		},
		autorizador() {
			return this.usuarios.find(
				(item) => item.idUsuario == this.solicitud.idAutorizador
			);
		},
		status() {
			if (this.solicitud.idEtapa == this.etapas.pendiente) {
				return {
					linea: {
						autorizacion: "fas fa-calendar-minus text-secondary",
						terminar: {
							icon: "fas fa-user-edit text-dark",
							title: "Sin recabar firmas",
						},
					},
					etapa: {
						icon: "fas fa-clock text-dark",
						title: this.solicitud.nombre_etapa,
					},
				};
			} else if (this.solicitud.idEtapa == this.etapas.aceptada) {
				return {
					linea: {
						autorizacion: "fas fa-calendar-check text-success",
						terminar: {
							icon: "fas fa-user-edit text-dark",
							title: "Sin recabar firmas",
						},
					},
					etapa: {
						icon: "fas fa-check-circle text-dark",
						title: this.solicitud.nombre_etapa,
					},
				};
			} else if (this.solicitud.idEtapa == this.etapas.rechazada) {
				return {
					linea: {
						autorizacion: "fas fa-calendar-times text-danger",
						terminar: {
							icon: "fas fa-user-times text-dark",
							title: "Sin recabar firmas",
						},
					},
					etapa: {
						icon: "fas fa-times-circle text-dark",
						title: this.solicitud.nombre_etapa,
					},
				};
			} else if (this.solicitud.idEtapa == this.etapas.terminado) {
				return {
					linea: {
						autorizacion: "fas fa-calendar-check text-secondary",
						terminar: {
							icon: "fas fa-user-check text-success",
							title: "Terminada",
						},
					},
					etapa: {
						icon: "fas fa-check-circle text-success",
						title: "Aceptada",
					},
				};
			}
		},
	},
	watch: {
		solicitud: {
			handler(val, oldVal) {
				this.semanas = JSON.parse(this.solicitud.semanasCapturacion);
				this.getComentario();
			},
			deep: true,
		},
		semanas() {
			this.addSemanas();
		},
	},
};
</script>

<style>
.timeline {
	padding: 0;
	position: relative;
	list-style: none;
	font-family: sans-serif;
	margin: 10px 20px;
}
.timeline-others {
	background-color: #0000 var(--timelineBg);
}
</style>
