<template>
	<div class="mx-2 d-flex w-100 justify-content-between">
		<div>
			<b-nav>
				<!-- <b-nav-item
					v-if="hasPermission('th.vp.solicitudes.administrar')"
					class="button-todas"
					@click="
						setTipoSolicitudes('todas');
						getSolicitudes();
					"
				> -->
				<b-nav-item
					class="button-todas"
					@click="
						setTipoSolicitudes('todas');
						getSolicitudes();
					"
				>
					<label
						class="text-secondary"
						style="cursor: pointer; font-size: 11px"
					>
						<b>TODAS</b>
					</label>
					<hr
						v-show="tipoSolicitudes == 'todas'"
						style="border-top: 3px solid rgb(193 55 37)"
						class="my-0"
					/>
				</b-nav-item>

				<b-nav-item
					class="button-misSolicitudes"
					@click="
						setTipoSolicitudes('misSolicitudes');
						getSolicitudesByUsuario(usuario.idUsuario);
					"
				>
					<label
						class="text-secondary"
						style="cursor: pointer; font-size: 11px"
					>
						<b>MIS SOLICITUDES</b>
					</label>
					<hr
						v-show="tipoSolicitudes == 'misSolicitudes'"
						style="border-top: 3px solid rgb(193 55 37)"
						class="my-0"
					/>
				</b-nav-item>

				
				<!-- <b-nav-item
					v-if="hasPermission('th.vp.solicitudes.autorizar')"
					class="button-enAutorizacion"
					@click="
						setTipoSolicitudes('porAutorizar');
						getSolicitudesByAutorizador(usuario.idUsuario);
					"
				> -->

				<b-nav-item
					class="button-enAutorizacion"
					@click="
						setTipoSolicitudes('porAutorizar');
						getSolicitudesByAutorizador(usuario.idUsuario);
					"
				>
					<label
						class="text-secondary"
						style="cursor: pointer; font-size: 11px"
					>
						<b>EN AUTORIZACIÓN</b>
					</label>
					<hr
						v-show="tipoSolicitudes == 'porAutorizar'"
						style="border-top: 3px solid rgb(193 55 37)"
						class="my-0"
					/>
				</b-nav-item>
			</b-nav>
		</div>
	</div>
</template>

<script>
import { mapState, mapActions, mapMutations } from "vuex";
export default {
	data() {
		return {
			selected: null,
		};
	},
	mounted() {},
	methods: {
		...mapActions("th_vp_solicitudes", [
			"getSolicitudes",
			"getSolicitudesByUsuario",
			"getSolicitudesByAutorizador",
		]),
		...mapMutations("th_vp_solicitudes", ["setTipoSolicitudes"]),

		hasPermission(funcion) {
			if (this.permissions.length) {
				const permiso = this.permissions.find(
					(permiso) => permiso.idFuncion == funcion
				);
				if (permiso) return true;
				return false;
			}
		},
	},
	computed: {
		...mapState(["permissions", "usuario"]),
		...mapState("th_vp_solicitudes", ["tipoSolicitudes"]),
	},
};
</script>
