<template>
	<div class="bg-dark p-4 h-100 border-top border-dark">
		<h3 class="text-white mt-2 pl-2 pb-4 border-bottom border-dark">
			Configuración
		</h3>
		<b-list-group class="mt-3" flush>
			<b-list-group-item
				@click="toSection('/finanzas/cg/configuracion/autorizaciones')"
				class="li-area"
				:class="{
					[active]:
						section == '/finanzas/cg/configuracion/autorizaciones',
				}"
			>
				Autorizaciones
			</b-list-group-item>
			<b-list-group-item
				v-if="hasPermission('fn.conf.cuentas_contables.navegar')"
				@click="toSection('/finanzas/configuracion/cuentas-contables')"
				class="li-area"
				:class="{
					[active]:
						section == '/finanzas/configuracion/cuentas-contables',
				}"
			>
				Cuentas contables
			</b-list-group-item>
			<!-- <b-list-group-item
				v-if="hasPermission('fn.conf.cuentas_internas.navegar')"
				@click="toSection('configuracion/cuentas-internas')"
				class="li-area"
				:class="{ [active]: section == 'cuentas-internas' }"
			>
				Cuentas internas
			</b-list-group-item> -->
			<b-list-group-item
				v-if="hasPermission('fn.conf.mano_obra.navegar')"
				@click="toSection('/finanzas/configuracion/mano-obra')"
				class="li-area"
				:class="{
					[active]: section == '/finanzas/configuracion/mano-obra',
				}"
			>
				Mano de Obra
			</b-list-group-item>
			<b-list-group-item
				v-if="hasPermission('fn.conf.exportar.navegar')"
				@click="
					toSection('/finanzas/configuracion/solicitudes/exportar')
				"
				class="li-area"
				:class="{
					[active]:
						section ==
						'/finanzas/configuracion/solicitudes/exportar',
				}"
			>
				Exportar datos
			</b-list-group-item>
			<!-- <b-list-group-item
				@click="
					toSection('/finanzas/configuracion/xml')
				"
				class="li-area"
				:class="{
					[active]:
						section ==
						'/finanzas/configuracion/xml',
				}"
			>
				XML
			</b-list-group-item> -->
		</b-list-group>
	</div>
</template>

<script>
import { mapState, mapActions, mapMutations } from "vuex";
export default {
	data() {
		return {
			active: "bg-white text-dark",
			section: "",
			url: BaseUrl,
		};
	},
	mounted() {
		this.section = this.$route.path;
	},
	methods: {
		toSection(section) {
			if (this.section && section == this.section) {
			} else {
				this.section = section;
				var url = section;
				this.$router.push(BaseUrl + url);
			}
		},
		hasPermission(funcion) {
			if (this.permissions.length) {
				const permiso = this.permissions.find(
					(permiso) => permiso.idFuncion == funcion
				);
				if (permiso) return true;
				return false;
			}
		},
	},
	computed: {
		...mapState(["permissions"]),
	},
};
</script>

<style>
.bg-white {
	background-color: #fff !important;
}
.text-dark {
	color: rgb(69, 85, 95);
}
.li-area {
	color: #fff;
	background-color: rgb(69, 85, 95);
	cursor: pointer !important;
}
</style>
