<template>
	<div>
		<GChart
			style="min-height: 400px;"
		    type="LineChart"
		    :data="chartData"
		    :options="chartOptions"
		/>
	</div>
</template>

<script>
	import { mapState } from "vuex";

	export default {
		props: {
			meses: Array,
			unidad: Object,
			promedioMensual: String,
		},
		data() {
	      	return {
		      	chartOptions: {
		      		pointSize: 10,
		      		vAxis: {
						format: "decimal",
					},
					legend: "top",
					chartArea: {
						left: 80,
						right: 80,
					},
					colors: ["#6a737b", "#e43725"],
					series: {
			            0: { lineDashStyle: [4, 1] },
			        },
		      	},
	      	}
	    },
		computed: {
			...mapState("vt_unidades_negocio", ["dataGraphUnidad"]),
			...mapState("negocios", ["negociosFacturados"]),

			chartData() {
				var data = [['Mes', 'Programado', 'Real']];
				this.meses.forEach(function(mes) {
					let suma = 0;
					for (var i = 0; i < this.negociosFacturados.length; i++) {
						const mesFactura = moment(
							this.negociosFacturados[i].fechaFactura
						).format("MM");
						if (
							mesFactura == mes.id &&
							this.negociosFacturados[i].idUnidadNegocio ==
								this.unidad.idUnidadNegocio
						) {
							let importe = Number(
								this.negociosFacturados[i].tipoMoneda != "USD"
									? this.negociosFacturados[i].valorNegocio
									: this.negociosFacturados[i].valorNegocio *
											this.negociosFacturados[i].xCambio
							);
							suma += importe;
						}
					}
					suma = suma.toFixed(2);
					data.push([mes.nombre, parseFloat(this.promedioMensual), parseFloat(suma)]);
				}, this);
				return data;
			},

		},
	};
</script>