<template>
	<div>
		<b-table-simple bordered hover small class="shadow-sm">
			<b-thead>
				<b-tr class="bg-light text-white">
					<b-th colspan="8">
						<h4 class="text-center text-uppercase mt-2">
							VENTA
							{{ unidadNeg.unidadNegocio }} - AMMMEC 2020
						</h4>
					</b-th>
				</b-tr>
				<b-tr class="text-center bg-light">
					<b-th width="12%" class="align-middle text-left pl-2">
						Mes
					</b-th>
					<b-th width="12%" class="align-middle"> Promedio </b-th>
					<b-th width="12%" class="align-middle"> Programado </b-th>
					<b-th width="12%" class="align-middle"> Real </b-th>
					<b-th width="12%"> % cumplimiento (Promedio)</b-th>
					<b-th width="12%"> % cumplimiento (Programado)</b-th>
					<b-th width="12%"> Diferiencia <br />(real-promedio)</b-th>
					<b-th width="12%"> Diferiencia <br />(real-programado)</b-th>
				</b-tr>
			</b-thead>
			<b-tbody>
				<vt-indicadores-unidades-negocio-tr-mes-component
					v-for="(mes, index) in meses"
					:key="index"
					:mes="mes"
					:unidad="unidadNeg"
					:promedio-mensual="promedioMensual"
				/>
			</b-tbody>
			<b-tfoot>
				<b-tr
					class="text-right"
					style="background-color: rgba(35, 124, 179, 0.12) !important"
				>
					<b-td class="text-left pl-2">
						<strong>TOTAL</strong>
					</b-td>
					<b-td>
						<strong>
	                        <div class="d-flex">
	                            <div class="mr-auto">
	                                <i class="fas fa-dollar-sign align-middle ml-1"></i>
	                            </div>
	                            <vue-numeric
	                                separator=","
	                                :precision="2"
	                                :read-only="true"
	                                :value="totalProyeccion"
	                            />
	                        </div>
						</strong>
					</b-td>
					<b-td>
						<strong>
	                        <div class="d-flex">
	                            <div class="mr-auto">
	                                <i class="fas fa-dollar-sign align-middle ml-1"></i>
	                            </div>
	                            <vue-numeric
	                                separator=","
	                                :precision="2"
	                                :read-only="true"
	                                :value="totalPresupuestado"
	                            />
	                        </div>
						</strong>
					</b-td>
					<b-td>
						<strong>
	                        <div class="d-flex">
	                            <div class="mr-auto">
	                                <i class="fas fa-dollar-sign align-middle ml-1"></i>
	                            </div>
	                            <vue-numeric
	                                separator=","
	                                :precision="2"
	                                :read-only="true"
	                                :value="totalReal"
	                            />
	                        </div>
						</strong>
					</b-td>
					<b-td class="text-center"> {{ cumplimientoPromedio }}% </b-td>
					<b-td class="text-center"> {{ cumplimientoPresupuestado }}% </b-td>
					<b-td>
						<strong>
	                        <div class="d-flex">
	                            <div class="mr-auto">
	                                <i class="fas fa-dollar-sign align-middle ml-1"></i>
	                            </div>
	                            <vue-numeric
	                                separator=","
	                                :precision="2"
	                                :read-only="true"
	                                :value="diferienciaRealPromedio"
	                            />
	                        </div>
						</strong>
					</b-td>
					<b-td>
						<strong>
	                        <div class="d-flex">
	                            <div class="mr-auto">
	                                <i class="fas fa-dollar-sign align-middle ml-1"></i>
	                            </div>
	                            <vue-numeric
	                                separator=","
	                                :precision="2"
	                                :read-only="true"
	                                :value="diferienciaRealProgramado"
	                            />
	                        </div>
						</strong>
					</b-td>
				</b-tr>
			</b-tfoot>
		</b-table-simple>

		<vt-indicadores-unidades-negocio-grafica-unidad-component 
			:meses="meses"
			:unidad="unidadNeg"
			:promedio-mensual="promedioMensual"/>
	</div>
</template>

<script>
import { mapMutations, mapState } from "vuex";
export default {
	props: {
		unidadNeg: Object,
	},
	mounted() {
 		// console.log('entra', this.chartData);
	},
	methods: {
		
	},
	computed: {
		// ...mapState("vt_unidades_negocio", ["chartData"]),
		...mapState("presupuesto", ["meses", "presupuestosMeses"]),
		...mapState("negocios", ["negociosFacturados", "embudoSelected"]),
		...mapState("vt_proyecciones", ["listProyecciones"]),

		totalPresupuestado() {
			let suma = 0;
			for (var i = 0; i < this.presupuestosMeses.length; i++) {
				if (
					this.presupuestosMeses[i].id_unidad_negocio ==
					this.unidadNeg.idUnidadNegocio
				) {
					let importe = Number(
						this.presupuestosMeses[i].totalMensual
					);
					suma += importe;
				}
			}
			return parseFloat(suma).toFixed(2);
		},
		totalReal() {
			if (this.unidadNeg) {
				let suma = 0;
				for (var i = 0; i < this.negociosFacturados.length; i++) {
					if (
						this.negociosFacturados[i].idUnidadNegocio ==
						this.unidadNeg.idUnidadNegocio
					) {
						let importe = Number(
							this.negociosFacturados[i].tipoMoneda != "USD"
								? this.negociosFacturados[i].valorNegocio
								: this.negociosFacturados[i].valorNegocio *
										this.negociosFacturados[i].xCambio
						);
						suma += importe;
					}
				}
				return parseFloat(suma).toFixed(2);
			}
		},
		cumplimientoPresupuestado() {
            const cumplimiento = parseInt((this.totalReal / this.totalPresupuestado) * 100);
            if(cumplimiento) return cumplimiento;
            return 0;
        },
        cumplimientoPromedio() {
            const cumplimiento = parseInt((this.totalReal / this.totalProyeccion) * 100);
            if(cumplimiento) return cumplimiento;
            return 0;
        },
        totalProyeccion() {
            let suma = 0;
            for (var i = 0; i < this.listProyecciones.length; i++) {
                if (
                    this.listProyecciones[i].idEmbudo == this.embudoSelected.idEmbudo &&
                    this.listProyecciones[i].idUnidadNegocio == this.unidadNeg.idUnidadNegocio
                ) {
                    let importe = Number(
                        this.listProyecciones[i].monto
                    );
                    suma += importe;
                }
            }
            return parseFloat(suma).toFixed(2);
        },
		promedioMensual() {
            return parseFloat(this.totalProyeccion / 12).toFixed(2);
		},
        diferienciaRealPromedio() {
            return this.totalReal - this.totalProyeccion;  
        },
        diferienciaRealProgramado() {
            return this.totalReal - this.totalPresupuestado;  
        }
	},
};
</script>