<template>
	<b-tr class="text-right">
		<b-td class="text-left pl-2"
			><strong>{{ mes.nombre }}</strong></b-td
		>
		<b-td>
			<div class="d-flex">
				<div class="mr-auto">
					<i class="fas fa-dollar-sign align-middle ml-1"></i>
				</div>
				<vue-numeric
					separator=","
					:precision="2"
					:read-only="true"
					:value="promedioMensual"
				/>
			</div>
		</b-td>
		<b-td>
			<div class="d-flex">
				<div class="mr-auto">
					<i class="fas fa-dollar-sign align-middle ml-1"></i>
				</div>
				<vue-numeric
					separator=","
					:precision="2"
					:read-only="true"
					:value="totalPresupuestado"
				/>
			</div>
		</b-td>
		<b-td>
			<div class="d-flex">
				<div class="mr-auto">
					<i class="fas fa-dollar-sign align-middle ml-1"></i>
				</div>
				<vue-numeric
					separator=","
					:precision="2"
					:read-only="true"
					:value="totalReal"
				/>
			</div>
		</b-td>
		<b-td class="text-center"> {{ cumplimientoPromedio }}% </b-td>
		<b-td class="text-center"> {{ cumplimientoProgramado }}% </b-td>
		<b-td>
			<div class="d-flex">
				<div class="mr-auto">
					<i class="fas fa-dollar-sign align-middle ml-1"></i>
				</div>
				<vue-numeric
					separator=","
					:precision="2"
					:read-only="true"
					:value="diferienciaPromedio"
				/>
			</div>
		</b-td>
		<b-td>
			<div class="d-flex">
				<div class="mr-auto">
					<i class="fas fa-dollar-sign align-middle ml-1"></i>
				</div>
				<vue-numeric
					separator=","
					:precision="2"
					:read-only="true"
					:value="diferienciaProgramado"
				/>
			</div>
		</b-td>
	</b-tr>
</template>
<script>
import { mapState, mapMutations } from "vuex";
export default {
	props: {
		mes: Object,
		unidad: Object,
		promedioMensual: String,
	},
	mounted() {
	},
	computed: {
		...mapState("presupuesto", [
			"monto_meses",
			"presupuestosMeses",
		]),
		...mapState("vt_unidades_negocio", ["listUnidadesNegocio"]),
		...mapState("negocios", ["negociosFacturados"]),

		totalPresupuestado() {
			let suma = 0;
			for (var i = 0; i < this.presupuestosMeses.length; i++) {
				if (
					this.presupuestosMeses[i].idMes == this.mes.id &&
					this.presupuestosMeses[i].id_unidad_negocio ==
						this.unidad.idUnidadNegocio
				) {
					let importe = Number(
						parseFloat(
							this.presupuestosMeses[i].totalMensual
						).toFixed(2)
					);
					suma += importe;
				}
			}
			return parseFloat(suma).toFixed(2);
		},
		totalReal() {
			let suma = 0;
			for (var i = 0; i < this.negociosFacturados.length; i++) {
				const mesFactura = moment(
					this.negociosFacturados[i].fechaFactura
				).format("MM");
				if (
					mesFactura == this.mes.id &&
					this.negociosFacturados[i].idUnidadNegocio ==
						this.unidad.idUnidadNegocio
				) {
					let importe = Number(
						this.negociosFacturados[i].tipoMoneda != "USD"
							? this.negociosFacturados[i].valorNegocio
							: this.negociosFacturados[i].valorNegocio *
									this.negociosFacturados[i].xCambio
					);
					suma += importe;
				}
			}
			return parseFloat(suma).toFixed(2);
		},
		cumplimientoProgramado() {
			if(Number(this.totalPresupuestado) > 0)
				return parseInt(
					Number(this.totalReal) / Number(this.totalPresupuestado) * 100
				);
			return 0
		},
		cumplimientoPromedio() {
			if(Number(this.promedioMensual > 0))
				return parseInt(
					Number(this.totalReal) / Number(this.promedioMensual) * 100
				);
			return 0
		},
		diferienciaPromedio() {
			return parseInt(
				Number(this.totalReal) - Number(this.promedioMensual)
			);
		},
		diferienciaProgramado() {
			return parseInt(
				Number(this.totalReal) - Number(this.totalPresupuestado)
			);
		},
	},
};
</script>