<template>
	<div class="wrapper" style="height: calc(100vh - 54px)">
		<sidebar-component :title="'INDICADORES'">
			<template slot="content">
				<vt-ind-sidebar />
			</template>
		</sidebar-component>
		<b-container fluid style="overflow: auto">
			<b-row>
				<b-col lg="2">
					<div class="mt-3 pt-2">
						<vt-ind-filter-embudos />
					</div>
				</b-col>
				<b-col lg="8">
					<h1 class="mt-3 mb-0 text-center">Unides de Negocio</h1>
				</b-col>
				<b-col lg="2">
					<b-form-checkbox
						class="mt-4 pt-1 text-right"
						v-model="allSelected"
						switch
						>Seleccionar todos</b-form-checkbox
					>
				</b-col>
			</b-row>

			<b-card title="Card Title" no-body class="mt-2 mb-4">
				<b-card-header header-tag="nav" class="bg-light border">
					<b-nav
						card-header
						pills
						justified
						class="bg-light"
						style="overlay: auto"
                        v-if="listUnidadesNegocio.length"
					>
						<b-nav-item
							class="shadow border activate"
							:class="{
								['bg-secondary text-white']:
									unidadActiva &&
									unidadActiva.idUnidadNegocio ==
										unidadNeg.idUnidadNegocio ||
                                        allSelected
							}"
							v-for="(unidadNeg, index) in listUnidadesNegocio"
							:key="index"
							@click="unidadActiva = unidadNeg"
						>
							{{ unidadNeg.unidadNegocio }}
						</b-nav-item>
					</b-nav>
                    <b-nav
						card-header
						pills
						justified
						class="bg-light"
						style="overlay: auto"
                        v-if="!listUnidadesNegocio.length"
					>
						<b-skeleton type="button" width="20%"></b-skeleton>
						<b-skeleton type="button" width="20%"></b-skeleton>
						<b-skeleton type="button" width="20%"></b-skeleton>
						<b-skeleton type="button" width="20%"></b-skeleton>
						<b-skeleton type="button" width="20%"></b-skeleton>
					</b-nav>

				</b-card-header>
				<b-card-body>
					<template v-for="unidadNeg in listUnidadesNegocio">
						<vt-indicadores-unidades-negocio-table-unidad-component
                             v-if="(unidadActiva &&
                                unidadNeg.idUnidadNegocio ==
                                    unidadActiva.idUnidadNegocio) || allSelected
                            "
							:unidad-neg="unidadNeg"
							:key="unidadNeg.idUnidadNegocio"
						/>
					</template>
					<template v-if="!unidadActiva && !allSelected">
						<div style="height: calc(100vh - 237px)">
							<icon-text-component
								:circleStyle="{
									backgroundColor: '#f4f4f6',
									color: '#45555f',
								}"
								:icon="'far fa-comment-dots'"
								:text="'SELECCIONE UNA UNIDAD DE NEGOCIO'"
							/>
						</div>
					</template>
				</b-card-body>
			</b-card>
		</b-container>
	</div>
</template>
<script>
import { mapState, mapMutations, mapActions } from "vuex";
export default {
	data() {
		return {
			unidadActiva: null,
			allSelected: false,
		};
	},
	mounted() {
		this.setRouteName("vt.indicadores.un");
		this.getNegociosFacturados();
		this.getUnidadesNegocio();
		this.getPresupuestosMeses(this.embudoSelected.idEmbudo);
		this.getProyecciones();
	},
	methods: {
		...mapMutations(["setRouteName"]),
		...mapActions("vt_unidades_negocio", ["getUnidadesNegocio"]),
		...mapActions("presupuesto", ["getPresupuestosMeses"]),
		...mapActions("negocios", ["getNegociosFacturados"]),
		...mapActions("vt_proyecciones", ["getProyecciones"]),
	},
	computed: {
		...mapState("vt_unidades_negocio", ["listUnidadesNegocio"]),
		...mapState("negocios", ["embudoSelected"]),
    },
    watch: {
        embudoSelected() {
		    this.getPresupuestosMeses(this.embudoSelected.idEmbudo);
        }
    }
};
</script>

<style>
    .bg-secondary-lig {
        background-color:#afb4b8;
        color: #45555f;
    }
</style>