<template>
	<b-collapse id="nav-collapse" is-nav>
		<b-navbar-nav>

             <b-nav-item class="ml-2 mr-1" 
				:to="{name:'tk.tickets'}">
				<i class="fas fa-ticket-alt" style="color:white"></i>
				Tickets
			</b-nav-item>

			<b-nav-item class="mr-1"
				v-if="usuario.is_admin_tk === 1" 
				:to="{name:'tk.tickets.admin'}">
				<i class="fas fa-envelope" style="color:white"></i>
				Bandeja de entrada
			</b-nav-item>

				<b-nav-item class="mr-1"
				v-if="usuario.is_admin_tk === 1" 
				:to="{name:'planes'}">
				<i class="fas fa-calendar" style="color:white"></i>
				Calendario
			</b-nav-item>

            <b-nav-item class="mr-1"
            	v-if="usuario.is_admin_tk === 1" 
				:to="{name:'tk.estadisticas'}">
				<i class="fas fa-chart-line" style="color:white"></i>
				Indicadores
			</b-nav-item>

		</b-navbar-nav>

		<b-navbar-nav class="ml-auto">

			<b-nav-item class="pr-0" right>
				<b-button variant="link">
					<i class="fas fa-question-circle text-white"></i>
				</b-button>
			</b-nav-item>

			<b-nav-item-dropdown right>
				<template v-slot:button-content>
					<b-avatar :src="urlImage" class="mr-2" variant="dark"></b-avatar>
        			<span class="mr-auto">{{ nombreUsuario }}</span>
				</template>

				<b-dropdown-item 
					v-if="usuario.is_admin_tk === 1"
					:to="{name: 'tk.configuracion.services'}"
					style="color: #777;">
					<div class="mr-5 ml-1">
						<i class="fas fa-cogs pr-2"></i> 	
						Configuración
					</div>
				</b-dropdown-item>
	            <hr v-if="usuario.is_admin_tk === 1" class="pb-1 mb-0 mt-1">

				<b-dropdown-item @click="logout"
					style="color: #777;">
					<div class="mr-5 ml-1">
						<i class="fas fa-sign-out-alt pr-2"></i> 	
						Cerrar sesión
					</div>
				</b-dropdown-item>

			</b-nav-item-dropdown>
		</b-navbar-nav> 
	</b-collapse>
</template>
<script>
	import { mapState, mapActions} from 'vuex'
	export default {
		props:{
            usuario: Object
        },
		methods:{
			logout() {
                axios.post(BaseUrl + '/logout').then(response => {
                    window.location = "/";
                }).catch(error => {
                    location.reload()
                })
            },
		},
		computed:{
			...mapState(['nombreUsuario']),
			...mapState('notifications', ['notCount']),

			urlImage() {
				return BaseUrl + '/img/profiles/' + this.usuario.foto;
			},
		},
	}
</script>
 
