<template>
	<b-form class="mt-2" inline>
		<b-form-group class="ml-0">
			<b-input-group prepend="Inicio:" size="sm">
				<b-form-datepicker
					id="picker-inicio"
					v-model="dataFilter.inicio"
					locale="es"
					size="sm"
					:show-decade-nav="false"
					:hide-header="true"
					label-help
					selected-variant="secondary"
					label-no-date-selected="Seleccione"
					:date-format-options="{
						day: 'numeric',
						year: 'numeric',
						month: 'long',
					}"
				>
				</b-form-datepicker>
			</b-input-group>
		</b-form-group>

		<b-form-group class="ml-3">
			<b-input-group prepend="Fin:" size="sm">
				<b-form-datepicker
					id="picker-fin"
					v-model="dataFilter.fin"
					locale="es"
					size="sm"
					:show-decade-nav="false"
					:hide-header="true"
					label-help
					selected-variant="secondary"
					label-no-date-selected="Seleccione"
					:date-format-options="{
						day: 'numeric',
						year: 'numeric',
						month: 'long',
					}"
				>
				</b-form-datepicker>
			</b-input-group>
		</b-form-group>
		<!-- <b-button
			size="sm"
			class="ml-3"
			variant="danger"
			@click="setDataFilter(dataFilter)"
			:disabled="!validarDatos"
		>
			<i class="fas fa-funnel-dollar mr-1"></i>
			Consultar
		</b-button> -->
	</b-form>
</template>

<script>
import { mapState, mapMutations, mapActions } from "vuex";

export default {
	data() {
		return {};
	},
	mounted() {},
	methods: {
		...mapMutations("fn_cg_comprobaciones", ["setDataFilter"]),
	},
	computed: {
		...mapState("fn_cg_comprobaciones", ["dataFilter"]),

		validarDatos() {
			if (this.dataFilter.inicio && this.dataFilter.fin) return true;
			else return false;
		},
	},
};
</script>

<style>
.b-calendar .b-calendar-grid {
	width: 100%;
}
</style>
