<template>
	<div
		class="bg-dark p-2 border-top border-dark"
		style="height: calc(100vh - 137px)"
	>
		<b-list-group class="mt-2" flush>
			<b-list-group-item
				:to="{ name: 'fn.cg.indicadores.no_deducible' }"
				class="li-area"
				:class="{
					[active]: routeName == 'fn.cg.indicadores.no_deducible',
				}"
			>
				No deducibles
			</b-list-group-item>

			<b-list-group-item
				:to="{ name: 'fn.cg.indicadores.dias_transcurridos' }"
				class="li-area"
				:class="{
					[active]:
						routeName == 'fn.cg.indicadores.dias_transcurridos',
				}"
			>
				Días transcurridos
			</b-list-group-item>

			<b-list-group-item
				:to="{ name: 'fn.cg.indicadores.total_cuenta' }"
				class="li-area"
				:class="{
					[active]: routeName == 'fn.cg.indicadores.total_cuenta',
				}"
			>
				Total por cuenta
			</b-list-group-item>
		</b-list-group>
	</div>
</template>

<script>
import { mapState, mapActions } from "vuex";

export default {
	data() {
		return {
			active: "border-secondary bg-secondary text-white",
		};
	},
	methods: {},
	computed: {
		...mapState(["routeName"]),
	},
};
</script>

<style>
.bg-white {
	background-color: #fff !important;
}
.text-dark {
	color: rgb(69, 85, 95);
}
.li-area {
	color: #fff;
	background-color: rgb(69, 85, 95);
	cursor: pointer !important;
}
</style>
