<template>
	<div class="wrapper">
		<sidebar-component :title="'INDICADORES'">
			<template slot="content">
				<vt-ind-sidebar />
			</template>
		</sidebar-component>
		<b-container style="height: calc(100vh - 56px); overflow: auto;">
			<b-row class="py-4">
				<b-col lg="3" class="pt-5">
					<vt-ind-filter-embudos />
				</b-col>
				<b-col lg="6">
					<h1 class="text-center mb-0">Clientes Facturados</h1>
				</b-col>
				<b-col lg="3">
					<b-button
						v-if="
							hasPermission(
								'vt.crm.indicadores.cf.agregar.cliente'
							)
						"
						variant="danger"
						size="sm"
						class="float-right mt-5 shadow-sm"
						v-b-modal.modal-clientes-facturados
					>
						<b-icon
							icon="person-plus-fill"
							aria-hidden="true"
						></b-icon>
						Agregar cliente
					</b-button>
				</b-col>
			</b-row>
			<vt-ind-clientes-facturados-table />
			<modal-component
				:id="'modal-clientes-facturados'"
				title="Agregar cliente"
				:hideFooter="true"
				:hideHeader="true"
			>
				<template slot="content">
					<vt-ind-clientes-facturados-form />
				</template>
			</modal-component>
		</b-container>
	</div>
</template>
<script>
import { mapState, mapActions, mapMutations } from "vuex";

export default {
	data() {
		return {};
	},
	mounted() {
		this.setRouteName("vt.indicadores.cf");
		this.getClientesFacturados(this.embudoSelected.idEmbudo);
		this.getEvaluaciones(this.embudoSelected.idEmbudo);
		this.getPreguntas();
		this.getEvaluacionesPreguntas();
	},
	methods: {
		...mapMutations(["setRouteName"]),
		...mapMutations("negocios", ["setEmbudo"]),
		...mapActions("indicadores", [
			"getClientesFacturados",
			"getEvaluaciones",
			"getPreguntas",
			"getEvaluacionesPreguntas",
		]),

		hasPermission(funcion) {
			if (this.permissions.length) {
				const permiso = this.permissions.find(
					(permiso) => permiso.idFuncion == funcion
				);
				if (permiso) return true;
				return false;
			}
		},
	},
	computed: {
		...mapState(["permissions"]),
		...mapState("negocios", ["embudoSelected"]),
	},
};
</script>
