<template>
	<b-row class="mb-4">
		<b-col lg="6">
			<b-card class="shadow-sm" no-body title="Presupuestados">
				<div class="py-3 text-center">
					<h3>Presupuestados</h3>
					<h5 class="display-1 mb-0" style="font-size: 24px">
						{{ preFacturados.length }}/{{ presupuestados.length }} -
						{{ porcentajePre }}%
					</h5>
				</div>
				<b-list-group flush>
					<template v-for="(cliente, index) in clientesFacturados">
						<b-list-group-item
							v-if="cliente.tipo == 'presupuestado'"
							:key="cliente.id"
							:class="{
								'list-group-item-success': cliente.facturado,
							}"
						>
							<strong class="mr-1"
								>{{ index + 1 }} - {{ cliente.clave }}
							</strong>
							({{ cliente.nombre }})
							<b-button
								v-if="!cliente.fecha_factura"
								class="float-right py-0 px-0"
								size="sm"
								variant="link"
								@click="remove(cliente.id, index)"
							>
								<i class="fas fa-minus-circle text-danger"></i>
							</b-button>
						</b-list-group-item>
					</template>
				</b-list-group>
			</b-card>
		</b-col>
		<b-col lg="6">
			<b-card class="shadow-sm" no-body title="Nuevos">
				<div class="text-center py-3">
					<h3>Nuevos</h3>
					<h5 class="display-1 mb-0" style="font-size: 24px">
						{{ nuevosFacturados.length }}/{{ nuevos.length }} -
						{{ porcentajeNuevo }}%
					</h5>
				</div>
				<b-list-group flush>
					<template v-for="(cliente, index2) in clientesFacturados">
						<b-list-group-item
							v-if="cliente.tipo == 'nuevo'"
							:key="cliente.id"
							:class="{
								'list-group-item-success': cliente.facturado,
							}"
						>
							<strong class="mr-1"
								>{{ index2 + 1 }} - {{ cliente.clave }}</strong
							>
							({{ cliente.nombre }})
							<b-button
								v-if="!cliente.fecha_factura"
								class="float-right py-0 px-0"
								size="sm"
								variant="link"
								@click="remove(cliente.id, index)"
							>
								<i class="fas fa-minus-circle text-danger"></i>
							</b-button>
						</b-list-group-item>
					</template>
				</b-list-group>
			</b-card>
		</b-col>
	</b-row>
</template>

<script>
import { mapState, mapMutations, mapActions } from "vuex";
export default {
	data() {
		return {
			count: 0,
		};
	},
	mounted() {},
	methods: {
		...mapMutations("indicadores", ["removeClienteFacturado"]),

		makeToast(variant = null) {
			this.$bvToast.toast("Se ha eliminado correctamente el cliente", {
				title: `Éxito`,
				variant: variant,
				solid: true,
			});
		},
		remove(id, index) {
			axios
				.delete(`/vt/indicadores/clienteFacturado/${id}`)
				.then((response) => {
					if (response.data.success) {
						this.removeClienteFacturado(index);
						this.makeToast("success");
					}
				});
		},
	},
	computed: {
		...mapState("indicadores", ["clientesFacturados"]),

		preFacturados() {
			return this.clientesFacturados.filter(
				(cliente) =>
					cliente.tipo == "presupuestado" && cliente.facturado == true
			);
		},
		nuevosFacturados() {
			return this.clientesFacturados.filter(
				(cliente) =>
					cliente.tipo == "nuevo" && cliente.facturado == true
			);
		},
		presupuestados() {
			return this.clientesFacturados.filter(
				(cliente) => cliente.tipo == "presupuestado"
			);
		},
		nuevos() {
			return this.clientesFacturados.filter(
				(cliente) => cliente.tipo == "nuevo"
			);
		},
		porcentajePre() {
			var porcentaje =
				this.preFacturados.length > 0
					? (this.preFacturados.length / this.presupuestados.length) *
					  100
					: 0;

			if (!Number.isInteger(porcentaje))
				porcentaje = porcentaje.toFixed(2);

			return porcentaje;
		},
		porcentajeNuevo() {
			var porcentaje =
				this.nuevosFacturados.length > 0
					? (this.nuevosFacturados.length / this.nuevos.length) * 100
					: 0;

			if (!Number.isInteger(porcentaje))
				porcentaje = porcentaje.toFixed(2);

			return porcentaje;
		},
	},
};
</script>
