<template>
	<b-overlay
		:show="overlay"
		rounded="sm"
		opacity="1.0"
		blur="1px"
		variant="transparent"
	>
		<div class="input-group w-100 bg-white border mb-3" id="input-shadow">
			<div class="input-group-prepend bg-light mr-1 ml-3">
				<div class="pt-1 bg-white">
					<i class="fas fa-search"></i>
				</div>
			</div>
			<b-form-input
				id="input-search"
				size="sm"
				class="form-control border-0"
				placeholder="Escribe tu busqueda aquí"
				v-model="filter"
				autocomplete="off"
			></b-form-input>
		</div>

		<b-skeleton-table
			v-if="loading"
			:rows="5"
			:columns="1"
			:table-props="{ bordered: true, striped: true }"
		></b-skeleton-table>

		<b-card
			v-else
			no-body
			class="mb-3"
			style="max-height: 550px; overflow: auto"
		>
			<b-table
				hover
				:fields="fields"
				:items="clientesFiltered"
				selectable
				thead-class="hidden_header"
				class="mb-0"
				@row-selected="onRowSelected"
				select-mode="single"
			>
				<template #cell()="data">
					<h6 class="mb-0">
						<small
							><strong>{{ data.item.clave }}</strong> -
							{{ data.item.nombre }}</small
						>
					</h6>
				</template>
			</b-table>
			<hr class="my-0" />

			<template v-if="!clientesFiltered.length">
				<h5 class="py-4 text-center">No se encontraron clientes</h5>
			</template>
		</b-card>

		<b-form-radio-group id="radio-group" v-model="form.tipo">
			<b-form-radio value="presupuestado">Presupuestado</b-form-radio>
			<b-form-radio value="nuevo">Nuevo</b-form-radio>
		</b-form-radio-group>

		<div class="d-flex flex-row-reverse bd-highlight">
			<b-button
				variant="danger"
				class="ml-3 my-2"
				@click="submit"
				:disabled="!form.cliente_id"
			>
				AGREGAR
			</b-button>
			<b-button variant="white" class="link-light my-2" @click="cancel">
				CANCELAR
			</b-button>
		</div>
	</b-overlay>
</template>

<script>
import { mapState, mapMutations } from "vuex";
export default {
	props: {
		id: String,
		title: String,
	},
	data() {
		return {
			form: {
				cliente_id: null,
				tipo: "presupuestado",
				id_embudo: null,
			},
			clientes: [],
			overlay: false,
			fields: ["nombre"],
			filter: "",
			loading: false,
		};
	},
	mounted() {
		this.getClientes();
	},
	methods: {
		...mapMutations(["modalSubmit"]),
		...mapMutations("indicadores", ["addClienteFacturado"]),

		getClientes() {
			this.loading = true;
			axios.get(BaseUrl + `/api/vt/clientes`).then((response) => {
				this.clientes = response.data;
				this.loading = false;
			});
		},
		getClienteFacturado(id) {
			axios
				.get(
					BaseUrl + `/api/vt/indicadores/clienteFacturado/byId/${id}`
				)
				.then((response) => {
					this.addClienteFacturado(response.data);
				});
		},
		cancel() {
			this.$bvModal.hide("modal-clientes-facturados");
		},
		async submit() {
			if (this.form.cliente_id != null) {
				this.overlay = true;
				this.form.id_embudo = this.embudoSelected.idEmbudo;
				const response = await axios.post(
					BaseUrl + "/api/vt/indicadores/clienteFacturado",
					this.form
				);
				if (response.data.success) {
					this.getClienteFacturado(
						response.data.cliente_facturado.id
					);
				}
				this.modalSubmit(true);
			}
		},
		onRowSelected(items) {
			if (items.length) this.form.cliente_id = items[0].idCliente;
			else this.form.cliente_id = null;
		},
	},
	computed: {
		...mapState("negocios", ["embudoSelected"]),
		clientesFiltered() {
			return this.clientes.filter(
				(cliente) =>
					cliente.nombre
						.toLowerCase()
						.indexOf(this.filter.toLowerCase()) > -1 ||
					cliente.clave
						.toLowerCase()
						.indexOf(this.filter.toLowerCase()) > -1
			);
		},
	},
};
</script>
<style>
.hidden_header {
	display: none;
}
</style>
