<template>
	<b-container fluid>
		<b-row class="py-4">
			<b-col lg="3"></b-col>
			<b-col lg="6">
				<h1 class="text-center mb-0">Cuentas electrónicas</h1>
			</b-col>
			<b-col lg="3">
				<b-button
					variant="danger"
					size="sm"
					class="float-right mt-2 shadow-sm"
					@click="cuenta = null"
					v-b-modal.modal-cuenta
				>
					<b-icon icon="person-plus-fill" aria-hidden="true"></b-icon>
					Agregar cuenta
				</b-button>
			</b-col>
		</b-row>

		<b-card
			class="shadow-sm"
			style="max-height: calc(100vh - 194px); overflow-y: auto"
		>
			<b-row>
				<b-col lg="4">
					<b-form inline>
						<b-form-group>
							<b-input-group prepend="Dominio" size="sm">
								<b-form-select
									size="sm"
									:options="dominios"
									@change="setDominioSelected($event)"
									:value="dominioSelected"
								>
								</b-form-select>
							</b-input-group>
						</b-form-group>

						<b-form-group class="ml-3">
							<b-input-group prepend="Ver" size="sm">
								<b-form-select
									size="sm"
									:options="status"
									v-model="statusSelected"
								>
								</b-form-select>
							</b-input-group>
						</b-form-group>
					</b-form>
				</b-col>

				<b-col lg="4"></b-col>
				<b-col lg="2"></b-col>
				<b-col lg="2">
					<div
						class="input-group w-100 bg-white border shadow-sm"
						id="input-shadow"
					>
						<div class="input-group-prepend bg-light mr-1 ml-3">
							<div class="pt-1 bg-white">
								<i class="fas fa-search"></i>
							</div>
						</div>
						<b-form-input
							id="input-search"
							size="sm"
							class="form-control border-0"
							placeholder="Escribe tu busqueda aquí"
							v-model="search"
							autocomplete="off"
						></b-form-input>
					</div>
				</b-col>
			</b-row>
			<hr />

			<b-table
				:items="cuentasByStatus"
				:fields="fields"
				responsive="sm"
				selectable
				hover
				size="sm"
				:busy="isBusy"
				@row-selected="onRowSelected"
				select-mode="single"
				:current-page="currentPage"
				:per-page="perPage"
				:filter="search"
				show-empty
				:empty-filtered-text="'No se encontraron registros'"
				empty-text="No hay registros para mostrar"
			>
				<template v-slot:table-busy>
					<div class="text-center text-secondary mt-5 mb-3">
						<b-spinner class="align-middle"></b-spinner>
						<strong>Cargando...</strong>
					</div>
				</template>

				<template v-slot:cell(status)="scope">
					<strong>{{ scope.item.status }}</strong>
				</template>

				<template v-slot:cell(item)="scope">
					<strong>{{ scope.item.item }}</strong>
				</template>

				<template v-slot:cell(password_cuenta)="scope">
					<b-link
						v-if="
							scope.item.password_cuenta == 'N/A' ||
							scope.item.password_cuenta == ''
						"
						class="text-danger"
					>
						<small>Asignar Contraseña</small>
					</b-link>
					<b-link
						v-else
						v-b-tooltip.hover.bottom="labelCopiar"
						class="cp text-secondary"
						@click="copiar(scope.item.password_cuenta)"
					>
						{{ scope.item.password_cuenta }}
						<i class="far fa-copy"></i>
					</b-link>
				</template>
				<template v-slot:cell(actions)="scope">
					<div class="text-center">
						<b-dropdown
							id="dropdown-left"
							right
							variant="link"
							class="py-0 my-0"
							no-caret
							size="sm"
						>
							<template v-slot:button-content>
								<i class="fas fa-ellipsis-v px-2 py-0 text-secondary"></i>
							</template>
							<b-dropdown-item
								v-b-modal.modal-cuenta
								@click="dataEdit(scope.item)"
							>
								<i class="fas fa-edit px-2"></i>
								Editar
							</b-dropdown-item>
							<b-dropdown-item
								href="#"
								v-b-modal.modal-delete
								@click="$emit('dataDelete', scope.item)"
							>
								<i class="fas fa-trash px-2"></i>
								Inhablitar
							</b-dropdown-item>
							<slot name="dropdown-more-actions"></slot>
						</b-dropdown>
					</div>
				</template>
			</b-table>
		</b-card>

		<b-row class="my-3">
			<b-col md="2">
				<b-form inline>
					<b-form-group>
						<div class="input-group w-100 bg-white">
							<div class="input-group-prepend bg-light">
								<div class="mr-2 ml-2">
									<small><strong>Por página:</strong></small>
								</div>
							</div>
							<b-form-select
								size="sm"
								:options="pageOptions"
								v-model="perPage"
							>
							</b-form-select>
						</div>
					</b-form-group>
				</b-form>
			</b-col>

			<b-col md="8"></b-col>
			<b-col md="2">
				<b-pagination
					v-model="currentPage"
					:total-rows="cuentasByStatus.length"
					:per-page="perPage"
					align="fill"
					size="sm"
					class="my-0"
				></b-pagination>
			</b-col>
		</b-row>
		<div>
			<b-sidebar
				id="sidebar-backdrop"
				backdrop-variant="transparent"
				class="bg-light"
				shadow
				right
				bg-variant="white"
				text-variant="dark"
				width="530px"
				:visible="showSidebar"
				@hidden="hiddenSidebar"
			>
				<div class="px-5 py-2" v-if="cuentaActiva">
					<h4>{{ cuentaActiva.cuenta }}</h4>
					<h5>{{ cuentaActiva.responsable }}</h5>
					<h6><strong>Status:</strong> {{ cuentaActiva.status }}</h6>
					<div class="my-4">
						<b-button
							v-if="agregarServicio==false"
							variant="danger"
							size="sm"
							class="shadow-sm"
							@click="agregarServicio = true"
						>
							<b-icon
								icon="person-plus-fill"
								aria-hidden="true"
							></b-icon>
							Agregar servicio
						</b-button>
					</div>					

					<si-form-password-servicio-component v-if="agregarServicio" @servicioAgregado="agregarServicio=false" :idCuenta="cuentaActiva.idCuenta"/>

					<div class="mt-3" v-if="!cuentasServicios.length && !agregarServicio">
						<p class="text-center pt-3">No se han registrado servicios a esta cuenta</p>
					</div>

					<b-alert
						show
						variant="success"
						class="border-0 mt-4 py-2"
						v-if="success && !agregarServicio"
					>
						<p style="font-size: 13px;" class="mb-0">
							<i
								class="far fa-check-circle mr-1 text-success"
							></i>
							Se guardaron correctamente los cambios
						</p>
					</b-alert>

					<h6
						class="ml-4"
						v-for="(servicio, index) in cuentasServicios"
						:key="index"
					>
						{{servicio.nombre_servicio}}
						<b-link
							v-b-tooltip.hover.bottom="labelCopiar"
							class="cp text-secondary"
							@click="copiar()"
							size="sm"
						>
							<i class="far fa-copy"></i>
						</b-link>
					</h6>
				</div>
			</b-sidebar>
		</div>
		<modal-component
			:title="'Agregar Cuenta'"
			:id="'modal-cuenta'"
			:hideFooter="true"
		>
			<template slot="content">
				<si-form-cuenta-component :cuenta="cuenta" />
			</template>
		</modal-component>
	</b-container>
</template>git
<script>
import { mapState, mapActions, mapMutations } from "vuex";
export default {
	data() {
		return {
			agregarServicio: false,
			cuentaActiva: null,
			showSidebar: false,
			cuenta: null,
			search: "",
			fields: [
				{
					key: "status",
					class: "text-center",
					thStyle: {
						width: "100px",
					},
					tdClass: this.tdClass,
				},
				{
					key: "item",
					class: "text-center",
					label: "Item",
				},

				"responsable",
				"cuenta",
				{
					key: "password_cuenta",
					class: "text-center",
					label: "Password Cuenta",
				},
				{
					key: "actions",
					class: "text-center",
					label: "Acción",
				},
			],
			status: [
				{ text: "Cuentas Activas", value: "Activa" },
				{ text: "Cuentas Inactivas", value: "Inactiva" },
				{ text: "Todas", value: null },
			],
			statusSelected: "Activa",
			labelCopiar: "Copiar",
			totalRows: 1,
			currentPage: 1,
			perPage: 10,
			pageOptions: [10, 13, 15, 20, 25],
			filter: null,
		};
	},
	mounted() {
		this.getCuentas();
		this.getDominios();
		this.setSuccess(false);
	},
	methods: {
		...mapActions("cuentas_electronicas", ["getCuentas", "getDominios", "getCuentasServicios"]),
		...mapMutations("cuentas_electronicas", ["setDominioSelected", "setSuccess"]),
		dataEdit(data) {
			this.cuenta = data;
		},
		copiar(valor) {
			var aux = document.createElement("input");
			aux.setAttribute("value", valor);
			document.body.appendChild(aux);
			aux.select();
			document.execCommand("copy");
			document.body.removeChild(aux);
			this.labelCopiar = "Copiado!";
			setTimeout(this.restLabCopiar, 1500);
		},
		restLabCopiar() {
			this.labelCopiar = "Copiar";
		},
		onRowSelected(items) {
			this.cuentaActiva = items[0];
			this.getCuentasServicios(this.cuentaActiva.idCuenta)
			this.showSidebar = true;
		},
		tdClass(value, key, item) {
			if (value == "Activa") return "bg-green-light-2";
			else if (value == "Inactiva") return "bg-yellow-light-2";
		},
		hiddenSidebar() {
			this.cuentaActiva = null;
			this.showSidebar = false;
			this.setSuccess(false);
		},
	},
	computed: {
		...mapState("cuentas_electronicas", [
			"cuentas",
			"isBusy",
			"dominios",
			"dominioSelected",
			"cuentasServicios",
			"success",
		]),
		cuentasByDominio() {
			return this.cuentas.filter(
				(cuenta) => cuenta.dominio == this.dominioSelected
			);
		},
		cuentasByStatus() {
			if (this.statusSelected == null) return this.cuentasByDominio;
			else {
				return this.cuentasByDominio.filter(
					(cuenta) => cuenta.status == this.statusSelected
				);
			}
		},
	},
};
</script>
<style>
.bg-green-light-2 {
	background-color: #e0ffe1;
	color: #28a745;
}
.bg-yellow-light-2 {
	background-color: #fff7e2;
	color: #e67523;
}
.bg-red-light-2 {
	background-color: #fff1f2;
	color: #dc3545;
}
</style>