<template>
    <b-form class="mt-5">

        <fieldset
            class="scheduler-border"
            style="margin-top: 20px !important"
        >
            <legend class="scheduler-border">
                Agregar servicio
            </legend>

            <b-form-group label="Servicio" class="mb-0">
                <template v-if="!ros">
                    <b-form-select
                        :options="servicios"
                        v-model="$v.form.idServicio.$model"
						:state="$v.form.idServicio.$dirty ? !$v.form.idServicio.$error : null"
                    >
                    <template v-slot:first>
						<option :value="null" diabled>Seleccione un servicio</option>
					</template>
                    </b-form-select>
                    <b-button variant="link" size="sm" class="text-secondary float-right mb-0" style="cursor:pointer" @click="ros=true"> 
                        Registrar otro servicio
                    </b-button>
                </template>
                <template v-if="ros">
                    <b-form-input
                        placeholder="Ingrese el nombre del servicio"
                        v-model="$v.form.nombreServicio.$model"
						:state="$v.form.nombreServicio.$dirty ? !$v.form.nombreServicio.$error : null"
                    >
                    </b-form-input>
                    <b-button variant="link" size="sm" class="text-secondary float-right mb-0" style="cursor:pointer" @click="ros=false"> 
                        Registrar servicio existente
                    </b-button>
                </template>
            </b-form-group>
            <b-form-group label="Contraseña">
                <b-form-input
                    placeholder="Ingrese la contraseña el servicio"
                     v-model="$v.form.pass.$model"
					:state="$v.form.pass.$dirty ? !$v.form.pass.$error : null"
                >
                </b-form-input>
            </b-form-group>
            <div class="d-flex flex-row-reverse bd-highlight">
                <b-button variant="danger" class="ml-2 my-2" size="sm" @click="submit()">
                    Guardar
                </b-button>
                <b-button variant="light" class="my-2" size="sm" @click="cancel()">
                    Cancelar
                </b-button>
            </div>
        </fieldset>
    </b-form>
</template>

<script>
import { mapActions, mapMutations } from 'vuex';
import { required } from 'vuelidate/lib/validators'
export default {
    props: {
        idCuenta: Number
    },
    data() {
        return {
            servicios: null,
            ros: false,
            form: {
                pass: '',
                idServicio: null,
                idCuenta: null,
                nombreServicio: ''
            }
        }
    },
    mounted() {
        this.getServicios();
    },
    methods: {
        ...mapMutations("cuentas_electronicas", ["setSuccess", "addCuentaServicio"]),
        ...mapActions("cuentas_electronicas", ["getCuentasServicios"]),
        async getServicios() {
            this.form.idCuenta = this.idCuenta
            const response = await axios.get(BaseUrl + '/api/si/servicios-web')
            this.servicios = response.data.map(function(servicio) {
                    return { value: servicio.idServicio, text: servicio.nombre };
                });
        },
       async submit() {
           	if (!this.$v.$invalid) {
                if(this.ros) {
                    var response = await axios.post(BaseUrl + '/api/si/servicios-web', this.form)
                    this.form.idServicio = response.data.servicio.idServicio;
                }
                var response = await axios.post(BaseUrl + '/api/si/cuentas-servicios', this.form)    
                this.loading = false;
                this.setSuccess(true)
                this.addCuentaServicio(response.data.cuentaServicio)
                this.$emit('servicioAgregado')
            }
        },
    },
    computed: {

    },
    validations() {
        if (!this.ros) {
            return {
                form: {
                    idServicio: {required},
                    pass: {required},
                    nombreServicio: {}
                }
            }
        } else {
            return {
                form: {
                    idServicio: {},
                    pass: {required},
                    nombreServicio: {required}
                }
            }
        }
    },  
}
</script>