<template>
	<b-overlay :show="overlay" rounded="sm" opacity="1.0" blur="1px" variant='transparent'>
		<b-form-group label="Responsable" class="mb-0" v-show="!ror">
			<b-form-select
				v-model="$v.form.responsable.$model"
				:state="$v.form.responsable.$dirty ? !$v.form.responsable.$error : null"
				:options="empleados">
				<template v-slot:first>
					<option :value="null">
						Seleccione un responsable
					</option>
				</template>
			</b-form-select>
			<b-button variant="link" class="text-secondary float-right mb-0" style="cursor:pointer" @click="registrarOtroResponsable"><small>Registrar otro responsable</small></b-button>
		</b-form-group>

		<b-form-group label="Responsable" class="mb-0" v-show="ror">
			<b-form-input
				ref="responsable"
				v-model="$v.form.responsable.$model"
				:state="$v.form.responsable.$dirty ? !$v.form.responsable.$error : null"
				placeholder="Nombre del responsable" autocomplete="off">
			</b-form-input>
			<b-button variant="link" class="text-secondary float-right mb-0" style="cursor:pointer" @click="verListaEmpleados"><small>Ver lista de empleados</small></b-button>
		</b-form-group>

		<b-form-group label="Cuenta" class="mb-0">
			<b-row>
				<b-col lg="5"  class="pr-0">
					<b-form-input
					ref="cuenta"
						autocomplete="off"
						placeholder="Cuenta"
						v-model="$v.form.cuenta.$model"
						:state="$v.form.cuenta.$dirty ? !$v.form.cuenta.$error : null">
					</b-form-input>
					<b-form-invalid-feedback id="feedback-cuenta">
						Campo obligatorio
					</b-form-invalid-feedback>
				</b-col>
				<b-col lg="1" class="px-0 text-center">
					<i class="fas fa-at mt-2"></i>
				</b-col>
				<b-col lg="6" class="pl-0">
					<template v-if="!rod">
						<b-form-select
							v-model="$v.form.dominio.$model"
							:state="$v.form.dominio.$dirty ? !$v.form.dominio.$error : null"
							@change="getProxItem"
							:options="dominios">
							<template v-slot:first>
								<option :value="null">
									Seleccione un dominio
								</option>
							</template>
						</b-form-select>
						<b-button variant="link" class="text-secondary float-right mb-0" style="cursor:pointer" @click="registrarOtroDominio"><small>Registrar otro dominio</small></b-button>
					</template>
					<template v-if="rod">
						<b-form-input
							ref="dominio"
							autocomplete="off"
							placeholder="Nuevo dominio"
							@blur="getProxItem"
							v-model="$v.form.dominio.$model"
							:state="$v.form.dominio.$dirty ? !$v.form.dominio.$error : null">
						</b-form-input>
						<b-button variant="link" class="text-secondary float-right mb-0" style="cursor:pointer" @click="verListaDominios"><small>Ver lista de dominios</small></b-button>
					</template>
					<b-form-invalid-feedback id="feedback-dominio">
						Campo obligatorio
					</b-form-invalid-feedback>
				</b-col>
			</b-row>
		</b-form-group>
		
		<div class="mb-2">
			<b-button v-if="cuenta && !changePassword" variant="link" class="text-secondary mb-0" style="cursor:pointer" @click="cambiaPassword"><small>Cambiar contraseña</small></b-button>
		</div>

		<b-row class="mb-2" v-if="!cuenta || changePassword">
			<b-col lg="2">
				<b-form-group label="Item">
					<b-form-input class="text-center bg-light" v-model="form.item">
					</b-form-input>
				</b-form-group>
			</b-col>
			<b-col lg="10" class="pl-0">
				<b-form-group label="Contraseña">
					<b-input-group>
						<b-input-group-prepend>
						  	<b-button size="sm" text="Button" variant="light" v-if="showPass" @click="showPass=false; typePass='password'">
						  		<i class="fas fa-eye px-1 mt-1" style="font-size: 16px"></i>
						  	</b-button>
						   	<b-button size="sm" text="Button" variant="secondary" v-else @click="showPass=true; typePass='text'">
					   			<i class="fas fa-eye-slash px-1 mt-1" style="font-size: 15px"></i>
						  	</b-button>
						</b-input-group-prepend>
						<b-form-input
							placeholder="Ingrese la contraseña"
							:type="typePass"
							ref="password"
							autocomplete="off"
							v-model="$v.form.password_cuenta.$model"
							:state="$v.form.password_cuenta.$dirty ? !$v.form.password_cuenta.$error : null">
						</b-form-input>
						<b-form-invalid-feedback id="feedback-password">
							Campo obligatorio
						</b-form-invalid-feedback>
					</b-input-group>
				</b-form-group>
			</b-col>
		</b-row>
		<div class="d-flex flex-row-reverse bd-highlight">
			<b-button variant="danger" class="ml-2 my-2" size="sm" @click="submit()">
	        	Guardar
	      	</b-button>
			<b-button variant="light" class="my-2" size="sm" @click="cancel()">
	        	Cancelar
	      	</b-button>
	    </div>
	</b-overlay>
</template>

<script>
	import { mapMutations, mapState } from 'vuex'
	import { required, sameAs } from 'vuelidate/lib/validators'

	export default {
		props:{
			cuenta: Object
		},
		data() {
		    return {
		    	rod:false,
		    	changePassword: true,
		    	ror: false,
		    	typePass: 'text',
		    	showPass: true,
		    	overlay:false,
				form:{
					cuenta: '',
					cuenta_completa: '',
					responsable: null,
					dominio: null,
					password_cuenta: '',
					item: 0,
				},
		        empleados: [],
		   	};
		},
		mounted()
		{
			if(this.cuenta){
				this.setDataEdit()
			}
			this.getEmpleados()
		},
		methods: {
			...mapMutations(['modalSubmit', 'modalOk']),
			...mapMutations('cuentas_electronicas', ['addCuenta', 'updateCuenta']),
			async submit(){
				this.overlay = true

				this.$v.$touch()

				if (!this.$v.$invalid) {
			      	try{

			      		if(this.form.responsable == null || this.form.responsable == '')
			      			this.form.responsable = 'S/R'

			      		this.form.cuenta_completa = this.form.cuenta+'@'+this.form.dominio

			      		const response = (!this.cuenta) ?
		            		await axios.post(BaseUrl + `/api/si/admin/cuentas`, this.form) :
		            		await axios.put(BaseUrl + `/api/si/admin/cuentas/${this.cuenta.idCuenta}`, this.form)

		                if(response.data.success){
		                	if(!this.cuenta)
		                    	this.addCuenta(response.data.cuenta)
				            else
				            	this.updateCuenta(response.data.cuenta)
				            this.modalSubmit(true) 
		                }else{
		                	this.modalOk(false)
		                }

			      	}catch(e){
						this.overlay = false
			      	}
				}else{
					this.overlay = false
				}
			},
			getProxItem()
			{
				if(this.form.dominio){
					axios.get(BaseUrl + `/api/si/admin/cuentas/item/${this.form.dominio}`).then(
							(response) => {
								this.form.item = response.data
						});
				}
			},
			getEmpleados()
			{
				axios.get(BaseUrl + `/api/empleados`).then(
					(response) => {
						this.empleados = response.data.map(function(empleado){
							return {value:empleado.nombre, text:empleado.nombre}
						})
					});
			},
			registrarOtroResponsable()
			{
				this.ror = true	
				setTimeout(this.focusResponsable,100);
			},
			focusResponsable()
			{
           		this.$refs.responsable.focus()
			},
			verListaEmpleados()
			{
				this.ror = false
				if(this.form.responsable == '')
					this.form.responsable = null
			},
			registrarOtroDominio()
			{
				this.rod = true
				setTimeout(this.focusDominio,100);
			},
			focusDominio(){
           		this.$refs.dominio.focus()
			},
			verListaDominios()
			{
				this.rod = false
				if(this.form.dominio == '')
					this.form.dominio = null
			},
			cambiaPassword()
			{
				this.changePassword = true
				setTimeout(this.focusPassword,100);
			},
			focusPassword()
			{
           		this.$refs.password.focus()
			},
			setDataEdit()
			{
				this.changePassword = false
				var cuenta = this.cuenta.cuenta.split('@')
				this.form.cuenta = cuenta[0]
				this.form.dominio = cuenta[1]
				this.form.item = this.cuenta.item
				this.form.responsable = this.cuenta.responsable
				this.ror=true
			},
			cancel(){
				this.$bvModal.hide('modal-cuenta')
			},	
		},
		computed: {
			...mapState('cuentas_electronicas', ['dominios']),
			...mapState(['usuario', 'okModal']),
		},
		validations() {
			if (this.cuenta) {
				return {
					form: {
						responsable: {},
						cuenta: {required},
						dominio: {required},
						password_cuenta: {},
					}
				}
			} else {
				return {
					form: {
						responsable: {},
						cuenta: {required},
						dominio: {required},
						password_cuenta: {required},
					}
				}
			}
		},
		watch:{
			okModal()
			{
				if(this.okModal==true){
					this.submit()
				}
			}
		},
	}
</script>