<template>
	<b-container fluid>
		<header-component :title="'Lista de contactos'">
			<template slot="right">
				<b-button
					variant="light"
					v-if="hasPermission('vt.crm.contactos.registrar')"
					size="sm"
					class="float-right mr-4 mt-4 text-success border"
					@click="cliente = null"
					v-b-modal.modal
				>
					<i class="fas fa-plus"></i> Nuevo contacto
				</b-button>
			</template>
			<template slot="down-center">
				{{ contactos.length }} Contactos
			</template>
		</header-component>

		<filters-component>
			<!-- <filter-cliente>
            </filter-cliente> -->
			<div class="col-3 pl-0" size="sm">
				<!-- <vt-clientes-select /> -->
			</div>
		</filters-component>
		<table-component
			:fields="fields"
			:items="filteredContactosByCliente"
			@dataEdit="setDataEdit($event)"
			@dataDelete="setDataDelete($event)"
		>
		</table-component>

		<modal-component :title="'Añadir contacto'" :id="'modal'">
			<template slot="content">
				<vt-form-contacto :contacto="contacto" />
			</template>
		</modal-component>

		<modal-component :title="'Eliminar'" :id="'modal-delete'">
			<template slot="content">
				<form-delete />
			</template>
		</modal-component>
	</b-container>
</template>

<script>
import { mapState, mapMutations, mapGetters, mapActions } from "vuex";

export default {
	data() {
		return {
			items: 0,
			cliente: null,
			contacto: null,
			fields: [
				{
					key: "honorifico",
					label: "Honorifico",
					sortable: true,
					class: "text-center",
				},
				{
					key: "nombre",
					label: "Nombre",
					sortable: true,
					sortDirection: "desc",
					class: "text-left",
					thStyle: { width: "180px" },
				},
				{
					key: "puesto",
					label: "Puesto",
					sortable: true,
					class: "text-left",
				},
				{
					key: "nombre_cliente",
					label: "Cliente",
					sortable: true,
					class: "text-left",
				},
				{
					key: "email",
					label: "Correo electronico",
					sortable: true,
					class: "text-left",
				},
				{
					key: "email",
					label: "Correo electronico",
					sortable: true,
					class: "text-center",
				},
				{
					key: "tipoTelefono",
					label: "Tipo de telefono",
					sortable: true,
					class: "text-center",
				},
				{
					key: "extension",
					label: "Extension telefonica",
					sortable: true,
					class: "text-center",
				},
				{
					key: "telefono",
					label: "Telefono",
					sortable: true,
					class: "text-center",
				},
				{
					key: "actions",
					label: "Acciones",
					class: "text-center",
				},
			],
		};
	},
	mounted() {
		this.setRouteName("negocios.contactos");
		this.getContactos();
	},
	methods: {
		...mapMutations(["setRouteName", "setFormDelete"]),
		...mapActions("contactos", ["getContactos"]),
		setDataEdit(contacto) {
			this.contacto = contacto;
		},
		setDataDelete(contacto) {
			const data = {
				dpto: "vt",
				section: "contactos",
				tipo: "Contacto",
				id: contacto.idContacto,
				registro: contacto.nombre,
			};
			this.setFormDelete(data);
		},
		hasPermission(funcion) {
			if (this.permissions.length) {
				const permiso = this.permissions.find(
					(permiso) => permiso.idFuncion == funcion
				);
				if (permiso) return true;
				return false;
			}
		},
	},
	computed: {
		...mapState(["totalRows", "permissions"]),
		...mapState("contactos", ["contactos"]),
		...mapGetters("contactos", ["filteredContactosByCliente"]),
		...mapState("contactos", ["clienteSelected"]),
	},
};
</script>
