<template>
	<form ref="form" @submit.stop.prevent="submit">	
	
		<b-form-group label="Nombre completo">
			<b-form-input type="text"
				id="input-nombre"
				v-model="$v.form.nombre.$model"
				:state="$v.form.nombre.$dirty ? !$v.form.nombre.$error : null"
				placeholder="Nombre del contacto"
				aria-describedby="nombre-required">
			</b-form-input>
			<b-form-invalid-feedback id="nombre-required">
				Campo obligatorio
			</b-form-invalid-feedback>
		</b-form-group>
			
		<b-form-group label="Correo electrónico">
			<b-form-input type="text"
				id="input-email"
				v-model="$v.form.email.$model"
				:state="$v.form.email.$dirty ? !$v.form.email.$error : null"
				placeholder="Correo electrónico del contacto"
				aria-describedby="feedback-email">
			</b-form-input>
			<b-form-invalid-feedback id="feedback-email">
				Debe ingresar un email valido
			</b-form-invalid-feedback>
		</b-form-group>

		<b-form-group label="Cliente">
			<div class="col-12 p-0" size="sm">
              	<vt-clientes-modal-select :idClienteEdit="form.idCliente"/>
            </div>
			<b-form-invalid-feedback id="feedback-email">
				Debe ingresar un email valido
			</b-form-invalid-feedback>
		</b-form-group>

		<b-row v-for="(v, index) in $v.form.telefonos.$each.$iter" :key="index">
			<b-col lg="4" class="pr-0 mr-0">

				<b-form-group label="Tipo">
					<b-form-select
						id="input-tipo-tel"
						v-model="v.tipoTelefono.$model"
						:options="tiposTelefono">
					</b-form-select>
				</b-form-group>
				
			</b-col>

			<b-col lg="8">

				<label>Teléfono:</label>
				<b-input-group class="mb-2">
					<b-form-input type="text"
						id="input-telefono"
						v-model="v.telefono.$model"
						placeholder="Número"
						class="w-50">
					</b-form-input>
					<b-form-input type="text"
						id="input-extención"
						v-model="v.extension.$model"
						placeholder="Ext"
						class="text-center">
					</b-form-input>
				</b-input-group>

			</b-col>
		</b-row>

		<b-row>
  			<b-col lg="12">
				<b-button 
					variant="link" 
					class="text-secondary float-right pr-0" 
					size="sm" 
					style="margin-top:-10px" 
					@click="form.telefonos.push({telefono:'', tipoTelefono:'', extencion:'' })">
					Agregar otro número +
				</b-button>
				<b-button 
  					v-if="form.telefonos.length>1"
					variant="link" 
					class="text-danger float-right pr-0" 
					size="sm" 
					style="margin-top:-10px" 
					@click="form.telefonos.pop()">
					Quitar número -
				</b-button>
			</b-col>
		</b-row> 
		<b-row>
			<b-col lg="6">

				<b-form-group label="Honorífico">
					<b-form-select 
						v-model="$v.form.honorifico.$model" 
						:options="honorificos"
						:state="$v.form.honorifico.$dirty ? !$v.form.honorifico.$error : null"
						aria-describedby="honorifico-required">
					</b-form-select>
					<b-form-invalid-feedback id="honorifico-required">
						Campo obligatorio
					</b-form-invalid-feedback>
				</b-form-group>

			</b-col>
			<b-col lg="6" class="ml-0 pl-0">

				<b-form-group label="Puesto">
					
					<b-form-input type="text"
						id="input-puesto"
						v-model="$v.form.puesto.$model"
						:state="$v.form.puesto.$dirty ? !$v.form.puesto.$error : null"
						placeholder="Puesto del contacto">
					</b-form-input>
				</b-form-group>

			</b-col>
		</b-row>
	</form>
</template>

<script>
	import { required, minLength, email } from 'vuelidate/lib/validators'
	import { mapState, mapMutations } from 'vuex'
	export default {
		props: {
			cliente: Object,
			contacto: Object,
		},
		data() {
			return {
				form: {
					nombre: '',
					email: '',
					idCliente:null,
					idUsuario: null,
					telefonos: [
						{
							telefono: null,
							tipoTelefono: null,
							extension: null
							
						},
						
								
					],
					honorifico: null,
					puesto: null,
				},
				tiposTelefono: [
					{ value: null, text: 'Seleccione' },
					{ value: 'Trabajo', text: 'Trabajo' },
					{ value: 'Celular', text: 'Celular' },
			    ],
			    honorificos: [
					{ value: null, text: 'Seleccione' },
					{ value: 'Ing.', text: 'Ing.' },
					{ value: 'Lic.', text: 'Lic.' },
					{ value: 'Sr.', text: 'Sr.' },
					{ value: 'Srta.', text: 'Srta.' },
			    ],
			}
		},
		mounted() {
			if(this.contacto){
				this.setDataEdit()
			}
		},
		methods: {			
			...mapMutations(['modalSubmit', 'modalOk']),
			...mapMutations('contactos', ['addContacto', 'updateContacto']),

			async submit() {
				this.$v.$touch()
				if (!this.$v.$invalid) {
					this.form.idCliente = this.clienteModalSelected;
		            const response = (!this.contacto) ?
		            		await axios.post(BaseUrl + `/api/vt/contactos`, this.form) : 
		            		await axios.put(BaseUrl + `/api/vt/contactos`, this.form)
	                if(response.data.success){
	                	if(!this.contacto)
	                    	this.addContacto(response.data.contacto)
						else
			            	this.updateContacto(response.data.contacto)
							this.modalSubmit(true)
	                }
				}else{
					this.modalOk(false)
				}
			},
			setDataEdit()
			{		
					this.form.idContacto = this.contacto.idContacto
					this.form.idUsuario = this.contacto.idUsuario
					this.form.nombre = this.contacto.nombre
					this.form.idCliente = this.contacto.idCliente
					this.form.email = this.contacto.email
					this.form.telefonos = [{extension:this.contacto.extension, telefono:this.contacto.telefono, tipoTelefono: this.contacto.tipoTelefono}]
					this.form.honorifico = this.contacto.honorifico	
					this.form.puesto = this.contacto.puesto	
			},
			...mapMutations('contactos',['setClienteModalSelected']),
		},
		computed: {
			...mapState(['okModal']),
			...mapState('contactos',['clienteModalSelected']),
		},
		validations: {
			form: {
				nombre: {required},
				email: {email},
				idCliente:{},
				honorifico: {required},
				 telefonos: {
				 	$each: {
				 		telefono: {
				 			
				 		},
				 		tipoTelefono: {
				 			
				 		},
				 		extension: {
				 			
				 		}
				 	}
				 },
				puesto:{}
			}
		},
		watch: {
			okModal()
			{
				if(this.okModal==true){
					this.submit()
				}
			}
		}
	}
</script>