<template>
	<div class="container-fluid" style="height: calc(100vh - 56px);">
		<header-component
			title="Catálogo de Cuentas Contables"
		></header-component>
		<b-row class="mt-3 mb-0">
			<b-col lg="10">
				<b-button
					size="sm"
					squared
					variant="light"
					class="border-light-2 shadows"
					v-b-modal.modal-filter
					><i class="fas fa-filter mr-1"></i>Filtrar áreas</b-button
				>
			</b-col>
			<b-col lg="2">
				<div class="input-group w-100 bg-white">
					<div class="input-group-prepend bg-light mr-1 ml-3">
						<div class="pt-1 bg-white">
							<i class="fas fa-search"></i>
						</div>
					</div>
					<b-form-input
						id="input-search"
						size="sm"
						class="form-control border-0"
						placeholder="Escribe tu busqueda aquí"
						style=""
						v-model="filter"
					></b-form-input>
				</div>
			</b-col>
		</b-row>

		<div
			style="height: calc(80vh - 100px)"
			v-if="selectedAreas.length == 0"
		>
			<icon-text-component
				:icon="'fas fa-list-alt'"
				:text="'NO SE HA SELECCIONADO NINGUNA ÁREA'"
				:circleStyle="{
					backgroundColor: '#f5f5f6',
					color: '#a8aeb3',
				}"
			/>
		</div>

		<b-card class="mt-3" style="height: auto; overflow: auto" v-else>
			<b-table
				:filter="filter"
				:fields="fields"
				:items="cuentasContablesByAreas"
				striped
			>
			</b-table>
		</b-card>

		<b-container
			class="text-right my-3 mx-0"
			v-if="selectedAreas.length > 0"
			fluid
		>
			Filtros aplicados:
			<b-badge
				class="float-right ml-1 mt-1"
				variant="info"
				v-for="area in selectedAreas"
				:key="area"
			>
				{{ area }}
			</b-badge>
		</b-container>

		<modal-component
			:id="'modal-filter'"
			:title="'Filtrar áreas'"
			:hideFooter="true"
			:sizeModal="'sm'"
		>
			<template slot="content">
				<b-form-group>
					<template>
						<b-form-checkbox
							v-model="allSelectedAreas"
							:indeterminate="indeterminate"
							aria-describedby="areas"
							aria-controls="areas"
							@change="toggleAll"
						>
							{{
								allSelectedAreas
									? "Deselecciona Todo"
									: "Seleccionar Todo"
							}}
						</b-form-checkbox>
					</template>

					<b-form-checkbox-group
						id="flavors"
						v-model="selectedAreas"
						:options="areas"
						name="areas"
						class="ml-4"
						aria-label="Individual areas"
						stacked
					></b-form-checkbox-group>
				</b-form-group>
				<b-button
					variant="danger"
					class="ml-3 my-2 float-right"
					@click="closeModel"
				>
					LISTO
				</b-button>
			</template>
		</modal-component>
	</div>
</template>

<script>
import { mapState, mapMutations, mapActions } from "vuex";

export default {
	data() {
		return {
			filter: null,
			selectedAreas: [],
			allSelectedAreas: false,
			indeterminate: false,
			areas: [
				"Venta",
				"Dirección",
				"Mercadotecnia",
				"Servicios",
				"Talento Humano",
				"Finanzas",
				"Conservacion",
				"Compras",
				"Almacen",
				"Suministros",
				"Costo de Operacion",
				"Taller",
				"Campo",
				"Montaje",
				"Subdirección",
				"Gastos Financieros",
			],
		};
	},
	mounted() {
		this.getCuentasContables();
	},
	methods: {
		...mapActions("cnf_cuentas_contables", ["getCuentasContables"]),

		toggleAll(checked) {
			this.selectedAreas = checked ? this.areas.slice() : [];
		},
		closeModel() {
			this.$bvModal.hide("modal-filter");
		},
	},
	computed: {
		...mapState("cnf_cuentas_contables", ["cuentasContables", "fields"]),

		cuentasContablesByAreas() {
			return this.cuentasContables.filter((cuentaContable) =>
				this.selectedAreas.includes(cuentaContable.area)
			);
		},
		isMovil() {
			return (
				navigator.userAgent.match(/Android/i) ||
				navigator.userAgent.match(/webOS/i) ||
				navigator.userAgent.match(/iPhone/i) ||
				navigator.userAgent.match(/iPod/i) ||
				navigator.userAgent.match(/iPad/i) ||
				navigator.userAgent.match(/BlackBerry/i)
			);
		},
		noIsMovil() {
			return !(
				navigator.userAgent.match(/Android/i) ||
				navigator.userAgent.match(/webOS/i) ||
				navigator.userAgent.match(/iPhone/i) ||
				navigator.userAgent.match(/iPod/i) ||
				navigator.userAgent.match(/iPad/i) ||
				navigator.userAgent.match(/BlackBerry/i)
			);
		},
	},
	watch: {
		selectedAreas(newVal, oldVal) {
			if (newVal.length === 0) {
				this.indeterminate = false;
				this.allSelectedAreas = false;
			} else if (newVal.length === this.areas.length) {
				this.indeterminate = false;
				this.allSelectedAreas = true;
			} else {
				this.indeterminate = true;
				this.allSelectedAreas = false;
			}
		},
	},
};
</script>

<style>
.shadows:hover {
	-webkit-box-shadow: 0px 1px 6px 2px rgba(0, 0, 0, 0.32) !important;
	-moz-box-shadow: 0px 1px 6px 2px rgba(0, 0, 0, 0.32) !important;
	box-shadow: 0px 1px 6px 2px rgba(0, 0, 0, 0.32) !important;
}
fieldset.scheduler-border {
	border: 1px solid #dee2e6 !important;
	padding: 0 1.4em 0.5em 1.4em !important;
	margin: 0 0 1.5em 0 !important;
	-webkit-box-shadow: 0px 0px 0px 0px #000;
	box-shadow: 0px 0px 0px 0px #000;
}
legend.scheduler-border {
	width: inherit; /* Or auto */
	padding: 0 10px; /* To give a bit of padding on the left and right */
	border-bottom: none;
}

.border-light-2 {
	border-color: #6c757d2e;
}
</style>
