<template>
	<b-container class="p-0 component-cg-max-height" fluid>
		<b-container fluid>
			<b-row class="pb-2">
				<b-col lg="8" class="pl-0 pr-1">
					<b-card
						style="border-left: 0.2rem solid !important;"
						id="card-cg"
						class="shadow-sm mt-2"
						header-tag="header"
						no-body
					>
						<template #header>
							<b-row class="mb-0">
								<b-col lg="6">
									<h6 class="mb-0 py-1 fs-15">
										Información del viático
									</h6>
								</b-col>

								<b-col lg="6" class="text-right">
									<template
										v-if="solicitudActiva.idEtapa <= 2"
									>
										<b-button
											v-b-modal.modal-autorizacion
											v-if="
												solicitudActiva.idEtapa == 2 &&
													(solicitudActiva.idAutorizador ==
														usuario.idUsuario &&
														hasPermission(
															'fn.cg.solicitudes.autorizar'
														))
											"
											@click="autorizacion('autorizado')"
											variant="success"
											class="shadows fs-11"
											size="sm"
										>
											<i
												class="far fa-check-circle mr-2"
											></i>
											Autorizar
										</b-button>
										<b-button
											v-if="
												solicitudActiva.idEtapa == 2 &&
													(solicitudActiva.idAutorizador ==
														usuario.idUsuario &&
														hasPermission(
															'fn.cg.solicitudes.rechazar'
														))
											"
											@click="autorizacion('rechazado')"
											variant="danger"
											class="shadows fs-11"
											size="sm"
										>
											<i
												class="fas fa-times-circle mr-2"
											></i>
											Rechazar
										</b-button>
										<b-button
											v-if="
												solicitudActiva.idUsuario ==
													usuario.idUsuario
											"
											@click="editar"
											variant="outline-secondary"
											size="sm"
											class="fs-11"
										>
											<i class="fas fa-edit"></i>
											Editar
										</b-button>

										<b-dropdown
											id="drop-archivar"
											right
											text="Menu"
											size="sm"
											variant="light"
											class="ml-2"
											no-caret
											v-if="
												solicitudActiva.idUsuario ==
													usuario.idUsuario
											"
										>
											<template v-slot:button-content>
												<b-button
													id="drop-button-archivar"
													variant="link"
													href="#"
													size="sm"
													class="my-0 py-0 fs-11"
													style="padding-inline: 6px;"
												>
													<i
														class="fas fa-ellipsis-v text-dark fs-12"
													></i>
												</b-button>
											</template>
											<b-dropdown-item
												style="color: #777"
												@click="eliminarSolicitud"
											>
												<div
													class="mr-2 ml-1 text-danger fs-12"
												>
													<strong
														><i
															class="fas fa-trash-alt mr-2"
														></i>
														Archivar
														solicitud</strong
													>
												</div>
											</b-dropdown-item>
										</b-dropdown>
									</template>
								</b-col>
							</b-row>
						</template>

						<b-card-body class="py-2">
							<b-container class="my-2 px-0" fluid>
								<b-row class="fs-12">
									<b-col lg="6">
										<b-row>
											<b-col lg="5" class="mb-1 pr-1">
												<p class="mb-0">
													Etapa:
												</p>
											</b-col>
											<b-col
												lg="7"
												class="text-left mb-1 px-0"
											>
												<p
													class="mb-0 fw-500"
													:class="
														solicitudActiva.idEtapa ==
														1
															? 'text-rechazado'
															: ''
													"
												>
													{{
														solicitudActiva.nombre_etapa
													}}
												</p>
											</b-col>
											<b-col lg="5" class="mb-1 pr-1">
												<p class="mb-0">
													Fecha de solicitud:
												</p>
											</b-col>
											<b-col lg="7" class="mb-1 px-0">
												<p class="mb-0 fw-500">
													{{ fechaSolicitud }}
												</p>
											</b-col>
											<template v-if="limiteCambio">
												<b-col lg="5" class="mb-1 pr-1">
													<p class="mb-0">
														Viático para:
													</p>
												</b-col>
												<b-col lg="7" class="mb-1 px-0">
													<p
														class="mb-0 fw-500"
														v-html="numeroPersonas"
													></p>
												</b-col>
											</template>
										</b-row>
									</b-col>

									<b-col lg="6">
										<b-row class="fs-12">
											<template
												v-if="
													solicitudActiva.idSolicitud >
														816
												"
											>
												<b-col
													lg="5"
													class="mb-1 pl-2 pr-1"
												>
													<p class="mb-0">
														Cuenta:
													</p>
												</b-col>
												<b-col lg="7" class="mb-1 pl-0">
													<p class="mb-0 fw-500">
														{{
															solicitudActiva.cuenta
														}}
													</p>
												</b-col>
											</template>

											<b-col
												lg="5"
												class="mb-1 pl-2 pr-1"
											>
												<p class="mb-0">
													Destino del viático:
												</p>
											</b-col>
											<b-col lg="7" class="mb-1 pl-0">
												<p class="mb-0 fw-500">
													{{
														solicitudActiva.destinoGasto
													}}
												</p>
											</b-col>

											<b-col
												lg="5"
												class="mb-1 pl-2 pr-1"
											>
												<p class="mb-0">
													Objetivo del viático:
												</p>
											</b-col>
											<b-col
												lg="7"
												class="text-justify mb-1 pl-0"
											>
												<p class="mb-0 fw-500">
													{{
														solicitudActiva.objetivoGasto
													}}
												</p>
											</b-col>
										</b-row>
									</b-col>
								</b-row>
								<!-- <div class="bar py-2">
									<div class="bar-step active">3 días</div>
									<div class="bar-step active">2 días</div>
									<div class="bar-step active">0 días</div>
									<div class="bar-step">0 días</div>
									<div class="bar-step">0 días</div>
									<div class="bar-step">0 días</div>
									<div class="bar-step">0 días</div>
								</div>

								<p class="fs-12 mb-0">
									Etapa <i class="fas fa-chevron-right mx-2"></i>
									<span class="fw-500">{{
										solicitudActiva.nombre_etapa
									}}</span>
								</p> -->
							</b-container>
						</b-card-body>
					</b-card>

					<b-card
						style="border-left: 0.2rem solid !important;"
						id="card-cg"
						class="shadow-sm mt-2"
						header-tag="header"
						no-body
					>
						<template #header>
							<h6 class="mb-0 py-1 fs-15">
								Planeación de uso del viático
							</h6>
						</template>

						<b-card-body class="py-2">
							<b-container class="my-2 px-0" fluid>
								<b-skeleton-table
									v-if="busyPlaneacion"
									:rows="3"
									:columns="4"
									:table-props="{
										bordered: true,
										striped: true,
									}"
								></b-skeleton-table>

								<b-table-simple
									v-else
									bordered
									responsive
									small
									class="fs-12"
									style="border-top: 0.1rem solid #dee2e6; width: 100%;"
								>
									<b-thead class="bg-light text-dark">
										<b-tr class="fs-12">
											<b-th></b-th>
											<b-th class="text-left">
												<label class="mb-0 ml-2"
													>Clasificación</label
												>
											</b-th>
											<b-th class="text-left"
												><label class="mb-0 ml-2"
													>Recurso solicitado
													en</label
												></b-th
											>
											<b-th class="text-right"
												><label class="mb-0 mr-2"
													>Importe</label
												></b-th
											>
										</b-tr>
									</b-thead>

									<b-tbody>
										<b-tr
											v-for="(item,
											index) in planeacionSolicitudActiva"
											:key="index"
										>
											<b-td
												class="text-center align-middle"
											>
												<i
													:class="
														iconoClasificacion(
															item.clasificacion
														)
													"
												></i>
											</b-td>
											<b-td class="align-middle">
												<label
													class="ml-2 mb-0"
													v-if="item.clasificacion"
												>
													{{ item.clasificacion }}

													<!-- <b-badge variant="primary" class="ml-2">
														<p
															style="margin-bottom: 0px; font-weight: 500; font-size: 8px;"
														>
															FUERA DE POLITICA
														</p></b-badge
													> -->
												</label>
												<label v-else class="ml-2 mb-0">
													<strong>
														Sin
														clasificación</strong
													>
												</label>
											</b-td>

											<b-td class="align-middle">
												<label class="mb-0 ml-2">
													{{ item.formaPago }}
												</label>
											</b-td>

											<b-td class="align-middle">
												<div
													class="d-flex w-100 px-2 justify-content-between"
												>
													<label class="mb-0"
														>$</label
													>
													<vue-numeric
														separator=","
														:precision="2"
														:read-only="true"
														:value="item.importe"
													/>
												</div>
											</b-td>
										</b-tr>
									</b-tbody>
									<b-tfoot class="bg-light text-dark">
										<b-tr class="fs-12">
											<b-td
												class="text-right"
												colspan="3"
											>
												<strong>Total ( MXN )</strong>
											</b-td>
											<b-td>
												<strong>
													<div
														class="d-flex w-100 px-2 justify-content-between"
													>
														<label class="mb-0"
															>$</label
														>
														<vue-numeric
															separator=","
															:precision="2"
															:read-only="true"
															:value="
																solicitudActiva.importe_total
															"
														/>
													</div>
												</strong>
											</b-td>
										</b-tr>
									</b-tfoot>
								</b-table-simple>
							</b-container>
						</b-card-body>
					</b-card>
				</b-col>

				<b-col lg="4" class="pl-1 pr-0">
					<b-card
						id="card-cg"
						class="shadow-sm mt-2"
						header-tag="header"
						no-body
					>
						<template #header>
							<h6 class="mb-0 py-1 fs-15">
								<i class="fas fa-user-check mr-2"></i>
								Responsable del gasto
							</h6>
						</template>

						<b-card-body class="py-2">
							<b-container class="my-2 px-0" fluid>
								<b-row>
									<b-col lg="12" class="mb-2">
										<p class="mb-0 fs-12">
											<span class="float-left">
												Empleado:
											</span>
											<span class="float-right fw-500">
												{{
													solicitudActiva.usuario
														.nombreUsuario
												}}
											</span>
										</p>
									</b-col>
									<b-col v-if="limiteCambio" lg="12">
										<p class="mb-0 fs-12">
											<span class="float-left">
												Tarjeta banbajio:
											</span>
											<span class="float-right fw-500">
												8237293923
											</span>
										</p>
									</b-col>
								</b-row>
							</b-container>
						</b-card-body>
					</b-card>

					<b-card
						id="card-cg"
						class="shadow-sm mt-2"
						header-tag="header"
						no-body
					>
						<template v-if="limiteCambio" #header>
							<h6 class="mb-0 py-1 fs-15">
								<i class="far fa-calendar-minus mr-2"></i>
								Utilización del viático
							</h6>
						</template>

						<template v-else #header>
							<h6 class="mb-0 py-1 fs-15">
								<i class="far fa-calendar-minus mr-2"></i>
								{{ fechaGastos.title }}
							</h6>
						</template>

						<b-card-body class="py-2">
							<b-container class="my-2 px-0" fluid>
								<template v-if="limiteCambio">
									<b-row>
										<b-col lg="12" class="mb-2">
											<p class="mb-0 fs-12">
												<span class="float-left">
													Periodo:
												</span>
												<span
													class="float-right fw-500"
												>
													{{
														this.formatoFecha(
															solicitudActiva.fechaInicioGasto
														)
													}}
													<span class="px-1">al</span>
													{{
														this.formatoFecha(
															solicitudActiva.fechaFinGasto
														)
													}}
												</span>
											</p>
										</b-col>
										<b-col lg="12">
											<p class="mb-0 fs-12">
												<span class="float-left">
													Número de días en el
													periodo:
												</span>
												<span
													class="float-right fw-500"
												>
													{{ diasPeriodo }}
												</span>
											</p>
										</b-col>
									</b-row>
								</template>
								<template v-else>
									<p
										v-if="!fechaGastos.asignar"
										class="mb-0 fs-12 fw-500"
										v-html="fechaGastos.date"
									></p>

									<b-link
										v-else
										class="text-secondary"
										v-b-modal.modal-fecha-real
									>
										<h6 class="m-0 fs-12">
											<b-icon
												icon="calendar2-plus-fill"
												class="mr-2 fs-15"
												variant="dark"
											></b-icon>
											Asignar fecha fin de gastos
										</h6>
									</b-link>
								</template>
							</b-container>
						</b-card-body>

						<b-card-footer
							v-if="limiteCambio"
							class="bg-white py-3"
						>
							<p class="mb-0 fs-12 fw-500">
								<span class="float-left">
									Fecha límite de comprobación:
								</span>

								<span class="float-right">
									<strong>{{
										fechaLimiteComprobacion
									}}</strong>
								</span>
							</p>
						</b-card-footer>
					</b-card>

					<b-card
						id="card-cg"
						v-if="periodoDispersion.container"
						class="shadow-sm mt-2"
						header-tag="header"
						no-body
					>
						<template #header>
							<h6 class="mb-0 py-1 fs-15">
								<i class="far fa-calendar-minus mr-2"></i>
								Uso de la dispersión
							</h6>
						</template>

						<b-card-body
							v-if="!periodoDispersion.alert"
							class="py-2"
						>
							<b-container class="my-2 px-0" fluid>
								<b-row>
									<b-col>
										<h6 class="mb-2 fs-12">
											<span class="float-left">
												Periodo:
											</span>
											<span class="float-right">
												{{
													this.formatoFecha(
														solicitudActiva.periodoInicioDispersion
													)
												}}
												<span class="px-1">al</span>
												{{
													this.formatoFecha(
														solicitudActiva.periodoFinDispersion
													)
												}}
											</span>
										</h6>
									</b-col>
								</b-row>
								<!-- <h6 class="mb-0 text-center mt-2 fs-12">
									<b-badge class="px-2 span-alert-success"
										>ESTÁ POR TERMINAR</b-badge
									>
								</h6> -->
							</b-container>
						</b-card-body>

						<b-alert
							v-else
							show
							class="my-0"
							variant="warning"
							style="font-size: 11px; border: 0rem; border-radius: 0rem; padding: 1rem 1.25rem;"
						>
							<span
								><i
									class="fas fa-exclamation-triangle pr-2"
									style="color: #eb9000;"
								></i
							></span>
							No se ha asignado fecha de uso de dispersión.
						</b-alert>

						<b-card-footer
							v-if="solicitudActiva.fileDispersion"
							class="bg-white"
						>
							<b-container class="my-2 px-0" fluid>
								<b-media>
									<template #aside>
										<i
											class="fas fa-paperclip text-dark fs-15"
										></i>
									</template>

									<h6 class="m-0 fs-12">
										<b-link
											class="text-dark"
											@click="downloadFile"
										>
											{{ solicitudActiva.fileDispersion }}
										</b-link>
									</h6>

									<small class="text-muted">
										Comprobante: Dispersión / Ext:
										{{ extFileDispersion }}
									</small>
								</b-media>
							</b-container>
						</b-card-footer>
					</b-card>
				</b-col>
			</b-row>
		</b-container>

		<modal-component
			:id="'modal-fecha-real'"
			:title="'Fecha Fin de Gastos'"
			:hideFooter="true"
			:hideHeader="true"
			:centered="true"
		>
			<template slot="content">
				<b-form-group
					class="mb-4"
					description="Indicar la fecha real en que terminó de realizar sus gastos."
				>
					<b-calendar
						id="fechaRegreso"
						v-model="formFechaFinReal.fechaFinGastoReal"
						@context="onContext"
						locale="es"
						block
						:show-decade-nav="false"
						:hide-header="true"
						label-help=""
						selected-variant="danger"
						today-variant="danger"
					></b-calendar>
				</b-form-group>

				<b-button
					variant="danger"
					class="ml-3 mt-2 float-right"
					:disabled="!formFechaFinReal.fechaFinGastoReal"
					@click="submitFechaFinGastosReal"
				>
					GUARDAR
				</b-button>

				<b-button
					variant="white"
					class="ml-3 mt-2 float-right link-light"
					@click="close('modal-fecha-real')"
				>
					REGISTRAR DESPUÉS
				</b-button>
			</template>
		</modal-component>
	</b-container>
</template>

<script>
import { mapState, mapMutations } from "vuex";
export default {
	data() {
		return {
			selected: null,
			statusAutorizacion: "",
			showSidebar: false,
			formFechaFinReal: {
				fechaFinGastoReal: null,
			},
			value: 45,
			max: 100,
		};
	},
	mounted() {},
	methods: {
		...mapMutations("solicitudes_gastos", [
			"updateSolicitudActiva",
			"updateSolicitud",
		]),

		editar() {
			this.$emit("setDataEdit");
		},
		autorizacion(status) {
			this.$emit("autorizacion", status);
		},
		eliminarSolicitud() {
			this.$emit("eliminarSolicitud", status);
		},
		hasPermission(funcion) {
			if (this.permissions.length) {
				const permiso = this.permissions.find(
					(permiso) => permiso.idFuncion == funcion
				);
				if (permiso) return true;
				return false;
			}
		},
		hiddenSidebar() {
			this.showSidebar = false;
		},
		formatoFecha(date) {
			moment.locale("es");
			return moment(date).format("DD-MMM-YYYY");
		},
		iconoClasificacion(tipo) {
			switch (tipo) {
				case "Alimentación":
					return "fas fa-utensils";
					break;
				case "Hospedaje":
					return "fas fa-hotel";
					break;
				case "Combustibles":
					return "fas fa-gas-pump";
					break;
				case "Peajes":
					return "fas fa-road";
					break;
				case "Transportes":
					return "fas fa-bus";
					break;
				default:
					return "fas fa-wallet";
					break;
			}
		},
		downloadFile() {
			window.location =
				BaseUrl +
				`/api/fn/cg/solicitudes/file/dispersion/${this.solicitudActiva.fileDispersion}/download`;
		},
		async submitFechaFinGastosReal() {
			const response = await axios.put(
				BaseUrl +
					`/api/fn/cg/solicitudes/${this.solicitudActiva.idSolicitud}/fecha-fin-gastos-real`,
				this.formFechaFinReal
			);
			if (response.data.success) {
				this.updateSolicitud(response.data.solicitud);
				this.updateSolicitudActiva(response.data.solicitud);
				this.close("modal-fecha-real");
			}
		},
		onContext(ctx) {
			this.formFechaFinReal.fechaFinGastoReal = ctx.selectedYMD;
		},
		close(modal) {
			this.$bvModal.hide(modal);
		},
	},
	computed: {
		...mapState(["permissions", "usuario"]),
		...mapState("solicitudes_gastos", [
			"solicitudActiva",
			"resumenSolicitudActiva",
			"planeacionSolicitudActiva",
			"busyResumen",
			"busyPlaneacion",
			"limiteCambio",
		]),

		fechaSolicitud() {
			moment.locale("es");
			return moment(this.solicitudActiva.created_at).format("LL, h:mm a");
		},
		fechaGastos() {
			moment.locale("es");
			if (this.solicitudActiva.fechaFinGastoReal) {
				return {
					title: "Fecha fin del gasto",
					date: moment(this.solicitudActiva.fechaFinGastoReal).format(
						"dddd, LL"
					),
					asignar: false,
				};
			} else {
				if (this.solicitudActiva.fechaFinGastoEstimada) {
					return {
						title: "Fecha fin del gasto estimada",
						date: moment(
							this.solicitudActiva.fechaFinGastoEstimada
						).format("dddd, LL"),
						asignar: false,
					};
				} else {
					return {
						title: "Fecha fin del gasto",
						date:
							'<font class="mb-0 text-danger">Sin asignar</font>',
						asignar: true,
					};
				}
			}
		},
		diasPeriodo() {
			const dias = moment(this.solicitudActiva.fechaFinGasto).diff(
				moment(this.solicitudActiva.fechaInicioGasto),
				"days"
			);
			return dias != 1 ? dias + " días" : dias + " día";
		},
		numeroPersonas() {
			if (this.solicitudActiva.numeroPersonas) {
				let np = this.solicitudActiva.numeroPersonas;
				return np > 1
					? "<font>" + np + " personas</font>"
					: "<font>" + np + " persona</font>";
			} else {
				return "<font class='text-danger'>Sin asignar</font>";
			}
		},
		periodoDispersion() {
			if (
				this.solicitudActiva.periodoInicioDispersion &&
				this.solicitudActiva.periodoFinDispersion
			) {
				return {
					alert: false,
					container: true,
				};
			} else {
				if (
					this.solicitudActiva.idEtapa > 3 ||
					this.solicitudActiva.idEtapa == 1
				) {
					return {
						alert: false,
						container: false,
					};
				} else {
					return {
						alert: true,
						container: true,
					};
				}
			}
		},
		fechaLimiteComprobacion() {
			return moment(this.solicitudActiva.fechaFinGasto)
				.add(3, "days")
				.format("ll");
		},
		extFileDispersion() {
			var ext = this.solicitudActiva.fileDispersion.split(".", 2);
			return ext[1].toUpperCase();
		},
	},
};
</script>

<style scoped>
.text-dark {
	color: #000 !important;
}
.fw-500 {
	font-weight: 500 !important;
}

/*background-color: #fff1f1;
border: 0.2rem solid #f2cfd2;*/
</style>

<style>
/*
 * Progressbar
 */

.bar {
	--d: 1rem; /* arrow depth */
	--gap: 0.3rem; /* arrow thickness, gap */

	display: flex;
	margin-right: var(--d);
}
.bar-step {
	flex: 1;
	font-size: 11px;
	height: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 0.6rem var(--d);
	margin-right: calc(var(--d) * -1 + var(--gap));
	background: #dee2e6 !important;
	color: #6c757d !important;
	clip-path: polygon(
		0% 0%,
		calc(100% - var(--d)) 0%,
		100% 50%,
		calc(100% - var(--d)) 100%,
		0% 100%,
		var(--d) 50%
	);
}
.bar-step:first-child {
	clip-path: polygon(
		0% 0%,
		calc(100% - var(--d)) 0%,
		100% 50%,
		calc(100% - var(--d)) 100%,
		0% 100%
	);
}
.bar-step:last-child {
	clip-path: polygon(
		0% 0%,
		calc(100% - var(--d)) 0%,
		100% 50%,
		calc(100% - var(--d)) 100%,
		0% 100%,
		var(--d) 50%
	);
}
.bar-step.active {
	background: #078f26 !important;
	color: #fff !important;
}

#drop-archivar .dropdown-toggle {
	padding-block: 2px;
	padding-inline: 4px;
}
.span-alert-success {
	background-color: #9cdd8980;
	color: #3b7c2e;
	border: 0.1rem solid #84c572;
}
.text-rechazado {
	color: #dc3545;
	font-weight: bold;
}
</style>
