<template>
	<b-container class="p-0 options-component" fluid>
		<b-card
			style="border-left: 0.3rem solid !important;"
			class="shadow-sm mt-2"
		>
			<b-skeleton-table
				v-if="busyResumen"
				:rows="3"
				:columns="6"
				:table-props="{ bordered: true, striped: true, small: true }"
				:hide-header="true"
			>
			</b-skeleton-table>
			<b-table-simple
				bordered
				small
				caption-top
				responsive
				v-show="!busyResumen"
				style="font-size:12px"
				class="border-top"
			>
				<b-thead class="bg-light text-center">
					<b-tr>
						<b-th></b-th>
						<b-th
							:class="{
								'bg-etapa-actual': solicitudActiva.idEtapa == 2,
							}"
							>Solicitado</b-th
						>
						<b-th
							:class="{
								'bg-etapa-actual': solicitudActiva.idEtapa == 3,
							}"
						>
							<template v-if="solicitudActiva.idEtapa >= 3">
								<b-link
									class="text-dark"
									v-b-modal.modal-dispersion
									v-if="
										hasPermission(
											'fn.cg.solicitudes.dispersar'
										)
									"
								>
									<template
										v-if="solicitudActiva.idEtapa == 3"
									>
										<font class="text-white">
											Dispersar
											<i class="fas fa-pen-square"></i>
										</font>
									</template>
									<template v-else>
										Dispersado
										<i class="far fa-eye"></i>
									</template>
								</b-link>
								<template v-else>
									Dispersar
								</template>
							</template>
							<template v-else>
								Dispersar
							</template>
						</b-th>
						<b-th
							:class="{
								'bg-etapa-actual': solicitudActiva.idEtapa == 4,
							}"
						>
							<template v-if="solicitudActiva.idEtapa > 4">
								Comprobado
							</template>
							<template v-else>
								Comprobar
							</template>
						</b-th>
						<!-- <b-th :class="{'bg-etapa-actual': solicitudActiva.idEtapa == 7 && (totalReembolsado > 0 || totalReembolsar > 0)}"> -->
						<b-th
							:class="{
								'bg-etapa-actual': solicitudActiva.idEtapa == 7,
							}"
						>
							<template v-if="solicitudActiva.idEtapa >= 7">
								<!-- <b-link
                                class="text-dark"
                                v-b-modal.modal-reembolso
                                v-if="hasPermission('fn.cg.solicitudes.reembolsar') && (totalReembolsado > 0 || totalReembolsar > 0)"
                            > -->
								<b-link
									class="text-dark"
									v-b-modal.modal-reembolso
									v-if="
										hasPermission(
											'fn.cg.solicitudes.reembolsar'
										)
									"
								>
									<template
										v-if="solicitudActiva.idEtapa == 7"
									>
										<font class="text-white">
											Reembolsar
											<i class="fas fa-pen-square"></i>
										</font>
									</template>
									<template v-else>
										Reembolsado
										<i class="far fa-eye"></i>
									</template>
								</b-link>
								<font v-else>
									Reembolsar
								</font>
							</template>
							<template v-else>
								Reembolsar
							</template>
						</b-th>
						<b-th
							:class="{
								'bg-etapa-actual':
									solicitudActiva.idEtapa == 7 &&
									(totalDecrementado > 0 ||
										totalDecrementar > 0),
							}"
						>
							<template v-if="solicitudActiva.idEtapa >= 7">
								<b-link
									class="text-dark"
									v-b-modal.modal-decremento
									v-if="
										hasPermission(
											'fn.cg.solicitudes.decrementar'
										) &&
											(totalDecrementado > 0 ||
												totalDecrementar > 0)
									"
								>
									<template
										v-if="solicitudActiva.idEtapa == 7"
									>
										<font class="text-white">
											Decrementar
											<i class="fas fa-pen-square"></i>
										</font>
									</template>
									<template v-else>
										Decrementado
										<i class="far fa-eye"></i>
									</template>
								</b-link>
								<font v-else>
									Decrementar
								</font>
							</template>
							<template v-else>
								Decrementar
							</template>
						</b-th>
					</b-tr>
				</b-thead>
				<b-tbody>
					<tr
						v-for="(importe, index) in resumen"
						:key="index"
					>
						<td class="text-center">
							<strong>{{ importe.formaPago }}</strong>
						</td>
						<td>
							<div class="d-flex w-100 justify-content-between">
								<label class="mb-0 ml-1">$</label>
								<vue-numeric
									separator=","
									:precision="2"
									:read-only="true"
									:value="importe.solicitado"
								/>
							</div>
						</td>
						<td>
							<div class="d-flex w-100 justify-content-between">
								<label class="mb-0 ml-1">$</label>
								<vue-numeric
									separator=","
									:precision="2"
									:read-only="true"
									:value="importe.dispersado"
								/>
							</div>
						</td>
						<td>
							<div class="d-flex w-100 justify-content-between">
								<label class="mb-0 ml-1">$</label>
								<vue-numeric
									separator=","
									:precision="2"
									:read-only="true"
									:value="importe.comprobado"
								/>
							</div>
						</td>
						<td>
							<div class="d-flex w-100 justify-content-between">
								<label class="mb-0 ml-1">$</label>
								<vue-numeric
									separator=","
									:precision="2"
									:read-only="true"
									:value="importe.reembolsado"
								/>
							</div>
						</td>
						<td>
							<div class="d-flex w-100 justify-content-between">
								<label class="mb-0 ml-1">$</label>
								<vue-numeric
									separator=","
									:precision="2"
									:read-only="true"
									:value="importe.decrementado"
								/>
							</div>
						</td>
					</tr>
					<tr
						v-if="solicitudActiva && !resumenSolicitudActiva.length"
					>
						<td class="text-center" colspan="6">
							<h5 class="text-secondary my-2">
								No se han registrado movimientos
							</h5>
						</td>
					</tr>
				</b-tbody>

				<b-tfoot>
					<b-tr class="text-right bg-light">
						<b-td class="bg-white text-center">
							<strong>TOTALES</strong>
						</b-td>
						<b-td>
							<strong>
								<div
									class="d-flex w-100 justify-content-between"
								>
									<label class="mb-0 ml-1">$</label>
									<vue-numeric
										separator=","
										:precision="2"
										:read-only="true"
										:value="totalSolicitado"
									/>
								</div>
							</strong>
						</b-td>
						<b-td>
							<strong>
								<div
									class="d-flex w-100 justify-content-between"
								>
									<label class="mb-0 ml-1">$</label>
									<vue-numeric
										separator=","
										:precision="2"
										:read-only="true"
										:value="totalDispersado"
									/>
								</div>
							</strong>
						</b-td>
						<b-td>
							<strong>
								<div
									class="d-flex w-100 justify-content-between"
								>
									<label class="mb-0 ml-1">$</label>
									<vue-numeric
										separator=","
										:precision="2"
										:read-only="true"
										:value="totalComprobado"
									/>
								</div>
							</strong>
						</b-td>
						<b-td>
							<strong>
								<div
									class="d-flex w-100 justify-content-between"
								>
									<label class="mb-0 ml-1">$</label>
									<vue-numeric
										separator=","
										:precision="2"
										:read-only="true"
										:value="totalReembolsado"
									/>
								</div>
							</strong>
						</b-td>
						<b-td>
							<strong>
								<div
									class="d-flex w-100 justify-content-between"
								>
									<label class="mb-0 ml-1">$</label>
									<vue-numeric
										separator=","
										:precision="2"
										:read-only="true"
										:value="totalDecrementado"
									/>
								</div>
							</strong>
						</b-td>
					</b-tr>
					<b-tr>
						<b-td colspan="4" class="text-right pr-4">
							<strong>P e n d i e n t e</strong>
						</b-td>
						<b-td>
							<div
								class="d-flex w-100 justify-content-between"
								:class="classTR"
							>
								<label class="mb-0">
									<template v-if="totalReembolsar == 0">
										<i class="fas fa-check mr-1"></i>
									</template>
									<template v-if="totalReembolsar != 0">
										<i
											class="fas fa-exclamation-triangle mr-1"
										></i>
									</template>
									$
								</label>
								<label class="mb-0">{{
									totalReembolsar
								}}</label>
							</div>
						</b-td>
						<b-td>
							<div
								class="d-flex w-100 justify-content-between"
								:class="classTD"
							>
								<label class="mb-0">
									<template v-if="totalDecrementar == 0">
										<i class="fas fa-check mr-1"></i>
									</template>
									<template v-if="totalDecrementar != 0">
										<i
											class="fas fa-exclamation-triangle mr-1"
										></i>
									</template>
									$
								</label>
								<label class="mb-0">{{
									totalDecrementar
								}}</label>
							</div>
						</b-td>
					</b-tr>
				</b-tfoot>
			</b-table-simple>
			<modal-component
				:id="'modal-dispersion'"
				:title="'Dispersión Solicitud #' + solicitudActiva.idSolicitud"
				:hideFooter="true"
				:sizeModal="'xl'"
				v-if="solicitudActiva"
			>
				<template slot="content">
					<fn-gastos-solicitudes-form-dispersion-component
						:idSolicitud="solicitudActiva.idSolicitud"
					/>
				</template>
			</modal-component>
			<modal-component
				:id="'modal-reembolso'"
				:title="'Reembolso Solicitud #' + solicitudActiva.idSolicitud"
				:hideFooter="true"
				:sizeModal="'xl'"
				v-if="solicitudActiva"
			>
				<template slot="content">
					<fn-gastos-solicitudes-form-reembolso-component
						:idSolicitud="solicitudActiva.idSolicitud"
					/>
				</template>
			</modal-component>
			<modal-component
				:id="'modal-decremento'"
				:title="'Decremento Solicitud #' + solicitudActiva.idSolicitud"
				:hideFooter="true"
				:sizeModal="'xl'"
				v-if="solicitudActiva"
			>
				<template slot="content">
					<fn-gastos-solicitudes-form-decremento-component
						:idSolicitud="solicitudActiva.idSolicitud"
					/>
				</template>
			</modal-component>
		</b-card>
	</b-container>
</template>

<script>
import { mapState, mapActions } from "vuex";
export default {
	data() {
		return {
			rembolsado: "",
		};
	},
	mounted() {},
	methods: {
		hasPermission(funcion) {
			if (this.permissions.length) {
				const permiso = this.permissions.find(
					(permiso) => permiso.idFuncion == funcion
				);
				if (permiso) return true;
				return false;
			}
		},
	},
	computed: {
		...mapState("solicitudes_gastos", [
			"resumenSolicitudActiva",
			"busyResumen",
			"solicitudActiva",
			"formasPago",
		]),
		...mapState(["permissions"]),

		resumen() {
			if (this.resumenSolicitudActiva.length) {
				var resumen = [];
				this.formasPago.forEach((item) => {
					var response = this.resumenSolicitudActiva.filter(
						(resumen) => resumen.formaPago == item.value
					);
					var importeSolicitado = response.reduce(
						(suma, resumen) =>
							suma + parseFloat(Number(resumen.solicitado)),
						0
					);
					var importeDispersado = response.reduce(
						(suma, resumen) =>
							suma + parseFloat(Number(resumen.dispersado)),
						0
					);
					var importeComprobado = response.reduce(
						(suma, resumen) =>
							suma + parseFloat(Number(resumen.comprobado)),
						0
					);
					var importeReembolsado = response.reduce(
						(suma, resumen) =>
							suma + parseFloat(Number(resumen.reembolsado)),
						0
					);
					var importeDecrementado = response.reduce(
						(suma, resumen) =>
							suma + parseFloat(Number(resumen.decrementado)),
						0
					);

					if (importeSolicitado > 0 || importeDispersado > 0) {
						resumen.push({
							formaPago: item.value,
							solicitado: importeSolicitado,
							dispersado: importeDispersado,
							comprobado: importeComprobado,
							reembolsado: importeReembolsado,
							decrementado: importeDecrementado,

						});
					}
				}, this);
				return resumen;
			}else return [];
		},

		totalSolicitado() {
			if (this.resumenSolicitudActiva) {
				var suma = 0;
				for (var i = 0; i < this.resumenSolicitudActiva.length; i++) {
					let importe = Number(
						parseFloat(
							this.resumenSolicitudActiva[i].solicitado
						).toFixed(2)
					);
					suma += importe;
				}
				return parseFloat(suma).toFixed(2);
			}
			return 0.0;
		},
		totalDispersado() {
			if (this.resumenSolicitudActiva) {
				var suma = 0;
				for (var i = 0; i < this.resumenSolicitudActiva.length; i++) {
					let importe = Number(
						parseFloat(
							this.resumenSolicitudActiva[i].dispersado
						).toFixed(2)
					);
					suma += importe;
				}
				return parseFloat(suma).toFixed(2);
			}
			return 0.0;
		},
		totalComprobado() {
			if (this.resumenSolicitudActiva) {
				var suma = 0;
				for (var i = 0; i < this.resumenSolicitudActiva.length; i++) {
					let importe = Number(
						parseFloat(
							this.resumenSolicitudActiva[i].comprobado
						).toFixed(2)
					);
					suma += importe;
				}
				return parseFloat(suma).toFixed(2);
			}
			return 0.0;
		},
		totalReembolsado() {
			if (this.resumenSolicitudActiva) {
				var suma = 0;
				for (var i = 0; i < this.resumenSolicitudActiva.length; i++) {
					let importe = Number(
						parseFloat(
							this.resumenSolicitudActiva[i].reembolsado
						).toFixed(2)
					);
					suma += importe;
				}
				return parseFloat(suma).toFixed(2);
			}
			return 0.0;
		},
		totalDecrementado() {
			if (this.resumenSolicitudActiva) {
				var suma = 0;
				for (var i = 0; i < this.resumenSolicitudActiva.length; i++) {
					let importe = Number(
						parseFloat(
							this.resumenSolicitudActiva[i].decrementado
						).toFixed(2)
					);
					suma += importe;
				}
				return parseFloat(suma).toFixed(2);
			}
			return 0.0;
		},
		totalReembolsar() {
			if (this.resumenSolicitudActiva) {
				const totalReembolsar =
					this.totalComprobado - this.totalDispersado;

				let totalReembolsado = 0;

				for (var i = 0; i < this.resumenSolicitudActiva.length; i++) {
					let reembolsadoByTipo = Number(
						parseFloat(
							this.resumenSolicitudActiva[i].reembolsado
						).toFixed(2)
					);
					totalReembolsado += reembolsadoByTipo;
				}

				if (totalReembolsar > 0) {
					return parseFloat(
						totalReembolsar - totalReembolsado
					).toFixed(2);
				} else {
					return parseFloat(0 - totalReembolsado).toFixed(2);
				}
			}
		},
		totalDecrementar() {
			if (this.resumenSolicitudActiva) {
				const totalDecrementar =
					this.totalDispersado - this.totalComprobado;
				let totalDecrementado = 0;

				for (var i = 0; i < this.resumenSolicitudActiva.length; i++) {
					let decrementadoByTipo = Number(
						parseFloat(
							this.resumenSolicitudActiva[i].decrementado
						).toFixed(2)
					);
					totalDecrementado += decrementadoByTipo;
				}
				if (totalDecrementar > 0)
					return parseFloat(
						totalDecrementar - totalDecrementado
					).toFixed(2);
				else return parseFloat(0 - totalDecrementado).toFixed(2);
			}
			// if (this.resumenSolicitudActiva) {
			// 	var suma = 0;
			// 	for (var i = 0; i < this.resumenSolicitudActiva.length; i++) {
			// 		let importe = Number(
			// 			parseFloat(
			// 				this.resumenSolicitudActiva[i].decrementado
			// 			).toFixed(2)
			// 		);
			// 		suma += importe;
			// 	}
			// 	var total =
			// 		this.solicitudActiva.total_decrementar -
			// 		parseFloat(suma).toFixed(2);
			// 	return parseFloat(total).toFixed(2);
			// }
			// return 0.0;
		},
		classTR() {
			if (this.totalReembolsar == 0) return "text-success";
			if (this.totalReembolsar < 0) return "text-danger";
			else return "text-warning-2";
		},
		classTD() {
			if (this.totalDecrementar == 0) return "text-success";
			if (this.totalDecrementar < 0) return "text-danger";
			else return "text-warning-2";
		},
	},
};
</script>

<style>
.text-warning-2 {
	color: #de8902 !important;
}
.bg-etapa-actual {
	background-color: #3aae54 !important;
	color: white;
}
</style>
