<template>
	<div class="mt-3">
		<b-card>
			<b-row>
				<b-col lg="3">
					<fn-gastos-solicitudes-comprobaciones-opciones-component
						:loading="loading"
						@nuevaComprobacion="comprobacionEdit = null"
						@autorizacion="autorizacion($event)"
						@downloadSolicitud="downloadSolicitud()"
					/>
				</b-col>
				<b-col lg="6">
					<h3 class="text-center">Lista de comprobaciones</h3>
				</b-col>
				<b-col lg="3">
					<b-badge class="mt-2 float-right" :variant="bradgeVariant">
						{{ statusComprobacion }}
					</b-badge>
				</b-col>
			</b-row>

			<b-skeleton-table
				v-if="busyComprobaciones"
				:rows="3"
				:columns="11"
				:table-props="{ striped: true }"
			>
			</b-skeleton-table>

			<b-table-simple
				bordered
				striped
				responsive
				class="mb-0 shadow-sm table-comprobaciones border-top mt-2"
				v-show="!busyComprobaciones"
				style="font-size:11px"
			>
				<b-thead>
					<b-tr class="text-center">
						<b-th>Fecha de comprobante</b-th>
						<b-th>Tipo C.</b-th>
						<b-th>Comprobante</b-th>
						<b-th>Folio</b-th>
						<!-- <b-th>Cuenta</b-th> -->
						<b-th>Forma de pago</b-th>
						<b-th>Proveedor</b-th>
						<b-th>Descripción</b-th>
						<!-- <b-th v-if="hasPermission('fn.cg.solicitudes.contabilizar')">No. Cuenta</b-th> -->
						<b-th>Subtotal</b-th>
						<b-th>Iva</b-th>
						<b-th>Otros</b-th>
						<b-th>Importe</b-th>
						<b-th v-if="solicitudActiva.idEtapa == 4"
							>Acciones</b-th
						>
					</b-tr>
				</b-thead>
				<b-tbody class="tbody-comprobaciones">
					<b-tr
						class="text-center"
						v-for="(comprobacion, index) in listComprobaciones"
						:key="index"
					>
						<b-td>{{
							this.moment(comprobacion.fechaGasto).format(
								"DD/MM/YYYY"
							)
						}}</b-td>

						<b-td>
							{{ comprobacion.tipoComprobante }}
						</b-td>

						<b-td>
							<b-link
								@click="openModalFile(comprobacion)"
								class="text-dark"
							>
								<span
									v-html="comprobacionArchivos(comprobacion)"
								/>
							</b-link>
						</b-td>

						<b-td>{{ comprobacion.folioComprobante }}</b-td>
						<!-- <b-td>{{ comprobacion.cuenta }}</b-td> -->
						<b-td>{{ comprobacion.tipoGasto }}</b-td>
						<b-td>{{ comprobacion.proveedor }}</b-td>
						<b-td>{{ comprobacion.descripcion }}</b-td>
						<!-- <b-td v-if="hasPermission('fn.cg.solicitudes.contabilizar')">
						{{ comprobacion.noCuenta }}
					</b-td> -->
						<b-td class="text-right">
							<div class="d-flex w-100 justify-content-between">
								<label class="mb-0">$</label>
								<vue-numeric
									separator=","
									:precision="2"
									:read-only="true"
									:value="comprobacion.subtotal"
								/>
							</div>
						</b-td>
						<b-td class="text-right">
							<div class="d-flex w-100 justify-content-between">
								<label class="mb-0">$</label>
								<vue-numeric
									separator=","
									:precision="2"
									:read-only="true"
									:value="comprobacion.iva"
								/>
							</div>
						</b-td>
						<b-td class="text-right">
							<div class="d-flex w-100 justify-content-between">
								<label class="mb-0">$</label>
								<vue-numeric
									separator=","
									:precision="2"
									:read-only="true"
									:value="comprobacion.otros"
								/>
							</div>
						</b-td>
						<b-td class="text-right">
							<div class="d-flex w-100 justify-content-between">
								<label class="mb-0">$</label>
								<vue-numeric
									separator=","
									:precision="2"
									:read-only="true"
									:value="comprobacion.importe"
								/>
							</div>
						</b-td>
						<b-td v-if="solicitudActiva.idEtapa == 4">
							<b-link @click="dataEdit(comprobacion)">
								<i class="fas fa-edit text-secondary px-1"></i>
							</b-link>
							<b-link
								href="#"
								@click="showMsgBoxDeleteConfirm(comprobacion)"
							>
								<i class="fas fa-trash text-secondary px-1"></i>
							</b-link>
						</b-td>
					</b-tr>
					<b-tr v-if="!listComprobaciones.length">
						<b-td
							:colspan="
								hasPermission('fn.cg.solicitudes.contabilizar')
									? '14'
									: '13'
							"
							class="text-center"
						>
							<h5 class="py-3">
								No se han registrado ninguna comprobación
							</h5>
						</b-td>
					</b-tr>
				</b-tbody>
				<b-tfoot>
					<b-tr class="text-right">
						<b-td
							:colspan="
								hasPermission('fn.cg.solicitudes.contabilizar')
									? '6'
									: '6'
							"
						></b-td>
						<b-td class="text-center">
							<strong>T o t a l e s (MXN)</strong>
						</b-td>
						<b-td>
							<strong>
								<div
									class="d-flex w-100 justify-content-between"
								>
									<label class="mb-0">$</label>
									<vue-numeric
										separator=","
										:precision="2"
										:read-only="true"
										:value="totalSubtotal"
									/>
								</div>
							</strong>
						</b-td>
						<b-td>
							<strong>
								<div
									class="d-flex w-100 justify-content-between"
								>
									<label class="mb-0">$</label>
									<vue-numeric
										separator=","
										:precision="2"
										:read-only="true"
										:value="totalIva"
									/>
								</div>
							</strong>
						</b-td>
						<b-td>
							<strong>
								<div
									class="d-flex w-100 justify-content-between"
								>
									<label class="mb-0">$</label>
									<vue-numeric
										separator=","
										:precision="2"
										:read-only="true"
										:value="totalOtros"
									/>
								</div>
							</strong>
						</b-td>
						<b-td>
							<strong>
								<div
									class="d-flex w-100 justify-content-between"
								>
									<label class="mb-0">$</label>
									<vue-numeric
										separator=","
										:precision="2"
										:read-only="true"
										:value="totalImporte"
									/>
								</div>
							</strong>
						</b-td>
						<b-td v-if="solicitudActiva.idEtapa == 4"></b-td>
					</b-tr>
				</b-tfoot>
			</b-table-simple>

			<modal-component
				:title="'Agregar Comprobación'"
				:id="'modal-comprobacion'"
				:size-modal="sizeModalComprobacion"
				:hide-header="true"
				:hide-footer="true"
				:no-button-close="true"
			>
				<template slot="content">
					<fn-gastos-solicitudes-form-comprobacion-component
						:comprobacion="comprobacionEdit"
						@setSizeModal="setSizeModalComprobacion"
					/>
				</template>
				<span slot="buttons"></span>
			</modal-component>

			<modal-component
				:title="'Timbrar Solicitud'"
				:id="'modal-timbrar'"
				:hideFooter="true"
				:hideHeader="true"
				:centered="true"
				:sizeModal="'sm'"
			>
				<template slot="content">
					<fn-gastos-solicitudes-form-timbrar-component />
				</template>
				<span slot="buttons"></span>
			</modal-component>

			<modal-component
				:id="'modal-autorizacion-comprobacion'"
				:title="'Autorización de comprobación'"
				:hideFooter="true"
				:hideHeader="true"
				:centered="true"
			>
				<template slot="content">
					<fn-gastos-solicitudes-form-autorizacion-comprobacion-component
						:idSolicitud="solicitudActiva.idSolicitud"
						:statusAutorizacion="statusAutorizacion"
					/>
				</template>
			</modal-component>

			<modal-component
				:id="'modal-cg-files'"
				:title="'Descargar archivos'"
				:hideFooter="true"
				:hideHeader="true"
				:centered="true"
			>
				<template slot="content">
					<fn-cg-files-component :comprobacion="comprobacion" />
				</template>
			</modal-component>
		</b-card>
	</div>
</template>
<script>
import { mapActions, mapMutations, mapState } from "vuex";
export default {
	data() {
		return {
			loading: false,
			comprobacionEdit: null,
			statusAutorizacion: "",
			sizeModalComprobacion: "md",
			comprobacion: null,
			comprobacionesArchivosFaltantes: [],
		};
	},
	methods: {
		...mapMutations("solicitudes_gastos", [
			"deleteComprobacion",
			"updateSolicitud",
			"updateReembolsarDecrementar",
		]),
		...mapActions("solicitudes_gastos", ["getResumenSolicitudActiva"]),
		comprobacionArchivos(comprobacion) {
			if (comprobacion.tipoComprobante == "Factura") {
				if (
					comprobacion.file == "S/A" ||
					comprobacion.fileXML == "S/A"
				) {
					return '<label class="text-danger mb-0"><i class="fas fa-exclamation-triangle"></i> Faltan archivos</label>';
				} else {
					return '<i class="far fa-folder-open px-1"></i> Archivos';
				}
			} else {
				if (comprobacion.file == "S/A") {
					return '<label class="text-danger mb-0"><i class="fas fa-exclamation-triangle"></i> Sin archivo</label>';
				} else {
					return '<i class="far fa-folder-open px-1"></i> Archivos';
				}
			}
		},
		dataEdit(data) {
			this.comprobacionEdit = data;
			this.$bvModal.show("modal-comprobacion");
		},
		showMsgBoxDeleteConfirm(data) {
			this.$bvModal
				.msgBoxConfirm(
					"¿Esta seguro que desea eliminar el registro de comprobación?",
					{
						title: "Favor de confirmar",
						size: "sm",
						buttonSize: "sm",
						okVariant: "danger",
						cancelVariant: "light",
						okTitle: "Eliminar",
						cancelTitle: "Cancelar",
						headerClass: "pt-3 pb-2 border-bottom-0",
						footerClass: "p-2 border-top-0",
						centered: true,
					}
				)
				.then((confirm) => {
					if (confirm) this.delete(data);
				});
		},
		async delete(data) {
			try {
				const response = await axios.delete(
					BaseUrl + `/api/fn/cg/comprobaciones/${data.idComprobacion}`
				);
				if (response.data.success) {
					this.deleteComprobacion(data.idComprobacion);
					const response = await axios.post(
						BaseUrl +
							`/api/fn/cg/comprobaciones/resumen/${this.solicitudActiva.idSolicitud}`
					);
					this.updateReembolsarDecrementar(response.data.solicitud);
					this.getResumenSolicitudActiva(data.idSolicitud);
					this.makeToast(
						"success",
						"Exito",
						"Se ha eliminado correctamente el registro"
					);
				}
			} catch (error) {
				this.makeToast(
					"danger",
					"Error",
					"Ha ocurrido un problema al eliminar el registro"
				);
				console.log(error);
			}
		},
		makeToast(variant = null, title, text) {
			this.$bvToast.toast(text, {
				title: title,
				variant: variant,
				solid: true,
			});
		},
		hasPermission(funcion) {
			if (this.permissions.length) {
				const permiso = this.permissions.find(
					(permiso) => permiso.idFuncion == funcion
				);
				if (permiso) return true;
				return false;
			}
		},
		autorizacion(status) {
			this.statusAutorizacion = status;
			this.$bvModal.show("modal-autorizacion-comprobacion");
		},
		async downloadSolicitud() {
			var dataReport = {
				idSolicitud: this.solicitudActiva.idSolicitud,
				resumen: this.resumenSolicitudActiva,
				comprobaciones: this.listComprobaciones,
				totalesCg: {
					totalSubtotal: this.totalSubtotal,
					totalIva: this.totalIva,
					totalOtros: this.totalOtros,
					totalImporte: this.totalImporte,
				},
			};
			try {
				this.loading = true;
				var response = await axios.post(
					BaseUrl + `/api/fn/cg/solicitud/reporte`,
					dataReport
				);
				if (response.data.success) {
					this.loading = false;
					this.downloadPDF();
					this.deletePDFserver();
				}
			} catch (error) {
				this.loading = false;
				console.log("Error", error);
			}
		},
		downloadPDF() {
			window.location =
				BaseUrl +
				`/api/fn/cg/solicitud/reporte/${this.solicitudActiva.idSolicitud}/download`;
		},
		deletePDFserver() {
			try {
				axios.post(
					BaseUrl +
						`/api/fn/cg/solicitud/reporte/${this.solicitudActiva.idSolicitud}/delete`
				);
			} catch (error) {
				console.log("Error", error);
			}
		},
		setSizeModalComprobacion(size) {
			this.sizeModalComprobacion = size;
		},
		openModalFile(comprobacion) {
			this.comprobacion = comprobacion;
			this.$bvModal.show("modal-cg-files");
		},
	},
	computed: {
		...mapState(["permissions"]),
		...mapState("solicitudes_gastos", [
			"resumenSolicitudActiva",
			"listComprobaciones",
			"solicitudActiva",
			"busyComprobaciones",
		]),
		totalSubtotal() {
			var suma = 0;
			for (var i = 0; i < this.listComprobaciones.length; i++) {
				let subtotal = Number(
					parseFloat(this.listComprobaciones[i].subtotal).toFixed(2)
				);
				suma += subtotal;
			}
			return parseFloat(suma).toFixed(2);
		},
		totalIva() {
			var suma = 0;
			for (var i = 0; i < this.listComprobaciones.length; i++) {
				let iva = Number(
					parseFloat(this.listComprobaciones[i].iva).toFixed(2)
				);
				suma += iva;
			}
			return parseFloat(suma).toFixed(2);
		},
		totalOtros() {
			var suma = 0;
			for (var i = 0; i < this.listComprobaciones.length; i++) {
				let otros = Number(
					parseFloat(this.listComprobaciones[i].otros).toFixed(2)
				);
				suma += otros;
			}
			return parseFloat(suma).toFixed(2);
		},
		totalImporte() {
			var suma = 0;
			for (var i = 0; i < this.listComprobaciones.length; i++) {
				let importe = Number(
					parseFloat(this.listComprobaciones[i].importe).toFixed(2)
				);
				suma += importe;
			}
			return parseFloat(suma).toFixed(2);
		},
		statusComprobacion() {
			if (this.solicitudActiva) {
				if (
					(this.solicitudActiva.idEtapaOld == 5 ||
						this.solicitudActiva.idEtapaOld == 6) &&
					this.solicitudActiva.idEtapa == 4
				)
					return "Comprobación rechazada";
				switch (this.solicitudActiva.idEtapa) {
					case 4:
						return "Pendiente de comprobar";
						break;
					case 5:
						return "Pendiente de revisar";
						break;
					case 6:
						return "Pendiente de autorizar";
						break;
					case 7:
						return "Pendiente de reembolsar o decrementar";
						break;
					case 8:
						return "Pendiente de contabilizar";
						break;
					case 9:
						return "Terminada";
						break;
					default:
						break;
				}
			}
		},
		bradgeVariant() {
			if (
				this.solicitudActiva.idEtapa == 4 &&
				(this.solicitudActiva.idEtapaOld == 5 ||
					this.solicitudActiva.idEtapaOld == 6)
			)
				return "danger";
			else return "warning";
		},
	},
	watch: {},
};
</script>

<style>
.table-comprobaciones {
	max-height: calc(100vh - 515px) !important;
	overflow: auto;
}

#style1.vue-numeric-input.updown {
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
}
#style1.vue-numeric-input.updown .numeric-input {
	padding-right: 5px !important;
	padding-left: 5px !important;
}
#style1.vue-numeric-input.updown .btn {
	background: #6fbbff !important;
}
#style1.vue-numeric-input.updown .btn-increment {
	height: 1.5rem;
	width: 100%;
	right: 0 !important;
	left: 0 !important;
	top: 0 !important;
	bottom: auto !important;
}
#style1.vue-numeric-input.updown .btn-decrement {
	height: 1.5rem;
	width: 100%;
	left: 0 !important;
	right: 0 !important;
	top: auto !important;
	bottom: 0 !important;
}
</style>
