<template>
	<div class="wrapper" style="height: calc(100vh - 54px)">
		<sidebar-component :title="'INDICADORES'">
			<template slot="content">
				<vt-ind-sidebar />
			</template>
		</sidebar-component>
		<b-container fluid style="height: calc(100vh - 54px); overflow: auto">
			<b-row class="py-3 mb-0">
				<b-col lg="3"> </b-col>
				<b-col lg="6">
					<h1 class="text-center mb-0">
						Presupuesto {{ embudoSelected.nombre }}
					</h1>
				</b-col>
				<b-col lg="3"> </b-col>
			</b-row>

			<b-card
				style="max-height: calc(100vh - 124px); overflow: auto"
				class="mb-4"
			>
				<template>
					<b-row>
						<b-col lg="12">
							<b-form inline>
								<b-form-group>
									<b-input-group
										prepend="Embudos"
										size="sm"
										v-if="!loading"
									>
										<b-form-select
											size="sm"
											:options="selectEmbudos"
											:value="embudoSelected"
											@change="setEmbudo($event)"
										>
											<template v-slot:first>
												<option :value="null" disabled>
													Seleccione
												</option>
											</template>
										</b-form-select>
									</b-input-group>
									<small v-else>
										<b-skeleton
											width="150px"
											type="input"
										></b-skeleton>
									</small>
								</b-form-group>
								<b-form-group class="ml-3">
									<b-input-group
										prepend="Comparativa"
										size="sm"
										v-if="!loading"
									>
										<b-form-select
											size="sm"
											:options="selectEmbudos"
											v-model="embudoComparable"
										>
											<template v-slot:first>
												<option :value="null" disabled>
													Seleccione
												</option>
											</template>
										</b-form-select>
									</b-input-group>
									<small v-else>
										<b-skeleton
											width="150px"
											type="input"
										></b-skeleton>
									</small>
								</b-form-group>
								<b-form-group class="ml-3">
                                    <b-form-tags
                                        id="tags-component-select"
                                        v-model="unidadesSelected"
                                        size="sm"
                                        add-on-change
                                        no-outer-focus
                                    >
                                        <template
                                            v-slot="{
                                                tags,
                                                inputAttrs,
                                                inputHandlers,
                                                disabled,
                                                removeTag,
                                            }"
                                        >
                                            <b-row>
                                                <b-col lg="12">
                                                    <b-form-select
                                                        v-bind="inputAttrs"
                                                        v-on="inputHandlers"
                                                        size="sm"
                                                        :disabled="
                                                            disabled ||
                                                            availableOptions.length ===
                                                                0
                                                        "
                                                        :options="availableOptions"
                                                    >
                                                        <template #first>
                                                            <option disabled value="">
                                                                Unidades de negocio
                                                            </option>
                                                        </template>
                                                    </b-form-select>
                             
                                                    <ul
                                                        v-if="tags.length > 0"
                                                        class="list-inline d-inline-block my-0 ml-2"
                                                    >
                                                        <li
                                                            v-for="tag in tags"
                                                            :key="tag"
                                                            class="list-inline-item"
                                                        >
                                                            <b-form-tag
                                                                @remove="removeTag(tag)"
                                                                :title="tag"
                                                                :disabled="disabled"
                                                                size="sm"
                                                                variant="info"
                                                                >{{ tag }}</b-form-tag
                                                            >
                                                        </li>
                                                    </ul>
                                                </b-col>
                                            </b-row>
                                        </template>
                                    </b-form-tags>
								</b-form-group>
                            </b-form>
						</b-col>
					</b-row>
				</template>
				<vt-indicadores-presupuesto-table-resumen
					v-show="!loading"
					:embudo-comparable="embudoComparable"
                    :unidadesSelected="unidadesSelected"
				/>
			</b-card>
		</b-container>
	</div>
</template>

<script>
import { mapState, mapMutations, mapActions } from "vuex";
export default {
	data() {
		return {
			loading: false,
            embudoComparable: null,
            unidadesSelected: [],
		};
	},
	mounted() {
		this.setRouteName("vt.indicadores.presupuesto");
		this.getNegociosFacturados();
		this.getUnidadesNegocio();
		this.getPresupuestosMeses(this.embudoSelected.idEmbudo);
		this.getEmbudos();
	},
	methods: {
		...mapMutations(["setRouteName"]),
		...mapMutations("negocios", ["setEmbudoSelected"]),
		...mapActions("vt_unidades_negocio", ["getUnidadesNegocio"]),
		...mapActions("presupuesto", ["getPresupuestosMeses"]),
		...mapActions("negocios", [
			"getNegociosFacturados",
			"getNegociosFacturados2",
		]),
		...mapActions("embudos", ["getEmbudos"]),
		setEmbudo(embudoSelected) {
			this.setEmbudoSelected(embudoSelected);
			this.getNegociosFacturados();
			this.getPresupuestosMeses(this.embudoSelected.idEmbudo);
		},
	},
	computed: {
		...mapState("vt_unidades_negocio", ["listUnidadesNegocio"]),
		...mapState("negocios", ["embudoSelected"]),
		...mapState("embudos", ["embudos"]),

		selectEmbudos() {
			return this.embudos.map((embudo) => {
				return {
					text: embudo.nombre,
					value: {
						idEmbudo: embudo.idEmbudo,
						nombre: embudo.nombre,
						periodo: embudo.periodo,
					},
				};
			});
        },
        optionsUN() {
            return this.listUnidadesNegocio.map((unidad) => unidad.unidadNegocio);
        },
        availableOptions() {
            return this.optionsUN.filter(opt => this.unidadesSelected.indexOf(opt) === -1)
        }
	},
	watch: {
		embudoSelected() {
			this.getPresupuestosMeses(this.embudoSelected.idEmbudo);
		},
		embudoComparable() {
			this.getNegociosFacturados2(this.embudoComparable.idEmbudo);
		},
	},
};
</script>