<template>
	<div>
		<b-table-simple bordered hover small responsive style="font-size:12px;" class="mt-3">
            <b-tbody>
                <b-tr class="bg-secondary">
                    <b-td :colspan="totalCols" class="text-center">
                        <h5 class="mb-0 text-white"><template v-if="embudoComparable">{{embudoComparable.nombre}} vs</template> {{embudoSelected.nombre}}</h5>    
                    </b-td>
                </b-tr>
                <b-tr class="text-center bg-light">
					<b-th class="text-center"> 
                        Embudo 
					</b-th>
					<template v-for="(unidad, index) in listUnidadesNegocio">
						<b-th
							v-if="unidadExist(unidad.unidadNegocio)"
							:key="index"
							colspan="2"
						>
							{{ unidad.unidadNegocio }}
						</b-th>
					</template>
					<b-th> Total </b-th>
					<b-th rowspan="2" class="align-middle"> Optimo</b-th>
					<b-th colspan="3"></b-th>
				</b-tr>
				<b-tr class="text-right" v-if="embudoComparable">
					<b-td class="text-left">
						{{ embudoComparable.nombre }}<br />
						<small><strong>(Real)</strong></small>
					</b-td>
					<template
						v-for="(unidadNegocio, index) in listUnidadesNegocio"
					>
						<vt-indicadores-presupuesto-td-negocios-facturados2-component
							v-if="unidadExist(unidadNegocio.unidadNegocio)"
							:key="index"
							:unidad-negocio="unidadNegocio"
						/>
					</template>
					<b-td class="align-middle">
						<strong>
							<vue-numeric
								separator=","
								:precision="2"
								:read-only="true"
								:value="totalNegociosFacturados2"
							/>
						</strong>
					</b-td>
					<b-td colspan="3"></b-td>
				</b-tr>
				<b-tr class="text-right align-middle">
					<b-td class="text-left">
						{{ embudoSelected.nombre }}<br />
						<small><strong>(Proyección)</strong></small>
					</b-td>
					<template
						v-for="(unidadNegocio, index) in listUnidadesNegocio"
					>
						<vt-indicadores-presupuesto-td-proyecciones-component
							v-if="unidadExist(unidadNegocio.unidadNegocio)"
							:key="index"
							:unidad-negocio="unidadNegocio"
							:colspan="2"
						/>
					</template>
					<b-td class="align-middle">
						<strong>
							<vue-numeric
								separator=","
								:precision="2"
								:read-only="true"
								:value="totalAnualProyecciones"
							/>
						</strong>
					</b-td>
					<b-td class="align-middle">
						<strong>
							<vue-numeric
								separator=","
								:precision="2"
								:read-only="true"
								:value="optimo"
							/>
						</strong>
					</b-td>
					<b-td colspan="3"></b-td>
				</b-tr>
				<b-tr class="text-center">
					<b-td class="text-left"
						><strong>% de crecimiento</strong></b-td
					>
					<template
						v-for="(unidadNegocio, index) in listUnidadesNegocio"
					>
						<vt-indicadores-presupuesto-td-crecimiento-component
							v-if="unidadExist(unidadNegocio.unidadNegocio)"
							:key="index"
							:unidad-negocio="unidadNegocio"
						/>
					</template>
					<b-td colspan="5"></b-td>
				</b-tr>
			</b-tbody>
			<b-tbody>
				<b-td :colspan="totalCols" style="height: 30px"></b-td>
				<b-tr class="bg-secondary">
					<b-td :colspan="totalCols" class="text-center">
						<h5 class="mb-0 text-white">
							{{ embudoSelected.nombre }} POR MES
						</h5>
					</b-td>
				</b-tr>
				<b-tr class="text-center bg-light">
					<b-th class="text-center"> Mes </b-th>
                    <template v-for="(unidad, index) in listUnidadesNegocio">
                        <th colspan="2"
                            v-if="unidadExist(unidad.unidadNegocio)"
                            :key="index"
                        >
                        {{unidad.unidadNegocio}}

                        </th>
                    </template>
					<b-th colspan="3"> 
                         <div class="text-nowrap">
                             Total 
                         </div>
                    </b-th>
					<b-th> 
                        <div class="text-nowrap" style="width: 80px">
                            % Real 
                        </div>
                    </b-th>
					<b-th> 
                        <div class="text-nowrap" style="width: 120px">
                        Acomulado 
                        </div>
                    </b-th>
				</b-tr>
                <b-tr class="text-center">
                    <b-th></b-th>
                    <template v-for="(unidad, index) in listUnidadesNegocio">
                        <template v-if="unidadExist(unidad.unidadNegocio)">
                            <b-th
                                :key="'pro'+index"
                            >
                                <div class="text-nowrap" style="width: 130px">
                                    Promedio
                                </div>
                            </b-th>
                            <b-th
                                :key="'pre'+index"
                            >
                                <div class="text-nowrap" style="width: 130px">
                                    Presupuestado
                                </div>
                            </b-th>
                        </template>
                    </template>
                    <b-th>
                        <div class="text-nowrap" style="width: 130px">
                            Promedio
                        </div>
                    </b-th>
                    <b-th>
                        <div class="text-nowrap" style="width: 130px">
                            Presupuestado
                        </div>
                    </b-th>
                    <b-th>
                        <div class="text-nowrap" style="width: 130px">
                            Real
                        </div>
                    </b-th>
                    <b-th>
                        <div class="text-nowrap">
                            (Promedio)
                        </div>
                    </b-th>
                    <b-th>Real</b-th>
                </b-tr>
				<vt-indicadores-presupuesto-tr-mes-component
					v-for="(mes, index) in meses"
					:key="index"
					:mes="mes"
					:optimo="optimo"
					:unidadesSelected="unidadesSelected"
				/>
				<b-tr
					class="text-right"
					style="background-color: rgba(35, 124, 179, 0.12) !important;"
				>
					<b-td class="text-left pl-2">
						<strong>TOTAL</strong>
					</b-td>
					<template
						v-for="(unidadNegocio, index) in listUnidadesNegocio"
					>
						<template
							v-if="unidadExist(unidadNegocio.unidadNegocio)"
						>
							<vt-indicadores-presupuesto-td-proyecciones-component
								:key="'pro' + index"
								:unidad-negocio="unidadNegocio"
								:colspan="1"
							/>
							<vt-indicadores-presupuesto-td-totales-component
								:key="'pre' + index"
								:unidad-negocio="unidadNegocio"
							/>
						</template>
					</template>
					<b-td>
						<strong>
							<div class="d-flex">
								<div class="mr-auto">
									<i
										class="fas fa-dollar-sign align-middle ml-1"
									></i>
								</div>
								<vue-numeric
									separator=","
									:precision="2"
									:read-only="true"
									:value="totalAnualProm"
								/>
							</div>
						</strong>
					</b-td>
					<b-td>
						<strong>
							<div class="d-flex">
								<div class="mr-auto">
									<i
										class="fas fa-dollar-sign align-middle ml-1"
									></i>
								</div>
								<vue-numeric
									separator=","
									:precision="2"
									:read-only="true"
									:value="totalAnualPres"
								/>
							</div>
						</strong>
					</b-td>
					<b-td>
						<strong>
							<div class="d-flex">
								<div class="mr-auto">
									<i
										class="fas fa-dollar-sign align-middle ml-1"
									></i>
								</div>
								<vue-numeric
									separator=","
									:precision="2"
									:read-only="true"
									:value="totalReal"
								/>
							</div>
						</strong>
					</b-td>
					<b-td> </b-td>
					<b-td>
						<strong>
							<div class="d-flex">
								<div class="mr-auto">
									<i
										class="fas fa-dollar-sign align-middle ml-1"
									></i>
								</div>
								<vue-numeric
									separator=","
									:precision="2"
									:read-only="true"
									:value="totalReal"
								/>
							</div>
						</strong>
					</b-td>
				</b-tr>
				<b-td :colspan="totalCols" style="height: 30px"></b-td>
				<b-tr class="text-center">
					<b-td><strong>% de ingreso por Unidad</strong></b-td>

					<template
						v-for="(unidadNegocio, index) in listUnidadesNegocio"
					>
						<vt-indicadores-presupuesto-td-ingreso-unidad-component
							v-if="unidadExist(unidadNegocio.unidadNegocio)"
							:key="index"
							:unidad-negocio="unidadNegocio"
							:total-anual-pres="totalAnualPres"
						/>
					</template>
					<b-td colspan="5"></b-td>
				</b-tr>
			</b-tbody>
		</b-table-simple>
	</div>
</template>

<script>
import { mapActions, mapState } from "vuex";
export default {
	props: {
		embudoComparable: Object,
		unidadesSelected: Array,
	},
	mounted() {
		this.getUnidadesNegocio();
		this.getPresupuestosMeses(this.embudoSelected.idEmbudo);
		this.getProyecciones();
	},
	methods: {
		...mapActions("vt_unidades_negocio", ["getUnidadesNegocio"]),
		...mapActions("presupuesto", ["getPresupuestosMeses"]),
		...mapActions("vt_proyecciones", ["getProyecciones"]),

		unidadExist(unidadNegocio) {
			return this.unidadesSelected.find(
				(unidad) => unidad == unidadNegocio
			);
		},
	},
	computed: {
		...mapState("presupuesto", ["presupuestosMeses"]),
		...mapState("vt_unidades_negocio", ["listUnidadesNegocio"]),
		...mapState("negocios", [
			"negociosFacturados",
			"negociosFacturados2",
			"embudoSelected",
		]),
		...mapState("vt_proyecciones", ["listProyecciones"]),
		...mapState("embudos", ["selectEmbudos"]),
        ...mapState(["meses"]),
        totalAnualProm() {
            return this.totalAnualProyecciones;
        },
        totalAnualPres() {
            let suma = 0;
			for (var i = 0; i < this.presupuestosMeses.length; i++) { 
                if(this.unidadExist(this.presupuestosMeses[i].unidadNegocio)) {
                    let importe = Number(
                            this.presupuestosMeses[i].totalMensual
                        );
                    suma += importe;
                }
			}
			return parseFloat(suma).toFixed(2);  
        },
        totalReal() {
            let suma = 0;
			for (var i = 0; i < this.negociosFacturados.length; i++) { 
                if(this.unidadExist(this.negociosFacturados[i].unidadNegocio)) {
                     let importe = Number(
                        this.negociosFacturados[i].tipoMoneda != "USD"
                            ? this.negociosFacturados[i].valorNegocio
                            : this.negociosFacturados[i].valorNegocio *
                                    this.negociosFacturados[i].xCambio
                    );
                    suma += importe;
                }
			}
			return parseFloat(suma).toFixed(2);
		},
		totalCols() {
			return this.listUnidadesNegocio.length * 2 + 6;
		},
		optimo() {
			return this.totalAnualProyecciones / 12;
		},
		totalNegociosFacturados2() {
			let suma = 0;
			for (var i = 0; i < this.negociosFacturados2.length; i++) {
                if(this.unidadExist(this.negociosFacturados2[i].unidadNegocio)) {
                    let importe = Number(
                        this.negociosFacturados2[i].tipoMoneda != "USD"
                            ? this.negociosFacturados2[i].valorNegocio
                            : this.negociosFacturados2[i].valorNegocio *
                                    this.negociosFacturados2[i].xCambio
                    );
                    suma += importe;
                }
			}
			return parseFloat(suma).toFixed(2);
		},
		totalAnualProyecciones() {
			let suma = 0;
			for (var i = 0; i < this.listProyecciones.length; i++) {
                if(this.listProyecciones[i].idEmbudo == this.embudoSelected.idEmbudo && this.unidadExist(this.listProyecciones[i].unidad_negocio)) {
                    let importe = Number(
                        this.listProyecciones[i].monto
                    );
                    suma += importe;
                }
			}
			return parseFloat(suma).toFixed(2);
		},
	},
};
</script>
 