<template>
	<b-td class="align-middle" colspan="2">
		<strong>{{porcentajeCrecimiento}}%</strong>
	</b-td>
</template>
<script>
import { mapState } from "vuex";
export default {
	props: {
        unidadNegocio: Object,
	},
	computed: {
        ...mapState("vt_proyecciones", ["listProyecciones"]),
        ...mapState("negocios", ["embudoSelected"]),
		...mapState("negocios", ["negociosFacturados2"]),
        
        totalAnualProyecciones() {
            let suma = 0;
			for (var i = 0; i < this.listProyecciones.length; i++) {
				if (
					this.listProyecciones[i].idUnidadNegocio ==
                    this.unidadNegocio.idUnidadNegocio &&  
                    this.listProyecciones[i].idEmbudo ==
					this.embudoSelected.idEmbudo
				) {
					let importe = Number(
						this.listProyecciones[i].monto
					);
					suma += importe;
				}
			}
			return parseFloat(suma).toFixed(2);
        },
        
        totalAnualReal() {
            let suma = 0;
			for (var i = 0; i < this.negociosFacturados2.length; i++) {
				if (
					this.negociosFacturados2[i].idUnidadNegocio ==
                    this.unidadNegocio.idUnidadNegocio 
				) {
					let importe = Number(
                        this.negociosFacturados2[i].tipoMoneda != "USD"
                            ? this.negociosFacturados2[i].valorNegocio
                            : this.negociosFacturados2[i].valorNegocio *
                                    this.negociosFacturados2[i].xCambio
                    );
					suma += importe;
				}
			}
			return parseFloat(suma).toFixed(2);
		},

		porcentajeCrecimiento() {
            const crecimiento = parseInt((1-(this.totalAnualReal/this.totalAnualProyecciones))*100);
            return (crecimiento) ? crecimiento : 0; 
		},
	},
};
</script>

