<template>
	<b-td class="align-middle" colspan="2">
		<strong>{{ porcentajeIngreso }}%</strong>
	</b-td>
</template>
<script>
import { mapState } from "vuex";
export default {
	props: {
		unidadNegocio: Object,
		totalAnualPres: String,
	},
	computed: {
		...mapState("presupuesto", ["presupuestosMeses"]),
		totalAnualPresByUnidad() {
			let suma = 0;
			for (var i = 0; i < this.presupuestosMeses.length; i++) {
				if (
					this.presupuestosMeses[i].id_unidad_negocio ==
					this.unidadNegocio.idUnidadNegocio
				) {
					let importe = Number(
						this.presupuestosMeses[i].totalMensual
					);
					suma += importe;
				}
			}
			return parseFloat(suma).toFixed(2);
		},
		porcentajeIngreso() {
			return parseInt(
				(Number(this.totalAnualPresByUnidad) /
					Number(this.totalAnualPres)) *
					100
			);
		},
	},
};
</script>

