<template>
    <b-td class="align-middle" colspan="2">
        <strong>
            <div class="d-flex">
                <div class="mr-auto">
                    <i class="fas fa-dollar-sign align-middle ml-1"></i>
                </div>
                <vue-numeric
                    separator=","
                    :precision="2"
                    :read-only="true"
                    :value="totalFacturado"
                />
            </div>
        </strong>
    </b-td>
</template>

<script>
import { mapState } from 'vuex';
export default {
    props: {
        unidadNegocio: Object
    },
    computed: {
        ...mapState("negocios", ["negociosFacturados2"]),
        totalFacturado() {
            let suma = 0;
			for (var i = 0; i < this.negociosFacturados2.length; i++) {
				if (
					this.negociosFacturados2[i].idUnidadNegocio ==
					this.unidadNegocio.idUnidadNegocio
				) {
					let importe = Number(
                        this.negociosFacturados2[i].tipoMoneda != "USD"
                            ? this.negociosFacturados2[i].valorNegocio
                            : this.negociosFacturados2[i].valorNegocio *
                                    this.negociosFacturados2[i].xCambio
                    );
					suma += importe;
				}
			}
			return parseFloat(suma).toFixed(2);
        }
    }
}
</script>