<template>
	<b-td class="align-middle" :colspan="colspan">
        <strong>
            <div class="d-flex">
                <div class="mr-auto">
                    <i class="fas fa-dollar-sign align-middle ml-1"></i>
                </div>
                <vue-numeric
                    separator=","
                    :precision="2"
                    :read-only="true"
                    :value="totalProyeccionByUnidadNeg"
                />
            </div>
        </strong>
	</b-td>
</template>
<script>
import { mapState } from "vuex";
export default {
	props: {
        unidadNegocio: Object,
        colspan: Number
	},
	computed: {
        ...mapState("vt_proyecciones", ["listProyecciones"]),
		...mapState("negocios", ["embudoSelected"]),
    
		totalProyeccionByUnidadNeg() {
            let suma = 0;
			for (var i = 0; i < this.listProyecciones.length; i++) {
				if (
					this.listProyecciones[i].idUnidadNegocio ==
                    this.unidadNegocio.idUnidadNegocio &&  
                    this.listProyecciones[i].idEmbudo ==
					this.embudoSelected.idEmbudo
				) {
					let importe = Number(
						this.listProyecciones[i].monto
					);
					suma += importe;
				}
			}
			return parseFloat(suma).toFixed(2);
		},
	},
};
</script>

