<template>
	<b-td>
		<div class="d-flex">
			<div class="mr-auto">
				<i class="fas fa-dollar-sign align-middle ml-1"></i>
			</div>
			<vue-numeric
				separator=","
				:precision="2"
				:read-only="true"
				:value="totalMensualPreByUnidad"
			/>
		</div>
	</b-td>
</template>
<script>
import { mapState } from "vuex";
export default {
	props: {
		unidadNegocio: Object,
		mes: Object,
	},
	computed: {
		...mapState("presupuesto", ["presupuestosMeses"]),

		totalMensualPreByUnidad() {
			let suma = 0;
			for (var i = 0; i < this.presupuestosMeses.length; i++) {
				if (
					this.presupuestosMeses[i].id_unidad_negocio ==
						this.unidadNegocio.idUnidadNegocio &&
					this.presupuestosMeses[i].idMes == this.mes.idMes
				) {
					let importe = Number(
						this.presupuestosMeses[i].totalMensual
					);
					suma += importe;
				}
			}
			return parseFloat(suma).toFixed(2);
		},
	},
};
</script>

