<template>
	<b-td class="bg-light">
        <div class="d-flex">
			<div class="mr-auto">
				<i class="fas fa-dollar-sign align-middle ml-1"></i>
			</div>
            <vue-numeric
                separator=","
                :precision="2"
                :read-only="true"
                :value="promedioByUnidad"
            />
        </div>
	</b-td>
</template>
<script>
import { mapState } from "vuex";
export default {
	props: {
		unidadNegocio: Object,
	},
	computed: {
        ...mapState("vt_proyecciones", ["listProyecciones"]),
		...mapState("negocios", ["embudoSelected"]),
        
        totalProyeccionByUnidadNeg() {
            let suma = 0;
			for (var i = 0; i < this.listProyecciones.length; i++) {
				if (
					this.listProyecciones[i].idUnidadNegocio ==
                    this.unidadNegocio.idUnidadNegocio &&  
                    this.listProyecciones[i].idEmbudo ==
					this.embudoSelected.idEmbudo
				) {
					let importe = Number(
						this.listProyecciones[i].monto
					);
					suma += importe;
				}
			}
			return parseFloat(suma).toFixed(2);
		},
		promedioByUnidad() {
            return this.totalProyeccionByUnidadNeg/12;
		},
	},
};
</script>

