<template>
	<b-tr class="text-right">
		<b-td class="text-left pl-2"
			><strong>{{ mes.mes }}</strong></b-td
		>
		<template v-for="(unidadNegocio, index) in listUnidadesNegocio">
			<template v-if="unidadExist(unidadNegocio.unidadNegocio)">
				<vt-indicadores-presupuesto-td-unidad-promedio-component
					:key="'prome' + index"
					:unidadNegocio="unidadNegocio"
				/>
				<vt-indicadores-presupuesto-td-unidad-presupuesto-component
					:key="'pre' + index"
					:unidadNegocio="unidadNegocio"
					:mes="mes"
				/>
			</template>
		</template>
		<b-td class="bg-light">
			<strong>
				<div class="d-flex">
					<div class="mr-auto">
						<i class="fas fa-dollar-sign align-middle ml-1"></i>
					</div>
					<vue-numeric
						separator=","
						:precision="2"
						:read-only="true"
						:value="totalMensualProm"
					/>
				</div>
			</strong>
		</b-td>
		<b-td>
			<strong>
				<div class="d-flex">
					<div class="mr-auto">
						<i class="fas fa-dollar-sign align-middle ml-1"></i>
					</div>
					<vue-numeric
						separator=","
						:precision="2"
						:read-only="true"
						:value="totalMensualPres"
					/>
				</div>
			</strong>
		</b-td>
		<b-td class="bg-light">
			<strong>
				<div class="d-flex">
					<div class="mr-auto">
						<i class="fas fa-dollar-sign align-middle ml-1"></i>
					</div>
					<vue-numeric
						separator=","
						:precision="2"
						:read-only="true"
						:value="totalMensualReal"
					/>
				</div>
			</strong>
		</b-td>
		<b-td class="text-center"> {{ porcentajeReal }}% </b-td>
		<b-td>
			<div class="d-flex">
				<div class="mr-auto">
					<i class="fas fa-dollar-sign align-middle ml-1"></i>
				</div>
				<vue-numeric
					separator=","
					:precision="2"
					:read-only="true"
					:value="acomuladoReal"
				/>
			</div>
		</b-td>
	</b-tr>
</template>
<script>
import { mapState } from "vuex";
export default {
	props: {
		mes: Object,
		optimo: Number,
		unidadesSelected: Array,
	},
	methods: {
		unidadExist(unidadNegocio) {
			return this.unidadesSelected.find(
				(unidad) => unidad == unidadNegocio
			);
		},
	},
	computed: {
		...mapState("presupuesto", [
			"presupuestosMeses",
		]),
		...mapState("vt_unidades_negocio", ["listUnidadesNegocio"]),
		...mapState("negocios", ["negociosFacturados"]),

		totalMensualProm() {
			return this.optimo;
		},
		totalMensualPres() {
			let suma = 0;
			

			for (var i = 0; i < this.presupuestosMeses.length; i++) {
				if (
					this.presupuestosMeses[i].idMes == this.mes.idMes &&
					this.unidadExist(
						this.presupuestosMeses[i].unidadNegocio
					)
				) {
					console.log("entra", this.presupuestosMeses[i]);
					let importe = Number(
						this.presupuestosMeses[i].totalMensual
					);
					suma += importe;
				}
			}
			return parseFloat(suma).toFixed(2);
		},
		totalMensualReal() {
			let suma = 0;
			for (var i = 0; i < this.negociosFacturados.length; i++) {
				const mesFactura = moment(
					this.negociosFacturados[i].fechaFactura
				).format("MM");

				if (
					Number(mesFactura) == this.mes.idMes &&
					this.unidadExist(this.negociosFacturados[i].unidadNegocio)
				) {
					let importe = Number(
						this.negociosFacturados[i].tipoMoneda != "USD"
							? Number(this.negociosFacturados[i].valorNegocio)
							: Number(this.negociosFacturados[i].valorNegocio) *
									Number(this.negociosFacturados[i].xCambio)
					);
					suma += importe;
				}
			}
			return parseFloat(suma).toFixed(2);
		},
		porcentajeReal() {
			return parseInt((this.totalMensualReal / this.optimo) * 100);
		},
		acomuladoReal() {
			let suma = 0;
			for (var m = this.mes.idMes; m > 0; m--) {
				for (var i = 0; i < this.negociosFacturados.length; i++) {
					const mesFactura = moment(
						this.negociosFacturados[i].fechaFactura
					).format("MM");
					if (mesFactura == m) {
						let importe = Number(
							this.negociosFacturados[i].tipoMoneda != "USD"
								? this.negociosFacturados[i].valorNegocio
								: this.negociosFacturados[i].valorNegocio *
										this.negociosFacturados[i].xCambio
						);
						suma += importe;
					}
				}
			}
			return parseFloat(suma).toFixed(2);
		},
	},
};
</script>