<template>
	<b-form-group class="mb-0">
		<b-input-group prepend="Embudo" size="sm">
			<b-form-select
				size="sm"
				:options="selectEmbudos"
				:value="embudoSelected"
				@change="setEmbudo($event)"
			>
			</b-form-select>
		</b-input-group>
	</b-form-group>
</template>

<script>
import { mapState, mapMutations, mapActions } from "vuex";

export default {
	data() {
		return {};
	},
	mounted() {
		this.getEmbudos();
	},
	methods: {
		...mapMutations("negocios", ["setEmbudoSelected"]),
		...mapActions("embudos", ["getEmbudos"]),
		...mapActions("indicadores", [
			"getClientesFacturados",
			"getEvaluaciones",
			"getPreguntas",
			"getEvaluacionesPreguntas",
		]),
		...mapActions("negocios", ["getNegociosFacturados"]),

		setEmbudo(event) {
			this.setEmbudoSelected(event);
			this.getClientesFacturados(this.embudoSelected.idEmbudo);
			this.getEvaluaciones(this.embudoSelected.idEmbudo);
			this.getPreguntas();
			this.getEvaluacionesPreguntas();
			this.getNegociosFacturados();
		},
	},
	computed: {
		...mapState("negocios", ["embudoSelected"]),
		...mapState("embudos", ["embudos"]),
		selectEmbudos() {
			return this.embudos.map((embudo) => {
				return {
					text: embudo.nombre,
					value: {
						idEmbudo: embudo.idEmbudo,
						nombre: embudo.nombre,
						periodo: embudo.periodo,
					},
				};
			});
		},
	},
};
</script>