<template>
	<div class="bg-dark p-2 border-top border-dark" style="height: calc(100vh - 137px)">
		<b-list-group class="mt-2" flush>
			<b-list-group-item
				:to="{ name: 'vt.indicadores.cf' }"
				class="li-area"
				:class="{ [active]: routeName == 'vt.indicadores.cf' }"
			>
				Clientes facturados
			</b-list-group-item>

			<b-list-group-item
				:to="{ name: 'vt.indicadores.crecimiento' }"
				class="li-area"
				:class="{ [active]: routeName == 'vt.indicadores.crecimiento' }"
				@click="loadDataCrecimiento()"
				> Crecimiento
			</b-list-group-item>

			<b-list-group-item
				:to="{ name: 'vt.indicadores.cv' }"
				class="li-area"
				:class="{ [active]: routeName == 'vt.indicadores.cv' }"
			>
				Cartera Vencida
			</b-list-group-item>

			<b-list-group-item
				:to="{ name: 'vt.indicadores.es' }"
				class="li-area"
				:class="{ [active]: routeName == 'vt.indicadores.es' }"
			>
				Evaluación de servicio
			</b-list-group-item>
			<b-list-group-item
				:to="{ name: 'vt.indicadores.oportunidades' }"
				class="li-area disabled"
				:class="{
					[active]: routeName == 'vt.indicadores.resumen',
				}"
			>
				Resumen
			</b-list-group-item>

			<b-list-group-item
				:to="{ name: 'vt.indicadores.presupuesto' }"
				class="li-area"
				:class="{
					[active]: routeName == 'vt.indicadores.presupuesto',
				}"
			>
				Presupuesto
			</b-list-group-item>

			<b-list-group-item
				:to="{ name: 'vt.indicadores.un' }"
				class="li-area"
				:class="{
					[active]: routeName == 'vt.indicadores.un',
				}"
			>
				Unidades de negocio
			</b-list-group-item>

			<b-list-group-item
				:to="{ name: 'vt.indicadores.un' }"
				class="li-area disabled"
				:class="{
					[active]: routeName == 'vt.indicadores.tipo.facturacion',
				}"
			>
				Tipos de Facturación
			</b-list-group-item>

			<b-list-group-item
				:to="{ name: 'vt.indicadores.un' }"
				class="li-area disabled"
				:class="{
					[active]: routeName == 'vt.indicadores.ytd.facturacion',
				}"
			>
				Facturación YTD
			</b-list-group-item>
		</b-list-group>
	</div>
</template>

<script>
import { mapState, mapActions } from "vuex";
export default {
	data() {
		return {
			active: "border-secondary bg-secondary text-white",
		};
	},
	methods: {
		...mapActions("indicadores", ["getClientesFacturados"]),

		loadDataCrecimiento() {
			this.getClientesFacturados(this.embudoSelected.idEmbudo);
		},
	},
	computed: {
		...mapState(["routeName"]),
		...mapState("negocios", ["embudoSelected"]),
	},
};
</script>

<style>
.bg-white {
	background-color: #fff !important;
}
.text-dark {
	color: rgb(69, 85, 95);
}
.li-area {
	color: #fff;
	background-color: rgb(69, 85, 95);
	cursor: pointer !important;
}
</style>

