<template> 
     <b-card class="mt-3 pl-1">
        <div>
            <h1 class="text-info display-1" style="font-size:20px">
               <strong>Contacto</strong>
            </h1> 
        </div>
        <hr>
        <div class="row">
            <div class="text-center col-lg-2 py-3 pr-0">
                <i class="fas fa-user-tie" style="font-size: 35px;"></i>
            </div> 
            <div class="col-lg-10 pt-4 pl-0 text-dark">
               <h5>{{ negocio.nombre_contacto }}</h5>
            </div>
        </div>
        <div>
            <div>
                <label class="text-gray mr-1"><strong>Teléfono:</strong></label>
                <label class="text-secondary">{{ negocio.telefono_contacto }}</label>
            </div>
            <div>
                <label class="text-gray mr-1"><strong>Correo:</strong></label>
                <label class="text-secondary">{{ negocio.correo_contacto }}</label>
            </div>
            <div>
                <label class="text-gray mr-1"><strong>Puesto:</strong></label>
                <label class="text-secondary">{{ negocio.puesto_contacto }}</label> 
            </div>
        </div>      
    </b-card>   
</template>

<script>
    export default {
        props: {
            negocio: Object
        },
        data() {
            return {
                
            }
        },
		mounted(){
          
        }
    }
</script>

<style>
   
</style>