<template> 
    <b-card class="mt-3 pl-1">
        <div>
             <h1 class="text-info display-1" style="font-size:20px">
               <strong>Cliente</strong>
            </h1> 
        </div>
        <hr>
        <div class="row">
            <div class="text-center col-lg-2 py-3 pr-0">
                <i class="fas fa-building" style="font-size: 35px;"></i>
            </div> 
            <div class="col-lg-10 pt-4 pl-0 text-dark">
                <h5>{{ negocio.nombre_cliente }}</h5>
            </div>
        </div>
        <div>
            <div>
                <label class="text-gray mr-1"><strong>Dirección:</strong></label>
                <label class="text-secondary">{{ negocio.direccion_cliente }}</label>
            </div>
            <div>
                <label class="text-gray mr-1"><strong>Página web:</strong></label>
                <label class="text-secondary">{{  negocio.web_cliente}}</label>
            </div>
            <div>
                <label class="text-gray mr-1"><strong>Teléfono:</strong></label>
                <label class="text-secondary">{{  negocio.telefono_cliente}}</label><br> 
            </div>
        </div>      
    </b-card> 
</template>

<script>
    export default {
        props: {
            negocio: Object
        },
        data() {
            return {
                
            }
        },
		mounted(){
          
        }
    }
</script>

<style>
   
</style>