<template> 
     <b-card class="mt-3 pl-1">
        <h1 class="text-info display-1" style="font-size:20px">
            <strong>Detalles del negocio</strong>
        </h1> 
        <hr>
        <label class="text-gray mr-1"><strong>Ponderación:</strong></label>
        <label class="text-secondary">{{ negocio.ponderacion }} %</label><br>
        <label class="text-gray mr-1"><strong>Equipo:</strong></label>
        <label class="text-secondary">{{ negocio.nombre_equipo }}</label><br>                
        <label class="text-gray mr-1"><strong>Sector industrial:</strong></label>
        <label class="text-secondary">Minero</label><br>
        <label class="text-gray mr-1"><strong>Unidad de negocio:</strong></label>
        <label class="text-secondary">{{  negocio.clave_unidad_negocio}}</label>
    </b-card>  
</template>

<script>
    export default {
        props: {
            negocio: Object
        },
        data() {
            return {
                
            }
        },
		mounted(){
          
        }
    }
</script>

<style>
   
</style>