<template> 
	<b-container style="max-width: 90% " v-if="this.negocio">
        <vt-negocios-detalles-header :negocio="negocio" />
        <b-row class="mb-4">
            <b-col lg="4" class="pr-0">
                <vt-negocios-detalles-negocio :negocio="negocio" />
                <vt-negocios-detalles-cliente  :negocio="negocio" />
                <vt-negocios-detalles-contacto  :negocio="negocio" />
               <!--  <vt-negocios-detalles-participantes  :negocio="negocio" />
                <vt-negocios-detalles-seguidores  :negocio="negocio" /> -->
                <vt-negocios-detalles-resumen  :negocio="negocio" />
            </b-col>
            <b-col lg="8">
            	<div>
            	<h3 class="text-center mt-3 text-info">Historial de negocio</h3>
            	<hr width="80%" class="pb-0 mb-0">
            	</div>
                <div class="text-center" style="margin-top: 50px" v-show="!bitacorasReverse.length">
                   <h5 class="text-secondary"><b-spinner type="grow" style="width: 1.5rem; height: 1.5rem;"></b-spinner><label class="ml-1">Cargando...</label></h5>
               </div>
          		<div class="card-body-scroll pb-4 pr-3">
	                <div v-for="(bitacora, index) in bitacorasReverse" :key="index">
	                	<b-row>
	                		<b-col lg="1" class="pl-0">
	                			<timeline-icon-component :bitacora="bitacora"/>
	                			
	                		</b-col>
	                		<b-col lg="11" class="pl-0">
				            	<vt-negocios-detalles-timeline-negocio v-if="bitacora.bitacora=='negocio'" :negocio="bitacora" />
				            	<vt-negocios-detalles-timeline-actividad v-if="bitacora.bitacora=='actividad'" :actividad="bitacora" :negocio="negocio"/>
				            	<vt-negocios-detalles-timeline-cambio v-if="bitacora.bitacora=='cambio'" :cambio="bitacora"/>
				            	<vt-negocios-detalles-timeline-contenido v-if="bitacora.bitacora=='contenido'" :contenido="bitacora"/>
			            	</b-col>
		           		</b-row>
	                </div>
            	</div>
            </b-col>
        </b-row>
    </b-container>
</template>

<script>

	import { mapState, mapActions, mapGetters, mapMutations } from "vuex";

	export default {
		data() {
			return {
				loading: true,
			}
		},
		mounted(){
			this.setBitacoras([])
			this.setNegocio(null)
			this.getNegocio(this.$route.params.idNegocio)
			this.getBitacoras(this.$route.params.idNegocio)
		},
		methods:{
			...mapActions('negocios', ['getNegocio', 'getBitacoras']),
			...mapMutations('negocios', ['setNegocioSelected', 'setBitacoras', 'setNegocio']),
			loadingStop()
			{
				this.loading = false
			},
		},
		computed: {
			...mapState('negocios', ['negocio', 'cambiosNegocios']),
			...mapState('actividades',['cambiosActividades']),
			...mapGetters('negocios', ['bitacorasReverse']),
		},
		watch:
		{
			cambiosNegocios()
			{
				this.getBitacoras(this.$route.params.idNegocio)
			},
			cambiosActividades()
			{
				this.getBitacoras(this.$route.params.idNegocio)
			}
		}
	}
</script>

<style>
    .text-gray{
        color:#495057;
    }
	.text-info{
		color:#05787dfc !important;
	}
	.bitacora{
 		/*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);*/
 		box-shadow: 0 2px 12px 0 rgba(0,0,0,0.2);
 		/*box-shadow: 0 2px 12px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);*/
 		
   	}
    .card-body-scroll{
        max-height: calc(100vh);
        overflow-y:auto;
    }
</style>