<template>
	<form ref="form" @submit.stop.prevent="submit">
		<div class="text-center">
			<h4>{{ negocio.claveNegocio }}</h4>
			<h5>{{ negocio.tituloNegocio }}</h5>
			<hr>
		</div>

		<b-alert variant="danger" show v-if="sinContenido">
			Debe agregar un contenido para poder guardar, ya sea una nota o un archivo
		</b-alert>
		
	    <b-form-group label="Ingresa tus notas y/o comentarios">
	    	<ckeditor-component @getEditor="form.nota=$event" :lastInfo="form.nota"/>
		</b-form-group>

		<b-form-group label="Añadir archivo" label-for="titulo-input">
			<b-form-file
			  v-model="form.file"
			  placeholder="Elija o arrastre su archivo aquí"
			  drop-placeholder="Arrastre su archivo aquí"
			  @change="obtenerFile">
				
			</b-form-file>
		</b-form-group>
	</form>
</template>

<script>
	import { mapMutations, mapState } from 'vuex'

	export default {
		props: {
			negocio: Object,
		},
		data() {
			return {
				sinContenido: false,
				form: {
					nota: '',
					file: null,
				}
			}
		},
		methods: {
			...mapMutations(['modalSubmit', 'modalOk']),
			...mapMutations('negocios', ['incrementCambiosNegocios']),
			submit() {
				if (!this.form.nota == '' || this.form.file) {
					this.sinContenido = false
					var fecha_actual = moment().format('YYYY/MM/DD');
					if(this.form.file==null)
						this.form.file=[]
					var params = new FormData();
					params.append("usuario_id", this.usuario.idUsuario);
					// params.append("contacto_id", null);
					// params.append("cliente_id", null);
					params.append("negocio_id", this.negocio.idNegocio);
					params.append("notas", this.form.nota);
					params.append("file", this.form.file);
					params.append("fecha_subido", fecha_actual);
           			 
					axios.post(BaseUrl + `/api/vt/negocios/detalles/notas`, params)
					.then((response) => {
						if(response.data.success){							
							this.modalSubmit(true)
							this.incrementCambiosNegocios()
	                    }
	                })
				}else{
					this.sinContenido = true
					this.modalOk(false)
				}   
			},
			obtenerFile(e) {
		      	this.form.file = e.target.files[0];
		    },
		},
		computed: {
			...mapState(['okModal', 'usuario']),
		},
		validations: {
		
		},
		watch: {
			okModal()
			{
				if(this.okModal==true){
					this.submit()
				}
			},
		}
	}
</script>