<template>
	<div>
		<b-card class="mt-3 pl-1">
			<b-row>
				<b-col lg="6">
					<h1 class="display-1 text-info" style="font-size: 25px">
						<strong> {{ negocio.claveNegocio }}</strong>
					</h1>
					<h1 class="display-1" style="font-size: 20px">
						{{ negocio.tituloNegocio }}
					</h1>
				</b-col>
				<b-col lg="6">
					<template v-if="negocio.status == 0">
						<b-button-group size="sm" class="float-right mr-4">
							<b-button
								v-if="hasPermission('vt.crm.negocios.ganar')"
								v-b-modal.modal-win-negocio
								size="sm"
								class="border bg-light text-success"
								style="width: 80px"
							>
								<i class="fas fa-trophy"></i> Ganar
							</b-button>
							<b-button
								v-if="hasPermission('vt.crm.negocios.perder')"
								v-b-modal.modal-lose-negocio
								size="sm"
								class="border bg-light text-danger"
								style="width: 80px"
							>
								<i class="fas fa-exclamation-triangle"></i>
								Perder
							</b-button>
							<b-button
								v-if="
									hasPermission(
										'vt.crm.negocios.registrar.actividad'
									)
								"
								v-b-modal.modal-actividad
								size="sm"
								class="border bg-light text-dark"
							>
								<i class="far fa-calendar-alt"></i>&nbsp; Añadir
								actividad
							</b-button>
							<b-dropdown
								v-if="
									hasPermission(
										'vt.crm.negocios.registrar.nota'
									)
								"
								right
								text="Menu"
								size="sm"
								variant="light"
								class="border"
							>
								<template v-slot:button-content>
									<b-button
										variant="link"
										href="#"
										size="sm"
										class="my-0 py-0"
									>
										<i
											class="fas fa-ellipsis-v text-dark"
										></i>
									</b-button>
								</template>
								<b-dropdown-item
									style="color: #777;"
									v-b-modal.modal-nota-negocio
								>
									<div class="mr-5 ml-1">
										<i class="far fa-sticky-note"></i>&nbsp;
										Añadir nota
									</div>
								</b-dropdown-item>
							</b-dropdown>
						</b-button-group>
					</template>

					<template v-else>
						<b-button-group size="sm" class="float-right mr-4">
							<b-button
								v-if="negocio.status == 1"
								size="sm"
								class="border bg-success text-white"
								style="width: 140px"
								><i class="fas fa-trophy"></i> Negocio
								ganado</b-button
							>
							<b-button
								v-else-if="negocio.status == 2"
								size="sm"
								class="border bg-danger text-white"
								style="width: 140px"
								><i class="fas fa-window-close"></i> Negocio
								perdido</b-button
							>
							<b-dropdown
								right
								text="Menu"
								size="sm"
								variant="light"
								class="border"
							>
								<template v-slot:button-content>
									<b-button
										variant="link"
										href="#"
										size="sm"
										class="my-0 py-0"
									>
										<i
											class="fas fa-ellipsis-v text-dark"
										></i>
									</b-button>
								</template>
								<b-dropdown-item
									style="color: #777;"
									@click="reabrirNegocio"
								>
									<div class="mr-5 ml-1">
										<i class="fas fa-undo-alt"></i>&nbsp;
										Reabrir
									</div>
								</b-dropdown-item>
							</b-dropdown>
						</b-button-group>
					</template>
				</b-col>
			</b-row>
			<b-row>
				<b-col lg="9">
					<label class="mr-4"
						><strong
							><i class="fas fa-dollar-sign"></i>
							{{ negocio.valorNegocio }} {{ negocio.tipoMoneda }}
						</strong></label
					>
					<a href="#" class="card-link text-dark"
						><i class="fas fa-user"></i>
						{{ negocio.nombre_contacto }}
					</a>
					<b-link href="#" class="card-link text-dark"
						><i class="fas fa-building"></i>
						{{ negocio.nombre_cliente }}
					</b-link>
				</b-col>
				<!-- <b-col lg="3">
                    <b-form-group
                    style="margin-top: -10px"
                        class="mb-0"
                      label-cols-lg="6"
                      label-align-sm="right"
                      label="Embudo">
                    <b-form-select v-model="this.selected" class="float-right">
                        <option :value="null">Ammmec 2018</option>
                        <option value="a">Ammmec 2019</option>
                        <option value="a">Ammmec 2020</option>

                    </b-form-select>
                </b-form-group>
                </b-form-select>
                </b-col> -->
			</b-row>
			<!--  <div class="mt-3">
                <b-button-group size="sm" style="width: 100%">
                    <b-button 
                        variant="light" 
                        v-for="(etapa, index) in etapas"
                        :key="index"
                        class="border"
                        :class="{['bg-success text-white']: index<negocio.idEtapa-1}">
                        {{ etapa.nombreEtapa }}
                    </b-button>
                </b-button-group>
            </div> -->
		</b-card>

		<modal-component
			:id="'modal-win-negocio'"
			:title="'Ganar negocio'"
			:sizeModal="'sm'"
		>
			<template slot="content">
				<vt-negocios-form-win-negocio :negocio="negocio" />
			</template>
		</modal-component>

		<modal-component
			:id="'modal-lose-negocio'"
			:title="'Perder negocio'"
			:sizeModal="'sm'"
		>
			<template slot="content">
				<vt-negocios-form-set-causa :negocio="negocio" />
			</template>
		</modal-component>

		<modal-component :id="'modal-nota-negocio'" :title="'Crear nota'">
			<template slot="content">
				<vt-form-notas :negocio="negocio" />
			</template>
		</modal-component>

		<modal-component :id="'modal-actividad'" :title="'Crear actividad'">
			<template slot="content">
				<vt-form-actividad :negocio="negocio" />
			</template>
		</modal-component>
	</div>
</template>

<script>
import { mapMutations, mapState } from "vuex";
export default {
	props: {
		negocio: Object,
	},
	data() {
		return {
			// negocio: {
			//     idEtapa: 5
			// },
			selected: null,
			etapas: [
				{ idEtapa: 1, nombreEtapa: "Leads" },
				{ idEtapa: 2, nombreEtapa: "Solicitud de Costo Operativo" },
				{ idEtapa: 3, nombreEtapa: "Cotización" },
				{ idEtapa: 4, nombreEtapa: "Autorización" },
				{ idEtapa: 5, nombreEtapa: "Pedido" },
				{ idEtapa: 6, nombreEtapa: "Realizandose" },
				{ idEtapa: 7, nombreEtapa: "Reporte" },
				{ idEtapa: 8, nombreEtapa: "Facturación" },
				{ idEtapa: 9, nombreEtapa: "Pagado" },
				{ idEtapa: 10, nombreEtapa: "Perdido" },
			],
		};
	},
	mounted() {},
	methods: {
		...mapMutations("negocios", ["updateNegocio"]),
		reabrirNegocio() {
			const params = {
				id: this.negocio.idNegocio,
				campo: "reabrirNegocio",
			};
			axios
				.put(BaseUrl + "/api/vt/seguimiento/negocios", params)
				.then((response) => {
					if (response.data.success) {
						this.updateNegocio(response.data.negocio);
						this.makeToast();
					}
				});
		},
		makeToast() {
			this.$bvToast.toast("Se han guardado correctamente los cambios", {
				title: "Éxito",
				variant: "success",
				solid: true,
			});
		},
		hasPermission(funcion) {
			if (this.permissions.length) {
				const permiso = this.permissions.find(
					(permiso) => permiso.idFuncion == funcion
				);
				if (permiso) return true;
				return false;
			}
		},
	},
	computed: {
		...mapState(["permissions"]),
	},
};
</script>

<style></style>
