<template>
        <b-modal
        no-close-on-esc
		no-close-on-backdrop
        hide-header-close
        header-class="pb-2"
        @ok="handleOk"
         id="modal_seguidores" 
         title="Agregar Seguidores">

          <form ref="form" @submit.stop.prevent="submit">
            <b-form-group label="Usuario">
                <b-form-select
                        v-model="$v.form.selectedUsuario.$model"
                        :state="$v.form.selectedUsuario.$dirty ? !$v.form.selectedUsuario.$error : null"
                        :options="usuarios">
                    <template v-slot:first>
                        <option :value="null" disabled>Seleccione...</option>
                    </template>
                </b-form-select>
                <b-form-invalid-feedback id="selectedUsuario-required">
                        Debe selecionar un usuario
                </b-form-invalid-feedback>
                <div v-show="existe" style="color: red; size:8px;">
                    El usuario ya está agregado
                </div>
		    </b-form-group>
        </form>

        	<template v-slot:modal-footer="{ ok, cancel, hide }">
                <b-button variant="secondary" size="sm" @click="cancel()">
                    Cancelar
                </b-button>
                <b-button variant="success" size="sm" @click="ok()">
                    Guardar
                </b-button>
		</template>

        </b-modal>
        	
</template>

<script>

     import { required } from 'vuelidate/lib/validators'
    import { mapState, mapMutations, mapActions } from 'vuex'

    export default {
        props: {
            negocio: Object,
            seguidores: Array,
        },
        data() {
            return {
                 form: {
                    selectedUsuario: null
                },
                existe: null,
            }
        },
		mounted(){
           if(this.negocio){
               this.selectUsuarios()
            }
        },
        methods: {
            ...mapActions('usuarios', ['selectUsuarios']),
            ...mapMutations(['modalSubmit', 'modalOk']),
              submit() {
				this.$v.$touch()
				if (!this.$v.$invalid) {
                    var params = {
                        idUsuario: this.form.selectedUsuario,
                        idNegocio: this.negocio.idNegocio
                    }
                    this.existe = this.seguidores.find((seguidor) => {
                        return seguidor.idUsuario == this.form.selectedUsuario;
                     });
                    if(!this.existe){
                        axios.post(BaseUrl + '/api/vt/negocios/seguidores', params)
						.then(response => {
							if(response.data.success){
                                this.$emit('newSeguidor', response.data.seguidor)
								this.modalSubmit(true) 
                                this.$bvModal.hide('modal_seguidores')
							}
						});
                    }else{
                        this.$bvModal.hide('modal_seguidores')
                    }
                    	
				}else{
					this.modalOk(false)
				}
			},
            handleOk(bvModalEvt) {
                bvModalEvt.preventDefault()
                this.submit()
            },
        },
        computed: {
            ...mapState('usuarios', [ 'usuarios']),
            ...mapState(['okModal']),
        },
         validations: {
			form: {
					selectedUsuario: {required},
				}
		},
        watch: {
            submitModal()
        	{
        		if(this.submitModal==true){
        			this.$refs.hide()        		
        		}
            },
            okModal()
			{
				if(this.okModal==true){
					this.submit()
				}
			}
        }
    }
</script>

<style>
   
</style>