<template>
        <b-modal
        no-close-on-esc
		no-close-on-backdrop
        hide-header-close
        header-class="pb-2"
        @ok="handleOk"
         id="modal_participantes" 
         title="Agregar Participantes">

          <form ref="form" @submit.stop.prevent="submit">
            <b-form-group label="Contacto">
                <b-form-select
                        v-model="$v.form.selectedContacto.$model"
                        :state="$v.form.selectedContacto.$dirty ? !$v.form.selectedContacto.$error : null"
                        :options="selectContactos">
                    <template v-slot:first>
                        <option :value="null" disabled>Seleccione...</option>
                    </template>
                </b-form-select>
                <b-form-invalid-feedback id="selectedContacto-required">
                        Debe selecionar un contacto
                </b-form-invalid-feedback>
                 <div v-show="existe" style="color: red; size:8px;">
                    El contacto ya está agregado
                </div>
		    </b-form-group>
        </form>

        	<template v-slot:modal-footer="{ ok, cancel, hide }">
                <b-button variant="secondary" size="sm" @click="cancel()">
                    Cancelar
                </b-button>
                <b-button variant="success" size="sm" @click="ok()">
                    Guardar
                </b-button>
		</template>

        </b-modal>
        	
</template>

<script>

     import { required } from 'vuelidate/lib/validators'
    import { mapState, mapMutations, mapActions } from 'vuex'

    export default {
        props: {
            negocio: Object,
            participantes: Array,
        },
        data() {
            return {
                 form: {
                    selectedContacto: null
                },
                existe: null,
            }
        },
		mounted(){
           if(this.negocio){
                this.setClienteSelected(this.negocio.idCliente)
                this.getContactosByIdCliente()
            }
        },
        methods: {
            ...mapActions('clientes', ['getContactosByIdCliente']),
            ...mapMutations('clientes', ['setClienteSelected']),
            ...mapMutations(['modalSubmit', 'modalOk']),
              submit() {
				this.$v.$touch()
				if (!this.$v.$invalid) {
                    var params = {
                        idContacto: this.form.selectedContacto,
                        idNegocio: this.negocio.idNegocio
                    }

                     this.existe = this.participantes.find((participante) => {
                        return participante.idContacto == this.form.selectedContacto;
                     });
                     if(!this.existe){
                         axios.post(BaseUrl + '/api/vt/negocios/participantes', params)
						.then(response => {
							if(response.data.success){
                                this.$emit('newParticipante', response.data.participante)
								this.modalSubmit(true) 
                                this.$bvModal.hide('modal_participantes')
							}
						});
                     }
				}else{
					this.modalOk(false)
				}
			},
            handleOk(bvModalEvt) {
                bvModalEvt.preventDefault()
                this.submit()
            },
        },
        computed: {
            ...mapState('clientes', [ 'selectContactos', 'clienteSelected']),
            ...mapState(['okModal']),
        },
         validations: {
			form: {
					selectedContacto: {required},
				}
		},
        watch: {
            submitModal()
        	{
        		if(this.submitModal==true){
        			this.$refs.hide()        		
        		}
            },
            okModal()
			{
				if(this.okModal==true){
					this.submit()
				}
			}
        }
    }
</script>

<style>
   
</style>