<template> 
     <b-card class="mt-3 pl-1">
       <b-row>
            <b-col lg="6" class="py-0">
                <h1 class="text-success display-1" style="font-size:20px">
                   <strong v-if="participantes">Participantes <small><b-badge variant="secondary">{{ participantes.length }}</b-badge></small></strong>
                </h1> 
            </b-col>
            <b-col lg="6" class="py-0">
                <b-button 
                v-b-modal.modal_participantes 
                size="sm" 
                class="float-right text-success" 
                variant="light">Agregar
                </b-button>
            </b-col>
        </b-row>   
        <div v-for="participante in participantes" :key="participante.idParticipante">
            <img src="/img/profiles/avatar.png" class="rounded-circle py-1" alt="Usuario" style="margin-right: 8px; width: 35px" />
             &nbsp;{{ participante.nombre_contacto }}
        </div>

          <!-- Se debe cambiar al modal general -->
        <vt-modal-participantes
        :participantes="participantes"
         :negocio="negocio" 
         @newParticipante="getNewParticipante($event)"
         />
                   
    </b-card> 
               
</template>

<script>
    export default {
        props: {
            negocio: Object
        },
        data() {
            return {
                participantes: null
            }
        },
		mounted(){
          this.getParticipantes()
        },
        methods: {
            getParticipantes(){
                axios.get(`/api/vt/participantes/${this.negocio.idNegocio}`).then(response => {
                this.participantes = response.data
                 console.log(response.data)
                })
               
            },
            getNewParticipante(participante){
                this.participantes.push(participante);
            }
        },
    }
</script>

<style>
   
</style>