<template> 
    <b-card class="mt-3 mb-4 pl-1">
        <div>
            <h1 class="text-info display-1" style="font-size:20px">
               <strong>Resumen</strong>
            </h1> 
        </div> 
        <hr>
        <div>
            <label class="text-gray"><strong>Antigüedad del negocio</strong></label>
            <label class="text-secondary float-right">{{ fechaAntiguedad }} días</label>
        </div>
        <div>
            <label class="text-gray"><strong>Inactivo</strong></label>
            <label class="text-secondary float-right"> {{ inactivo }} </label>
        </div>
        <div>
            <label class="text-gray"><strong>Creado</strong></label>
            <label class="text-secondary float-right"> {{ fechaCreacion }} </label>
        </div>
        <div>
            <label class="text-gray"><strong>Actividades principales</strong></label>
        </div>
    </b-card>   
</template>

<script>
    export default {
        props: {
            negocio: Object
        },
        data() {
            return {
                
            }
        },
		mounted(){
          
        },
        computed: {
            fechaAntiguedad(){
                const diff = moment().diff(this.negocio.fechaCreado, "days");
                return diff;
            },
            fechaCreacion(){
                var fecha = moment(this.negocio.fechaCreado, 'YYYY-MM-DD');
                return fecha.locale('es').format('LL');
            },
            inactivo(){
                const contadorActivo = moment(this.negocio.contadorActivo, 'YYYY-MM-DD');
                const diff = moment().diff(contadorActivo, "days");
                return  diff;
            }

        }
    }
</script>

<style>
   
</style>