<template> 
     <b-card class="mt-3 pl-1">
       <b-row>
            <b-col lg="6" class="py-0">
                <h1 class="text-success display-1" style="font-size:20px">
                   <strong v-if="seguidores">Seguidores <small><b-badge variant="secondary">{{ seguidores.length }}</b-badge></small></strong>
                </h1> 
            </b-col>
            <b-col lg="6" class="py-0">
                <b-button 
                v-b-modal.modal_seguidores
                size="sm" 
                class="float-right text-success" 
                variant="light">Agregar
                </b-button>
            </b-col>
        </b-row>   
        <div v-for="seguidor in seguidores" :key="seguidor.idSeguidor">
            <img src="/img/profiles/avatar.png" class="rounded-circle py-1" alt="Usuario" style="margin-right: 8px; width: 35px" />
             &nbsp;{{ seguidor.nombre_usuario }}
        </div>

          <!-- Se debe cambiar al modal general -->
        <vt-modal-seguidores
        :seguidores="seguidores"
         :negocio="negocio" 
         @newSeguidor="getNewSeguidor($event)"
         />
                   
    </b-card> 
               
</template>

<script>
    export default {
        props: {
            negocio: Object
        },
        data() {
            return {
                seguidores: null,
                existe: null,
            }
        },
		mounted(){
          this.getSeguidores()
        },
        methods: {
            getSeguidores(){
                axios.get(`/api/vt/seguidores/${this.negocio.idNegocio}`).then(response => {
                this.seguidores = response.data
                })
            },
            getNewSeguidor(seguidor){
                    //this.makeToast('danger');
                     this.seguidores.push(seguidor);
               
            },
            makeToast(variant) {
                this.$bvToast.toast('El seguidor ya ésta registrado', {
                title: 'Advertencia',
                variant: variant,
                solid: true
             })
          }
        },
    }
</script>

<style>
   
</style>