<template>
	<b-overlay
		:show="overlay"
		rounded="sm"
		opacity="1.0"
		blur="1px"
		variant="transparent"
	>
		<b-form-group>
			<template v-slot:label>
				<div class="lab-form">Nombre<span class="req">*</span></div>
			</template>
			<b-form-input
				v-model="$v.form.nombre.$model"
				placeholder="Nombre del puesto"
				:state="$v.form.nombre.$dirty ? !$v.form.nombre.$error : null"
			>
			</b-form-input>
			<b-form-invalid-feedback id="feedback-nombre">
				Campo obligatorio
			</b-form-invalid-feedback>
		</b-form-group>

		<b-form-group>
			<template v-slot:label>
				<div class="lab-form">Clave<span class="req">*</span></div>
			</template>
			<b-form-input
				v-model="$v.form.codigo.$model"
				placeholder="Clave del puesto"
				:state="$v.form.codigo.$dirty ? !$v.form.codigo.$error : null"
			>
			</b-form-input>
			<b-form-invalid-feedback id="feedback-codigo">
				Campo obligatorio
			</b-form-invalid-feedback>
		</b-form-group>

		<b-form-group>
			<template v-slot:label>
				<div class="lab-form">Área<span class="req">*</span></div>
			</template>
			<b-form-select
				v-model="$v.form.area.$model"
				:options="selectAreas"
				:state="$v.form.area.$dirty ? !$v.form.area.$error : null"
			>
				<template v-slot:first>
					<option :value="null" disabled>Seleccione</option>
				</template>
			</b-form-select>
			<b-form-invalid-feedback id="feedback-fecha-elaboracion">
				Campo obligatorio
			</b-form-invalid-feedback>
		</b-form-group>

		<b-form-group>
			<template v-slot:label>
				<div class="lab-form">
					Departamento<span class="req">*</span>
				</div>
			</template>
			<b-form-select
				v-model="$v.form.departamento.$model"
				:options="selectDepartamentos"
				:state="
					$v.form.departamento.$dirty
						? !$v.form.departamento.$error
						: null
				"
			>
				<template v-slot:first>
					<option :value="null" disabled>Seleccione</option>
				</template>
			</b-form-select>
			<b-form-invalid-feedback id="feedback-fecha-elaboracion">
				Campo obligatorio
			</b-form-invalid-feedback>
		</b-form-group>

		<div class="d-flex flex-row-reverse bd-highlight">
			<b-button variant="danger" class="ml-3 my-2" @click="submit">
				GUARDAR
			</b-button>
			<b-button variant="white" class="link-light my-2" @click="cancel">
				CANCELAR
			</b-button>
		</div>
	</b-overlay>
</template>

<script>
import { mapMutations, mapState, mapActions } from "vuex";
import { required } from "vuelidate/lib/validators";

export default {
	props: {
		puesto: Object,
	},
	data() {
		return {
			load: true,
			errorSubmit: false,
			overlay: false,

			form: {
				nombre: null,
				codigo: null,
				area: null,
				departamento: null,
			},
		};
	},
	mounted() {
		this.getDepartamentos();
		if (this.puesto) this.setDataEdit();
	},
	methods: {
		...mapMutations(["modalSubmit", "modalOk"]),
		...mapActions("th_departamentos", ["getDepartamentos"]),
		...mapMutations("th_puestos", ["addPuesto", "updatePuesto"]),

		async submit() {
			this.overlay = true;
			this.errorSubmit = false;
			this.$v.$touch();

			if (!this.$v.$invalid) {
				try {
					const response = !this.puesto
						? await axios.post(`/api/th/puesto`, this.form)
						: await axios.put(
								`/api/th/puesto/${this.puesto.idPuesto}`,
								this.form
						  );
					if (response.data.success) {
						if (!this.puesto) this.addPuesto(response.data.puesto);
						else this.updatePuesto(response.data.puesto);
						this.modalSubmit(true);
						this.overlay = false;
					} else {
						this.modalOk(false);
					}
				} catch (e) {
					console.log(e);
					this.overlay = false;
					this.errorSubmit = true;
				}
			} else {
				this.overlay = false;
			}
		},
		setDataEdit() {
			this.form.nombre = this.puesto.nombre;
			this.form.codigo = this.puesto.codigo;
			this.form.area = this.puesto.idArea;
			this.form.departamento = this.puesto.idDepartamento;
		},
		cancel() {
			this.$bvModal.hide("modal-agregar-th-puesto");
		},
	},
	computed: {
		...mapState(["usuario", "okModal"]),
		...mapState("th_areas", ["listAreas"]),
		...mapState("th_departamentos", ["listDepartamentos"]),

		selectAreas() {
			if (this.listAreas.length) {
				return this.listAreas.map((area) => {
					return {
						text: area.nombre,
						value: area.idArea,
					};
				});
			} else {
				return [];
			}
		},
		selectDepartamentos() {
			if (this.listDepartamentos.length) {
				return this.listDepartamentos.map((departamento) => {
					return {
						text: departamento.nombre,
						value: departamento.idDepartamento,
					};
				});
			} else {
				return [];
			}
		},
	},
	validations() {
		return {
			form: {
				nombre: { required },
				codigo: { required },
				area: { required },
				departamento: { required },
			},
		};
	},
};
</script>
