<template>
	<b-container fluid style="height: calc(100vh - 54px)">
		<b-row class="h-100">
			<b-col lg="2" class="px-0 h-100">
				<th-configuracion-sidebar />
			</b-col>
			<b-col lg="10" class="pl-0">
				<div
					class="p-4"
					style="height: calc(100vh - 54px); overflow: auto;"
				>
					<b-row>
						<b-col lg="2"></b-col>
						<b-col lg="8">
							<h1 class="text-center">
								Registro de puestos y áreas
							</h1>
						</b-col>
						<b-col lg="2"></b-col>
					</b-row>

					<b-row>
						<b-col lg="7" class="pr-0">
							<b-card class="shadow-sm mt-4">
								<h3 class="text-center mb-3">
									Lista de puestos
								</h3>
								<b-row>
									<b-col lg="5">
										<b-button
											size="sm"
											class="shadows"
											variant="danger"
											@click="openModal"
											>Agregar puesto</b-button
										>
									</b-col>
									<b-col lg="7">
										<div
											class="input-group w-100 bg-white border"
											id="input-shadow"
										>
											<div
												class="input-group-prepend bg-light mr-1 ml-3"
											>
												<div class="pt-1 bg-white">
													<i
														class="fas fa-search"
													></i>
												</div>
											</div>
											<b-form-input
												id="input-search"
												size="sm"
												class="form-control border-0"
												placeholder="Escribe tu busqueda aquí"
												:value="filter"
												@input="setFilterSearch($event)"
												autocomplete="off"
											></b-form-input>
										</div>
									</b-col>
								</b-row>
								<hr class="mb-0 mt-4" />

								<b-skeleton-table
									v-if="busyPuestos"
									:rows="8"
									:columns="4"
									:table-props="{ striped: true }"
								>
								</b-skeleton-table>

								<b-table-simple
									v-else
									responsive
									bordered
									style="height: calc(100vh - 322px); overflow: auto; font-size: 11px;"
									hover
									striped
								>
									<b-thead
										class="text-center"
										style="font-size: 12px;"
									>
										<b-tr class="text-center">
											<b-th style="min-width: 30%"
												>Nombre</b-th
											>
											<b-th style="min-width: 10%;"
												>Código</b-th
											>
											<b-th style="min-width: 25%;"
												>Área</b-th
											>
											<b-th style="min-width: 25%;"
												>Departamento</b-th
											>
											<b-th style="min-width: 10%;"
												>Acción</b-th
											>
										</b-tr>
									</b-thead>
									<b-tbody style="font-size: 12px;">
										<b-tr
											v-if="puestosFiltered.length"
											v-for="(puesto,
											index) in puestosFiltered"
											:key="index"
										>
											<b-td class="align-middle">
												<h6
													class="mb-0"
													style="font-size: 13px;"
												>
													<strong>{{
														puesto.nombre
													}}</strong>
												</h6>
											</b-td>
											<b-td
												class="align-middle text-center"
												>{{ puesto.codigo }}</b-td
											>
											<b-td
												class="align-middle text-center"
												>{{ puesto.nombre_area }}</b-td
											>
											<b-td
												class="align-middle text-center"
												>{{ puesto.nombre_departamento }}</b-td
											>
											<b-td
												class="align-middle text-center"
											>
												<b-dropdown
													id="dropdown-left"
													right
													variant="link"
													class="py-0 my-0"
													no-caret
													size="sm"
												>
													<template
														v-slot:button-content
													>
														<i
															class="fas fa-ellipsis-v px-2 py-0 text-secondary"
														></i>
													</template>
													<b-dropdown-item
														v-b-modal.modal-agregar-th-puesto
														@click="
															setDataEdit(puesto)
														"
													>
														<i
															class="fas fa-edit px-2"
														></i>
														Editar
													</b-dropdown-item>
													<b-dropdown-item
														@click="
															showMsgBoxDeleteConfirm(
																puesto.idPuesto
															)
														"
													>
														<i
															class="fas fa-trash px-2"
														></i>
														Eliminar
													</b-dropdown-item>
													<slot
														name="dropdown-more-actions"
													></slot>
												</b-dropdown>
											</b-td>
										</b-tr>
										<b-tr
											v-if="
												!busyPuestos &&
													!puestosFiltered.length
											"
										>
											<b-td colspan="5">
												<h5 class="text-center my-3">
													No se encontraron resultados
												</h5>
											</b-td>
										</b-tr>
									</b-tbody>
								</b-table-simple>
							</b-card>
						</b-col>

						<b-col lg="5">
							<b-card class="shadow-sm mt-4">
								<h3 class="text-center mb-3">
									Lista de áreas
								</h3>

								<b-row>
									<b-col lg="5">
										<b-button
											size="sm"
											class="shadows"
											variant="danger"
											@click="openModalArea"
											>Agregar área</b-button
										>
									</b-col>
									<b-col lg="7">
										<div
											class="input-group w-100 bg-white border"
											id="input-shadow"
										>
											<div
												class="input-group-prepend bg-light mr-1 ml-3"
											>
												<div class="pt-1 bg-white">
													<i
														class="fas fa-search"
													></i>
												</div>
											</div>
											<b-form-input
												id="input-search"
												size="sm"
												class="form-control border-0"
												placeholder="Escribe tu busqueda aquí"
												:value="filter"
												@input="setFilterSearch($event)"
												autocomplete="off"
											></b-form-input>
										</div>
									</b-col>
								</b-row>
								<hr class="mb-0 mt-4" />

								<b-skeleton-table
									v-if="busyAreas"
									:rows="8"
									:columns="4"
									:table-props="{ striped: true }"
								>
								</b-skeleton-table>

								<b-table-simple
									v-else
									responsive
									bordered
									style="height: calc(100vh - 322px); overflow: auto; font-size: 11px;"
									hover
									striped
								>
									<b-thead
										class="text-center"
										style="font-size: 12px;"
									>
										<b-tr class="text-center">
											<b-th style="width: 95%;"
												>Nombre</b-th
											>
											<b-th style="width: 5%;"
												>Acción</b-th
											>
										</b-tr>
									</b-thead>
									<b-tbody style="font-size: 12px;">
										<b-tr
											v-if="areasFiltered.length"
											v-for="(area,
											index) in areasFiltered"
											:key="index"
										>
											<b-td class="align-middle">
												<h6
													class="mb-0"
													style="font-size: 13px;"
												>
													<strong>{{
														area.nombre
													}}</strong>
												</h6>
											</b-td>
											<b-td
												class="align-middle text-center"
											>
												<b-dropdown
													id="dropdown-left"
													right
													variant="link"
													class="py-0 my-0"
													no-caret
													size="sm"
												>
													<template
														v-slot:button-content
													>
														<i
															class="fas fa-ellipsis-v px-2 py-0 text-secondary"
														></i>
													</template>
													<b-dropdown-item
														v-b-modal.modal-agregar-th-area
														@click="
															setDataEditArea(
																area
															)
														"
													>
														<i
															class="fas fa-edit px-2"
														></i>
														Editar
													</b-dropdown-item>
													<b-dropdown-item
														@click="
															showMsgBoxDeleteConfirmArea(
																area.idArea
															)
														"
													>
														<i
															class="fas fa-trash px-2"
														></i>
														Eliminar
													</b-dropdown-item>
													<slot
														name="dropdown-more-actions"
													></slot>
												</b-dropdown>
											</b-td>
										</b-tr>
										<b-tr
											v-if="
												!busyAreas &&
													!areasFiltered.length
											"
										>
											<b-td colspan="2">
												<h5 class="text-center my-3">
													No se encontraron resultados
												</h5>
											</b-td>
										</b-tr>
									</b-tbody>
								</b-table-simple>
							</b-card>
						</b-col>
					</b-row>
				</div>
			</b-col>
		</b-row>

		<modal-component
			:id="'modal-agregar-th-puesto'"
			title="Agregar puesto"
			:hideFooter="true"
			:hideHeader="true"
			:centered="true"
		>
			<template slot="content">
				<th-configuracion-puestos-form-puesto-component
					:puesto="puesto"
				/>
			</template>
		</modal-component>

		<modal-component
			:id="'modal-agregar-th-area'"
			title="Agregar área"
			:hideFooter="true"
			:hideHeader="true"
			:centered="true"
		>
			<template slot="content">
				<th-configuracion-areas-form-area-component 
					:area="area"
				/>
			</template>
		</modal-component>
	</b-container>
</template>

<script>
import { mapState, mapActions, mapMutations, mapGetters } from "vuex";
export default {
	data() {
		return {
			puesto: null,
			area: null,
		};
	},
	mounted() {
		this.getPuestos();
		this.getAreas();
	},
	methods: {
		...mapActions("th_puestos", ["getPuestos"]),
		...mapActions("th_areas", ["getAreas"]),
		...mapMutations("th_puestos", ["removePuesto", "setFilterSearch"]),
		...mapMutations("th_areas", ["removeArea"]),

		setDataEdit(puesto) {
			this.puesto = puesto;
		},
		setDataEditArea(area) {
			this.area = area;
		},
		openModal() {
			this.puesto = null;
			this.$bvModal.show("modal-agregar-th-puesto");
		},
		openModalArea() {
			this.area = null;
			this.$bvModal.show("modal-agregar-th-area");
		},
		showMsgBoxDeleteConfirm(id) {
			this.$bvModal
				.msgBoxConfirm(
					`¿Confirmas que quieres eliminar este puesto?`,
					{
						title: "Favor de confirmar",
						size: "sm",
						buttonSize: "sm",
						okVariant: "danger",
						cancelVariant: "light",
						okTitle: "Confirmar",
						cancelTitle: "Cancelar",
						headerClass: "pt-3 pb-2 border-bottom-0",
						footerClass: "p-2 border-top-0",
						centered: true,
					}
				)
				.then((confirm) => {
					if (confirm) {
						this.removeItemPuesto(id);
					}
				});
		},
		showMsgBoxDeleteConfirmArea(id) {
			this.$bvModal
				.msgBoxConfirm(
					`¿Confirmas que quieres eliminar esta área?`,
					{
						title: "Favor de confirmar",
						size: "sm",
						buttonSize: "sm",
						okVariant: "danger",
						cancelVariant: "light",
						okTitle: "Confirmar",
						cancelTitle: "Cancelar",
						headerClass: "pt-3 pb-2 border-bottom-0",
						footerClass: "p-2 border-top-0",
						centered: true,
					}
				)
				.then((confirm) => {
					if (confirm) {
						this.removeItemArea(id);
					}
				});
		},
		async removeItemPuesto(id) {
			try {
				const response = await axios.delete(
					BaseUrl + `/api/th/puesto/${id}`
				);
				if (response.data.success) this.removePuesto(id);
			} catch (e) {
				console.log(e);
			}
		},
		async removeItemArea(id) {
			try {
				const response = await axios.delete(
					BaseUrl + `/api/th/area/${id}`
				);
				if (response.data.success) this.removeArea(id);
			} catch (e) {
				console.log(e);
			}
		},
	},
	computed: {
		...mapGetters("th_puestos", ["puestosFiltered"]),
		...mapGetters("th_areas", ["areasFiltered"]),
		...mapState("th_puestos", ["busyPuestos", "filter"]),
		...mapState("th_areas", ["busyAreas"]),
	},
	watch: {},
};
</script>
