<template>
	<div class="container-fluid" style="height: calc(100vh - 56px);">
		<header-component
			title="Administración de Solicitudes"
		></header-component>

		<b-row class="mb-0 mt-3">
			<b-col md="5">
				<b-row>
					<b-col md="6">
						<div class="input-group w-100">
							<div class="input-group-prepend border bg-light">
								<div class="mr-3 ml-2">
									<small>
										<strong>Inicio:</strong>
									</small>
								</div>
							</div>
							<b-form-datepicker
								id="picker-inicio"
								size="sm"
								v-model="filterInicio"
								locale="es"
								:show-decade-nav="false"
								:hide-header="true"
								label-help
								selected-variant="secondary"
								label-no-date-selected="Seleccione"
								:date-format-options="{
									day: 'numeric',
									year: 'numeric',
									month: 'long',
								}"
							></b-form-datepicker>
							<div class="input-group-append">
								<div class="text-center">
									<b-link
										class="text-secondary mt-1 ml-2"
										@click="filterInicio = null"
										>&times;</b-link
									>
								</div>
							</div>
						</div>
					</b-col>
					<b-col md="6">
						<div class="input-group w-100">
							<div class="input-group-prepend border bg-light">
								<div class="mr-3 ml-2">
									<small>
										<strong>Fin:</strong>
									</small>
								</div>
							</div>
							<b-form-datepicker
								id="picker-fin"
								size="sm"
								v-model="filterFin"
								locale="es"
								:show-decade-nav="false"
								:hide-header="true"
								label-help
								selected-variant="secondary"
								label-no-date-selected="Seleccione"
								:date-format-options="{
									day: 'numeric',
									year: 'numeric',
									month: 'long',
								}"
							></b-form-datepicker>
							<div class="input-group-append">
								<div class="text-center">
									<b-link
										class="text-secondary mt-1 ml-2"
										@click="filterFin = null"
										>&times;</b-link
									>
								</div>
							</div>
						</div>
					</b-col>
				</b-row>
			</b-col>
			<b-col lg="2">
				<div class="input-group w-100">
					<div class="input-group-prepend border bg-light">
						<div class="mr-3 ml-2">
							<small><strong>Unidad de negocio:</strong></small>
						</div>
					</div>
					<b-form-select
						size="sm"
						:options="unidades_negocio"
						v-model="filterUnidadNegocio"
					>
						<template v-slot:first>
							<option :value="null">
								Todas
							</option>
						</template>
					</b-form-select>
				</div>
			</b-col>
			<b-col lg="1">
			</b-col>
			<b-col lg="2"></b-col>
			<b-col lg="2">
				<div
					id="input-shadow"
					class="input-group w-100 bg-white border"
				>
					<div class="input-group-prepend bg-light mr-1 ml-3">
						<div class="pt-1 bg-white">
							<i class="fas fa-search"></i>
						</div>
					</div>
					<b-form-input
						id="input-search"
						size="sm"
						class="form-control border-0"
						placeholder="Escribe tu busqueda aquí"
						style
						v-model="filter"
					></b-form-input>
				</div>
			</b-col>
		</b-row>
		<div class="mt-3">
			<b-table-simple
				style="overflow: auto; height:calc(100vh - 200px)"
				:bordered="true"
				:small="true"
				responsive
				scope="col"
				show-empty
				id="embudosTable"
			>
				<b-thead head-variant="light">
					<b-tr>
						<b-th
							class="th-table-embudo"
							v-for="(etapa, index) in listEtapas"
							:key="index"
						>
							<div style="max-height: 45px" class="text-center">
								<i
									class="text-secondary far fa-check-circle mr-1"
								></i>
								{{ etapa.nombre }}
								<br />
							</div>
						</b-th>
					</b-tr>
				</b-thead>
				<b-tbody>
					<b-tr>
						<b-td
							class="pt-2"
							v-for="(etapa, index) in listEtapas"
							:key="index"
							style="width:250px;"
						>
							<alm-ss-solicitudes-admin-card-solicitud-component
								v-for="(solicitud,
								index2) in solicitudesByEtapa(etapa.idEtapa)"
								:key="index2"
								:solicitud="solicitud"
								:etapa="etapa"
							/>
						</b-td>
					</b-tr>
				</b-tbody>
			</b-table-simple>
			<div
				class="text-center mt-5"
				v-if="filter.length && solicitudesFiltered.length == 0"
			>
				<h5 class="text-secondary">No se encontraron resultados</h5>
				<h5 class="text-secondary" v-if="busySolicitudes">
					<b-spinner
						type="grow"
						style="width: 1.5rem; height: 1.5rem;"
					></b-spinner>
					<label class="ml-1">Cargando...</label>
				</h5>
			</div>
		</div>
	</div>
</template>

<script>
import { mapActions, mapGetters, mapMutations, mapState } from "vuex";
export default {
	data() {
		return {
			value: "",
			filter: "",
			filterUnidadNegocio: null,
			filterInicio: null,
			filterFin: null,
			loading: false,
			statusAutorizacion: null,
			unidades_negocio: [],
			idSolicitudActiva: null,
		};
	},
	mounted() {
		this.getEtapas();
		this.getUnidadesNegocio();
		if (this.solicitudesConsultadas != "todas") this.getSolicitudes();
	},
	methods: {
		...mapActions("alm_ss_solicitudes", ["getSolicitudes", "getEtapas"]),

		...mapMutations("alm_ss_solicitudes", [
			"setSolicitudActiva",
			"addSolicitud",
			"updateSolicitud",
		]),

		solicitudesByEtapa(idEtapa) {
			return this.solicitudesFiltered.filter(
				(solicitud) => solicitud.idEtapa == idEtapa
			);
		},
		getUnidadesNegocio() {
			axios
				.get(BaseUrl + `/api/fn/cuentas-internas/unidad-negocio/select`)
				.then((response) => {
					if (response.data) {
						this.unidades_negocio = response.data.map(
							(cuenta) => cuenta.unidadNegocio
						);
					}
				});
		},
	},
	computed: {
		...mapState("alm_ss_solicitudes", [
			"listSolicitudes",
			"listEtapas",
			"busySolicitudes",
			"solicitudActiva",
		]),

		solicitudesFiltered() {
			let solicitudes = this.listSolicitudes;

			if (this.filterUnidadNegocio)
				solicitudes = solicitudes.filter(
					(solicitud) =>
						solicitud.unidadNegocio == this.filterUnidadNegocio
				);

			if (this.filterInicio && this.filterFin) {
				solicitudes = solicitudes.filter(
					(solicitud) =>
						solicitud.created_at > this.filterInicio &&
						solicitud.created_at < this.filterFin
				);
			}
			if (this.filter) {
				const filter = this.filter.toLowerCase();

				solicitudes = solicitudes.filter(
					(solicitud) =>
						solicitud.usuario.nombreUsuario
							.toLowerCase()
							.indexOf(this.filter.toLowerCase()) > -1 ||
						solicitud.idSolicitud == this.filter ||
						solicitud.unidadNegocio.toLowerCase().includes(filter)
				);
			}
			return solicitudes;
		},
		time() {},
	},
};
</script>

<style>
#embudosTable td {
	width: 200px;
	overflow: auto;
	min-width: 230px;
	background-color: #f5f5f6;
	height: calc(100vh - 265px);
}
#embudosTable thead th {
	vertical-align: middle !important;
}
</style>
