<template>
	<div class="wrapper">
		<sidebar-component :title="'INDICADORES'">
			<template slot="content">
				<vt-ind-sidebar />
			</template>
		</sidebar-component>
		<b-container fluid style="width: calc(100vw - 300px);">
			<b-row class="py-4">
				<b-col lg="12">
					<h1 class="text-center mb-0">Recuperación de Cartera Vencida</h1>
				</b-col>
			</b-row>
			<b-row class="mb-3">
				<b-col lg="12">
					<b-form inline>
						<vt-ind-filter-embudos />
						<b-form-group class="ml-2">
							<b-form-tags
								id="tags-component-select"
								v-model="unidadesSelected"
								size="sm"
								add-on-change
								no-outer-focus
								style="background-color: #fff0; border: 0px;"
							>
								<template
									v-slot="{
										tags,
										inputAttrs,
										inputHandlers,
										disabled,
										removeTag,
									}"
								>
									<b-row>
										<b-col lg="12">
											<b-form-select
												v-bind="inputAttrs"
												v-on="inputHandlers"
												size="sm"
												:disabled="
													disabled ||
														availableOptions.length ===
															0
												"
												:options="availableOptions"
											>
												<template #first>
													<option disabled value="">
														Unidades de negocio
													</option>
												</template>
											</b-form-select>

											<ul
												v-if="tags.length > 0"
												class="list-inline d-inline-block my-0 ml-2"
											>
												<li
													v-for="tag in tags"
													:key="tag"
													class="list-inline-item"
												>
													<b-form-tag
														@remove="removeTag(tag)"
														:title="tag"
														:disabled="disabled"
														size="sm"
														variant="info"
														>{{ tag }}</b-form-tag
													>
												</li>
											</ul>
										</b-col>
									</b-row>
								</template>
							</b-form-tags>
						</b-form-group>
					</b-form>
				</b-col>
			</b-row>
			<vt-ind-cartera-vencida-content 
			:unidadesSelected="unidadesSelected"/>
		</b-container>
	</div>
</template>
<script>
import { mapState, mapMutations, mapActions } from "vuex";

export default {
	data() {
		return {
			unidadesSelected: ["Campo", "Taller"],
		};
	},
	mounted() {
		this.getUnidadesNegocio();
		this.setRouteName("vt.indicadores.cv");
		this.getNegociosFacturados();
	},
	methods: {
		...mapMutations(["setRouteName"]),
		...mapActions("negocios", ["getNegociosFacturados"]),
		...mapActions("vt_unidades_negocio", ["getUnidadesNegocio"]),
	},
	computed: {
		...mapState("vt_unidades_negocio", ["listUnidadesNegocio"]),

		optionsUN() {
			return this.listUnidadesNegocio.map(
				(unidad) => unidad.unidadNegocio
			);
		},
		availableOptions() {
			return this.optionsUN.filter(
				(opt) => this.unidadesSelected.indexOf(opt) === -1
			);
		},
	},
};
</script>
