<template>
	<div>
		<b-card no-body class="shadow-sm">
			<b-table-simple
				hover
				responsive
				show-empty
				striped
				bordered
				style="font-size: 12px"
				class="b-table-stick w-100 mb-0"
				id="carteraTable"
			>
				<b-thead class="text-center bg-white text-dark">
					<b-tr>
						<b-th class="fixed text-left pl-5">MES</b-th>
						<b-th class="fixed">VENTAS MENSUALES</b-th>
						<b-th class="fixed">VENTAS ACUMULADAS</b-th>
						<b-th class="fixed">FACTURAS POR COBRAR</b-th>
						<b-th class="fixed">DÍAS QUE SE TARDA POR COBRAR</b-th>
					</b-tr>
				</b-thead>
				<b-tbody>
					<b-tr
						v-for="(mes, index) in meses"
						:key="index"
						width="100px"
					>
						<b-td class="pl-5 align-middle">
							<strong>{{ mes.nombre.toUpperCase() }}</strong>
						</b-td>
						<b-td class="text-center align-middle">
							<div class="d-flex">
								<div class="mr-auto pl-2">
									<i class="fas fa-dollar-sign align-middle"></i>
								</div>
								<vue-numeric
									class="text-right form-control form-control-sm"
									separator=","
									:precision="2"
									:read-only="true"
									:value="mes.ventas_mensuales"	
								/>
							</div>
							<!-- <vue-numeric
								class="form-control form-control-sm mt-2"
								separator=","
								:precision="2"
								currency="$"
								:read-only="true"
								:value="mes.ventas_mensuales"
							/> -->
						</b-td>
						<b-td class="text-center align-middle">
							<div class="d-flex">
								<div class="mr-auto pl-2">
									<i class="fas fa-dollar-sign"></i>
								</div>
								<vue-numeric
									class="text-right form-control form-control-sm"
									separator=","
									:precision="2"
									:read-only="true"
									:value="mes.ventas_acomuladas"	
								/>
							</div>
							<!-- <vue-numeric
								class="form-control form-control-sm mt-2"
								separator=","
								:precision="2"
								currency="$"
								:read-only="true"
								:value="mes.ventas_acomuladas"
							/> -->
						</b-td>
						<b-td class="text-center align-middle">
							<div class="d-flex">
								<div class="mr-auto pl-2">
									<i class="fas fa-dollar-sign"></i>
								</div>
								<vue-numeric
									class="text-right form-control form-control-sm"
									separator=","
									:precision="2"
									:read-only="true"
									:value="mes.facturas_por_cobrar"	
								/>
							</div>
							<!-- <vue-numeric
								class="form-control form-control-sm mt-2"
								separator=","
								:precision="2"
								currency="$"
								:read-only="true"
								:value="mes.facturas_por_cobrar"
							/> -->
						</b-td>
						<b-td
							class="text-center"
						>
							<h6 class="text-danger">{{ mes.dias }}</h6>
						</b-td>
					</b-tr>
				</b-tbody>
			</b-table-simple>
		</b-card>
	</div>
</template>

<script>
import { mapState } from "vuex";
export default {
	props: {
		unidadesSelected: Array,
	},
	data() {
		return {
			valorOld: 0,
			meses: [],
		};
	},
	mounted() {
		this.setEmpty();
	},
	methods: {
		totalByMes() {
			this.meses.forEach(this.ventasMensuales);
		},
		ventasMensuales(mes) {
			const negociosPorMes = this.negociosFacturadosByUN.filter(
				(negocio) =>
					moment(negocio.fechaFactura)
						.locale("es")
						.format("MMMM") == mes.nombre
			);

			negociosPorMes.forEach(function(neg) {
				if (neg.tipoMoneda != "USD") {
					mes.ventas_mensuales += parseFloat(neg.valorNegocio);
				} else {
					mes.ventas_mensuales +=
						parseFloat(neg.valorNegocio) * neg.xCambio;
				}
			});
			this.ventasAcumuladas(mes);
			this.facturasPorCobrar(mes, negociosPorMes);
		},
		ventasAcumuladas(mes) {
			mes.ventas_acomuladas = mes.ventas_mensuales + this.valorOld;
			this.valorOld = mes.ventas_acomuladas;
		},
		facturasPorCobrar(mes, negociosPorMes) {
			const negocios = negociosPorMes.filter(
				(negocio) =>
					moment(negocio.fechaFactura)
						.locale("es")
						.format("MMMM") !=
					moment(negocio.fechaPago)
						.locale("es")
						.format("MMMM")
			);

			negocios.forEach(function(neg) {
				if (neg.tipoMoneda != "USD") {
					mes.facturas_por_cobrar += parseFloat(neg.valorNegocio);
				} else {
					mes.facturas_por_cobrar +=
						parseFloat(neg.valorNegocio) * neg.xCambio;
				}
			});
			this.diasEnCobrar(mes);
		},
		diasEnCobrar(mes) {
			const factor = ((365 / 12) * mes.num).toFixed(2);
			const dias =
				(mes.facturas_por_cobrar * factor) / mes.ventas_acomuladas;
			mes.dias = isNaN(dias) ? 0 : dias.toFixed(2);
		},
		setNegociosFacturados() {
			if (this.negociosFacturadosByUN != null) {
				this.valorOld = 0;
				this.setEmpty();
				this.totalByMes();
			} else {
				this.valorOld = 0;
				this.setEmpty();
			}
		},
		unidadExist(idUnidadNegocio) {
			return this.unidadNegocios.find(
				(unidad) => unidad.idUnidadNegocio == idUnidadNegocio
			)
				? true
				: false;
		},
		setEmpty() {
			this.meses = [
				{
					num: 1,
					nombre: "enero",
					ventas_mensuales: 0,
					ventas_acomuladas: 0,
					facturas_por_cobrar: 0,
					dias: 0,
				},
				{
					num: 2,
					nombre: "febrero",
					ventas_mensuales: 0,
					ventas_acomuladas: 0,
					facturas_por_cobrar: 0,
					dias: 0,
				},
				{
					num: 3,
					nombre: "marzo",
					ventas_mensuales: 0,
					ventas_acomuladas: 0,
					facturas_por_cobrar: 0,
					dias: 0,
				},
				{
					num: 4,
					nombre: "abril",
					ventas_mensuales: 0,
					ventas_acomuladas: 0,
					facturas_por_cobrar: 0,
					dias: 0,
				},
				{
					num: 5,
					nombre: "mayo",
					ventas_mensuales: 0,
					ventas_acomuladas: 0,
					facturas_por_cobrar: 0,
					dias: 0,
				},
				{
					num: 6,
					nombre: "junio",
					ventas_mensuales: 0,
					ventas_acomuladas: 0,
					facturas_por_cobrar: 0,
					dias: 0,
				},
				{
					num: 7,
					nombre: "julio",
					ventas_mensuales: 0,
					ventas_acomuladas: 0,
					facturas_por_cobrar: 0,
					dias: 0,
				},
				{
					num: 8,
					nombre: "agosto",
					ventas_mensuales: 0,
					ventas_acomuladas: 0,
					facturas_por_cobrar: 0,
					dias: 0,
				},
				{
					num: 9,
					nombre: "septiembre",
					ventas_mensuales: 0,
					ventas_acomuladas: 0,
					facturas_por_cobrar: 0,
					dias: 0,
				},
				{
					num: 10,
					nombre: "octubre",
					ventas_mensuales: 0,
					ventas_acomuladas: 0,
					facturas_por_cobrar: 0,
					dias: 0,
				},
				{
					num: 11,
					nombre: "noviembre",
					ventas_mensuales: 0,
					ventas_acomuladas: 0,
					facturas_por_cobrar: 0,
					dias: 0,
				},
				{
					num: 12,
					nombre: "diciembre",
					ventas_mensuales: 0,
					ventas_acomuladas: 0,
					facturas_por_cobrar: 0,
					dias: 0,
				},
			];
		},
	},
	computed: {
		...mapState("negocios", ["embudoSelected", "negociosFacturados"]),
		...mapState("vt_unidades_negocio", ["listUnidadesNegocio"]),
		...mapState("embudos", ["embudos"]),

		embudo() {
			return this.embudos.find(
				(embudo) => embudo.idEmbudo == this.embudoSelected.idEmbudo
			);
		},
		unidadNegocios() {
			var data = [];
			this.unidadesSelected.forEach(function(unidad) {
				this.listUnidadesNegocio.forEach(function(unidadNegocio) {
					if (unidadNegocio.unidadNegocio == unidad) {
						data.push(unidadNegocio);
					}
				}, this);
			}, this);
			return data;
		},
		negociosFacturadosByUN() {
			return this.negociosFacturados.filter(function(negocio) {
				if (this.unidadExist(negocio.idUnidadNegocio)) return negocio;
			}, this);
		},
	},
	watch: {
		negociosFacturadosByUN() {
			this.setNegociosFacturados();
		},
	},
};
</script>

<style>
.fixed {
	position: sticky;
	left: -1px;
	background-color: white;
}
#carteraTable td {
	overflow: auto;
	min-width: 150px;
}
</style>
