<template>
	<div>
		<b-row class="border-bottom">
			<b-col lg="12">
				<b-row>
					<b-col lg="12" class="pt-3 text-center">
						<h3>
							{{ costoActivo.cuenta }}

							<b-link
								v-if="
									costoActivo.cuentaReal == 'Inactivo' &&
										hasPermission('op.co.costos.eliminar')
								"
								class="text-danger pl-2"
								@click="showMsgBoxDeleteConfirm"
								style="font-size: 20px"
								v-b-tooltip.hover
								title="Eliminar costo operativo"
							>
								<i class="fas fa-trash-alt"></i>
							</b-link>
						</h3>
						<h5>
							{{ costoActivo.proyecto }}
						</h5>
					</b-col>
					<b-col class="pb-3 text-center">
						<template v-if="hasPermission('op.co.costos.editar')">
							<small class="fs-12">
								<b-link
									class="text-danger"
									@click="$emit('dataEdit', costoActivo)"
								>
									<i class="fas fa-edit pr-1"></i>
									Editar
								</b-link> </small
							><br />
						</template>
						<template
							v-if="
								hasPermission('op.co.costos.descargar.reporte')
							"
						>
							<small v-if="!loading" class="fs-12">
								<b-link class="text-danger" @click="download">
									<i class="fas fa-download pr-1"></i>
									Descargar Reporte
								</b-link>
							</small>

							<small v-else class="text-danger fs-12">
								<b-spinner small class="mr-1"></b-spinner>
								Descargando ... </small
							><br />
						</template>

						<!-- <template>
							<small class="fs-12">
								<b-link
									class="text-danger"
									@click="removeCosto"
								>
									<i class="fas fa-trash-alt pr-1"></i>
									Eliminar costo
								</b-link>
							</small>
						</template> -->

						<!-- <template v-if="usuario.idUsuario == 5">
							<small class="fs-12">
								<b-link class="text-danger" @click="copiarCuenta">
									Crear cuenta real
								</b-link>
							</small>
							<small class="fs-12">
								<b-link class="text-danger" @click="copiarHECR">
									Crear copia de HE CR
								</b-link>
							</small>
						</template> -->
					</b-col>
				</b-row>
				<hr class="my-0 mx-5 shadow-sm" />
				<b-row>
					<b-col lg="6" class="p-3 text-center">
						<h5 class="mt-4 display-5" style="font-size: 17px;">
							<strong class="bg-danger p-2"
								>Total Planeado:</strong
							>
							<label class="bg-light p-2">
								<template v-if="loadCosto">
									<b-spinner
										small
										class="mx-4 align-middle"
									></b-spinner>
								</template>

								<template v-else>
									$
									<vue-numeric
										separator=","
										:precision="2"
										:read-only="true"
										:value="totalPlaneada"
									/>
								</template>
							</label>
						</h5>
					</b-col>
					<b-col lg="6" class="p-3 text-center ">
						<b-row>
							<b-col lg="1"></b-col>
							<b-col lg="6" class="text-right">
								<strong>Duración del Proyecto:</strong>
							</b-col>
							<b-col lg="1" class="text-center bg-light p-0">
								{{ costoActivo.duracion }}
							</b-col>
							<b-col lg="4"></b-col>
						</b-row>
						<b-row>
							<b-col lg="1"></b-col>
							<b-col lg="6" class="text-right">
								<strong>Jornadas Internas:</strong>
							</b-col>
							<b-col lg="1" class="text-center bg-light">
								{{ costoActivo.jornadaInterna }}
							</b-col>
							<b-col lg="4"></b-col>
						</b-row>
						<b-row>
							<b-col lg="1"></b-col>
							<b-col lg="6" class="text-right">
								<strong>Jornada Laboral (Hrs):</strong>
							</b-col>
							<b-col lg="1" class="text-center bg-light">
								{{ costoActivo.jornadaLaboral }}
							</b-col>
							<b-col lg="4"></b-col>
						</b-row>
						<b-row>
							<b-col lg="1"></b-col>
							<b-col lg="6" class="text-right">
								<strong>Jornada Dominical:</strong>
							</b-col>
							<b-col lg="1" class="text-center bg-light">
								{{ costoActivo.jornadaDominical }}
							</b-col>
							<b-col lg="4"></b-col>
						</b-row>
					</b-col>
				</b-row>
			</b-col>
		</b-row>

		<b-row class="border-bottom border-top">
			<b-col lg="12" class="shadow-sm border-bottom">
				<b-button-group size="sm">
					<b-button
						v-if="
							hasPermission('op.co.cp.materiales.insumos.navegar')
						"
						:class="{
							'btn-secondary': activeMI,
							'btn-light': !activeMI,
						}"
						class="shadows"
						@click="setSeccionActive('MI')"
						squared
					>
						Material e Insumos
					</b-button>
					<b-button
						v-if="hasPermission('op.co.cp.mano.obra.navegar')"
						:class="{
							'btn-secondary': activeMO,
							'btn-light': !activeMO,
						}"
						class="shadows"
						@click="setSeccionActive('MO')"
						squared
					>
						Mano de Obra
					</b-button>
					<b-button
						v-if="
							hasPermission(
								'op.co.cp.herramientas.equipos.navegar'
							)
						"
						:class="{
							'btn-secondary': activeHE,
							'btn-light': !activeHE,
						}"
						class="shadows"
						@click="setSeccionActive('HE')"
						squared
					>
						Herramienta y Equipo
					</b-button>
					<b-button
						v-if="
							hasPermission('op.co.cp.gastos.operacion.navegar')
						"
						:class="{
							'btn-secondary': activeGO,
							'btn-light': !activeGO,
						}"
						class="shadows"
						@click="setSeccionActive('GO')"
						squared
					>
						Gastos de Operación
					</b-button>
					<b-button
						v-if="
							hasPermission('op.co.cp.gastos.especiales.navegar')
						"
						:class="{
							'btn-secondary': activeGE,
							'btn-light': !activeGE,
						}"
						class="shadows"
						@click="setSeccionActive('GE')"
						squared
					>
						Gastos Especiales
					</b-button>
					<b-button
						v-if="hasPermission('op.co.observaciones.navegar')"
						:class="{
							'btn-secondary': activeOS,
							'btn-light': !activeOS,
						}"
						class="shadows"
						@click="setSeccionActive('OS')"
						squared
					>
						Observaciones
					</b-button>
				</b-button-group>

				<b-badge
					variant="light"
					class="shadow-sm mt-1 float-right"
					v-if="loadSeccion"
				>
					<b-spinner
						type="grow"
						small
						label="Spinning"
						class="mr-2"
					></b-spinner
					>Guardando cambios ...
				</b-badge>

				<b-badge
					v-if="!loadSeccion && updatedSeccion"
					variant="light"
					class="shadow-sm mt-2 float-right"
				>
					<font class="text-success">
						<i class="fas fa-check mr-1"></i>
						Cambios guardados
					</font>
				</b-badge>
			</b-col>
		</b-row>

		<!-- TABLAS -->
		<op-co-cp-material-insumos-component
			v-if="activeMI"
			:total="materialesInsumos.total"
			:items="materialesInsumos.items"
			:materialInsumo="materialInsumo"
			:cuenta="'Planeada'"
			@editing="editSeccion($event)"
			@update="updateMaterialInsumo($event)"
		/>
		<op-co-cp-mano-obra-component
			v-if="activeMO"
			:total="dataManoObra.total"
			:items="dataManoObra.items"
			@editing="editSeccion($event)"
		/>
		<op-co-cp-herramienta-equipos-component
			v-if="activeHE"
			:total="herramientasEquipos.total"
			:items="herramientasEquipos.items"
			:herramientaEquipo="herramientaEquipo"
			:cuenta="'Planeada'"
			@editing="editSeccion($event)"
			@update="updateHerramientaEquipo($event)"
		/>
		<op-co-cp-gastos-especiales-component
			v-if="activeGE"
			:total="gastosEspeciales.total"
			:items="gastosEspeciales.items"
			:gastoEspecial="gastoEspecial"
			:cuenta="'Planeada'"
			@editing="editSeccion($event)"
			@update="updateGastoEspecial($event)"
		/>
		<op-co-cp-gastos-operacion-component
			v-if="activeGO"
			:total="gastosOperacion.total"
			:items="gastosOperacion.items"
			@editing="editSeccion($event)"
		/>
		<op-co-cp-observaciones-component
			v-if="activeOS"
			@editing="editSeccion($event)"
		/>

		<template
			v-if="
				!activeMI &&
					!activeMO &&
					!activeHE &&
					!activeGO &&
					!activeGE &&
					!activeOS
			"
		>
			<b-container
				class="w-100 h-100 div-content"
				style="color: #a8aeb3;"
			>
				<b-row class="my-5 w-100">
					<b-col class="text-center">
						<i
							class="img-fluid rounded mx-auto d-block"
							:class="'fas fa-hand-holding-usd'"
							style="font-size: 70px;"
							width="35%"
							height="35%"
						></i>
						<div class="mt-3 text-center">
							<h2 style="font-size: 18px;">
								ELIJA UNA DE LAS OPCIONES QUE SE ENCUENTRAN EN
								EL MENÚ.
							</h2>
						</div>
					</b-col>
				</b-row>
			</b-container>
		</template>
	</div>
</template>

<script>
import { mapState, mapActions, mapMutations, mapGetters } from "vuex";
import { required } from "vuelidate/lib/validators";
export default {
	data() {
		return {
			loading: false,
			activeMI: false,
			activeMO: false,
			activeHE: false,
			activeGO: false,
			activeGE: false,
			activeOS: false,
			loadSeccion: false,
			updatedSeccion: false,
			updatedCosto: false,
		};
	},
	mounted() {
		setTimeout(() => this.setLoadCosto(false), 4000);
	},
	methods: {
		...mapMutations("op_co_costos", [
			"updateMaterialInsumo",
			"updateGastoEspecial",
			"updateHerramientaEquipo",
			"setLoadCosto",
			"setLoadingRemove",
			"setCostoActivo",
			"removeCosto",
		]),
		...mapActions("op_co_costos", ["getManoObra"]),

		setSeccionActive(seccion) {
			this.desactiveSeccion();
			this.hideBadge();
			switch (seccion) {
				case "MI":
					this.activeMI = true;
					break;
				case "MO":
					this.activeMO = true;
					break;
				case "HE":
					this.activeHE = true;
					break;
				case "GO":
					this.activeGO = true;
					break;
				case "GE":
					this.activeGE = true;
					break;
				case "OS":
					this.activeOS = true;
					break;
			}
		},
		desactiveSeccion() {
			this.activeMI = false;
			this.activeMO = false;
			this.activeHE = false;
			this.activeGO = false;
			this.activeGE = false;
			this.activeOS = false;
		},
		editSeccion(status) {
			this.loadSeccion = status;
			this.updatedSeccion = !status;
		},
		hideBadge() {
			this.loadSeccion = false;
			this.updatedSeccion = false;
		},
		hasPermission(funcion) {
			if (this.permissions.length) {
				const permiso = this.permissions.find(
					(permiso) => permiso.idFuncion == funcion
				);
				if (permiso) return true;
				return false;
			}
		},
		download() {
			this.loading = true;
			const data = {
				observaciones: this.observaciones,
				costo: this.costoActivo,
				total: this.totalPlaneada,
			};
			axios
				.post("/api/op/co/cp/reporte/upload", data)
				.then((response) => {
					if (response.data.success) {
						let name = "CO-CP-" + this.costoActivo.cuenta;
						window.location = `/api/op/co/cp/reporte/${name}/download`;
					}
					this.loading = false;
				});
		},
		showMsgBoxDeleteConfirm() {
			this.$bvModal
				.msgBoxConfirm(
					`¿Está seguro de que desea eliminar este costo operativo?`,
					{
						title: "Favor de confirmar",
						size: "sm",
						buttonSize: "sm",
						okVariant: "danger",
						cancelVariant: "light",
						okTitle: "Confirmar",
						cancelTitle: "Cancelar",
						headerClass: "pt-3 pb-2 border-bottom-0",
						footerClass: "p-2 border-top-0",
						centered: true,
					}
				)
				.then((confirm) => {
					if (confirm) {
						this.remove();
					}
				});
		},
		async remove() {
			try {
				this.setLoadingRemove(true);
				const response = await axios.delete(
					BaseUrl + `/api/op/co/costo/${this.costoActivo.idCosto}`
				);
				if (response.data.success) {
					this.removeCosto(this.costoActivo.idCosto);
					this.setCostoActivo(null);
					this.setLoadingRemove(false);
				}
			} catch (e) {
				console.log(e);
			}
		},
		// async copiarCuenta() {
		// 	const data = {
		// 		etapa: 55,
		// 		cuenta: this.costoActivo.cuenta,
		// 	};
		// 	try {
		// 		const response = await axios.post(
		// 			BaseUrl + `/api/op/co/costo/cuenta/copy`,
		// 			data
		// 		);
		// 		if (response.data.success) {
		// 			alert(response.data.success);
		// 		}
		// 	} catch (e) {
		// 		console.log(e);
		// 	}
		// },
		// async copiarHECR() {
		// 	const data = {
		// 		idCosto: this.herramientaEquipo.idCosto,
		// 		cuenta: "Real",
		// 		herramientasEquipos: this.herramientaEquipo.herramientasEquipos,
		// 	};
		// 	try {
		// 		const response = await axios.post(
		// 			BaseUrl +
		// 				`/api/op/co/costo/herramientaEquipo/cuentaReal/copy`,
		// 			data
		// 		);
		// 		if (response.data.success) {
		// 			alert(response.data.success);
		// 		}
		// 	} catch (e) {
		// 		console.log(e);
		// 	}
		// },
	},
	computed: {
		...mapState(["permissions", "usuario"]),
		...mapState("op_co_costos", [
			"costoActivo",
			"costoFactores",
			"manoObra",
			"dataManoObra",
			"herramientaEquipo",
			"herramientasEquipos",
			"gastoEspecial",
			"gastosEspeciales",
			"gastoOperacion",
			"gastosOperacion",
			"materialInsumo",
			"materialesInsumos",
			"observaciones",
			"loadCosto",
		]),

		totalPlaneada() {
			const dataMIiva = this.costoFactores
				? this.materialesInsumos.total * this.costoFactores.iva
				: this.materialesInsumos.total;

			let total =
				this.dataManoObra.total +
				this.herramientasEquipos.total +
				this.gastosEspeciales.total +
				this.gastosOperacion.total +
				dataMIiva;
			return total;
		},
	},
	watch: {
		costoActivo: {
			handler(val, oldVal) {
				this.getManoObra();
			},
			deep: true,
		},
	},
};
</script>

<style scope>
#gasto-link {
	display: none;
}
#gasto:hover #gasto-link {
	display: block;
}
#gasto:hover #gasto-text {
	display: none;
}
.fs-12 {
	font-size: 12px;
}
.div-content {
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-ms-flex-align: center;
	-ms-flex-pack: center;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	margin-top: 85px;
}
</style>
