<template>
	<b-overlay
		:show="overlay"
		rounded="sm"
		opacity="1.0"
		blur="1px"
		variant="transparent"
	>
		<hr class="mt-0" />
		<template>
			<alm-activos-modal-select />
		</template>

		<hr />
		<div class="d-flex flex-row-reverse bd-highlight">
			<b-button
				variant="danger"
				class="ml-3 my-2"
				@click="submit"
				:disabled="disabledSubmit"
			>
				<font>
					AGREGAR
				</font>
			</b-button>
			<b-button variant="white" class="link-light my-2" @click="cancel">
				CANCELAR
			</b-button>
		</div>
	</b-overlay>
</template>

<script>
import { mapMutations, mapState, mapActions } from "vuex";
import { required } from "vuelidate/lib/validators";

export default {
	props: {
		materialInsumo: Object,
	},
	data() {
		return {
			overlay: false,
			errorSubmit: false,
			form: {
				articulos: [],
			},
		};
	},
	mounted() {},
	methods: {
		...mapMutations(["modalSubmit", "modalOk"]),
		...mapMutations("alm_inventario_activos", [
			"setTreeselectActivo",
			"setActivoSelected",
		]),

		async submit() {
			this.overlay = true;
			this.errorSubmit = false;
			this.form.idCosto = this.costoActivo.idCosto;
			if (this.activoSelected) {
				this.form.articulos = [
					{
						cantidad: 1,
						unidad: this.activoSelected.unidad,
						descripcion: this.activoSelected.articulo,
						categoria: this.activoSelected.categoria,
						costoUnitario: this.activoSelected.costoUnitario,
					},
				];

				if (this.materialInsumo.materialesInsumos) {
					const materialesInsumos = JSON.parse(
						this.materialInsumo.materialesInsumos
					);
					this.form.articulos = materialesInsumos.concat(
						this.form.articulos
					);
				}
				this.form.articulos = JSON.stringify(this.form.articulos);
				try {
					const response = await axios.put(
						BaseUrl +
							`/api/op/co/materialInsumo/${this.materialInsumo.idMaterial}`,
						this.form
					);
					if (response.data.success) {
						this.overlay = false;
						this.modalSubmit(true);
						this.$emit("update", response.data.materialInsumo);
					} else this.modalOk(false);

					this.setTreeselectActivo(null);
					this.setActivoSelected(null);
				} catch (e) {
					console.log(e);
					this.overlay = false;
					this.errorSubmit = true;
				}
			}
		},
		cancel() {
			this.setTreeselectActivo(null);
			this.setActivoSelected(null);
			this.$bvModal.hide("modal-co-materiales");
		},
	},
	computed: {
		...mapState("op_co_costos", ["costoActivo"]),
		...mapState("alm_inventario_activos", ["activoSelected"]),

		disabledSubmit() {
			return this.activoSelected ? false : true;
		},
	},
	watch: {},
};
</script>
