<template>
	<div id="div-gastos-operacion" class="scroll-costos">
		<div class="text-center">
			<h4 class="mb-0 mt-3">Gastos de Operación</h4>
		</div>

		<hr class="mb-0" />

		<b-skeleton-table
			v-if="loadCosto"
			:rows="11"
			:columns="6"
			:table-props="{ bordered: true, striped: true }"
		></b-skeleton-table>

		<b-table-simple
			v-else
			hover
			small
			bordered
			caption-top
			responsive
			class="shadow-sm"
			:class="permisos.editar ? 'table-edit-go' : 'table-go'"
		>
			<b-thead>
				<b-tr class="bg-light text-center">
					<b-th width="5%">Item</b-th>
					<b-th width="8%">Cantidad</b-th>
					<b-th width="10%">Unidad</b-th>
					<b-th width="47%">Descripción</b-th>
					<b-th width="15%">Costo Unitario</b-th>
					<b-th width="15%">Costo Total</b-th>
				</b-tr>
			</b-thead>
			<b-tbody style="font-size: 12px">
				<template v-if="items.length || newGasto">
					<b-tr
						v-for="(item, index) in items"
						:key="index"
						class="text-center"
					>
						<b-td class="align-middle" id="gasto">
							<template v-if="permisos.eliminar">
								<font id="gasto-text">
									{{ index + 1 }}
								</font>

								<b-link
									id="gasto-link"
									class="text-danger"
									@click="showMsgBoxDeleteConfirm(index)"
								>
									<i class="fas fa-trash"></i>
								</b-link>
							</template>
							<template v-else>
								{{ index + 1 }}
							</template>
						</b-td>

						<b-td class="align-middle">
							<template v-if="permisos.editar">
								<b-form-input
									size="sm"
									type="number"
									class="text-center"
									:value="item.cantidad"
									@blur="
										edit(
											$event.target.value,
											'cantidad',
											index
										)
									"
									@keyup.enter="
										edit(
											$event.target.value,
											'cantidad',
											index
										)
									"
								></b-form-input>
							</template>
							<template v-else>
								{{ item.cantidad }}
							</template>
						</b-td>
						<b-td class="align-middle">{{ item.unidad }}</b-td>
						<b-td class="text-left align-middle pl-4">{{
							item.descripcion
						}}</b-td>
						<b-td>
							<vue-numeric
								class="text-right form-control form-control-sm"
								currency="$"
								separator=","
								:precision="2"
								:read-only="valReadOnly"
								:value="item.costoUnitario"
								@blur="
									edit(
										$event.target.value,
										'costoUnitario',
										index
									)
								"
								@keyup.enter="
									edit(
										$event.target.value,
										'costoUnitario',
										index
									)
								"
							/>
						</b-td>
						<b-td class="align-middle">
							<div class="d-flex w-100 justify-content-between">
								<label class="mb-0 ml-1">$</label>
								<vue-numeric
									separator=","
									:precision="2"
									:read-only="true"
									:value="item.total"
								/>
							</div>
						</b-td>
					</b-tr>
				</template>

				<template v-else>
					<b-tr>
						<b-td colspan="6" class="text-center align-middle">
							<h6 class="text-secondary m-2">
								No se han registrado gastos de operación
							</h6>
						</b-td>
					</b-tr>
				</template>

				<b-tr v-if="newGasto" class="text-center bg-light">
					<b-td class="align-middle"
						><b-link class="text-danger" @click="submit"
							><i class="fas fa-save"></i></b-link
					></b-td>

					<b-td
						><b-form-input
							size="sm"
							type="number"
							v-model="$v.form.cantidad.$model"
							:state="
								$v.form.cantidad.$dirty
									? !$v.form.cantidad.$error
									: null
							"
							class="text-center"
						></b-form-input
					></b-td>
					<b-td class="align-middle">
						<b-form-input
							size="sm"
							v-model="$v.form.unidad.$model"
							:state="
								$v.form.unidad.$dirty
									? !$v.form.unidad.$error
									: null
							"
							class="text-center"
						></b-form-input>
					</b-td>
					<b-td>
						<b-form-select
							v-model="$v.form.descripcion.$model"
							:state="
								$v.form.descripcion.$dirty
									? !$v.form.descripcion.$error
									: null
							"
							:options="viaticos"
							size="sm"
						>
							<template v-slot:first>
								<option :value="null" disabled
									>Seleccione</option
								>
							</template>
						</b-form-select>
					</b-td>
					<b-td>
						<vue-numeric
							class="text-right form-control form-control-sm"
							currency="$"
							separator=","
							:precision="2"
							:read-only="false"
							v-model="$v.form.costoUnitario.$model"
							:state="
								$v.form.costoUnitario.$dirty
									? !$v.form.costoUnitario.$error
									: null
							"
						/>
					</b-td>
					<b-td class="align-middle">
						<div class="d-flex w-100 justify-content-between">
							<label class="mb-0 ml-1">$</label>
							<vue-numeric
								separator=","
								:precision="2"
								:read-only="true"
								:value="tempTotal"
							/>
						</div>
					</b-td>
				</b-tr>
			</b-tbody>
			<b-tfoot>
				<b-tr class="text-center">
					<b-td colspan="4" class="text-left pl-3 align-middle">
						<template v-if="permisos.registrar">
							<b-link
								v-if="!newGasto"
								class="text-danger"
								@click="addingGasto(true)"
							>
								<small
									><i
										class="fas fa-plus-circle text-danger"
									></i>
									Agregar</small
								>
							</b-link>
							<b-link
								v-else
								class="text-secondary"
								@click="addingGasto(false)"
							>
								<small
									><i
										class="fas fa-minus-circle text-secondary"
									></i>
									Cancelar</small
								>
							</b-link>
						</template>
					</b-td>
					<b-th class="text-center bg-light">Total</b-th>
					<b-td class="bg-light">
						<strong>
							<div class="d-flex w-100 justify-content-between">
								<label class="mb-0 ml-1">$</label>
								<vue-numeric
									separator=","
									:precision="2"
									:read-only="true"
									:value="total"
								/>
							</div>
						</strong>
					</b-td>
				</b-tr>
			</b-tfoot>
		</b-table-simple>
	</div>
</template>

<script>
import { mapState, mapActions, mapMutations } from "vuex";
import { required } from "vuelidate/lib/validators";

export default {
	props: {
		total: Number,
		items: Array,
	},
	data() {
		return {
			gastosOperacion: [],
			viaticos: [
				{
					text: "Gastos de Hotel y Hospedaje",
					value: "Gastos de Hotel y Hospedaje",
				},
				{
					text: "Gastos de Transporte",
					value: "Gastos de Transporte",
				},
				{
					text: "Gastos de Alimentación",
					value: "Gastos de Alimentación",
				},
				{
					text: "Cuotas y Peaje Carretero",
					value: "Cuotas y Peaje Carretero",
				},
				{ text: "Gasolina", value: "Gasolina" },
				{ text: "Diésel", value: "Diésel" },
				{ text: "Casetas", value: "Casetas" },
			],
			newGasto: false,
			form: {
				cantidad: 1,
				unidad: "Servicio",
				descripcion: null,
				costoUnitario: 0,
			},
		};
	},
	mounted() {
		if (Object.entries(this.gastoOperacion).length != 0) {
			this.setGastosOperacion();
			this.setLoadCosto(false);
		} else this.setLoadCosto(true);
	},
	methods: {
		...mapMutations("op_co_costos", [
			"updateGastoOperacion",
			"setLoadCosto",
		]),

		// getCCViaticos() {
		// 	axios
		// 		.get(BaseUrl + `/api/op/co/costo/cuentaContableViaticos`)
		// 		.then((response) => {
		// 			if (response.data.length) {
		// 				this.viaticos = response.data.map((viatico) => {
		// 					return {
		// 						text: viatico.subcuenta,
		// 						value: viatico.subcuenta,
		// 					};
		// 				});
		// 			}
		// 		});
		// },
		addingGasto(bol) {
			this.newGasto = bol;
			if (!bol) this.limpiarInputs();
			this.$v.$reset();
		},
		async submit() {
			this.$v.$touch();
			if (!this.$v.$invalid) {
				this.$emit("editing", true);
				this.gastosOperacion.push(this.form);
				const data = {
					gastos: JSON.stringify(this.gastosOperacion),
				};
				try {
					const response = await axios.put(
						BaseUrl +
							`/api/op/co/gastoOperacion/${this.gastoOperacion.idGastoOperacion}`,
						data
					);
					if (response.data.success) {
						this.newGasto = false;
						this.$emit("editing", false);
						this.updateGastoOperacion(response.data.gastoOperacion);
						this.limpiarInputs();
					}
				} catch (e) {
					console.log(e);
				}
			}
		},
		showMsgBoxDeleteConfirm(index) {
			this.$bvModal
				.msgBoxConfirm(
					`¿Está seguro de que desea eliminar este registro?`,
					{
						title: "Favor de confirmar",
						size: "sm",
						buttonSize: "sm",
						okVariant: "danger",
						cancelVariant: "light",
						okTitle: "Confirmar",
						cancelTitle: "Cancelar",
						headerClass: "pt-3 pb-2 border-bottom-0",
						footerClass: "p-2 border-top-0",
						centered: true,
					}
				)
				.then((confirm) => {
					if (confirm) {
						this.remove(index);
					}
				});
		},
		async remove(index) {
			try {
				this.gastosOperacion.splice(index, 1);
				const data = {
					gastos: JSON.stringify(this.gastosOperacion),
				};
				const response = await axios.put(
					BaseUrl +
						`/api/op/co/gastoOperacion/${this.gastoOperacion.idGastoOperacion}`,
					data
				);
				if (response.data.success)
					this.updateGastoOperacion(response.data.gastoOperacion);
			} catch (e) {
				console.log(e);
			}
		},
		async edit(value, campo, index) {
			this.$emit("editing", true);
			if (campo == "cantidad")
				this.gastosOperacion[index].cantidad = Number(value);
			else if (campo == "costoUnitario")
				this.gastosOperacion[index].costoUnitario = Number(value);
			const data = { gastos: JSON.stringify(this.gastosOperacion) };
			try {
				const response = await axios.put(
					BaseUrl +
						`/api/op/co/gastoOperacion/${this.gastoOperacion.idGastoOperacion}`,
					data
				);
				if (response.data.success) {
					this.updateGastoOperacion(response.data.gastoOperacion);
					this.$emit("editing", false);
				}
			} catch (e) {
				console.log(e);
			}
		},
		limpiarInputs() {
			this.form.cantidad = 1;
			this.form.unidad = "Servicio";
			this.form.descripcion = null;
			this.form.costoUnitario = 0;
		},
		hasPermission(funcion) {
			if (this.permissions.length) {
				const permiso = this.permissions.find(
					(permiso) => permiso.idFuncion == funcion
				);
				if (permiso) return true;
				return false;
			}
		},
		setGastosOperacion() {
			if (this.gastoOperacion.gastosOperacion) {
				this.gastosOperacion = JSON.parse(
					this.gastoOperacion.gastosOperacion
				);
			}
		},
	},
	computed: {
		...mapState(["permissions"]),
		...mapState("op_co_costos", [
			"costoActivo",
			"loadCosto",
			"gastoOperacion",
		]),

		tempTotal() {
			return this.form.cantidad * this.form.costoUnitario;
		},
		valReadOnly() {
			return this.permisos.editar ? false : true;
		},
		permisos() {
			if (this.costoActivo.cuentaReal === "Inactivo") {
				return {
					registrar: this.hasPermission(
						"op.co.cp.gastos.operacion.registrar"
					),
					editar: this.hasPermission(
						"op.co.cp.gastos.operacion.editar"
					),
					eliminar: this.hasPermission(
						"op.co.cp.gastos.operacion.eliminar"
					),
				};
			} else {
				return {
					registrar: false,
					editar: false,
					eliminar: false,
				};
			}
		},
	},
	watch: {
		gastoOperacion: {
			handler(val, oldVal) {
				this.setGastosOperacion();
				setTimeout(() => this.setLoadCosto(false), 3000);
			},
			deep: true,
		},
	},
	validations: {
		form: {
			cantidad: { required },
			unidad: { required },
			descripcion: { required },
			costoUnitario: { required },
		},
	},
};
</script>

<style>
.table-edit-go th {
	padding: 0.72rem;
	vertical-align: top;
	border-top: 1px solid #dee2e6;
}
.table-edit-go td {
	padding: 0.42rem;
	vertical-align: top;
	border-top: 1px solid #dee2e6;
}
.table-go td,
.table-go th {
	padding: 0.72rem;
	vertical-align: top;
	border-top: 1px solid #dee2e6;
}
</style>
