<template>
	<div id="div-gastos-especiales" class="scroll-costos">
		<div class="text-center">
			<h4 class="mb-0 mt-3">Gastos de Especiales</h4>
		</div>

		<hr class="mb-0" />

		<b-skeleton-table
			v-if="loadCosto"
			:rows="11"
			:columns="6"
			:table-props="{ bordered: true, striped: true }"
		></b-skeleton-table>

		<b-table-simple
			v-else
			hover
			small
			bordered
			caption-top
			responsive
			class="shadow-sm"
			:class="permisos.editar ? 'table-edit-ge' : 'table-ge'"
		>
			<b-thead>
				<b-tr class="bg-light text-center">
					<b-th width="5%">Item</b-th>
					<b-th width="8%">Cantidad</b-th>
					<b-th width="10%">Unidad</b-th>
					<b-th width="47%">Descripción</b-th>
					<b-th width="15%">Costo Unitario</b-th>
					<b-th width="15%">Costo Total</b-th>
				</b-tr>
			</b-thead>
			<b-tbody style="font-size: 12px">
				<template v-if="items.length || newGasto">
					<b-tr
						v-for="(item, index) in items"
						:key="index"
						class="text-center"
					>
						<b-td class="align-middle" id="gasto">
							<template v-if="permisos.eliminar">
								<font id="gasto-text">
									{{ index + 1 }}
								</font>

								<b-link
									id="gasto-link"
									class="text-danger"
									@click="showMsgBoxDeleteConfirm(index)"
								>
									<i class="fas fa-trash"></i>
								</b-link>
							</template>
							<template v-else>
								{{ index + 1 }}
							</template>
						</b-td>
						<b-td class="align-middle">
							<template v-if="permisos.editar">
								<b-form-input
									size="sm"
									type="number"
									class="text-center"
									:value="item.cantidad"
									@blur="
										edit(
											$event.target.value,
											'cantidad',
											index
										)
									"
									@keyup.enter="
										edit(
											$event.target.value,
											'cantidad',
											index
										)
									"
								></b-form-input>
							</template>
							<template v-else>
								{{ item.cantidad }}
							</template>
						</b-td>
						<b-td class="align-middle">{{ item.unidad }}</b-td>
						<b-td class="text-left align-middle pl-4">{{
							item.descripcion
						}}</b-td>
						<b-td>
							<vue-numeric
								class="text-right form-control form-control-sm"
								currency="$"
								separator=","
								:precision="2"
								:read-only="!valReadOnly"
								:value="item.costoUnitario"
								@blur="
									edit(
										$event.target.value,
										'costoUnitario',
										index
									)
								"
								@keyup.enter="
									edit(
										$event.target.value,
										'costoUnitario',
										index
									)
								"
							/>
						</b-td>
						<b-td class="align-middle">
							<div class="d-flex w-100 justify-content-between">
								<label class="mb-0 ml-1">$</label>
								<vue-numeric
									separator=","
									:precision="2"
									:read-only="true"
									:value="item.total"
								/>
							</div>
						</b-td>
					</b-tr>
				</template>

				<template v-else>
					<b-tr>
						<b-td colspan="6" class="text-center align-middle">
							<h6 class="text-secondary m-2">
								No se han registrado gastos especiales
							</h6>
						</b-td>
					</b-tr>
				</template>

				<b-tr v-if="newGasto" class="text-center bg-light">
					<b-td class="align-middle"
						><b-link class="text-danger" @click="submit"
							><i class="fas fa-save"></i></b-link
					></b-td>
					<b-td
						><b-form-input
							size="sm"
							type="number"
							v-model="$v.form.cantidad.$model"
							:state="
								$v.form.cantidad.$dirty
									? !$v.form.cantidad.$error
									: null
							"
							class="text-center"
						></b-form-input
					></b-td>
					<b-td class="align-middle">
						<b-form-input
							size="sm"
							v-model="$v.form.unidad.$model"
							:state="
								$v.form.unidad.$dirty
									? !$v.form.unidad.$error
									: null
							"
							class="text-center"
						></b-form-input>
					</b-td>
					<b-td>
						<b-form-input
							size="sm"
							list="list-gastos-especiales"
							v-model="$v.form.descripcion.$model"
							:state="
								$v.form.descripcion.$dirty
									? !$v.form.descripcion.$error
									: null
							"
						>
						</b-form-input>

						<datalist id="list-gastos-especiales">
							<option>Fletes</option>
							<option>Capacitaciones</option>
							<option>Smart Condition</option>
							<option>Renta Vehículo</option>
							<option>Renta Grúa</option>
							<option>Renta de torno</option>
							<option>M.O. externa</option>
							<option>Gastos de transporte</option>
							<option>Pruebas COVID</option>
							<option>Uniforme Personal</option>
						</datalist>
					</b-td>
					<b-td>
						<vue-numeric
							class="text-right form-control form-control-sm"
							currency="$"
							separator=","
							:precision="2"
							:read-only="false"
							v-model="$v.form.costoUnitario.$model"
							:state="
								$v.form.costoUnitario.$dirty
									? !$v.form.costoUnitario.$error
									: null
							"
						/>
					</b-td>
					<b-td class="align-middle">
						<div class="d-flex w-100 justify-content-between">
							<label class="mb-0 ml-1">$</label>
							<vue-numeric
								separator=","
								:precision="2"
								:read-only="true"
								:value="tempTotal"
							/>
						</div>
					</b-td>
				</b-tr>
			</b-tbody>
			<b-tfoot>
				<b-tr class="text-center">
					<b-td colspan="4" class="text-left pl-3 align-middle">
						<template v-if="permisos.registrar">
							<b-link
								v-if="!newGasto"
								class="text-danger"
								@click="addingGasto(true)"
							>
								<small
									><i
										class="fas fa-plus-circle text-danger"
									></i>
									Agregar</small
								>
							</b-link>
							<b-link
								v-else
								class="text-secondary"
								@click="addingGasto(false)"
							>
								<small
									><i
										class="fas fa-minus-circle text-secondary"
									></i>
									Cancelar</small
								>
							</b-link>
						</template>
					</b-td>
					<b-th class="text-center bg-light">Total</b-th>
					<b-td class="bg-light">
						<strong>
							<div class="d-flex w-100 justify-content-between">
								<label class="mb-0 ml-1">$</label>
								<vue-numeric
									separator=","
									:precision="2"
									:read-only="true"
									:value="total"
								/>
							</div>
						</strong>
					</b-td>
				</b-tr>
			</b-tfoot>
		</b-table-simple>
	</div>
</template>

<script>
import { mapState, mapActions, mapMutations } from "vuex";
import { required } from "vuelidate/lib/validators";

export default {
	props: {
		gastoEspecial: Object,
		cuenta: String,
		total: Number,
		items: Array,
	},
	data() {
		return {
			gastosEspeciales: [],
			newGasto: false,
			form: {
				cantidad: 1,
				unidad: "",
				descripcion: "",
				costoUnitario: 0,
			},
		};
	},
	mounted() {
		if (Object.entries(this.gastoEspecial).length != 0) {
			this.setGastosEspeciales();
			this.setLoadCosto(false);
		} else this.setLoadCosto(true);
	},
	methods: {
		...mapMutations("op_co_costos", [
			"updateGastoEspecial",
			"setLoadCosto",
		]),

		async submit() {
			this.$v.$touch();
			if (!this.$v.$invalid) {
				this.$emit("editing", true);
				this.gastosEspeciales.push(this.form);
				const data = {
					gastos: JSON.stringify(this.gastosEspeciales),
				};
				try {
					const response = await axios.put(
						BaseUrl +
							`/api/op/co/gastoEspecial/${this.gastoEspecial.idGastoEspecial}`,
						data
					);
					if (response.data.success) {
						this.newGasto = false;
						this.$emit("editing", false);
						this.$emit("update", response.data.gastoEspecial);
						this.limpiarInputs();
					}
				} catch (e) {
					console.log(e);
				}
			}
		},
		showMsgBoxDeleteConfirm(index) {
			this.$bvModal
				.msgBoxConfirm(
					`¿Está seguro de que desea eliminar este registro?`,
					{
						title: "Favor de confirmar",
						size: "sm",
						buttonSize: "sm",
						okVariant: "danger",
						cancelVariant: "light",
						okTitle: "Confirmar",
						cancelTitle: "Cancelar",
						headerClass: "pt-3 pb-2 border-bottom-0",
						footerClass: "p-2 border-top-0",
						centered: true,
					}
				)
				.then((confirm) => {
					if (confirm) {
						this.remove(index);
					}
				});
		},
		async remove(index) {
			try {
				this.gastosEspeciales.splice(index, 1);
				const data = {
					gastos: JSON.stringify(this.gastosEspeciales),
				};
				const response = await axios.put(
					BaseUrl +
						`/api/op/co/gastoEspecial/${this.gastoEspecial.idGastoEspecial}`,
					data
				);
				if (response.data.success)
					this.$emit("update", response.data.gastoEspecial);
				// this.updateGastoEspecial(response.data.gastoEspecial);
			} catch (e) {
				console.log(e);
			}
		},
		async edit(value, campo, index) {
			this.$emit("editing", true);

			if (campo == "cantidad")
				this.gastosEspeciales[index].cantidad = Number(value);
			else if (campo == "costoUnitario")
				this.gastosEspeciales[index].costoUnitario = Number(value);

			const data = { gastos: JSON.stringify(this.gastosEspeciales) };

			try {
				const response = await axios.put(
					BaseUrl +
						`/api/op/co/gastoEspecial/${this.gastoEspecial.idGastoEspecial}`,
					data
				);
				if (response.data.success) {
					this.$emit("update", response.data.gastoEspecial);
					// this.updateGastoEspecial(response.data.gastoEspecial);
					this.$emit("editing", false);
				}
			} catch (e) {
				console.log(e);
			}
		},
		addingGasto(bol) {
			this.newGasto = bol;
			if (!bol) this.limpiarInputs();
			this.$v.$reset();
		},
		limpiarInputs() {
			this.form.cantidad = 1;
			this.form.unidad = "";
			this.form.descripcion = "";
			this.form.costoUnitario = 0;
		},
		hasPermission(funcion) {
			if (this.permissions.length) {
				const permiso = this.permissions.find(
					(permiso) => permiso.idFuncion == funcion
				);
				if (permiso) return true;
				return false;
			}
		},
		setGastosEspeciales() {
			if (this.gastoEspecial.gastosEspeciales) {
				this.gastosEspeciales = JSON.parse(
					this.gastoEspecial.gastosEspeciales
				);
			}
		},
	},
	computed: {
		...mapState(["permissions"]),
		...mapState("op_co_costos", ["costoActivo", "loadCosto"]),

		tempTotal() {
			return this.form.cantidad * this.form.costoUnitario;
		},
		permisos() {
			if (this.cuenta == "Planeada") {
				if (this.costoActivo.cuentaReal === "Inactivo") {
					return {
						registrar: this.hasPermission(
							"op.co.cp.gastos.especiales.registrar"
						),
						editar: this.hasPermission(
							"op.co.cp.gastos.especiales.editar"
						),
						eliminar: this.hasPermission(
							"op.co.cp.gastos.especiales.eliminar"
						),
					};
				} else {
					return {
						registrar: false,
						editar: false,
						eliminar: false,
					};
				}
			} else {
				return {
					registrar: this.hasPermission(
						"op.co.cr.gastos.especiales.registrar"
					),
					editar: this.hasPermission(
						"op.co.cr.gastos.especiales.editar"
					),
					eliminar: this.hasPermission(
						"op.co.cr.gastos.especiales.eliminar"
					),
				};
			}
		},
		valReadOnly() {
			return this.permisos.editar ? true : false;
		},
	},
	watch: {
		gastoEspecial: {
			handler(val, oldVal) {
				this.setGastosEspeciales();
				setTimeout(() => this.setLoadCosto(false), 3000);
			},
			deep: true,
		},
	},
	validations: {
		form: {
			cantidad: { required },
			unidad: { required },
			descripcion: { required },
			costoUnitario: { required },
		},
	},
};
</script>

<style>
.table-edit-ge th {
	padding: 0.72rem;
	vertical-align: top;
	border-top: 1px solid #dee2e6;
}
.table-edit-ge td {
	padding: 0.42rem;
	vertical-align: top;
	border-top: 1px solid #dee2e6;
}

.table-ge td,
.table-ge th {
	padding: 0.72rem;
	vertical-align: top;
	border-top: 1px solid #dee2e6;
}
</style>
