<template>
	<div
		id="div-herramienta-equipo"
		:class="cuenta == 'Real' ? 'scroll-costos-cr' : 'scroll-costos'"
	>
		<div class="text-center">
			<h4 class="mb-0 mt-3">Herramienta y Equipo</h4>
		</div>

		<hr class="mb-0" />

		<b-skeleton-table
			v-if="loadCosto"
			:rows="11"
			:columns="6"
			:table-props="{ bordered: true, striped: true }"
		></b-skeleton-table>

		<b-table-simple
			v-else
			hover
			small
			bordered
			caption-top
			responsive
			class="shadow-sm"
			:class="permisos.editar ? 'table-edit-he' : 'table-he'"
		>
			<b-thead>
				<b-tr class="bg-light text-center">
					<b-th width="5%">Item</b-th>
					<b-th width="8%">Cantidad</b-th>
					<b-th width="10%">Unidad</b-th>
					<b-th width="47%">Descripción</b-th>
					<b-th width="15%">Costo Unitario</b-th>
					<b-th width="15%">Costo Total</b-th>
				</b-tr>
			</b-thead>
			<b-tbody style="font-size: 12px">
				<b-tr
					class="text-center"
					v-for="(item, index) in items"
					:key="index"
				>
					<b-td class="align-middle">{{ index + 1 }}</b-td>
					<b-td>
						<template v-if="permisos.editar">
							<b-form-input
								size="sm"
								type="number"
								class="text-center"
								:value="item.cantidad"
								@blur="edit($event.target.value, index)"
								@keyup.enter="edit($event.target.value, index)"
							></b-form-input>
						</template>
						<template v-else>
							{{ item.cantidad }}
						</template>
					</b-td>
					<b-td class="align-middle">
						{{ item.unidad }}
					</b-td>
					<b-td class="text-left align-middle pl-4">
						{{ item.descripcion }}
					</b-td>
					<b-td class="align-middle">
						<div class="d-flex w-100 justify-content-between">
							<label class="mb-0 ml-1">$</label>
							<vue-numeric
								separator=","
								:precision="2"
								:read-only="true"
								:value="item.costoUnitario"
							/>
						</div>
					</b-td>
					<b-td class="align-middle">
						<div class="d-flex w-100 justify-content-between">
							<label class="mb-0 ml-1">$</label>
							<vue-numeric
								separator=","
								:precision="2"
								:read-only="true"
								:value="item.total"
							/>
						</div>
					</b-td>
				</b-tr>
			</b-tbody>
			<b-tfoot>
				<b-tr class="text-center">
					<b-td colspan="4"></b-td>
					<b-th class="text-center bg-light">Total</b-th>
					<b-td class="bg-light">
						<strong>
							<div class="d-flex w-100 justify-content-between">
								<label class="mb-0 ml-1">$</label>
								<vue-numeric
									separator=","
									:precision="2"
									:read-only="true"
									:value="total"
								/>
							</div>
						</strong>
					</b-td>
				</b-tr>
			</b-tfoot>
		</b-table-simple>
	</div>
</template>

<script>
import { mapState, mapActions, mapMutations, mapGetters } from "vuex";
import { required } from "vuelidate/lib/validators";

export default {
	props: {
		herramientaEquipo: Object,
		cuenta: String,
		total: Number,
		items: Array,
	},
	data() {
		return {};
	},
	mounted() {
		this.setLoadCosto(false);
	},
	methods: {
		...mapMutations("op_co_costos", [
			"updateHerramientaEquipo",
			"setLoadCosto",
		]),

		async edit(newCantidad, index) {
			this.$emit("editing", true);
			const articulos = JSON.parse(
				this.herramientaEquipo.herramientasEquipos
			);
			articulos[index].cantidad = Number(newCantidad);
			const data = { herramientasEquipos: JSON.stringify(articulos) };
			try {
				const response = await axios.put(
					BaseUrl +
						`/api/op/co/costo/herramientaEquipo/${this.herramientaEquipo.idHerramienta}`,
					data
				);
				if (response.data.success) {
					this.$emit("editing", false);
					this.$emit("update", response.data.herramientaEquipo);
				}
			} catch (error) {
				console.log(error);
			}
		},
		hasPermission(funcion) {
			if (this.permissions.length) {
				const permiso = this.permissions.find(
					(permiso) => permiso.idFuncion == funcion
				);
				if (permiso) return true;
				return false;
			}
		},
	},
	computed: {
		...mapState(["permissions"]),
		...mapState("op_co_costos", ["loadCosto", "costoActivo"]),

		permisos() {
			if (this.cuenta == "Planeada") {
				if (this.costoActivo.cuentaReal === "Inactivo") {
					return {
						editar: this.hasPermission(
							"op.co.cp.herramientas.equipos.editar"
						),
					};
				} else {
					return {
						editar: false,
					};
				}
			} else {
				return {
					editar: this.hasPermission(
						"op.co.cr.herramientas.equipos.editar"
					),
				};
			}
		},
	},
	watch: {
		herramientaEquipo: {
			handler(val, oldVal) {
				setTimeout(() => this.setLoadCosto(false), 3000);
			},
			deep: true,
		},
	},
};
</script>

<style>
.table-edit-he th {
	padding: 0.72rem;
	vertical-align: top;
	border-top: 1px solid #dee2e6;
}
.table-edit-he td {
	padding: 0.42rem;
	vertical-align: top;
	border-top: 1px solid #dee2e6;
}

.table-he td,
.table-he th {
	padding: 0.72rem;
	vertical-align: top;
	border-top: 1px solid #dee2e6;
}
.scroll-costos-cr {
	max-height: calc(75vh - 130px);
	overflow: auto;
}
</style>
