<template>
	<div id="div-material-insumo" class="scroll-costos">
		<div class="text-center">
			<h4 class="mb-0 mt-3">Material e Insumos</h4>
		</div>

		<hr class="mb-0" />

		<b-skeleton-table
			v-if="loadCosto"
			:rows="10"
			:columns="7"
			:table-props="{ bordered: true, striped: true }"
		></b-skeleton-table>

		<b-table-simple
			v-else
			hover
			small
			bordered
			caption-top
			responsive
			class="shadow-sm"
			:class="permisos.editar ? 'table-edit-mi' : 'table-mi'"
		>
			<b-thead>
				<b-tr class="bg-light text-center">
					<b-th width="5%">Item</b-th>
					<b-th width="8%">Cantidad</b-th>
					<b-th width="10%">Unidad</b-th>
					<b-th width="27%">Descripción</b-th>
					<b-th width="20%">Categoria</b-th>
					<b-th width="15%">Costo Unitario</b-th>
					<b-th width="15%">Costo Total</b-th>
				</b-tr>
			</b-thead>
			<b-tbody style="font-size: 12px">
				<template v-if="items.length || newArticulo">
					<b-tr
						v-for="(item, index) in items"
						:key="index"
						class="text-center"
					>
						<b-td class="align-middle" id="gasto">
							<template v-if="permisos.eliminar">
								<font id="gasto-text">
									{{ index + 1 }}
								</font>

								<b-link
									id="gasto-link"
									class="text-danger"
									@click="showMsgBoxDeleteConfirm(index)"
								>
									<i class="fas fa-trash"></i>
								</b-link>
							</template>
							<template v-else>
								{{ index + 1 }}
							</template>
						</b-td>
						<b-td class="align-middle">
							<template v-if="permisos.editar">
								<b-form-input
									size="sm"
									type="number"
									class="text-center"
									:value="item.cantidad"
									@blur="edit($event.target.value, index)"
									@keyup.enter="
										edit($event.target.value, index)
									"
								></b-form-input>
							</template>
							<template v-else>
								{{ item.cantidad }}
							</template>
						</b-td>
						<b-td class="align-middle"> {{ item.unidad }} </b-td>
						<b-td class="align-middle">
							{{ item.descripcion }}
						</b-td>
						<b-td class="align-middle"> {{ item.categoria }} </b-td>
						<b-td class="align-middle">
							<div class="d-flex w-100 justify-content-between">
								<label class="mb-0 ml-1">$</label>
								<vue-numeric
									separator=","
									:precision="2"
									:read-only="true"
									:value="item.costoUnitario"
								/>
							</div>
						</b-td>
						<b-td class="align-middle">
							<div class="d-flex w-100 justify-content-between">
								<label class="mb-0 ml-1">$</label>
								<vue-numeric
									separator=","
									:precision="2"
									:read-only="true"
									:value="item.total"
								/>
							</div>
						</b-td>
					</b-tr>
				</template>

				<template v-else>
					<b-tr>
						<b-td colspan="7" class="text-center align-middle">
							<h6 class="text-secondary m-2">
								No se han registrado materiales e insumos
							</h6>
						</b-td>
					</b-tr>
				</template>

				<b-tr v-if="newArticulo" class="text-center bg-light">
					<b-td class="align-middle"
						><b-link class="text-danger" @click="submit"
							><i class="fas fa-save"></i></b-link
					></b-td>
					<b-td
						><b-form-input
							size="sm"
							type="number"
							v-model="$v.form.cantidad.$model"
							:state="
								$v.form.cantidad.$dirty
									? !$v.form.cantidad.$error
									: null
							"
							class="text-center"
						></b-form-input
					></b-td>
					<b-td class="align-middle">
						<b-form-input
							size="sm"
							v-model="$v.form.unidad.$model"
							:state="
								$v.form.unidad.$dirty
									? !$v.form.unidad.$error
									: null
							"
							class="text-center"
						></b-form-input>
					</b-td>
					<b-td>
						<b-form-input
							size="sm"
							v-model="$v.form.descripcion.$model"
							:state="
								$v.form.descripcion.$dirty
									? !$v.form.descripcion.$error
									: null
							"
						>
						</b-form-input>
					</b-td>
					<b-td>
						<b-form-input
							size="sm"
							v-model="$v.form.categoria.$model"
							:state="
								$v.form.categoria.$dirty
									? !$v.form.categoria.$error
									: null
							"
						>
						</b-form-input>
					</b-td>
					<b-td>
						<vue-numeric
							class="text-right form-control form-control-sm"
							currency="$"
							separator=","
							:precision="2"
							:read-only="false"
							v-model="$v.form.costoUnitario.$model"
							:state="
								$v.form.costoUnitario.$dirty
									? !$v.form.costoUnitario.$error
									: null
							"
						/>
					</b-td>
					<b-td class="align-middle">
						<div class="d-flex w-100 justify-content-between">
							<label class="mb-0 ml-1">$</label>
							<vue-numeric
								separator=","
								:precision="2"
								:read-only="true"
								:value="tempTotal"
							/>
						</div>
					</b-td>
				</b-tr>
			</b-tbody>

			<b-tfoot>
				<b-tr class="text-center">
					<b-td colspan="5" class="align-middle text-left pl-4">
						<template v-if="permisos.registrar">
							<b-link
								v-if="!newArticulo"
								class="text-danger"
								@click="openModal"
							>
								<small
									><i
										class="fas fa-plus-circle text-danger"
									></i>
									Agregar</small
								>
							</b-link>
							<b-link
								v-else
								class="text-secondary"
								@click="addingArticulo(false)"
							>
								<small
									><i
										class="fas fa-minus-circle text-secondary"
									></i>
									Cancelar</small
								>
							</b-link>
						</template>
					</b-td>
					<b-th class="text-center bg-light">Total</b-th>
					<b-td class="bg-light">
						<strong>
							<div class="d-flex w-100 justify-content-between">
								<label class="mb-0 ml-1">$</label>
								<vue-numeric
									separator=","
									:precision="2"
									:read-only="true"
									:value="total"
								/>
							</div>
						</strong>
					</b-td>
				</b-tr>
				<b-tr class="text-center">
					<b-td colspan="5"></b-td>
					<b-th class="text-center bg-light">Total con IVA</b-th>
					<b-td class="bg-light">
						<strong>
							<div class="d-flex w-100 justify-content-between">
								<label class="mb-0 ml-1">$</label>
								<vue-numeric
									separator=","
									:precision="2"
									:read-only="true"
									:value="totalIVA"
								/>
							</div>
						</strong>
					</b-td>
				</b-tr>
			</b-tfoot>
		</b-table-simple>

		<modal-component
			:title="'Materiales e Insumos'"
			:id="'modal-co-materiales'"
			:hideFooter="true"
			:hideHeader="true"
			:centered="true"
		>
			<template slot="content">
				<op-co-cp-form-material-insumo-component
					:materialInsumo="materialInsumo"
					@update="modalUpdateData($event)"
				/>
			</template>
			<span slot="buttons"></span>
		</modal-component>

		<modal-component
			:title="'Agregar artículo'"
			:id="'modal-select-add-mi'"
			:hideFooter="true"
			:hideHeader="true"
			:centered="true"
			:sizeModal="'sm'"
		>
			<template slot="content">
				<b-card
					class="activate mb-2 shadows"
					v-for="(tipo, index) in options"
					:key="index"
					style="cursor:pointer"
					@click="optionToAdd(tipo.value)"
				>
					<div class="panel-body">
						<b-row>
							<b-col lg="3">
								<h4 class="float-right text-secondary mb-0">
									<i :class="tipo.icon"></i>
								</h4>
							</b-col>
							<b-col lg="9">
								<h4 class="text-secondary mb-0">
									{{ tipo.text }}
								</h4>
							</b-col>
						</b-row>
					</div>
				</b-card>
			</template>
			<span slot="buttons"></span>
		</modal-component>
	</div>
</template>

<script>
import { mapState, mapActions, mapMutations } from "vuex";
import { required } from "vuelidate/lib/validators";

export default {
	props: {
		materialInsumo: Object,
		cuenta: String,
		total: Number,
		items: Array,
	},
	data() {
		return {
			form: {
				cantidad: 1,
				unidad: null,
				descripcion: null,
				categoria: null,
				costoUnitario: 0,
			},
			options: [
				{
					value: "Inventario",
					text: " En Inventario",
					icon: "fas fa-boxes",
				},
				{
					value: "Nuevo",
					text: " Nuevo",
					icon: "fas fa-dolly-flatbed",
				},
			],
			newArticulo: false,
			materialesInsumos: [],
		};
	},
	mounted() {
		if (Object.entries(this.materialInsumo).length != 0) {
			this.setMaterialesInsumos();
			this.setLoadCosto(false);
		} else this.setLoadCosto(true);
	},
	methods: {
		...mapMutations("op_co_costos", [
			"setLoadCosto",
			"updateMaterialInsumo",
		]),

		openModal() {
			this.$bvModal.show("modal-select-add-mi");
		},
		openModalMI() {
			this.$bvModal.show("modal-co-materiales");
		},
		async submit() {
			this.$v.$touch();
			if (!this.$v.$invalid) {
				this.$emit("editing", true);
				this.materialesInsumos.push(this.form);
				const data = {
					articulos: JSON.stringify(this.materialesInsumos),
				};
				try {
					const response = await axios.put(
						BaseUrl +
							`/api/op/co/materialInsumo/${this.materialInsumo.idMaterial}`,
						data
					);
					if (response.data.success) {
						this.newArticulo = false;
						this.$emit("editing", false);
						this.$emit("update", response.data.materialInsumo);
					}
				} catch (e) {
					console.log(e);
				}
			}
		},
		async edit(newCantidad, index) {
			this.$emit("editing", true);
			this.materialesInsumos[index].cantidad = Number(newCantidad);
			const data = { articulos: JSON.stringify(this.materialesInsumos) };

			try {
				const response = await axios.put(
					BaseUrl +
						`/api/op/co/materialInsumo/${this.materialInsumo.idMaterial}`,
					data
				);
				if (response.data.success) {
					this.$emit("update", response.data.materialInsumo);
					this.$emit("editing", false);
				}
			} catch (e) {
				console.log(e);
			}
		},
		showMsgBoxDeleteConfirm(index) {
			this.$bvModal
				.msgBoxConfirm(
					`¿Está seguro de que desea eliminar este registro?`,
					{
						title: "Favor de confirmar",
						size: "sm",
						buttonSize: "sm",
						okVariant: "danger",
						cancelVariant: "light",
						okTitle: "Confirmar",
						cancelTitle: "Cancelar",
						headerClass: "pt-3 pb-2 border-bottom-0",
						footerClass: "p-2 border-top-0",
						centered: true,
					}
				)
				.then((confirm) => {
					if (confirm) {
						this.remove(index);
					}
				});
		},
		async remove(index) {
			try {
				this.materialesInsumos.splice(index, 1);
				const data = {
					articulos: JSON.stringify(this.materialesInsumos),
				};
				const response = await axios.put(
					BaseUrl +
						`/api/op/co/materialInsumo/${this.materialInsumo.idMaterial}`,
					data
				);
				if (response.data.success)
					this.$emit("update", response.data.materialInsumo);
			} catch (e) {
				console.log(e);
			}
		},
		optionToAdd(tipo) {
			if (tipo == "Nuevo") this.addingArticulo(true);
			else this.openModalMI();
			this.$bvModal.hide("modal-select-add-mi");
		},
		addingArticulo(bol) {
			this.newArticulo = bol;
			if (!bol) this.limpiarInputs();
			this.$v.$reset();
		},
		limpiarInputs() {
			this.form.cantidad = 1;
			this.form.unidad = null;
			this.form.descripcion = null;
			this.form.categoria = null;
			this.form.costoUnitario = 0;
		},
		hasPermission(funcion) {
			if (this.permissions.length) {
				const permiso = this.permissions.find(
					(permiso) => permiso.idFuncion == funcion
				);
				if (permiso) return true;
				return false;
			}
		},
		setMaterialesInsumos() {
			if (this.materialInsumo.materialesInsumos) {
				this.materialesInsumos = JSON.parse(
					this.materialInsumo.materialesInsumos
				);
			}
		},
		modalUpdateData(response) {
			this.$emit("update", response);
		},
	},
	computed: {
		...mapState(["permissions"]),
		...mapState("op_co_costos", [
			"costoFactores",
			"costoActivo",
			"loadCosto",
		]),

		totalIVA() {
			return this.costoFactores
				? this.total * this.costoFactores.iva
				: this.total;
		},
		tempTotal() {
			return this.form.cantidad * this.form.costoUnitario;
		},
		permisos() {
			if (this.cuenta == "Planeada") {
				if (this.costoActivo.cuentaReal === "Inactivo") {
					return {
						registrar: this.hasPermission(
							"op.co.cp.materiales.insumos.registrar"
						),
						editar: this.hasPermission(
							"op.co.cp.materiales.insumos.editar"
						),
						eliminar: this.hasPermission(
							"op.co.cp.materiales.insumos.eliminar"
						),
					};
				} else {
					return {
						registrar: false,
						editar: false,
						eliminar: false,
					};
				}
			} else {
				return {
					registrar: this.hasPermission(
						"op.co.cr.materiales.insumos.registrar"
					),
					editar: this.hasPermission(
						"op.co.cr.materiales.insumos.editar"
					),
					eliminar: this.hasPermission(
						"op.co.cr.materiales.insumos.eliminar"
					),
				};
			}
		},
	},
	watch: {
		materialInsumo: {
			handler(val, oldVal) {
				this.setMaterialesInsumos();
				setTimeout(() => this.setLoadCosto(false), 3000);
			},
			deep: true,
		},
	},
	validations: {
		form: {
			cantidad: { required },
			unidad: { required },
			descripcion: { required },
			categoria: { required },
			costoUnitario: { required },
		},
	},
};
</script>

<style>
.activate:hover {
	background-color: rgba(159, 161, 164, 0.1);
	transition: all 0.2s linear;
}
.table-edit-mi th {
	padding: 0.72rem;
	vertical-align: top;
	border-top: 1px solid #dee2e6;
}
.table-edit-mi td {
	padding: 0.42rem;
	vertical-align: top;
	border-top: 1px solid #dee2e6;
}

.table-mi td,
.table-mi th {
	padding: 0.72rem;
	vertical-align: top;
	border-top: 1px solid #dee2e6;
}
</style>
