<template>
	<div id="div-observaciones" class="scroll-costos">
		<div class="text-center">
			<h4 class="mb-0 mt-3">Observaciones</h4>
		</div>

		<center>
			<div v-if="loadCosto" class="w-75 mt-3">
				<b-skeleton-table
					:rows="5"
					:columns="1"
					:table-props="{ bordered: true, striped: true }"
				></b-skeleton-table>
			</div>

			<b-table-simple
				v-else
				hover
				small
				borderless
				caption-top
				responsive
				class="shadow w-75 mt-3"
			>
				<b-tbody style="font-size: 12px">
					<template v-if="observaciones.length || newObservacion">
						<b-tr
							v-for="(observacion, index) in observaciones"
							:key="index"
						>
							<b-td width="10%" class="text-center align-middle">
								<b-avatar
									:src="observacion.ruta"
									class="mr-2"
									variant="dark"
								></b-avatar>
							</b-td>

							<b-td
								width="80%"
								class="align-middle text-justify p-2"
							>
								<template v-if="editing == index">
									<ckeditor-component
										@getEditor="form.observacion = $event"
										:lastInfo="observacion.observacion"
										:editorConf="editorConfig"
										:placeholder="
											'Escriba su observación aquí...'
										"
										ref="editor"
										@blur="edit(observacion.idObservacion)"
									/>
								</template>

								<font v-else>
									<div
										class="px-2 pt-1 div-editor"
										v-html="observacion.observacion"
									></div>
								</font>
							</b-td>

							<b-td width="10%" class="align-middle text-center">
								<b-link
									v-if="
										hasPermission(
											'op.co.observaciones.editar'
										) &&
											costoActivo.cuentaReal ===
												'Inactivo'
									"
									class="text-secondary"
									@click="editing = index"
									><i class="fas fa-edit"></i
								></b-link>
								<b-link
									v-if="
										hasPermission(
											'op.co.observaciones.eliminar'
										) &&
											costoActivo.cuentaReal ===
												'Inactivo'
									"
									class="text-secondary ml-2"
									@click="
										showMsgBoxDeleteConfirm(
											observacion.idObservacion
										)
									"
									><i class="fas fa-trash"></i
								></b-link>
							</b-td>
						</b-tr>
					</template>

					<template v-else>
						<b-tr>
							<b-td colspan="3" class="text-center align-middle">
								<h6 class="text-secondary m-2">
									No se han registrado observaciones
								</h6>
							</b-td>
						</b-tr>
					</template>

					<b-tr v-if="newObservacion" class="text-justify bg-light">
						<b-td></b-td>
						<b-td>
							<ckeditor-component
								@getEditor="form.observacion = $event"
								:lastInfo="form.observacion"
								:editorConf="editorConfig"
								:placeholder="'Escriba su observación aquí...'"
								ref="editor"
							/>
						</b-td>
						<b-td class="align-middle text-center"
							><b-link class="text-danger" @click="submit"
								><i class="fas fa-save"></i></b-link
						></b-td>
					</b-tr>
				</b-tbody>
			</b-table-simple>

			<template
				v-if="
					hasPermission('op.co.observaciones.registrar') &&
						!Number.isInteger(editing) &&
						costoActivo.cuentaReal === 'Inactivo'
				"
			>
				<b-link
					v-if="!newObservacion"
					class="text-danger mt-4"
					@click="addingObservacion(true)"
				>
					<small><i class="fas fa-plus-circle"></i> Agregar </small>
				</b-link>

				<b-link
					v-else
					class="text-secondary mt-4"
					@click="addingObservacion(false)"
				>
					<small><i class="fas fa-minus-circle"></i> Cancelar </small>
				</b-link>
			</template>
		</center>
	</div>
</template>

<script>
import { mapState, mapActions, mapMutations } from "vuex";
import { required } from "vuelidate/lib/validators";

export default {
	data() {
		return {
			newObservacion: false,
			editing: null,
			message: "",

			form: {
				observacion: "",
			},
			editorConfig: {
				toolbar: ["bold", "italic", "|", "link"],
			},
		};
	},
	mounted() {
		this.setLoadCosto(false);
	},
	methods: {
		...mapMutations("op_co_costos", [
			"addObservacion",
			"removeObservacion",
			"updateObservacion",
			"setLoadCosto",
		]),

		async submit() {
			this.$v.$touch();
			if (!this.$v.$invalid) {
				this.$emit("editing", true);
				try {
					this.form.idCosto = this.costoActivo.idCosto;
					this.form.idUsuario = this.usuario.idUsuario;
					const response = await axios.post(
						BaseUrl + `/api/op/co/observacion`,
						this.form
					);
					if (response.data.success) {
						this.newObservacion = false;
						this.$emit("editing", false);
						this.addObservacion(response.data.observacion);
						this.limpiarInputs();
					}
				} catch (e) {
					console.log(e);
				}
			}
		},
		showMsgBoxDeleteConfirm(id) {
			this.$bvModal
				.msgBoxConfirm(
					`¿Está seguro de que desea eliminar este registro?`,
					{
						title: "Favor de confirmar",
						size: "sm",
						buttonSize: "sm",
						okVariant: "danger",
						cancelVariant: "light",
						okTitle: "Confirmar",
						cancelTitle: "Cancelar",
						headerClass: "pt-3 pb-2 border-bottom-0",
						footerClass: "p-2 border-top-0",
						centered: true,
					}
				)
				.then((confirm) => {
					if (confirm) {
						this.remove(id);
					}
				});
		},
		async remove(id) {
			try {
				const response = await axios.delete(
					BaseUrl + `/api/op/co/observacion/${id}`
				);
				if (response.data.success) this.removeObservacion(id);
			} catch (e) {
				console.log(e);
			}
		},
		async edit(id) {
			this.editing = null;
			this.$emit("editing", true);
			try {
				const response = await axios.put(
					BaseUrl + `/api/op/co/observacion/${id}`,
					this.form
				);
				if (response.data.success) {
					this.editing = null;
					this.updateObservacion(response.data.observacion);
					this.$emit("editing", false);
				}
			} catch (e) {
				console.log(e);
			}
		},
		addingObservacion(bol) {
			this.form.observacion = "";
			this.newObservacion = bol;
			if (!bol) this.limpiarInputs();
			this.$v.$reset();
		},
		limpiarInputs() {
			this.form.observacion = "";
		},
		hasPermission(funcion) {
			if (this.permissions.length) {
				const permiso = this.permissions.find(
					(permiso) => permiso.idFuncion == funcion
				);
				if (permiso) return true;
				return false;
			}
		},
	},
	computed: {
		...mapState(["usuario", "permissions"]),
		...mapState("op_co_costos", [
			"observaciones",
			"costoActivo",
			"loadCosto",
		]),
	},
	watch: {
		observaciones() {
			setTimeout(() => this.setLoadCosto(false), 3000);
		},
	},
	validations: {
		form: {
			observacion: { required },
		},
	},
};
</script>

<style>
.div-editor > p {
	margin-bottom: 0px;
}
</style>
