<template>
	<form ref="form" @submit.stop.prevent="submit">	

		<template v-if="procedimientoActivo && changeProceso">
			<b-form-group label="Proceso" label-for="file-default">
				<b-form-select 
						id="input-proceso" 
						name="idProceso" 
						placeholder="Seleccione un proceso"
						:options="selectProcesos"
						v-model="$v.form.idProceso.$model"
						:state="$v.form.idProceso.$dirty ? !$v.form.idProceso.$error : null">
				</b-form-select>
				<b-form-invalid-feedback id="feedback-file">
					Campo obligatorio
				</b-form-invalid-feedback>
			</b-form-group>
		</template>

		<template v-if="procedimientoActivo && !changeProceso">
			<div class="text-center mt-2">
				<h5>{{ procesoActivo.nombre }} 
				</h5><hr class="mb-1">
				<p><small>
					Proceso&nbsp;
					<b-link @click="changeProceso = !changeProceso" class="text-danger">
						<i class="fas fa-edit"></i>
					</b-link>
				</small></p>
			</div>
		</template>		
		<b-form-group label="Nombre">
			<b-form-input type="text"
				id="input-nombre"
				v-model="$v.form.nombre.$model"
				:state="$v.form.nombre.$dirty ? !$v.form.nombre.$error : null"
				placeholder="Ingrese el nombre del procedimiento"
				aria-describedby="feedback-nombre">
			</b-form-input>
			<b-form-invalid-feedback id="feedback-nombre">
				Campo obligatorio
			</b-form-invalid-feedback>
		</b-form-group>
	</form>
</template>

<script>
	import { required, minLength,numeric,maxLength,alpha,url} from 'vuelidate/lib/validators'
	import { mapState, mapMutations, mapActions } from 'vuex'
	export default {
		data() {
			return {
				changeProceso: false,
				selectProcesos: [],
				form:{
		            idProcedimiento: null,
		            nombre: '',
		            idProceso: null
		        },
			}
		},
		mounted() {
			if(this.procedimientoActivo){
				this.setDataEdit()
				this.getProcesos()
			}
		},
		methods: {
			...mapMutations(['modalSubmit', 'modalOk']),
			...mapMutations('areas', ['addProcedimiento', 'updateProcedimiento']), 

			async submit() {
				this.$v.$touch()
				if (!this.$v.$invalid) {

					if(!this.procedimientoActivo)
						this.form.idProceso = this.procesoActivo.idProceso
					
		            const response = (!this.procedimientoActivo) ?
		            		await axios.post(BaseUrl + `/api/nr/procedimientos`, this.form) :
		            		await axios.put(BaseUrl + `/api/nr/procedimientos`, this.form)
	                if(response.data.success){
	                	var proceso = {
	                		idProceso: this.form.idProceso, 
	                		procedimiento: null
	                	}
	                	proceso.procedimiento=response.data.procedimiento
	                	if(!this.procedimientoActivo)
	                    	this.addProcedimiento(proceso)
			            else
			            	this.updateProcedimiento(proceso)
	                	this.modalSubmit(true) 
	                }
				}else{
					this.modalOk(false)
				}
			},
			setDataEdit()
			{
				this.form.idProcedimiento = this.procedimientoActivo.idProcedimiento
				this.form.nombre = this.procedimientoActivo.nombre
				this.form.idProceso = this.procedimientoActivo.idProceso
			},
			getProcesos()
			{
				let idArea = this.areaActiva.idArea
				axios.get(BaseUrl + `/api/nr/procesos/${idArea}/select`)
				.then((response) => {
					this.selectProcesos = response.data
				})
			}
		},
		computed: {
			...mapState(['okModal']),
			...mapState('areas', ['procesoActivo', 'procedimientoActivo', 'areaActiva']),
		},
		validations: {
			form:{
				nombre: { required },
				idProceso: {}
			}
		},
		watch: {
			okModal()
			{
				if(this.okModal==true){
					this.submit()
				}
			}
		}
	}
</script>