<template>
	<b-card no-body :class="procedimientoClass">
		<b-card-body>
			<b-row align-h="between">
				<b-col cols="10">
					<p
						class="mb-0"
						style="cursor:pointer; margin-top: 2px"
						:class="textClass"
						@click="setProc()"
					>
						<template
							v-if="
								procedimientoActivo &&
									procedimientoActivo.idProcedimiento ==
										procedimiento.idProcedimiento
							"
						>
							<strong>{{ procedimiento.nombre }}</strong>
						</template>
						<template v-else>
							{{ procedimiento.nombre }}
						</template>
					</p>
				</b-col>
				<b-col cols="2">
					<b-dropdown
						class="float-right"
						dropleft
						no-caret
						variant="link"
						size="sm"
						:disabled="
							hasPermission('ca.gc.md.procedimientos.editar') ||
							hasPermission('ca.gc.md.procedimientos.eliminar')
								? false
								: true
						"
					>
						<template v-slot:button-content>
							<i class="fas fa-ellipsis-v" :class="textClass"></i>
						</template>
						<b-dropdown-item
							v-if="
								hasPermission('ca.gc.md.procedimientos.editar')
							"
							v-b-modal.modal-procedimiento
							@click="
								setProcedimiento(procedimiento);
								setProceso(proceso);
							"
							>Editar</b-dropdown-item
						>
						<b-dropdown-item
							v-if="
								hasPermission(
									'ca.gc.md.procedimientos.eliminar'
								)
							"
							v-b-modal.modal-delete
							@click="setDataDelete()"
							>Eliminar</b-dropdown-item
						>
					</b-dropdown>
				</b-col>
			</b-row>
		</b-card-body>
	</b-card>
</template>

<script>
import { mapMutations, mapState, mapActions } from "vuex";
export default {
	props: {
		procedimiento: Object,
		proceso: Object,
	},
	methods: {
		...mapMutations("areas", ["setProcedimiento", "setProceso"]),
		...mapMutations(["setFormDelete"]),
		...mapActions("areas", [
			"getArchivosByProcedimiento",
			"getArchivosByArea",
		]),
		setDataDelete() {
			const data = {
				dpto: "nr",
				section: "procedimientos",
				tipo: "Procedimiento",
				id: this.procedimiento.idProcedimiento,
				registro: this.procedimiento.nombre,
			};
			this.setFormDelete(data);
		},
		setProc() {
			if (this.procedimientoActivo) {
				if (
					this.procedimientoActivo.idProcedimiento ==
					this.procedimiento.idProcedimiento
				) {
					this.setProcedimiento(null);
					this.setProceso(null);
					this.getArchivosByArea();
				} else {
					this.setProcedimiento(this.procedimiento);
					this.setProceso(this.proceso);
					this.getArchivosByProcedimiento(
						this.procedimiento.idProcedimiento
					);
				}
			} else {
				this.setProcedimiento(this.procedimiento);
				this.setProceso(this.proceso);
				this.getArchivosByProcedimiento(
					this.procedimiento.idProcedimiento
				);
			}
		},
		hasPermission(funcion) {
			if (this.permissions.length) {
				const permiso = this.permissions.find(
					(permiso) => permiso.idFuncion == funcion
				);
				if (permiso) return true;
				return false;
			}
		},
	},
	computed: {
		...mapState(["permissions"]),
		...mapState("areas", ["procedimientoActivo"]),
		procedimientoClass() {
			if (this.procedimientoActivo) {
				if (
					this.procedimientoActivo.idProcedimiento ==
					this.procedimiento.idProcedimiento
				)
					return "bg-light-35";
			}
			return "bg-light";
		},
		textClass() {
			if (this.procedimientoActivo) {
				if (
					this.procedimientoActivo.idProcedimiento ==
					this.procedimiento.idProcedimiento
				)
					return "text-dark";
			}
			return "text-dark";
		},
	},
};
</script>
