<template>
	<b-container fluid style="height: calc(100vh - 54px)">
		<b-row class="h-100">
			<b-col lg="2" class="px-0 h-100">
				<co-configuracion-sidebar />
			</b-col>
			<b-col lg="10">
				<b-row>
					<b-col lg="2"></b-col>
					<b-col lg="8">
						<h1 class="text-center mt-4">
							Exportar solicitudes
						</h1>
					</b-col>
					<b-col lg="2"> </b-col>
				</b-row>
				<b-card class="mt-3">
					<b-row>
						<b-col lg="3">
							<b-button
								v-if="!exporting"
								variant="danger"
								class="shadows px-4 mt-2"
								@click="exportExcel()"
								><i class="fas fa-download pr-2"></i> Exportar solicitudes 
								excel
							</b-button>

							<b-button
								v-else
								variant="danger"
								class="shadows px-4 mt-2"
							>
								<b-spinner small class="mr-1"></b-spinner>
								Exportando...
							</b-button>
						</b-col>
						<b-col lg="9">
							<b-alert
								show
								variant="success"
								class="text-center mb-0"
								v-if="exported"
								dismissible
								style="font-size: 12px;"
							>
								<template v-if="exported">
									<i class="fas fa-check-circle mx-1"></i>
									El reporte se a procesado correctamente. La
									descarga del archivo podría demorar algunos
									minutos según la carga de datos.
								</template>
							</b-alert>
						</b-col>
					</b-row>
				</b-card>
			</b-col>
		</b-row>
	</b-container>
</template>

<script>
import { mapActions, mapState } from "vuex";
export default {
	data() {
		return {
			errorInExport: false,
			exporting: false,
			exported: false,
		};
	},
	mounted() {},
	methods: {
		exportExcel() {
			this.exporting = true;
			this.exported = false;
			this.errorInExport = false;
			try {
				window.location =
					BaseUrl +
					`/api/co/sc/resumen/solicitudes/exportar`;
				setTimeout(() => this.afterExport(), 4000);
			} catch (e) {
				this.errorInExport = true;
			}
		},
		afterExport() {
			this.exporting = false;
			this.exported = true;
		},
	},
	computed: {},
	watch: {},
};
</script>
