<template>
	<b-container fluid style="height: calc(100vh - 54px)">
		<b-row class="h-100">
			<b-col lg="12" style="height: calc(100vh - 60px); overflow:auto">
				<b-row class="py-4">
					<b-col lg="2"></b-col>
					<b-col lg="8">
						<h1 class="text-center mb-0">
							Administración de Estructura ERP
						</h1>
					</b-col>
					<b-col lg="2">
						<b-badge
							variant="success"
							class="float-right mt-3"
							v-show="success"
						>
							<i class="fas fa-check-circle mr-1"></i>Se han
							guardado correctamente los cambios
						</b-badge>
						<b-badge
							variant="light"
							class="float-right"
							v-show="load"
						>
							<b-spinner
								type="grow"
								small
								label="Spinning"
							></b-spinner
							>Cargando ...
						</b-badge>
					</b-col>
				</b-row>

				<b-card class="shadow-sm" no-body>
					<b-card-header header-tag="nav" class="bg-light border">
						<b-nav
							card-header
							pills
							justified
							class="bg-light"
							style="overlay: auto"
						>
							<b-nav-item
								class="shadow border activate"
								:class="{
									['bg-secondary text-white']:
										moduloActive == modulo,
								}"
								v-for="(modulo, index) in modulos"
								:key="index"
								@click="
									getSubmodulos(modulo.idModulo);
									getSecciones(modulo.idModulo);
									setModuloActive(modulo);
									2;
								"
							>
								{{ modulo.nombre }}
							</b-nav-item>
							<b-nav-item
								class="shadow activate border text-danger"
								v-b-modal.modal-modulo
								@click="moduloEdit = null"
							>
								<i class="fas fa-plus-circle"></i> Agregar
								módulo
							</b-nav-item>
						</b-nav>
					</b-card-header>
					<b-card-body v-if="moduloActive">
						<b-row>
							<b-col lg="2"> </b-col>
							<b-col lg="8">
								<h3 class="text-center">
									Módulo de {{ moduloActive.nombre }}
								</h3>
							</b-col>
							<b-col lg="2">
								<b-link
									class="link-light float-right mt-2"
									@click="openModalSubmodulo"
								>
									<i
										class="fas fa-plus-circle"
										style="cursor: pointer"
									></i>
									Agregar submodulo
								</b-link>
							</b-col>
						</b-row>

						<div
							v-for="(submodulo, index) in submodulos"
							:key="'sub.' + index"
							class="mb-3"
						>
							<b-row>
								<b-col class="mt-2">
									<h4 class="ml-3 mb-0">
										{{ submodulo.nombre }}
										<b-link
											class="text-secondary ml-0 pl-3"
											v-b-modal.modal-submodulo
											@click="editSubmodulo(submodulo)"
										>
											<i
												class="fas fa-edit"
												style="cursor: pointer; font-size: 14px;"
											></i>
										</b-link>
									</h4>
								</b-col>
								<b-col class="mt-2">
									<b-link
										class="link-light ml-5 pl-3 float-right"
										v-b-modal.modal-seccion
										@click="createSeccion(submodulo)"
									>
										<i
											class="fas fa-plus-circle"
											style="cursor: pointer"
										></i>
										Agregar sección
									</b-link>
								</b-col>
							</b-row>
							<ad-estructura-seccion-component
								v-for="(seccion, index2) in seccionBySubmodulo(
									submodulo.idSubmodulo
								)"
								:key="'sec.' + index2"
								:seccion="seccion"
							/>
							<hr />
						</div>
					</b-card-body>
					<div style="height: calc(100vh - 216px)" v-else>
						<icon-text-component
							:circleStyle="{
								backgroundColor: '#f4f4f6',
								color: '#45555f',
							}"
							:icon="'far fa-comment-dots'"
							:text="'SELECCIONE UN MÓDULO'"
						/>
					</div>
				</b-card>
			</b-col>
		</b-row>

		<modal-component
			:id="'modal-modulo'"
			title="Agregar módulo"
			:hideFooter="true"
		>
			<template slot="content">
				<ad-estructura-form-modulo-component />
			</template>
		</modal-component>

		<modal-component
			:id="'modal-submodulo'"
			title="Agregar submódulo"
			:hideFooter="true"
			:hideHeader="true"
			:centered="true"
			v-if="moduloActive"
		>
			<template slot="content">
				<ad-estructura-form-submodulo-component
					:idModulo="moduloActive.idModulo"
					:submodulo="submodulo"
				/>
			</template>
		</modal-component>

		<modal-component
			:id="'modal-seccion'"
			title="Agregar sección"
			:hideFooter="true"
			:hideHeader="true"
			:centered="true"
			v-if="moduloActive && submoduloActive"
		>
			<template slot="content">
				<ad-estructura-form-seccion-component
					:idModulo="moduloActive.idModulo"
					:idSubmodulo="submoduloActive.idSubmodulo"
				/>
			</template>
		</modal-component>
	</b-container>
</template>

<script>
import { mapActions, mapMutations, mapState } from "vuex";
export default {
	data() {
		return {
			active: "border-active",
			showSidebar: false,
			selected: null,
			filter: "",
			autorizaciones: [],
			newFuncion: false,
			submoduloActive: null,
			submodulo: null,
		};
	},
	mounted() {
		if (!this.modulos.length) this.getModulos();
		if (this.moduloActive) {
			this.getSubmodulos(this.moduloActive.idModulo);
			this.getSecciones(this.moduloActive.idModulo);
		}
		this.setSuccess(false);
	},
	methods: {
		...mapActions("ad_estructura", [
			"getSecciones",
			"getSubmodulos",
			"getModulos",
		]),
		...mapMutations("ad_estructura", ["setSuccess", "setModuloActive"]),
		seccionBySubmodulo(idSubmodulo) {
			if (this.secciones) {
				const sec = this.secciones.filter(
					(seccion) => seccion.idSubmodulo == idSubmodulo
				);
				return sec;
			}
		},
		createSeccion(submodulo) {
			this.submoduloActive = submodulo;
		},
		editSubmodulo(submodulo) {
			this.submodulo = submodulo;
		},
		openModalSubmodulo(){
			this.submodulo = null;
			this.$bvModal.show("modal-submodulo");
		}
	},
	computed: {
		...mapState("ad_estructura", [
			"submodulos",
			"secciones",
			"load",
			"success",
			"modulos",
			"moduloActive",
		]),
	},
	watch: {},
};
</script>
