<template>
	<div>
		<b-form>
			<b-form-group>
				<template v-slot:label>
					<div class="lab-form">Módulo<span class="req">*</span></div>
				</template>
				<b-form-input
					placeholder="Nombre"
					v-model="form.nombre"
				></b-form-input>
			</b-form-group>
			<b-form-group>
				<template v-slot:label>
					<div class="lab-form">Clave<span class="req">*</span></div>
				</template>
				<b-form-input
					placeholder="Clave"
					v-model="form.idModulo"
				></b-form-input>
			</b-form-group>
			<div class="d-flex flex-row-reverse bd-highlight">
				<b-button variant="danger" class="ml-3 my-2" @click="submit">
					CREAR
				</b-button>
				<b-button
					variant="white"
					class="link-light my-2"
					@click="cancel"
				>
					CANCELAR
				</b-button>
			</div>
		</b-form>
	</div>
</template>

<script>
import { mapMutations } from "vuex";
export default {
	data() {
		return {
			form: {
				nombre: null,
				idModulo: "",
			},
		};
	},
	mounted() {},
	methods: {
		...mapMutations("ad_estructura", [
			"addModulo",
			"setLoad",
			"setSuccess",
		]),
		async submit() {
			this.setLoad(true);
			this.setSuccess(false);
			const response = await axios.post(
				BaseUrl + `/api/modulos`,
				this.form
			);
			if (response.data.success) {
				this.setLoad(false);
				this.setSuccess(true);
				this.addModulo(response.data.modulo);
				this.terminar();
			}
		},
		terminar() {
			this.$bvModal.hide("modal-modulo");
		},
		cancel() {
			this.$bvModal.hide("modal-modulo");
		},
	},
};
</script>
