<template>
	<div>
		<b-form>
			<b-form-group>
				<template v-slot:label>
					<div class="lab-form">
						Submodulo<span class="req">*</span>
					</div>
				</template>
				<b-form-input
					placeholder="Nombre"
					v-model="form.nombre"
				></b-form-input>
			</b-form-group>
			<b-form-group>
				<template v-slot:label>
					<div class="lab-form">Clave<span class="req">*</span></div>
				</template>
				<b-form-input
					placeholder="Clave"
					v-model="form.idSubmodulo"
				></b-form-input>
			</b-form-group>
			<div class="d-flex flex-row-reverse bd-highlight">
				<b-button variant="danger" class="ml-3 my-2" @click="submit">
					CREAR
				</b-button>
				<b-button
					variant="white"
					class="link-light my-2"
					@click="cancel"
				>
					CANCELAR
				</b-button>
			</div>
		</b-form>
	</div>
</template>

<script>
import { mapMutations } from "vuex";
export default {
	props: {
		idModulo: String,
		submodulo: Object,
	},
	data() {
		return {
			form: {
				nombre: null,
				idSubmodulo: "",
				idModulo: null,
			},
		};
	},
	mounted() {
		this.form.idModulo = this.idModulo;
		this.form.idSubmodulo = this.idModulo + ".";
		if (this.submodulo) this.setDataEdit();
	},
	methods: {
		...mapMutations("ad_estructura", [
			"updateSubmodulo",
			"addSubmodulo",
			"setLoad",
			"setSuccess",
		]),
		async submit() {
			this.setLoad(true);
			this.setSuccess(false);
			const response = !this.submodulo
				? await axios.post(BaseUrl + `/api/submodulos`, this.form)
				: await axios.put(
						BaseUrl +
							`/api/submodulos/${this.submodulo.idSubmodulo}`,
						this.form
				  );
			if (response.data.success) {
				this.setLoad(false);
				this.setSuccess(true);
				if (this.submodulo)
					this.updateSubmodulo(response.data.submodulo);
				else this.addSubmodulo(response.data.submodulo);
				this.terminar();
			}
		},
		cancel() {
			this.$bvModal.hide("modal-submodulo");
		},
		setDataEdit() {
			this.form.nombre = this.submodulo.nombre;
            this.form.idSubmodulo = this.submodulo.idSubmodulo;
        },
		terminar() {
			this.$bvModal.hide("modal-submodulo");
		},
	},
};
</script>
