<template> 
    <div>
        <b-row v-if="seccion">
            <b-col lg="3">
                <b-form-input
                    placeholder="Nombre"
                    size="sm"
                    v-model="form.nombre"
                ></b-form-input>
            </b-col>
             <b-col lg="3">
                <b-form-input
                    placeholder="Clave"
                    size="sm"
                    v-model="form.idSeccion"
                ></b-form-input>
            </b-col>
            <b-col lg="4"></b-col>
            <b-col lg="2">
                <b-button size="sm" variant="danger" @click="submit"
                    >Guardar</b-button
                >
                <b-button size="sm" variant="light" class="ml-2" @click="terminar"
                    >Cancelar</b-button
                >
            </b-col>
	    </b-row>
        <b-form v-else>
            <b-form-group>
                <template v-slot:label>
					<div class="lab-form">
						Seccion<span class="req">*</span>
					</div>
				</template>
                <b-form-input
                    placeholder="Nombre"
                    v-model="form.nombre"
                ></b-form-input>
            </b-form-group>
            <b-form-group>
                <template v-slot:label>
					<div class="lab-form">
						Clave<span class="req">*</span>
					</div>
				</template>
                 <b-form-input
                    placeholder="Clave"
                    v-model="form.idSeccion"
                ></b-form-input>
            </b-form-group>
             <div class="d-flex flex-row-reverse bd-highlight">
            <b-button
                variant="danger"
                class="ml-3 my-2"
                @click="submit"
            >
                CREAR
            </b-button>
            <b-button
                variant="white"
                class="link-light my-2"
                @click="cancel"
            >
                CANCELAR
            </b-button>
        </div>
        </b-form>
    </div>
</template>

<script>
import { mapMutations } from 'vuex';
export default {
	props: {
        idModulo: String,
        idSubmodulo: String,
		seccion: Object,
	},
	data() {
		return {
			form: {
                nombre: "",
                idSeccion: "",
                idModulo: "",
			},
		};
	},
	mounted() {
        this.form.idModulo = this.idModulo;
        this.form.idSubmodulo = this.idSubmodulo;
        this.form.idSeccion = this.idSubmodulo + ".";
		if (this.seccion) this.setDataEdit();
	},
	methods: {
        ...mapMutations('ad_estructura', ['addSeccion', 'updateSeccion', 'setLoad', 'setSuccess']),
		async submit() {
            this.setLoad(true)
            this.setSuccess(false)
			const response = !this.seccion
				? await axios.post(BaseUrl + `/api/secciones`, this.form)
                : await axios.put(BaseUrl + `/api/secciones/${this.seccion.idSeccion}`, this.form);
			if (response.data.success) {
                this.setLoad(false);
				this.setSuccess(true);
				if (this.seccion) this.updateSeccion(response.data.seccion);
				else this.addSeccion(response.data.seccion);
				this.terminar();
			}
		},
		terminar() {
			if (this.seccion) this.$emit("terminarEdicion");
            else this.$bvModal.hide("modal-seccion");
		},
		setDataEdit() {
			this.form.nombre = this.seccion.nombre;
			this.form.descripcion = this.seccion.descripcion;
            this.form.idSeccion = this.seccion.idSeccion;
        },
        cancel() {
			this.$bvModal.hide("modal-seccion");
		},
	},
};
</script>