<template>
	<b-row>
		<b-col lg="3">
			<b-form-input
				placeholder="Nombre"
				size="sm"
				v-model="form.nombre"
			></b-form-input>
		</b-col>
        <b-col lg="3">
			<b-form-input
				placeholder="Clave"
				size="sm"
				v-model="form.idFuncion"
			></b-form-input>
			<label class="text-danger" v-if="duplicada"><small>Clave duplicada</small></label>
		</b-col>
		<b-col lg="4">
			<b-form-input
				placeholder="Descripción"
				size="sm"
				v-model="form.descripcion"
			></b-form-input>
		</b-col>
		<b-col lg="2">
			<b-button size="sm" variant="danger" @click="submit"
				>Guardar</b-button
			>
			<b-button size="sm" variant="light" class="ml-2" @click="terminar"
				>Cancelar</b-button
			>
		</b-col>
	</b-row>
</template>

<script>
import { mapMutations } from 'vuex';
export default {
	props: {
		idSeccion: String,
		funcion: Object,
	},
	data() {
		return {
			duplicada: false,
			form: {
				nombre: "",
				descripcion: "",
				idFuncion: "",
				idSeccion: "",
			},
		};
	},
	mounted() {
        this.form.idSeccion = this.idSeccion;
        this.form.idFuncion = this.idSeccion + ".";
		if (this.funcion) this.setDataEdit();
	},
	methods: {
        ...mapMutations('ad_estructura', ['addFuncion', 'updateFuncion', 'setLoad', 'setSuccess']),
		async submit() {
			this.duplicada = false
            this.setLoad(true)
			this.setSuccess(false)
			try{
				const response = !this.funcion
					? await axios.post(BaseUrl + `/api/funciones`, this.form)
					: await axios.put(BaseUrl + `/api/funciones/${this.funcion.idFuncion}`, this.form);
					
				if(response.data.duplicada) {
					this.duplicada = true
				} else if (response.data.success) {
					this.setLoad(false);
					this.setSuccess(true);
					if (this.funcion) this.updateFuncion(response.data.funcion);
					else this.addFuncion(response.data.funcion);
					this.terminar();
				}
			} catch (error) {
				console.log(error);
			}
		
		},
		terminar() {
			if (this.funcion) this.$emit("terminarEdicion");
			else this.$emit("terminarCreacion");
		},
		setDataEdit() {
			this.form.nombre = this.funcion.nombre;
			this.form.descripcion = this.funcion.descripcion;
			this.form.idFuncion = this.funcion.idFuncion;
		},
	},
};
</script>