<template>
    <b-tr>
        <b-td>
            <b-row>
                <template v-if="editarFuncion && funcionActiva.idFuncion == funcion.idFuncion">
                    <b-col lg="12">
                        <ad-estructura-form-funcion-component
                            :idSeccion="seccion.idSeccion"
                            :funcion="funcion"
                            @terminarEdicion="editarFuncion = false"
                        />
                    </b-col>
                </template>
                <template v-else>
                    <b-col lg="3" class="pl-5">{{ funcion.nombre }}</b-col>
                    <b-col lg="3">{{ funcion.idFuncion }}</b-col>
                    <b-col lg="4">
                        <em v-if="funcion.descripcion">({{ funcion.descripcion }})</em>
                        <em v-else>(Sin descripción)</em>
                    </b-col>
                    <b-col lg="2" class="pr-5">
                        <b-link @click="showMsgBoxDeleteConfirm(funcion, 'funcion')" class="text-secondary ml-3 float-right"
                            ><i class="fas fa-trash"></i
                        ></b-link>
                        <b-link @click="editFuncion(funcion)" class="text-secondary float-right"
                            ><i class="fas fa-edit"></i
                        ></b-link>
                    </b-col>
                </template>
            </b-row>
        </b-td>
    </b-tr>
</template>


<script>
import { mapMutations } from 'vuex';
export default {
	props: {
        seccion: Object,
		funcion: Object,    
	},
	data() {
		return {
			editarFuncion: false,
			funcionActiva: null,
		};
	},
	methods: {
		...mapMutations("ad_estructura", ["deleteFuncion"]),
		editFuncion(funcion) {
			this.editarFuncion = true;
			this.funcionActiva = funcion;
		},
		async deleteFun(funcion) {
			try {
				const response = await axios.delete(
					BaseUrl + `/api/funciones/${funcion.idFuncion}`
				);
				// console.log(response)
				if (response.data.success) {
					this.deleteFuncion(funcion);
					this.makeToast(
						"success",
						"Exito",
						"Se ha eliminado correctamente la función"
					);
				}
			} catch (error) {
				this.makeToast(
					"danger",
					"Error",
					"Ha ocurrido un problema al eliminar la función"
				);
				// console.log(error);
			}
		},
		makeToast(variant = null, title, text) {
			this.$bvToast.toast(text, {
				title: title,
				variant: variant,
				solid: true,
			});
		},
		showMsgBoxDeleteConfirm(data, tipo) {
			this.$bvModal
				.msgBoxConfirm(`¿Esta seguro que desea eliminar esta ${tipo}?`, {
					title: "Favor de confirmar",
					size: "sm",
					buttonSize: "sm",
					okVariant: "danger",
					cancelVariant: "light",
					okTitle: "Confirmar",
					cancelTitle: "Cancelar",
					headerClass: "pt-3 pb-2 border-bottom-0",
					footerClass: "p-2 border-top-0",
					centered: true,
				})
				.then((confirm) => {
					if (confirm) {
						if(tipo == "funcion")
							this.deleteFun(data);
						if(tipo == "seccion")
							this.deleteSec(data);
					}
				});
		},
	},
};
</script>