<template>
	<div class="mt-4">
		<b-table-simple hover class="mt-3 mb-0">
			<b-thead>
				<b-tr class="bg-light">
					<b-td>
						<b-row>
							<template v-if="editarSeccion">
								<b-col lg="12">
									<ad-estructura-form-seccion-component
										:seccion="seccion"
										@terminarEdicion="editarSeccion = false"
									/>
								</b-col>
							</template>
							<template v-else>
								<b-col lg="3" class="pl-5">
									<strong>{{ seccion.nombre }}</strong>
								</b-col>
								<b-col lg="3">
									<strong>{{ seccion.idSeccion }}</strong>
								</b-col>
								<b-col lg="6" class="pr-5">
									<b-link @click="showMsgBoxDeleteConfirm(seccion, 'seccion')" class="text-secondary ml-3 float-right"
										><i class="fas fa-trash"></i
									></b-link>
									<b-link @click="editSeccion()" class="text-secondary float-right"
										><i class="fas fa-edit"></i
									></b-link>
								</b-col>
							</template>
						</b-row>
					</b-td>
				</b-tr>
			</b-thead>
			<b-tbody>
				<ad-estructura-funcion-component
					v-for="(funcion, index3) in seccion.funciones"
					:seccion="seccion"
					:funcion="funcion"
					:key="'fun.' + index3"
				/>
				<b-tr v-if="crearFuncion">
					<template>
						<b-td colspan="4">
							<ad-estructura-form-funcion-component
								:idSeccion="seccion.idSeccion"
								@terminarCreacion="crearFuncion = false"
							/>
						</b-td>
					</template>
				</b-tr>
			</b-tbody>
		</b-table-simple>
		<hr class="mt-0">
		<b-link
			v-if="!crearFuncion"
			class="link-light ml-5 pl-3 py-3"
			@click="createFuncion"
		>
			<i class="fas fa-plus-circle" style="cursor: pointer"></i>
			Agregar funcionalidad
		</b-link>
	</div>
</template>


<script>
import { mapMutations } from 'vuex';
export default {
	props: {
		seccion: Object,
	},
	data() {
		return {
			crearFuncion: false,
			crearSeccion: false,
			editarSeccion: false,
			funcionActiva: null,
			seccionActiva: null,
		};
	},
	methods: {
		...mapMutations("ad_estructura", ["deleteSeccion"]),
		createFuncion() {
			this.crearFuncion = true
		},
		editSeccion(funcion) {
			this.editarSeccion = true;	
		},
		async deleteSec(seccion) {
			try {
				const response = await axios.delete(
					BaseUrl + `/api/secciones/${seccion.idSeccion}`
				);
				if (response.data.success) {
					this.deleteSeccion(seccion);
					this.makeToast(
						"success",
						"Exito",
						"Se ha eliminado correctamente la sección"
					);
				}
			} catch (error) {
				this.makeToast(
					"danger",
					"Error",
					"Ha ocurrido un problema al eliminar el registro"
				);
				// console.log(error);
			}
		},
		makeToast(variant = null, title, text) {
			this.$bvToast.toast(text, {
				title: title,
				variant: variant,
				solid: true,
			});
		},
		showMsgBoxDeleteConfirm(data, tipo) {
			this.$bvModal
				.msgBoxConfirm(`¿Esta seguro que desea eliminar esta sección?`, {
					title: "Favor de confirmar",
					size: "sm",
					buttonSize: "sm",
					okVariant: "danger",
					cancelVariant: "light",
					okTitle: "Confirmar",
					cancelTitle: "Cancelar",
					headerClass: "pt-3 pb-2 border-bottom-0",
					footerClass: "p-2 border-top-0",
					centered: true,
				})
				.then((confirm) => {
					if (confirm) {
						if(tipo == "funcion")
							this.deleteFun(data);
						if(tipo == "seccion")
							this.deleteSec(data);
					}
				});
		},
	},
};
</script>