<template>
	<div style="height: 50vh" class="div-content">
		<div align="center">
			<div class="mt-5 mb-5">
				<h2 class="text-dark" style="margin-top: 0px; opacity:0.8">CENTRO DE ADMINISTRACIÓN<br><small>ERP</small></h2>
			</div>
			<div class="container">
				<hr>
				<b-row class="row" style="margin-top: 50px">			
					<b-col lg="4" xs="12">
						<a variant="light" @click="toRoute('ad.estructura')">
							<div class="panel activate">
								<div class="panel-body">
									<div class="icon" style="margin-bottom:0px; margin-top: -15px">
										<i class="fas fa-sitemap"></i>
									</div>	
									<h2 class="text-center text-secondary mb-3">
										<strong>ERP Estructura</strong>
									</h2>								
								</div>              
							</div>
						</a>
					</b-col>		
					<b-col lg="4" xs="12">
						<a variant="light" @click="toRoute('ad.roles')">
							<div class="panel activate">
								<div class="panel-body">
									<div class="icon" style="margin-bottom:0px; margin-top: -15px">
										<i class="fas fa-user-tag"></i>
									</div>	
									<h2 class="text-center text-secondary mb-3">
										<strong>ERP Roles</strong>
									</h2>								
								</div>              
							</div>
						</a>
					</b-col>		
					<b-col lg="4" xs="12">
						<a variant="light" @click="toRoute('ad.usuarios')">
							<div class="panel activate">
								<div class="panel-body">
									<div class="icon" style="margin-bottom:0px; margin-top: -15px">
										<i class="fas fa-users"></i>
									</div>	
									<h2 class="text-center text-secondary mb-3">
										<strong>ERP Usuarios</strong>
									</h2>								
								</div>              
							</div>
						</a>
					</b-col>		
				</b-row>
			</div>
		</div>
	</div>
</template>
<script>

    export default {
        data() {
            return {
		     	
		    };
        },
        mounted()
        {
          

        },
        methods: {
           toRoute(routeName)
           {
           		this.$router.push({ name: routeName })
           },
        },
    }
</script>
<style scoped>
	.panel {
	    background-color: #fff;
	    border: 1px solid transparent;
	    border-radius: 4px;
	    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
	    box-shadow: 0 1px 1px rgba(0,0,0,.05);
	}

	.panel-body{
		padding: 18px;
	}


	.disabled{
		opacity: 0.5;
		cursor: not-allowed;
	}

	.navbar {
		background-color: transparent;
		border: transparent;
	    margin-bottom: 0px;
	}

	.navbar-inverse {
	    background-image: linear-gradient(to bottom,transparent 0,transparent 100%);
	}

	footer {
	    height: 100px;
	    bottom: 0;
	    width: 100%;
	    margin-top: 120px;
	}

	.bg-light{
		background-color: rgb(159, 161, 164, .1) !important;
		color: rgb(69, 85, 95) !important;
	}
	.text-dark{
		color: rgb(69, 85, 95) !important;
	}

	.text-dark-80{
		color: rgb(69, 85, 95, .80) !important;
	}

	.text-secondary{
		color: rgb(106, 115, 123) !important;
	}

	.icon {
	    -webkit-transition: all .3s linear;
	    -o-transition: all .3s linear;
	    transition: all .3s linear;
	    position: sticky;
	    z-index: 0;
	    font-size: 80px;
	    color: rgba(0,0,0,0.15);
	}

	.activate:hover{
		-webkit-box-shadow: 0px 0px 23px -4px rgba(255,102,102,1);
		-moz-box-shadow: 0px 0px 23px -4px rgba(255,102,102,1);
		box-shadow: 0px 0px 23px -4px rgba(255,102,102,1);
		transition: all .2s linear;
	}

</style>




