<template>
	<b-collapse id="nav-collapse" is-nav>
		<b-navbar-nav>

			<b-nav-item class="px-2" 
				:to="{name:'ad.estructura'}">
				<i class="far fa-calendar-alt" style="color:white"></i>
				Estructura
			</b-nav-item>

			<b-nav-item class="px-2" 
				:to="{name:'ad.roles'}">
				<i class="far fa-calendar-alt" style="color:white"></i>
				Roles
			</b-nav-item>

			<b-nav-item class="px-2" 
				:to="{name:'ad.usuarios'}">
				<i class="far fa-calendar-alt" style="color:white"></i>
				Usuarios
			</b-nav-item>

		</b-navbar-nav>

		<b-navbar-nav class="ml-auto">

			<b-nav-item class="pr-0" right>
				<b-button variant="link">
					<i class="fas fa-question-circle text-white"></i>
				</b-button>
			</b-nav-item>

			<b-nav-item-dropdown right>
				<template v-slot:button-content>
					<b-avatar :src="urlImage" class="mr-2" variant="dark"></b-avatar>
        			<span class="mr-auto">{{ nombreUsuario }}</span>
				</template>

				<b-dropdown-item href="http://localhost:8080/erp-ammmec/modules/ventas/?c=perfil&g=true"
					style="color: #777;">
					<div class="mr-5 ml-1">
						<i class="fas fa-user-circle pr-2"></i>
						Mi cuenta
					</div>
				</b-dropdown-item>

	            <hr class="pb-1 mb-0 mt-1">

				<b-dropdown-item
					:to="{ name: 'ad.cf.cuentas_externas' }"
					style="color: #777"
				>
					<div class="mr-5 ml-1">
						<i class="fas fa-cogs pr-2"></i>
						Configuración
					</div>
				</b-dropdown-item>

	            <hr class="pb-1 mb-0 mt-1">
	            
				<b-dropdown-item @click="logout"
					style="color: #777;">
					<div class="mr-5 ml-1">
						<i class="fas fa-sign-out-alt pr-2"></i> 	
						Cerrar sesión
					</div>
				</b-dropdown-item>

			</b-nav-item-dropdown>
		</b-navbar-nav> 
	</b-collapse>
</template>


<script>
		
	import { mapState, mapActions} from 'vuex'

	export default {
		  props:{
            usuario: Object
        },
		data() {
		    return {
		     	urlImage: null
		    };
		},
		mounted(){
			this.urlImagen(this.usuario.foto);
		},
		methods:{
			urlImagen(foto){
				this.urlImage = BaseUrl + '/img/profiles/' + foto;
			},

			logout() {
                axios.post(BaseUrl + '/logout').then(response => {
                    this.$router.push(BaseUrl + '/')
                }).catch(error => {
                    location.reload()
                })
            },
            presupuesto()
            {
            	this.getPresupuestos(this.embudoSelected.idEmbudo)
            	this.getNegocios()
            },
		},
		computed:{
			...mapState(['nombreUsuario']),
			...mapState('notifications', ['notCount']),
			...mapState('negocios', ['embudoSelected']),
		},
	}
</script>
