<template> 
	<b-container fluid style="height: calc(100vh - 54px)">
		<b-row class="h-100">
			<b-col lg="2" class="px-0">
				<nr-procesos-sidebar />
			</b-col>
			<b-col lg="10" class="pl-0">
				<nr-mapeo-departamental v-if="areaActiva" />
				<nr-mapeo-organizacional v-else />
			</b-col>
		</b-row>
	</b-container>
</template>

<script>
	import { mapState, mapActions } from 'vuex'
    export default {
        data() {
            return {
				
            }
        },
        mounted(){
			var areaActiva = this.$route.params.departamento;
			if(areaActiva)
				this.getArea(areaActiva)
        },
        methods:{
        	...mapActions('areas', ['getArea'])
        },
        computed: {
        	...mapState('areas', ['areaActiva'])
        }
       
    }
</script>

<style>
    .card-body-scroll{
        max-height: calc(100vh - 218px);
        overflow-y:auto;
    }

    input:focus, 
    input.form-control:focus, 
    [contenteditable].form-control:focus {
        box-shadow: inset 0 0px 0 #ddd;
    }
</style>

	