<template>
	<form ref="form" @submit.stop.prevent="submit">

		<template v-if="!areaActiva.manual || changeFile">
			<b-form-group label="Archivo" label-for="file-default">
				<b-form-file 
					id="file-default" 
					name="file"
					placeholder="Seleccione un archivo" 
					@change="setFile"
					v-model="$v.form.file.$model" 
					:state="$v.form.file.$dirty ? !$v.form.file.$error : null">					
				</b-form-file>
				<b-form-invalid-feedback id="file-required">
					Campo obligatorio
				</b-form-invalid-feedback>
			</b-form-group>
		</template>
		
		<template v-if="areaActiva.manual && !changeFile">
			<div class="text-center mt-3">
				<h5>{{ areaActiva.manual.nombre }} 
				</h5>
				<hr class="mb-2">
				<p><small>
					Archivo actual&nbsp;
					<b-link @click="changeFile = !changeFile" class="text-danger">
						<i class="fas fa-edit"></i>
					</b-link>
				</small></p>
			</div>
		</template>

		<b-row>
			<b-col lg="6">

				<b-form-group label="Clave">
					<b-form-input type="text"
						id="input-clave"
						v-model="$v.form.clave.$model"
						:state="$v.form.clave.$dirty ? !$v.form.clave.$error : null"
						placeholder="Ej. ABC"
						aria-describedby="clave-required"
						class="text-center"
						@input="textToUpper">
					</b-form-input>
					<b-form-invalid-feedback id="clave-required">
						Campo obligatorio
					</b-form-invalid-feedback>
				</b-form-group>

			</b-col>
			<b-col>

				<b-form-group label="Versión">
					<b-form-input type="text"
						id="input-version"
						v-model="$v.form.version.$model"
						:state="$v.form.version.$dirty ? !$v.form.version.$error : null"
						placeholder="Ej. 01"
						aria-describedby="feedback-version"
						class="text-center">
					</b-form-input>
					<b-form-invalid-feedback id="feedback-version">
						Campo obligatorio
					</b-form-invalid-feedback>
				</b-form-group>
				
			</b-col> 
		</b-row>
		<div class="text-center mt-3">
			<h1 class="text-dark">
				M - {{codigoArea}} - {{form.clave}} - {{form.version}}
			</h1>
			<hr class="mb-2">
			<p><small>Código</small></p>
		</div>	
		
		<b-form-group label="Última modificación">
			<b-calendar 
				block
      			v-model="$v.form.ultimaModificacion.$model"
				@context="onContext"
				locale="es-US"
				selected-variant="danger" 
				today-variant="secondary">
					
			</b-calendar>
			
			<div id="feedback-calendar" class="text-danger" v-if="$v.form.ultimaModificacion.$error">
				<small class="mt-1">Campo obligatorio</small>
			</div>
		</b-form-group>

	</form>
</template>

<script>
	import { required, minLength,numeric,maxLength,alpha,url} from 'vuelidate/lib/validators'
	import { mapState, mapMutations, mapActions } from 'vuex'
	export default {
		props:{

		},
		data() {
			return {
				changeFile: false,
				context: null,
				form:{
		            idManual: null,
		            file: null,
		            version: "",
		            clave: "",
		            ultimaModificacion: ''
		        },
			}
		},
		mounted() {
			if(this.areaActiva.manual) 
				this.setDataEdit()
		},
		methods: {
			...mapMutations(['modalSubmit', 'modalOk']),
			...mapMutations('areas', ['setManual']), 
			setFile(e) {
		      	this.form.file = e.target.files[0];
		    },
			async submit() {
				this.$v.$touch()

				if (!this.$v.$invalid) {
		
					var data = new FormData();

			      	data.append('idManual', this.form.idManual);
			      	data.append('idArea', this.idArea);
			      	data.append('file', this.form.file);

			      	data.append('clave', this.form.clave);
			      	data.append('version', this.form.version);
			      	data.append('codigo', this.codigo);

			      	data.append('codigoArea', this.codigoArea)
			      	data.append('ultimaModificacion', this.form.ultimaModificacion)

			      	try{

			      		const response = (!this.areaActiva.manual) ?
		            		await axios.post(BaseUrl + `/api/nr/manual-departamental`, data) :
		            		await axios.post(BaseUrl + `/api/nr/manual-departamental/update`, data)

		                if(response.data.success){
		                    this.setManual(response.data.manual)
		                	this.modalSubmit(true) 
		                }else{
		                	this.modalOk(false)
		                }

			      	}catch(e){
			      		this.modalOk(false)
			      	}
				}else{
					this.modalOk(false)
				}
			},
			setDataEdit()
			{
				this.form.idManual = this.areaActiva.manual.idManual
				this.form.clave = this.areaActiva.manual.clave
				this.form.version = this.areaActiva.manual.version
				this.form.ultimaModificacion = this.areaActiva.manual.ultima_modificacion
			},
			textToUpper(val)
			{
				this.form.clave= val.toUpperCase()
			},
			onContext(ctx) {
        		this.context = ctx
      		}
		},
		computed: {
			...mapState(['okModal']),
			...mapState('areas', ['areaActiva']),
			codigoArea()
			{
				return this.areaActiva.codigo
			},
			idArea()
			{
				return this.areaActiva.idArea
			},
			codigo()
			{
				return `M-${this.codigoArea}-${this.form.clave}-${this.form.version}`;
			}
		},
		validations() {
			if(this.areaActiva.manual){
				return {
					form:{
						clave: { required },
						version: { required },
						file: { },
						ultimaModificacion: {},
					}
				}
			}else{
				return {
					form:{
						clave: { required },
						version: { required },
						file: { required },
						ultimaModificacion: { required }
					}
				} 
			}
		},
		watch: {
			okModal()
			{
				if(this.okModal==true){
					this.submit()
				}
			}
		}
	}
</script>

<style>
	.custom-file-input:lang(en) ~ .custom-file-label::after {
	  content: 'Elegir archivo';
	}
</style>