<template>
	<b-container fluid>
		<b-row>
			<b-col lg="8">
				<b-card class="mt-4 mx-3 border-top border-bottom text-center">
					<h2>Mapeo Departamental</h2>
					<h2 class="mb-0">
						{{ nombreArea }}
						<small
							><b-badge>{{ areaActiva.codigo }}</b-badge></small
						>
					</h2>
				</b-card>

				<div class="p-3 mt-2">
					<b-row>
						<b-col lg="4">
							<div v-if="areaActiva.manual">
								<b-link
									class="text-secondary"
									variant="link"
									style="font-size: 16px"
									@click="showMunual"
								>
									{{ areaActiva.manual.nombre }} </b-link
								>&nbsp;
								<b-link
									v-if="
										hasPermission(
											'ca.gc.md.manual_departamental.editar'
										)
									"
									class="text-danger"
									v-b-modal.modal-manual
								>
									<small><i class="fas fa-edit"></i></small>
								</b-link>
								<h6 class="mb-0 mt-1">
									<b-badge>{{
										areaActiva.manual.codigo
									}}</b-badge>
								</h6>
							</div>
							<div v-else class="mt-2">
								<b-link
									v-if="
										hasPermission(
											'ca.gc.md.manual_departamental.registrar'
										)
									"
									class="text-danger"
									variant="link"
									v-b-modal.modal-manual
								>
									Subir manual departamental
									<i class="fas fa-upload"></i>
								</b-link>
							</div>
							<modal-component
								:title="tituloModalManual"
								:id="'modal-manual'"
							>
								<template slot="content">
									<nr-form-manual-departamental />
								</template>
							</modal-component>
						</b-col>
						<b-col lg="4">
							<div class="text-center mt-2">
								<h4>Lista de procesos</h4>
							</div>
						</b-col>
						<b-col lg="4">
							<b-row>
								<b-col lg="12">
									<b-button
										v-if="
											hasPermission(
												'ca.gc.md.procesos.registrar'
											)
										"
										size="sm"
										variant="danger"
										class="float-right mt-2"
										v-b-modal.modal-proceso
										@click="setProceso(null)"
										><i class="fas fa-plus-circle"></i>
										Nuevo proceso</b-button
									>
									<modal-component
										:title="tituloModalProceso"
										:id="'modal-proceso'"
									>
										<template slot="content">
											<nr-form-proceso-component />
										</template>
									</modal-component>
								</b-col>
							</b-row>
							<!-- <b-row class="mt-3">
				    			<b-col lg="12">
				    				<div class="input-group w-100 bg-white">
						    			<div class="input-group-prepend bg-light mr-1 ml-3">
					                        <div class="pt-2 bg-white">
					                            <i class="fas fa-search"></i>
					                        </div>
					                    </div>
					                    <b-form-input id="input-search-procesos" class="form-control border-0" placeholder="Escribe tu busqueda aquí" style="overflow: hidden; overflow-wrap: break-word; resize: none;"></b-form-input>
					                 </div>
						    	</b-col>
				    		</b-row> -->
						</b-col>
					</b-row>
					<hr />
				</div>
				<div
					class=""
					style="height: calc(100vh - 325px); overflow-y: auto;"
					v-if="procesos.length"
				>
					<nr-proceso-component
						v-for="(proceso, index) in procesos"
						:key="index"
						:proceso="proceso"
					/>

					<modal-component
						:title="tituloModalProcedimiento"
						:id="'modal-procedimiento'"
						:centered="true"
					>
						<template slot="content">
							<nr-form-procedimiento-component />
						</template>
					</modal-component>
					<modal-component
						:title="'Confirmar eliminación'"
						:id="'modal-delete'"
						:centered="true"
					>
						<template slot="content">
							<form-delete />
						</template>
					</modal-component>
				</div>
				<div v-else class="mt-5">
					<h5 class="text-center mt-5">
						No se han registrado procesos
					</h5>
				</div>
			</b-col>
			<b-col lg="4" class="px-0">
				<nr-list-files-component />
			</b-col>
		</b-row>
	</b-container>
</template>

<script>
import { mapState, mapActions, mapMutations } from "vuex";

export default {
	data() {
		return {};
	},
	mounted() {},
	methods: {
		...mapActions("areas", ["getArea", "getArchivos"]),
		...mapMutations("areas", ["setProceso"]),
		showMunual() {
			window.open(
				BaseUrl +
					`/api/nr/manual-departamental/${this.areaActiva.manual.idManual}/show`,
				"_blank"
			);
		},
		hasPermission(funcion) {
			if (this.permissions.length) {
				const permiso = this.permissions.find(
					(permiso) => permiso.idFuncion == funcion
				);
				if (permiso) return true;
				return false;
			}
		},
	},
	computed: {
		...mapState(["permissions"]),
		...mapState("areas", [
			"areaActiva",
			"procesos",
			"procesoActivo",
			"procedimientoActivo",
		]),
		nombreArea() {
			if (this.areaActiva) return this.areaActiva.nombre;
			else {
				return "No se ha seleccionado un departamento";
			}
		},
		tituloModalProceso() {
			if (this.procesoActivo) return "Actualizar proceso";
			else return "Nuevo proceso";
		},
		tituloModalManual() {
			if (this.areaActiva.manual) return "Actualizar manual";
			else return "Subir manual";
		},
		tituloModalProcedimiento() {
			if (this.procedimientoActivo) return "Actualizar procedimiento";
			else return "Nuevo procedimiento";
		},
	},
};
</script>
<style>
/*.box-shadow{
		-webkit-box-shadow: 3px 3px 11px -1px rgba(0,0,0,0.23);
		-moz-box-shadow: 3px 3px 11px -1px rgba(0,0,0,0.23);
		box-shadow: 3px 3px 11px -5px rgba(0,0,0,0.23);
	}*/
input:focus,
input.form-control:focus,
[contenteditable].form-control:focus {
	box-shadow: inset 0 0px 0 #ddd;
}
#input-search-procesos {
	background-color: #fff !important;
	color: rgb(69, 85, 95) !important;
}
</style>
