<template>
	<b-container>
		<div class="mt-4 px-3">
			<b-card class="text-center">
				<h1 class="text-dark">Mapeo Organizacional</h1>
			</b-card>
		</div>
		<b-container>
			<b-row class="mt-3">
				<b-col lg="7"></b-col>
				<b-col lg="5">
					<div class="input-group w-100 bg-white shadow">
						<div class="input-group-prepend bg-light mr-1 ml-3">
							<div class="pt-2 bg-white">
								<i class="fas fa-search"></i>
							</div>
						</div>
						<b-form-input
							id="input-search-procesos"
							class="form-control border-0"
							placeholder="Escribe tu busqueda aquí"
							style="overflow: hidden; overflow-wrap: break-word; resize: none;"
							v-model="search"
							@keydown="searchFiles"
						></b-form-input>
					</div>
				</b-col>
			</b-row>
			<b-row class="mt-4" v-if="!search.length">
				<b-col cols="12">
					<b-row>
						<b-col cols="12">
							<b-card
								class="node-2 shadow bg-secondary-ligth"
								@click="toArea('dgn')"
							>
								<h4 class="mb-0 text-center text-dark-2">
									Dirección General
								</h4>
							</b-card>
						</b-col>
					</b-row>
					<b-row class="mt-3">
						<b-col cols="6">
							<b-card class="shadow bg-danger-ligth">
								<h4 class="mb-0 text-center">
									Modelo Operativo del Negocio
								</h4>
							</b-card>
						</b-col>
						<b-col cols="6">
							<b-card
								class="node-2 shadow bg-danger-ligth"
								@click="toArea('dmk')"
							>
								<h4 class="mb-0 text-center">Mercadotecnia</h4>
							</b-card>
						</b-col>
					</b-row>
					<b-row class="text-center">
						<b-col cols="12">
							<span style="font-size: 48px;">
								<i class="fas fa-caret-down text-dark"></i>
							</span>
						</b-col>
					</b-row>
					<b-row>
						<b-col cols="4">
							<b-card
								class="h-100 node-2 shadow bg-primary-ligth"
								@click="toArea('dop')"
							>
								<h4
									class="align-middle text-center"
									style="margin-top:75px"
								>
									Servicios
								</h4>
							</b-card>
						</b-col>
						<b-col cols="4">
							<b-row>
								<b-col cols="12">
									<b-row>
										<b-col cols="12">
											<b-card
												class="node-2 shadow bg-primary-ligth"
												@click="toArea('dcm')"
											>
												<h4 class="mb-0 text-center">
													Compras
												</h4>
											</b-card>
										</b-col>
									</b-row>
									<b-row class="mt-3">
										<b-col cols="12">
											<b-card
												class="node-2 shadow bg-primary-ligth"
												@click="toArea('dal')"
											>
												<h4 class="mb-0 text-center">
													Almacén
												</h4>
											</b-card>
										</b-col>
									</b-row>
									<b-row class="mt-3">
										<b-col cols="12">
											<b-card
												class="node-2 shadow bg-primary-ligth"
												@click="toArea('dco')"
											>
												<h4 class="mb-0 text-center">
													Conservación
												</h4>
											</b-card>
										</b-col>
									</b-row>
								</b-col>
							</b-row>
						</b-col>
						<b-col cols="4">
							<b-card
								class="h-100 node-2 shadow bg-primary-ligth"
								@click="toArea('dvt')"
							>
								<h4
									class="align-middle text-center"
									style="margin-top:75px"
								>
									Ventas
								</h4>
							</b-card>
						</b-col>
					</b-row>
					<b-row class="text-center">
						<b-col cols="12">
							<span style="font-size: 48px;">
								<i class="fas fa-caret-up text-dark"></i>
							</span>
						</b-col>
					</b-row>
					<b-row>
						<b-col cols="4">
							<b-card
								class="node-2 shadow bg-success-ligth"
								@click="toArea('drh')"
							>
								<h4 class="mb-0 text-center">Talento Humano</h4>
							</b-card>
						</b-col>
						<b-col cols="4">
							<b-card
								class="node-2 shadow bg-success-ligth"
								@click="toArea('dse')"
							>
								<h4 class="mb-0 text-center">Seguridad</h4>
							</b-card>
						</b-col>
						<b-col cols="4">
							<b-card
								class="node-2 shadow bg-success-ligth"
								@click="toArea('dnr')"
							>
								<h4 class="mb-0 text-center">Calidad</h4>
							</b-card>
						</b-col>
					</b-row>
					<b-row class="mt-3">
						<b-col cols="4">
							<b-card
								class="node-2 shadow bg-success-ligth"
								@click="toArea('dig')"
							>
								<h4 class="mb-0 text-center">Ingeniería</h4>
							</b-card>
						</b-col>
						<b-col cols="4">
							<b-card
								class="node-2 shadow bg-success-ligth"
								@click="toArea('dsi')"
							>
								<h4 class="mb-0 text-center">Sistemas</h4>
							</b-card>
						</b-col>
						<b-col cols="4">
							<b-card
								class="node-2 shadow bg-success-ligth"
								@click="toArea('dfn')"
							>
								<h4 class="mb-0 text-center">Finanzas</h4>
							</b-card>
						</b-col>
					</b-row>
					<b-row class="mt-3 mb-4">
						<b-col cols="12">
							<b-card
								class="node-2 shadow bg-secondary-ligth level-1"
							>
								<h4 class="mb-0 text-center text-dark-2">
									Sistema de Gestión de Calidad
								</h4>
							</b-card>
						</b-col>
					</b-row>
				</b-col>
			</b-row>

			<div class="list-group mt-4" v-else>
				<h3 class="text-dark mb-4">Resultados de tu búsqueda</h3>
				<b-list-group v-for="(file, index) in listFiles" :key="index">
					<b-card
						style="cursor:pointer"
						class="mb-2 shadow"
						@click="toFile(file)"
					>
						<p style="font-size: 18px" class="mb-0">
							{{ file.nombreArea }}
							<i class="fas fa-arrow-right text-danger"></i>
							<span style="font-size:19px"
								>{{ file.nombreProceso }}
								<i class="fas fa-arrow-right text-danger"></i>
							</span>
							<span style="font-size:20px"
								>{{ file.nombreProcedimiento }}
								<i class="fas fa-arrow-right text-danger"></i>
							</span>
							<span style="font-size:21px"
								>{{ file.nombreArchivo }}
							</span>
						</p>
					</b-card>
				</b-list-group>

				<infinite-loading
					@infinite="getArchivos"
					:identifier="infiniteId"
					spinner="spiral"
				>
					<span slot="no-more"></span>
					<template slot="spinner"> </template>
					<template slot="no-results"
						><h4 class="mt-4">
							No se encontraron resultados
						</h4></template
					>
				</infinite-loading>
			</div>
		</b-container>
	</b-container>
</template>

<script>
import { mapState, mapMutations, mapGetters, mapActions } from "vuex";

export default {
	data() {
		return {
			page: 1,
			search: "",
			showFilter: false,
			infiniteId: +new Date(),
			listFiles: [],
			areaActive: "",
			url: BaseUrl,
		};
	},
	mounted() {},
	methods: {
		...mapActions("areas", ["getArea"]),
		...mapMutations("areas", ["setSearchGeneral"]),
		toArea(area) {
			this.areaActive = area;
			this.getArea(area);
			var url = "/calidad/procesos/" + area;
			this.$router.push(BaseUrl + url);
		},
		getArchivos($state) {
			if (this.search.length > 0) {
				var api = BaseUrl + `/api/nr/archivos/search`;

				axios
					.get(api, {
						params: {
							page: this.page,
							search: this.search,
						},
					})
					.then((response) => {
						if (response.data.data.length) {
							this.page += 1;
							this.listFiles.push(...response.data.data);
							$state.loaded();
						} else {
							$state.complete();
						}
					});
			}
		},
		searchFiles() {
			this.page = 1;
			this.listFiles = [];
			this.infiniteId += 1;
		},
		toFile(file) {
			let codigoArea = file.codigoArea;
			this.getArea(codigoArea);
			var url = "/calidad/procesos/" + codigoArea;
			this.setSearchGeneral(file.nombreArchivo);
			this.$router.push(BaseUrl + url);
		},
	},
	computed: {},
};
</script>

<style>
.node-2 {
	/*position: relative;*/
	/* cursor: pointer;
	    -webkit-box-shadow: 3px 3px 11px -1px rgba(0,0,0,0.23);
		-moz-box-shadow: 3px 3px 11px -1px rgba(0,0,0,0.23);
		box-shadow: 3px 3px 11px -1px rgba(0,0,0,0.23);*/
	/*  height: auto;
	    border-radius: 4px;*/
	cursor: pointer !important;
}

/*	background-color: rgb(69, 85, 95, .1) !important;
		color: rgb(69, 85, 95, 1) !important;*/

.bg-success-ligth {
	/*border-color:  #effff2;*/
	color: #317531;
	border: 2px solid rgba(49, 117, 49, 0.5) !important;
	/*background-color: #5cb85c;
    	color: #fff;*/
}
.bg-secondary-ligth {
	/*border-color: #ececec;*/
	border: 2px solid rgb(117, 117, 117, 0.5) !important;
	color: rgba(0, 0, 0, 0.8);

	/*background-color: #556871;
		color: white;*/
}
.bg-primary-ligth {
	/*border-color: #f0f9ff;*/
	color: #006699;
	border: 2px solid rgba(0, 102, 153, 0.5) !important;

	/*background-color: #006699;
		color: white;*/
}
.bg-danger-ligth {
	/*border-color: #ffeaea;*/
	color: #bf332f;

	border: 2px solid rgba(191, 51, 47, 0.5) !important;
	/*background-color: #d9534f;
		color: white;*/
}

.box-shadow {
	-webkit-box-shadow: 3px 3px 11px -1px rgba(0, 0, 0, 0.23);
	-moz-box-shadow: 3px 3px 11px -1px rgba(0, 0, 0, 0.23);
	box-shadow: 3px 3px 11px -1px rgba(0, 0, 0, 0.23);
}
</style>
