<template>
	<div class="bg-dark p-4 h-100 border-top border-dark">
    	<h3 class="text-white mt-2 pl-2 pb-4 border-bottom border-dark">Áreas</h3>
	    	<b-list-group class="mt-3" flush>
	 			<b-list-group-item @click="toArea('dgn')" class="li-area"
						:class="{[active]: areaActive == 'dgn'}">
						Dirección General
				</b-list-group-item>
	 			<b-list-group-item @click="toArea('dmk')" class="li-area"
						:class="{[active]: areaActive == 'dmk'}">
						Mercadotecnia
				</b-list-group-item>
	 			<b-list-group-item @click="toArea('dcm')" class="li-area"
						:class="{[active]: areaActive == 'dcm'}">
						Compras
				</b-list-group-item>
	 			<b-list-group-item @click="toArea('dal')" class="li-area"
						:class="{[active]: areaActive == 'dal'}">
						Almacén
				</b-list-group-item>
	 			<b-list-group-item @click="toArea('dco')" class="li-area"
						:class="{[active]: areaActive == 'dco'}">
						Conservación
				</b-list-group-item>
	 			<b-list-group-item @click="toArea('dop')" class="li-area"
						:class="{[active]: areaActive == 'dop'}">
						Servicios
				</b-list-group-item>
	 			<b-list-group-item @click="toArea('dvt')" class="li-area"
						:class="{[active]: areaActive == 'dvt'}">
						Ventas
				</b-list-group-item>
	 			<b-list-group-item @click="toArea('drh')" class="li-area"
						:class="{[active]: areaActive == 'drh'}">
						Talento Humano
				</b-list-group-item>
	 			<b-list-group-item @click="toArea('dse')" class="li-area"
						:class="{[active]: areaActive == 'dse'}">
						Seguridad
				</b-list-group-item>
	 			<b-list-group-item @click="toArea('dnr')" class="li-area"
						:class="{[active]: areaActive == 'dnr'}">
						Calidad
				</b-list-group-item>
	 			<b-list-group-item @click="toArea('dfn')" class="li-area"
						:class="{[active]: areaActive == 'dfn'}">
						Finanzas
				</b-list-group-item>
	 			<b-list-group-item @click="toArea('dig')" class="li-area"
						:class="{[active]: areaActive == 'dig'}">
						Ingeniería
				</b-list-group-item>
	 			<b-list-group-item @click="toArea('dsi')" class="li-area"
						:class="{[active]: areaActive == 'dsi'}">
						Sistemas
				</b-list-group-item>
		</b-list-group>
  	</div>
</template>

<script>
    import { mapState, mapActions, mapMutations } from 'vuex'
    export default {
    	data(){
    		return {
    			active: 'bg-white text-dark',
    			areaActive: '',
    			url: BaseUrl
    		}
    	},
    	mounted() {
    		this.areaActive = this.$route.params.departamento;
    	},
    	methods: 
		{
			...mapMutations('areas', ['setArea']),
			...mapActions('areas', ['getArea']),
			toArea(area){
				if(this.areaActiva && area == this.areaActiva.codigo.toLowerCase()){
					this.setArea(null)
					var url = '/calidad/procesos/'
					this.$router.push(BaseUrl + url)
				}else{
					this.areaActive = area
					this.getArea(area)
					var url = '/calidad/procesos/' + area 
					this.$router.push(BaseUrl + url)
				}
			},
		},	
        computed: {
   			...mapState('areas', ['areaActiva']),
        },
        watch:{
        	areaActiva(){
        		if(this.areaActiva)
        			this.areaActive = this.areaActiva.codigo.toLowerCase()
        		else
        			this.areaActive = ''
        	}
        }
    }


</script>

<style>
	.bg-white{
		background-color: #fff !important;
	}
	.text-dark{
		color: rgb(69, 85, 95);
	}
	.li-area{
		color: #fff;
		background-color: rgb(69, 85, 95);
		cursor:pointer !important;
	}
</style>
