<template>
	<div class="container-fluid" style="height: calc(100vh - 56px)">
		<b-row class="p-3">
			<b-col lg="2">
				<div class="input-group w-100 mt-3">
					<div class="input-group-prepend bg-light mr-2 pt-1">
						<small><strong>Auxiliar por:</strong></small>
					</div>
					<b-form-select
						size="sm"
						v-model="tipoAuxiliar"
						:options="tiposAuxiliar"
						@change="changeTipoAuxiliar"
					>
						<template v-slot:first>
							<option :value="null" disabled>Seleccione</option>
						</template>
					</b-form-select>
				</div>
			</b-col>
			<b-col lg="8">
				<h1 class="text-center mb-0">Auxiliar de Movimientos</h1>
			</b-col>
			<!-- <b-col lg="2">
				<b-badge
					variant="success"
					class="float-right mt-5"
					v-show="success"
				>
					<i class="fas fa-check-circle mr-1"></i>Se han guardado
					correctamente los cambios
				</b-badge>
				<b-badge
					variant="light"
					class="float-right mt-5"
					v-show="load"
				>
					<b-spinner
						type="grow"
						small
						label="Spinning"
					></b-spinner
					>Cargando ...
				</b-badge>
			</b-col> -->
		</b-row>

		<b-card no body>
			<template v-if="tipoAuxiliar">
				<b-form inline>
					<b-form-group v-if="tipoAuxiliar == 'empleado'">
						<b-input-group prepend="Empleado:" size="sm">
							<b-form-select
								size="sm"
								:options="listUsuarios"
								v-model="usuario"
							>
								<template v-slot:first>
									<option :value="null" disabled>
										Seleccione
									</option>
								</template>
							</b-form-select>
						</b-input-group>
					</b-form-group>

					<b-form-group v-else>
						<b-input-group prepend="Cuenta:" size="sm">
							<b-form-select
								size="sm"
								:options="listCuentas"
								v-model="cuenta"
							>
								<template v-slot:first>
									<option :value="null" disabled>
										Seleccione
									</option>
									<option value="Todas">
										Todas
									</option>
								</template>

								<!-- <b-form-select-option value="Todas"
									>Todas</b-form-select-option
								> -->
							</b-form-select>
						</b-input-group>
					</b-form-group>

					<b-form-group class="ml-3">
						<b-input-group prepend="Tipo:" size="sm">
							<b-form-select
								size="sm"
								v-model="dataFilter.tipoImporte"
							>
								<b-form-select-option :value="null">
									Seleccione
								</b-form-select-option>

								<b-form-select-option
									v-if="tipoAuxiliar != 'empleado'"
									value="Todos"
								>
									Todos
								</b-form-select-option>
								<b-form-select-option value="Toka">
									Toka
								</b-form-select-option>
								<b-form-select-option value="Efectivo">
									Efectivo
								</b-form-select-option>
								<b-form-select-option value="Tarjeta Personal">
									Tarjeta Personal
								</b-form-select-option>
								<b-form-select-option value="TC Empresarial">
									Tarjeta de crédito empresarial
								</b-form-select-option>
								<b-form-select-option value="TE Proveedor">
									Transferencia electrónica a proveedor
								</b-form-select-option>
								<b-form-select-option value="Tarjeta Banbajio">
									Tarjeta Banbajio
								</b-form-select-option>
								<b-form-select-option value="Banbajio Efectivo">
									Banbajio Efectivo
								</b-form-select-option>
							</b-form-select>
						</b-input-group>
					</b-form-group>

					<b-form-group class="ml-3">
						<b-input-group prepend="Inicio:" size="sm">
							<b-form-datepicker
								id="picker-inicio"
								v-model="dataFilter.inicio"
								locale="es"
								size="sm"
								:show-decade-nav="false"
								:hide-header="true"
								label-help
								selected-variant="secondary"
								label-no-date-selected="Seleccione"
								:date-format-options="{
									day: 'numeric',
									year: 'numeric',
									month: 'long',
								}"
							>
							</b-form-datepicker>
						</b-input-group>
					</b-form-group>

					<b-form-group class="ml-3">
						<b-input-group prepend="Fin:" size="sm">
							<b-form-datepicker
								id="picker-fin"
								v-model="dataFilter.fin"
								locale="es"
								size="sm"
								:show-decade-nav="false"
								:hide-header="true"
								label-help
								selected-variant="secondary"
								label-no-date-selected="Seleccione"
								:date-format-options="{
									day: 'numeric',
									year: 'numeric',
									month: 'long',
								}"
							>
							</b-form-datepicker>
						</b-input-group>
					</b-form-group>
					<b-button
						size="sm"
						class="ml-3"
						@click="getMovimientos()"
						variant="danger"
						:disabled="!validarDatos"
					>
						<i class="fas fa-funnel-dollar mr-1"></i>
						Consultar
					</b-button>
				</b-form>
				<hr />
			</template>

			<fn-cg-movimientos-empleados-component
				:movimientos="movimientos"
				:dataFilter="dataFilter"
				:usuario="usuario"
				:saldoInicial="saldoInicial"
				:busy="busy"
				v-if="consulta == 'empleado'"
			/>
			<fn-cg-movimientos-cuentas-component
				:movimientos="movimientos"
				:dataFilter="dataFilter"
				:cuenta="cuenta"
				:saldoInicial="saldoInicial"
				:busy="busy"
				v-else-if="consulta == 'cuenta'"
			/>

			<div style="height: calc(100vh - 230px)" v-else>
				<icon-text-component
					:circleStyle="{
						backgroundColor: '#f4f4f6',
						color: '#45555f',
					}"
					:icon="'far fa-comment-dots'"
					:text="'SELECCIONE UN TIPO DE AUXILIAR'"
				/>
			</div>
		</b-card>
	</div>
</template>

<script>
import { mapMutations } from "vuex";
export default {
	data() {
		return {
			consulta: "",
			busy: false,
			cuenta: null,
			tipoAuxiliar: null,
			tipo: null,
			usuario: null,
			saldoInicial: "0.00",
			dataFilter: {
				tipoImporte: null,
				inicio: "",
				fin: "",
			},
			movimientos: [],
			// tiposImporte: [
			// 	{ value: "Todos", text: "Todos" },
			// 	{ value: "Toka", text: "Toka" },
			// 	{ value: "Efectivo", text: "Efectivo" },
			// 	{
			// 		value: "TE Proveedor",
			// 		text: "Transferencia electrónica a proveedor",
			// 	},
			// 	{ value: "Tarjeta Personal", text: "Tarjeta Personal" },
			// 	{
			// 		value: "TC Empresarial",
			// 		text: "Tarjeta de crédito empresarial",
			// 	},
			// 	{ value: "Tarjeta Banbajio", text: "Tarjeta Banbajio" },
			// 	{ value: "Banbajio Efectivo", text: "Banbajio Efectivo" },
			// ],
			tiposAuxiliar: [
				{ text: "Empleado", value: "empleado" },
				{ text: "Cuenta interna", value: "Interna" },
				{ text: "Cuenta externa", value: "Externa" },
			],
			usuarios: [],
			cuentas: [],
		};
	},
	mounted() {},
	methods: {
		...mapMutations("fn_cg_movimientos", ["setSaldoInicial"]),
		getUsuarios() {
			axios
				.get(BaseUrl + `/api/fn/cg/movimientos/empleados`)
				.then((response) => {
					this.usuarios = response.data;
				});
		},
		getCuentas() {
			axios
				.get(
					BaseUrl +
						`/api/fn/cg/movimientos/cuentas/${this.tipoAuxiliar}`
				)
				.then((response) => {
					this.cuentas = response.data;
				});
		},
		getMovimientosByEmpleado() {
			this.consulta = "empleado";

			const inicio = this.dataFilter.inicio;
			const fin = this.dataFilter.fin;
			const tipo = this.dataFilter.tipoImporte;
			axios
				.get(
					BaseUrl +
						`/api/fn/cg/movimientos/empleado/${this.usuario.id}?inicio=${inicio}&fin=${fin}&tipo=${tipo}`
				)
				.then((response) => {
					this.saldoInicial = parseFloat(
						response.data.saldoInicial
					).toFixed(2);
					this.setSaldoInicial(response.data.saldoInicial);
					this.movimientos = response.data.movimientos;
					this.busy = false;
				});
		},
		getMovimientosByCuenta() {
			this.consulta = "cuenta";

			const inicio = this.dataFilter.inicio;
			const fin = this.dataFilter.fin;
			const tipo = this.dataFilter.tipoImporte;

			const cuenta =
				this.cuenta == "Todas" ? this.tipoAuxiliar : this.cuenta;

			console.log(cuenta);

			axios
				.get(
					BaseUrl +
						`/api/fn/cg/movimientos/cuenta/${cuenta}?inicio=${inicio}&fin=${fin}&tipo=${tipo}`
				)
				.then((response) => {
					this.movimientos = response.data;
					this.busy = false;
				});
		},
		getMovimientos() {
			this.movimientos = [];
			this.busy = true;
			if (this.tipoAuxiliar == "empleado")
				this.getMovimientosByEmpleado();
			else if (
				this.tipoAuxiliar == "Interna" ||
				this.tipoAuxiliar == "Externa"
			)
				this.getMovimientosByCuenta();
		},
		changeTipoAuxiliar() {
			this.cuenta = null;
			this.dataFilter.tipoImporte = null;
			this.movimientos = [];
		},
	},
	computed: {
		listUsuarios() {
			return this.usuarios.map(function(usuario) {
				return {
					text: usuario.nombreUsuario,
					value: {
						id: usuario.idUsuario,
						nombre: usuario.nombreUsuario,
					},
				};
			});
		},
		listCuentas() {
			return this.cuentas.map(function(cuenta) {
				return {
					text: cuenta.cuenta,
					value: cuenta.cuenta,
				};
			});
		},
		validarDatos() {
			if (
				this.tipoAuxiliar &&
				this.dataFilter.tipoImporte &&
				this.dataFilter.inicio &&
				this.dataFilter.fin
			) {
				if (this.tipoAuxiliar == "empleado" && this.usuario)
					return true;
				else if (this.tipoAuxiliar != "empleado" && this.cuenta)
					return true;
				else return false;
			}
			return false;
		},
	},
	watch: {
		tipoAuxiliar() {
			if (this.tipoAuxiliar == "empleado") this.getUsuarios();
			else this.getCuentas();
		},
	},
};
</script>

<style>
.b-calendar .b-calendar-grid {
	width: 100%;
}
</style>
