<template>
    <b-tr :class="trClass">
        <template v-if="movimiento.accion == 'dispersion'">
            <b-td>Dispersión</b-td>
            <b-td>{{ fecha  }}</b-td>
            <b-td colspan="3"></b-td>
            <b-td colspan="3"></b-td>
            <td>
                <div class="d-flex w-100 justify-content-between">
                    <label class="mb-0 ml-1">$</label>
                    <vue-numeric
                        separator=","
                        :precision="2"
                        :read-only="true"
                        :value="movimiento.importe"
                    />
                </div>
            </td>
            <b-td></b-td>
            <td>
                <div class="d-flex w-100 justify-content-between">
                    <label class="mb-0 ml-1">$</label>
                    <vue-numeric
                        separator=","
                        :precision="2"
                        :read-only="true"
                        :value="saldo"
                    />
                </div>
            </td>
        </template>
        <template v-if="movimiento.accion == 'gasto'">       
            <b-td>Gasto</b-td>
            <b-td>{{ fecha }}</b-td>
            <b-td>{{ movimiento.comprobacion.folioComprobante }}</b-td>
            <b-td>{{ movimiento.comprobacion.tipoCuenta }}</b-td>
            <b-td>{{ movimiento.comprobacion.cuenta }}</b-td>
            <b-td>{{ movimiento.comprobacion.proveedor }}</b-td>
            <b-td>{{ movimiento.comprobacion.descripcion }}</b-td>
            <b-td class="text-center">{{ movimiento.comprobacion.noCuenta }}</b-td>

            <b-td></b-td>

            <td>
                <div class="d-flex w-100 justify-content-between">
                    <label class="mb-0 ml-1">$</label>
                    <vue-numeric
                        separator=","
                        :precision="2"
                        :read-only="true"
                        :value="movimiento.importe"
                    />
                </div>
            </td>
            <td>
                <div class="d-flex w-100 justify-content-between">
                    <label class="mb-0 ml-1">$</label>
                    <vue-numeric
                        separator=","
                        :precision="2"
                        :read-only="true"
                        :value="saldo"
                    />
                </div>
            </td>
        </template>
        <template v-if="movimiento.accion == 'decremento'">       
            <b-td>Decremento</b-td>
            <b-td>{{ fecha  }}</b-td>
            <b-td colspan="3"></b-td>
            <b-td colspan="4"></b-td>
            <td>
                <div class="d-flex w-100 justify-content-between">
                    <label class="mb-0 ml-1">$</label>
                    <vue-numeric
                        separator=","
                        :precision="2"
                        :read-only="true"
                        :value="movimiento.importe"
                    />
                </div>
            </td>
            <b-td class="text-center" v-if="saldo == 0">
                <label class="mb-0 mr-2">$</label>
                -
            </b-td>
            <td v-else>
                <div class="d-flex w-100 justify-content-between">
                    <label class="mb-0 ml-1">$</label>
                    <vue-numeric
                        separator=","
                        :precision="2"
                        :read-only="true"
                        :value="saldo"
                    />
                </div>
            </td>
        </template>
        <template v-if="movimiento.accion == 'reembolso'">       
            <b-td>Reembolso</b-td>
            <b-td>{{ fecha  }}</b-td>
            <b-td colspan="3"></b-td>
            <b-td colspan="4"></b-td>
            <td>
                <div class="d-flex w-100 justify-content-between">
                    <label class="mb-0 ml-1">$</label>
                    <vue-numeric
                        separator=","
                        :precision="2"
                        :read-only="true"
                        :value="movimiento.importe"
                    />
                </div>
            </td>
            <b-td class="text-center" v-if="saldo == 0">
                <label class="mb-0 mr-2">$</label>
                -
            </b-td>
            <td v-else>
                <div class="d-flex w-100 justify-content-between">
                    <label class="mb-0 ml-1">$</label>
                    <vue-numeric
                        separator=","
                        :precision="2"
                        :read-only="true"
                        :value="saldo"
                    />
                </div>
            </td>
        </template>
    </b-tr>
</template>

<script>
import { mapMutations, mapState } from 'vuex'
export default {
    props: {
        movimiento: Object
    },
    data() {
        return {
            saldo: 0.00
        }
    },
    mounted(){
            this.updateSaldoAux(this.movimiento)
            this.saldo = this.saldoAux
    },
    methods: {
        ...mapMutations("fn_cg_movimientos", ["updateSaldoAux", "sumaCargoDeposito"]),
        nomMeses(mes) {
            switch (mes) {
                case "01":
                    return "Ene"
                    break;
                case "02":
                    return "Feb"
                    break;
                case "03":
                    return "Mar"
                    break;
                case "04":
                    return "Abr"
                    break;
                case "05":
                    return "May"
                    break;
                case "06":
                    return "Jun"
                    break;
                case "07":
                    return "Jul"
                    break;
                case "08":
                    return "Ago"
                    break;
                case "09":
                    return "Sep"
                    break;
                case "10":
                    return "Oct"
                    break;
                case "11":
                    return "Nov"
                    break;
                case "12":
                    return "Dic"
                    break;
            }
        }
        
    },
    computed: {
		...mapState("fn_cg_movimientos", ["saldoAux"]),
        trClass() {
            if(this.movimiento.accion == 'dispersion')
                return 'bg-light'
            return ''
        },
        fecha() {
            moment.locale("es");
            const mes = moment(this.movimiento.fecha).format('MM');  
            // console.log()
            // console.log(mes)
            const noDia = moment(this.movimiento.fecha).format('DD');  
            const year = moment(this.movimiento.fecha).format('YYYY');  
            const mes2 = this.nomMeses(mes)

			return noDia + "/" + mes2 + "/" + year
        },
    }
}


</script>