<template>
	<div class="mt-3 pt-3">
		<div class="w-100">
			<b-row>
				<b-col lg="5">
					<h4>{{ cuenta2 }}</h4>
					<h6>{{ fecha(inicio) }} - {{ fecha(fin) }}</h6>
					<h6 class="mb-0">Tipo: {{ tipoImporte }}</h6>
				</b-col>
				<b-col lg="7"> </b-col>
			</b-row>
		</div>
		<hr class="mb-0 mt-4 py-0" />
		<b-table-simple small caption-top responsive bordered style="font-size: 12px">
			<b-thead head-variant="secondary">
				<b-tr>
					<b-th>Acción</b-th>
					<b-th class="text-center" style="width: 120px">Fecha</b-th>
					<b-th>Factura</b-th>
					<b-th>Descripción</b-th>
					<b-th>Proveedor</b-th>
					<b-th>Responsable</b-th>
					<b-th class="text-center" style="width: 180px">Cuenta</b-th>
					<b-th class="text-center">Importe</b-th>
				</b-tr>
			</b-thead>
			<b-tbody>
				<fn-cg-movimiento-cuenta-component
					v-for="(movimiento, index) in movimientos"
					:key="index"
					:movimiento="movimiento"
				/>
			</b-tbody>
			<b-tfoot>
				<b-tr style="background-color: #237cb31f !important;">
					<b-td colspan="6"></b-td>
					<b-td class="text-right"><strong>T o t a l:</strong></b-td>
					<td>
						<strong>
							<div class="d-flex w-100 justify-content-between">
								<label class="mb-0 ml-1">$</label>
								<vue-numeric
									separator=","
									:precision="2"
									:read-only="true"
									:value="totalImportes"
								/>
							</div>
						</strong>
					</td>
				</b-tr>
			</b-tfoot>
		</b-table-simple>

		<h3
			v-if="!movimientos.length && !busy"
			class="mt-5 mb-4 text-secondary text-center"
		>
			No se encontraron movimientos
		</h3>
	</div>
</template>
<script>
import { mapState } from "vuex";
export default {
	props: {
		movimientos: Array,
		dataFilter: Object,
		cuenta: String,
		busy: Boolean,
	},
	data() {
		return {
			cuenta2: "",
			inicio: "",
			fin: "",
			tipoImporte: "",
		};
	},
	mounted() {
		this.vaciarDatos();
	},
	methods: {
		vaciarDatos() {
			this.inicio = this.dataFilter.inicio;
			this.fin = this.dataFilter.fin;
			this.cuenta2 = this.cuenta;
			this.tipoImporte = this.dataFilter.tipoImporte;
		},
		fecha(fecha) {
			moment.locale("es");
			const mes = moment(fecha).format("MM");
			const noDia = moment(fecha).format("DD");
			const year = moment(fecha).format("YYYY");
			return noDia + "/" + this.nomMeses(mes) + "/" + year;
		},
		nomMeses(mes) {
			switch (mes) {
				case "01":
					return "Ene";
					break;
				case "02":
					return "Feb";
					break;
				case "03":
					return "Mar";
					break;
				case "04":
					return "Abr";
					break;
				case "05":
					return "May";
					break;
				case "06":
					return "Jun";
					break;
				case "07":
					return "Jul";
					break;
				case "08":
					return "Ago";
					break;
				case "09":
					return "Sep";
					break;
				case "10":
					return "Oct";
					break;
				case "11":
					return "Nov";
					break;
				case "12":
					return "Dic";
					break;
			}
		},
	},
	computed: {
		totalImportes() {
			if (this.movimientos) {
				return this.movimientos.reduce(
					(sum, movimiento) => sum + parseFloat(movimiento.importe),
					0
				);
			} else return 0.0;
		},
	},
	watch: {
		movimientos() {
			this.vaciarDatos();
		},
	},
};
</script>
