<template>
    <b-tr>
        <template>       
            <b-td>Gasto</b-td>
            <b-td class="text-center">{{ fecha }}</b-td>
            <b-td>{{ movimiento.comprobacion.folioComprobante }}</b-td>
            <b-td>{{ movimiento.comprobacion.descripcion }}</b-td>
            <b-td>{{ movimiento.comprobacion.proveedor }}</b-td>
            <b-td>{{ movimiento.solicitante.nombreUsuario }}</b-td>
            <b-td class="text-center">{{ movimiento.cuenta }}</b-td>
            <td>
                <div class="d-flex w-100 justify-content-between">
                    <label class="mb-0 ml-1">$</label>
                    <vue-numeric
                        separator=","
                        :precision="2"
                        :read-only="true"
                        :value="movimiento.importe"
                    />
                </div>
            </td>
            <!-- <b-td class="text-center">
                <label class="mb-0 mr-2">$</label>
                {{ movimiento.importe }}
            </b-td> -->
        </template>
    </b-tr>
</template>

<script>
import { mapMutations, mapState } from 'vuex'
export default {
    props: {
        movimiento: Object
    },
    data() {
        return {
            
        }
    },
    mounted(){
            
    },
    methods: {
        ...mapMutations("fn_cg_movimientos", ["updateSaldoAux"]),
        nomMeses(mes) {
            switch (mes) {
                case "01":
                    return "Ene"
                    break;
                case "02":
                    return "Feb"
                    break;
                case "03":
                    return "Mar"
                    break;
                case "04":
                    return "Abr"
                    break;
                case "05":
                    return "May"
                    break;
                case "06":
                    return "Jun"
                    break;
                case "07":
                    return "Jul"
                    break;
                case "08":
                    return "Ago"
                    break;
                case "09":
                    return "Sep"
                    break;
                case "10":
                    return "Oct"
                    break;
                case "11":
                    return "Nov"
                    break;
                case "12":
                    return "Dic"
                    break;
            }
        }
        
    },
    computed: {
		...mapState("fn_cg_movimientos", ["saldoAux"]),
        fecha() {
            moment.locale("es");
            const mes = moment(this.movimiento.fecha).format('MM');  
            const noDia = moment(this.movimiento.fecha).format('DD');  
            const year = moment(this.movimiento.fecha).format('YYYY');  
            const mes2 = this.nomMeses(mes)
			return noDia + "/" + mes2 + "/" + year
        },
    }
}


</script>