<template>
	<div class="bg-dark p-2 border-top border-dark h-100">
    	<h3 class="text-white mt-4 pl-2 pb-4 border-bottom border-dark">Configuración</h3>
		<b-list-group class="mt-2" flush>
			<b-list-group-item
				:to="{name: 'vt.configuracion.embudos'}" 
				class="li-area"
				:class="{[active]: routeName == 'vt.configuracion.embudos'}"
			>
				Embudos
			</b-list-group-item>
			<b-list-group-item
				:to="{name: 'vt.configuracion.proyecciones'}" 
				class="li-area"
				:class="{[active]: routeName == 'vt.configuracion.proyecciones'}"
			>
				Proyecciones
			</b-list-group-item>
			<b-list-group-item
				:to="{name: 'vt.configuracion.unidades_negocio'}" 
				class="li-area"
				:class="{[active]: routeName == 'vt.configuracion.unidades_negocio'}"
			>
				Unidades de Negocio
			</b-list-group-item>
		</b-list-group>
	</div>
</template>

<script>
import { mapState, mapActions } from "vuex";
export default {
	data() {
		return {
			active: "border-secondary bg-secondary text-white",
		};
	},
	methods: {
		loadDataCrecimiento() {
			this.getClientesFacturados(this.embudoSelected.idEmbudo);
		},
	},
	computed: {
		...mapState(["routeName"]),
		...mapState("negocios", ["embudoSelected"]),
	},
};
</script>

<style>
.bg-white {
	background-color: #fff !important;
}
.text-dark {
	color: rgb(69, 85, 95);
}
.li-area {
	color: #fff;
	background-color: rgb(69, 85, 95);
	cursor: pointer !important;
}
</style>

