<template>
	<b-collapse id="nav-collapse" is-nav>
		<b-navbar-nav>
			<b-nav-item-dropdown v-if="hasPermission('vt.negocios')">
				<template v-slot:button-content>
					<i class="fas fa-dollar-sign" style="color:white"></i>
					Negocios
				</template>

				<b-dropdown-item
					:to="{ name: 'negocios.lista' }"
					style="color: #777;"
				>
					<div class="mr-5 ml-1">
						<i class="fas fa-list-alt pr-2"></i>
						Lista
					</div>
				</b-dropdown-item>

				<hr class="pb-1 mb-0 mt-1" />

				<b-dropdown-item
					:to="{ name: 'negocios.embudos' }"
					style="color: #777;"
				>
					<div class="mr-5 ml-1">
						<i class="fab fa-microsoft pr-2"></i>
						Embudos
					</div>
				</b-dropdown-item>

				<hr class="pb-1 mb-0 mt-1" />

				<b-dropdown-item
					:to="{ name: 'negocios.seguimiento' }"
					style="color: #777;"
				>
					<div class="mr-5 ml-1">
						<i class="fas fa-exchange-alt pr-2"></i>
						Seguimiento
					</div>
				</b-dropdown-item>

				<hr class="pb-1 mb-0 mt-1" />

				<b-dropdown-item
					:to="{ name: 'vt.presupuesto' }"
					style="color: #777;"
				>
					<div class="mr-5 ml-1">
						<i class="fas fa-calculator pr-2"></i>
						Presupuesto
					</div>
				</b-dropdown-item>

				<hr class="pb-1 mb-0 mt-1" />

				<b-dropdown-item
					:to="{ name: 'negocios.notas' }"
					style="color: #777;"
				>
					<div class="mr-5 ml-1">
						<i class="far fa-sticky-note pr-2"></i>
						Notas
					</div>
				</b-dropdown-item>
			</b-nav-item-dropdown>

			<b-nav-item
				v-if="hasPermission('vt.actividades')"
				class="px-2"
				:to="{ name: 'vt.actividades' }"
			>
				<i class="far fa-calendar-alt" style="color:white"></i>
				Actividades
			</b-nav-item>

			<b-nav-item-dropdown v-if="hasPermission('vt.clientes')">
				<template v-slot:button-content>
					<i class="fas fa-users" style="color:white"></i>
					Clientes
				</template>

				<b-dropdown-item
					:to="{ name: 'vt.clientes' }"
					style="color: #777;"
				>
					<div class="mr-5 ml-1">
						<i class="fas fa-building pr-2"></i>
						Clientes
					</div>
				</b-dropdown-item>

				<hr class="pb-1 mb-0 mt-1" />

				<b-dropdown-item
					:to="{ name: 'vt.contactos' }"
					style="color: #777;"
				>
					<div class="mr-5 ml-1">
						<i class="fas fa-user-tie pr-2"></i>
						Contactos
					</div>
				</b-dropdown-item>
			</b-nav-item-dropdown>

			<b-nav-item
				v-if="hasPermission('vt.indicadores')"
				class="px-2"
				:to="{ name: 'vt.indicadores.cf' }"
			>
				<i class="fas fa-chart-bar" style="color:white"></i>
				Indicadores
			</b-nav-item>
		</b-navbar-nav>

		<b-navbar-nav class="ml-auto">
			<b-nav-item class="pr-0" right v-on:click="$emit('showSystemInfo')">
				<b-button variant="link">
					<i class="fas fa-question-circle text-white"></i>
				</b-button>
			</b-nav-item>

			<!-- <b-nav-item-dropdown right v-on:click.native="getNotifications">
				<template v-slot:button-content>
					<b-button variant="link" v-on:click="getNotifications" href="#" class="mr-0 pr-0 pl-0">
 						<i class="fas fa-bell text-light"></i> 
 						<span class="badge badge-danger" v-if="notCount > 0">{{ notCount }}</span>  						 
					</b-button>
				</template>
				<notifications-list-component :usuario="usuario"/>
			</b-nav-item-dropdown> -->

			<div right class="ml-2">
				<b-img
					rounded="circle"
					:src="urlImage"
					width="40"
					height="40"
					alt="img"
				/>
			</div>
			<b-nav-item-dropdown right>
				<template v-slot:button-content>
					<label class="mt-1">
						{{ nombreUsuario }}
					</label>
				</template>

				<b-dropdown-item href="#" style="color: #777;">
					<div class="mr-5 ml-1">
						<i class="fas fa-user-circle pr-2"></i>
						Mi cuenta
					</div>
				</b-dropdown-item>

				<hr
					class="pb-1 mb-0 mt-1"
					v-if="hasPermission('vt.configuracion')"
				/>

				<b-dropdown-item
					v-if="hasPermission('vt.configuracion')"
					:to="{ name: 'vt.configuracion.embudos' }"
					style="color: #777;"
				>
					<div class="mr-5 ml-1">
						<i class="fas fa-cogs pr-2"></i>
						Configuración
					</div>
				</b-dropdown-item>

				<hr class="pb-1 mb-0 mt-1" />
				<b-dropdown-item @click="logout" style="color: #777;">
					<div class="mr-5 ml-1">
						<i class="fas fa-sign-out-alt pr-2"></i>
						Cerrar sesión
					</div>
				</b-dropdown-item>
			</b-nav-item-dropdown>
		</b-navbar-nav>
	</b-collapse>
</template>

<script>
import { mapState, mapActions } from "vuex";

export default {
	props: {
		usuario: Object,
	},
	data() {
		return {
			urlImage: null,
		};
	},
	mounted() {
		this.urlImagen(this.usuario.foto);
	},
	methods: {
		urlImagen(foto) {
			this.urlImage = BaseUrl + "/img/profiles/" + foto;
		},
		...mapActions("notifications", ["getNotifications"]),
		...mapActions("presupuesto", ["getPresupuestos"]),
		...mapActions("negocios", ["getNegocios"]),

		logout() {
			axios
				.post(BaseUrl + "/logout")
				.then((response) => {
					window.location = "/";
				})
				.catch((error) => {
					location.reload();
				});
		},
		presupuesto() {
			this.getPresupuestos(this.embudoSelected.idEmbudo);
			this.getNegocios();
		},
		hasPermission(funcion) {
			if (this.permissions.length) {
				const permiso = this.permissions.find(
					(permiso) => permiso.idFuncion == funcion
				);
				if (permiso) return true;
				return false;
			}
		},
	},
	computed: {
		...mapState(["permissions", "nombreUsuario"]),
		...mapState("notifications", ["notCount"]),
		...mapState("negocios", ["embudoSelected"]),
	},
};
</script>
