<template>
	<div
		@dragstart.prevent="dragStartHandler"
		@dragenter.prevent="dragEnterHandler"
		@dragleave.prevent="dragLeaveHandler"
		@drop.stop.prevent="onDrop"
		@dragover.prevent="dragOverHandler"
		@dragend="dragEndHandler"
	>
		<div
			v-show="dragOver && files.length == 0"
			style="height: calc(100vh - 52px)"
		>
			<div class="bg-danger text-white p-3">
				<button
					type="button"
					class="close mr-2 text-white"
					@click="dragOver = false"
				>
					<span aria-hidden="true">&times;</span>
				</button>
				<h5 class="mb-0">Subir archivos</h5>
			</div>
			<div class="px-2 m-3" style="height: 90%">
				<div class="p-3 punteagudo h-100">
					<h2
						class="text-secondary-light display-1"
						style="font-size: 45px"
					>
						Suelta tu archivo en esta zona
					</h2>
				</div>
			</div>
		</div>
		<div class="dropzone-previews-js form-row mb-3 m-3" v-if="files.length">
			<div class="col-lg-4" v-for="(file, index) in files" :key="index">
				<div class="card border-light bg-secondary">
					<div class="card-body py-1 px-3">
						<div class="media align-items-center">
							<div class="dropzone-file-preview">
								<div
									class="avatar avatar rounded bg-white d-block mr-2 text-center"
								>
									<i
										class="fas fa-paperclip paperclip text-dark"
									></i>
								</div>
							</div>

							<div class="media-body overflow-hidden p-2">
								<h6
									class="text-truncate text-white small mb-1 mt-0"
								>
									{{ file.name }}
								</h6>
								<p class="extra-small text-white mb-0">
									<strong>{{ fileSize }}</strong>
								</p>
							</div>

							<div class="ml-5">
								<a
									href="#"
									class="btn btn-sm btn-link text-decoration-none text-muted"
									@click="deleteFile(file.name)"
								>
									<i class="fas text-white fa-times"></i>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="form-row align-items-center m-3" v-if="!dragOver">
			<div class="col">
				<ckeditor-component
					@getEditor="message = $event"
					:lastInfo="message"
					:editorConf="editorConfig"
					:placeholder="'Escriba su mensaje aqui...'"
					ref="message"
				/>
				<!-- <vue-editor
					v-model="message"
					:editor-toolbar="customToolbar"
				/> -->
			</div>
			<div class="col-auto">
				<input
					id="fileInput"
					multiple
					@change="processFile($event)"
					type="file"
					style="display: none"
				/>
				<b-button
					variant="light"
					class="shadows rounded-circle"
					@click="openFileInput"
					:disabled="files.length == 1"
				>
					<i class="fas fa-paperclip text-wjote"></i>
				</b-button>
			</div>
			<div class="col-auto">
				<b-button
					variant="danger"
					class="shadows btn-ico rounded-circle"
					@click="submit"
					:disabled="!message"
				>
					<i class="fas fa-paper-plane"></i>
				</b-button>
			</div>
		</div>
		<form-report-component />
	</div>
</template>
<script>
import { mapState, mapMutations } from "vuex";
import ClassicEditor from "@ckeditor/ckeditor5-build-classic";
import { VueEditor } from "vue2-editor";

export default {
	props: {},
	components: { VueEditor },
	data() {
		return {
			dragOver: false,
			message: "",
			clickSubmit: false,
			files: [],
			file: null,
			// customToolbar: [
			// 	["bold", "italic", "underline"],
			// 	[{ list: "ordered" }, { list: "bullet" }],
			// ],
			editorConfig: {
				toolbar: ["bold", "italic", "|", "link"],
			},
		};
	},
	mounted() {
		// this.$refs.message.quill.focus();
	},
	methods: {
		...mapMutations("tickets", ["addMessage", "updateTicket"]),
		submit() {
			if (this.message.length > 0) {
				var auxMessage = this.message;

				var espacios = "<p>&nbsp;</p>";

				auxMessage = auxMessage.split(espacios);

				auxMessage = auxMessage.join(" ");

				this.message = "";

				var data = new FormData();

				var myTime = this.myTime;

				var message = {
					created_at: this.myDate,
					id: null,
					message: auxMessage,
					updated_at: this.myDate,
					user_id: this.usuario.idUsuario,
					user_name: this.usuario.nombreUsuario,
					user_picture: this.usuario.foto,
					files: [],
				};
				data.append("message", message.message);
				data.append("user_id", message.user_id);
				data.append("time", myTime);

				if (this.file) {
					var file = {
						created_at: this.myDate,
						message_id: null,
						name: this.file.name,
						type: this.file.type,
						updated_at: this.myDate,
						route: "files/" + myTime + this.file.name,
					};
					message.files.push(file);
					data.append("file", this.file);
				}

				this.files = [];
				this.file = null;
				this.$emit("noFilesProcess");

				var participants = JSON.stringify(this.listParticipants);
				data.append("participants", participants);

				axios
					.post(
						BaseUrl +
							`/api/tickets/${this.ticketActive.id}/messages`,
						data
					)
					.then((response) => {
						this.updateTicket(response.data.ticket);
						this.addMessage(response.data.message);
					});
			}
		},
		openFileInput() {
			document.getElementById("fileInput").click();
		},
		processFile(e) {
			this.files.push(e.target.files[0]);
			this.file = e.target.files[0];
		},
		deleteFile(name) {
			const index = this.files.findIndex((file) => {
				return file.name == name;
			});
			this.files.splice(index, 1);
			if (this.files.length == 0) {
				this.$emit("noFilesProcess");
			}
		},
		//DROP DRAG
		//
		dragStartHandler() {
			// console.log('dragStart')
		},
		dragEnterHandler(e) {
			// console.log('dragEnterHandler')
			// if(this.dragEnter == false)
			//     this.dragEnter = true
		},
		dragLeaveHandler(ev) {
			// console.log('dragLeaveHandler')
			// if(this.dragEnter == true)
			//     this.dragEnter = false
			this.dragOver = false;
		},
		dragOverHandler(e) {
			// console.log('dragOverHandler')
			this.dragOver = true;
		},
		onDrop(e) {
			// console.log('onDrop')
			let droppedFiles = e.dataTransfer.files;
			this.file = e.dataTransfer.files[0];
			if (!droppedFiles) return;
			[...droppedFiles].forEach((f) => {
				this.files.push(f);
			});
			this.dragOver = false;
		},
		dragEndHandler(e) {
			// console.log('dragEndHandler')
		},
	},
	computed: {
		...mapState(["usuario"]),
		...mapState("tickets", [
			"ticketActive",
			"messages",
			"listParticipants",
		]),
		idTicket() {
			return this.ticketActive.id;
		},
		myDate() {
			return moment(new Date()).format("YYYY-MM-DD HH:mm:ss");
		},
		myTime() {
			return moment(new Date()).format("HHmmss");
		},
		uploadDisabled() {
			return this.files.length === 0;
		},
		fileSize() {
			let size = this.file.size / 1000;
			if (size > 1000) {
				size = size / 1000;
				return size.toFixed(2) + " MB";
			}
			return size.toFixed(2) + " KB";
		},
	},
	watch: {
		files() {
			// if(this.files.length)
			// 	this.$emit('filesProcess')
		},
		idTicket() {
			// this.$refs.message.quill.focus();
		},
	},
};
</script>
<style>
.punteagudo {
	font-family: verdana, arial;
	border-style: dashed;
	border-width: 4px;
	border-color: #83878b;
	font-size: 18px !important;
}
.punteagudo {
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-ms-flex-align: center;
	-ms-flex-pack: center;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
}
.btn-ico {
	letter-spacing: 0.0813rem;
	position: relative;
	padding: 0;
	height: calc(1.6em + 1.375rem + 2px);
	width: calc(1.6em + 1.375rem + 2px);
}
.avatar {
	height: 2.125rem;
	min-height: 2.125rem;
	width: 2.125rem;
	min-width: 2.125rem;
}
.avatar > i,
.avatar > span {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 100%;
	width: 100%;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.avatar {
	background: #2f2a30;
	display: inline-block;
	position: relative;
	line-height: 0;
}
.text-basic-inverse {
	color: #000 !important;
}
.d-block {
	display: block !important;
}
.extra-small {
	font-size: 80%;
}
.text-truncate {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.small {
	font-size: 97.667%;
	font-weight: 400;
}
.overflow-hidden {
	overflow: hidden !important;
}
.media-body {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
}
.dropup .dropdown-toggle::after {
	display: none;
}
.active {
	color: white !important;
}

textarea:focus,
textarea.form-control:focus,
[contenteditable].form-control:focus {
	box-shadow: inset 0 0px 0 #ddd;
}

.quillWrapper .ql-snow.ql-toolbar {
	background: #edf1f1 !important;
}

.editor:focus-within {
	box-shadow: 0px 1px 6px 2px rgba(0, 0, 0, 0.32) !important;
}
/* 
.ql-container{
	max-height: 120px;
    overflow: auto;
}

.ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke,
.ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter,
.ql-snow .ql-toolbar button.ql-active .ql-stroke,
.ql-snow .ql-toolbar button.ql-active .ql-stroke-miter,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter,
.ql-snow.ql-toolbar button.ql-active .ql-stroke,
.ql-snow.ql-toolbar button.ql-active .ql-stroke-miter {
	stroke: #d4636c !important;
}

.ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-fill,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke.ql-fill,
.ql-snow .ql-toolbar .ql-picker-item:hover .ql-fill,
.ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke.ql-fill,
.ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-fill,
.ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke.ql-fill,
.ql-snow .ql-toolbar .ql-picker-label:hover .ql-fill,
.ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke.ql-fill,
.ql-snow .ql-toolbar button.ql-active .ql-fill,
.ql-snow .ql-toolbar button.ql-active .ql-stroke.ql-fill,
.ql-snow .ql-toolbar button:focus .ql-fill,
.ql-snow .ql-toolbar button:focus .ql-stroke.ql-fill,
.ql-snow .ql-toolbar button:hover .ql-fill,
.ql-snow .ql-toolbar button:hover .ql-stroke.ql-fill,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-fill,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke.ql-fill,
.ql-snow.ql-toolbar .ql-picker-item:hover .ql-fill,
.ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke.ql-fill,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-fill,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke.ql-fill,
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-fill,
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke.ql-fill,
.ql-snow.ql-toolbar button.ql-active .ql-fill,
.ql-snow.ql-toolbar button.ql-active .ql-stroke.ql-fill,
.ql-snow.ql-toolbar button:focus .ql-fill,
.ql-snow.ql-toolbar button:focus .ql-stroke.ql-fill,
.ql-snow.ql-toolbar button:hover .ql-fill,
.ql-snow.ql-toolbar button:hover .ql-stroke.ql-fill {
	fill: #d4636c !important;
} */

.ck.ck-editor__editable:not(.ck-editor__nested-editable).ck-focused {
	outline: 1px !important;
	border: 1px solid #c4c4c4 !important;
	/* box-shadow:  0 0 0 0 !important; 
	border-radius: 1rem; */
}
</style>
