<template>
	<b-overlay
		:show="overlay"
		rounded="sm"
		opacity="1.0"
		blur="1px"
		variant="transparent"
	>
		<!-- <h1 class="display-1 ml-0 text-dark" style="font-size: 20px;">
			{{ data_status.question }}
		</h1> -->

		<h4>{{ data_status.question }}</h4>

		<!-- <div>
			<label>¿La atención del usuario fue buena?</label>
			<b-form-rating v-model="value"></b-form-rating>
		</div>

		<div class="mt-2">
			<label>¿Se atendio en tiempo y forma este ticket de acuerdo a lo programado?</label>
			<b-form-rating v-model="value"></b-form-rating>
		</div>

		<div class="mt-2">
			<label>¿Se soluciono el problema o asunto por el cual se abrió este ticket?</label>
			<b-form-rating v-model="value"></b-form-rating>
		</div> -->

		<div class="d-flex flex-row-reverse mt-3">
			<b-button variant="danger" class="ml-2 my-2" @click="submit">
				CONFIRMAR
			</b-button>
			<b-button variant="white" class="link-light my-2" @click="cancel">
				CANCELAR
			</b-button>
		</div>
	</b-overlay>
</template>

<script>
import { mapState, mapMutations } from "vuex";

export default {
	props: {
		ticket_id: Number,
	},
	data() {
		return {
			overlay: false,
			form: {
				ticket_id: null,
				status: null,
				status_admin: null,
				// value: null
			},
		};
	},
	methods: {
		...mapMutations("tickets", ["setTicket", "updateTicket"]),

		submit() {
			this.overlay = true;
			this.form.ticket_id = this.ticket_id;
			this.form.status = this.data_status.status;
			this.form.status_admin = this.data_status.status;

			axios
				.put(BaseUrl + `/api/tk/status`, this.form)
				.then((response) => {
					this.setTicket(response.data.ticket);
					this.updateTicket(response.data.ticket);
					this.cancel();
					this.overlay = false;
				});
		},
		cancel() {
			this.$bvModal.hide("modal-close-ticket");
		},
	},
	computed: {
		...mapState("tickets", ["data_status"]),
	},
};
</script>
