<template>
	<div>
		<b-form-group class="mb-4">
			<b-calendar
				id="fechaRegreso"
				v-model="form.fechaTicket"
				@context="onContext"
				locale="es"
				block
				:show-decade-nav="false"
				:hide-header="true"
				label-help=""
				selected-variant="danger"
				today-variant="danger"
			></b-calendar>
		</b-form-group>

		<b-button
			variant="danger"
			class="ml-3 mt-2 float-right"
			:disabled="!form.fechaTicket"
			@click="submit"
		>
			GUARDAR
		</b-button>

		<b-button
			variant="white"
			class="ml-3 mt-2 float-right link-light"
			@click="close('modal-fecha-real')"
		>
			CANCELAR
		</b-button>
	</div>
</template>

<script>
import { mapMutations, mapState } from "vuex";
export default {
	props: {
		ticketId: Boolean,
	},
	data() {
		return {
			overlay: false,
			form: {
				fechaTicket: null,
			},
		};
	},
	methods: {
		...mapMutations("solicitudes_gastos", [
			"updateSolicitud",
			"updateSolicitudActiva",
		]),
		makeToast(variant = null, title, text) {
			this.$bvToast.toast(text, {
				title: title,
				variant: variant,
				solid: true,
			});
		},
		hasPermission(funcion) {
			if (this.permissions.length) {
				const permiso = this.permissions.find(
					(permiso) => permiso.idFuncion == funcion
				);
				if (permiso) return true;
				return false;
			}
		},
		async submit() {
			const response = await axios.put(
				BaseUrl +
					`/api/fn/cg/solicitudes/${this.solicitudActiva.idSolicitud}/fecha-fin-gastos-real`,
				this.form
			);
			if (response.data.success) {
				console.log(response.data.solicitud);
				this.updateSolicitud(response.data.solicitud);
				this.updateSolicitudActiva(response.data.solicitud);
				this.close("modal-fecha-real");
			}
		},
		onContext(ctx) {
			this.form.fechaTicket = ctx.selectedYMD;
		},
	},
};
</script>
