<template>
	<b-overlay
		:show="overlay"
		rounded="sm"
		opacity="1.0"
		blur="1px"
		variant="transparent"
	>
		<div style="margin-top: -30px; margin-bottom: 15px">
			<form-wizard
				@on-complete="onComplete"
				title=""
				subtitle=""
				shape="circle"
				step-size="xs"
				transition="slide"
				:hideButtons="true"
				color="#70ae48"
				ref="wizard"
			>
				<tab-content>
					<div class="text-center">
						<h1 class="display-1" style="font-size: 27px">
							Departamento
						</h1>
						<p>
							Seleccione el departamento al que corresponde este
							ticket
						</p>
					</div>
					<div class="border p-4" v-if="departaments.length">
						<div
							class="text-center"
							v-for="(departament, index) in departaments"
							:key="index"
						>
							<template v-if="departament.idDepartamento != departament_id">
								<i
									class="fas fa-check text-success mr-1"
									style="font-size: 18px"
									v-if="departament.idDepartamento == form.departament_id"
								></i>
								<label
									class="display-1 mb-0"
									style="font-size: 18px; cursor: pointer"
									@click="setArea(departament.idDepartamento, departament.nombre)"
								>
									{{ departament.nombre }}
								</label>
								<hr
									class="mx-1"
									v-if="index < departaments.length - 1"
								/>
							</template>
						</div>
					</div>
				</tab-content>

				<tab-content>
					<div class="text-center">
						<h1 class="display-1" style="font-size: 27px">
							Tema relacionado
						</h1>
						<p>Seleccione el tema relacionado a este ticket</p>
					</div>

					<div class="border p-4" v-if="services.length">
						<div
							class="text-center"
							v-for="(service, index) in services"
							:key="index"
						>
							<i
								class="fas fa-check text-success mr-1"
								style="font-size: 18px"
								v-if="service.id == form.service_id"
							></i>
							<label
								class="display-1 mb-0"
								style="font-size: 15px; cursor: pointer"
								for="sistemas"
								@click="setService(service.id, service.name)"
							>
								{{ service.name }}
							</label>
							<hr
								class="mx-1"
								v-if="index < services.length - 1"
							/>
						</div>
					</div>
				</tab-content>

				<tab-content>
					<div class="text-center">
						<h1 class="display-1" style="font-size: 27px">
							Asunto
						</h1>
						<p>
							Seleccione un asunto, si no existe el asunto que
							necesita puede registrar otro
						</p>
					</div>
					<div class="border p-4">
						<template v-if="subjects.length">
							<div
								class="text-center"
								v-for="(subject, index) in subjects"
								:key="index"
							>
								<i
									class="fas fa-check text-success mr-1"
									style="font-size: 18px"
									v-show="subject.id == form.subject_id"
								></i>
								<label
									class="display-1 mb-0"
									style="font-size: 15px; cursor: pointer"
									for="sistemas"
									@click="
										setSubject(subject.id, subject.name)
									"
								>
									{{ subject.name }}
								</label>
								<hr class="mx-1" />
							</div>
						</template>
						<div class="text-center">
							<label
								class="display-1 mb-0"
								style="font-size: 15px; cursor: pointer"
								@click="otroAsunto = true"
								v-if="!otroAsunto"
							>
								<i
									class="fas fa-plus mr-1 text-success"
									style="font-size: 18px"
								></i>
								Otro asunto
							</label>
							<b-row v-if="otroAsunto">
								<b-col lg="10" class="pr-0">
									<b-form-input
										class="text-center"
										placeholder="Registre su asunto"
										v-model="form.subject_name"
									/>
								</b-col>
								<b-col lg="2">
									<b-button
										variant="light"
										class="btn-sm"
										:disabled="!form.subject_name"
										@click="nextTab"
									>
										<i
											class="text-success fas fa-check mr-1 btn-sm"
										></i>
									</b-button>
								</b-col>
							</b-row>
						</div>
					</div>
				</tab-content>

				<tab-content>
					<div class="text-center">
						<h1 class="display-1" style="font-size: 27px">
							Mensaje
						</h1>
						<p>Describe la razón de escalamiento</p>
					</div>
					<div class="form-group row">
						<textarea
							v-model="form.message"
							class="form-control"
							placeholder="Ingresa tu mensaje aquí"
						></textarea>
					</div>
					<div class="text-center mt-3">
						<button class="btn btn-success mt-2" @click="submit">
							Terminar
						</button>
					</div>
				</tab-content>

			</form-wizard>
		</div>
	</b-overlay>
</template>

<script>
import { mapState, mapMutations } from "vuex";

export default {
	props: {
		ticket_id: Number,
		departament_id: Number,
	},
	mounted() {
		this.getDepartaments();
	},
	data() {
		return {
			otroAsunto: false,
			overlay: false,
			errorSubmit: false,
			loadingWizard: false,
			count: 0,
			completeForm: false,
			services: [],
			subjects: [],
			departaments: [],
			form: {
				departament_id: null,
				ticket_id: null,
				service_id: null,
				service_name: null,
				subject_id: null,
				subject_name: "",
				message: "",
				user_id: null,
			},
		};
	},
	methods: {
		...mapMutations("tickets", ["setTicket", "addMessage"]),
		...mapMutations(['modalSubmit']),

		getDepartaments() {
			axios.get(BaseUrl + `/api/departaments/admins`).then((response) => {
				this.departaments = response.data;
			});
		},
		getServices(departament_id) {
			axios
				.get(BaseUrl + `/api/services/departaments/${departament_id}`)
				.then((response) => {
					this.services = response.data;
					this.nextTab();
				});
		},
		getSubjects(service_id) {
			axios
				.get(BaseUrl + `/api/subjects/service/${service_id}`)
				.then((response) => {
					this.subjects = response.data;
					this.nextTab();
				});
		},
		setArea(id, name) {
			this.form.departament_id = id;
			this.form.departament_name = name;
			this.getServices(id);
		},
		setService(id, name) {
			this.form.service_id = id;
			this.form.service_name = name;
			this.getSubjects(id);
		},
		setSubject(id, name) {
			this.form.subject_id = id;
			this.form.subject_name = name;
			this.nextTab();
		},
		nextTab() {
			this.$refs.wizard.nextTab();
		},
		onComplete: function () {
			this.completeForm = true;
		},
		async submit() {
			try {
				this.overlay = true
				this.errorSubmit = false
				this.form.user_id = this.usuario.idUsuario;
				this.form.ticket_id = this.ticket_id;
				this.form.message = "<p>" + this.form.message + "</p>";
				const response = await axios.put(
					BaseUrl + `/api/tk/escalate`,
					this.form
				);
				if (response.data.success) {
					this.setTicket(response.data.ticket);
					this.addMessage(response.data.message);
					this.overlay = false;
					this.modalSubmit(true);
				} else {
					this.errorSubmit = true;
				}
			} catch (e) {
				console.log(e);
				this.overlay = false;
				this.errorSubmit = true;
			}
		},
	},
	computed: {
		...mapState(["usuario"]),
	},
};
</script>

<style>
span.error {
	color: #e74c3c;
	font-size: 20px;
	display: flex;
	justify-content: center;
}
.active {
	background-color: #ffffff00 !important;
}
.vue-form-wizard {
	padding-bottom: 0px;
}
</style>