<template>
	<b-overlay
		:show="overlay"
		rounded="sm"
		opacity="1.0"
		blur="1px"
		variant="transparent"
	>
		<div style="margin-top:-30px;">
			<div
				v-if="completeForm"
				style="margin-top: 30px"
				class="text-center"
			>
				<div>
					<h4 class="display-1 text-success" style="font-size: 25px">
						<i class="far fa-check-circle"></i> ¡Todo listo!
					</h4>
					<p style="font-size:20px" class="mt-2 mb-4">
						Se ha enviado su ticket satisfactoriamente.
					</p>
				</div>
				<div>
					<button class="btn btn-secondary" @click="cancel">
						Terminar
					</button>
				</div>
			</div>
			<form-wizard
				@on-complete="onComplete"
				title=""
				subtitle=""
				shape="circle"
				step-size="xs"
				transition="slide"
				:hideButtons="true"
				color="rgb(227, 27, 35)"
				ref="wizard"
				v-if="!completeForm"
			>
				<tab-content>
					<div class="text-center">
						<h1 class="display-1" style="font-size: 27px">
							Departamento
						</h1>
						<p>
							Seleccione el departamento al que corresponde este
							ticket
						</p>
					</div>
					<div
						class="border p-4"
						style="margin-bottom: 15px;"
						v-if="departaments.length"
					>
						<div
							class="text-center"
							v-for="(departament, index) in departaments"
							:key="index"
						>
							<i
								class="fas fa-check text-danger mr-1"
								style="font-size:18px"
								v-if="
									departament.idDepartamento ==
										form.departament_id
								"
							></i>
							<label
								class="display-1 mb-0"
								style="font-size:18px; cursor:pointer;"
								@click="
									setDepartament(
										departament.idDepartamento,
										departament.nombre
									)
								"
							>
								{{ departament.nombre }}
							</label>

							<hr
								class="mx-1"
								v-if="index < departaments.length - 1"
							/>
						</div>
					</div>
					<div class="text-center mt-5 mb-4" v-else>
						<h5 class="text-secondary">
							<b-spinner
								type="grow"
								style="width: 1.5rem; height: 1.5rem;"
							></b-spinner>
							<label class="ml-1">Cargando...</label>
						</h5>
					</div>
				</tab-content>
				<tab-content>
					<div class="text-center">
						<h1 class="display-1" style="font-size: 27px">
							Tema relacionado
						</h1>
						<p>Seleccione el tema relacionado a este ticket</p>
					</div>
					<div
						class="border p-4"
						style="margin-bottom: 15px;"
						v-if="services.length"
					>
						<div
							class="text-center"
							v-for="(service, index) in services"
							:key="index"
						>
							<template v-if="service.status != 'Inactivo'">
								<i
									class="fas fa-check text-danger"
									style="font-size:18px"
									v-if="service.id == form.service_id"
								></i>
								&nbsp;
								<label
									class="display-1 mb-0"
									style="font-size:15px; cursor:pointer;"
									for="sistemas"
									@click="
										setService(service.id, service.name)
									"
								>
									{{ service.name }}
								</label>
								<hr
									class="mx-1"
									v-if="index < services.length - 1"
								/>
							</template>
						</div>
					</div>
				</tab-content>
				<tab-content>
					<div class="text-center">
						<h1 class="display-1" style="font-size: 27px">
							Asunto
						</h1>
						<p>
							Seleccione un asunto, si no existe el asunto que
							necesita puede registrar otro
						</p>
					</div>
					<div class="border p-4" style="margin-bottom: 15px;">
						<template v-if="subjects.length">
							<div
								class="text-center"
								v-for="(subject, index) in subjects"
								:key="index"
							>
								<i
									class="fas fa-check text-danger mr-1"
									style="font-size:18px"
									v-if="subject.name == form.subject_name"
								></i>
								<label
									class="display-1 mb-0"
									style="font-size:15px; cursor:pointer"
									@click="
										setSubject(subject.id, subject.name)
									"
								>
									{{ subject.name }}
								</label>
								<hr class="mx-1" />
							</div>
						</template>
						<div class="text-center">
							<label
								class="display-1 mb-0"
								style="font-size:15px; cursor:pointer"
								@click="otroAsunto = true"
								v-if="!otroAsunto"
							>
								<i
									class="fas fa-plus mr-1 text-danger"
									style="font-size:18px"
								></i>
								Otro asunto
							</label>
							<b-row v-if="otroAsunto">
								<b-col lg="10" class="pr-0">
									<b-form-input
										class="text-center"
										placeholder="Registre su asunto"
										v-model="form.subject_name"
									/>
								</b-col>
								<b-col lg="2">
									<b-button
										variant="light"
										class="btn-sm"
										:disabled="!form.subject_name"
										@click="nextTab"
									>
										<i
											class="text-danger fas fa-check mr-1 btn-sm"
										></i>
									</b-button>
								</b-col>
							</b-row>
						</div>
					</div>
				</tab-content>
				<tab-content>
					<b-alert
						variant="danger"
						class="p-2"
						show
						v-if="errorSubmit"
					>
						<h6 class="text-center mt-2">
							<i class="fas fa-exclamation-triangle mr-2"></i>
							Ha ocurrido un problema al enviar la solicitud
						</h6>
					</b-alert>
					<div class="text-center">
						<h1 class="display-1" style="font-size: 27px">
							Mensaje
						</h1>
						<p>Describenos tu asunto</p>
					</div>
					<div class="form-group row">
						<ckeditor
							:editor="editor"
							v-model="form.message"
							:config="editorConfig"
						></ckeditor>
					</div>
					<div class="form-group row">
						<div class="custom-file">
							<input
								type="file"
								class="custom-file-input"
								id="customFileLang"
								lang="es"
								ref="fileInput"
								@change="setFile"
							/>
							<label
								v-if="!form.file"
								class="custom-file-label"
								for="customFileLang"
								>Seleccionar archivo</label
							>
							<label
								v-else
								class="custom-file-label"
								for="customFileLang"
								>{{ form.file.name }}</label
							>
						</div>
					</div>
					<div
						class="d-flex flex-row-reverse"
						style="margin-right: -15px"
					>
						<b-button
							variant="danger"
							class="ml-2 my-2"
							@click="submit"
						>
							ENVIAR
						</b-button>
						<b-button
							variant="white"
							class="link-light my-2"
							@click="cancel"
						>
							CANCELAR
						</b-button>
					</div>
				</tab-content>
			</form-wizard>
		</div>
	</b-overlay>
</template>
<style>
.active {
	background-color: #ffffff00 !important;
}
.vue-form-wizard {
	padding-bottom: 0px;
}
</style>

<script>
import { mapState, mapMutations } from "vuex";
import ClassicEditor from "@ckeditor/ckeditor5-build-classic";
export default {
	data() {
		return {
			otroAsunto: false,
			overlay: false,
			errorSubmit: false,
			name: "app",
			editor: ClassicEditor,
			editorConfig: {
				toolbar: ["bold", "italic", "bulletedList", "numberedList"],
			},
			loadingWizard: false,
			errorMsg: null,
			count: 0,
			completeForm: false,
			departaments: [],
			services: [],
			subjects: [],
			form: {
				departament_id: null,
				departament_name: "",
				service_id: null,
				service_name: null,
				subject_id: null,
				subject_name: "",
				message: "",
				user_id: null,
				file: null,
			},
		};
	},
	mounted() {
		this.getDepartaments();
	},
	methods: {
		...mapMutations("tickets", ["addTicket"]),
		
		getDepartaments() {
			axios.get(BaseUrl + `/api/departaments/admins`).then((response) => {
				this.departaments = response.data;
			});
		},
		getServices(departament_id) {
			axios
				.get(BaseUrl + `/api/services/departaments/${departament_id}`)
				.then((response) => {
					this.services = response.data;
					this.nextTab();
				});
		},
		getSubjects(service_id) {
			axios
				.get(BaseUrl + `/api/subjects/service/${service_id}`)
				.then((response) => {
					this.subjects = response.data;
					this.nextTab();
				});
		},
		setDepartament(id, name) {
			this.form.departament_id = id;
			this.form.departament_name = name;
			this.getServices(id);
		},
		setService(id, name) {
			this.form.service_id = id;
			this.form.service_name = name;
			this.getSubjects(id);
		},
		setSubject(id, name) {
			this.form.subject_id = id;
			this.form.subject_name = name;
			this.nextTab();
		},
		nextTab() {
			this.$refs.wizard.nextTab();
		},
		onComplete: function() {
			this.completeForm = false;
		},
		async submit() {
			try {
				this.overlay = true;
				var data = new FormData();

				data.append("departament_id", this.form.departament_id);
				data.append("departament_name", this.form.departament_name);
				data.append("service_id", this.form.service_id);
				data.append("service_name", this.form.service_name);
				data.append("subject_id", this.form.subject_id);
				data.append("subject_name", this.form.subject_name);
				data.append("message", this.form.message);
				data.append("user_id", this.usuario.idUsuario);
				data.append("file", this.form.file);

				const response = await axios.post(
					BaseUrl + `/api/tickets`,
					data
				);

				if (response.data.success) {
					this.completeForm = true;
					this.overlay = false;
					this.addTicket(response.data.ticket);
				} else {
					this.errorSubmit = false;
				}
			} catch (e) {
				console.log(e);
				this.overlay = false;
				this.errorSubmit = true;
			}
		},
		setFile(e) {
			this.form.file = e.target.files[0];
		},
		cancel() {
			this.$bvModal.hide("modal-ticket");
		},
	},
	computed: {
		...mapState(["usuario"]),
	},
};
</script>
<style>
.ck.ck-editor {
	width: 100% !important;
}
.ck-editor__editable {
	/*min-height: 90px;*/
	max-height: 230px;
}
</style>
