<template>
	<b-overlay
		:show="overlay"
		rounded="sm"
		opacity="1.0"
		blur="1px"
		variant="transparent"
	>
		<div style="margin-top: -30px; margin-bottom: 10px">
			<form-wizard
				@on-complete="onComplete"
				title=""
				subtitle=""
				shape="circle"
				step-size="xs"
				transition="slide"
				:hideButtons="true"
				color="#6c757d"
				ref="wizard"
				v-if="!completeForm"
			>
				<tab-content>
					<div class="text-center">
						<h1 class="display-1" style="font-size: 27px">
							Tema relacionado
						</h1>
						<p>Seleccione el tema relacionado a este ticket</p>
					</div>

					<div class="border p-4" v-if="services.length">
						<div
							class="text-center"
							v-for="(service, index) in services"
							:key="index"
						>
							<i
								class="fas fa-check text-danger mr-1"
								style="font-size: 18px"
								v-if="service.id == form.service_id"
							></i>
							<label
								class="display-1 mb-0"
								style="font-size: 15px; cursor: pointer"
								for="sistemas"
								@click="setService(service.id, service.name)"
							>
								{{ service.name }}
							</label>
							<hr
								class="mx-1"
								v-if="index < services.length - 1"
							/>
						</div>
					</div>
				</tab-content>

				<tab-content>
					<div class="text-center">
						<h1 class="display-1" style="font-size: 27px">
							Asunto
						</h1>
						<p>
							Seleccione un asunto, si no existe el asunto que
							necesita puede registrar otro
						</p>
					</div>
					<div class="border p-4">
						<template v-if="subjects.length">
							<div
								class="text-center"
								v-for="(subject, index) in subjects"
								:key="index"
							>
								<i
									class="fas fa-check text-danger mr-1"
									style="font-size: 18px"
									v-show="subject.id == form.subject_id"
								></i>
								<label
									class="display-1 mb-0"
									style="font-size: 15px; cursor: pointer"
									for="sistemas"
									@click="
										setSubject(subject.id, subject.name)
									"
								>
									{{ subject.name }}
								</label>
								<hr class="mx-1" />
							</div>
						</template>
						<div class="text-center">
							<label
								class="display-1 mb-0"
								style="font-size:15px; cursor:pointer"
								@click="otroAsunto = true"
								v-if="!otroAsunto"
							>
								<i
									class="fas fa-plus mr-1 text-danger"
									style="font-size:18px"
								></i>
								Otro asunto
							</label>
							<b-row v-if="otroAsunto">
								<b-col lg="10" class="pr-0">
									<b-form-input
										class="text-center"
										placeholder="Registre su asunto"
										v-model="form.subject_name"
									/>
								</b-col>
								<b-col lg="2">
									<b-button
										variant="light"
										class="btn-sm"
										:disabled="!form.subject_name"
										@click="nextTab"
									>
										<i
											class="text-danger fas fa-check mr-1 btn-sm"
										></i>
									</b-button>
								</b-col>
							</b-row>
						</div>
					</div>
				</tab-content>

				<tab-content>
					<div class="text-center">
						<div>
							<h4 class="display-1" style="font-size: 18px">
								<strong>Tema:</strong>
							</h4>
							<p class="mb-0">{{ form.service_name }}</p>
						</div>
						<hr />
						<div>
							<h4 class="display-1" style="font-size: 18px">
								<strong>Asunto:</strong>
							</h4>
							<p class="mb-0">{{ form.subject_name }}</p>
						</div>
						<hr />
						<div>
							<b-button
								variant="secondary"
								class="mt-2"
								@click="submit"
								>Guardar
							</b-button>
						</div>
					</div>
				</tab-content>
			</form-wizard>
		</div>
	</b-overlay>
</template>

<script>
import { mapState, mapMutations } from "vuex";

export default {
	props: {
		departament_id: Number,
		ticket_id: Number,
	},
	mounted() {
		this.getServices();
	},
	data() {
		return {
			otroAsunto: false,
			errorSubmit: false,
			overlay: false,
			loadingWizard: false,
			errorMsg: null,
			count: 0,
			completeForm: false,
			services: [],
			subjects: [],
			form: {
				ticket_id: null,
				service_id: null,
				service_name: null,
				subject_id: null,
				subject_name: "",
			},
		};
	},
	methods: {
		...mapMutations("tickets", ["setTicket"]),
		...mapMutations(["modalSubmit", "modalOk"]),
		getServices() {
			axios
				.get(
					BaseUrl +
						`/api/services/departaments/${this.departament_id}`
				)
				.then((response) => {
					this.services = response.data;
				});
		},
		getSubjects(service_id) {
			axios
				.get(BaseUrl + `/api/subjects/service/${service_id}`)
				.then((response) => {
					this.subjects = response.data;
					this.nextTab();
				});
		},
		setService(id, name) {
			this.form.service_id = id;
			this.form.service_name = name;
			this.getSubjects(id);
		},
		setSubject(id, name) {
			this.form.subject_id = id;
			this.form.subject_name = name;
			this.nextTab();
		},
		nextTab() {
			this.$refs.wizard.nextTab();
		},
		onComplete: function() {
			this.completeForm = true;
		},
		async submit() {
			try {
				this.overlay = true;
				this.errorSubmit = false;
				this.form.ticket_id = this.ticket_id;
				const response = await axios.put(
					BaseUrl + `/api/tk/service/subject`,
					this.form
				);
				if (response.data.success) {
					this.setTicket(response.data.ticket);
					this.overlay = false;
					this.modalSubmit(true);
				} else {
					this.errorSubmit = true;
				}
			} catch (e) {
				console.log(e);
				this.overlay = false;
				this.errorSubmit = true;
			}
		},
	},
};
</script>

<style>
span.error {
	color: #e74c3c;
	font-size: 20px;
	display: flex;
	justify-content: center;
}
.active {
	background-color: #ffffff00 !important;
}
.vue-form-wizard {
	padding-bottom: 0px;
}
</style>
