<template>
	<div style="height: 100%; width: 100%;" class="mt-3 img-content">
		<center>
			<img
				:src="urlImage"
				style="width: 450px;"
				alt="Seleccione ticket para comenzar"
				class="imag"
			/>
		</center>
	</div>
</template>

<script>
export default {
	data() {
		return {
			urlImage: "",
		};
	},
	mounted() {
		this.urlImage = BaseUrl + "/img/system/sin_mensajes.png";
	},
};
</script>

<style>
.img-content {
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-ms-flex-align: center;
	-ms-flex-pack: center;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
}
</style>
