<template>
	<div>
		<div class="px-4 pt-3" style="max-width: 100%">
			<ul class="list-group list-group-flush" v-if="ticketActive">
				<li class="list-group-item bg-light">
					<div class="row">
						<div
							class="col-lg-8 col-md-6 col-sm-12 p-2"
							style="min-height: 49px; max-height: 49px"
						>
							<h1
								class="display-1 mt-2 mb-0"
								style="font-size: 21px"
							>
								Ticket #{{ ticketActive.id }}
							</h1>
						</div>
						<div class="col-lg-4 col-md-6 col-sm-12">
							<b-dropdown
								class="float-right mt-2"
								size="sm"
								no-caret
								id="dropdown-right"
								right
								variant="light"
								v-if="isAdmin"
							>
								<template #button-content>
									<i class="fas fa-ellipsis-v p-0"></i>
								</template>
								<b-dropdown-item v-b-modal.modal-edit-tservice
									><i class="fas fa-edit pr-3"></i
									>Editar</b-dropdown-item
								>
								<!-- <b-dropdown-item
									v-b-modal.modal-programar-ticket
									><i class="fas fa-calendar-day pr-3"></i>Programar</b-dropdown-item
								> -->
								<b-dropdown-item v-b-modal.modal-escalate-ticket
									><i class="fas fa-share pr-3"></i
									>Escalar</b-dropdown-item
								>
								<b-dropdown-item
									v-b-modal.modal-close-ticket
									@click="changeStatus('cerrar')"
									><i class="fas fa-comment-slash pr-3"></i
									>Cerrar</b-dropdown-item
								>
								<b-dropdown-item
									v-b-modal.modal-close-ticket
									@click="changeStatus('reabrir')"
									><i class="fas fa-comment pr-3"></i
									>Reabrir</b-dropdown-item
								>
								<!-- <b-dropdown-item
									v-b-modal.modal-borrar-ticket
									><i class="fas fa-trash pr-3"></i>Borrar</b-dropdown-item
								> -->
							</b-dropdown>
						</div>
					</div>
				</li>
				<li class="list-group-item">
					<div class="row">
						<div class="col-lg-12">
							<h5 class="mb-1 font_title">Tema:</h5>
						</div>
					</div>
					<p class="mb-1 font_size">
						{{ ticketActive.service_name }}
					</p>
				</li>
				<li class="list-group-item">
					<div class="d-flex w-100 justify-content-between">
						<h5 class="mb-1 font_title">Asunto:</h5>
					</div>
					<p class="mb-1 font_size">{{ ticketActive.subject }}</p>
				</li>
				<li class="list-group-item">
					<div class="d-flex w-100 justify-content-between">
						<h5 class="mb-1 font_title">De:</h5>
					</div>
					<p class="mb-1 font_size">{{ ticketActive.user_name }}</p>
					<p class="mb-1 font_size text-secondary">
						({{ ticketActive.user_email }})
					</p>
				</li>
				<li class="list-group-item">
					<div class="d-flex w-100 justify-content-between">
						<h5 class="mb-1 font_title">Fecha:</h5>
					</div>
					<p class="mb-1 font_size">{{ ticketDate }}</p>
				</li>
				<li
					v-if="!isAdmin && ticketActive.status != 'Cerrado'"
					class="list-group-item text-center"
				>
					<b-button
						variant="danger"
						size="sm"
						class="px-3"
						v-b-modal.modal-close-ticket
						@click="changeStatus('cerrar')"
						>Cerrar ticket <i class="fas fa-comment-slash ml-2"></i
					></b-button>
				</li>
				<li
					v-if="isAdmin && ticketActive.status == 'Cerrado'"
					class="list-group-item text-center"
				>
					<b-button
						variant="secondary"
						size="sm"
						class="w-100"
						v-b-modal.modal-close-ticket
						@click="changeStatus('reabrir')"
						>Reabrir ticket</b-button
					>
				</li>
			</ul>
		</div>

		<modal-component
			:title="'Editar Ticket'"
			:id="'modal-edit-tservice'"
			:hideFooter="true"
		>
			<template slot="content">
				<form-edit-tservice-component
					:departament_id="Number(ticketActive.departament_id)"
					:ticket_id="ticketActive.id"
				/>
			</template>
		</modal-component>

		<modal-component
			:title="'Escalar Ticket'"
			:id="'modal-escalate-ticket'"
			:hideFooter="true"
		>
			<template slot="content">
				<form-escalate-ticket-component
					:departament_id="Number(ticketActive.departament_id)"
					:ticket_id="ticketActive.id"
				/>
			</template>
		</modal-component>

		<modal-component
			:title="titleStatus"
			:id="'modal-close-ticket'"
			:hideFooter="true"
			:hideHeader="true"
			:centered="true"
		>
			<template slot="content">
				<form-status-ticket-component :ticket_id="ticketActive.id" />
			</template>
		</modal-component>

		<modal-component
			:title="'Programar Ticket'"
			:id="'modal-programar-ticket'"
			:hideFooter="true"
			:hideHeader="true"
			:centered="true"
		>
			<template slot="content">
				<form-programar-ticket-component :ticket_id="ticketActive.id" />
			</template>
		</modal-component>
	</div>
</template>

<script>
import { mapState, mapMutations } from "vuex";

export default {
	data() {
		return {
			titleStatus: "",
		};
	},
	methods: {
		...mapMutations("tickets", ["setDataStatus"]),

		changeStatus(accion) {
			if (accion != "cerrar") {
				this.titleStatus = "Reabrir Ticket";
				var data = {
					title: "Reabrir ticket",
					question: "¿Está seguro de que desea reabrir este ticket?",
					status: "Abierto",
				};
			} else {
				this.titleStatus = "Cerrar Ticket";
				var data = {
					title: "Cerrar ticket",
					question: "¿Está seguro de que desea cerrar este ticket?",
					status: "Cerrado",
				};
			}
			this.setDataStatus(data);
		},
	},
	computed: {
		...mapState("tickets", ["ticketActive", "isAdmin"]),

		ticketDate() {
			return moment(this.ticketActive.created_at)
				.locale("es")
				.format("LLLL");
		},
		menu_status() {
			return this.ticketActive.status != "Cerrado" ? true : false;
		},
	},
};
</script>

<style>
.font_size {
	font-size: 12px;
}
.font_title {
	font-size: 18px;
}
.font_size_button {
	font-size: 11px;
}
</style>
