<template>
	<div>
		<div style="max-width: 100%;">
			<ul class="list-group list-group-flush" v-if="ticketActive">
				<file-component
					v-for="(file, index) in listFiles"
					:key="index"
					:file="file"
				/>
				<div class="text-center mt-4">
					<div
						class="spinner-border text-secondary"
						role="status"
						v-if="isBussyFiles"
					>
						<span class="sr-only">Loading...</span>
					</div>
					<h6
						class="text-secondary"
						v-if="!isBussyFiles && listFiles.length == 0"
					>
						No se encontraron archivos
					</h6>
				</div>
			</ul>
		</div>
	</div>
</template>
<script>
import { mapState, mapActions } from "vuex";

export default {
	data() {
		return {};
	},
	mounted() {
		this.getFiles(this.idTicketActive);
	},
	methods: {
		...mapActions("tickets", ["getFiles"]),
	},
	computed: {
		...mapState("tickets", ["ticketActive", "listFiles", "isBussyFiles"]),
		...mapState(["user"]),
		...mapState(["isAdmin"]),
		idTicketActive() {
			return this.ticketActive.id;
		},
	},
	watch: {
		idTicketActive() {
			this.getFiles(this.idTicketActive);
		},
	},
};
</script>
