<template>
	<div class="bg-light h-100 border-right shadow">
		<div
			class="d-flex justify-content-between align-items-center p-3"
			style="max-height: 73px;"
		>
			<h2
				class="text-dark ml-3 mt-2"
				style="font-size:35px; margin-bottom:1.25px"
			>
				Tickets<span
					class="badge badge-warning badge-admin ml-2"
					v-if="isAdmin"
					>Admin</span
				>
			</h2>
			<b-button variant="danger" class="mr-1 mt-2" v-b-modal.modal-ticket
				>Abrir ticket</b-button
			>
		</div>
		<hr class="mt-0 pr-0" />
		<div class="input-group input-group-sm px-3">
			<div class="input-group-prepend">
				<button
					class="btn btn-white border"
					type="button"
					id="button-addon1"
				>
					<i class="fas fa-search"></i>
				</button>
			</div>
			<input
				type="text"
				v-model="search"
				@keydown="inputHandler"
				class="form-control border"
				placeholder="Ingresa tu busqueda aquí"
				id="input-search"
			/>
		</div>
		<div class="mb-0 text-center px-0">
			<div
				class="input-group input-group-sm mt-2 p-1 d-flex justify-content-center"
				v-if="showFilter"
			>
				<div class="form-check-inline">
					<label class="form-check-label font-weight-bold"
						>Ver Tickets</label
					>
				</div>
				<div class="custom-control custom-radio ml-2">
					<input
						type="radio"
						id="customRadio1"
						class="custom-control-input"
						value="Abierto"
						v-model="statusFilter"
						@change="searchTickets"
					/>
					<label class="custom-control-label" for="customRadio1"
						>Abiertos</label
					>
				</div>
				<div class="custom-control custom-radio ml-3">
					<input
						type="radio"
						id="customRadio2"
						class="custom-control-input"
						value="Cerrado"
						v-model="statusFilter"
						@change="searchTickets"
					/>
					<label class="custom-control-label" for="customRadio2"
						>Cerrados</label
					>
				</div>
				<div class="custom-control custom-radio ml-3">
					<input
						type="radio"
						id="customRadio3"
						class="custom-control-input"
						value="Todos"
						v-model="statusFilter"
						@change="searchTickets"
					/>
					<label class="custom-control-label" for="customRadio3"
						>Todos</label
					>
				</div>
			</div>
			<button
				@click="showFilter = !showFilter"
				type="button"
				class="btn btn-link btn-sm text-center px-3 text-secondary"
			>
				<small v-if="!showFilter">Mostrar filtro</small>
				<small v-else>Ocultar filtro</small>
			</button>
		</div>
		<hr class="mt-2 mb-0" />
		<div
			class="list-group list-group-flush bg-white"
			:class="cardScrollClass"
		>
			<ticket-component
				v-for="(ticket, index) in sortedItems.slice().reverse()"
				:key="index"
				:ticket="ticket"
			/>
			<infinite-loading
				class="bg-light"
				:identifier="infiniteId"
				@infinite="getTickets"
				spinner="spiral"
			>
				<span slot="no-more"></span>
				<template slot="spinner"></template>
				<template slot="no-results"
					>No se encontraron tickets</template
				>
			</infinite-loading>
		</div>

		<modal-component
			:title="'Nuevo Ticket'"
			:id="'modal-ticket'"
			:hideFooter="true"
		>
			<template slot="content">
				<form-new-ticket-component />
			</template>
			<span slot="buttons"></span>
		</modal-component>
	</div>
</template>
<script>
import { mapState, mapMutations } from "vuex";
export default {
	data() {
		return {
			page: 1,
			search: "",
			showFilter: false,
			infiniteId: +new Date(),
			statusFilter: "Abierto",
		};
	},
	mounted() {},
	methods: {
		...mapMutations("tickets", ["addTickets", "emptyListTickets"]),

		getTickets($state) {
			if (this.usuario) {
				if (!this.isAdmin)
					var api =
						BaseUrl + `/api/tickets/user/${this.usuario.idUsuario}`;
				else
					var api =
						BaseUrl +
						`/api/tickets/user/${this.usuario.idUsuario}/admin`;
				axios
					.get(api, {
						params: {
							page: this.page,
							search: this.search,
							status: this.statusFilter,
						},
					})
					.then((response) => {
						if (response.data.data.length) {
							this.page += 1;
							this.addTickets(response.data.data);
							$state.loaded();
						} else {
							$state.complete();
						}
					});
			}
		},
		searchTickets() {
			this.page = 1;
			const list = [];
			this.emptyListTickets(list);
			this.infiniteId += 1;
		},
		inputHandler(e) {
			if (e.keyCode === 13 && !e.shiftKey) {
				e.preventDefault();
				this.searchTickets();
			}
		},
	},
	computed: {
		...mapState(["usuario"]),
		...mapState("tickets", ["listTickets", "isAdmin"]),

		sortedItems: function() {
			const data = this.listTickets.sort((a, b) => {
				return new Date(a.updated_at) - new Date(b.updated_at);
			});
			return data;
		},
		cardScrollClass() {
			if (this.showFilter) return "card-body-scroll-open-filters";
			else return "card-body-scroll";
		},
		routeName() {
			return this.$route.name;
		},
	},
	watch: {
		routeName() {
			this.searchTickets();
		},
		usuario() {
			if (this.usuario) {
				this.searchTickets();
			}
		},
	},
};
</script>
<style>
.card-body-scroll {
	max-height: calc(100vh - 218px);
	overflow-y: auto;
}
.card-body-scroll-open-filters {
	max-height: calc(100vh - 253px);
	overflow-y: auto;
}
.badge-admin {
	font-size: 35%;
}
input:focus,
input.form-control:focus,
[contenteditable].form-control:focus {
	box-shadow: inset 0 0px 0 #ddd;
}
#input-search {
	background-color: #fff !important;
	color: rgb(69, 85, 95) !important;
}
.form-check-input::before {
	background-color: rgb(227, 27, 35) !important;
}

.custom-radio .custom-control-input:checked ~ .custom-control-label::before,
.custom-radio .custom-control-input:checked ~ .custom-control-label::after {
	background-color: #e31b24;
	background-image: url(data:image/svg+xml;charset=utf8,%3Csvg xmlns=http://www.w3.org/2000/svg viewBox=-4 -4 8 8%3E%3Ccircle r=3 fill=%23fff/%3E%3C/svg%3E);
	border-radius: 50%;
}

/* active state i.e. displayed while the mouse is being pressed down */
.custom-radio .custom-control-input:active ~ .custom-control-label::before {
	color: #fff;
	background-color: #ff0000; /* red */
}

/* the shadow; displayed while the element is in focus */
.custom-radio .custom-control-input:focus ~ .custom-control-label::before {
	box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(255, 123, 255, 0.25); /* pink, 25% opacity */
}
</style>
