<template>
	<img
		class="img-fluid rounded"
		:src="urlImage"
		style="height:200px; cursor:pointer"
		v-b-modal.modal-show-image
		@click="setUrlShowImage(file.route)"
	/>
</template>

<script>
import { mapState, mapMutations } from "vuex";
export default {
	props: {
		file: Object,
	},
	methods: {
		...mapMutations("tickets", ["setUrlShowImage"]),
	},
	computed: {
		urlImage() {
			return BaseUrl + "/" + this.file.route;
		},
	},
};
</script>
