<template>
	<b-modal
		:id="'modal-show-image'"
		:ref="'modal-show-image'"
		:size="'xl'"
		:hide-footer="true"
		:hide-header="false"
		class="mi-modal"
	>
		<template v-slot:modal-header="{ close }">
			<h1></h1>
			<slot name="button-close">
				<b-button
					variant="link"
					size="sm"
					class="text-white float-right"
					@click="close()"
				>
					<i class="fas fa-times" style="font-size: 15px"></i>
				</b-button>
			</slot>
		</template>
		<div class="text-center">
			<img
				class="img-fluid rounded"
				:src="urlImage"
				style="height: 80vh; max-height: 80vh; max-width: 80vw"
			/>
		</div>
	</b-modal>
</template>

<script>
import { mapState } from "vuex";
export default {
	computed: {
		...mapState("tickets", ["urlShowImage"]),
		urlImage() {
			if (this.urlShowImage) return BaseUrl + "/" + this.urlShowImage;
		},
	},
};
</script>

<style>
.modal-xl {
	max-width: 1540px;
}
#modal-show-image > div > .modal-content {
	-webkit-box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0),
		0px 5px 0 rgba(0, 0, 0, 0), 0 1px 10px 0 rgba(0, 0, 0, 0);
	background-color: transparent;
}
#modal-show-image > div > div > .modal-header {
	border-bottom: 0px solid #dee2;
}
</style>
