<template>
	<li class="list-group-item py-6">
		<div class="media align-items-center">
			<div class="avatar avatar-sm mr-3" :class="online">
				<img
					class="avatar-img"
					:src="participantPicture"
					:alt="participant.nombreUsuario"
				/>
			</div>
			<div class="media-body">
				<h6 class="mb-0 h6 text-dark">
					{{ participant.nombreUsuario }}
				</h6>
				<small class="text-dark-80">{{ participant.email }}</small>
			</div>
		</div>
	</li>
</template>
<script>
import { mapState, mapMutations, mapActions } from "vuex";
export default {
	props: {
		participant: Object,
	},
	computed: {
		online() {
			if (this.participant.online) return "avatar-online";
			return "";
		},
		participantPicture() {
			return BaseUrl + "/img/profiles/" + this.participant.foto;
		},
	},
};
</script>
<style>
.status-active {
	background-color: rgb(64, 177, 56);
}
.status-inactive {
	background-color: rgb(156, 158, 156);
}
.image_outer_container {
	margin-top: auto;
	margin-bottom: auto;
	border-radius: 50%;
	position: relative;
}
.image_inner_container {
	border-radius: 50%;
	padding: 1px;
	background: #833ab4;
	background: -webkit-linear-gradient(
		to bottom,
		rgb(106, 115, 123),
		rgb(69, 85, 95),
		rgb(227, 27, 35),
		#912020
	);
	background: linear-gradient(
		to bottom,
		rgb(106, 115, 123),
		rgb(69, 85, 95),
		rgb(227, 27, 35),
		#912020
	);
}
.image_outer_container .green_icon {
	position: absolute;
	right: 31px;
	bottom: 0px;
	height: 13px;
	width: 13px;
	border: 2px solid white;
	border-radius: 50%;
}

.avatar-sm,
.avatar-sm > img {
	height: 2.75rem;
	min-height: 2.75rem;
	width: 2.75rem;
	min-width: 2.75rem;
}
.avatar,
.avatar > img {
	height: 40px;
	min-height: 40px;
	width: 40px;
	min-width: 40px;
}
.avatar,
.avatar > img {
	border-radius: 50%;
}

.avatar {
	background: #f5f6fa;
	display: inline-block;
	position: relative;
	line-height: 0;
}

.avatar.avatar-offline::before,
.avatar.avatar-online::before {
	position: absolute;
	border: 2px solid #fff;
	display: block;
	bottom: -3px;
	right: 0;
	content: "";
	border-radius: 50%;
	-webkit-transform: translate(-10%, 0);
	transform: translate(-10%, 0);
	height: 30%;
	min-height: 30%;
	width: 30%;
	min-width: 30%;
}
.h6 {
	font-size: 0.9375rem;
}

.avatar.avatar-online::before {
	background: #42ba96;
}

.avatar.avatar-offline::before {
	background: #42ba96;
}
</style>
