<template>
	<div class="container-fluid bg-white" style="height: calc(100vh - 52px)">
		<div class="row h-100">
			<div class="col-md-3 h-100 px-0">
				<list-tickets-component />
			</div>
			<div class="col-md-9 h-100">
				<audio id="audio" controls>
					<source type="audio/mpeg" src="/sounds/tono.mp3" />
				</audio>
				<ticket-active-component v-if="ticketActive" />
				<no-ticket-active-component v-else />
			</div>
		</div>
		<!-- <notifications-all-component /> -->
	</div>
</template>
<script>
import { mapState, mapMutations, mapActions } from "vuex";
import Push from "push.js";
export default {
	props: {},
	data() {
		return {};
	},
	mounted() {
		if (
			this.$route.name == "tk.tickets.admin" ||
			this.$route.name == "tk.tickets.idTicket.admin"
		)
			this.setIsAdmin(true);
		else this.setIsAdmin(false);
		if (this.$route.params.idTicket) {
			const idTicket = this.$route.params.idTicket;
			this.getTicket(idTicket);
			this.deleteMessagesUnread(idTicket);
			this.getMessages(idTicket);
		}
		if (!Push.Permission.has())
			Push.Permission.request(this.onGranted, this.onDenied);
	},
	methods: {
		...mapMutations("tk_notifications", [
			"addNotification",
			"incrementCount",
		]),
		...mapMutations("tickets", [
			"participantHere",
			"participantJoin",
			"participantLeaving",
			"addMessageUnread",
			"updateTicket",
			"setUsersOnline",
			"setUserOnline",
			"removeUserOffline",
			"setIsAdmin",
			"setTicket",
		]),
		...mapActions("tickets", [
			"deleteMessagesUnread",
			"getParticipants",
			"getMessages",
			"getTicket",
		]),
		reproducir() {
			var audio = document.getElementById("audio");
			audio.play();
		},

		listenForNewTickets() {
			EchoTK.private(`users.${this.usuario.idUsuario}`).listen(
				"TicketCreated",
				(e) => {
					if (this.isAdmin) {
						this.listTickets.push(e.ticket);
						// this.notificationNewTicket(e.usuario, e.ticket);
					}
				}
			);
		},
		listenForCloseTickets() {
			EchoTK.private(`chat`).listen("TicketClosed", (e) => {
				this.updateTicket(e.ticket);
			});
		},
		listenForUpdateTicket() {
			EchoTK.private(`chat`).listen("NewMessage", (e) => {
				if (this.ticketActive) {
					if (e.ticket.id != this.ticketActive.id) {
						var read = null;
						// this.incrementCount();
						this.addMessageUnread(e.message.ticket_id);
					} else var read = this.myDate;
					// this.notificationNewMessage(e.user, e.ticket, read);
				} else {
					var read = null;
					// this.notificationNewMessage(e.user, e.ticket, read);
					// this.incrementCount();
					this.addMessageUnread(e.message.ticket_id);
				}
				this.updateTicket(e.ticket);

				if (document.visibilityState == "hidden") {
					if (this.userHasTicket(e.ticket.id))
						this.notificationPush(e);
				}
			});
			EchoTK.join(`chat`)
				.here((usuarios) => {
					usuarios.forEach((usuario) =>
						this.setUserOnline(usuario, true)
					);
				})
				.joining((usuario) => this.setUserOnline(usuario, true))
				.leaving((usuario) => this.removeUserOffline(usuario, false));
		},
		notificationPush(data) {
			this.reproducir();

			if (this.unreadMessages > 0) {
				document
					.getElementById("favicon")
					.setAttribute("href", "/img/logo/isologo-not.png");
				window.document.title =
					"(" + this.unreadMessages + ")" + " TICKETS AMMMEC";
			} else {
				document
					.getElementById("favicon")
					.setAttribute("href", "/img/logo/isologo.png");
				window.document.title = "TICKETS AMMMEC";
			}
			if (Push.Permission.has()) {
				Push.create(data.message.user_name, {
					body: `Contestó en el ticket ${data.ticket.id}`,
					icon: `${BaseUrl}+${data.ticket.user_picture}`,
					timeout: 40000,
					onClick: function() {
						if (this.isAdmin)
							window.location.href =
								BaseUrl + `/tickets/${data.ticket.id}/admin`;
						else
							window.location.href =
								BaseUrl + `/tickets/${data.ticket.id}`;
						this.close();
					},
					silent: false,
				});
			} else {
				Push.Permission.request(onGranted, onDenied);
			}
		},
		userHasTicket(ticket_id) {
			const ticket_state = this.listTickets.find(function(ticket_state) {
				return ticket_state.id == ticket_id;
			});
			if (ticket_state) return true;
			return false;
		},
		// notificationNewMessage(usuario, ticket, read) {
		// 	console.log(usuario);
		// 	var notification = {
		// 		created_at: this.myDate,
		// 		data: {
		// 			icon: `<i class="far fa-envelope"></i>`,
		// 			id: ticket.id,
		// 			picture: usuario.foto,
		// 			route_name: "tickets.show_admin",
		// 			text: `<b>${usuario.nombreUsuario}</b> ha mandado un mensaje en el ticket #${ticket.id}`,
		// 		},
		// 		id: "",
		// 		notifiable_id: this.usuario.idUsuario,
		// 		read_at: read,
		// 		updated_at: this.myDate,
		// 	};
		// 	this.addNotification(notification);
		// },
		// notificationNewTicket(usuario, ticket) {
		// 	var notification = {
		// 		created_at: this.myDate,
		// 		data: {
		// 			icon: `<i class='far fa-sticky-note'></i>`,
		// 			id: ticket.id,
		// 			picture: usuario.foto,
		// 			route_name: "tickets.show_admin",
		// 			text: `<b>${usuario.name}</b> ha creado un nuevo ticket (#${ticket.id})`,
		// 		},
		// 		id: "",
		// 		notifiable_id: this.usuario.idUsuario,
		// 		read_at: null,
		// 		updated_at: this.myDate,
		// 	};
		// 	this.addNotification(notification);
		// },
	},
	computed: {
		...mapState(["usuario"]),
		...mapState("tickets", [
			"ticketActive",
			"listTickets",
			"isAdmin",
			"unreadMessages",
		]),
		myDate() {
			return moment(new Date()).format("YYYY-MM-DD HH:mm:ss");
		},
		routeName() {
			return this.$route.name;
		},
	},
	watch: {
		usuario() {
			this.listenForNewTickets();
			this.listenForCloseTickets();
			this.listenForUpdateTicket();
		},
		routeName() {
			if (
				this.routeName == "tk.tickets.admin" ||
				this.routeName == "tk.tickets.idTicket.admin"
			)
				this.setIsAdmin(true);
			else this.setIsAdmin(false);
		},
	},
};
</script>

<style>
#audio {
	display: none;
}
</style>
