<template>
	<div class="row h-100">
		<div class="border-right h-100" :class="chatCol">
			<div class="row">
				<div class="col-12 px-0" :class="chatClass">
					<div
						class="d-flex justify-content-between bg-light border-bottom p-4"
						style="max-height: 74px"
					>
						<h1 class="mb-0 display-1" style="font-size: 23px">
							<strong>Ticket #{{ ticketActive.id }}</strong>
							<small
								>{{ ticketActive.subject }}
								<span
									class="badge badge-secondary"
									v-if="ticketActive.status == 'Cerrado'"
									style="margin-top: -20px"
								>
									Cerrado
								</span>
							</small>
						</h1>
						<button
							type="button"
							class="btn btn-light btn-sm float-right"
							@click="changeInfoShow"
						>
							<i class="fas fa-ellipsis-v"></i>
						</button>
					</div>

					<div
						v-if="
							messagesConversation.length < 3 &&
								ticketActive.status != 'Cerrado' &&
								!isAdmin
						"
						class="alert alert-warning mt-3 mx-5 mb-0"
						role="alert"
					>
						Gracias por contactar al el soporte técnico de AMMMEC
						S.A. DE C.V. En un lapso de 12 horas uno de nuestros
						ingenieros lo atenderá para solventar su petición. Su
						satisfacción es muy importante para nosotros.
					</div>

					<div :class="scrollClass" class="pl-4 pr-5 pt-3">
						<img-no-messages-component
							v-if="messagesConversation.length == 0"
						/>
						<message-component
							v-for="(message, index) in messagesConversation"
							:key="index"
							:message="message"
						/>
					</div>
				</div>

				<footer class="border-top">
					<form-message-component
						@filesProcess="fileInput = true"
						@noFilesProcess="fileInput = false"
						v-if="ticketActive.status != 'Cerrado'"
					/>

					<div
						v-if="ticketActive.status == 'Cerrado'"
						class="div-ticket-cerrado mx-5 text-center text-dark"
					>
						<h1 class="mb-0" style="font-size: 25px">
							Ticket Cerrado
						</h1>
					</div>
				</footer>
			</div>
		</div>
		<div
			class="col-md-4 px-0 scroll-info-ticket shadow bg-light"
			v-if="infoShow"
		>
			<info-ticket-component />
			<div class="bg-light p-3">
				<nav class="nav nav-pills flex-column flex-sm-row">
					<a
						class="flex-sm-fill text-sm-center nav-link"
						:class="btnParticipantClass"
						href="#"
						@click="showParticipants = true"
						>Participantes</a
					>
					<a
						class="flex-sm-fill text-sm-center nav-link"
						:class="btnFilesClass"
						href="#"
						@click="showParticipants = false"
						>Archivos</a
					>
				</nav>
			</div>
			<hr class="my-0" />

			<list-participants-component v-if="showParticipants" />
			<list-files-component v-else />
		</div>

		<modal-show-image-component />
	</div>
</template>
<script>
import { mapState, mapMutations, mapActions } from "vuex";
// import Push from 'push.js'

export default {
	props: {},
	data() {
		return {
			counter: 0,
			infoShow: false,
			fileInput: false,
			showParticipants: true,
		};
	},
	mounted() {
		this.subscribeTicket();
		// this.scrollToBottom();
	},
	methods: {
		...mapMutations("tickets", [
			"addMessage",
			"updateTicket",
			"updatedMessageUnread",
			"participantHere",
			"participantJoin",
			"participantLeaving",
			"addSubcription",
		]),
		...mapActions("tickets", ["deleteMessagesUnread"]),
		...mapActions("tk_notifications", ["readNotifications"]),
		subscribeTicket() {
			if (this.subscription) {
				EchoTK.leaveChannel(this.subscription);
			}
			EchoTK.channel(`tickets.${this.idTicket}`).listen(
				"NewMessage",
				(e) => {
					if (e.message.user_id != this.usuario.idUsuario) {
						this.addMessage(e.message);
						this.deleteMessagesUnread(e.ticket.id);
						var data = {
							ticket_id: e.ticket.id,
							from: "ticketActive",
						};
						this.readNotifications(data);
					}
				}
			);
			this.addSubcription(`tickets.${this.idTicket}`);
		},
		scrollToBottom() {
			if (
				this.ticketActive.status != "Cerrado" &&
				this.fileInput == false
			)
				var el = document.querySelector(".messages-scroll-opened");
			else if (
				this.ticketActive.status != "Cerrado" &&
				this.fileInput == true
			)
				var el = document.querySelector(
					".messages-scroll-opened-whith-input-files"
				);
			else var el = document.querySelector(".messages-scroll-closed");
			el.scrollTop = el.scrollHeight;
		},
		changeInfoShow() {
			if (this.infoShow) this.infoShow = false;
			else this.infoShow = true;
		},
	},
	computed: {
		...mapState("tickets", [
			"messages",
			"ticketActive",
			"listParticipants",
			"subscription",
			"isAdmin",
		]),
		...mapState(["usuario"]),
		messagesConversation() {
			return this.messages;
		},
		idTicket() {
			return this.ticketActive.id;
		},
		scrollClass() {
			if (
				this.ticketActive.status != "Cerrado" &&
				this.fileInput == false
			)
				return "messages-scroll-opened";
			else if (
				this.ticketActive.status != "Cerrado" &&
				this.fileInput == true
			)
				return "messages-scroll-opened-whith-input-files";
			else return "messages-scroll-closed";
		},
		chatClass() {
			if (
				this.ticketActive.status != "Cerrado" &&
				this.fileInput == false
			)
				return "ticket-opened";
			else if (
				this.ticketActive.status != "Cerrado" &&
				this.fileInput == true
			)
				return "ticket-opened-whit-input-files";
			else return "ticket-closed";
		},
		chatCol() {
			if (this.infoShow) return "col-8";
			else return "col-12";
		},
		btnParticipantClass() {
			if (this.showParticipants) return "bg-white text-dark";
			else return "bg-light text-secondary";
		},
		btnFilesClass() {
			if (!this.showParticipants) return "bg-white text-dark";
			else return "bg-light text-secondary";
		},
	},
	watch: {
		idTicket() {
			this.subscribeTicket();
		},
	},
	updated() {
		this.scrollToBottom();
	},
};
</script>
<style>
footer {
	background-color: rgb(245 246 246) !important;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: auto;
}
.messages-scroll-opened {
	height: calc(100vh - 319px);
	overflow-y: auto;
}

.ticket-opened {
	height: calc(100vh - 149px);
}

.ticket-closed {
	height: calc(100vh - 154px);
}

.messages-scroll-closed {
	height: calc(100vh - 220px);
	overflow-y: auto;
}

.ticket-opened-whit-input-files {
	height: calc(100vh - 230px);
	overflow-y: auto;
}

.messages-scroll-opened-whith-input-files {
	height: calc(100vh - 300px);
	overflow-y: auto;
}

.div-ticket-cerrado {
	position: relative;
	padding: 0.64rem 1.25rem;
	margin-bottom: 0rem;
	border: 0px solid transparent;
	border-radius: 0.25rem;
}

.scroll-info-ticket {
	height: calc(100vh - 55px);
	overflow-y: auto;
}
</style>
