<template>
	<div>
		<b-list-group-item
			href="#"
			class="flex-column align-items-start p-2 bg-light border-light"
			:class="buttonClass1"
			@click="showTicket(ticket)"
		>
			<b-media class="p-3 bg-white" :class="buttonClass2">
				<template v-slot:aside>
					<b-avatar v-if="isAdmin" :src="userPicture"> </b-avatar>
					<div
						v-else
						class="card-img-top ml-0 pl-0 mt-1 text-white"
						:class="classImage"
						alt="Card image cap"
						style="width: 40px; height: 40px; border-radius: 50%"
					>
						<h2 class="pt-0">{{ letraDepartamento }}</h2>
					</div>
				</template>

				<div class="d-flex w-100 justify-content-between">
					<h6 class="mb-1" style="font-size:13px">
						Ticket #{{ ticket.id }}
						<b-badge
							style="font-size: 8px"
							class="ml-1"
							:class="classBadge"
						>
							{{ ticketStatus }}
						</b-badge>
					</h6>
					<small class="text-secondary">
						<i class="far fa-clock"></i>
						{{ lastTime }}
					</small>
				</div>

				<div class="d-flex w-100 justify-content-between">
					<p class="mb-0" style="font-size:12px">
						<template v-if="isAdmin">
							{{ ticket.user_name }}
						</template>
						<template v-else>
							Dpto. de {{ ticket.departament_name }}
						</template>
					</p>
					<b-badge
						pill
						variant="secondary"
						class="pt-1"
						v-if="ticket.messages_unread > 0"
					>
						{{ ticket.messages_unread }}
					</b-badge>
				</div>
				<div style="font-size:12px">
					{{ ticket.service_name }}
					<i class="fas fa-arrow-right mx-1"></i>
					{{ ticket.subject }}
				</div>
			</b-media>
		</b-list-group-item>
	</div>
</template>
<script>
import { mapState, mapMutations, mapActions } from "vuex";
export default {
	props: {
		ticket: Object,
	},
	data() {
		return {};
	},
	mounted() {},
	methods: {
		...mapMutations(["setUser"]),
		...mapActions("tickets", ["getMessages"]),
		...mapMutations("tickets", ["setTicket"]),
		...mapActions("notifications", ["readNotifications"]),

		showTicket(ticket) {
			const path = this.$route.path;
			if (this.isAdmin) var url = `/tickets/${ticket.id}/admin`;
			else var url = `/tickets/${ticket.id}`;
			if (path != url) {
				this.$router.push(BaseUrl + url);
				this.setTicket(ticket);
				this.getMessages(ticket.id);
			}
			if (this.ticket.messages_unread > 0) {
				var data = {
					ticket_id: this.ticket.id,
					from: "listTickets",
				};
				this.readNotifications(data);
			}
		},
	},
	computed: {
		...mapState("tickets", ["ticketActive", "isAdmin"]),

		buttonClass() {
			if (this.ticketActive) {
				if (this.ticket.id == this.ticketActive.id)
					return "bg-ligth-active";
			}
			return "";
		},
		lastTime() {
			const time = moment(this.ticket.updated_at, "YYYY-MM-DD hh:mm:ss")
				.locale("es")
				.fromNow();
			return time.charAt(0).toUpperCase() + time.slice(1);
		},
		letraDepartamento() {
			if (this.ticket.departament_id == "2") return "S";
			else return "C";
		},
		classImage() {
			if (this.ticket.departament_id == "2") return "color-sistemas";
			else return "color-conservacion";
		},
		classBadge() {
			if (this.ticketStatus == "Cerrado") return "badge-secondary";
			else if (this.ticketStatus == "Abierto") return "badge-success";
			else this.ticketStatus;
			return "badge-danger";
		},
		ticketStatus() {
			if (this.isAdmin) return this.ticket.status_admin;
			else return this.ticket.status;
		},
		userPicture() {
			return BaseUrl + "/img/profiles/" + this.ticket.user_picture;
		},
		buttonClass1() {
			if (this.ticketActive) {
				if (this.ticket.id == this.ticketActive.id)
					return "bg-ligth-active";
			}
			return "";
		},
		buttonClass2() {
			if (this.ticketActive) {
				if (this.ticket.id == this.ticketActive.id)
					return "bg-ligth-2-active";
			}
		},
	},
};
</script>
<style>
.color-sistemas {
	background-color: #6695c5b5;
}
.color-conservacion {
	background-color: #c56666b5;
}
.bg-ligth-active {
	background-color: rgb(206 214 220) !important;
}
.bg-ligth-2-active {
	background-color: #eef2f5 !important;
}
.spinner-grow-sm {
	width: 1.2rem !important;
	height: 1.2rem !important;
}
</style>
