<template>
	<b-row>
		<b-col lg="6">
			<b-card class="shadow-sm">
				<b-table-simple>
					<b-thead class="text-center">
						<b-tr>
							<b-th></b-th>
							<b-th v-for="index in totalFields" :key="index">
								<template v-if="periodo=='cuatri'">
									Cuatrimestre {{ index }}
								</template>
								<template v-else>
									Trimestre {{ index }}
								</template>
							</b-th>
						</b-tr>
					</b-thead>
					<b-tbody>
						<b-tr>
							<b-td><strong>Real</strong></b-td>
							<template v-if="periodo=='trimestre'">
								<b-td class="text-center">
									{{ meses.find(
										mes => mes.nombre === "marzo").porcentaje 
									}} %
								</b-td>
								<b-td class="text-center">
									{{ meses.find(
										mes => mes.nombre === "junio").porcentaje 
									}} %
								</b-td>
								<b-td class="text-center">
									{{ meses.find(
										mes => mes.nombre === "septiembre").porcentaje 
									}} %
								</b-td>
								<b-td class="text-center">
									{{ meses.find(
										mes => mes.nombre === "diciembre").porcentaje 
									}} %
								</b-td>
							</template>
							<template v-else>
								<b-td class="text-center">
									{{ meses.find(
										mes => mes.nombre === "abril").porcentaje 
									}} %
								</b-td>
								<b-td class="text-center">
									{{ meses.find(
										mes => mes.nombre === "agosto").porcentaje 
									}} %
								</b-td>
								<b-td class="text-center">
									{{ meses.find(
										mes => mes.nombre === "diciembre").porcentaje 
									}} %
								</b-td>
							</template>
						</b-tr>
						<b-tr>
							<b-td><strong>Deceado</strong></b-td>
							<b-td v-for="index in totalFields" :key="index" class="text-center">
								{{ deceado }}
							</b-td>
						</b-tr>
					</b-tbody>
				</b-table-simple>
			</b-card>
		</b-col>
		<b-col lg="6">
			<b-card class="shadow-sm">
       			<b-table-simple>
					<b-thead>
	       				<b-tr>
		       				<th><h5>Mes</h5></th>
		       				<th class="text-center"><h5>Clientes facturados</h5></th>
	       				</b-tr>
	       			</b-thead>
	       			<b-tbody>
	       				<b-tr v-for="(mes, index) in meses" :key="index"  :class="{'bg-success-light': mes.nombre == mesActual }">
		       				<td>
		       					{{ mes.nombre.toUpperCase() }}
		       				</td>
		       				<td class="text-center">
		       					{{ mes.porcentaje }}
		       				</td>
		       			</b-tr>
		       		</b-tbody>
       			</b-table-simple>
       		</b-card>
		</b-col>
	</b-row>
</template>

<script>
 	import { mapState } from 'vuex'

	export default {
		props:{
			totalFields: Number,
			periodo: String,
		},
		data() {
			return {
				active: true,
				totalClientes: null,
				meses: [
					{ nombre:'enero', porcentaje: 0 },
					{ nombre:'febrero', porcentaje: 0 },
					{ nombre:'marzo', porcentaje: 0 },
					{ nombre:'abril', porcentaje: 0 },
					{ nombre:'mayo', porcentaje: 0 },
					{ nombre:'junio', porcentaje: 0 },
					{ nombre:'julio', porcentaje: 0 },
					{ nombre:'agosto', porcentaje: 0 },
					{ nombre:'septiembre', porcentaje: 0 },
					{ nombre:'octubre', porcentaje: 0 },
					{ nombre:'noviembre', porcentaje: 0 },		
					{ nombre:'diciembre', porcentaje: 0 }				
				],
			}
		},
		mounted(){
        	this.totalByMes()
    	},
		methods: 
		{
			totalByMes()
			{	
				this.totalClientes = this.clientesPresupuestados
				this.meses.forEach(this.getPercentage)
			},
			getPercentage(mes)
			{ 
				if (this.clientesPresupuestados > 0) {
					const nuevos = this.clientesFacturados.filter(
						cliente => 
							cliente.tipo == "nuevo" 
							&& cliente.facturado == true 
							&& moment(cliente.fecha_factura).locale('es').format("MMMM") == mes.nombre
						).length 

					this.totalClientes = (nuevos > 0) ? this.totalClientes + nuevos : this.totalClientes

					var porcentaje = ((this.totalClientes / this.clientesPresupuestados) - 1) * 100

					if (!Number.isInteger(porcentaje))
	   					 porcentaje = porcentaje.toFixed(2)

					mes.porcentaje = porcentaje
				}else{
					mes.porcentaje = 0
				}
			}
		},
		computed: {
			...mapState('indicadores', ['clientesFacturados']),
			
			deceado()
			{
				if(this.periodo=='cuatri')
					return '33.33%'
				return '25%'
			},
			clientesPresupuestados()
			{
				return this.clientesFacturados.filter(
					cliente => cliente.tipo == "presupuestado").length
			},
			mesActual()
			{
				return moment().locale('es').format("MMMM")
			}
		},
		watch: {
			clientesFacturados() 
			{
				this.totalByMes()
			}
		}
	}
</script>

<style>
	.bg-success-light{
		background-color: #c3e6cb;
	}
</style>