<template>
	<div class="wrapper">
		<sidebar-component :title="'INDICADORES'" >
			<template slot="content">
				<vt-ind-sidebar />
			</template>
		</sidebar-component>
		<b-container>
			<b-row class="py-4">
				<b-col lg="12">
					<h1 class="text-center mb-0">Porcentaje de crecimiento</h1>
				</b-col>
			</b-row>
			<b-row>
				<b-col lg="3">
					<vt-ind-filter-embudos />
				</b-col>
				<b-col lg="3">
					<b-form-group>
						<b-input-group prepend="Periodos" size="sm">
							<b-form-select 
								v-model="periodo" 
								:options="options" 
								size="sm"
								@change="chageTotalFields"
								class="w-25">					
							</b-form-select>
						</b-input-group>
					</b-form-group>	
				</b-col>
			</b-row>
			<vt-ind-crecimiento-content
				:totalFields="totalFields"
				:periodo="periodo" />
		</b-container>
	</div>
</template>
<script>
    import { mapState, mapMutations, mapActions } from 'vuex'

	export default {
    data() {
      return {
       	totalFields: 4,
		periodo:'trimestre',
		options: [
			{ value: 'cuatri', text: 'Cuatrimestre' },
			{ value: 'trimestre', text: 'Trimestre' },
        ],
      }
    },
    mounted(){
		this.getClientesFacturados(this.embudoSelected.idEmbudo)
        this.setRouteName('vt.indicadores.crecimiento')  
    },
    methods: { 
        ...mapMutations(['setRouteName']),
        ...mapActions('indicadores', ['getClientesFacturados']),
        
        chageTotalFields()
		{
			this.totalFields = (this.totalFields == 3) ? 4 : 3
		}
    },
    computed: {
    	...mapState(['routeName']),
    	...mapState('negocios', ['embudoSelected']),
    }
  }
	
</script>