<template>
	<b-container fluid style="height: calc(100vh - 54px)">
		<b-row class="h-100">
			<b-col lg="2" class="px-0 h-100">
				<vt-configuracion-sidebar />
			</b-col>
			<b-col lg="10">
				<div>
					<b-row>
						<b-col lg="2"></b-col>
						<b-col lg="8">
							<h1 class="text-center mt-4">
								Proyecciones de Presupuesto
							</h1>
						</b-col>

						<b-col lg="2" class="pt-3">
							<b-badge
								variant="success"
								class="float-right mt-4"
								v-if="success"
							>
								<i class="fas fa-check-circle mr-1"></i>Se han
								guardado correctamente los cambios
							</b-badge>
							<b-badge
								variant="light"
								class="float-right mt-4"
								v-if="load"
							>
								<b-spinner
									type="grow"
									small
									label="Spinning"
								></b-spinner
								>Cargando ...
							</b-badge>
						</b-col>
					</b-row>
					<b-card class="mt-3 shadow-sm" no-body>
						<b-table-simple
							hover
							responsive
							show-empty
							striped
							bordered
							class="mb-0"
						>
							<b-thead class="text-center">
								<b-tr>
									<b-th class="text-left" width="10%"></b-th>
									<b-th
										width="10%"
										v-for="(embudo, index) in embudos"
										:key="index"
									>
										<h5 class="mb-0">
											{{ embudo.periodo }}
										</h5>
									</b-th>
								</b-tr>
							</b-thead>
							<b-tbody>
								<vt-configuracion-proyecciones-tr-unidades-component
									v-for="(unidadNeg,
									index) in listUnidadesNegocio"
									:key="index"
									:unidad-neg="unidadNeg"
								/>
							</b-tbody>
							<b-tfoot>
								<tr
									style="background-color: rgba(35, 124, 179, 0.12) !important;"
								>
									<b-td><strong>TOTALES:</strong></b-td>
									<vt-configuracion-proyecciones-td-totales-component
										v-for="(embudo, index) in embudos"
										:key="index"
										:id-embudo="embudo.idEmbudo"
									/>
								</tr>
							</b-tfoot>
						</b-table-simple>
					</b-card>
				</div>
			</b-col>
		</b-row>
	</b-container>
</template>

<script>
import { mapMutations, mapState, mapActions } from "vuex";
export default {
	props: {},
	mounted() {
		this.setRouteName("vt.configuracion.proyecciones");
		this.getEmbudos();
		this.getUnidadesNegocio();
		this.getProyecciones();
	},
	methods: {
		...mapMutations(["setRouteName"]),
		...mapActions("vt_unidades_negocio", ["getUnidadesNegocio"]),
		...mapActions("vt_proyecciones", ["getProyecciones"]),
		...mapActions("embudos", ["getEmbudos"]),
	},
	computed: {
		...mapState("vt_unidades_negocio", ["listUnidadesNegocio"]),
		...mapState("vt_proyecciones", ["load", "success"]),
		...mapState("embudos", ["embudos"]),
	},
};
</script>
