<template>
	<td class="text-right td-monto align-middle">
		<div class="d-flex">
			<div class="mr-auto pl-2">
				<i class="fas fa-dollar-sign align-middle"></i>
			</div>
			<div class="w-75 pl-3">
				<vue-numeric
					class="text-right form-control form-control-sm"
					separator=","
					:precision="2"
					:read-only="!edit"
					@keyup.enter.native="submit($event.target.value)"
					:value="montoProyeccion"	
				/>
				<b-link
					v-if="hasPermission('vt.crm.config.editar.proyeccion')"
					v-show="!edit"
					class="text-secondary ml-1 icon-edit"
					@click="edit = true"
					><i class="fas fa-pen"></i
				></b-link>
			</div>
		</div>
	</td>
</template>

<script>
import { mapMutations, mapState } from 'vuex';
export default {
	props: {
		idUnidadNegocio: Number,
		idEmbudo: Number,
	},
	data() {
		return {
			edit: false,
		};
	},
	methods: {
		...mapMutations("vt_proyecciones", ["saveProyeccion", "setLoad", "setSuccess"]),

		async submit(newMonto) {
			if(newMonto) {
				this.setLoad(true)
				this.setSuccess(false)
				const form = {
					idUnidadNegocio: this.idUnidadNegocio,
					idEmbudo: this.idEmbudo,
					monto: newMonto
				}
				const response = await axios.post(
					BaseUrl + "/api/vt/proyecciones",
					form
				);
				if (response.data.success) {
					
					this.saveProyeccion(response.data.proyeccion)
				}
			} 
			this.edit = false;
		},
		hasPermission(funcion) {
			if (this.permissions.length) {
				const permiso = this.permissions.find(
					(permiso) => permiso.idFuncion == funcion
				);
				if (permiso) return true;
				return false;
			}
		},
	},
	computed: {
		...mapState(["permissions"]),
		...mapState("vt_proyecciones", ["listProyecciones"]),
		
		montoProyeccion(){
			if(this.listProyecciones) {
				const proyeccion = this.listProyecciones.find(
					(proyeccion) => proyeccion.idUnidadNegocio == this.idUnidadNegocio && proyeccion.idEmbudo == this.idEmbudo
				)
				if(proyeccion) {
					if(proyeccion.monto)
						return proyeccion.monto
				}
			}
			return 0
		}
	},
};
</script>

<style>
.icon-edit {
	display: none;
}
.td-monto:hover .icon-edit {
	display: inline-block;
}
</style>