<template>
	<td class="text-right td-monto align-middle">
		<div class="d-flex">
			<div class="mr-auto pl-2">
				<i class="fas fa-dollar-sign align-middle"></i>
			</div>
			<div class="w-75 pl-3">
				<vue-numeric
					class="text-right form-control form-control-sm"
					separator=","
					:precision="2"
					:read-only="true"
					:value="montoProyeccion"
				/>
			</div>
		</div>
	</td>
</template>

<script>
import { mapMutations, mapState } from "vuex";
export default {
	props: {
		idEmbudo: Number,
	},
	computed: {
		...mapState("vt_proyecciones", ["listProyecciones"]),
		montoProyeccion() {
			let suma = 0;
			for (var i = 0; i < this.listProyecciones.length; i++) {
				if (this.listProyecciones[i].idEmbudo == this.idEmbudo) {
					let importe = Number(this.listProyecciones[i].monto);
					suma += importe;
				}
			}
			return parseFloat(suma).toFixed(2);
		},
	},
};
</script>

<style>
.icon-edit {
	display: none;
}
.td-monto:hover .icon-edit {
	display: inline-block;
}
</style>
