<template>
	<tr>
		<td class="align-middle">
			<strong>{{ unidadNeg.unidadNegocio }}</strong>
		</td>
		<vt-configuracion-proyecciones-td-monto-component
			v-for="(embudo, index) in embudos"
			:key="index"
			:id-unidad-negocio="unidadNeg.idUnidadNegocio"
			:id-embudo="embudo.idEmbudo"
		/>
	</tr>
</template>

<script>
import { mapState } from "vuex";
export default {
	props: {
		unidadNeg: Object,
	},
	computed: {
		...mapState("embudos", ["embudos"]),
	},
};
</script>
