<template>
	<b-container fluid style="height: calc(100vh - 54px)">
		<b-row class="h-100">
			<b-col lg="2" class="px-0 h-100">
				<fn-configuracion-sidebar />
			</b-col>
			<b-col lg="10" class="pl-0">
				<div class="p-4" style="height: calc(100vh - 54px); overflow: auto;">
					<b-row>
						<b-col lg="2"></b-col>
						<b-col lg="8">
							<h1 class="text-center">Asignación de Cuentas Internas</h1>
							<h2 class="text-center">Dpto. de Finanzas</h2>
						</b-col>
						<b-col lg="2" class="pt-3">
							<b-badge variant="success" class="float-right mt-5" v-show="success">
								<i class="fas fa-check-circle mr-1"></i>Se han guardado correctamente los cambios
							</b-badge>
							<b-badge variant="light" class="float-right mt-5" v-show="load">
								<b-spinner type="grow" small label="Spinning"></b-spinner>Cargando ...
							</b-badge>
						</b-col>
					</b-row>
					<b-card class="mt-3">
						<b-row>
							<b-col>
								<b-form-group label="Usuario">
									<b-form-select :options="usuarios" v-model="usuario">
										<template v-slot:first>
											<option :value="null" disabled>Seleccione</option>
										</template>
									</b-form-select>
									<b-form-invalid-feedback id="feedback-empleado">Campo obligatorio</b-form-invalid-feedback>
								</b-form-group>
							</b-col>
							<b-col lg="3">
								<b-form-group label="Área">
									<b-form-select :options="areas" v-model="area" @change="getCuentas()" :disabled="!usuario">
										<template v-slot:first>
											<option :value="null" disabled>Seleccione</option>
										</template>
									</b-form-select>
									<b-form-invalid-feedback id="feedback-empleado">Campo obligatorio</b-form-invalid-feedback>
								</b-form-group>
							</b-col>
							<b-col>
								<b-form-group label="Unidad de negocio">
									<b-form-select :options="selectUnidadesNegocio" :disabled="!area" v-model="unidadNegocio">
										<template v-slot:first>
											<option :value="null">Todas</option>
										</template>
									</b-form-select>
									<b-form-invalid-feedback id="feedback-empleado">Campo obligatorio</b-form-invalid-feedback>
								</b-form-group>
							</b-col>
						</b-row>
						<div class="border w-100 mt-2 px-5 py-4 mb-2">
							<b-row v-if="usuario">
								<b-col lg="6">
									<h5 class="text-center mt-4" v-if="!area">
										<i class="fas fa-info-circle"></i> Seleccione una área
									</h5>
									<template v-else>
										<p>
											<strong>Seleccionar las cuentas que tendrá disponible el empleado:</strong>
										</p>
										
										<b-overlay
											style="mt-3"
											:show="overlay"
											rounded="sm"
											opacity="1.0"
											blur="1px"
											variant="transparent"
										>
											<fn-configuracion-cuentas-internas-check-component
												v-for="(cuenta, index) in cuentasFiltered"
												:key="area+'.'+cuenta.unidadNegocio"
												:area="area"
												:cuenta="cuenta"
												:cuentasInternas="cuentasInternas"
												:index="index"
												:idUsuario="usuario.idUsuario"
											/>
										</b-overlay>
									</template>
								</b-col>
								<b-col lg="6">
									<b-row>
										<b-col lg="12"></b-col>
										<b-col lg="12" class="mt-3">
											<pre class="m-1"><b-button size="sm" variant="danger" class="float-right" @click="submit">Guardar</b-button><strong>{{usuario.nombreUsuario}}</strong> {{arraySelected}}</pre>
										</b-col>
									</b-row>
								</b-col>
							</b-row>
							<h5 class="text-center my-3" v-else>No se ha seleccionado ningún usuario</h5>
						</div>
					</b-card>
				</div>
			</b-col>
		</b-row>
	</b-container>
</template>

<script>
import { mapActions, mapState } from "vuex";
export default {
	data() {
		return {
			overlay: false,
			areas: [],
			area: null,
			unidadNegocio: null,
			load: false,
			success: false,
			usuarios: [],
			usuario: null,
			cuentasInternas: [],
			unidadesNegocio: [],
		};
	},
	mounted() {
		this.getUsuarios();
		this.getAreas();
	},
	methods: {
		...mapActions("cnf_cuentas_internas", ["getCuentasByUsuario"]),
		getUsuarios() {
			axios.get(BaseUrl + `/api/usuarios/all`).then((response) => {
				this.usuarios = response.data.map(function (usuario) {
					return {
						value: {
							idUsuario: usuario.idUsuario,
							nombreUsuario: usuario.nombreUsuario,
						},
						text: usuario.nombreUsuario,
					};
				});
			});
		},
		getAreas() {
			axios
				.get(BaseUrl + `/api/fn/cuentas-internas/areas`)
				.then((response) => {
					this.areas = response.data.map(function (area) {
						return {
							value: area.area,
							text: area.area,
						};
					});
				});
		},
		getCuentas() {
			this.overlay = true;
			this.unidadNegocio = null;
			this.success=false;
			this.getCuentasInternas();
			this.getUnidadesNegocio();
		},
		getCuentasInternas() {
			axios
				.get(BaseUrl + `/api/fn/cuentas-internas/areas/${this.area}`)
				.then((response) => {
					this.cuentasInternas = response.data;
				});
		},
		getUnidadesNegocio() {
			axios
				.get(BaseUrl + `/api/fn/cuentas-internas/areas/${this.area}/unidades-negocio`)
				.then((response) => {
					this.unidadesNegocio = response.data;
					this.overlay = false;
				});
		},
		async submit() {
			this.load = true;
			this.success = false;
			const form = {
				idUsuario: this.usuario.idUsuario,
				cuentas: 	JSON.stringify(this.arraySelected),
			};
			const response = await axios.post(
				BaseUrl + `/api/fn/cuentas/usuarios/interna`,
				form
			);
			if (response.data.success) {
				this.load = false;
				this.success = true;
			}
		},
	},
	computed: {
		...mapState("cnf_cuentas_internas", ["arraySelected"]),
		selectUnidadesNegocio() {
			return this.unidadesNegocio.map(function (cuenta) {
				return {
					value: cuenta.unidadNegocio,
					text: cuenta.unidadNegocio,
				};
			});
		},
		cuentasFiltered() {
			if (this.unidadNegocio) {
				return this.unidadesNegocio.filter(
					(cuenta) => cuenta.unidadNegocio == this.unidadNegocio
				);
			}
			return this.unidadesNegocio;
		},
	},
	watch: {
		usuario() {
			if (this.usuario) {
				this.area = null
				this.getCuentasByUsuario(this.usuario.idUsuario);
			}
		},
	},
};
</script>
