<template>
	<b-form-group>
		<template v-slot:label>
			<b-form-checkbox
                :id="idCheck"
				v-model="allSelected"
				:indeterminate="indeterminate"
				aria-describedby="cuentasFiltered"
				aria-controls="cuentasFiltered"
				@change="toggleAll"
			>{{ cuenta.unidadNegocio }}</b-form-checkbox>
		</template>

		<b-form-checkbox-group
			:id="idCheck"
			v-model="selected"
			:options="cuentasFiltered"
			name="cuentas"
			class="ml-4"
			aria-label="Individual cuentasFiltered"
			stacked
		></b-form-checkbox-group>
	</b-form-group>
</template>

<script>
import { mapMutations, mapState } from "vuex";
export default {
	props: {
		area: String,
		cuenta: Object,
		cuentasInternas: Array,
        index: Number,
        idUsuario: Number,
	},
	data() {
		return {
			load: false,
			success: false,
			allSelected: false,
			indeterminate: false,
            selected: [],
		};
	},
	mounted() {
		this.vaciarCuentas();
	},
	methods: {
		...mapMutations("cnf_cuentas_internas", ["addArea", "addUnidadNegocio", "addCuentas", "delete"]),
		toggleAll(checked) {
            if(checked){
                let selected = this.cuentasFiltered.slice()
                this.selected = selected.map((cuenta) => cuenta.value)
            }else{
                this.selected = []
            }
		},
		vaciarCuentas() {
            const area = this.arraySelected.find(cuenta => cuenta.area == this.area)
             if(area){
                const unidad_negocio = area.unidades_negocio.find(unidad_negocio => unidad_negocio.unidad_negocio == this.cuenta.unidadNegocio)
                if(unidad_negocio){
                     this.selected = unidad_negocio.cuentas;  
                } else {
                    // this.selected = [];
                }      
             }else{
                this.selected = []
             }
		},
	},
	computed: {
		...mapState("cnf_cuentas_internas", ["arraySelected"]),
		cuentasFiltered() {
			const cuentas = this.cuentasInternas.filter(
				(cc) => cc.unidadNegocio == this.cuenta.unidadNegocio
			);
			return cuentas.map(function (cuenta) {
				return {
						value: cuenta.cuenta,
						text: cuenta.cuenta + " / " + cuenta.tipo + " / " + cuenta.nombre,
					};
			});
		},
		idCheck() {
			return "cuentas." + this.area + "." + this.index;
		},
	},
	watch: {
		selected(newVal, oldVal) {
			if (newVal.length === 0) {
				this.indeterminate = false
				this.allSelected = false
			} else if (newVal.length === this.cuentasFiltered.length) {
				this.indeterminate = false
				this.allSelected = true
			} else {
				this.indeterminate = true
				this.allSelected = false
            }
            const data = {
                    area: this.area,
                    unidad_negocio: this.cuenta.unidadNegocio,
                    cuentas: newVal
                }
            
            if(newVal.length) {
                this.addArea(data)
                this.addUnidadNegocio(data)
                this.addCuentas(data)              
            } else {
                 this.delete(data)
            }
        },
        arraySelected() {
            this.vaciarCuentas() 
        }
    },
};
</script>
