<template>
	<b-form-group>
		<template v-slot:label>
			<b-form-checkbox
                :id="seccion.idSeccion"
				v-model="allSelected"
				:indeterminate="indeterminate"
				aria-describedby="seccion"
				aria-controls="seccion"
				@change="toggleAll"
			>{{ seccion.nombre }}</b-form-checkbox>
		</template>
		<ad-roles-permiso-component 
			v-for="(funcion, index) in seccion.funciones" 
			:key="index" 
			:funcion="funcion"
			:seccion="seccion"
			:role="role" />
	</b-form-group>
</template>

<script>
import { mapMutations, mapState } from "vuex";
export default {
	props: {
		seccion: Object,
		index: Number,
		role: Object,
	},
	data() {
		return {
			load: false,
			success: false,
			allSelected: false,
			indeterminate: false,
            selected: [],
		};
	},
	mounted() {},
	methods: {
		...mapMutations("ad_roles", ["addPermisos", "deletePermiso", "addPermisosOfSeccion", "deletePermisosOfSeccion"]),
		toggleAll(checked) {
			const data = {
					seccion: this.seccion,
					idRole: this.role.idRole
				}
            if(checked){
				this.addPermisosOfSeccion(data)
            }else{
                this.deletePermisosOfSeccion(data)
            }
		},
	},
	computed: {
		...mapState("ad_roles", ["permisos"]),
	},
	watch: {
		permisos() {
			const permisos = this.permisos.filter((permiso) => permiso.idSeccion == this.seccion.idSeccion);
			if (permisos.length === 0) {
				this.indeterminate = false
				this.allSelected = false
			} else if (permisos.length === this.seccion.funciones.length) {
				this.indeterminate = false
				this.allSelected = true
			} else {
				this.indeterminate = true
				this.allSelected = false
			}
        },
    },
};
</script>
