<template> 
    <div>
        <b-row v-if="role">
            <b-col lg="3">
                <b-form-input
                    placeholder="Nombre"
                    size="sm"
                    v-model="form.nombre"
                ></b-form-input>
            </b-col>
             <b-col lg="3">
                <b-form-input
                    placeholder="Clave"
                    size="sm"
                    v-model="form.idRole"
                ></b-form-input>
            </b-col>
            <b-col lg="4"></b-col>
            <b-col lg="2">
                <b-button size="sm" variant="danger" @click="submit"
                    >Guardar</b-button
                >
                <b-button size="sm" variant="light" class="ml-2" @click="terminar"
                    >Cancelar</b-button
                >
            </b-col>
	    </b-row>
        <b-form v-else>
            <b-form-group>
                <template v-slot:label>
                    <div class="lab-form">
                        Nombre<span class="req">*</span>
                    </div>
                </template>
                <b-form-input
                    placeholder="Ingrese el nombre del role"
                    v-model="form.nombre"
                ></b-form-input>
            </b-form-group>
            <b-form-group>
                <template v-slot:label>
                    <div class="lab-form">
                        Clave<span class="req">*</span>
                    </div>
                </template>
                 <b-form-input
                    placeholder="Ingrese la clave del role"
                    v-model="form.idRole"
                ></b-form-input>
            </b-form-group>
            <div class="d-flex flex-row-reverse bd-highlight">
                <b-button
                    variant="danger"
                    class="ml-3 my-2"
                    @click="submit"
                >
                    CREAR
                </b-button>
                <b-button
                    variant="white"
                    class="link-light my-2"
                    @click="cancel"
                >
                    CANCELAR
                </b-button>
            </div>
        </b-form>
    </div>
</template>

<script>
import { mapMutations } from 'vuex';
export default {
	props: {
        idModulo: String,
        idSubmodulo: String,
		role: Object,
	},
	data() {
		return {
			form: {
                nombre: "",
                idRole: "",
                idModulo: "",
                idSubmodulo: ""
			},
		};
	},
	mounted() {
        this.form.idModulo = this.idModulo;
        this.form.idSubmodulo = this.idSubmodulo;
        this.form.idRole = this.idSubmodulo + ".";
		if (this.role) this.setDataEdit();
	},
	methods: {
        ...mapMutations('ad_roles', ['addRole', 'updateRole', 'setLoad', 'setSuccess']),
		async submit() {
            this.setLoad(true)
            this.setSuccess(false)
			const response = !this.role
				? await axios.post(BaseUrl + `/api/roles`, this.form)
                : await axios.put(BaseUrl + `/api/roles/${this.role.idRole}`, this.form);
			if (response.data.success) {
                this.setLoad(false);
				this.setSuccess(true);
				if (this.role) this.updateRol(response.data.role);
				else this.addRole(response.data.role);
				this.terminar();
			}
		},
		terminar() {
			if (this.role) this.$emit("terminarEdicion");
            else this.$bvModal.hide("modal-role");
		},
		setDataEdit() {
			this.form.nombre = this.role.nombre;
			this.form.descripcion = this.role.descripcion;
            this.form.idRole = this.role.idRole;
        },
        cancel() {
			this.$bvModal.hide("modal-role");
		},
	},
};
</script>