<template>
	<b-form-checkbox
		v-model="selected"
		:value="value"
		checked
		@change="setVal($event)"
        class="ml-4"
	>
		{{ funcion.nombre }}
		<small>
            <em><strong>({{ funcion.descripcion }})</strong></em>
        </small>
	</b-form-checkbox>
</template>

<script>
import { mapMutations, mapState } from "vuex";

export default {
	props: {
		funcion: Object,
		seccion: Object,
		role: Object,
	},
	data() {
		return {
			selected: null,
		};
	},
	mounted() {
	    
	},
	methods: {
		...mapMutations("ad_roles", ["addPermiso", "deletePermiso"]),
		setVal(val) {
			if (val) this.addPermiso(val);
			else this.deletePermiso(this.value);
		},
	},
	computed: {
		...mapState("ad_roles", ["permisos"]),
		value() {
			return {
				idFuncion: this.funcion.idFuncion,
                idRole: this.role.idRole,
                idSeccion: this.seccion.idSeccion
			};
		},
	},
	watch: {
        permisos() {
            const permiso = this.permisos.find(
                (permiso) =>
                    permiso.idFuncion == this.funcion.idFuncion
            );
            if(permiso){
                this.selected = {
                        idFuncion: permiso.idFuncion,
                        idRole: permiso.idRole,
                        idSeccion: permiso.idSeccion,
                    }
            } else {
                this.selected = null
            }
        }
    },
};
</script>