<template>
	<b-container fluid style="height: calc(100vh - 54px)">
		<b-row class="h-100">
			<b-col lg="12" style="height: calc(100vh - 60px); overflow:auto">
				<b-row class="py-4">
					<b-col lg="2"></b-col>
					<b-col lg="8">
						<h1 class="text-center mb-0">Administración de Roles ERP</h1>
					</b-col>
					<b-col lg="2">
						<b-badge
							variant="success"
							class="float-right"
							v-show="success"
						>
							<i class="fas fa-check-circle mr-1"></i>Se han
							guardado correctamente los cambios
						</b-badge>
						<b-badge
							variant="light"
							class="float-right"
							v-show="load"
						>
							<b-spinner
								type="grow"
								small
								label="Spinning"
							></b-spinner
							>Cargando ...
						</b-badge>
					</b-col>
				</b-row>
				<b-card class="shadow-sm pb-3" no-body>
					<b-card-header header-tag="nav" class="bg-light border">
						<b-nav card-header pills justified class="bg-light" style="overlay: auto">
							<b-nav-item
								class="shadow border activate"
								:class="{
									['bg-secondary text-white']:
										moduloActive == modulo
								}"
								v-for="(modulo, index) in modulos"
								:key="index"
								@click="
									getSubmodulos(modulo.idModulo);
									getSecciones(modulo.idModulo);
									getRoles(modulo.idModulo);
									setModuloActive(modulo)
								"
							>
								{{ modulo.nombre }}
							</b-nav-item>
							<b-nav-item
								class="shadow activate border text-danger"
								v-b-modal.modal-modulo
								@click="moduloEdit = null"
							>
								<i class="fas fa-plus-circle"></i> Agregar módulo
							</b-nav-item>
						</b-nav>
					</b-card-header>
					<b-card-body v-if="moduloActive">
						<b-row>
							<b-col lg="2"> </b-col>
							<b-col lg="8">
								<h3 class="text-center">
									Módulo de {{ moduloActive.nombre }}
								</h3>
							</b-col>
							<b-col lg="2">
							
							</b-col>
						</b-row>

						<hr />

						<div
							v-for="(submodulo, index) in submodulos"
							:key="'sub.' + index"
						>
							<b-row>
								<b-col class="mt-2">
									<h4 class="ml-3 mb-0">{{ submodulo.nombre }}</h4>
								</b-col>
								<b-col class="mt-2">
									<b-link
										class="link-light ml-5 pl-3 float-right"
										v-b-modal.modal-role
										@click="createRole(submodulo)"
									>
										<i
											class="fas fa-plus-circle"
											style="cursor: pointer"
										></i>
										Agregar Role
									</b-link>
								</b-col>
							</b-row>
							<b-table
								:items="rolesBySubmodulo(submodulo.idSubmodulo)"
								:filter="filter"
								@row-selected="onRowSelected"
								class="mt-3"
								selectable
								:fields="fields"
								select-mode="single"
								striped
								show-empty
								responsive="sm"
								empty-html="<h5 class='my-4 text-secondary'>No se ha registrado ningún role</h5>"
								empty-filtered-html="<h5 class='my-4 text-secondary'>No se encontaron registros que coincidan con tu búsqueda</h5>"
							>
								<template v-slot:table-busy>
									<div class="my-3 text-center">
										<h5 class="mb-4">
											<b-spinner type="grow"></b-spinner>
											Cargando datos ...
										</h5>
									</div>
								</template>

								<!-- <template v-slot:cell(actions)="scope">
									<div class="text-center">
										<b-dropdown
											id="dropdown-left"
											right
											variant="light"
											size="sm"
											no-caret
											class="shadows"
										>
											<template v-slot:button-content>
												<i class="fas fa-ellipsis-v px-2"></i>
											</template>
											<b-dropdown-item
												v-b-modal.modal-actividad
												@click="dataEdit(scope.item)"
											>
												<i class="fas fa-edit px-2"></i>
												Editar
											</b-dropdown-item>
											<b-dropdown-item
												href="#"
												@click="showMsgBoxDeleteConfirm(scope.item)"
											>
												<i class="fas fa-trash px-2"></i>
												Eliminar
											</b-dropdown-item>
											<slot name="dropdown-more-actions"></slot>
										</b-dropdown>
									</div>
								</template> -->

								<!-- <template v-slot:cell(nombre)="scope">
									 <b-col lg="3" class="pl-5">{{ scope.item.nombre }}</b-col>
								</template>
								<template v-slot:cell(idRole)="scope">
 									<b-col lg="3">{{ scope.item.idRole }}</b-col>
								</template>
								<template v-slot:cell(descripcion)="scope">
									<b-col lg="4">
										<em v-if="scope">({{ scope.item.descripcion }})</em>
										<em v-else>(Sin descripción)</em>
									</b-col>
								</template> -->
								<template v-slot:cell(actions)="scope">
									<!-- <b-col lg="2" class="pr-5"> -->
										<b-link @click="dataEdit(scope.item)" class="text-secondary ml-3"
											><i class="fas fa-edit"></i
										></b-link>
										<b-link @click="showMsgBoxDeleteConfirm(scope.item)" class="text-secondary"
											><i class="fas fa-trash"></i
										></b-link>
									<!-- </b-col> -->
								</template>                   
							</b-table>
						</div>
					</b-card-body>
					<div style="height: calc(100vh - 222px)" v-else>
						<icon-text-component
							:circleStyle="{
								backgroundColor: '#f4f4f6',
								color: '#45555f',
							}"
							:icon="'far fa-comment-dots'"
							:text="'SELECCIONE UN MÓDULO'"
						/>
					</div>
				</b-card>
			</b-col>
		</b-row>
         <div>
			<b-sidebar
                id="sidebar-backdrop"
                backdrop-variant="transparent"
                class="bg-white"
                shadow
                right
                bg-variant="white"  
                text-variant="dark"
                width="630px"
                :visible="showSidebar"
                @hidden="hiddenSidebar"
                >
                <div class="px-5 py-2" v-if="roleActive">
                    <h2>Módulo de {{ moduloActive.nombre }}</h2>   
                    <h3>{{ submoduloActive.nombre }}</h3>
					<b-alert show variant="success" class="border-0 mt-4 py-2" v-if="success && !load">
						<p style="font-size: 13px;" class="mb-0">
							<i class="far fa-check-circle mr-1 text-success"></i> Se guardaron correctamente los cambios
						</p>
					</b-alert>
					<b-alert show variant="light" class="border-0 mt-4 py-2" v-if="load">
						<p style="font-size: 13px;" class="mb-0">
							<b-spinner
								type="grow"
								small
								label="Spinning"
								class="mr-1"
							></b-spinner
							>Cargando ...						
						</p>
					</b-alert>
                    <div class="mt-4">
                        <fieldset
                            class="scheduler-border"
                            style="margin-top: 15px !important"
                        >
                            <legend class="scheduler-border">
                                Permisos - {{ roleActive.nombre }}
                            </legend>
                            <ad-roles-check-permisos-component
                                v-for="(seccion, index) in seccionesBySubmodulo(submoduloActive.idSubmodulo)"
                                :key="index"
                                :seccion="seccion"
                                :index="index"
								:role="roleActive"
                            />
                            <b-button @click="submit" class="float-right" variant="danger" size="sm">Guardar</b-button>
                        </fieldset>
                    </div>
                </div>
		    </b-sidebar>
	    </div>
		<modal-component
			:id="'modal-role'"
			title="Nuevo role"
			:hideFooter="true"
			:hideHeader="true"
            :centered="true"
			v-if="moduloActive && submoduloActive"
		>
			<template slot="content">
				<ad-roles-form-role-component
					:idModulo="moduloActive.idModulo"
					:idSubmodulo="submoduloActive.idSubmodulo"
				/>
			</template>
		</modal-component>

		<modal-component
			:id="'modal-modulo'"
			title="Agregar módulo"
			:hideFooter="true"
		>
			<template slot="content">
				<ad-estructura-form-modulo-component />
			</template>
		</modal-component>
	</b-container>
</template>

<script>
import { mapActions, mapMutations, mapState } from "vuex";
export default {
	data() {
		return {
			active: "border-active",
			showSidebar: false,
			roleActive: null,
			filter: "",
			autorizaciones: [],
			newFuncion: false,
			submoduloActive: null,
			fields: [
				'nombre',
				'idRole',
				'descripcion',
				'actions'
			]
		};
	},
	mounted() {
		if(!this.modulos.length)
			this.getModulos();
		if(this.moduloActive){
			this.getSubmodulos(this.moduloActive.idModulo);
			this.getSecciones(this.moduloActive.idModulo);
			this.getRoles(this.moduloActive.idModulo);
		}
		this.setSuccess(false)
	},
	methods: {
        ...mapActions("ad_estructura", ["getModulos", "getSecciones", "getSubmodulos"]),
		...mapActions("ad_roles", ["getRoles", "getPermisosByRole"]),
		...mapMutations("ad_roles", ["setLoad", "setSuccess"]),
		...mapMutations("ad_estructura", ["setModuloActive"]),

		async submit() {
            this.setLoad(true)
			this.setSuccess(false)
			const permisos = {
				permisos : this.permisos
			}
			const response = await axios.post(BaseUrl + `/api/permisos-roles/${this.roleActive.idRole}`, permisos)
			if (response.data.success) {
                this.setLoad(false);
				this.setSuccess(true);
			}
		},
		seccionesBySubmodulo(idSubmodulo) {
			if (this.secciones) {
				const sec = this.secciones.filter(
					(seccion) => seccion.idSubmodulo == idSubmodulo
				);
				return sec;
			}
        },
        rolesBySubmodulo(idSubmodulo) {
			if (this.roles) {
				const sec = this.roles.filter(
					(role) => role.idSubmodulo == idSubmodulo
				);
				return sec;
			}
		},
		createRole(submodulo) {
			this.submoduloActive = submodulo;
        },
        onRowSelected(items) {
			if(items.length) {
				this.roleActive = items[0]
				this.getPermisosByRole(this.roleActive.idRole);
				this.submoduloActive = this.submodulos.find((submodulo) => submodulo.idSubmodulo == this.roleActive.idSubmodulo)
				if(this.roleActive)
					this.openSidebar()
				}
        },
        openSidebar()
        {
            this.showSidebar = true
        },
        hiddenSidebar()
        {
            this.roleActive = null
			this.showSidebar = false
			this.setSuccess(false)
        },
	},
	computed: {
		...mapState("ad_estructura", [
			"modulos",
			"moduloActive",
			"submodulos",
            "secciones",
        ]),
        ...mapState("ad_roles", [
            "roles",
			"load",
            "success",
			"permisos",
		]),
	},
	watch: {
        roleActive() {
            if(!this.roleActive)
                this.showSidebar = false
        }
    }
};
</script>