<template>
	<div class="container-fluid" style="height: calc(100vh - 56px);">
		<header-component title="Inventario de Activos" />
		<b-row class="mt-3 mb-0">
			<b-col>
				<b-form inline>
					<b-form-group>
						<b-input-group prepend="Categoría" size="sm">
							<b-form-select
								size="sm"
								:options="listCategorias"
								:value="selectedCategoria"
								@change="setSelectedCategoria($event)"
								style="width: 250px;"
							>
								<template v-slot:first>
									<option :value="null" disabled>
										Seleccione
									</option>
								</template>
							</b-form-select>
						</b-input-group>
					</b-form-group>

					<b-dropdown
						v-if="
							hasPermission('alm.inv.activos.registro') ||
								hasPermission('alm.inv.activos.reemplazar')
						"
						left
						split
						size="sm"
						variant="white"
						class="border ml-2 bg-white"
					>
						<template #button-content>
							<font style="font-size: 13px;">
								<b>Inventario</b>
							</font>

							<i class="fas fa-boxes mx-3 text-danger"></i>
						</template>

						<b-dropdown-item
							v-if="hasPermission('alm.inv.activos.registro')"
							@click="openModal"
						>
							<font style="font-size: 12px;">
								Agregar activo
							</font>
							<b-badge class="ml-2 badge-filter">
								Nuevo
							</b-badge>
						</b-dropdown-item>

						<b-dropdown-divider
							v-if="hasPermission('alm.inv.activos.reemplazar')"
						></b-dropdown-divider>

						<b-dropdown-item
							v-if="hasPermission('alm.inv.activos.reemplazar')"
							v-b-modal.modal-inventario
						>
							<font style="font-size: 12px;">
								Cargar inventario
							</font>
							<b-badge class="ml-2 badge-filter">
								Reemplazar inventario
							</b-badge>
						</b-dropdown-item>
					</b-dropdown>

					<b-button
						v-if="
							hasPermission('alm.inv.activos.recepcion.mercancia')
						"
						variant="outline-danger"
						size="sm"
						class="ml-3 shadows"
						squared
						v-b-modal.modal-oc-active
						>Recepción de mercancía</b-button
					>
				</b-form>
			</b-col>

			<b-col>
				<b-row>
					<b-col lg="6" class="text-right mt-1">
						<small>
							<strong>{{ totalRows }} registros</strong>
						</small>
					</b-col>
					<b-col lg="6">
						<div
							class="input-group bg-white border w-100 float-right"
							id="input-shadow"
						>
							<div class="input-group-prepend bg-light mr-1 ml-3">
								<div class="pt-1 bg-white">
									<i class="fas fa-search"></i>
								</div>
							</div>
							<b-form-input
								id="input-search"
								size="sm"
								class="form-control border-0"
								placeholder="Escribe tu busqueda aquí"
								:value="filter"
								@input="setFilterSearch($event)"
								autocomplete="off"
							></b-form-input>
						</div>
					</b-col>
				</b-row>
			</b-col>
		</b-row>

		<b-badge
			variant="light"
			class="shadow-sm mb-2 mt-1 float-right"
			v-if="loadingChanges"
		>
			<b-spinner
				type="grow"
				small
				label="Spinning"
				class="mr-2"
			></b-spinner
			>Guardando cambios ...
		</b-badge>

		<b-badge
			v-if="!loadingChanges && updating"
			variant="light"
			class="shadow-sm mb-2 mt-1 float-right"
		>
			<font class="text-success">
				<i class="fas fa-check mr-1"></i>
				Cambios guardados
			</font>
		</b-badge>

		<div class="mt-3">
			<div v-if="busyActivos" class="bg-white">
				<b-skeleton-table
					:rows="11"
					:columns="6"
					:table-props="{ bordered: true, striped: false }"
				></b-skeleton-table>
			</div>

			<template v-else>
				<template v-if="activosFiltered.length">
					<b-table
						style="font-size: 12px;"
						hover
						class="bg-white w-100"
						head-variant="light"
						table-variant="white"
						:bordered="true"
						:small="false"
						show-empty
						:items="activosFiltered"
						:fields="fields"
						:current-page="currentPage"
						:per-page="perPage"
						id="table-inv-activos"
					>
						<template v-slot:cell(existencia)="row">
							<div class="text-center">
								<b-form-input
									v-if="
										hasPermission(
											'alm.inv.activos.editar.existencias'
										)
									"
									size="sm"
									type="number"
									class="text-center"
									:class="
										row.item.existencia > 0
											? 'text-dark'
											: 'text-danger'
									"
									:value="row.item.existencia"
									@blur="
										editing(
											$event.target.value,
											'existencia',
											row.item
										)
									"
									@keyup.enter="
										editing(
											$event.target.value,
											'existencia',
											row.item
										)
									"
									style="font-weight: bold"
								></b-form-input>

								<font
									v-else
									:class="
										row.item.existencia > 0
											? 'text-dark'
											: 'text-danger'
									"
								>
									{{ row.item.existencia }}
								</font>
							</div>
						</template>

						<template v-slot:cell(costoUnitario)="row">
							<div class="d-flex">
								<div class="mr-3 pl-2">
									<i
										class="fas fa-dollar-sign align-middle"
									></i>
								</div>

								<vue-numeric
									v-if="
										hasPermission(
											'alm.inv.activos.editar.costoUnitario'
										)
									"
									class="text-right form-control form-control-sm"
									currency=""
									separator=","
									:precision="2"
									:read-only="false"
									:value="row.item.costoUnitario"
									style="font-weight: bold"
									@blur="
										editing(
											$event.target.value,
											'costoUnitario',
											row.item
										)
									"
									@keyup.enter="
										editing(
											$event.target.value,
											'costoUnitario',
											row.item
										)
									"
								/>

								<vue-numeric
									v-else
									class="text-right form-control form-control-sm"
									currency=""
									separator=","
									:precision="2"
									:read-only="true"
									:value="row.item.costoUnitario"
									style="font-weight: bold"
								/>
							</div>
						</template>

						<template v-slot:cell(accion)="row">
							<div class="text-center">
								<b-dropdown
									id="dropdown-left"
									right
									variant="link"
									class="py-0 my-0"
									no-caret
									size="sm"
									:disabled="
										hasPermission(
											'alm.inv.activos.editar'
										) ||
										hasPermission(
											'alm.inv.activos.eliminar'
										)
											? false
											: true
									"
								>
									<template v-slot:button-content>
										<i
											class="fas fa-ellipsis-v px-2 py-0 text-secondary"
										></i>
									</template>
									<b-dropdown-item
										v-if="
											hasPermission(
												'alm.inv.activos.editar'
											)
										"
										v-b-modal.modal-activo
										@click="setDataEdit(row.item)"
									>
										<i class="fas fa-edit px-2"></i>
										Editar
									</b-dropdown-item>
									<b-dropdown-item
										v-if="
											hasPermission(
												'alm.inv.activos.eliminar'
											)
										"
										href="#"
										@click="
											showMsgBoxDeleteConfirm(
												row.item.idActivo
											)
										"
									>
										<i class="fas fa-trash px-2"></i>
										Eliminar
									</b-dropdown-item>
									<slot name="dropdown-more-actions"></slot>
								</b-dropdown>
							</div>
						</template>
					</b-table>

					<b-row>
						<b-col sm="5" md="6" lg="8" class="my-1">
							<b-form-group
								label="Por página"
								label-for="per-page-select"
								label-cols-sm="6"
								label-cols-md="4"
								label-cols-lg="1"
								label-align-sm="right"
								label-size="sm"
								class="mb-0"
							>
								<b-form-select
									id="per-page-select"
									v-model="perPage"
									:options="pageOptions"
									size="sm"
									style="width: 150px;"
								></b-form-select>
							</b-form-group>
						</b-col>

						<b-col sm="7" md="6" lg="4" class="my-1">
							<b-pagination
								v-model="currentPage"
								:total-rows="totalRows"
								:per-page="perPage"
								align="fill"
								size="sm"
								class="my-0"
							></b-pagination>
						</b-col>
					</b-row>
				</template>
			</template>
		</div>

		<modal-component
			:title="'Agregar activo'"
			:id="'modal-activo'"
			:hideFooter="true"
			:hideHeader="true"
			:centered="false"
		>
			<template slot="content">
				<alm-inventarios-form-activo-component :activo="activo" />
			</template>
			<span slot="buttons"></span>
		</modal-component>

		<modal-component
			:title="'Cargar inventario'"
			:id="'modal-inventario'"
			:hideFooter="true"
			:hideHeader="true"
			:centered="false"
		>
			<template slot="content">
				<div>
					<b-row>
						<b-col lg="8">
							<b-form-file
								v-model="file"
								placeholder="Seleccione un archivo"
								drop-placeholder="Drop file here..."
							></b-form-file>
						</b-col>
						<b-col lg="4">
							<b-overlay
								:show="loadFile"
								rounded
								opacity="0.6"
								spinner-small
								spinner-variant="secondary"
								class="d-inline-block"
								@hidden="onHidden"
							>
								<b-button
									ref="button"
									:disabled="loadFile"
									variant="secondary"
									@click="submitFile"
								>
									GUARDAR
								</b-button>
							</b-overlay>
						</b-col>
					</b-row>
				</div>
			</template>
			<span slot="buttons"></span>
		</modal-component>

		<modal-component
			:title="titleModal"
			:id="'modal-recepcion-mercancia'"
			:hideFooter="true"
			:hideHeader="true"
			:centered="false"
			:sizeModal="'lg'"
		>
			<template slot="content">
				<alm-recepcion-mercancia-component
					:orden="orden"
					@setTitleModal="setTitleModal($event)"
				/>
			</template>
		</modal-component>

		<modal-component
			:title="'Ingrese el número'"
			:id="'modal-oc-active'"
			:centered="true"
			:hideFooter="true"
			:hideHeader="true"
			:sizeModal="'sm'"
		>
			<template slot="content">
				<form>
					<b-alert
						variant="warning"
						v-model="alertNoOCSelected"
						class="text-center"
						>Debe ingresar el número de orden de compra</b-alert
					>
					<b-alert
						variant="danger"
						v-model="alertVisible"
						class="text-center"
						>No se ha encontrado la orden de compra</b-alert
					>
					<b-alert
						variant="warning"
						v-model="alertNoAutorizadaOC"
						class="text-center"
						>La orden de compra no se encuentra autorizada</b-alert
					>
					<b-form-group class="mt-2 mb-2">
						<b-form-input
							v-model="idOrden"
							placeholder="No. orden de compra"
							class="text-center"
							size="lg"
							@keydown="inputHandler"
							style="font-size: 20px"
							autocomplete="off"
						/>
					</b-form-group>
					<div>
						<div class="d-flex flex-row-reverse bd-highlight mt-3">
							<b-button
								variant="danger"
								class="ml-3 my-2"
								@click="getOrdenCompra"
								v-if="!loadingActiveOC"
							>
								CONTINUAR
							</b-button>
							<b-button
								variant="danger"
								class="ml-3 my-2"
								disabled
								v-else
							>
								<b-spinner
									type="grow"
									small
									label="Spinning"
								></b-spinner>
								Cargando ...
							</b-button>
						</div>
					</div>
				</form>
			</template>
		</modal-component>
	</div>
</template>

<script>
import { mapState, mapMutations, mapActions, mapGetters } from "vuex";

export default {
	data() {
		return {
			titleModal: "Recepción de mercancía",

			// FILE INVENTARIO
			file: null,
			inventario: [],
			loadFile: false,
			// FIN INVENTARIO

			activo: null,
			loadingChanges: false,
			updating: false,

			// TABLE
			totalRows: 1,
			currentPage: 1,
			perPage: 11,
			pageOptions: [5, 11, 15, 100],

			//ACTIVE OC
			idOrden: null,
			loadingActiveOC: false,
			alertVisible: false,
			alertNoOCSelected: false,
			alertNoAutorizadaOC: false,
			orden: null,

			fields: [
				{
					key: "articulo",
					label: "Artículo",
					class: "text-center",
					thStyle: { minWidth: "290px" },
				},
				{
					key: "unidad",
					label: "Unidad",
					class: "text-center",
					thStyle: { minWidth: "100px" },
				},
				{
					key: "categoria",
					label: "Categoría",
					class: "text-center",
					thStyle: { minWidth: "250px" },
				},
				{
					key: "existencia",
					label: "Existencia",
					class: "text-center",
					thStyle: { minWidth: "40px" },
				},
				{
					key: "costoUnitario",
					label: "Costo unitario",
					class: "text-center",
					thStyle: { minWidth: "130px" },
				},
				{
					key: "accion",
					label: "Acción",
					class: "text-center",
					thStyle: { minWidth: "60px" },
				},
			],
		};
	},
	mounted() {
		this.getActivos();
		this.getActivoCategorias();
		this.getAutorizaciones();
		this.getUsuariosAll();
	},
	methods: {
		...mapMutations("alm_inventario_activos", [
			"setSelectedCategoria",
			"setFilterSearch",
			"removeActivo",
			"updateActivo",
		]),
		...mapActions("alm_inventario_activos", [
			"getActivos",
			"getActivoCategorias",
		]),
		...mapActions("co_sc_solicitudes", ["getArticulosByOrdenCompra"]),
		...mapActions("co_sc_recepcion_mercancia", [
			"getRecepcionArticulos",
			"getRecepcionMercancias",
		]),
		...mapActions("co_conf_autorizaciones", ["getAutorizaciones"]),
		...mapActions("usuarios", ["getUsuariosAll"]),

		setDataEdit(activo) {
			this.activo = activo;
		},
		openModal() {
			this.activo = null;
			this.$bvModal.show("modal-activo");
		},
		showMsgBoxDeleteConfirm(id) {
			this.$bvModal
				.msgBoxConfirm(
					`¿Está seguro de que desea eliminar este registro?`,
					{
						title: "Favor de confirmar",
						size: "sm",
						buttonSize: "sm",
						okVariant: "danger",
						cancelVariant: "light",
						okTitle: "Confirmar",
						cancelTitle: "Cancelar",
						headerClass: "pt-3 pb-2 border-bottom-0",
						footerClass: "p-2 border-top-0",
						centered: true,
					}
				)
				.then((confirm) => {
					if (confirm) {
						this.remove(id);
					}
				});
		},
		async remove(id) {
			try {
				const response = await axios.delete(
					BaseUrl + `/api/alm/inventario/activo/${id}`
				);
				if (response.data.success) this.removeActivo(id);
			} catch (e) {
				console.log(e);
			}
		},
		async edit(data, id) {
			try {
				this.loadingChanges = true;
				this.updating = !this.loadingChanges;
				const response = await axios.put(
					BaseUrl + `/api/alm/inventario/activo/edit/${id}`,
					data
				);
				if (response.data.success) {
					this.updateActivo(response.data.activo);
					this.loadingChanges = false;
					this.updating = true;
				}
			} catch (e) {
				this.loadingChanges = false;
				this.updating = false;
				console.log(e);
			}
		},
		editing(value, campo, activo) {
			const data = {
				value: value,
				campo: campo,
			};
			if (campo == "existencia") {
				if (activo.existencia != value)
					this.edit(data, activo.idActivo);
			} else if (campo == "costoUnitario") {
				if (activo.costoUnitario != value)
					this.edit(data, activo.idActivo);
			}
		},
		//ACTIVE OC
		inputHandler(e) {
			if (e.keyCode === 13 && !e.shiftKey) {
				e.preventDefault();
				this.getOrdenCompra();
			}
		},
		async getOrdenCompra() {
			if (this.idOrden) {
				this.loadingActiveOC = true;
				this.alertNoOCSelected = false;
				const response = await axios.get(
					BaseUrl + `/api/co/sc/ordencompra/${this.idOrden}`
				);
				this.loadingActiveOC = false;
				if (response.data) {
					if (response.data.autorizacion) {
						this.orden = response.data;
						this.setDataActiveOC();
						this.alertVisible = false;
						this.idOrden = null;
						this.$bvModal.hide("modal-oc-active");
						this.$bvModal.show("modal-recepcion-mercancia");
					} else {
						this.alertNoAutorizadaOC = true;
					}
				} else {
					this.alertVisible = true;
				}
			} else {
				this.alertVisible = false;
				this.alertNoOCSelected = true;
			}
		},
		setDataActiveOC() {
			this.getArticulosByOrdenCompra(this.orden.idOrdenCompra);
			this.getRecepcionArticulos(this.orden.idOrdenCompra);
			this.getRecepcionMercancias(this.orden.idOrdenCompra);
		},
		setTitleModal(title) {
			this.titleModal = title;
		},

		// FILE INVENTARIO ---
		async submitFile() {
			try {
				this.loadFile = true;
				const response = await axios.post(
					BaseUrl + `/api/alm/inventario/activos/file`,
					this.inventario
				);
				if (response.data.success) {
					this.loadFile = false;
					this.getActivos();
				}
			} catch (e) {
				this.loadFile = false;
				console.log(e);
			}
		},
		readerFile() {
			const reader = new FileReader();
			reader.onload = () => this.processFile(reader.result);
			reader.readAsText(this.file, "ISO-8859-1");
		},
		processFile(result) {
			result = result.trim();
			var data = result.split("\n").map((row) => {
				return row.split(/,(?!\s)/);
			});

			for (var i = 0; i < data.length - 1; i++) {
				if (data[i][2] != "" && data[i][3] != "") {
					var rowData = {
						unidad: data[i][3],
						articulo: this.trim(data[i][2]),
						existencia: this.trim(data[i][4]),
						costoUnitario: this.trim(data[i][5]),
						categoria: this.trim(data[i][0]),
					};
					this.inventario.push(rowData);
				}
			}
		},
		trim(cadena) {
			var retorno = cadena.replace(/^"[ ]+/g, "");
			var retorno = retorno.replace(/"+$/g, "");
			return retorno;
		},
		onHidden() {
			this.$refs.button.focus();
		},
		// FIN FILE INVENTARIO

		hasPermission(funcion) {
			if (this.permissions.length) {
				const permiso = this.permissions.find(
					(permiso) => permiso.idFuncion == funcion
				);
				if (permiso) return true;
				return false;
			}
		},
	},
	computed: {
		...mapGetters("alm_inventario_activos", ["activosFiltered"]),
		...mapState("alm_inventario_activos", [
			"listActivos",
			"busyActivos",
			"listCategorias",
			"selectedCategoria",
			"filter",
		]),
		...mapState(["permissions"]),
	},
	watch: {
		listActivos() {
			this.getActivoCategorias();
		},
		activosFiltered() {
			this.totalRows = this.activosFiltered.length;
		},
	},
};
</script>

<style>
.badge-filter {
	color: #c00000;
	background-color: #fce4e4;
	padding: 6px;
}
#table-inv-activos td {
	padding: 0.42rem !important;
	vertical-align: middle !important;
}
</style>
