<template>
	<b-overlay
		:show="overlay"
		rounded="sm"
		opacity="1.0"
		blur="1px"
		variant="transparent"
	>
		<b-alert variant="danger" class="p-2" show v-if="errorSubmit">
			<h6 class="text-center mt-2">
				<i class="fas fa-exclamation-triangle mr-2"></i>
				Ha ocurrido un problema al registrar el activo
			</h6>
		</b-alert>

		<b-form-group>
			<template v-slot:label>
				<div class="lab-form">Artículo<span class="req">*</span></div>
			</template>

			<b-form-input
				v-model="$v.form.articulo.$model"
				placeholder="Nombre del artículo"
				type="text"
				:state="
					$v.form.articulo.$dirty ? !$v.form.articulo.$error : null
				"
			>
			</b-form-input>

			<b-form-invalid-feedback id="feedback-articulo">
				Campo obligatorio
			</b-form-invalid-feedback>
		</b-form-group>

		<b-row>
			<b-col>
				<b-form-group>
					<template v-slot:label>
						<div class="lab-form">
							Unidad<span class="req">*</span>
						</div>
					</template>

					<b-form-input
						v-model="$v.form.unidad.$model"
						placeholder="Unidad"
						type="text"
						:state="
							$v.form.unidad.$dirty
								? !$v.form.unidad.$error
								: null
						"
					>
					</b-form-input>

					<b-form-invalid-feedback id="feedback-unidad">
						Campo obligatorio
					</b-form-invalid-feedback>
				</b-form-group>
			</b-col>
			<b-col>
				<b-form-group>
					<template v-slot:label>
						<div class="lab-form">
							Existencia
						</div>
					</template>

					<b-form-input
						v-model="$v.form.existencia.$model"
						type="number"
						:state="
							$v.form.existencia.$dirty
								? !$v.form.existencia.$error
								: null
						"
					>
					</b-form-input>

					<b-form-invalid-feedback id="feedback-existencia">
						Campo obligatorio
					</b-form-invalid-feedback>
				</b-form-group>
			</b-col>
		</b-row>

		<b-form-group class="mb-0">
			<template v-slot:label>
				<div class="lab-form">Categoría<span class="req">*</span></div>
			</template>

			<b-form-select
				v-if="opcionCategoria && listCategorias.length"
				:options="listCategorias"
				v-model="$v.form.categoria.$model"
				:state="
					$v.form.categoria.$dirty ? !$v.form.categoria.$error : null
				"
			>
				<template v-slot:first>
					<option :value="null" disabled>Seleccione</option>
				</template>
			</b-form-select>

			<b-form-input
				v-else
				v-model="$v.form.categoria.$model"
				type="text"
				:state="
					$v.form.categoria.$dirty ? !$v.form.categoria.$error : null
				"
				autofocus
			>
			</b-form-input>

			<b-form-invalid-feedback id="feedback-categoria">
				Campo obligatorio
			</b-form-invalid-feedback>

			<template v-if="listCategorias.length">
				<b-button
					variant="link"
					class="text-secondary float-right"
					style="cursor: pointer"
					@click="cambiarCategoria"
				>
					<small v-if="opcionCategoria">Registrar categoría</small>
					<small v-else>Elegir categoría</small>
				</b-button>
			</template>
		</b-form-group>

		<b-form-group>
			<template v-slot:label>
				<div class="lab-form">Costo unitario</div>
			</template>

			<vue-numeric
				class="text-right form-control"
				currency="$"
				separator=","
				:precision="2"
				:read-only="false"
				v-model="$v.form.costoUnitario.$model"
				:state="
					$v.form.costoUnitario.$dirty
						? !$v.form.costoUnitario.$error
						: null
				"
			/>

			<b-form-invalid-feedback id="feedback-costo-unitario">
				Campo obligatorio
			</b-form-invalid-feedback>
		</b-form-group>

		<div class="d-flex flex-row-reverse bd-highlight">
			<b-button variant="danger" class="ml-3 my-2" @click="submit">
				GUARDAR
			</b-button>
			<b-button variant="white" class="link-light my-2" @click="cancel">
				CANCELAR
			</b-button>
		</div>
	</b-overlay>
</template>

<script>
import { mapState, mapMutations, mapActions } from "vuex";
import { required } from "vuelidate/lib/validators";

export default {
	props: {
		activo: Object,
	},
	data() {
		return {
			errorSubmit: false,
			overlay: false,
			opcionCategoria: true,
			form: {
				articulo: null,
				unidad: null,
				categoria: null,
				existencia: 1,
				costoUnitario: 0,
			},
		};
	},
	mounted() {
		if (this.activo) this.setDataEdit();
	},
	methods: {
		...mapMutations(["modalSubmit", "modalOk"]),
		...mapMutations("alm_inventario_activos", [
			"addActivo",
			"updateActivo",
		]),
		async submit() {
			this.overlay = true;
			this.errorSubmit = false;
			this.$v.$touch();

			if (!this.$v.$invalid) {
				try {
					const response = !this.activo
						? await axios.post(
								`/api/alm/inventario/activo`,
								this.form
						  )
						: await axios.put(
								`/api/alm/inventario/activo/${this.activo.idActivo}`,
								this.form
						  );
					if (response.data.success) {
						if (!this.activo) this.addActivo(response.data.activo);
						else this.updateActivo(response.data.activo);
						this.modalSubmit(true);
					} else {
						this.modalOk(false);
					}
				} catch (e) {
					console.log(e);
					this.overlay = false;
					this.errorSubmit = true;
				}
			} else {
				this.overlay = false;
			}
		},
		cancel() {
			this.$bvModal.hide("modal-activo");
		},
		setDataEdit() {
			this.form.articulo = this.activo.articulo;
			this.form.unidad = this.activo.unidad;
			this.form.existencia = this.activo.existencia;
			this.form.categoria = this.activo.categoria;
			this.form.costoUnitario = this.activo.costoUnitario;
		},
		cambiarCategoria() {
			this.form.categoria = null;
			this.opcionCategoria = !this.opcionCategoria;
		},
	},
	computed: {
		...mapState("alm_inventario_activos", ["listCategorias"]),
	},
	validations() {
		return {
			form: {
				articulo: { required },
				unidad: { required },
				categoria: { required },
				existencia: {},
				costoUnitario: {},
			},
		};
	},
};
</script>
