<template>
	<b-overlay
		:show="overlay"
		rounded="sm"
		opacity="1.0"
		blur="1px"
		variant="transparent"
	>
		<hr class="mt-0" />

		<form-wizard
			@on-complete="onComplete"
			title=""
			subtitle=""
			shape="circle"
			step-size="xs"
			transition="slide"
			:hideButtons="true"
			color="rgb(227, 27, 35)"
			ref="wizard"
		>
			<!-- Elegir articulos -->
			<tab-content>
				<p class="mb-1">
					<strong>Seleccione los artículos que va a recibir:</strong>
				</p>

				<b-container class="bg-light py-1 mb-3">
					<b-table-simple
						v-if="articulosFiltered.length"
						bordered
						small
						caption-top
						responsive
						style="font-size: 10px"
						class="my-3 bg-white table-sidebar shadow border-top"
					>
						<b-thead class="bg-light text-center">
							<b-tr>
								<b-th style="width: 10%;">Elegir</b-th>
								<b-th style="width: 60%;">Artículo</b-th>
								<b-th style="width: 15%;">Unidad</b-th>
								<b-th style="width: 15%;">Recibir</b-th>
							</b-tr>
						</b-thead>

						<b-tbody>
							<b-tr
								v-for="(articulo, index) in articulosFiltered"
								:key="index"
							>
								<b-td class="align-middle text-center">
									<b-form-checkbox
										size="sm"
										:id="'checkbox-' + articulo.idArticulo"
										@change="
											onRowSelected($event, articulo)
										"
									/>
								</b-td>
								<b-td class="align-middle text-center">
									{{ articulo.descripcion }}
								</b-td>
								<b-td class="align-middle text-center">
									{{ articulo.unidad }}
								</b-td>
								<b-td
									v-if="entregasParciales"
									class="align-middle text-center"
								>
									<b-form-input
										:value="articulo.faltantes"
										min="1"
										:max="articulo.cantidadOC"
										size="sm"
										type="number"
										class="text-center"
										@change="editCantidad($event, articulo)"
										:disabled="!articulo.selected"
									></b-form-input>
								</b-td>
								<b-td v-else class="align-middle text-center">
									{{ articulo.faltantes }}
								</b-td>
							</b-tr>
						</b-tbody>
					</b-table-simple>

					<b-container v-else class="py-4">
						<center>
							<h1
								class="display-1 text-dark mb-0"
								style="font-size: 14px;"
							>
								<strong>Sin artículos disponibles</strong>
							</h1>
						</center>
					</b-container>
				</b-container>

				<template v-if="tipoRecibo == 'Factura' && remisiones.length">
					<p class="mb-1">
						<strong>Factura de la remisión:</strong>
					</p>

					<b-container class="bg-light py-1 mb-3">
						<b-table-simple
							bordered
							small
							caption-top
							responsive
							style="font-size: 10px"
							class="my-3 bg-white table-sidebar shadow border-top w-50"
						>
							<b-thead class="bg-light text-center">
								<b-tr>
									<b-th style="width: 10%;">Elegir</b-th>
									<b-th style="width: 30%;">Folio</b-th>
									<b-th style="width: 40%;">Fecha</b-th>
									<b-th style="width: 20%;">Total</b-th>
								</b-tr>
							</b-thead>

							<b-tbody>
								<b-tr
									v-for="(item, index) in remisiones"
									:key="index"
								>
									<b-td class="align-middle text-center">
										<b-form-checkbox
											size="sm"
											:id="'checkbox-' + item.id"
											@change="
												onRowSelectedRemisiones(
													$event,
													item
												)
											"
										/>
									</b-td>
									<b-td class="align-middle text-center">
										<template v-if="item.folio != 'null'">
											{{ item.folio }}
										</template>
										<template v-else>
											s/f
										</template>
									</b-td>
									<b-td class="align-middle text-center">
										{{ formatoFecha(item.fecha) }}
									</b-td>
									<b-td class="align-middle text-center">
										<div
											class="d-flex w-100 justify-content-between"
										>
											<label class="mb-0 ml-1">$</label>
											<vue-numeric
												separator=","
												:precision="2"
												:read-only="true"
												:value="item.total"
											/>
										</div>
									</b-td>
								</b-tr>
							</b-tbody>
						</b-table-simple>
					</b-container>
				</template>

				<div class="d-flex flex-row-reverse bd-highlight">
					<b-button
						variant="danger"
						class="ml-3 my-2"
						@click="beforeTabSwitch('one')"
					>
						SIGUIENTE
					</b-button>
					<b-button
						variant="white"
						class="link-light my-2"
						@click="cancel"
					>
						CANCELAR
					</b-button>
				</div>
			</tab-content>

			<!-- Datos de la factura -->
			<tab-content>
				<b-row>
					<b-col class="mb-2">
						<b-form-group class="m-0">
							<template v-slot:label>
								<div class="lab-form">
									Folio
									<span
										v-show="tipoRecibo == 'Factura'"
										class="req"
										>*</span
									>
								</div>
							</template>
							<b-form-input
								type="text"
								class=""
								autocomplete="off"
								placeholder="Folio"
								v-model="$v.form.folio.$model"
								:state="
									$v.form.folio.$dirty
										? !$v.form.folio.$error
										: null
								"
							>
							</b-form-input>

							<b-form-invalid-feedback id="feedback-folio">
								Campo obligatorio
							</b-form-invalid-feedback>
						</b-form-group>
					</b-col>

					<b-col>
						<b-form-group>
							<template v-slot:label>
								<div class="lab-form">
									Fecha de Factura <span class="req">*</span>
								</div>
							</template>
							<b-form-input
								id="fechaRegreso"
								type="date"
								class=""
								v-model="$v.form.fecha.$model"
								:state="
									$v.form.fecha.$dirty
										? !$v.form.fecha.$error
										: null
								"
							>
							</b-form-input>
							<b-form-invalid-feedback id="feedback-fecha">
								Campo obligatorio
							</b-form-invalid-feedback>
						</b-form-group>
					</b-col>

					<b-col>
						<b-form-group>
							<template v-slot:label>
								<div class="lab-form">
									Total <span class="req">*</span>
								</div>
							</template>

							<vue-numeric
								class="text-right form-control"
								separator=","
								:precision="2"
								currency="$"
								:read-only="false"
								v-model="form.total"
								style="margin-bottom: 0px;"
							/>

							<b-form-invalid-feedback id="feedback-fecha">
								Campo obligatorio
							</b-form-invalid-feedback>
						</b-form-group>
					</b-col>
				</b-row>

				<fieldset class="scheduler-border">
					<legend class="scheduler-border">
						Archivo
					</legend>

					<b-row>
						<b-col>
							<b-form-group class="mb-4">
								<template v-slot:label>
									<div class="lab-form">
										PDF o Imagen
										<span
											v-show="tipoRecibo == 'Factura'"
											class="req"
											>*</span
										>
									</div>
								</template>
								<b-form-file
									placeholder="No se ha seleccionado ningún archivo"
									@change="setFilePDF"
									:state="
										$v.form.file.$dirty
											? !$v.form.file.$error
											: null
									"
								>
								</b-form-file>
							</b-form-group>
						</b-col>
					</b-row>
				</fieldset>

				<div class="d-flex flex-row-reverse bd-highlight">
					<b-button
						variant="danger"
						class="ml-3 my-2"
						@click="nextTab()"
					>
						SIGUIENTE
					</b-button>
					<b-button
						variant="white"
						class="link-light my-2"
						@click="cancel"
					>
						CANCELAR
					</b-button>
				</div>
			</tab-content>

			<!-- Registro de articulos nuevos -->
			<tab-content>
				<p>
					<strong>Registro de artículos nuevos:</strong>
				</p>

				<div v-if="nuevosArticulos.length > 0">
					<b-card
						v-for="(v, index) in $v.nuevosArticulos.$each.$iter"
						:key="index"
						class="mb-2 shadow-sm bg-light"
						no-body
					>
						<b-row>
							<b-col lg="7">
								<b-media class="px-3 py-2">
									<h1
										class="display-1 text-dark"
										style="font-size: 12px;"
									>
										<strong
											><label
												class="mr-2"
												style="font-size: 14px;"
												>Artículo:</label
											></strong
										>
										{{ v.$model.descripcion }}
									</h1>

									<b-row>
										<b-col lg="3">
											<h1
												class="display-1 text-dark"
												style="font-size: 14px;"
											>
												<strong
													><label
														>Categoria:</label
													></strong
												>
											</h1>
										</b-col>
										<b-col lg="9">
											<b-form-group class="mb-0">
												<b-form-select
													size="sm"
													:options="listCategorias"
													v-model="v.categoria.$model"
													:state="
														v.categoria.$dirty
															? !v.categoria
																	.$error
															: null
													"
												>
													<template v-slot:first>
														<option
															:value="null"
															disabled
														>
															Seleccione
														</option>
													</template>
												</b-form-select>

												<b-form-invalid-feedback
													id="feedback-categoria"
												>
													Campo obligatorio
												</b-form-invalid-feedback>
											</b-form-group>
										</b-col>
									</b-row>
								</b-media>
							</b-col>
							<b-col lg="5">
								<b-media class="px-3 py-2">
									<h1
										class="display-1 text-dark"
										style="font-size: 12px;"
									>
										<strong
											><label
												class="mr-2"
												style="font-size: 14px;"
												>Cantidad:</label
											></strong
										>
										{{ v.$model.faltantes }}
									</h1>

									<h1
										class="display-1 text-dark"
										style="font-size: 12px;"
									>
										<strong
											><label
												class="mr-2"
												style="font-size: 14px;"
												>Costo unitario:</label
											></strong
										>
										<vue-numeric
											separator=","
											:precision="2"
											currency="$"
											:read-only="true"
											v-model="v.$model.costoUnitario"
										/>
									</h1>
								</b-media>
							</b-col>
						</b-row>
					</b-card>
				</div>

				<div v-else>
					<h6 class="text-secondary m-2">
						No se han solicitado artículos nuevos
					</h6>
				</div>

				<div class="d-flex flex-row-reverse bd-highlight">
					<b-button
						variant="danger"
						class="ml-3 my-2"
						@click="nextTab()"
					>
						SIGUIENTE
					</b-button>
					<b-button
						variant="white"
						class="link-light my-2"
						@click="cancel"
					>
						CANCELAR
					</b-button>
				</div>
			</tab-content>

			<!-- Finalizar recepción de mercancía -->
			<tab-content>
				<b-alert show variant="warning"
					>Al terminar el registro pueden ser afectadas las
					existencias de los artículos que pertenezcan a la factura
					registrada.</b-alert
				>

				<div class="d-flex flex-row-reverse bd-highlight">
					<b-button
						variant="danger"
						class="ml-3 my-2"
						@click="submit()"
					>
						TERMINAR
					</b-button>
					<b-button
						variant="white"
						class="link-light my-2"
						@click="cancel"
					>
						CANCELAR
					</b-button>
				</div>
			</tab-content>
		</form-wizard>
	</b-overlay>
</template>

<script>
import { mapMutations, mapState, mapActions } from "vuex";
import { required } from "vuelidate/lib/validators";

export default {
	props: {
		orden: Object,
		// articulos: Array,
		tipoRecibo: String,
		entregasParciales: Boolean,
	},
	data() {
		return {
			// TAB ONE
			articulosSelected: [],
			nuevosArticulos: [],
			// facturaArticulos: [],

			// TAB TWO
			errorSubmit: false,
			overlay: false,
			form: {
				folio: null,
				total: 0,
				fecha: null,
				file: null,
			},
			completeForm: false,

			// REMISIÓN
			remisionesSelected: [],
		};
	},
	mounted() {
		this.getActivoCategorias();
	},
	methods: {
		...mapMutations(["modalSubmit", "modalOk"]),
		...mapActions("alm_inventario_activos", ["getActivos"]),
		...mapActions("alm_inventario_activos", ["getActivoCategorias"]),
		...mapMutations("co_sc_recepcion_mercancia", ["addRecepcionMercancia"]),
		...mapActions("co_sc_recepcion_mercancia", [
			"getRecepcionArticulos",
			"getRecepcionMercancias",
		]),
		...mapActions("alm_ss_solicitudes", ["getArticulos"]),
		...mapActions("co_sc_solicitudes", ["getArticulosByOrdenCompra"]),

		// TAB ONE
		onRowSelected(bol, item) {
			item = this.editSelected(bol, item.idArticulo);
			if (bol) {
				if (item.tipo == "Nuevo" && !item.idActivo)
					this.nuevosArticulos.push(item);
				else this.articulosSelected.push(item);
			} else {
				if (item.tipo == "Nuevo" && !item.idActivo) {
					const index = this.nuevosArticulos.findIndex((articulo) => {
						return articulo.idArticulo == item.idArticulo;
					});
					this.nuevosArticulos.splice(index, 1);
				} else {
					const index = this.articulosSelected.findIndex(
						(articulo) => {
							return articulo.idArticulo == item.idArticulo;
						}
					);
					this.articulosSelected.splice(index, 1);
				}
			}
		},
		editSelected(value, id) {
			return this.articulosFiltered
				.filter((articulo) => articulo.idArticulo == id)
				.map(function(articulo) {
					articulo.selected = value;
					return articulo;
				})[0];
		},
		editCantidad(value, item) {
			if (item.tipo == "Nuevo" && !item.idActivo) {
				this.nuevosArticulos.map(function(articulo) {
					if (articulo.idArticulo == item.idArticulo) {
						articulo.faltantes = value;
					}
					return articulo;
				});
			} else {
				this.articulosSelected.map(function(articulo) {
					if (articulo.idArticulo == item.idArticulo) {
						articulo.faltantes = value;
					}
					return articulo;
				});
			}
			this.setTotal();
		},
		beforeTabSwitch(tab) {
			if (tab == "one") {
				if (
					this.articulosSelected.length ||
					this.nuevosArticulos.length ||
					this.remisionesSelected.length
				)
					this.nextTab();
			}
		},
		//TAB TWO
		setTotal() {
			var articulos = [];
			this.form.total = 0;
			articulos = this.articulosSelected.concat(this.nuevosArticulos);
			var artTotal = articulos.reduce(
				(suma, articulo) =>
					suma +
					parseFloat(articulo.costoUnitario) * articulo.faltantes,
				0
			);
			if (this.remisionesSelected.length) {
				var rnsTotal = this.remisionesSelected.reduce(
					(suma, remision) => suma + parseFloat(remision.total),
					0
				);
				this.form.total = artTotal + rnsTotal;
			} else this.form.total = artTotal;
		},
		setFilePDF(e) {
			this.form.file = e.target.files[0];
		},
		onComplete: function() {
			this.completeForm = false;
		},
		//TAB QUARTER
		async submit() {
			this.overlay = true;
			this.errorSubmit = false;
			this.$v.$touch();
			if (!this.$v.$invalid) {
				try {
					const data = new FormData();
					data.append("folio", this.form.folio);
					data.append("idOrdenCompra", this.orden.idOrdenCompra);
					data.append("total", this.form.total);
					data.append("fecha", this.form.fecha);
					data.append("file", this.form.file);
					data.append("tipo", this.tipoRecibo);

					const articulos = this.articulosSelected
						.concat(this.nuevosArticulos)
						.map((articulo) => {
							return {
								idArticulo: articulo.idArticulo,
								cantidadOut: articulo.faltantes,
							};
						});

					data.append("articulos", JSON.stringify(articulos));

					const response = await axios.post(
						BaseUrl + `/api/co/sc/ordencompra/recepcion`,
						data
					);

					if (response.data.success) {
						this.addRecepcionMercancia(
							response.data.recepcionMercancia
						);
						if (this.nuevosArticulos.length) {
							this.registerActivos(
								response.data.recepcionMercancia.id
							);
						}
						if (this.articulosSelected.length) {
							this.updateActivos(
								response.data.recepcionMercancia.id
							);
						}
						if (this.remisionesSelected.length) {
							this.reasignarArticulos(
								response.data.recepcionMercancia.id
							);
						}
						// this.modalSubmit(true);
						this.$emit("cancel", false);
						this.overlay = false;
						this.getActivos();
						// this.getArticulos(this.solicitudActiva.idSolicitud);
						this.getArticulosByOrdenCompra(
							this.orden.idOrdenCompra
						);
						this.getRecepcionArticulos(this.orden.idOrdenCompra);
						this.getRecepcionMercancias(this.orden.idOrdenCompra);
					} else {
						// this.modalOk(false);
						this.$emit("cancel", false);
					}
				} catch (e) {
					console.log(e);
					this.overlay = false;
					this.errorSubmit = true;
				}
			} else {
				this.overlay = false;
			}
		},
		async registerActivos(idRecepcion) {
			try {
				const data = {
					activos: this.nuevosArticulos,
					id: idRecepcion,
					tipoRecibo: this.tipoRecibo,
				};
				const response = await axios.post(
					BaseUrl + `/api/alm/inventario/activos`,
					data
				);
			} catch (e) {
				console.log(e);
				this.overlay = false;
				this.errorSubmit = true;
			}
		},
		async updateActivos(idRecepcion) {
			try {
				const data = {
					activos: this.articulosSelected,
					id: idRecepcion,
					tipoRecibo: this.tipoRecibo,
				};
				const response = await axios.put(
					BaseUrl + `/api/alm/inventario/activos`,
					data
				);
			} catch (e) {
				console.log(e);
				this.overlay = false;
				this.errorSubmit = true;
			}
		},
		// GENERAL
		nextTab() {
			this.$refs.wizard.nextTab();
		},
		cancel() {
			this.$emit("cancel", false);
		},
		// REMISIÓN
		formatoFecha(date) {
			return moment(date, "YYYY-MM-DD")
				.locale("es")
				.format("ll");
		},
		onRowSelectedRemisiones(bol, item) {
			if (bol) {
				this.remisionesSelected.push(item);
			} else {
				const index = this.remisionesSelected.findIndex((remision) => {
					return remision.id == item.id;
				});
				this.remisionesSelected.splice(index, 1);
			}
		},
		async reasignarArticulos(idRecepcion) {
			try {
				const data = {
					remisiones: this.remisionesSelected,
					id: idRecepcion,
				};
				const response = await axios.put(
					BaseUrl + `/api/co/sc/ordencompra/recepcion/articulos`,
					data
				);
			} catch (e) {
				console.log(e);
				this.overlay = false;
				this.errorSubmit = true;
			}
		},
	},
	computed: {
		...mapState(["usuario", "okModal"]),
		// ...mapState("co_sc_solicitudes", ["solicitudActiva"]),

		...mapState("co_sc_solicitudes", ["listArticulosByOC"]),

		...mapState("alm_inventario_activos", ["listCategorias"]),

		...mapState("co_sc_recepcion_mercancia", [
			"listRecepcionMercancia",
			"listRecepcionArticulos",
		]),

		articulos() {
			return this.listArticulosByOC;
		},
		articulosFiltered() {
			if (this.articulos.length) {
				if (this.listRecepcionArticulos.length) {
					const result = [];
					this.articulos.forEach((articulo) => {
						articulo.categoria = null;
						articulo.selected = false;

						const articulos = this.listRecepcionArticulos.filter(
							(item) => item.idArticulo == articulo.idArticulo
						);

						if (articulos.length) {
							var cantidadOut = articulos.reduce(
								(suma, item) =>
									suma + parseFloat(item.cantidadOut),
								0
							);
							if (articulo.cantidadOC > cantidadOut) {
								articulo.faltantes =
									articulo.cantidadOC - cantidadOut;
								result.push(articulo);
							}
						} else {
							articulo.faltantes = articulo.cantidadOC;
							result.push(articulo);
						}
					}, this);
					return result;
				} else {
					return this.articulos.map((articulo) => {
						articulo.faltantes = articulo.cantidadOC;
						articulo.categoria = null;
						articulo.selected = false;
						return articulo;
					});
				}
			}
			return [];
		},
		remisiones() {
			if (this.listRecepcionMercancia.length) {
				return this.listRecepcionMercancia.filter(
					(recepcion) => recepcion.tipo == "Remision"
				);
			} else return [];
		},
	},
	validations() {
		if (this.tipoRecibo == "Remision") {
			return {
				form: {
					folio: {},
					total: { required },
					fecha: { required },
					file: {},
				},
				nuevosArticulos: {
					$each: {
						categoria: { required },
					},
				},
			};
		} else {
			return {
				form: {
					folio: { required },
					total: { required },
					fecha: { required },
					file: { required },
				},
				nuevosArticulos: {
					$each: {
						categoria: { required },
					},
				},
			};
		}
	},
	watch: {
		articulosSelected: {
			handler(val, oldVal) {
				this.setTotal();
			},
			deep: true,
		},
		nuevosArticulos: {
			handler(val, oldVal) {
				this.setTotal();
			},
			deep: true,
		},
		remisionesSelected: {
			handler(val, oldVal) {
				this.setTotal();
			},
			deep: true,
		},
	},
};
</script>

<style>
.active {
	background-color: #ffffff00 !important;
}
.vue-form-wizard {
	padding-bottom: 0px;
}
.wizard-header {
	padding: 0px !important;
}
.table-sidebar th {
	padding: 0.72rem;
	vertical-align: top;
	border-top: 1px solid #dee2e6;
}
.table-sidebar td {
	padding: 0.42rem;
	vertical-align: top;
	border-top: 1px solid #dee2e6;
}
</style>
