<template>
	<div>
		<template v-if="!registroEntradas">
			<fieldset class="scheduler-border">
				<legend class="scheduler-border" style="font-size: 16px;">
					<strong
						>Recibir la orden de compra #{{
							orden.idOrdenCompra
						}}</strong
					>
				</legend>

				<b-form-checkbox
					v-model="entregasParciales"
					:value="true"
					:unchecked-value="false"
				>
					Recibir en forma parcial
				</b-form-checkbox>

				<b-button
					size="sm"
					variant="outline-danger"
					class="shadows my-3"
					@click="showRegistroEntradas('Elaborar compra', 'Factura')"
					squared
					>Elaborar compra</b-button
				>

				<b-button
					size="sm"
					variant="outline-secondary"
					class="shadows my-3"
					@click="
						showRegistroEntradas('Elaborar recepción', 'Remision')
					"
					squared
					>Elaborar recepción</b-button
				>
			</fieldset>

			<b-nav>
				<b-nav-item class="button-detalles-oc">
					<h4
						class="text-dark"
						style="cursor: pointer; font-size: 17px"
						@click="setSeccionActive('EN')"
					>
						Entradas
					</h4>
					<hr
						v-if="activeEntradas"
						style="border-top: 3px solid rgb(193 55 37)"
						class="my-0"
					/>
					<hr
						v-else
						style="border-top: 1px solid rgb(0 0 0)"
						class="my-0"
					/>
				</b-nav-item>

				<b-nav-item class="button-registro-factura">
					<h4
						class="text-dark"
						style="cursor: pointer; font-size: 17px"
						@click="setSeccionActive('OC')"
					>
						Orden de compra
					</h4>
					<hr
						v-if="activeOC"
						style="border-top: 3px solid rgb(193 55 37)"
						class="my-0"
					/>
					<hr
						v-else
						style="border-top: 1px solid rgb(0 0 0)"
						class="my-0"
					/>
				</b-nav-item>
			</b-nav>

			<b-container
				v-if="activeEntradas"
				class="my-3"
				style="border: 0.1rem solid #e9ecef;"
			>
				<div class="my-3" v-if="busyRecepciones">
					<b-skeleton-table
						:rows="3"
						:columns="4"
						:table-props="{ bordered: true, striped: true }"
					></b-skeleton-table>
				</div>

				<template v-else>
					<b-table
						v-if="listRecepcionMercancia.length"
						:items="listRecepcionMercancia"
						:fields="fields"
						bordered
						responsive
						style="font-size: 10px"
						head-variant="light"
						table-class="my-3 bg-white shadow-sm text-center border-top"
					>
						<template #cell(show_details)="row">
							<b-form-checkbox
								v-model="row.detailsShowing"
								@change="row.toggleDetails"
							>
							</b-form-checkbox>
						</template>

						<template #row-details="row">
							<b-card class="text-left py-2 px-3" no-body>
								<b-row>
									<b-col lg="4">
										<h1
											class="display-1 text-dark"
											style="font-size: 10px;"
										>
											<strong
												><label style="font-size: 12px;"
													>Artículos de la
													{{ row.item.tipo }}:</label
												></strong
											><br />
											<b-link
												class="text-danger"
												href="#"
											>
												Mostrar artículos
											</b-link>
										</h1>
									</b-col>

									<b-col lg="8">
										<div v-if="row.item.file != 'S/A'">
											<h1
												class="display-1 text-dark"
												style="font-size: 10px;"
											>
												<strong
													><label
														style="font-size: 12px;"
														>Comprobante (<strong>{{
															row.item.file
														}}</strong
														>):</label
													></strong
												><br />
												<b-link
													class="text-danger"
													@click="
														downloadFile(
															row.item.file
														)
													"
												>
													Descargar
												</b-link>
											</h1>
										</div>
									</b-col>
								</b-row>
							</b-card>
						</template>

						<template #cell(folio)="row">
							<div
								v-if="row.value != 'null'"
								class="align-middle"
							>
								<strong>{{ row.value }}</strong>
							</div>
							<div v-else class="align-middle">
								<strong>s/f</strong>
							</div>
						</template>

						<template #cell(tipo)="row">
							<div class="align-middle">
								<strong>{{ row.value }}</strong>
							</div>
						</template>

						<template #cell(fecha)="row">
							<div class="align-middle">
								{{ formatoFecha(row.value) }}
							</div>
						</template>

						<template #cell(total)="row">
							<div class="d-flex w-100 justify-content-between">
								<label class="mb-0 ml-1">$</label>
								<vue-numeric
									separator=","
									:precision="2"
									:read-only="true"
									:value="row.value"
								/>
							</div>
						</template>
					</b-table>

					<b-container v-else class="bg-white py-4 shadow-sm">
						<center>
							<h1
								class="display-1 text-dark mb-0"
								style="font-size: 14px;"
							>
								<strong>No hay registros que mostrar</strong>
							</h1>
						</center>
					</b-container>
				</template>
			</b-container>

			<b-container
				v-if="activeOC"
				class="my-3"
				style="border: 0.1rem solid #e9ecef;"
			>
				<b-row class="pt-3">
					<b-col lg="4">
						<div class="pb-4" style="min-height: 70px;">
							<h1
								class="display-1 text-dark"
								style="font-size: 13px;"
							>
								<strong
									><label style="font-size: 15px;"
										>Proveedor</label
									></strong
								><br />
								{{ orden.nombre_proveedor }}
							</h1>
						</div>
					</b-col>

					<b-col lg="4">
						<div class="pb-4" style="min-height: 70px;">
							<h1
								class="display-1 text-dark"
								style="font-size: 13px;"
							>
								<strong
									><label style="font-size: 15px;"
										>Condición de pago</label
									></strong
								><br />

								<font v-if="orden.condicionPago">
									{{ orden.condicionPago }}
								</font>
								<font v-else> S/C</font>
							</h1>
						</div>
					</b-col>

					<b-col lg="4">
						<div class="pb-4" style="min-height: 70px;">
							<h1
								class="display-1 text-dark"
								style="font-size: 13px;"
							>
								<strong
									><label style="font-size: 15px;"
										>Fecha de entrega</label
									></strong
								><br />
								{{ fechaEntrega }}
							</h1>
						</div>
					</b-col>
				</b-row>

				<b-row>
					<b-col lg="4">
						<div class="pb-4" style="min-height: 70px;">
							<h1
								class="display-1 text-dark"
								style="font-size: 13px;"
							>
								<strong
									><label style="font-size: 15px;"
										>Autorizador</label
									></strong
								><br />
								{{ autorizador.nombreUsuario }}
							</h1>
						</div>
					</b-col>

					<b-col lg="4">
						<div class="pb-4" style="min-height: 70px;">
							<h1
								class="display-1 text-dark"
								style="font-size: 13px;"
							>
								<strong
									><label style="font-size: 15px;"
										>Tipo de pago</label
									></strong
								><br />
								{{ orden.tipoPago }}
							</h1>
						</div>
					</b-col>

					<b-col lg="4">
						<div
							class="pb-4 text-justify"
							style="min-height: 70px;"
						>
							<h1
								class="display-1 text-dark"
								style="font-size: 13px;"
							>
								<strong
									><label style="font-size: 15px;"
										>Observaciones</label
									></strong
								><br />
								{{ orden.observaciones }}
							</h1>
						</div>
					</b-col>
				</b-row>
			</b-container>
		</template>

		<template v-else>
			<alm-form-recepcion-mercancia-component
				:orden="orden"
				:tipoRecibo="tipoRecibo"
				:entregasParciales="entregasParciales"
				@cancel="cancel($event)"
			/>
		</template>
	</div>
</template>

<script>
import { mapState, mapActions, mapMutations } from "vuex";

export default {
	props: {
		orden: Object,
	},
	data() {
		return {
			fields: [
				{
					key: "show_details",
					label: "",
					thStyle: { width: "8%" },
				},
				{ key: "folio", thStyle: { width: "16%" } },
				{ key: "tipo", thStyle: { width: "16%" } },
				{ key: "fecha", thStyle: { width: "30%" } },
				{ key: "total", thStyle: { width: "30%" } },
			],
			titleModal: "",
			tipoRecibo: "",
			entregasParciales: false,
			registroEntradas: false,

			activeEntradas: true,
			activeOC: false,
		};
	},
	mounted() {},
	methods: {
		showRegistroEntradas(title, tipo) {
			this.tipoRecibo = tipo;
			if (this.entregasParciales) {
				this.titleModal = title + " en forma parcial";
			} else this.titleModal = title;
			this.$emit("setTitleModal", this.titleModal);
			this.registroEntradas = true;
		},
		cancel(val) {
			this.$emit("setTitleModal", "Recepción de mercancía");
			this.registroEntradas = val;
		},
		formatoFecha(date) {
			return moment(date, "YYYY-MM-DD")
				.locale("es")
				.format("ll");
		},
		downloadFile(file) {
			window.location =
				BaseUrl + `/api/co/sc/ordencompra/factura/${file}/download`;
		},
		setSeccionActive(seccion) {
			this.desactiveSeccion();
			switch (seccion) {
				case "EN":
					this.activeEntradas = true;
					break;
				case "OC":
					this.activeOC = true;
					break;
			}
		},
		desactiveSeccion() {
			this.activeEntradas = false;
			this.activeOC = false;
		},
		hasPermission(funcion) {
			if (this.permissions.length) {
				const permiso = this.permissions.find(
					(permiso) => permiso.idFuncion == funcion
				);
				if (permiso) return true;
				return false;
			}
		},
	},
	computed: {
		...mapState("co_sc_recepcion_mercancia", [
			"listRecepcionMercancia",
			"busyRecepciones",
		]),
		...mapState("co_sc_solicitudes", ["listArticulosByOC"]),
		...mapState("co_conf_autorizaciones", ["listAutorizaciones"]),
		...mapState("usuarios", ["usuarios"]),

		autorizador() {
			return this.usuarios.find(
				(usuario) => usuario.idUsuario == this.orden.idAutorizador
			);
		},
		fechaEntrega() {
			moment.locale("es");
			return moment(this.orden.fechaEntrega).format("LL");
		},
	},
};
</script>
