<!-- Vue SFC -->
<template>
	<div>
		<treeselect
			:value="activoTreeselect"
			:load-options="loadOptions"
			:async="true"
			@input="inputArticulo($event)"
			size="sm"
			placeholder="Buscar articulo en inventario"
			loadingText="Cargando..."
		/>
	</div>
</template>

<script>
import Treeselect from "@riophae/vue-treeselect";
import "@riophae/vue-treeselect/dist/vue-treeselect.css";
import { LOAD_ROOT_OPTIONS } from "@riophae/vue-treeselect";
import { ASYNC_SEARCH } from "@riophae/vue-treeselect";
import { mapState, mapMutations, mapActions } from "vuex";

export default {
	components: { Treeselect },
	props: {
		// idActivoEdit: Number,
	},
	data: () => ({
		selectActivos: [],
		searchActivo: null,
	}),
	mounted() {
		this.setActivoSelected(null);
	},
	methods: {
		inputArticulo(value) {
			this.searchActivo = null;
			this.setTreeselectActivo(value);
			this.searchActivo = this.selectActivos.find(
				(activo) => activo.idActivo == value
			);
			this.setActivoSelected(this.searchActivo);
		},
		async loadOptions({ action, searchQuery, callback }) {
			this.selectActivos = [];
			const options = await axios
				.get(
					BaseUrl + `/api/alm/activos/like?searchQuery=${searchQuery}`
				)
				.then((response) => {
					this.selectActivos = response.data;
					return response.data.map((activo) => ({
						id: activo.idActivo,
						label: activo.articulo,
					}));
				});
			callback(null, options);
		},
		...mapMutations("alm_inventario_activos", [
			"setActivoSelected",
			"setTreeselectActivo",
		]),
	},
	computed: {
		...mapState("alm_inventario_activos", [
			"activoSelected",
			"activoTreeselect",
		]),
	},
	watch: {
		// idActivoEdit() {
		// 	this.setActivoSelected(this.idActivoEdit);
		// },
	},
};
</script>

<style>
.vue-treeselect__control {
	display: block;
	width: 100%;
	height: calc(1.5em + 0.75rem + 2px);
	padding-top: 0rem;
	padding-right: 0.75rem;
	padding-left: 0.45rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #495057 !important;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: 0.25rem;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.vue-treeselect__input {
	max-width: 100%;
	margin: 0;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	border: 0;
	outline: none;
	box-sizing: content-box;
	box-shadow: none;
	background: none transparent;
	line-height: 1;
	vertical-align: middle;
}

.vue-treeselect__control-arrow-container {
	line-height: 2 !important;
}

.vue-treeselect div,
.vue-treeselect span {
	box-sizing: border-box;
	margin-top: -1px;
	color: #757575;
}

.vue-treeselect__x-container {
	padding-top: 4px;
	padding-right: 8px;
}
</style>
