<template>
	<b-container fluid>
		<header-component>
			<template slot="center">
				<h2>Reporte de Actividades</h2>
			</template>
			<template slot="all-row-1">
				<div class="text-center" v-if="empleado">
					<label style="font-size: 17px" class="mb-0 mt-1 ml-4"
						><strong>Empleado:</strong></label
					>
					<label
						style="font-size: 17px"
						class="mb-0 mt-1"
						v-if="empleado"
						>{{ nombreEmpleado }}</label
					>
					<br v-if="isMovil">
					<label style="font-size: 17px" class="mb-0 mt-1 ml-4"
						><strong>No. Empleado:</strong></label
					>
					<label
						style="font-size: 17px"
						class="mb-0 mt-1"
						v-if="empleado"
						>{{ empleado.noEmpleado }}</label
					>
					<br v-if="isMovil">
					<template v-if="value">
						<label style="font-size: 17px" class="mb-0 mt-1 ml-4"
							><strong>Fecha:</strong></label
						>
						<label style="font-size: 17px" class="mb-0 mt-1">{{
							formatted
						}}</label>
						<br v-if="isMovil">
						<label style="font-size: 17px" class="mb-0 mt-1 ml-4"
							><strong>Semana:</strong></label
						>
						<label style="font-size: 17px" class="mb-0 mt-1">{{
							semana.semana
						}}</label>
					</template>
				</div>
				<div v-else class="text-center">
					<label style="font-size: 17px" class="mb-0 mt-1"
						>No se ha activado ningún empleado</label
					>
				</div>
			</template>
		</header-component>

		<b-row class="mt-3" v-if="!isMovil">
			<b-col lg="3">
				<!-- se quito el min y el max  -->
				<b-form-datepicker 
					id="example-i18n-picker"
					class=""
					:min="min" 
					:max="max"
					v-model="value"
					@context="onContext"
					locale="es"
					size="sm"
					start-weekday="4"
					:show-decade-nav="false"
					:hide-header="true"
					label-help=""
					selected-variant="danger"
					today-variant="secondary"
					label-no-date-selected="Seleccione el día que registrará"
				></b-form-datepicker>
			</b-col>
			<b-col lg="8" class="pl-0">
				<b-button
					:disabled="!value"
					variant="danger"
					class="shadows ml-2"
					size="sm"
					squared
					v-b-modal.modal-actividad
					@click="actividad = null"
				>
					<i class="far fa-calendar-plus mr-1"></i>
					Registrar Actividad
					
				</b-button>
				<b-button
					:disabled="!empleado"
					class="shadows ml-2"
					variant="light"
					size="sm"
					squared
					@click="terminar"
				>
					Terminar
					<i class="fas fa-times-circle ml-1"></i>
				</b-button>
			</b-col>
			<b-col lg="1">
				<b-dropdown right size="sm" squared class="float-right shadows">
					<template v-slot:button-content>
						Reportes
						<i class="fas fa-file-pdf mx-1"></i>
					</template>
					<b-dropdown-item v-b-modal.modal-reportes
						>Generar reporte</b-dropdown-item
					>
					<b-dropdown-item v-b-toggle.sidebar-1 @click="getReportes"
						>Reportes disponibles</b-dropdown-item
					>
					<template v-if="
								hasPermission('op.ra.actividades.exportar')
							">
						<b-dropdown-divider></b-dropdown-divider>
						<b-dropdown-item v-b-modal.modal-exportar
							>Exportar XLSX</b-dropdown-item
						>
					</template>
				</b-dropdown>
			</b-col>
		</b-row>

		<template v-if="isMovil">

			<b-row class="mt-3">
				<b-col sm="12">
					<!-- se quito el min y el max -->
					<b-form-datepicker
						id="example-i18n-picker"
						class=""
						:min="min" 
						:max="max"
						v-model="value"
						@context="onContext"
						locale="es"
						size="sm"
						start-weekday="4"
						:show-decade-nav="false"
						:hide-header="true"
						label-help=""
						selected-variant="danger"
						today-variant="secondary"
						label-no-date-selected="Seleccione el día que registrará"
					></b-form-datepicker>
				</b-col>
			</b-row>

			<b-row class="mt-3">
				<b-col cols="6">
					<b-button
						:disabled="!value"
						variant="danger"
						class="shadows"
						block
						size="sm"
						squared
						v-b-modal.modal-actividad
						@click="actividad = null"
					>
						<i class="far fa-calendar-plus mr-1"></i>
						Registrar Actividad
						
					</b-button>
				</b-col>
				<b-col cols="3">
					<b-button
						:disabled="!empleado"
						block
						class="shadows"
						variant="light"
						size="sm"
						squared
						@click="terminar"
					>
					<i class="fas fa-times mr-1"></i>
					Terminar
						
					</b-button>
				</b-col>
				<b-col cols="3">
					<b-dropdown right size="sm" squared class="float-right shadows">
						<template v-slot:button-content>
							Reportes
							<i class="fas fa-file-pdf mx-1"></i>
						</template>
						<b-dropdown-item v-b-modal.modal-reportes
							>Generar reporte</b-dropdown-item
						>
						<b-dropdown-item v-b-toggle.sidebar-1 @click="getReportes"
							>Reportes disponibles</b-dropdown-item
						>
						<template v-if="
									hasPermission('op.ra.actividades.exportar')
								">
							<b-dropdown-divider></b-dropdown-divider>
							<b-dropdown-item v-b-modal.modal-exportar
								>Exportar XLSX</b-dropdown-item
							>
						</template>
					</b-dropdown>
				</b-col>
			</b-row>

		</template>

		<div
			style="height: calc(100vh - 256px)"
			class="bg-white border mt-3 text-center"
			v-if="!value"
			id="div-content"
		>
			<b-avatar size="24em" variant="light">
				<h1
					class="display-1 px-4"
					style="font-size: 28px; margin-top: 0px"
				>
					<i class="far fa-calendar-alt" style="font-size: 100px"></i
					><br /><br />
					No se ha seleccionado ninguna fecha
				</h1>
			</b-avatar>
		</div>
		<b-card v-else no-body class="my-3">
			<b-table
				:items="actividades"
				:fields="fields"
				:sort-by.sync="sortBy"
      			:sort-desc.sync="sortDesc"
				class="mb-0 shadow-sm"
				striped
				responsive="sm"
			>
				<template v-slot:cell(show_details)="row">
					<b-button
						size="sm"
						@click="row.toggleDetails"
						class="mr-2 py-0 px-1"
					>
						<i class="fas fa-plus p-0"></i>
					</b-button>
				</template>

				<template v-slot:row-details="row">
					<b-card>
						<b-row class="mb-2">
							<b-col sm="2" class="text-sm-right"
								><b>Descripción:</b></b-col
							>
							<b-col>{{ row.item.descripcion }}</b-col>
						</b-row>
					</b-card>
				</template>
				<template v-slot:cell(actions)="scope">
					<div class="text-center">
						<b-dropdown
							id="dropdown-left"
							right
							variant="light"
							size="sm"
						>
							<template v-slot:button-content>
								<i class="fas fa-ellipsis-v px-2"></i>
							</template>
							<b-dropdown-item
								v-b-modal.modal-actividad
								@click="dataEdit(scope.item)"
							>
								<i class="fas fa-edit px-2"></i>
								Editar
							</b-dropdown-item>
							<b-dropdown-item
								href="#"
								v-b-modal.modal-delete
								@click="showMsgBoxDeleteConfirm(scope.item)"
							>
								<i class="fas fa-trash px-2"></i>
								Eliminar
							</b-dropdown-item>
							<slot name="dropdown-more-actions"></slot>
						</b-dropdown>
					</div>
				</template>
			</b-table>
			<div class="text-center mt-5 mb-5" v-show="!actividades.length">
				<h5 class="text-secondary mb-0">
					<label>No se han registrado actividades a esta fecha</label>
				</h5>
			</div>
		</b-card>

		<div class="text-right mt-3" v-if="horasDia > 0">
			<label>Total Horas:</label>
			<label style="font-size: 17px" class="mb-0 mt-1 mr-2 ml-1">{{
				horasDia
			}}</label>
			<label class="ml-2">Horas extras:</label>
			<label style="font-size: 17px" class="mb-0 mt-1 mr-2 ml-1">{{
				extrasDia
			}}</label>
		</div>

		<modal-component
			:title="'Activar Empleado'"
			:id="'modal-empleado'"
			:centered="true"
			:hideHeader="true"
			:sizeModal="'sm'"
			:hideFooter="true"
		>
			<span slot="button-close"></span>
			<template slot="content">
				<form>
					<b-alert
						variant="warning"
						v-model="alertNoEmpleadoSelected"
						class="text-center"
						>Debe ingresar su número de empleado</b-alert
					>
					<b-alert
						variant="danger"
						v-model="alertVisible"
						class="text-center"
						>No se ha encontrado el empleado</b-alert
					>
					<b-form-group class="mt-2 mb-2">
						<b-form-input
							v-model="noEmpleado"
							placeholder="No. Empleado"
							class="text-center"
							size="lg"
							@keydown="inputHandler"
							style="font-size: 20px"
							autocomplete="off"
						/>
					</b-form-group>
					<div>
						<div class="d-flex flex-row-reverse bd-highlight mt-3">
							<b-button
								variant="danger"
								class="ml-3 my-2"
								@click="getEmpleado"
								v-if="!loadingEmpledado"
							>
								ACTIVAR
							</b-button>
							<b-button
								variant="danger"
								class="ml-3 my-2"
								disabled
								v-else
							>
								<b-spinner
									type="grow"
									small
									label="Spinning"
								></b-spinner>
								Cargando ...
							</b-button>
						</div>
					</div>
				</form>
			</template>
		</modal-component>

		<modal-component
			:title="'Registrar Actividad'"
			:id="'modal-actividad'"
			:hideFooter="true"
			:hideHeader="true"

			:sizeModal="sizeModalActividad"
		>
			<template slot="content">
				<op-ra-form-actividades-component
					:min="min"
					:max="max"
					:formatted="formatted"
					:fecha="value"
					:semana="semana"
					:actividad="actividad"
					:empleado="empleado"
					:turno="turno"
					:instruccionesLeidas="instruccionesLeidas"
					@setInstruccionLeida="instruccionesLeidas = true"
					@setSizeModal="setSizeModalActividad"
				/>
			</template>
		</modal-component>

		<modal-component
			:title="'Reportes'"
			:id="'modal-reportes'"
			:hideFooter="true"
		>
			<template slot="content">
				<op-ra-actividades-modal-generate-pdf
					v-if="empleado"
					:empleado="empleado"
				/>
			</template>
			<span slot="buttons"></span>
		</modal-component>

		<modal-component
			:title="'Exportar XLSX'"
			:id="'modal-exportar'"
			:hideHeader="true"
			:centered="true"
			:hideFooter="true"
		>
			<template slot="content">
				<op-ra-actividades-modal-export-xlsx />
			</template>
			<span slot="buttons" />
		</modal-component>

		<b-sidebar
			id="sidebar-1"
			right
			shadow
			bg-variant="dark"
			text-variant="light"
		>
			<div class="px-3 py-2">
				<op-ra-actividades-sidebar-reportes
					v-if="empleado"
					:reportes="reportes"
				/>
			</div>
		</b-sidebar>
	</b-container>
</template>

<script>
import { mapMutations, mapState, mapActions } from "vuex";
export default {
	data() {
		return {
			sizeModalActividad: "md",
			sortBy: 'inicio',
        	sortDesc: false,
			instruccionesLeidas: false,
			turnos: [
				{ text: "Turno 1", value: 1 },
				{ text: "Turno 2", value: 2 },
			],
			turno: 1,
			reportes: [],
			alertVisible: false,
			alertNoEmpleadoSelected: false,
			loadingEmpledado: false,
			actividad: null,
			empleado: null,
			noEmpleado: "",
			fechaActiva: false,
			date: "",
			value: "",
			formatted: "",
			selected: "",
			min: null,
			max: null,
			locale: "de",
			fields: [
				{ key: "show_details", label: "Descripción", type: "text" },
				"turno",
				{ key: "noSemana", label: "Semana" },
				"equipo",
				"tipoCuenta",
				"cuenta",
				"horas",
				"inicio",
				"fin",
				{
					key: "actions",
					label: "Acciones",
					class: "text-center",
					type: "text",
				},
			],
		};
	},
	mounted() {
		this.getDiasActivos();
		this.$bvModal.show("modal-empleado");
	},
	methods: {
		...mapActions("reporte_actividades", ["getActividades"]),
		...mapMutations("reporte_actividades", ["deleteActividad"]),
		...mapMutations(["modalSubmit"]),
		onContext(ctx) {
			this.formatted = ctx.selectedFormatted;
			this.selected = ctx.selectedYMD;
		},
		dataEdit(data) {
			this.actividad = data;
		},
		async getEmpleado() {
			if (this.noEmpleado) {
				this.loadingEmpledado = true;
				this.alertNoEmpleadoSelected = false;
				const response = await axios.get(
					BaseUrl + `/api/th/empleado/noEmpleado/${this.noEmpleado}`
				);
				this.getInstruccionByEmpleado();
				this.loadingEmpledado = false;
				if (response.data) {
					this.empleado = response.data;
					this.alertVisible = false;
					this.noEmpleado = "";
					this.$bvModal.hide("modal-empleado");
				} else {
					this.alertVisible = true;
				}
			} else {
				this.alertVisible = false;
				this.alertNoEmpleadoSelected = true;
			}
		},
		getInstruccionByEmpleado() {
			axios
				.get(
					BaseUrl +
						`/api/instrucciones/1/empleados/${this.noEmpleado}`
				)
				.then((response) => {
					if (response.data)
						if (response.data.status == "leida")
							this.instruccionesLeidas = true;
						else this.instruccionesLeidas = false;
					else this.instruccionesLeidas = false;
				});
		},
		terminar() {
			this.value = "";
			this.empleado = null;
			this.$bvModal.show("modal-empleado");
		},
		async getDiasActivos() {
			var today = moment().format("YYYY-MM-DD");
			const response = await axios.get(
				BaseUrl + `/api/op/ra/semana/${today}`
			);
			const inicio = moment(response.data.activa_inicio);
			const fin = moment(response.data.activa_fin);
			this.min = new Date(inicio);
			this.max = new Date(fin);
		},
		// async getSemanasDisponiblesToExport()
		// {
		// 	const response = await axios.get(BaseUrl + `/api/op/ra/reportes/semanas/toexport`);
		// 	this.semanasDisponibles = response.data.map(function(semana){
		// 		return {text:'Semana '+semana.semana, value:semana.idSemana}
		// 	})
		// },
		// async exportExcelRerport()
		// {
		// 	const response = await axios.get(BaseUrl + `/api/op/ra/reportes/export`);
		// },
		inputHandler(e) {
			if (e.keyCode === 13 && !e.shiftKey) {
				e.preventDefault();
				this.getEmpleado();
			}
		},
		async getReportes() {
			const response = await axios.get(
				BaseUrl +
					`/api/op/ra/reportes/empleado/${this.empleado.noEmpleado}`
			);
			this.reportes = response.data;
		},
		showMsgBoxDeleteConfirm(data) {
			this.$bvModal
				.msgBoxConfirm(
					"¿Esta seguro que desea eliminar esta actividad?",
					{
						title: "Favor de confirmar",
						size: "sm",
						buttonSize: "sm",
						okVariant: "danger",
						cancelVariant: "light",
						okTitle: "Eliminar",
						cancelTitle: "Cancelar",
						headerClass: "pt-3 pb-2 border-bottom-0",
						footerClass: "p-2 border-top-0",
						centered: true,
					}
				)
				.then((confirm) => {
					if (confirm) this.delete(data);
				});
		},
		async delete(data) {
			try {
				const response = await axios.delete(
					BaseUrl + `/api/op/ra/actividades/${data.idActividad}`
				);
				if (response.data.success) {
					this.deleteActividad(data.idActividad);
					this.makeToast(
						"success",
						"Exito",
						"Se ha eliminado correctamente la actividad"
					);
				}
			} catch (error) {
				this.makeToast(
					"danger",
					"Error",
					"Ha ocurrido un problema al eliminar la actividad"
				);
				console.log(error);
			}
		},
		makeToast(variant = null, title, text) {
			this.$bvToast.toast(text, {
				title: title,
				variant: variant,
				solid: true,
			});
		},
		hasPermission(funcion) {
			if (this.permissions.length) {
				const permiso = this.permissions.find(
					(permiso) => permiso.idFuncion == funcion
				);
				if (permiso) return true;
				return false;
			}
		},
		showMsgBoxErrorData() {
			this.$bvModal
				.msgBoxOk(
					"Por favor vuelva a cargar la pagina o vuelva a ingresar su número de empleado, si el problema persiste contacte al administrador del sistema.",
					{
						title: "Error al cargar información",
						size: "sm",
						buttonSize: "sm",
						okVariant: "danger",
						okTitle: "Aceptar",
						headerClass: "pt-3 pb-2 border-bottom-0",
						footerClass: "p-2 border-top-0",
						centered: true,
					}
				)
				.then((confirm) => {
					if (confirm) this.terminar();
				});
		},
		setSizeModalActividad(size) {
			this.sizeModalActividad = size
		}
	},
	computed: {
		...mapState(["permissions", "usuario"]),
		...mapState("reporte_actividades", ["actividades", "semana"]),

		isAdmin() {
			if (this.usuario) {
				const idUsuario = this.usuario.idUsuario;
				if (idUsuario == 1 || idUsuario == 2 || idUsuario == 20)
					return true;
				else return false;
			} else {
				return false;
			}
		},
		horasDia() {
			var suma = 0;
			if (this.actividades) {
				for (var i = 0; i < this.actividades.length; i++) {
					var horas = this.actividades[i].horas.split(" ");
					suma += parseFloat(horas[0]);
				}
				return suma.toFixed(1);
			}
			return 0;
		},
		extrasDia() {
			let extras = this.horasDia - 8
			if(extras > 0)
				return extras
			return 0;
		},
		nombreEmpleado() {
			if (this.empleado) {
				let nombre = this.empleado.nombre.split(" ").slice(2);
				let apellidos = this.empleado.nombre.split(" ", 2);
				return nombre.concat(apellidos).join(" ");
			}
		},
		isMovil: function isMovil() {
			return navigator.userAgent.match(/Android/i) || navigator.userAgent.match(/webOS/i) || navigator.userAgent.match(/iPhone/i) || navigator.userAgent.match(/iPod/i) || navigator.userAgent.match(/iPad/i) || navigator.userAgent.match(/BlackBerry/i);
		},
	},
	watch: {
		value() {
			if (this.value) {
				const data = {
					noEmpleado: this.empleado.noEmpleado,
					fecha: this.value,
				};
				this.getActividades(data);
			}
		},
		semana() {
			if (this.semana == null || Object.entries(this.semana).length === 0)
				this.showMsgBoxErrorData();
		},
	},
};
</script>

<style>
#div-content {
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-ms-flex-align: center;
	-ms-flex-pack: center;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
}
</style>