<template>
	<b-modal id="modal-cuenta-interna"
			ref="modal-cuenta-interna"
			hidden-foot
			header-class="pb-2"
			header-bg-variant="light"
			@show="showModal"
			@ok="handleOk"
			no-close-on-esc
			no-close-on-backdrop
			hide-header-close
			:centered="true">

		<template v-slot:modal-header="{ close }">
			<h1 class="display-1"
				style="font-size: 23px">
				Cuenta Interna
			</h1>
		</template>

		<b-form-group class="pb-0 mb-0">
			<b-row class="mt-3">
				<b-col lg="3" class="text-right">
					<label class="text-right pr-3" block style="margin-top:-8px"><b>Ingresar claves</b></label>
				</b-col>
				<b-col lg="3 pl-0">
					<b-form-input type="text" 
						autocomplete="off"
						placeholder="2 letras" 
						v-model="$v.clave.primerosDos.$model"
						:state="$v.clave.primerosDos.$dirty ? !$v.clave.primerosDos.$error : null" 
						size="sm" 
						class="text-center" 
						@input="primerosDosToUpper">
					</b-form-input>
				</b-col>
				<b-col lg="3 pl-0">
					<b-form-input type="text" 
						autocomplete="off"
						placeholder="3 letras" 
						v-model="$v.clave.segundosTres.$model"
						:state="$v.clave.segundosTres.$dirty ? !$v.clave.segundosTres.$error : null" 
						size="sm" 
						class="text-center" 
						@input="segundosTresToUpper">
					</b-form-input>
				</b-col>
				<b-col lg="3 pl-0">
					<b-form-input 
						autocomplete="off"
						type="text" 
						placeholder="3 letras" 
						v-model="$v.clave.ultimosTres.$model"
						:state="$v.clave.ultimosTres.$dirty ? !$v.clave.ultimosTres.$error : null" 
						size="sm" 
						class="text-center" 
						@input="ultimosTresToUpper">
					</b-form-input>
				</b-col>
			</b-row>
		</b-form-group>				

		<template v-slot:modal-footer="{ ok, cancel, hide }">
			<slot name="buttons">
		       	<b-button variant="light" size="sm" @click="cancel()">
		        	Cancelar
		      	</b-button>
		      	<b-button variant="danger" size="sm" type="submit" @click="ok()">
		        	Aceptar
		      	</b-button>
			</slot>
    	</template>
	</b-modal>
</template>

<script>
	import { required, minLength, maxLength } from 'vuelidate/lib/validators'
	export default {
		props:{
			cuenta: String
		},
		data() {
		    return {
		    	clave: {
					primerosDos: '',
					segundosTres: '',
					ultimosTres: '',
		    	},
		   	};
		},
		methods:{
			primerosDosToUpper(val)
			{
				this.clave.primerosDos = val.toUpperCase()
			},
			segundosTresToUpper(val)
			{
				this.clave.segundosTres = val.toUpperCase()
			},
			ultimosTresToUpper(val)
			{
				this.clave.ultimosTres = val.toUpperCase()
			},
			showModal()
			{
				if(this.cuenta  && this.cuenta != "S/C")
					this.createCuentaInterna(this.cuenta)
			},
			hiddenModal()
			{

			},
			handleOk(bvModalEvt){
				this.$v.$touch()
				if (!this.$v.$invalid) {
					const clave = this.createEstructureCuentaInterna()
					this.$emit('setCuentaInterna', clave)
				}else{
					bvModalEvt.preventDefault()
				}
			},
			createEstructureCuentaInterna()
			{
				return 	this.clave.primerosDos +'-'+
						this.clave.segundosTres +'-'+
						this.clave.ultimosTres
			},
			createCuentaInterna(cuenta)
			{
				var arrayCuenta = cuenta.split('-');
				this.clave = {
					primerosDos: arrayCuenta[0],
					segundosTres: arrayCuenta[1],
					ultimosTres: arrayCuenta[2],
				}
			},
		},
		validations: {
			clave:{
				primerosDos: {
					required,
					minLength: minLength(2),
			      	maxLength: maxLength(2)
				},
				segundosTres: {
					required,
					minLength: minLength(3),
			      	maxLength: maxLength(3)
				},
				ultimosTres: {
					required,
					minLength: minLength(3),
			      	maxLength: maxLength(3)
				},
			},
		},	
	}
</script>