<template>
	<b-modal id="modal-cuenta-externa"
			ref="modal-cuenta-externa"
			hidden-foot
			header-class="pb-2"
			header-bg-variant="light"
			@show="showModal"
			@ok="handleOk"
			no-close-on-esc
			no-close-on-backdrop
			hide-header-close
			size="lg"
			:centered="true">

		<template v-slot:modal-header="{ close }">
			<h1 class="display-1"
				style="font-size: 23px">
				Cuenta Externa
			</h1>
		</template>

		<b-form-group class="pb-0 mb-0">
			<b-row class="mt-3">
				<b-col lg="2" class="text-right">
					<label class="text-right pr-3" block style="margin-top:-8px"><b>Ingresar claves</b></label>
				</b-col>
				<b-col lg="2 pl-0">
					<b-form-input type="text"
						autocomplete="off" 
						size="sm" 
						placeholder="Cliente" 
						v-model="$v.clave.claveCliente.$model"
						:state="$v.clave.claveCliente.$dirty ? !$v.clave.claveCliente.$error : null"
						@input="claveClienteToUpper">
					</b-form-input>
				</b-col>
				<b-col lg="2 pl-0">
					<b-form-input type="text"
						autocomplete="off" 
						size="sm"
						placeholder="Consecutivo" 
						v-model="$v.clave.consecutivo.$model"
						:state="$v.clave.consecutivo.$dirty ? !$v.clave.consecutivo.$error : null">
					</b-form-input>
				</b-col>
				<b-col lg="2 pl-0">
					<b-form-select type="text" 
						size="sm"
						:options="unidades" 
						v-model="$v.clave.claveUnidad.$model"
						:state="$v.clave.claveUnidad.$dirty ? !$v.clave.claveUnidad.$error : null">
						<template v-slot:first>
							<option :value="null">
								Unidad
							</option>
						</template>
					</b-form-select>
				</b-col>
				<b-col lg="2 pl-0">
					<b-form-select type="text" 
						size="sm"
						:options="equipos" 
						v-model="$v.clave.claveEquipo.$model" 
						:state="$v.clave.claveEquipo.$dirty ? !$v.clave.claveEquipo.$error : null">
						<template v-slot:first>
							<option :value="null">
								Equipo
							</option>
						</template>
					</b-form-select>
				</b-col>
				<b-col lg="2 pl-0">
					<b-form-select type="text" 
						size="sm"
						:options="servicios" 
						v-model="$v.clave.claveServicio.$model" 
						:state="$v.clave.claveServicio.$dirty ? !$v.clave.claveServicio.$error : null">
						<template v-slot:first>
							<option :value="null">
								Servicio
							</option>
						</template>
					</b-form-select>
				</b-col>
			</b-row>
		</b-form-group>				

		<template v-slot:modal-footer="{ ok, cancel, hide }">
			<slot name="buttons">
		       	<b-button variant="light" size="sm" @click="cancel()">
		        	Cancelar
		      	</b-button>
		      	<b-button variant="danger" size="sm" type="submit" @click="ok()">
		        	Aceptar
		      	</b-button>
			</slot>
    	</template>
	</b-modal>
</template>

<script>
	import { required, minLength, maxLength, numeric, alpha } from 'vuelidate/lib/validators'
	export default {
		props:{
			cuenta: String
		},
		data() {
		    return {
		    	clave: {
					claveCliente: '',
					consecutivo: '',
					claveUnidad: null,
					claveEquipo: null,
					claveServicio: null,
		    	},
		    	unidades:[
			    	{"value":"CM", "text":"CM"},
			    	{"value":"TM", "text":"TM"},
			    	{"value":"MM", "text":"MM"},
			    	{"value":"AS", "text":"AS"},
			    	{"value":"IG", "text":"IG"},
		    	],
		    	equipos:[
			    	{"value":"MO", "text":"MO"},
			    	{"value":"VE", "text":"VE"},
			    	{"value":"BO", "text":"BO"},
			    	{"value":"EA", "text":"EA"},
			    	{"value":"QU", "text":"QU"},
			    	{"value":"MA", "text":"MA"},
			    	{"value":"SL", "text":"SL"},
		    	],
		    	servicios:[
			    	{"value":"01", "text":"01"},
			    	{"value":"02", "text":"02"},
			    	{"value":"03", "text":"03"},
			    	{"value":"04", "text":"04"},
			    	{"value":"05", "text":"05"},
			    	{"value":"06", "text":"06"},
			    	{"value":"07", "text":"07"},
			    	{"value":"08", "text":"08"},
			    	{"value":"09", "text":"09"},
			    	{"value":"10", "text":"10"},
			    	{"value":"11", "text":"11"},
			    	{"value":"12", "text":"12"},
			    	{"value":"13", "text":"13"},
			    	{"value":"14", "text":"14"},
			    	{"value":"15", "text":"15"},
			    	{"value":"16", "text":"16"},
			    	{"value":"17", "text":"17"},
			    	{"value":"18", "text":"18"},
			    	{"value":"19", "text":"19"},
			    	{"value":"20", "text":"20"},
			    	{"value":"21", "text":"21"},
			    	{"value":"22", "text":"22"},
			    	{"value":"23", "text":"23"},
			    	{"value":"24", "text":"24"},
			    	{"value":"25", "text":"25"},
			    	{"value":"27", "text":"27"},
					{"value":"28", "text":"28"},
					{"value":"29", "text":"29"},
					{"value":"30", "text":"30"},
		    	],
		   	};
		},
		methods:{
			claveClienteToUpper(val)
			{
				this.clave.claveCliente = val.toUpperCase()
			},
			showModal()
			{
				if(this.cuenta && this.cuenta != "S/C")
					this.createCuentaExterna(this.cuenta)
			},
			hiddenModal()
			{

			},
			handleOk(bvModalEvt){
				this.$v.$touch()
				if (!this.$v.$invalid) {
					const clave = this.createEstructureCuentaExterna()
					this.$emit('setCuentaExterna', clave)  
				}else{
					bvModalEvt.preventDefault()
				}
			},
			createEstructureCuentaExterna()
			{
				return 	this.clave.claveCliente +'-'+ 
						this.clave.consecutivo +'-'+ 
						this.clave.claveUnidad +'-'+
						this.clave.claveEquipo +'-'+
						this.clave.claveServicio
			},
			createCuentaExterna(cuenta)
			{
				var arrayCuenta = cuenta.split('-');
				this.clave = {
					claveCliente: arrayCuenta[0],
					consecutivo: arrayCuenta[1],
					claveUnidad: arrayCuenta[2],
					claveEquipo: arrayCuenta[3],
					claveServicio: arrayCuenta[4],
				}
			},
		},
		validations: {
			clave:{
				claveCliente: {
			      	required,
					alpha,
			      	minLength: minLength(3),
			      	maxLength: maxLength(3)
			    },
				consecutivo: {
			      	required,
			      	numeric,
			      	maxLength: minLength(3),
			      	maxLength: maxLength(4)
			    },
				claveUnidad: {required},
				claveEquipo: {required},
				claveServicio: {required},
			},
		},	
	}
</script>