<template>
	<form>
		<b-alert
			show
			variant="success"
			class="text-center mt-3"
			v-if="exported"
			dismissible
		>
			<template v-if="exported">
				<i class="fas fa-check-circle mx-1"></i>
				Se ha exportado correctamente la semana {{ semanaExportada }}
			</template>
		</b-alert>

		<b-alert show variant="danger" class="text-center" v-if="errorInExport">
			<i class="fas fa-times-circle mx-1"></i>
			Se ha producido un error al exportar los datos de la semana
			{{ semanaToExport }}.
			<hr />
			Recargue la página e intente de nuevo. <br />
			Si se sigue produciendo este error pongase en contacto con el
			administrador.
		</b-alert>

		<b-form-group>
			<template v-slot:label>
				<div class="lab-form">
					Área:
				</div>
			</template>

			<b-form-select :options="areasDisponibles" v-model="area">
			</b-form-select>
		</b-form-group>

		<b-form-group v-if="area == 'OP'">
			<template v-slot:label>
				<div class="lab-form">
					Tipo de descarga:
				</div>
			</template>

			<b-form-radio-group
				id="btn-radios-tipoDescarga"
				v-model="selectedTipo"
				:options="selectTipos"
				name="radios-btn-tipoDescarga"
			></b-form-radio-group>
		</b-form-group>

		<b-card v-if="selectedTipo == 'SE'">
			<div class="text-right mb-2">
				<h5 class="display-1" style="font-size: 12px;">
					Línea de negocio:
					<b-badge style="font-size: 10px">
						{{ lineaNegocio.nombre }}
					</b-badge>
				</h5>
			</div>

			<b-form-group label-cols-lg="2">
				<template v-slot:label>
					<div class="lab-form">Año: <span class="req">*</span></div>
				</template>

				<b-form-select
					type="date"
					style="font-size: 12px;"
					:options="yearsDisponibles"
					@change="getSemanasDisponiblesToExport"
					v-model="year"
					:disabled="exporting"
				>
					<template v-slot:first>
						<option :value="null">
							Seleccione el año de la semana deceada
						</option>
					</template>
				</b-form-select>
			</b-form-group>

			<b-form-group label-cols-lg="2">
				<template v-slot:label>
					<div class="lab-form">
						Semana: <span class="req">*</span>
					</div>
				</template>
				<b-form-select
					type="date"
					style="font-size: 12px;"
					:options="semanasDisponibles"
					v-model="semanaToExport"
					:disabled="exporting || !semanasDisponibles.length"
				>
					<template v-slot:first>
						<option :value="null"
							>Seleccione la semana deceada</option
						>
					</template>
				</b-form-select>
			</b-form-group>
		</b-card>

		<b-card v-if="selectedTipo == 'RA'">
			<div class="text-right mb-2">
				<h5 class="display-1" style="font-size: 12px;">
					Línea de negocio:
					<b-badge style="font-size: 10px">
						{{ lineaNegocio.nombre }}
					</b-badge>
				</h5>
			</div>

			<b-form-group label-cols-lg="2">
				<template v-slot:label>
					<div class="lab-form">De: <span class="req">*</span></div>
				</template>

				<b-form-datepicker
					id="inicio-datepicker"
					v-model="fechaInicio"
					class="mb-2"
					reset-button
					style="font-size: 12px;"
					placeholder="Sin fecha seleccionada"
				></b-form-datepicker>
			</b-form-group>

			<b-form-group label-cols-lg="2">
				<template v-slot:label>
					<div class="lab-form">
						Hasta: <span class="req">*</span>
					</div>
				</template>
				<b-form-datepicker
					id="fin-datepicker"
					v-model="fechaFin"
					class="mb-2"
					reset-button
					style="font-size: 12px;"
					placeholder="Sin fecha seleccionada"
				></b-form-datepicker>
			</b-form-group>
		</b-card>

		<div class="d-flex flex-row-reverse bd-highlight mt-3">
			<b-button
				variant="danger"
				class="ml-3 my-2"
				@click="exportExcelReport"
				:disabled="permissionsSubmit"
				v-if="!loading"
			>
				EXPORTAR
			</b-button>
			<b-button v-else variant="danger" class="ml-3 my-2" disabled>
				<b-spinner small class="mr-1"></b-spinner>
				EXPORTANDO ...
			</b-button>

			<b-button variant="white" class="link-light my-2" @click="cancel">
				CANCELAR
			</b-button>
		</div>
	</form>
</template>

<script>
import { mapState } from "vuex";
export default {
	props: {},
	data() {
		return {
			year: null,
			errorInExport: false,
			exporting: false,
			exported: false,
			semanasDisponibles: [],
			yearsDisponibles: [],
			semanaToExport: null,
			semanaExportada: null,
			area: "OP",
			areasDisponibles: [
				{ value: "OP", text: "Servicios" },
				{ value: "TH", text: "Talento Humano" },
			],
			selectedTipo: "SE",
			selectTipos: [
				{ text: "Por semana", value: "SE" },
				{ text: "Por rango de fechas", value: "RA" },
			],
			fechaInicio: null,
			fechaFin: null,
			loading: false,
		};
	},
	mounted() {
		this.getYearsDisponiblesToExport();
	},
	methods: {
		async getSemanasDisponiblesToExport() {
			this.semanaToExport = null;
			this.semanasDisponibles = [];
			const response = await axios.get(
				BaseUrl +
					`/api/op/ra/reportes/semanas/toexport/year/${this.year}`
			);
			this.semanasDisponibles = response.data.map(function(semana) {
				return {
					text: "Semana " + semana.semana,
					value: semana.idSemana,
				};
			});
		},
		async getYearsDisponiblesToExport() {
			const response = await axios.get(
				BaseUrl + `/api/op/ra/reportes/years/toexport`
			);
			this.yearsDisponibles = response.data;
		},
		async exportExcelReport() {
			this.loading = true;
			try {
				if (this.area == "OP") {
					if (this.selectedTipo == "SE") {
						this.exporting = true;
						this.exported = false;
						this.errorInExport = false;

						window.location =
							BaseUrl +
							`/api/op/ra/reportes/semana/${this.semanaToExport}/export?lineaNegocio=${this.lineaNegocio.clave}`;
					} else if (this.selectedTipo == "RA") {
						window.location =
							BaseUrl +
							`/api/op/ra/reportes/periodo/export?fechaInicio=${this.fechaInicio}&fechaFin=${this.fechaFin}&lineaNegocio=${this.lineaNegocio.clave}`;
					}
				} else {
					this.exporting = true;
					this.exported = false;
					this.errorInExport = false;

					window.location =
						BaseUrl +
						`/api/op/ra/reportes/th/semana/${this.semanaToExport}/export`;
				}

				if (this.selectedTipo == "SE" || this.area == "TH") {
					this.semanaExportada = this.semanaToExport;
					this.exporting = false;
					this.exported = true;
				}
				setTimeout(() => (this.loading = false), 2000);
			} catch (e) {
				this.errorInExport = true;
			}
		},
		cancel() {
			this.$bvModal.hide("modal-exportar");
		},
		hasPermission(role) {
			if (this.permissions.length) {
				const permiso = this.permissions.find(
					(permiso) => permiso.idRole == role
				);
				if (permiso) return true;
				return false;
			}
		},
	},
	computed: {
		...mapState(["permissions"]),

		permissionsSubmit() {
			if (this.area == "OP") {
				if (this.selectedTipo == "SE") {
					if (!this.semanaToExport) {
						return true;
					} else return false;
				} else if (this.selectedTipo == "RA") {
					if (this.fechaInicio && this.fechaFin) {
						return false;
					} else return true;
				}
			} else {
				if (!this.semanaToExport) {
					return true;
				} else return false;
			}
		},
		lineaNegocio() {
			if (
				this.hasPermission("op.ra.administrador") ||
				this.hasPermission("op.ra.supervisor") ||
				this.hasPermission("op.ra.lectura")
			) {
				return {
					clave: "Todas",
					nombre: "Todas",
				};
			} else if (this.hasPermission("op.ra.supervisor.cm")) {
				return {
					clave: "CM",
					nombre: "CM - Campo",
				};
			} else if (this.hasPermission("op.ra.supervisor.tm")) {
				return {
					clave: "TM",
					nombre: "TM - Taller",
				};
			} else if (this.hasPermission("op.ra.supervisor.rd")) {
				return {
					clave: "RD",
					nombre: "RD - RecData",
				};
			}
		},
	},
	watch: {
		area() {
			this.semanaToExport = null;
			this.selectedTipo = "SE";
			this.year = null;
			this.exported = false;
		},
		selectedTipo() {
			this.exported = false;
		},
	},
};
</script>
