<template>
	<b-overlay
		:show="overlay"
		rounded="sm"
		opacity="1.0"
		blur="1px"
		variant="transparent"
	>
		<b-row>
			<b-col>
				<b-alert variant="danger" show v-if="!form.idSemana">
					No se encontró semana, favor de cerrar esta página y
					volverla a abrir para que no tenga inconvenientes al momento
					de generar su reporte, si es posible llamar a sistemas para
					poder evaluar este problema.
				</b-alert>

				<div
					class="mt-0 py-3 bg-light border text-secondary text-center"
					v-else
				>
					<h5>{{ nombreEmpleado }}</h5>
					<h6>{{ formatted }} - Turno {{ turno }}</h6>
					<h6 class="mb-0">Semana {{ semana.semana }}</h6>
				</div>

				<div
					v-if="form.tipoTiempo && form.tipoTiempo != 'HP'"
					class="mt-3 py-3 bg-light border text-secondary text-center"
				>
					<h6 class="mb-0">{{ cuentaTipoTiempo }}</h6>
				</div>

				<!-- <template v-if="!instruccionesLeidas">
					<b-alert show variant="info">
						<h4 class="alert-heading">¡Atento aviso!</h4>
						<p>
							Para llevar un mejor control de todos los registros es necesario que siga estas instrucciones de uso.
						</p>
						<hr>
						<div>
							Instrucciones aqui
						</div>
						<div class="text-right mb-2">
							<b-button v-if="!loadIntruccionLeida" pill size="sm" @click="setInstruccionLeida"><i class="fas fa-check mr-1"></i>He leído las instrucciones</b-button>
							<b-button v-else pill size="sm" disabled><b-spinner small label="Small Spinner" type="grow"></b-spinner> Cargando ...</b-button>
						</div>
					</b-alert>
				</template> -->

				<template v-if="!form.tipoTiempo">
					<h6 class="text-center mb-4 mt-4">
						Seleccione el tipo al que corresponde su actividad
					</h6>

					<div v-for="(tipo, index) in selectTipoTiempo" :key="index">
						<b-card
							v-if="tipo.active"
							class="activate mb-2 shadows"
							style="cursor:pointer"
							@click="form.tipoTiempo = tipo.value"
						>
							<div class="panel-body">
								<b-row>
									<b-col lg="3">
										<h4
											class="float-right text-secondary mb-0"
										>
											<i :class="tipo.icon"></i>
										</h4>
									</b-col>
									<b-col lg="9">
										<h4 class="text-secondary mb-0">
											{{ tipo.text }}
										</h4>
									</b-col>
								</b-row>
							</div>
						</b-card>
					</div>
				</template>

				<div class="mt-3">
					<template v-if="form.tipoTiempo">
						<b-form-group v-if="actividad">
							<template v-slot:label>
								<div class="lab-form">
									Fecha<span class="req">*</span>
								</div>
							</template>
							<!-- se quito el min y el max -->
							<b-form-datepicker
								id="fecha-edit"
								v-model="form.fecha"
								:min="min"
								:max="max"
								locale="es"
								start-weekday="4"
								:show-decade-nav="false"
								:hide-header="true"
								label-help=""
								selected-variant="danger"
								today-variant="secondary"
							>
							</b-form-datepicker>
						</b-form-group>

						<b-form-group>
							<template v-slot:label>
								<div class="lab-form">
									Tipo<span class="req">*</span>
								</div>
							</template>
							<b-form-select
								v-model="$v.form.tipoTiempo.$model"
								:state="
									$v.form.tipoTiempo.$dirty
										? !$v.form.tipoTiempo.$error
										: null
								"
								:options="selectTipoTiempo"
							>
							</b-form-select>
						</b-form-group>

						<template
							v-if="
								equiposRegistradosSelect.length &&
									roe == false &&
									form.tipoTiempo == 'HP'
							"
						>
							<b-form-group class="mb-0">
								<template v-slot:label>
									<div class="lab-form">
										Equipos Registrados
									</div>
								</template>
								<b-form-select
									:options="equiposRegistradosSelect"
									v-model="$v.form.equipo.$model"
								>
									<template v-slot:first>
										<option :value="null">
											Seleccione un equipo
										</option>
									</template>
								</b-form-select>
								<b-button
									variant="link"
									class="text-secondary float-right mb-0"
									style="cursor:pointer"
									@click="roe = true"
									><small
										>Registrar otro equipo</small
									></b-button
								>
							</b-form-group>
						</template>

						<template v-if="form.tipoTiempo == 'HP'">
							<b-form-group
								v-if="!equiposRegistrados.length || roe == true"
							>
								<template v-slot:label>
									<div class="lab-form">
										Equipo
									</div>
								</template>
								<b-form-input
									type="text"
									v-model="$v.form.equipo.$model"
									:state="
										$v.form.equipo.$dirty
											? !$v.form.equipo.$error
											: null
									"
									placeholder="Ingrese el nombre del equipo"
								>
								</b-form-input>
							</b-form-group>
						</template>

						<b-form-group
							class="mb-0"
							v-if="form.tipoTiempo == 'HP'"
						>
							<template v-slot:label>
								<div class="lab-form">
									Cuenta<span class="req">*</span>
								</div>
							</template>
							<b-form-input
								readonly
								v-model="$v.form.cuenta.$model"
								placeholder="Asigne una cuenta"
								:state="
									$v.form.cuenta.$dirty
										? !$v.form.cuenta.$error
										: null
								"
							>
							</b-form-input>

							<b-form-invalid-feedback id="feedback-proveedor">
								Campo obligatorio
							</b-form-invalid-feedback>

							<b-button
								v-if="form.cuenta"
								variant="link"
								class="text-secondary float-right"
								style="cursor: pointer"
								@click="cambiarCuenta()"
								><small>Cambiar cuenta</small>
							</b-button>

							<b-button
								v-else
								variant="link"
								class="text-secondary float-right"
								style="cursor: pointer"
								@click="asignar()"
								><small>Asignar cuenta</small>
							</b-button>
						</b-form-group>

						<b-row>
							<b-col lg="6">
								<b-form-group>
									<template v-slot:label>
										<div class="lab-form">
											Inicio<span class="req">*</span>
										</div>
									</template>
									<b-form-input
										type="time"
										v-model="$v.form.inicio.$model"
										:state="
											$v.form.inicio.$dirty
												? !$v.form.inicio.$error
												: null
										"
									>
									</b-form-input>
									<b-form-invalid-feedback
										id="feedback-inicio"
									>
										Campo obligatorio
									</b-form-invalid-feedback>
								</b-form-group>
							</b-col>
							<b-col lg="6">
								<b-form-group>
									<template v-slot:label>
										<div class="lab-form">
											Fin<span class="req">*</span>
										</div>
									</template>
									<b-form-input
										type="time"
										v-model="$v.form.fin.$model"
										:state="
											$v.form.fin.$dirty
												? !$v.form.fin.$error
												: null
										"
									>
									</b-form-input>
									<b-form-invalid-feedback id="feedback-fin">
										Campo obligatorio
									</b-form-invalid-feedback>
								</b-form-group>
							</b-col>
						</b-row>

						<div
							class="bg-light text-center py-3 mb-3"
							v-if="form.inicio && form.fin"
						>
							<h6 class="mb-0">
								Duración: <strong>{{ diffHoras }}</strong>
							</h6>
						</div>

						<b-form-group v-if="form.tipoTiempo != 'Comida'">
							<template v-slot:label>
								<div class="lab-form">
									Descripción<span class="req">*</span>
								</div>
							</template>
							<b-form-textarea
								type="text"
								rows="3"
								max-rows="6"
								@input="descripcionToUpper"
								v-model="$v.form.descripcion.$model"
								:state="
									$v.form.descripcion.$dirty
										? !$v.form.descripcion.$error
										: null
								"
							>
							</b-form-textarea>
							<b-form-invalid-feedback id="feedback-descripcion">
								Campo obligatorio
							</b-form-invalid-feedback>
						</b-form-group>

						<div class="d-flex flex-row-reverse bd-highlight">
							<b-button
								variant="danger"
								class="ml-3 my-2"
								@click="submit"
							>
								GUARDAR
							</b-button>
							<b-button
								variant="white"
								class="link-light my-2"
								@click="cancel"
							>
								CANCELAR
							</b-button>
						</div>
					</template>
				</div>
			</b-col>
			<b-col v-if="asignarCuenta" class="border-left">
				<tipo-cuenta-component
					@setCuenta="setCuenta($event)"
					:dataCuentaEdit="dataCuentaEdit"
					:seccion="'op.ra'"
					@cancelar="terminarAsignar"
				/>
			</b-col>
		</b-row>
	</b-overlay>
</template>

<script>
import { mapActions, mapMutations, mapState } from "vuex";
import { required } from "vuelidate/lib/validators";

export default {
	props: {
		empleado: Object,
		actividad: Object,
		semana: Object,
		fecha: String,
		formatted: String,
		turno: Number,
		instruccionesLeidas: Boolean,
		min: Date,
		max: Date,
	},
	data() {
		return {
			asignarCuenta: false,
			dataCuentaEdit: null,
			loadIntruccionLeida: false,
			overlay: false,
			roe: false, //registrar otro equipo
			form: {
				turno: null,
				idSemana: null,
				fecha: this.fecha,
				equipo: null,
				claveCliente: "",
				consecutivo: "",
				claveEquipo: "",
				claveUnidad: "",
				claveServicio: "",
				horas: null,
				descripcion: "",
				inicio: null,
				fin: null,
				cuenta: "",
				tipoCuenta: null,
				tipoTiempo: null,
				dia: "",
				mes: "",
				noDia: "",
				noEmpleado: "",
			},
			turnos: [
				{ value: null, text: "Seleccione el turno" },
				{ value: "1", text: "1" },
				{ value: "2", text: "2" },
				{ value: "3", text: "3" },
			],
			equiposRegistrados: [],
		};
	},
	mounted() {
		this.form.idSemana = this.semana.idSemana;
		if (this.actividad) this.setDataEdit();
		this.getEquiposRegistrados();
	},
	methods: {
		...mapMutations(["modalSubmit", "modalOk"]),
		...mapMutations("reporte_actividades", [
			"addActividad",
			"updateActividad",
		]),
		...mapActions("reporte_actividades", ["getActividades"]),

		async submit() {
			this.overlay = true;

			if (this.form.equipo == null || this.form.equipo == "")
				this.form.equipo = "S/E";

			if (this.form.tipoTiempo == "Comida") {
				this.form.tipoCuenta = "Interna";
				this.form.cuenta = this.cuentaTipoTiempo;
			}

			if (this.form.tipoTiempo == "Orden y limpieza") {
				this.form.tipoCuenta = "Interna";
				this.form.cuenta = this.cuentaTipoTiempo;
			}

			if (this.form.tipoTiempo == "Capacitación") {
				this.form.tipoCuenta = "Capacitacion";
				this.form.cuenta = this.cuentaTipoTiempo;
			}

			if (this.form.tipoTiempo == "TM") {
				this.form.tipoCuenta = "Interna";
				this.form.cuenta = this.cuentaTipoTiempo;
			}

			this.$v.$touch();

			if (!this.$v.$invalid) {
				this.form.horas = this.diffHoras;
				this.form.dia = this.dia;
				this.form.noDia = this.noDia;
				this.form.mes = this.mes;
				this.form.noEmpleado = this.empleado.noEmpleado;
				this.form.turno = this.turno;

				try {
					const response = !this.actividad
						? await axios.post(
								BaseUrl + `/api/op/ra/actividades`,
								this.form
						  )
						: await axios.put(
								BaseUrl +
									`/api/op/ra/actividades/${this.actividad.idActividad}`,
								this.form
						  );

					if (response.data.success) {
						const data = {
							noEmpleado: this.form.noEmpleado,
							fecha: this.fecha,
						};
						this.getActividades(data);
						this.modalSubmit(true);
					} else {
						this.modalOk(false);
					}
				} catch (e) {
					this.overlay = false;
				}
			} else {
				this.overlay = false;
			}
		},
		setDataEdit() {
			this.form.turno = this.actividad.turno;
			this.form.semana = this.actividad.semana;
			this.form.fecha = this.actividad.fecha;
			this.form.equipo = this.actividad.equipo;
			this.form.claveCliente = this.actividad.claveCliente;
			this.form.consecutivo = this.actividad.consecutivo;
			this.form.claveEquipo = this.actividad.claveEquipo;
			this.form.claveUnidad = this.actividad.claveUnidad;
			this.form.claveServicio = this.actividad.claveServicio;
			this.form.horas = this.actividad.horas;
			this.form.descripcion = this.actividad.descripcion;
			this.form.inicio = this.actividad.inicio;
			this.form.fin = this.actividad.fin;
			this.form.tipoTiempo = this.actividad.tipoTiempo;

			this.form.tipoCuenta = this.actividad.tipoCuenta;
			this.form.cuenta = this.actividad.cuenta;
			this.dataCuentaEdit = {
				tipoCuenta: this.actividad.tipoCuenta,
				cuenta: this.actividad.cuenta,
			};
		},
		cancel() {
			this.$emit("setSizeModal", "md");
			this.$bvModal.hide("modal-actividad");
		},
		getEquiposRegistrados() {
			const idSemana = this.semana.idSemana;

			axios
				.get(BaseUrl + `/api/op/ra/actividades/equipos/${idSemana}`)
				.then((response) => {
					if (response.data) this.equiposRegistrados = response.data;
				});
		},
		registrarOtraCuenta(tipo) {
			if (tipo == "Interna") {
				this.roci = true;
				this.$bvModal.show("modal-cuenta-interna");
			} else if (tipo == "Externa") {
				this.roce = true;
				this.$bvModal.show("modal-cuenta-externa");
			}
		},
		cambioTipoCuenta(tipo) {
			if (!this.cuentasInternasR.length && tipo == "Interna")
				this.registrarOtraCuenta("Interna");
			else if (!this.cuentasExternasR.length && tipo == "Externa")
				this.registrarOtraCuenta("Externa");
		},
		round10(value, exp) {
			return this.decimalAdjust("round", value, exp);
		},
		decimalAdjust(type, value, exp) {
			if (typeof exp === "undefined" || +exp === 0) {
				return Math[type](value);
			}
			value = +value;
			exp = +exp;
			if (isNaN(value) || !(typeof exp === "number" && exp % 1 === 0)) {
				return NaN;
			}
			value = value.toString().split("e");
			value = Math[type](
				+(value[0] + "e" + (value[1] ? +value[1] - exp : -exp))
			);
			value = value.toString().split("e");
			return +(value[0] + "e" + (value[1] ? +value[1] + exp : exp));
		},
		setInstruccionLeida() {
			var noEmpleado = this.empleado.noEmpleado.split("-");
			this.loadIntruccionLeida = true;
			axios
				.post(
					BaseUrl + `/api/instrucciones/1/empleados/${noEmpleado[0]}`
				)
				.then((response) => {
					if (response.data.status == "leida")
						this.loadIntruccionLeida = false;
					this.$emit("setInstruccionLeida", true);
				});
		},
		cambiarCuenta() {
			this.dataCuentaEdit = {
				cuenta: this.form.cuenta,
				tipoCuenta: this.form.tipoCuenta,
			};
			this.asignar();
		},
		asignar() {
			this.$emit("setSizeModal", "xl");
			this.asignarCuenta = true;
		},
		setCuenta(dataCuenta) {
			this.$v.form.tipoCuenta.$model = dataCuenta.tipoCuenta;
			this.$v.form.cuenta.$model = dataCuenta.cuenta;
			this.terminarAsignar();
		},
		terminarAsignar() {
			this.$emit("setSizeModal", "md");
			this.asignarCuenta = false;
		},
		descripcionToUpper(val) {
			this.form.descripcion = val.toUpperCase();
		},
	},
	computed: {
		...mapState(["usuario", "okModal"]),
		...mapState("op_ra_indicadores_actividades", ["empleadosLineaNegocio"]),

		diffHoras() {
			moment.locale("es");

			var hora1 = moment(this.form.inicio, "HH:mm");
			var hora2 = moment(this.form.fin, "HH:mm");

			if (hora2 > hora1) var diff = hora2.diff(hora1, "minutes") / 60;
			else {
				var ultimaHora = moment("23:59", "HH:mm");
				var diff1 = ultimaHora.diff(hora1, "minutes") / 60;

				diff1 = this.round10(diff1, -1); //Redondear el segundo faltante

				var primeraHora = moment("00:00", "HH:mm");
				var diff2 = hora2.diff(primeraHora, "minutes") / 60;

				var diff = diff1 + diff2;
			}

			diff = +parseFloat(diff).toFixed(2);

			if (diff == 1) return diff + " hora";
			return diff + " horas";
		},
		dia() {
			moment.locale("es");
			const dia = moment(this.form.fecha).format("dddd");
			return dia.charAt(0).toUpperCase() + dia.slice(1);
		},
		mes() {
			moment.locale("es");
			const mes = moment(this.form.fecha).format("MMMM");
			return mes.charAt(0).toUpperCase() + mes.slice(1);
		},
		noDia() {
			return moment(this.form.fecha).format("DD");
		},
		equiposRegistradosSelect() {
			if (this.equiposRegistrados.length) {
				return this.equiposRegistrados.map(function(equipo) {
					return { text: equipo.equipo, value: equipo.equipo };
				});
			}
			return [];
		},
		nombreEmpleado() {
			if (this.empleado) {
				let nombre = this.empleado.nombre.split(" ").slice(2);
				let apellidos = this.empleado.nombre.split(" ", 2);
				return nombre.concat(apellidos).join(" ");
			}
		},
		selectTipoTiempo() {
			if (
				this.empleadosLineaNegocio["TM"].includes(
					this.usuario.noEmpleado
				) ||
				this.empleadosLineaNegocio["CM"].includes(
					this.usuario.noEmpleado
				) ||
				this.empleadosLineaNegocio["RD"].includes(
					this.usuario.noEmpleado
				)
			) {
				return [
					{
						value: "HP",
						text: " Horas Productivas",
						icon: "fas fa-tools",
						active: true,
						disabled: false,
					},
					{
						value: "TM",
						text: " Tiempo Muerto",
						icon: "fas fa-skull",
						active: true,
						disabled: false,
					},
					{
						value: "Capacitación",
						text: " Capacitación",
						icon: "fas fa-utensils",
						active: true,
						disabled: false,
					},
					{
						value: "Comida",
						text: " Comida",
						icon: "fas fa-utensils",
						active: true,
						disabled: false,
					},
					{
						value: "Orden y limpieza",
						text: " Orden y limpieza",
						icon: "fas fa-broom",
						active: true,
						disabled: false,
					},
				];
			} else {
				return [
					{
						value: "HP",
						text: " Horas Productivas",
						icon: "fas fa-tools",
						active: true,
						disabled: false,
					},
					{
						value: "TM",
						text: " Tiempo Muerto",
						icon: "fas fa-skull",
						active: false,
						disabled: true,
					},
					{
						value: "Capacitación",
						text: " Capacitación",
						icon: "fas fa-utensils",
						active: false,
						disabled: true,
					},
					{
						value: "Comida",
						text: " Comida",
						icon: "fas fa-utensils",
						active: false,
						disabled: true,
					},
					{
						value: "Orden y limpieza",
						text: " Orden y limpieza",
						icon: "fas fa-broom",
						active: false,
						disabled: true,
					},
				];
			}
		},
		cuentaTipoTiempo() {
			if (this.form.tipoTiempo) {
				if (
					this.empleadosLineaNegocio["TM"].includes(
						this.usuario.noEmpleado
					)
				) {
					if (this.form.tipoTiempo == "TM") {
						return "TM-CTM-NP-001";
					} else if (this.form.tipoTiempo == "Comida") {
						return "TM-CTM-NP-002";
					} else if (this.form.tipoTiempo == "Orden y limpieza") {
						return "TM-CTM-NP-003";
					} else if (this.form.tipoTiempo == "Capacitación") {
						return "TM-CTM-NP-004";
					}
				} else if (
					this.empleadosLineaNegocio["CM"].includes(
						this.usuario.noEmpleado
					)
				) {
					if (this.form.tipoTiempo == "TM") {
						return "CM-CCM-NP-001";
					} else if (this.form.tipoTiempo == "Comida") {
						return "CM-CCM-NP-002";
					} else if (this.form.tipoTiempo == "Orden y limpieza") {
						return "CM-CCM-NP-003";
					} else if (this.form.tipoTiempo == "Capacitación") {
						return "CM-CCM-NP-004";
					}
				} else if (
					this.empleadosLineaNegocio["RD"].includes(
						this.usuario.noEmpleado
					)
				) {
					if (this.form.tipoTiempo == "TM") {
						return "RD-CRD-NP-001";
					} else if (this.form.tipoTiempo == "Comida") {
						return "RD-CRD-NP-002";
					} else if (this.form.tipoTiempo == "Orden y limpieza") {
						return "RD-CRD-NP-003";
					} else if (this.form.tipoTiempo == "Capacitación") {
						return "RD-CRD-NP-004";
					}
				}
			}
			return null;
		},
	},
	validations() {
		if (this.form.tipoTiempo == "Capacitación") {
			return {
				form: {
					turno: {},
					idSemana: {},
					equipo: {},
					horas: {},
					descripcion: { required },
					inicio: { required },
					fin: { required },
					cuenta: {},
					tipoTiempo: { required },
					tipoCuenta: { required },
				},
			};
		} else if (this.form.tipoTiempo == "Comida") {
			return {
				form: {
					turno: {},
					idSemana: {},
					equipo: {},
					horas: {},
					descripcion: {},
					inicio: { required },
					fin: { required },
					cuenta: {},
					tipoTiempo: { required },
					tipoCuenta: { required },
				},
			};
		}else {
			return {
				form: {
					turno: {},
					idSemana: {},
					equipo: {},
					horas: {},
					descripcion: { required },
					inicio: { required },
					fin: { required },
					cuenta: { required },
					tipoTiempo: { required },
					tipoCuenta: { required },
				},
			};
		}
	},
	watch: {
		semana() {
			this.form.idSemana = this.semana.idSemana;
		},
		okModal() {
			if (this.okModal == true) {
				this.submit();
			}
		},
	},
};
</script>

<style>
.activate:hover {
	background-color: rgba(159, 161, 164, 0.1);
	transition: all 0.2s linear;
}
</style>
