<template>
	<div>
		<h5 class="text-center">{{ empleado.nombre }}</h5>
		<h6 class="text-secondary text-center">{{ empleado.noEmpleado }}</h6>
		<hr>
		<fieldset class="scheduler-border">
			<legend class="scheduler-border">
				Generar Reporte
			</legend>

			<b-row>
				<b-col>
					<b-form-select 
						class="w-25 float-right"
						size="sm"
						v-model="year" 
						:options="years"
						@change="verificar()">		
					</b-form-select>
				</b-col>
			</b-row>

			<center>
				<div block 
					disabled 
					class="mb-4 mt-3 w-75" 
					v-if="verificando">
					<b-spinner small type="grow" label="Spinning"></b-spinner> Verificando ...
				</div>
			</center>
			
			<div class="text-center" v-if="!verificando">
				<b-alert 
					show 
					variant="light" 
					class="mt-2" 
					v-if="verificado && !semanas.length">
					No hay semanas disponibles para generar
					<div class="mt-3">
						<b-link class="mt-3 text-success" @click="verificar">
							<i class="fas fa-sync-alt mx-1"></i> 
							Volver a verificar
						</b-link>
					</div>
				</b-alert>
			</div>

			<template v-if="semanas.length && !verificando">
				<b-row>
					<b-col lg="12">
						<h6 class="mb-3">
							Semanas disponibles
						</h6>
					</b-col>
					<b-col lg="9" class="pr-0">
						<b-form-group>
							<b-form-select size="sm"
								:options="semanas" 
								v-model="dataReport.idSemana">
								<template v-slot:first>
									<option :value="null">
										Seleccione la semana deseada
									</option>
								</template>
							</b-form-select>
						</b-form-group>
					</b-col>
					<b-col lg="3">
						<b-button block size="sm"
							@click="confirm=true" 
							:disabled="!dataReport.idSemana || confirm || progress || errorInGenerate"
							variant="secondary" 
							class="float-right mb-2">
							Generar 
							<i class="fas fa-file-pdf mx-1"></i>
						</b-button>
					</b-col>
				</b-row>					
			</template>
			<b-alert variant="warning" 
				v-model="confirm" 
				dismissible 
				v-if="!progress && value==0">
				<h4 class="alert-heading">Atención!</h4>
				<p>
					Recuerde que al confirmar ya no podrá realizar cambios en su semana.
				</p>
				<hr>
				<p class="mb-0">
					¿Está seguro de generar el reporte de la semana {{ dataReport.semana }}?
					<b-button 
						variant="success" 
						class="mt-3 mb-2" 
						size="sm" 
						@click="generarReporte">
						Confirmar
					</b-button>
				</p>
			</b-alert>
		</fieldset>
		<fieldset class="scheduler-border">
			<legend class="scheduler-border">
				Reportes Generados
			</legend>
			<b-alert show 
				variant="danger" 
				class="text-center my-2" 
				v-if="errorInGenerate">
				<i class="fas fa-times-circle mx-1"></i> 
				Se ha producido un error al generar el reporte. <hr>
				<b-link 
					@click="generarReporte" 
					v-show="errorInGenerate" 
					class="text-danger">
					<i class="fas fa-sync-alt mx-1"></i> 
					Reintente de nuevo
				</b-link>
				<div class="mt-3">Si se sigue produciendo este error pongase en contacto con el Departamento de Sistemas.</div>
			</b-alert>
			<b-alert show 
				variant="success" 
				class="text-center my-2" 
				v-if="progress || generated" 
				:dismissible="generated">
				<template v-if="progress">
					<h5 class="py-2">Generando reporte</h5>
					<b-progress 
						:value="value" 
						class="mb-3 w-100" 
						variant="success">
					</b-progress>
				</template>
				<template v-if="generated">
					<i class="far fa-check-circle mx-1"></i> 
					Se ha generado correctamente el reporte
				</template>
			</b-alert>
			<b-list-group flush v-if="reportes.length">
				<b-list-group-item 
					class="pl-3" 
					v-for="(reporte, index) in reportes" 
					:key="index">
					<div class="media">
						<a href="#" class="icon-shape bg-light mr-3">
							<i class="far fa-file-pdf"></i>
						</a>
						<div class="media-body align-self-center overflow-hidden">
							<h6 class="text-truncate mb-1">
								<a class="text-reset" 
									href="#" 
									@click="show(reporte.idReporte)">
									{{ reporte.reporte }}
								</a>
							</h6>
							<ul class="list-inline small mb-1">
								<li class="list-inline-item">
									<span class="text-muted">
										{{ reporte.created_at }}
									</span>
								</li>
							</ul>
						</div>
						<div class="align-self-center ml-3">
							<b-button variant="link" @click="download(reporte.idReporte)">
								<i class="ml-auto fas fa-download text-dark"></i>
							</b-button>
						</div>
					</div>
				</b-list-group-item>
			</b-list-group>
			<div class="text-center">
				<b-alert show 
					variant="light" 
					class="mt-2" 
					v-if="!reportes.length && !progress">
					No hay reportes generados
				</b-alert>
			</div>
		</fieldset>
	</div>
</template>

<script>
	import { mapMutations, mapState, mapActions } from 'vuex'
	export default {
		props:{
			empleado: Object,
		},
		data() {
		    return {
		    	errorInGenerate: false,
		    	verificado: false,
		    	verificando: false,
		    	progress: false,
		    	timer: 0,
		    	value: 0,
		    	max: 100,
		    	isAdmin: false,
		    	semanas: [],
		    	confirm: false,
		    	value: 0,
		    	dataReport: {
		    		idSemana: null,
		    		noEmpleado: this.empleado.noEmpleado,
		    		nombreEmpleado: this.empleado.nombre
		    	},
		    	dismissible: false,
		    	reportes: [],
		    	generated: false,

		    	years: ["2020", "2021", "2022", "2023", "2024"],
		    	year: "2024",
		   	};
		},
		mounted()
		{
			this.verificar();
		},
		methods: {
			show(){},
			async generarReporte()
			{
				this.value = 0
				this.startTimer();
				this.generated = false
				this.progress = true
				this.confirm = false
				this.errorInGenerate = false
				var idSemana = this.dataReport.idSemana
				try{
					var response = await axios.post(BaseUrl + `/api/op/ra/reporte`, this.dataReport)
		        	this.value = 100
					this.progress = false
					this.reportes.push(response.data.reporte)
					const index = this.semanas.findIndex((semana) => {
						return semana.value == idSemana;
					});
					this.semanas.splice(index, 1);
					this.dataReport.idSemana = null
					this.value = 0
					this.generated = true
				}catch(e){
					this.errorInGenerate = true
					this.progress = false
				}
			},
			startTimer() {
				let vm = this;
				let timer = setInterval(function() {
					if(vm.value != 100)	vm.value += 10;
					if (vm.value >= 80) clearInterval(timer);
				}, 500);
			},
			verificar()
			{
				this.verificando = true
				this.generated = false
				axios.get(BaseUrl + `/api/op/ra/reportes/semanas/empleado/${this.empleado.noEmpleado}/year/${this.year}`).then(
                    (response) => {
                    	if(response.data){
                    		this.semanas = response.data.map(function(semana) {
	                    		return {text:'Semana '+semana.semana, value:semana.idSemana};
							});
                    	}	
                    	this.verificando = false
                    	this.verificado = true
                    });
			},
			download(idReporte)
			{
				window.location = BaseUrl + `/api/op/ra/reporte/${idReporte}/download`;
			},
			show(idReporte)
			{
				window.open(BaseUrl + `/servicios/ra/reporte/${idReporte}`, '_blank')
			}
		},
		computed: {
			
		},
		watch: {
			
		}
	}
</script>
