<template>
	<div>
		<h3 class="pl-3">Reportes disponibles</h3><hr>
		<b-list-group flush class="card-body-scroll">
			<b-list-group-item class="pl-3" v-if="reportes.length" v-for="(reporte, index) in reportes" :key="index">
				<div class="media">
					<a href="#" class="icon-shape bg-white mr-3">
						<i class="far fa-file-pdf text-dark"></i>
					</a>
					<div class="media-body align-self-center overflow-hidden">
						<h6 class="text-truncate mb-1">
							<a class="text-reset" href="#" @click="show(reporte.idReporte)">{{ reporte.reporte }}</a>
						</h6>

						<ul class="list-inline small mb-1">
							<li class="list-inline-item">
								<span class="text-light">{{ reporte.created_at }}</span>
							</li>
						</ul>
					</div>

					<div class="align-self-center ml-3" v-if="isAdmin">
						<b-dropdown right variant="link" dropleft no-caret>
							<template v-slot:button-content>
								<i class="fas fa-ellipsis-v mt-2 text-dark"></i>
							</template>
							<b-dropdown-item href="#" @click="download">Descargar</b-dropdown-item>
							<b-dropdown-item href="#" @click="setDataDelete" v-b-modal.modal-delete>Eliminar</b-dropdown-item>
						</b-dropdown>
					</div>
				</div>
			</b-list-group-item>
			<b-list-group-item v-if="!reportes.length">
				<div class="mt-3 text-center">
					<h5>No hay reportes generados</h5>
				</div>
			</b-list-group-item>
		</b-list-group>
	</div>
</template>
<script>
	import { mapMutations, mapState, mapActions } from 'vuex'
	export default {
		props:{
			reportes: Array
		},
		data() {
		    return {
		    	isAdmin: false
		   	};
		},
		mounted()
		{
	
		},
		methods: {
			show(idReporte){
				window.open(BaseUrl + `/servicios/ra/reporte/${idReporte}`, '_blank')
			},
		},
		computed: {
			
		},
		watch: {
			
		}
	}
</script>
