<template>
	<div>
		<b-modal
			id="modal-oportunidad"
			ref="modal"
			title="Crear oportunidad"
			hidden-foot
			header-class="pb-2"
			header-bg-variant="light"
			size="sm"
			@show="resetModal"
			@hidden="resetModal"
			@ok="handleOk">
			<template v-slot:modal-header="{ close }">
				<h1 class="display-1"
					style="font-size: 23px">
					Crear oportunidad
				</h1>
				<b-button variant="link" size="sm" class="text-secondary" @click="close()">
					<i class="fas fa-times" style="font-size: 15px"></i>
				</b-button>
			</template>
			<form ref="form" @submit.stop.prevent="handleSubmit">
				<b-form-group
				label="Nombre"
				label-for="input-nombre">
					<b-form-input
						id="input-nombre"
						v-model="nombre"
						required
						size="sm">
					</b-form-input>
				</b-form-group>
				  
				<b-form-group
				label="Numero"
				label-for="numero-input">
					<b-form-input
						id="numero-input"
						v-model="numero"
						required
						size="sm">
					</b-form-input>
				</b-form-group>

				<b-form-group
				label="Embudo"
				label-for="embudo-input">
					<b-form-select id="embudo-input" 
									@change="getEtapas"
									v-model="idEmbudo" 
									:options="embudos"
									size="sm">
					</b-form-select>
				</b-form-group>

				<b-form-group
				v-if="idEmbudo"
				label="Etapa"
				label-for="etapa-input">
					<b-form-select id="etapa-input" 
									@change="setIdEtapa"
									:options="etapas"
									size="sm">
					</b-form-select>
				</b-form-group>
			</form>
			<template v-slot:modal-footer="{ ok, cancel, hide }">
				<b-button size="sm" variant="secondary" @click="cancel()">
					Cancelar
				</b-button>
				<b-button size="sm" variant="success" @click="ok()">
					Guardar
				</b-button>
			</template>
		</b-modal>
	</div>
</template>

<script>
	export default {
		data() {
			return {
				nombre: '',
				numero: null,
				idEmbudo: null,
				idEtapa: null,
				embudos: [],
				etapas: [],
				oportunidades: [],
			}
		},
		mounted(){
			this.getEmbudos();
		},
		methods: {
			setIdEtapa()
			{
				this.idEtapa = 1
			},
			getEmbudos(){
				axios.get(BaseUrl + '/api/ventas/configuracion/embudos')
				.then(response => {
					this.embudos = response.data;
				});
			},
			getEtapas(){
				axios.get(BaseUrl + `/api/ventas/negocios/etapas?idEmbudo=${this.idEmbudo}`)
				.then(response => {
					this.etapas = response.data;
				});
			},
			handleOk(bvModalEvt) {
				bvModalEvt.preventDefault()
				this.handleSubmit()
			},
			handleSubmit() {
        		const params = {
        			nombre: this.nombre,
        			numero: this.numero,
        			idEmbudo: this.idEmbudo,
        			idEtapa: this.idEtapa,
        		}
        		axios.post(BaseUrl + '/api/ventas/configuracion/oportunidad/', params)
        		.then(response =>{
        			this.$emit('oportunidadCreated', response.data.oportunidad);
        			this.$refs.modal.hide()
        		});
      		},
      		resetModal() {
		        this.nombre = ''
				this.numero = null
				this.idEmbudo = null
				this.idEtapa = null
		    },
		}
	}
</script>