<template>
	<b-container fluid>
        <header-component>
            <template slot="titulePage">
                Lista de oportunidades
            </template>
            <template slot="button">
                <b-button variant="outline-secondary" 
                    size="sm" 
                    class="float-right mr-4"
                    v-b-modal.modal-oportunidad>
                    Nueva oportunidad
                </b-button>
            </template>
        </header-component>
        <table-component :items="items" :fields="fields" />
        <vt-configuracion-oportunidad-modal /><!-- <vt-modal-component @oportunidadCreated="addOportunidad($event)" /> -->
    </b-container>
</template>

<script>
    export default {
    	data() {
			return {
                fields: [
                    {
                        key: 'oportunidad',
                        label: 'Nombre de oportunidad',
                        sortable: true
                    }, 
                    {
                        key: 'numero',
                        label: 'Número',
                        class: 'text-center',
                        sortable: true
                    }, 
                    {
                        key: 'nombre_etapa',
                        label: 'Nombre de la etapa',
                        sortable: true
                    }
                ],
				items: null
			}
		},
        mounted() {
        	this.getOportunidades();
        },
        methods: {
        	getOportunidades()
			{
				axios.get('/api/ventas/configuracion/oportunidades')
        			.then(response => 
                        this.items = response.data 
                    );
			},
            addOportunidad(oportunidad)
            {
                this.datos.push(oportunidad) 
            }
        }
    }
</script>
