<template>
	<div>
			<b-input-group size="sm">
				<b-form-input
				v-model="filter"
				type="search"
				id="filterInput"
				placeholder="Escribe tu busqueda"
				></b-form-input>
			</b-input-group>
		</b-form-group>
		<b-form-group
          label="Filter On"
          label-cols-sm="3"
          label-align-sm="right"
          label-size="sm"
          description="Leave all unchecked to filter on all data"
          class="mb-0">
          <b-form-checkbox-group v-model="filterOn" class="mt-1">
            <b-form-checkbox value="nombre">Nombre</b-form-checkbox>
            <b-form-checkbox value="numero">Numero</b-form-checkbox>
            <b-form-checkbox value="nombre_etapa">Nombre de la etapa</b-form-checkbox>
          </b-form-checkbox-group>
        </b-form-group>

		<b-table :items="items" :fields="fields" :filter="filter" :filterIncludedFields="filterOn">
		</b-table>
    </b-table>
	</div>
</template>

<script>
	export default {
		props: {
			items: Array
		},
		data() {
			return {
				 fields: [
				 	{
				 		key: 'nombre',
				 		label: 'Nombre de oportunidad'
				 	}, 
				 	{
				 		key: 'numero',
				 		label: 'Número',
				 		class: 'text-center'
				 	}, 
				 	{
				 		key: 'nombre_etapa',
				 		label: 'Nombre de la etapa',
				 		sortable: true
				 	}
				 ],
				 filter: '',
				 onFiltered: [],
				 filterOn: []
			}
		},
		mounted()
		{
			
		},
		methods:{
			
		}
	}
</script>