<template>
	<b-collapse id="nav-collapse" is-nav>
		<b-navbar-nav>
			<b-nav-item-dropdown v-if="hasPermission('ca.mo.navegar')">
				<template v-slot:button-content>
					<i class="fas fa-dollar-sign" style="color:white"></i>
					Manual organizacional
				</template>

				<b-dropdown-item
					:to="{ name: 'nr.organizacion' }"
					style="color: #777;"
				>
					<div class="mr-5 ml-1">
						<i class="fas fa-list-alt pr-2"></i>
						Filosofía empresarial
					</div>
				</b-dropdown-item>
			</b-nav-item-dropdown>

			<b-nav-item
				class="px-2"
				v-if="hasPermission('ca.pd.navegar')"
				:to="{ name: 'nr.mapeo_organizacional' }"
			>
				<i class="fas fa-ticket-alt" style="color:white"></i>
				Procesos departamentales
			</b-nav-item>

			<b-nav-item
				class="px-2"
				v-if="hasPermission('ca.og.navegar')"
				:to="{ name: 'nr.organigrama' }"
			>
				<i class="far fa-calendar-alt" style="color:white"></i>
				Organigrama
			</b-nav-item>
		</b-navbar-nav>

		<b-navbar-nav class="ml-auto">
			<b-nav-item class="pr-0" right v-on:click="$emit('showSystemInfo')">
				<b-button variant="link">
					<i class="fas fa-question-circle text-white"></i>
				</b-button>
			</b-nav-item>

			<!-- <b-nav-item-dropdown right v-on:click.native="getNotifications">
				<template v-slot:button-content>
					<b-button variant="link" v-on:click="getNotifications" href="#" class="mr-0 pr-0 pl-0">
 						<i class="fas fa-bell text-light"></i> 
 						<span class="badge badge-danger" v-if="notCount > 0">{{ notCount }}</span>  						 
					</b-button>
				</template>
				<notifications-list-component :usuario="usuario"/>
			</b-nav-item-dropdown> -->
			<!-- <div right class="ml-2"></div> -->

			<b-nav-item-dropdown right>
				<template v-slot:button-content>
					<b-avatar
						:src="urlImage"
						class="mr-2"
						variant="dark"
					></b-avatar>
					<span class="mr-auto">{{ nombreUsuario }}</span>
				</template>

				<b-dropdown-item
					href="http://localhost:8080/erp-ammmec/modules/ventas/?c=perfil&g=true"
					style="color: #777;"
				>
					<div class="mr-5 ml-1">
						<i class="fas fa-user-circle pr-2"></i>
						Mi cuenta
					</div>
				</b-dropdown-item>

				<!-- <hr class="pb-1 mb-0 mt-1" /> -->

				<!-- <b-dropdown-item href="http://localhost:8080/erp-ammmec/modules/ventas/?c=negocios&a=ConfigurarEmbudos"
					style="color: #777;">
					<div class="mr-5 ml-1">
						<i class="fas fa-cogs pr-2"></i> 	
						Configuración
					</div>
				</b-dropdown-item> -->

				<hr class="pb-1 mb-0 mt-1" />
				<b-dropdown-item @click="logout" style="color: #777;">
					<div class="mr-5 ml-1">
						<i class="fas fa-sign-out-alt pr-2"></i>
						Cerrar sesión
					</div>
				</b-dropdown-item>

				<!-- <b-dropdown-item href="#" @click="logout"
					style="color: #777;">
					<div class="mr-5 ml-1">
		 				<i class="fas fa-sign-out-alt pr-2"></i>
		 				Cerrar sesión
					</div>
				</b-dropdown-item> -->
			</b-nav-item-dropdown>
		</b-navbar-nav>
	</b-collapse>
</template>

<script>
import { mapState, mapActions } from "vuex";

export default {
	props: {
		usuario: Object,
	},
	data() {
		return {
			urlImage: null,
		};
	},
	mounted() {
		this.urlImagen(this.usuario.foto);
	},
	methods: {
		urlImagen(foto) {
			this.urlImage = BaseUrl + "/img/profiles/" + foto;
		},
		...mapActions("notifications", ["getNotifications"]),
		...mapActions("presupuesto", ["getPresupuestos"]),
		...mapActions("negocios", ["getNegocios"]),

		logout() {
			axios
				.post(BaseUrl + "/logout")
				.then((response) => {
					window.location = "/";
				})
				.catch((error) => {
					location.reload();
				});
		},
		presupuesto() {
			this.getPresupuestos(this.embudoSelected.idEmbudo);
			this.getNegocios();
		},
		hasPermission(funcion) {
			if (this.permissions.length) {
				const permiso = this.permissions.find(
					(permiso) => permiso.idFuncion == funcion
				);
				if (permiso) return true;
				return false;
			}
		},
	},
	computed: {
		...mapState(["nombreUsuario", "permissions"]),
		...mapState("notifications", ["notCount"]),
		...mapState("negocios", ["embudoSelected"]),
	},
};
</script>
