<template>
	<div class="container-fluid" style="height: calc(100vh - 56px);">
		<header-component title="Catálogo de Cuentas Externas"></header-component>
		<b-row class="mt-3 mb-0">
			<b-col lg="9">
				<!-- <b-button size="sm" squared variant="light" class="border-light-2 shadows" v-b-modal.modal-filter><i class="fas fa-filter mr-1"></i>Filtrar áreas</b-button> -->

				<!-- <b-button size="sm" squared variant="light" class="border-light-2 shadows" v-b-modal.modal-asignar-cuentas><i class="fas fa-users-cog mr-1"></i>Asignar cuentas</b-button> -->

				
			</b-col>
			<b-col lg="3">		
				<div class="input-group w-100 bg-white">
	    			<div class="input-group-prepend bg-light mr-1 ml-3">
                        <div class="pt-1 bg-white">
                            <i class="fas fa-search"></i>
                        </div>
                    </div>
                    <b-form-input id="input-search" size="sm" class="form-control border-0" placeholder="Escribe tu busqueda aquí" style="" v-model="search"></b-form-input>
                 </div>
			</b-col>
		</b-row>
		<!-- <div style="height: calc(100vh - 253px);" class="bg-white border text-center mt-3" id="div-content">
			<b-avatar size="24em" variant="light">
				<h1 class="display-1 px-4" style="font-size: 28px; margin-top:60px">
				<i class="far fa-calendar-alt" style="font-size:100px"></i><br><br>
				No se ha seleccionado ninguna área
			</h1>
			</b-avatar>
		</div> -->
		<b-card class="mt-3" style="height: 740px; overflow: auto">
			<b-table :items="items" striped>	
			</b-table>
		</b-card>

	</div>
</template>

<script>
  export default {
    data() {
      return {
      	tipos: ['Activo', 'Colaborador', 'Proceso'],
      	unidades_negocio:[
      		'Campo',
      		'Taller',
      		'Montajes',
      		'Asesorias',
      		'Servicios Administrativos'
      	],
      	empleados:[
      		'Yunuen Tafolla',
      		'Alejadro Castro',
      		'Elfido',
      		'Martin',
      		'Candelario'
      	],
        selected: [],
        allSelected: false,
        indeterminate: false,
        items: [{'cuenta':'MAL-0013-TM-EA-11', 'negocio': 'Suministro de medias lunas de sujecion para tromel (clamp 20 piezas)', 'cliente': 'COEUR MEXICANA SA DE CV', 'unidad_negocio': 'CM', 'equipo': 'Molino'},{'cuenta':'MAL-0013-TM-EA-11', 'negocio': 'Suministro de medias lunas de sujecion para tromel (clamp 20 piezas)', 'cliente': 'COEUR MEXICANA SA DE CV', 'unidad_negocio': 'CM', 'equipo': 'Molino'},{'cuenta':'MAL-0013-TM-EA-11', 'negocio': 'Suministro de medias lunas de sujecion para tromel (clamp 20 piezas)', 'cliente': 'COEUR MEXICANA SA DE CV', 'unidad_negocio': 'CM', 'equipo': 'Molino'},{'cuenta':'MAL-0013-TM-EA-11', 'negocio': 'Suministro de medias lunas de sujecion para tromel (clamp 20 piezas)', 'cliente': 'COEUR MEXICANA SA DE CV', 'unidad_negocio': 'CM', 'equipo': 'Molino'},{'cuenta':'MAL-0013-TM-EA-11', 'negocio': 'Suministro de medias lunas de sujecion para tromel (clamp 20 piezas)', 'cliente': 'COEUR MEXICANA SA DE CV', 'unidad_negocio': 'CM', 'equipo': 'Molino'},{'cuenta':'MAL-0013-TM-EA-11', 'negocio': 'Suministro de medias lunas de sujecion para tromel (clamp 20 piezas)', 'cliente': 'COEUR MEXICANA SA DE CV', 'unidad_negocio': 'CM', 'equipo': 'Molino'},{'cuenta':'MAL-0013-TM-EA-11', 'negocio': 'Suministro de medias lunas de sujecion para tromel (clamp 20 piezas)', 'cliente': 'COEUR MEXICANA SA DE CV', 'unidad_negocio': 'CM', 'equipo': 'Molino'},{'cuenta':'MAL-0013-TM-EA-11', 'negocio': 'Suministro de medias lunas de sujecion para tromel (clamp 20 piezas)', 'cliente': 'COEUR MEXICANA SA DE CV', 'unidad_negocio': 'CM', 'equipo': 'Molino'},{'cuenta':'MAL-0013-TM-EA-11', 'negocio': 'Suministro de medias lunas de sujecion para tromel (clamp 20 piezas)', 'cliente': 'COEUR MEXICANA SA DE CV', 'unidad_negocio': 'CM', 'equipo': 'Molino'},{'cuenta':'MAL-0013-TM-EA-11', 'negocio': 'Suministro de medias lunas de sujecion para tromel (clamp 20 piezas)', 'cliente': 'COEUR MEXICANA SA DE CV', 'unidad_negocio': 'CM', 'equipo': 'Molino'},{'cuenta':'MAL-0013-TM-EA-11', 'negocio': 'Suministro de medias lunas de sujecion para tromel (clamp 20 piezas)', 'cliente': 'COEUR MEXICANA SA DE CV', 'unidad_negocio': 'CM', 'equipo': 'Molino'},{'cuenta':'MAL-0013-TM-EA-11', 'negocio': 'Suministro de medias lunas de sujecion para tromel (clamp 20 piezas)', 'cliente': 'COEUR MEXICANA SA DE CV', 'unidad_negocio': 'CM', 'equipo': 'Molino'},{'cuenta':'MAL-0013-TM-EA-11', 'negocio': 'Suministro de medias lunas de sujecion para tromel (clamp 20 piezas)', 'cliente': 'COEUR MEXICANA SA DE CV', 'unidad_negocio': 'CM', 'equipo': 'Molino'},{'cuenta':'MAL-0013-TM-EA-11', 'negocio': 'Suministro de medias lunas de sujecion para tromel (clamp 20 piezas)', 'cliente': 'COEUR MEXICANA SA DE CV', 'unidad_negocio': 'CM', 'equipo': 'Molino'},{'cuenta':'MAL-0013-TM-EA-11', 'negocio': 'Suministro de medias lunas de sujecion para tromel (clamp 20 piezas)', 'cliente': 'COEUR MEXICANA SA DE CV', 'unidad_negocio': 'CM', 'equipo': 'Molino'},{'cuenta':'MAL-0013-TM-EA-11', 'negocio': 'Suministro de medias lunas de sujecion para tromel (clamp 20 piezas)', 'cliente': 'COEUR MEXICANA SA DE CV', 'unidad_negocio': 'CM', 'equipo': 'Molino'},{'cuenta':'MAL-0013-TM-EA-11', 'negocio': 'Suministro de medias lunas de sujecion para tromel (clamp 20 piezas)', 'cliente': 'COEUR MEXICANA SA DE CV', 'unidad_negocio': 'CM', 'equipo': 'Molino'}]
      }
    },
    mounted()
    {

    },
    methods:{
		toggleAll(checked) {
        this.selected = checked ? this.subcuentas.slice() : []
      }
	},
	computed:{
		isMovil(){
			return (
				(navigator.userAgent.match(/Android/i)) ||
				(navigator.userAgent.match(/webOS/i)) ||
				(navigator.userAgent.match(/iPhone/i)) ||
				(navigator.userAgent.match(/iPod/i)) ||
				(navigator.userAgent.match(/iPad/i)) ||
				(navigator.userAgent.match(/BlackBerry/i))
				);
		},
		noIsMovil(){
			return !(
				(navigator.userAgent.match(/Android/i)) ||
				(navigator.userAgent.match(/webOS/i)) ||
				(navigator.userAgent.match(/iPhone/i)) ||
				(navigator.userAgent.match(/iPod/i)) ||
				(navigator.userAgent.match(/iPad/i)) ||
				(navigator.userAgent.match(/BlackBerry/i))
				);
		},
	},
	 watch: {
    selected(newVal, oldVal) {
        // Handle changes in individual flavour checkboxes
        if (newVal.length === 0) {
          this.indeterminate = false
          this.allSelected = false
        } else if (newVal.length === this.subcuentas.length) {
          this.indeterminate = false
          this.allSelected = true
        } else {
          this.indeterminate = true
          this.allSelected = false
        }
      }
    }
  }
</script>

<style>
	#div-content{
	  display: -ms-flexbox;
	  display: -webkit-box;
	  display: flex;
	  -ms-flex-align: center;
	  -ms-flex-pack: center;
	  -webkit-box-align: center;
	  align-items: center;
	  -webkit-box-pack: center;
	  justify-content: center;
	}
	.shadows:hover{
		-webkit-box-shadow: 0px 1px 6px 2px rgba(0,0,0,0.32) !important;
		-moz-box-shadow: 0px 1px 6px 2px rgba(0,0,0,0.32) !important;
		box-shadow: 0px 1px 6px 2px rgba(0,0,0,0.32) !important;
	}
	fieldset.scheduler-border {
		border: 1px solid #dee2e6 !important;
		padding: 0 1.4em 0.5em 1.4em !important;
		margin: 0 0 1.5em 0 !important;
		-webkit-box-shadow:  0px 0px 0px 0px #000;
		box-shadow:  0px 0px 0px 0px #000;
	}
	legend.scheduler-border {
	    width:inherit; /* Or auto */
	    padding:0 10px; /* To give a bit of padding on the left and right */
	    border-bottom:none;
	}

	.border-light-2{
		border-color:#6c757d2e;
	}
</style>
