<template>
	<div style="height: 80vh" class="img-content">
		<center>
			<b-img
				:src="urlImage"
				style="max-width:400px; opacity: 0.6;"
				fluid
				alt="Logo"
				class="imag"
			>
			</b-img>
			<h2 class="display-4" style="opacity:0.4">
				COMPRAS
			</h2>
		</center>
	</div>
</template>

<script>
export default {
	computed: {
		urlImage() {
			return BaseUrl + "/img/logo/logoammmec.png";
		},
	},
};
</script>
