<template>
	<b-card no-body 
		class="mt-3 bitacora" 
		style="max-width: 100%">
    	<div class="toast-header text-secondary py-2">
    		<vt-negocios-button-completar-actividad class="float-right mt-1" :idActividad="actividad.idActividad" :completada="actividad.fechaCompletado" /> &nbsp;
    		<strong class="mr-auto">
				{{ actividad.nombre_usuario }}
    		</strong>
    		<small class="text-muted mr-3">
    			Fecha de registro: {{ fechaCreado}}
    		</small>
    		<!-- <b-dropdown class="ml-2" size="sm" right variant="light" no-caret>
    			<template v-slot:button-content>
    				<i class="fas fa-ellipsis-v"></i>
    			</template>
    			<b-dropdown-item href="#" v-b-modal.modal-delete>
    				<i class="fas fa-trash px-2"></i> 
    				Eliminar
    			</b-dropdown-item>
    		</b-dropdown> -->
    	</div>
      <!--   {{ actividad.idActividad }} -->
    	<b-card-text class="pt-3 px-4 pb-4 text-secondary">
    		<div class="card-body pt-1 pb-0">
    			<div class="text-center" style="margin-top: -50px">
    				<h5>{{ negocio.claveNegocio }}</h5>
    				<h5 class="mt-4 mb-0">{{ negocio.tituloNegocio }}</h5>
    				<hr>
    			</div>
    			<b-row>
    				<b-col lg="8" class="ml-0">
    					<h5>
            			<template v-if="actividad.tipo=='LLamada'">
                   			<i class="fas fa-phone"></i>
         				 </template>
            			<template v-if="actividad.tipo=='Reunión'">
                   			<i class="fas fa-users"></i>
         				 </template>
           				 <template v-if="actividad.tipo=='Tarea'">
                   			<i class="far fa-clock"></i> 
         				 </template>
            			<template v-if="actividad.tipo=='Correo'">
                   			<i class="fas fa-envelope"></i>
         				 </template>
         				 <template v-if="actividad.tipo=='Comida'">
                   			<i class="fas fa-utensils"></i>
         				 </template>
            			<template v-if="actividad.tipo=='Whatsapp'">
                   			<i class="fab fa-whatsapp"></i>
         				 </template>
         				 <template v-if="actividad.tipo=='Plazo'">
                   			<i class="fas fa-hourglass-half"></i>
         				 </template>
    					&nbsp;{{ actividad.tipo }} <small>({{ fechaActividad }})</small> - <small>{{ actividad.nombrePersona }}</small> </h5>
    				</b-col>
    				<b-col lg="4" class="">
    					 <label class="float-right text-secondary" v-if="actividad.fechaCompletado"><i class="fas fa-check-circle text-success"></i> Fecha completado: {{ fechaCompletado }}</label>
    				</b-col>
    			</b-row>
    		</div>
    	
               
    			<!-- <small>Notas:</small> -->
    		<div class="card-body pt-3 pb-3 mx-3 bg-light mt-2">
                 <b-badge variant="secondary">Descripción</b-badge>&nbsp;
				{{ actividad.notas }}
    		</div>
            <template v-if="actividad.comentario">
                <div class="card-body pt-3 pb-3 mx-3 bg-light mt-3">
                    <b-badge variant="secondary">Comentarios finales</b-badge>&nbsp;
                    {{ actividad.comentario }}
                </div>
            </template>
    	</b-card-text>
	</b-card>
</template>

<script>
    export default {
        props: {
            actividad: Object,
            negocio: Object
        },
        data() {
            return {
               
            }
        },
		mounted(){
          
        },
        computed: {
            fechaCreado()
			{
				return moment(this.actividad.timestamp).locale('es').format('DD MMM YYYY, h:mm a');
			},
			fechaActividad()
			{
				return moment(this.actividad.fechaActividad).locale('es').format('dddd, DD MMMM YYYY');
			},
			fechaCompletado()
			{
				return moment(this.actividad.fechaCompletado).locale('es').format('DD MMM YYYY');
			}
        }
    }
</script>