<template>
	<b-card no-body 
        id="divCambio"
		class="mt-3 pt-1 bitacora" 
		style="max-width: 100%; position: relative;">
    	<div class="toast-header text-secondary py-2 ml-4">
    		<strong class="mr-auto">
				{{ cambio.nombre_usuario }}
    		</strong>
    		<small class="text-muted mr-3">
    			Fecha de registro: {{ fechaCreado }}
    		</small>
    	</div>
    	<b-card-text class="py-3 px-4 text-secondary text-center">
			<h5 style="margin-top:-43px">Actualización de {{ cambio.accion }}</h5>
            <h6 class="mt-4 pb-0">{{ cambio.campo1 }} <i class="fas fa-arrow-right"></i> {{  cambio.campo2 }}</h6>
    	</b-card-text>
	</b-card>
</template>
<script>
    export default {
        props: {
            cambio: Object
        },
        data() {
            return {
                
            }
        },
		mounted(){
          
        },
        computed: {
            fechaCreado()
			{
				return moment(this.cambio.timestamp).locale('es').format('DD MMM YYYY, h:mm a');
			}
        }
    }
</script>

<style>
   #divCambio {
    -webkit-border-top-left-radius: 30px;
    -webkit-border-top-right-radius: 0px;
    -webkit-border-bottom-left-radius: 100px;
    -webkit-border-bottom-right-radius: 0px;
}
</style>