<template>
	<b-card no-body 
		class="mt-3 bitacora" 
		style="max-width: 100%">
    	<div class="toast-header text-secondary py-2">
    		<strong class="mr-auto ml-3 mt-1">
				{{ contenido.nombre_usuario }}
    		</strong>
    		<small class="text-muted mr-3">
    			Fecha de registro: {{ fechaCreado }}
    		</small>
    		<!-- <b-dropdown class="ml-2" size="sm" right variant="light" no-caret>
    			<template v-slot:button-content>
    				<i class="fas fa-ellipsis-v"></i>
    			</template>
    			<b-dropdown-item href="#" v-b-modal.modal-delete>
    				<i class="fas fa-trash px-2"></i> 
    				Eliminar
    			</b-dropdown-item>
    		</b-dropdown> -->
    	</div>
    	<b-card-text class="px-4 text-secondary">
            <template v-if="contenido.notas">
        		<div class="card-header py-1 px-3 mt-3">
        			<small>Notas:</small>
        		</div>
        		<div class="card-body pt-3 pb-1 px-4 bg-light mb-3" v-html="contenido.notas">
        		</div>
            </template>
            <template v-if="contenido.file">
                <div class="mt-3 mb-4">
                    <div class="card-header p-1 px-3">
                        <small>Adjuntos:</small>
                    </div>
                    <div class="card-body pt-2 pb-0 px-4">
                        <i class="fas fa-file-pdf text-danger"></i>
                        <small><a @click="donwloadFile" class="text-danger">{{contenido.file}}</a></small>
                    </div>
                </div>
            </template>
    	</b-card-text>
	</b-card>
</template>

<script>
    export default {
        props: {
            contenido: Object,
        },
        data() {
            return {
               
            }
        },
		mounted(){
          
        },
        methods:{
            donwloadFile(){
                window.open(BaseUrl + `/api/storage/${this.contenido.file}`);
            },
        },
        computed: {
            fechaCreado()
			{
				return moment(this.contenido.timestamp).locale('es').format('DD MMM YYYY, h:mm a');
			},
        }
    }
</script>