<template>
	<div class="circle mt-4 text-center float-right" :class="divClass" style="font-size: 0.5rem; padding-top: 4px;">
            <i class="fa-3x text-white" :class="iconClass"></i>
    </div>
</template>
<script>
    export default {
        props: {
            bitacora: Object
        },
        data() {
            return {
                
            }
        },
		mounted(){
          
        },
        computed: {
        	divClass()
        	{
        		switch(this.bitacora.bitacora){
					case 'actividad':
					return 'bg-info'; 
					break;
					case 'contenido':
					return 'bg-info'; 
					break;
					case 'cambio':
					if(this.bitacora.campo2 == 'Ganado')
						return 'bg-success';
					else if(this.bitacora.campo2 == 'Perdido')
						return 'bg-danger';
					else
						return 'bg-secondary';
					break;
					case 'negocio':
					return 'bg-success'; 
					break;
				}
        	},
            iconClass()
			{
				switch(this.bitacora.bitacora){
					case 'actividad':
					return 'far fa-calendar-alt'; 
					break;
					case 'contenido':
					return 'far fa-sticky-note'; 
					break;
					case 'cambio':
					if(this.bitacora.campo2 == 'Ganado')
						return 'fas fa-trophy';
					else if(this.bitacora.campo2 == 'Perdido')
						return 'fas fa-trophy';
					else if(this.bitacora.campo1 == 'Ganado' || this.bitacora.campo1 == 'Perdido')
						return 'fas fa-undo-alt'; 
					else
						return 'fas fa-exchange-alt'; 
					break;
					case 'negocio':
					return 'fas fa-briefcase'; 
					break;
				}
			}
        }
    }
</script>

<style>
   div.circle{
	    display: block;
	    width: 40px;
	    height: 40px;
	    -webkit-background-clip: padding-box;
	    -moz-background-clip: padding;
	    background-clip: padding-box;
	    -webkit-border-radius: 20px;
	    -moz-border-radius: 20px;
	    border-radius: 20px;
	    text-align: center;
	    -moz-box-shadow: 0 0 0 5px #f5f5f6;
	    -webkit-box-shadow: 0 0 0 5px #f5f5f6;
	    box-shadow: 0 0 0 5px #f5f5f6;
	    line-height: 40px;
	    font-size: 15px;
	    float: left;
	}

</style>