<template>
	<b-card no-body 
		class="mt-3 bitacora" 
		style="max-width: 100%">
    	<div class="toast-header text-secondary py-2">
    		<strong class="mr-auto ml-3 mt-1 mb-1">
				{{ negocio.nombre_usuario }}
    		</strong>
    		<small class="text-muted mr-3">
    			Fecha de registro: {{ fechaCreado }}
    		</small>
    	</div>
    	<b-card-text class="py-3 px-4 text-secondary text-center">
			<h5 style="margin-top:-45px">Ha creado el negocio</h5>
            <h6 class="mt-4">{{ negocio.claveNegocioCompleta }}</h6>
    	</b-card-text>
	</b-card>
</template>
<script>
    export default {
        props: {
            negocio: Object
        },
        data() {
            return {
                
            }
        },
		mounted(){
          
        },
        computed: {
            fechaCreado()
			{
				return moment(this.negocio.timestamp).locale('es').format('DD MMM YYYY, h:mm a');
			}
        }
    }
</script>

<style>
   
</style>