<template>
	<div class="mt-1">
		<b-card>
			<b-row class="mb-2">
				<b-col>
					<template
						v-if="hasPermission('alm.ss.solicitudes.vs.descargar')"
					>
						<b-button
							v-if="!loading"
							class="shadows mb-2 mr-2"
							variant="danger"
							size="sm"
							@click="download"
							squared
							:disabled="!disabledVS"
						>
							<i class="fas fa-download pr-1"></i>
							Vale de salida
						</b-button>

						<b-button v-else variant="danger" size="sm">
							<b-spinner small class="mr-1"></b-spinner>
							Descargando ...
						</b-button>
					</template>

					<template
						v-if="
							hasPermission('alm.ss.solicitudes.solicitar.compra')
						"
					>
						<b-button
							v-if="solicitudActiva.idEtapa == 2"
							class="shadows mb-2"
							variant="light"
							size="sm"
							@click="openModal('modal-solicitar-compra')"
							squared
						>
							<i class="fas fa-shopping-cart pr-1"></i>
							Solicitar compra</b-button
						>
					</template>
				</b-col>
				<b-col></b-col>
			</b-row>

			<b-skeleton-table
				v-if="busyArticulos"
				:rows="5"
				:columns="7"
				:table-props="{ bordered: true, striped: true }"
			></b-skeleton-table>

			<b-table-simple
				v-else
				bordered
				responsive
				class="mb-2 shadow-sm table-salida-articulos border-top"
				style="font-size:11px"
			>
				<b-thead class="text-center bg-light" style="font-size: 12px;">
					<tr>
						<th style="width: 8%;">Cant.</th>
						<th style="width: 8%;">Unidad</th>
						<th style="width: 45%;">Descripción</th>
						<th style="width: 8%;">Existencias</th>
						<th style="width: 8%;">Faltantes</th>
						<th style="width: 18%;">Estado</th>
						<th style="width: 5%;">Acción</th>
					</tr>
				</b-thead>

				<b-tbody>
					<template v-if="listArticulos.length">
						<alm-ss-tr-articulos-component
							v-for="(articulo, index) in listArticulos"
							:key="index"
							:articulo="articulo"
						/>
					</template>
					<template v-else>
						<b-tr>
							<b-td colspan="6" class="text-center align-middle">
								<h6 class="text-secondary m-2">
									No se han registrado articulos
								</h6>
							</b-td>
						</b-tr>
					</template>
				</b-tbody>
			</b-table-simple>
		</b-card>

		<modal-component
			:id="'modal-solicitar-compra'"
			:centered="true"
			:title="'Solicitar compra de artículos'"
			:hideFooter="true"
			:hideHeader="true"
			:sizeModal="'md'"
			v-if="solicitudActiva"
		>
			<template slot="content">
				<alm-ss-form-solicitar-compra-component />
			</template>
		</modal-component>
	</div>
</template>

<script>
import { mapState, mapActions, mapMutations } from "vuex";

export default {
	data() {
		return {
			saving: false,
			loading: false,
			permissionsSendOC: false,
		};
	},
	mounted() {
		setTimeout(() => this.changeBusyArticulos(false), 2000);
	},
	methods: {
		...mapMutations("alm_ss_solicitudes", [
			"changeBusyArticulos",
			"updateSolicitudActiva",
		]),
		setPermissions() {
			if (this.listArticulos.length) {
				var articulos = [];
				this.listArticulos.forEach((articulo) => {
					if (!articulo.salida && !articulo.idOrdenCompra) {
						if (!articulo.idActivo) {
							articulos.push(articulo);
						} else {
							const activo = this.listActivos.find(
								(activo) => activo.idActivo == articulo.idActivo
							);
							if (activo.existencia < articulo.cantidad) {
								articulos.push(articulo);
							}
						}
					}
				}, this);
				if (articulos.length && this.solicitudActiva.idEtapa == 2) {
					this.permissionsSendOC = true;
				} else this.permissionsSendOC = false;
			} else this.permissionsSendOC = false;
		},
		hasPermission(funcion) {
			if (this.permissions.length) {
				const permiso = this.permissions.find(
					(permiso) => permiso.idFuncion == funcion
				);
				if (permiso) return true;
				return false;
			}
		},
		download() {
			moment.locale("es");
			this.loading = true;
			const data = {
				articulos: this.filteredArticulosOut,
				solicitud: this.solicitudActiva,
				date: moment().format("ll"),
			};
			axios
				.post("/api/alm/ss/vale/salida/upload", data)
				.then((response) => {
					if (response.data.success) {
						let name = "Vale de Salida";
						window.location = `/api/alm/ss/vale/salida/${name}/download`;
					}
					this.loading = false;
				});
		},
		openModal(modal) {
			this.$bvModal.show(modal);
		},
	},
	computed: {
		...mapState(["permissions"]),
		...mapState("alm_inventario_activos", ["listActivos"]),
		...mapState("alm_ss_solicitudes", [
			"listArticulos",
			"busyArticulos",
			"solicitudActiva",
		]),

		filteredArticulosOut() {
			return this.listArticulos.filter((articulo) => articulo.salida);
		},
		disabledVS() {
			if (this.listArticulos.length) {
				const articulos = this.listArticulos.filter(
					(articulo) => articulo.salida
				);
				if (articulos.length > 0) {
					return true;
				} else return false;
			}
			return false;
		},
	},
	watch: {
		listArticulos: {
			handler(val, oldVal) {
				setTimeout(() => this.changeBusyArticulos(false), 2000);
				this.setPermissions();
			},
			deep: true,
		},
	},
};
</script>

<style>
.table-salida-articulos th {
	padding: 0.72rem;
	vertical-align: top;
	border-top: 1px solid #dee2e6;
}
.table-salida-articulos td {
	padding: 0.42rem;
	vertical-align: top;
	border-top: 1px solid #dee2e6;
}
</style>
