<template>
	<b-container class="px-2 py-2">
		<b-row>
			<b-col lg="8" class="text-left">
				<h1 class="display-1 m-3 mb-0" style="font-size: 23px;">
					Detalles
				</h1>
			</b-col>
			<b-col lg="4" class="text-right">
				<b-button
					variant="link"
					size="sm"
					class="text-secondary mt-3"
					@click="$emit('hide', false)"
				>
					<b-icon icon="x" font-scale="1.5"></b-icon>
				</b-button>
			</b-col>
		</b-row>

		<b-container>
			<hr class="mt-1 mb-3" style="background-color: #eceeef;" />

			<b-row>
				<b-col lg="6">
					<h6 class="mb-0">
						<strong>Solicitud de suministros:</strong>
					</h6>
				</b-col>
				<b-col lg="6" class="text-right text-muted">
					<p class="mb-0" style="font-size: 12px;">
						#{{ solicitudActiva.idSolicitud }}
					</p>
				</b-col>
				<b-col v-if="hasPermission('alm.ss.solicitudes.descargar')">
					<b-button
						v-if="!loading"
						variant="outline-danger"
						size="sm"
						class="shadows mt-3"
						@click="download"
						squared
					>
						<label class="mb-0">
							<i class="fas fa-download pr-2"></i> Descargar
						</label>
					</b-button>

					<b-button
						v-else
						variant="outline-danger"
						size="sm"
						class="mt-3"
						disabled
					>
						<b-spinner small class="mr-1"></b-spinner>
						Descargando ...
					</b-button>
				</b-col>
			</b-row>
			<hr />

			<b-row>
				<b-col lg="6">
					<h6 class="mb-0"><strong>Fecha de solicitud:</strong></h6>
				</b-col>
				<b-col lg="6" class="text-right text-muted">
					<p class="mb-0" style="font-size: 12px;">
						{{ fechaSolicitud }}
					</p>
				</b-col>
			</b-row>
			<hr />

			<b-row>
				<b-col lg="6">
					<h6 class="mb-0">
						<strong>Fecha de entrega requerida:</strong>
					</h6>
				</b-col>
				<b-col lg="6" class="text-right text-muted">
					<p class="mb-0" style="font-size: 12px;">
						{{ fechaEntregaRequerida }}
					</p>
				</b-col>
			</b-row>
			<hr />

			<b-row>
				<b-col lg="6">
					<h6 class="mb-0"><strong>Días transcurridos:</strong></h6>
				</b-col>
				<b-col lg="6" class="text-right text-muted">
					<p class="mb-0" style="font-size: 12px;">
						{{ diasTranscurridos }}
					</p>
				</b-col>
			</b-row>
			<hr />

			<b-row>
				<b-col lg="6">
					<h6 class="mb-0"><strong>En tiempo:</strong></h6>
				</b-col>
				<b-col lg="6" class="text-right text-muted">
					<p class="mb-0" style="font-size: 12px;">
						<b-badge
							:variant="enTiempo.color"
							class="px-2"
							style="font-size: 12px;"
						>
							{{ enTiempo.text }}</b-badge
						>
					</p>
				</b-col>
			</b-row>
			<hr />

			<b-row v-if="solicitudActiva.file != 'S/A'">
				<b-col lg="12">
					<h6 class="mb-0"><strong>Cotización:</strong></h6>
				</b-col>
				<b-col lg="12">
					<b-media class="mt-3">
						<template #aside>
							<a class="icon-shape bg-danger text-white mr-1">
								<i class="fas fa-paperclip paperclip2"></i>
							</a>
						</template>

						<h6 class="mt-0 mb-0">
							<b-link
								class="text-dark"
								@click="downloadFile(solicitudActiva.file)"
							>
								{{ solicitudActiva.file }}
							</b-link>
						</h6>
						<p class="mb-0">
							Ext: {{ getFileExtension(solicitudActiva.file) }}
						</p>
					</b-media>
				</b-col>
			</b-row>

			<b-row v-else>
				<b-col lg="6">
					<h6 class="mb-0"><strong>Cotización:</strong></h6>
				</b-col>
				<b-col lg="6" class="text-right text-muted">
					<p class="mb-0" style="font-size: 12px;">
						S/C
					</p>
				</b-col>
			</b-row>
			<hr />

			<b-row v-if="solicitudActiva.observaciones != 'null'">
				<b-col lg="12">
					<h6 class="mb-0"><strong>Observaciones:</strong></h6>
				</b-col>
				<b-col lg="12">
					<p class="mb-0 mt-2" style="font-size: 12px;">
						{{ solicitudActiva.observaciones }}
					</p>
				</b-col>
			</b-row>

			<b-row v-else>
				<b-col lg="6">
					<h6 class="mb-0"><strong>Observaciones:</strong></h6>
				</b-col>
				<b-col lg="6" class="text-right text-muted">
					<p class="mb-0" style="font-size: 12px;">
						S/O
					</p>
				</b-col>
			</b-row>
			<hr />
		</b-container>
	</b-container>
</template>

<script>
import { mapState, mapActions } from "vuex";
export default {
	props: {
		solicitudActiva: Object,
	},
	data() {
		return {
			loading: false,
		};
	},
	mounted() {
		if (!this.listArticulos.length) {
			console.log("entra mounted listArticulos");
			this.getArticulos(this.solicitudActiva.idSolicitud);
		}
	},
	methods: {
		download() {
			moment.locale("es");
			this.loading = true;
			const data = {
				articulos: this.listArticulos,
				solicitud: this.solicitudActiva,
				created_at: moment(this.solicitudActiva.created_at).format(
					"ll"
				),
				delivery_date: moment(this.solicitudActiva.fechaEntrega).format(
					"ll"
				),
			};
			axios
				.post("/api/alm/ss/solicitud/upload", data)
				.then((response) => {
					if (response.data.success) {
						let name = "Solicitud de Suministros";
						window.location = `/api/alm/ss/solicitud/${name}/download`;
					}
					this.loading = false;
				});
		},
		downloadFile(name) {
			window.location = `/api/alm/ss/solicitud/file/${name}/download`;
		},
		getFileExtension(filename) {
			return filename
				.split(".")
				.pop()
				.toUpperCase();
		},
		hasPermission(funcion) {
			if (this.permissions.length) {
				const permiso = this.permissions.find(
					(permiso) => permiso.idFuncion == funcion
				);
				if (permiso) return true;
				return false;
			}
		},
	},
	computed: {
		...mapState(["permissions", "usuario"]),
		...mapState("alm_ss_solicitudes", ["listArticulos"]),

		fechaSolicitud() {
			moment.locale("es");
			return moment(this.solicitudActiva.created_at).format("LL, h:mm a");
		},
		fechaEntregaRequerida() {
			moment.locale("es");
			if (this.solicitudActiva.fechaEntrega) {
				return moment(this.solicitudActiva.fechaEntrega).format("LL");
			} else {
				return '<font class="mb-0 text-danger">No asignada</font>';
			}
		},
		diasTranscurridos() {
			moment.locale("es");
			if (this.solicitudActiva.fechaTermino) {
				var days = moment(this.solicitudActiva.fechaTermino).diff(
					moment(this.solicitudActiva.created_at),
					"days"
				);
			} else {
				const hoy = moment();
				var days = hoy.diff(
					moment(this.solicitudActiva.created_at),
					"days"
				);
			}
			return days == 1 ? days + " día" : days + " días";
		},
		enTiempo() {
			moment.locale("es");
			var fechaEntrega = moment(this.solicitudActiva.fechaEntrega).format(
				"YYYY-MM-DD"
			);

			if (this.solicitudActiva.idEtapa == 5) {
				var fechaTermino = moment(
					this.solicitudActiva.fechaTermino
				).format("YYYY-MM-DD");
			} else {
				var fechaTermino = moment().format("YYYY-MM-DD");
			}

			if (moment(fechaTermino).isBefore(fechaEntrega)) {
				return {
					text: "SI",
					color: "success",
				};
			} else {
				return {
					text: "NO",
					color: "danger",
				};
			}
		},
	},
};
</script>
