<template>
	<b-row class="mt-3">
		<b-col class="pr-1">
			<b-card style="height: 100%" class="shadow-sm">
				<div class="d-flex w-100 justify-content-between">
					<h3 class="mb-0">Detalles</h3>
				</div>
				<hr />
				<b-row style="font-size: 13px;">
					<b-col lg="5" class="text-right pr-0 mb-1">
						<strong>Empleado:</strong>
					</b-col>
					<b-col lg="7">
						{{ solicitudActiva.usuario.nombreUsuario }}
					</b-col>

					<b-col lg="5" class="text-right pr-0 mb-1">
						<strong>Unidad de negocio:</strong>
					</b-col>

					<b-col lg="7">
						{{ solicitudActiva.unidadNegocio }}
					</b-col>

					<b-col lg="5" class="text-right pr-0 mb-1">
						<strong>Cuenta:</strong>
					</b-col>

					<b-col lg="7">
						{{ solicitudActiva.cuenta }}
					</b-col>

					<b-col lg="5" class="text-right pr-0 mb-1">
						<strong>Tipo pedido:</strong>
					</b-col>

					<b-col lg="7">
						<font>
							{{ solicitudActiva.tipoPedido }}
						</font>
					</b-col>
				</b-row>
				<hr />
				<b-row>
					<b-col class="text-center">
						<b-link href="#" class="text-danger">
							<h5
								class="mb-0 mt-1"
								style="font-size: 14px;"
								@click="openSidebar"
							>
								<strong>MÁS DETALLES</strong>
							</h5>
						</b-link>
					</b-col>
				</b-row>
			</b-card>
		</b-col>
		<b-col class="pl-1">
			<b-card style="height: 100%" class="shadow-sm">
				<div class="d-flex w-100 justify-content-between">
					<h3 class="mb-0">Avance</h3>

					<label
						class="float-right mb-0"
						:class="enTiempo.color"
						style="margin-top: 8px;"
					>
						<strong
							><i class="fas fa-clock pr-1"></i>
							{{ enTiempo.text }}
						</strong>
					</label>
				</div>
				<hr />
				<b-row style="font-size: 13px;">
					<b-col lg="5" class="text-right pr-0 mb-1">
						<strong>Etapa:</strong>
					</b-col>
					<b-col lg="7">
						<font>
							{{ solicitudActiva.nombre_etapa }}
						</font>
					</b-col>
					<b-col lg="5" class="text-right pr-0 mb-1">
						<strong>Fecha de solicitud:</strong>
					</b-col>
					<b-col lg="7">
						{{ fechaSolicitud }}
					</b-col>
					<b-col lg="5" class="text-right pr-0 mb-1">
						<strong>Fecha entrega requerida:</strong>
					</b-col>
					<b-col lg="7">
						{{ fechaEntregaRequerida }}
					</b-col>

					<b-col lg="5" class="text-right pr-0 mb-1">
						<strong>Días transcurridos:</strong>
					</b-col>
					<b-col lg="7">
						{{ diasTranscurridos }}
					</b-col>
					<template v-if="solicitudActiva.idEtapa == 1">
						<b-col lg="5" class="text-right pr-0 mb-1">
							<strong>Comentarios al archivar:</strong>
						</b-col>
						<b-col lg="7">
							{{ solicitudActiva.comentarios }}
						</b-col>
					</template>
					
				</b-row>

				<template v-if="permissionTerminar">
					<hr />
					<b-row>
						<b-col class="text-center">
							<b-button
								v-if="!ending"
								class="shadows mb-0 px-4"
								variant="outline-danger"
								size="sm"
								@click="cambioEtapa(5)"
								squared
							>
								<strong>TERMINAR</strong>
							</b-button>
							<b-button
								v-else
								variant="outline-danger"
								class="shadows mb-0 px-4"
								size="sm"
								squared
							>
								<b-spinner small class="mr-1"></b-spinner>
								TERMINANDO...
							</b-button>
						</b-col>
					</b-row>
				</template>
			</b-card>
		</b-col>
	</b-row>
</template>

<script>
import { mapState, mapActions, mapMutations } from "vuex";
export default {
	data() {
		return {
			ending: false,
			permissionTerminar: false,
		};
	},
	mounted() {},
	methods: {
		...mapMutations("alm_ss_solicitudes", ["updateSolicitudActiva"]),

		hasPermission(funcion) {
			if (this.permissions.length) {
				const permiso = this.permissions.find(
					(permiso) => permiso.idFuncion == funcion
				);
				if (permiso) return true;
				return false;
			}
		},
		openSidebar() {
			this.$emit("openSidebar", true);
		},
		async cambioEtapa(etapa) {
			try {
				this.ending = true;
				const response = await axios.put(
					BaseUrl +
						`/api/alm/ss/solicitud/${this.solicitudActiva.idSolicitud}/etapas/${etapa}`
				);
				if (response.data.success) {
					this.ending = false;
					this.updateSolicitudActiva(response.data.solicitud);
				}
			} catch (e) {
				console.log(e);
			}
		},
		setPermissions() {
			if (this.hasPermission("alm.ss.solicitudes.terminar")) {
				if (this.solicitudActiva.idEtapa != 5) {
					const articulos = this.listArticulos.filter(
						(articulo) => !articulo.salida
					);
					if (articulos.length > 0) {
						return false;
					} else return true;
				} else return false;
			}else {
				return false;
			}
		},
	},
	computed: {
		...mapState(["permissions", "usuario"]),
		...mapState("alm_ss_solicitudes", ["solicitudActiva", "listArticulos"]),

		fechaSolicitud() {
			moment.locale("es");
			return moment(this.solicitudActiva.created_at).format("LL, h:mm a");
		},
		fechaEntregaRequerida() {
			moment.locale("es");
			if (this.solicitudActiva.fechaEntrega) {
				return moment(this.solicitudActiva.fechaEntrega).format("LL");
			} else {
				return '<font class="mb-0 text-danger">No asignada</font>';
			}
		},
		enTiempo() {
			moment.locale("es");
			var fechaEntrega = moment(this.solicitudActiva.fechaEntrega).format(
				"YYYY-MM-DD"
			);

			if (this.solicitudActiva.idEtapa == 5) {
				var fechaTermino = moment(
					this.solicitudActiva.fechaTermino
				).format("YYYY-MM-DD");
			} else {
				var fechaTermino = moment().format("YYYY-MM-DD");
			}

			if (moment(fechaTermino).isBefore(fechaEntrega)) {
				return {
					text: "EN TIEMPO",
					color: "text-success",
				};
			} else {
				return {
					text: "FUERA DE TIEMPO",
					color: "text-danger",
				};
			}
		},
		diasTranscurridos() {
			moment.locale("es");
			if (this.solicitudActiva.fechaTermino) {
				var days = moment(this.solicitudActiva.fechaTermino).diff(
					moment(this.solicitudActiva.created_at),
					"days"
				);
			} else {
				const hoy = moment();
				var days = hoy.diff(
					moment(this.solicitudActiva.created_at),
					"days"
				);
			}
			return days == 1 ? days + " día" : days + " días";
		},
	},
	watch: {
		listArticulos() {
			this.permissionTerminar = false;
			if (this.listArticulos.length) {
				this.permissionTerminar = this.setPermissions();
			}
		},
	},
};
</script>
