<template>
	<div>
		<div v-if="status" class="d-flex w-100 justify-content-between">
			<strong>{{ status.text }}</strong>
			<i class="mr-1 mt-1" :class="status.icon"></i>
		</div>

		<b-skeleton v-else></b-skeleton>
	</div>
</template>

<script>
import { mapState } from "vuex";

export default {
	props: {
		articulo: Object,
	},
	data() {
		return {
			status: null,
		};
	},
	mounted() {
		if (this.articulo.idActivo) {
			this.activo = this.listActivos.find(
				(activo) => activo.idActivo == this.articulo.idActivo
			);
			this.getStatusArticulo(this.activo.existencia);
		} else this.getStatusArticulo(0);
	},
	methods: {
		getStatusArticulo(existencias) {
			this.status = null;
			if (this.solicitudActiva.idEtapa == 1) {
				this.status = {
					text: "Cancelado",
					icon: "fas fa-window-close text-danger",
				};
			}else {
				if (this.articulo.salida) {
					this.status = {
						text: "Entregado",
						icon: "far fa-check-circle text-success",
					};
				} else if (
					existencias >= this.articulo.cantidad &&
					!this.articulo.salida
				) {
					this.status = {
						text: "Disponible",
						icon: "far fa-check-circle text-success",
					};
				} else {
					if (this.articulo.idOrdenCompra) {
						this.status = {
							text: "Recepción de mercancía",
							icon: "fas fa-dollar-sign text-secondary",
						};
							// if (
							// 	existencias < this.articulo.cantidad &&
							// 	this.solicitudActiva.idEtapa == 3
							// ) {
							// 	this.status = {
							// 		text: "En compra",
							// 		icon: "fas fa-dolly-flatbed text-secondary",
							// 	};
							// } else if (
							// 	existencias < this.articulo.cantidad &&
							// 	this.solicitudActiva.idEtapa == 4
							// ) {
							// 	this.status = {
							// 		text: "En compra",
							// 		icon: "fas fa-dolly-flatbed text-secondary",
							// 	};
							// var ordenCompra = this.listOrdenesCompra.find(
							// 	(orden) =>
							// 		orden.idOrdenCompra ==
							// 		this.articulo.idOrdenCompra
							// );
							// if (ordenCompra.fechaAutorizacion) {
							// 	if (ordenCompra.autorizacion) {
							// 		this.status = {
							// 			text: "OC autorizada",
							// 			icon: "fas fa-dollar-sign text-warning",
							// 		};
							// 	} else {
							// 		this.status = {
							// 			text: "OC rechazada",
							// 			icon: "fas fa-times-circle text-danger",
							// 		};
							// 	}
							// } else {
							// 	this.status = {
							// 		text: "Autorización",
							// 		icon: "fas fa-exclamation-circle text-warning",
							// 	};
							// }
						// } else if (
						// 	existencias < this.articulo.cantidad &&
						// 	this.solicitudActiva.idEtapa == 3
						// ) {
						// 	this.status = {
						// 		text: "Orden de compra",
						// 		icon: "fas fa-exclamation-circle text-warning",
						// 	};
						// }
					} else {
						if (existencias < this.articulo.cantidad) {
							if (this.solicitudActiva.idEtapa == 3) {
								this.status = {
									text: "En compra",
									icon: "fas fa-dollar-sign text-secondary",
								};
							} else if (this.solicitudActiva.idEtapa == 2) {
								this.status = {
									text: "Sin existencias",
									icon: "fas fa-business-time text-secondary",
								};
							}
						}
					}
				}
			}
		},
	},
	computed: {
		...mapState("alm_ss_solicitudes", ["solicitudActiva"]),
		...mapState("alm_inventario_activos", ["listActivos"]),
		...mapState("co_sc_orden_compra", ["listOrdenesCompra"]),
	},
};
</script>
