<template>
	<b-overlay
		:show="overlay"
		rounded="sm"
		opacity="1.0"
		blur="1px"
		variant="transparent"
	>
		<hr class="mt-0" />
		<b-row>
			<b-col>
				<b-row>
					<b-col lg="6">
						<h6 class="mb-0">{{ usuario.nombreUsuario }}</h6>
					</b-col>
					<b-col lg="6" class="text-right">
						<h6 class="mb-0">{{ fechaSolicitud }}</h6>
					</b-col>
				</b-row>
				<hr />
				<b-alert variant="danger" class="p-2" show v-if="errorSubmit">
					<h6 class="text-center mt-2">
						<i class="fas fa-exclamation-triangle mr-2"></i>
						Ha ocurrido un problema al enviar la solicitud
					</h6>
				</b-alert>

				<b-row>
					<b-col lg="6">
						<b-form-group>
							<template v-slot:label>
								<div class="lab-form">
									Tipo de Pedido<span class="req">*</span>
								</div>
							</template>
							<b-form-select
								v-model="$v.form.tipoPedido.$model"
								:options="tiposPedido"
								:state="
									$v.form.tipoPedido.$dirty
										? !$v.form.tipoPedido.$error
										: null
								"
							>
								<template v-slot:first>
									<option :value="null" disabled
										>Seleccione</option
									>
								</template>
							</b-form-select>
							<b-form-invalid-feedback id="feedback-tipo-pedido">
								Campo obligatorio
							</b-form-invalid-feedback>
						</b-form-group>
					</b-col>
					<b-col lg="6">
						<b-form-group>
							<template v-slot:label>
								<div class="lab-form">
									Fecha de Entrega Requerida<span class="req"
										>*</span
									>
								</div>
							</template>
							<b-form-input
								id="fechaRegreso"
								type="date"
								class=""
								v-model="$v.form.fechaEntrega.$model"
								:state="
									$v.form.fechaEntrega.$dirty
										? !$v.form.fechaEntrega.$error
										: null
								"
							>
							</b-form-input>
							<b-form-invalid-feedback
								id="feedback-fecha-entrega"
							>
								Campo obligatorio
							</b-form-invalid-feedback>
						</b-form-group>
					</b-col>
				</b-row>

				<b-row>
					<b-col lg="6">
						<b-form-group>
							<template v-slot:label>
								<div class="lab-form">
									Unidad de Negocio<span class="req">*</span>
								</div>
							</template>
							<b-form-select
								:options="unidadesNegocio"
								v-model="$v.form.unidadNegocio.$model"
								:state="
									$v.form.unidadNegocio.$dirty
										? !$v.form.unidadNegocio.$error
										: null
								"
							>
								<template v-slot:first>
									<option :value="null" disabled
										>Seleccione</option
									>
								</template>
							</b-form-select>
							<b-form-invalid-feedback id="feedback-tipoCuenta">
								Campo obligatorio
							</b-form-invalid-feedback>
						</b-form-group>
					</b-col>
					<b-col lg="6">
						<b-form-group>
							<template v-slot:label>
								<div class="lab-form">
									Cuenta<span class="req">*</span>
								</div>
							</template>
							<b-form-input
								readonly
								v-model="$v.form.cuenta.$model"
								placeholder="Asigne una cuenta"
								:state="
									$v.form.cuenta.$dirty
										? !$v.form.cuenta.$error
										: null
								"
							>
							</b-form-input>

							<b-form-invalid-feedback id="feedback-proveedor">
								Campo obligatorio
							</b-form-invalid-feedback>

							<b-button
								v-if="form.cuenta"
								variant="link"
								class="text-secondary float-right"
								style="cursor: pointer"
								@click="cambiarCuenta()"
								><small>Cambiar cuenta</small>
							</b-button>

							<b-button
								v-else
								variant="link"
								class="text-secondary float-right"
								style="cursor: pointer"
								@click="asignar('cuenta')"
								><small>Asignar cuenta</small>
							</b-button>
						</b-form-group>
					</b-col>
				</b-row>

				<fieldset class="scheduler-border">
					<legend class="scheduler-border" style="font-size: 17px;">
						<strong>Artículos</strong>
					</legend>
					<b-row>
						<b-col lg="5">
							<b-form-group>
								<template v-slot:label>
									<div class="lab-form">
										Cantidad
									</div>
								</template>
								<b-form-input
									v-model="cantidad"
									size="sm"
									type="number"
								>
								</b-form-input>
								<small
									class="text-danger"
									v-show="errorCantidad"
									>Requerido</small
								>
							</b-form-group>
						</b-col>
						<b-col lg="5" v-if="nuevoArt">
							<b-form-group>
								<template v-slot:label>
									<div class="lab-form">
										Unidad
									</div>
								</template>
								<b-form-select
									v-model="unidad"
									size="sm"
									:options="unidades"
								>
									<template v-slot:first>
										<option :value="null" disabled
											>Seleccione</option
										>
									</template>
								</b-form-select>
								<small class="text-danger" v-show="errorUnidad"
									>Requerido</small
								>
							</b-form-group>
						</b-col>
						<b-col lg="12">
							<b-form-group>
								<template v-slot:label>
									<div class="lab-form">
										Descripción
									</div>
								</template>

								<template v-if="!nuevoArt">
									<alm-activos-modal-select />
									<b-button
										variant="link"
										class="text-secondary float-right mb-0"
										style="cursor:pointer"
										@click="nuevoArticulo"
										><small>Nuevo articulo</small></b-button
									>
								</template>
								<template v-if="nuevoArt">
									<b-form-textarea
										ref="articulo"
										v-model="descripcion"
										@input="descripcionToUpper"
										size="sm"
										rows="1"
										placeholder="Ingrese la descripción del artículo"
									>
									</b-form-textarea>
									<b-button
										variant="link"
										class="text-secondary float-right mb-0"
										style="cursor:pointer"
										@click="buscarEnInventario"
										><small
											>Articulos en inventario</small
										></b-button
									>
								</template>

								<small
									class="text-danger"
									v-show="errorDescripcion"
									>Requerido</small
								>
							</b-form-group>
						</b-col>
						<b-col lg="9"></b-col>
						<b-col lg="3">
							<b-button
								size="sm"
								block
								float-right
								@click="agregarArticulo"
								>Agregar</b-button
							>
						</b-col>
					</b-row>
					<b-table-simple
						bordered
						hover
						small
						caption-top
						responsive
						style="font-size: 11px"
						class="mt-3"
					>
						<b-thead class="bg-light text-center">
							<b-tr>
								<b-th style="width: 15%;">Cant.</b-th>
								<b-th style="width: 15%;">Unidad</b-th>
								<b-th style="width: 70%;" class="text-left"
									>Descripción</b-th
								>
							</b-tr>
						</b-thead>
						<b-tbody>
							<b-tr
								v-for="(articulo, index) in form.articulos"
								:key="index"
							>
								<b-td
									class="align-middle text-center"
									id="articulo"
								>
									<template>
										<font id="articulo-text">
											{{ articulo.cantidad }}
										</font>

										<b-link
											id="articulo-link"
											class="text-danger"
											@click="
												showMsgBoxDeleteConfirm(index)
											"
										>
											<i class="fas fa-trash"></i>
										</b-link>
									</template>
								</b-td>
								<b-td class="align-middle text-center">{{
									articulo.unidad
								}}</b-td>
								<b-td class="align-middle text-left">{{
									articulo.descripcion
								}}</b-td>
							</b-tr>
							<b-tr
								v-if="!form.articulos.length"
								class="text-center"
							>
								<b-td colspan="3">
									<h5
										class="p-3 mb-0"
										style="font-size: 12px;"
									>
										No se han registrado articulos
									</h5>
								</b-td>
							</b-tr>
						</b-tbody>
					</b-table-simple>
				</fieldset>

				<fieldset class="scheduler-border">
					<legend class="scheduler-border" style="font-size: 17px;">
						<strong>Cotización (pdf o imagen)</strong>
					</legend>

					<b-form-group class="mb-3 mt-2">
						<b-form-file
							placeholder="No se ha seleccionado ningún archivo"
							@change="setFile"
							:state="
								$v.form.file.$dirty
									? !$v.form.file.$error
									: null
							"
							accept="image/*, application/pdf"
						>
						</b-form-file>
					</b-form-group>
				</fieldset>

				<b-form-group>
					<template v-slot:label>
						<div class="lab-form">
							Observaciones<span class="req">*</span>
						</div>
					</template>
					<b-form-textarea
						placeholder="Ingrese en caso de tener observaciones"
						rows="3"
						v-model="$v.form.observaciones.$model"
						@input="observacionesToUpper"
						:state="
							$v.form.observaciones.$dirty
								? !$v.form.observaciones.$error
								: null
						"
					>
					</b-form-textarea>
					<b-form-invalid-feedback id="feedback-objetivo-viatico">
						Campo obligatorio
					</b-form-invalid-feedback>
				</b-form-group>

				<div class="d-flex flex-row-reverse bd-highlight">
					<b-button
						variant="danger"
						class="ml-3 my-2"
						@click="submit"
						:disabled="disabledSubmit"
					>
						GUARDAR
					</b-button>
					<b-button
						variant="white"
						class="link-light my-2"
						@click="cancel"
					>
						CANCELAR
					</b-button>
				</div>
			</b-col>
			<b-col v-if="asignarCuenta" class="border-left">
				<tipo-cuenta-component
					@setCuenta="setCuenta($event)"
					:dataCuentaEdit="dataCuentaEdit"
					:seccion="'co.ss'"
					@cancelar="terminarAsignar"
				/>
			</b-col>
		</b-row>
	</b-overlay>
</template>

<script>
import { mapMutations, mapState, mapActions } from "vuex";
import { required } from "vuelidate/lib/validators";

export default {
	props: {},
	data() {
		return {
			nuevoArt: false,
			load: true,
			errorSubmit: false,
			overlay: false,

			form: {
				idEtapa: 2, // Solicitud de suministros
				fechaSolicitud: "",
				fechaEntrega: "",
				unidadNegocio: null,
				tipoPedido: null,
				tipoCuenta: "",
				cuenta: "",
				observaciones: null,
				articulos: [],
				file: "",
			},

			cantidad: 1,
			unidad: null,
			descripcion: null,

			errorCantidad: false,
			errorUnidad: false,
			errorDescripcion: false,

			asignarCuenta: false,
			dataCuentaEdit: null,

			unidades: ["PZA", "LTRO", "SER", "JUEGO", "GALON", "PAR", "METRO"],
			tiposPedido: ["Normal", "Urgente"],
			unidadesNegocio: [],
		};
	},
	mounted() {
		this.getUnidadesNegocio();
	},
	methods: {
		...mapMutations("alm_inventario_activos", [
			"setTreeselectActivo",
			"setActivoSelected",
		]),

		...mapMutations("alm_ss_solicitudes", [
			"addSolicitud",
			"updateSolicitud",
		]),

		...mapMutations(["modalSubmit", "modalOk"]),

		async submit() {
			this.overlay = true;
			this.errorSubmit = false;
			this.$v.$touch();

			if (!this.$v.$invalid) {
				try {
					const date = new Date();
					this.form.fechaSolicitud = moment(date).format(
						"YYYY-MM-DD"
					);

					const data = new FormData();
					data.append("idUsuario", this.usuario.idUsuario);
					data.append("idEtapa", this.form.idEtapa);
					data.append("fechaSolicitud", this.form.fechaSolicitud);
					data.append("fechaEntrega", this.form.fechaEntrega);
					data.append("unidadNegocio", this.form.unidadNegocio);
					data.append("tipoPedido", this.form.tipoPedido);
					data.append("tipoCuenta", this.form.tipoCuenta);
					data.append("cuenta", this.form.cuenta);
					data.append("observaciones", this.form.observaciones);
					data.append(
						"articulos",
						JSON.stringify(this.form.articulos)
					);
					data.append("file", this.form.file);

					const response = await axios.post(
						BaseUrl + `/api/alm/ss/solicitud`,
						data
					);
					if (response.data.success) {
						this.addSolicitud(response.data.solicitud);
						this.modalSubmit(true);
						this.overlay = false;
					} else {
						this.modalOk(false);
					}
				} catch (e) {
					console.log(e);
					this.overlay = false;
					this.errorSubmit = true;
				}
			} else {
				this.overlay = false;
			}
		},
		cancel() {
			this.$bvModal.hide("modal-solicitud");
		},
		getUnidadesNegocio() {
			axios
				.get(BaseUrl + `/api/fn/cuentas-internas/unidad-negocio/select`)
				.then((response) => {
					if (response.data) {
						this.unidadesNegocio = response.data.map(
							(cuenta) => cuenta.unidadNegocio
						);
					}
				});
		},
		descripcionToUpper(val) {
			this.descripcion = val.toUpperCase();
		},
		observacionesToUpper(val) {
			this.form.observaciones = val.toUpperCase();
		},
		agregarArticulo() {
			let tipo = "Nuevo";
			let idActivo = null;
			if (!this.nuevoArt) {
				if (this.activoSelected) {
					tipo = "Inventario";
					idActivo = this.activoSelected.idActivo;
					this.unidad = this.activoSelected.unidad;
					this.descripcion = this.activoSelected.articulo;
				}
			}
			if (this.cantidad != 0 && this.unidad && this.descripcion) {
				this.form.articulos.push({
					unidad: this.unidad,
					cantidad: this.cantidad,
					descripcion: this.descripcion,
					tipo: tipo,
					idActivo: idActivo,
				});
				this.clearInputArt();
				this.setTreeselectActivo(null);
				this.setActivoSelected(null);
			}
		},
		clearInputArt() {
			this.cantidad = 1;
			this.unidad = null;
			this.descripcion = null;
		},

		buscarEnInventario() {
			this.nuevoArt = false;
		},
		nuevoArticulo() {
			this.nuevoArt = true;
			setTimeout(this.focusDominio, 100);
		},
		focusDominio() {
			this.$refs.articulo.focus();
		},
		setFile(e) {
			this.form.file = e.target.files[0];
		},

		//METODODS PARA ASIGNACIÓN DE CUENTA
		asignar(tipo) {
			this.$emit("setSizeModal", "xl");
			this.asignarCuenta = true;
		},
		terminarAsignar() {
			this.$emit("setSizeModal", "md");
			this.asignarCuenta = false;
		},
		setCuenta(dataCuenta) {
			this.$v.form.tipoCuenta.$model = dataCuenta.tipoCuenta;
			this.$v.form.cuenta.$model = dataCuenta.cuenta;
			this.terminarAsignar();
		},
		cambiarCuenta() {
			this.dataCuentaEdit = {
				cuenta: this.form.cuenta,
				tipoCuenta: this.form.tipoCuenta,
			};
			this.asignar("cuenta");
		},
		//TERMINAN METODOS PARA ASIGNACIÓN DE CUENTA

		// REMOVER LOS ARTICULO REGISTRADOS
		showMsgBoxDeleteConfirm(index) {
			this.$bvModal
				.msgBoxConfirm(
					`¿Está seguro de que desea eliminar este articulo?`,
					{
						title: "Favor de confirmar",
						size: "sm",
						buttonSize: "sm",
						okVariant: "danger",
						cancelVariant: "light",
						okTitle: "Confirmar",
						cancelTitle: "Cancelar",
						headerClass: "pt-3 pb-2 border-bottom-0",
						footerClass: "p-2 border-top-0",
						centered: true,
					}
				)
				.then((confirm) => {
					if (confirm) {
						this.remove(index);
					}
				});
		},
		remove(index) {
			this.form.articulos.splice(index, 1);
		},
		// TERMINA METODOS PARA REMOVER ARTICULOS
	},
	computed: {
		...mapState(["usuario", "okModal"]),
		...mapState("alm_inventario_activos", ["activoSelected"]),

		fechaSolicitud() {
			const date = new Date();
			return moment(date).format("ll");
		},
		disabledSubmit() {
			return this.form.articulos.length ? false : true;
		},
	},
	validations() {
		return {
			form: {
				idEtapa: {},
				fechaSolicitud: {},
				fechaEntrega: { required },
				unidadNegocio: { required },
				tipoPedido: { required },
				tipoCuenta: {},
				cuenta: { required },
				observaciones: {},
				articulos: {},
				file: {},
			},
		};
	},
};
</script>

<style>
.activate:hover {
	background-color: rgba(159, 161, 164, 0.1);
	transition: all 0.2s linear;
}
#articulo-link {
	display: none;
}
#articulo:hover #articulo-link {
	display: block;
}
#articulo:hover #articulo-text {
	display: none;
}
</style>
