<template>
	<b-overlay
		:show="overlay"
		rounded="sm"
		opacity="1.0"
		blur="1px"
		variant="transparent"
	>
		<template v-if="!solicitudArchivada">
			<b-alert show variant="warning">
				<i class="fas fa-exclamation-triangle mr-2"></i>¿Está seguro de que desea archivar la solicitud?
			</b-alert>

			<b-form-group>
				<template v-slot:label>
					<div class="lab-form">
						Comentarios<span class="req"
							>*</span
						>
					</div>
				</template>

				<b-form-textarea
			      	id="textarea"
			      	v-model="$v.form.comentarios.$model"
			      	:state="
						$v.form.comentarios.$dirty
							? !$v.form.comentarios.$error
							: null
					"
			      	placeholder="Ingresa tus comentarios aquí..."
			      	rows="3"
			      	max-rows="6"
			    ></b-form-textarea>
			    <b-form-invalid-feedback
					id="feedback-fecha-entrega"
				>
					Campo obligatorio
				</b-form-invalid-feedback>
			</b-form-group>

			<div class="d-flex flex-row-reverse bd-highlight mt-3">
				<b-button variant="danger" class="ml-3 my-2" @click="submit">
					ARCHIVAR
				</b-button>
				<b-button
					variant="white"
					class="link-light my-2"
					@click="cancel"
				>
					CANCELAR
				</b-button>
			</div>
		</template>
		<template v-if="solicitudArchivada">
			<b-alert show variant="success" class="mb-3">
				<h5 class="mb-1 text-center">
					<i class="far fa-check-circle mr-1 mb-0"></i> Se ha archivado la solicitud
				</h5>
			</b-alert>
		</template>
	</b-overlay>
</template>

<script>
import { mapState, mapMutations, mapActions } from "vuex";
import { required } from "vuelidate/lib/validators";

export default {
	data() {
		return {
			errorSubmit: false,
			overlay: false,
			solicitudArchivada: false,
			form: {
				idSolicitud: null,
				comentarios: null,
			}
		};
	},
	mounted() {},
	methods: {
		...mapActions("alm_ss_solicitudes", ["getArticulos"]),
		...mapMutations("alm_ss_solicitudes", [
			"updateSolicitud",
			"setSolicitudActiva",
		]),

		async submit() {
			this.$v.$touch();
			this.overlay = true;
			this.errorSubmit = false;
			if (!this.$v.$invalid) {
				try {
					this.overlay = true;
					this.form.idSolicitud = this.solicitudActiva.idSolicitud;
					const response = await axios.put(
						BaseUrl + `/api/alm/ss/archivar/solicitud`,
						this.form
					);
					if (response.data.success) {
						this.overlay = false;
						this.solicitudArchivada = true;
						this.getArticulos(this.solicitudActiva.idSolicitud);
						this.updateSolicitud(response.data.solicitudSuministro);
						this.setSolicitudActiva(null);
					}else {
						this.overlay = false;
					}
				} catch (e) {
					console.log(e);
					this.overlay = false;
					this.errorSubmit = true;
				}
			}else {
				this.overlay = false;
			}
		},
		cancel() {
			this.$bvModal.hide("modal-archivar-solicitud");
		},
	},
	computed: {
		...mapState("alm_ss_solicitudes", ["solicitudActiva"]),
	},
	validations() {
		return {
			form: {
				idSolicitud: {},
				comentarios: { required },
			},
		};
	},
};
</script>