<template>
	<b-overlay
		:show="overlay"
		rounded="sm"
		opacity="1.0"
		blur="1px"
		variant="transparent"
	>
		<template v-if="!solicitudEnviada">
			<b-alert show variant="warning">
				<i class="fas fa-exclamation-triangle mr-2"></i>¿Esta seguro de
				que desea solicitar la compra de los artículos faltantes de esta
				solicitud de suministros?
			</b-alert>
			<div class="d-flex flex-row-reverse bd-highlight mt-3">
				<b-button variant="danger" class="ml-3 my-2" @click="submit">
					SOLICITAR
				</b-button>
				<b-button
					variant="white"
					class="link-light my-2"
					@click="cancel"
				>
					CANCELAR
				</b-button>
			</div>
		</template>
		<template v-if="solicitudEnviada">
			<b-alert show variant="success" class="mb-3">
				<h5 class="mb-1 text-center">
					<i class="far fa-check-circle mr-1 mb-0"></i> Se ha enviado
					correctamente tu solicitud
				</h5>
			</b-alert>
		</template>
	</b-overlay>
</template>

<script>
import { mapState, mapMutations, mapActions } from "vuex";
export default {
	data() {
		return {
			overlay: false,
			solicitudEnviada: false,

			form: {
				idSolicitud: null,
				idEtapaSS: 3, // Solicitud de compra
				idEtapaSC: 2, // Solicitud de orden de compra
			},
		};
	},
	mounted() {},
	methods: {
		...mapActions("alm_ss_solicitudes", ["getArticulos"]),
		...mapMutations("alm_ss_solicitudes", [
			"updateSolicitud",
			"updateSolicitudActiva",
		]),

		async submit() {
			try {
				this.form.idSolicitud = this.solicitudActiva.idSolicitud;
				this.overlay = true;
				const response = await axios.put(
					BaseUrl + `/api/alm/ss/solicitar/compra`,
					this.form
				);
				this.overlay = false;
				if (response.data.success) {
					this.solicitudEnviada = true;
					this.getArticulos(this.solicitudActiva.idSolicitud);
					this.updateSolicitud(response.data.solicitudSuministro);
					this.updateSolicitudActiva(
						response.data.solicitudSuministro
					);
				}
			} catch (e) {}
		},
		cancel() {
			this.$bvModal.hide("modal-solicitar-compra");
		},
	},
	computed: {
		...mapState("alm_ss_solicitudes", ["solicitudActiva"]),
	},
};
</script>
