<template>
	<b-list-group-item
		href="#"
		@click="setSolicitud"
		class="flex-column align-items-start p-2 bg-light border-light"
		:class="buttonClass"
	>
		<b-media class="bg-white" :class="buttonClass2" style="padding: 10px;">
			<template v-slot:aside>
				<b-avatar :src="urlImage"></b-avatar>
			</template>
			<div class="d-flex w-100 justify-content-between">
				<h6 class="mb-1" style="font-size:14px">
					Solicitud #{{ solicitud.idSolicitud }}
				</h6>
				<small class="text-secondary">{{ atTime }}</small>
			</div>
			<div
				class="d-flex w-100 justify-content-between"
				style="margin-bottom: -5px;"
			>
				<p class="mb-0" style="font-size:11px">
					{{ solicitud.usuario.nombreUsuario }}
				</p>
				<br />

				<!-- ICONOS ETAPAS -->
				<div>
					<i :class="classIcon1" class="mr-2"></i>
					<b-spinner
						v-if="spinnerShowSC"
						small
						type="grow"
						variant="danger"
						style="margin-top: -5px !important"
					></b-spinner>

					<b-spinner
						v-if="spinnerShow"
						small
						type="grow"
						variant="success"
						style="margin-top: -5px !important"
					></b-spinner>
				</div>
			</div>
			<div style="font-size:11px" class="mt-1">
				<strong>C:</strong>
				{{ solicitud.cuenta }}
			</div>
		</b-media>
	</b-list-group-item>
</template>

<script>
import { mapState, mapMutations, mapActions } from "vuex";
export default {
	props: {
		solicitud: Object,
	},
	data() {
		return {};
	},
	methods: {
		...mapMutations("alm_ss_solicitudes", ["setSolicitudActiva"]),
		...mapActions("alm_ss_solicitudes", ["getArticulos"]),
		...mapActions("co_conf_autorizaciones", ["getAutorizaciones"]),

		setSolicitud() {
			this.setSolicitudActiva(this.solicitud);
			this.getArticulos(this.solicitud.idSolicitud);
			this.getAutorizaciones();
		},
		hasPermission(funcion) {
			if (this.permissions.length) {
				const permiso = this.permissions.find(
					(permiso) => permiso.idFuncion == funcion
				);
				if (permiso) return true;
				return false;
			}
		},
	},
	computed: {
		...mapState("alm_ss_solicitudes", ["solicitudActiva"]),
		...mapState(["permissions", "usuario"]),

		atTime() {
			moment.locale("es");
			const time = moment(this.solicitud.created_at).fromNow();
			return time.charAt(0).toUpperCase() + time.slice(1);
		},
		urlImage() {
			return BaseUrl + this.solicitud.usuario.ruta;
		},
		classIcon1() {
			switch (this.solicitud.idEtapa) {
				case 1: // Archivadas
					return "text-danger fas fa-times-circle";
					break;
				case 2: // Solicitud de suministro
					return "text-secondary far fa-check-circle";
					break;
				case 3: // Solicitud de compra
					return "text-secondary far fa-check-circle";
					break;
				case 4: // Recepción de mercancía
					return "text-success far fa-check-circle";
					break;
				case 5: // Terminado
					return "text-success fas fa-check-double";
					break;
				default:
					return "text-secondary far fa-check-circle";
					break;
			}
		},
		buttonClass() {
			if (this.solicitudActiva) {
				if (
					this.solicitud.idSolicitud ==
					this.solicitudActiva.idSolicitud
				)
					return "bg-ligth-active";
			} else return "";
		},
		buttonClass2() {
			if (this.solicitudActiva) {
				if (
					this.solicitud.idSolicitud ==
					this.solicitudActiva.idSolicitud
				)
					return "bg-ligth-2-active";
			}
		},
		spinnerShow() {
			if (this.permissions.length) {
				if (
					this.solicitud.idEtapa == 4 &&
					this.hasPermission("alm.ss.solicitudes.administrar")
				)
					return true;
			}
		},
		spinnerShowSC() {
			if (this.permissions.length) {
				if (
					this.solicitud.idEtapa == 3 &&
					this.hasPermission("alm.ss.solicitudes.solicitar.compra")
				)
					return true;
			}
		}
	},
};
</script>
<style>
.bg-ligth-active {
	background-color: rgb(206 214 220) !important;
}
.bg-ligth-2-active {
	background-color: #eef2f5 !important;
}
.spinner-grow-sm {
	width: 1.2rem !important;
	height: 1.2rem !important;
}
</style>
