<template>
	<div>
		<div class="container-fluid" style="height: calc(100vh - 56px)">
			<b-row class="h-100">
				<b-col md="4" lg="3" sm="12" class="h-100 px-0 shadow">
					<div class="h-100 border-right bg-light">
						<div
							class="d-flex justify-content-between align-items-center p-3 mb-3 border-bottom"
							style="max-height: 73px"
						>
							<h3
								class="text-dark ml-3 mt-2"
								style="font-size: 30px; margin-bottom: 1.25px"
							>
								Solicitudes
								<b-badge
									variant="warning"
									style="font-size: 15px; cursor: pointer"
									@click="toAdminView"
									>Admin</b-badge
								>
							</h3>

							<b-dropdown
								v-if="
									hasPermission(
										'alm.ss.solicitudes.solicitar'
									)
								"
								id="dropdown-solicitud"
								text="Nueva"
								class="m-md-2 mr-2"
								variant="danger"
							>
								<b-dropdown-item @click="openModal()">
									Solicitud de suministro
								</b-dropdown-item>
							</b-dropdown>
						</div>

						<div
							v-if="
								hasPermission('alm.ss.solicitudes.administrar')
							"
							class="mb-2"
						>
							<alm-ss-solicitudes-tipos-component />
							<hr />
						</div>

						<div class="mb-3">
							<alm-ss-solicitudes-filters-component />
						</div>
						<alm-ss-solicitudes-list-solicitudes-component />
					</div>
				</b-col>
				<b-col md="8" lg="9" class="px-0" v-if="!solicitudActiva">
					<div style="height: calc(100vh - 50px)">
						<icon-text-component
							:icon="'fas fa-comment-alt'"
							:text="'NO SE HA SELECCIONADO NINGUNA SOLICITUD'"
							:circleStyle="{
								backgroundColor: '#f5f5f6',
								color: '#a8aeb3',
							}"
						/>
					</div>
				</b-col>
				<b-col md="8" lg="9" class="h-100" v-else>
					<b-row class="bg-light border-bottom" style="height: 73px">
						<b-col
							lg="12"
							class="p-3 bg-white shadow-sm border-bottom"
						>
							<h2 class="text-center my-1">
								SOLICITUD DE SUMINISTRO #{{
									solicitudActiva.idSolicitud
								}}
								<i
									v-if="solicitudActiva.idEtapa == 5"
									class="fas fa-certificate pl-2 text-success"
								></i>

								<b-link
									v-b-modal.modal-archivar-solicitud
									v-if="
										(solicitudActiva.idEtapa == 2 ||
											solicitudActiva.idEtapa == 3) &&
											hasPermission(
												'alm.ss.solicitudes.archivar'
											)
									"
									v-b-tooltip.hover
									title="Archivar solicitud"
								>
									<i
										class="fas fa-archive pl-3 text-danger"
										style="font-size: 23px;"
									></i>
								</b-link>
							</h2>
						</b-col>
					</b-row>
					<div class="scroll-solicitud">
						<alm-ss-solicitudes-detalles-component
							@openSidebar="openSidebar($event)"
						/>

						<b-button-group size="sm" class="mt-3">
							<b-button
								style="font-size: 13px;"
								:class="{
									'btn-secondary': activeAS,
									'btn-light': !activeAS,
								}"
								class="shadows"
								squared
							>
								<h5
									class="display-1 my-1 mx-4"
									:class="{
										'btn-active-bold': activeAS,
										'btn-active-bolder': !activeAS,
									}"
									style="font-size: 13px; letter-spacing: 1.1px;"
								>
									Artículos solicitados
								</h5>
							</b-button>
						</b-button-group>

						<alm-ss-solicitudes-articulos-component
							v-if="activeAS"
						/>
					</div>
				</b-col>
			</b-row>
		</div>

		<!-- MODALS -->
		<modal-component
			:title="tituloModalSolicitud"
			:id="'modal-solicitud'"
			:size-modal="sizeModalSolicitud"
			:hideFooter="true"
			:hideHeader="true"
			:centered="true"
		>
			<template slot="content">
				<alm-ss-solicitudes-form-solicitud-component
					@setSizeModal="setSizeModalSolicitud"
				/>
			</template>
			<span slot="buttons"></span>
		</modal-component>

		<modal-component
			:title="'Archivar solicitud'"
			:id="'modal-archivar-solicitud'"
			:hideFooter="true"
			:hideHeader="true"
			:centered="true"
		>
			<template slot="content">
				<alm-ss-form-archivar-solicitud-component />
			</template>
			<span slot="buttons"></span>
		</modal-component>

		<b-sidebar
			id="sidebar-details-ss"
			shadow
			right
			no-header
			backdrop-variant="transparent"
			bg-variant="light"
			text-variant="dark"
			width="480px"
			:visible="showSidebar"
			@hidden="hiddenSidebar"
		>
			<template v-slot:default="{ hide }">
				<alm-ss-solicitudes-content-sidebar-component
					v-if="showSidebar"
					:solicitudActiva="solicitudActiva"
					@hide="hide($event)"
				/>
			</template>
		</b-sidebar>

		<modal-component
			:id="'modal-archivado'"
			:title="titleArchivado"
			:hideFooter="true"
			:hideHeader="true"
			:centered="true"
		>
			<template slot="content" v-if="solicitudActiva">
				<h5>{{ textModalArchivado }}</h5>
				<div class="mt-3">
					<p class="mt-2">
						<strong>Comentarios:</strong>
					</p>
					<p class="bg-light p-3">
						{{ solicitudActiva.comentarios }}
					</p>
				</div>
				<b-row class="mt-4 mb-2">
					<b-col lg="12">
						<b-button
							variant="danger"
							class="ml-3 mt-2 float-right"
							@click="close('modal-archivado')"
						>
							ACEPTAR
						</b-button>
					</b-col>
				</b-row>
			</template>
		</modal-component>
	</div>
</template>

<script>
import { mapState, mapActions, mapMutations, mapGetters } from "vuex";
import { required } from "vuelidate/lib/validators";
export default {
	data() {
		return {
			sizeModalSolicitud: "md",
			tituloModalSolicitud: "",
			activeAS: true,
			showSidebar: false,
			titleArchivado: "",
			textModalArchivado: "",
		};
	},
	mounted() {
		this.getActivos();
		if (this.permissions.length) this.setTipoSolicitudesByPermission();
		if (this.solicitudActiva && !this.listArticulos.length)
			this.getArticulos(this.solicitudActiva.idSolicitud);
	},
	methods: {
		...mapActions("alm_ss_solicitudes", ["getArticulos"]),
		...mapActions("alm_inventario_activos", ["getActivos"]),
		...mapActions("alm_ss_solicitudes", [
			"getSolicitudes",
			"getSolicitudesByUsuario",
		]),
		...mapMutations("alm_ss_solicitudes", [
			"updateSolicitud",
			"updateSolicitudActiva",
			"setTipoSolicitudes",
		]),
		hasPermission(funcion) {
			if (this.permissions.length) {
				const permiso = this.permissions.find(
					(permiso) => permiso.idFuncion == funcion
				);
				if (permiso) return true;
				return false;
			}
		},
		setTipoSolicitudesByPermission() {
			if (this.hasPermission("alm.ss.solicitudes.administrar")) {
				this.setTipoSolicitudes("todas");
				this.getSolicitudes();
			} else {
				this.setTipoSolicitudes("misSolicitudes");
				this.getSolicitudesByUsuario(this.usuario.idUsuario);
			}
		},
		toAdminView() {
			this.$router.push(BaseUrl + `/compras/ss/admin-solicitudes`);
		},
		close(modal) {
			this.$bvModal.hide(modal);
		},
		openModal() {
			this.tituloModalSolicitud = "Nueva solicitud de suministro";
			this.$bvModal.show("modal-solicitud");
		},
		setSizeModalSolicitud(size) {
			this.sizeModalSolicitud = size;
		},
		openSidebar(val) {
			this.showSidebar = val;
		},
		hiddenSidebar() {
			this.showSidebar = false;
		},
		solicitudArchivada() {
			this.titleArchivado = "Solicitud archivada";
			this.textModalArchivado = "Esta solicitud ha sido archivada.";
			this.$bvModal.show("modal-archivado");
		},
	},
	computed: {
		...mapState("alm_ss_solicitudes", [
			"solicitudActiva",
			"listSolicitudes",
			"tipoSolicitudes",
			"listArticulos",
		]),

		...mapState(["permissions", "usuario"]),
	},
	watch: {
		permissions() {
			this.setTipoSolicitudesByPermission();
		},
		solicitudActiva() {
			if (this.solicitudActiva.idEtapa == 1) {
				this.solicitudArchivada();
			}
		},
	},
};
</script>

<style>
.scroll-solicitud {
	max-height: calc(100vh - 130px);
	overflow-y: auto;
}
.btn-active-bold {
	font-weight: bold;
}
.btn-active-bolder {
	font-weight: 400;
}
</style>
