<template>
	<div class="mx-2 d-flex w-100 justify-content-between">
		<div>
			<b-nav>
				<b-nav-item
					class="button-autorizaciones"
					@click="
						setTipoSolicitudes('todas');
						getSolicitudes();
					"
				>
					<label
						class="text-secondary"
						style="cursor: pointer; font-size: 11px"
					>
						<i
							class="fas fa-user-shield"
							style="margin-right: 1px"
						></i>
						<b>TODAS</b>
					</label>
					<hr
						v-show="tipoSolicitudes == 'todas'"
						style="border-top: 3px solid rgb(193 55 37)"
						class="my-0"
					/>
				</b-nav-item>

				<b-nav-item
					@click="
						setTipoSolicitudes('misSolicitudes');
						getSolicitudesByUsuario(usuario.idUsuario);
					"
					class="pr-0"
				>
					<label
						class="text-secondary"
						style="cursor: pointer; font-size: 11px"
					>
						<i
							class="fas fa-hand-holding-usd"
							style="margin-right: 1px"
						></i>
						<b>MIS SOLICITUDES</b>
					</label>
					<hr
						v-show="tipoSolicitudes == 'misSolicitudes'"
						style="border-top: 3px solid rgb(193 55 37)"
						class="my-0"
					/>
				</b-nav-item>
			</b-nav>
		</div>
	</div>
</template>

<script>
import { mapState, mapActions, mapMutations } from "vuex";
export default {
	data() {
		return {
			selected: null,
		};
	},
	mounted() {},
	methods: {
		...mapActions("alm_ss_solicitudes", [
			"getSolicitudesByUsuario",
			"getSolicitudes",
		]),
		...mapMutations("alm_ss_solicitudes", ["setTipoSolicitudes"]),

		hasPermission(funcion) {
			if (this.permissions.length) {
				const permiso = this.permissions.find(
					(permiso) => permiso.idFuncion == funcion
				);
				if (permiso) return true;
				return false;
			}
		},
	},
	computed: {
		...mapState(["permissions", "usuario"]),
		...mapState("alm_ss_solicitudes", ["tipoSolicitudes"]),
	},
};
</script>
