<template>
	<b-tr class="text-center">
		<td class="align-middle">
			<strong>{{ articulo.cantidad }}</strong>
		</td>

		<td class="align-middle">
			{{ articulo.unidad }}
		</td>

		<td class="align-middle">
			<div class="d-flex w-100 justify-content-between">
				{{ articulo.descripcion }}

				<label class="mb-0 mr-1" v-if="articulo.tipo == 'Nuevo'">
					<b-badge
						class="shadow-sm"
						variant="warning"
						style="font-size: 10px; "
						>{{ articulo.tipo }}</b-badge
					>
				</label>
			</div>
		</td>

		<td class="align-middle">
			<template v-if="busyField">
				<b-skeleton></b-skeleton>
			</template>

			<template v-else>
				<strong>{{ existencias }}</strong>
			</template>
		</td>

		<td class="align-middle">
			<template v-if="busyField">
				<b-skeleton></b-skeleton>
			</template>

			<template v-else>
				<strong>{{ faltantes }}</strong>
			</template>
		</td>

		<td class="align-middle">
			<alm-ss-estatus-articulo-component :articulo="articulo" />
		</td>

		<b-td class="text-center align-middle">
			<b-dropdown
				id="dropdown-left"
				right
				variant="link"
				class="py-0 my-0"
				no-caret
				size="sm"
				:disabled="!salida"
			>
				<template v-slot:button-content>
					<i class="fas fa-ellipsis-v px-2 py-0 text-secondary"></i>
				</template>

				<b-dropdown-item
					@click="showMsgBoxConfirm"
					style="font-size: 13px;"
				>
					<b-icon
						icon="box-arrow-in-right"
						font-scale="1"
						class="text-dark mr-2"
					>
					</b-icon>
					Dar salida
				</b-dropdown-item>
				<slot name="dropdown-more-actions"></slot>
			</b-dropdown>
		</b-td>
	</b-tr>
</template>

<script>
import { mapState, mapActions, mapMutations } from "vuex";

export default {
	props: {
		articulo: Object,
	},
	data() {
		return {
			activo: null,
			busyField: true,
		};
	},
	mounted() {
		this.setActivo();
	},
	methods: {
		...mapMutations("alm_ss_solicitudes", ["updateArticulo"]),
		...mapActions("alm_inventario_activos", ["getActivos"]),

		setActivo() {
			if (this.articulo.idActivo) {
				this.activo = this.listActivos.find(
					(activo) => activo.idActivo == this.articulo.idActivo
				);
				this.busyField = false;
			} else {
				this.activo = null;
				this.busyField = false;
			}
		},
		showMsgBoxConfirm() {
			this.$bvModal
				.msgBoxConfirm(
					`¿Está seguro de que desea dar salida al articulo ${this.activo.articulo}?`,
					{
						title: "Salida",
						size: "sm",
						buttonSize: "sm",
						okVariant: "danger",
						cancelVariant: "light",
						okTitle: "CONFIRMAR",
						cancelTitle: "CANCELAR",
						headerClass: "pt-3 pb-2 border-bottom-0",
						footerClass: "p-2 border-top-0",
						centered: true,
					}
				)
				.then((confirm) => {
					if (confirm) {
						this.output();
					}
				});
		},
		async output() {
			try {
				const response = await axios.put(
					BaseUrl +
						`/api/alm/ss/articulo/${this.articulo.idArticulo}/output`
				);
				if (response.data.success)
					this.updateArticulo(response.data.articulo);
				this.getActivos();
			} catch (error) {
				console.log(error);
			}
		},
		setObservaciones(observaciones) {
			return observaciones ? observaciones : "Sin observaciones";
		},
		hasPermission(funcion) {
			if (this.permissions.length) {
				const permiso = this.permissions.find(
					(permiso) => permiso.idFuncion == funcion
				);
				if (permiso) return true;
				return false;
			}
		},
	},
	computed: {
		...mapState(["permissions"]),
		...mapState("alm_inventario_activos", ["listActivos"]),

		existencias() {
			if (this.activo && !this.articulo.salida) {
				return this.activo.existencia;
			} else return 0;
		},
		faltantes() {
			if (
				this.articulo.cantidad > this.existencias &&
				!this.articulo.salida
			) {
				return this.articulo.cantidad - this.existencias;
			} else return 0;
		},
		salida() {
			if (this.hasPermission("alm.ss.solicitudes.salida.articulos")) {
				if (this.articulo.salida) {
					return false;
				} else {
					if (this.existencias >= this.articulo.cantidad) {
						return true;
					} else return false;
				}
			} else {
				return false;
			}
		},
	},
	watch: {
		articulo: {
			handler(val, oldVal) {
				this.setActivo();
			},
			deep: true,
		},
	},
};
</script>

<style>
.bg-td-success-light {
	background-color: #e0ffe1;
	color: #28a745;
}
.bg-td-warning-light {
	background-color: #fffcf2;
	color: #ffe187;
}
</style>
