<template> 
	<b-container fluid style="height: calc(100vh - 56px); overflow: auto">
		<b-card no-body class="mt-3 pt-2 pb-3">
			<b-row class="text-center">
				<b-col lg="2"></b-col>
				<b-col lg="8">
					<div class="mt-3">
						<h1 class="display-1" 
							style="font-size: 30px;" 
							align="center">			
							Inventarios de Equipos Electrónicos
						</h1>
					</div>
				</b-col>
				<b-col lg="2">
    				<b-button 
    					size="sm" class="float-right mt-3 mr-4" 
    					@click="equipo=null; titleModalEquipo='Agregar Equipo'"
    					v-b-modal.modal-equipo>
    					<i class="fas fa-user-plus mx-1"></i>
    					Agregar un equipo
    				</b-button>
    				<modal-component 
    					:title="titleModalEquipo" 
    					:id="'modal-equipo'"
    					:hideFooter="true">
    					<template slot="content"> 
	    					<si-form-equipo-component :equipo="equipo" />
	    				</template>
	    			</modal-component>
				</b-col>
			</b-row>
		</b-card>
		<b-row class="my-3">
			<b-col lg="2">
				<div class="input-group w-100 bg-white">
	    			<div class="input-group-prepend bg-light">
                        <div class="mr-3 ml-2">
                            <small><strong>Categorias:</strong></small>
                        </div>
                    </div>
                   <b-form-select 
                   		class="border-0"
						size="sm" 
						:options="tiposSelect"
						v-model="tipoSelected">	
						
						</b-form-select>
                 </div>
			</b-col>
			<b-col lg="2">
				<div class="input-group w-100 bg-white">
	    			<div class="input-group-prepend bg-light">
                        <div class="mr-3 ml-2">
                            <small><strong>Ver:</strong></small>
                        </div>
                    </div>
                   <b-form-select 
                   		class="border-0"
						size="sm" 
						:options="status"
						v-model="statusSelected">					
					</b-form-select>
                 </div>
			</b-col>
			<b-col lg="5"></b-col>
			<b-col lg="3">
				<div class="input-group w-100 bg-white">
	    			<div class="input-group-prepend bg-light mr-1 ml-3">
                        <div class="pt-1 bg-white">
                            <i class="fas fa-search"></i>
                        </div>
                    </div>
                    <b-form-input id="input-search" size="sm" class="form-control border-0" placeholder="Escribe tu busqueda aquí" style="" v-model="search"></b-form-input>
                 </div>
			</b-col>
		</b-row>
		<b-card class="mt-3 p-0" no-body style="max-height: calc(100vh - 260px); overflow-y:auto;">
			<b-table 
				ref="selectableTable"
				class="mb-0"
				:items="equiposByStatus" 
				:fields="fields" 
				responsive="sm" 
				selectable
				striped
				hover  
				:busy="isBusy"
				@row-selected="onRowSelected"
				select-mode="single"
				:current-page="currentPage"
				:per-page="perPage"
				:filter="search"
				show-empty
				:empty-filtered-text="'No se encontraron registros'"
				empty-text="No hay registros para mostrar">
				<template v-slot:table-busy>
					<div class="text-center text-secondary mt-5 mb-3">
						<b-spinner class="align-middle"></b-spinner>
						<strong>Cargando...</strong>
					</div>
				</template>

				<template v-slot:cell(status)="scope">
					{{ scope.item.status }}
				</template>

				<template v-slot:cell(actions)="scope">
					<div class="text-center">
						<b-dropdown id="dropdown-left" variant="light" size="sm" no-caret>
							<template v-slot:button-content>
								<i class="fas fa-ellipsis-v px-2"></i>
							</template>
							<b-dropdown-item v-b-modal.modal-equipo @click="equipo = scope.item; titleModalEquipo = 'Actualizar Equipo'">
								<i class="fas fa-edit px-2"></i> 
								Editar
							</b-dropdown-item>
						</b-dropdown>
					</div>
				</template>

				<template v-slot:cell(show_details)="row">
					<b-button size="sm" @click="row.toggleDetails" class="mr-2 py-0 px-1">
						<i class="fas fa-plus p-0"></i>
					</b-button>
				</template>

				<template v-slot:row-details="row">
					<b-card>
						
					</b-card>
				</template>
			</b-table>
		</b-card>	
		<b-row class="my-3">
			<b-col md="2">
				<div class="input-group w-75 bg-white">
	    			<div class="input-group-prepend bg-light">
                        <div class="mr-3 ml-2">
                            <small><strong>Por página:</strong></small>
                        </div>
                    </div>
                   <b-form-select 
                   		class="border-0"
						size="sm" 
						:options="pageOptions"
						v-model="perPage">					
						</b-form-select>
                 </div>
             </b-col>
             <b-col md="8"></b-col>
			<b-col md="2">
				<b-pagination
				v-model="currentPage"
				:total-rows="equiposByTipo.length"
				:per-page="perPage"
				align="fill"
				size="sm"
				class="my-0"
				></b-pagination>
			</b-col>
		</b-row>
		<div>
			<b-sidebar
			id="sidebar-backdrop"
			backdrop-variant="transparent"
			class="bg-light"
			shadow
			right
			bg-variant="dark"  
			text-variant="white"
			width="540px"
			:visible="showSidebar"
			@hidden="hiddenSidebar"
			>
				<div class="px-5 py-2" v-if="equipoActivo">
					<h2>{{ equipoActivo.clave }}</h2>
					<h3 v-if="equipoActivo.responsable != 'S/R'">
						{{ equipoActivo.responsable }}  
						<b-button variant="dark" v-b-modal.modal-equipo size="sm" @click="equipo = equipoActivo; titleModalEquipo = 'Actualizar Equipo'">
								Editar <i class="fas fa-edit"></i> 
							
						</b-button>
					</h3>
					<h3 v-else>Sin responsable</h3>

					
					<h5 class="mt-5">Datos Generales</h5>
					<hr class="bg-white">					

					<b-row class="mb-2">
						<b-col lg="4" class="text-right">
							<strong>Tipo:</strong>
						</b-col>
						<b-col lg="8">
							{{ equipoActivo.tipo }}
						</b-col>
						<b-col lg="4" class="text-right">
							<strong>Marca:</strong>
						</b-col>
						<b-col lg="8">
							{{ equipoActivo.marca }}
						</b-col>
						<b-col lg="4" class="text-right">
							<strong>Modelo:</strong>
						</b-col>
						<b-col lg="8">
							{{ equipoActivo.modelo }}
						</b-col>
						<b-col lg="4" class="text-right">
							<strong>No. Serie:</strong>
						</b-col>
						<b-col lg="8">
							{{ equipoActivo.noSerie }}
						</b-col>
						<b-col lg="4" class="text-right">
							<strong>Área:</strong>
						</b-col>
						<b-col lg="8">
							{{ equipoActivo.area }}
						</b-col>
						<b-col lg="4" class="text-right">
							<strong>Estado:</strong>
						</b-col>
						<b-col lg="3">
							{{ equipoActivo.status }}
						</b-col>
					</b-row>			
		
					<h5 class="mt-5">Caracteristicas:</h5>
					<hr class="bg-white">

					<b-row class="mb-2">
						<b-col lg="4" class="text-right">
							<strong>HDD:</strong>
						</b-col>
						<b-col lg="8">
							1 TB
						</b-col>
						<b-col lg="4" class="text-right">
							<strong>SSD:</strong>
						</b-col>
						<b-col lg="8">
							100 GB
						</b-col>
						<b-col lg="4" class="text-right">
							<strong>Ram:</strong>
						</b-col>
						<b-col lg="8">
							15 GB
						</b-col>
						<b-col lg="4" class="text-right">
							<strong>Procesador:</strong>
						</b-col>
						<b-col lg="8">
							Core i5 8th Gen
						</b-col>
					</b-row>				
				</div>
			</b-sidebar>
		</div>
	</b-container>
</template>
<script>
	import {mapState, mapMutations, mapActions} from 'vuex';
    export default {
        data() {
            return {
            	showSidebar: false,
            	equipo: null,
            	titleModalEquipo: 'Agregar Equipo',
		     	categorias:[],
		     	tiposSelect: [{value:'Computadora', text:'Computadoras'}, {value:'PC', text:"PC's"},{value:'Laptop', text:'Laptops'}, {value:'Celular', text: 'Celulares'}],
		     	tipoSelected: 'Computadora',
		     	search: '',
		     	status: [{text:'Activos', value:'Activo'}, {text:'Inactivos', value:'Inactivo'}, {text:'Baja', value:'Baja'}, {text:'Todos', value:null}],
		     	statusSelected: 'Activo',
		     	selected: [],
		     	totalRows: 1,
		     	currentPage: 1,
		     	perPage: 15,
		     	pageOptions: [10, 15, 20, 25],
		     	filter: null,
		     	equipoActivo: null,
		     	fields: [
		     		{
		     			key: 'status',
		     			class: 'text-center',
		     			thStyle: {
		     				width:'7%'
		     			},
		     			tdClass: this.tdClass
		     		},
		     		{
		     			key: 'actions',
		     			class: 'text-center',
		     			label: 'Acción',
		     			thStyle: {
		     				width:'6%'
		     			},
		     		},
		     		{
		     			key: 'responsable',
		     			thStyle: {
		     				width:'18%'
		     			},
		     		},
		     		{
		     			key: 'clave',
		     			class: 'text-center',
		     		},
		     		{
		     			key: 'marca',
		     			class: 'text-center',
		     		},
		     		{
		     			key: 'modelo',
		     			class: 'text-center',
		     			thStyle: {
		     				width:'15%'
		     			},
		     		},
		     		{
		     			key: 'noSerie',
		     			class: 'text-center',
		     		},
		     		{
		     			key: 'area',
		     			class: 'text-center',
		     			label: 'Área',

		     		},
		     		// { 
		     		// 	key: 'show_details', 
		       //  		label: 'Detalles',
		     		// 	class: 'text-center',
		       //  	},
		     	],
		    };
        },
        mounted()
        {
      		this.getEquipos()
        },
        methods: {
        	...mapActions('equipos_electronicos', ['getEquipos']),
        	onRowSelected(items) {
        		this.selected = items
        		this.equipoActivo = this.selected[0]
        		this.showSidebar = true
        	},
        	tdClass(value, key, item)
        	{
        		if(value == 'Activo')
        			return 'bg-green-light-2'
        		else if(value == 'Inactivo')
        			return 'bg-yellow-light-2'
        		else if(value == 'Baja')
        			return 'bg-red-light-2'
        	},
        	hiddenSidebar()
        	{
        		this.equipoActivo = null
        		this.$refs.selectableTable.clearSelected()
        	}
        },
        computed: {
        	...mapState('equipos_electronicos', ['equipos', 'isBusy']),
        	equiposByTipo()
        	{
        		if(this.tipoSelected == 'Computadora')
        		{
					return this.equipos.filter(
	                	equipo => 
	                		equipo.tipo == 'PC' || equipo.tipo == 'Laptop'
	                );
        		}else{
        			return this.equipos.filter(
	                	equipo => 
	                		equipo.tipo == this.tipoSelected
	                );
        		}
        	},
        	equiposByStatus()
        	{
        		if(this.statusSelected == null)
        			return this.equiposByTipo
        		else{
        			return this.equiposByTipo.filter(
                    	equipo => 
                    		equipo.status == this.statusSelected
                    );
        		}
        	},
        },
        watch:{
        	equipoActivo()
        	{
        		if(!this.equipoActivo)
        			this.showSidebar = false        			
        	}
        }
    }
</script>
<style>
	.bg-green-light-2{
		background-color: #e0ffe1;
		color:#28a745;
	}
	.bg-yellow-light-2{
		background-color: #fff7e2;
    	color: #e67523;
	}
	.bg-red-light-2{
		background-color: #fff1f2;
    	color: #dc3545;
	}
</style>