<template>
	<b-overlay :show="overlay" rounded="sm" opacity="1.0" blur="1px" variant='transparent'>
		<b-form-group label="Responsable" class="mb-0" v-show="!ror">
			<b-form-select
				v-model="$v.form.responsable.$model"
				:state="$v.form.responsable.$dirty ? !$v.form.responsable.$error : null"
				:options="empleados">
				<template v-slot:first>
					<option :value="null">
						Seleccione un responsable
					</option>
				</template>
			</b-form-select>
			<b-button variant="link" class="text-secondary float-right mb-0" style="cursor:pointer" @click="registrarOtroResponsable"><small>Registrar otro responsable</small></b-button>
		</b-form-group>

		<b-form-group label="Responsable" class="mb-0" v-show="ror">
			<b-form-input
				ref="responsable"
				v-model="$v.form.responsable.$model"
				:state="$v.form.responsable.$dirty ? !$v.form.responsable.$error : null"
				placeholder="Nombre del responsable" autocomplete="off">
			</b-form-input>
			<b-button variant="link" class="text-secondary float-right mb-0" style="cursor:pointer" @click="verListaEmpleados"><small>Ver lista de empleados</small></b-button>
		</b-form-group>

		<b-form-group label="Estado de Equipo">
			<b-form-radio-group 
				v-model="$v.form.status.$model" 
				:state="$v.form.status.$dirty ? !$v.form.status.$error : null">
				<b-form-radio value="Activo">Activo</b-form-radio>
				<b-form-radio value="Inactivo">Inactivo</b-form-radio>
				<b-form-radio value="Baja">Baja</b-form-radio>
			</b-form-radio-group>
			<b-form-invalid-feedback id="feedback-status">
				Campo obligatorio
			</b-form-invalid-feedback>
		</b-form-group>

		<b-row>
			<b-col lg="6">
				<b-form-group label="Tipo">
					<b-form-select
					:options="tiposSelect"
					v-model="$v.form.tipo.$model"
					@change="getProxClave"
					:state="$v.form.tipo.$dirty ? !$v.form.tipo.$error : null">
						<template v-slot:first>
							<option :value="null">
								Seleccione el tipo de equipo
							</option>
						</template>
					</b-form-select>
					<b-form-invalid-feedback id="feedback-tipo">
						Campo obligatorio
					</b-form-invalid-feedback>
				</b-form-group>
			</b-col>
			<b-col lg="6">
				<b-form-group label="Clave" :disabled="!form.tipo">
					<b-form-input
					ref="clave"
					autocomplete="off"
					placeholder="Clave de equipo"
					v-model="$v.form.clave.$model"
					:state="$v.form.clave.$dirty ? !$v.form.clave.$error : null">
					</b-form-input>
					<b-form-invalid-feedback id="feedback-clave">
						Campo obligatorio
					</b-form-invalid-feedback>
				</b-form-group>
			</b-col>
		</b-row>

		<b-row>
			<b-col lg="6">
				<b-form-group label="Marca">
					<b-form-input
					ref="marca"
					autocomplete="off"
					placeholder="Ingrese la marca"
					v-model="$v.form.marca.$model"
					:state="$v.form.marca.$dirty ? !$v.form.marca.$error : null">
					</b-form-input>
					<b-form-invalid-feedback id="feedback-marca">
						Campo obligatorio
					</b-form-invalid-feedback>
				</b-form-group>
			</b-col>
			<b-col lg="6">
				<b-form-group label="Modelo">
					<b-form-input
					ref="modelo"
					autocomplete="off"
					placeholder="Ingrese el modelo"
					v-model="$v.form.modelo.$model"
					:state="$v.form.modelo.$dirty ? !$v.form.modelo.$error : null">
					</b-form-input>
					<b-form-invalid-feedback id="feedback-modelo">
						Campo obligatorio
					</b-form-invalid-feedback>
				</b-form-group>
			</b-col>
		</b-row>

		<b-row>
			<b-col lg="6">
				<b-form-group label="No. Serie">
					<b-form-input
					ref="noSerie"
					autocomplete="off"
					placeholder="Ingrese número de serie"
					v-model="$v.form.noSerie.$model"
					:state="$v.form.noSerie.$dirty ? !$v.form.noSerie.$error : null">
					</b-form-input>
					<b-form-invalid-feedback id="feedback-equipo">
						Campo obligatorio
					</b-form-invalid-feedback>
				</b-form-group>
			</b-col>
			<b-col lg="6">
				<b-form-group label="Área">
					<b-form-select
					:options="areasSelect"
					v-model="$v.form.area.$model"
					:state="$v.form.area.$dirty ? !$v.form.area.$error : null">
						<template v-slot:first>
							<option :value="null">
								Seleccione el área
							</option>
						</template>
					</b-form-select>
					<b-form-invalid-feedback id="feedback-area">
						Campo obligatorio
					</b-form-invalid-feedback>
				</b-form-group>
			</b-col>
		</b-row>
		
<!-- 		<b-form-group label="Status">
			<b-form-select
			:options="statusSelect"
			v-model="$v.form.status.$model"
			:state="$v.form.status.$dirty ? !$v.form.status.$error : null">
				<template v-slot:first>
					<option :value="null">
						Seleccione el status
					</option>
				</template>
			</b-form-select>
			<b-form-invalid-feedback id="feedback-status">
				Campo obligatorio
			</b-form-invalid-feedback>
		</b-form-group>
 -->

		<div class="d-flex flex-row-reverse bd-highlight my-2">
			<b-button variant="danger" class="ml-2 my-2" size="sm" @click="submit()">
	        	Guardar
	      	</b-button>
			<b-button variant="light" class="my-2" size="sm" @click="cancel()">
	        	Cancelar
	      	</b-button>
	    </div>
	</b-overlay>
</template>

<script>
	import { mapMutations, mapState } from 'vuex'
	import { required, sameAs } from 'vuelidate/lib/validators'

	export default {
		props:{
			equipo: Object,
		},
		data() {
		    return {
		    	ror: false,
		    	overlay:false,
		    	tiposSelect: ['PC', 'Laptop', 'Celular'],
		    	areasSelect: ['Dirección', 'Servicios', 'Ventas', 'Finanzas', 'Suministros', 'Conservación', 'Compras', 'Almacén', 'Talento Humano', 'Contabilidad', 'Calidad', 'Seguridad', 'Sistemas'],
				form:{
					responsable: null,
					tipo: null,
					clave: '',
					marca: '',
					noSerie: '',
					modelo: '',
					area: null,
					status: null
				},
		        empleados: [],
		   	};
		},
		mounted()
		{
			if(this.equipo){
				this.setDataEdit()
			}
			this.getEmpleados()
		},
		methods: {
			...mapMutations(['modalSubmit', 'modalOk']),
			...mapMutations('equipos_electronicos', ['addEquipo', 'updateEquipo']),
			async submit(){
				this.overlay = true

				this.$v.$touch()

				if (!this.$v.$invalid) {
			      	try{

			      		if(this.form.responsable == null || this.form.responsable == '')
			      			this.form.responsable = 'S/R'

			      		const response = (!this.equipo) ?
		            		await axios.post(BaseUrl + `/api/si/admin/equipos`, this.form) :
		            		await axios.put(BaseUrl + `/api/si/admin/equipos/${this.equipo.idEquipo}`, this.form)

		                if(response.data.success){
		                	if(!this.equipo)
		                    	this.addEquipo(response.data.equipo)
				            else
				            	this.updateEquipo(response.data.equipo)
				            this.modalSubmit(true) 
		                }else{
		                	this.modalOk(false)
		                }

			      	}catch(e){
			      		console.log(e)
						this.overlay = false
			      	}
				}else{
					this.overlay = false
				}
			},
			getProxClave()
			{
				if(this.form.tipo){
					axios.get(BaseUrl + `/api/si/admin/equipos/claves/${this.form.tipo}`).then(
							(response) => {
								this.form.clave = response.data
						});
				}else{
					this.form.clave = ''
				}
			},
			getEmpleados()
			{
				axios.get(BaseUrl + `/api/empleados`).then(
					(response) => {
						this.empleados = response.data.map(function(empleado){
							return {value:empleado.nombre, text:empleado.nombre}
						})
					});
			},
			registrarOtroResponsable()
			{
				this.ror = true	
				setTimeout(this.focusResponsable,100);
			},
			focusResponsable()
			{
           		this.$refs.responsable.focus()
			},
			verListaEmpleados()
			{
				this.ror = false
				if(this.form.responsable == '')
					this.form.responsable = null
			},
			setDataEdit()
			{
				this.form.responsable = this.equipo.responsable
				this.form.tipo = this.equipo.tipo
				this.form.clave = this.equipo.clave
				this.form.marca = this.equipo.marca
				this.form.noSerie = this.equipo.noSerie
				this.form.modelo = this.equipo.modelo
				this.form.area = this.equipo.area
				this.form.status  = this.equipo.status
				this.ror=true
			},
			cancel(){
				this.$bvModal.hide('modal-equipo')
			},	
		},
		computed: {
			...mapState(['usuario', 'okModal']),
		},
		validations() {
			return {
				form: {
					responsable: {},
					tipo: {required},
					noSerie: {},
					clave: {required},
					status: {required},
					tipo: {required},
					marca: {required},
					modelo: {},
					area: {required},
				}
			}	
		},
		watch:{
			okModal()
			{
				if(this.okModal==true){
					this.submit()
				}
			}
		},
	}
</script>