<template>
	<div class="px-5 py-2">
		<h2>Adm. de Responsables</h2>

		<b-alert v-if="load" show variant="light" class="border-0 mt-4 py-2">
			<p style="font-size: 13px;" class="mb-0">
				<b-spinner
					type="grow"
					small
					label="Spinning"
					class="mr-1"
				></b-spinner
				>Cargando ...
			</p>
		</b-alert>

		<b-alert
			v-if="!load && msgSuccess"
			show
			variant="success"
			class="border-0 mt-4 py-2"
		>
			<p style="font-size: 13px;" class="mb-0">
				<i class="far fa-check-circle mr-1 text-success"></i>
				Se guardaron correctamente los cambios
			</p>
		</b-alert>

		<b-alert
			v-if="errorSubmit"
			show
			variant="danger"
			class="border-0 mt-4 py-2"
		>
			<p style="font-size: 13px;" class="mb-0">
				<i class="far fa-check-circle mr-1 text-danger"></i>
				Ha ocurrido un problema al intentar guardar el responsable
			</p>
		</b-alert>

		<b-form-group label="Responsable">
			<b-form-input
				v-model="$v.form.responsable.$model"
				:state="
					$v.form.responsable.$dirty
						? !$v.form.responsable.$error
						: null
				"
				placeholder="Nombre del responsable"
			>
			</b-form-input>
		</b-form-group>
		<b-form-group label="Iniciales">
			<b-form-input
				v-model="$v.form.iniciales.$model"
				:state="
					$v.form.iniciales.$dirty ? !$v.form.iniciales.$error : null
				"
				placeholder="Iniciales del responsable"
			>
			</b-form-input>
		</b-form-group>

		<b-button variant="success" class="mb-3" size="sm" @click="submit">
			Agregar
		</b-button>

		<b-list-group>
			<template v-for="(responsable, index) in responsables">
				<b-list-group-item :key="index">
					{{ responsable.responsable }} ({{ responsable.iniciales }})
					<!-- <b-button class="float-right" size="sm" variant="white">
                        <i class="fas fa-trash text-danger"></i> 
                    </b-button> -->
				</b-list-group-item>
			</template>
		</b-list-group>
	</div>
</template>

<script>
import { mapMutations, mapState, mapActions } from "vuex";
import { required } from "vuelidate/lib/validators";

export default {
	data() {
		return {
			load: false,
			msgSuccess: false,
			errorSubmit: false,
			form: {
				responsable: null,
				iniciales: null,
			},
		};
	},
	mounted() {},
	methods: {
		...mapMutations("planes", ["addResponsable"]),

		async submit() {
			this.errorSubmit = false;
			this.$v.$touch();
			if (!this.$v.$invalid) {
				try {
					this.load = true;
					this.msgSuccess = false;
					this.form.idPlan = this.planActivo.idPlan;
					const response = await axios.post(
						BaseUrl + `/api/planes/responsable`,
						this.form
					);
					if (response.data.success) {
						this.addResponsable(response.data.responsable);
						this.limpiarInputs();
						this.load = false;
						this.msgSuccess = true;
					}
				} catch (e) {
					console.log(e);
					this.errorSubmit = true;
					this.load = false;
					this.msgSuccess = false;
				}
			}
		},
		limpiarInputs() {
			this.form.responsable = null;
			this.form.iniciales = null;
			this.form.idPlan = null;
			this.$v.$reset();
		},
	},
	computed: {
		...mapState(["usuario"]),
		...mapState("planes", ["responsables", "planActivo"]),
	},
	validations: {
		form: {
			responsable: { required },
			iniciales: { required },
		},
	},
};
</script>
