<template>
	<b-overlay :show="overlay" rounded="sm" opacity="1.0" blur="1px" variant='transparent'>
        <div class="mt-3">

            <b-form-group>
                <template v-slot:label>
                    <div class="lab-form">
                        Fechas Planeadas<span class="req">*</span>
                    </div>
                </template>
                <div class=" mb-4 mt-3">
                    <v-calendar
                    :columns="$screens({ default: 1, lg: 1 })"
                    locale="es"
                    v-model="rangeDate"
                    color="gray"
                    is-expanded
                    mode="range"
                    />
                    
                </div>
            </b-form-group>

            <b-form-group>
                <template v-slot:label>
                    <div class="lab-form">
                        Responsable<span class="req">*</span>
                    </div>
                </template>
                <b-form-select
                    size="sm"
                    :options="selectResponsables"
                    v-model="form.responsable"
                    @change="update('otro')"
                >
                <template v-slot:first>
                    <option :value="null" disabled>Seleccione</option>
                </template>
			</b-form-select>
            </b-form-group>

            <div class="bg-light text-center py-3 mb-3" v-if="form.inicioP && form.finP">
                <h6 class="mb-0">Duración: <strong>{{ diffHoras }}</strong></h6>
            </div>
        
            <b-form-group>
                <template v-slot:label>
                <div class="lab-form">
                    Observaciones<span class="req">*</span>
                </div>
            </template>
                <b-form-textarea 
                    type="text" 
                    rows="3" 
                    max-rows="6" 
                    v-model="$v.form.observaciones.$model">
                </b-form-textarea>
            </b-form-group>	

            <div class="d-flex flex-row-reverse bd-highlight">
                <b-button
                    variant="danger"
                    class="ml-3 my-2"
                    @click="submit"
                >
                    GUARDAR
                </b-button>
                <b-button
                    variant="white"
                    class="link-light my-2"
                    @click="cancel"
                >
                    CANCELAR
                </b-button>
            </div>

        </div>
	</b-overlay>
</template>

<script>
	import { mapActions, mapMutations, mapState } from 'vuex'
	import { required } from 'vuelidate/lib/validators'

	export default {
		props:{
			idSeccion: Number,
		},
		data() {
		    return {
		    	overlay: false,
                rangeDate: {
                    start: new Date(2020, 0, 1),
                    end: new Date(2020, 0, 5)
                },
				form: {
                    idSeccion: null,
                    idPlan: null,
                    actividad: null,
                    responsable: null,
                    inicioP: null,
                    finP: null,
                    observaciones: null,
                },
		   	};
		},
		mounted()
		{
	
		},
		methods: {
            ...mapMutations("planes", [
                "addActividad",  
            ]),
			async submit(){
				this.overlay = true
				this.$v.$touch()

				if (!this.$v.$invalid) { 
			      	try {
                        const response = await axios.post(
                            BaseUrl + `/api/planes/actividad`,
                            this.form
                        );
                        if (response.data.success)
                            this.addActividad(response.data.actividad);
                    } catch (e) {
                        console.log(e);
                    }
				}else{
					this.overlay = false
				}
			},
			cancel(){
				this.$emit('setSizeModal', 'md');
				this.$bvModal.hide('modal-actividad')
			},
		},
		computed: {
			...mapState(['usuario']),
            ...mapState("planes", [
                "usuariosCompartidos",
                "actividades",
                "secciones",
                "responsables",
                "planActivo",
                "planes",
            ]),

            selectResponsables() {
                return this.responsables.map(function(responsable) {
                    return {
                        value: responsable.iniciales,
                        text: responsable.iniciales,
                    };
                });
            },

			diffHoras()
			{
				moment.locale('es');

				var hora1 = moment(this.form.inicio, 'HH:mm');
				var hora2 = moment(this.form.fin, 'HH:mm');

				if(hora2>hora1)
					var diff = hora2.diff(hora1, 'minutes')  / 60
				else{
					var ultimaHora =  moment('23:59', 'HH:mm');
					var diff1 = ultimaHora.diff(hora1, 'minutes')  / 60
					
					diff1 = this.round10(diff1, -1); //Redondear el segundo faltante

					var primeraHora = moment('00:00', 'HH:mm');
					var diff2 = hora2.diff(primeraHora, 'minutes')  / 60
					
					var diff = diff1+diff2;
				}

				diff = +parseFloat(diff).toFixed(2);

				if (diff == 1) 
					return  diff + ' hora'
				return diff + ' horas'
			},
			dia()
			{
				moment.locale('es');
				const dia = moment(this.form.fecha).format('dddd');  
				return dia.charAt(0).toUpperCase() + dia.slice(1);   
			},
			mes()
			{
				moment.locale('es');
				const mes = moment(this.form.fecha).format('MMMM');  
				return mes.charAt(0).toUpperCase() + mes.slice(1);   
			},
			noDia()
			{
				return moment(this.form.fecha).format('DD');  
			},
		},
		validations() {
			if (this.form.tipoCuenta == "Capacitación") {
				return {
					form:{
						turno: {},
						idSemana: {},
						equipo: {},
						horas: {},
						descripcion: {required},
						inicio: {required},
						fin: {required},
						cuenta: {},
						tipoTiempo: {required},
						tipoCuenta: {required},
					},
				};
			} else {
				return {
                    form: {
                        actividad: {},
                        responsable: {},
                        inicioP: {},
                        finP: {},
                        inicioR: {},
                        finR: {},
                        avance: {},
                        observaciones: {},
                    },
				};
			}
		},
		watch:{
		
		},
	}
</script>

<style>
	.activate:hover{
		background-color: rgba(159,161,164,.1);
		transition: all .2s linear;
	}
</style>