<template>
	<b-overlay
		:show="overlay"
		rounded="sm"
		opacity="1.0"
		blur="1px"
		variant="transparent"
	>
		<template>
			<b-form-group>
				<template v-slot:label>
					<div class="lab-form">Nombre<span class="req">*</span></div>
				</template>
				<b-form-input
					placeholder="Indique el nombre de su plan de trabajo"
					v-model="$v.form.nombre.$model"
					@input="nombreToUpper"
					:state="
						$v.form.nombre.$dirty ? !$v.form.nombre.$error : null
					"
				>
				</b-form-input>
				<b-form-invalid-feedback id="feedback-destino-viatico">
					Campo obligatorio
				</b-form-invalid-feedback>
			</b-form-group>

			<b-form-group>
				<template v-slot:label>
					<div class="lab-form">Tipo<span class="req">*</span></div>
				</template>
				<b-form-select
					:options="tipos"
					v-model="$v.form.tipo.$model"
					:state="$v.form.tipo.$dirty ? !$v.form.tipo.$error : null"
				>
					<template v-slot:first>
						<option :value="null" disabled>Seleccione</option>
					</template>
				</b-form-select>
				<b-form-invalid-feedback id="feedback-tipoCuenta">
					Campo obligatorio
				</b-form-invalid-feedback>
			</b-form-group>

			<div class="d-flex flex-row-reverse bd-highlight">
				<b-button variant="danger" class="ml-3 my-2" @click="submit">
					GUARDAR
				</b-button>
				<b-button
					variant="white"
					class="link-light my-2"
					@click="cancel"
				>
					CANCELAR
				</b-button>
			</div>
		</template>
	</b-overlay>
</template>

<script>
import { mapMutations, mapState, mapActions } from "vuex";
import { required } from "vuelidate/lib/validators";

export default {
	data() {
		return {
			errorSubmit: false,
			overlay: false,
			form: {
				nombre: "",
				tipo: null,
				idUsuario: null,
			},
			tipos: [
				{ value: "Proyecto", text: "Proyecto" },
				{ value: "Departamental", text: "Departamental" },
			],
		};
	},
	mounted() {},
	methods: {
		...mapMutations(["modalSubmit", "modalOk"]),
		...mapMutations("planes", ["addPlan"]),

		async submit() {
			this.overlay = true;
			this.errorSubmit = false;
			this.$v.$touch();
			if (!this.$v.$invalid) {
				this.form.idUsuario = this.usuario.idUsuario;
				this.form.usuario = this.usuario.nombreUsuario;
				try {
					const response = await axios.post(
						BaseUrl + `/api/planes`,
						this.form
					);
					if (response.data.success) {
						this.modalSubmit(true);
						this.addPlan(response.data.plan);
					} else this.modalOk(false);
					this.overlay = false;
				} catch (e) {
					console.log(e);
					this.overlay = false;
					this.errorSubmit = true;
				}
			}
			this.overlay = false;
		},
		cancel() {
			this.$bvModal.hide("modal-planes");
		},
		nombreToUpper(val) {
			this.form.nombre = val.toUpperCase();
		},
	},
	computed: {
		...mapState(["usuario"]),
	},
	validations: {
		form: {
			nombre: { required },
			tipo: { required },
		},
	},
};
</script>
