<template>
	<div class="px-5 py-2">

		<template v-if="compartirNuevoUsuario">

			<h2>Compartir Plan de Trabajo</h2>

			<b-alert v-if="load" show variant="light" class="border-0 mt-3 py-2">
				<p style="font-size: 13px;" class="mb-0">
					<b-spinner
						type="grow"
						small
						label="Spinning"
						class="mr-1"
					></b-spinner
					>Cargando ...
				</p>
			</b-alert>

			<b-alert
				v-if="errorSubmit"
				show
				variant="danger"
				class="border-0 mt-3 py-2"
			>
				<p style="font-size: 13px;" class="mb-0">
					<i class="far fa-check-circle mr-1 text-danger"></i>
					Ha ocurrido un problema
				</p>
			</b-alert>

			<b-card class="mb-3 mt-3 bg-light" no-body>
				<div class="px-3">
					<h5 class="mb-0 ml-1 py-3">
						Asignar Usuario
					</h5>
					<div
						class="input-group w-100 bg-white border mb-3"
						id="input-shadow"
					>
						<div class="input-group-prepend bg-light mr-1 ml-3">
							<div class="pt-1 bg-white">
								<i class="fas fa-search"></i>
							</div>
						</div>
						<b-form-input
							id="input-search"
							size="sm"
							class="form-control border-0"
							placeholder="Escribe tu busqueda aquí"
							v-model="filter"
							autocomplete="off"
						></b-form-input>
					</div>
				</div>

				<div
					style="max-height: 300px; overflow: auto"
				>
					<b-table
						:fields="fields"
						:items="usuariosFiltered"
						selectable
						thead-class="hidden_header"
						class="mb-0 bg-white text-left"
						@row-selected="onRowSelected"
						select-mode="single"
					>
						<template #cell()="data">
							<h6 class="mb-0">
								{{data.item.text}}
							</h6>
						</template>
					</b-table>
				</div>
				
				<h5
					class="pt-3 pb-4 text-center"
					v-if="!usuariosFaltantes.length && !load"
				>
					<i class="fas fa-info-circle"></i> No se encontraron
					resultados
				</h5>

				<hr class="mt-0">

				<h5 class="mx-3 pb-2 pt-1">Asignar Permisivo</h5>
				<b-form-group class="mx-3">
					<b-form-select
						v-model="$v.form.tipo.$model"
						:state="$v.form.tipo.$dirty ? !$v.form.tipo.$error : null"
						:options="tipos"
						size="sm"
					>
						<template v-slot:first>
							<option :value="null" disabled>Seleccione</option>
						</template>
					</b-form-select>
				</b-form-group>

				
			</b-card>


			<div class="d-flex flex-row-reverse bd-highlight">
				<b-button variant="success" class="ml-3 my-2" @click="submit">
					Compartir
				</b-button>
				<b-button
					variant="white"
					class="link-light my-2"
					@click="compartirNuevoUsuario=false"
				>
					Cancelar
				</b-button>
			</div>

		</template>
	
		<template v-else>

			<h2 class="mb-3">Usuarios Compartidos</h2>

			<b-alert v-if="load" show variant="light" class="border-0 mt-2 py-2">
				<p style="font-size: 13px;" class="mb-0">
					<b-spinner
						type="grow"
						small
						label="Spinning"
						class="mr-1"
					></b-spinner
					>Cargando ...
				</p>
			</b-alert>

			<b-alert
				v-if="!load && msgSuccess"
				show
				variant="success"
				class="border-0 mt-2 py-2"
			>
				<p style="font-size: 13px;" class="mb-0">
					<i class="far fa-check-circle mr-1 text-success"></i>
					Se guardaron correctamente los cambios
				</p>
			</b-alert>

			<b-list-group v-if="planUsuarios.length">
				<div v-for="(usuario, index) in planUsuarios" :key="index">
					<b-list-group-item
						v-if="usuario.tipo == 'Propietario'"
					
					>
						<h6 class="mb-0">
							{{ usuario.usuario }}
						</h6>
						<small class="text-secondary">
							{{ usuario.tipo }}
						</small>
					</b-list-group-item>

					<b-list-group-item v-else >
						<h6 class="mb-0">
						{{ usuario.usuario }}
						<b-badge
							class="float-right"
							size="sm"
							variant="danger"
							style="cursor:pointer"
							@click="submitEliminar(usuario.id)"
							><i class="fas fa-user-minus"></i> Dejar de compartir</b-badge
						>
						</h6>
						<small class="text-secondary">
							{{ usuario.tipo }}

						</small>
					</b-list-group-item>
				</div>
			</b-list-group>

			<b-button class="mt-3" variant="info" size="sm" @click="compartirNuevoUsuario=true">
				<i class="fas fa-share"></i> Compartir a un nuevo usuario
			</b-button>

		</template>

	</div>
</template>

<script>
import { mapMutations, mapState, mapActions } from "vuex";
import { required } from "vuelidate/lib/validators";

export default {
	data() {
		return {
			compartirNuevoUsuario: false,
			filter: "",
			load: false,
			msgSuccess: false,
			errorSubmit: false,
			fields: ["nombreUsuario"],
			tipos: ["Lector", "Editor"],

			form: {
				usuario: null,
				tipo: null,
			},
		};
	},
	mounted() {
		this.getUsuariosCompartidos();
	},
	methods: {
		...mapActions("planes", ["getUsuariosCompartidos"]),
		...mapMutations("planes", [
			"addUsuarioCompartido",
			"removeUsuarioCompartido",
		]),

		async submit() {
			this.errorSubmit = false;
			this.$v.$touch();
			if (!this.$v.$invalid) {
				try {
					this.load = true;
					this.msgSuccess = false;
					this.form.idPlan = this.planActivo.idPlan;
					const response = await axios.post(
						BaseUrl + `/api/planes/usuarios`,
						this.form
					);
					if (response.data.success) {
						this.addUsuarioCompartido(response.data.planUsuario);
						this.limpiarInputs();
						this.load = false;
						this.msgSuccess = true;
						this.compartirNuevoUsuario=false;
					}
				} catch (e) {
					console.log(e);
					this.errorSubmit = true;
					this.load = false;
					this.msgSuccess = false;
				}
			}
		},
		limpiarInputs() {
			this.form.usuario = null;
			this.form.tipo = null;
			this.form.idPlan = null;
			this.$v.form.usuario.$reset();
			this.$v.form.tipo.$reset();
		},
		async submitEliminar(idPlanUsuario) {
			this.errorSubmit = false;
			try {
				this.load = true;
				this.msgSuccess = false;
				const response = await axios.delete(
					BaseUrl + `/api/planes/usuario/${idPlanUsuario}`
				);
				if (response.data.success) {
					this.removeUsuarioCompartido(idPlanUsuario);
					this.load = false;
					this.msgSuccess = true;
				}
			} catch (e) {
				console.log(e);
				this.errorSubmit = true;
				this.load = false;
				this.msgSuccess = false;
			}
		},
		onRowSelected(usuario) {
			this.form.usuario=usuario[0].value;
		}
	},
	computed: {
		...mapState("usuarios", ["usuarios"]),
		...mapState("planes", ["usuariosCompartidos", "planActivo"]),

		usuariosFaltantes() {
			var usuarios = [];
			this.usuarios.forEach((usuario) => {
				const found = this.planUsuarios.find(
					(planUsuario) => usuario.idUsuario === planUsuario.idUsuario
				);
				if (found == undefined && usuario.activo==1)
					usuarios.push({
						value: usuario.idUsuario,
						text: usuario.nombreUsuario,
					});
			}, this);
			return usuarios;
		},
		usuariosFiltered() {
			if (this.filter) {
				if (this.usuariosFaltantes) {
					return this.usuariosFaltantes.filter(
						(usuario) =>
							(usuario.text
									.toLowerCase()
									.indexOf(this.filter.toLowerCase()) > -1)
					);
				} else return [];
			} else return this.usuariosFaltantes;
		},
		planUsuarios() {
			var usuarios = [];
			this.usuariosCompartidos.forEach((usuarioCompartido) => {
				let usuarioFilter = this.usuarios.find(
					(usuario) =>
						usuario.idUsuario === usuarioCompartido.idUsuario
				);
				usuarios.push({
					id: usuarioCompartido.id,
					idUsuario: usuarioCompartido.idUsuario,
					usuario: usuarioFilter.nombreUsuario,
					tipo: usuarioCompartido.tipo,
				});
			}, this);
			return usuarios;
		},
	},
	validations: {
		form: {
			usuario: { required },
			tipo: { required },
		},
	},
};
</script>
