<template>
	<b-overlay
		:show="overlay"
		rounded="sm"
		opacity="1.0"
		blur="1px"
		variant="transparent"
	>
		<template>
			<b-form-group>
				<template v-slot:label>
					<div class="lab-form">Nombre<span class="req">*</span></div>
				</template>
				<b-form-input
					placeholder="Indique el nombre de la sección"
					v-model="$v.form.nombre.$model"
					@input="nombreToUpper"
					:state="
						$v.form.nombre.$dirty ? !$v.form.nombre.$error : null
					"
				>
				</b-form-input>
				<b-form-invalid-feedback id="feedback-destino-viatico">
					Campo obligatorio
				</b-form-invalid-feedback>
			</b-form-group>
			<div class="d-flex flex-row-reverse bd-highlight">
				<b-button variant="danger" class="ml-3 my-2" @click="submit">
					GUARDAR
				</b-button>
				<b-button
					variant="white"
					class="link-light my-2"
					@click="cancel"
				>
					CANCELAR
				</b-button>
			</div>
		</template>
	</b-overlay>
</template>

<script>
import { mapMutations, mapState, mapActions } from "vuex";
import { required } from "vuelidate/lib/validators";

export default {
	data() {
		return {
			errorSubmit: false,
			overlay: false,
			form: {
				nombre: "",
			},
		};
	},
	methods: {
		...mapMutations(["modalSubmit", "modalOk"]),
		...mapMutations("planes", ["addSeccion"]),

		async submit() {
			this.overlay = true;
			this.errorSubmit = false;
			this.$v.$touch();
			if (!this.$v.$invalid) {
				try {
					this.form.idPlan = this.planActivo.idPlan;
					const response = await axios.post(
						BaseUrl + `/api/planes/seccion`,
						this.form
					);
					if (response.data.success) {
						this.overlay = false;
						this.modalSubmit(true);
						this.addSeccion(response.data.seccion);
					} else this.modalOk(false);
				} catch (e) {
					console.log(e);
					this.overlay = false;
					this.errorSubmit = true;
				}
			} else {
				this.overlay = false;
			}
		},
		cancel() {
			this.$bvModal.hide("modal-seccion");
		},
		nombreToUpper(val) {
			this.form.nombre = val.toUpperCase();
		},
	},
	computed: {
		...mapState(["usuario"]),
		...mapState("planes", ["planActivo"]),
	},
	validations: {
		form: {
			nombre: { required },
		},
	},
};
</script>
