<template>
	<b-tr :class="rowColor" class="align-middle" style="font-size:12px">

		<b-td class="align-middle">
			<label v-if="!lector && !editActividad" class="ml-2 mb-0 pb-0" @click="editar('actividad')" style="cursor:pointer">
				<template v-if="actividad.actividad">
					{{ actividad.actividad }}
				</template>
				<template v-else>
					<b-link class="text-danger font-italic">Agregar nombre de actividad</b-link>
				</template>
			</label>
			<b-form-input v-else size="sm" v-model="form.actividad" @keyup.enter="update('actividad')" @blur="update('actividad')" ref="actividad" placeholder="Ingrese el nombre de la actividad">
			</b-form-input>	
		</b-td>

		<b-td class="text-center" v-if="!lector">
			<b-form-select
				size="sm"
				:options="selectResponsables"
				v-model="form.responsable"
				@change="update('otro')"
			>
				<template v-slot:first>
					<option :value="null" disabled>Seleccione</option>
				</template>
			</b-form-select>
		</b-td>

		<b-td v-else class="text-center">
			<template class="ml-2">{{ actividad.responsable }}</template>
		</b-td>


		<b-td v-if="!lector">
			<b-form-input
				type="date"
				v-model="form.inicioP"
				size="sm"
				@change="update('otro')"
			>
			</b-form-input>
		</b-td>

		<b-td v-else class="text-center" style="min-width: 150px;">
			{{ momentInicioP }}
		</b-td>

		<b-td v-if="!lector">
			<b-form-input
				type="date"
				v-model="form.finP"
				size="sm"
				@change="update('otro')"
			>
			</b-form-input>
		</b-td>

		<b-td v-else class="text-center" style="min-width: 150px;">
			{{ momentFinP }}
		</b-td>

		<b-td class="text-center align-middle" style="min-width: 80px;">
			{{ diasEP }}
		</b-td>
		<b-td class="text-center align-middle" style="min-width: 100px;">
			{{ deseado }}%
		</b-td>

		<b-td v-if="!lector">
			<b-form-input
				type="date"
				v-model="form.inicioR"
				size="sm"
				@change="update('otro')"
			>
			</b-form-input>
		</b-td>

		<b-td v-else class="text-center" style="min-width: 150px;">
			{{ momentInicioR }}
		</b-td>

		<b-td v-if="!lector">
			<b-form-input
				type="date"
				v-model="form.finR"
				size="sm"
				@change="update('otro')"
			>
			</b-form-input>
		</b-td>

		<b-td v-else class="text-center" style="min-width: 150px;">
			{{ momentFinR }}
		</b-td>

		<b-td class="text-center align-middle" style="min-width: 80px;">
			{{ diasER }}
		</b-td>

		<template v-if="!lector">
			<b-td class="text-center align-middle">
				<b-form-checkbox
					class="check-avance"
					v-model="a25"
					@change="setAvance('25')"
				/>
			</b-td>
			<b-td class="text-center align-middle">
				<b-form-checkbox
					class="check-avance"
					v-model="a50"
					@change="setAvance('50')"
				/>
			</b-td>
			<b-td class="text-center align-middle">
				<b-form-checkbox
					class="check-avance"
					v-model="a75"
					@change="setAvance('75')"
				/>
			</b-td>
			<b-td class="text-center align-middle">
				<b-form-checkbox
					class="check-avance"
					v-model="a100"
					@change="setAvance('100')"
				/>
			</b-td>
		</template>

		<b-td v-else class="text-center align-middle">
			{{ actividad.avance }}%
		</b-td>

		<b-td class="text-center align-middle" style="min-width: 100px;">
			{{ eficiencia }}%
		</b-td>

		<b-td class="align-middle">
			<label class="mb-0 pb-0" v-if="!lector && !editObservaciones" @click="editar('observaciones')" style="cursor:pointer">
				<template v-if="actividad.observaciones">
					{{ actividad.observaciones }}
				</template>
				<template v-else>
					<b-link class="text-danger font-italic">Agregar observaciones</b-link>
				</template>
				
			</label>
			<b-form-input v-else size="sm" v-model="form.observaciones" @keyup.enter="update('observaciones')" @blur="update('observaciones')" ref="observaciones" placeholder="Ingrese sus observaciones">
			</b-form-input>	
		</b-td>

		<b-td v-if="!lector" class="text-center">
			<b-button
				v-if="!lector"
				size="sm"
				variant="white"
				@click="showMsgBoxDeleteConfirm()"
			>
				<i class="fas fa-trash text-danger"></i>
			</b-button>
		</b-td>
	</b-tr>
</template>

<script>
import { mapMutations, mapState } from "vuex";

export default {
	props: {
		actividad: Object,
		lector: Boolean,
	},
	data() {
		return {
			errorSubmit: false,
			overlay: false,
			a25: true,
			a50: true,
			a75: true,
			a100: false,
			form: {
				actividad: null,
				responsable: null,
				inicioP: null,
				finP: null,
				inicioR: null,
				finR: null,
				avance: null,
				observaciones: null,
			},
			saveProcessLoad: {
				variant: "light",
				icon: "",
				text: "Guardando cambios",
			},
			saveProcessSuccess: {
				variant: "success",
				icon: "fas fa-check",
				text: "Cambios guardados",
			},
			editActividad: false,
			editResponsable: false,
			editInicioP: false,
			editFinP: false,
			editInicioR: false,
			editFinR: false,
			editAvance: false,
			editObservaciones: false,
		};
	},
	mounted() {
		this.setDataEdit();
	},
	methods: {
		...mapMutations(["setSaveProcess"]),
		...mapMutations("planes", ["updateActividad", "removeActividad"]),

		async update(tipo) {
			this.errorSubmit = false;
			this.setSaveProcess(this.saveProcessLoad);
			try {
				const response = await axios.put(
					BaseUrl +
						`/api/planes/actividad/${this.actividad.idActividad}`,
					this.form
				);
				if (response.data.success) {
					this.updateActividad(response.data.actividad);
					this.setSaveProcess(this.saveProcessSuccess);
					this.editActividad=false;
				}
				if(tipo == 'actividad') 
					this.editActividad = false
				else if (tipo == "observaciones")
					this.editObservaciones = false
			} catch (e) {
				this.errorSubmit = true;
			}
		},
		showMsgBoxDeleteConfirm() {
			this.$bvModal
				.msgBoxConfirm(
					"¿Está seguro de que desea eliminar esta actividad?",
					{
						title: "Favor de confirmar",
						size: "sm",
						buttonSize: "sm",
						okVariant: "danger",
						cancelVariant: "light",
						okTitle: "Eliminar",
						cancelTitle: "Cancelar",
						headerClass: "pt-3 pb-2 border-bottom-0",
						footerClass: "p-2 border-top-0",
						centered: true,
					}
				)
				.then((confirm) => {
					if (confirm) this.submitEliminar();
				});
		},
		async submitEliminar() {
			try {
				const response = await axios.delete(
					BaseUrl +
						`/api/planes/actividad/${this.actividad.idActividad}`
				);
				if (response.data.success)
					this.removeActividad(this.actividad.idActividad);
			} catch (e) {
				console.log(e);
			}
		},
		setDataEdit() {
			this.form.actividad = this.actividad.actividad;
			this.form.responsable = this.actividad.responsable;
			this.form.inicioP = this.actividad.inicioP;
			this.form.finP = this.actividad.finP;
			this.form.inicioR = this.actividad.inicioR;
			this.form.finR = this.actividad.finR;
			this.form.avance = this.actividad.avance;
			this.form.observaciones = this.actividad.observaciones;
			this.checkAvance(this.actividad.avance);
		},
		setAvance(avance) {
			this.form.avance = avance;
			this.checkAvance(avance);
			this.update('otro');
		},
		checkAvance(avance) {
			switch (avance) {
				case "25":
					this.a25 = true;
					this.a50 = false;
					this.a75 = false;
					this.a100 = false;
					break;
				case "50":
					this.a25 = true;
					this.a50 = true;
					this.a75 = false;
					this.a100 = false;
					break;
				case "75":
					this.a25 = true;
					this.a50 = true;
					this.a75 = true;
					this.a100 = false;
					break;
				case "100":
					this.a25 = true;
					this.a50 = true;
					this.a75 = true;
					this.a100 = true;
					break;
				default:
					this.a25 = false;
					this.a50 = false;
					this.a75 = false;
					this.a100 = false;
					break;
			}
		},
		editar(tipo){
			if(tipo == "actividad"){
				this.editActividad=true; 
				this.$nextTick(() => this.$refs.actividad.focus())	
			}else if(tipo == "observaciones"){
				this.editObservaciones=true; 
				this.$nextTick(() => this.$refs.observaciones.focus())	
			}		
		}
	},
	computed: {
		...mapState("planes", ["resumen", "responsables"]),
		...mapState("planes", ["usuariosCompartidos"]),

		selectResponsables() {
			return this.responsables.map(function(responsable) {
				return {
					value: responsable.iniciales,
					text: responsable.iniciales,
				};
			});
		},
		deseado() {
			if (
				!moment(this.resumen.diaCalculable).isBefore(
					this.actividad.inicioP
				)
			) {
				if (
					!moment(this.resumen.diaCalculable).isAfter(
						this.actividad.finP
					)
				) {
					const diff = moment(this.resumen.diaCalculable).diff(
						moment(this.actividad.inicioP),
						"days"
					);
					if (this.diasEP != 0) {
						let response =
							((isNaN(diff) ? 0 : diff) / this.diasEP) * 100;
						return response.toFixed(2);
					} else return 0.0;
				} else return (1 * 100).toFixed(2);
			} else return 0.0;
		},
		eficiencia() {
			if (this.diasER) {
				var porcentaje = (this.diasEP / this.diasER) * 100;
				if(porcentaje>=100)
					return "100"
				else
					return porcentaje.toFixed(0);
			
			} else return 0.0;
		},
		diasEP() {
			let diff = moment(this.actividad.finP).diff(
				moment(this.actividad.inicioP),
				"days"
			);
			return isNaN(diff) ? 0 : diff+1;
		},
		diasER() {
			let diff = moment(this.actividad.finR).diff(
				moment(this.actividad.inicioR),
				"days"
			);
			return isNaN(diff) ? 0 : diff+1;
		},
		rowColor() {
			if (this.actividad.avance != "100") {
				if (!this.actividad.finR) {
					var now = moment();
					if ((now.isBefore(this.actividad.finP) && now.isAfter(this.actividad.inicioP)) || now.format('l') == moment(this.actividad.finP).format('l')) {
						return "actividad-now";
					} else if (moment(this.actividad.finP).isBefore(now))
						return "actividad-pasada";
					else "";
				} else return "";
			} else {
				return "actividad-completa";
			}
		},
		momentInicioP() {
			if (this.actividad.inicioP) {
				return moment(this.actividad.inicioP)
					.locale("es")
					.format("L");
			} else return "00/00/0000";
		},
		momentFinP() {
			if (this.actividad.finP) {
				return moment(this.actividad.finP)
					.locale("es")
					.format("L");
			} else return "00/00/0000";
		},
		momentInicioR() {
			if (this.actividad.inicioR) {
				return moment(this.actividad.inicioR)
					.locale("es")
					.format("L");
			} else return "00/00/0000";
		},
		momentFinR() {
			if (this.actividad.finR) {
				return moment(this.actividad.finR)
					.locale("es")
					.format("L");
			} else return "00/00/0000";
		},
	},
};
</script>

<style scope>
.actividad-completa {
	background-color: #eefdf1;
}
.actividad-pasada {
	background-color: #fceff0;
}
.actividad-now {
	background-color: #eefafd; 
}
.check-avance .custom-control-input:checked ~ .custom-control-label::before {
	color: #fff !important;
	border-color: #28a745 !important;
	background-color: #28a745 !important;
}
</style>
