<template>
	<b-overlay
		:show="overlay"
		rounded="sm"
		opacity="1.0"
		blur="1px"
		variant="transparent"
	>
		<template>

            <b-card class="mb-3 bg-light" no-body>
                <div class="px-3">
                    <h5 class="mb-0 ml-1 py-3">
                        Departamentales
                    </h5>
                </div>

                <div
                    v-if="!loading"
                >
                    <b-table
                        :fields="fields"
                        :items="departamentales"
                        selectable
                        thead-class="hidden_header"
                        class="mb-0 bg-white text-left"
                        @row-selected="setPlan"
                        select-mode="single"
                    >
                        <template #cell()="data">
                            <h6 class="mb-0">
                                {{ data.item.nombre }}
                            </h6>
                            <small class="text-secondary">
                                <i class="far fa-clock"></i> Última vez - {{ data.item.updated_at }}
                            </small>
                        </template>
                    </b-table>
                </div>
                <div v-else class="bg-white">
                    <b-skeleton-table
                        :rows="2"
                        :columns="1"
                        :table-props="{ bordered: true }"
                    ></b-skeleton-table>
                </div>
                <h6
                     class="pt-3 pb-4 text-center"
                    v-if="!departamentales.length && !loading"
                >
                    <i class="fas fa-info-circle"></i> No se han registrado planes departamentales
                </h6>
            </b-card>

            <b-card class="mb-3 bg-light" no-body>
                <div class="px-3">
                    <h5 class="mb-0 ml-1 py-3">
                        Proyectos
                    </h5>
                </div>

                <div
                    v-if="!loading"
                >
                    <b-table
                        :fields="fields"
                        :items="proyectos"
                        selectable
                        thead-class="hidden_header"
                        class="mb-0 bg-white text-left"
                        @row-selected="setPlan"
                        select-mode="single"
                    >
                        <template #cell()="data">
                            <h6 class="mb-0">
                                {{ data.item.nombre }}
                            </h6>
                            <small class="text-secondary">
                                <i class="far fa-clock"></i> Última vez - {{ data.item.updated_at }}
                            </small>

                        </template>
                    </b-table>
                </div>
                <div v-else class="bg-white">
                    <b-skeleton-table
                        :rows="2"
                        :columns="1"
                        :table-props="{ bordered: true }"
                    ></b-skeleton-table>
                </div>
                <h6
                    class="pt-3 pb-4 text-center"
                    v-if="!proyectos.length && !loading"
                >
                    <i class="fas fa-info-circle"></i> No se han registrado planes de proyectos
                </h6>
            </b-card>

            <b-card class="mb-3 bg-light" no-body>
                <div class="px-3">
                    <h5 class="mb-0 ml-1 py-3">
                        Compartidos conmigo
                    </h5>
                </div>

                <div
                    v-if="!loading"
                >
                    <b-table
                        :fields="fields"
                        :items="compartidos"
                        selectable
                        thead-class="hidden_header"
                        class="mb-0 bg-white text-left"
                        @row-selected="setPlan"
                        select-mode="single"
                    >
                        <template #cell()="data">
                            <h6 class="mb-0">
                                {{ data.item.nombre }}
                            </h6>
                            <small class="text-secondary">
                                <!-- {{ data.item.nombre }} -->
                            </small>
                        </template>
                    </b-table>
                </div>
                <div v-else class="bg-white">
                    <b-skeleton-table
                        :rows="2"
                        :columns="1"
                        :table-props="{ bordered: true }"
                    ></b-skeleton-table>
                </div>
                <h6
                    class="pt-3 pb-4 text-center"
                    v-if="!compartidos.length && !loading"
                >
                    <i class="fas fa-info-circle"></i> No se han compartido planes de trabajo contigo
                </h6>
            </b-card>

			<div class="d-flex flex-row-reverse bd-highlight">
				<b-button variant="danger" class="ml-3 my-2" @click="aceptar">
					ACEPTAR
				</b-button>
				<b-button
					variant="white"
					class="link-light my-2"
					@click="cancel"
				>
					CANCELAR
				</b-button>
			</div>
		</template>
	</b-overlay>
</template>

<script>
import { mapMutations, mapState, mapActions } from "vuex";
import { required } from "vuelidate/lib/validators";

export default {
    props: {

	},
	data() {
		return {
            fields: ["nombre"],
			errorSubmit: false,
			overlay: false,
            plan: null,
            loading: true,
		};
	},
	mounted() {
		if (this.usuario) this.getPlanes(this.usuario.idUsuario);
    },
	methods: {
		...mapMutations(["modalSubmit", "modalOk"]),
		...mapMutations("planes", ["addPlan"]),
        ...mapMutations("planes", [
			"setPlanActivo",
			"updatePlan",
			"addActividad",
			"removePlan",
		]),
       ...mapActions("planes", [
			"getPlanes",
			"getSecciones",
			"getActividades",
			"getResponsables",
			"getUsuariosCompartidos",
		]),

		cancel() {
			this.$bvModal.hide("modal-list-planes");
		},

        setPlan(plan) {
            this.plan = plan[0];
		},

        aceptar() {
            this.overlay=true;
			this.setPlanActivo(this.plan);
			this.getSecciones();
			this.getActividades();
			this.getResponsables();
			this.getUsuariosCompartidos();
			this.$bvModal.hide("modal-list-planes");
        }
	},
	computed: {
		...mapState(["usuario"]),
        ...mapState("planes", [
			"planActivo",
			"planes",
		]),

        departamentales() {
            this.planes.forEach((plan) => {
				plan.updated = moment(plan.updated_at, "YYYY-MM-DD").locale("es").format("ll");
			}, this);

			return this.planes.length
				? this.planes.filter(
						(plan) =>
							plan.tipo == "Departamental" &&
							plan.tipoUsuario == "Propietario"
				  )
				: [];
		},
		proyectos() {
            this.planes.forEach((plan) => {
				plan.updated_at = moment(plan.updated_at, "YYYY-MM-DD").locale("es").format("ll");
			}, this);

			return this.planes.length
				? this.planes.filter(
						(plan) =>
							plan.tipo == "Proyecto" &&
							plan.tipoUsuario == "Propietario"
				  )
				: [];
		},
		compartidos() {
			return this.planes.length
				? this.planes.filter(
						(plan) => plan.tipoUsuario != "Propietario"
				  )
				: [];
		},
	},
    watch: {
        planes() {
            this.loading = false;
        }
    }
};
</script>

<style>
.hidden_header {
	display: none;
}
</style>
