<template>
	<b-container fluid>
		<b-row class="text-center">
			<b-col lg="4">
				<b-form inline class="mt-3">
					<b-dropdown id="dropdown-grouped" size="sm" variant="light">
						<template #button-content v-if="planActivo">
							{{ planActivo.nombre }}
						</template>
						<template #button-content v-else>
							SELECCIONE UN PLAN
						</template>

						<b-dropdown-group
							id="dropdown-group-dptos"
							header="Departamentales"
							v-if="departamentales.length"
						>
							<b-dropdown-item-button
								v-for="(plan, index) in departamentales"
								:key="index"
								@click="setPlan(plan)"
							>
								{{ plan.nombre }}
							</b-dropdown-item-button>
						</b-dropdown-group>

						<b-dropdown-group
							id="dropdown-group-proyectos"
							header="Proyectos"
							v-if="proyectos.length"
						>
							<b-dropdown-item-button
								v-for="(plan, index) in proyectos"
								:key="index"
								@click="setPlan(plan)"
							>
								{{ plan.nombre }}
							</b-dropdown-item-button>
						</b-dropdown-group>

						<b-dropdown-group
							id="dropdown-group-2"
							header="Compartidos conmigo"
							v-if="compartidos.length"
						>
							<b-dropdown-item-button
								v-for="(plan, index) in compartidos"
								:key="index"
								@click="setPlan(plan)"
							>
								{{ plan.nombre }}
							</b-dropdown-item-button>
						</b-dropdown-group>
					</b-dropdown>

					<b-button
						class="ml-3"
						variant="danger"
						size="sm"
						v-b-modal.modal-planes
					>
						Nuevo
					</b-button>
				</b-form>
			</b-col>
			<b-col lg="4">
				<h2 class="mt-3">Plan de Trabajo</h2>
			</b-col>
			<b-col lg="4">
				<b-button
					variant="outline-secondary float-right mt-3"
					size="sm"
					@click="showCalendario = true"
				>
					<i class="fas fa-calendar-alt"></i> Calendario
				</b-button>
			</b-col>
		</b-row>
<<<<<<< HEAD
		<template v-if="!showCalendario">
			<b-card class="shadow-sm" no-body>
				<b-row class="p-3">
					<b-col lg="2">
						<div
							class="input-group border w-100 bg-white mt-3 shadow-sm"
							id="input-shadow"
						>
							<div class="input-group-prepend mr-1 ml-3">
								<div class="pt-1 bg-white">
									<i class="fas fa-search"></i>
								</div>
=======

		<b-card v-if="planActivo" class="shadow-sm" no-body>
			<b-row class="p-3">
				<b-col lg="2">
					<div
						class="input-group border w-100 bg-white mt-3 shadow-sm"
						id="input-shadow"
					>
						<div class="input-group-prepend mr-1 ml-3">
							<div class="pt-1 bg-white">
								<i class="fas fa-search"></i>
>>>>>>> 700ca935c1ba824ade2c657c4b6578aa1ae36fc9
							</div>
							<b-form-input
								id="input-search"
								size="sm"
								class="form-control border-0"
								placeholder="Escribe tu busqueda aquí"
								v-model="filter"
								autocomplete="off"
							></b-form-input>
						</div>
					</b-col>
					<b-col lg="2"></b-col>
					<b-col lg="4" class="text-center">
						<h4
							v-if="!planEdit"
							style="cursor: pointer"
							@click="planEdit = true"
						>
							{{ form.nombre }}
							<i
								class="fas fa-edit text-danger ml-1"
								style="font-size: 13px"
							></i>
						</h4>
						<b-form-input
							v-else
							class="text-center border-0"
							:value="form.nombre"
							style="
								margin-top: -10px;
								font-size: 1.5rem;
								font-weight: 500;
								line-height: 1.2;
							"
						></b-form-input>
<<<<<<< HEAD
						<p class="text-secondary mb-0">Departamental</p>
					</b-col>
					<b-col lg="4">
						<b-row>
							<b-col lg="12">
								<b-button-group class="float-right">
									<b-button
										variant="outline-secondary"
										size="sm"
										@click="
											showFormResponsables = true;
											showSidebar = true;
										"
									>
										<i class="far fa-file-pdf mr-1"></i>
										Responsables
									</b-button>
									<b-button variant="outline-secondary" size="sm">
										<i class="far fa-file-pdf mr-1"></i>
										Resumen
									</b-button>
									<b-button
										variant="outline-secondary"
										size="sm"
										@click="
											showFormUsuarios = true;
											showSidebar = true;
										"
									>
										<i class="fas fa-users mr-1"></i>
										Compartir
									</b-button>
									<b-button
										variant="outline-danger"
										size="sm"
										v-b-modal.modal-eliminar
									>
										<i class="fas fa-trash mr-1"></i>
										Eliminar
									</b-button>
								</b-button-group>
							</b-col>
						</b-row>
						<b-row>
							<b-col lg="12">
								<b-badge
									variant="light"
									class="shadow-sm float-right mt-3"
								>
									<font class="text-success">
										<i class="fas fa-check mr-1"></i>
										Cambios guardados
									</font>
								</b-badge>
							</b-col>
						</b-row>
					</b-col>
				</b-row>
				<hr class="my-0" />
				<b-table-simple
					bordered
					sorted
					responsive
					size="sm"
					class="mb-0"
				>
					<b-thead>
						<b-tr class="text-center">
							<b-th class="align-middle" rowspan="2">Actividad</b-th>
							<b-th class="align-middle" rowspan="2"
								>Responsable</b-th
							>
							<b-th class="align-middle" rowspan="2">
								Inicio P
								<b-dropdown
									id="dropdown-grouped"
									variant="white"
									no-caret
								>
									<template #button-content>
										<small><i class="fas fa-filter"></i></small>
									</template>
									<b-dropdown-form>
										<b-form-checkbox> Enero </b-form-checkbox>
										<b-form-checkbox> Febrero </b-form-checkbox>
										<b-form-checkbox> Marzo </b-form-checkbox>
										<b-form-checkbox> Abril </b-form-checkbox>
										<b-form-checkbox> Mayo </b-form-checkbox>
										<b-form-checkbox> Junio </b-form-checkbox>
										<b-form-checkbox> Julio </b-form-checkbox>
										<b-form-checkbox>
											Septiembre
										</b-form-checkbox>
										<b-form-checkbox> Octubre </b-form-checkbox>
										<b-form-checkbox>
											Noviembre
										</b-form-checkbox>
										<b-form-checkbox>
											Diciembre
										</b-form-checkbox>
									</b-dropdown-form>
								</b-dropdown>
							</b-th>
							<b-th class="align-middle" rowspan="2">
								Entrega P
								<b-dropdown
									id="dropdown-grouped"
									variant="white"
									no-caret
								>
									<template #button-content>
										<small><i class="fas fa-filter"></i></small>
									</template>
									<b-dropdown-form>
										<b-form-checkbox> Enero </b-form-checkbox>
										<b-form-checkbox> Febrero </b-form-checkbox>
										<b-form-checkbox> Marzo </b-form-checkbox>
										<b-form-checkbox> Abril </b-form-checkbox>
										<b-form-checkbox> Mayo </b-form-checkbox>
										<b-form-checkbox> Junio </b-form-checkbox>
										<b-form-checkbox> Julio </b-form-checkbox>
										<b-form-checkbox>
											Septiembre
										</b-form-checkbox>
										<b-form-checkbox> Octubre </b-form-checkbox>
										<b-form-checkbox>
											Noviembre
										</b-form-checkbox>
										<b-form-checkbox>
											Diciembre
										</b-form-checkbox>
									</b-dropdown-form>
								</b-dropdown>
							</b-th>
							<b-th class="align-middle" rowspan="2">Días EP</b-th>
							<b-th class="align-middle" rowspan="2">% Deseado</b-th>
							<b-th class="align-middle" rowspan="2">
								Inicio R
								<b-dropdown
=======
					</div>
				</b-col>
				<b-col lg="2"></b-col>
				<b-col lg="4" v-if="!lector" class="text-center">
					<h4
						v-if="!planEdit"
						style="cursor: pointer"
						@click="planEdit = true"
					>
						{{ form.nombre }}
						<i
							class="fas fa-edit text-danger ml-1"
							style="font-size: 13px"
						></i>
					</h4>
					<b-form-input
						v-else
						class="text-center border-0"
						v-model="form.nombre"
						@blur="edit()"
						autofocus
						style="
							margin-top: -10px;
							font-size: 1.5rem;
							font-weight: 500;
							line-height: 1.2;
						"
					></b-form-input>
					<p class="text-secondary mb-0">
						{{ planActivo.tipo }}
					</p>
				</b-col>

				<b-col lg="4" v-else class="text-center">
					<h4>
						{{ planActivo.nombre }}
					</h4>
					<p class="text-secondary mb-0">
						{{ planActivo.tipo }}
					</p>
				</b-col>

				<b-col lg="4">
					<b-row>
						<b-col lg="12">
							<b-button-group class="float-right">
								<b-button
									v-if="!lector"
									variant="outline-secondary"
									size="sm"
									@click="
										showFormResponsables = true;
										showSidebar = true;
									"
								>
									<i class="far fa-file-pdf mr-1"></i>
									Responsables
								</b-button>
								<b-button variant="outline-secondary" size="sm">
									<i class="far fa-file-pdf mr-1"></i>
									Resumen
								</b-button>
								<b-button
									v-if="!lector"
									variant="outline-secondary"
									size="sm"
									@click="
										showFormUsuarios = true;
										showSidebar = true;
									"
								>
									<i class="fas fa-users mr-1"></i>
									Compartir
								</b-button>
								<b-button
									v-if="!lector && showEliminar"
									variant="outline-danger"
									size="sm"
									v-b-modal.modal-eliminar
								>
									<i class="fas fa-trash mr-1"></i>
									Eliminar
								</b-button>
							</b-button-group>
						</b-col>
					</b-row>
					<b-row>
						<b-col lg="12">
							<b-badge
								v-if="saveProcess.active"
								:variant="saveProcess.variantBadge"
								class="shadow-sm float-right mt-3"
							>
								<font>
									<i :class="saveProcess.iconClass"></i>
									{{ saveProcess.textBadge }}
								</font>
							</b-badge>
						</b-col>
					</b-row>
				</b-col>
			</b-row>
			<hr class="my-0" />

			<b-skeleton-table
				v-if="load"
				:rows="7"
				:columns="13"
				:table-props="{ bordered: true, striped: true }"
			></b-skeleton-table>

			<template v-else>
				<b-table-simple
					v-if="secciones.length"
					bordered
					sorted
					responsive
					size="sm"
					class="mb-0"
				>
					<b-thead>
						<b-tr class="text-center">
							<b-th class="align-middle" rowspan="2"
								>Actividad</b-th
							>
							<b-th class="align-middle" rowspan="2"
								>Responsable</b-th
							>
							<b-th class="align-middle" rowspan="2">
								Inicio P
								<b-dropdown
									v-if="showFilterInicioP"
>>>>>>> 700ca935c1ba824ade2c657c4b6578aa1ae36fc9
									id="dropdown-grouped"
									variant="white"
									no-caret
								>
									<template #button-content>
<<<<<<< HEAD
										<small><i class="fas fa-filter"></i></small>
									</template>
									<b-dropdown-form>
										<b-form-checkbox> Enero </b-form-checkbox>
										<b-form-checkbox> Febrero </b-form-checkbox>
										<b-form-checkbox> Marzo </b-form-checkbox>
										<b-form-checkbox> Abril </b-form-checkbox>
										<b-form-checkbox> Mayo </b-form-checkbox>
										<b-form-checkbox> Junio </b-form-checkbox>
										<b-form-checkbox> Julio </b-form-checkbox>
										<b-form-checkbox>
											Septiembre
										</b-form-checkbox>
										<b-form-checkbox> Octubre </b-form-checkbox>
										<b-form-checkbox>
											Noviembre
										</b-form-checkbox>
										<b-form-checkbox>
											Diciembre
										</b-form-checkbox>
=======
										<small
											><i
												class="fas fa-filter"
												:class="
													filterMesInicioP.length
														? 'text-danger'
														: 'text-dark'
												"
											></i
										></small>
									</template>
									<b-dropdown-form>
										<b-form-checkbox-group
											id="check-mes-inicio-planeado"
											v-model="filterMesInicioP"
											:options="meses"
											value-field="item"
											text-field="name"
											name="mesInicioPlaneado"
											class="ml-4"
											stacked
										></b-form-checkbox-group>
>>>>>>> 700ca935c1ba824ade2c657c4b6578aa1ae36fc9
									</b-dropdown-form>
								</b-dropdown>
							</b-th>
							<b-th class="align-middle" rowspan="2">
<<<<<<< HEAD
								Entrega R
								<b-dropdown
=======
								Entrega P
								<b-dropdown
									v-if="showFilterFinP"
>>>>>>> 700ca935c1ba824ade2c657c4b6578aa1ae36fc9
									id="dropdown-grouped"
									variant="white"
									no-caret
								>
									<template #button-content>
<<<<<<< HEAD
										<small><i class="fas fa-filter"></i></small>
									</template>
									<b-dropdown-form>
										<b-form-checkbox> Enero </b-form-checkbox>
										<b-form-checkbox> Febrero </b-form-checkbox>
										<b-form-checkbox> Marzo </b-form-checkbox>
										<b-form-checkbox> Abril </b-form-checkbox>
										<b-form-checkbox> Mayo </b-form-checkbox>
										<b-form-checkbox> Junio </b-form-checkbox>
										<b-form-checkbox> Julio </b-form-checkbox>
										<b-form-checkbox>
											Septiembre
										</b-form-checkbox>
										<b-form-checkbox> Octubre </b-form-checkbox>
										<b-form-checkbox>
											Noviembre
										</b-form-checkbox>
										<b-form-checkbox>
											Diciembre
										</b-form-checkbox>
									</b-dropdown-form>
								</b-dropdown>
							</b-th>
							<b-th class="align-middle" rowspan="2">Días ER</b-th>
							<b-th colspan="4" class="py-1">Avance</b-th>
							<b-th class="align-middle" rowspan="2">Eficiencia</b-th>
							<b-th class="align-middle" rowspan="2"
								>Observaciones</b-th
							>
							<b-th class="align-middle" rowspan="2">Acciones</b-th>
						</b-tr>
						<b-tr class="text-center">
							<th class="py-1">25%</th>
							<th class="py-1">50%</th>
							<th class="py-1">75%</th>
							<th class="py-1">100%</th>
=======
										<small
											><i
												class="fas fa-filter"
												:class="
													filterMesFinP.length
														? 'text-danger'
														: 'text-dark'
												"
											></i
										></small>
									</template>
									<b-dropdown-form>
										<b-form-checkbox-group
											id="check-mes-fin-planeado"
											v-model="filterMesFinP"
											:options="meses"
											value-field="item"
											text-field="name"
											name="mesFinPlaneado"
											class="ml-4"
											stacked
										></b-form-checkbox-group>
									</b-dropdown-form>
								</b-dropdown>
							</b-th>
							<b-th class="align-middle" rowspan="2"
								>Días EP</b-th
							>
							<b-th class="align-middle" rowspan="2"
								>% Deseado</b-th
							>
							<b-th class="align-middle" rowspan="2">
								Inicio R
								<b-dropdown
									v-if="showFilterInicioR"
									id="dropdown-grouped"
									variant="white"
									no-caret
								>
									<template #button-content>
										<small
											><i
												class="fas fa-filter"
												:class="
													filterMesInicioR.length
														? 'text-danger'
														: 'text-dark'
												"
											></i
										></small>
									</template>
									<b-dropdown-form>
										<b-form-checkbox-group
											id="check-mes-inicio-real"
											v-model="filterMesInicioR"
											:options="meses"
											value-field="item"
											text-field="name"
											name="mesInicioReal"
											class="ml-4"
											stacked
										></b-form-checkbox-group>
									</b-dropdown-form>
								</b-dropdown>
							</b-th>
							<b-th class="align-middle" rowspan="2">
								Entrega R
								<b-dropdown
									v-if="showFilterFinR"
									id="dropdown-grouped"
									variant="white"
									no-caret
								>
									<template #button-content>
										<small
											><i
												class="fas fa-filter"
												:class="
													filterMesFinR.length
														? 'text-danger'
														: 'text-dark'
												"
											></i
										></small>
									</template>
									<b-dropdown-form>
										<b-form-checkbox-group
											id="check-mes-fin-real"
											v-model="filterMesFinR"
											:options="meses"
											value-field="item"
											text-field="name"
											name="mesFinReal"
											class="ml-4"
											stacked
										></b-form-checkbox-group>
									</b-dropdown-form>
								</b-dropdown>
							</b-th>
							<b-th class="align-middle" rowspan="2"
								>Días ER</b-th
							>
							<b-th v-if="!lector" colspan="4" class="py-1"
								>Avance</b-th
							>
							<b-th v-else rowspan="2" class="align-middle"
								>Avance</b-th
							>

							<b-th class="align-middle" rowspan="2"
								>Eficiencia</b-th
							>
							<b-th class="align-middle" rowspan="2"
								>Observaciones</b-th
							>
							<b-th
								v-if="!lector"
								class="align-middle"
								rowspan="2"
								>Acciones</b-th
							>
						</b-tr>
						<b-tr class="text-center">
							<template v-if="!lector">
								<th class="py-1">25%</th>
								<th class="py-1">50%</th>
								<th class="py-1">75%</th>
								<th class="py-1">100%</th>
							</template>
>>>>>>> 700ca935c1ba824ade2c657c4b6578aa1ae36fc9
						</b-tr>
					</b-thead>
					<b-tbody>
						<template v-for="(seccion, index) in secciones">
							<planes-tr-seccion-component
<<<<<<< HEAD
								:seccion="seccion"
								:key="index"
							/>
							<template v-for="(actividad, index) in actividades">
								<planes-form-actividad-component
									v-if="actividad.idSeccion == seccion.idSeccion"
									:key="index"
=======
								:lector="lector"
								:seccion="seccion"
								:actividades="setActividades(seccion.idSeccion)"
								:key="seccion.idSeccion + 'SE'"
								@submitActividad="submitActividad($event)"
							/>
							<template
								v-for="(actividad, index) in setActividades(
									seccion.idSeccion
								)"
							>
								<planes-form-actividad-component
									:lector="lector"
									:key="actividad.idActividad + 'AC'"
>>>>>>> 700ca935c1ba824ade2c657c4b6578aa1ae36fc9
									:actividad="actividad"
								/>
							</template>
						</template>
					</b-tbody>
				</b-table-simple>
<<<<<<< HEAD
				<div class="bg-light">
=======

				<div v-else>
					<h6 class="text-center m-4">
						No hay registros
					</h6>
				</div>

				<div v-if="!lector" class="bg-light">
>>>>>>> 700ca935c1ba824ade2c657c4b6578aa1ae36fc9
					<center>
						<b-button
							variant="link"
							class="text-danger"
							size="sm"
							v-b-modal.modal-seccion
						>
							<i class="fas fa-plus-circle"></i>
							Agregar sección
						</b-button>
					</center>
<<<<<<< HEAD
=======
				</div>
			</template>
		</b-card>

		<b-card v-else class="shadow-sm" no-body>
			<div style="height: calc(100vh - 120px)">
				<icon-text-component
					:icon="'fas fa-comment-alt'"
					:text="'NO SE HA SELECCIONADO NINGÚN PLAN DE TRABAJO'"
					:circleStyle="{
						backgroundColor: '#f5f5f6',
						color: '#a8aeb3',
					}"
				/>
			</div>
		</b-card>

		<b-sidebar
			id="sidebar-backdrop"
			backdrop-variant="transparent"
			class="bg-white"
			shadow
			right
			bg-variant="white"
			text-variant="dark"
			width="530px"
			:visible="showSidebar"
			@hidden="hiddenSidebar"
		>
			<planes-form-usuarios-component v-if="showFormUsuarios" />
			<planes-form-responsables-component v-if="showFormResponsables" />
		</b-sidebar>

		<modal-component
			:id="'modal-planes'"
			:title="'Nuevo Plan de Trabajo'"
			:hideFooter="true"
			:hideHeader="true"
			:centered="true"
		>
			<template slot="content">
				<planes-form-plan-component />
			</template>
		</modal-component>

		<modal-component
			:id="'modal-seccion'"
			:title="'Nueva Sección'"
			:hideFooter="true"
			:hideHeader="true"
			:centered="true"
		>
			<template slot="content">
				<planes-form-seccion-component />
			</template>
		</modal-component>

		<modal-component
			:id="'modal-eliminar'"
			:title="'Eliminar Plan de Trabajo'"
			:hideFooter="true"
			:hideHeader="true"
			:centered="true"
		>
			<template slot="content">
				<h5>¿Está seguro que desea eliminar este plan de trabajo?</h5>
				<div class="d-flex flex-row-reverse bd-highlight">
					<b-button
						variant="danger"
						class="ml-3 my-2"
						@click="submitEliminar"
					>
						ELIMINAR
					</b-button>
					<b-button
						variant="white"
						class="link-light my-2"
						@click="cancelEliminar"
					>
						CANCELAR
					</b-button>
>>>>>>> 700ca935c1ba824ade2c657c4b6578aa1ae36fc9
				</div>
			</b-card>
			<b-sidebar
				id="sidebar-backdrop"
				backdrop-variant="transparent"
				class="bg-white"
				shadow
				right
				bg-variant="white"
				text-variant="dark"
				width="530px"
				:visible="showSidebar"
				@hidden="hiddenSidebar"
			>
				<planes-form-usuarios-component v-if="showFormUsuarios" />
				<planes-form-responsables-component v-if="showFormResponsables" />
			</b-sidebar>
			<modal-component
				:id="'modal-planes'"
				:title="'Nuevo Plan de Trabajo'"
				:hideFooter="true"
				:hideHeader="true"
				:centered="true"
			>
				<template slot="content">
					<planes-form-plan-component />
				</template>
			</modal-component>
			<modal-component
				:id="'modal-seccion'"
				:title="'Nueva Sección'"
				:hideFooter="true"
				:hideHeader="true"
				:centered="true"
			>
				<template slot="content">
					<planes-form-seccion-component />
				</template>
			</modal-component>
			<modal-component
				:id="'modal-eliminar'"
				:title="'Eliminar Plan de Trabajo'"
				:hideFooter="true"
				:hideHeader="true"
				:centered="true"
			>
				<template slot="content">
					<h5>¿Está seguro que desea eliminar este plan de trabajo?</h5>
					<div class="d-flex flex-row-reverse bd-highlight">
						<b-button
							variant="danger"
							class="ml-3 my-2"
							@click="submitEliminar"
						>
							ELIMINAR
						</b-button>
						<b-button
							variant="white"
							class="link-light my-2"
							@click="cancelEliminar"
						>
							CANCELAR
						</b-button>
					</div>
				</template>
			</modal-component>
		</template>
		<planes-calendario-component v-else/>
	</b-container>
</template>

<script>
import { mapMutations, mapState, mapActions } from "vuex";
import { required } from "vuelidate/lib/validators";

export default {
	data() {
		return {
			meses: [
				{ item: "1", name: "Enero" },
				{ item: "2", name: "Febrero" },
				{ item: "3", name: "Marzo" },
				{ item: "4", name: "Abril" },
				{ item: "5", name: "Mayo" },
				{ item: "6", name: "Junio" },
				{ item: "7", name: "Julio" },
				{ item: "8", name: "Agosto" },
				{ item: "9", name: "Septiembre" },
				{ item: "10", name: "Octubre" },
				{ item: "11", name: "Noviembre" },
				{ item: "12", name: "Diciembre" },
			],
			filterMesInicioP: [],
			filterMesFinP: [],
			filterMesInicioR: [],
			filterMesFinR: [],
			filter: "",
			showCalendario: true,
			showSidebar: false,
			showFormUsuarios: false,
			showFormResponsables: false,
			load: true,
			form: {
				nombre: "",
			},
			planEdit: false,
		};
	},
	mounted() {
		if (this.usuario) this.getPlanes(this.usuario.idUsuario);
		this.getUsuariosAll();
		this.setPlanActivo(null);
	},
	methods: {
		...mapActions("usuarios", ["getUsuariosAll"]),
		...mapMutations(["modalOk"]),
		...mapMutations("planes", [
			"setPlanActivo",
			"updatePlan",
			"addActividad",
			"removePlan",
		]),
		...mapActions("planes", [
			"getPlanes",
			"getSecciones",
			"getActividades",
			"getResponsables",
			"getUsuariosCompartidos",
		]),
		async edit() {
			this.planEdit = false;
			if (this.planActivo.nombre != this.form.nombre) {
				try {
					const response = await axios.put(
						BaseUrl + `/api/planes/${this.planActivo.idPlan}`,
						this.form
					);
					if (response.data.success) {
						this.setPlanActivo(response.data.plan);
						this.updatePlan(response.data.plan);
						this.makeToast(
							"success",
							"Exito",
							"Se han guardado correctamente los cambios"
						);
					}
				} catch (e) {
					this.makeToast(
						"danger ",
						"Error",
						"Ha ocurrido un problema al editar el plan"
					);
				}
			}
		},
		async submitEliminar() {
			try {
				const response = await axios.delete(
					BaseUrl + `/api/planes/${this.planActivo.idPlan}`
				);
				if (response.data.success) {
					this.removePlan(this.planActivo.idPlan);
					this.makeToast(
						"success",
						"Exito",
						"Se ha eliminado correctamente el registro"
					);
					this.cancelEliminar();
				} else this.modalOk(false);
			} catch (e) {
				console.log(e);
			}
		},
		cancelEliminar() {
			this.$bvModal.hide("modal-eliminar");
		},
		hiddenSidebar() {
			this.showSidebar = false;
			this.showFormUsuarios = false;
			this.showFormResponsables = false;
		},
		setActividades(idSeccion) {
			let actividades = this.actividadesFilter.filter(
				(actividad) => actividad.idSeccion == idSeccion
			);
			return this.ordenarActividades(actividades);
		},
		ordenarActividades(obj) {
			return obj.sort(function(a, b) {
				return (
					Number(new Date(a.inicioP)) - Number(new Date(b.inicioP))
				);
			});
		},
		async submitActividad(idSeccion) {
			try {
				const data = {
					idSeccion: idSeccion,
					idPlan: this.planActivo.idPlan,
				};
				const response = await axios.post(
					BaseUrl + `/api/planes/actividad`,
					data
				);
				if (response.data.success)
					this.addActividad(response.data.actividad);
			} catch (e) {
				console.log(e);
			}
		},
		setPlan(plan) {
			this.load = true;
			this.setPlanActivo(plan);
			this.getSecciones();
			this.getActividades();
			this.getResponsables();
			this.getUsuariosCompartidos();
		},
		makeToast(variant = null, title, text) {
			this.$bvToast.toast(text, {
				title: title,
				variant: variant,
				solid: true,
			});
		},
	},
	computed: {
		...mapState(["usuario", "saveProcess"]),
		...mapState("planes", [
			"usuariosCompartidos",
			"actividades",
			"secciones",
			"responsables",
			"planActivo",
			"planes",
		]),
		lector() {
			if (this.usuariosCompartidos.length) {
				let usuario = this.usuariosCompartidos.find(
					(usuario) => this.usuario.idUsuario == usuario.idUsuario
				);
				this.load = false;
				return usuario.tipo == "Lector" ? true : false;
			}
			return true;
		},
		departamentales() {
			return this.planes.length
				? this.planes.filter(
						(plan) =>
							plan.tipo == "Departamental" &&
							plan.tipoUsuario == "Propietario"
				  )
				: [];
		},
		proyectos() {
			return this.planes.length
				? this.planes.filter(
						(plan) =>
							plan.tipo == "Proyecto" &&
							plan.tipoUsuario == "Propietario"
				  )
				: [];
		},
		compartidos() {
			return this.planes.length
				? this.planes.filter(
						(plan) => plan.tipoUsuario != "Propietario"
				  )
				: [];
		},
		actividadesFilter() {
			if (this.filter) {
				return this.actividadesFilterMes.filter((actividad) => {
					if (actividad.actividad) {
						if (
							actividad.actividad
								.toLowerCase()
								.indexOf(this.filter.toLowerCase()) > -1
						) {
							return actividad;
						}
					}
				});
			} else return this.actividadesFilterMes;
		},
		actividadesFilterMes() {
			if (this.filterMesInicioP.length) {
				return this.actividades.filter((actividad) => {
					var actMes = moment(actividad.inicioP).format("M");
					if (this.filterMesInicioP.indexOf(actMes) > -1)
						return actividad;
				});
			} else if (this.filterMesFinP.length) {
				return this.actividades.filter((actividad) => {
					var actMes = moment(actividad.finP).format("M");
					if (this.filterMesFinP.indexOf(actMes) > -1)
						return actividad;
				});
			} else if (this.filterMesInicioR.length) {
				return this.actividades.filter((actividad) => {
					var actMes = moment(actividad.inicioR).format("M");
					if (this.filterMesInicioR.indexOf(actMes) > -1)
						return actividad;
				});
			} else if (this.filterMesFinR.length) {
				return this.actividades.filter((actividad) => {
					var actMes = moment(actividad.finR).format("M");
					if (this.filterMesFinR.indexOf(actMes) > -1)
						return actividad;
				});
			} else return this.actividades;
		},
		showEliminar() {
			return this.secciones.length ? false : true;
		},
		showFilterInicioP() {
			return !this.filterMesFinP.length &&
				!this.filterMesInicioR.length &&
				!this.filterMesFinR.length
				? true
				: false;
		},
		showFilterFinP() {
			return !this.filterMesInicioP.length &&
				!this.filterMesInicioR.length &&
				!this.filterMesFinR.length
				? true
				: false;
		},
		showFilterInicioR() {
			return !this.filterMesFinR.length &&
				!this.filterMesInicioP.length &&
				!this.filterMesFinP.length
				? true
				: false;
		},
		showFilterFinR() {
			return !this.filterMesInicioP.length &&
				!this.filterMesFinP.length &&
				!this.filterMesInicioR.length
				? true
				: false;
		},
	},
	watch: {
		planActivo() {
			this.form.nombre = this.planActivo.nombre;
		},
		usuario() {
			this.getPlanes(this.usuario.idUsuario);
		},
	},
};
</script>
