<template>
    <div>
        <b-form>
            <small> Seleccione las fechas que decea reportar</small>
            <hr>
            <b-row class="">
                <b-col>
                    <b-form-group>
                        <template v-slot:label>
                            <div class="lab-form">Fecha Inicio<span class="req">*</span></div>
                        </template>
                        <b-form-input
                            v-model="form.fechaInicio"
                            type="date"
                        >
                        </b-form-input>
                    </b-form-group>
                </b-col>
                <b-col>
                    <b-form-group>
                        <template v-slot:label>
                            <div class="lab-form">Fecha Fin<span class="req">*</span></div>
                        </template>

                        <b-form-input
                            v-model="form.fechaFin"
                            type="date"
                        >
                        </b-form-input>
                    </b-form-group>
                </b-col>
            </b-row>
        </b-form>

        <template v-if="form.fechaInicio && form.fechaFin" >
            <div class="py-4 text-center"><h5>Actividades del {{fechaInicio}} al {{fechaFin}}</h5></div>

            <b-table-simple bordered>
                <b-thead>
                    <b-tr class="bg-light">
                        <b-th>Tema</b-th>
                        <b-th class="text-center">Total de activiades</b-th>
                        <b-th class="text-center">Terminadas</b-th>
                        <b-th class="text-center">Cumplimiento</b-th>
                        <b-th class="text-center">Eficiencia</b-th>
                    </b-tr>
                </b-thead>
                <b-tbody>
                    <template v-for="(seccion, index) in secciones">
                        <planes-resumen-tr-seccion 
                            :seccion="seccion" 
                            :key="index" 
                            :fechaInicio="form.fechaInicio" 
                            :fechaFin="form.fechaFin">
                        </planes-resumen-tr-seccion>
                    </template>
                </b-tbody>
            </b-table-simple>

            <div class="text-center py-3">
                <b-alert show class="mb-0">Eficiencia del mes: 90 %</b-alert>
            </div>
        </template>
        <b-alert v-else show variant="warning">Seleccione las fechas que decea reportar</b-alert>
    </div>
</template>

<script>
import { mapMutations, mapState } from "vuex";

export default {
	props: {
		
	},
	data() {
		return {
			form: {
                fechaInicio: null,
                fechaFin: null,
            }
		};
	},
	mounted() {
		
	},
	methods: {
		
	},
	computed: {
		...mapState("planes", [
			"actividades",
			"secciones",
			"planActivo",
		]),
		fechaInicio() {
            return moment(this.form.fechaInicio)
                .locale("es")
                .format("L");
		},
        fechaFin() {
            return moment(this.form.fechaFin)
                .locale("es")
                .format("L");
		},
	},
};
</script>
