<template>
    <tr>
        <td>{{seccion.nombre}}</td>
        <td class="text-center">{{totalActividadesBySeccion}}</td>
        <td class="text-center">{{totalActividadesTerminadasBySeccion}}</td>
        <td class="text-center">{{cumplimientoBySeccion}}</td>
        <td class="text-center">{{eficienciaBySeccion}}%</td>
    </tr>
</template>

<script>
import { mapMutations, mapState } from "vuex";

export default {
	props: {
		seccion: Object,
        fechaInicio: String,
        fechaFin: String
	},
	data() {
		return {
			
		};
	},
	mounted() {
		
	},
	computed: {
		...mapState("planes", [
			"actividades",
			"secciones",
			"planActivo",
		]),
        totalActividadesBySeccion() {
            let actividades = this.actividades.filter(
				(actividad) => actividad.idSeccion == this.seccion.idSeccion && actividad.inicioP >= this.fechaInicio && actividad.inicioP <= this.fechaFin
			);
            return actividades.length
        },
        totalActividadesTerminadasBySeccion() {
            let actividades = this.actividades.filter(
				(actividad) => actividad.idSeccion == this.seccion.idSeccion && actividad.inicioP >= this.fechaInicio && actividad.inicioP <= this.fechaFin && actividad.avance == "100"
			);
            if (actividades.length > 0)
                return actividades.length
            else return "0"
        },
        cumplimientoBySeccion() {
            if(this.totalActividadesBySeccion>0){
                if(this.totalActividadesTerminadasBySeccion)
                    return (this.totalActividadesTerminadasBySeccion / this.totalActividadesBySeccion * 100).toFixed(0) + "%"
                else return "0%"
            }
            else return "N/A" 
        },
        eficienciaBySeccion() {
            let actividades = this.actividades.filter(
				(actividad) => actividad.idSeccion == this.seccion.idSeccion && actividad.inicioP >= this.fechaInicio && actividad.inicioP <= this.fechaFin && actividad.avance == "100"
			);

            //Por actividad sacar diferiencia de inicioP y finP, 
            //Por actividad sacar diferiencia de inicioR y finR,
            //Eficiencia = difR / difP * 100
            //Crear arreglo para sacar el promedio de las eficiencias

            let suma = actividades.map(
                (actividad)=>{
                    const difP = moment(actividad.finP).diff(moment(actividad.inicioP), 'days')
                    console.log("difP",difP)
                    const difR = moment(actividad.finR).diff(moment(actividad.inicioR), 'days')
                    console.log("difR",difR)

                    const eficiencia = (difP + 1) / (difR + 1) * 100
                    console.log("eficiencia",difP)
                    
                    return eficiencia
                }
            ).reduce((sumatoria, eficiencia) => sumatoria + eficiencia, 0); 
            
            var promedio = suma/this.totalActividadesBySeccion

            if (promedio>100)
                return 100;
            else
                return promedio.toFixed(0);

        }
	},
};
</script>
