<template>
	<b-tr class="bg-light p-2">
		<b-td colspan="2" class="align-middle">
			<strong> {{ seccion.nombre }} </strong>&nbsp;
			<b-button
				v-if="!lector"
				variant="link"
				size="sm"
				class="text-danger"
				@click="$emit('submitActividad', seccion.idSeccion)"
			>
				<i class="fas fa-plus-circle"></i> Agregar
			</b-button>
		</b-td>
		<b-td class="text-center align-middle">
			<strong> {{ inicioP }} </strong>
		</b-td>
		<b-td class="text-center align-middle">
			<strong> {{ finP }} </strong>
		</b-td>
		<b-td class="text-center align-middle">
			{{ diasEP }}
		</b-td>
		<b-td class="text-center align-middle"> {{ deseado }}% </b-td>
		<b-td class="text-center align-middle">
			<strong> {{ inicioR }} </strong>
		</b-td>
		<b-td class="text-center align-middle">
			<strong> {{ finR }} </strong>
		</b-td>
		<b-td class="text-center align-middle">
			{{ diasER }}
		</b-td>

		<b-td v-if="!lector" colspan="4"></b-td>
		<b-td v-else></b-td>

		<b-td class="text-center align-middle"> {{ eficiencia }}% </b-td>
		<b-td></b-td>
		<b-td v-if="!lector" class="text-center">
			<b-button
				size="sm"
				variant="white"
				v-if="!actividades.length"
				@click="showMsgBoxDeleteConfirm()"
			>
				<i class="fas fa-trash text-danger"></i>
			</b-button>
		</b-td>
	</b-tr>
</template>

<script>
import { mapMutations, mapState, mapActions } from "vuex";
import { required } from "vuelidate/lib/validators";

export default {
	props: {
		seccion: Object,
		lector: Boolean,
		actividades: Array,
	},
	data() {
		return {
			load: true,
			errorSubmit: false,
			overlay: false,
		};
	},
	mounted() {},
	methods: {
		...mapMutations("planes", ["removeSeccion"]),

		showMsgBoxDeleteConfirm() {
			this.$bvModal
				.msgBoxConfirm(
					"¿Está seguro de que desea eliminar esta sección?",
					{
						title: "Favor de confirmar",
						size: "sm",
						buttonSize: "sm",
						okVariant: "danger",
						cancelVariant: "light",
						okTitle: "Eliminar",
						cancelTitle: "Cancelar",
						headerClass: "pt-3 pb-2 border-bottom-0",
						footerClass: "p-2 border-top-0",
						centered: true,
					}
				)
				.then((confirm) => {
					if (confirm) this.submitEliminar();
				});
		},
		async submitEliminar() {
			try {
				const response = await axios.delete(
					BaseUrl + `/api/planes/seccion/${this.seccion.idSeccion}`
				);
				if (response.data.success)
					this.removeSeccion(this.seccion.idSeccion);
			} catch (e) {
				console.log(e);
			}
		},
		getActDeseado(actividad) {
			if (
				!moment(this.resumen.diaCalculable).isBefore(actividad.inicioP)
			) {
				if (
					!moment(this.resumen.diaCalculable).isAfter(actividad.finP)
				) {
					const diff = moment(this.resumen.diaCalculable).diff(
						moment(actividad.inicioP),
						"days"
					);

					var diasEP = this.getActDiasEP(actividad);

					if (diasEP != 0) {
						let response = (isNaN(diff) ? 0 : diff) / diasEP;
						return response.toFixed(2);
					} else return 0;
				} else return 1;
			} else return 0;
		},
		getActDiasEP(actividad) {
			let diff = moment(actividad.finP).diff(
				moment(actividad.inicioP),
				"days"
			);
			return isNaN(diff) ? 0 : diff;
		},
	},
	computed: {
		...mapState("planes", ["resumen"]),

		inicioP() {
			let minDate = null;
			if (this.actividades.length) {
				this.actividades.forEach((actividad) => {
					if (actividad.inicioP) {
						if (minDate) {
							if (moment(actividad.inicioP).isBefore(minDate)) {
								minDate = actividad.inicioP;
							}
						} else minDate = actividad.inicioP;
					}
				}, this);
			}
			return minDate
				? moment(minDate)
						.locale("es")
						.format("L")
				: "00/00/0000";
		},
		finP() {
			let maxDate = null;
			if (this.actividades.length) {
				this.actividades.forEach((actividad) => {
					if (actividad.finP) {
						if (maxDate) {
							if (moment(actividad.finP).isAfter(maxDate)) {
								maxDate = actividad.finP;
							}
						} else maxDate = actividad.finP;
					}
				}, this);
			}
			return maxDate
				? moment(maxDate)
						.locale("es")
						.format("L")
				: "00/00/0000";
		},
		inicioR() {
			let minDate = null;
			if (this.actividades.length) {
				this.actividades.forEach((actividad) => {
					if (actividad.inicioR) {
						if (minDate) {
							if (moment(actividad.inicioR).isBefore(minDate)) {
								minDate = actividad.inicioR;
							}
						} else minDate = actividad.inicioR;
					}
				}, this);
			}
			return minDate
				? moment(minDate)
						.locale("es")
						.format("L")
				: "00/00/0000";
		},
		finR() {
			let maxDate = null;
			if (this.actividades.length) {
				this.actividades.forEach((actividad) => {
					if (actividad.finR) {
						if (maxDate) {
							if (moment(actividad.finR).isAfter(maxDate)) {
								maxDate = actividad.finR;
							}
						} else maxDate = actividad.finR;
					}
				}, this);
			}
			return maxDate
				? moment(maxDate)
						.locale("es")
						.format("L")
				: "00/00/0000";
		},
		diasEP() {
			if (this.actividades.length) {
				return this.actividades.reduce((sumaDiff, actividad) => {
					var diff = moment(actividad.finP).diff(
						moment(actividad.inicioP),
						"days"
					);
					return sumaDiff + (isNaN(diff) ? 0 : diff);
				}, 0);
			} else return 0;
		},
		diasER() {
			if (this.actividades.length) {
				return this.actividades.reduce((sumaDiff, actividad) => {
					var diff = moment(actividad.finR).diff(
						moment(actividad.inicioR),
						"days"
					);
					return sumaDiff + (isNaN(diff) ? 0 : diff);
				}, 0);
			} else return 0;
		},
		diasGanados() {
			if (this.actividades.length) {
				var temp = 0;
				this.actividades.forEach((actividad) => {
					var deseado = this.getActDeseado(actividad);
					var diasEP = this.getActDiasEP(actividad);
					var actDiasG = deseado * diasEP;
					temp += actDiasG;
				}, this);
				return temp.toFixed(2);
			}
			return 0.0;
		},
		deseado() {
			if (this.diasEP > 0) {
				return ((this.diasGanados / this.diasEP) * 100).toFixed(2);
			} else return 0;
		},
		eficiencia() {
			if (this.diasER > 0) {
				if (this.diasEP < this.diasER) {
					return ((this.diasEP / this.diasER) * 100).toFixed(2);
				} else return 100.0;
			} else return 0;
		},
	},
};
</script>
