<template>
    <div
        class="card shadows mb-2"
        style="font-size:13px"
    >
        <div class="card-body p-2">
            <div class="d-flex w-100 justify-content-between">
                <p class="mb-1">
                    <strong>
                        <b-button 
                            variant="link" 
                            class="text-dark p-0" 
                            id="button-link" 
                            @click="selectedSolicitud()"
                        >
                            <strong>Solicitud # {{ solicitud.idSolicitud }}</strong>
                        </b-button>
                    </strong>
                </p>
                <!-- <b-dropdown
                    id="dropdown-left"
                    variant="white"
                    size="sm"
                    no-caret
                    v-if="hasOpciones(solicitud)"
                >
                    <template v-slot:button-content>
                        <i class="fas fa-ellipsis-v"></i>
                    </template>
                    <b-dropdown-item
                        v-if="etapa.idEtapa == 1"
                        @click="autorizarSolicitud()"
                        v-b-modal.modal-autorizacion
                    >
                        <i class="fas fa-check-circle"></i>
                        Autorizar
                    </b-dropdown-item>
                    <b-dropdown-item
                        v-if="etapa.idEtapa == 2"
                        @click="dispersarSolicitud()"
                        v-b-modal.modal-dispersion
                    >
                        <i class="fas fa-edit"></i>
                        Dispersar
                    </b-dropdown-item>
                </b-dropdown> -->
            </div>
            <p class="card-text mb-0">
                <strong>S:</strong>
                {{ solicitud.nombre_usuario }}
            </p>
            <p class="card-text mb-0">
                <strong>UN:</strong>
                {{ solicitud.unidad_negocio }}
            </p>
            <p class="card-text mb-0">
                <strong>O:</strong>
                {{ solicitud.objetivoGasto }}
            </p>
            <p class="card-text mb-0">
                <strong>Importe:</strong>
                    <vue-numeric
                        currency="$"
                        separator=","
                        :precision="2"
                        :read-only="true"
                        :value="solicitud.importe_total"
                    />
            </p>
            <center>
                <b-badge variant="light" class="mb-1 mt-2">
                    {{ atTime }}
                </b-badge>
            </center>
        </div>
    </div>
</template>


<script>
import { mapActions, mapGetters, mapMutations, mapState } from "vuex";
export default {
    props: {
        solicitud: Object,
        etapa: Object
    },
	data() {
		return {

		};
	},
	mounted() {
		moment.locale('es');
	},
	methods: {
        ...mapMutations("solicitudes_gastos", ["setSolicitudActiva"]),
        ...mapActions("solicitudes_gastos", ["getResumenSolicitudActiva", "getComprobaciones"]),
		autorizarSolicitud() {
            const data = {
                idSolicitudActiva: this.solicitud.idSolicitud,
                statusAutorizacion: "autorizado"
            }
            this.$emit('autorizar', data);
			this.setSolicitudActiva(solicitud);
		},
		dispersarSolicitud() {
			this.setSolicitudActiva(this.solicitud);
		},
		hasOpciones() {
			const idEtapa = this.solicitud.idEtapa;
			if(idEtapa == 1 || idEtapa == 2) 
				return true;
			return false;
		},
		selectedSolicitud()
		{    
            this.setSolicitudActiva(this.solicitud);
            this.getResumenSolicitudActiva(this.solicitud.idSolicitud)
            this.getComprobaciones();
			this.$router.push(BaseUrl + `/finanzas/cg/solicitudes`);
		},
	},
	computed: {
		atTime() {
            return moment(this.solicitud.fechaCambioEtapa).fromNow()
        }
	},
};
</script>

<style>
	#embudosTable td {
		width: 200px;
		overflow: auto;
		min-width: 230px;
		background-color: #f5f5f6;
		height: calc(100vh - 265px)
	}
	#embudosTable thead th {
		vertical-align: middle !important;
	}
</style>