<template>
    <b-card class="mt-5 mb-5">
        <b-table-simple bordered hover small caption-top responsive class="mt-3 ">
            <b-thead class="bg-light text-center">
                <b-tr>
                    <b-th>Etapa</b-th>
                    <b-th>Icono</b-th>
                    <b-th>Solicitante</b-th>
                    <b-th>Jefe directo</b-th>
                    <b-th>Contador</b-th>
                </b-tr>
            </b-thead>
            <b-tbody>
                <b-tr class="text-center">
                    <b-td>
                        1
                    </b-td>
                    <b-td>
                        <i class="text-secondary far fa-check-circle"></i>
                    </b-td>
                    <b-td>
                        Solicitud enviada, pendiente de autorizar
                    </b-td>
                    <b-td>
                        N/A
                    </b-td>
                    <b-td>
                        N/A
                    </b-td>
                </b-tr>
                <b-tr class="text-center">
                    <b-td>
                        1
                    </b-td>
                    <b-td>
                        <i class="text-warning far fa-check-circle"></i>
                    </b-td>
                    <b-td>
                        N/A
                    </b-td>
                    <b-td>
                        Solicitud pendiente de autorizar
                    </b-td>
                    <b-td>
                        Solicitud pendiente de autorizar
                    </b-td>
                </b-tr>
                <b-tr class="text-center">
                    <b-td>
                        2
                    </b-td>
                    <b-td>
                        <i class="text-danger far fa-check-circle"></i>
                    </b-td>
                    <b-td>
                        Solicitud rechazada
                    </b-td>
                    <b-td>
                        Solicitud rechazada
                    </b-td>
                    <b-td>
                        Solicitud rechazada
                    </b-td>
                </b-tr>
                <b-tr class="text-center">
                    <b-td>
                        2
                    </b-td>
                    <b-td>
                        <i class="text-success far fa-check-circle"></i>
                    </b-td>
                    <b-td>
                        Solicitud aprobada
                    </b-td>
                    <b-td>
                        Solicitud aprobada
                    </b-td>
                    <b-td>
                        Solicitud aprobada
                    </b-td>
                </b-tr>
                <b-tr class="text-center">
                    <b-td>
                        3
                    </b-td>
                    <b-td>
                        <i class="text-success fas fa-check-circle"></i>
                    </b-td>
                    <b-td>
                        Depósito realizado, pendiente de comprobar
                    </b-td>
                    <b-td>
                        Depósito realizado, pendiente de comprobar
                    </b-td>
                    <b-td>
                        Depósito realizado, pendiente de comprobar
                    </b-td>
                </b-tr>
                <b-tr class="text-center">
                    <b-td>
                        4
                    </b-td>
                    <b-td>
                        <i class="text-success fas fa-check-circle"></i>
                        <i class="text-secondary far fa-check-circle"></i>
                    </b-td>
                    <b-td>
                        Comprobación enviada, pendiente de autorizar
                    </b-td>
                    <b-td>
                        N/A
                    </b-td>
                    <b-td>
                        N/A
                    </b-td>
                </b-tr>
                <b-tr class="text-center">
                    <b-td>
                        4
                    </b-td>
                    <b-td>
                        <i class="text-success fas fa-check-circle"></i>
                        <i class="text-warning far fa-check-circle"></i>
                    </b-td>
                    <b-td>
                        N/A
                    </b-td>
                    <b-td>
                        Comprobación pendiente de autorizar
                    </b-td>
                    <b-td>
                        Comprobación pendiente de autorizar
                    </b-td>
                </b-tr>
                <b-tr class="text-center">
                    <b-td>
                        5
                    </b-td>
                    <b-td>
                        <i class="text-success fas fa-check-circle"></i>
                        <i class="text-danger far fa-check-circle"></i>
                    </b-td>
                    <b-td>
                        Comprobación rechazada
                    </b-td>
                    <b-td>
                        Comprobación rechazada
                    </b-td>
                    <b-td>
                        Comprobación rechazada
                    </b-td>
                </b-tr>
                <b-tr class="text-center">
                    <b-td>
                        5
                    </b-td>
                    <b-td>
                        <i class="text-success fas fa-check-circle"></i>
                        <i class="text-success far fa-check-circle"></i>
                    </b-td>
                    <b-td>
                        Comprobación autorizada
                    </b-td>
                    <b-td>
                        Comprobación autorizada
                    </b-td>
                    <b-td>
                        Comprobación autorizada
                    </b-td>
                </b-tr>
                <b-tr class="text-center">
                    <b-td>
                        6
                    </b-td>
                    <b-td>
                        <i class="text-success fas fa-check-circle"></i>
                        <i class="text-success fas fa-check-circle"></i>
                    </b-td>
                    <b-td>
                        Comprobación revisada
                    </b-td>
                    <b-td>
                        Comprobación revisada
                    </b-td>
                    <b-td>
                        Comprobación revisada
                    </b-td>
                </b-tr>
                <b-tr class="text-center">
                    <b-td>
                        7
                    </b-td>
                    <b-td>
                        <i class="text-success fas fa-check-circle"></i>
                        <i class="text-success fas fa-check-circle"></i>
                        <i class="text-success fas fa-check-circle"></i>
                    </b-td>
                    <b-td>
                        N/A
                    </b-td>
                    <b-td>
                        N/A
                    </b-td>
                    <b-td>
                        Comprobación contabilizada
                    </b-td>
                </b-tr>
            </b-tbody>
        </b-table-simple>
    </b-card>
</template>