<template>
	<div class="container-fluid" style="height: calc(100vh - 56px);">
		<header-component
			title="Administración de Solicitudes"
		></header-component>
		<!-- <b-card class="mt-3">
			<h1 class="text-center mb-0">Administración de Solicitudes</h1>
		</b-card> -->
		<b-row class="mb-0 mt-3">
			<b-col md="5">
				<b-row>
					<b-col md="6">
						<div class="input-group w-100">
							<div class="input-group-prepend border bg-light">
								<div class="mr-3 ml-2">
									<small>
										<strong>Inicio:</strong>
									</small>
								</div>
							</div>
							<b-form-datepicker
								id="picker-inicio"
								size="sm"
								:value="filterInicio"
								locale="es"
								:show-decade-nav="false"
								:hide-header="true"
								label-help
								selected-variant="secondary"
								label-no-date-selected="Seleccione"
								:date-format-options="{
									day: 'numeric',
									year: 'numeric',
									month: 'long',
								}"
								@input="setFilterInicio($event)"
							></b-form-datepicker>
							<div class="input-group-append">
								<div class="text-center">
									<b-link
										class="text-secondary mt-1 ml-2"
										@click="setFilterInicio(null)"
										>&times;</b-link
									>
								</div>
							</div>
						</div>
					</b-col>
					<b-col md="6">
						<div class="input-group w-100">
							<div class="input-group-prepend border bg-light">
								<div class="mr-3 ml-2">
									<small>
										<strong>Fin:</strong>
									</small>
								</div>
							</div>
							<b-form-datepicker
								id="picker-fin"
								size="sm"
								:value="filterFin"
								locale="es"
								:show-decade-nav="false"
								:hide-header="true"
								label-help
								selected-variant="secondary"
								label-no-date-selected="Seleccione"
								:date-format-options="{
									day: 'numeric',
									year: 'numeric',
									month: 'long',
								}"
								@input="setFilterFin($event)"
							></b-form-datepicker>
							<div class="input-group-append">
								<div class="text-center">
									<b-link
										class="text-secondary mt-1 ml-2"
										@click="setFilterFin(null)"
										>&times;</b-link
									>
								</div>
							</div>
						</div>
					</b-col>
				</b-row>
			</b-col>
			<b-col lg="2">
				<div class="input-group w-100">
					<div class="input-group-prepend border bg-light">
						<div class="mr-3 ml-2">
							<small><strong>Unidad de negocio:</strong></small>
						</div>
					</div>
					<b-form-select
						size="sm"
						:options="unidades_negocio"
						:value="filterUnidadNegocio"
						@change="setFilterUN($event)"
					>
						<template v-slot:first>
							<option :value="null">
								Todas
							</option>
						</template>
					</b-form-select>
				</div>
			</b-col>
			<b-col lg="1">
				<!-- <b-button variant="secondary" size="sm" @click="consultar">Consultar</b-button> -->
			</b-col>
			<b-col lg="2"></b-col>
			<b-col lg="2">
				<div
					id="input-shadow"
					class="input-group w-100 bg-white border"
				>
					<div class="input-group-prepend bg-light mr-1 ml-3">
						<div class="pt-1 bg-white">
							<i class="fas fa-search"></i>
						</div>
					</div>
					<b-form-input
						id="input-search"
						size="sm"
						class="form-control border-0"
						placeholder="Escribe tu busqueda aquí"
						style
						v-model="filter"
					></b-form-input>
				</div>
			</b-col>
		</b-row>
		<div class="mt-3">
			<b-table-simple
				style="overflow: auto; height:calc(100vh - 227px)"
				:bordered="true"
				:small="true"
				responsive
				scope="col"
				show-empty
				id="embudosTable"
			>
				<b-thead head-variant="light">
					<b-tr>
						<b-th
							class="th-table-embudo"
							v-for="(etapa, index) in listEtapas"
							:key="index"
						>
							<div style="max-height: 45px" class="text-center">
								<i
									class="text-secondary far fa-check-circle mr-1"
								></i>
								{{ etapa.nombre }}
								<br />
							</div>
						</b-th>
					</b-tr>
				</b-thead>
				<b-tbody>
					<b-tr>
						<b-td
							class="pt-2"
							v-for="(etapa, index) in listEtapas"
							:key="index"
							style="width:250px;"
						>
							<fn-cg-solicitudes-admin-card-solicitud-component
								v-for="(solicitud,
								index2) in solicitudesByEtapa(etapa.idEtapa)"
								:key="index2"
								:solicitud="solicitud"
								:etapa="etapa"
								@autorizar="autorizarSolicitud($event)"
							/>
						</b-td>
					</b-tr>
				</b-tbody>
			</b-table-simple>
			<div
				class="text-center mt-5"
				v-if="filter.length && solicitudesFiltered.length == 0"
			>
				<h5 class="text-secondary">No se encontraron resultados</h5>
				<h5 class="text-secondary" v-if="busySolicitudes">
					<b-spinner
						type="grow"
						style="width: 1.5rem; height: 1.5rem;"
					></b-spinner>
					<label class="ml-1">Cargando...</label>
				</h5>
			</div>
		</div>
		<modal-component
			:id="'modal-autorizacion'"
			:title="'Autorización Solicitud #' + solicitudActiva.idSolicitud"
			v-if="solicitudActiva"
			:hideFooter="true"
			:hideHeader="true"
			:centered="true"
		>
			<template slot="content">
				<fn-gastos-solicitudes-form-autorizacion-component
					:idSolicitud="solicitudActiva.idSolicitud"
					:statusAutorizacion="statusAutorizacion"
				/>
			</template>
		</modal-component>

		<modal-component
			:id="'modal-dispersion'"
			:title="'Dispersión Solicitud #' + solicitudActiva.idSolicitud"
			v-if="solicitudActiva"
			:hideFooter="true"
			:sizeModal="'xl'"
		>
			<template slot="content">
				<fn-gastos-solicitudes-form-dispersion-component />
			</template>
		</modal-component>
	</div>
</template>

<script>
import { mapActions, mapGetters, mapMutations, mapState } from "vuex";
export default {
	data() {
		return {
			value: "",
			filter: "",
			// filterUnidadNegocio: null,
			// filterInicio: null,
			// filterFin: null,
			loading: false,
			statusAutorizacion: null,
			unidades_negocio: [],
			idSolicitudActiva: null,
		};
	},
	mounted() {
		this.getEtapas();
		this.getUnidadesNegocio();
		if (this.solicitudesConsultadas != "todas") this.getSolicitudes();
		EchoCG.channel("solicitudes")
			.listen("SolicitudSend", (data) => {
				data.solicitud.usuario = data.usuario;
				this.addSolicitud(data.solicitud);
			})
			.listen("SolicitudUpdate", (data) => {
				this.updateSolicitud(data.solicitud);
			});
	},
	methods: {
		...mapActions("solicitudes_gastos", ["getSolicitudes", "getEtapas"]),
		...mapMutations("solicitudes_gastos", [
			"setSolicitudActiva",
			"addSolicitud",
			"updateSolicitud",
			"setFilterInicio",
			"setFilterFin",
			"setFilterUN",
		]),
		solicitudesByEtapa(idEtapa) {
			return this.solicitudesFiltered.filter(
				(solicitud) => solicitud.idEtapa == idEtapa
			);
		},
		getUnidadesNegocio() {
			axios
				.get(BaseUrl + `/api/fn/cuentas-internas/unidad-negocio/select`)
				.then((response) => {
					if (response.data) {
						this.unidades_negocio = response.data.map(
							(cuenta) => cuenta.unidadNegocio
						);
					}
				});
		},
		autorizarSolicitud(data) {
			this.idSolicitudActiva = data.idSolicitudActiva;
			this.statusAutorizacion = data.statusAutorizacion;
		},
	},
	computed: {
		...mapState("solicitudes_gastos", [
			"listSolicitudes",
			"listEtapas",
			"busySolicitudes",
			"solicitudesConsultadas",
			"solicitudActiva",
			"filterInicio",
			"filterFin",
			"filterUnidadNegocio",
		]),

		solicitudesFiltered() {
			let solicitudes = this.listSolicitudes;

			if (this.filterUnidadNegocio)
				solicitudes = solicitudes.filter(
					(solicitud) =>
						solicitud.unidad_negocio == this.filterUnidadNegocio
				);

			if (this.filterInicio && this.filterFin) {
				solicitudes = solicitudes.filter(
					(solicitud) =>
						solicitud.created_at > this.filterInicio &&
						solicitud.created_at < this.filterFin
				);
			}
			if (this.filter) {
				const filter = this.filter.toLowerCase();

				solicitudes = solicitudes.filter(
					(solicitud) =>
						solicitud.usuario.nombreUsuario
							.toLowerCase()
							.indexOf(this.filter.toLowerCase()) > -1 ||
						solicitud.idSolicitud == this.filter ||
						solicitud.unidad_negocio.toLowerCase().includes(filter)
				);
			}
			return solicitudes;
		},
		time() {},
	},
};
</script>

<style>
#embudosTable td {
	width: 200px;
	overflow: auto;
	min-width: 230px;
	background-color: #f5f5f6;
	height: calc(100vh - 265px);
}
#embudosTable thead th {
	vertical-align: middle !important;
}
</style>
