<template>
	<form ref="form" @submit.stop.prevent="submit">
		<template v-if="negocio">
			<div class="text-center">
				<h4>{{ negocio.claveNegocio }}</h4><hr>
				<h6 class="mb-3">{{ negocio.nombre_cliente }}</h6>				
			</div>
		</template>
		<b-form-group label="Contacto">
			<b-form-select
		    	v-model="contactoSelected" 
		    	:options="selectContactos">
			</b-form-select>
		</b-form-group>
	</form>
</template>

<script>
	import { mapMutations, mapState } from 'vuex'

	export default {
		props: {
			negocio: Object,
		},
		data() {
			return {
				contactoSelected: null,
				selectContactos: [],
			}
		},
		mounted() {		
			this.getContactosById()
			this.setContacto()
		},
		methods: {
			...mapMutations('negocios', ['updateNegocio']),
			...mapMutations(['modalSubmit', 'modalOk']),
			getContactosById()
			{
				axios.get(BaseUrl + `/api/vt/clientes/${this.negocio.idCliente}/contactos/select`)
				.then((response) => {
					this.selectContactos = response.data 
				});
			},
      		setContacto()
			{
				this.contactoSelected = this.negocio.idContacto
			},
			submit() {
				const params = { 
					id : this.negocio.idNegocio, 
					campo : 'idContacto', 
					value : this.contactoSelected
				}

				if (this.negocio.idContacto != this.contactoSelected) {
					axios.put(BaseUrl + '/api/vt/seguimiento/negocios', params)
      				.then((response) =>{
      				 	if(response.data.success){
	      					this.updateNegocio(response.data.negocio)
	      					this.modalSubmit(true)
      					}
      				});
				}else{
	      			this.modalSubmit(true)
				}	
			}
		},
		computed: {
			...mapState(['okModal']),
		},
		watch:{
			okModal()
			{
				if(this.okModal==true){
					this.submit()
				}
			},
		}
	}
</script>