<template>
	<div>
		<form ref="form" @submit.stop.prevent="submit">
			<template v-if="form.selectedEtapa != 'Leads'">
				<div class="text-center">
					<h4>{{ negocio.claveNegocio }}</h4><hr>
				</div>
			</template>
					
			<b-form-group label="Embudo:">
				<b-form-select
			    	v-model="selectedEmbudo" 
			    	:options="selectEmbudos"
			    	@change="getEtapasByIdEmbudo($event)">
				</b-form-select>
			</b-form-group>

			<template v-if="selectedEmbudo.idEmbudo != embudoSelected.idEmbudo">
				<b-form-group label="Etapa:">
					<b-form-select
				    	v-model="$v.form.selectedEtapa.$model"
						:state="$v.form.selectedEtapa.$dirty ? !$v.form.selectedEtapa.$error : null"  
				    	:options="selectEtapas"
				    	@change="setClave($event)">
				    	<template v-slot:first>
							<option :value="null">Seleccione la etapa</option>
						</template>
					</b-form-select>
				</b-form-group>
			</template>
		</form>
		<!-- <div v-show="formSetClave">
			<vt-negocios-form-set-clave :negocio="negocio"/>
		</div> -->
	</div>
</template>

<script>
	import { required, minLength } from 'vuelidate/lib/validators'
	import { mapState, mapMutations, mapActions } from 'vuex'

	export default {
		props: {
			negocio: Object,
			detectedSetedClave: Number
		},
		data() {
			return {
				selectEtapas: [],
				selectedEmbudo: {
					idEmbudo: null,
					periodo: null,
				},
				// formSetClave: false,
				// activeSetClave: false,
				form: {
					selectedEtapa: null,
				}
			}
		},
		mounted() {
			this.setEmbudo()
		},
		methods: {
			...mapMutations(['modalSubmit', 'modalOk']),
			...mapMutations('negocios', ['updateNegocio', 'removeNegocio']),

			setEmbudo()
			{
				this.selectedEmbudo = this.embudoSelected;
			},
			getEtapasByIdEmbudo(embudo)
			{
				axios.get(BaseUrl + `/api/vt/embudos/${embudo.idEmbudo}/etapas`)
	            .then((response) => {
	                this.selectEtapas = response.data.map(etapa => ({
	                    text: etapa.nombreEtapa,
	                    value: {
	                        idEtapa: etapa.idEtapa,
	                        nombreEtapa: etapa.nombreEtapa
	                    }
                	}))
	            })
			},
			submit() {
				this.$v.$touch()
				if (!this.$v.$invalid) {
					const params = {
						id_embudo: this.selectedEmbudo.idEmbudo,
						id_etapa: this.form.selectedEtapa.idEtapa, 
					}
					axios.put(BaseUrl + `/api/vt/negocios/${this.negocio.idNegocio}/embudos`, params)
					.then((response) => {
						if(response.data.success){
							this.updateNegocio(response.data.negocio)
							this.removeNegocio(this.negocios.indexOf(this.negocio))
							this.modalSubmit(true)
	                    }
	                })
				}else{
					this.modalOk(false)
				}   
			},
			setClave(e)
			{
  				if(this.negocio.nombre_etapa == 'Leads' && this.negocio.claveNegocio == 'Leads' && e.nombreEtapa != 'Leads') {
  					this.$emit('setClave', this.negocio)
  			 	}
			},
			changeStatus(){
		      	this.formSetClave = !this.formSetClave;
		    }
		},
		computed: {
			...mapState(['okModal']),
			...mapState('negocios', ['embudoSelected', 'negocios', 'setedClave']),
			...mapState("embudos", ["embudos"]),

			selectEmbudos() {
				return this.embudos.map((embudo) => {
					return {
						text: embudo.nombre,
						value: {
							idEmbudo: embudo.idEmbudo,
							periodo: embudo.periodo
						}
					}
				})
			}
		},
		validations: {
			form:{
				selectedEtapa: { required }
			}
		},
		watch: {
			okModal()
			{
				if(this.okModal==true){
					this.submit()
				}
			},
			detectedSetedClave()
			{
				if(this.setedClave.idNegocio == this.negocio.idNegocio)
				{
					if(this.setedClave.seted==true){
						this.modalOk(true)

						const setedClave = {
							seted: null,
							idNegocio: null
						}
						this.setSetedClave(setedClave)
					}else{
						this.form.selectedEtapa = null
					}
					
				}
			}

		}
	}
</script>