<template>
	<form ref="form" @submit.stop.prevent="submit">
		<div class="text-center">
			<h4>{{ negocio.claveNegocio }}</h4><hr>
		</div>
		<div>
			<label>Fecha de ganado</label>
			<v-date-picker
				is-expanded
		        v-model="date"
		        mode="single"
		        color="red"
		        class="mb-2"
		        is-inline />
	    </div>
	</form>
</template>

<script>
	import {mapMutations, mapState} from 'vuex'
	export default {
		props: {
			negocio: Object,
		},
		data() {
			return {
					date: new Date()
			}
		},
		mounted() {
		
		},
		methods: {
			...mapMutations(['modalSubmit', 'modalOk']),
			...mapMutations('negocios', ['updateNegocio', 'removeNegocio']),
			submit() {
				this.$v.$touch()
				if (!this.$v.$invalid) {
					const params = { 
						id : this.negocio.idNegocio, 
						campo : 'fechaGanado', 
						value : this.fechaGanado }
					axios.put(BaseUrl + `/api/vt/seguimiento/negocios`, params)
					.then((response) => {
						if(response.data.success){
							this.updateNegocio(response.data.negocio)
							this.modalSubmit(true)
	                    }
	                })
				}else{
					this.modalOk(false)
				}   
			},
		},
		computed: {
			...mapState(['okModal']),
			fechaGanado()
			{
				return moment(this.date).format("YYYY-MM-DD")
			}, 
		},
		validations: {
				date: { }
		},
		watch: {
			okModal()
			{
				if(this.okModal==true){
					this.submit()
				}
			},
		}
	}
</script>