<template>
	<form ref="form" @submit.stop.prevent="submit">
		<div class="text-center">
			<h4>{{ negocio.claveNegocio }}</h4><hr>
		</div>
		<div>
			<b-form-group label="Causa de perdida">
				<b-form-select
					v-model="$v.form.causaSelected.$model"
					:state="$v.form.causaSelected.$dirty ? !$v.form.causaSelected.$error : null"
					:disabled="!selectCausas.length"
		    		:options="selectCausas">
				</b-form-select>
				<label class="text-secondary" v-if="!selectCausas.length">Cargando causas...</label>
			</b-form-group>
			{{ causaSelected }}
			<label>Fecha de perdido</label>
			<v-date-picker
				v-if="date"
				is-expanded
				v-model="date"
		        mode="single"
		        color="red"
		        class="mb-2" 
		        is-inline/>
	    </div>
	</form>
</template>

<script>
	import {mapMutations, mapState} from 'vuex'
	import { required } from 'vuelidate/lib/validators'
	export default {
		props: {
			negocio: Object,
		},
		data() {
			return {
				form: {
					causaSelected: this.negocio.idCausa,
				},
				date: null,
				selectCausas: []
			}
		},
		mounted() {
			this.getCausas();
			if(this.negocio.fechaGanadoPerdido)
			{
				const fechaGanadoPerdido = new Date(this.negocio.fechaGanadoPerdido);
				this.date = new Date(fechaGanadoPerdido.setDate(fechaGanadoPerdido.getDate() + 1));
			}else{
				this.date = new Date();
			}
		},
		methods: {
			...mapMutations(['modalSubmit', 'modalOk', 'setSaveProcess']),
			...mapMutations('negocios', ['updateNegocio', 'removeNegocio']),

			submit() {
				this.$v.$touch()
				if (!this.$v.$invalid) {
					const saveProcess = {
      						variant: 'light',
      						icon: '',
      						text: 'Guardando cambios'
      					}
      			this.setSaveProcess(saveProcess)
					const params = { 
						id : this.negocio.idNegocio, 
						campo : 'fechaPerdido', 
						value : this.fechaPerdido,
						idCausa: this.form.causaSelected.value,
					}
					axios.put(BaseUrl + `/api/vt/seguimiento/negocios`, params)
					.then((response) => {
						if(response.data.success){
							this.updateNegocio(response.data.negocio)
							this.modalSubmit(true)
							const saveProcess = {
		  						variant: 'success',
		  						icon: 'fas fa-check',
		  						text: 'Se guardaron correctamente los cambios'
			      			}
			      			this.setSaveProcess(saveProcess)
	                    }
	                })
				}else{
					this.modalOk(false)
				}   
			},
			getCausas()
			{
				axios.get(BaseUrl + '/api/vt/causas/select')
		      	.then(response => {
			        this.selectCausas = response.data;
		      	})
			}
		},
		computed: {
			...mapState(['okModal']),
			fechaPerdido()
			{
				return moment(this.date).format("YYYY-MM-DD")
			}
		},
		validations: {
			form:{
				causaSelected: { required },
			},
			date: { }
		},
		watch: {
			okModal()
			{
				if(this.okModal==true){
					this.submit()
				}
			}
		}
	}
</script>