<template>
	<form ref="form" @submit.stop.prevent="submit">
		<template v-if="negocio.claveNegocio != 'Leads'">
			<div class="text-center">
				<h4>{{ negocio.claveNegocio }}</h4><hr>
			</div>
		</template>

		<b-form-group class="mt-3">
			<b-form-checkbox v-model="checked" name="check-estimacion" switch>
	     		 Cambiar el tipo de moneda
	    	</b-form-checkbox>
    	</b-form-group>

		<div v-if="checked">
			<p>Tipo moneda: {{ form.selectedTM }}</p>

			<b-form-group label="Valor del negocio">
				<b-input-group>
					<b-form-input type="text" required
						name="valor"
						v-model="form.valorNegocio"
						autocomplete="off"
						placeholder="Valor">
					</b-form-input>
					<b-input-group-append>
				      <b-button variant="light" class="border"><i class="fas fa-dollar-sign"></i></b-button>
				    </b-input-group-append>
				</b-input-group>
			</b-form-group>
		
			<b-form-group label="Ingrese el valor del dolar:" v-show="form.selectedTM == 'USD'">
				<b-input-group >
				    <b-form-input
					    v-model="form.dolar"
						autocomplete="off" />
				    <b-input-group-append>
				      <b-button variant="light" class="border"><i class="fas fa-hand-holding-usd"></i></b-button>
				    </b-input-group-append>
				</b-input-group>
			</b-form-group>	
		</div>

		<div v-else>
			<div v-show="negocio.tipoMoneda != 'MXN'">
	    		<b-form-group label="Dolar:">		
					<b-input-group>
						<b-input-group-append>
					      	<b-button variant="light"><i class="fas fa-hand-holding-usd"></i></b-button>
					    </b-input-group-append>
						<b-form-input autofocus
						    v-model="$v.form.valor.$model"
						    :state="$v.form.valor.$dirty ? !$v.form.valor.$error : null" >
				    	</b-form-input>
					</b-input-group>
				</b-form-group>
    		</div>	
		</div>
	</form>
</template>

<script>
	import { required, decimal } from 'vuelidate/lib/validators'
	import { mapState, mapMutations, mapActions } from 'vuex'

	export default {
		props: {
			negocio: Object,
		},
		data() {
			return {
				checked: false,
				
				form: {
					valor: this.negocio.xCambio,
					valorNegocio: null,
					selectedTM: null,
					dolar: 19
				},
				
				tipoMoneda: [
					{ value: 'MXN', text: 'Pesos Méxicanos (MXN)' },
					{ value: 'USD', text: 'US Dollar (USD)' }
				],
			}
		},
		mounted() {
			this.form.selectedTM = (this.negocio.tipoMoneda == 'MXN') ? 'USD' : 'MXN'
		},
		methods: {
			...mapMutations(['modalSubmit', 'modalOk']),
			...mapMutations('negocios', ['updateNegocio']),

			async submit() {
				this.$v.$touch()
				if (!this.$v.$invalid) {

					this.form.dolar = (this.form.selectedTM !== 'MXN') ? this.form.dolar : 1

					const params = (!this.checked) ? { id: this.negocio.idNegocio, campo: 'xCambio', value:  this.form.valor } : { id: this.negocio.idNegocio, tipoMoneda: this.form.selectedTM, xCambio: this.form.dolar, valorNegocio: this.form.valorNegocio }

		            const response = (!this.checked) ?
		            		await axios.put(BaseUrl + `/api/vt/seguimiento/negocios`, params) : 
		            		await axios.put(BaseUrl + `/api/vt/negocios/tipomoneda`, params)
	                if(response.data.success){
	                	if(!this.checked)
	                    	this.updateNegocio(response.data.negocio)
			            else
			            	this.updateNegocio(response.data.negocio)
	                	this.modalSubmit(true) 
	                }
				}else{
					this.modalOk(false)
				}
			},
		},
		computed: {
			...mapState(['okModal']),
		},
		validations: {
			form:{
				valor: {},
				valorNegocio: {},
				selectedTM: {},
				dolar: {}
			}
		},
		watch: {
			okModal()
			{
				if(this.okModal==true){
					this.submit()
				}
			}
		}
	}
</script>