<template>
	<tr class="row-form">
		<td class="fixed claveNegocio">
			<div class="text-nowrap" style="width: 170px" align="center">
				<small
					><b-badge
						pill
						variant="danger"
						v-if="negocio.cambioEmbudo == 1"
						class="mr-1"
						><i class="fas fa-exchange-alt"></i></b-badge
				></small>
				<label
					v-if="negocio.claveNegocio == 'Leads'"
					@click="selectedNegocio"
					style="margin-top: 3px; margin-bottom: 0px; cursor:pointer"
					><strong
						>{{ negocio.claveNegocio }}
						{{ negocio.claveCliente }}</strong
					></label
				>
				<label
					v-else
					@click="selectedNegocio"
					style="margin-top: 3px; margin-bottom: 0px; cursor:pointer"
					><strong>{{ negocio.claveNegocio }}</strong></label
				>
			</div>
		</td>
		<td class="fixed fixed-margin">
			<div class="text-nowrap" style="width: 380px ">
				<b-form-input
					type="text"
					size="sm"
					:value="negocio.tituloNegocio"
					@change="
						setDataEdit(
							negocio.idNegocio,
							'negocio',
							'tituloNegocio',
							$event
						)
					"
					:disabled="
						hasPermission('vt.crm.negocios.editar') ? false : true
					"
				>
				</b-form-input>
			</div>
		</td>
		<td>
			<div class="text-nowrap" style="width: 130px">
				<b-form-input
					type="text"
					size="sm"
					:value="negocio.clave_cotizacion"
					@change="
						setDataEdit(
							negocio.id_cotizacion,
							'cotizacion',
							'claveCotizacion',
							$event
						)
					"
					:disabled="
						hasPermission('vt.crm.negocios.editar') ? false : true
					"
				>
				</b-form-input>
			</div>
		</td>
		<td :class="statusProbabilidad">
			<div class="text-nowrap" style="width: 120px" align="center">
				<b-form-select
					size="sm"
					v-model="selectedProbabilidad"
					:options="probabilidades"
					@change="
						setDataEdit(
							negocio.idNegocio,
							'negocio',
							'ponderacion',
							$event
						)
					"
					:disabled="
						hasPermission('vt.crm.negocios.editar') ? false : true
					"
				>
				</b-form-select>
			</div>
		</td>
		<td>
			<div class="text-nowrap" style="width: 120px">
				<vue-numeric
					class="text-right form-control form-control-sm"
					separator=","
					:precision="2"
					currency="$"
					:value="negocio.monto_total"
					@change.native="
						setDataEdit(
							negocio.id_costo,
							'costo',
							'montoTotal',
							$event.target.value
						)
					"
					:disabled="
						hasPermission('vt.crm.negocios.editar') ? false : true
					"
				/>
			</div>
		</td>
		<td>
			<div class="text-nowrap" style="width: 120px">
				<vue-numeric
					class="text-right form-control form-control-sm"
					separator=","
					:precision="2"
					currency="$"
					:disabled="
						negocio.tipoMoneda == 'MXN' &&
						hasPermission('vt.crm.negocios.editar')
							? false
							: true
					"
					:value="importeMXN"
					@change.native="
						setDataEdit(
							negocio.idNegocio,
							'negocio',
							'valorNegocio',
							$event.target.value
						)
					"
				/>
			</div>
		</td>
		<td>
			<div class="text-nowrap" style="width: 130px" id="divUSD">
				<vue-numeric
					class="text-right form-control form-control-sm inputUSD"
					separator=","
					:precision="2"
					currency="$"
					:disabled="
						negocio.tipoMoneda == 'USD' &&
						hasPermission('vt.crm.negocios.editar')
							? false
							: true
					"
					:value="importeUSD"
					@change.native="
						setDataEdit(
							negocio.idNegocio,
							'negocio',
							'valorNegocio',
							$event.target.value
						)
					"
				/>
				<i
					v-if="hasPermission('vt.crm.negocios.editar')"
					class="fas fa-hand-holding-usd text-danger iconUSD"
					v-b-tooltip.hover.topleft
					title="Cambiar valor de dolar"
					v-b-modal.modal-change-dolar
					@click="openModal"
				></i>
			</div>
		</td>
		<td>
			<div class="text-nowrap" style="width: 140px" align="right">
				<small>
					<vue-numeric
						class="form-control form-control-sm"
						separator=","
						:precision="3"
						currency="$"
						:read-only="true"
						:value="precioNeto"
						:disabled="
							hasPermission('vt.crm.negocios.editar')
								? false
								: true
						"
					/>
				</small>
			</div>
		</td>
		<td>
			<div class="text-nowrap" style="width: 130px" id="divEtapa">
				<b-form-select
					size="sm"
					id="selectEtapa"
					v-model="selectedEtapa"
					:options="selectEtapas"
					@change="
						setDataEdit(
							negocio.idNegocio,
							'negocio',
							'idEtapa',
							$event
						)
					"
					:disabled="
						hasPermission('vt.crm.negocios.editar') ? false : true
					"
				>
				</b-form-select>
				<i
					v-if="hasPermission('vt.crm.negocios.editar')"
					class="fas fa-edit text-danger text-center pl-1"
					v-b-tooltip.hover.topleft
					title="Cambiar de embudo"
					id="iconEtapa"
					style="cursor:pointer; font-size: 12px;"
					v-b-modal.modal-change-embudo
					@click="openModal"
				></i>
			</div>
		</td>
		<td>
			<div class="text-nowrap" style="width: 120px" align="center">
				<small>{{ rentabilidad }}%</small>
			</div>
		</td>
		<td>
			<div class="text-nowrap" style="width: 150px">
				<b-form-input
					type="date"
					size="sm"
					:value="negocio.fecha_solicitud"
					:state="
						errors.indexOf('fechaSolicitud') >= 0 ? false : null
					"
					@change="
						setDataEdit(
							negocio.id_costo,
							'costo',
							'fechaSolicitud',
							$event
						)
					"
					:disabled="
						hasPermission('vt.crm.negocios.editar') ? false : true
					"
				>
				</b-form-input>
			</div>
		</td>
		<td>
			<div class="text-nowrap" style="width: 150px">
				<b-form-input
					type="date"
					size="sm"
					:value="negocio.fecha_entrega"
					:state="errors.indexOf('fechaEntrega') >= 0 ? false : null"
					@change="
						setDataEdit(
							negocio.id_costo,
							'costo',
							'fechaEntrega',
							$event
						)
					"
					:disabled="
						hasPermission('vt.crm.negocios.editar') ? false : true
					"
				>
				</b-form-input>
			</div>
		</td>
		<td>
			<div class="text-nowrap" style="width: 120px" align="center">
				<label style="font-size: 12px;">{{ diffEntregaSCO }}</label>
			</div>
		</td>
		<td>
			<div class="text-nowrap" style="width: 120px">
				<b-form-input
					type="text"
					size="sm"
					:value="negocio.rfq"
					@change="
						setDataEdit(negocio.idNegocio, 'negocio', 'rfq', $event)
					"
					:disabled="
						hasPermission('vt.crm.negocios.editar') ? false : true
					"
				>
				</b-form-input>
			</div>
		</td>
		<td>
			<div class="text-nowrap" style="width: 150px">
				<b-form-input
					type="date"
					size="sm"
					:value="negocio.fechaRfq"
					:state="errors.indexOf('fechaRfq') >= 0 ? false : null"
					@change="
						setDataEdit(
							negocio.idNegocio,
							'negocio',
							'fechaRfq',
							$event
						)
					"
					:disabled="
						hasPermission('vt.crm.negocios.editar') ? false : true
					"
				>
				</b-form-input>
			</div>
		</td>
		<td>
			<div class="text-nowrap" id="divContacto" style="width: 240px">
				<b-container>
					<label
						style="font-size: 12px; margin-top: 6px"
						class="mb-0"
						>{{ negocio.nombre_contacto }}</label
					>
					<i
						v-if="hasPermission('vt.crm.negocios.editar')"
						class="fas fa-user-edit text-danger"
						id="iconContacto"
						@click="openModal"
						v-b-tooltip.hover.topleft
						title="Cambiar contacto"
						v-b-modal.modal-change-contacto
						style="cursor:pointer; font-size: 12px;"
					></i>
				</b-container>
			</div>
		</td>
		<td>
			<div class="text-nowrap" style="width: 150px">
				<b-form-input
					type="date"
					size="sm"
					:value="negocio.fecha_cotizacion"
					:state="
						errors.indexOf('fechaCotizacion') >= 0 ? false : null
					"
					@change="
						setDataEdit(
							negocio.id_cotizacion,
							'cotizacion',
							'fechaCotizacion',
							$event
						)
					"
					:disabled="
						hasPermission('vt.crm.negocios.editar') ? false : true
					"
				>
				</b-form-input>
			</div>
		</td>
		<td v-if="statusFilter != 1" class="td-causa">
			<div class="text-nowrap" style="width: 180px">
				<b-form-select
					size="sm"
					:disabled="causaDisabled"
					v-model="negocio.idCausa"
					:options="causas"
					@change="
						setDataEdit(
							negocio.idNegocio,
							'negocio',
							'causa',
							$event
						)
					"
				>
				</b-form-select>
			</div>
		</td>
		<td :class="fechaPerdidoGanadoClass">
			<div class="text-nowrap" style="width: 150px">
				<b-form-input
					v-if="negocio.status != 1"
					type="date"
					size="sm"
					:value="negocio.fechaGanadoPerdido"
					:state="errors.indexOf('fechaPerdido') >= 0 ? false : null"
					@change="
						setDataEdit(
							negocio.idNegocio,
							'negocio',
							'fechaPerdido',
							$event
						)
					"
					:disabled="
						hasPermission('vt.crm.negocios.editar') ? false : true
					"
				>
				</b-form-input>
				<b-form-input
					v-else
					type="date"
					size="sm"
					:value="negocio.fechaGanadoPerdido"
					:state="errors.indexOf('fechaGanado') >= 0 ? false : null"
					@change="
						setDataEdit(
							negocio.idNegocio,
							'negocio',
							'fechaGanado',
							$event
						)
					"
					:disabled="
						hasPermission('vt.crm.negocios.editar') ? false : true
					"
				>
				</b-form-input>
			</div>
		</td>
		<td>
			<div class="text-nowrap" style="width: 140px">
				<b-form-input
					type="text"
					size="sm"
					:value="negocio.pedido"
					@change="
						setDataEdit(
							negocio.idNegocio,
							'negocio',
							'pedido',
							$event
						)
					"
					:disabled="
						hasPermission('vt.crm.negocios.editar') ? false : true
					"
				>
				</b-form-input>
			</div>
		</td>
		<td>
			<div class="text-nowrap" style="width: 150px">
				<b-form-input
					type="date"
					size="sm"
					:value="negocio.fechaPedido"
					:state="errors.indexOf('fechaPedido') >= 0 ? false : null"
					@change="
						setDataEdit(
							negocio.idNegocio,
							'negocio',
							'fechaPedido',
							$event
						)
					"
					:disabled="
						hasPermission('vt.crm.negocios.editar') ? false : true
					"
				>
				</b-form-input>
			</div>
		</td>
		<td>
			<div class="text-nowrap" style="width: 150px">
				<b-form-input
					type="date"
					size="sm"
					:value="negocio.fechaVencimientoPedido"
					:state="
						errors.indexOf('fechaVencimientoPedido') >= 0
							? false
							: null
					"
					@change="
						setDataEdit(
							negocio.idNegocio,
							'negocio',
							'fechaVencimientoPedido',
							$event
						)
					"
					:disabled="
						hasPermission('vt.crm.negocios.editar') ? false : true
					"
				>
				</b-form-input>
			</div>
		</td>
		<td>
			<div class="text-nowrap" style="width: 150px">
				<b-form-input
					:value="negocio.fechaEntrega"
					type="date"
					size="sm"
					:state="errors.indexOf('fechaEntrega') >= 0 ? false : null"
					@change="
						setDataEdit(
							negocio.idNegocio,
							'negocio',
							'fechaEntrega',
							$event
						)
					"
					:disabled="
						hasPermission('vt.crm.negocios.editar') ? false : true
					"
				>
				</b-form-input>
			</div>
		</td>
		<td>
			<div class="text-nowrap" style="width: 150px">
				<b-form-input
					:value="negocio.fechaReporte"
					type="date"
					size="sm"
					:state="errors.indexOf('fechaReporte') >= 0 ? false : null"
					@change="
						setDataEdit(
							negocio.idNegocio,
							'negocio',
							'fechaReporte',
							$event
						)
					"
					:disabled="
						hasPermission('vt.crm.negocios.editar') ? false : true
					"
				>
				</b-form-input>
			</div>
		</td>
		<td :class="statusDiffReporte">
			<div class="text-nowrap" align="center">
				<small
					><strong>{{ diffEntregaReporte }}</strong></small
				>
			</div>
		</td>
		<td>
			<div class="text-nowrap" style="width: 120px">
				<b-form-input
					type="text"
					size="sm"
					:value="negocio.no_factura"
					@change="
						setDataEdit(
							negocio.id_factura,
							'factura',
							'noFactura',
							$event
						)
					"
					:disabled="
						hasPermission('vt.crm.negocios.editar') ? false : true
					"
				>
				</b-form-input>
			</div>
		</td>
		<td>
			<div class="text-nowrap" style="width: 150px">
				<b-form-input
					type="date"
					size="sm"
					:max="maxDateFactura"
					:min="minDateFactura"
					:value="negocio.fecha_factura"
					:state="errors.indexOf('fechaFactura') >= 0 ? false : null"
					@change="
						setDataEdit(
							negocio.id_factura,
							'factura',
							'fechaFactura',
							$event
						)
					"
					:disabled="
						hasPermission('vt.crm.negocios.editar') ? false : true
					"
				>
				</b-form-input>
			</div>
		</td>
		<td :class="statusDiffFactura">
			<div class="text-nowrap" style="width: 120px" align="center">
				<small
					><strong>{{ diffFechaFactura }}</strong></small
				>
			</div>
		</td>
		<td>
			<div class="text-nowrap" style="width: 150px">
				<b-form-input
					type="date"
					size="sm"
					:value="negocio.fecha_pago"
					:state="errors.indexOf('fechaPago') >= 0 ? false : null"
					@change="
						setDataEdit(
							negocio.id_pago,
							'pago',
							'fechaPago',
							$event
						)
					"
					:disabled="
						hasPermission('vt.crm.negocios.editar') ? false : true
					"
				>
				</b-form-input>
			</div>
		</td>
		<td>
			<div class="text-nowrap" style="width: 120px" align="center">
				<small
					><strong>{{ diffFechaPagoFactura }}</strong></small
				>
			</div>
		</td>
		<td>
			<div class="text-nowrap" style="width: 120px" align="center">
				{{ getNameMonthRealizado }}
			</div>
		</td>
		<td>
			<div class="text-nowrap" style="width: 120px" align="center">
				{{ getNameMonthFacturado }}
			</div>
		</td>
		<td>
			<div class="text-nowrap" style="width: 120px">
				<vue-numeric
					class="text-right form-control form-control-sm"
					separator=","
					:precision="2"
					currency="$"
					:value="negocio.pago_mxn_iva"
					@change.native="
						setDataEdit(
							negocio.id_pago,
							'pago',
							'pagoMXNiva',
							$event.target.value
						)
					"
					:disabled="
						hasPermission('vt.crm.negocios.editar') ? false : true
					"
				/>
			</div>
		</td>
		<td>
			<div class="text-nowrap" style="width: 120px">
				<vue-numeric
					class="text-right form-control form-control-sm"
					separator=","
					:precision="2"
					currency="$"
					:value="negocio.pago_usd_iva"
					@change.native="
						setDataEdit(
							negocio.id_pago,
							'pago',
							'pagoUSDiva',
							$event.target.value
						)
					"
					:disabled="
						hasPermission('vt.crm.negocios.editar') ? false : true
					"
				/>
			</div>
		</td>
		<td>
			<div class="text-nowrap" style="width: 150px">
				<b-form-input
					type="text"
					size="sm"
					:value="negocio.no_pago"
					@change="
						setDataEdit(negocio.id_pago, 'pago', 'noPago', $event)
					"
					:disabled="
						hasPermission('vt.crm.negocios.editar') ? false : true
					"
				>
				</b-form-input>
			</div>
		</td>
		<td>
			<div class="text-nowrap" style="width: 150px">
				<b-form-input
					type="date"
					size="sm"
					:value="negocio.fecha_recibo"
					:state="errors.indexOf('fechaRecibo') >= 0 ? false : null"
					@change="
						setDataEdit(
							negocio.id_pago,
							'pago',
							'fechaRecibo',
							$event
						)
					"
					:disabled="
						hasPermission('vt.crm.negocios.editar') ? false : true
					"
				>
				</b-form-input>
			</div>
		</td>
		<td>
			<div class="text-nowrap text-center" style="width: 80px">
				<div class="text-center">
					<b-dropdown
						id="dropdown-left"
						right
						variant="light"
						size="sm"
						:disabled="
							hasPermission('vt.crm.negocios.editar')
								? false
								: true
						"
					>
						<template v-slot:button-content>
							<i class="fas fa-ellipsis-v px-2"></i>
						</template>
						<b-dropdown-item
							v-b-modal.modal-win-negocio
							v-if="negocio.status == 0"
							@click="openModal"
							variant="success"
						>
							<i class="fas fa-trophy"></i> Ganar este negocio
						</b-dropdown-item>
						<b-dropdown-item
							@click="
								setDataEdit(
									negocio.idNegocio,
									'negocio',
									'reabrirNegocio',
									$event
								)
							"
							v-else
						>
							<i class="fas fa-undo-alt"></i> Reabrir negocio
						</b-dropdown-item>
					</b-dropdown>
				</div>
			</div>
		</td>
	</tr>
</template>

<script>
import VueNumeric from "vue-numeric";
import { mapState, mapMutations } from "vuex";
export default {
	props: {
		negocio: Object,
		detectedSetedClave: Number,
	},
	data() {
		return {
			fecha_solicitud: this.negocio.fecha_solicitud,
			errors: [],
			diffReporte: null,
			diffFactura: null,
			axios: null,
			table: null,
			id: null,
			selectedEtapa: null,
			selectedEtapaOld: null,
			monto_total: 0,
			importe_mxn: 0,
			importe_usd: 0,
			precio_neto: 0,
			routes: [
				{
					negocio: BaseUrl + "/api/vt/seguimiento/negocios",
					costo: BaseUrl + "/api/vt/seguimiento/costo",
					cotizacion: BaseUrl + "/api/vt/seguimiento/cotizacion",
					pago: BaseUrl + "/api/vt/seguimiento/pago",
					factura: BaseUrl + "/api/vt/seguimiento/factura",
				},
			],

			selectedProbabilidad: this.negocio.ponderacion,
			probabilidades: [
				{ value: "1", text: "1" },
				{ value: "2", text: "2" },
				{ value: "2.5", text: "2.5" },
				{ value: "3", text: "3" },
			],
		};
	},
	mounted() {
		this.setEtapa();
		this.setData();
	},
	methods: {
		...mapMutations("negocios", [
			"updateNegocio",
			"updateCosto",
			"updatePago",
			"updateFactura",
			"updateCotizacion",
			"setSetedClave",
			"sumaImporteMXN",
			"sumaImporteUSD",
			"sumaPrecioNeto",
		]),
		...mapMutations(["setSaveProcess"]),

		openModal() {
			this.$emit("openModal", this.negocio);
		},
		setData() {
			if (this.negocio.monto_total == null) this.monto_total = 0;
			else this.monto_total = this.negocio.monto_total;
			this.importe_mxn = this.importeMXN;
			this.importe_usd = this.importeUSD;
			this.precio_neto = this.precioNeto;
		},
		setDataEdit(id, table, campo, value) {
			this.axios = this.routes[0][table];
			this.table = table;
			if (campo === "idEtapa") {
				this.habilitarCostoCuentaReal(value, this.negocio);
				value = value.idEtapa;
				this.params = { id: id, campo: campo, value: value };
				if (
					this.selectedEtapaOld.nombreEtapa == "Leads" &&
					this.negocio.claveNegocio == "Leads"
				) {
					this.$emit("setClave", this.negocio);
				} else {
					this.update();
				}
			} else {
				if (campo === "idContacto") value = value.value;
				else if (campo == "fechaPerdido") {
					this.negocio.fechaGanadoPerdido = value;
					this.$emit("openModalSetCausa", this.negocio);
				}
				this.params = { id: id, campo: campo, value: value };
				this.update();
			}
		},
		async habilitarCostoCuentaReal(etapa, negocio) {
			const data = {
				etapa: etapa.idEtapa,
				cuenta: negocio.claveNegocioCompleta,
				idEmbudo: negocio.idEmbudo,
			};
			try {
				const response = await axios.post(
					BaseUrl + `/api/op/co/costo/cuenta/copy`,
					data
				);
				if (response.data.success) {
					console.log(response.data);
				}
			} catch (e) {
				console.log(e);
			}
		},
		async update() {
			const saveProcess = {
				variant: "light",
				icon: "",
				text: "Guardando cambios",
			};
			this.setSaveProcess(saveProcess);
			try {
				await axios.put(this.axios, this.params).then((response) => {
					if (response.data.success) {
						if (this.table == "negocio") {
							this.updateNegocio(response.data.negocio);
						} else if (this.table == "costo") {
							this.updateCosto(response.data.costo);
						} else if (this.table == "pago") {
							this.updatePago(response.data.pago);
						} else if (this.table == "factura") {
							this.updateFactura(response.data.factura);
						} else if (this.table == "cotizacion") {
							this.updateCotizacion(response.data.cotizacion);
						}
						// Verifica si existe el campo en el arreglo errors para sacarlo
						if (this.errors.indexOf(this.params.campo) >= 0) {
							const pos = this.errors.indexOf(this.params.campo);
							this.errors.splice(pos, 1);
						}
						const saveProcess = {
							variant: "success",
							icon: "fas fa-check",
							text: "Se guardaron correctamente los cambios",
						};
						this.setSaveProcess(saveProcess);
					}
				});
			} catch (e) {
				//Meter el campo en el arreglo errors
				if (this.errors.indexOf(this.params.campo) < 0)
					this.errors.push(this.params.campo);
				const saveProcess = {
					variant: "danger",
					icon: "fas fa-exclamation-triangle",
					text: "No se pudieron guardar los ultimos cambios",
				};
				this.setSaveProcess(saveProcess);
			}
		},
		concatWordDay(diff, text) {
			return isNaN(diff)
				? text
				: diff == 1
				? diff + " día"
				: diff + " días";
		},
		setEtapa() {
			this.selectedEtapa = {
				nombreEtapa: this.negocio.nombre_etapa,
				idEtapa: this.negocio.idEtapa,
			};
			this.selectedEtapaOld = {
				nombreEtapa: this.negocio.nombre_etapa,
				idEtapa: this.negocio.idEtapa,
			};
		},
		selectedNegocio() {
			this.$router.push(
				BaseUrl + `/ventas/negocios/${this.negocio.idNegocio}`
			);
		},
		hasPermission(funcion) {
			if (this.permissions.length) {
				const permiso = this.permissions.find(
					(permiso) => permiso.idFuncion == funcion
				);
				if (permiso) return true;
				return false;
			}
		},
	},
	computed: {
		...mapState(["permissions"]),

		...mapState("negocios", [
			"embudoSelected",
			"causas",
			"selectEtapas",
			"setedClave",
			"statusFilter",
		]),

		importeMXN() {
			if (this.negocio.valorNegocio != null) {
				var importe =
					this.negocio.tipoMoneda != "USD"
						? this.negocio.valorNegocio
						: (
								this.negocio.valorNegocio * this.negocio.xCambio
						  ).toFixed(2);
				this.importe_mxn = importe;
				return importe;
			} else {
				return 0;
			}
		},
		importeUSD() {
			if (this.negocio.valorNegocio != null) {
				var importe =
					this.negocio.tipoMoneda != "MXN"
						? this.negocio.valorNegocio
						: 0;
				this.importe_usd = importe;
				return importe;
			} else {
				return 0;
			}
		},
		precioNeto() {
			return (this.importeMXN * 1.16).toFixed(3);
		},
		diffEntregaReporte() {
			const fechaReporte = moment(this.negocio.fechaReporte);
			const fechaEntrega = moment(this.negocio.fechaEntrega);
			const diff = fechaReporte.diff(fechaEntrega, "days");
			this.diffReporte = diff;
			return this.concatWordDay(diff, "Sin definir");
		},
		rentabilidad() {
			const rentabilidad =
				(1 - this.negocio.monto_total / this.importeMXN) * 100;
			return isNaN(rentabilidad) ? 0 : rentabilidad.toFixed(2);
		},
		diffEntregaSCO() {
			const fechaSolicitud = moment(this.negocio.fecha_solicitud);
			const fechaEntrega = moment(this.negocio.fecha_entrega);
			const diff = fechaEntrega.diff(fechaSolicitud, "days");
			return this.concatWordDay(diff, "Sin demora");
		},
		diffFechaFactura() {
			if (!this.negocio.fecha_pago) {
				const fechaFactura = moment(this.negocio.fecha_factura);
				const hoy = moment();
				const diff = hoy.diff(fechaFactura, "days");
				this.diffFactura = 0;
				return this.concatWordDay(diff, "Sin definir");
			} else {
				this.diffFactura = 1;
				return "Pagado";
			}
		},
		diffFechaPagoFactura() {
			const fechaFactura = moment(this.negocio.fecha_factura);
			const fechaPago = moment(this.negocio.fecha_pago);
			const diff = fechaPago.diff(fechaFactura, "days");
			return this.concatWordDay(diff, "Sin definir");
		},
		getNameMonthRealizado() {
			const mes = moment(this.negocio.fechaEntrega)
				.locale("es")
				.format("MMMM");
			return mes != "Invalid date" ? mes.toUpperCase() : "---";
		},
		getNameMonthFacturado() {
			const mes = moment(this.negocio.fecha_factura)
				.locale("es")
				.format("MMMM");
			return mes != "Invalid date" ? mes.toUpperCase() : "---";
		},
		statusDiffReporte() {
			if (this.diffReporte > 3) return "bg-red-light-2";
			if (this.diffReporte <= 3) return "bg-green-light-2";
			else return "bg-light";
		},
		statusProbabilidad() {
			switch (this.negocio.ponderacion) {
				case "1":
					return "bg-red-light";
					break;
				case "2":
					return "bg-orange-light";
					break;
				case "2.5":
					return "bg-yellow-light";
					break;
				default:
					return "bg-green-light";
					break;
			}
		},
		statusDiffFactura() {
			if (this.diffFactura == 1) return "bg-green-light-2";
			else return "bg-light";
		},
		causaDisabled() {
			return this.negocio.status == 1 ||
				!this.hasPermission("vt.crm.negocios.editar")
				? true
				: false;
		},
		fechaPerdidoGanadoClass() {
			if (this.negocio.status == 1 && this.statusFilter == 3)
				return "bg-green-light";
			else if (this.negocio.status == 2 && this.statusFilter == 3)
				return "bg-red-light";
			else return "";
		},
		maxDateFactura() {
			return this.embudoSelected.periodo + "-12-31";
		},
		minDateFactura() {
			return this.embudoSelected.periodo + "-01-01";
		},
	},
	watch: {
		negocio: {
			handler(val, oldVal) {
				this.setEtapa();
			},
			deep: true,
		},
		detectedSetedClave() {
			if (this.setedClave.idNegocio == this.negocio.idNegocio) {
				if (this.setedClave.seted == true) {
					this.update();
					this.selectedEtapaOld = this.selectedEtapa;
				} else {
					this.selectedEtapa = this.selectedEtapaOld;
				}
			}
		},
	},
};
</script>

<style>
input {
	font-size: 10px;
}
.bg-green-light {
	background-color: #84e4ad;
}
.bg-red-light {
	background-color: #f3958b;
}
.bg-green-light-2 {
	background-color: #e0ffe1;
	color: #28a745;
}
.bg-red-light-2 {
	background-color: #fff1f2;
	color: #dc3545;
}
.bg-orange-light {
	background-color: #efb65d;
}
.bg-yellow-light {
	background-color: #f5ee3a;
}
.bg-success-light {
	background-color: #c3e6cb;
}
.bg-danger-light {
	background-color: #f1cdcd;
}

#divEtapa:hover #iconEtapa {
	display: block;
	width: 20%;
}

#divEtapa:hover #selectEtapa {
	width: 80%;
}

#iconEtapa {
	display: none;
}

#iconEtapa {
	margin-top: -20px;
	margin-left: 105px;
}

#divContacto:hover #iconContacto {
	display: block;
}

#iconContacto {
	display: none;
}

#iconContacto {
	margin-top: -16px;
	margin-left: 205px;
}

#divUSD:hover .iconUSD {
	display: block;
	width: 20%;
}

#divUSD:hover .inputUSD {
	width: 80%;
}

.iconUSD {
	display: none;
	width: 20%;
}

.iconUSD {
	margin-top: -21px;
	margin-left: 110px;
}
.row-form:hover .fixed {
	background-color: #9aa0a4;
	color: white !important;
}
</style>
