<template> 
    <b-container fluid>
        <vt-negocios-header :title="'Administración de negocios'" >
            <template slot="save-success" v-if="saveProcess.active">
                <b-badge href="#" :variant="saveProcess.variantBadge" class="float-right mr-4"><i :class="saveProcess.iconClass"></i> {{ saveProcess.textBadge }} </b-badge>
            </template>
        </vt-negocios-header>
          <filters-component>
            <template>
                <vt-negocios-filters/>
            </template>
          </filters-component>
        <vt-negocios-seguimiento-table :fields="fields" />
    </b-container>
</template>
<script>
    import { mapState, mapMutations } from 'vuex'
    export default {
        mounted(){
          this.$store.commit('setRouteName', 'negocios.seguimiento')
          this.setFilterFields(this.fields)
        },
        data() {
            return {
                text: '',
                 fields: [
                    { key: 'claveNegocio', 
                      label: 'Clave de negocio', 
                      class: 'text-center fixed bg-light',
                      type: 'text'
                    },
                    { key: 'tituloNegocio', 
                      label: 'Descripción', 
                      class: 'fixed fixed-margin bg-light',
                      type: 'text'
                    },
                    { key: 'clave_cotizacion', 
                      label: 'Clave cotización', 
                      class: 'no-fixed',
                      type: 'text',
                    },
                    { key: 'ponderacion', 
                      label: 'Oportunidad', 
                      class: 'no-fixed',
                      type: 'number'
                    },
                    { key: 'monto_total', 
                      label: 'Costo Operativo', 
                      class: 'no-fixed',
                      type:'number'
                    },
                    { key: 'valorNegocio', 
                      label: 'Importe MXN', 
                      class: 'no-fixed',
                      type: 'number'
                    },
                    { key: 'importe_usd', 
                      label: 'Importe USD', 
                      class: 'no-fixed',
                      type: 's/f'
                    },
                    { key: 'precioNeto', 
                      label: 'Precio Neto', 
                      class: 'no-fixed',
                      type: 's/f'
                    },
                    { key: 'nombre_etapa', 
                      label: 'Etapa', 
                      class: 'no-fixed',
                      type: 'text'
                    },
                    { key: 'rentabilidad', 
                      label: 'Rentabilidad', 
                      class: 'no-fixed',
                      type: 's/f'
                    },
                    { key: 'fecha_solicitud', 
                      label: 'Fecha SCO', 
                      class: 'no-fixed',
                      type: 'date'
                    },
                    { key: 'fecha_entrega', 
                      label: 'Fecha entrega SCO', 
                      class: 'no-fixed text-center',
                      type: 'date'
                    },
                    { key: 'dias', 
                      label: 'Días de demora SCO', 
                      class: 'no-fixed',
                      type: 's/f'
                    },
                    { key: 'rfq', 
                      label: 'RFQ', 
                      class: 'no-fixed',
                      type: 'text'
                    },
                    { key: 'fechaRfq', 
                      label: 'Fecha RFQ', 
                      class: 'no-fixed',
                      type: 'date'
                    },
                    { key: 'nombre_contacto', 
                      label: 'Contacto', 
                      class: 'no-fixed',
                      type: 'text'
                    },
                    { key: 'fecha_cotizacion', 
                      label: 'Fecha de cotización', 
                      class: 'no-fixed',
                      type: 'date'
                    },
                    { key: 'nombre_causa', 
                      label: 'Causa', 
                      class: 'no-fixed header-causa',
                      type: 'text',
                    },
                    { key: 'fechaGanadoPerdido', 
                      label: 'Fecha perdido', 
                      class: 'no-fixed',
                      type: 'date'
                    },
                    { key: 'pedido', 
                      label: 'Pedido', 
                      class: 'no-fixed',
                      type: 'text'
                    },
                    { key: 'fechaPedido', 
                      label: 'Fecha pedido', 
                      class: 'no-fixed',
                      type: 'date'
                    },
                    { key: 'fechaVencimientoPedido', 
                      label: 'Fecha vencimiento', 
                      class: 'no-fixed',
                      type: 'date'
                    },
                    { key: 'fechaEntrega', 
                      label: 'Fecha de entrega', 
                      class: 'no-fixed text-center',
                      type: 'date'
                    },
                    { key: 'fechaReporte', 
                      label: 'Fecha de reporte', 
                      class: 'no-fixed text-center',
                      type: 'date'
                    },
                    { key: 'dias', 
                      label: 'Días de demora Reporte', 
                      class: 'no-fixed',
                      type: 's/f'
                    },
                    { key: 'no_factura', 
                      label: 'Factura', 
                      class: 'no-fixed',
                      type: 'text'
                    },
                    { key: 'fecha_factura', 
                      label: 'Fecha de factura', 
                      class: 'no-fixed',
                      type: 'date'
                    },
                    { key: 'sin_pagar', 
                      label: 'Tiempo sin pagar', 
                      class: 'no-fixed',
                      type: 's/f'
                    },
                    { key: 'fecha_pago', 
                      label: 'Fecha de pago', 
                      class: 'no-fixed',
                      type: 'date'
                    },
                    { key: 'en_pagar', 
                      label: 'Tiempo en pagar', 
                      class: 'no-fixed',
                      type: 's/f' 
                    },
                    { key: 'realizacion', 
                      label: 'Realización', 
                      class: 'no-fixed',
                      type: 's/f' 
                    },
                    { key: 'facturacion', 
                      label: 'Facturación', 
                      class: 'no-fixed',
                      type: 's/f' 
                    },
                    { key: 'pago_mxn_iva', 
                      label: 'Pago MXN con IVA', 
                      class: 'no-fixed',
                      type: 'number'
                    },
                    { key: 'pago_usd_iva', 
                      label: 'Pago USD con IVA', 
                      class: 'no-fixed',
                      type: 'number'
                    },
                    { key: 'no_pago', 
                      label: 'Recibo elec de pago', 
                      class: 'no-fixed',
                      type: 'text' 
                    },
                    { key: 'fecha_recibo', 
                      label: 'Fecha Recibo', 
                      class: 'no-fixed',
                      type: 'date'
                    },
                    { key: 'accion', 
                      label: 'Acción', 
                      class: 'no-fixed',
                      type: 's/f'
                    },
                ],
            }
        },
        methods:{
            ...mapMutations(['setFilterFields'])
        },
        computed:
        {
            ...mapState(['saveProcess']),
        },
    }
</script>
