<template>
	<div>
	 	<div class="table-sticky-header table-responsive">
			<table 
				:striped="false"
				:bordered="true"
				:small="true"
				:hover="true"
				:no-border-collapse="false"
				:sticky-header="true"
				responsive
				show-empty
				class="table mb-3 table-bordered table-sm table-hover"
				id="seguimiento-table">

				<thead head-variant="light">
					<tr v-if="negociosFiltered.length">
						<td scope="col" colspan="37" style="background-color: #fff">
							<h5
								v-if="!exportExcel"
								class="display-1 mb-0 p-1"
								style="font-size: 12px"
							>
								<b-link class="text-success" @click="download">
									<i
										class="far fa-file-excel pr-1"
										style="font-size: 16px"
									></i>
									Exportar negocios xlsx
								</b-link>
							</h5>
							<h5
								v-else
								class="display-1 mb-0 p-1 text-success"
								style="font-size: 12px"
							>
								<b-spinner small class="mr-1"></b-spinner>
								Exportando xlsx ...
							</h5>
						</td>
					</tr>
					<tr style="color: #495057; background-color: #e9ecef; border-color: #dee2e6;">
						<template v-for="(field, index) in fields">
							<th v-if="field.key=='claveNegocio'" style="min-width: 170px" :class="field.class" scope="col" :key="index">
								<div class="text-nowrap" align="center" style="z-index: 2"> 
									{{ field.label }}
								</div>
							</th>
							<th v-else-if="field.key=='tituloNegocio'" style="min-width: 380px" :class="field.class" scope="col" :key="index">
								<div class="text-nowrap" align="center"> 
									{{ field.label }}
								</div>
							</th>
							<th v-else-if="field.key=='fechaGanadoPerdido'" :class="field.class" :key="index">
								<div class="text-nowrap" align="center"> 
									<template v-if="statusFilter==1">Fecha ganado</template>
									<template v-else-if="statusFilter==3">Fecha gan / perd</template>
									<template v-else>Fecha perdido</template>
								</div>
							</th>
							<th v-else-if="field.key=='nombre_causa' && statusFilter!=1" scope="col" :class="field.class" :key="index">
								<div class="text-nowrap" align="center"> 
									{{ field.label }}
								</div>
							</th>
							<th v-else-if="field.key!='nombre_causa'" scope="col" :class="field.class" :key="index">
								<div class="text-nowrap" align="center"> 
									{{ field.label }}
								</div>
							</th>
						</template>
					</tr>
				</thead>
				<paginate name="negociosFiltered" :list="negociosFiltered" :per="17" tag="tbody" ref="paginator">
					<vt-negocios-seguimiento-table-body
						v-for="negocio in paginated('negociosFiltered')"
						:key="negocio.idNegocio"
						:negocio="negocio"
						@openModal="openModal($event)"
						@setClave="openModalClave($event)"
						@openModalSetCausa="openModalSetCausa($event)"
						:detectedSetedClave="detectedSetedClave">
						</vt-negocios-seguimiento-table-body>
				</paginate>
				<tfoot>
					<tr>
						<td class="fixed bg-light"></td>
						<td class="fixed bg-light fixed-margin pr-4" align="right">
							<strong>T O T A L E S:</strong>
						</td>
						<td colspan="2"></td>

						<!-- <td colspan="2" class="text-right" style="color: #495057; background-color: #e9ecef; border-color: #dee2e6;">
							
						</td> -->
						<td align="right">
							<small><strong>
								<vue-numeric class="form-control form-control-sm"  
								separator="," 
								:precision="3"
								currency="$"
								:read-only="true"
								:value="totalCostoOperativo" />
							</strong></small>
						</td>
						<td align="right">
							<small><strong>
								<vue-numeric class="form-control form-control-sm"  
								separator="," 
								:precision="3"
								currency="$"
								:read-only="true"
								:value="totalImporteMXN" />
							</strong></small>
						</td>
						<td align="right">
							<small><strong>
								<vue-numeric class="form-control form-control-sm"  
								separator="," 
								:precision="3"
								currency="$"
								:read-only="true"
								:value="totalImporteUSD" />
							</strong></small>
						</td>
						<td align="right">
							<small><strong>
								<vue-numeric class="form-control form-control-sm"  
								separator="," 
								:precision="3"
								currency="$"
								:read-only="true"
								:value="totalPrecioNeto" />
							</strong></small>
						</td>
						<td colspan="23" v-if="statusFilter == 1"></td>
						<td colspan="24" v-else></td>

						<td align="right">
							<small><strong>
								<vue-numeric class="form-control form-control-sm"  
								separator="," 
								:precision="3"
								currency="$"
								:read-only="true"
								:value="totalPagoMXNIVA" />
							</strong></small>
						</td>
						<td align="right">
							<small><strong>
								<vue-numeric class="form-control form-control-sm"  
								separator="," 
								:precision="3"
								currency="$"
								:read-only="true"
								:value="totalPagoUSDIVA" />
							</strong></small>
						</td>
						<td colspan="3"></td>
					</tr>
				</tfoot>
			</table>
		</div>
		<div class="text-center mt-3" v-show="loading">
			 <h5 class="text-secondary"><b-spinner type="grow" style="width: 1.5rem; height: 1.5rem;"></b-spinner><label class="ml-1">Cargando...</label></h5>
		</div>
		<div class="text-center mt-3" v-show="!negociosLength">
			<h5 class="text-secondary"><label>No se encontraron negocios</label></h5>
		</div>
		<b-row>
			<b-col lg="4">
				<paginate-links
				style="width: 100%"
				for="negociosFiltered"
				:show-step-links="true" 
				:page="page"
				:classes="{'ul': 'pagination', 'li': 'page-item', 'a': 'page-link'}" :limit="5"></paginate-links>
			</b-col>
			<b-col lg="8">
				<div class="float-right" v-if="filterOnNeg.length || filter.length">
					Filtros aplicados: 
					<b-badge v-if="filter.length"  class="ml-1" variant="info">{{ filter }}</b-badge>
					<b-badge v-if="filterOnNeg.length" class="ml-1" v-for="(filter, index) in filterOnNeg" :key="index" variant="info">{{ filter.label }}</b-badge>
				</div>
				<div class="float-right text-secondary" v-else>
					No se han aplicado filtros
				</div>
			</b-col>
		</b-row>
	
		<modal-component
			:id="'modal-change-contacto'" 
			:title="'Cambiar contacto'"
			:sizeModal="'sm'">
			<template slot="content">
				<vt-form-change-contacto 
					:negocio="negocio" />
			</template>
		</modal-component>

		<modal-component 
			:id="'modal-change-embudo'" 
			:title="'Cambiar embudo'"
			:sizeModal="'sm'">
			<template slot="content">
				<vt-form-change-embudo 
					:negocio="negocio"
					@setClave="openModalClave($event)"
					:detectedSetedClave="detectedSetedClave"/>
			</template>
			<template slot="buttons">
				<b-button variant="secondary" size="sm" type="submit" @click="cancelModal('modal-change-embudo')">
		      		Cancelar
		     	</b-button>
				<b-button variant="success" size="sm" type="submit" @click="okModal()">
		      		Guardar
		     	</b-button>
      		</template>
		</modal-component>

		<modal-component 
			:id="'modal-change-dolar'" 
			:title="'Cambiar valor de dolar'"
			:sizeModal="'sm'">
			<template slot="content">
				<vt-form-change-dolar 
					:negocio="negocio" />
			</template>
		</modal-component>
		
		<modal-component 
			:id="'modal-set-clave'" 
			:title="'Asignar clave'">
			<template slot="content">
				<vt-negocios-form-set-clave
					:negocio="negocio" />
			</template>
			<template slot="buttons">
				<b-button variant="secondary" size="sm" @click="cancelModalSetClave()">
			       	Cancelar
			   	</b-button>
			   	<b-button variant="success" size="sm" type="submit" @click="okModal()">
			       	Guardar
			   	</b-button>
			</template>
		</modal-component>

		<modal-component
			:id="'modal-win-negocio'" 
			:title="'Ganar negocio'"
			:sizeModal="'sm'">
			<template slot="content">
				<vt-negocios-form-win-negocio
					:negocio="negocio" />
			</template>
		</modal-component>

		<modal-component
			:id="'modal-lose-negocio'" 
			:title="'Perder negocio'"
			:sizeModal="'sm'">
			<template slot="content">
				<vt-negocios-form-set-causa
					:negocio="negocio" />
			</template>
			<template slot="buttons">
				<b-button variant="secondary" size="sm" @click="cancelModal('modal-lose-negocio')">
				       	Terminar
				 </b-button>
				<b-button variant="success" size="sm" type="submit" @click="okModal()">
			      	Guardar
				</b-button>
			</template>
		</modal-component>
	</div>
</template>

<script>
	import { mapState, mapActions, mapMutations, mapGetters } from 'vuex'
	export default {
		props: {
			fields: Array
		},	
		data() {
			return {
				negocio: null,
				list: [],
				page:0,
				detectedSetedClave: 0,
    			paginate: ['negociosFiltered'],
    			test: [],
    			prueba: 1,
    			// dateFilterStart: null,
    			// dateFilterEnd: null,
    			negociosLength: true,
    			loading: true,

    			exportExcel: false,
			}
		},
		mounted() {	
            this.getCausas()
            this.getEtapas()
            if(this.negociosFiltered.length)
            	this.loadingStop()
		},
		methods:{
			...mapActions('negocios', ['getCausas', 'getEtapas']),
			...mapMutations(['modalOk', 'setTotalRows']),
			...mapMutations('negocios',['setSetedClave']),

			openModal(negocio)
			{
				this.negocio = negocio
			},
			openModalClave(negocio)
			{
				this.negocio = negocio
				this.$bvModal.show('modal-set-clave')
			},
			openModalSetCausa(negocio)
			{
				this.negocio = negocio
				this.$bvModal.show('modal-lose-negocio')
			},
			cancelModalSetClave()
			{
				const setedClave = {
					seted: false,
					idNegocio: this.negocio.idNegocio
				}
				this.detectedSetedClave++
				this.setSetedClave(setedClave)
				this.$bvModal.hide('modal-set-clave')
			},
			okModal()
			{
				this.modalOk(true)
			},
			cancelModal(idModal)
			{
				this.$bvModal.hide(idModal)
			},
			loadingStop()
			{
				this.loading = false
			},
			unlockPaginator()
			{
				if (this.$refs.paginator.currentPage==-1 && this.$refs.paginator.lastPage>0){
     				this.$refs.paginator.goToPage(1)
    			}
			},
			testFilter(negocio)
			{
				var condition = null;
				//FITRA EN TODAS LAS COLUMNAS
				if(!this.filterOnNeg.length){ 
					for (var i = 0; i <= this.filterFields.length - 1; i++) {
					 	if(!(negocio[this.filterFields[i].key]===null))
					 	{
					 	 	if(this.filterFields[i].type == 'text')
					 	 	{
								condition = condition + negocio[this.filterFields[i].key]
						 	 		.toLowerCase()
						 	 		.indexOf(this.filter.toLowerCase()) > -1;
							}else if(!(this.filterFields[i].type === 's/f'))
							{
								if(this.filterFields[i].type == 'date'){
									const dateFormat = moment(negocio[this.filterFields[i].key]).format('DD/MM/YYYY');
								condition = condition + dateFormat
					 	 			.includes(this.filter);
								}else{
									condition = condition + negocio[this.filterFields[i].key]
					 	 			.includes(this.filter);
								}
							}
					 	}
					}
				}else{
					//FILTROS APLICACADOS
					for (var i = 0; i <= this.filterOnNeg.length - 1; i++) {
						if(!(negocio[this.filterOnNeg[i].key]===null))
						{
					 	 	if(this.filterOnNeg[i].type == 'text')
					 	 	{
								condition = condition + negocio[this.filterOnNeg[i].key]
						 	 		.toLowerCase()
						 	 		.indexOf(this.filter.toLowerCase()) > -1;
							}else if(!(this.filterOnNeg[i].type === 's/f'))
							{
								const inicio = this.dateFilter1
								const fin = this.dateFilter2
								const date = negocio[this.filterOnNeg[i].key]
							
								if(this.filterOnNeg[i].type == 'date' && inicio && fin){

									if(date >= inicio && date <= fin)
									{
										return true
									}
								}else if(this.filterOnNeg[i].type == 'number' && this.cantidadFiter){

								}else{
									if(this.filterFields[i].type == 'date'){
										const dateFormat = moment(negocio[this.filterFields[i].key]).format('DD/MM/YYYY');
									condition = condition + dateFormat
						 	 			.includes(this.filter);
									}else{
										condition = condition + negocio[this.filterFields[i].key]
						 	 			.includes(this.filter);
									}
								}
							}
					 	}				
					}
				}
				return condition
			},
			importeMXN(negocio)
			{
				if (negocio.valorNegocio != null) 
					return (negocio.tipoMoneda != 'USD') ? negocio.valorNegocio : (negocio.valorNegocio * negocio.xCambio).toFixed(2)
				return 0
			},
			importeUSD(negocio)
			{
				if (negocio.valorNegocio != null) 
					return (negocio.tipoMoneda != 'MXN') ? negocio.valorNegocio : 0
				return 0;
			},
			download() {
				console.log("entra", this.negociosFiltered);
				this.exportExcel = true;
				const data = { data: JSON.stringify(this.negociosFiltered) };
				axios
					.post("/api/vt/negocios/create/excel", data)
					.then((response) => {
						if (response.data.success) {
							window.location = `/api/vt/negocios/export/excel?filename=${response.data.filename}`;
						}
						this.exportExcel = false;
					});
			}
		},
		computed: {
			...mapState(['filter', 'filterOnNeg', 'dateFilter1', 'dateFilter2', 'cantidadFiter', 'conditionCantidadFilter', 'filterFields']),
			...mapState('negocios', ['negocios', 'setedClave', 'embudoSelected', 'etapaSelected', 'statusFilter']),
			...mapGetters('negocios', ['filteredNegociosByStatus']),

			negociosByEtapas()
			{
 				if(this.etapaSelected){
	            	return this.filteredNegociosByStatus.filter(negocio =>
	                	negocio.idEtapa == this.etapaSelected.idEtapa
	             	)
	            }
	            else
	              	return this.filteredNegociosByStatus
			},
			negociosFiltered()
          	{
          		this.loading=true
	            if((this.filter) || (this.dateFilter1 && this.dateFilter2)){
	            	return this.negociosByEtapas.filter(this.testFilter);
	            }
	            else
	              	return this.negociosByEtapas
			},
			totalCostoOperativo() {
				let suma = 0;
				if (this.negociosFiltered) {
					for (var i = 0; i < this.negociosFiltered.length; i++) {
						let importe = Number(
							parseFloat(
								this.negociosFiltered[i].monto_total
							).toFixed(2)
						);
						suma += importe;
					}
				}
				return parseFloat(suma).toFixed(2);
			},
			totalImporteMXN() {
				let suma = 0;
				if (this.negociosFiltered) {
					for (var i = 0; i < this.negociosFiltered.length; i++) {
						let importe = Number(
							parseFloat(
								this.importeMXN(this.negociosFiltered[i])
							).toFixed(2)
						);
						suma += importe;
					}
				}
				return parseFloat(suma).toFixed(2);
			},
			totalImporteUSD() {
				let suma = 0;
				if (this.negociosFiltered) {
					for (var i = 0; i < this.negociosFiltered.length; i++) {
						let importe = Number(
							parseFloat(
								this.importeUSD(this.negociosFiltered[i])
							).toFixed(2)
						);
						suma += importe;
					}
				}
				return parseFloat(suma).toFixed(2);
			},
			totalPrecioNeto() {
				let suma = 0;
				if (this.negociosFiltered) {
					for (var i = 0; i < this.negociosFiltered.length; i++) {
						let importe = Number(
							parseFloat(
								this.importeMXN(this.negociosFiltered[i]) * 1.16
							).toFixed(3)
						);
						suma += importe;
					}
				}
				return parseFloat(suma).toFixed(2);
			},
			totalPagoMXNIVA() {
				let suma = 0;
				if (this.negociosFiltered) {
					for (var i = 0; i < this.negociosFiltered.length; i++) {
						if(this.negociosFiltered[i].pago_mxn_iva) {
							let importe = Number(
								parseFloat(
									this.negociosFiltered[i].pago_mxn_iva
								).toFixed(3)
							);
							suma += importe;
						}
					}
				}
				return parseFloat(suma).toFixed(2);
			},
			totalPagoUSDIVA() {
				let suma = 0;
				if (this.negociosFiltered) {
					for (var i = 0; i < this.negociosFiltered.length; i++) {
						if(this.negociosFiltered[i].pago_usd_iva) {
							let importe = Number(
								parseFloat(
									this.negociosFiltered[i].pago_usd_iva
								).toFixed(3)
							);
							suma += importe;

						}
					}
				}
				return parseFloat(suma).toFixed(2);
			}
    	},
    	watch: {
    		negociosFiltered()
    		{
    			if (this.$refs.paginator.currentPage==-1)
    				setTimeout(this.unlockPaginator,1);
    			this.setTotalRows(this.negociosFiltered.length)
    			this.negociosLength = this.negociosFiltered.length ? true : false;
    			if(this.loading==true)
    				setTimeout(this.loadingStop, 1);
    		},
    		// dateFilter1()
    		// {
    		// 	this.dateFilterStart = moment(this.dateFilter1).format('DD/MM/YYYY')
    		// },
    		// dateFilter2()
    		// {
    		// 	this.dateFilterEnd = moment(this.dateFilter2).format('DD/MM/YYYY')
    		// },
    	}
    }
</script>


<style>
	.table-primary th, .table-primary td, .table-primary thead th, .table-primary tbody + tbody {
		border-color: #dc35454a;
	}
	.table-primary, .table-primary > th, .table-primary > td {
		background-color: #dc35453d;
	}
    .fixed
	{
	  position:sticky;
	  left: -1px;
	  background-color: white
	}
	.fixed-margin{
		left:171px;
	}

    table th, .table td {
  	  padding: 0 rem;
	}
	
	.table-sticky-header {
      overflow-y: auto;
      max-height: calc(100vh - 305px);
    }

	thead > tr > th {
	    position: -webkit-sticky;
	    position: sticky;
	    top: 0;
	    z-index: 2;
	}

	.table-responsive {
	    display: block;
	    width: 100%;
	    overflow-x: auto;
	    -webkit-overflow-scrolling: touch;
	}

	.no-fixed{
		z-index: 1; 
		color:#495057;
		background-color: #e9ecef; 
		border-color:#dee2e6
	}
</style>



