<template>
	<b-overlay :show="loadingRemove" rounded="sm">
		<div class="container-fluid" style="height: calc(100vh - 56px)">
			<b-row class="h-100">
				<b-col md="4" lg="3" sm="12" class="h-100 px-0 shadow">
					<div class="h-100 border-right bg-light">
						<div
							class="d-flex justify-content-between align-items-center p-3 mb-3 border-bottom"
							style="max-height: 73px"
						>
							<h3
								class="text-dark ml-3 mt-2"
								style="font-size: 28px; margin-bottom: 1.25px"
							>
								Costo Operativo
							</h3>
							<b-dropdown
								v-if="hasPermission('op.co.costos.registrar')"
								id="dropdown-solicitud"
								text="Nuevo"
								class="m-md-2 mr-2"
								variant="danger"
							>
								<b-dropdown-item @click="openModal()">
									Costo Operativo
								</b-dropdown-item>
							</b-dropdown>
						</div>
						<div class="mb-3">
							<op-co-costos-filters-component />
						</div>
						<op-co-costos-list-costos-component />
					</div>
				</b-col>
				<b-col md="8" lg="9" class="px-0" v-if="!costoActivo">
					<div style="height: calc(100vh - 50px)">
						<icon-text-component
							:icon="'fas fa-comment-alt'"
							:text="
								'NO SE HA SELECCIONADO NINGÚN COSTO OPERATIVO'
							"
							:circleStyle="{
								backgroundColor: '#f5f5f6',
								color: '#a8aeb3',
							}"
						/>
					</div>
				</b-col>

				<b-col md="8" lg="9" class="h-100 bg-white" v-else>
					<b-row class="border-bottom">
						<b-col lg="12" class="shadow-sm border-bottom">
							<b-button-group size="sm">
								<b-button
									variant="light"
									class="shadows"
									squared
									:disabled="true"
								>
									Resumen
								</b-button>
								<b-button
									:disabled="
										!hasPermission(
											'op.co.costos.cp.navegar'
										)
									"
									:class="{
										'btn-secondary': activeCP,
										'btn-light': !activeCP,
									}"
									class="shadows"
									@click="setSeccionActive('CP')"
									squared
								>
									1.0 Cuenta Planeada
								</b-button>
								<b-button
									:disabled="!valDisabledCR"
									:class="{
										'btn-secondary': activeCR,
										'btn-light': !activeCR,
									}"
									class="shadows"
									@click="setSeccionActive('CR')"
									squared
								>
									2.0 Cuenta Real
								</b-button>
							</b-button-group>
						</b-col>
					</b-row>

					<template v-if="!activeCP && !activeCR">
						<b-container
							class="w-100 h-100 div-content"
							style="color: #a8aeb3;"
						>
							<b-row class="my-5 w-100">
								<b-col class="text-center">
									<i
										class="img-fluid rounded mx-auto d-block"
										:class="'fas fa-dollar-sign'"
										style="font-size: 90px;"
										width="35%"
										height="35%"
									></i>
									<div class="mt-3 text-center">
										<h2 style="font-size: 20px;">
											ELIJA UNA DE LAS OPCIONES QUE SE
											ENCUENTRAN EN EL MENÚ SUPERIOR.
										</h2>
									</div>
								</b-col>
							</b-row>
						</b-container>
					</template>

					<op-co-cuenta-planeada-component
						v-if="activeCP"
						@dataEdit="dataEdit($event)"
					/>

					<op-co-cuenta-real-component v-if="activeCR" />
				</b-col>
			</b-row>
		</div>

		<modal-component
			:title="'Nuevo Costo Operativo'"
			:id="'modal-costo'"
			:hideFooter="true"
			:hideHeader="true"
			:centered="true"
		>
			<template slot="content">
				<op-co-form-costo-component :costo="costo" />
			</template>
			<span slot="buttons"></span>
		</modal-component>
	</b-overlay>
</template>

<script>
import { mapState, mapActions, mapMutations, mapGetters } from "vuex";
import { required } from "vuelidate/lib/validators";
export default {
	data() {
		return {
			costo: null,
			activeCP: false,
			activeCR: false,
		};
	},
	mounted() {
		this.getNegocios();
	},
	methods: {
		...mapActions("negocios", ["getNegocios"]),

		openModal() {
			(this.costo = null), this.$bvModal.show("modal-costo");
		},
		hasPermission(funcion) {
			if (this.permissions.length) {
				const permiso = this.permissions.find(
					(permiso) => permiso.idFuncion == funcion
				);
				if (permiso) return true;
				return false;
			}
		},
		dataEdit(costo) {
			this.costo = costo;
			this.$bvModal.show("modal-costo");
		},
		setSeccionActive(seccion) {
			this.desactiveSeccion();
			switch (seccion) {
				case "CP":
					this.activeCP = true;
					break;
				case "CR":
					this.activeCR = true;
					break;
			}
		},
		desactiveSeccion() {
			this.activeCP = false;
			this.activeCR = false;
		},
	},
	computed: {
		...mapState("op_co_costos", ["costoActivo", "loadingRemove"]),
		...mapState(["permissions"]),

		valDisabledCR() {
			return this.hasPermission("op.co.costos.cr.navegar") &&
				this.costoActivo.cuentaReal == "Activo"
				? true
				: false;
		},
	},
	watch: {
		costoActivo() {
			if (this.activeCR) {
				this.activeCP = false;
				this.activeCR = false;
			}
		},
	},
};
</script>

<style scope>
.div-content {
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-ms-flex-align: center;
	-ms-flex-pack: center;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
}
.scroll-costos {
	max-height: calc(75vh - 165px);
	overflow: auto;
}
</style>
