<template>
	<b-list-group-item
		href="#"
		class="flex-column align-items-start p-2 bg-light border-light"
		:class="buttonClass"
		@click="setCosto()"
	>
		<b-media class="p-3 bg-white">
			<div class="d-flex w-100 justify-content-between">
				<h6 class="mb-1" style="font-size:15px">
					{{ costo.cuenta }}
				</h6>
				<small class="text-secondary">{{ atTime }}</small>
			</div>
			<div
				class="d-flex w-100 justify-content-between"
				style="margin-bottom: -5px;"
			>
				<p class="mb-0" style="font-size:12px">
					{{ costo.proyecto }}
				</p>

				<div>
					<i class="mx-2" :class="iconCosto.icon"></i>
				</div>
			</div>
		</b-media>
	</b-list-group-item>
</template>

<script>
import { mapState, mapMutations, mapActions } from "vuex";
export default {
	props: {
		costo: Object,
		index: Number,
	},
	data() {
		return {};
	},
	mounted() {},
	methods: {
		...mapMutations("op_co_costos", ["setCostoActivo", "setLoadCosto"]),
		...mapActions("op_co_cuenta_real", ["getSueldos"]),

		...mapActions("op_co_costos", [
			"getCostos",
			"getManoObra",
			"getHerramientaEquipo",
			"getCostoFactores",
			"getGastoEspecial",
			"getGastoOperacion",
			"getObservaciones",
			"getMaterialInsumo",
			"getCostoSeguridad",
		]),

		setCosto() {
			this.setLoadCosto(true);
			this.setCostoActivo(this.costo);
			this.getCostoFactores();
			this.getCostoSeguridad();
			this.setMetodosCuentaPlaneada();
		},
		setMetodosCuentaPlaneada() {
			this.getMaterialInsumo();
			this.getManoObra();
			this.getHerramientaEquipo();
			this.getGastoOperacion();
			this.getGastoEspecial();
			this.getObservaciones();
			this.getSueldos();
		},
	},
	computed: {
		...mapState("op_co_costos", ["costoActivo", "confCostoEtapa"]),
		...mapState(["usuario"]),

		atTime() {
			moment.locale("es");
			const time = moment(this.costo.created_at).fromNow();
			return time.charAt(0).toUpperCase() + time.slice(1);
		},
		buttonClass() {
			if (this.costoActivo) {
				if (this.costo.idCosto == this.costoActivo.idCosto)
					return "bg-ligth-active";
				else return "";
			} else {
				return "";
			}
		},
		iconCosto() {
			const config = this.confCostoEtapa.find(
				(item) => item.idEmbudo == this.costo.idEmbudo
			);
			if (this.costo.cuentaReal != "Activo") {
				if (this.costo.etapa_negocio == config.etapaPerdido) {
					return {
						icon: "fas fa-times-circle text-danger",
					};
				} else {
					return {
						icon: "far fa-check-circle text-secondary",
					};
				}
			} else {
				return {
					icon: "fas fa-check-circle text-success",
				};
			}
		},
	},
};
</script>

<style>
.bg-ligth-active {
	background-color: rgb(206 214 220) !important;
}
.bg-ligth-2-active {
	background-color: #eef2f5 !important;
}
.spinner-grow-sm {
	width: 1.2rem !important;
	height: 1.2rem !important;
}
</style>
