<template>
	<b-overlay
		:show="overlay"
		rounded="sm"
		opacity="1.0"
		blur="1px"
		variant="transparent"
	>
		<hr class="mt-0" />
		<template v-if="!form.cuenta">
			<div
				class="input-group w-100 bg-white border mb-3"
				id="input-shadow"
			>
				<div class="input-group-prepend bg-light mr-1 ml-3">
					<div class="pt-1 bg-white">
						<i class="fas fa-search"></i>
					</div>
				</div>
				<b-form-input
					id="input-search"
					size="sm"
					class="form-control border-0"
					placeholder="Escribe tu busqueda aquí"
					v-model="filter"
					autocomplete="off"
				></b-form-input>
			</div>

			<b-skeleton-table
				v-if="loading"
				:rows="5"
				:columns="1"
				:table-props="{ bordered: true, striped: true }"
			></b-skeleton-table>

			<b-card v-else class="mb-3" style="max-height:550px; overflow:auto">
				<b-table
					:fields="fields"
					:items="negociosFiltered"
					selectable
					thead-class="hidden_header"
					class="mb-0"
					@row-selected="onRowSelected($event[0])"
					select-mode="single"
				>
					<template #cell()="data">
						<h6 class="mb-0">
							{{ data.item.claveNegocioCompleta }}
						</h6>
						<small class="text-secondary">{{
							data.item.tituloNegocio
						}}</small>
					</template>
				</b-table>
				<hr class="my-0" />

				<template v-if="!negociosFiltered.length">
					<h5 class="mb-1 text-center">No se encontraron negocios</h5>
				</template>
			</b-card>
		</template>

		<template v-else>
			<b-container v-if="!costo" class="text-right">
				<b-link
					class="text-secondary pr-0 mt-1 fs-12"
					size="sm"
					style="font-size: 11px;"
					@click="form.cuenta = null"
				>
					ELEGIR OTRA CUENTA
					<b-icon icon="arrow90deg-up" flip-h>></b-icon>
				</b-link>
			</b-container>

			<b-row>
				<b-col lg="12" class="p-3 text-center">
					<h5>{{ form.cuenta }}</h5>
					<p class="mb-0">{{ form.proyecto }}</p>
				</b-col>
			</b-row>
			<hr class="mt-0" />

			<b-row>
				<b-col>
					<b-form-group>
						<template v-slot:label>
							<div class="lab-form">
								Duración<span class="req">*</span>
							</div>
						</template>
						<b-form-input
							type="number"
							placeholder="Duración del proyecto"
							v-model="$v.form.duracion.$model"
							:state="
								$v.form.duracion.$dirty
									? !$v.form.duracion.$error
									: null
							"
						>
						</b-form-input>
						<b-form-invalid-feedback id="feedback-destino-viatico">
							Campo obligatorio
						</b-form-invalid-feedback>
					</b-form-group>
				</b-col>
				<b-col>
					<b-form-group>
						<template v-slot:label>
							<div class="lab-form">
								Jornada Interna
							</div>
						</template>

						<template v-if="jornadaInterna">
							<h6 class="mt-2">{{ jornadaInterna }}</h6>
						</template>

						<template v-else>
							<h6 class="mt-2">0.0</h6>
						</template>
						<hr class="mt-0" />
					</b-form-group>
				</b-col>
			</b-row>

			<b-row>
				<b-col>
					<b-form-group>
						<template v-slot:label>
							<div class="lab-form">
								Jornada Laboral<span class="req">*</span>
							</div>
						</template>

						<b-form-select
							v-model="$v.form.jornadaLaboral.$model"
							:state="
								$v.form.jornadaLaboral.$dirty
									? !$v.form.jornadaLaboral.$error
									: null
							"
						>
							<b-form-select-option value="8"
								>8 Horas</b-form-select-option
							>
							<b-form-select-option value="12"
								>12 Horas</b-form-select-option
							>
						</b-form-select>
					</b-form-group>
				</b-col>
				<b-col>
					<b-form-group>
						<template v-slot:label>
							<div class="lab-form">
								Jornada Dominical<span class="req">*</span>
							</div>
						</template>

						<b-form-select
							v-model="$v.form.jornadaDominical.$model"
							:state="
								$v.form.jornadaDominical.$dirty
									? !$v.form.jornadaDominical.$error
									: null
							"
						>
							<b-form-select-option value="NO"
								>NO</b-form-select-option
							>
							<b-form-select-option value="SI"
								>SI</b-form-select-option
							>
						</b-form-select>
					</b-form-group>
				</b-col>
			</b-row>
		</template>
		<hr />
		<div class="d-flex flex-row-reverse bd-highlight">
			<b-button variant="danger" class="ml-3 my-2" @click="submit">
				<font>
					GUARDAR
				</font>
			</b-button>
			<b-button variant="white" class="link-light my-2" @click="cancel">
				CANCELAR
			</b-button>
		</div>
	</b-overlay>
</template>

<script>
import { mapMutations, mapState, mapActions } from "vuex";
import { required } from "vuelidate/lib/validators";

export default {
	props: {
		costo: Object,
	},
	data() {
		return {
			filter: "",
			loading: false,
			overlay: false,
			errorSubmit: false,
			fields: ["tituloNegocio"],
			form: {
				cuenta: null,
				proyecto: null,
				duracion: null,
				jornadaInterna: null,
				jornadaLaboral: 8,
				jornadaDominical: "NO",
			},
		};
	},
	mounted() {
		if (this.costo) this.setDataEdit();
		this.getFactores();
	},
	methods: {
		...mapMutations(["modalSubmit", "modalOk"]),
		...mapMutations("op_co_costos", ["addCosto", "updateCosto"]),
		...mapActions("cnf_mano_obra", ["getFactores"]),

		onRowSelected(items) {
			this.form.cuenta = items.claveNegocioCompleta;
			this.form.proyecto = items.tituloNegocio;
		},
		cancel() {
			this.$bvModal.hide("modal-costo");
		},
		async submit() {
			this.$v.$touch();
			this.overlay = true;
			this.errorSubmit = false;
			if (!this.$v.$invalid) {
				this.form.jornadaInterna = this.jornadaInterna;
				try {
					const response = !this.costo
						? await axios.post(
								BaseUrl + `/api/op/co/costo`,
								this.form
						  )
						: await axios.put(
								BaseUrl +
									`/api/op/co/costo/${this.costo.idCosto}`,
								this.form
						  );
					if (response.data.success) {
						if (!this.costo) this.addCosto(response.data.costo);
						else this.updateCosto(response.data.costo);
						this.modalSubmit(true);
						this.overlay = false;
					} else {
						this.modalOk(false);
					}
				} catch (e) {
					console.log(e);
					this.overlay = false;
					this.errorSubmit = true;
				}
			} else {
				this.overlay = false;
			}
		},
		setDataEdit() {
			this.form.cuenta = this.costo.cuenta;
			this.form.proyecto = this.costo.proyecto;
			this.form.duracion = this.costo.duracion;
			this.form.jornadaInterna = this.costo.jornadaInterna;
			this.form.jornadaLaboral = this.costo.jornadaLaboral;
			this.form.jornadaDominical = this.costo.jornadaDominical;
		},
	},
	computed: {
		...mapState("negocios", ["negociosNotLeads"]),
		...mapState("cnf_mano_obra", ["factores"]),
		...mapState("op_co_costos", ["costoFactores", "listCostos"]),

		negocios() {
			var negocios = [];
			if (this.listCostos.length && this.negociosNotLeads.length) {
				for (var i = 0; i < this.negociosNotLeads.length; i++) {
					const found = this.listCostos.find(
						(costo) =>
							costo.cuenta ===
							this.negociosNotLeads[i].claveNegocioCompleta
					);
					if (found == undefined)
						negocios.push({
							claveNegocioCompleta: this.negociosNotLeads[i]
								.claveNegocioCompleta,
							tituloNegocio: this.negociosNotLeads[i]
								.tituloNegocio,
						});
				}
				return negocios;
			}
			return this.negociosNotLeads;
		},
		negociosFiltered() {
			return this.negocios.filter(
				(negocio) =>
					negocio.claveNegocioCompleta
						.toLowerCase()
						.indexOf(this.filter.toLowerCase()) > -1 ||
					negocio.tituloNegocio
						.toLowerCase()
						.indexOf(this.filter.toLowerCase()) > -1
			);
		},
		jornadaInterna() {
			var factorDomingo = this.costo
				? this.costoFactores.domingo
				: this.factores.domingo;
			return this.form.jornadaDominical == "SI"
				? parseFloat(this.form.duracion) + factorDomingo
				: this.form.duracion;
		},
	},
	validations: {
		form: {
			cuenta: {},
			proyecto: {},
			duracion: { required },
			jornadaInterna: {},
			jornadaLaboral: {},
			jornadaDominical: {},
		},
	},
	watch: {
		negociosNotLeads() {
			this.loading = false;
		},
	},
};
</script>
