<template>
	<div>
		<b-list-group class="bg-white list-costos" v-if="costos.length">
			<op-co-costos-costo-component
				v-for="(costo, index) in costos"
				:key="index"
				:costo="costo"
				:index="index"
			/>
		</b-list-group>
		<div class="mt-5" v-else>
			<h5 class="text-center">
				No se ha registrado ningún costo operativo
			</h5>
		</div>
	</div>
</template>

<script>
import { mapState, mapActions, mapMutations, mapGetters } from "vuex";
export default {
	data() {
		return {};
	},
	mounted() {
		this.getConfCostoEtapa();
		this.getCostos();
	},
	methods: {
		...mapActions("op_co_costos", ["getCostos", "getConfCostoEtapa"]),
	},
	computed: {
		...mapState(["usuario"]),
		...mapGetters("op_co_costos", ["costosFiltered"]),

		costos() {
			return this.costosFiltered;
		},
	},
};
</script>

<style scoped>
.list-costos {
	max-height: calc(100vh - 188px);
	overflow: auto;
}
</style>
