<template>
	<b-list-group-item href="#" 
			@click="read(notification)"
			:class="{'bg-secondary-light' : !notification.read_at, 'bg-light': notification.read_at}">
		<b-row>
			<b-col cols="1" class="px-0">
				<b-img class="ml-0 mt-1" 
						:src="urlImage"
						width="30" 
						height="30" 
						rounded="circle" 
						alt="Foto usuario">			
				</b-img>
			</b-col>
			<b-col cols="11" class="">
				<div class="d-flex w-100 justify-content-between">
					<p class="mb-0" style="font-size: 12px;">
						{{ notification.data.text }}
					</p>
				</div>
				<small>
					<i :class="notification.data.icon"></i> {{ time }}
				</small>
			</b-col>
		</b-row>
	</b-list-group-item>
</template>

<script>
		import { mapState, mapMutations } from 'vuex'	

    export default {
        props:{
            notification: Object,
        },
        data() {
		    return {
		     	urlImage: null
		    };
		},
		mounted()
		{
			this.urlImage = BaseUrl + this.notification.data.picture
		},
        methods:{
			...mapMutations('notifications',['setNotCount']),
        	read(notification) {	
        		if(!notification.read_at)
					this.setNotCount(this.notCount - 1);
        		axios.put(BaseUrl + '/api/notification/', notification)
        		.then((response) => {
        			const notRead = this.notifications.find(function(not){
      						return not.id == notification.id;
      					});
					notRead.read_at = response.data.read_at;
        		});
        	}
        },
        computed: {
			...mapState('notifications',['notifications', 'notCount']),
            time() {
                return moment(this.notification.created_at, "YYYY-MM-DD hh:mm:ss")
                        .locale('es').fromNow();
            },
        }
    }
</script>

<style>
	.bg-secondary-light{
		background-color: #6c757d38 !important;
	}
</style>