<template>
	<div style="margin-top: -8px; padding-top:1px; margin-bottom: -7px">
		<b-list-group class="list-group-scroll shadow">
			<template v-if="isBusyNot">
				 <b-list-group-item class="py-4 bg-light border justify-content-center text-danger text-center">
					   <b-spinner variant="secondary" label="Spinning"></b-spinner>
				</b-list-group-item>
			</template>
			<template v-else-if="notifications.length">
				<notification-component 
					v-for="notification in notifications"
					:key="notification.id" 
					:notification="notification" 
					@click.native="selectedNotification(notification)" />
			</template>
			<template v-else>
				 <b-list-group-item class="py-4 bg-light border justify-content-center text-danger text-center">
					<h1 class="display-1" style="font-size: 20px">No hay notificaciones por mostrar</h1>
				</b-list-group-item>
			</template>

		</b-list-group>
		<template v-if="notifications.length">
			<b-list-group-item href="/notificaciones" class="bg-light border-top justify-content-center text-danger text-center shadow mt-0">
						Mostrar todas
			</b-list-group-item>
		</template>
	</div>
</template>

<script>
    import { mapState, mapMutations } from 'vuex'

	export default {
		props: {
			usuario: Object
		},
		data(){
			return {
				bandera: false,
			}
		},
		mounted(){
			Echo.private(`user.${this.usuario.idUsuario}`)
			.listen('NotificationToUser', (data) =>{
				this.setNotCount(this.notCount + 1);
			});
		},
		methods:{
			...mapMutations('notifications',['setNotCount', 'setIdNotifications']),
			selectedNotification(notification){
				const idNotification = notification.data.id;
				const route = notification.data.route_name;
				this.$router.push( { path: BaseUrl + route } , () => {
					this.bandera = this.isNotificated ? false : true;
					this.setIdNotifications(this.bandera);
				});
			},
		},
		computed:{
			...mapState('notifications',['notifications', 'isBusyNot', 'notCount', 'isNotificated']),
			time() {
                return moment(this.conversation.last_time, "YYYY-MM-DD hh:mm:ss")
                        .locale('es').fromNow();
            },
		},
		watch:{
			// beforeRouteUpdate(to, from, next) {
			// 	//this.idNotification = this.$route.params.idNotification;
			// 	next();
 			//  } ,
		},
	}
</script>

<style>
	/*.dropdown-menu {	
   		padding: 0;
	}*/
	.shadow{
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19); width: 380px;
	}
	.list-group-scroll{
        max-height: 44vh;
        overflow-y:auto;
    }
    @media (min-width: 992px)
	.navbar-expand-lg .navbar-nav .dropdown-menu {
    	position: absolute;
    	padding-bottom: 0px !important;
	}
</style>

