<template>
	<div style="height: 80vh" class="img-content">
		<center>
			<b-img :src="urlImage"
				style="max-width:400px; opacity: 0.6;" fluid 
				alt="Responsive image" class="imag">
			</b-img>
			<h2 class="display-4" 
				style="opacity:0.4">
				SERVICIOS
			</h2>
		</center>
	</div>
</template>

<script>

	export default {
		data() {
		    return {
		    	urlImage: ''
		   	};
		},
		mounted()
		{
		    this.urlImage = BaseUrl + '/img/logo/logoammmec.png'

		},
	}
</script>


<style>
	.img-content {
	  display: -ms-flexbox;
	  display: -webkit-box;
	  display: flex;
	  -ms-flex-align: center;
	  -ms-flex-pack: center;
	  -webkit-box-align: center;
	  align-items: center;
	  -webkit-box-pack: center;
	  justify-content: center;

	}
</style>