<template>
	<b-collapse id="nav-collapse" is-nav>
		<b-navbar-nav>
			<b-nav-item-dropdown>
				<template v-slot:button-content>
					<i class="far fa-calendar-alt" style="color:white"></i>
					Reporte de actividades
				</template>

				<b-dropdown-item
					:to="{ name: 'op.ra.actividades' }"
					style="color: #777;"
				>
					<div class="mr-5 ml-1">
						<i class="fas fa-list-alt pr-2"></i>
						Reportes
					</div>
				</b-dropdown-item>

				<template v-if="hasPermission('op.ra.indicadores.navegar')">
					<hr class="pb-1 mb-0 mt-1" />

					<b-dropdown-item
						:to="{ name: 'op.ra.indicadores.actividades' }"
						style="color: #777;"
					>
						<div class="mr-5 ml-1">
							<i class="fab fa-microsoft pr-2"></i>
							Indicadores
						</div>
					</b-dropdown-item>
				</template>
			</b-nav-item-dropdown>
		</b-navbar-nav>

		<b-navbar-nav v-if="hasPermission('op.co.costos.navegar')">
			<b-nav-item-dropdown>
				<template v-slot:button-content>
					<i class="fas fa-dollar-sign" style="color:white"></i>
					Costo Operativo
				</template>

				<b-dropdown-item
					:to="{ name: 'op.co.costos' }"
					style="color: #777;"
				>
					<div class="mr-5 ml-1">
						<i class="fas fa-list-alt pr-2"></i>
						Costos
					</div>
				</b-dropdown-item>
			</b-nav-item-dropdown>
		</b-navbar-nav>

		<b-navbar-nav class="ml-auto">
			<b-nav-item class="pr-0" right>
				<b-button variant="link">
					<i class="fas fa-question-circle text-white"></i>
				</b-button>
			</b-nav-item>

			<b-nav-item-dropdown right>
				<template v-slot:button-content>
					<b-avatar
						:src="urlImage"
						class="mr-2"
						variant="dark"
					></b-avatar>
					<span class="mr-auto">{{ nombreUsuario }}</span>
				</template>

				<!-- <b-dropdown-item href="#"
					style="color: #777;">
					<div class="mr-5 ml-1">
						<i class="fas fa-user-circle pr-2"></i>
						Mi cuenta
					</div>
				</b-dropdown-item> 
				
				<hr class="pb-1 mb-0 mt-1">-->

				<template v-if="hasPermission('op.configuracion')">
					<b-dropdown-item
						:to="{ name: 'op.ra.configuracion.semanas' }"
						style="color: #777;"
					>
						<div class="mr-5 ml-1">
							<i class="fas fa-cogs pr-2"></i>
							Configuración
						</div>
					</b-dropdown-item>

					<hr class="pb-1 mb-0 mt-1" />
				</template>

				<b-dropdown-item @click="logout" style="color: #777;">
					<div class="mr-5 ml-1">
						<i class="fas fa-sign-out-alt pr-2"></i>
						Cerrar sesión
					</div>
				</b-dropdown-item>
			</b-nav-item-dropdown>
		</b-navbar-nav>
	</b-collapse>
</template>

<script>
import { mapState, mapActions } from "vuex";

export default {
	props: {
		usuario: Object,
	},
	data() {
		return {
			urlImage: null,
		};
	},
	mounted() {
		this.urlImagen(this.usuario.foto);
	},
	methods: {
		urlImagen(foto) {
			this.urlImage = BaseUrl + "/img/profiles/" + foto;
		},
		logout() {
			axios
				.post(BaseUrl + "/logout")
				.then((response) => {
					window.location = "/";
				})
				.catch((error) => {
					location.reload();
				});
		},
		presupuesto() {
			this.getPresupuestos(this.embudoSelected.idEmbudo);
			this.getNegocios();
		},
		hasPermission(funcion) {
			if (this.permissions.length) {
				const permiso = this.permissions.find(
					(permiso) => permiso.idFuncion == funcion
				);
				if (permiso) return true;
				return false;
			}
		},
	},
	computed: {
		...mapState(["nombreUsuario", "permissions"]),
		...mapState("notifications", ["notCount"]),
	},
};
</script>
