<template>
	<div>
		<b-container v-if="cuentaActive.length" class="px-0">
			<b-form-checkbox switch size="sm" class="my-2" v-model="verGraficas"
				>Ver gráfica</b-form-checkbox
			>
			<b-table-simple
				striped
				small
				caption-top
				responsive
				bordered
				style="font-size: 12px"
				class="shadow-sm"
				id="table-total-cuenta"
			>
				<b-thead class="bg-white text-center">
					<b-tr>
						<b-th class="fixed w-50"> CUENTA </b-th>
						<b-th class="fixed w-50"> TOTAL DE GASTOS </b-th>
					</b-tr>
				</b-thead>
				<b-tbody>
					<tr v-for="(cuenta, index) in cuentaActive" :key="index">
						<td class="pl-3 align-middle">
							<b> {{ cuenta[0] }} </b>
						</td>
						<td>
							<div class="d-flex w-100 justify-content-between">
								<label class="mb-0 ml-1"
									><strong
										><i
											class="fas fa-dollar-sign align-middle"
										></i></strong
								></label>
								<vue-numeric
									separator=","
									:precision="2"
									:read-only="true"
									:value="cuenta[1]"
								/>
							</div>
						</td>
					</tr>
				</b-tbody>

				<b-tfoot>
					<b-tr style="background-color: #237cb31f !important;">
						<b-td class="text-right"
							><strong>T o t a l:</strong></b-td
						>
						<td>
							<strong>
								<div
									class="d-flex w-100 justify-content-between"
								>
									<label class="mb-0 ml-1"
										><strong
											><i
												class="fas fa-dollar-sign align-middle"
											></i></strong
									></label>
									<vue-numeric
										separator=","
										:precision="2"
										:read-only="true"
										:value="gastosTotales"
									/>
								</div>
							</strong>
						</td>
					</b-tr>
				</b-tfoot>
			</b-table-simple>
		</b-container>

		<b-container v-else style="font-size: 12px;">
			<div style="height: calc(80vh - 200px)">
				<icon-text-component
					:circleStyle="{
						backgroundColor: '#f4f4f6',
						color: '#45555f',
					}"
					:icon="'fas fa-dollar-sign'"
					:text="text"
				/>
			</div>
		</b-container>

		<b-container v-if="cuentaActive.length && verGraficas" class="mt-3">
			<GChart
				style="height: 400px;"
				type="ColumnChart"
				:data="chartData"
				:options="chartOptions"
			/>
		</b-container>
	</div>
</template>

<script>
import { mapState, mapMutations, mapActions, mapGetters } from "vuex";

export default {
	props: {
		itemActive: String,
	},
	data() {
		return {
			totalCE: 0,
			totalCI: 0,
			verGraficas: true,
			comprobaciones: [],
			cuentasExternas: [],
			cuentasInternas: [],
			chartOptions: {
				bar: { groupWidth: "40%" },
				legend: "top",
				colors: ["#c00000"],
				animation: {
					duration: 900,
					easing: "linear",
					startup: true,
				},
				chartArea: {
					left: 80,
					right: 80,
				},
			},
		};
	},
	mounted() {
		if (this.dataFilter.inicio && this.dataFilter.fin)
			this.getComprobaciones();
	},
	methods: {
		getComprobaciones() {
			axios
				.get(
					BaseUrl +
						`/api/fn/cg/comprobaciones/all?inicio=${this.dataFilter.inicio}&fin=${this.dataFilter.fin}`
				)
				.then((response) => {
					this.comprobaciones = response.data.comprobaciones;
					this.cuentasExternas = response.data.cuentas_externas;
					this.cuentasInternas = response.data.cuentas_internas;
				});
		},
		setArrayCuenta(cuentas, tipo) {
			var arrData = [];
			if (cuentas) {
				var total = 0;
				cuentas.forEach((cuenta) => {
					var comp_cuenta = this.comprobaciones.filter(
						(comprobacion) => comprobacion.cuenta == cuenta
					);
					var importe = comp_cuenta.reduce(
						(suma, comprobacion) =>
							suma + parseFloat(comprobacion.importe),
						0
					);
					total += importe;
					arrData.push([cuenta, importe]);
				}, this);
				if (tipo == "Externa") this.totalCE = total;
				else this.totalCI = total;
				return this.ordenarDescendente(arrData, 1);
			} else return [];
		},
		ordenarDescendente(array, index) {
			return array
				.sort(function(a, b) {
					return a[index] - b[index];
				})
				.reverse();
		},
	},
	computed: {
		...mapState("fn_cg_comprobaciones", ["dataFilter"]),

		externas() {
			return this.setArrayCuenta(this.cuentasExternas, "Externa");
		},
		internas() {
			return this.setArrayCuenta(this.cuentasInternas, "Interna");
		},
		cuentaActive() {
			return this.itemActive == "CI" ? this.internas : this.externas;
		},
		gastosTotales() {
			return this.itemActive == "CI" ? this.totalCI : this.totalCE;
		},
		chartData() {
			let arrData = [["Cuenta", "Total de gastos"]];
			if (this.cuentaActive) {
				this.cuentaActive.forEach((cuenta) => {
					arrData.push([cuenta[0], cuenta[1]]);
				}, this);
			}
			return arrData;
		},
		text() {
			if (this.dataFilter.inicio && this.dataFilter.fin) {
				return "No se encontraron resultados";
			} else {
				return "Seleccione un rango de fechas";
			}
		},
	},
	watch: {
		dataFilter: {
			handler(val, oldVal) {
				this.getComprobaciones();
			},
			deep: true,
		},
	},
};
</script>

<style>
.fixed {
	position: sticky;
	left: -1px;
	background-color: white;
}
#table-total-cuenta th,
#table-total-cuenta td {
	padding: 0.72rem;
	vertical-align: top;
	border-top: 1px solid #dee2e6;
}
</style>
