<template>
	<div class="wrapper">
		<sidebar-component :title="'INDICADORES'">
			<template slot="content">
				<fn-cg-ind-sidebar-content-component />
			</template>
		</sidebar-component>
		<b-container>
			<b-row class="py-4">
				<b-col lg="12">
					<h1 class="text-center mb-0">Total por cuentas</h1>
				</b-col>
			</b-row>

			<fn-cg-ind-filters-component />

			<b-card no-body class="mt-3 mb-4">
				<b-card-header header-tag="nav" class="bg-light border">
					<b-nav
						card-header
						pills
						justified
						class="bg-light"
						style="overlay: auto"
					>
						<b-nav-item
							class="shadow border activate"
							:class="{
								['bg-secondary text-white']: itemActive == 'CI',
							}"
							@click="itemActive = 'CI'"
						>
							Interna
						</b-nav-item>
						<b-nav-item
							class="shadow border activate"
							:class="{
								['bg-secondary text-white']: itemActive == 'CE',
							}"
							@click="itemActive = 'CE'"
						>
							Externa
						</b-nav-item>
					</b-nav>
				</b-card-header>

				<b-card-body class="card-body-scroll">
					<fn-cg-ind-total-cuentas-content :itemActive="itemActive" />
				</b-card-body>
			</b-card>
		</b-container>
	</div>
</template>

<script>
import { mapState, mapMutations, mapActions } from "vuex";

export default {
	data() {
		return {
			itemActive: "CI",
		};
	},
	mounted() {
		this.setRouteName("fn.cg.indicadores.total_cuenta");
	},
	methods: {
		...mapMutations(["setRouteName"]),
	},
	computed: {},
	watch: {},
};
</script>

<style>
.card-body-scroll {
	max-height: calc(100vh - 265px);
	overflow-y: auto;
}
</style>
