<template>
	<div v-if="comprobacion">
		<hr class="mt-1" />
		<div v-if="!showFile && !editingFile">
			<b-row>
				<b-col lg="9">
					<b-media>
						<template #aside>
							<i class="fas fa-paperclip text-dark fs-16"></i>
						</template>

						<h6 class="m-0 fs-12">
							<b-link
								class="text-dark"
								@click="downloadFile(comprobacion.file)"
							>
								{{ comprobacion.file }}
							</b-link>
						</h6>

						<small class="text-muted">
							Extensión: {{ extFile }}
						</small>
					</b-media>
				</b-col>
				<b-col lg="3" class="text-right">
					<b-link
						class="mr-3 text-dark"
						@click="downloadFile(comprobacion.file)"
					>
						<i class="fas fa-download"></i>
					</b-link>
					<b-link
						v-if="
							solicitudActiva.idEtapa == 4 &&
								hasPermission(
									'fn.cg.solicitudes.editar.archivos'
								)
						"
						class="mr-2 text-dark"
						@click="showEdition('file')"
					>
						<i class="fas fa-edit"></i>
					</b-link>
				</b-col>
			</b-row>
		</div>

		<div v-else>
			<div v-if="!editFile" class="text-center">
				<b-link
					v-if="
						solicitudActiva.idEtapa == 4 &&
							hasPermission('fn.cg.solicitudes.cargar.archivos')
					"
					@click="addFile('file')"
					class="text-secondary"
					size="sm"
				>
					<h6 class="fs-13">
						<i class="fas fa-upload mr-2"></i> Agregar archivo
					</h6>
				</b-link>

				<div v-else class="text-muted">
					<h6 class="fs-13">Sin archivo</h6>
				</div>
			</div>

			<div v-else>
				<small class="fs-12">Elegir archivo</small>
				<b-form-file
					class="my-2 "
					placeholder="No se ha seleccionado ningún archivo"
					@change="setFile"
					:state="$v.form.file.$dirty ? !$v.form.file.$error : null"
					accept=".pdf"
				>
				</b-form-file>

				<div class="d-flex flex-row-reverse bd-highlight">
					<b-button
						size="sm"
						variant="danger"
						class="ml-3 my-2"
						@click="submit"
					>
						<font> GUARDAR </font>
					</b-button>
					<b-button
						size="sm"
						variant="white"
						class="link-light my-2"
						@click="cancelEdition('file')"
					>
						CANCELAR
					</b-button>
				</div>
			</div>
		</div>

		<hr />
		<div v-if="comprobacion.tipoComprobante == 'Factura'">
			<div v-if="!showXML && !editingXML">
				<b-row>
					<b-col lg="9">
						<b-media>
							<template #aside>
								<i class="fas fa-paperclip text-dark fs-16"></i>
							</template>

							<b-link
								class="text-dark"
								@click="downloadFile(comprobacion.fileXML)"
							>
								<h6 class="m-0 fs-12">
									{{ comprobacion.fileXML }}
								</h6>
							</b-link>

							<small class="text-muted">
								Extensión: XML
							</small>
						</b-media>
					</b-col>
					<b-col lg="3" class="text-right">
						<b-link
							class="mr-3 text-dark"
							@click="downloadFile(comprobacion.fileXML)"
						>
							<i class="fas fa-download"></i>
						</b-link>
						<b-link
							v-if="
								solicitudActiva.idEtapa == 4 &&
									hasPermission(
										'fn.cg.solicitudes.editar.archivos'
									)
							"
							class="mr-2 text-dark"
							@click="showEdition('xml')"
						>
							<i class="fas fa-edit"></i>
						</b-link>
					</b-col>
				</b-row>
			</div>

			<div v-else>
				<div v-if="!editXML" class="text-center">
					<b-link
						v-if="
							solicitudActiva.idEtapa == 4 &&
								hasPermission(
									'fn.cg.solicitudes.cargar.archivos'
								)
						"
						@click="addFile('xml')"
						class="text-secondary"
						size="sm"
					>
						<h6 class="fs-13">
							<i class="fas fa-upload mr-2"></i> Agregar XML
						</h6>
					</b-link>

					<div v-else class="text-muted">
						<h6 class="fs-13">Sin archivo XML</h6>
					</div>
				</div>

				<div v-else>
					<small class="fs-12">Elegir archivo XML</small>
					<b-form-file
						class="my-2"
						placeholder="No se ha seleccionado ningún archivo"
						@change="setFileXML"
						:state="
							$v.form.fileXML.$dirty
								? !$v.form.fileXML.$error
								: null
						"
						accept=".xml"
					>
					</b-form-file>

					<div class="d-flex flex-row-reverse bd-highlight">
						<b-button
							size="sm"
							variant="danger"
							class="ml-3 my-2"
							@click="submit"
						>
							<font> GUARDAR </font>
						</b-button>
						<b-button
							size="sm"
							variant="white"
							class="link-light my-2"
							@click="cancelEdition('xml')"
						>
							CANCELAR
						</b-button>
					</div>
				</div>
			</div>
			<hr />
		</div>
	</div>
</template>

<script>
import { mapState, mapActions, mapMutations } from "vuex";
import { required } from "vuelidate/lib/validators";

export default {
	props: {
		comprobacion: Object,
	},
	data() {
		return {
			editingFile: false,
			editingXML: false,
			editFile: false,
			editXML: false,
			form: {
				file: "",
				fileXML: "",
			},
		};
	},
	mounted() {},
	methods: {
		...mapMutations("solicitudes_gastos", ["updateComprobacion"]),

		downloadFile(file) {
			window.location =
				BaseUrl + `/api/fn/cg/comprobaciones/${file}/download`;
		},
		setFile(e) {
			this.form.file = e.target.files[0];
		},
		setFileXML(e) {
			this.form.fileXML = e.target.files[0];
		},
		async submit() {
			this.$v.$touch();
			if (!this.$v.$invalid) {
				try {
					const data = new FormData();
					data.append("file", this.form.file);
					data.append("fileXML", this.form.fileXML);
					data.append(
						"idComprobacion",
						this.comprobacion.idComprobacion
					);
					const response = await axios.post(
						BaseUrl + `/api/fn/cg/comprobaciones/files`,
						data
					);
					if (response.data.success) {
						this.updateComprobacion(response.data.comprobacion);
						this.editingFile = false;
						this.editingXML = false;
					}
				} catch (e) {
					console.log(e);
				}
			}
		},
		showEdition(tipo) {
			if (tipo == "xml") {
				this.editingXML = true;
				this.editXML = true;
				this.editingFile = false;
			} else {
				this.editingFile = true;
				this.editFile = true;
				this.editingXML = false;
			}
		},
		cancelEdition(tipo) {
			if (tipo == "xml") {
				this.editingXML = this.showXML;
				this.editXML = false;
			} else {
				this.editingFile = this.showFile;
				this.editFile = false;
			}
		},
		addFile(tipo) {
			if (tipo == "xml") {
				this.editXML = true;
				this.editingXML = true;
			} else {
				this.editFile = true;
				this.editingFile = true;
			}
		},
		hasPermission(funcion) {
			if (this.permissions.length) {
				const permiso = this.permissions.find(
					(permiso) => permiso.idFuncion == funcion
				);
				if (permiso) return true;
				return false;
			}
		},
	},
	computed: {
		...mapState(["permissions"]),
		...mapState("solicitudes_gastos", ["solicitudActiva"]),

		showFile() {
			return this.comprobacion.file != "S/A" ? false : true;
		},
		showXML() {
			return this.comprobacion.fileXML != "S/A" ? false : true;
		},
		extFile() {
			var ext = this.comprobacion.file.split(".", 2);
			return ext[1].toUpperCase();
		},
	},
	validations() {
		if (this.editingFile) {
			return {
				form: {
					file: { required },
					fileXML: {},
				},
			};
		} else if (this.editingXML) {
			return {
				form: {
					file: {},
					fileXML: { required },
				},
			};
		}
	},
};
</script>
