<template>
	<b-container class="p-0 component-cg-max-height" fluid>
		<b-card
			v-if="!loading"
			style="border-left: 0.2rem solid !important;"
			class="shadow-sm mt-2 pt-3"
		>
			<fn-gastos-solicitudes-bitacoras-bitacora-component
				v-for="(bitacora, index) in bitacoras"
				:key="index"
				:bitacora="bitacora"
			/>
		</b-card>

		<b-card
			v-else
			style="border-left: 0.3rem solid !important;"
			class="shadow-sm mt-2 pt-3"
		>
			<b-skeleton animation="wave" width="85%"></b-skeleton>
			<b-skeleton animation="wave" width="55%"></b-skeleton>
			<b-skeleton animation="wave" width="70%"></b-skeleton>
		</b-card>
	</b-container>
</template>

<script>
import { mapState } from "vuex";
export default {
	data() {
		return {
			bitacoras: [],
			loading: false,
		};
	},
	mounted() {
		this.loading = true;
		this.getBitacorasBySolicitud();
	},
	methods: {
		getBitacorasBySolicitud() {
			axios
				.get(
					BaseUrl +
						`/api/fn/solicitudes/${this.solicitudActiva.idSolicitud}/bitacoras`
				)
				.then((response) => {
					this.bitacoras = response.data;
					this.loading = false;
				});
		},
	},
	computed: {
		...mapState("solicitudes_gastos", ["solicitudActiva"]),
	},
	watch: {
		solicitudActiva() {
			this.loading = true;
			this.getBitacorasBySolicitud();
		},
	},
};
</script>
