<template>
	<b-row class="mb-3">
		<b-col lg="3" class="pr-0 text-right">
			<h6 class="mb-0" style="font-size: 13px;">{{ fecha }}</h6>
			<h6 style="font-size: 13px;">{{ hora }}</h6>
		</b-col>
		<b-col lg="1" class="px-0 text-center">
			<h6>
				<strong><i class="fas fa-arrow-right"></i></strong>
			</h6>
		</b-col>
		<b-col lg="7" class="pl-0">
			<h5>
				<b-badge variant="secondary">{{ etapa }}</b-badge>
			</h5>
			<h6 style="font-size: 12px;">
				{{ bitacora.responsable }} {{ bitacora.accion }}
			</h6>
			<template
				v-if="bitacora.comentarios && bitacora.comentarios.length"
			>
				<h6 class="mt-3"><strong>Comentarios:</strong></h6>
				<p
					class="shadow-sm"
					style="font-size: 12px; background-color: #fff4d4; padding: 6px;border: 0.1rem solid #f8f9fa;"
				>
					<em>{{ bitacora.comentarios }}</em>
				</p>
			</template>
		</b-col>
	</b-row>
</template>

<script>
import { mapState } from "vuex";
export default {
	props: {
		bitacora: Object,
	},
	methods: {
		nomMeses(mes) {
			switch (mes) {
				case "01":
					return "Ene";
					break;
				case "02":
					return "Feb";
					break;
				case "03":
					return "Mar";
					break;
				case "04":
					return "Abr";
					break;
				case "05":
					return "May";
					break;
				case "06":
					return "Jun";
					break;
				case "07":
					return "Jul";
					break;
				case "08":
					return "Ago";
					break;
				case "09":
					return "Sep";
					break;
				case "10":
					return "Oct";
					break;
				case "11":
					return "Nov";
					break;
				case "12":
					return "Dic";
					break;
			}
		},
	},
	computed: {
		fecha() {
			moment.locale("es");
			const mes = moment(this.bitacora.created_at).format("MM");
			const noDia = moment(this.bitacora.created_at).format("DD");
			const year = moment(this.bitacora.created_at).format("YYYY");
			return noDia + "/" + this.nomMeses(mes) + "/" + year;
		},
		hora() {
			return moment(this.bitacora.created_at).format("h:mm a");
		},
		etapa() {
			switch (this.bitacora.idEtapa) {
				case 1:
					return "Solicitud";
					break;
				case 2:
					return "Autorización (solicitud)";
					break;
				case 3:
					return "Dispersión";
					break;
				case 4:
					return "Comprobación";
					break;
				case 5:
					return "Revisión";
					break;
				case 6:
					return "Autorización (comprobación)";
					break;
				case 7:
					return "Reembolso / decremento";
					break;
				case 8:
					return "Contabilización";
					break;

				default:
					break;
			}
		},
	},
};
</script>
