<template>
	<b-row>
		<b-col>
			<div>
				<!-- REALIZAR COMPROBACION -->
				<template
					v-if="
						solicitudActiva &&
							solicitudActiva.idEtapa == 4 &&
							usuario.idUsuario == solicitudActiva.idUsuario
					"
				>
					<b-button
						class="shadows px-3 py-2"
						variant="danger"
						size="sm"
						@click="nuevaComprobacion"
						v-b-modal.modal-comprobacion
					>
						<h6 class="mb-0 fs-12">
							Comprobar
						</h6>
					</b-button>
					<b-button
						class="shadows px-3 py-2"
						variant="secondary"
						size="sm"
						@click="openModal('modal-enviar-comprobacion')"
						:disabled="disabledEnviarRevision"
					>
						<h6 class="mb-0 fs-12">
							Enviar a revisión
						</h6>
					</b-button>
				</template>

				<!-- REVISION DE COMPROBACIÓN -->
				<b-button
					variant="success"
					size="sm"
					class="shadows px-3 py-2"
					:disabled="disabledMandarAutorizacion"
					@click="showMsgBoxAutorizarConfirm(6, 5)"
					v-if="
						solicitudActiva &&
							solicitudActiva.idEtapa == 5 &&
							hasPermission('fn.cg.solicitudes.revisar')
					"
				>
					<h6 class="mb-0 fs-12">
						Mandar a autorización
					</h6>
				</b-button>

				<b-button
					variant="secondary"
					size="sm"
					class="shadows px-3 py-2"
					@click="showMsgBoxAutorizarConfirm(4, 5)"
					v-if="
						solicitudActiva &&
							solicitudActiva.idEtapa == 5 &&
							hasPermission('fn.cg.solicitudes.revisar')
					"
				>
					<h6 class="mb-0 fs-12">
						Regresar a comprobación
					</h6>
				</b-button>

				<!-- AUTORIZACIÓN -->
				<template
					v-if="
						hasPermission(
							'fn.cg.solicitudes.comprobacion.autorizacion'
						)
					"
				>
					<b-button
						@click="autorizacion('autorizado')"
						variant="success"
						class="shadows px-3 py-2"
						size="sm"
						style="border-radius: 0rem;"
						v-if="solicitudActiva && solicitudActiva.idEtapa == 6"
					>
						<h6 class="mb-0 fs-12">
							<i class="far fa-check-circle mr-2"></i>
							Autorizar
						</h6>
					</b-button>
					<b-button
						@click="autorizacion('rechazado')"
						variant="danger"
						class="shadows px-3 py-2"
						size="sm"
						style="border-radius: 0rem;"
						v-if="solicitudActiva && solicitudActiva.idEtapa == 6"
					>
						<h6 class="mb-0 fs-12">
							<i class="fas fa-times-circle mr-2"></i>
							Rechazar
						</h6>
					</b-button>
				</template>

				<!-- REEMBOLSO Y DECREMENTO -->
				<!-- <b-button
					variant="success"
					size="sm"
					class="shadows"
					@click="showMsgBoxAutorizarConfirm(8, 7)"
					v-if="
						solicitudActiva &&
							solicitudActiva.idEtapa == 7 &&
							hasPermission('fn.cg.solicitudes.reembolsar')
					"
					>Terminar reembolso y decremento</b-button
				> -->

				<!-- CONTABILIZAR -->
				<b-button
					variant="danger"
					size="sm"
					class="shadows px-3 py-2"
					@click="showMsgBoxAutorizarConfirm(9, 8)"
					:disabled="solicitudActiva.timbrar == 1"
					v-if="
						solicitudActiva &&
							solicitudActiva.idEtapa == 8 &&
							hasPermission('fn.cg.solicitudes.contabilizar')
					"
				>
					<h6 class="mb-0 fs-12">
						Contabilizar
					</h6>
				</b-button>
				<!-- <b-button
					variant="light"
					size="sm"
					class="shadows ml-2"
					v-if="
						solicitudActiva &&
							solicitudActiva.idEtapa == 8 &&
							solicitudActiva.timbrar == 1 &&
							hasPermission('fn.cg.solicitudes.contabilizar')
					"
					v-b-modal.modal-timbrar
				>
					<label class="mb-0"
						><i class="fas fa-concierge-bell"></i>Timbrar</label
					>
				</b-button> -->
				<!-- <b-link
					class="text-success ml-2"
					v-if="
						solicitudActiva &&
							solicitudActiva.idEtapa >= 8 &&
							solicitudActiva.timbrar == 2 &&
							hasPermission('fn.cg.solicitudes.contabilizar')
					"
					v-b-modal.modal-timbrar
				>
					<i class="fas fa-check"></i> Timbrada
				</b-link> -->

				<!-- DESCARGAR PDF -->
				<template
					v-if="
						solicitudActiva &&
							solicitudActiva.idEtapa == 9 &&
							hasPermission('fn.cg.solicitudes.descargar')
					"
				>
					<b-button
						v-if="!loading"
						class="shadows px-3 py-2"
						variant="outline-danger"
						size="sm"
						@click="downloadSolicitud()"
					>
						<h6 class="mb-0 fs-12">
							<!-- <i class="fas fa-file-pdf mr-2"></i> -->
							<i class="fas fa-flag mr-2"></i>
							Descargar reporte
						</h6>
					</b-button>

					<b-button
						v-else
						class="px-3 py-2"
						variant="outline-danger"
						size="sm"
						disabled
					>
						<h6 class="mb-0 fs-12">
							<b-spinner small class="mr-2"></b-spinner>
							Descargando...
						</h6>
					</b-button>
				</template>

				<!-- FILTRO COMPROBACIONES -->
				<b-dropdown
					id="drop-filter-comprobacion"
					left
					split
					variant="light"
					size="sm"
				>
					<template #button-content>
						<h6 class="mb-0 fs-12">
							<b-icon icon="filter" class="mr-2"></b-icon>
							{{ tipoGasto }}
						</h6>
					</template>

					<b-dropdown-item @click="setTipoGasto('Deducibles')">
						<h5 class="display-1 fs-12 m-0">
							<strong>Deducibles</strong>
						</h5>
					</b-dropdown-item>
					<b-dropdown-item @click="setTipoGasto('No deducibles')">
						<h5 class="display-1 fs-12 m-0">
							<strong>No deducibles</strong>
						</h5>
					</b-dropdown-item>

					<b-dropdown-divider></b-dropdown-divider>

					<b-dropdown-item
						style="min-width: 300px"
						@click="setTipoGasto('Filtro')"
						class="text-dark"
					>
						<h5 class="display-1 fs-12 m-0">
							<b-icon
								icon="filter"
								class="mr-2"
								variant="secondary"
							></b-icon>
							<strong> Borrar filtro</strong>
						</h5>
					</b-dropdown-item>
				</b-dropdown>
			</div>
		</b-col>

		<modal-component
			:title="'Favor de confirmar'"
			:id="'modal-opciones'"
			:hideFooter="true"
			:hideHeader="true"
			:centered="true"
		>
			<template slot="content">
				<b-overlay
					:show="overlay"
					rounded="sm"
					opacity="1.0"
					blur="1px"
					variant="transparent"
				>
					<p style="font-size: 18px">{{ messageBox }}</p>

					<template
						v-if="form.idProxEtapa == 4 && form.idEtapaOld == 5"
					>
						<b-form-textarea
							id="textarea"
							v-model="form.comentarios"
							placeholder="Ingrese sus comentarios..."
							rows="3"
							max-rows="6"
							class="my-3"
						></b-form-textarea>
					</template>

					<div class="d-flex flex-row-reverse bd-highlight">
						<b-button
							variant="danger"
							class="ml-3 mt-2 "
							@click="submitComentarios"
							v-if="form.idProxEtapa == 4 && form.idEtapaOld == 5"
						>
							CONFIRMAR
						</b-button>

						<b-button
							variant="danger"
							class="ml-3 mt-2"
							@click="cambioEtapa"
							v-else
						>
							CONFIRMAR
						</b-button>

						<b-button
							variant="white"
							class="ml-3 mt-2 link-light"
							@click="closeModal()"
						>
							CANCELAR
						</b-button>
					</div>
				</b-overlay>
			</template>
		</modal-component>

		<modal-component
			:id="'modal-enviar-comprobacion'"
			:centered="true"
			:title="'Enviar comprobación'"
			:hideFooter="true"
			:hideHeader="true"
			:sizeModal="'md'"
			v-if="solicitudActiva"
		>
			<template slot="content">
				<fn-gastos-solicitudes-form-enviar-comprobacion-component />
			</template>
		</modal-component>
	</b-row>
</template>

<script>
import { mapMutations, mapState } from "vuex";
export default {
	props: {
		loading: Boolean,
		tipoGasto: String,
	},
	data() {
		return {
			overlay: false,
			form: {
				status: "",
				idSolicitud: null,
				idEtapa: null,
				idProxEtapa: null,
				idEtapaOld: null,
				comentarios: "",
				responsable: "",
			},
		};
	},
	methods: {
		...mapMutations("solicitudes_gastos", [
			"updateSolicitud",
			"updateSolicitudActiva",
		]),

		showMsgBoxAutorizarConfirm(idProxEtapa, idEtapaOld) {
			this.form.idProxEtapa = idProxEtapa;
			this.form.idEtapaOld = idEtapaOld;
			this.$bvModal.show("modal-opciones");
		},
		async submitComentarios() {
			this.overlay = true;
			this.form.idEtapa = 4;
			this.form.idSolicitud = this.solicitudActiva.idSolicitud;

			try {
				const response = await axios.post(
					BaseUrl + `/api/fn/cg/solicitudes/comentarios`,
					this.form
				);
				if (response.data.success) this.recharzarSolicitud();
				else this.overlay = false;
			} catch (error) {
				this.overlay = false;
			}
		},
		async recharzarSolicitud() {
			this.form.autorizador = this.usuario.nombreUsuario;
			this.form.status = "rechazado";
			const response = await axios.put(
				BaseUrl +
					`/api/fn/cg/solicitudes/autorizacion/${this.solicitudActiva.idSolicitud}`,
				this.form
			);
			if (response.data.success) {
				this.overlay = false;
				this.form.comentarios = "";
				this.updateSolicitud(response.data.solicitud);
				this.updateSolicitudActiva(response.data.solicitud);
				this.closeModal();
				this.makeToast(
					"success",
					"Éxito",
					"Se ha regresado para corregir esta comprobación"
				);
			} else {
				this.overlay = false;
			}
		},
		async cambioEtapa() {
			try {
				const idSolicitud = this.solicitudActiva.idSolicitud;
				this.form.responsable = this.usuario.nombreUsuario;
				const response = await axios.put(
					BaseUrl +
						`/api/fn/cg/solicitudes/${idSolicitud}/etapas/${this.form.idProxEtapa}`,
					this.form
				);
				if (response.data.success) {
					this.updateSolicitud(response.data.solicitud);
					this.updateSolicitudActiva(response.data.solicitud);
					this.closeModal();
					this.makeToast(
						"success",
						"Éxito",
						"Se ha cambiado correctamente de etapa esta comprobación"
					);
				}
			} catch (error) {
				this.makeToast(
					"danger",
					"Error",
					"Ha ocurrido un problema al cambiar de etapa"
				);
			}
		},
		makeToast(variant = null, title, text) {
			this.$bvToast.toast(text, {
				title: title,
				variant: variant,
				solid: true,
			});
		},
		hasPermission(funcion) {
			if (this.permissions.length) {
				const permiso = this.permissions.find(
					(permiso) => permiso.idFuncion == funcion
				);
				if (permiso) return true;
				return false;
			}
		},
		nuevaComprobacion() {
			this.$emit("nuevaComprobacion");
		},
		autorizacion(status) {
			this.$emit("autorizacion", status);
		},
		downloadSolicitud() {
			this.$emit("downloadSolicitud");
		},
		closeModal() {
			this.$bvModal.hide("modal-opciones");
		},
		openModal(modal) {
			this.$bvModal.show(modal);
		},
		setTipoGasto(tipo) {
			this.$emit("setTipoGasto", tipo);
		},
	},
	computed: {
		...mapState(["usuario", "permissions"]),
		...mapState("solicitudes_gastos", [
			"listComprobaciones",
			"solicitudActiva",
		]),

		messageBox() {
			switch (this.form.idProxEtapa) {
				case 6:
					return "¿Mandar a autorización esta comprobación?";
					break;
				case 4:
					return "¿Regresar a usuario para corregir comprobación?";
					break;
				case 8:
					return "¿Mandar a contabilización esta comprobación?";
					break;
				case 9:
					return "¿Terminar esta comprobación?";
					break;
				default:
					break;
			}
		},
		disabledEnviarRevision() {
			if (this.listComprobaciones.length) {
				var responseDce = this.listComprobaciones.filter(
					(comprobacion) =>
						comprobacion.tipoComprobante == "Factura" &&
						comprobacion.file != "S/A" &&
						comprobacion.fileXML != "S/A"
				).length;
				var responseNdce = this.listComprobaciones.filter(
					(comprobacion) =>
						comprobacion.tipoComprobante != "Factura" &&
						comprobacion.file != "S/A"
				).length;
				var responseCompletos = responseDce + responseNdce;
				if (responseCompletos == this.listComprobaciones.length) {
					return false;
				}
			}
			return true;
		},
		disabledMandarAutorizacion() {
			if (this.listComprobaciones.length) {
				var response = this.listComprobaciones.filter(
					(comprobacion) => comprobacion.revision == 0
				).length;
				if (response == 0) {
					return false;
				}
			}
			return true;
		},
	},
};
</script>

<style>
#drop-filter-comprobacion button {
	padding-block: 5px;
}
</style>
