<template>
	<b-container class="p-0 component-cg-max-height" fluid>
		<b-card
			v-if="
				!busyComprobaciones &&
					(listComprobaciones.length ||
						solicitudActiva.idEtapa >= 3)
			"
			style="border-left: 0.2rem solid !important;"
			class="shadow-sm mt-2"
		>
			<b-row>
				<b-col lg="12">
					<fn-gastos-solicitudes-comprobaciones-opciones-component
						:loading="loading"
						:tipoGasto="tipoGasto"
						@nuevaComprobacion="comprobacionEdit = null"
						@autorizacion="autorizacion($event)"
						@downloadSolicitud="downloadSolicitud()"
						@setTipoGasto="setTipoGasto($event)"
					/>
				</b-col>
			</b-row>
		</b-card>

		<b-card
			style="border-left: 0.2rem solid !important;"
			class="shadow-sm mt-2"
		>
			<b-skeleton-table
				v-if="busyComprobaciones"
				:rows="4"
				:columns="11"
				:table-props="{ striped: true }"
			>
			</b-skeleton-table>

			<template v-else>
				<template v-if="listComprobaciones.length">
					<template
						v-for="(data, index) in comprobacionesByClasificacion"
					>
						<fn-gastos-solicitudes-table-comprobaciones-component
							v-if="data.comprobaciones.length"
							:key="index"
							:index="index"
							:data="data"
							@dataEdit="dataEdit($event)"
							@openModalFile="openModalFile($event)"
							@openSidebar="openSidebar($event)"
						/>
					</template>
				</template>

				<b-container class="text-center" v-else>
					<h6 class="text-center fs-13 py-4">
						<i
							class="fas fa-info-circle mb-3"
							style="color: rgba(0, 0, 0, 0.2); font-size: 41px;"
						></i>
						<p
							class="text-secondary mb-2"
							style="font-weight: 500;"
						>
							No hay resultados
						</p>
						<p class="text-muted" style="font-weight: 300;">
							La solicitud de viático no tiene ninguna
							comprobación
						</p>
					</h6>
				</b-container>
			</template>
		</b-card>

		<modal-component
			:title="'Agregar Comprobación'"
			:id="'modal-comprobacion'"
			:size-modal="sizeModalComprobacion"
			:hide-header="true"
			:hide-footer="true"
			:no-button-close="true"
		>
			<template slot="content">
				<fn-gastos-solicitudes-form-comprobacion-component
					:comprobacion="comprobacionEdit"
					@setSizeModal="setSizeModalComprobacion"
				/>
			</template>
			<span slot="buttons"></span>
		</modal-component>

		<modal-component
			:id="'modal-cg-files'"
			:title="'Descargar archivos'"
			:hideFooter="true"
			:hideHeader="true"
			:centered="true"
		>
			<template slot="content">
				<fn-cg-files-component :comprobacion="comprobacion" />
			</template>
		</modal-component>

		<modal-component
			:id="'modal-autorizacion-comprobacion'"
			:title="'Autorización de comprobación'"
			:hideFooter="true"
			:hideHeader="true"
			:centered="true"
		>
			<template slot="content">
				<fn-gastos-solicitudes-form-autorizacion-comprobacion-component
					:idSolicitud="solicitudActiva.idSolicitud"
					:statusAutorizacion="statusAutorizacion"
				/>
			</template>
		</modal-component>

		<b-sidebar
			id="sidebar-comprobacion"
			shadow
			right
			no-header
			backdrop-variant="transparent"
			bg-variant="light"
			text-variant="dark"
			width="550px"
			:visible="showSidebar"
			@hidden="hiddenSidebar"
		>
			<template v-slot:default="{ hide }">
				<fn-gastos-solicitudes-content-sidebar-comprobaciones-component
					v-if="showSidebar"
					:comprobacion="comprobacion"
					@hide="hide($event)"
				/>
			</template>
		</b-sidebar>

		<!-- <modal-component
			:title="'Timbrar Solicitud'"
			:id="'modal-timbrar'"
			:hideFooter="true"
			:hideHeader="true"
			:centered="true"
			:sizeModal="'sm'"
		>
			<template slot="content">
				<fn-gastos-solicitudes-form-timbrar-component />
			</template>
			<span slot="buttons"></span>
		</modal-component> -->
	</b-container>
</template>

<script>
import { mapActions, mapMutations, mapState } from "vuex";

export default {
	data() {
		return {
			loading: false,
			showSidebar: false,
			comprobacion: null,
			comprobacionEdit: null,
			statusAutorizacion: "",
			sizeModalComprobacion: "md",
			tipoGasto: "Filtro",
			selectTipoGasto: ["Todos", "Deducibles", "No deducibles"],
		};
	},
	methods: {
		hasPermission(funcion) {
			if (this.permissions.length) {
				const permiso = this.permissions.find(
					(permiso) => permiso.idFuncion == funcion
				);
				if (permiso) return true;
				return false;
			}
		},
		autorizacion(status) {
			this.statusAutorizacion = status;
			this.$bvModal.show("modal-autorizacion-comprobacion");
		},
		async downloadSolicitud() {
			var dataReport = {
				idSolicitud: this.solicitudActiva.idSolicitud,
				resumen: this.resumenSolicitudActiva,
				comprobaciones: this.listComprobaciones,
				totalesCg: {
					totalSubtotal: this.totalSubtotal,
					totalIva: this.totalIva,
					totalOtros: this.totalOtros,
					totalImporte: this.totalImporte,
				},
			};
			try {
				this.loading = true;
				var response = await axios.post(
					BaseUrl + `/api/fn/cg/solicitud/reporte`,
					dataReport
				);
				if (response.data.success) {
					this.loading = false;
					this.downloadPDF();
					setTimeout(() => this.deletePDFserver(), 2000);
				}
			} catch (error) {
				this.loading = false;
				console.log("Error", error);
			}
		},
		downloadPDF() {
			window.location =
				BaseUrl +
				`/api/fn/cg/solicitud/reporte/${this.solicitudActiva.idSolicitud}/download`;
		},
		deletePDFserver() {
			try {
				axios.post(
					BaseUrl +
						`/api/fn/cg/solicitud/reporte/${this.solicitudActiva.idSolicitud}/delete`
				);
			} catch (error) {
				console.log("Error", error);
			}
		},
		dataEdit(data) {
			this.comprobacionEdit = data;
			this.$bvModal.show("modal-comprobacion");
		},
		setSizeModalComprobacion(size) {
			this.sizeModalComprobacion = size;
		},
		openModalFile(comprobacion) {
			this.comprobacion = comprobacion;
			this.$bvModal.show("modal-cg-files");
		},
		openSidebar(data) {
			this.showSidebar = data.sidebar;
			this.comprobacion = data.comprobacion;
		},
		hiddenSidebar() {
			this.showSidebar = false;
		},
		setTipoGasto(tipo) {
			this.tipoGasto = tipo;
		},
		setClasificacion(cuenta) {
			return Object.values(this.arrClasifGasto).find((item) =>
				item.cuentas.includes(cuenta)
			);
		},
	},
	computed: {
		...mapState(["permissions"]),
		...mapState("solicitudes_gastos", [
			"resumenSolicitudActiva",
			"busyComprobaciones",
			"listComprobaciones",
			"solicitudActiva",
			"arrClasifGasto",
		]),

		// ESTOS SON POR MIENTRASA QUE SE CORRIGE EL REPORTE
		totalSubtotal() {
			var suma = 0;
			for (var i = 0; i < this.listComprobaciones.length; i++) {
				let subtotal = Number(
					parseFloat(this.listComprobaciones[i].subtotal).toFixed(2)
				);
				suma += subtotal;
			}
			return parseFloat(suma).toFixed(2);
		},
		totalIva() {
			var suma = 0;
			for (var i = 0; i < this.listComprobaciones.length; i++) {
				let iva = Number(
					parseFloat(this.listComprobaciones[i].iva).toFixed(2)
				);
				suma += iva;
			}
			return parseFloat(suma).toFixed(2);
		},
		totalOtros() {
			var suma = 0;
			for (var i = 0; i < this.listComprobaciones.length; i++) {
				let otros = Number(
					parseFloat(this.listComprobaciones[i].otros).toFixed(2)
				);
				suma += otros;
			}
			return parseFloat(suma).toFixed(2);
		},
		totalImporte() {
			var suma = 0;
			for (var i = 0; i < this.listComprobaciones.length; i++) {
				let importe = Number(
					parseFloat(this.listComprobaciones[i].importe).toFixed(2)
				);
				suma += importe;
			}
			return parseFloat(suma).toFixed(2);
		},
		// AQUI TERMINA LOS POR MIENTRASA QUE SE CORRIGE EL REPORTE

		comprobacionesByClasificacion() {
			var arrData = [
				{ gasto: null, comprobaciones: [] },
				{ gasto: null, comprobaciones: [] },
				{ gasto: null, comprobaciones: [] },
				{ gasto: null, comprobaciones: [] },
				{ gasto: null, comprobaciones: [] },
				{ gasto: null, comprobaciones: [] },
			];
			if (this.arrClasifGasto && this.filteredComprobaciones.length) {
				const clasificaciones = [
					"Alimentación",
					"Hospedaje",
					"Transportes",
					"Combustibles",
					"Peajes",
				];
				this.filteredComprobaciones.filter((comprobacion) => {
					let cuenta = comprobacion.noCuenta.substr(-4);
					var clasificacion = this.setClasificacion(cuenta);
					if (clasificacion) {
						let index = clasificaciones.indexOf(
							clasificacion.clasificacion
						);
						arrData[index].comprobaciones.push(comprobacion);
						arrData[index].gasto = clasificacion;
					} else {
						arrData[5].comprobaciones.push(comprobacion);
						arrData[5].gasto = {
							clasificacion: "Otros",
							descripcion: "OTROS GASTOS",
						};
					}
				});
			}
			return arrData;
		},
		filteredComprobaciones() {
			if (this.listComprobaciones.length) {
				if (this.tipoGasto == "Deducibles") {
					return this.listComprobaciones.filter(
						(comprobacion) =>
							comprobacion.tipoComprobante == "Factura"
					);
				} else if (this.tipoGasto == "No deducibles") {
					return this.listComprobaciones.filter(
						(comprobacion) =>
							comprobacion.tipoComprobante != "Factura"
					);
				} else {
					return this.listComprobaciones;
				}
			} else return [];
		},
	},
	watch: {},
};
</script>

<style>
#style1.vue-numeric-input.updown {
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
}
#style1.vue-numeric-input.updown .numeric-input {
	padding-right: 5px !important;
	padding-left: 5px !important;
}
#style1.vue-numeric-input.updown .btn {
	background: #6fbbff !important;
}
#style1.vue-numeric-input.updown .btn-increment {
	height: 1.5rem;
	width: 100%;
	right: 0 !important;
	left: 0 !important;
	top: 0 !important;
	bottom: auto !important;
}
#style1.vue-numeric-input.updown .btn-decrement {
	height: 1.5rem;
	width: 100%;
	left: 0 !important;
	right: 0 !important;
	top: auto !important;
	bottom: 0 !important;
}
</style>
