<template>
	<b-container class="px-0" fluid>
		<b-container class="border-bottom mb-4" fluid>
			<b-row class="bg-white">
				<b-col class="text-left pl-0">
					<h1 class="m-3 mb-0" style="font-size: 23px;">
						Comprobación
					</h1>
				</b-col>
				<b-col class="text-right pr-0">
					<b-button
						variant="link"
						size="sm"
						class="text-secondary mt-3 mr-2"
						@click="$emit('hide', false)"
					>
						<b-icon icon="x" font-scale="1.5"></b-icon>
					</b-button>
				</b-col>
			</b-row>
		</b-container>
		
		<b-container fluid>
			<b-nav class="nav-border-options">
				<b-nav-item
					@click="setOpcionesComprobacion('Detalles')"
					class="button-detalles-comprobacion pr-2"
					:class="
						active == 'Detalles'
							? 'nav-item-border-active'
							: 'nav-item-border'
					"
				>
					<h4
						class="text-dark px-2"
						style="cursor: pointer; font-size: 18px"
					>
						Detalles
					</h4>
				</b-nav-item>

				<b-nav-item
					@click="setOpcionesComprobacion('Comprobantes')"
					class="button-detalles-comprobacion"
					:class="
						active == 'Comprobantes'
							? 'nav-item-border-active'
							: 'nav-item-border'
					"
				>
					<h4
						class="text-dark px-2"
						style="cursor: pointer; font-size: 18px"
					>
						Comprobantes
						<b-badge
							v-if="alertaArchivos.show"
							variant="warning"
							class="fs-12 ml-2"
							>{{ alertaArchivos.title }}</b-badge
						>
					</h4>
				</b-nav-item>
			</b-nav>
		</b-container>
			
		<b-container v-if="active == 'Detalles'" class="mt-4" fluid>
			<b-card class="shadow-sm mb-3" style="border-radius: 0rem;">
				<b-container fluid>
					<b-row>
						<b-col class="px-1" lg="4">
							<div class="pb-3" style="min-height: 60px;">
								<h1 class="display-1 text-dark fs-12">
									<strong
										><label class="fs-13"
											>Tipo de comprobante</label
										></strong
									><br />
									{{ comprobacion.tipoComprobante }}
								</h1>
							</div>
						</b-col>
						<b-col class="px-1" lg="4">
							<div class="pb-3" style="min-height: 60px;">
								<h1 class="display-1 text-dark fs-12">
									<strong
										><label class="fs-13"
											>Fecha de comprobante</label
										></strong
									><br />
									{{ comprobacion.fechaGasto }}
								</h1>
							</div>
						</b-col>
						<b-col class="px-1" lg="4">
							<div class="pb-3" style="min-height: 60px;">
								<h1 class="display-1 text-dark fs-12">
									<strong
										><label class="fs-13"
											>Folio de comprobante</label
										></strong
									><br />
									{{ comprobacion.folioComprobante }}
								</h1>
							</div>
						</b-col>
					</b-row>

					<b-row>
						<b-col class="px-1" lg="4">
							<div class="pb-3" style="min-height: 60px;">
								<h1 class="display-1 text-dark fs-12">
									<strong
										><label class="fs-13"
											>Proveedor</label
										></strong
									><br />
									{{ comprobacion.proveedor }}
								</h1>
							</div>
						</b-col>
						<b-col class="px-1" lg="4">
							<div class="pb-3" style="min-height: 60px;">
								<h1 class="display-1 text-dark fs-12">
									<strong
										><label class="fs-13"
											>Forma de pago</label
										></strong
									><br />
									{{ comprobacion.tipoGasto }}
								</h1>
							</div>
						</b-col>
						<b-col class="px-1" lg="4">
							<div class="pb-3" style="min-height: 60px;">
								<h1 class="display-1 text-dark fs-12">
									<strong
										><label class="fs-13"
											>Tipo moneda</label
										></strong
									><br />
									{{ tipoMoneda }}
								</h1>
							</div>
						</b-col>
					</b-row>

					<b-row>
						<b-col class="px-1" lg="4">
							<div style="min-height: 60px;">
								<h1 class="display-1 text-dark fs-12">
									<strong
										><label class="fs-13">Cuenta</label></strong
									><br />
									{{ comprobacion.cuenta }}
								</h1>
							</div>
						</b-col>
						<b-col class="px-1" lg="4">
							<div style="min-height: 60px;">
								<h1 class="display-1 text-dark fs-12">
									<strong
										><label class="fs-13"
											>Descripción</label
										></strong
									><br />
									{{ comprobacion.descripcion }}
								</h1>
							</div>
						</b-col>
					</b-row>
				</b-container>
			</b-card>

			<b-list-group class="bg-white shadow-sm" style="border-radius: 0rem;">
				<b-list-group-item>
					<b-row class="fs-12">
						<b-col lg="7">
							<div class="lab-form float-right">
								<h1 class="display-1 text-dark mb-0 fs-12">
									<strong
										><label class="mb-0"
											>SubTotal (<strong>{{
												solicitudActiva.tipoMoneda
											}}</strong
											>):</label
										></strong
									>
								</h1>
							</div>
						</b-col>
						<b-col lg="5" class="text-right align-middle">
							<div
								class="d-flex w-100 justify-content-between"
							>
								<b-badge variant="light" class="fs-12" pill
									><i class="fas fa-dollar-sign"></i
								></b-badge>
								<vue-numeric
									separator=","
									:precision="2"
									:read-only="true"
									:value="comprobacion.subtotal"
									class="mr-2"
								/>
							</div>
						</b-col>
					</b-row>
				</b-list-group-item>
				<b-list-group-item>
					<b-row class="fs-12">
						<b-col lg="7">
							<div class="lab-form float-right">
								<h1 class="display-1 text-dark mb-0 fs-12">
									<strong
										><label class="mb-0"
											>IVA:</label
										></strong
									>
								</h1>
							</div>
						</b-col>
						<b-col lg="5" class="text-right align-middle">
							<div
								class="d-flex w-100 justify-content-between"
							>
								<b-badge variant="light" class="fs-12" pill
									><i class="fas fa-dollar-sign"></i
								></b-badge>
								<vue-numeric
									separator=","
									:precision="2"
									:read-only="true"
									:value="comprobacion.iva"
									class="mr-2"
								/>
							</div>
						</b-col>
					</b-row>
				</b-list-group-item>

				<b-list-group-item>
					<b-row class="fs-12">
						<b-col lg="7">
							<div class="lab-form float-right">
								<h1 class="display-1 text-dark mb-0 fs-12">
									<strong
										><label class="mb-0"
											>Otros:</label
										></strong
									>
								</h1>
							</div>
						</b-col>
						<b-col lg="5" class="text-right align-middle">
							<div
								class="d-flex w-100 justify-content-between"
							>
								<b-badge variant="light" class="fs-12" pill
									><i class="fas fa-dollar-sign"></i
								></b-badge>
								<vue-numeric
									separator=","
									:precision="2"
									:read-only="true"
									:value="comprobacion.otros"
									class="mr-2"
								/>
							</div>
						</b-col>
					</b-row>
				</b-list-group-item>

				<b-list-group-item>
					<b-row class="fs-12">
						<b-col lg="7">
							<!-- <i
								class="fas fa-long-arrow-alt-right text-success text-left fs-15 mt-1"
							></i> -->
							<div class="lab-form float-right">
								<h1 class="display-1 text-dark mb-0 fs-12">
									<strong
										><label class="mb-0"
											>Total (<strong>{{
												solicitudActiva.tipoMoneda
											}}</strong
											>):</label
										></strong
									>
								</h1>
							</div>
						</b-col>
						<b-col lg="5" class="text-right align-middle">
							<div
								class="d-flex w-100 justify-content-between"
							>
								<b-badge
									variant="success"
									class="fs-12"
									pill
									><i class="fas fa-dollar-sign"></i
								></b-badge>
								<vue-numeric
									separator=","
									:precision="2"
									:read-only="true"
									:value="comprobacion.importe"
									class="mr-2"
								/>
							</div>
						</b-col>
					</b-row>
				</b-list-group-item>
			</b-list-group>
		</b-container>

		<b-container v-if="active == 'Comprobantes'" class="mt-4">
			<b-card class="shadow-sm mb-3" style="border-radius: 0rem;">
				<fn-cg-files-component :comprobacion="comprobacion" />
			</b-card>
		</b-container>
	</b-container>
</template>

<script>
import { mapState, mapActions, mapMutations } from "vuex";

export default {
	props: {
		comprobacion: Object,
	},
	data() {
		return {
			active: "Detalles",
		};
	},
	mounted() {},
	methods: {
		setOpcionesComprobacion(opcion) {
			this.active = opcion;
		},
		hasPermission(funcion) {
			if (this.permissions.length) {
				const permiso = this.permissions.find(
					(permiso) => permiso.idFuncion == funcion
				);
				if (permiso) return true;
				return false;
			}
		},
	},
	computed: {
		...mapState(["permissions"]),
		...mapState("solicitudes_gastos", ["solicitudActiva"]),

		tipoMoneda() {
			if (this.solicitudActiva.tipoMoneda) {
				if (this.solicitudActiva.tipoMoneda == "MXN") {
					return "MXN - Peso mexicano";
				} else if (this.solicitudActiva.tipoMoneda == "USD") {
					return "USD - Dólar estadounidense";
				}
			} else {
				return "Sin definir";
			}
		},
		alertaArchivos() {
			if (this.comprobacion.tipoComprobante == "Factura") {
				if (
					this.comprobacion.file == "S/A" ||
					this.comprobacion.fileXML == "S/A"
				) {
					return {
						title: "Faltan archivos",
						show: true,
					};
				} else {
					return {
						title: "",
						show: false,
					};
				}
			} else {
				if (this.comprobacion.file == "S/A") {
					return {
						title: "Sin archivos",
						show: true,
					};
				} else {
					return {
						title: "",
						show: false,
					};
				}
			}
		},
	},
};
</script>

<style scoped>
.nav-border-options {
	border-bottom: 0.1rem solid #ddd;
}
.nav-item-border-active {
	border-bottom: 0.2rem solid rgb(193, 55, 37);
}
.nav-item-border {
	border-bottom: 0rem;
}
.alert-success {
	color: #058d24;
	background-color: #f1fff4;
	border-color: #f1fff4;
}
.alert-danger {
	color: #87020e;
	background-color: #fff0f1;
	border-color: #fff0f1;
}
</style>
