<template>
	<b-container class="p-0" fluid>
		<b-card id="card-cg" class="shadow-sm mt-2" header-tag="header" no-body>
			<template #header>
				<b-row>
					<b-col lg="7">
						<h6 class="mb-0 py-1 fs-15">
							<i class="fas fa-coins mr-2"></i>
							Decrementos
						</h6>

						<b-breadcrumb
							id="breadcrumb-dispersion"
							class="bg-white mb-0 py-1 px-0"
						>
							<b-breadcrumb-item
								:active="
									optionActive == 'historial' ? true : false
								"
								@click="optionActive = 'historial'"
								style="width: 53px;"
							>
								<h6 class="fs-12 mb-0 mt-1 text-muted">
									Historial
								</h6></b-breadcrumb-item
							>
							<b-breadcrumb-item
								:active="
									optionActive == 'resumen' ? true : false
								"
								@click="optionActive = 'resumen'"
								style="width: 77px;"
								><h6 class="fs-12 mb-0 mt-1 text-muted">
									Resumen
								</h6></b-breadcrumb-item
							>
							<b-breadcrumb-item
								:active="
									optionActive == 'comprobantes'
										? true
										: false
								"
								@click="optionActive = 'comprobantes'"
								style="width: 113px;"
								><h6 class="fs-12 mb-0 mt-1 text-muted">
									Comprobantes
								</h6></b-breadcrumb-item
							>
						</b-breadcrumb>
					</b-col>

					<b-col
						lg="5"
						class="text-right"
						style="align-content: center;"
					>
						<b-dropdown
							v-if="
								hasPermission('fn.cg.solicitudes.decrementar')
							"
							id="drop-comprobacion"
							right
							variant="white"
							size="sm"
							class="py-0 fs-12 border"
							no-caret
						>
							<template v-slot:button-content>
								<i class="fas fa-ellipsis-h px-1 py-1"></i>
							</template>

							<b-dropdown-item
								class="fs-12"
								@click="openModal('modal-comprobantes')"
							>
								<b-icon
									icon="file-arrow-up"
									class="mr-2"
								></b-icon>
								Agregar comprobante
							</b-dropdown-item>
						</b-dropdown>
					</b-col>
				</b-row>
			</template>

			<b-container
				v-if="optionActive != 'comprobantes'"
				class="mt-3"
				fluid
			>
				<b-button
					v-if="
						solicitudActiva.idEtapa == 7 &&
							hasPermission('fn.cg.solicitudes.decrementar') &&
							totalDecrementar > 0
					"
					class="shadows px-3 py-2 mb-2"
					variant="success"
					size="sm"
					@click="openModal('modal-decremento')"
				>
					<h6 class="mb-0 fs-12">
						Decrementar
					</h6>
				</b-button>
			</b-container>

			<b-card-body class="py-2" v-if="optionActive == 'historial'">
				<b-container class="px-0" fluid>
					<b-skeleton-table
						v-if="busyMovimientos"
						:small="true"
						:rows="2"
						:columns="4"
						:table-props="{
							bordered: true,
							striped: true,
						}"
					></b-skeleton-table>

					<b-table-simple
						v-else
						id="table-decremento"
						bordered
						hover
						caption-top
						responsive
						class="fs-12"
						:class="{
							'td-decremento': solicitudActiva.idEtapa != 7,
							'td-decremento-activo':
								solicitudActiva.idEtapa == 7,
						}"
						style="border-top: 0.1rem solid #dee2e6; width: 100%;"
					>
						<b-thead class="bg-light">
							<b-tr>
								<b-th style="width: 10%;" class="text-center"
									>Item</b-th
								>
								<b-th style="width: 30%;" class="text-left"
									>Medio de decremento</b-th
								>
								<b-th style="width: 25%;" class="text-right"
									>Importe</b-th
								>
								<b-th style="width: 25%;" class="text-center"
									>Fecha</b-th
								>
								<b-th
									style="width: 10%;"
									class="text-center"
									v-if="solicitudActiva.idEtapa == 7"
									>Acción</b-th
								>
							</b-tr>
						</b-thead>
						<b-tbody>
							<b-tr v-show="!movimientosDecrementados.length">
								<td colspan="6">
									<h5
										class="text-center my-3"
										style="font-size: 13px;"
									>
										No hay resultados
									</h5>
								</td>
							</b-tr>
							<b-tr
								class="text-right"
								v-for="(movimiento,
								index) in movimientosDecrementados"
								:key="index"
							>
								<b-th class="text-center align-middle">{{
									index + 1
								}}</b-th>
								<b-td class="text-left align-middle">{{
									movimiento.formaPago
								}}</b-td>
								<b-td class="align-middle">
									<div
										class="d-flex w-100 justify-content-between"
									>
										<label class="mb-0">$</label>
										<vue-numeric
											separator=","
											:precision="2"
											:read-only="true"
											:value="movimiento.importe"
										/>
									</div>
								</b-td>
								<b-td class="text-center align-middle">
									{{
										this.moment(movimiento.fecha).format(
											"DD/MM/YYYY"
										)
									}}
								</b-td>
								<b-td
									class="text-center align-middle"
									v-if="solicitudActiva.idEtapa == 7"
								>
									<b-dropdown
										id="drop-comprobacion"
										right
										variant="light"
										size="sm"
										class="py-0 fs-12"
										no-caret
									>
										<template v-slot:button-content>
											<i
												class="fas fa-ellipsis-v px-2"
											></i>
										</template>
										<b-dropdown-item
											v-b-modal.modal-decremento
											@click="setDataEdit(movimiento)"
											class="fs-12"
										>
											<i
												class="fas fa-edit text-secondary pr-2"
											></i>
											Editar
										</b-dropdown-item>
										<slot
											name="dropdown-more-actions"
										></slot>
										<b-dropdown-item
											@click="
												showMsgBoxDeleteConfirm(
													movimiento.idMovimiento
												)
											"
											class="fs-12"
										>
											<i
												class="fas fa-trash text-secondary pr-2"
											></i>
											Eliminar
										</b-dropdown-item>
									</b-dropdown>
								</b-td>
							</b-tr>
						</b-tbody>
						<b-tfoot>
							<b-tr class="text-right bg-light">
								<b-th class="text-right" colspan="2">
									<p class="mb-0 fs-13">
										<span class="fw-500">Total</span>
										<span class="fw-500" v-if="limiteCambio"
											>(
											{{ solicitudActiva.tipoMoneda }}
											)</span
										>
									</p>
								</b-th>
								<b-th>
									<div
										class="d-flex w-100 justify-content-between"
									>
										<label class="mb-0">$</label>
										<vue-numeric
											separator=","
											:precision="2"
											:read-only="true"
											:value="totalDecrementado"
										/>
									</div>
								</b-th>
							</b-tr>
						</b-tfoot>
					</b-table-simple>
				</b-container>
			</b-card-body>

			<b-card-body class="py-2" v-if="optionActive == 'resumen'">
				<b-skeleton-table
					v-if="busyResumen"
					:small="true"
					:rows="2"
					:columns="4"
					:table-props="{
						bordered: true,
						striped: true,
					}"
				></b-skeleton-table>

				<b-table-simple
					v-else
					id="table-decremento"
					bordered
					hover
					small
					caption-top
					responsive
					class="td-decremento fs-12"
					style="border-top: 0.1rem solid #dee2e6;"
				>
					<b-thead class="bg-light text-center">
						<b-tr>
							<b-th
								style="width: 30%;"
								class="text-left align-middle"
								>Medio de decremento</b-th
							>
							<b-th
								style="width: 17.5%;"
								class="text-center align-middle"
								>Dispersado</b-th
							>
							<b-th
								style="width: 17.5%;"
								class="text-center align-middle"
								>Comprobado</b-th
							>
							<b-th
								style="width: 17.5%;"
								class="bg-th-decrementar text-center align-middle"
							>
								Decrementar
							</b-th>
							<b-th
								style="width: 17.5%;"
								class="text-center align-middle"
								>Decrementado</b-th
							>
						</b-tr>
					</b-thead>
					<b-tbody>
						<b-tr v-show="!resumen.length">
							<td colspan="4">
								<h5
									class="text-center my-3"
									style="font-size: 13px;"
								>
									No hay resultados
								</h5>
							</td>
						</b-tr>
						<b-tr
							class="text-right"
							v-for="(importe, index) in resumen"
							:key="index"
						>
							<b-th class="text-left align-middle">{{
								importe.formaPago
							}}</b-th>
							<b-td class="align-middle">
								<div
									class="d-flex w-100 justify-content-between"
								>
									<label class="mb-0">$</label>
									<vue-numeric
										separator=","
										:precision="2"
										:read-only="true"
										:value="importe.dispersado"
									/>
								</div>
							</b-td>
							<b-td class="align-middle">
								<div
									class="d-flex w-100 justify-content-between"
								>
									<label class="mb-0">$</label>
									<vue-numeric
										separator=","
										:precision="2"
										:read-only="true"
										:value="importe.comprobado"
									/>
								</div>
							</b-td>
							<td
								class="text-warning-2"
								style="background-color: rgb(251 251 251);"
							>
								<div
									class="d-flex w-100 justify-content-between"
								>
									<label class="mb-0 ml-1">$</label>
									<vue-numeric
										separator=","
										:precision="2"
										:read-only="true"
										:value="importe.decrementar"
									/>
								</div>
							</td>
							<b-td class="align-middle">
								<div
									class="d-flex w-100 justify-content-between"
								>
									<label class="mb-0">$</label>
									<vue-numeric
										separator=","
										:precision="2"
										:read-only="true"
										:value="importe.decrementado"
									/>
								</div>
							</b-td>
						</b-tr>
					</b-tbody>
					<b-tfoot>
						<b-tr class="text-right bg-light">
							<b-th class="text-right">
								<p class="mb-0 fs-13">
									<span class="fw-500">Total</span>
									<span class="fw-500" v-if="limiteCambio"
										>(
										{{ solicitudActiva.tipoMoneda }}
										)</span
									>
								</p>
							</b-th>
							<b-th>
								<div
									class="d-flex w-100 justify-content-between"
								>
									<label class="mb-0">$</label>
									<vue-numeric
										separator=","
										:precision="2"
										:read-only="true"
										:value="totalDispersado"
									/>
								</div>
							</b-th>
							<b-th>
								<div
									class="d-flex w-100 justify-content-between"
								>
									<label class="mb-0">$</label>
									<vue-numeric
										separator=","
										:precision="2"
										:read-only="true"
										:value="totalComprobado"
									/>
								</div>
							</b-th>
							<b-th>
								<div
									class="d-flex w-100 justify-content-between"
								>
									<label class="mb-0">$</label>
									<vue-numeric
										separator=","
										:precision="2"
										:read-only="true"
										:value="totalDecrementar"
									/>
								</div>
							</b-th>
							<b-th>
								<div
									class="d-flex w-100 justify-content-between"
								>
									<label class="mb-0">$</label>
									<vue-numeric
										separator=","
										:precision="2"
										:read-only="true"
										:value="totalDecrementado"
									/>
								</div>
							</b-th>
						</b-tr>
					</b-tfoot>
				</b-table-simple>
			</b-card-body>

			<b-card-body v-if="optionActive == 'comprobantes'">
				<fn-gastos-solicitudes-timeline-archivos-component
					:tipo="'Decremento'"
				/>
			</b-card-body>
		</b-card>

		<modal-component
			:id="'modal-decremento'"
			:title="'Nuevo decremento'"
			:hideFooter="true"
			:hideHeader="true"
			:centered="false"
		>
			<template slot="content">
				<fn-gastos-solicitudes-form-decremento-component
					:movimiento="movimiento"
				/>
			</template>
		</modal-component>
	</b-container>
</template>

<script>
import { mapActions, mapMutations, mapState } from "vuex";
export default {
	data() {
		return {
			optionActive: "historial",
			submitSuccess: false,
			movimiento: null,
			desdeCorreo: false,
			terminado: false,
			form: {
				idSolicitud: null,
				notificar: false,
			},
		};
	},
	mounted() {
		if (this.$route.params.idSolicitud) {
			this.desdeCorreo = true;
			this.form.idSolicitud = this.$route.params.idSolicitud;
			this.getMovimientosBySolicitud(this.form.idSolicitud);
		} else {
			this.form.idSolicitud = this.idSolicitud;
		}
	},
	methods: {
		...mapActions("solicitudes_gastos", [
			"getResumenSolicitudActiva",
			"getMovimientosBySolicitud",
		]),
		...mapMutations("solicitudes_gastos", [
			"updateSolicitudActiva",
			"updateSolicitud",
		]),

		openModal(modal) {
			this.movimiento = null;
			this.$bvModal.show(modal);
		},
		setDataEdit(movimiento) {
			this.movimiento = movimiento;
		},
		async submit() {
			this.overlay = true;
			try {
			} catch (error) {
				console.log(error);
				this.submitSuccess = false;
				this.terminado = true;
				this.overlay = false;
			}
		},
		async borrarImporte(id) {
			try {
				const response = await axios.delete(
					BaseUrl + `/api/fn/cg/movimientos/${id}`
				);
				if (response.data.success) {
					this.getResumenSolicitudActiva(
						this.solicitudActiva.idSolicitud
					);
					this.getMovimientosBySolicitud(
						this.solicitudActiva.idSolicitud
					);
				}
			} catch (e) {
				console.log(e);
			}
		},
		showMsgBoxDeleteConfirm(id) {
			this.$bvModal
				.msgBoxConfirm(
					`¿Confirmas que quieres eliminar este decremento?`,
					{
						title: "Eliminar decremento",
						size: "sm",
						buttonSize: "sm",
						okVariant: "danger",
						cancelVariant: "light",
						okTitle: "CONFIRMAR",
						cancelTitle: "CANCELAR",
						headerClass: "pt-3 pb-2 border-bottom-0",
						footerClass: "p-2 border-top-0",
						centered: true,
					}
				)
				.then((confirm) => {
					if (confirm) {
						this.borrarImporte(id);
					}
				});
		},
		verificarComisionRetiro(formaPago) {
			if (this.listDisposiciones.length) {
				return this.listDisposiciones
					.filter((disposicion) => disposicion.formaPago == formaPago)
					.reduce(
						(suma, item) =>
							suma + parseFloat(Number(item.comision)),
						0
					);
			} else return 0;
		},
		hasPermission(funcion) {
			if (this.permissions.length) {
				const permiso = this.permissions.find(
					(permiso) => permiso.idFuncion == funcion
				);
				if (permiso) return true;
				return false;
			}
		},
	},
	computed: {
		...mapState(["usuario", "permissions"]),
		...mapState("solicitudes_gastos", [
			"resumenSolicitudActiva",
			"busyMovimientos",
			"solicitudActiva",
			"limiteCambio",
			"movimientos",
			"busyResumen",
			"formasPago",
		]),
		...mapState("fn_cg_disposicion_efectivo", [
			"listDisposiciones",
			"busyDisposiciones",
		]),

		mediosDecremento() {
			if (this.limiteCambio) {
				return this.formasPago;
			} else {
				var data = [{ value: "Banbajio", text: "Banbajio" }];
				data = data.concat(this.formasPago);
				return data;
			}
		},
		totalDispersado() {
			let suma = 0;
			if (this.resumen) {
				for (var i = 0; i < this.resumen.length; i++) {
					let importe = Number(
						parseFloat(this.resumen[i].dispersado).toFixed(2)
					);
					suma += importe;
				}
			}
			return parseFloat(suma).toFixed(2);
		},
		totalComprobado() {
			let suma = 0;
			if (this.resumen.length) {
				for (var i = 0; i < this.resumen.length; i++) {
					let importe = Number(
						parseFloat(this.resumen[i].comprobado).toFixed(2)
					);
					suma += importe;
				}
			}
			return parseFloat(suma).toFixed(2);
		},
		totalDecrementado() {
			let suma = 0;
			if (this.movimientosDecrementados.length) {
				for (var i = 0; i < this.movimientosDecrementados.length; i++) {
					let importe = Number(
						parseFloat(
							this.movimientosDecrementados[i].importe
						).toFixed(2)
					);
					suma += importe;
				}
			}
			return parseFloat(suma).toFixed(2);
		},
		totalDecrementar() {
			if (this.resumen) {
				var decrementar = this.resumen.reduce(
					(suma, importe) =>
						suma + parseFloat(Number(importe.decrementar)),
					0
				);
				return parseFloat(decrementar).toFixed(2);
			} else return 0.0;
		},
		idSolicitud() {
			if (this.solicitudActiva) {
				this.form.idSolicitud = this.solicitudActiva.idSolicitud;
				return this.solicitudActiva.idSolicitud;
			}
		},
		movimientosDecrementados() {
			if (this.movimientos.length) {
				return this.movimientos.filter(
					(movimiento) => movimiento.accion == "decremento"
				);
			} else return [];
		},
		resumen() {
			if (this.resumenSolicitudActiva.length) {
				var data = [];
				this.mediosDecremento.forEach((item) => {
					var response = this.resumenSolicitudActiva.filter(
						(resumen) => resumen.formaPago == item.value
					);
					var importeDispersado = response.reduce(
						(suma, resumen) =>
							suma + parseFloat(Number(resumen.dispersado)),
						0
					);
					var importeComprobado = response.reduce(
						(suma, resumen) =>
							suma + parseFloat(Number(resumen.comprobado)),
						0
					);
					var importeDecrementado = response.reduce(
						(suma, resumen) =>
							suma + parseFloat(Number(resumen.decrementado)),
						0
					);

					if (
						importeDispersado > 0 ||
						importeComprobado > 0 ||
						importeDecrementado > 0
					) {
						if (
							item.value == "Tarjeta Banbajio" ||
							item.value == "Tarjeta Personal"
						) {
							var comision = this.verificarComisionRetiro(
								item.value
							);
							importeComprobado += comision;
						}

						if (importeComprobado > importeDispersado) {
							var decrementar = 0;
						} else {
							var decrementar =
								importeDispersado - importeComprobado;
						}

						data.push({
							formaPago: item.value,
							dispersado: importeDispersado,
							comprobado: importeComprobado,
							decrementar: decrementar,
							decrementado: importeDecrementado,
						});
					}
				}, this);
				return data;
			} else return [];
		},
	},
	watch: {},
};
</script>

<style scoped>
#breadcrumb-dispersion .breadcrumb-item.active h6 {
	color: #495057 !important;
	font-weight: 500;
	font-size: 13px;
}
#breadcrumb-dispersion .breadcrumb-item.active {
	background-color: transparent !important;
}
.card-header {
	padding-block: 5px;
}
#table-decremento th {
	padding: 0.4rem !important;
	vertical-align: middle !important;
}
.td-decremento td {
	padding: 0.4rem !important;
	vertical-align: middle !important;
}
.td-decremento-activo td {
	padding: 0.2rem !important;
	vertical-align: middle !important;
}
</style>

<style>
.bg-th-decrementar {
	background-color: #3aae54 !important;
	color: white;
}
.text-warning-2 {
	color: #de8902 !important;
}
fieldset.scheduler-border {
	border: 1px solid #dee2e6 !important;
	padding: 0 1.4em 0.5em 1.4em !important;
	margin: 0 0 1.5em 0 !important;
	-webkit-box-shadow: 0px 0px 0px 0px #000;
	box-shadow: 0px 0px 0px 0px #000;
}
legend.scheduler-border {
	width: inherit; /* Or auto */
	padding: 0 10px; /* To give a bit of padding on the left and right */
	border-bottom: none;
}
</style>
