<template>
	<b-container class="p-0" fluid>
		<b-card id="card-cg" class="shadow-sm mt-2" header-tag="header" no-body>
			<template #header>
				<b-row>
					<b-col lg="7">
						<h6 class="mb-0 py-1 fs-15">
							<i class="fas fa-coins mr-2"></i>
							Dispersión
						</h6>

						<b-breadcrumb
							id="breadcrumb-dispersion"
							class="bg-white mb-0 py-1 px-0"
						>
							<b-breadcrumb-item
								:active="
									optionActive == 'historial' ? true : false
								"
								@click="optionActive = 'historial'"
								style="width: 53px;"
							>
								<h6 class="fs-12 mb-0 mt-1 text-muted">
									Historial
								</h6></b-breadcrumb-item
							>
							<b-breadcrumb-item
								:active="
									optionActive == 'resumen' ? true : false
								"
								@click="optionActive = 'resumen'"
								style="width: 77px;"
								><h6 class="fs-12 mb-0 mt-1 text-muted">
									Resumen
								</h6></b-breadcrumb-item
							>
							<b-breadcrumb-item
								:active="
									optionActive == 'comprobantes'
										? true
										: false
								"
								@click="optionActive = 'comprobantes'"
								style="width: 113px;"
								><h6 class="fs-12 mb-0 mt-1 text-muted">
									Comprobantes
								</h6></b-breadcrumb-item
							>
						</b-breadcrumb>
					</b-col>

					<b-col
						lg="5"
						class="text-right"
						style="align-content: center;"
					>
						<b-dropdown
							v-if="hasPermission('fn.cg.solicitudes.dispersar')"
							id="drop-dispersiones"
							right
							variant="white"
							size="sm"
							class="py-0 fs-12 border"
							no-caret
							:disabled="disabledDropDispersiones"
						>
							<template v-slot:button-content>
								<i class="fas fa-ellipsis-h px-1 py-1"></i>
							</template>
							<b-dropdown-item
								@click="openModal('modal-periodo-dispersion')"
								class="fs-12"
							>
								<b-icon
									icon="calendar-minus"
									class="mr-2"
								></b-icon>

								<font v-if="!periodoDispersion">
									Asignar periodo de dispersión
								</font>

								<font v-else>
									Editar periodo de dispersión
								</font>
							</b-dropdown-item>

							<b-dropdown-item
								class="fs-12"
								@click="openModal('modal-comprobantes')"
							>
								<b-icon
									icon="file-arrow-up"
									class="mr-2"
								></b-icon>
								Agregar comprobante
							</b-dropdown-item>
						</b-dropdown>
					</b-col>
				</b-row>
			</template>

			<div
				v-if="terminado && form.idSolicitud"
				class="container-fluid px-0"
			>
				<b-alert
					v-if="submitSuccess"
					variant="success"
					class="p-2 fs-11 text-center mb-0"
					show
					style="border-radius: 0rem; border: none; border-bottom: 0.1rem solid #28a745;"
				>
					<p class="mb-0">
						<span
							><i class="far fa-check-circle pr-2 py-1"></i
						></span>
						Se ha guardado correctamente los cambios.
					</p>

					<template v-if="form.notificar == true">
						<hr class="my-2" />
						<p class="mb-0">
							Hemos mandado un correo para notificar al usuario de
							su dispersión.
						</p>
					</template>
				</b-alert>

				<!-- <b-alert
					else
					variant="danger"
					class="p-2 fs-11 text-center mb-0"
					show
					style="border-radius: 0rem; border: none; border-bottom: 0.2rem solid #c40013;"
				>
					<p class="mb-0">
						<span
							><i class="fas fa-exclamation-triangle mr-2"></i
						></span>
						Ha ocurrido un problema al guardar los datos.
					</p>
				</b-alert> -->
			</div>

			<b-container
				v-if="optionActive != 'comprobantes'"
				class="mt-3"
				fluid
			>
				<b-row>
					<b-col v-if="solicitudActiva.idEtapa == 3">
						<b-button
							v-if="permissionDispersar"
							class="shadows px-3 py-2"
							variant="success"
							size="sm"
							@click="openModal('modal-dispersion')"
							:disabled="loadingTerminar"
						>
							<h6 class="mb-0 fs-12">
								Dispersar
							</h6>
						</b-button>
					</b-col>
					<b-col class="text-right" style="align-content: center;">
						<h6
							v-if="periodoDispersion"
							class="text-dark fs-12"
							:class="
								solicitudActiva.idEtapa == 3 ? 'mb-0' : 'mb-2'
							"
						>
							<span class="mr-2">Uso de dispersión:</span>
							{{
								this.formatoFechaPeriodoDispersion(
									solicitudActiva.periodoInicioDispersion
								)
							}}
							<span class="px-1">al</span>
							{{
								this.formatoFechaPeriodoDispersion(
									solicitudActiva.periodoFinDispersion
								)
							}}
						</h6>
					</b-col>
				</b-row>
			</b-container>

			<b-card-body class="py-2" v-if="optionActive == 'historial'">
				<b-container
					class="px-0"
					fluid
					:class="containerClass"
					v-if="solicitudActiva"
				>
					<b-skeleton-table
						v-if="busyMovimientos"
						:small="true"
						:rows="2"
						:columns="4"
						:table-props="{
							bordered: true,
							striped: true,
						}"
					></b-skeleton-table>

					<template v-else>
						<b-table-simple
							id="table-dispersion"
							bordered
							hover
							small
							caption-top
							responsive
							class="fs-12"
							:class="{
								'td-dispersion': solicitudActiva.idEtapa != 3,
								'td-dispersion-activo':
									solicitudActiva.idEtapa == 3,
							}"
							style="border-top: 0.1rem solid #dee2e6; width: 100%;"
						>
							<b-thead class="bg-light">
								<b-tr>
									<b-th
										style="width: 10%;"
										class="text-center"
										>Item</b-th
									>
									<b-th style="width: 30%;" class="text-left"
										>Medio de dispersión</b-th
									>
									<b-th style="width: 25%;" class="text-right"
										>Importe</b-th
									>
									<b-th
										style="width: 25%;"
										class="text-center"
										>Fecha</b-th
									>
									<b-th
										style="width: 10%;"
										class="text-center"
										v-if="solicitudActiva.idEtapa == 3"
										>Acción</b-th
									>
								</b-tr>
							</b-thead>
							<b-tbody>
								<b-tr v-show="!movimientosDispersados.length">
									<td colspan="6">
										<h5
											class="text-center my-3"
											style="font-size: 13px;"
										>
											No hay resultados
										</h5>
									</td>
								</b-tr>
								<b-tr
									v-for="(movimiento,
									index) in movimientosDispersados"
									:key="index"
								>
									<b-th class="text-center ">{{
										index + 1
									}}</b-th>
									<b-td class="text-left ">{{
										setFormaPago(movimiento.formaPago)
									}}</b-td>
									<b-td class="">
										<div
											class="d-flex w-100 justify-content-between"
										>
											<label class="mb-0">$</label>
											<vue-numeric
												separator=","
												:precision="2"
												:read-only="true"
												:value="movimiento.importe"
											/>
										</div>
									</b-td>
									<b-td class="text-center ">{{
										this.moment(movimiento.fecha).format(
											"DD/MM/YYYY"
										)
									}}</b-td>
									<b-td
										class="text-center "
										v-if="solicitudActiva.idEtapa == 3"
									>
										<b-dropdown
											id="drop-dispersion"
											right
											variant="light"
											size="sm"
											class="py-0 fs-12"
											no-caret
										>
											<template v-slot:button-content>
												<i
													class="fas fa-ellipsis-v px-2"
												></i>
											</template>
											<b-dropdown-item
												v-b-modal.modal-dispersion
												@click="setDataEdit(movimiento)"
												class="fs-12"
											>
												<i
													class="fas fa-edit text-secondary pr-2"
												></i>
												Editar
											</b-dropdown-item>
											<slot
												name="dropdown-more-actions"
											></slot>
											<b-dropdown-item
												@click="
													showMsgBoxDeleteConfirm(
														movimiento.idMovimiento
													)
												"
												class="fs-12"
											>
												<i
													class="fas fa-trash text-secondary pr-2"
												></i>
												Eliminar
											</b-dropdown-item>
										</b-dropdown>
									</b-td>
								</b-tr>
							</b-tbody>
							<b-tfoot>
								<b-tr class="bg-light text-dark">
									<b-th class="text-right " colspan="2">
										<p class="mb-0">
											<span class="fw-500">Total</span>
											<span
												class="fw-500"
												v-if="limiteCambio"
												>(
												{{ solicitudActiva.tipoMoneda }}
												)</span
											>
										</p>
									</b-th>
									<b-th>
										<strong>
											<div
												class="d-flex w-100 justify-content-between"
											>
												<label class="mb-0">$</label>
												<vue-numeric
													separator=","
													:precision="2"
													:read-only="true"
													:value="totalDispersado"
												/>
											</div>
										</strong>
									</b-th>
								</b-tr>
							</b-tfoot>
						</b-table-simple>
					</template>
				</b-container>
			</b-card-body>

			<b-card-body class="py-2" v-if="optionActive == 'resumen'">
				<b-skeleton-table
					v-if="busyResumen"
					:small="true"
					:rows="2"
					:columns="4"
					:table-props="{
						bordered: true,
						striped: true,
					}"
				></b-skeleton-table>

				<b-table-simple
					v-else
					id="table-dispersion"
					bordered
					hover
					caption-top
					responsive
					class="td-dispersion fs-12"
					style="border-top: 0.1rem solid #dee2e6;"
				>
					<b-thead class="bg-light">
						<b-tr>
							<b-th style="width: 40%;" class="text-left"
								>Medio de dispersión</b-th
							>
							<b-th style="width: 30%;" class="text-right"
								>Solicitado</b-th
							>
							<b-th style="width: 30%;" class="text-right"
								>Dispersado</b-th
							>
						</b-tr>
					</b-thead>
					<b-tbody>
						<b-tr v-show="!resumen.length">
							<td colspan="3">
								<h5
									class="text-center my-3"
									style="font-size: 13px;"
								>
									No hay resultados
								</h5>
							</td>
						</b-tr>
						<b-tr v-for="(importe, index) in resumen" :key="index">
							<b-th class="text-left">{{
								importe.formaPago
							}}</b-th>
							<b-td>
								<div
									class="d-flex w-100 justify-content-between"
									:class="
										importe.solicitado == 0
											? 'text-danger'
											: ''
									"
								>
									<label class="mb-0">$</label>
									<vue-numeric
										separator=","
										:precision="2"
										:read-only="true"
										:value="importe.solicitado"
									/>
								</div>
							</b-td>
							<b-td>
								<div
									class="d-flex w-100 justify-content-between"
									:class="
										importe.dispersado != 0
											? 'text-success'
											: ''
									"
								>
									<label class="mb-0">$</label>
									<vue-numeric
										separator=","
										:precision="2"
										:read-only="true"
										:value="importe.dispersado"
									/>
								</div>
							</b-td>
						</b-tr>
					</b-tbody>
					<b-tfoot>
						<b-tr class="bg-light text-dark">
							<b-th class="text-right">
								<p class="mb-0">
									<span class="fw-500">Total</span>
									<span class="fw-500" v-if="limiteCambio"
										>(
										{{ solicitudActiva.tipoMoneda }}
										)</span
									>
								</p>
							</b-th>
							<b-th class="text-dark">
								<div
									class="d-flex w-100 justify-content-between"
								>
									<label class="mb-0">$</label>
									<vue-numeric
										separator=","
										:precision="2"
										:read-only="true"
										:value="totalSolicitado"
									/>
								</div>
							</b-th>
							<b-th>
								<div
									class="d-flex w-100 justify-content-between"
									:class="classTDispersado"
								>
									<label class="mb-0">
										<template
											v-if="
												totalDispersado ==
													totalSolicitado
											"
										>
											<i class="fas fa-check mr-1"></i>
										</template>
										<template v-else>
											<i
												class="fas fa-exclamation-triangle mr-1"
											></i>
										</template>
										$
									</label>

									<vue-numeric
										separator=","
										:precision="2"
										:read-only="true"
										:value="totalDispersado"
									/>
								</div>
							</b-th>
						</b-tr>
					</b-tfoot>
				</b-table-simple>
			</b-card-body>

			<b-card-body class="py-2" v-if="optionActive == 'comprobantes'">
				<fn-gastos-solicitudes-timeline-archivos-component
					:tipo="'Dispersion'"
					@openModalComprobante="openModalComprobante($event)"
				/>
			</b-card-body>

			<b-card-footer
				class="bg-white py-2"
				v-if="
					optionActive != 'comprobantes' &&
						permissionTerminar &&
						solicitudActiva.idEtapa == 3 &&
						!busyMovimientos
				"
			>
				<b-row>
					<b-col lg="6" style="align-content: center;">
						<b-form-checkbox
							v-model="form.notificar"
							name="check-button"
							switch
							class="fs-12"
							>Notificar al usuario</b-form-checkbox
						>
					</b-col>
					<b-col lg="6" class="text-right">
						<b-button
							v-if="!loadingTerminar"
							class="shadows px-3 py-2"
							variant="danger"
							size="sm"
							@click="submit"
						>
							<h6 class="mb-0 fs-12">
								Terminar dispersión
							</h6>
						</b-button>

						<b-button
							v-else
							class="shadows px-3 py-2"
							variant="danger"
							size="sm"
							disabled
						>
							<h6 class="mb-0 fs-12">
								<b-spinner small class="mr-1"></b-spinner>
								Terminando...
							</h6>
						</b-button>
					</b-col>
				</b-row>
			</b-card-footer>
		</b-card>

		<modal-component
			:id="'modal-dispersion'"
			:title="'Nueva dispersión'"
			:hideFooter="true"
			:hideHeader="true"
			:centered="false"
		>
			<template slot="content">
				<fn-gastos-solicitudes-form-dispersion-component
					:movimiento="movimiento"
				/>
			</template>
		</modal-component>

		<modal-component
			:id="'modal-periodo-dispersion'"
			:title="'Periodo de Dispersión'"
			:hideFooter="true"
			:hideHeader="true"
			:centered="true"
		>
			<template slot="content">
				<fn-gastos-solicitudes-form-periodo-dispersion-component />
			</template>
		</modal-component>
	</b-container>
</template>

<script>
import { mapActions, mapState, mapMutations } from "vuex";

export default {
	data() {
		return {
			loadingTerminar: false,
			submitSuccess: false,
			movimiento: null,
			desdeCorreo: false,
			optionActive: "historial",
			terminado: false,
			form: {
				idSolicitud: null,
				notificar: true,
				responsable: "",
			},
		};
	},
	mounted() {
		if (this.$route.params.idSolicitud) {
			this.desdeCorreo = true;
			this.form.idSolicitud = this.$route.params.idSolicitud;
			this.getSolicitud(this.form.idSolicitud);
		} else {
			this.form.idSolicitud = this.idSolicitud;
		}
		this.terminado = false;
		this.submitSuccess = false;
		this.loadingTerminar = false;
	},
	methods: {
		...mapActions("solicitudes_gastos", [
			"getResumenSolicitudActiva",
			"getMovimientosBySolicitud",
			"getSolicitud",
		]),
		...mapMutations("solicitudes_gastos", [
			"updateSolicitudActiva",
			"updateSolicitud",
		]),

		openModal(modal) {
			this.movimiento = null;
			this.$bvModal.show(modal);
		},
		setDataEdit(movimiento) {
			this.movimiento = movimiento;
		},
		formatoFechaPeriodoDispersion(date) {
			moment.locale("es");
			return moment(date).format("DD-MMM-YYYY");
		},
		async submit() {
			try {
				this.loadingTerminar = true;
				this.form.responsable = this.usuario.nombreUsuario;
				const response = await axios.post(
					BaseUrl +
						`/api/fn/cg/solicitudes/dispersion/${this.form.idSolicitud}`,
					this.form
				);
				if (response.data.success) {
					this.terminado = true;
					this.submitSuccess = true;
					this.loadingTerminar = false;
					this.updateSolicitud(response.data.solicitud);
					this.updateSolicitudActiva(response.data.solicitud);
				}
			} catch (error) {
				this.loadingTerminar = false;
				this.submitSuccess = false;
				this.terminado = true;
			}
		},
		async borrarImporte(id) {
			try {
				const response = await axios.delete(
					BaseUrl + `/api/fn/cg/movimientos/${id}`
				);
				if (response.data.success) {
					this.getResumenSolicitudActiva(
						this.solicitudActiva.idSolicitud
					);
					this.getMovimientosBySolicitud(
						this.solicitudActiva.idSolicitud
					);
				}
			} catch (e) {
				console.log(e);
			}
		},
		showMsgBoxDeleteConfirm(id) {
			this.$bvModal
				.msgBoxConfirm(
					`¿Confirmas que quieres eliminar esta dispersión?`,
					{
						title: "Eliminar dispersión",
						size: "sm",
						buttonSize: "sm",
						okVariant: "danger",
						cancelVariant: "light",
						okTitle: "CONFIRMAR",
						cancelTitle: "CANCELAR",
						headerClass: "pt-3 pb-2 border-bottom-0",
						footerClass: "p-2 border-top-0",
						centered: true,
					}
				)
				.then((confirm) => {
					if (confirm) {
						this.borrarImporte(id);
					}
				});
		},
		setFormaPago(formaPago) {
			if (formaPago == "Banbajio Efectivo") {
				return "Tarjeta Banbajio";
			} else return formaPago;
		},
		hasPermission(funcion) {
			if (this.permissions.length) {
				const permiso = this.permissions.find(
					(permiso) => permiso.idFuncion == funcion
				);
				if (permiso) return true;
				return false;
			}
		},
		hasPermissionRole(role) {
			if (this.permissions.length) {
				const permiso = this.permissions.find(
					(permiso) => permiso.idRole == role
				);
				if (permiso) return true;
				return false;
			}
		},
	},
	computed: {
		...mapState(["permissions", "usuario"]),
		...mapState("solicitudes_gastos", [
			"resumenSolicitudActiva",
			"solicitudActiva",
			"busyMovimientos",
			"limiteCambio",
			"busyResumen",
			"movimientos",
			"formasPago",
		]),

		mediosDispersion() {
			return this.formasPago.filter(
				(forma) =>
					forma.value != "Banbajio Efectivo" &&
					forma.value != "TP Efectivo"
			);
		},
		formasPagoFiltered() {
			if (this.limiteCambio) {
				return this.mediosDispersion;
			} else {
				var data = [{ value: "Banbajio", text: "Banbajio" }];
				data = data.concat(this.mediosDispersion);
				return data;
			}
		},
		totalSolicitado() {
			let suma = 0;
			if (this.resumen) {
				for (var i = 0; i < this.resumen.length; i++) {
					let importe = Number(
						parseFloat(this.resumen[i].solicitado).toFixed(2)
					);
					suma += importe;
				}
			}
			return parseFloat(suma).toFixed(2);
		},
		totalDispersado() {
			let suma = 0;
			if (this.movimientosDispersados.length) {
				for (var i = 0; i < this.movimientosDispersados.length; i++) {
					let importe = Number(
						parseFloat(
							this.movimientosDispersados[i].importe
						).toFixed(2)
					);
					suma += importe;
				}
			}
			return parseFloat(suma).toFixed(2);
		},
		idSolicitud() {
			if (this.solicitudActiva) {
				this.form.idSolicitud = this.solicitudActiva.idSolicitud;
				return this.solicitudActiva.idSolicitud;
			}
		},
		marginSuccess() {
			if (this.desdeCorreo) return "mt-5";
			else return "mt-0";
		},
		containerClass() {
			if (this.desdeCorreo) return "border bg-white p-4 mt-5";
			return "";
		},
		periodoDispersion() {
			if (
				this.solicitudActiva.periodoInicioDispersion &&
				this.solicitudActiva.periodoFinDispersion
			) {
				return true;
			} else return false;
		},
		classTDispersado() {
			if (this.totalDispersado == this.totalSolicitado)
				return "text-success";
			else return "text-warning-marron";
		},
		movimientosDispersados() {
			if (this.movimientos.length) {
				return this.movimientos.filter(
					(movimiento) => movimiento.accion == "dispersion"
				);
			} else return [];
		},
		resumen() {
			if (this.resumenSolicitudActiva.length) {
				var data = [];
				this.formasPagoFiltered.forEach((item) => {
					if (item.value == "Tarjeta Banbajio") {
						var response = this.resumenSolicitudActiva.filter(
							(resumen) =>
								resumen.formaPago == item.value ||
								resumen.formaPago == "Banbajio Efectivo"
						);
					} else if (item.value == "Tarjeta Personal") {
						var response = this.resumenSolicitudActiva.filter(
							(resumen) =>
								resumen.formaPago == item.value ||
								resumen.formaPago == "TP Efectivo"
						);
					} else {
						var response = this.resumenSolicitudActiva.filter(
							(resumen) => resumen.formaPago == item.value
						);
					}

					var importeSolicitado = response.reduce(
						(suma, resumen) =>
							suma + parseFloat(Number(resumen.solicitado)),
						0
					);
					var importeDispersado = response.reduce(
						(suma, resumen) =>
							suma + parseFloat(Number(resumen.dispersado)),
						0
					);
					if (importeSolicitado > 0 || importeDispersado > 0) {
						data.push({
							formaPago: item.value,
							solicitado: importeSolicitado,
							dispersado: importeDispersado,
						});
					}
				}, this);
				return data;
			} else return [];
		},
		permissionTerminar() {
			if (this.movimientosDispersados.length) {
				return true;
			} else return false;
		},
		disabledDropDispersiones() {
			if (this.solicitudActiva.importe_total > 0) return false;
			else return true;
		},
		permissionDispersar() {
			if (this.hasPermission("fn.cg.solicitudes.dispersar")) {
				if (this.hasPermissionRole("fn.cg.admin.caja.chica")) {
					var response = this.resumen.filter(
						(item) =>
							item.formaPago == "Efectivo" ||
							item.formaPago == "Efectivo Caja Chica"
					).length;
					if (response > 0) {
						return true;
					} else return false;
				} else return true;
			} else return false;
		},
	},
};
</script>

<style scoped>
#breadcrumb-dispersion .breadcrumb-item.active h6 {
	color: #495057 !important;
	font-weight: 500;
	font-size: 13px;
}
#breadcrumb-dispersion .breadcrumb-item.active {
	background-color: transparent !important;
}
.card-header {
	padding-block: 5px;
}
#table-dispersion th {
	padding: 0.4rem !important;
	vertical-align: middle !important;
}
.td-dispersion td {
	padding: 0.4rem !important;
	vertical-align: middle !important;
}
.td-dispersion-activo td {
	padding: 0.2rem !important;
	vertical-align: middle !important;
}
</style>

<style>
.text-warning-marron {
	color: #de8902 !important;
}
fieldset.scheduler-border {
	border: 1px solid #dee2e6 !important;
	padding: 0 1.4em 0.5em 1.4em !important;
	margin: 0 0 1.5em 0 !important;
	-webkit-box-shadow: 0px 0px 0px 0px #000;
	box-shadow: 0px 0px 0px 0px #000;
}
legend.scheduler-border {
	width: inherit; /* Or auto */
	padding: 0 10px; /* To give a bit of padding on the left and right */
	border-bottom: none;
}
</style>
