<template>
	<b-container class="p-0" fluid>
		<b-card id="card-cg" class="shadow-sm mt-2" header-tag="header" no-body>
			<template #header>
				<h6 class="mb-0 py-1 fs-15">
					<i class="fas fa-donate mr-2"></i>
					Disposición en efectivo
				</h6>
			</template>

			<b-alert
				v-if="!mediosDisposicion.length"
				variant="warning"
				class="p-2 fs-11 text-center mb-0"
				show
				style="border-radius: 0rem; border: none;"
			>
				<p class="mb-0 py-1">
					<span
						><i
							class="fas fa-exclamation-triangle pr-2 fs-13"
							style="color: #eb9000;"
						></i
					></span>
					No existen medios de disposición autorizados
				</p>
			</b-alert>

			<b-card-body class="py-2">
				<b-container class="mt-2 mb-3 px-0" fluid>
					<b-row>
						<b-col lg="12">
							<b-button
								v-if="
									solicitudActiva.idEtapa == 4 &&
										mediosDisposicion.length &&
										hasPermission(
											'fn.cg.solicitudes.disposicion'
										)
								"
								class="shadows px-3 py-2"
								variant="success"
								size="sm"
								@click="openModal('modal-disposicion')"
							>
								<h6 class="mb-0 fs-12">
									Agregar disposición
								</h6>
							</b-button>
						</b-col>
					</b-row>
				</b-container>

				<b-container class="px-0" fluid>
					<b-form>
						<b-skeleton-table
							v-if="busyDisposiciones"
							:small="true"
							:rows="4"
							:columns="6"
							:table-props="{
								bordered: true,
								striped: true,
							}"
						></b-skeleton-table>

						<template v-else>
							<b-table
								id="table-disposicion"
								:items="listDisposiciones"
								:fields="fields"
								bordered
								small
								hover
								show-empty
								responsive
								class="fs-12"
								:class="stTdDisposicion"
								style="border-top: 0.1rem solid #dee2e6; width: 100%;"
							>
								<template #empty="scope">
									<h5
										class="text-center my-3"
										style="font-size: 13px;"
									>
										No hay resultados
									</h5>
								</template>

								<template #cell(file)="row">
									<b-link
										style="font-weight: 500; color: #9e0e1c;"
										v-if="
											row.item.file &&
												row.item.file != 'S/C'
										"
										@click="row.toggleDetails"
									>
										<font v-if="row.item._showDetails">
											Minimizar
										</font>

										<font v-else>
											Mostrar
										</font>
									</b-link>

									<template v-else>
										S/C
									</template>
								</template>

								<template #row-details="row">
									<b-card>
										<b-media>
											<template #aside>
												<i
													class="far fa-file px-2 pt-2"
													style="font-size: 19px;"
												></i>
											</template>

											<h5 class="mt-0 fs-12 mb-1">
												<font class="pr-3">{{
													row.item.file
												}}</font>

												<font
													v-if="
														loadingDownload &&
															row.item
																.idDisposicion ==
																tempDisposicion
													"
													class="text-danger pr-2"
												>
													<b-spinner
														small
														class="mr-1"
													></b-spinner>
													Descargando...
												</font>

												<b-link
													v-else
													@click="
														downloadFile(
															row.item.file,
															row.item
																.idDisposicion
														)
													"
													class="text-danger pr-2"
												>
													<b-icon
														icon="download"
														class="mr-1"
													></b-icon>
													Descargar
												</b-link>

												<b-link
													v-if="
														solicitudActiva.idEtapa ==
															4
													"
													@click="
														revomeFile(
															row.item.file
														)
													"
													class="text-danger"
												>
													<b-icon
														icon="trash"
														class="mr-1"
													></b-icon>
													Eliminar
												</b-link>
											</h5>

											<p class="mb-0 fs-12">
												Ext:
												{{ extFile(row.item.file) }}
											</p>
										</b-media>
									</b-card>
								</template>

								<template v-slot:cell(importe)="scope">
									<div
										class="d-flex w-100 justify-content-between"
									>
										<label class="mb-0">$</label>
										<vue-numeric
											separator=","
											:precision="2"
											:read-only="true"
											:value="scope.item.importe"
										/>
									</div>
								</template>
								<template v-slot:cell(comision)="scope">
									<div
										class="d-flex w-100 justify-content-between"
									>
										<label class="mb-0">$</label>
										<vue-numeric
											separator=","
											:precision="2"
											:read-only="true"
											:value="scope.item.comision"
										/>
									</div>
								</template>
								<template v-slot:cell(accion)="scope">
									<b-dropdown
										id="drop-comprobacion"
										right
										variant="light"
										size="sm"
										class="py-0 fs-12"
										no-caret
									>
										<template v-slot:button-content>
											<i
												class="fas fa-ellipsis-v px-2"
											></i>
										</template>
										<b-dropdown-item
											v-b-modal.modal-disposicion
											@click="setDataEdit(scope.item)"
											class="fs-12"
										>
											<i
												class="fas fa-edit text-secondary pr-2"
											></i>
											Editar
										</b-dropdown-item>
										<slot
											name="dropdown-more-actions"
										></slot>
										<b-dropdown-item
											@click="
												showMsgBoxDeleteConfirm(
													scope.item.idDisposicion
												)
											"
											class="fs-12"
										>
											<i
												class="fas fa-trash text-secondary pr-2"
											></i>
											Eliminar
										</b-dropdown-item>
									</b-dropdown>
								</template>

								<template #custom-foot>
									<b-tr class="text-dark">
										<b-th
											style="vertical-align: middle;"
											class="text-right"
											:colspan="3"
										>
											<p class="mb-0">
												<span class="fw-500"
													>Total</span
												>
												<span
													class="fw-500"
													v-if="limiteCambio"
													>(
													{{
														solicitudActiva.tipoMoneda
													}}
													)</span
												>
											</p>
										</b-th>
										<b-th style="vertical-align: middle;">
											<div
												class="d-flex w-100 justify-content-between"
											>
												<label class="mb-0">$</label>
												<vue-numeric
													separator=","
													:precision="2"
													:read-only="true"
													:value="totalDisposiciones"
												/>
											</div>
										</b-th>
									</b-tr>
								</template>
							</b-table>
						</template>
					</b-form>
				</b-container>
			</b-card-body>
		</b-card>

		<modal-component
			:id="'modal-disposicion'"
			:title="titleModalDisposicion"
			:hideFooter="true"
			:hideHeader="true"
			:centered="false"
		>
			<template slot="content">
				<fn-gastos-solicitudes-form-disposicion-component
					:disposicion="disposicion"
					:mediosDisposicion="mediosDisposicion"
				/>
			</template>
		</modal-component>
	</b-container>
</template>

<script>
import { mapState, mapActions } from "vuex";

export default {
	data() {
		return {
			disposicion: null,
			loadingDownload: false,
			tempDisposicion: null,
			titleModalDisposicion: "",
		};
	},
	mounted() {},
	methods: {
		...mapActions("solicitudes_gastos", ["getResumenSolicitudActiva"]),
		...mapActions("fn_cg_disposicion_efectivo", [
			"getDisposicionesEfectivo",
		]),

		openModal(modal) {
			this.titleModalDisposicion = "Nueva disposición en efectivo";
			this.disposicion = null;
			this.$bvModal.show(modal);
		},
		setDataEdit(disposicion) {
			this.titleModalDisposicion = "Editar disposición en efectivo";
			this.disposicion = disposicion;
		},
		showMsgBoxDeleteConfirm(id) {
			this.$bvModal
				.msgBoxConfirm(
					`¿Confirmas que quieres eliminar esta disposición?`,
					{
						title: "Eliminar disposición",
						size: "sm",
						buttonSize: "sm",
						okVariant: "danger",
						cancelVariant: "light",
						okTitle: "CONFIRMAR",
						cancelTitle: "CANCELAR",
						headerClass: "pt-3 pb-2 border-bottom-0",
						footerClass: "p-2 border-top-0",
						centered: true,
					}
				)
				.then((confirm) => {
					if (confirm) {
						this.borrarImporte(id);
					}
				});
		},
		async borrarImporte(id) {
			try {
				const response = await axios.delete(
					BaseUrl + `/api/fn/cg/solicitudes/disposicion/${id}`
				);
				if (response.data.success) {
					this.getResumenSolicitudActiva(
						this.solicitudActiva.idSolicitud
					);
					this.getDisposicionesEfectivo(
						this.solicitudActiva.idSolicitud
					);
				}
			} catch (e) {
				console.log(e);
			}
		},
		extFile(file) {
			var ext = file.split(".", 2);
			return ext[1].toUpperCase();
		},
		downloadFile(file, idDisposicion) {
			this.tempDisposicion = idDisposicion;
			this.loadingDownload = true;
			window.location =
				BaseUrl +
				`/api/fn/cg/solicitudes/disposicion/comprobante/${file}/download`;
			setTimeout(() => this.terminarDownload(), 1000);
		},
		terminarDownload() {
			this.loadingDownload = false;
		},
		revomeFile(file) {
			// agregar metodo para eliminar file
		},
		hasPermission(funcion) {
			if (this.permissions.length) {
				const permiso = this.permissions.find(
					(permiso) => permiso.idFuncion == funcion
				);
				if (permiso) return true;
				return false;
			}
		},
	},
	computed: {
		...mapState(["permissions", "usuario"]),
		...mapState("fn_cg_disposicion_efectivo", [
			"listDisposiciones",
			"busyDisposiciones",
		]),
		...mapState("solicitudes_gastos", [
			"solicitudActiva",
			"resumenSolicitudActiva",
			"formasPago",
			"limiteCambio",
		]),

		mediosDisposicion() {
			if (this.resumenSolicitudActiva) {
				var data = [];
				const uniqueFormasPago = [
					...new Set(
						this.resumenSolicitudActiva.map(
							(resumen) => resumen.formaPago
						)
					),
				];
				this.formasPago.forEach((forma) => {
					if (uniqueFormasPago.includes(forma.value)) {
						data.push(forma);
					}
				}, this);

				return data.filter(
					(forma) =>
						forma.value == "Tarjeta Banbajio" ||
						forma.value == "Tarjeta Personal"
				);
			} else return [];
		},
		totalDisposiciones() {
			if (this.listDisposiciones) {
				return this.listDisposiciones.reduce(
					(suma, disposicion) =>
						suma +
						parseFloat(Number(disposicion.importe)) +
						parseFloat(Number(disposicion.comision)),
					0
				);
			} else return 0;
		},
		stTdDisposicion() {
			if (this.solicitudActiva.idEtapa != 4) {
				return "td-disposicion";
			} else return "td-disposicion-activo";
		},
		fields() {
			if (this.solicitudActiva.idEtapa == 4) {
				return [
					{
						key: "fecha",
						label: "Fecha",
						class: "text-center",
						thStyle: { width: "15%" },
					},
					{
						key: "formaPago",
						label: "Medio de disposición",
						class: "text-left",
						thStyle: { width: "20%" },
					},
					{
						key: "file",
						label: "Comprobante",
						class: "text-center",
						thStyle: { width: "15%" },
					},
					{
						key: "importe",
						label: "Importe",
						class: "text-right",
						thStyle: { width: "20%" },
					},
					{
						key: "comision",
						label: "Comisión por retiro",
						class: "text-right",
						thStyle: { width: "20%" },
					},
					{
						key: "accion",
						label: "Acción",
						class: "text-center",
						thStyle: { width: "10%" },
					},
				];
			} else {
				return [
					{
						key: "fecha",
						label: "Fecha",
						class: "text-center",
						thStyle: { width: "17%" },
					},
					{
						key: "formaPago",
						label: "Medio de disposición",
						class: "text-left",
						thStyle: { width: "22%" },
					},
					{
						key: "file",
						label: "Comprobante",
						class: "text-center",
						thStyle: { width: "17%" },
					},
					{
						key: "importe",
						label: "Importe",
						class: "text-right",
						thStyle: { width: "22%" },
					},
					{
						key: "comision",
						label: "Comisión por retiro",
						class: "text-right",
						thStyle: { width: "22%" },
					},
				];
			}
		},
	},
	watch: {
		solicitudActiva() {
			this.getDisposicionesEfectivo(this.solicitudActiva.idSolicitud);
		},
	},
};
</script>

<style>
#table-disposicion table,
thead {
	background-color: rgb(245, 245, 246) !important;
	color: rgb(69, 85, 95) !important;
}
#table-disposicion table,
tfoot {
	background-color: rgb(245, 245, 246) !important;
}
#table-disposicion table,
th {
	padding: 0.4rem !important;
	vertical-align: middle !important;
}

.td-disposicion
td {
	padding: 0.4rem !important;
	vertical-align: middle !important;
}
.td-disposicion-activo
td {
	padding: 0.2rem !important;
	vertical-align: middle !important;
}
</style>
