<template>
	<b-container class="p-0 component-cg-max-height" fluid>
		<b-container fluid>
			<b-row class="h-100">
				<b-col lg="3" class="h-100 mt-2">
					<div class="px-2 py-4 h-100">
						<h6 class="fs-13 mb-3">OPCIONES</h6>
						<b-list-group id="list-group-fondeo" class="mt-2" flush>
							<b-list-group-item
								href="#"
								class="d-flex w-100 justify-content-between mb-1"
								:class="
									selected == 'dispersion'
										? 'list-sub-item-active'
										: ''
								"
								@click="selected = 'dispersion'"
							>
								<h6 class="fs-12 mb-0">Dispersión</h6>
								<i
									v-if="selected == 'dispersion'"
									class="fas fa-caret-right fs-14 text-secondary"
									style="align-content: center;"
								></i>
							</b-list-group-item>
							<b-list-group-item
								href="#"
								class="d-flex w-100 justify-content-between mb-1"
								:class="
									selected == 'disposicion'
										? 'list-sub-item-active'
										: ''
								"
								@click="selected = 'disposicion'"
							>
								<h6 class="fs-12 mb-0">
									Disposición en efectivo
								</h6>
								<i
									v-if="selected == 'disposicion'"
									class="fas fa-caret-right fs-14 text-secondary"
									style="align-content: center;"
								></i>
							</b-list-group-item>
						</b-list-group>
					</div>
				</b-col>

				<b-col lg="9" class="px-0">
					<fn-gastos-solicitudes-dispersion-component
						v-if="selected == 'dispersion'"
					/>

					<fn-gastos-solicitudes-disposicion-efectivo-component
						v-if="selected == 'disposicion'"
					/>
				</b-col>
			</b-row>
		</b-container>
	</b-container>
</template>

<script>
import { mapState } from "vuex";

export default {
	data() {
		return {
			selected: "dispersion",
		};
	},
	computed: {
		...mapState(["permissions"]),
	},
};
</script>

<style scoped>
.list-sub-item-active {
	background-color: #ddd;
	color: #495057;
}
#list-group-fondeo .list-group-item {
	border: none !important;
	border-radius: 0.5rem;
	margin-bottom: 3px;
}
</style>
