<template>
	<b-overlay
		:show="overlay"
		rounded="sm"
		opacity="1.0"
		blur="1px"
		variant="transparent"
	>
		<b-container class="mt-3">
			<b-row>
				<b-col lg="5" class="p-0">
					<b-form-group description="Fecha de inicio">
						<v-date-picker
							v-model="$v.form.periodoInicio.$model"
							:state="
								$v.form.periodoInicio.$dirty
									? !$v.form.periodoInicio.$error
									: null
							"
							:masks="masks"
							class="fs-13"
							color="red"
						>
							<template v-slot="{ inputValue, inputEvents }">
								<input
									class="bg-white border px-2 py-2 rounded text-center"
									:value="inputValue"
									v-on="inputEvents"
									style="width: 100%;"
									placeholder="00/00/0000"
								/>
							</template>
						</v-date-picker>
						<b-form-invalid-feedback id="feedback-periodo-inicio">
							Campo obligatorio
						</b-form-invalid-feedback>
					</b-form-group>
				</b-col>
				<b-col lg="2" class="text-center">
					<i class="fas fa-arrow-right pt-2"></i>
				</b-col>
				<b-col lg="5" class="p-0">
					<b-form-group description="Fecha de término">
						<v-date-picker
							v-model="$v.form.periodoFin.$model"
							:state="
								$v.form.periodoFin.$dirty
									? !$v.form.periodoFin.$error
									: null
							"
							:masks="masks"
							class="fs-13"
							color="red"
						>
							<template v-slot="{ inputValue, inputEvents }">
								<input
									class="bg-white border px-2 py-2 rounded text-center"
									:value="inputValue"
									v-on="inputEvents"
									style="width: 100%;"
									placeholder="00/00/0000"
								/>
							</template>
						</v-date-picker>
						<b-form-invalid-feedback id="feedback-periodo-fin">
							Campo obligatorio
						</b-form-invalid-feedback>
					</b-form-group>
				</b-col>
			</b-row>

			<div class="d-flex flex-row-reverse bd-highlight mt-3">
				<b-button variant="danger" class="ml-3 my-2" @click="submit">
					<font>
						ASIGNAR
					</font>
				</b-button>
				<b-button
					variant="white"
					class="link-light my-2"
					@click="close('modal-periodo-dispersion')"
				>
					CANCELAR
				</b-button>
			</div>
		</b-container>
	</b-overlay>
</template>

<script>
import { mapState, mapMutations } from "vuex";
import { required } from "vuelidate/lib/validators";

export default {
	data() {
		return {
			errorSubmit: false,
			overlay: false,
			loading: false,
			masks: {
				input: "YYYY-MM-DD",
			},
			form: {
				periodoInicio: null,
				periodoFin: null,
			},
		};
	},
	mounted() {
		this.setDataEdit();
	},
	methods: {
		...mapMutations(["modalSubmit", "modalOk"]),
		...mapMutations("solicitudes_gastos", [
			"updateSolicitud",
			"updateSolicitudActiva",
		]),

		async submit() {
			this.overlay = true;
			this.errorSubmit = false;
			this.$v.$touch();
			try {
				this.form.idSolicitud = this.solicitudActiva.idSolicitud;
				this.form.periodoInicio = moment(
					this.form.periodoInicio
				).format("YYYY-MM-DD");

				this.form.periodoFin = moment(this.form.periodoFin).format(
					"YYYY-MM-DD"
				);
				const response = await axios.put(
					BaseUrl +
						`/api/fn/cg/solicitudes/periodo/dispersion/${this.form.idSolicitud}`,
					this.form
				);
				if (response.data.success) {
					this.updateSolicitud(response.data.solicitud);
					this.updateSolicitudActiva(response.data.solicitud);
					this.modalSubmit(true);
					this.overlay = false;
				} else {
					this.modalOk(false);
				}
			} catch (error) {
				console.log(error);
				this.overlay = false;
				this.errorSubmit = true;
			}
		},
		setDataEdit() {
			if (
				this.solicitudActiva.periodoInicioDispersion &&
				this.solicitudActiva.periodoFinDispersion
			) {
				this.form.periodoInicio = new Date(
					this.solicitudActiva.periodoInicioDispersion
				);
				this.form.periodoFin = new Date(
					this.solicitudActiva.periodoFinDispersion
				);
			} else {
				this.form.periodoInicio = null;
				this.form.periodoFin = null;
			}
		},
		close(modal) {
			this.$bvModal.hide(modal);
		},
	},
	computed: {
		...mapState("solicitudes_gastos", ["solicitudActiva"]),
	},
	watch: {},
	validations: {
		form: {
			periodoInicio: { required },
			periodoFin: { required },
		},
	},
};
</script>
