<template>
	<b-overlay
		:show="overlay"
		rounded="sm"
		opacity="1.0"
		blur="1px"
		variant="transparent"
	>
		<div class="container" v-if="solicitudActiva && terminado">
			<b-alert
				:variant="status == 'aceptado' ? 'success' : 'danger'"
				:class="marginSuccess"
				show
			>
				<h5 class="text-center mb-0 fs-14">
					Has {{ status }} la asignación del viático #
					{{ solicitudActiva.idSolicitud }}
				</h5>
			</b-alert>
		</div>
		<div class="container" v-if="!terminado">
			<template v-if="desdeCorreo">
				<h3 class="text-center mt-5">
					Aceptación de la asignación del viático #
					{{ form.idSolicitud }}
				</h3>
				<hr />
			</template>
			<p v-if="form.status == 'aceptado'" class="text-justify fs-14">
				Estas
				<strong class="text-success">aceptando</strong> la asignación
				del viático, al terminar se enviará un correo a tu autorizador
				para darle continuidad a la solicitud.
			</p>
			<div v-if="form.status == 'rechazado'">
				<p class="text-justify fs-14">
					Estas
					<strong class="text-danger">rechazando</strong> la
					asignación del viático, al terminar se enviará un correo a
					la persona que te asignó el viático para notificarle sobre
					este rechazo.
				</p>
			</div>
			<template v-if="desdeCorreo">
				<center>
					<b-button class="mt-4" size="lg" @click="submit"
						>Terminar</b-button
					>
				</center>
			</template>
			<template v-else>
				<b-row class="mt-4 mb-2">
					<b-col lg="12" class="text-right">
						<div class="mb-2 text-right">
							<b-button variant="danger" @click="submit"
								>GUARDAR</b-button
							>
						</div>
					</b-col>
				</b-row>
			</template>
		</div>
	</b-overlay>
</template>

<script>
import { mapActions, mapState, mapMutations } from "vuex";
export default {
	props: {
		idSolicitud: Number,
		statusAceptacionAsignacion: String,
	},
	data() {
		return {
			overlay: false,
			desdeCorreo: false,
			form: {
				idSolicitud: null,
				status: "",
				notificar: true,
			},
		};
	},
	mounted() {
		if (this.$route.params.idSolicitud) {
			this.desdeCorreo = true;
			this.form.idSolicitud = this.$route.params.idSolicitud;
			this.form.status = this.$route.params.status;
			this.getSolicitud(this.form.idSolicitud);
		} else {
			this.form.idSolicitud = this.idSolicitud;
			this.form.status = this.statusAceptacionAsignacion;
		}
	},
	methods: {
		...mapActions("solicitudes_gastos", ["getSolicitud"]),
		...mapMutations("solicitudes_gastos", [
			"updateSolicitudActiva",
			"updateSolicitud",
		]),

		async submit() {
			this.overlay = true;
			if (this.form.status == "aceptado") {
				this.form.aceptacion = true;
			} else {
				this.form.aceptacion = false;
			}
			const response = await axios.put(
				BaseUrl +
					`/api/fn/cg/solicitudes/aceptacion/${this.form.idSolicitud}`,
				this.form
			);
			if (response.data.success) {
				this.updateSolicitud(response.data.solicitud);
				this.updateSolicitudActiva(response.data.solicitud);
				this.overlay = false;
			}
		},
		close() {
			this.$bvModal.hide("modal-aceptacion-asignacion");
		},
	},
	computed: {
		...mapState(["usuario"]),
		...mapState("solicitudes_gastos", ["solicitudActiva"]),

		terminado() {
			if (this.solicitudActiva) {
				if (
					(this.solicitudActiva.idEtapa == 1 &&
						!this.solicitudActiva.aceptacion) ||
					(this.solicitudActiva.idEtapa >= 2 &&
						this.solicitudActiva.aceptacion)
				)
					return true;
			}
		},
		status() {
			if (this.solicitudActiva) {
				if (
					this.solicitudActiva.idEtapa == 1 &&
					!this.solicitudActiva.aceptacion
				)
					return "rechazado";
				else if (
					this.solicitudActiva.idEtapa >= 2 &&
					this.solicitudActiva.aceptacion
				)
					return "aceptado";
			}
		},
		marginSuccess() {
			if (this.desdeCorreo) return "mt-5";
			else return "mt-0";
		},
	},
};
</script>
