<template>
	<b-overlay
		:show="overlay"
		rounded="sm"
		opacity="1.0"
		blur="1px"
		variant="transparent"
	>
		<hr class="mt-0" />
		<b-row>
			<b-col>
				<b-row>
					<b-col lg="6">
						<b-form-group>
							<template v-slot:label>
								<div class="lab-form">
									Tipo de comprobante<span class="req"
										>*</span
									>
								</div>
							</template>
							<b-form-select
								v-model="$v.form.tipoComprobante.$model"
								:options="tiposComprobante"
								@change="setTipoComprobante"
								:state="
									$v.form.tipoComprobante.$dirty
										? !$v.form.tipoComprobante.$error
										: null
								"
							>
								<template v-slot:first>
									<option :value="null" disabled>
										Seleccione
									</option>
								</template>
							</b-form-select>
							<b-form-invalid-feedback id="feedback-tipGasto">
								Campo obligatorio
							</b-form-invalid-feedback>
						</b-form-group>
					</b-col>
					<b-col lg="6" sm="12">
						<b-form-group>
							<template v-slot:label>
								<div class="lab-form">
									Folio<span
										class="req"
										v-if="form.tipoComprobante == 'Factura'"
										>*</span
									>
								</div>
							</template>
							<b-form-input
								type="text"
								v-model="$v.form.folioComprobante.$model"
								:input="folioToUpper"
								:state="
									$v.form.folioComprobante.$dirty
										? !$v.form.folioComprobante.$error
										: null
								"
								placeholder="Folio del comprobante"
							>
							</b-form-input>
							<b-form-invalid-feedback
								id="feedback-folio-factura"
							>
								Campo obligatorio
							</b-form-invalid-feedback>
						</b-form-group>
					</b-col>
				</b-row>
				<b-row>
					<b-col lg="6" sm="12">
						<b-form-group>
							<template v-slot:label>
								<div class="lab-form">
									Fecha de comprobante<span class="req"
										>*</span
									>
								</div>
							</template>
							<b-form-input
								type="date"
								v-model="$v.form.fechaGasto.$model"
								:state="
									$v.form.fechaGasto.$dirty
										? !$v.form.fechaGasto.$error
										: null
								"
							></b-form-input>
							<b-form-invalid-feedback id="feedback-fecha">
								Campo obligatorio
							</b-form-invalid-feedback>
						</b-form-group>
					</b-col>
					<b-col lg="6">
						<b-form-group>
							<template v-slot:label>
								<div class="lab-form">
									Proveedor<span class="req">*</span>
								</div>
							</template>
							<b-form-input
								v-model="$v.form.proveedor.$model"
								placeholder="Nombre del proveedor"
								@input="proveedorToUpper"
								:state="
									$v.form.proveedor.$dirty
										? !$v.form.proveedor.$error
										: null
								"
							>
							</b-form-input>
							<b-form-invalid-feedback id="feedback-proveedor">
								Campo obligatorio
							</b-form-invalid-feedback>
						</b-form-group>
					</b-col>
				</b-row>

				<b-row>
					<b-col>
						<b-form-group class="mb-1">
							<template v-slot:label>
								<div class="lab-form">
									Descripción<span class="req">*</span>
								</div>
							</template>
							<b-form-input
								readonly
								v-model="descripcion"
								placeholder="Asigne una descripción"
								:state="
									$v.form.descripcion.$dirty
										? !$v.form.descripcion.$error
										: null
								"
							>
							</b-form-input>

							<b-form-invalid-feedback id="feedback-proveedor">
								Campo obligatorio
							</b-form-invalid-feedback>

							<b-button
								variant="link"
								class="text-secondary float-right"
								style="cursor: pointer"
								@click="asignar('descripcion')"
								><small>Asignar descripción</small>
							</b-button>
						</b-form-group>
					</b-col>
				</b-row>

				<fieldset
					class="scheduler-border"
					v-if="!comprobacion"
					style="margin-bottom: 10px !important;"
				>
					<legend class="scheduler-border">
						Comprobante
					</legend>

					<b-row>
						<b-col lg="12">
							<b-form-group class="mb-4">
								<template v-slot:label>
									<div class="lab-form">
										PDF o Imagen
									</div>
								</template>
								<b-form-file
									placeholder="No se ha seleccionado ningún archivo"
									@change="setFilePDF"
									:state="
										$v.form.file.$dirty
											? !$v.form.file.$error
											: null
									"
								>
								</b-form-file>
							</b-form-group>
						</b-col>
						<b-col lg="12" v-if="form.tipoComprobante == 'Factura'">
							<b-form-group class="mb-4">
								<template v-slot:label>
									<div class="lab-form">
										Archivo XML
									</div>
								</template>
								<b-form-file
									placeholder="No se ha seleccionado ningún archivo"
									@change="setFileXML"
									:state="
										$v.form.fileXML.$dirty
											? !$v.form.fileXML.$error
											: null
									"
									accept=".xml"
								>
								</b-form-file>
							</b-form-group>
						</b-col>
					</b-row>
				</fieldset>

				<fieldset class="scheduler-border">
					<legend class="scheduler-border">
						Importe de comprobación
					</legend>

					<b-form-group class="mt-1">
						<template v-slot:label>
							<div class="lab-form">
								Forma de pago<span class="req">*</span>
							</div>
						</template>
						<b-form-select
							v-model="form.formaPago"
							:options="formasPagoComprobacion"
							:state="
								$v.form.formaPago.$dirty
									? !$v.form.formaPago.$error
									: null
							"
						>
							<template v-slot:first>
								<option :value="null" disabled>
									Seleccione
								</option>
							</template>
						</b-form-select>
						<b-form-invalid-feedback id="feedback-formaPago">
							Campo obligatorio
						</b-form-invalid-feedback>
					</b-form-group>

					<b-row class="mt-3">
						<b-col lg="6">
							<div class="lab-form float-right">
								Subtotal<span class="req">*</span>
							</div>
						</b-col>
						<b-col lg="6">
							<b-form-group>
								<b-input-group prepend="$">
									<vue-numeric
										class="text-right form-control"
										separator=","
										:precision="2"
										:read-only="false"
										v-model="$v.form.subtotal.$model"
										:state="
											$v.form.subtotal.$dirty
												? !$v.form.subtotal.$error
												: null
										"
									/>
								</b-input-group>
								<b-form-invalid-feedback id="feedback-subtotal">
									Campo obligatorio
								</b-form-invalid-feedback>
							</b-form-group>
						</b-col>
					</b-row>

					<b-row v-if="form.tipoComprobante == 'Factura'">
						<b-col lg="6">
							<div class="lab-form float-right">
								Iva<span class="req">*</span>
							</div>
						</b-col>
						<b-col lg="6">
							<b-form-group>
								<b-input-group prepend="$">
									<vue-numeric
										class="text-right form-control"
										separator=","
										:precision="2"
										:read-only="false"
										v-model="$v.form.iva.$model"
										:state="
											$v.form.iva.$dirty
												? !$v.form.iva.$error
												: null
										"
									/>
								</b-input-group>
								<b-form-invalid-feedback id="feedback-iva">
									Campo obligatorio
								</b-form-invalid-feedback>
							</b-form-group>
						</b-col>
					</b-row>

					<b-row class="mb-3">
						<b-col lg="12">
							<b-form-checkbox
								class="float-right fs-12"
								id="checkbox-1"
								v-model="addOtros"
								name="checkbox-1"
								:value="true"
								:unchecked-value="false"
							>
								<label
									class="ml-2 mb-0"
									style="margin-top: 2px;"
									>Agregar otros gastos</label
								>
							</b-form-checkbox>
						</b-col>
					</b-row>

					<template v-if="addOtros">
						<b-row class="mb-3">
							<b-col lg="6">
								<div class="lab-form float-right">
									Tipo<span class="req">*</span>
								</div>
							</b-col>
							<b-col lg="6">
								<b-form-group
									class="mb-0"
									:description="
										!form.tipoComprobante
											? 'Elija primero el tipo de comprobante para poder agregar otros gastos.'
											: ''
									"
								>
									<b-form-select
										:options="otros"
										v-model="$v.form.otro.$model"
										:disabled="
											form.tipoComprobante ? false : true
										"
										@change="setTipoGasto"
									>
										<template v-slot:first>
											<option :value="null" disabled>
												Especifique
											</option>
										</template>
									</b-form-select>
								</b-form-group>
							</b-col>
						</b-row>

						<template v-if="form.otro">
							<template v-if="form.otro == 'Propina'">
								<b-row
									v-if="form.tipoComprobante == 'Factura'"
									class="mb-3"
								>
									<b-col lg="12">
										<b-form-checkbox
											class="float-right fs-12"
											id="checkbox-propina"
											v-model="propinaEnFactura"
											name="checkbox-propina"
											:value="true"
											:unchecked-value="false"
										>
											<label
												class="ml-2 mb-0"
												style="margin-top: 2px;"
												>¿Incluida en factura?</label
											>
										</b-form-checkbox>
									</b-col>
								</b-row>

								<fieldset
									v-if="!propinaEnFactura"
									class="scheduler-border"
								>
									<legend class="scheduler-border fs-14">
										<b>Registro de propina</b>
									</legend>

									<b-row>
										<b-col lg="12">
											<b-form-group class="mt-1 mb-2">
												<template v-slot:label>
													<div class="lab-form fs-12">
														Forma de pago<span
															class="req"
															>*</span
														>
													</div>
												</template>
												<b-form-select
													size="sm"
													class="fs-12"
													v-model="
														form.formaPagoPropina
													"
													:options="
														formasPagoComprobacion
													"
													:state="
														$v.form.formaPagoPropina
															.$dirty
															? !$v.form
																	.formaPagoPropina
																	.$error
															: null
													"
												>
													<template v-slot:first>
														<option
															:value="null"
															disabled
														>
															Seleccione
														</option>
													</template>
												</b-form-select>
												<b-form-invalid-feedback
													id="feedback-formaPagoPropina"
												>
													Campo obligatorio
												</b-form-invalid-feedback>
											</b-form-group>
										</b-col>

										<b-col lg="6">
											<div
												class="lab-form float-right fs-12 mt-2"
											>
												Importe<span class="req"
													>*</span
												>
											</div>
										</b-col>
										<b-col lg="6">
											<b-form-group
												class="mt-1 mb-2 text-right"
												description="Importe maximo 10%"
											>
												<b-input-group
													prepend="$"
													size="sm"
												>
													<vue-numeric
														class="text-right form-control form-control-sm fs-12"
														separator=","
														:precision="2"
														:read-only="false"
														v-model="
															$v.form.propina
																.$model
														"
														:state="
															$v.form.propina
																.$dirty
																? !$v.form
																		.propina
																		.$error
																: null
														"
													/>
												</b-input-group>
												<b-form-invalid-feedback
													id="feedback-propina"
												>
													Campo obligatorio
												</b-form-invalid-feedback>
											</b-form-group>
										</b-col>
									</b-row>
								</fieldset>

								<b-row v-else>
									<b-col lg="6">
										<div class="lab-form float-right">
											Propina<span class="req">*</span>
										</div>
									</b-col>
									<b-col lg="6">
										<b-form-group
											class="text-right"
											description="Importe maximo 10%"
										>
											<b-input-group prepend="$">
												<vue-numeric
													class="text-right form-control"
													separator=","
													:precision="2"
													:read-only="false"
													v-model="
														$v.form.otros.$model
													"
													:state="
														$v.form.otros.$dirty
															? !$v.form.otros
																	.$error
															: null
													"
												/>
											</b-input-group>
											<b-form-invalid-feedback
												id="feedback-otros"
											>
												Campo obligatorio
											</b-form-invalid-feedback>
										</b-form-group>
									</b-col>
								</b-row>
							</template>

							<template v-else>
								<b-row>
									<b-col lg="6">
										<div class="lab-form float-right">
											Otros<span class="req">*</span>
										</div>
									</b-col>
									<b-col lg="6">
										<b-form-group>
											<b-input-group prepend="$">
												<vue-numeric
													class="text-right form-control"
													separator=","
													:precision="2"
													:read-only="false"
													v-model="
														$v.form.otros.$model
													"
													:state="
														$v.form.otros.$dirty
															? !$v.form.otros
																	.$error
															: null
													"
												/>
											</b-input-group>
											<b-form-invalid-feedback
												id="feedback-otros"
											>
												Campo obligatorio
											</b-form-invalid-feedback>
										</b-form-group>
									</b-col>
								</b-row>
							</template>
						</template>
					</template>

					<b-row class="mt-3">
						<b-col lg="6">
							<div class="lab-form float-right">
								Total
							</div>
						</b-col>
						<b-col lg="6">
							<b-form-group>
								<b-input-group prepend="$">
									<vue-numeric
										class="text-right form-control"
										disabled
										separator=","
										:precision="2"
										:read-only="false"
										v-model="$v.form.importe.$model"
										:value="importeTotal"
										:state="
											$v.form.importe.$dirty
												? !$v.form.importe.$error
												: null
										"
									/>
								</b-input-group>
								<b-form-invalid-feedback id="feedback-importe">
									Campo obligatorio
								</b-form-invalid-feedback>
							</b-form-group>
						</b-col>
					</b-row>
				</fieldset>

				<div class="d-flex flex-row-reverse bd-highlight">
					<b-button
						variant="danger"
						class="ml-3 my-2"
						@click="submit"
					>
						GUARDAR
					</b-button>
					<b-button
						variant="white"
						class="link-light my-2"
						@click="cancel"
					>
						CANCELAR
					</b-button>
				</div>
			</b-col>

			<b-col v-if="asignarDescripcion" class="border-left">
				<h2 class="display-5">Asignar descripción</h2>
				<hr />
				<b-row class="mb-2">
					<b-col lg="5">
						<b-form-group>
							<div class="lab-form">
								Área<span class="req">*</span>
							</div>
							<b-form-select
								:options="areas"
								v-model="area"
								@change="getCuentas()"
							>
								<template v-slot:first>
									<option :value="null" disabled>
										Seleccione
									</option>
								</template>
							</b-form-select>
							<b-form-invalid-feedback id="feedback-empleado"
								>Campo obligatorio</b-form-invalid-feedback
							>
						</b-form-group>
					</b-col>
					<b-col>
						<b-form-group description="Opcional">
							<div class="lab-form">
								Filtro de cuentas
							</div>
							<b-form-select
								:options="selectCuentasMayores"
								:disabled="!area"
								v-model="cuentaFiltered"
							>
								<template v-slot:first>
									<option :value="null">Todas</option>
								</template>
							</b-form-select>
						</b-form-group>
					</b-col>
				</b-row>

				<template v-if="area">
					<div
						class="input-group w-100 bg-white border mb-3"
						id="input-shadow"
					>
						<div class="input-group-prepend bg-light mr-1 ml-3">
							<div class="pt-1 bg-white">
								<i class="fas fa-search"></i>
							</div>
						</div>
						<b-form-input
							id="input-search"
							size="sm"
							class="form-control border-0"
							placeholder="Escribe tu busqueda aquí"
							v-model="filterSubcuenta"
							autocomplete="off"
						></b-form-input>
					</div>

					<b-card
						class="mb-3"
						style="max-height: 400px; overflow: auto"
						v-if="subcuentasFiltered.length"
					>
						<b-table
							:fields="fields"
							:items="subcuentasFiltered"
							selectable
							thead-class="hidden_header"
							class="mb-0"
							@row-selected="onRowSelected"
							select-mode="single"
						>
							<template #cell()="data">
								<h6 class="mb-0">
									{{ data.item.subcuenta }}
								</h6>
								<small class="text-secondary">{{
									data.item.cuentaMayor
								}}</small>
							</template>
						</b-table>
						<hr class="my-0" />
					</b-card>

					<b-card v-else class="mb-3">
						<h5 class="my-2 text-center">
							No se encontraron descripciones
						</h5>
					</b-card>
				</template>

				<template v-else>
					<b-card class="bg-light mb-3">
						<h5 class="text-center text-secondary">
							<i class="fas fa-info-circle"></i> Seleccione su
							área
						</h5>
					</b-card>
				</template>

				<b-button
					size="sm"
					variant="light"
					class="mt-2"
					@click="setDescripcion"
					:disabled="!descripcionData"
				>
					<font class="text-success"
						><i class="fas fa-check mx-1"></i> Asignar</font
					>
				</b-button>

				<b-button
					size="sm"
					variant="link"
					class="text-secondary mt-2 ml-1"
					@click="terminarAsignar"
					v-if="form.descripcion"
				>
					Cancelar
				</b-button>
			</b-col>
		</b-row>
	</b-overlay>
</template>

<script>
import { mapMutations, mapState, mapActions } from "vuex";
import { required } from "vuelidate/lib/validators";
export default {
	props: {
		comprobacion: Object,
	},
	data() {
		return {
			asignarDescripcion: false,
			fields: ["subcuenta"],
			filterSubcuenta: "",
			cuentaFiltered: null,
			areas: [],
			area: null,
			addOtros: false,
			changeFile: false,
			load: true,
			overlay: false,
			dataCuentaEdit: null,
			propinaEnFactura: true,
			form: {
				fechaGasto: "",
				folioComprobante: "",
				tipoComprobante: null,
				file: "",
				fileXML: "",
				proveedor: "",
				descripcion: null,
				tipoCuenta: null,
				cuenta: "",
				formaPago: null,
				formaPagoPropina: null,
				subtotal: "",
				iva: 0,
				otros: 0,
				propina: 0,
				importe: "",
				otro: null,
			},
			otros: [
				"Propina",
				"Retención de IVA, ISR",
				"Impuesto sobre hospedaje",
			],
			tiposComprobante: [
				"Factura",
				"Ticket",
				"Nota de remisión",
				"No deducibles",
			],
			cuentasContables: [],
			cuentasMayores: [],
			descripcionData: null,
		};
	},
	mounted() {
		if (this.comprobacion) this.setDataEdit();
		else this.asignandoDatos = false;
		this.getAreas();
	},
	methods: {
		...mapActions("solicitudes_gastos", ["getResumenSolicitudActiva"]),
		...mapMutations(["modalSubmit", "modalOk"]),
		...mapMutations("solicitudes_gastos", [
			"addComprobacion",
			"updateComprobacion",
		]),
		onContext(ctx) {
			this.formatted = ctx.selectedFormatted;
			this.form.fechaFinGastoEstimada = ctx.selectedYMD;
		},
		async submit() {
			this.overlay = true;
			this.$v.$touch();
			if (!this.$v.$invalid) {
				try {
					const data = new FormData();

					// ASIGNACIÓN DE CUENTA
					this.form.cuenta = this.solicitudActiva.cuenta;
					this.form.tipoCuenta = this.solicitudActiva.tipoCuenta;

					data.append("idUsuario", this.usuario.idUsuario);
					data.append("fechaGasto", this.form.fechaGasto);
					data.append(
						"idSolicitud",
						this.solicitudActiva.idSolicitud
					);
					data.append("tipoComprobante", this.form.tipoComprobante);
					if (this.form.folioComprobante != "")
						data.append(
							"folioComprobante",
							this.form.folioComprobante
						);
					else data.append("folioComprobante", "S/F");
					data.append("proveedor", this.form.proveedor);
					data.append("descripcion", this.form.descripcion.subcuenta);
					data.append("noCuenta", this.form.descripcion.noCuenta);
					data.append("tipoCuenta", this.form.tipoCuenta);
					data.append("cuenta", this.form.cuenta);
					data.append("formaPago", this.form.formaPago);
					data.append("subtotal", this.form.subtotal);
					if (this.form.tipoComprobante == "Factura")
						data.append("iva", this.form.iva);
					else data.append("iva", 0.0);

					data.append("propinaEnFactura", this.propinaEnFactura);
					if (!this.propinaEnFactura && this.form.otro == "Propina") {
						data.append(
							"formaPagoPropina",
							this.form.formaPagoPropina
						);
						data.append("propina", this.form.propina);
						data.append("otros", "0.00");
					} else {
						if (this.form.otros)
							data.append("otros", this.form.otros);
						else data.append("otros", "0.00");
						if (this.form.propina)
							data.append("propina", this.form.propina);
						else data.append("propina", "0.00");
					}
					data.append("otro", this.form.otro);
					data.append("importe", this.form.importe);
					data.append("file", this.form.file);
					data.append("fileXML", this.form.fileXML);
					if (this.comprobacion) {
						data.append(
							"idComprobacion",
							this.comprobacion.idComprobacion
						);
						data.append("_method", "PUT");
					}
					const response = await axios.post(
						BaseUrl + `/api/fn/cg/comprobaciones`,
						data
					);

					if (response.data.success) {
						if (response.data.successPropina) {
							await this.submitResumen(
								response.data.comprobacionPropina
							);
						}
						const responseResumen = await this.submitResumen(
							response.data.comprobacion
						);

						if (responseResumen.data.success) {
							if (response.data.successPropina) {
								await this.submitMovimiento(
									response.data.comprobacionPropina
								);
							}
							const responseMovimiento = await this.submitMovimiento(
								response.data.comprobacion
							);
						}
						if (!this.comprobacion) {
							if (response.data.successPropina)
								this.addComprobacion(
									response.data.comprobacionPropina
								);
							this.addComprobacion(response.data.comprobacion);
						} else
							this.updateComprobacion(response.data.comprobacion);

						this.getResumenSolicitudActiva(
							this.solicitudActiva.idSolicitud
						);
						this.modalSubmit(true);
					} else this.modalOk(false);
				} catch (e) {
					this.overlay = false;
				}
			} else {
				this.overlay = false;
			}
		},
		async submitResumen(comprobacion) {
			const data = {
				idComprobacion: comprobacion.idComprobacion,
				idSolicitud: comprobacion.idSolicitud,
				formaPago: comprobacion.tipoGasto,
				oldFormaPago: this.comprobacion
					? this.comprobacion.tipoGasto
					: null,
				oldImporte: this.comprobacion
					? this.comprobacion.importe
					: null,
				importe: comprobacion.importe,
			};

			if (this.comprobacion) {
				const response = await axios.put(
					BaseUrl + `/api/fn/cg/comprobaciones/resumen`,
					data
				);
				return response;
			} else {
				const response = await axios.post(
					BaseUrl + `/api/fn/cg/comprobaciones/resumen`,
					data
				);
				return response;
			}
		},
		async submitMovimiento(comprobacion) {
			const movimiento = {
				idSolicitud: this.solicitudActiva.idSolicitud,
				idComprobacion: comprobacion.idComprobacion,
				accion: "gasto",
				importe: comprobacion.importe,
				fecha: comprobacion.fechaGasto,
				formaPago: comprobacion.tipoGasto,
				idUsuario: this.usuario.idUsuario,
				tipoCuenta: comprobacion.tipoCuenta,
				cuenta: comprobacion.cuenta,
			};

			if (this.comprobacion) {
				const response = await axios.put(
					BaseUrl +
						`/api/fn/cg/movimientos/comprobacion/${comprobacion.idComprobacion}`,
					movimiento
				);
				return response;
			} else {
				const response = await axios.post(
					BaseUrl + `/api/fn/cg/movimientos`,
					movimiento
				);
				return response;
			}
		},
		setDataEdit() {
			this.form.subtotal = this.comprobacion.subtotal;
			this.form.fechaGasto = this.comprobacion.fechaGasto;
			this.form.tipoComprobante = this.comprobacion.tipoComprobante;
			this.form.folioComprobante = this.comprobacion.folioComprobante;
			this.form.proveedor = this.comprobacion.proveedor;
			this.form.descripcion = {
				subcuenta: this.comprobacion.descripcion,
				noCuenta: this.comprobacion.noCuenta,
			};
			this.form.noCuenta = this.comprobacion.noCuenta;
			this.form.formaPago = this.comprobacion.tipoGasto;
			this.form.otros = Number(this.comprobacion.otros);
			this.form.importe = Number(this.comprobacion.importe);
			this.form.otro = this.comprobacion.otro;
			this.form.tipoCuenta = this.comprobacion.tipoCuenta;
			this.form.cuenta = this.comprobacion.cuenta;
			this.dataCuentaEdit = {
				tipoCuenta: this.comprobacion.tipoCuenta,
				cuenta: this.comprobacion.cuenta,
			};
			if (this.form.otros > 0) this.addOtros = true;
			if (this.form.tipoComprobante == "Factura")
				setTimeout(this.asignaIvaEdit(), 5000);
		},
		cancel() {
			this.$emit("setSizeModal", "md");
			this.$bvModal.hide("modal-comprobacion");
		},
		setDescripcion() {
			this.form.descripcion = this.descripcionData;
			this.descripcionData = null;
			this.terminarAsignar();
		},
		terminarAsignar() {
			this.$emit("setSizeModal", "md");
			this.asignarDescripcion = false;
		},
		asignar(tipo) {
			this.$emit("setSizeModal", "xl");
			if (tipo == "descripcion") {
				this.asignarDescripcion = true;
			}
		},
		getAreas() {
			axios
				.get(BaseUrl + `/api/fn/cuentas-contables/areas`)
				.then((response) => {
					this.areas = response.data.map(function(area) {
						return {
							value: area.area,
							text: area.area,
						};
					});
				});
		},
		getCuentas() {
			this.getCuentasContablesByArea();
			this.getCuentasMayores();
		},
		getCuentasMayores() {
			axios
				.get(
					BaseUrl +
						`/api/fn/cuentas-contables/areas/${this.area}/cuentas-mayores`
				)
				.then((response) => {
					this.cuentasMayores = response.data;
					this.overlay = false;
				});
		},
		getCuentasContablesByArea() {
			axios
				.get(BaseUrl + `/api/fn/cuentas-contables/areas/${this.area}`)
				.then((response) => {
					this.cuentasContables = response.data;
				});
		},
		setFilePDF(e) {
			this.form.file = e.target.files[0];
		},
		setFileXML(e) {
			this.form.fileXML = e.target.files[0];
		},
		setInstruccionLeida() {
			var noEmpleado = this.empleado.noEmpleado.split("-");
			this.loadIntruccionLeida = true;
			axios
				.post(
					BaseUrl + `/api/instrucciones/1/empleados/${noEmpleado[0]}`
				)
				.then((response) => {
					if (response.data.status == "leida")
						this.loadIntruccionLeida = false;
					this.$emit("setInstruccionLeida", true);
				});
		},
		setIva() {
			if (this.form.tipoComprobante == "Factura")
				this.form.iva = this.form.subtotal * 0.16;
		},
		asignaIvaEdit() {
			this.form.iva = Number(this.comprobacion.iva);
		},
		onRowSelected(items) {
			this.descripcionData = {
				subcuenta: items[0].subcuenta,
				noCuenta: items[0].noCuenta,
			};
		},
		proveedorToUpper(val) {
			this.form.proveedor = val.toUpperCase();
		},
		folioToUpper(val) {
			this.form.folioComprobante = val.toUpperCase();
		},
		setTipoComprobante() {
			if (this.form.tipoComprobante == "Factura") {
				this.propinaEnFactura = true;
			} else this.propinaEnFactura = false;
		},
		setTipoGasto() {
			this.form.otros = 0;
		},
	},
	computed: {
		...mapState(["usuario", "okModal"]),
		...mapState("solicitudes_gastos", [
			"solicitudActiva",
			"formasPago",
			"limiteCambio",
			"arrClasifGasto",
		]),
		...mapState("fn_cg_disposicion_efectivo", ["listDisposiciones"]),

		formasPagoFiltered() {
			if (this.solicitudActiva.idSolicitud > 1307) {
				return this.formasPago.filter(
					(forma) =>
						forma.value != "Efectivo" &&
						forma.value != "Banbajio Efectivo" &&
						forma.value != "TP Efectivo"
				);
			} else {
				return this.formasPago.filter(
					(forma) =>
						forma.value != "Efectivo Caja Chica" &&
						forma.value != "Banbajio Efectivo" &&
						forma.value != "TP Efectivo"
				);
			}
		},
		formasPagoComprobacion() {
			if (this.listDisposiciones.length) {
				var data = [];

				var responseTB = this.listDisposiciones.filter(
					(disposicion) => disposicion.formaPago == "Tarjeta Banbajio"
				).length;

				var responseTP = this.listDisposiciones.filter(
					(disposicion) => disposicion.formaPago == "Tarjeta Personal"
				).length;

				if (responseTB > 0) {
					data.push({
						value: "Banbajio Efectivo",
						text: "Banbajio Efectivo",
					});
				}

				if (responseTP > 0) {
					data.push({
						value: "TP Efectivo",
						text: "TP Efectivo",
					});
				}

				if (data.length) {
					return data.concat(this.formasPagoFiltered);
				}
				return this.formasPagoFiltered;
			}
			return this.formasPagoFiltered;
		},
		totalComprobacion() {
			var suma = 0;
			for (var i = 0; i < this.resumen.length; i++) {
				let importe = Number(
					parseFloat(this.resumen[i].importe).toFixed(2)
				);
				suma += importe;
			}
			return parseFloat(suma).toFixed(2);
		},
		importeTotal() {
			var total = 0;
			total =
				Number(this.form.subtotal) +
				Number(this.form.iva) +
				Number(this.form.otros);
			this.form.importe = Number(total);
		},
		selectCuentasMayores() {
			return this.cuentasMayores.map(function(cuenta) {
				return {
					value: cuenta.cuentaMayor,
					text: cuenta.cuentaMayor,
				};
			});
		},
		subcuentasFilteredByCuentaMayor() {
			if (this.cuentaFiltered) {
				return this.cuentasContables.filter(
					(cuenta) =>
						cuenta.cuentaMayor &&
						cuenta.cuentaMayor == this.cuentaFiltered
				);
			} else {
				return this.cuentasContables;
			}
		},
		subcuentasFiltered() {
			if (this.filterSubcuenta) {
				return this.subcuentasFilteredByCuentaMayor.filter(
					(cuenta) =>
						cuenta.subcuenta &&
						cuenta.subcuenta
							.toLowerCase()
							.indexOf(this.filterSubcuenta.toLowerCase()) > -1
				);
			}
			return this.subcuentasFilteredByCuentaMayor;
		},
		descripcion() {
			if (this.form.descripcion) return this.form.descripcion.subcuenta;
			else return "";
		},
	},
	validations() {
		if (this.form.tipoComprobante == "Factura") {
			return {
				form: {
					fechaGasto: { required },
					tipoComprobante: { required },
					folioComprobante: { required },
					file: {},
					fileXML: {},
					proveedor: { required },
					descripcion: { required },
					tipoCuenta: {},
					cuenta: {},
					formaPago: { required },
					formaPagoPropina: {},
					propina: {},
					subtotal: { required },
					iva: { required },
					otros: {},
					importe: {},
					otro: {},
				},
			};
		} else {
			return {
				form: {
					fechaGasto: { required },
					tipoComprobante: { required },
					folioComprobante: {},
					file: {},
					fileXML: {},
					proveedor: { required },
					descripcion: { required },
					tipoCuenta: {},
					cuenta: {},
					formaPago: { required },
					formaPagoPropina: {},
					propina: {},
					subtotal: { required },
					iva: {},
					otros: {},
					importe: {},
					otro: {},
				},
			};
		}
	},
	watch: {
		okModal() {
			if (this.okModal == true) {
				this.submit();
			}
		},
		propinaEnFactura() {
			this.form.propina = 0;
			this.form.formaPagoPropina = null;
		},
	},
};
</script>

<style>
.hidden_header {
	display: none;
}
</style>
