<template>
    <b-overlay
		:show="overlay"
		rounded="sm"
		opacity="1.0"
		blur="1px"
		variant="transparent"
	>
		<template v-if="!comprobacionEnviada">
			<!-- <div class="mt-2 mb-4">
				<p class="mb-0">
					Este es el resumen que se enviará a revisión, revisalo y
					si es correcto da clic en enviar.
				</p>
				<p>
					<strong>Nota:</strong> Una vez que lo envies no se podrá
					modificar a menos que sea rechazado en su etapa de
					revisión.
				</p>
			</div>
			<fn-gastos-solicitudes-resumen-component /> -->
			<b-alert show variant="warning" class="fs-13">
				<i class="fas fa-exclamation-triangle mr-2 text-warning"></i> Antes de enviar, asegurese de que su comprobación sea correcta, ya que no se podrá modificar a menos que sea rechazada desde revisión o autorización.
			</b-alert>
			<div class="d-flex flex-row-reverse bd-highlight mt-3">
				<b-button
					variant="danger"
					class="ml-3 my-2"
					@click="submit"
				>
					ENVIAR
				</b-button>
				<b-button
					variant="white"
					class="link-light my-2"
					@click="cancel"
				>
					CANCELAR
				</b-button>
			</div>
		</template>
		<template v-if="comprobacionEnviada">
			<b-alert show variant="success" class="mb-3">
				<h5 class="mb-1 text-center fs-14">
					<i class="far fa-check-circle mr-1 mb-0"></i> Se ha enviado correctamente tu comprobación
				</h5>
			</b-alert>
		</template>
    </b-overlay>
</template>
<script>
import { mapState, mapMutations } from 'vuex';
export default {
	data() {
		return {
			overlay: false,
			comprobacionEnviada: false,
			form: {
				idEtapaOld: 4,
				responsable: ""
			}
		};
	},
	mounted() {},
	methods: {
        ...mapMutations('solicitudes_gastos', ["updateSolicitud", "updateSolicitudActiva"]),
		async submit() {
			try {         
				this.form.responsable = this.usuario.nombreUsuario;
				this.overlay = true;
				const response = await axios.put(
					BaseUrl + `/api/fn/cg/solicitudes/${this.solicitudActiva.idSolicitud}/etapas/5`, this.form
                );
                this.overlay = false;
				if (response.data.success) {
                    this.comprobacionEnviada = true;
                    this.updateSolicitud(response.data.solicitud)
                    this.updateSolicitudActiva(response.data.solicitud)
				}
			} catch (e) {}
		},
		cancel() {
             this.$bvModal.hide("modal-enviar-comprobacion");
        },
    },
    computed: {
        ...mapState("solicitudes_gastos", ["solicitudActiva"]),
        ...mapState(["usuario"])

    }
};
</script>
