<template>
	<b-overlay
		:show="overlay"
		rounded="sm"
		opacity="1.0"
		blur="1px"
		variant="transparent"
	>
		<hr class="mt-0" />

		<b-alert
			show
			class="shadow-sm mb-3 mt-2"
			variant="danger"
			style="font-size: 11px; border: 0rem; padding-block: 9px;"
			v-if="errorSubmit"
		>
			<span><i class="fas fa-exclamation-triangle pr-2"></i></span>
			Ha ocurrido un problema al agregar el comprobante.
		</b-alert>

		<b-form-group>
			<template v-slot:label>
				<div class="lab-form">Archivo<span class="req">*</span></div>
			</template>

			<b-form-file
				v-model="$v.form.file.$model"
				:state="$v.form.file.$dirty ? !$v.form.file.$error : null"
				plain
			></b-form-file>
		</b-form-group>

		<b-row>
			<b-col lg="8">
				<b-form-group>
					<template v-slot:label>
						<div class="lab-form">
							Etiquetas<span class="req">*</span>
						</div>
					</template>
					<b-form-tags
						input-id="tags-basic"
						v-model="form.etiquetas"
						placeholder="Ingrese nuevas etiquetas"
					></b-form-tags>
				</b-form-group>
			</b-col>
			<b-col lg="4">
				<b-form-group>
					<template v-slot:label>
						<div class="lab-form">Color de etiquetas</div>
					</template>

					<b-form-input
						v-model="form.color"
						type="color"
					></b-form-input>
				</b-form-group>
			</b-col>
		</b-row>

		<div class="d-flex flex-row-reverse bd-highlight">
			<b-button variant="danger" class="ml-3 my-2" @click="submit">
				AGREGAR
			</b-button>
			<b-button variant="white" class="link-light my-2" @click="cancel()">
				CANCELAR
			</b-button>
		</div>
	</b-overlay>
</template>

<script>
import { required } from "vuelidate/lib/validators";
import { mapState, mapMutations, mapActions } from "vuex";

export default {
	props: {
		archivo: Object,
		tipo: String,
	},
	data() {
		return {
			overlay: false,
			errorSubmit: false,
			editando: false,
			form: {
				file: null,
				etiquetas: [],
				color: "#950f1c",
			},
		};
	},
	mounted() {
		if (this.archivo) {
			this.editando = true;
			this.setDataEdit();
		} else this.editando = false;
	},
	methods: {
		...mapMutations(["modalSubmit", "modalOk"]),
		...mapMutations("fn_cg_archivos", ["updateArchivo", "addArchivo"]),

		async submit() {
			this.overlay = true;
			this.$v.$touch();
			if (!this.$v.$invalid) {
				try {
					var data = new FormData();
					data.append("file", this.form.file);
					data.append("etiquetas", this.form.etiquetas);
					data.append("tipo", this.tipo);
					data.append("color", this.form.color);
					data.append(
						"idSolicitud",
						this.solicitudActiva.idSolicitud
					);

					if (this.archivo) {
						data.append("idArchivo", this.form.idArchivo);
						data.append("_method", "PUT");
					}

					let response = await axios.post(
						BaseUrl + `/api/fn/cg/solicitudes/file/comprobante`,
						data
					);

					if (response.data.success) {
						if (this.archivo) {
							this.updateArchivo(response.data.archivo);
						} else {
							this.addArchivo(response.data.archivo);
						}
						this.modalSubmit(true);
						this.overlay = false;
					} else this.modalOk(false);
				} catch (error) {
					this.overlay = false;
					console.log(error);
				}
			} else {
				this.overlay = false;
			}
		},
		cancel() {
			this.$bvModal.hide("modal-comprobantes");
		},
		setDataEdit() {
			this.form.idArchivo = this.archivo.idArchivo;
			this.form.file = this.archivo.file;
			this.form.etiquetas = this.archivo.etiquetas;
			this.form.color = this.archivo.color;
		},
	},
	computed: {
		...mapState(["usuario"]),
		...mapState("solicitudes_gastos", ["solicitudActiva", "limiteCambio"]),
	},
	validations: {
		form: {
			file: { required },
			etiquetas: {},
			color: {},
		},
	},
};
</script>

<style>
.active {
	background-color: #ffffff00 !important;
}
.vue-form-wizard {
	padding-bottom: 0px;
}
.wizard-header {
	padding: 0px !important;
}
</style>
