<template>
	<b-overlay
		:show="overlay"
		rounded="sm"
		opacity="1.0"
		blur="1px"
		variant="transparent"
	>
		<hr class="mt-0" />
		<b-alert
			show
			class="shadow-sm mb-3 mt-2"
			variant="danger"
			style="font-size: 11px; border: 0rem; padding-block: 9px;"
			v-if="errorSubmit"
		>
			<span><i class="fas fa-exclamation-triangle pr-2"></i></span>
			Ha ocurrido un problema al agregar el decremento.
		</b-alert>

		<b-form-group v-if="!editando">
			<template v-slot:label>
				<div class="lab-form">
					Medio de decremento<span class="req">*</span>
				</div>
			</template>

			<b-form-select
				v-model="$v.form.formaPago.$model"
				:options="mediosDecremento"
				:state="
					$v.form.formaPago.$dirty ? !$v.form.formaPago.$error : null
				"
			>
				<template v-slot:first>
					<option :value="null" disabled>Seleccione</option>
				</template>
			</b-form-select>

			<b-form-invalid-feedback id="feedback-formaPago">
				Campo obligatorio
			</b-form-invalid-feedback>
		</b-form-group>

		<b-form-group>
			<template v-slot:label>
				<div class="lab-form">
					Fecha de decremento<span class="req">*</span>
				</div>
			</template>

			<b-form-datepicker
				v-model="$v.form.fecha.$model"
				:state="$v.form.fecha.$dirty ? !$v.form.fecha.$error : null"
				locale="es"
				:show-decade-nav="false"
				:hide-header="true"
				label-help
				selected-variant="danger"
				today-variant="secondary"
				placeholder="Elegir una fecha"
			></b-form-datepicker>
			<b-form-invalid-feedback id="feedback-fecha-dispersion">
				Campo obligatorio
			</b-form-invalid-feedback>
		</b-form-group>

		<b-form-group>
			<template v-slot:label>
				<div class="lab-form">Importe<span class="req">*</span></div>
			</template>
			<b-input-group prepend="$">
				<vue-numeric
					class="text-right form-control"
					separator=","
					:precision="2"
					:read-only="false"
					v-model="$v.form.importe.$model"
					:state="
						$v.form.importe.$dirty ? !$v.form.importe.$error : null
					"
				/>
			</b-input-group>
			<b-form-invalid-feedback id="feedback-importe-dispersion">
				Campo obligatorio
			</b-form-invalid-feedback>
		</b-form-group>

		<div class="d-flex flex-row-reverse bd-highlight">
			<b-button variant="danger" class="ml-3 my-2" @click="submit">
				<font>
					AGREGAR
				</font>
			</b-button>
			<b-button variant="white" class="link-light my-2" @click="cancel()">
				CANCELAR
			</b-button>
		</div>
	</b-overlay>
</template>

<script>
import { required } from "vuelidate/lib/validators";
import { mapState, mapMutations, mapActions } from "vuex";

export default {
	props: {
		movimiento: Object,
	},
	data() {
		return {
			overlay: false,
			errorSubmit: false,
			editando: false,
			form: {
				formaPago: null,
				fecha: null,
				importe: 0,
				accion: "decremento",
			},
		};
	},
	mounted() {
		if (this.movimiento) {
			this.editando = true;
			this.setDataEdit();
		} else this.editando = false;
	},
	methods: {
		...mapMutations("solicitudes_gastos", ["setResumenSolicitudActiva"]),
		...mapActions("solicitudes_gastos", [
			"getResumenSolicitudActiva",
			"getMovimientosBySolicitud",
		]),

		async submit() {
			this.overlay = true;
			this.errorSubmit = false;
			this.$v.$touch();

			if (!this.$v.$invalid) {
				try {
					this.form.idUsuario = this.usuario.idUsuario;
					this.form.idSolicitud = this.solicitudActiva.idSolicitud;

					const responseMovimientos = !this.movimiento
						? await axios.post(
								`/api/fn/cg/movimientos/${this.form.idSolicitud}`,
								this.form
						  )
						: await axios.put(
								`/api/fn/cg/movimientos/${this.form.movimiento.idMovimiento}`,
								this.form
						  );

					if (responseMovimientos.data.success) {
						const responseResumen = !this.movimiento
							? await axios.post(
									`/api/fn/cg/solicitudes/decrementado/resumen/${this.form.idSolicitud}`,
									this.form
							  )
							: await axios.put(
									`/api/fn/cg/solicitudes/decrementado/resumen/${this.form.idSolicitud}`,
									this.form
							  );
						if (responseResumen.data.success) {
							this.overlay = false;
							this.getResumenSolicitudActiva(
								this.solicitudActiva.idSolicitud
							);
							this.getMovimientosBySolicitud(
								this.solicitudActiva.idSolicitud
							);
							this.cancel();
						}
					}
				} catch (e) {
					console.log(e);
					this.overlay = false;
					this.errorSubmit = true;
				}
			} else {
				this.overlay = false;
			}
		},
		setDataEdit() {
			this.form.fecha = this.movimiento.fecha;
			this.form.formaPago = this.movimiento.formaPago;
			this.form.idSolicitud = this.movimiento.idSolicitud;
			this.form.importe = this.movimiento.importe;
			this.form.movimiento = this.movimiento;
		},
		cancel() {
			this.$bvModal.hide("modal-decremento");
		},
		hasPermissionRole(role) {
			if (this.permissions.length) {
				const permiso = this.permissions.find(
					(permiso) => permiso.idRole == role
				);
				if (permiso) return true;
				return false;
			}
		},
	},
	computed: {
		...mapState(["permissions", "usuario"]),
		...mapState("solicitudes_gastos", [
			"solicitudActiva",
			"formasPago",
			"resumenSolicitudActiva",
			"busyResumen",
			"limiteCambio",
		]),

		mediosDecremento() {
			if (this.hasPermissionRole("fn.cg.admin.caja.chica")) {
				if (this.solicitudActiva.idSolicitud > 1307) {
					return this.formasPago.filter(
						(forma) =>
							forma.value == "Efectivo Caja Chica" ||
							forma.value == "Banbajio Efectivo" ||
							forma.value == "TP Efectivo"
					);
				} else {
					return this.formasPago.filter(
						(forma) =>
							forma.value == "Efectivo" ||
							forma.value == "Banbajio Efectivo" ||
							forma.value == "TP Efectivo"
					);
				}
			} else {
				if (this.solicitudActiva.idSolicitud > 1307) {
					return this.formasPago.filter(
						(forma) => forma.value != "Efectivo"
					);
				} else {
					return this.formasPago.filter(
						(forma) => forma.value != "Efectivo Caja Chica"
					);
				}
			}
		},
	},
	validations: {
		form: {
			formaPago: { required },
			fecha: { required },
			importe: { required },
		},
	},
};
</script>

<style>
.active {
	background-color: #ffffff00 !important;
}
.vue-form-wizard {
	padding-bottom: 0px;
}
.wizard-header {
	padding: 0px !important;
}
</style>
