<template>
	<b-overlay
		:show="overlay"
		rounded="sm"
		opacity="1.0"
		blur="1px"
		variant="transparent"
	>
		<div class="container" v-if="solicitudActiva && terminado">
			<b-alert
				:variant="status == 'autorizado' ? 'success' : 'danger'"
				:class="marginSuccess"
				show
			>
				<h5 class="text-center mb-0 fs-14">
					Has {{ status }} correctamente la solicitud #
					{{ solicitudActiva.idSolicitud }}
				</h5>
			</b-alert>
		</div>
		<div class="container" v-if="!terminado">
			<template v-if="desdeCorreo">
				<h3 class="text-center mt-5">
					Autorización de la solicitud # {{ form.idSolicitud }}
				</h3>
				<hr />
			</template>
			<p class="text-center fs-14" v-if="form.status == 'autorizado'">
				Estas
				<strong class="text-success">autorizando</strong> esta
				solicitud<template v-if="form.notificar"
					>, al terminar se enviará un correo al departamento de
					tesorería para darle seguimiento a la solicitud</template
				>.
			</p>
			<div v-show="form.status == 'rechazado'">
				<p class="text-center fs-14">
					Estas
					<strong class="text-danger">rechazando</strong> esta
					solicitud, al terminar se enviará un correo al solicitante
					para notificarle sobre este rechazo, el notificante podrá
					actualizar la solicitud a tus condiciones.
				</p>
				<b-form-textarea
					id="textarea"
					v-model="form.comentarios"
					placeholder="Ingresa tus comentarios..."
					rows="5"
					max-rows="6"
				></b-form-textarea>
			</div>
			<template v-if="form.notificar && form.status == 'autorizado'">
				<p class="text-center fs-14">
					Si deseas agregar comentarios al correo que será enviado
					puedes hacerlo ahora y despues dar click en guardar, de lo
					contrario solo da click en guardar.
				</p>
				<b-form-textarea
					id="textarea"
					v-model="form.comentarios"
					placeholder="Ingresa tus comentarios..."
					rows="5"
					max-rows="6"
				></b-form-textarea>
			</template>
			<template v-if="desdeCorreo">
				<center>
					<b-button class="mt-4" size="lg" @click="submit"
						>Terminar</b-button
					>
				</center>
			</template>
			<template v-else>
				<b-row class="mt-4 mb-2">
					<b-col lg="8">
						<!-- <b-form-checkbox
							v-model="form.notificar"
							name="check-button"
							switch
							v-show="form.status == 'autorizado'"
							
						>
							Notificar sobre autorización
						</b-form-checkbox> -->
					</b-col>
					<b-col lg="4">
						<div class="mb-2 text-right">
							<b-button variant="danger" @click="submit"
								>GUARDAR</b-button
							>
						</div>
					</b-col>
				</b-row>
			</template>
		</div>
	</b-overlay>
</template>

<script>
import { mapActions, mapState, mapMutations } from "vuex";
export default {
	props: {
		idSolicitud: Number,
		statusAutorizacion: String,
	},
	data() {
		return {
			overlay: false,
			desdeCorreo: false,
			form: {
				autorizador: null,
				idSolicitud: null,
				comentarios: null,
				idEtapa: null,
				idEtapaOld: 2,
				status: "",
				notificar: true,
			},
		};
	},
	mounted() {
		if (this.$route.params.idSolicitud) {
			this.desdeCorreo = true;
			this.form.idSolicitud = this.$route.params.idSolicitud;
			this.form.status = this.$route.params.status;
			this.getSolicitud(this.form.idSolicitud);
		} else {
			this.form.idSolicitud = this.idSolicitud;
			this.form.status = this.statusAutorizacion;
		}
	},
	methods: {
		...mapActions("solicitudes_gastos", ["getSolicitud"]),
		...mapMutations("solicitudes_gastos", [
			"updateSolicitudActiva",
			"updateSolicitud",
		]),

		async submit() {
			this.overlay = true;
			if (this.form.status == "autorizado") this.form.idEtapa = 3;
			else this.form.idEtapa = 1;
			if (this.form.comentarios) {
				const response = await axios.post(
					BaseUrl + `/api/fn/cg/solicitudes/comentarios`,
					this.form
				);
				if (response.data.success) this.submitAutorizacion();
			} else this.submitAutorizacion();
		},
		async submitAutorizacion() {
			this.form.autorizador = this.usuario.nombreUsuario;
			const response = await axios.put(
				BaseUrl +
					`/api/fn/cg/solicitudes/autorizacion/${this.form.idSolicitud}`,
				this.form
			);
			if (response.data.success) {
				this.updateSolicitud(response.data.solicitud);
				this.updateSolicitudActiva(response.data.solicitud);
				this.overlay = false;
			}
		},
		close() {
			this.$bvModal.hide("modal-autorizacion");
		},
	},
	computed: {
		...mapState(["usuario"]),
		...mapState("solicitudes_gastos", ["solicitudActiva"]),

		terminado() {
			if (this.solicitudActiva) {
				if (
					this.solicitudActiva.idEtapa == 1 ||
					this.solicitudActiva.idEtapa > 2
				)
					return true;
			}
		},
		status() {
			if (this.solicitudActiva) {
				if (this.solicitudActiva.idEtapa == 1) return "rechazado";
				else if (this.solicitudActiva.idEtapa > 2) return "autorizado";
			}
		},
		marginSuccess() {
			if (this.desdeCorreo) return "mt-5";
			else return "mt-0";
		},
	},
};
</script>
