<template>
	<b-overlay
		:show="overlay"
		rounded="sm"
		opacity="1.0"
		blur="1px"
		variant="transparent"
	>
		<b-form-group>
			<template v-slot:label>
				<div class="lab-form">
                   Número de nómina <span class="req">*</span>
                </div>
			</template>
			<b-form-input
				placeholder="Nómina timbrada"
                v-model="$v.form.noNomina.$model"
				:state="
					$v.form.noNomina.$dirty
						? !$v.form.noNomina.$error
						: null
				"
			>
			</b-form-input>
			<b-form-invalid-feedback id="feedback-factura">
				Campo obligatorio
			</b-form-invalid-feedback>
		</b-form-group>

        <b-form-group>
            <template v-slot:label>
				<div class="lab-form">
                    Importe timbrado<span class="req">*</span>
                </div>
			</template>
            <b-input-group prepend="$">
                <vue-numeric
                    class="text-right form-control"
                    separator=","
                    :precision="2"
                    :read-only="false"
                    v-model="$v.form.importe.$model"
                    :state="
                        $v.form.importe.$dirty
                            ? !$v.form.importe.$error
                            : null
                    "
                />
            </b-input-group>
            <b-form-invalid-feedback id="feedback-iva">
                Campo obligatorio
            </b-form-invalid-feedback>
        </b-form-group>

		<div class="d-flex flex-row-reverse bd-highlight">
            <b-button
                variant="danger"
                class="ml-3 my-2"
                @click="submit"
            >
                GUARDAR
            </b-button>
            <b-button
                variant="white"
                class="link-light my-2"
                @click="cancel"
            >
                CANCELAR
            </b-button>
        </div>

	</b-overlay>
</template>

<script>
import { mapMutations, mapState } from "vuex";
import { required } from "vuelidate/lib/validators";
export default {
	data() {
		return {
			overlay: false,
			form: {
				noNomina: "",
				importe: "",
			},
		};
	},
	mounted() {
        this.setDataEdit();
	},
	methods: {
		...mapMutations(["modalSubmit", "modalOk"]),
		...mapMutations("solicitudes_gastos", [
			"updateSolicitudActiva",
		]),
		async submit() {
			this.overlay = true;
			this.$v.$touch();

			if (!this.$v.$invalid) {
				try {
					const response =  await axios.put(
								BaseUrl +
									`/api/fn/cg/solicitud/${this.solicitudActiva.idSolicitud}/timbrar`,
								this.form
						  );
					if (response.data.success) {
                        this.updateSolicitudActiva(response.data.solicitud)
                        this.modalSubmit(true);
					} else this.modalOk(false);
				} catch (e) {
					console.log(e)
					this.overlay = false;
				}
			} else {
				this.overlay = false;
			}
		},
		setDataEdit() {
            if(this.solicitudActiva.noNominaTimbrada)
                this.form.noNomina = this.solicitudActiva.noNominaTimbrada;
            if(this.solicitudActiva.importeTimbrado)
			    this.form.importe = this.solicitudActiva.importeTimbrado;
		},
		cancel() {
			this.$bvModal.hide("modal-timbrar");
		},
	},
	computed: {
		...mapState(["usuario", "okModal"]),
		...mapState("solicitudes_gastos", ["solicitudActiva"]),
	},
	validations: {
		form: {
			noNomina: { required },
			importe: { required },
		},
	},
	watch: {
		okModal() {
			if (this.okModal == true) {
				this.submit();
			}
		},
	},
};
</script>