<template>
	<b-overlay
		:show="overlay"
		rounded="sm"
		opacity="1.0"
		blur="1px"
		variant="transparent"
	>
		<hr class="mt-0" />
		<b-alert
			show
			class="shadow-sm mb-3 mt-2"
			variant="danger"
			style="font-size: 11px; border: 0rem; padding-block: 9px;"
			v-if="errorSubmit"
		>
			<span><i class="fas fa-exclamation-triangle pr-2"></i></span>
			Ha ocurrido un problema al agregar la disposición.
		</b-alert>

		<b-form-group v-if="!editando">
			<template v-slot:label>
				<div class="lab-form">
					Medio de disposición<span class="req">*</span>
				</div>
			</template>

			<b-form-select
				v-model="$v.form.formaPago.$model"
				:options="mediosDisposicion"
				:state="
					$v.form.formaPago.$dirty ? !$v.form.formaPago.$error : null
				"
			>
				<template v-slot:first>
					<option :value="null" disabled>Seleccione</option>
				</template>
			</b-form-select>

			<b-form-invalid-feedback id="feedback-formaPago">
				Campo obligatorio
			</b-form-invalid-feedback>
		</b-form-group>

		<b-form-group>
			<template v-slot:label>
				<div class="lab-form">
					Fecha de disposición<span class="req">*</span>
				</div>
			</template>

			<b-form-datepicker
				id="fechaDisposicion"
				v-model="$v.form.fecha.$model"
				:state="$v.form.fecha.$dirty ? !$v.form.fecha.$error : null"
				locale="es"
				:show-decade-nav="false"
				:hide-header="true"
				label-help
				selected-variant="danger"
				today-variant="secondary"
				placeholder="Elegir una fecha"
			></b-form-datepicker>
			<b-form-invalid-feedback id="feedback-fecha-dispersion">
				Campo obligatorio
			</b-form-invalid-feedback>
		</b-form-group>

		<fieldset class="scheduler-border">
			<legend class="scheduler-border" style="font-size: 16px;">
				<strong>Comprobante: <span class="req">*</span></strong>
			</legend>

			<template v-if="activeComprobante">
				<b-form-group  class="mb-2 mt-2">
					<b-form-file
						v-model="$v.form.file.$model"
						:state="$v.form.file.$dirty ? !$v.form.file.$error : null"
						accept="image/*, application/pdf"
						plain
					></b-form-file>
				</b-form-group>
				<b-link
					v-if="permissionRegresar"
					@click="activeComprobante = false"
					class="text-secondary float-right pr-1 fs-13"
				>
					Regresar
				</b-link>
			</template>

			<template v-else>
				<b-media>
					<template #aside>
						<i
							class="far fa-file px-2 pt-2"
							style="font-size: 19px;"
						></i>
					</template>
					<h5 class="mt-0 fs-13 mb-1">
						<font class="pr-3">{{ disposicion.file }}</font>
						<b-link
							@click="activeComprobante = true"
							class="text-danger pr-2"
						>
							<b-icon
								icon="pencil-square"
								class="mr-1"
							></b-icon>
							Cambiar
						</b-link>
					</h5>
					<p class="mb-0 fs-12">
						Ext:
						{{ extFile(disposicion.file) }}
					</p>
				</b-media>
			</template>
		</fieldset>

		<b-form-group>
			<template v-slot:label>
				<div class="lab-form">Importe<span class="req">*</span></div>
			</template>
			<b-input-group prepend="$">
				<vue-numeric
					class="text-right form-control"
					separator=","
					:precision="2"
					:read-only="false"
					v-model="$v.form.importe.$model"
					:state="
						$v.form.importe.$dirty ? !$v.form.importe.$error : null
					"
				/>
			</b-input-group>
			<b-form-invalid-feedback id="feedback-importe-dispersion">
				Campo obligatorio
			</b-form-invalid-feedback>
		</b-form-group>

		<b-form-group>
			<template v-slot:label>
				<div class="lab-form">
					Comisión por retiro<span class="req">*</span>
				</div>
			</template>
			<b-input-group prepend="$">
				<vue-numeric
					class="text-right form-control"
					separator=","
					:precision="2"
					:read-only="false"
					v-model="$v.form.comision.$model"
					:state="
						$v.form.comision.$dirty
							? !$v.form.comision.$error
							: null
					"
				/>
			</b-input-group>
			<b-form-invalid-feedback id="feedback-comision-dispersion">
				Campo obligatorio
			</b-form-invalid-feedback>
		</b-form-group>

		<div class="d-flex flex-row-reverse bd-highlight">
			<b-button variant="danger" class="ml-3 my-2" @click="submit">
				<font>
					AGREGAR
				</font>
			</b-button>
			<b-button variant="white" class="link-light my-2" @click="cancel()">
				CANCELAR
			</b-button>
		</div>
	</b-overlay>
</template>

<script>
import { required } from "vuelidate/lib/validators";
import { mapState, mapMutations, mapActions } from "vuex";

export default {
	props: {
		disposicion: Object,
		mediosDisposicion: Array,
	},
	data() {
		return {
			overlay: false,
			errorSubmit: false,
			editando: false,
			activeComprobante: true,
			form: {
				formaPago: null,
				fecha: null,
				importe: 0,
				comision: 0,
				file: null,
			},
		};
	},
	mounted() {
		if (this.disposicion) {
			this.editando = true;
			if (this.disposicion.file) {
				this.activeComprobante = false;
			} else this.activeComprobante = true;
			this.setDataEdit();
		} else {
			this.editando = false;
			this.activeComprobante = true;
		}
	},
	methods: {
		...mapActions("solicitudes_gastos", [
			"getResumenSolicitudActiva",
			"getMovimientosBySolicitud",
		]),
		...mapMutations("fn_cg_disposicion_efectivo", [
			"addDisposicion",
			"updateDisposicion",
		]),

		async submit() {
			this.overlay = true;
			this.errorSubmit = false;
			this.$v.$touch();
			if (!this.$v.$invalid) {
				try {
					const data = new FormData();
					data.append(
						"idSolicitud",
						this.solicitudActiva.idSolicitud
					);
					data.append("formaPago", this.form.formaPago);
					data.append("fecha", this.form.fecha);
					data.append("importe", this.form.importe);
					data.append("comision", this.form.comision);
					data.append("file", this.form.file);

					if (this.disposicion) {
						data.append(
							"idDisposicion",
							this.disposicion.idDisposicion
						);
						data.append("_method", "PUT");
					}

					const response = await axios.post(
						BaseUrl + `/api/fn/cg/solicitudes/disposicion/efectivo`,
						data
					);

					if (response.data.success) {
						if (this.disposicion) {
							this.updateDisposicion(response.data.disposicion);
						} else {
							this.addDisposicion(response.data.disposicion);
						}
						this.getResumenSolicitudActiva(
							response.data.disposicion.idSolicitud
						);
						this.getMovimientosBySolicitud(
							response.data.disposicion.idSolicitud
						);
						this.overlay = false;
						this.cancel();
					}
				} catch (e) {
					console.log(e);
					this.overlay = false;
					this.errorSubmit = true;
				}
			} else {
				this.overlay = false;
			}
		},
		setDataEdit() {
			this.form.fecha = this.disposicion.fecha;
			this.form.formaPago = this.disposicion.formaPago;
			this.form.importe = this.disposicion.importe;
			this.form.comision = this.disposicion.comision;
		},
		cancel() {
			this.$bvModal.hide("modal-disposicion");
		},
		extFile(file) {
			var ext = file.split(".", 2);
			return ext[1].toUpperCase();
		},
	},
	computed: {
		...mapState(["usuario"]),
		...mapState("solicitudes_gastos", ["solicitudActiva", "limiteCambio"]),

		permissionRegresar() {
			if (this.disposicion && this.disposicion.file) return true;
			else return false;
		},
	},
	validations() {
		if (this.activeComprobante) {
			return {
				form: {
					formaPago: { required },
					fecha: { required },
					importe: { required },
					comision: { required },
					file: { required },
				},
			};
		}else {
			return {
				form: {
					formaPago: { required },
					fecha: { required },
					importe: { required },
					comision: { required },
					file: { },
				},
			};
		}
	},
	watch: {
		activeComprobante() {
			this.form.file = null;
		},
	}
};
</script>
