<template>
	<b-overlay
		:show="overlay"
		rounded="sm"
		opacity="1.0"
		blur="1px"
		variant="transparent"
	>
		<hr class="mt-0" />
		<b-row>
			<b-col>
				<b-row>
					<b-col lg="6">
						<h6 class="mb-0">{{ usuario.nombreUsuario }}</h6>
					</b-col>
					<b-col lg="6" class="text-right">
						<h6 class="mb-0">{{ fechaSolicitud }}</h6>
					</b-col>
				</b-row>
				<hr />
				<b-alert variant="danger" class="p-2" show v-if="errorSubmit">
					<h6 class="text-center mt-2">
						<i class="fas fa-exclamation-triangle mr-2"></i>
						Ha ocurrido un problema al enviar la solicitud
					</h6>
				</b-alert>

				<template v-if="permissionsAsignar">
					<b-form-group class="mb-2">
						<b-form-checkbox
							v-model="asignacionGasto"
							name="check-button"
							style="font-size: 13px;"
							switch
						>
							Asignar viático a otro empleado
						</b-form-checkbox>
					</b-form-group>

					<b-form-group v-if="asignacionGasto">
						<b-form-select
							v-model="responsableGasto"
							:options="usuariosAsignacion"
							style="font-size: 13px;"
							@change="setTarjeta($event)"
						>
							<template v-slot:first>
								<option :value="null" disabled
									>Seleccione el empleado</option
								>
							</template>
						</b-form-select>
					</b-form-group>
				</template>

				<b-alert
					show
					class="my-3 fs-11 shadow-sm"
					style="border: 0.1rem solid #e9ecef; border-radius: 0rem; padding: 1rem 1.25rem; background-color: #f8f9fa; color: #495057;"
				>
					<template v-if="loadingTarjeta">
						<b-skeleton animation="wave" width="85%"></b-skeleton>
						<b-skeleton animation="wave" width="70%"></b-skeleton>
					</template>

					<b-media v-else>
						<template #aside>
							<i
								class="far fa-credit-card px-2 text-dark"
								style="font-size: 20px;"
							></i>
						</template>

						<h5 id="badge-tarjeta" class="mt-0 mb-1 fs-13">
							<strong>Tarjeta Banbajio</strong>
							<b-badge
								class="px-2 ml-2"
								:variant="tarjetaAsignada.color"
								>{{ tarjetaAsignada.label }}</b-badge
							>
						</h5>
						<p class="mb-0">
							{{ tarjetaAsignada.numero }}
						</p>
					</b-media>
				</b-alert>

				<b-row>
					<b-col>
						<b-form-group class="mb-0">
							<template v-slot:label>
								<div class="lab-form">
									Cuenta<span class="req">*</span>
								</div>
							</template>
							<b-form-input
								readonly
								v-model="$v.form.cuenta.$model"
								placeholder="Asigne una cuenta"
								:state="
									$v.form.cuenta.$dirty
										? !$v.form.cuenta.$error
										: null
								"
							>
							</b-form-input>

							<b-form-invalid-feedback id="feedback-proveedor">
								Campo obligatorio
							</b-form-invalid-feedback>

							<b-button
								v-if="form.cuenta"
								variant="link"
								class="text-secondary float-right"
								style="cursor: pointer"
								@click="cambiarCuenta()"
								><small>Cambiar cuenta</small>
							</b-button>

							<b-button
								v-else
								variant="link"
								class="text-secondary float-right"
								style="cursor: pointer"
								@click="asignar('cuenta')"
								><small>Asignar cuenta</small>
							</b-button>
						</b-form-group>
					</b-col>
				</b-row>

				<b-form-group>
					<template v-slot:label>
						<div class="lab-form">
							Destino del viático<span class="req">*</span>
						</div>
					</template>
					<b-form-input
						placeholder="Indique a donde se dirige"
						v-model="$v.form.destinoGasto.$model"
						@input="destinoToUpper"
						:state="
							$v.form.destinoGasto.$dirty
								? !$v.form.destinoGasto.$error
								: null
						"
					>
					</b-form-input>
					<b-form-invalid-feedback id="feedback-destino-viatico">
						Campo obligatorio
					</b-form-invalid-feedback>
				</b-form-group>

				<b-form-group>
					<template v-slot:label>
						<div class="lab-form">
							Objetivo del viático<span class="req">*</span>
						</div>
					</template>
					<b-form-textarea
						placeholder="Describa el objetivo de su gasto"
						v-model="$v.form.objetivoGasto.$model"
						@input="objetivoToUpper"
						:state="
							$v.form.objetivoGasto.$dirty
								? !$v.form.objetivoGasto.$error
								: null
						"
					>
					</b-form-textarea>
					<b-form-invalid-feedback id="feedback-objetivo-viatico">
						Campo obligatorio
					</b-form-invalid-feedback>
				</b-form-group>

				<b-row>
					<b-col>
						<b-form-group
							description="Personas que utilizarán el viático"
						>
							<template v-slot:label>
								<div class="lab-form">
									Número de personas<span class="req">*</span>
								</div>
							</template>
							<b-form-input
								type="number"
								placeholder="0"
								v-model="$v.form.numeroPersonas.$model"
								:state="
									$v.form.numeroPersonas.$dirty
										? !$v.form.numeroPersonas.$error
										: null
								"
							>
							</b-form-input>
							<b-form-invalid-feedback
								id="feedback-numero-personas"
							>
								Campo obligatorio
							</b-form-invalid-feedback>
						</b-form-group>
					</b-col>
					<b-col>
						<b-form-group>
							<template v-slot:label>
								<div class="lab-form">
									Tipo de moneda<span class="req">*</span>
								</div>
							</template>

							<b-form-select
								v-model="$v.form.tipoMoneda.$model"
								:options="selectTipoMoneda"
								:state="
									$v.form.tipoMoneda.$dirty
										? !$v.form.tipoMoneda.$error
										: null
								"
							>
								<template v-slot:first>
									<option :value="null" disabled
										>Seleccione</option
									>
								</template>
							</b-form-select>

							<b-form-invalid-feedback id="feedback-tipoMoneda">
								Campo obligatorio
							</b-form-invalid-feedback>
						</b-form-group>
					</b-col>
				</b-row>

				<fieldset class="scheduler-border">
					<legend class="scheduler-border" style="font-size: 17px;">
						Periodo del gasto
					</legend>

					<b-row>
						<b-col>
							<b-form-group
								id="fieldset-horizontal"
								label-cols-lg="0"
								content-cols-lg="12"
								description="Fecha de inicio"
								label=""
								label-for="fechaInicio"
							>
								<b-form-datepicker
									id="fechaInicio"
									locale="es"
									v-model="$v.form.fechaInicioGasto.$model"
									:state="
										$v.form.fechaInicioGasto.$dirty
											? !$v.form.fechaInicioGasto.$error
											: null
									"
									:show-decade-nav="false"
									:hide-header="true"
									selected-variant="danger"
									today-variant="secondary"
									:label-no-date-selected="
										'Seleccionar fecha'
									"
									style="font-size: 13px;"
								>
								</b-form-datepicker>
								<b-form-invalid-feedback
									id="feedback-fecha-inicio-gasto"
								>
									Campo obligatorio
								</b-form-invalid-feedback>
							</b-form-group>
						</b-col>
						<b-col>
							<b-form-group
								id="fieldset-horizontal"
								label-cols-lg="0"
								content-cols-lg="12"
								description="Fecha de término"
								label=""
								label-for="fechaTermino"
							>
								<b-form-datepicker
									id="fechaTermino"
									locale="es"
									v-model="$v.form.fechaFinGasto.$model"
									:state="
										$v.form.fechaFinGasto.$dirty
											? !$v.form.fechaFinGasto.$error
											: null
									"
									:show-decade-nav="false"
									:hide-header="true"
									selected-variant="danger"
									today-variant="secondary"
									:label-no-date-selected="
										'Seleccionar fecha'
									"
									style="font-size: 13px;"
								>
								</b-form-datepicker>
								<b-form-invalid-feedback
									id="feedback-fecha-fin-gasto"
								>
									Campo obligatorio
								</b-form-invalid-feedback>
							</b-form-group>
						</b-col>
					</b-row>
				</fieldset>

				<fieldset
					v-if="tipoSolicitud == 'SOL'"
					class="scheduler-border"
				>
					<legend
						class="scheduler-border mb-3"
						style="font-size: 17px;"
					>
						Clasificación del gasto
					</legend>

					<b-table-simple
						responsive
						style="font-size: 12px;"
						class="table-clasificacion"
					>
						<b-tbody>
							<b-tr
								:class="
									form.alimentacion.disabled
										? 'bg-color-tr-clasificacion'
										: ''
								"
							>
								<b-td colspan="2" class="py-1">
									<b-form-checkbox
										id="checkbox-alimentacion"
										v-model="form.alimentacion.disabled"
										name="checkbox-alimentacion"
										:value="true"
										class="pt-0 cbox_clasf"
										@change="activarGasto('alimentacion')"
										:unchecked-value="false"
									>
										<h6
											class="ml-2 mb-0 pt-1"
											style="font-size: 12px;"
										>
											Alimentación
										</h6>
									</b-form-checkbox>
								</b-td>
							</b-tr>
							<b-tr v-if="form.alimentacion.disabled">
								<b-td>
									<b-form-group
										class="mb-0"
										style="font-size: 12px;"
									>
										<vue-numeric
											v-model="
												$v.form.alimentacion['importe']
													.$model
											"
											:state="
												$v.form.alimentacion['importe']
													.$dirty
													? !$v.form.alimentacion[
															'importe'
													  ].$error
													: null
											"
											class="text-right form-control form-control-sm"
											placeholder="0.00"
											separator=","
											block
											:precision="2"
											currency="$"
											:read-only="false"
											style="font-size: 12px;"
											:class="
												$v.form.alimentacion['importe']
													.$error
													? 'border-error'
													: ''
											"
										/>
										<div
											v-if="
												$v.form.alimentacion['importe']
													.$error
											"
											class="invalid-feedback-error"
										>
											Campo obligatorio
										</div>
									</b-form-group>
								</b-td>
								<b-td>
									<b-form-group
										class="mb-0"
										style="font-size: 12px;"
									>
										<b-form-select
											v-model="
												$v.form.alimentacion[
													'formaPago'
												].$model
											"
											:state="
												$v.form.alimentacion[
													'formaPago'
												].$dirty
													? !$v.form.alimentacion[
															'formaPago'
													  ].$error
													: null
											"
											size="sm"
											:options="formasPagoFiltered"
										>
											<template v-slot:first>
												<option :value="null" disabled
													>Solicitud del recurso
													en</option
												>
											</template>
										</b-form-select>
										<b-form-invalid-feedback
											id="feedback-alimentacion-formaPago"
										>
											Campo obligatorio
										</b-form-invalid-feedback>
									</b-form-group>
								</b-td>
							</b-tr>
							<b-tr
								:class="
									form.hospedaje.disabled
										? 'bg-color-tr-clasificacion'
										: ''
								"
							>
								<b-td colspan="2" class="py-1">
									<b-form-checkbox
										id="checkbox-hospedaje"
										v-model="form.hospedaje.disabled"
										name="checkbox-hospedaje"
										:value="true"
										class="pt-0 cbox_clasf"
										@change="activarGasto('hospedaje')"
										:unchecked-value="false"
									>
										<h6
											class="ml-2 mb-0 pt-1"
											style="font-size: 12px;"
										>
											Hospedaje
										</h6>
									</b-form-checkbox>
								</b-td>
							</b-tr>
							<b-tr v-if="form.hospedaje.disabled">
								<b-td>
									<b-form-group
										class="mb-0"
										style="font-size: 12px;"
									>
										<vue-numeric
											v-model="
												$v.form.hospedaje['importe']
													.$model
											"
											:state="
												$v.form.hospedaje['importe']
													.$dirty
													? !$v.form.hospedaje[
															'importe'
													  ].$error
													: null
											"
											class="text-right form-control form-control-sm"
											placeholder="0.00"
											separator=","
											block
											:precision="2"
											currency="$"
											:read-only="false"
											style="font-size: 12px;"
											:class="
												$v.form.hospedaje['importe']
													.$error
													? 'border-error'
													: ''
											"
										/>
										<div
											v-if="
												$v.form.hospedaje['importe']
													.$error
											"
											class="invalid-feedback-error"
										>
											Campo obligatorio
										</div>
									</b-form-group>
								</b-td>
								<b-td>
									<b-form-group
										class="mb-0"
										style="font-size: 12px;"
									>
										<b-form-select
											v-model="
												$v.form.hospedaje['formaPago']
													.$model
											"
											:state="
												$v.form.hospedaje['formaPago']
													.$dirty
													? !$v.form.hospedaje[
															'formaPago'
													  ].$error
													: null
											"
											size="sm"
											:options="formasPagoFiltered"
										>
											<template v-slot:first>
												<option :value="null" disabled
													>Solicitud del recurso
													en</option
												>
											</template>
										</b-form-select>
										<b-form-invalid-feedback
											id="feedback-hospedaje-formaPago"
										>
											Campo obligatorio
										</b-form-invalid-feedback>
									</b-form-group>
								</b-td>
							</b-tr>
							<b-tr
								:class="
									form.combustibles.disabled
										? 'bg-color-tr-clasificacion'
										: ''
								"
							>
								<b-td colspan="2" class="py-1">
									<b-form-checkbox
										id="checkbox-combustibles"
										v-model="form.combustibles.disabled"
										name="checkbox-combustibles"
										:value="true"
										class="pt-0 cbox_clasf"
										@change="activarGasto('combustibles')"
										:unchecked-value="false"
									>
										<h6
											class="ml-2 mb-0 pt-1"
											style="font-size: 12px;"
										>
											Combustibles
										</h6>
									</b-form-checkbox>
								</b-td>
							</b-tr>
							<b-tr v-if="form.combustibles.disabled">
								<b-td>
									<b-form-group
										class="mb-0"
										style="font-size: 12px;"
									>
										<vue-numeric
											v-model="
												$v.form.combustibles['importe']
													.$model
											"
											:state="
												$v.form.combustibles['importe']
													.$dirty
													? !$v.form.combustibles[
															'importe'
													  ].$error
													: null
											"
											class="text-right form-control form-control-sm"
											placeholder="0.00"
											separator=","
											block
											:precision="2"
											currency="$"
											:read-only="false"
											style="font-size: 12px;"
											:class="
												$v.form.combustibles['importe']
													.$error
													? 'border-error'
													: ''
											"
										/>
										<div
											v-if="
												$v.form.combustibles['importe']
													.$error
											"
											class="invalid-feedback-error"
										>
											Campo obligatorio
										</div>
									</b-form-group>
								</b-td>
								<b-td>
									<b-form-group
										class="mb-0"
										style="font-size: 12px;"
									>
										<b-form-select
											v-model="
												$v.form.combustibles[
													'formaPago'
												].$model
											"
											:state="
												$v.form.combustibles[
													'formaPago'
												].$dirty
													? !$v.form.combustibles[
															'formaPago'
													  ].$error
													: null
											"
											size="sm"
											:options="formasPagoCombustibles"
										>
											<template v-slot:first>
												<option :value="null" disabled
													>Solicitud del recurso
													en</option
												>
											</template>
										</b-form-select>
										<b-form-invalid-feedback
											id="feedback-combustibles-formaPago"
										>
											Campo obligatorio
										</b-form-invalid-feedback>
									</b-form-group>
								</b-td>
							</b-tr>
							<b-tr
								:class="
									form.peajes.disabled
										? 'bg-color-tr-clasificacion'
										: ''
								"
							>
								<b-td colspan="2" class="py-1">
									<b-form-checkbox
										id="checkbox-peajes"
										v-model="form.peajes.disabled"
										name="checkbox-peajes"
										:value="true"
										class="pt-0 cbox_clasf"
										@change="activarGasto('peajes')"
										:unchecked-value="false"
									>
										<h6
											class="ml-2 mb-0 pt-1"
											style="font-size: 12px;"
										>
											Peajes
										</h6>
									</b-form-checkbox>
								</b-td>
							</b-tr>
							<b-tr v-if="form.peajes.disabled">
								<b-td>
									<b-form-group
										class="mb-0"
										style="font-size: 12px;"
									>
										<vue-numeric
											v-model="
												$v.form.peajes['importe'].$model
											"
											:state="
												$v.form.peajes['importe'].$dirty
													? !$v.form.peajes['importe']
															.$error
													: null
											"
											class="text-right form-control form-control-sm"
											placeholder="0.00"
											separator=","
											block
											:precision="2"
											currency="$"
											:read-only="false"
											style="font-size: 12px;"
											:class="
												$v.form.peajes['importe'].$error
													? 'border-error'
													: ''
											"
										/>
										<div
											v-if="
												$v.form.peajes['importe'].$error
											"
											class="invalid-feedback-error"
										>
											Campo obligatorio
										</div>
									</b-form-group>
								</b-td>
								<b-td>
									<b-form-group
										class="mb-0"
										style="font-size: 12px;"
									>
										<b-form-select
											v-model="
												$v.form.peajes['formaPago']
													.$model
											"
											:state="
												$v.form.peajes['formaPago']
													.$dirty
													? !$v.form.peajes[
															'formaPago'
													  ].$error
													: null
											"
											size="sm"
											:options="formasPagoFiltered"
										>
											<template v-slot:first>
												<option :value="null" disabled
													>Solicitud del recurso
													en</option
												>
											</template>
										</b-form-select>
										<b-form-invalid-feedback
											id="feedback-peajes-formaPago"
										>
											Campo obligatorio
										</b-form-invalid-feedback>
									</b-form-group>
								</b-td>
							</b-tr>
							<b-tr
								:class="
									form.transportes.disabled
										? 'bg-color-tr-clasificacion'
										: ''
								"
							>
								<b-td colspan="2" class="py-1">
									<b-form-checkbox
										id="checkbox-transportes"
										v-model="form.transportes.disabled"
										name="checkbox-transportes"
										:value="true"
										class="pt-0 cbox_clasf"
										@change="activarGasto('transportes')"
										:unchecked-value="false"
									>
										<h6
											class="ml-2 mb-0 pt-1"
											style="font-size: 12px;"
										>
											Transportes
										</h6>
									</b-form-checkbox>
								</b-td>
							</b-tr>
							<b-tr v-if="form.transportes.disabled">
								<b-td>
									<b-form-group
										class="mb-0"
										style="font-size: 12px;"
									>
										<vue-numeric
											v-model="
												$v.form.transportes['importe']
													.$model
											"
											:state="
												$v.form.transportes['importe']
													.$dirty
													? !$v.form.transportes[
															'importe'
													  ].$error
													: null
											"
											class="text-right form-control form-control-sm"
											placeholder="0.00"
											separator=","
											block
											:precision="2"
											currency="$"
											:read-only="false"
											style="font-size: 12px;"
											:class="
												$v.form.transportes['importe']
													.$error
													? 'border-error'
													: ''
											"
										/>
										<div
											v-if="
												$v.form.transportes['importe']
													.$error
											"
											class="invalid-feedback-error"
										>
											Campo obligatorio
										</div>
									</b-form-group>
								</b-td>
								<b-td>
									<b-form-group
										class="mb-0"
										style="font-size: 12px;"
									>
										<b-form-select
											v-model="
												$v.form.transportes['formaPago']
													.$model
											"
											:state="
												$v.form.transportes['formaPago']
													.$dirty
													? !$v.form.transportes[
															'formaPago'
													  ].$error
													: null
											"
											size="sm"
											:options="formasPagoFiltered"
										>
											<template v-slot:first>
												<option :value="null" disabled
													>Solicitud del recurso
													en</option
												>
											</template>
										</b-form-select>
										<b-form-invalid-feedback
											id="feedback-transportes-formaPago"
										>
											Campo obligatorio
										</b-form-invalid-feedback>
									</b-form-group>
								</b-td>
							</b-tr>
							<b-tr
								:class="
									form.otros.disabled
										? 'bg-color-tr-clasificacion'
										: ''
								"
							>
								<b-td colspan="2" class="py-1">
									<b-form-checkbox
										id="checkbox-otros"
										v-model="form.otros.disabled"
										name="checkbox-otros"
										:value="true"
										class="pt-0 cbox_clasf"
										@change="activarGasto('otros')"
										:unchecked-value="false"
									>
										<h6
											class="ml-2 mb-0 pt-1"
											style="font-size: 12px;"
										>
											Otros
										</h6>
									</b-form-checkbox>
								</b-td>
							</b-tr>
							<b-tr v-if="form.otros.disabled">
								<b-td>
									<b-form-group
										class="mb-0"
										style="font-size: 12px;"
									>
										<vue-numeric
											v-model="
												$v.form.otros['importe'].$model
											"
											:state="
												$v.form.otros['importe'].$dirty
													? !$v.form.otros['importe']
															.$error
													: null
											"
											class="text-right form-control form-control-sm"
											placeholder="0.00"
											separator=","
											block
											:precision="2"
											currency="$"
											:read-only="false"
											style="font-size: 12px;"
											:class="
												$v.form.otros['importe'].$error
													? 'border-error'
													: ''
											"
										/>
										<div
											v-if="
												$v.form.otros['importe'].$error
											"
											class="invalid-feedback-error"
										>
											Campo obligatorio
										</div>
									</b-form-group>
								</b-td>
								<b-td>
									<b-form-group
										class="mb-0"
										style="font-size: 12px;"
									>
										<b-form-select
											v-model="
												$v.form.otros['formaPago']
													.$model
											"
											:state="
												$v.form.otros['formaPago']
													.$dirty
													? !$v.form.otros[
															'formaPago'
													  ].$error
													: null
											"
											size="sm"
											:options="formasPagoFiltered"
										>
											<template v-slot:first>
												<option :value="null" disabled
													>Solicitud del recurso
													en</option
												>
											</template>
										</b-form-select>
										<b-form-invalid-feedback
											id="feedback-otros-formaPago"
										>
											Campo obligatorio
										</b-form-invalid-feedback>
									</b-form-group>
								</b-td>
							</b-tr>
						</b-tbody>
						<b-tfoot>
							<b-tr style="background-color: whitesmoke;">
								<b-td class="text-right">
									<strong>T o t a l (MXN):</strong>
								</b-td>
								<b-td class="text-right">
									<strong>
										<vue-numeric
											class="text-right form-control form-control-sm"
											separator=","
											:precision="2"
											currency="$"
											:read-only="true"
											:value="totalSolicitud"
											style="margin-bottom: 0px;"
										/>
									</strong>
								</b-td>
							</b-tr>
						</b-tfoot>
					</b-table-simple>
				</fieldset>

				<div class="d-flex flex-row-reverse bd-highlight">
					<b-button
						variant="danger"
						class="ml-3 my-2"
						@click="submit"
					>
						<font v-if="totalSolicitud > 0">
							ENVIAR
						</font>
						<font v-else>
							GUARDAR
						</font>
					</b-button>
					<b-button
						variant="white"
						class="link-light my-2"
						@click="cancel"
					>
						CANCELAR
					</b-button>
				</div>
			</b-col>
			<b-col v-if="asignarCuenta" class="border-left">
				<tipo-cuenta-component
					@setCuenta="setCuenta($event)"
					:dataCuentaEdit="dataCuentaEdit"
					:seccion="'fn.cg.sv'"
					@cancelar="terminarAsignar"
				/>
			</b-col>
		</b-row>
	</b-overlay>
</template>

<script>
import { mapMutations, mapState, mapActions } from "vuex";
import { required, minValue, requiredIf } from "vuelidate/lib/validators";

export default {
	props: {
		solicitud: Object,
		tipoSolicitud: String,
		usuarios: Array,
	},
	data() {
		return {
			errorSubmit: false,
			overlay: false,
			loadingTarjeta: false,
			formatted: "",
			form: {
				destinoGasto: "",
				objetivoGasto: "",
				fechaInicioGasto: "",
				fechaFinGasto: "",
				idUsuario: null,
				importe_total: 0,
				tipoCuenta: "",
				cuenta: null,
				numeroPersonas: 1,
				tipoMoneda: null,
				tarjeta: null,

				alimentacion: {
					importe: "",
					formaPago: null,
					disabled: false,
				},
				hospedaje: {
					importe: "",
					formaPago: null,
					disabled: false,
				},
				combustibles: {
					importe: "",
					formaPago: null,
					disabled: false,
				},
				peajes: {
					importe: "",
					formaPago: null,
					disabled: false,
				},
				transportes: {
					importe: "",
					formaPago: null,
					disabled: false,
				},
				otros: {
					importe: "",
					formaPago: null,
					disabled: false,
				},
			},
			clasificaciones: [
				"alimentacion",
				"hospedaje",
				"combustibles",
				"peajes",
				"transportes",
				"otros",
			],
			resumen: [],
			planeacionGasto: [],
			asignarCuenta: false,
			dataCuentaEdit: null,
			asignacionGasto: false,
			responsableGasto: null,
			selectTipoMoneda: [
				{ value: "MXN", text: "MXN - Peso mexicano" },
				{ value: "USD", text: "USD - Dólar estadounidense" },
			],
		};
	},
	mounted() {
		if (this.solicitud) this.setDataEdit();
		if (this.usuario && !this.solicitud)
			this.form.tarjeta = this.usuario.tarjeta_banbajio;
	},
	methods: {
		...mapActions("solicitudes_gastos", [
			"getResumenSolicitudActiva",
			"getPlaneacionSolicitudActiva",
		]),
		...mapMutations(["modalSubmit", "modalOk"]),
		...mapMutations("solicitudes_gastos", [
			"addSolicitud",
			"updateSolicitud",
		]),

		async submit() {
			this.overlay = true;
			this.errorSubmit = false;
			this.$v.$touch();
			if (!this.$v.$invalid) {
				try {
					this.setPlaneacionGasto();
					this.setResumenGasto();
					if (this.asignacionGasto && this.responsableGasto) {
						this.form.idUsuario = this.responsableGasto;
						this.form.idAsignador = this.usuario.idUsuario;
					} else {
						this.form.idUsuario = this.usuario.idUsuario;
						this.form.idAsignador = null;
					}
					this.form.importe_total = this.totalSolicitud;
					this.form.planeacionGasto = this.planeacionGasto;

					const response = !this.solicitud
						? await axios.post(
								BaseUrl + `/api/fn/cg/solicitudes`,
								this.form
						  )
						: await axios.put(
								BaseUrl +
									`/api/fn/cg/solicitudes/${this.solicitud.idSolicitud}`,
								this.form
						  );
					if (response.data.success) {
						const idSolicitud = response.data.solicitud.idSolicitud;
						const resumen = { resumen: this.resumen };
						const responseResumen = !this.solicitud
							? await axios.post(
									BaseUrl +
										`/api/fn/cg/solicitudes/resumen/${idSolicitud}`,
									resumen
							  )
							: await axios.put(
									BaseUrl +
										`/api/fn/cg/solicitudes/resumen/${idSolicitud}`,
									resumen
							  );
						if (responseResumen.data.success) {
							this.getResumenSolicitudActiva(
								response.data.solicitud.idSolicitud
							);
							if (this.solicitud)
								this.getPlaneacionSolicitudActiva(
									response.data.solicitud.idSolicitud
								);
						}
						if (!this.solicitud) {
							if (
								this.usuario.idUsuario ==
								response.data.solicitud.idUsuario
							) {
								this.addSolicitud(response.data.solicitud);
							}
						} else this.updateSolicitud(response.data.solicitud);
						this.modalSubmit(true);
						this.overlay = false;
					} else {
						this.modalOk(false);
					}
				} catch (e) {
					console.log(e);
					this.overlay = false;
					this.errorSubmit = true;
				}
			} else {
				this.overlay = false;
			}
		},
		setDataEdit() {
			this.form.destinoGasto = this.solicitud.destinoGasto;
			this.form.objetivoGasto = this.solicitud.objetivoGasto;
			this.form.tipoCuenta = this.solicitud.tipoCuenta;
			this.form.cuenta = this.solicitud.cuenta;
			this.form.fechaInicioGasto = this.solicitud.fechaInicioGasto;
			this.form.fechaFinGasto = this.solicitud.fechaFinGasto;
			this.form.numeroPersonas = this.solicitud.numeroPersonas;
			this.form.tipoMoneda = this.solicitud.tipoMoneda;
			this.form.tarjeta = this.solicitud.tarjeta;

			this.solicitud.planeacionGasto.forEach((item) => {
				this.form[item.clasificacion].importe = item.importe;
				this.form[item.clasificacion].formaPago = item.formaPago;
				this.form[item.clasificacion].disabled = item.disabled;
			}, this);
		},
		cancel() {
			this.$bvModal.hide("modal-solicitud");
		},
		activarGasto(clasificacion) {
			this.form[clasificacion].importe = "";
			this.form[clasificacion].formaPago = null;
			this.$v.form[clasificacion].$reset();
		},
		setPlaneacionGasto() {
			this.clasificaciones.forEach((clasificacion) => {
				if (this.form[clasificacion].disabled) {
					let formatearClasificacion =
						clasificacion.charAt(0).toUpperCase() +
						clasificacion.slice(1);
					if (formatearClasificacion == "Alimentacion")
						formatearClasificacion = "Alimentación";
					this.planeacionGasto.push({
						clasificacion: formatearClasificacion,
						importe: this.form[clasificacion].importe,
						formaPago: this.form[clasificacion].formaPago,
					});
				}
			}, this);
		},
		setResumenGasto() {
			if (this.planeacionGasto.length) {
				var data = [];
				const uniqueFormasPago = [
					...new Set(
						this.planeacionGasto.map((item) => item.formaPago)
					),
				];
				uniqueFormasPago.forEach((formaPago) => {
					var importe = this.planeacionGasto
						.filter(
							(item) =>
								item.formaPago == formaPago &&
								item.formaPago != "Tarjeta Banbajio" &&
								item.formaPago != "Banbajio Efectivo"
						)
						.reduce(
							(suma, item) =>
								suma + parseFloat(Number(item.importe)),
							0
						);
					if (importe > 0) {
						data.push({
							formaPago: formaPago,
							solicitado: importe,
						});
					}
				}, this);

				if (
					uniqueFormasPago.includes("Tarjeta Banbajio") ||
					uniqueFormasPago.includes("Banbajio Efectivo")
				) {
					var importe = this.planeacionGasto
						.filter(
							(item) =>
								item.formaPago == "Tarjeta Banbajio" ||
								item.formaPago == "Banbajio Efectivo"
						)
						.reduce(
							(suma, item) =>
								suma + parseFloat(Number(item.importe)),
							0
						);
					data.push({
						formaPago: "Tarjeta Banbajio",
						solicitado: importe,
					});
				}
				this.resumen = data;
			} else this.resumen = [];
		},
		destinoToUpper(val) {
			this.form.destinoGasto = val.toUpperCase();
		},
		objetivoToUpper(val) {
			this.form.objetivoGasto = val.toUpperCase();
		},
		setUsuariosPermitidos(codigo) {
			if (codigo == "DRN" || codigo == "CDT") {
				return this.usuarios
					.filter(
						(usuario) => usuario.idUsuario != this.usuario.idUsuario
					)
					.map((usuario) => {
						return {
							value: usuario.idUsuario,
							text: usuario.nombreUsuario,
						};
					});
			} else {
				return this.usuarios
					.filter(
						(usuario) =>
							this.puestosAsignacion.includes(
								usuario.codigo_puesto
							) &&
							usuario.codigo_puesto != "DRN" &&
							usuario.codigo_puesto != "CDT" &&
							usuario.idUsuario != this.usuario.idUsuario
					)
					.map((usuario) => {
						return {
							value: usuario.idUsuario,
							text: usuario.nombreUsuario,
						};
					});
			}
		},
		async setTarjeta(idUsuario) {
			this.loadingTarjeta = true;
			const response = await axios.get(
				BaseUrl + `/api/usuario/empleado/tarjeta/${idUsuario}`
			);
			if (response.data) {
				this.form.tarjeta = response.data;
				this.loadingTarjeta = false;
			} else {
				this.form.tarjeta = null;
				this.loadingTarjeta = false;
			}
		},

		//METODOS PARA ASIGNACIÓN DE CUENTA
		asignar(tipo) {
			this.$emit("setSizeModal", "xl");
			this.asignarCuenta = true;
		},
		terminarAsignar() {
			this.$emit("setSizeModal", "md");
			this.asignarCuenta = false;
		},
		setCuenta(dataCuenta) {
			this.$v.form.tipoCuenta.$model = dataCuenta.tipoCuenta;
			this.$v.form.cuenta.$model = dataCuenta.cuenta;
			this.terminarAsignar();
		},
		cambiarCuenta() {
			this.dataCuentaEdit = {
				cuenta: this.form.cuenta,
				tipoCuenta: this.form.tipoCuenta,
			};
			this.asignar("cuenta");
		},
		//TERMINAN METODOS PARA ASIGNACIÓN DE CUENTA
	},
	computed: {
		...mapState(["usuario", "okModal"]),
		...mapState("solicitudes_gastos", ["formasPago", "puestosAsignacion"]),

		formasPagoFiltered() {
			return this.formasPago.filter(
				(forma) =>
					forma.value != "Efectivo" && forma.value != "TP Efectivo"
			);
		},
		tarjetaAsignada() {
			if (this.form.tarjeta)
				return {
					numero: this.form.tarjeta,
					label: "ASIGNADA",
					color: "success",
				};
			else
				return {
					numero: "0000 0000 0000 0000",
					label: "SIN ASIGNAR",
					color: "danger",
				};
		},
		totalSolicitud() {
			var suma = 0;
			var suma =
				parseFloat(Number(this.form.alimentacion.importe)) +
				parseFloat(Number(this.form.hospedaje.importe)) +
				parseFloat(Number(this.form.combustibles.importe)) +
				parseFloat(Number(this.form.peajes.importe)) +
				parseFloat(Number(this.form.transportes.importe)) +
				parseFloat(Number(this.form.otros.importe));
			return parseFloat(suma).toFixed(2);
		},
		fechaSolicitud() {
			if (this.solicitud) {
				return moment(this.solicitud.created_at).format("ll");
			} else {
				const date = new Date();
				return moment(date).format("ll");
			}
		},
		isMovil() {
			return (
				navigator.userAgent.match(/Android/i) ||
				navigator.userAgent.match(/webOS/i) ||
				navigator.userAgent.match(/iPhone/i) ||
				navigator.userAgent.match(/iPod/i) ||
				navigator.userAgent.match(/iPad/i) ||
				navigator.userAgent.match(/BlackBerry/i)
			);
		},
		formasPagoCombustibles() {
			return this.formasPagoFiltered.filter(
				(forma) =>
					forma.value != "Banbajio Efectivo" &&
					forma.value != "Efectivo Caja Chica"
			);
		},
		usuariosAsignacion() {
			if (this.usuario) {
				if (
					this.puestosAsignacion.includes(this.usuario.codigo_puesto)
				) {
					return this.setUsuariosPermitidos(
						this.usuario.codigo_puesto
					);
				} else return [];
			}
			return [];
		},
		permissionsAsignar() {
			if (this.usuariosAsignacion.length && this.tipoSolicitud == "SOL")
				return true;
			else return false;
		},
	},
	validations() {
		if (this.tipoSolicitud == "SOL") {
			return {
				form: {
					destinoGasto: { required },
					objetivoGasto: { required },
					fechaInicioGasto: { required },
					fechaFinGasto: { required },
					cuenta: { required },
					tipoCuenta: {},
					tipoMoneda: { required },
					numeroPersonas: { required },
					tarjeta: {},

					alimentacion: {
						importe: {
							required: requiredIf((alimentacion) => {
								return alimentacion.disabled;
							}),
							minValue: (value, alimentacion) => {
								return alimentacion.disabled ? value > 0 : true;
							},
						},
						formaPago: {
							required: requiredIf((alimentacion) => {
								return alimentacion.disabled;
							}),
						},
					},
					hospedaje: {
						importe: {
							required: requiredIf((hospedaje) => {
								return hospedaje.disabled;
							}),
							minValue: (value, hospedaje) => {
								return hospedaje.disabled ? value > 0 : true;
							},
						},
						formaPago: {
							required: requiredIf((hospedaje) => {
								return hospedaje.disabled;
							}),
						},
					},
					combustibles: {
						importe: {
							required: requiredIf((combustibles) => {
								return combustibles.disabled;
							}),
							minValue: (value, combustibles) => {
								return combustibles.disabled ? value > 0 : true;
							},
						},
						formaPago: {
							required: requiredIf((combustibles) => {
								return combustibles.disabled;
							}),
						},
					},
					peajes: {
						importe: {
							required: requiredIf((peajes) => {
								return peajes.disabled;
							}),
							minValue: (value, peajes) => {
								return peajes.disabled ? value > 0 : true;
							},
						},
						formaPago: {
							required: requiredIf((peajes) => {
								return peajes.disabled;
							}),
						},
					},
					transportes: {
						importe: {
							required: requiredIf((transportes) => {
								return transportes.disabled;
							}),
							minValue: (value, transportes) => {
								return transportes.disabled ? value > 0 : true;
							},
						},
						formaPago: {
							required: requiredIf((transportes) => {
								return transportes.disabled;
							}),
						},
					},
					otros: {
						importe: {
							required: requiredIf((otros) => {
								return otros.disabled;
							}),
							minValue: (value, otros) => {
								return otros.disabled ? value > 0 : true;
							},
						},
						formaPago: {
							required: requiredIf((otros) => {
								return otros.disabled;
							}),
						},
					},
				},
			};
		} else {
			return {
				form: {
					destinoGasto: { required },
					objetivoGasto: { required },
					fechaInicioGasto: { required },
					fechaFinGasto: { required },
					cuenta: { required },
					tipoCuenta: {},
					tipoMoneda: { required },
					numeroPersonas: { required },
					tarjeta: {},
				},
			};
		}
	},
	watch: {
		okModal() {
			if (this.okModal == true) {
				this.submit();
			}
		},
		asignacionGasto() {
			if (!this.asignacionGasto)
				this.form.tarjeta = this.usuario.tarjeta_banbajio;
			this.responsableGasto = null;
		},
	},
};
</script>

<style>
.cbox_clasf .custom-control-input:checked ~ .custom-control-label::before {
	color: #fff !important;
	border-color: #28a745 !important;
	background-color: #28a745 !important;
}
#badge-tarjeta .badge-success {
	color: #13912f !important;
	background-color: transparent !important;
	border: 0.2rem solid !important;
	font-size: 9px !important;
}
#badge-tarjeta .badge-danger {
	color: #c10b0b !important;
	background-color: transparent !important;
	border: 0.2rem solid !important;
	font-size: 9px !important;
}
.invalid-feedback-error {
	width: 100%;
	margin-top: 0.25rem;
	font-size: 80%;
	color: #dc3545;
}
.border-error {
	border: 0.1rem solid #dc3545;
}
.bg-color-tr-clasificacion {
	background-color: #e6f6ec;
}
.activate:hover {
	background-color: rgba(159, 161, 164, 0.1);
	transition: all 0.2s linear;
}
.table-clasificacion td {
	padding: 0.42rem;
	vertical-align: top;
	border-top: 1px solid #dee2e6;
}
</style>
