<template>
	<b-overlay
		:show="overlay"
		rounded="sm"
		opacity="1.0"
		blur="1px"
		variant="transparent"
	>
		<div class="container" v-if="solicitudActiva && terminado">
			<b-alert variant="success" :class="marginSuccess" show>
				<h5 class="text-center mb-0">
					Has {{ status }} correctamente la comprobación de la
					solicitud #
					{{ solicitudActiva.idSolicitud }}
				</h5>
			</b-alert>
		</div>
		<div class="container" v-if="!terminado">
			<template v-if="desdeCorreo">
				<h3 class="text-center mt-5">
					Autorización de comprobacion # {{ form.idSolicitud }}
				</h3>
				<hr />
			</template>
			<div v-show="form.status == 'autorizado'">
				<p style="font-size: 18px">
					Estas
					<strong class="text-success">autorizando</strong>
					la comprobacion de esta solicitud.
				</p>
			</div>
			<div v-show="form.status == 'rechazado'">
				<p>
					Estas
					<strong class="text-danger">rechazando</strong> la
					comprobación de esta solicitud, al terminar se enviará un
					correo al solicitante para notificarle sobre este rechazo,
					el notificante podrá actualizar la comprobación a tus
					condiciones.
				</p>
				<b-form-textarea
					id="textarea"
					v-model="form.comentarios"
					placeholder="Ingresa tus comentarios..."
					rows="5"
					max-rows="6"
					class="mb-2"
				></b-form-textarea>
			</div>
			<template v-if="desdeCorreo">
				<center>
					<b-button class="mt-2" size="lg" @click="submit"
						>Terminar</b-button
					>
				</center>
			</template>
			<template v-else>
				<b-button
					variant="danger"
					class="ml-3 mt-2 float-right"
					@click="submit"
				>
					GUARDAR
				</b-button>

				<b-button
					variant="white"
					class="ml-3 mt-2 float-right link-light"
					@click="close"
				>
					CANCELAR
				</b-button>
			</template>
		</div>
	</b-overlay>
</template>

<script>
import { mapActions, mapState, mapMutations } from "vuex";
export default {
	props: {
		idSolicitud: Number,
		statusAutorizacion: String,
	},
	data() {
		return {
			overlay: false,
			desdeCorreo: false,
			form: {
				autorizador: null,
				idSolicitud: null,
				comentarios: null,
				idEtapa: null,
				idEtapaOld: 6,
				status: "",
				notificar: false,
			},
		};
	},
	mounted() {
		if (this.$route.params.idSolicitud) {
			this.desdeCorreo = true;
			this.form.idSolicitud = this.$route.params.idSolicitud;
			this.form.status = this.$route.params.status;
			this.getSolicitud(this.form.idSolicitud);
		} else {
			this.form.idSolicitud = this.idSolicitud;
			this.form.status = this.statusAutorizacion;
		}
	},
	methods: {
		...mapActions("solicitudes_gastos", ["getSolicitud"]),
		...mapMutations("solicitudes_gastos", [
			"updateSolicitudActiva",
			"updateSolicitud",
		]),
		async submit() {
			this.overlay = true;
			if (this.form.status == "autorizado") {
				if (this.totalReembolsar > 0 || this.totalDecrementar > 0)
					this.form.idEtapa = 7;
				else this.form.idEtapa = 8;
			} else this.form.idEtapa = 4;

			if (this.form.comentarios) {
				const response = await axios.post(
					BaseUrl + `/api/fn/cg/solicitudes/comentarios`,
					this.form
				);
				if (response.data.success) this.submitAutorizacion();
			} else this.submitAutorizacion();
		},
		async submitAutorizacion() {
			this.form.autorizador = this.usuario.nombreUsuario;
			const response = await axios.put(
				BaseUrl +
					`/api/fn/cg/solicitudes/autorizacion/${this.form.idSolicitud}`,
				this.form
			);
			if (response.data.success) {
				this.overlay = false;
				this.updateSolicitud(response.data.solicitud);
				this.updateSolicitudActiva(response.data.solicitud);
			}
		},
		close() {
			this.$bvModal.hide("modal-autorizacion-comprobacion");
		},
	},
	computed: {
		...mapState(["usuario"]),
		...mapState("solicitudes_gastos", [
			"solicitudActiva",
			"resumenSolicitudActiva",
		]),
		terminado() {
			if (this.solicitudActiva) {
				if (
					this.solicitudActiva.idEtapa > 6 ||
					(this.solicitudActiva.idEtapa == 4 &&
						this.solicitudActiva.idEtapaOld == 6)
				)
					return true;
			}
		},
		status() {
			if (this.solicitudActiva) {
				if (this.solicitudActiva.idEtapa > 6) return "autorizado";
				if (
					this.solicitudActiva.idEtapa == 4 &&
					this.solicitudActiva.idEtapaOld == 6
				)
					return "rechazado";
			}
		},
		marginSuccess() {
			if (this.desdeCorreo) return "mt-5";
			else return "mt-0";
		},
		totalReembolsar() {
			if (this.resumenSolicitudActiva) {
				const totalReembolsar =
					this.totalComprobado - this.totalDispersado;
				let totalReembolsado = 0;

				for (var i = 0; i < this.resumenSolicitudActiva.length; i++) {
					let reembolsadoByTipo = Number(
						parseFloat(
							this.resumenSolicitudActiva[i].reembolsado
						).toFixed(2)
					);
					totalReembolsado += reembolsadoByTipo;
				}
				if (totalReembolsar > 0)
					return parseFloat(
						totalReembolsar - totalReembolsado
					).toFixed(2);
				else return parseFloat(0 - totalReembolsado).toFixed(2);
			}
		},
		totalDecrementar() {
			if (this.resumenSolicitudActiva) {
				const totalDecrementar =
					this.totalDispersado - this.totalComprobado;
				let totalDecrementado = 0;

				for (var i = 0; i < this.resumenSolicitudActiva.length; i++) {
					let decrementadoByTipo = Number(
						parseFloat(
							this.resumenSolicitudActiva[i].decrementado
						).toFixed(2)
					);
					totalDecrementado += decrementadoByTipo;
				}
				if (totalDecrementar > 0)
					return parseFloat(
						totalDecrementar - totalDecrementado
					).toFixed(2);
				else return parseFloat(0 - totalDecrementado).toFixed(2);
			}
		},
		totalDispersado() {
			if (this.resumenSolicitudActiva) {
				var suma = 0;
				for (var i = 0; i < this.resumenSolicitudActiva.length; i++) {
					let importe = Number(
						parseFloat(
							this.resumenSolicitudActiva[i].dispersado
						).toFixed(2)
					);
					suma += importe;
				}
				return parseFloat(suma).toFixed(2);
			}
			return 0.0;
		},
		totalComprobado() {
			if (this.resumenSolicitudActiva) {
				var suma = 0;
				for (var i = 0; i < this.resumenSolicitudActiva.length; i++) {
					let importe = Number(
						parseFloat(
							this.resumenSolicitudActiva[i].comprobado
						).toFixed(2)
					);
					suma += importe;
				}
				return parseFloat(suma).toFixed(2);
			}
			return 0.0;
		},
	},
};
</script>
