<template>
    <div
        style="height: calc(100vh - 83px);"
        class="text-center w-100 div-content"
    >
        <b-avatar
            size="28em"
            style="background-color: #fbfafb; color:#7e7d7e"
        >
            <div
                class="row justify-content-center align-items-center"
            >
                <div class="col-lg-12 text-center">
                    <div class="text-center">
                        <i
                            class="img-fluid rounded mx-auto d-block fas fa-hand-holding-usd"
                            style="font-size:100px"
                            width="35%"
                            height="35%"
                        ></i>
                    </div>
                    <div class="mt-5">
                        <h2
                            class="display-4 text-center"
                            style="font-size: 30px"
                        >
                            Seleccione una solicitud
                        </h2>
                    </div>
                </div>
            </div>
        </b-avatar>
    </div>
</template>