<template>
	<div>
		<template v-if="busySolicitudes">
			<div class="mt-5">
				<h5 class="text-center">
					<b-spinner label="Spinning" class="mr-1"></b-spinner>
					Cargando...
				</h5>
			</div>
		</template>
		<template v-else>
			<b-list-group
				class="bg-white list-solicitudes"
				v-if="solicitudesFiltered.length"
			>
				<fn-gastos-solicitudes-solicitud
					v-for="(solicitud, index) in solicitudesFiltered"
					:key="index"
					:solicitud="solicitud"
				/>
			</b-list-group>
			<div class="mt-5" v-else>
				<h5 class="text-center">
					No se ha registrado ninguna solicitud
				</h5>
			</div>
		</template>
	</div>
</template>

<script>
import { mapState, mapActions, mapMutations, mapGetters } from "vuex";

export default {
	data() {
		return {};
	},
	mounted() {},
	methods: {
		...mapActions("solicitudes_gastos", ["getSolicitudesByUsuario"]),
	},
	computed: {
		...mapState(["usuario"]),
		...mapState("solicitudes_gastos", ["busySolicitudes"]),
		...mapGetters("solicitudes_gastos", ["solicitudesFiltered"]),
	},
	watch: {},
};
</script>
<style scoped>
.list-solicitudes {
	max-height: calc(100vh - 247px);
	overflow: auto;
}
</style>
