<template>
	<b-container class="p-0 component-cg-max-height" fluid>
		<b-card
			v-if="
				solicitudActiva.idEtapa == 7 &&
					hasPermission('fn.cg.solicitudes.terminar.reembolso.decremento')
			"
			style="border-left: 0.2rem solid !important;"
			class="shadow-sm my-2"
			no-body
		>
			<b-card-body class="py-2">
				<b-button
					variant="danger"
					size="sm"
					class="shadows px-3 py-2 my-2"
					@click="terminar(8, 7)"
				>
					<h6 class="mb-0 fs-12">
						Terminar reembolso y decremento
					</h6>
				</b-button>
			</b-card-body>
		</b-card>

		<b-container fluid>
			<b-row class="h-100">
				<b-col lg="3" class="h-100 mt-2">
					<div class="px-2 py-4 h-100">
						<h6 class="fs-13 mb-3">OPCIONES</h6>
						<b-list-group id="list-group-fondeo" class="mt-2" flush>
							<b-list-group-item
								href="#"
								class="d-flex w-100 justify-content-between mb-1"
								:class="
									selected == 'reembolsos'
										? 'list-sub-item-active'
										: ''
								"
								@click="selected = 'reembolsos'"
							>
								<h6 class="fs-12 mb-0">Reembolso</h6>
								<i
									v-if="selected == 'reembolsos'"
									class="fas fa-caret-right fs-14 text-secondary"
									style="align-content: center;"
								></i>
							</b-list-group-item>
							<b-list-group-item
								href="#"
								class="d-flex w-100 justify-content-between mb-1"
								:class="
									selected == 'decrementos'
										? 'list-sub-item-active'
										: ''
								"
								@click="selected = 'decrementos'"
							>
								<h6 class="fs-12 mb-0">
									Decremento
								</h6>
								<i
									v-if="selected == 'decrementos'"
									class="fas fa-caret-right fs-14 text-secondary"
									style="align-content: center;"
								></i>
							</b-list-group-item>
						</b-list-group>
					</div>
				</b-col>

				<b-col lg="9" class="px-0">
					<fn-gastos-solicitudes-reembolso-component
						v-if="selected == 'reembolsos'"
					/>

					<fn-gastos-solicitudes-decremento-component
						v-if="selected == 'decrementos'"
					/>
				</b-col>
			</b-row>
		</b-container>

		<modal-component
			:title="'Favor de confirmar'"
			:id="'modal-terminar-reembolso-decremento'"
			:hideFooter="true"
			:hideHeader="true"
			:centered="true"
		>
			<template slot="content">
				<b-overlay
					:show="overlay"
					rounded="sm"
					opacity="1.0"
					blur="1px"
					variant="transparent"
				>
					<p style="font-size: 18px">
						¿Mandar a contabilización esta comprobación?
					</p>

					<div class="d-flex flex-row-reverse bd-highlight">
						<b-button
							variant="danger"
							class="ml-3 mt-2"
							@click="cambioEtapa"
						>
							CONFIRMAR
						</b-button>

						<b-button
							variant="white"
							class="ml-3 mt-2 link-light"
							@click="closeModal()"
						>
							CANCELAR
						</b-button>
					</div>
				</b-overlay>
			</template>
		</modal-component>
	</b-container>
</template>

<script>
import { mapState, mapMutations } from "vuex";

export default {
	data() {
		return {
			overlay: false,
			selected: "reembolsos",
			form: {
				responsable: null,
				idProxEtapa: null,
				idEtapaOld: null,
			},
		};
	},
	methods: {
		...mapMutations("solicitudes_gastos", [
			"updateSolicitud",
			"updateSolicitudActiva",
		]),

		terminar(idProxEtapa, idEtapaOld) {
			this.form.idProxEtapa = idProxEtapa;
			this.form.idEtapaOld = idEtapaOld;
			this.$bvModal.show("modal-terminar-reembolso-decremento");
		},
		async cambioEtapa() {
			try {
				const idSolicitud = this.solicitudActiva.idSolicitud;
				this.form.responsable = this.usuario.nombreUsuario;
				const response = await axios.put(
					BaseUrl +
						`/api/fn/cg/solicitudes/${idSolicitud}/etapas/${this.form.idProxEtapa}`,
					this.form
				);
				if (response.data.success) {
					this.updateSolicitud(response.data.solicitud);
					this.updateSolicitudActiva(response.data.solicitud);
					this.closeModal();
					this.makeToast(
						"success",
						"Éxito",
						"Se ha cambiado correctamente de etapa esta comprobación"
					);
				}
			} catch (error) {
				this.makeToast(
					"danger",
					"Error",
					"Ha ocurrido un problema al cambiar de etapa"
				);
			}
		},
		closeModal() {
			this.$bvModal.hide("modal-terminar-reembolso-decremento");
		},
		makeToast(variant = null, title, text) {
			this.$bvToast.toast(text, {
				title: title,
				variant: variant,
				solid: true,
			});
		},
		hasPermission(funcion) {
			if (this.permissions.length) {
				const permiso = this.permissions.find(
					(permiso) => permiso.idFuncion == funcion
				);
				if (permiso) return true;
				return false;
			}
		},
	},
	computed: {
		...mapState("solicitudes_gastos", ["solicitudActiva"]),
		...mapState(["usuario", "permissions"]),
	},
};
</script>

<style scoped>
.list-sub-item-active {
	background-color: #ddd;
	color: #495057;
}
#list-group-fondeo .list-group-item {
	border: none !important;
	border-radius: 0.5rem;
	margin-bottom: 3px;
}
</style>
