<template>
	<b-container class="p-0 component-cg-max-height" fluid>
		<b-card
			style="border-left: 0.2rem solid !important;"
			class="shadow-sm mt-2"
		>
			<b-skeleton-table
				v-if="busyResumen"
				:rows="3"
				:columns="6"
				:table-props="{ bordered: true, striped: true, small: true }"
				:hide-header="true"
			>
			</b-skeleton-table>
			<b-table-simple
				id="table-resumen"
				bordered
				caption-top
				responsive
				v-show="!busyResumen"
				style="font-size:12px"
				class="border-top mb-0"
			>
				<b-thead class="bg-light text-center">
					<b-tr>
						<b-th></b-th>
						<b-th
							:class="{
								'bg-etapa-actual': solicitudActiva.idEtapa == 2,
								'bg-etapa-completado':
									solicitudActiva.idEtapa > 2,
							}"
							>Solicitado</b-th
						>
						<b-th
							:class="{
								'bg-etapa-actual': solicitudActiva.idEtapa == 3,
								'bg-etapa-completado':
									solicitudActiva.idEtapa > 3,
							}"
						>
							<template v-if="solicitudActiva.idEtapa < 3">
								Dispersar
							</template>

							<template v-else>
								<template v-if="solicitudActiva.idEtapa == 3">
									<span class="text-white">
										Dispersar
									</span>
								</template>
								<template v-else>
									Dispersado
								</template>
							</template>
						</b-th>
						<b-th
							:class="{
								'bg-etapa-actual': solicitudActiva.idEtapa == 4,
								'bg-etapa-completado':
									solicitudActiva.idEtapa > 4,
							}"
						>
							<template v-if="solicitudActiva.idEtapa < 4">
								Comprobar
							</template>

							<template v-else>
								<template v-if="solicitudActiva.idEtapa == 4">
									<span class="text-white">
										Comprobar
									</span>
								</template>
								<template v-else>
									Comprobado
								</template>
							</template>
						</b-th>

						<b-th
							:class="{
								'bg-etapa-actual': solicitudActiva.idEtapa == 7,
								'bg-etapa-completado':
									solicitudActiva.idEtapa > 7,
							}"
						>
							Reembolsar
						</b-th>
						<b-th
							:class="{
								'bg-etapa-actual': solicitudActiva.idEtapa == 7,
								'bg-etapa-completado':
									solicitudActiva.idEtapa > 7,
							}"
						>
							Reembolsado
						</b-th>
						<b-th
							:class="{
								'bg-etapa-actual': solicitudActiva.idEtapa == 7,
								'bg-etapa-completado':
									solicitudActiva.idEtapa > 7,
							}"
						>
							Decrementar
						</b-th>
						<b-th
							:class="{
								'bg-etapa-actual': solicitudActiva.idEtapa == 7,
								'bg-etapa-completado':
									solicitudActiva.idEtapa > 7,
							}"
						>
							Decrementado
						</b-th>
					</b-tr>
				</b-thead>
				<b-tbody>
					<tr v-for="(importe, index) in resumen" :key="index">
						<td class="text-right">
							<strong>{{ importe.formaPago }}</strong>
						</td>
						<td>
							<div class="d-flex w-100 justify-content-between">
								<label class="mb-0 ml-1">$</label>
								<vue-numeric
									separator=","
									:precision="2"
									:read-only="true"
									:value="importe.solicitado"
								/>
							</div>
						</td>
						<td>
							<div class="d-flex w-100 justify-content-between">
								<label class="mb-0 ml-1">$</label>
								<vue-numeric
									separator=","
									:precision="2"
									:read-only="true"
									:value="importe.dispersado"
								/>
							</div>
						</td>
						<td>
							<div class="d-flex w-100 justify-content-between">
								<label class="mb-0 ml-1">$</label>
								<vue-numeric
									separator=","
									:precision="2"
									:read-only="true"
									:value="importe.comprobado"
								/>
							</div>
						</td>
						<td
							:class="{
								'text-warning-2': importe.reembolsar > 0,
							}"
							style="background-color: rgb(251 251 251);"
						>
							<div class="d-flex w-100 justify-content-between">
								<label class="mb-0 ml-1">$</label>
								<vue-numeric
									separator=","
									:precision="2"
									:read-only="true"
									:value="importe.reembolsar"
								/>
							</div>
						</td>
						<td>
							<div class="d-flex w-100 justify-content-between">
								<label class="mb-0 ml-1">$</label>
								<vue-numeric
									separator=","
									:precision="2"
									:read-only="true"
									:value="importe.reembolsado"
								/>
							</div>
						</td>
						<td
							:class="{
								'text-warning-2': importe.decrementar > 0,
							}"
							style="background-color: rgb(251 251 251);"
						>
							<div class="d-flex w-100 justify-content-between">
								<label class="mb-0 ml-1">$</label>
								<vue-numeric
									separator=","
									:precision="2"
									:read-only="true"
									:value="importe.decrementar"
								/>
							</div>
						</td>
						<td>
							<div class="d-flex w-100 justify-content-between">
								<label class="mb-0 ml-1">$</label>
								<vue-numeric
									separator=","
									:precision="2"
									:read-only="true"
									:value="importe.decrementado"
								/>
							</div>
						</td>
					</tr>
					<tr
						v-if="solicitudActiva && !resumenSolicitudActiva.length"
					>
						<td class="text-center" colspan="8">
							<h5
								class="text-center my-3"
								style="font-size: 13px;"
							>
								No se han registrado movimientos
							</h5>
						</td>
					</tr>
				</b-tbody>

				<b-tfoot>
					<b-tr class="text-right bg-light">
						<b-td class="bg-white text-right">
							<strong>TOTALES</strong>
						</b-td>
						<b-td>
							<strong>
								<div
									class="d-flex w-100 justify-content-between"
								>
									<label class="mb-0 ml-1">$</label>
									<vue-numeric
										separator=","
										:precision="2"
										:read-only="true"
										:value="totalSolicitado"
									/>
								</div>
							</strong>
						</b-td>
						<b-td>
							<strong>
								<div
									class="d-flex w-100 justify-content-between"
								>
									<label class="mb-0 ml-1">$</label>
									<vue-numeric
										separator=","
										:precision="2"
										:read-only="true"
										:value="totalDispersado"
									/>
								</div>
							</strong>
						</b-td>
						<b-td>
							<strong>
								<div
									class="d-flex w-100 justify-content-between"
								>
									<label class="mb-0 ml-1">$</label>
									<vue-numeric
										separator=","
										:precision="2"
										:read-only="true"
										:value="totalComprobado"
									/>
								</div>
							</strong>
						</b-td>
						<b-td>
							<strong>
								<div
									class="d-flex w-100 justify-content-between"
								>
									<label class="mb-0 ml-1">$</label>
									<vue-numeric
										separator=","
										:precision="2"
										:read-only="true"
										:value="totalReembolsar"
									/>
								</div>
							</strong>
						</b-td>
						<b-td>
							<strong>
								<div
									class="d-flex w-100 justify-content-between"
								>
									<label class="mb-0 ml-1">$</label>
									<vue-numeric
										separator=","
										:precision="2"
										:read-only="true"
										:value="totalReembolsado"
									/>
								</div>
							</strong>
						</b-td>
						<b-td>
							<strong>
								<div
									class="d-flex w-100 justify-content-between"
								>
									<label class="mb-0 ml-1">$</label>
									<vue-numeric
										separator=","
										:precision="2"
										:read-only="true"
										:value="totalDecrementar"
									/>
								</div>
							</strong>
						</b-td>
						<b-td>
							<strong>
								<div
									class="d-flex w-100 justify-content-between"
								>
									<label class="mb-0 ml-1">$</label>
									<vue-numeric
										separator=","
										:precision="2"
										:read-only="true"
										:value="totalDecrementado"
									/>
								</div>
							</strong>
						</b-td>
					</b-tr>
					<b-tr>
						<b-td colspan="5" class="text-right pr-4">
							<strong>P e n d i e n t e</strong>
						</b-td>
						<b-td>
							<div
								class="d-flex w-100 justify-content-between"
								:class="classTPR"
							>
								<label class="mb-0">
									<template
										v-if="totalPendienteReembolsar == 0"
									>
										<i class="fas fa-check mr-1"></i>
									</template>
									<template
										v-if="totalPendienteReembolsar != 0"
									>
										<i
											class="fas fa-exclamation-triangle mr-1"
										></i>
									</template>
									$
								</label>
								<label class="mb-0">{{
									totalPendienteReembolsar
								}}</label>
							</div>
						</b-td>
						<b-td></b-td>
						<b-td>
							<div
								class="d-flex w-100 justify-content-between"
								:class="classTPD"
							>
								<label class="mb-0">
									<template
										v-if="totalPendienteDecrementar == 0"
									>
										<i class="fas fa-check mr-1"></i>
									</template>
									<template
										v-if="totalPendienteDecrementar != 0"
									>
										<i
											class="fas fa-exclamation-triangle mr-1"
										></i>
									</template>
									$
								</label>
								<label class="mb-0">{{
									totalPendienteDecrementar
								}}</label>
							</div>
						</b-td>
					</b-tr>
				</b-tfoot>
			</b-table-simple>
		</b-card>
	</b-container>
</template>

<script>
import { mapState, mapActions } from "vuex";
export default {
	data() {
		return {
			rembolsado: "",
		};
	},
	mounted() {},
	methods: {
		hasPermission(funcion) {
			if (this.permissions.length) {
				const permiso = this.permissions.find(
					(permiso) => permiso.idFuncion == funcion
				);
				if (permiso) return true;
				return false;
			}
		},
		verificarComisionRetiro(formaPago) {
			if (this.listDisposiciones.length) {
				return this.listDisposiciones
					.filter((disposicion) => disposicion.formaPago == formaPago)
					.reduce(
						(suma, item) =>
							suma + parseFloat(Number(item.comision)),
						0
					);
			} else return 0;
		},
		setImporteComprobado(formaPago) {
			return this.listComprobaciones
				.filter((comprobacion) => comprobacion.tipoGasto == formaPago)
				.reduce(
					(suma, comprobacion) =>
						suma + parseFloat(Number(comprobacion.importe)),
					0
				);
		},
	},
	computed: {
		...mapState(["permissions"]),

		...mapState("fn_cg_disposicion_efectivo", [
			"listDisposiciones",
			"busyDisposiciones",
		]),

		...mapState("solicitudes_gastos", [
			"resumenSolicitudActiva",
			"listComprobaciones",
			"busyResumen",
			"solicitudActiva",
			"formasPago",
			"limiteCambio",
		]),

		formasPagoFiltered() {
			if (this.limiteCambio) {
				return this.formasPago;
			} else {
				var data = [{ value: "Banbajio", text: "Banbajio" }];
				data = data.concat(this.formasPago);
				return data;
			}
		},
		resumen() {
			if (
				this.resumenSolicitudActiva.length &&
				!this.busyResumen &&
				!this.busyDisposiciones
			) {
				var resumen = [];
				this.formasPagoFiltered.forEach((item) => {
					var response = this.resumenSolicitudActiva.filter(
						(resumen) => resumen.formaPago == item.value
					);

					var importeSolicitado = response.reduce(
						(suma, resumen) =>
							suma + parseFloat(Number(resumen.solicitado)),
						0
					);
					var importeDispersado = response.reduce(
						(suma, resumen) =>
							suma + parseFloat(Number(resumen.dispersado)),
						0
					);
					var importeComprobado = response.reduce(
						(suma, resumen) =>
							suma + parseFloat(Number(resumen.comprobado)),
						0
					);
					var importeReembolsado = response.reduce(
						(suma, resumen) =>
							suma + parseFloat(Number(resumen.reembolsado)),
						0
					);
					var importeDecrementado = response.reduce(
						(suma, resumen) =>
							suma + parseFloat(Number(resumen.decrementado)),
						0
					);
					if (
						importeSolicitado > 0 ||
						importeDispersado > 0 ||
						importeComprobado > 0 ||
						importeReembolsado > 0 ||
						importeDecrementado > 0
					) {
						if (
							item.value == "Tarjeta Banbajio" ||
							item.value == "Tarjeta Personal"
						) {
							var comision = this.verificarComisionRetiro(
								item.value
							);
							importeComprobado += comision;
						}

						if (importeComprobado > importeDispersado) {
							var reembolsar =
								importeComprobado - importeDispersado;
							var decrementar = 0;
						} else {
							var reembolsar = 0;
							var decrementar =
								importeDispersado - importeComprobado;
						}

						resumen.push({
							formaPago: item.value,
							solicitado: importeSolicitado,
							dispersado: importeDispersado,
							comprobado: importeComprobado,
							reembolsar: reembolsar,
							reembolsado: importeReembolsado,
							decrementar: decrementar,
							decrementado: importeDecrementado,
						});
					}
				}, this);
				return resumen;
			} else return [];
		},

		totalSolicitado() {
			if (this.resumen) {
				var solicitado = this.resumen.reduce(
					(suma, importe) =>
						suma + parseFloat(Number(importe.solicitado)),
					0
				);
				return parseFloat(solicitado).toFixed(2);
			} else return 0.0;
		},
		totalDispersado() {
			if (this.resumen) {
				var dispersado = this.resumen.reduce(
					(suma, importe) =>
						suma + parseFloat(Number(importe.dispersado)),
					0
				);
				return parseFloat(dispersado).toFixed(2);
			} else return 0.0;
		},
		totalComprobado() {
			if (this.resumen) {
				var comprobado = this.resumen.reduce(
					(suma, importe) =>
						suma + parseFloat(Number(importe.comprobado)),
					0
				);
				return parseFloat(comprobado).toFixed(2);
			} else return 0.0;
		},
		totalReembolsado() {
			if (this.resumen) {
				var reembolsado = this.resumen.reduce(
					(suma, importe) =>
						suma + parseFloat(Number(importe.reembolsado)),
					0
				);
				return parseFloat(reembolsado).toFixed(2);
			} else return 0.0;
		},
		totalDecrementado() {
			if (this.resumen) {
				var decrementado = this.resumen.reduce(
					(suma, importe) =>
						suma + parseFloat(Number(importe.decrementado)),
					0
				);
				return parseFloat(decrementado).toFixed(2);
			} else return 0.0;
		},
		totalReembolsar() {
			if (this.resumen) {
				var reembolsar = this.resumen.reduce(
					(suma, importe) =>
						suma + parseFloat(Number(importe.reembolsar)),
					0
				);
				return parseFloat(reembolsar).toFixed(2);
			} else return 0.0;
		},
		totalPendienteReembolsar() {
			if (this.resumen) {
				var reembolsar = 0;
				this.resumen.forEach((importe) => {
					if (importe.dispersado < importe.comprobado) {
						reembolsar +=
							Number(importe.comprobado) -
							Number(importe.dispersado);
					}
				}, this);

				return parseFloat(reembolsar - this.totalReembolsado).toFixed(
					2
				);
			} else return 0.0;
		},
		totalDecrementar() {
			if (this.resumen) {
				var decrementar = this.resumen.reduce(
					(suma, importe) =>
						suma + parseFloat(Number(importe.decrementar)),
					0
				);
				return parseFloat(decrementar).toFixed(2);
			} else return 0.0;
		},
		totalPendienteDecrementar() {
			if (this.resumen) {
				var decrementar = 0;
				this.resumen.forEach((importe) => {
					if (importe.dispersado > importe.comprobado) {
						decrementar +=
							Number(importe.dispersado) -
							Number(importe.comprobado);
					}
				}, this);

				return parseFloat(decrementar - this.totalDecrementado).toFixed(
					2
				);
			} else return 0.0;
		},
		classTPR() {
			if (this.totalPendienteReembolsar == 0) return "text-success";
			if (this.totalPendienteReembolsar < 0) return "text-danger";
			else return "text-danger";
		},
		classTPD() {
			if (this.totalPendienteDecrementar == 0) return "text-success";
			if (this.totalPendienteDecrementar < 0) return "text-danger";
			else return "text-danger";
		},
	},
};
</script>

<style>
.text-warning-2 {
	color: #de8902 !important;
}
.bg-etapa-actual {
	background-color: #3aae54 !important;
	color: white;
}
.bg-etapa-completado {
	background-color: #eafaf1 !important;
	color: #343a40;
}
#table-resumen td {
	padding: 0.6rem !important;
	vertical-align: middle !important;
}
#table-resumen th {
	padding: 0.6rem !important;
	vertical-align: middle !important;
}
</style>
