<template>
	<b-list-group-item
		href="#"
		@click="setSolicitud"
		class="flex-column align-items-start p-2 bg-light border-light"
		:class="buttonClass"
	>
		<b-media class="bg-white" :class="buttonClass2" style="padding: 10px;">
			<template v-slot:aside>
				<b-avatar :src="urlImage"></b-avatar>
			</template>
			<div class="d-flex w-100 justify-content-between">
				<h6 class="mb-1" style="font-size:15px">
					Solicitud #{{ solicitud.idSolicitud }}
				</h6>
				<small class="text-secondary">{{ atTime }}</small>
			</div>
			<div
				class="d-flex w-100 justify-content-between"
				style="margin-bottom: -5px;"
			>
				<p class="mb-0" style="font-size:12px">
					{{ solicitud.nombre_usuario }}
				</p>
				<br />
				<div v-if="solicitud.idEtapa == 9">
					<i class="fas fa-check-double text-success"></i>
				</div>
				<div v-else-if="solicitud.idEtapa == 10">
					<i class="fas fa-archive text-danger"></i>
				</div>
				<div v-else>
					<i :class="classIcon1" class="ml-2"></i>
					<i
						:class="classIcon2"
						v-if="solicitud.idEtapa >= 4 && !spinnerShow"
					></i>
					<b-spinner
						small
						type="grow"
						variant="danger"
						style="margin-top: -5px !important"
						v-if="spinnerShow"
					></b-spinner>
				</div>
			</div>
			<div style="font-size:12px" class="mt-1">
				<vue-numeric
					currency="$"
					separator=","
					:precision="2"
					:read-only="true"
					:value="solicitud.importe_total"
				/>
				<i class="fas fa-arrow-right mx-2"></i>
				{{ solicitud.cuenta }}
			</div>
		</b-media>
	</b-list-group-item>
</template>

<script>
import { mapState, mapMutations, mapActions } from "vuex";
export default {
	props: {
		solicitud: Object,
	},
	data() {
		return {};
	},
	methods: {
		...mapMutations("solicitudes_gastos", ["setSolicitudActiva"]),
		...mapActions("fn_cg_disposicion_efectivo", [
			"getDisposicionesEfectivo",
		]),
		...mapActions("fn_cg_archivos", ["getArchivos"]),
		...mapActions("solicitudes_gastos", [
			"getResumenSolicitudActiva",
			"getPlaneacionSolicitudActiva",
			"getMovimientosBySolicitud",
			"getComprobaciones",
		]),

		setSolicitud() {
			let idSolicitud = this.solicitud.idSolicitud;
			this.setSolicitudActiva(this.solicitud);
			this.getResumenSolicitudActiva(idSolicitud);
			this.getMovimientosBySolicitud(idSolicitud);
			this.getPlaneacionSolicitudActiva(idSolicitud);
			this.getDisposicionesEfectivo(idSolicitud);
			this.getComprobaciones();
			this.getArchivos(idSolicitud);
		},
	},
	computed: {
		...mapState("solicitudes_gastos", ["solicitudActiva"]),
		...mapState(["usuario"]),

		atTime() {
			moment.locale("es");
			return moment(this.solicitud.created_at).format("ll");
		},
		urlImage() {
			return BaseUrl + this.solicitud.ruta_usuario;
		},
		classIcon1() {
			switch (this.solicitud.idEtapa) {
				case 1:
					return "text-danger fas fa-times-circle";
					break;
				case 2:
					return "text-secondary far fa-check-circle";
					break;
				case 3:
					return "text-success far fa-check-circle";
					break;
				case 4:
					return "text-success fas fa-check-circle";
					break;
				default:
					return "text-success fas fa-check-circle";
					break;
			}
		},
		classIcon2() {
			if (
				this.solicitud.idEtapa == 4 &&
				(this.solicitud.idEtapaOld == 5 ||
					this.solicitud.idEtapaOld == 6)
			)
				return "text-danger fas fa-times-circle";
			switch (this.solicitud.idEtapa) {
				case 5:
					return "text-secondary far fa-check-circle";
					break;
				case 6:
					return "text-secondary far fa-check-circle";
					break;
				case 7:
					return "text-success far fa-check-circle";
					break;
				case 8:
					return "text-success fas fa-check-circle";
					break;
				default:
					return "text-success fas fa-check-circle";
					break;
			}
		},
		buttonClass2() {
			if (this.solicitudActiva) {
				if (
					this.solicitud.idSolicitud ==
					this.solicitudActiva.idSolicitud
				)
					return "bg-ligth-2-active";
			}
		},
		buttonClass() {
			if (this.solicitudActiva) {
				if (
					this.solicitud.idSolicitud ==
					this.solicitudActiva.idSolicitud
				)
					return "bg-ligth-active";
				else return "";
			} else {
				return "";
			}
		},
		spinnerShow() {
			if (this.usuario) {
				if (
					this.solicitud.idEtapa == 4 &&
					this.solicitud.idEtapaOld < 4 &&
					this.usuario.idUsuario == this.solicitud.idUsuario
				)
					return true;
			}
		},
	},
};
</script>
<style>
.bg-ligth-active {
	background-color: rgb(206 214 220) !important;
}
.bg-ligth-2-active {
	background-color: #eef2f5 !important;
}
.spinner-grow-sm {
	width: 1.2rem !important;
	height: 1.2rem !important;
}
</style>
