<template>
	<div>
		<div
			class="container-fluid"
			style="height: calc(100vh - 56px)"
			v-if="!isMovil"
		>
			<b-row class="h-100">
				<b-col md="4" lg="3" sm="12" class="h-100 px-0 shadow">
					<div class="h-100 border-right bg-light">
						<div
							class="d-flex justify-content-between align-items-center p-3 mb-3 border-bottom"
							style="max-height: 73px"
						>
							<h3
								class="text-dark ml-3 mt-2"
								style="font-size: 35px; margin-bottom: 1.25px"
							>
								Solicitudes
								<b-badge
									v-if="tipoSolicitudes == 'todas'"
									variant="warning"
									style="font-size: 15px; cursor: pointer;"
									@click="toAdminView"
									>Admin</b-badge
								>
							</h3>
							<b-dropdown
								v-show="tipoSolicitudes == 'misSolicitudes'"
								v-if="
									hasPermission('fn.cg.solicitudes.solicitar')
								"
								id="dropdown-solicitud"
								text="Nueva"
								class="m-md-2 mr-2"
								variant="danger"
							>
								<b-dropdown-item @click="openModal('SOL')">
									Solicitud de viáticos
								</b-dropdown-item>

								<b-dropdown-item
									v-if="permissionComprobacionDirecta"
									@click="openModal('COM')"
								>
									Comprobación directa
								</b-dropdown-item>
							</b-dropdown>
						</div>
						<div
							class="mb-2"
							v-if="
								hasPermission(
									'fn.cg.solicitudes.administrar'
								) ||
									hasPermission('fn.cg.solicitudes.autorizar')
							"
						>
							<fn-gastos-solicitudes-tipos-component />
						</div>
						<div class="mb-3">
							<fn-gastos-solicitudes-filters-component />
						</div>
						<fn-gastos-solicitudes-list-solicitudes-component />
					</div>
				</b-col>
				<b-col v-if="!solicitudActiva" md="8" lg="9" class="px-0">
					<div style="height: calc(100vh - 50px)">
						<icon-text-component
							:icon="'fas fa-comment-alt'"
							:text="'NO SE HA SELECCIONADO NINGUNA SOLICITUD'"
							:circleStyle="{
								backgroundColor: '#f5f5f6',
								color: '#a8aeb3',
							}"
						/>
					</div>
				</b-col>
				<b-col v-else md="8" lg="9" class="h-100">
					<div class="scroll-class">
						<b-row
							class="bg-light border-bottom"
							style="height: 73px"
						>
							<b-col
								lg="12"
								class="p-3 bg-white shadow-sm border-bottom"
							>
								<h2 class="text-center my-1">
									SOLICITUD DE VIÁTICOS #{{
										solicitudActiva.idSolicitud
									}}
								</h2>
							</b-col>
						</b-row>

						<b-container fluid class="my-3 px-0">
							<b-nav id="nav-op-solicitud" pills fill>
								<b-nav-item
									:active="
										selectedOption == 'detalles'
											? true
											: false
									"
									@click="selectedOption = 'detalles'"
								>
									Detalles
								</b-nav-item>
								<b-nav-item
									:active="
										selectedOption == 'fondeo'
											? true
											: false
									"
									@click="selectedOption = 'fondeo'"
									:disabled="disabledNav.fondeo"
								>
									Fondeo
									<b-spinner
										v-if="solicitudActiva.idEtapa == 3"
										:variant="
											selectedOption == 'fondeo'
												? 'white'
												: 'secondary'
										"
										type="grow"
										class="ml-2 mb-1"
										style="width: 0.8rem; height: 0.8rem;"
									>
									</b-spinner>
								</b-nav-item>
								<b-nav-item
									:active="
										selectedOption == 'comprobaciones'
											? true
											: false
									"
									@click="selectedOption = 'comprobaciones'"
									:disabled="disabledNav.comprobaciones"
								>
									Comprobaciones
									<b-spinner
										v-if="
											solicitudActiva.idEtapa == 4 ||
												solicitudActiva.idEtapa == 5 ||
												solicitudActiva.idEtapa == 6
										"
										:variant="
											selectedOption == 'comprobaciones'
												? 'white'
												: 'secondary'
										"
										type="grow"
										class="ml-2 mb-1"
										style="width: 0.8rem; height: 0.8rem;"
									>
									</b-spinner>
								</b-nav-item>
								<b-nav-item
									:active="
										selectedOption == 'resumen'
											? true
											: false
									"
									@click="selectedOption = 'resumen'"
								>
									Resumen
								</b-nav-item>
								<b-nav-item
									:active="
										selectedOption == 'reembolsoDecremento'
											? true
											: false
									"
									@click="
										selectedOption = 'reembolsoDecremento'
									"
									:disabled="disabledNav.reembolsoDecremento"
								>
									Reembolso y decremento
									<b-spinner
										v-if="solicitudActiva.idEtapa == 7"
										:variant="
											selectedOption ==
											'reembolsoDecremento'
												? 'white'
												: 'secondary'
										"
										type="grow"
										class="ml-2 mb-1"
										style="width: 0.8rem; height: 0.8rem;"
									>
									</b-spinner>
								</b-nav-item>
								<b-nav-item
									:active="
										selectedOption == 'historial'
											? true
											: false
									"
									@click="selectedOption = 'historial'"
								>
									Historial
								</b-nav-item>
							</b-nav>
						</b-container>

						<fn-gastos-solicitudes-detalles-component
							v-if="selectedOption == 'detalles'"
							@setDataEdit="setDataEditSolicitud()"
							@autorizacion="autorizacion($event)"
							@aceptarAsignacion="aceptarAsignacion($event)"
							@eliminarSolicitud="showMsgBoxArchivarConfirm"
						/>

						<fn-gastos-solicitudes-comprobaciones-component
							v-if="selectedOption == 'comprobaciones'"
						/>

						<fn-gastos-solicitudes-resumen-component
							v-if="selectedOption == 'resumen'"
						/>

						<fn-gastos-solicitudes-bitacoras-component
							v-if="selectedOption == 'historial'"
						/>

						<fn-gastos-solicitudes-fondeo-component
							v-if="selectedOption == 'fondeo'"
						/>

						<fn-gastos-solicitudes-reembolso-decremento-component
							v-if="selectedOption == 'reembolsoDecremento'"
						/>
					</div>
				</b-col>
			</b-row>
		</div>

		<div v-if="isMovil">
			<b-col lg="12" class="px-0" v-if="!solicitudActiva">
				<div
					class="d-flex justify-content-between align-items-center my-3"
				>
					<h2 class="ml-2 mb-0">Mis solicitudes</h2>

					<b-dropdown
						v-if="hasPermission('fn.cg.solicitudes.solicitar')"
						id="dropdown-solicitud"
						text="Nueva"
						class="m-md-2 text-danger"
						variant="link"
					>
						<b-dropdown-item @click="openModal('SOL')">
							Solicitud
						</b-dropdown-item>

						<b-dropdown-item @click="openModal('COM')">
							Comprobación
						</b-dropdown-item>
					</b-dropdown>
				</div>

				<div
					class="mb-2"
					v-if="
						hasPermission('fn.cg.solicitudes.administrar') ||
							hasPermission('fn.cg.solicitudes.autorizar')
					"
				>
					<fn-gastos-solicitudes-tipos-component />
				</div>

				<div class="mb-3">
					<fn-gastos-solicitudes-filters-component />
				</div>

				<fn-gastos-solicitudes-list-solicitudes-component />
			</b-col>

			<b-col sm="12" class="p-0" v-if="solicitudActiva && !vDetalles">
				<div
					class="bg-white border-bottom p-4 d-flex w-100 justify-content-between"
				>
					<h4 class="mb-0">
						<i
							class="fas fa-arrow-left mr-3"
							@click="setSolicitudActiva(null)"
							style="cursor: pointer"
						></i>
						Gasto #{{ solicitudActiva.idSolicitud }}
					</h4>
					<i
						class="fas fa-info-circle mt-1"
						@click="vDetalles = true"
						style="font-size: 20px"
					></i>
				</div>
				<fn-gastos-solicitudes-resumen-movil-component />
				<fn-gastos-solicitudes-comprobaciones-movil-component />
			</b-col>
			<b-col sm="12" class="p-0" v-if="solicitudActiva && vDetalles">
				<fn-gastos-solicitudes-detalles-movil-component
					@close="vDetalles = false"
				/>
			</b-col>
		</div>

		<modal-component
			:title="tituloModalSolicitud"
			:id="'modal-solicitud'"
			:size-modal="sizeModalSolicitud"
			:hideFooter="true"
			:hideHeader="true"
			:centered="true"
		>
			<template slot="content">
				<fn-gastos-solicitudes-form-solicitud-component
					:solicitud="solicitudEdit"
					:tipoSolicitud="tipoSolicitud"
					:usuarios="usuarios"
					@setSizeModal="setSizeModalSolicitud"
				/>
			</template>
			<span slot="buttons"></span>
		</modal-component>

		<modal-component
			:id="'modal-autorizacion'"
			:title="'Autorización de solicitud'"
			:hideFooter="true"
			:hideHeader="true"
			:centered="true"
			v-if="solicitudActiva"
		>
			<template slot="content">
				<fn-gastos-solicitudes-form-autorizacion-component
					:idSolicitud="solicitudActiva.idSolicitud"
					:statusAutorizacion="statusAutorizacion"
				/>
			</template>
		</modal-component>

		<modal-component
			:id="'modal-aceptacion-asignacion'"
			:title="'Aceptación del viático'"
			:hideFooter="true"
			:hideHeader="true"
			:centered="true"
			v-if="solicitudActiva"
		>
			<template slot="content">
				<fn-gastos-solicitudes-form-aceptacion-asignacion-component
					:idSolicitud="solicitudActiva.idSolicitud"
					:statusAceptacionAsignacion="statusAceptacionAsignacion"
				/>
			</template>
		</modal-component>

		<modal-component
			:id="'modal-rechazado'"
			:title="titleRechazado"
			:hideFooter="true"
			:hideHeader="true"
			:centered="true"
		>
			<template slot="content">
				<h5>{{ textModalRechazo }}</h5>

				<div v-if="comentarioRechazo" class="mt-3">
					<p class="mt-2">
						<strong>Comentarios de autorizador:</strong>
					</p>
					<p class="bg-light p-3">
						{{ comentarioRechazo.comentario }}
					</p>
				</div>

				<div v-else>
					<p class="mt-3">Sin comentarios adicionales</p>
				</div>

				<b-row class="mt-4 mb-2">
					<b-col lg="8">
						<template v-if="tipoRechazo == 'solicitud'">
							<b-button
								class="mt-2"
								size="sm"
								variant="light"
								@click="editarDesdeRechazo"
							>
								<i class="fas fa-edit"></i> Editar
							</b-button>

							<b-button
								class="mt-2 ml-2"
								size="sm"
								variant="light"
								@click="showMsgBoxArchivarConfirm"
							>
								<label class="mb-0 text-danger">
									<i class="fas fa-trash-alt"></i> Eliminar
									solicitud
								</label>
							</b-button>
						</template>
					</b-col>
					<b-col lg="4">
						<b-button
							variant="danger"
							class="ml-3 mt-2 float-right"
							@click="close('modal-rechazado')"
						>
							ACEPTAR
						</b-button>
					</b-col>
				</b-row>
			</template>
		</modal-component>
	</div>
</template>

<script>
import { mapState, mapActions, mapMutations, mapGetters } from "vuex";
import { required } from "vuelidate/lib/validators";

export default {
	data() {
		return {
			tituloModalSolicitud: "",
			tipoSolicitud: null,
			solicitudEdit: null,
			show: false,
			selected: null,
			vDetalles: false,
			statusAutorizacion: "",
			statusAceptacionAsignacion: "",
			items: [],
			titleRechazado: "",
			textModalRechazo: "",
			comentarioRechazo: "",
			tipoRechazo: "",
			formFechaFinReal: {
				fechaFinGastoReal: null,
			},
			sizeModalSolicitud: "md",
			selectedOption: "detalles",
			usuarios: [],
		};
	},
	mounted() {
		this.getUsuarios();
		if (this.permissions.length) this.setTipoSolicitudesByPermission();
		if (this.solicitudActiva && !this.listComprobaciones.length)
			this.getComprobaciones();

		EchoCG.channel("solicitudes")
			.listen("SolicitudSend", (data) => {
				data.solicitud.usuario = data.usuario;
				if (
					this.tipoSolicitudes == "todas" ||
					(this.tipoSolicitudes == "porAutorizar" &&
						data.solicitud.idAutorizador == this.usuario.idUsuario)
				) {
					this.addSolicitud(data.solicitud);
				}
			})
			.listen("SolicitudUpdate", (data) => {
				this.updateSolicitud(data.solicitud);
				if (
					this.solicitudActiva &&
					data.solicitud.idSolicitud ==
						this.solicitudActiva.idSolicitud
				) {
					this.getResumenSolicitudActiva(
						this.solicitudActiva.idSolicitud
					);
					this.getMovimientosBySolicitud(
						this.solicitudActiva.idSolicitud
					);
					this.getComprobaciones();
					this.getPlaneacionSolicitudActiva(
						this.solicitudActiva.idSolicitud
					);
				}

				if (
					data.solicitud.idEtapa == 6 &&
					this.tipoSolicitudes == "porAutorizar"
				) {
					data.solicitud.usuario = data.usuario;
					this.addSolicitud(data.solicitud);
				}

				if (
					data.solicitud.idEtapa == 1 &&
					this.usuario.idUsuario == data.solicitud.idUsuario
				) {
					this.solicitudRechazada();
				}
			});
	},
	methods: {
		...mapActions("solicitudes_gastos", [
			"getSolicitudes",
			"getSolicitudesByUsuario",
			"getSolicitudesByAutorizador",
			"getResumenSolicitudActiva",
			"getPlaneacionSolicitudActiva",
			"getMovimientosBySolicitud",
			"getComprobaciones",
		]),
		...mapMutations("solicitudes_gastos", [
			"addSolicitud",
			"updateSolicitud",
			"updateSolicitudActiva",
			"setTipoSolicitudes",
			"setSolicitudActiva",
			"setSolicitarFechaReal",
		]),
		setDataEditSolicitud() {
			this.tipoSolicitud = "SOL";
			this.solicitudEdit = this.solicitudActiva;
			this.solicitudEdit.planeacionGasto = this.planeacionSolicitudActiva.map(
				(item) => {
					var clasificacion =
						item.clasificacion == "Alimentación"
							? "Alimentacion"
							: item.clasificacion;

					return {
						clasificacion: clasificacion.toLowerCase(),
						importe: item.importe,
						formaPago: item.formaPago,
						disabled: true,
					};
				}
			);
			this.tituloModalSolicitud = "Editar solicitud de viáticos";
			this.$bvModal.show("modal-solicitud");
		},
		autorizacion(status) {
			this.statusAutorizacion = status;
			this.$bvModal.show("modal-autorizacion");
		},
		aceptarAsignacion(status) {
			this.statusAceptacionAsignacion = status;
			this.$bvModal.show("modal-aceptacion-asignacion");
		},
		hasPermission(funcion) {
			if (this.permissions.length) {
				const permiso = this.permissions.find(
					(permiso) => permiso.idFuncion == funcion
				);
				if (permiso) return true;
				return false;
			}
		},
		setTipoSolicitudesByPermission() {
			if (this.hasPermission("fn.cg.solicitudes.administrar")) {
				this.setTipoSolicitudes("todas");
				this.getSolicitudes();
			} else if (this.hasPermission("fn.cg.solicitudes.autorizar")) {
				this.setTipoSolicitudes("porAutorizar");
				this.getSolicitudesByAutorizador(this.usuario.idUsuario);
			} else {
				this.setTipoSolicitudes("misSolicitudes");
				this.getSolicitudesByUsuario(this.usuario.idUsuario);
			}
		},
		toAdminView() {
			this.$router.push(BaseUrl + `/finanzas/cg/admin-solicitudes`);
		},
		solicitudRechazada() {
			this.titleRechazado = "Solicitud rechazada";
			this.textModalRechazo = "Esta solicitud ha sido rechazada.";
			this.tipoRechazo = "solicitud";
			this.getComentario(1);
			this.$bvModal.show("modal-rechazado");
		},
		comprobacionRechazada() {
			this.titleRechazado = "Comprobación rechazada";
			this.textModalRechazo =
				"Se ha rechazado la comprobación de esta solicitud";
			this.tipoRechazo = "comprobacion";
			this.getComentario(4);
			this.$bvModal.show("modal-rechazado");
		},
		close(modal) {
			this.$bvModal.hide(modal);
		},
		async getComentario(idEtapa) {
			const idSolicitud = this.solicitudActiva.idSolicitud;
			const response = await axios.get(
				BaseUrl + `/api/fn/cg/comentarios/${idSolicitud}/${idEtapa}`
			);
			this.comentarioRechazo = response.data;
		},
		editarDesdeRechazo() {
			this.$bvModal.hide("modal-rechazado");
			this.setDataEditSolicitud();
		},
		showMsgBoxArchivarConfirm() {
			this.$bvModal.hide("modal-rechazado");
			this.$bvModal
				.msgBoxConfirm(
					"¿Está seguro de que desea eliminar esta solicitud?",
					{
						title: "Eliminar solicitud",
						size: "sm",
						okVariant: "danger",
						cancelVariant: "light",
						okTitle: "ACEPTAR",
						cancelTitle: "CANCELAR",
						headerClass: "pt-3 pb-2 border-bottom-0",
						footerClass: "p-2 border-top-0",
						centered: true,
					}
				)
				.then((confirm) => {
					if (confirm) this.archivar();
				});
		},
		async archivar() {
			try {
				const data = {
					responsable: this.usuario.nombreUsuario,
					idEtapaOld: this.solicitudActiva.idEtapa,
				};
				const response = await axios.put(
					BaseUrl +
						`/api/fn/cg/solicitudes/${this.solicitudActiva.idSolicitud}/etapas/10`,
					data
				);
				if (response.data.success) {
					this.updateSolicitud(response.data.solicitud);
					this.updateSolicitudActiva(response.data.solicitud);
					this.makeToast(
						"success",
						"Exito",
						"Se ha eliminado correctamente la solicitud"
					);
				}
			} catch (error) {
				this.makeToast(
					"danger",
					"Error",
					"Ha ocurrido un problema al eliminar la solicitud"
				);
				console.log(error);
			}
		},
		makeToast(variant = null, title, text) {
			this.$bvToast.toast(text, {
				title: title,
				variant: variant,
				solid: true,
			});
		},
		onContext(ctx) {
			this.formatted = ctx.selectedFormatted;
			this.formFechaFinReal.fechaFinGastoReal = ctx.selectedYMD;
		},
		async submitFechaFinGastosReal() {
			const response = await axios.put(
				BaseUrl +
					`/api/fn/cg/solicitudes/${this.solicitudActiva.idSolicitud}/fecha-fin-gastos-real`,
				this.formFechaFinReal
			);
			if (response.data.success) {
				this.updateSolicitud(response.data.solicitud);
				this.updateSolicitudActiva(response.data.solicitud);
				this.close("modal-fecha-real");
			}
		},
		openModal(tipo) {
			this.solicitudEdit = null;
			this.tipoSolicitud = tipo;
			if (this.tipoSolicitud == "SOL")
				this.tituloModalSolicitud = "Nueva solicitud de viáticos";
			else this.tituloModalSolicitud = "Nueva comprobación directa";

			this.$bvModal.show("modal-solicitud");
		},
		setSizeModalSolicitud(size) {
			this.sizeModalSolicitud = size;
		},
		getUsuarios() {
			axios.get(BaseUrl + `/api/usuarios/activos`).then((response) => {
				this.usuarios = response.data;
			});
		},
	},
	computed: {
		...mapState(["permissions", "usuario"]),
		...mapState("solicitudes_gastos", [
			"planeacionSolicitudActiva",
			"listComprobaciones",
			"solicitudActiva",
			"tipoSolicitudes",
		]),

		isMovil() {
			return (
				navigator.userAgent.match(/Android/i) ||
				navigator.userAgent.match(/webOS/i) ||
				navigator.userAgent.match(/iPhone/i) ||
				navigator.userAgent.match(/iPod/i) ||
				navigator.userAgent.match(/iPad/i) ||
				navigator.userAgent.match(/BlackBerry/i)
			);
		},
		permissionComprobacionDirecta() {
			if (this.usuario) {
				switch (this.usuario.noEmpleado) {
					case "001-010512": //FEH
						return true;
						break;
					case "158-170918": //BPG
						return true;
						break;
					case "001-020519": //FER
						return true;
						break;
					case "131-051116": //OMV
						return true;
						break;
					case "004-260422": //JGRM
						return true;
						break;
					case "191-010221": //HGL
						return true;
						break;
					default:
						return false;
						break;
				}
			}
			return false;
		},
		disabledNav() {
			if (this.solicitudActiva) {
				switch (this.solicitudActiva.idEtapa) {
					case 1: // SOLICITUD RECHAZADA
					case 2: // SOLICITUD EN AUTORIZACIÓN
						return {
							fondeo: true,
							comprobaciones: true,
							reembolsoDecremento: true,
						};
						break;
					case 3: // DISPERSIÓN
						return {
							fondeo: false,
							comprobaciones: true,
							reembolsoDecremento: true,
						};
						break;
					case 4: // COMPROBACIÓN
					case 5: // COMPROBACIÓN EN REVISIÓN
					case 6: // COMPROBACIÓN AUTORIZACIÓN
						return {
							fondeo: false,
							comprobaciones: false,
							reembolsoDecremento: true,
						};
						break;
					case 7: // REEMBOLSO Y DECREMENTO
						return {
							fondeo: false,
							comprobaciones: false,
							reembolsoDecremento: false,
						};
						break;
					case 8: // COMPROBACIÓN CONTABILIZACIÓN
					case 9: // COMPROBACIÓN TERMINADA
						return {
							fondeo: false,
							comprobaciones: false,
							reembolsoDecremento: false,
						};
						break;
					case 10: // ELIMINADA
						return {
							fondeo: true,
							comprobaciones: true,
							reembolsoDecremento: true,
						};
						break;
					default:
						return false;
						break;
				}
			}
		},
	},
	watch: {
		permissions() {
			this.setTipoSolicitudesByPermission();
		},
		solicitudActiva() {
			this.formFechaFinReal.fechaFinGastoReal = null;
			if (this.solicitudActiva) {
				if (
					this.solicitudActiva.idEtapa == 1 &&
					this.solicitudActiva.idUsuario == this.usuario.idUsuario
				)
					this.solicitudRechazada();
				if (
					this.solicitudActiva.idEtapa == 4 &&
					(this.solicitudActiva.idEtapaOld == 5 ||
						this.solicitudActiva.idEtapaOld == 6) &&
					this.solicitudActiva.idUsuario == this.usuario.idUsuario
				)
					this.comprobacionRechazada();
			}
		},
	},
};
</script>

<style scoped>
#nav-op-solicitud {
	font-size: 13px;
	font-weight: 600;
}
#nav-op-solicitud .nav-link.active {
	background-color: #950f1c !important;
}
#nav-op-solicitud .nav-item {
	padding-inline: 5px !important;
}
#nav-op-solicitud .nav-link {
	border-radius: 0rem !important;
	background-color: #fff !important;
	box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
	border-bottom: 1px solid #dee2e6 !important;
}
#nav-op-solicitud .nav-link {
	padding-block: 10px;
}
#nav-op-solicitud .nav-link.disabled {
	color: #6c757d !important;
	background-color: #f8f9fa !important;
	pointer-events: none !important;
	cursor: default !important;
}
</style>

<style>
.fs-11 {
	font-size: 11px;
}
.fs-12 {
	font-size: 12px;
}
.fs-13 {
	font-size: 13px;
}
.fs-14 {
	font-size: 14px;
}
.fs-15 {
	font-size: 15px;
}
.fs-16 {
	font-size: 16px;
}
#card-cg .card-header {
	background-color: #fff !important;
	color: rgb(69, 85, 95) !important;
}
.component-cg-max-height {
	max-height: calc(100vh - 210px) !important;
	overflow: auto;
}
</style>
