<template>
	<b-container class="p-0" fluid>
		<b-table-simple
			id="table-comprobacion"
			bordered
			responsive
			class="mb-0 border-top fs-11"
			:class="{
				'mt-3': index > 0,
				'td-comprobacion': solicitudActiva.idEtapa != 4,
				'td-comprobacion-activo': solicitudActiva.idEtapa == 4,
			}"
		>
			<b-thead>
				<b-tr class="bg-light">
					<b-th colspan="12">
						<h6 v-if="limiteCambio" class="mb-0 fs-12">
							{{ data.gasto.descripcion }}
							<i class="fas fa-balance-scale-right ml-3 mr-2"></i>
							<small class="fs-11">
								<strong>
									<font class="pr-2">Solicitado:</font>
									<vue-numeric
										separator=","
										currency="$"
										:precision="2"
										:read-only="true"
										:value="importeSolicitadoPlaneacion"
									/>
									<font class="px-2">-</font>
									<font class="pr-2">Comprobado:</font>
									<vue-numeric
										class="px-2"
										separator=","
										currency="$"
										:precision="2"
										:read-only="true"
										:value="totalImporte"
									/>
								</strong>
							</small>
						</h6>
						<h6 v-else class="mb-0 fs-12">
							{{ data.gasto.descripcion }}
						</h6>
					</b-th>
				</b-tr>
				<b-tr class="text-center thead-tfoot-height bg-light">
					<b-th style="width: 11%;">Fecha de comprobante</b-th>
					<b-th style="width: 8%;">Tipo C.</b-th>
					<b-th style="width: 8%;">Folio</b-th>
					<b-th style="width: 5%;">Archivos</b-th>
					<b-th class="text-left">Forma de pago</b-th>
					<b-th class="text-left">Descripción</b-th>
					<b-th style="width: 10%;" class="text-right">Subtotal</b-th>
					<b-th style="width: 10%;" class="text-right">Iva</b-th>
					<b-th style="width: 10%;" class="text-right">Otros</b-th>
					<b-th style="width: 10%;" class="text-right">Importe</b-th>
					<b-th style="width: 5%;" v-if="permissionRevision">
						Revisión
					</b-th>
					<b-th style="width: 5%;" v-if="solicitudActiva.idEtapa == 4"
						>Acción</b-th
					>
				</b-tr>
			</b-thead>
			<b-tbody>
				<b-tr
					class="text-center"
					v-for="(comprobacion, index) in data.comprobaciones"
					:key="index"
				>
					<b-td>
						<b-link
							class="text-dark"
							@click="openSidebar(comprobacion)"
						>
							<strong>
								{{
									this.moment(comprobacion.fechaGasto).format(
										"DD/MM/YYYY"
									)
								}}
							</strong>
						</b-link>
					</b-td>
					<b-td>{{ comprobacion.tipoComprobante }}</b-td>
					<b-td>{{ comprobacion.folioComprobante }}</b-td>
					<b-td>
						<i
							:class="comprobacionArchivos(comprobacion).icono"
							v-b-tooltip.hover.right
							:title="comprobacionArchivos(comprobacion).title"
						></i>
					</b-td>
					<b-td class=" text-left">{{ comprobacion.tipoGasto }}</b-td>
					<b-td class=" text-left">{{
						comprobacion.descripcion
					}}</b-td>
					<b-td class="text-right ">
						<div class="d-flex w-100 justify-content-between">
							<label class="mb-0">$</label>
							<vue-numeric
								separator=","
								:precision="2"
								:read-only="true"
								:value="comprobacion.subtotal"
							/>
						</div>
					</b-td>
					<b-td class="text-right ">
						<div class="d-flex w-100 justify-content-between">
							<label class="mb-0">$</label>
							<vue-numeric
								separator=","
								:precision="2"
								:read-only="true"
								:value="comprobacion.iva"
							/>
						</div>
					</b-td>
					<b-td class="text-right ">
						<div class="d-flex w-100 justify-content-between">
							<label class="mb-0">$</label>
							<vue-numeric
								separator=","
								:precision="2"
								:read-only="true"
								:value="comprobacion.otros"
							/>
						</div>
					</b-td>
					<b-td class="text-right ">
						<div class="d-flex w-100 justify-content-between">
							<label class="mb-0">$</label>
							<vue-numeric
								separator=","
								:precision="2"
								:read-only="true"
								:value="comprobacion.importe"
							/>
						</div>
					</b-td>

					<template v-if="permissionRevision">
						<b-td
							v-if="
								solicitudActiva.idEtapa == 5 &&
									hasPermission('fn.cg.solicitudes.revisar')
							"
							class="text-center"
						>
							<b-form-checkbox
								:id="'cb-' + comprobacion.idComprobacion"
								style="padding-left: 1.8rem !important;"
								v-model="comprobacion.revision"
								class="cbox_revision"
								:value="1"
								:unchecked-value="0"
								@change="setEstatusRevision(comprobacion)"
							/>
						</b-td>
						<b-td v-else>
							<b-icon
								v-b-tooltip.hover.right
								:icon="
									comprobacion.revision
										? 'check-square-fill'
										: 'x-square-fill'
								"
								:class="
									comprobacion.revision
										? 'text-success fs-12'
										: 'text-danger fs-12'
								"
								:title="
									comprobacion.revision
										? 'Comprobación aceptada'
										: 'Comprobación rechazada'
								"
							>
							</b-icon>
						</b-td>
					</template>

					<b-td v-if="solicitudActiva.idEtapa == 4">
						<div class="text-center">
							<b-dropdown
								id="drop-comprobacion"
								right
								variant="light"
								size="sm"
								class="py-0 fs-12"
								no-caret
							>
								<template v-slot:button-content>
									<i class="fas fa-ellipsis-v px-2"></i>
								</template>
								<b-dropdown-item
									v-b-modal.modal-delete
									@click="dataEdit(comprobacion)"
									class="fs-12"
								>
									<i
										class="fas fa-edit text-secondary pr-2"
									></i>
									Editar
								</b-dropdown-item>
								<slot name="dropdown-more-actions"></slot>
								<b-dropdown-item
									v-b-modal.modal-delete
									@click="
										showMsgBoxDeleteConfirm(
											comprobacion.idComprobacion
										)
									"
									class="fs-12"
								>
									<i
										class="fas fa-trash text-secondary pr-2"
									></i>
									Eliminar
								</b-dropdown-item>
							</b-dropdown>
						</div>
					</b-td>
				</b-tr>
				<b-tr v-if="!data.comprobaciones.length">
					<b-td
						:colspan="
							hasPermission('fn.cg.solicitudes.contabilizar')
								? '13'
								: '12'
						"
						class="text-center "
					>
						<h5 class="text-center my-3" style="font-size: 13px;">
							No hay resultados
						</h5>
					</b-td>
				</b-tr>
			</b-tbody>
			<b-tfoot>
				<b-tr class="text-right thead-tfoot-height">
					<b-th colspan="6" class="text-right">
						Totales (MXN):
					</b-th>
					<b-th :class="colorSVsC">
						<div class="d-flex w-100 justify-content-between">
							<label class="mb-0">$</label>
							<vue-numeric
								separator=","
								:precision="2"
								:read-only="true"
								:value="totalSubtotal"
							/>
						</div>
					</b-th>
					<b-th :class="colorSVsC">
						<div class="d-flex w-100 justify-content-between">
							<label class="mb-0">$</label>
							<vue-numeric
								separator=","
								:precision="2"
								:read-only="true"
								:value="totalIva"
							/>
						</div>
					</b-th>
					<b-th :class="colorSVsC">
						<div class="d-flex w-100 justify-content-between">
							<label class="mb-0">$</label>
							<vue-numeric
								separator=","
								:precision="2"
								:read-only="true"
								:value="totalOtros"
							/>
						</div>
					</b-th>
					<b-th :class="colorSVsC">
						<div class="d-flex w-100 justify-content-between">
							<label class="mb-0">$</label>
							<vue-numeric
								separator=","
								:precision="2"
								:read-only="true"
								:value="totalImporte"
							/>
						</div>
					</b-th>
					<!-- <b-th v-if="solicitudActiva.idEtapa == 4"></b-th> -->
				</b-tr>
			</b-tfoot>
		</b-table-simple>
	</b-container>
</template>

<script>
import { mapState, mapActions, mapMutations } from "vuex";

export default {
	props: {
		data: Object,
		index: Number,
	},
	data() {
		return {};
	},
	methods: {
		...mapActions("solicitudes_gastos", ["getResumenSolicitudActiva"]),
		...mapMutations("solicitudes_gastos", ["updateComprobacion"]),
		...mapMutations("solicitudes_gastos", [
			"deleteComprobacion",
			"updateSolicitud",
			"updateReembolsarDecrementar",
		]),

		async setEstatusRevision(comprobacion) {
			try {
				const response = await axios.put(
					BaseUrl + `/api/fn/cg/comprobaciones/revision`,
					comprobacion
				);
				if (response.data.success) {
					this.updateComprobacion(response.data.comprobacion);
				}
			} catch (e) {
				console.log(e);
			}
		},
		openSidebar(comprobacion) {
			const data = {
				comprobacion: comprobacion,
				sidebar: true,
			};
			this.$emit("openSidebar", data);
		},
		dataEdit(data) {
			this.$emit("dataEdit", data);
		},
		openModalFile(comprobacion) {
			this.$emit("openModalFile", comprobacion);
		},
		comprobacionArchivos(comprobacion) {
			if (comprobacion.tipoComprobante == "Factura") {
				if (
					comprobacion.file == "S/A" ||
					comprobacion.fileXML == "S/A"
				) {
					return {
						icono: "fas fa-exclamation-triangle text-warning",
						title: "Faltan archivos",
					};
				} else {
					return {
						icono: "fas fa-check-circle text-success",
						title: "Archivos completos",
					};
				}
			} else {
				if (comprobacion.file == "S/A") {
					return {
						icono: "fas fa-exclamation-triangle text-warning",
						title: "Sin archivos",
					};
				} else {
					return {
						icono: "fas fa-check-circle text-success",
						title: "Archivos completos",
					};
				}
			}
		},
		showMsgBoxDeleteConfirm(id) {
			this.$bvModal
				.msgBoxConfirm(
					"¿Está seguro de que desea eliminar el registro de comprobación?",
					{
						title: "Eliminar comprobación",
						size: "sm",
						buttonSize: "sm",
						okVariant: "danger",
						cancelVariant: "light",
						okTitle: "CONFIRMAR",
						cancelTitle: "CANCELAR",
						headerClass: "pt-3 pb-2 border-bottom-0",
						footerClass: "p-2 border-top-0",
						centered: true,
					}
				)
				.then((confirm) => {
					if (confirm) this.delete(id);
				});
		},
		async delete(idComprobacion) {
			try {
				const response = await axios.delete(
					BaseUrl + `/api/fn/cg/comprobaciones/${idComprobacion}`
				);
				if (response.data.success) {
					this.makeToast(
						"success",
						"Exito",
						"Se ha eliminado correctamente el registro"
					);
					this.deleteComprobacion(idComprobacion);
					this.getResumenSolicitudActiva(
						this.solicitudActiva.idSolicitud
					);
				}
			} catch (error) {
				this.makeToast(
					"danger",
					"Error",
					"Ha ocurrido un problema al eliminar el registro"
				);
				console.log(error);
			}
		},
		makeToast(variant = null, title, text) {
			this.$bvToast.toast(text, {
				title: title,
				variant: variant,
				solid: true,
			});
		},
		hasPermission(funcion) {
			if (this.permissions.length) {
				const permiso = this.permissions.find(
					(permiso) => permiso.idFuncion == funcion
				);
				if (permiso) return true;
				return false;
			}
		},
	},
	computed: {
		...mapState(["permissions"]),
		...mapState("solicitudes_gastos", [
			"limiteCambio",
			"solicitudActiva",
			"busyComprobaciones",
			"planeacionSolicitudActiva",
		]),

		totalSubtotal() {
			var suma = 0;
			for (var i = 0; i < this.data.comprobaciones.length; i++) {
				let subtotal = Number(
					parseFloat(this.data.comprobaciones[i].subtotal).toFixed(2)
				);
				suma += subtotal;
			}
			return parseFloat(suma).toFixed(2);
		},
		totalIva() {
			var suma = 0;
			for (var i = 0; i < this.data.comprobaciones.length; i++) {
				let iva = Number(
					parseFloat(this.data.comprobaciones[i].iva).toFixed(2)
				);
				suma += iva;
			}
			return parseFloat(suma).toFixed(2);
		},
		totalOtros() {
			var suma = 0;
			for (var i = 0; i < this.data.comprobaciones.length; i++) {
				let otros = Number(
					parseFloat(this.data.comprobaciones[i].otros).toFixed(2)
				);
				suma += otros;
			}
			return parseFloat(suma).toFixed(2);
		},
		totalImporte() {
			var suma = 0;
			for (var i = 0; i < this.data.comprobaciones.length; i++) {
				let importe = Number(
					parseFloat(this.data.comprobaciones[i].importe).toFixed(2)
				);
				suma += importe;
			}
			return parseFloat(suma).toFixed(2);
		},
		importeSolicitadoPlaneacion() {
			const filteredPlaneacion = this.planeacionSolicitudActiva.filter(
				(item) => item.clasificacion == this.data.gasto.clasificacion
			);
			if (filteredPlaneacion) {
				return filteredPlaneacion.reduce(
					(suma, item) => suma + parseFloat(item.importe),
					0
				);
			} else return 0;
		},
		colorSVsC() {
			if (this.limiteCambio) {
				if (this.importeSolicitadoPlaneacion == 0) {
					return "bg-warning-ssvc";
				} else if (
					this.totalImporte == this.importeSolicitadoPlaneacion
				) {
					return "bg-success-ssvc";
				} else if (
					this.totalImporte > this.importeSolicitadoPlaneacion
				) {
					return "bg-danger-ssvc";
				} else if (
					this.totalImporte < this.importeSolicitadoPlaneacion
				) {
					return "bg-warning-ssvc";
				}
			} else return "";
		},
		permissionRevision() {
			if (
				this.solicitudActiva.idEtapa == 4 &&
				this.solicitudActiva.idEtapaOld >
					this.solicitudActiva.idEtapa
			) {
				return true;
			} else if (this.solicitudActiva.idEtapa > 4) {
				return true;
			} else {
				return false;
			}
		},
	},
};
</script>

<style scoped>
.bg-success-ssvc {
	background-color: rgb(113, 255, 136, 0.29);
}
.bg-danger-ssvc {
	background-color: rgb(255, 113, 113, 0.29);
}
.bg-warning-ssvc {
	background-color: rgb(255, 222, 113, 0.29);
}
</style>

<style>
.cbox_revision .custom-control-input:checked ~ .custom-control-label::before {
    color: #fff !important;
    border-color: #28a745 !important;
    background-color: #28a745 !important;
}
#drop-comprobacion .dropdown-toggle {
	padding-block: 2px;
	padding-inline: 4px;
}
#table-comprobacion th {
	padding: 0.8rem !important;
	vertical-align: middle !important;
}
#table-comprobacion .thead-tfoot-height th {
	padding: 0.6rem !important;
	vertical-align: middle !important;
}
.td-comprobacion td {
	padding: 0.6rem !important;
	vertical-align: middle !important;
}
.td-comprobacion-activo td {
	padding: 0.4rem !important;
	vertical-align: middle !important;
}
</style>
