<template>
	<b-container class="my-3 px-0" fluid>
		<b-card v-if="busyArchivos">
			<b-skeleton animation="fade" width="85%"></b-skeleton>
			<b-skeleton animation="fade" width="55%"></b-skeleton>
			<b-skeleton animation="fade" width="70%"></b-skeleton>
			<b-skeleton animation="fade" width="85%"></b-skeleton>
			<b-skeleton animation="fade" width="55%"></b-skeleton>
		</b-card>

		<template v-else>
			<h6 v-if="!listArchivosFiltered.length" class="text-center fs-13">
				<i
					class="fas fa-info-circle mb-3"
					style="color: rgba(0, 0, 0, 0.2); font-size: 41px;"
				></i>
				<p class="text-secondary mb-2" style="font-weight: 500;">
					No hay resultados
				</p>
				<p class="text-muted" style="font-weight: 300;">
					La solicitud de viático no tiene ningún comprobante de
					<span>{{ labelTipo }}</span
					>.
				</p>
			</h6>

			<timeline v-else>
				<timeline-item
					v-for="(archivo, index) in listArchivosFiltered"
					:key="index"
					style="font-size: 12px;"
				>
					<i
						class="fas fa-paperclip text-dark"
						slot="others"
						style="font-size: 18px;"
					></i>
					<h6>
						Comprobante:
						<span class="ml-2">
							<strong>{{ archivo.file }}</strong>
						</span>
					</h6>

					<p class="mb-0 fs-12">
						<span>Extensión:</span>
						<span class="ml-2 fw-500">
							{{ extFile(archivo.file) }}
						</span>
					</p>
					<p v-if="archivo.etiquetas" class="mb-0 fs-12">
						<span>Etiquetas:</span>
						<span class="ml-1 fw-500">
							<b-badge
								v-for="(etiqueta, index) in divEtiquetas(
									archivo.etiquetas
								)"
								:key="index"
								class="ml-1 px-2 py-1"
								:style="'background-color:' + archivo.color"
							>
								{{ etiqueta.toUpperCase() }}
							</b-badge>
						</span>
					</p>

					<b-button-group class="mt-2" size="sm">
						<template
							v-if="
								hasPermission(
									'fn.cg.solicitudes.descargar.comprobantes'
								)
							"
						>
							<b-button
								v-if="
									loadingDownload && archivo.idArchivo == file
								"
								variant="light"
							>
								<b-spinner small class="mx-2"></b-spinner>
							</b-button>

							<b-button
								v-else
								@click="downloadFile(archivo)"
								variant="light"
								><i class="fas fa-download px-2"></i
							></b-button>
						</template>

						<b-button
							v-if="
								hasPermission(
									'fn.cg.solicitudes.editar.comprobantes'
								)
							"
							@click="openModal(archivo)"
							variant="light"
							><i class="fas fa-edit px-2"></i
						></b-button>
						<b-button
							v-if="
								hasPermission(
									'fn.cg.solicitudes.eliminar.comprobantes'
								)
							"
							@click="showMsgBoxDeleteConfirm(archivo.idArchivo)"
							variant="light"
							><i class="fas fa-trash px-2"></i
						></b-button>
					</b-button-group>
				</timeline-item>
			</timeline>
		</template>

		<modal-component
			:id="'modal-comprobantes'"
			:title="!editArchivo ? 'Agregar comprobante' : 'Editar comprobante'"
			:hideFooter="true"
			:hideHeader="true"
			:centered="false"
		>
			<template slot="content">
				<fn-gastos-solicitudes-form-archivo-component
					:tipo="tipo"
					:archivo="editArchivo"
				/>
			</template>
		</modal-component>
	</b-container>
</template>

<script>
import { mapState, mapMutations } from "vuex";
import { Timeline, TimelineItem, TimelineTitle } from "vue-cute-timeline";

export default {
	components: {
		Timeline,
		TimelineItem,
		TimelineTitle,
	},
	props: {
		tipo: String,
	},
	data() {
		return {
			loadingDownload: false,
			file: null,
			editArchivo: null,
		};
	},
	mounted() {},
	methods: {
		...mapMutations("fn_cg_archivos", ["removeArchivo"]),

		divEtiquetas(etiquetas) {
			return etiquetas.split(",");
		},
		extFile(file) {
			var ext = file.split(".", 2);
			return ext[1].toUpperCase();
		},
		downloadFile(archivo) {
			this.file = archivo.idArchivo;
			this.loadingDownload = true;
			window.location =
				BaseUrl +
				`/api/fn/cg/solicitudes/comprobante/${archivo.file}/download`;
			setTimeout(() => this.terminarDownload(), 1000);
		},
		terminarDownload() {
			this.loadingDownload = false;
			this.file = null;
		},
		openModal(archivo) {
			this.editArchivo = archivo;
			this.$bvModal.show("modal-comprobantes");
		},
		showMsgBoxDeleteConfirm(id) {
			this.$bvModal
				.msgBoxConfirm(
					`¿Confirmas que quieres eliminar este comprobante?`,
					{
						title: "Eliminar comprobante",
						size: "sm",
						buttonSize: "sm",
						okVariant: "danger",
						cancelVariant: "light",
						okTitle: "CONFIRMAR",
						cancelTitle: "CANCELAR",
						headerClass: "pt-3 pb-2 border-bottom-0",
						footerClass: "p-2 border-top-0",
						centered: true,
					}
				)
				.then((confirm) => {
					if (confirm) {
						this.remove(id);
					}
				});
		},
		async remove(idArchivo) {
			try {
				const response = await axios.delete(
					BaseUrl +
						`/api/fn/cg/solicitudes/file/comprobante/${idArchivo}`
				);
				if (response.data.success) {
					this.removeArchivo(idArchivo);
				}
			} catch (error) {
				console.log(error);
			}
		},
		hasPermission(funcion) {
			if (this.permissions.length) {
				const permiso = this.permissions.find(
					(permiso) => permiso.idFuncion == funcion
				);
				if (permiso) return true;
				return false;
			}
		},
	},
	computed: {
		...mapState(["permissions", "usuario"]),
		...mapState("usuarios", ["usuarios"]),
		...mapState("fn_cg_archivos", ["listArchivos", "busyArchivos"]),

		listArchivosFiltered() {
			return this.listArchivos.filter(
				(archivo) => archivo.tipo == this.tipo
			);
		},
		labelTipo() {
			if (this.tipo == "Dispersion") return "dispersión";
			else {
				return this.tipo.toLowerCase();
			}
		},
	},
};
</script>

<style>
.timeline {
	padding: 0;
	position: relative;
	list-style: none;
	font-family: sans-serif;
	margin: 10px 20px;
}
.timeline-others {
	background-color: #0000 var(--timelineBg);
}
</style>
