<template>
	<div class="mx-2 d-flex w-100 justify-content-between">
		<div>
			<b-nav>
				<b-nav-item
					class="button-autorizaciones padding-line"
					@click="
						setTipoSolicitudes('todas');
						getSolicitudes();
					"
					v-if="hasPermission('fn.cg.solicitudes.administrar')"
				>
					<label
						class="text-secondary"
						style="cursor: pointer; font-size: 13px"
					>
						<i
							class="fas fa-user-shield"
							style="margin-right: 1px"
						></i>
						Todas
					</label>
					<hr
						v-show="tipoSolicitudes == 'todas'"
						style="border-top: 3px solid rgb(193 55 37)"
						class="my-0"
					/>
				</b-nav-item>
				<b-nav-item
					class="button-autorizaciones padding-line"
					@click="
						setTipoSolicitudes('porAutorizar');
						getSolicitudesByAutorizador(usuario.idUsuario);
					"
					v-if="hasPermission('fn.cg.solicitudes.autorizar')"
				>
					<label
						class="text-secondary"
						style="cursor: pointer; font-size: 13px"
					>
						<i
							class="fas fa-user-check"
							style="margin-right: 1px"
						></i>
						Autorizaciones
					</label>
					<hr
						v-show="tipoSolicitudes == 'porAutorizar'"
						style="border-top: 3px solid rgb(193 55 37)"
						class="my-0"
					/>
				</b-nav-item>
				<b-nav-item
					@click="
						setTipoSolicitudes('misSolicitudes');
						getSolicitudesByUsuario(usuario.idUsuario);
					"
					class="pr-0 padding-line"
				>
					<label
						class="text-secondary"
						style="cursor: pointer; font-size: 13px"
					>
						<i
							class="fas fa-hand-holding-usd"
							style="margin-right: 1px"
						></i>
						Mis solicitudes
					</label>
					<hr
						v-show="tipoSolicitudes == 'misSolicitudes'"
						style="border-top: 3px solid rgb(193 55 37)"
						class="my-0"
					/>
				</b-nav-item>
			</b-nav>
		</div>
	</div>
</template>

<script>
import { mapState, mapActions, mapMutations } from "vuex";
export default {
	data() {
		return {
			selected: null,
		};
	},
	mounted() {},
	methods: {
		...mapActions("solicitudes_gastos", [
			"getSolicitudesByAutorizador",
			"getSolicitudesByUsuario",
			"getSolicitudes",
		]),
		...mapMutations("solicitudes_gastos", ["setTipoSolicitudes"]),
		
		hasPermission(funcion) {
			if (this.permissions.length) {
				const permiso = this.permissions.find(
					(permiso) => permiso.idFuncion == funcion
				);
				if (permiso) return true;
				return false;
			}
		},
	},
	computed: {
		...mapState(["permissions", "usuario"]),
		...mapState("solicitudes_gastos", ["tipoSolicitudes"]),
	},
};
</script>

<style>
.padding-line .nav-link {
	padding-inline: 10px !important;
}
</style>
