<template>
	<b-card no-body class="mb-3" style="max-width: 100%">
		<div class="toast-header text-secondary py-2">
			<b-img
				width="38"
				height="38"
				alt="img"
				rounded="circle"
				:src="urlImage"
			/>
			&nbsp;&nbsp;&nbsp;
			<strong class="mr-auto">
				{{ comentario.nombre_usuario }}
			</strong>
			<small class="text-muted">
				{{ fecha }}
			</small>
			<b-dropdown
				class="ml-2"
				size="sm"
				right
				variant="light"
				no-caret
				:disabled="
					hasPermission('vt.crm.negocios.editar.nota') ? false : true
				"
			>
				<template v-slot:button-content>
					<i class="fas fa-ellipsis-v"></i>
				</template>
				<b-dropdown-item
					v-if="hasPermission('vt.crm.negocios.eliminar.nota')"
					href="#"
					v-b-modal.modal-delete
					@click="$emit('dataDelete', comentario)"
				>
					<i class="fas fa-trash px-2"></i>
					Eliminar
				</b-dropdown-item>
			</b-dropdown>
		</div>
		<b-card-text class="py-3 px-4 text-secondary">
			<template v-if="comentario.tituloNegocio || comentario.responsable">
				<div class="card-header p-1">
					<small>Datos generales:</small>
					<b-badge
						pill
						variant="success"
						class="float-right mt-1"
						v-if="comentario.lead"
					>
						Lead
					</b-badge>
				</div>
				<div class="py-3 px-4">
					<h1
						class="display-1"
						style="font-size: 15px;"
						v-if="comentario.tituloNegocio"
					>
						<strong>Titulo del negocio: </strong>
						{{ comentario.tituloNegocio }}
					</h1>
					<h1
						class="display-1"
						style="font-size: 15px;"
						v-if="comentario.responsable"
					>
						<strong>Responsable: </strong>
						{{ comentario.responsable }}
					</h1>
					<div v-if="comentario.lead">
						<b-button
							v-if="
								comentario.negocio == 0 &&
									hasPermission('vt.crm.negocios.registrar')
							"
							variant="outline-danger"
							size="sm"
							class="py-0 px-1"
							@click="setDataNegocio"
							v-b-modal.modal-negocio-leads
						>
							Añadir negocio
						</b-button>
						<b-button
							v-else
							variant="success"
							size="sm"
							class="py-0 px-1"
						>
							<i class="far fa-check-circle"></i>
							Negocio agregado
						</b-button>
					</div>
				</div>
			</template>
			<template v-if="comentario.contenido">
				<div class="card-header p-1">
					<small>Comentarios:</small>
					<b-dropdown
						style="margin-top:-2px;"
						class="float-right ml-1"
						size="sm"
						right
						variant="light"
						no-caret
						:disabled="
							hasPermission('vt.crm.negocios.editar.nota')
								? false
								: true
						"
					>
						<template v-slot:button-content>
							<i class="fas fa-ellipsis-v"></i>
						</template>

						<b-dropdown-item
							v-if="hasPermission('vt.crm.negocios.editar.nota')"
							href="#"
							@click="openEditComentario()"
						>
							<i class="fas fa-edit px-2"></i>
							Editar
						</b-dropdown-item>
					</b-dropdown>
					<b-badge
						pill
						variant="light"
						href="#"
						@click="getHistory()"
						class="float-right mt-1 border text-secondary"
					>
						<i class="fas fa-info-circle"></i>
						Ultimos cambios {{ lastTimes }}
					</b-badge>
				</div>
				<div class="mt-3 px-4">
					<div v-show="!edit" v-html="comentario.contenido"></div>
					<div v-if="edit">
						<b-form-group
							label-for="titulo-input"
							class="pb-0 mb-2"
						>
							<ckeditor-component
								@getEditor="editorComentario = $event"
								:lastInfo="editorComentario"
							/>
						</b-form-group>
						<b-row class="mb-2">
							<b-col lg="12">
								<div class="float-right">
									<b-button
										pill
										size="sm"
										variant="light"
										style="width: 30px; height: 30px"
										@click="openEditComentario()"
									>
										<i
											class="fas fa-times text-secondary"
										></i>
									</b-button>
									<b-button
										pill
										size="sm"
										variant="light"
										style="width: 30px; height: 30px"
										@click="editComentario()"
									>
										<i
											class="fas fa-check text-success"
										></i>
									</b-button>
								</div>
							</b-col>
						</b-row>
					</div>
				</div>
			</template>
			<template v-if="comentario.file">
				<div class="card-header p-1">
					<small>Adjuntos:</small>
				</div>
				<div class="card-body pt-2 pb-0 px-4">
					<i class="fas fa-file-pdf text-danger"></i>
					<small
						><a @click="donwloadFile" class="text-danger">{{
							comentario.file
						}}</a></small
					>
				</div>
			</template>
		</b-card-text>
	</b-card>
</template>

<script>
import { mapState, mapMutations, mapActions } from "vuex";
export default {
	props: {
		comentario: Object,
	},
	data() {
		return {
			urlImage: "",

			infoComentario: "",
			edit: false,
			flag: false,
			newNegocio: false,
			editorComentario: "",
		};
	},
	mounted() {
		this.urlImagen(this.comentario.foto_usuario);
		this.editorComentario = this.comentario.contenido;
	},
	methods: {
		...mapMutations(["setEditor"]),
		...mapMutations("notas", ["updateComentario"]),
		...mapMutations("notas", ["setActualizaciones"]),
		...mapMutations("negocios", ["setNegocioLeads"]),

		urlImagen(foto) {
			this.urlImage = BaseUrl + "/img/profiles/" + foto;
		},
		setDataNegocio() {
			const data = {
				tituloNegocio: this.comentario.tituloNegocio,
				idCliente: this.comentario.idCliente,
				cliente: this.comentario.nombre_cliente,
				claveCliente: this.comentario.clave_cliente,
				idContacto: this.comentario.idContacto,
				contacto: this.comentario.nombre_contacto,
				idComentario: this.comentario.idComentario,
				idUsuarioComentario: this.comentario.idUsuario,
			};
			this.setNegocioLeads(data);
		},
		openEditComentario() {
			if (!this.flag) {
				this.infoComentario = this.comentario.contenido;
			}
			this.edit = !this.edit;

			this.setEditor(this.infoComentario);
			this.flag = true;
		},
		editComentario() {
			const params = {
				idComentario: this.comentario.idComentario,
				tituloNegocio: this.comentario.tituloNegocio,
				contenido: this.editorComentario,
				responsable: this.comentario.responsable,
				idNota: this.comentario.idNota,
				lead: this.comentario.lead,
				idUsuario: this.comentario.idUsuario,
				negocio: 0,
			};
			axios
				.put(BaseUrl + `/api/vt/comentarios`, params)
				.then((response) => {
					this.updateComentario(response.data.comentario);
					this.makeToast();
				});
			this.edit = !this.edit;
			this.setEditor("");
		},
		makeToast() {
			this.$bvToast.toast("Se han guardado correctamente los cambios", {
				title: "Éxito",
				variant: "success",
				solid: true,
			});
		},
		donwloadFile() {
			window.open(BaseUrl + `/api/storage/${this.comentario.file}`);
		},
		getHistory() {
			axios
				.get(
					BaseUrl +
						`/api/vt/actualizaciones/${this.comentario.idComentario}`
				)
				.then((response) => {
					this.setActualizaciones(response.data);
					if (response.data.length > 0)
						this.$bvModal.show("modal-historial");
				});
		},
		hasPermission(funcion) {
			if (this.permissions.length) {
				const permiso = this.permissions.find(
					(permiso) => permiso.idFuncion == funcion
				);
				if (permiso) return true;
				return false;
			}
		},
	},
	computed: {
		...mapState(["permissions", "usuario"]),
		...mapState("notas", ["actualizaciones"]),
		...mapState("clientes", ["clientes"]),
		...mapState("negocios", ["newNegocios"]),
		...mapState(["okModal"]),
		lastTimes() {
			var fecha = moment(this.comentario.fechaActualizado).format(
				"YYYY-MM-DD HH:mm:ss"
			);
			var last = moment(fecha, "YYYY-MM-DD hh:mm:ss")
				.locale("es")
				.fromNow();
			return last;
		},
		fecha() {
			return moment(this.comentario.fechaCreado)
				.locale("es")
				.format("LL");
		},
		...mapState("notas", ["idNota"]),
	},
	watch: {},
};
</script>
<style>
.bg-secondary {
	background-color: #6c757db5 !important;
}
.bg-success {
	background-color: #edffde !important;
}
.text-secondary {
	color: #53595f !important;
}
</style>
