<template>
    <div>
        <div class="text-secondary pb-3">
            <b-img width="38" height="38" alt="img"
            rounded="circle" 
            :src="urlImage" /> 
            &nbsp;&nbsp;
    		<strong class="mr-auto">
    			{{actualizacion.nombre_usuario}}
    		</strong>
	   </div>
       <div>
           <b-row class="px-4">
                <p v-html="actualizacion.contenido"></p>
                <small class="text-muted ml-auto">
                    {{fecha}}
                </small>
            </b-row>
            <hr class="mt-0 pt-0"/>
       </div>
    </div>
</template>

<script>
export default {
    props:{
        actualizacion: Object,
    },
    data(){
       return{
           urlImage: ''
       }
    },
    mounted(){
        this.urlImagen(this.actualizacion.foto_usuario)
    },
    methods: {
        urlImagen(foto){
            this.urlImage = BaseUrl + '/img/profiles/' + foto
        }
    },
    computed:{
        fecha(){
		return moment(this.actualizacion.fechaActualizado).locale('es').format('LL');
	    },
    }

}
</script>