<template>
    <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group label="Titulo de la nota" label-for="titulo-input">
            <b-form-input id="titulo-input" 
            placeholder="Ingrese el titulo de la nota"
            v-model="$v.form.titulo.$model" 
            :state="$v.form.titulo.$dirty ? !$v.form.titulo.$error : null"
            aria-describedby="feedback-titulo"> 
            </b-form-input>
            <b-form-invalid-feedback id="feedback-titulo">
					Campo obligatorio
			</b-form-invalid-feedback>
        </b-form-group> 

        <b-form-checkbox
            id="checkbox-1"
            v-model="newClient"
            name="checkbox-1"
            class="float-right text-secondary"
            >
            Nuevo cliente
        </b-form-checkbox>
        <b-form-group label="Cliente" label-for="cliente-input">
            <vt-clientes-select v-if="newClient==false"/>
            <b-form-input v-else placeholder="Ingrese el nombre del cliente" v-model="form.nombreCliente" :state="$v.form.nombreCliente.$dirty ? !$v.form.nombreCliente.$error : null"/>
        </b-form-group>

        <template v-if="clienteSelected && !newClient">

            <b-form-checkbox
                id="checkbox-2"
                v-model="newContact"
                name="checkbox-2"
                class="float-right text-secondary"
                >
                Nuevo contacto
            </b-form-checkbox>

            <b-form-group v-if="newContact == false" label="Contacto" label-for="contacto-input">
                <b-form-select id="contacto-input" 
                v-model="$v.form.idContacto.$model" 
                :options="selectContactos" 
                :state="$v.form.idContacto.$dirty ? !$v.form.idContacto.$error : null" 
                aria-describedby="feedback-contacto">
                    <template v-slot:first>
                        <option :value="null">Seleccione la persona de contacto</option>
                    </template>
                   
                </b-form-select>
                <b-form-invalid-feedback id="feedback-contacto">
    					Campo obligatorio
    			</b-form-invalid-feedback>
            </b-form-group>
        </template>

        <template v-if="newClient || newContact">
            <b-form-group label="Contacto" label-for="cliente-input">
                <b-form-input placeholder="Ingrese el nombre del contacto" v-model="form.nombreContacto" :state="$v.form.nombreContacto.$dirty ? !$v.form.nombreContacto.$error : null"/>
            </b-form-group>
             <b-form-group label="Telefono" label-for="cliente-input">
                <b-form-input placeholder="Ingrese el teléfono del contacto (opcional)" v-model="form.telefonoContacto" :state="$v.form.telefonoContacto.$dirty ? !$v.form.telefonoContacto.$error : null"/>
            </b-form-group>
        </template>
    </form>
</template>

<script>
    import { required, minLength,numeric,maxLength,alpha,url} from 'vuelidate/lib/validators'
    import { mapState, mapMutations, mapActions } from 'vuex'
    export default {
        data() {
            return {
                form:{
                    titulo: '',
                    idContacto: null,
                    nombreCliente: '',
                    nombreContacto: '',
                    telefonoContacto: ''
                },
                newClient: false,
                newContact: false,
                contacto: null,
                edit:null,
            }
        },
        mounted() {
            this.setClienteSelected(null)
        },
        methods: {
            ...mapMutations(['modalSubmit', 'modalOk']),
            handleOk(bvModalEvt) {
                bvModalEvt.preventDefault();
                this.handleSubmit();
            },
        	resetModal(){
                if(this.value){
                    this.setDataModal();
                }else{
                    this.form.titulo='';
                    this.idCliente='';
                    this.idContacto= null;
                }
                
            },
            handleSubmit() {
                this.$v.$touch()
                if (!this.$v.$invalid) {
                    if(!this.value){
                        const params = { 
                            titulo: this.form.titulo,
                            idCliente: this.clienteSelected,
                            idContacto: this.form.idContacto,
                		    idUsuario: this.usuario.idUsuario,
                            nombreCliente: this.form.nombreCliente,
                            nombreContacto: this.form.nombreContacto,
                            telefonoContacto: this.form.telefonoContacto,
                            newClient: this.newClient,
                            newContact: this.newContact
                        }
                        axios.post(BaseUrl + "/api/vt/notas/store", params).then(response => {
                            this.addNota(response.data.nota)
                        });
                    }else{
                        const params = { 
                            idNota: this.dataNota.idNota,
                            titulo: this.form.titulo,
                            idCliente: this.clienteSelected,
                    		idContacto: this.form.idContacto,
                    		idUsuario: this.usuario.idUsuario
                        }
                        axios.put(BaseUrl + "/api/vt/notaslead", params).then(response => {
                            this.updateNota(response.data.nota);
                        });
                    }
                    this.modalSubmit(true) 
                }else{
                    this.modalOk(false)
                }
            },
            setDataModal(){
                this.form.titulo = this.dataNota.titulo;
                this.setClienteSelected(2);
                this.idContacto = this.dataNota.idContacto;
                //this.getContactos();
            },
            ...mapMutations('notas', ['addNota']),
            ...mapMutations('notas', ['updateNota']),
            ...mapMutations('clientes', ['setClienteSelected'])
        },
        validations() {
            if(this.newClient) {
                return {
                    form:{
                        titulo: { required },
                        nombreCliente: { required },
                        nombreContacto: { required },
                        telefonoContacto: { },
                    }
                }
            }else if(this.newContact) {
                return {
                    form:{
                        titulo: { required },
                        nombreContacto: { required },
                        telefonoContacto: { },
                    }
                }
            }else{
                return {
                    form:{
                        titulo: { required },
                        idContacto: { required },
                    }
                }
            }            	
		},
        computed:{
            ...mapState(['okModal']),
            ...mapState(['usuario']),
            ...mapState('clientes', ['clienteSelected', 'selectContactos']),
            ...mapState('notas', ['value']),
            ...mapState('notas', ['dataNota']),
        },
        watch:{
            clienteSelected(){
                this.idContacto = null
            },
            okModal()
			{
				if(this.okModal==true){
					this.handleSubmit()
				}
			},
            newClient()
            {
                if(this.newClient)
                    this.newContact = false
            }
        }
    }
</script>