<template>
	<div style="height: 100%; width: 99%; background: rgb(254, 254, 255)" class="mt-3 img-content border">
		<center>
			<b-img :src="urlImage"
				style="width: 350px;; opacity: 0.7;" 
				alt="Seleccione una nota para comenzar" class="imag">
			</b-img>
		</center>
	</div>
</template>

<script>

	export default {
		data() {
		    return {
		    	urlImage: ''
		   	};
		},
		mounted()
		{
		    this.urlImage = BaseUrl + '/img/system/notas6.png'

		},
	}
</script>


<style>
	.img-content {
	  display: -ms-flexbox;
	  display: -webkit-box;
	  display: flex;
	  -ms-flex-align: center;
	  -ms-flex-pack: center;
	  -webkit-box-align: center;
	  align-items: center;
	  -webkit-box-pack: center;
	  justify-content: center;

	}
	 /*h2 {
	 	width: 100%;
	 	opacity: 0.4;
	 }
	 .img-fluid {
	 	width: 400px;
	 	opacity: 0.6;
	 }

	 @media (min-width: 1367px) and (max-width: 2500px) { 

	 	.imag{
	 		margin-top: 270px;
	 		width: 400px;
	 		opacity: 0.6;
	 	}

	 }
	 @media (max-width: 767px) {

	 	.imag{
	 		padding-top: 53px;
	 		width: 400px;
	 		opacity: 0.6;
	 	}

	 }*/
</style>