<template>
	<div>
		<b-card no-body class="mt-3" style="height:500px;">
			<h3
				class="display-1 text-center text-dark pt-3 pb-0 mb-0 "
				style="font-size:25px;"
			>
				Información de nota
			</h3>
			<hr />
			<div class="pt-0">
				<div class="col-md-auto">
					<h1 class="display-1 pb-0" style="font-size: 15px;">
						<strong><label>Titulo de nota</label></strong
						><br />
						{{ infoNota.titulo }}
					</h1>
				</div>
				<hr class="my-3" />
				<div class="col-md-auto" id="div-cliente">
					<h1 class="display-1" style="font-size: 15px;">
						<strong><label>Cliente</label></strong>
						<b-badge
							v-if="infoNota.cliente_lead == 1"
							variant="success"
							>Nuevo</b-badge
						><br />
						<b-button
							v-if="infoNota.cliente_lead == 1"
							variant="link"
							class="text-success p-0"
							id="btn-add-cliente"
							@click="getCliente"
						>
							<i class="far fa-edit"></i>
						</b-button>
						{{ infoNota.nombre_cliente }}
					</h1>
				</div>
				<hr class="my-3" />
				<div class="col-md-auto">
					<h1 class="display-1" style="font-size: 15px;">
						<strong><label>Clave de cliente</label></strong
						><br />
						<template v-if="infoNota.clave_cliente">
							{{ infoNota.clave_cliente }}
						</template>
						<template v-else>
							<label class="text-danger"
								>SIN CLAVE DE CLIENTE</label
							>
						</template>
					</h1>
				</div>
				<hr class="my-3" />
				<div class="col-md-auto">
					<h1 class="display-1" style="font-size: 15px;">
						<strong><label>Usuario</label></strong
						><br />
						{{ infoNota.nombre_usuario }}
					</h1>
				</div>
				<hr class="my-3" />
				<div class="col-md-auto" id="div-contacto">
					<h1 class="display-1" style="font-size: 15px;">
						<strong><label>Contacto</label></strong>
						<b-badge
							v-if="infoNota.contacto_lead == 1"
							variant="success"
							>Nuevo</b-badge
						><br />
						<b-button
							v-if="infoNota.contacto_lead == 1"
							variant="link"
							class="text-success p-0"
							id="btn-add-contacto"
							@click="getContacto"
						>
							<i class="far fa-edit"></i>
						</b-button>
						{{ infoNota.nombre_contacto }}
					</h1>
				</div>
				<hr class="my-3" />
				<div class="col-md-auto mb-3">
					<h1 class="display-1" style="font-size: 15px;">
						<strong><label>Fecha de creación</label></strong
						><br />
						{{ fecha }}
					</h1>
				</div>
			</div>
		</b-card>
		<modal-component :title="'Añadir contacto'" :id="'modal-contacto'">
			<template slot="content">
				<vt-form-contacto :contacto="contacto" />
			</template>
		</modal-component>
		<modal-component :title="'Añadir cliente'" :id="'modal-cliente'">
			<template slot="content">
				<vt-form-cliente :cliente="cliente" />
			</template>
		</modal-component>
	</div>
</template>

<script>
import { mapState, mapMutations, mapActions } from "vuex";
export default {
	data() {
		return {
			contacto: null,
			cliente: null,
		};
	},
	mounted() {
		this.getInfoNota();
	},
	methods: {
		...mapActions("notas", ["getInfoNota"]),
		getContacto() {
			axios
				.get(BaseUrl + "/api/vt/contactos/" + this.infoNota.idContacto)
				.then((response) => {
					this.contacto = response.data;
					this.$bvModal.show("modal-contacto");
				});
		},
		getCliente() {
			axios
				.get(BaseUrl + "/api/vt/clientes/" + this.infoNota.idCliente)
				.then((response) => {
					this.cliente = response.data;
					this.$bvModal.show("modal-cliente");
				});
		},
	},
	computed: {
		...mapState("notas", ["infoNota"]),
		fecha() {
			return moment(this.infoNota.fechaCreado)
				.locale("es")
				.format("LL");
		},
	},
};
</script>

<style>
#btn-add-cliente {
	display: none;
}
#btn-add-contacto {
	display: none;
}
#div-cliente:hover #btn-add-cliente {
	display: inline-block;
}
#div-contacto:hover #btn-add-contacto {
	display: inline-block;
}
</style>
