<template>
	<div class="my-3">
		<b-button v-if="hasPermission('vt.crm.negocios.editar.nota')" class="text-left" style="width:100%" v-b-toggle.collapse-1 variant="secondary">
		  	{{ label }}
			<div class="float-right">
				<i class="fas fa-plus"></i>
			</div>
		</b-button>
		<b-collapse id="collapse-1" class="mt-2">
		  	<b-card>
			    <b-form ref="form" @submit.stop.prevent="handleSubmit">
			      	<b-form-group id="check-lead">
				        	<b-form-checkbox 
				        		v-model="lead" 
				        		:unchecked-value="0" 
				        		:value="1">
				        		Este registro es un lead
				        	</b-form-checkbox>
				    </b-form-group>

				    <b-form-group v-if="lead == 1" label="Titulo del negocio">
				        <b-form-input 
				        	v-model="tituloNegocio" 
				        	required>
				        		
				        </b-form-input>
				    </b-form-group>

				    <b-form-group label="Comentarios">
				        <ckeditor-component
				          	@getEditor="editorComentario = $event"
				          	:lastInfo="editorComentario"/>
				    </b-form-group>

				    <b-form-group label="Añadir Archivos">
				        <b-form-file
							v-model="file"
							placeholder="Elija o arrastre su archivo aquí"
							drop-placeholder="Arrestre su archivo aquí"
							@change="obtenerFile">
				          	
				          </b-form-file>
				    </b-form-group>

				    <b-form-group>
				        <b-form-checkbox
							v-model="resp"
							:unchecked-value="false"
							:value="true">
							Añadir responsable
						</b-form-checkbox>
				    </b-form-group>

				    <b-form-group v-if="resp" label="Responsable">
			    		<b-form-select 
			    			v-model="responsable" 
			    			:options="usuarios">
			    			<template v-slot:first>
								<option :value="{text: '', value: null}">
									Seleccione un responsable para ser notificado
								</option>
							</template>
			    		</b-form-select>
				    </b-form-group>
			      	<div class="float-right">
				        <b-button variant="secondary" size="sm" v-b-toggle.collapse-1 @click="cancel()">Cancelar</b-button>
				        <b-button variant="success" size="sm" v-b-toggle.collapse-1 type="submit">Guardar</b-button>
			      	</div>
			    </b-form>
		  	</b-card>
		</b-collapse>
	</div>
</template>

<script>
import { mapState, mapMutations, mapActions } from "vuex";
export default {
  	data() {
	    return {
			checklead: true,
			lead: 0,
			resp: false,
			label: 'Nuevo comentario',
			tituloNegocio: '',
			responsable: {text: '', value: null},
			text: '',
			file: [],
			editorComentario: '',
		};
	},
  	mounted() {
  		this.selectUsuarios();
  	},

	methods: {
	    ...mapMutations("notas", ["addComentarios"]),
	    ...mapMutations(["setEditor"]),
	    ...mapActions('notas', ['getComentarios']),
	    ...mapMutations('notas', ['updateNota']),
	    ...mapActions('usuarios', ['selectUsuarios']),
	    
	    handleOk(bvModalEvt) {
	      	bvModalEvt.preventDefault();
	      	this.handleSubmit();
	    },

	    obtenerFile(e) {
	      	this.file = e.target.files[0];
	    },

	    handleSubmit() {
	      	var data = new FormData();
	      	data.append('tituloNegocio', this.tituloNegocio);
	      	data.append('contenido', this.editorComentario);
	      	data.append('responsable', this.responsable.text);
	      	data.append('idResponsable', this.responsable.value);
	      	data.append('idNota', this.idNota);
	      	data.append('lead', this.lead);
	      	data.append('idUsuario', this.usuario.idUsuario);
	      	data.append('file', this.file);
	      
	      	axios.post(BaseUrl + "/api/vt/comentarios/store", data).then(response => {
		        this.addComentarios(response.data.comentario); 
		        //this.getComentarios();
		        this.resetData();
		        this.makeToast();
		        this.updateFechaNota();
	      	});
	    },
	    updateFechaNota(){
	        var fechaActualizadoNota = moment(new Date()).format("YYYY-MM-DD HH:mm:ss")
			const parametros = {
	          	fechaActualizado: fechaActualizadoNota,
	          	idNota:this.idNota
			}
			axios.put(BaseUrl + `/api/vt/fechaNota`,parametros).then(response => {
	        	this.updateNota(response.data.nota)
	      	});
		},
	    resetData() {
			this.tituloNegocio = "";
			this.editorComentario = '';
			this.responsable = "";
			this.lead = 0;
			this.resp = false;
	    },
	    makeToast() {
	      	this.$bvToast.toast("Se ha registrado correctamente el comentario", {
	        	title: "Éxito",
	        	variant: "success",
	        	solid: true
	      	});
	    },
	    hasPermission(funcion) {
			if (this.permissions.length) {
				const permiso = this.permissions.find(
					(permiso) => permiso.idFuncion == funcion
				);
				if (permiso) return true;
				return false;
			}
		},
	},
	computed: {
		...mapState(["permissions", "usuario"]),
    	...mapState('usuarios', ['usuarios']),
	    ...mapState('notas', ['idNota']),
	},
	watch:{
	    
	}
};
</script>