<template>
	<b-card no-body class="mt-3" style="height:100%;">
		<div class="d-flex justify-content-between align-items-center">
			<h3
				class="display-1 text-dark pt-3 pl-3 pb-0 mb-0 "
				style="font-size:25px;"
			>
				Lista de notas
			</h3>
			<b-button
				v-if="hasPermission('vt.crm.negocios.registrar.nota')"
				size="sm"
				variant="light"
				class="mr-3 mt-2 text-success border"
				v-b-modal.modal-nota
				@click="setValue(false)"
			>
				Nueva nota
			</b-button>
		</div>
		<hr />
		<b-input-group size="sm" class="px-3">
			<b-form-input
				v-model="filter"
				type="search"
				id="filterInput"
				placeholder="Ingresa tu búsqueda"
			>
			</b-form-input>
		</b-input-group>
		<hr />
		<div class="card-body-scroll">
			<b-list-group class="">
				<vt-negocios-notas-nota
					v-for="nota in sortedItems.slice().reverse()"
					:nota="nota"
					:key="nota.idNota"
					@click.native="selectNota(nota.idNota)"
					@dataDelete="setDataDelete($event)"
					@dataEdit="setDataEdit($event)"
				/>
				<div class="text-center mt-3" v-show="!searchNota.length">
					<h5 class="text-secondary">
						<label>No se encontraron notas</label>
					</h5>
				</div>
			</b-list-group>
		</div>
	</b-card>
</template>
<script>
import { mapState, mapMutations, mapActions } from "vuex";
export default {
	data() {
		return {
			filter: "",
			idNotaRoute: null,
		};
	},
	mounted() {
		this.getNotasLead();
		Echo.channel("notificationNota").listen("NotaSend", (data) => {
			if (this.usuario.idUsuario !== data.nota.idUsuario) {
				this.addNota(data.nota);
			}
		});
		if (this.$route.params.idNota)
			this.selectNota(this.$route.params.idNota);
	},
	methods: {
		...mapMutations("notas", ["addNota"]),
		...mapMutations("notas", ["setIdNota"]),
		...mapActions("notas", ["getNotasLead"]),
		...mapActions("notas", ["getComentarios"]),
		...mapActions("notas", ["getInfoNota"]),
		...mapMutations(["setRouteName", "setFormDelete"]),
		...mapMutations("notas", ["setValue"]),
		...mapMutations("notas", ["setDataNota"]),

		selectNota(idNota) {
			this.setIdNota(idNota);
			this.getComentarios();
			this.getInfoNota();
		},
		setDataDelete(nota) {
			const data = {
				dpto: "vt",
				section: "notas",
				tipo: "Nota",
				id: nota.idNota,
				registro: nota.titulo,
			};
			this.setFormDelete(data);
		},
		setDataEdit(nota) {
			this.setValue(true);
			const data = {
				idNota: nota.idNota,
				titulo: nota.titulo,
				idCliente: nota.idCliente,
				idContacto: nota.idContacto,
				idUsuario: nota.idUsuario,
			};
			this.setDataNota(data);
		},
		hasPermission(funcion) {
			if (this.permissions.length) {
				const permiso = this.permissions.find(
					(permiso) => permiso.idFuncion == funcion
				);
				if (permiso) return true;
				return false;
			}
		},
	},
	computed: {
		...mapState(["permissions", "usuario"]),
		...mapState("notas", ["notas"]),
		...mapState("notas", ["value"]),
		...mapState("notas", ["idNota"]),
		...mapState("notas", ["dataNota"]),

		searchNota: function() {
			return this.notas.filter((item) => {
				return (
					item.titulo
						.toLowerCase()
						.includes(this.filter.toLowerCase()) ||
					item.nombre_cliente
						.toLowerCase()
						.includes(this.filter.toLowerCase())
				);
			});
		},
		sortedItems: function() {
			const data = this.notas.sort((a, b) => {
				return (
					new Date(a.fechaActualizado) - new Date(b.fechaActualizado)
				);
			});
			return data.filter((item) => {
				return (
					item.titulo
						.toLowerCase()
						.includes(this.filter.toLowerCase()) ||
					item.nombre_cliente
						.toLowerCase()
						.includes(this.filter.toLowerCase())
				);
			});
		},
	},
	watch: {
		$route(to, from) {
			this.idNotaRoute = this.$route.params.idNota;
			if (to == from) {
				console.log("entra");
				this.$forceUpdate();
			}
			if (this.idNotaRoute) this.selectNota(this.idNotaRoute);
		},
	},
};
</script>
