<template>
	<b-container fluid style="height: calc(100vh - 95px);">
		<b-row style="height:100%">
			<b-col lg="3" class="pr-1">
				<vt-negocios-notas-list />
			</b-col>
			<template v-if="idNota">
				<b-col lg="9">
					<b-row>
						<b-col lg="8">
							<vt-negocios-notas-lead-form />
							<div
								class="text-center"
								style="margin-top: 40px"
								v-if="!comentarios.length && loading == true"
							>
								<h5 class="text-secondary">
									<b-spinner
										type="grow"
										style="width: 1.5rem; height: 1.5rem;"
									></b-spinner
									><label class="ml-1">Cargando...</label>
								</h5>
							</div>
							<div
								class="card-body-scroll"
								v-if="!comentarios.length && loading == false"
							>
								<div class="p-3">
									<h4 class="alert-heading">Todo listo!</h4>
									<p>
										Puedes comenzar a registrar el
										seguimiento de tus visita en esta
										sección. Si se requieren hacer cambios
										en tus comentarios podrás hacerlo
										posteriormente, no es necesario crear un
										nuevo comentario.
									</p>
									<hr />
									<p class="mb-0">
										Asegurese de que si un registro va a ser
										convertido en un negocio marcarlo como
										Lead para agregar los campos necesarios.
									</p>
								</div>
							</div>
							<div class="card-body-scroll" v-else>
								<vt-negocios-notas-content
									v-for="comentario in comentarios
										.slice()
										.reverse()"
									:comentario="comentario"
									:key="comentario.idComentario"
									@dataDelete="setDataDelete($event)"
								/>
							</div>
						</b-col>
						<b-col lg="4">
							<vt-negocios-notas-info />
						</b-col>
					</b-row>
				</b-col>
			</template>
			<template v-else>
				<b-col lg="9">
					<vt-negocios-notas-img />
				</b-col>
			</template>
		</b-row>
		<modal-component :title="'Historial'" :id="'modal-historial'">
			<template slot="content">
				<vt-negocios-comentarios-historial-content
					v-for="actualizacion in actualizaciones"
					:actualizacion="actualizacion"
					:key="actualizacion.idActualizacion"
				/>
			</template>
		</modal-component>
		<modal-component :title="'Nuevo Nota'" :id="'modal-nota'">
			<template slot="content">
				<vt-negocios-notas-form />
			</template>
		</modal-component>
		<modal-component :title="'Eliminar'" :id="'modal-delete'">
			<template slot="content">
				<form-delete />
			</template>
		</modal-component>

		<modal-component :title="'Agregar leads'" :id="'modal-negocio-leads'">
			<template slot="content">
				<vt-negocios-form-negocio-leads />
			</template>
		</modal-component>
	</b-container>
</template>

<style>
.card-body-scroll {
	max-height: calc(100vh - 155px);
	overflow-y: auto;
}
</style>

<script>
import { mapState, mapMutations, mapActions } from "vuex";
export default {
	data() {
		return {};
	},
	mounted() {
		Echo.channel("comment").listen("ComentarioSend", (data) => {
			if (this.usuario.idUsuario !== data.comentario.idUsuario) {
				this.addComentarios(data.comentario);
			}
		});
	},
	methods: {
		...mapMutations("notas", ["addComentarios", "setComentarios"]),
		...mapMutations(["setRouteName", "setFormDelete"]),
		...mapActions("notas", ["getComentarios"]),
		scrollToBottom() {
			const element = document.querySelector(".card-body-scroll");
			element.scrollTop = element.scrollHeight;
		},
		setDataDelete(comentario) {
			const data = {
				dpto: "vt",
				section: "comentarios",
				tipo: "Comentario",
				id: comentario.idComentario,
				registro: comentario.tituloNegocio,
			};
			this.setFormDelete(data);
		},
	},
	computed: {
		...mapState(["usuario"]),
		...mapState("notas", [
			"comentarios",
			"idNota",
			"actualizaciones",
			"loading",
		]),
	},
};
</script>
