<template>
	<b-list-group-item href="#" class="border" :class="notaClass">
		<b-row>
			<b-col cols="1" class="pr-0 pl-2 text-center">
				<b-img
					class="ml-0 mt-1"
					:src="urlImage"
					width="20"
					height="20"
					rounded="circle"
					alt="Foto usuario"
				>
				</b-img>
			</b-col>
			<b-col cols="11" class="pl-2">
				<div class="d-flex w-100 justify-content-between">
					<p class="mb-0 pb-0" style="font-size: 14px;">
						<small
							><strong>Nota {{ nota.idNota }}</strong></small
						>
						{{ nota.titulo }}
					</p>
					<b-dropdown
						class="ml-1"
						size="sm"
						right
						no-caret
						:variant="variant"
						:disabled="
							hasPermission('vt.crm.negocios.editar.nota')
								? false
								: true
						"
					>
						<template v-slot:button-content>
							<i class="fas fa-ellipsis-v"></i>
						</template>
						<b-dropdown-item
							v-if="hasPermission('vt.crm.negocios.editar.nota')"
							v-b-modal.modal-create-nota
							@click="$emit('dataEdit', nota)"
						>
							<i class="fas fa-edit px-2"></i>
							Editar
						</b-dropdown-item>
						<b-dropdown-item
							v-if="
								hasPermission('vt.crm.negocios.eliminar.nota')
							"
							v-b-modal.modal-delete
							@click="$emit('dataDelete', nota)"
						>
							<i class="fas fa-trash px-2"></i>
							Eliminar
						</b-dropdown-item>
					</b-dropdown>
				</div>
				<p class="mb-0" style="font-size: 13px; margin-top: -4px">
					<small style="margin-top: -5px"
						><strong>Cliente</strong></small
					>
					{{ nota.nombre_cliente }}
				</p>
				<small>
					<i class="far fa-clock"></i>
					Ultimo registro: {{ lastTime }}
				</small>
			</b-col>
		</b-row>
	</b-list-group-item>
</template>

<script>
import { mapState } from "vuex";
export default {
	props: {
		nota: Object,
	},
	data() {
		return {
			notaClass: "light",
			variant: "light",
		};
	},
	mounted() {},
	methods: {
		hasPermission(funcion) {
			if (this.permissions.length) {
				const permiso = this.permissions.find(
					(permiso) => permiso.idFuncion == funcion
				);
				if (permiso) return true;
				return false;
			}
		},
	},
	computed: {
		...mapState(["permissions"]),
		...mapState("notas", ["idNota"]),
		lastTime() {
			return moment(this.nota.fechaActualizado, "YYYY-MM-DD hh:mm:ss")
				.locale("es")
				.fromNow();
		},
		urlImage() {
			return BaseUrl + "/img/profiles/" + this.nota.foto_usuario;
		},
	},
	watch: {
		idNota() {
			if (this.idNota == this.nota.idNota) {
				this.notaClass = "bg-secondary text-white";
				this.variant = "secondary";
			} else {
				this.notaClass = "";
				this.variant = "light";
			}
		},
	},
};
</script>
