<template>
    <div>
        <div class="bg-white border-bottom p-4 d-flex w-100 justify-content-between">
            <h4 class="mb-0"><i class="fas fa-arrow-left mr-3" @click="close" style="cursor:pointer"></i>Detalles de solicitud</h4>
        </div>
        <b-card class="mt-3 py-1">
            <div class="border-bottom py-3 w-100">
                <strong>Número de Solicitud:</strong>
                <label class="float-right">{{solicitudActiva.idSolicitud}}</label>
            </div>
            <div class="border-bottom py-3 w-100">
                <strong>Status:</strong>
                <p class="float-right">{{status}}</p>
            </div>
            <div class="border-bottom py-3 w-100">
                <strong>Empleado:</strong>
                <label class="float-right">{{solicitudActiva.usuario.nombreUsuario}}</label>
            </div>
            <div class="border-bottom py-3 w-100">
                <strong>Fecha de Solicitud:</strong>
                <label class="float-right">{{solicitudActiva.created_at}}</label>
            </div>
            <div class="border-bottom py-3 w-100">
                <strong>Destino del Viatico:</strong>
                <label class="float-right">{{solicitudActiva.destinoGasto}}</label>
            </div>
            <div class="border-bottom py-3 w-100">
                <strong>Unidad de Negocio:</strong>
                <label class="float-right">{{solicitudActiva.unidad_negocio}}</label>
            </div>
            <div class="border-bottom py-3 w-100">
                <strong>Importe de Solicitud:</strong>
                <label class="float-right">{{solicitudActiva.importe_total}}</label>
            </div>
            <div class="py-3 w-100 h-100">
                <strong>Objetivo del viático:</strong><br>
                <p class="mt-1 float-right text-justify">
                    {{solicitudActiva.objetivoGasto}}
                </p>
            </div>
        </b-card>
    </div>
</template>

<script>
import { mapState } from 'vuex'
export default {
    methods: {
        close() {
            this.$emit('close')
        }
    },
    computed: {
        ...mapState('solicitudes_gastos', ['solicitudActiva']),
        status() {
			switch (this.solicitudActiva.idEtapa) {
				case 1:
					return "Solicitud en autorización";
					break;
				case 2:
					return "Solicitud en disperción";
					break;
				case 3:
					return "Solicitud en comprobación";
					break;
				case 4:
					return "Comprobación en autorización";
					break;
				case 5:
					return "Comprobación en revisión";
					break;
				case 6:
					return "Comprobación en contabilización";
					break;
				case 7:
					return "Terminada";
					break;
				case 8:
					return "Solicitud rechazada";
					break;
				case 9:
					return "Comprobación rechazada";
					break;
				default:
					return "Archivada";
					break;
			}
		},
    } 
}
</script>