<template>
	<div class="container">
		<b-card class="mt-3 shadow text-center">
			<h3 class="display-1" style="font-size: 20px">
				<vue-numeric
					currency="$"
					separator=","
					:precision="2"
					:read-only="true"
					:value="totalSolicitado"
				/>
			</h3>
			<h3 class="display-1" style="font-size: 13px">
				<strong>Solicitado</strong>
			</h3>
			<hr />

			<h3 class="display-1" style="font-size: 20px">
				<vue-numeric
					currency="$"
					separator=","
					:precision="2"
					:read-only="true"
					:value="totalDispersado"
				/>
			</h3>
			<h3 class="display-1" style="font-size: 13px">
				<strong>Dispersado</strong>
			</h3>
			<hr />

			<h3 class="display-1" style="font-size: 20px">
				<vue-numeric
					currency="$"
					separator=","
					:precision="2"
					:read-only="true"
					:value="totalComprobado"
				/>
			</h3>
			<h3 class="display-1" style="font-size: 13px">
				<strong>Comprobado</strong>
			</h3>

			<div
				class="text-center"
				v-if="listComprobaciones.length && solicitudActiva.idEtapa == 4"
			>
				<hr />
				<b-button
					variant="success"
					size="lg"
					class="mt-2"
					@click="showMsgBoxAutorizarConfirm(5)"
				>
					<i class="fas fa-paper-plane"></i> Enviar
				</b-button>
			</div>
		</b-card>
	</div>
</template>

<script>
import { mapMutations, mapState } from "vuex";
export default {
	props: {},
	data() {
		return {
			form: {
				idEtapaOld: 4,
				responsable: "",
			},
		};
	},
	methods: {
		...mapMutations("solicitudes_gastos", [
			"updateSolicitud",
			"updateSolicitudActiva",
		]),
		showMsgBoxAutorizarConfirm(idProxEtapa) {
			const mensaje = "¿Enviar esta comprobación a autorización?";
			this.$bvModal
				.msgBoxConfirm(mensaje, {
					title: "Favor de confirmar",
					size: "sm",
					buttonSize: "sm",
					okVariant: "success",
					cancelVariant: "light",
					okTitle: "Aceptar",
					cancelTitle: "Cancelar",
					headerClass: "pt-3 pb-2 border-bottom-0 bg-light",
					footerClass: "p-2 border-top-0",
					centered: true,
				})
				.then((confirm) => {
					if (confirm) this.cambioEtapa(idProxEtapa);
				});
		},
		async cambioEtapa(idProxEtapa) {
			try {
				const idSolicitud = this.solicitudActiva.idSolicitud;
				this.form.responsable = this.usuario.nombreUsuario;
				const response = await axios.put(
					BaseUrl +
						`/api/fn/cg/solicitudes/${idSolicitud}/etapas/${idProxEtapa}`, this.form
				);
				if (response.data.success) {
					this.updateSolicitud(response.data.solicitud);
					this.updateSolicitudActiva(response.data.solicitud);
					this.makeToast(
						"success",
						"Exito",
						"Se ha enviado correctamente esta comprobación"
					);
				}
			} catch (error) {
				this.makeToast(
					"danger",
					"Error",
					"Ha ocurrido un problema al enviar la comprobación"
				);
			}
		},
		makeToast(variant = null, title, text) {
			this.$bvToast.toast(text, {
				title: title,
				variant: variant,
				solid: true,
			});
		},
	},
	computed: {
		...mapState("solicitudes_gastos", [
			"resumenSolicitudActiva",
			"solicitudActiva",
			"listComprobaciones",
		]),
		...mapState(["usuario"]),
		totalSolicitado() {
			if (this.resumenSolicitudActiva) {
				var suma = 0;
				for (var i = 0; i < this.resumenSolicitudActiva.length; i++) {
					let importe = Number(
						parseFloat(
							this.resumenSolicitudActiva[i].solicitado
						).toFixed(2)
					);
					suma += importe;
				}
				return parseFloat(suma).toFixed(2);
			}
			return 0.0;
		},
		totalDispersado() {
			if (this.resumenSolicitudActiva) {
				var suma = 0;
				for (var i = 0; i < this.resumenSolicitudActiva.length; i++) {
					let importe = Number(
						parseFloat(
							this.resumenSolicitudActiva[i].dispersado
						).toFixed(2)
					);
					suma += importe;
				}
				return parseFloat(suma).toFixed(2);
			}
			return 0.0;
		},
		totalComprobado() {
			if (this.resumenSolicitudActiva) {
				var suma = 0;
				for (var i = 0; i < this.resumenSolicitudActiva.length; i++) {
					let importe = Number(
						parseFloat(
							this.resumenSolicitudActiva[i].comprobado
						).toFixed(2)
					);
					suma += importe;
				}
				return parseFloat(suma).toFixed(2);
			}
			return 0.0;
		},
	},
};
</script>