<template>
    <div>
        <b-card class="mt-3 mx-3 shadow-sm" no-body>
			<b-alert show variant="success" v-if="solicitudActiva.idEtapa > 4" class="text-center mb-0">Se ha enviado esta comprobación</b-alert>
            <b-table-simple style="font-size:13px" hover class="mb-0" v-if="listComprobaciones.length">
                <b-thead>
                    <b-tr>
                        <b-th class="py-3">Proovedor</b-th>
                        <b-th class="py-3 text-center">Monto</b-th>
                        <b-th></b-th>
                    </b-tr>
                </b-thead>
                <b-tbody>
                    <b-tr v-for="(comprobacion, index) in listComprobaciones" :key="index">
                        <b-td>
                            {{comprobacion.proveedor}}<br>
                            <small class="text-secondary">{{comprobacion.fechaGasto}}</small>
                        </b-td>
                        <b-td class="align-middle text-right">
                             <vue-numeric
                                    currency="$"
                                    separator=","
                                    :precision="2"
                                    :read-only="true"
                                    :value="comprobacion.importe"
                                />
                        </b-td>
                        <b-td class="align-middle text-right">
                            <b-dropdown id="dropdown-left" right variant="light" size="sm" no-caret v-if="solicitudActiva.idEtapa == 4">
                                <template v-slot:button-content>
                                    <i class="fas fa-ellipsis-v px-2"></i>
                                </template>
                                <b-dropdown-item @click="dataEdit(comprobacion)">
                                    <i class="fas fa-edit px-2"></i> 
                                    Editar
                                </b-dropdown-item>
                                <b-dropdown-item href="#" v-b-modal.modal-delete @click="showMsgBoxDeleteConfirm(comprobacion)">
                                    <i class="fas fa-trash px-2"></i> 
                                    Eliminar
                                </b-dropdown-item>
                                <slot name="dropdown-more-actions"></slot>
                            </b-dropdown>
                        </b-td>
                    </b-tr>
                </b-tbody>
            </b-table-simple>
            <h6 class="text-center text-secondary py-4 mb-0" v-else>No se han agregado comprobaciones</h6>
        </b-card>
        <div class="text-center px-3" v-if="solicitudActiva.idEtapa == 4">
            <b-button 
                variant="danger" 
				block
                class="my-3" 
                @click="comprobacionEdit = null" 
                v-b-modal.modal-comprobacion
            >
                <i class="fas fa-plus-circle"></i> Agregar
            </b-button>
        </div>

		<!-- AUTORIZACIÓN SOLICITUD-->
		<b-button-group
			class="my-3 w-100"
			v-if="
				(solicitudActiva.idAutorizador == usuario.idUsuario &&
					hasPermission('fn.cg.solicitudes.autorizar')) ||
				hasPermission('fn.cg.solicitudes.administrar')
			"
		>
			<b-button
				variant="light"
				block
				class="shadows ml-3"
				squared
				@click="autorizacion('autorizado', 'solicitud')"
				v-if="
						solicitudActiva.idEtapa == 2 &&
						((solicitudActiva.idAutorizador == usuario.idUsuario && 
						hasPermission('fn.cg.solicitudes.autorizar')) || 
						hasPermission('fn.cg.solicitudes.administrar'))
					"
			>
				<label class="text-success mb-0">
					<i class="far fa-check-circle"></i> Autorizar
				</label>
			</b-button>
			<b-button
				variant="light"
				block
				class="shadows mr-3 mt-0"
				squared
				@click="autorizacion('rechazado', 'solicitud')"
				v-if="
						solicitudActiva.idEtapa == 2 &&
						((solicitudActiva.idAutorizador == usuario.idUsuario && 
						hasPermission('fn.cg.solicitudes.rechazar')) || 
						hasPermission('fn.cg.solicitudes.administrar'))
					"
			>
				<label class="text-danger mb-0">
					<i class="fas fa-times-circle"></i> Rechazar
				</label>
			</b-button>
		</b-button-group>

		<!-- AUTORIZACIÓN COMPROBACION-->
		<b-button-group
			class="my-3 w-100"
			v-if="
				(solicitudActiva.idAutorizador == usuario.idUsuario &&
					hasPermission('fn.cg.solicitudes.autorizar')) ||
				hasPermission('fn.cg.solicitudes.administrar')
			"
		>
			<b-button
				variant="light"
				block
				class="shadows ml-3"
				squared
				@click="autorizacion('autorizado', 'comprobacion')"
				v-if="solicitudActiva && solicitudActiva.idEtapa == 6"
			>
				<label class="text-success mb-0">
					<i class="far fa-check-circle"></i> Autorizar
				</label>
			</b-button>
			<b-button
				variant="light"
				block
				class="shadows mr-3 mt-0"
				squared
				@click="autorizacion('rechazado', 'comprobacion')"
				v-if="solicitudActiva && solicitudActiva.idEtapa == 6"
			>
				<label class="text-danger mb-0">
					<i class="fas fa-times-circle"></i> Rechazar
				</label>
			</b-button>
		</b-button-group>
        
		<modal-component
			:title="'Agregar Comprobación'"
			:id="'modal-comprobacion'"
			:hideFooter="true"
			:hideHeader="true"
		>
			<template slot="content">
				<fn-gastos-solicitudes-form-comprobacion-component
					:comprobacion="comprobacionEdit"
				/>
			</template>
			<span slot="buttons"></span>
		</modal-component>

		<modal-component
			:id="'modal-autorizacion2-comprobacion'"
			:title="'Autorización de comprobación'"
			:hideFooter="true"
			:hideHeader="true"
			:centered="true"
		>
			<template slot="content">
				<fn-gastos-solicitudes-form-autorizacion-comprobacion-component
					:idSolicitud="solicitudActiva.idSolicitud"
					:statusAutorizacion="statusAutorizacion"
				/>
			</template>
		</modal-component>

		<modal-component
			:id="'modal-autorizacion2'"
			:title="'Autorización de solicitud'"
			:hideFooter="true"
			:hideHeader="true"
			:centered="true"
			v-if="solicitudActiva"
		>
			<template slot="content">
				<fn-gastos-solicitudes-form-autorizacion-component
					:idSolicitud="solicitudActiva.idSolicitud"
					:statusAutorizacion="statusAutorizacion"
				/>
			</template>
		</modal-component>
    </div>
</template>

<script>
import { mapActions, mapMutations, mapState } from "vuex";
export default {
	data() {
		return {
			comprobacionEdit: null,
			statusAutorizacion: ""
		};
	},
	methods: {
		...mapMutations("solicitudes_gastos", ["deleteComprobacion", "updateSolicitud", "updateReembolsarDecrementar"]),
		...mapActions("solicitudes_gastos", ["getResumenSolicitudActiva"]),
		autorizacion(status, tipo) {
			this.statusAutorizacion = status;
			if(tipo == 'solicitud')
				this.$bvModal.show("modal-autorizacion2");
			else
				this.$bvModal.show("modal-autorizacion2-comprobacion");
		},
		dataEdit(data) {
			this.comprobacionEdit = data;
			this.$bvModal.show("modal-comprobacion");
		},
		showMsgBoxDeleteConfirm(data) {
			this.$bvModal
				.msgBoxConfirm("¿Esta seguro que desea eliminar el registro de comprobación?", {
					title: "Favor de confirmar",
					size: "sm",
					buttonSize: "sm",
					okVariant: "danger",
					cancelVariant: "light",
					okTitle: "Eliminar",
					cancelTitle: "Cancelar",
					headerClass: "pt-3 pb-2 border-bottom-0",
					footerClass: "p-2 border-top-0",
					centered: true,
				})
				.then((confirm) => {
					if (confirm) this.delete(data);
				});
		},
		async delete(data) {
			try {
				const response = await axios.delete(
					BaseUrl + `/api/fn/cg/comprobaciones/${data.idComprobacion}`
				);
				if (response.data.success) {
					this.deleteComprobacion(data.idComprobacion);
					const response = await axios.post(
							BaseUrl +
								`/api/fn/cg/comprobaciones/resumen/${this.solicitudActiva.idSolicitud}`
						);
					this.updateReembolsarDecrementar(response.data.solicitud)
					this.getResumenSolicitudActiva(data.idSolicitud)
					this.makeToast(
						"success",
						"Exito",
						"Se ha eliminado correctamente el registro"
					);
				}
			} catch (error) {
				this.makeToast(
					"danger",
					"Error",
					"Ha ocurrido un problema al eliminar el registro"
				);
				console.log(error);
			}
		},
		makeToast(variant = null, title, text) {
			this.$bvToast.toast(text, {
				title: title,
				variant: variant,
				solid: true,
			});
		},
		hasPermission(funcion) {
			if (this.permissions.length) {
				const permiso = this.permissions.find(
					(permiso) => permiso.idFuncion == funcion
				);
				if (permiso) return true;
				return false;
			}
		},
	},
	computed: {
		...mapState(["usuario", "permissions"]),
		...mapState("solicitudes_gastos", [
			"listComprobaciones",
			"solicitudActiva",
			"busyComprobaciones",
		]),
	},
	watch: {},
};
</script>