<template>
	<b-overlay
		:show="overlay"
		rounded="sm"
		opacity="1.0"
		blur="1px"
		variant="transparent"
	>
		<b-form-group>
			<label class="form">
				Clave
				<span class="req">*</span>
			</label>
			<b-form-input
				@input="claveToUpper"
				v-model="$v.form.claveUnidadNegocio.$model"
				:state="
					$v.form.claveUnidadNegocio.$dirty
						? !$v.form.claveUnidadNegocio.$error
						: null
				"
				placeholder="Ingrese la nueva clave de unidad"
			>
			</b-form-input>
			<b-form-invalid-feedback id="feedback-clave">
				Campo obligatorio
			</b-form-invalid-feedback>
		</b-form-group>
		<b-form-group>
			<label class="form">
				Nombre
				<span class="req">*</span>
			</label>
			<b-form-input
				v-model="$v.form.unidadNegocio.$model"
				:state="
					$v.form.unidadNegocio.$dirty
						? !$v.form.unidadNegocio.$error
						: null
				"
				placeholder="Ingrese el nombre de la unidad"
			>
			</b-form-input>
			<b-form-invalid-feedback id="feedback-clave">
				Campo obligatorio
			</b-form-invalid-feedback>
		</b-form-group>

		<div class="d-flex flex-row-reverse bd-highlight">
			<b-button variant="danger" class="ml-3 my-2" @click="submit">
				GUARDAR
			</b-button>
			<b-button variant="white" class="link-light my-2" @click="cancel">
				CANCELAR
			</b-button>
		</div>
	</b-overlay>
</template>

<script>
import { mapMutations, mapState } from "vuex";
import { required, minLength } from "vuelidate/lib/validators";

export default {
	props: {
		unidadNegocio: Object,
	},
	data() {
		return {
			overlay: false,
			form: {
				claveUnidadNegocio: "",
				unidadNegocio: "",
			},
		};
	},
	mounted() {
		if (this.unidadNegocio) this.setData();
	},
	methods: {
		...mapMutations(["modalSubmit", "modalOk"]),
		...mapMutations("vt_unidades_negocio", ["addUnidad", "updateUnidad"]),

		async submit() {
			this.$v.$touch();
			if (!this.$v.$invalid) {
				this.overlay = true;
				try {
					const response = !this.unidadNegocio
						? await axios.post(
								BaseUrl + `/api/vt/unidades-negocio`,
								this.form
						  )
						: await axios.put(
								BaseUrl +
									`/api/vt/unidades-negocio/${this.unidadNegocio.idUnidadNegocio}`,
								this.form
						  );
					if (response.data.success) {
						if (this.unidadNegocio)
							this.updateUnidad(response.data.unidadNegocio);
						else this.addUnidad(response.data.unidadNegocio);
						this.modalSubmit(true);
						this.overlay = false;
					} else this.modalOk(false);
				} catch (e) {
					console.log(e);
					this.overlay = false;
				}
			}
		},
		cancel() {
			this.$bvModal.hide("modal-un");
		},
		setData() {
			this.form.claveUnidadNegocio = this.unidadNegocio.claveUnidadNegocio;
			this.form.unidadNegocio = this.unidadNegocio.unidadNegocio;
		},
		claveToUpper(val) {
			this.form.claveUnidadNegocio = val.toUpperCase();
		},
	},
	computed: {
		...mapState(["okModal"]),
	},
	validations: {
		form: {
			claveUnidadNegocio: { 
                required,
                minLength: minLength(2), 
            },
			unidadNegocio: { required },
		},
	},
};
</script>