<template>
	<b-container fluid style="height: calc(100vh - 54px)">
		<b-row class="h-100">
			<b-col lg="2" class="px-0 h-100">
				<vt-configuracion-sidebar />
			</b-col>
			<b-col lg="10">
				<div>
					<b-row>
						<b-col lg="2"></b-col>
						<b-col lg="8">
							<h1 class="text-center mt-4">
								Unidades de Negocio
							</h1>
						</b-col>
						<b-col lg="2" class="pt-1">
							<b-button
								v-if="
									hasPermission(
										'vt.crm.config.registrar.unidadNegocio'
									)
								"
								variant="link"
								class="text-danger float-right mb-0 mt-4"
								v-b-modal.modal-un
								@click="unidadNegocioEdit = null"
							>
								<i class="fas fa-plus-circle"></i> Agregar
							</b-button>
						</b-col>
					</b-row>
					<b-card class="mt-3">
						<b-table
							:items="listUnidadesNegocio"
							striped
							hover
							:fields="fields"
						>
							<template v-slot:cell(actions)="scope">
								<div class="text-center">
									<b-button
										v-if="
											hasPermission(
												'vt.crm.config.editar.unidadNegocio'
											)
										"
										variant="link"
										class="text-secondary"
										v-b-modal.modal-un
										@click="
											setUnidadNegocioUpdate(scope.item)
										"
									>
										<i class="fas fa-edit"></i>
									</b-button>
								</div>
							</template>
						</b-table>
					</b-card>
				</div>
			</b-col>
		</b-row>
		<modal-component
			:title="titleModal"
			:id="'modal-un'"
			:hideFooter="true"
			:hideHeader="true"
			:centered="true"
		>
			<template slot="content">
				<vt-form-unidad-negocio-component
					:unidad-negocio="unidadNegocioEdit"
				/>
			</template>
		</modal-component>
	</b-container>
</template>

<script>
import { mapMutations, mapState, mapActions } from "vuex";
export default {
	props: {},
	data() {
		return {
			unidadNegocioEdit: null,
			fields: [
				{
					key: "claveUnidadNegocio",
					class: "align-middle",
				},
				{
					key: "unidadNegocio",
					class: "align-middle",
				},
				{
					key: "actions",
					label: "Acción",
					class: "text-center",
				},
			],
		};
	},
	mounted() {
		this.setRouteName("vt.configuracion.unidades_negocio");
		this.getUnidadesNegocio();
	},
	methods: {
		...mapState(["permissions", "setRouteName"]),
		...mapActions("vt_unidades_negocio", ["getUnidadesNegocio"]),

		setUnidadNegocioUpdate(data) {
			this.unidadNegocioEdit = data;
		},
		hasPermission(funcion) {
			if (this.permissions.length) {
				const permiso = this.permissions.find(
					(permiso) => permiso.idFuncion == funcion
				);
				if (permiso) return true;
				return false;
			}
		},
	},
	computed: {
		...mapState(["permissions"]),
		...mapState("vt_unidades_negocio", ["listUnidadesNegocio"]),
		
		titleModal() {
			if (this.unidadNegocioEdit) return "Editar UN";
			else return "Agregar UN";
		},
	},
};
</script>
