<template>
	<b-form-group>
		<template v-slot:label>
			<b-form-checkbox
				v-model="allSelected"
				:indeterminate="indeterminate"
				aria-describedby="cuentasFiltered"
				aria-controls="cuentasFiltered"
				@change="toggleAll"
			>{{ cuenta.cuentaMayor }}</b-form-checkbox>
		</template>

		<b-form-checkbox-group
			:id="idCheck"
			v-model="selected"
			:options="cuentasFiltered"
			name="cuentas"
			class="ml-4"
			aria-label="Individual cuentasFiltered"
			stacked
		></b-form-checkbox-group>
	</b-form-group>
</template>

<script>
import { mapMutations, mapState } from "vuex";
export default {
	props: {
		area: String,
		cuenta: Object,
		cuentasContables: Array,
        index: Number,
        idUsuario: Number,
	},
	data() {
		return {
			load: false,
			success: false,
			allSelected: false,
			indeterminate: false,
            selected: [],
		};
	},
	mounted() {
		this.vaciarCuentas();
	},
	methods: {
		...mapMutations("cnf_cuentas_contables", ["addArea", "addCuenta", "addSubcuentas", "delete"]),
		async update(autorizacion, opcion, value) {
			this.load = true;
			this.success = false;
			const form = {
				idUsuario: autorizacion.idUsuario,
				opcion: opcion,
				value: value,
			};
			const response = await axios.put(
				BaseUrl +
					`/api/fn/configuracion/cg/autorizaciones/${autorizacion.idAutorizacion}`,
				form
			);
			if (response.data.success) {
				this.load = false;
				this.success = true;
			}
		},
		toggleAll(checked) {
            if(checked){
                let selected = this.cuentasFiltered.slice()
                this.selected = selected.map((cuenta) => cuenta.value)
            }else{
                this.selected = []
            }
		},
		vaciarCuentas() {
            const area = this.arraySelected.find(cuenta => cuenta.area == this.area)
             if(area){
                const cuentas = area.cuentas.find(cuenta => cuenta.cuenta == this.cuenta.cuentaMayor)
                if(cuentas){
                     this.selected = cuentas.subcuentas;  
                } else {
                    // this.selected = [];
                }      
             }else{
                this.selected = []
             }
		},
	},
	computed: {
		...mapState("cnf_cuentas_contables", ["arraySelected"]),
		cuentasFiltered() {
			const cuentas = this.cuentasContables.filter(
				(cc) => cc.cuentaMayor == this.cuenta.cuentaMayor
			);
			return cuentas.map(function (cuenta) {
				return {
						value: cuenta.noCuenta,
						text: cuenta.noCuenta + " - " + cuenta.subcuenta,
					};
			});
		},
		idCheck() {
			return "cuentas" + this.index;
		},
	},
	watch: {
		selected(newVal, oldVal) {
			if (newVal.length === 0) {
				this.indeterminate = false
				this.allSelected = false
			} else if (newVal.length === this.cuentasFiltered.length) {
				this.indeterminate = false
				this.allSelected = true
			} else {
				this.indeterminate = true
				this.allSelected = false
            }
            const data = {
                    area: this.area,
                    cuenta: this.cuenta.cuentaMayor,
                    subcuentas: newVal
                }
            if(newVal.length) {
                this.addArea(data)
                this.addCuenta(data)
                this.addSubcuentas(data)              
            } else {
                 this.delete(data)
            }
        },
        arraySelected() {
            this.vaciarCuentas() 
        }
    },
};
</script>
