<template>
	<div class="bg-dark p-4 h-100 border-top border-dark">
		<h3 class="text-white mt-2 pl-2 pb-4 border-bottom border-dark">
			Configuración
		</h3>
		<b-list-group class="mt-3" flush>
			<b-list-group-item
				v-if="hasPermission('co.sc.conf.proveedores.navegar')"
				@click="toSection('/compras/configuracion/proveedores')"
				class="li-area"
				:class="{
					[active]: section == '/compras/configuracion/proveedores',
				}"
			>
				Proveedores
			</b-list-group-item>

			<b-list-group-item
				v-if="hasPermission('co.sc.conf.autorizadores.navegar')"
				@click="toSection('/compras/configuracion/autorizaciones')"
				class="li-area"
				:class="{
					[active]:
						section == '/compras/configuracion/autorizaciones',
				}"
			>
				Autorizaciones
			</b-list-group-item>
			<b-list-group-item
				@click="toSection('/compras/configuracion/solicitudes/exportar')"
				class="li-area"
				:class="{ 
					[active]: 
						section == '/compras/configuracion/solicitudes/exportar' 
				}"
			>
				Exportar datos
			</b-list-group-item>
		</b-list-group>
	</div>
</template>

<script>
import { mapState, mapActions, mapMutations } from "vuex";
export default {
	data() {
		return {
			active: "bg-white text-dark",
			section: "",
			url: BaseUrl,
		};
	},
	mounted() {
		this.section = this.$route.path;
	},
	methods: {
		toSection(section) {
			if (this.section && section == this.section) {
			} else {
				this.section = section;
				var url = section;
				this.$router.push(BaseUrl + url);
			}
		},
		hasPermission(funcion) {
			if (this.permissions.length) {
				const permiso = this.permissions.find(
					(permiso) => permiso.idFuncion == funcion
				);
				if (permiso) return true;
				return false;
			}
		},
	},
	computed: {
		...mapState(["permissions"]),
	},
};
</script>

<style>
.bg-white {
	background-color: #fff !important;
}
.text-dark {
	color: rgb(69, 85, 95);
}
.li-area {
	color: #fff;
	background-color: rgb(69, 85, 95);
	cursor: pointer !important;
}
</style>
