<template>
	<b-container class="px-2 py-2">
		<b-row>
			<b-col lg="8" class="text-left">
				<h1 class="display-1 m-3 mb-0" style="font-size: 22px;">
					Empleado <b>{{ empleado.noEmpleado }}</b>
				</h1>
			</b-col>
			<b-col lg="4" class="text-right">
				<b-button
					variant="link"
					size="sm"
					class="text-secondary mt-3"
					@click="$emit('hide', false)"
				>
					<b-icon icon="x" font-scale="1.5"></b-icon>
				</b-button>
			</b-col>
		</b-row>

		<b-container>
			<hr class="mt-1 mb-3" style="background-color: #eceeef;" />

			<b-row>
				<b-col lg="4">
					<h6
						class="mb-0 display-1 text-dark"
						style="font-size: 15px;"
					>
						<strong>Nacionalidad:</strong>
					</h6>
				</b-col>
				<b-col lg="8" class="text-right text-secondary">
					<p class="mb-0" style="font-size: 13px;">
						<strong>{{ empleado.nacionalidad }}</strong>
					</p>
				</b-col>
			</b-row>
			<hr />
			<b-row>
				<b-col lg="4">
					<h6
						class="mb-0 display-1 text-dark"
						style="font-size: 15px;"
					>
						<strong>Sexo:</strong>
					</h6>
				</b-col>
				<b-col lg="8" class="text-right text-secondary">
					<p class="mb-0" style="font-size: 13px;">
						<strong>{{ empleado.sexo }}</strong>
					</p>
				</b-col>
			</b-row>
			<hr />
			<b-row>
				<b-col lg="4">
					<h6
						class="mb-0 display-1 text-dark"
						style="font-size: 15px;"
					>
						<strong>Edad:</strong>
					</h6>
				</b-col>
				<b-col lg="8" class="text-right text-secondary">
					<p class="mb-0" style="font-size: 13px;">
						<strong>{{ empleado.edad }}</strong>
					</p>
				</b-col>
			</b-row>
			<hr />
			<b-row>
				<b-col lg="4">
					<h6
						class="mb-0 display-1 text-dark"
						style="font-size: 15px;"
					>
						<strong>Estado Civil:</strong>
					</h6>
				</b-col>
				<b-col lg="8" class="text-right text-secondary">
					<p class="mb-0" style="font-size: 13px;">
						<strong>{{ empleado.estadoCivil }}</strong>
					</p>
				</b-col>
			</b-row>
			<hr />
			<b-row>
				<b-col lg="4">
					<h6
						class="mb-0 display-1 text-dark"
						style="font-size: 15px;"
					>
						<strong>Domicilio:</strong>
					</h6>
				</b-col>
				<b-col lg="8" class="text-right text-secondary">
					<p class="mb-0" style="font-size: 13px;">
						<strong>{{ empleado.domicilio }}</strong>
					</p>
				</b-col>
			</b-row>
			<hr />
			<b-row>
				<b-col lg="4">
					<h6
						class="mb-0 display-1 text-dark"
						style="font-size: 15px;"
					>
						<strong>Código postal:</strong>
					</h6>
				</b-col>
				<b-col lg="8" class="text-right text-secondary">
					<p class="mb-0" style="font-size: 13px;">
						<strong>{{ empleado.cp }}</strong>
					</p>
				</b-col>
			</b-row>
			<hr />
			<b-row>
				<b-col lg="4">
					<h6
						class="mb-0 display-1 text-dark"
						style="font-size: 15px;"
					>
						<strong>Tipo de contrato:</strong>
					</h6>
				</b-col>
				<b-col lg="8" class="text-right text-secondary">
					<p class="mb-0" style="font-size: 13px;">
						<strong>{{ empleado.tipoContrato }}</strong>
					</p>
				</b-col>
			</b-row>
			<hr />
			<b-row>
				<b-col lg="4">
					<h6
						class="mb-0 display-1 text-dark"
						style="font-size: 15px;"
					>
						<strong>Teléfono:</strong>
					</h6>
				</b-col>
				<b-col lg="8" class="text-right text-secondary">
					<p class="mb-0" style="font-size: 13px;">
						<strong>{{ empleado.telefono }}</strong>
					</p>
				</b-col>
			</b-row>
			<hr />
			<b-row>
				<b-col lg="5">
					<h6
						class="mb-0 display-1 text-dark"
						style="font-size: 15px;"
					>
						<strong>Correo electrónico:</strong>
					</h6>
				</b-col>
				<b-col lg="7" class="text-right text-secondary">
					<p class="mb-0" style="font-size: 13px;">
						<strong>{{ empleado.email }}</strong>
					</p>
				</b-col>
			</b-row>
			<hr />
			<b-row>
				<b-col lg="5">
					<h6
						class="mb-0 display-1 text-dark"
						style="font-size: 15px;"
					>
						<strong>Correo electrónico personal:</strong>
					</h6>
				</b-col>
				<b-col lg="7" class="text-right text-secondary">
					<p class="mb-0" style="font-size: 13px;">
						<strong>{{ empleado.emailPersonal }}</strong>
					</p>
				</b-col>
			</b-row>
			<hr />
			<b-row>
				<b-col lg="5">
					<h6
						class="mb-0 display-1 text-dark"
						style="font-size: 15px;"
					>
						<strong>Tarjeta Banbajio:</strong>
					</h6>
				</b-col>
				<b-col lg="7" class="text-right text-secondary">
					<p class="mb-0" style="font-size: 13px;">
						<strong>{{ empleado.tarjetaBanbajio }}</strong>
					</p>
				</b-col>
			</b-row>
			<hr />
			<b-row>
				<b-col lg="5">
					<h6
						class="mb-0 display-1 text-dark"
						style="font-size: 15px;"
					>
						<strong>Unidad de negocio:</strong>
					</h6>
				</b-col>
				<b-col lg="7" class="text-right text-secondary">
					<p class="mb-0" style="font-size: 13px;">
						<strong>{{ empleado.unidadNegocio }}</strong>
					</p>
				</b-col>
			</b-row>
			<hr />
			<b-row>
				<b-col lg="4">
					<h6
						class="mb-0 display-1 text-dark"
						style="font-size: 15px;"
					>
						<strong>Salario diario:</strong>
					</h6>
				</b-col>
				<b-col lg="8" class="text-right text-secondary">
					<p class="mb-0" style="font-size: 13px;">
						<strong>{{ empleado.salario }}</strong>
					</p>
				</b-col>
			</b-row>
			<hr />
			<b-row>
				<b-col lg="4">
					<h6
						class="mb-0 display-1 text-dark"
						style="font-size: 15px;"
					>
						<strong>Fecha de baja:</strong>
					</h6>
				</b-col>
				<b-col lg="8" class="text-right text-secondary">
					<p class="mb-0" style="font-size: 13px;">
						<strong>{{ empleado.fechaBaja }}</strong>
					</p>
				</b-col>
			</b-row>
			<hr />
		</b-container>
	</b-container>
</template>

<script>
import { mapState } from "vuex";

export default {
	props: {
		empleado: Object,
	},
	data() {
		return {};
	},
	mounted() {},
	methods: {
		hasPermission(funcion) {
			if (this.permissions.length) {
				const permiso = this.permissions.find(
					(permiso) => permiso.idFuncion == funcion
				);
				if (permiso) return true;
				return false;
			}
		},
	},
	computed: {
		...mapState(["permissions"]),
	},
};
</script>
