<template>
	<b-container fluid style="height: calc(100vh - 56px); overflow: auto">
		<b-card no-body class="mt-3 pt-2 pb-3">
			<b-row class="text-center">
				<b-col lg="2"></b-col>
				<b-col lg="8">
					<div class="mt-3">
						<h1
							class="display-1"
							style="font-size: 30px;"
							align="center"
						>
							Empleados
						</h1>
					</div>
				</b-col>
				<b-col lg="2">
					<b-button
						size="sm"
						class="float-right mt-3 mr-4"
						@click="
							empleado = null;
							titleModalEmpleado = 'Agregar empleado';
						"
						v-b-modal.modal-empleado
					>
						<i class="fas fa-user-plus mx-1"></i>
						Agregar empleado
					</b-button>
					<modal-component
						:title="titleModalEmpleado"
						:id="'modal-empleado'"
						:hideFooter="true"
						:sizeModal="'lg'"
					>
						<template slot="content">
							<th-form-empleado-component :empleado="empleado" />
						</template>
					</modal-component>
				</b-col>
			</b-row>
		</b-card>
		<b-row class="my-3">
			<b-col lg="4"></b-col>
			<b-col lg="5"></b-col>
			<b-col lg="3">
				<div class="input-group w-100 bg-white">
					<div class="input-group-prepend bg-light mr-1 ml-3">
						<div class="pt-1 bg-white">
							<i class="fas fa-search"></i>
						</div>
					</div>
					<b-form-input
						id="input-search"
						size="sm"
						class="form-control border-0"
						placeholder="Escribe tu busqueda aquí"
						style=""
						v-model="search"
					></b-form-input>
				</div>
			</b-col>
		</b-row>
		<b-card
			class="mt-3 p-0"
			no-body
			style="max-height: calc(100vh - 260px); overflow-y:auto;"
		>
			<b-table
				ref="selectableTable"
				style="font-size: 12px;"
				class="bg-white w-100 mb-0"
				head-variant="light"
				:items="listEmpleados"
				:fields="fields"
				:busy="false"
				:current-page="currentPage"
				:per-page="perPage"
				:filter="search"
				show-empty
				:empty-filtered-text="'No se encontraron registros'"
				empty-text="No hay registros para mostrar"
				id="table-empleados"
				no-close-on-backdrop
				:select-mode="'single'"
				selectable
				@row-selected="onRowSelected"
			>
				<template v-slot:table-busy>
					<div class="text-center text-secondary mt-5 mb-3">
						<b-spinner class="align-middle"></b-spinner>
						<strong>Cargando...</strong>
					</div>
				</template>

				<template v-slot:cell(noEmpleado)="scope">
					<strong>{{ scope.item.noEmpleado }}</strong>
				</template>

				<template v-slot:cell(status)="scope">
					{{ scope.item.status }}
				</template>

				<template v-slot:cell(fechaIngreso)="scope">
					{{ formatoFecha(scope.item.fechaIngreso) }}
				</template>

				<template v-slot:cell(fechaTermino)="scope">
					{{ formatoFecha(scope.item.fechaTermino) }}
				</template>

				<template v-slot:cell(actions)="scope">
					<div class="text-center">
						<b-dropdown
							id="dropdown-left"
							right
							variant="link"
							class="py-0 my-0"
							no-caret
							size="sm"
						>
							<template v-slot:button-content>
								<i
									class="fas fa-ellipsis-v px-2 py-0 text-secondary"
								></i>
							</template>
							<b-dropdown-item
								v-b-modal.modal-empleado
								@click="
									empleado = scope.item;
									titleModalEquipo = 'Actualizar empleado';
								"
							>
								<i class="fas fa-edit px-2"></i>
								Editar
							</b-dropdown-item>
							<slot name="dropdown-more-actions"></slot>
						</b-dropdown>
					</div>
				</template>
			</b-table>
		</b-card>

		<b-row class="my-3">
			<b-col md="2">
				<b-form inline>
					<b-form-group>
						<div class="input-group w-100 bg-white">
							<div class="input-group-prepend bg-light">
								<div class="mr-2 ml-2">
									<small><strong>Por página:</strong></small>
								</div>
							</div>
							<b-form-select
								size="sm"
								:options="pageOptions"
								v-model="perPage"
							>
							</b-form-select>
						</div>
					</b-form-group>
				</b-form>
			</b-col>
			<b-col md="6"></b-col>
			<b-col md="4">
				<b-pagination
					v-model="currentPage"
					:total-rows="listEmpleados.length"
					:per-page="perPage"
					align="fill"
					size="sm"
					class="my-0"
				></b-pagination>
			</b-col>
		</b-row>

		<b-sidebar
			id="sidebar-details-empleado"
			shadow
			right
			no-header
			backdrop-variant="transparent"
			bg-variant="light"
			text-variant="dark"
			width="480px"
			:visible="showSidebar"
			@hidden="hiddenSidebar"
		>
			<template v-slot:default="{ hide }">
				<th-content-sidebar-empleado-component
					v-if="showSidebar && empleadoActivo"
					:empleado="empleadoActivo"
					@hide="hide($event)"
				/>
			</template>
		</b-sidebar>
	</b-container>
</template>

<script>
import { mapState, mapMutations, mapActions } from "vuex";
export default {
	data() {
		return {
			search: "",
			showSidebar: false,
			empleado: null,
			empleadoActivo: null,
			titleModalEmpleado: "Agregar empleado",
			tiposSelect: [
				{ value: "Todos", text: "Todos" },
				{ value: "Determinado", text: "Determinado" },
				{ value: "Indeterminado", text: "Indeterminado" },
				{ value: "Obra determinada", text: "Obra determinada" },
			],
			tipoSelected: "Todos",
			totalRows: 1,
			currentPage: 1,
			perPage: 15,
			pageOptions: [10, 15, 20, 25],
		};
	},
	mounted() {
		this.getEmpleados();
	},
	methods: {
		...mapActions("th_empleados", ["getEmpleados"]),

		onRowSelected(items) {
			this.empleadoActivo = items[0];
			if (this.empleadoActivo) this.openSidebar();
		},
		openSidebar() {
			this.showSidebar = true;
		},
		hiddenSidebar() {
			this.showSidebar = false;
			this.empleadoActivo = null;
			this.$refs.selectableTable.clearSelected();
		},
		formatoFecha(date) {
			if (date) {
				return moment(date, "YYYY-MM-DD")
					.locale("es")
					.format("LL");
			} else return "Sin fecha asignada";
		},
	},
	computed: {
		...mapState("th_empleados", [
			"busyEmpleados",
			"fields",
			"listEmpleados",
		]),
	},
};
</script>
<style>
.bg-green-light-2 {
	background-color: #e0ffe1;
	color: #28a745;
}
.bg-yellow-light-2 {
	background-color: #fff7e2;
	color: #e67523;
}
.bg-red-light-2 {
	background-color: #fff1f2;
	color: #dc3545;
}
#table-empleados td {
	padding: 0.42rem !important;
	vertical-align: middle !important;
}
</style>
