<template>
	<b-overlay
		:show="overlay"
		rounded="sm"
		opacity="1.0"
		blur="1px"
		variant="transparent"
	>
		<b-row>
			<b-col lg="4">
				<b-form-group>
					<template v-slot:label>
						<div class="lab-form">
							Núm. Empleado <span class="req">*</span>
						</div>
					</template>
					<b-form-input
						id="NoEmpleado"
						placeholder="Número de empleado"
						type="text"
						v-model="$v.form.noEmpleado.$model"
						:state="
							$v.form.noEmpleado.$dirty
								? !$v.form.noEmpleado.$error
								: null
						"
					>
					</b-form-input>
					<b-form-invalid-feedback id="feedback-no-empleado">
						Campo obligatorio
					</b-form-invalid-feedback>
				</b-form-group>
			</b-col>
			<b-col lg="8">
				<b-form-group>
					<template v-slot:label>
						<div class="lab-form">
							Nombre <span class="req">*</span>
						</div>
					</template>
					<b-form-input
						id="nombre"
						placeholder="Nombre del empleado"
						type="text"
						v-model="$v.form.nombre.$model"
						:state="
							$v.form.nombre.$dirty
								? !$v.form.nombre.$error
								: null
						"
					>
					</b-form-input>
					<b-form-invalid-feedback id="feedback-nombre">
						Campo obligatorio
					</b-form-invalid-feedback>
				</b-form-group>
			</b-col>
		</b-row>

		<b-row>
			<b-col>
				<b-form-group>
					<template v-slot:label>
						<div class="lab-form">
							Teléfono <span class="req">*</span>
						</div>
					</template>
					<b-form-input
						id="telefono"
						placeholder="Teléfono"
						type="text"
						v-model="$v.form.telefono.$model"
						:state="
							$v.form.telefono.$dirty
								? !$v.form.telefono.$error
								: null
						"
					>
					</b-form-input>
					<b-form-invalid-feedback id="feedback-telefono">
						Campo obligatorio
					</b-form-invalid-feedback>
				</b-form-group>
			</b-col>
			<b-col>
				<b-form-group>
					<template v-slot:label>
						<div class="lab-form">
							Nacionalidad <span class="req">*</span>
						</div>
					</template>
					<b-form-input
						id="nacionalidad"
						placeholder="Nacionalidad"
						type="text"
						v-model="$v.form.nacionalidad.$model"
						:state="
							$v.form.nacionalidad.$dirty
								? !$v.form.nacionalidad.$error
								: null
						"
					>
					</b-form-input>
					<b-form-invalid-feedback id="feedback-nacionalidad">
						Campo obligatorio
					</b-form-invalid-feedback>
				</b-form-group>
			</b-col>
			<b-col>
				<b-form-group>
					<template v-slot:label>
						<div class="lab-form">
							Sexo <span class="req">*</span>
						</div>
					</template>

					<b-form-select
						v-model="$v.form.sexo.$model"
						:options="selectSexos"
						:state="
							$v.form.sexo.$dirty ? !$v.form.sexo.$error : null
						"
					>
						<template v-slot:first>
							<option :value="null" disabled>Seleccione</option>
						</template>
					</b-form-select>

					<b-form-invalid-feedback id="feedback-sexo">
						Campo obligatorio
					</b-form-invalid-feedback>
				</b-form-group>
			</b-col>
		</b-row>

		<b-row>
			<b-col>
				<b-form-group>
					<template v-slot:label>
						<div class="lab-form">
							Edad <span class="req">*</span>
						</div>
					</template>
					<b-form-input
						id="edad"
						placeholder="Edad"
						type="text"
						v-model="$v.form.edad.$model"
						:state="
							$v.form.edad.$dirty ? !$v.form.edad.$error : null
						"
					>
					</b-form-input>
					<b-form-invalid-feedback id="feedback-edad">
						Campo obligatorio
					</b-form-invalid-feedback>
				</b-form-group>
			</b-col>
			<b-col>
				<b-form-group>
					<template v-slot:label>
						<div class="lab-form">
							Estado Civil <span class="req">*</span>
						</div>
					</template>
					<b-form-input
						id="edad"
						placeholder="Estado Civil"
						type="text"
						v-model="$v.form.estadoCivil.$model"
						:state="
							$v.form.estadoCivil.$dirty
								? !$v.form.estadoCivil.$error
								: null
						"
					>
					</b-form-input>
					<b-form-invalid-feedback id="feedback-estado-civil">
						Campo obligatorio
					</b-form-invalid-feedback>
				</b-form-group>
			</b-col>
			<b-col>
				<b-form-group>
					<template v-slot:label>
						<div class="lab-form">
							Código Postal <span class="req">*</span>
						</div>
					</template>
					<b-form-input
						id="edad"
						placeholder="Código Postal"
						type="text"
						v-model="$v.form.codigoPostal.$model"
						:state="
							$v.form.codigoPostal.$dirty
								? !$v.form.codigoPostal.$error
								: null
						"
					>
					</b-form-input>
					<b-form-invalid-feedback id="feedback-codigo-postal">
						Campo obligatorio
					</b-form-invalid-feedback>
				</b-form-group>
			</b-col>
		</b-row>

		<b-form-group>
			<template v-slot:label>
				<div class="lab-form">Domicilio <span class="req">*</span></div>
			</template>
			<b-form-input
				id="domicilio"
				placeholder="Domicilio"
				type="text"
				v-model="$v.form.domicilio.$model"
				:state="
					$v.form.domicilio.$dirty ? !$v.form.domicilio.$error : null
				"
			>
			</b-form-input>
			<b-form-invalid-feedback id="feedback-domicilio">
				Campo obligatorio
			</b-form-invalid-feedback>
		</b-form-group>

		<b-row>
			<b-col>
				<b-form-group>
					<template v-slot:label>
						<div class="lab-form">
							CURP <span class="req">*</span>
						</div>
					</template>
					<b-form-input
						id="curp"
						placeholder="CURP"
						type="text"
						v-model="$v.form.curp.$model"
						:state="
							$v.form.curp.$dirty ? !$v.form.curp.$error : null
						"
					>
					</b-form-input>
					<b-form-invalid-feedback id="feedback-curp">
						Campo obligatorio
					</b-form-invalid-feedback>
				</b-form-group>
			</b-col>
			<b-col>
				<b-form-group>
					<template v-slot:label>
						<div class="lab-form">
							RFC <span class="req">*</span>
						</div>
					</template>
					<b-form-input
						id="rfc"
						placeholder="RFC"
						type="text"
						v-model="$v.form.rfc.$model"
						:state="$v.form.rfc.$dirty ? !$v.form.rfc.$error : null"
					>
					</b-form-input>
					<b-form-invalid-feedback id="feedback-rfc">
						Campo obligatorio
					</b-form-invalid-feedback>
				</b-form-group>
			</b-col>
			<b-col>
				<b-form-group>
					<template v-slot:label>
						<div class="lab-form">
							NSS <span class="req">*</span>
						</div>
					</template>
					<b-form-input
						id="nss"
						placeholder="NSS"
						type="text"
						v-model="$v.form.nss.$model"
						:state="$v.form.nss.$dirty ? !$v.form.nss.$error : null"
					>
					</b-form-input>
					<b-form-invalid-feedback id="feedback-nss">
						Campo obligatorio
					</b-form-invalid-feedback>
				</b-form-group>
			</b-col>
		</b-row>

		<b-row>
			<b-col>
				<b-form-group>
					<template v-slot:label>
						<div class="lab-form">
							UN <span class="req">*</span>
						</div>
					</template>
					<b-form-select
						:options="unidadesNegocio"
						v-model="$v.form.unidadNegocio.$model"
						:state="
							$v.form.unidadNegocio.$dirty
								? !$v.form.unidadNegocio.$error
								: null
						"
					>
						<template v-slot:first>
							<option :value="null" disabled
								>Seleccione</option
							>
						</template>
					</b-form-select>

					<!-- <b-form-input
						id="un"
						placeholder="Unidad de negocio"
						type="text"
						v-model="$v.form.unidadNegocio.$model"
						:state="
							$v.form.unidadNegocio.$dirty
								? !$v.form.unidadNegocio.$error
								: null
						"
					>
					</b-form-input> -->
					<b-form-invalid-feedback id="feedback-unidad-negocio">
						Campo obligatorio
					</b-form-invalid-feedback>
				</b-form-group>
			</b-col>
			<b-col>
				<b-form-group>
					<template v-slot:label>
						<div class="lab-form">
							Puesto <span class="req">*</span>
						</div>
					</template>
					<b-form-select
						v-model="$v.form.puesto.$model"
						:options="selectPuestos"
						:state="
							$v.form.puesto.$dirty
								? !$v.form.puesto.$error
								: null
						"
					>
						<template v-slot:first>
							<option :value="null" disabled>Seleccione</option>
						</template>
					</b-form-select>

					<b-form-invalid-feedback id="feedback-puesto">
						Campo obligatorio
					</b-form-invalid-feedback>
				</b-form-group>
			</b-col>
			<b-col>
				<b-form-group>
					<template v-slot:label>
						<div class="lab-form">
							Salario diario<span class="req">*</span>
						</div>
					</template>

					<vue-numeric
						class="text-right form-control "
						separator=","
						:precision="2"
						currency="$"
						:read-only="false"
						v-model="form.salario"
					/>
				</b-form-group>
			</b-col>
		</b-row>

		<b-row>
			<b-col>
				<b-form-group>
					<template v-slot:label>
						<div class="lab-form">
							Tipo de contrato <span class="req">*</span>
						</div>
					</template>
					<b-form-select
						v-model="$v.form.tipoContrato.$model"
						:options="selectTiposContratos"
						:state="
							$v.form.tipoContrato.$dirty
								? !$v.form.tipoContrato.$error
								: null
						"
					>
						<template v-slot:first>
							<option :value="null" disabled>Seleccione</option>
						</template>
					</b-form-select>

					<b-form-invalid-feedback id="feedback-tipo-contrato">
						Campo obligatorio
					</b-form-invalid-feedback>
				</b-form-group>
			</b-col>
			<b-col>
				<b-form-group>
					<template v-slot:label>
						<div class="lab-form">
							Tipo de puesto <span class="req">*</span>
						</div>
					</template>
					<b-form-select
						v-model="$v.form.tipoPuesto.$model"
						:options="selectTiposPuestos"
						:state="
							$v.form.tipoPuesto.$dirty
								? !$v.form.tipoPuesto.$error
								: null
						"
					>
						<template v-slot:first>
							<option :value="null" disabled>Seleccione</option>
						</template>
					</b-form-select>

					<b-form-invalid-feedback id="feedback-tipo-contrato">
						Campo obligatorio
					</b-form-invalid-feedback>
				</b-form-group>
			</b-col>
			<b-col>
				<b-form-group>
					<template v-slot:label>
						<div class="lab-form">
							Tarjeta Banbajio
						</div>
					</template>
					<b-form-input
						id="tarjetaBanbajio"
						placeholder="Tarjeta Banbajio"
						type="text"
						v-model="$v.form.tarjetaBanbajio.$model"
						:state="$v.form.tarjetaBanbajio.$dirty ? !$v.form.tarjetaBanbajio.$error : null"
					>
					</b-form-input>
					<b-form-invalid-feedback id="feedback-tarjetaBanbajio">
						Campo obligatorio
					</b-form-invalid-feedback>
				</b-form-group>
			</b-col>
		</b-row>

		<b-row>
			<b-col>
				<b-form-group>
					<template v-slot:label>
						<div class="lab-form">
							Fecha de ingreso <span class="req">*</span>
						</div>
					</template>
					<b-form-datepicker
						id="fecha-ingreso-datepicker"
						v-model="$v.form.fechaIngreso.$model"
						:state="
							$v.form.fechaIngreso.$dirty
								? !$v.form.fechaIngreso.$error
								: null
						"
					>
					</b-form-datepicker>
					<b-form-invalid-feedback id="feedback-fecha-ingreso">
						Campo obligatorio
					</b-form-invalid-feedback>
				</b-form-group>
			</b-col>
			<b-col>
				<b-form-group>
					<template v-slot:label>
						<div class="lab-form">
							Fecha de termino <span class="req">*</span>
						</div>
					</template>
					<b-form-datepicker
						id="fecha-termino-datepicker"
						v-model="$v.form.fechaTermino.$model"
						:state="
							$v.form.fechaTermino.$dirty
								? !$v.form.fechaTermino.$error
								: null
						"
					>
					</b-form-datepicker>
					<b-form-invalid-feedback id="feedback-fecha-termino">
						Campo obligatorio
					</b-form-invalid-feedback>
				</b-form-group>
			</b-col>
			<b-col>
				<b-form-group>
					<template v-slot:label>
						<div class="lab-form">
							Fecha de baja <span class="req">*</span>
						</div>
					</template>
					<b-form-datepicker
						id="fecha-baja-datepicker"
						v-model="$v.form.fechaBaja.$model"
						:state="
							$v.form.fechaBaja.$dirty
								? !$v.form.fechaBaja.$error
								: null
						"
					>
					</b-form-datepicker>
					<b-form-invalid-feedback id="feedback-fecha-baja">
						Campo obligatorio
					</b-form-invalid-feedback>
				</b-form-group>
			</b-col>
		</b-row>

		<b-row>
			<b-col>
				<b-form-group>
					<template v-slot:label>
						<div class="lab-form">
							Correo electrónico <span class="req">*</span>
						</div>
					</template>
					<b-form-input
						id="email"
						placeholder="example@hotmail.com"
						type="email"
						v-model="$v.form.email.$model"
						:state="
							$v.form.email.$dirty ? !$v.form.email.$error : null
						"
					>
					</b-form-input>
					<b-form-invalid-feedback id="feedback-email">
						Campo obligatorio
					</b-form-invalid-feedback>
				</b-form-group>
			</b-col>
			<b-col>
				<b-form-group>
					<template v-slot:label>
						<div class="lab-form">
							Correo electrónico personal
							<span class="req">*</span>
						</div>
					</template>
					<b-form-input
						id="emailPersonal"
						placeholder="example@hotmail.com"
						type="email"
						v-model="$v.form.emailPersonal.$model"
						:state="
							$v.form.emailPersonal.$dirty
								? !$v.form.emailPersonal.$error
								: null
						"
					>
					</b-form-input>
					<b-form-invalid-feedback id="feedback-email-personal">
						Campo obligatorio
					</b-form-invalid-feedback>
				</b-form-group>
			</b-col>
		</b-row>

		<div class="d-flex flex-row-reverse bd-highlight">
			<b-button variant="danger" class="ml-3 my-2" @click="submit">
				GUARDAR
			</b-button>
			<b-button variant="white" class="link-light my-2" @click="cancel">
				CANCELAR
			</b-button>
		</div>
	</b-overlay>
</template>

<script>
import { mapState, mapMutations, mapActions } from "vuex";
import { required } from "vuelidate/lib/validators";

export default {
	props: {
		empleado: Object,
	},
	data() {
		return {
			load: true,
			errorSubmit: false,
			overlay: false,

			form: {
				nombre: null,
				noEmpleado: null,
				nacionalidad: null,
				sexo: null,
				edad: null,
				estadoCivil: null,
				codigoPostal: null,
				domicilio: null,
				curp: null,
				rfc: null,
				tipoContrato: null,
				puesto: null,
				tipoPuesto: null,
				unidadNegocio: null,
				nss: null,
				tarjetaBanbajio: null,
				salario: 0,
				telefono: null,
				fechaIngreso: null,
				fechaTermino: null,
				fechaBaja: null,
				email: null,
				emailPersonal: null,
			},
			selectTiposContratos: [
				"Determinado",
				"Indeterminado",
				"Obra determinada",
			],
			selectTiposPuestos: ["Administrativo", "Operativo"],
			selectSexos: ["Masculino", "Femenino"],
			// selectPuestos: [
			// 	{ text: "Ingeniero de sistemas", value: 1 },
			// 	{ text: "Ingeniero de sistemas", value: 1 },
			// ],
			unidadesNegocio: [],
		};
	},
	mounted() {
		this.getPuestos();
		this.getUnidadesNegocio();
		if (this.empleado) this.setDataEdit();
	},
	methods: {
		...mapMutations(["modalSubmit", "modalOk"]),
		...mapActions("th_puestos", ["getPuestos"]),
		...mapMutations("th_empleados", ["addEmpleado", "updateEmpleado"]),

		async submit() {
			this.overlay = true;
			this.errorSubmit = false;
			this.$v.$touch();

			if (!this.$v.$invalid) {
				try {
					const response = !this.empleado
						? await axios.post(`/api/th/empleado`, this.form)
						: await axios.put(
								`/api/th/empleado/${this.empleado.noEmpleado}`,
								this.form
						  );
					if (response.data.success) {
						console.log(response.data.empleado);
						if (!this.empleado)
							this.addEmpleado(JSON.parse(response.data.empleado));
						else this.updateEmpleado(JSON.parse(response.data.empleado));
						this.modalSubmit(true);
						this.overlay = false;
					} else {
						this.modalOk(false);
					}
				} catch (e) {
					console.log(e);
					this.overlay = false;
					this.errorSubmit = true;
				}
			} else {
				this.overlay = false;
			}
		},
		setDataEdit() {
			this.form.nombre = this.empleado.nombre;
			this.form.noEmpleado = this.empleado.noEmpleado;
			this.form.nacionalidad = this.empleado.nacionalidad;
			this.form.sexo = this.empleado.sexo;
			this.form.edad = this.empleado.edad;
			this.form.estadoCivil = this.empleado.estadoCivil;
			this.form.codigoPostal = this.empleado.cp;
			this.form.domicilio = this.empleado.domicilio;
			this.form.curp = this.empleado.curp;
			this.form.rfc = this.empleado.rfc;
			this.form.tipoContrato = this.empleado.tipoContrato;
			this.form.puesto = this.empleado.idPuesto;
			this.form.tipoPuesto = this.empleado.tipoPuesto;
			this.form.unidadNegocio = this.empleado.unidadNegocio;
			this.form.nss = this.empleado.nss;
			this.form.tarjetaBanbajio = this.empleado.tarjetaBanbajio;
			this.form.salario = this.empleado.salario;
			this.form.telefono = this.empleado.telefono;
			this.form.fechaIngreso = this.empleado.fechaIngreso;
			this.form.fechaTermino = this.empleado.fechaTermino;
			this.form.fechaBaja = this.empleado.fechaBaja;
			this.form.email = this.empleado.email;
			this.form.emailPersonal = this.empleado.emailPersonal;
		},
		cancel() {
			this.$bvModal.hide("modal-empleado");
		},
		getUnidadesNegocio() {
			axios
				.get(BaseUrl + `/api/fn/cuentas-internas/unidad-negocio/select`)
				.then((response) => {
					if (response.data) {
						this.unidadesNegocio = response.data.map(
							(cuenta) => cuenta.unidadNegocio
						);
					}
				});
		},
	},
	computed: {
		...mapState(["usuario", "okModal"]),
		...mapState("th_puestos", ["listPuestos"]),

		selectPuestos() {
			if (this.listPuestos.length) {
				return this.listPuestos.map((puesto) => {
					return {
						text: puesto.nombre,
						value: puesto.idPuesto
					}
				});
			}else return [];
		},
	},
	validations() {
		return {
			form: {
				nombre: { required },
				noEmpleado: {  },
				nacionalidad: {  },
				sexo: {  },
				edad: {  },
				estadoCivil: { },
				codigoPostal: { },
				domicilio: { },
				curp: {  },
				rfc: {  },
				tipoContrato: {  },
				puesto: {  },
				tipoPuesto: {  },
				unidadNegocio: {  },
				nss: {  },
				tarjetaBanbajio: { },
				salario: { },
				telefono: { },
				fechaIngreso: {  },
				fechaTermino: { },
				fechaBaja: { },
				email: { },
				emailPersonal: { },
			},
			// form: {
			// 	nombre: { required },
			// 	noEmpleado: { required },
			// 	nacionalidad: { required },
			// 	sexo: { required },
			// 	edad: { required },
			// 	estadoCivil: { },
			// 	codigoPostal: { },
			// 	domicilio: { },
			// 	curp: { required },
			// 	rfc: { required },
			// 	tipoContrato: { required },
			// 	puesto: { required },
			// 	tipoPuesto: { required },
			// 	unidadNegocio: { required },
			// 	nss: { required },
			// 	tarjetaBanbajio: { },
			// 	salario: { },
			// 	telefono: { },
			// 	fechaIngreso: { required },
			// 	fechaTermino: { },
			// 	fechaBaja: { },
			// 	email: { },
			// 	emailPersonal: { },
			// },
		};
	},
	watch: {},
};
</script>
