<template>
	<b-overlay
		:show="overlay"
		rounded="sm"
		opacity="1.0"
		blur="1px"
		variant="transparent"
	>
		<b-form-group>
			<template v-slot:label>
				<div class="lab-form">
					Motivo de ausencia<span class="req">*</span>
				</div>
			</template>
			<b-form-input
				v-model="$v.form.motivo.$model"
				placeholder="Motivo de ausencia"
				:state="$v.form.motivo.$dirty ? !$v.form.motivo.$error : null"
			>
			</b-form-input>
			<b-form-invalid-feedback id="feedback-motivo">
				Campo obligatorio
			</b-form-invalid-feedback>
		</b-form-group>

		<b-form-group>
			<template v-slot:label>
				<div class="lab-form">
					Días de anticipación<span class="req">*</span>
				</div>
			</template>
			<b-form-input
				type="number"
				v-model="$v.form.diasAnticipacion.$model"
				placeholder="Días de anticipación"
				:state="
					$v.form.diasAnticipacion.$dirty
						? !$v.form.diasAnticipacion.$error
						: null
				"
			>
			</b-form-input>
			<b-form-invalid-feedback id="feedback-diasAnticipacion">
				Campo obligatorio
			</b-form-invalid-feedback>
		</b-form-group>

		<div class="d-flex flex-row-reverse bd-highlight">
			<b-button variant="danger" class="ml-3 my-2" @click="submit">
				GUARDAR
			</b-button>
			<b-button variant="white" class="link-light my-2" @click="cancel">
				CANCELAR
			</b-button>
		</div>
	</b-overlay>
</template>

<script>
import { mapMutations, mapState, mapActions } from "vuex";
import { required } from "vuelidate/lib/validators";

export default {
	props: {
		motivoAusencia: Object,
	},
	data() {
		return {
			load: true,
			errorSubmit: false,
			overlay: false,

			form: {
				motivo: null,
				diasAnticipacion: 0,
			},
		};
	},
	mounted() {
		if (this.motivoAusencia) this.setDataEdit();
	},
	methods: {
		...mapMutations(["modalSubmit", "modalOk"]),
		...mapMutations("th_motivos_ausencia", [
			"addMotivoAusencia",
			"updateMotivoAusencia",
		]),

		async submit() {
			this.overlay = true;
			this.errorSubmit = false;
			this.$v.$touch();

			if (!this.$v.$invalid) {
				try {
					const response = !this.motivoAusencia
						? await axios.post(`/api/th/motivoAusencia`, this.form)
						: await axios.put(
								`/api/th/motivoAusencia/${this.motivoAusencia.idMotivoAusencia}`,
								this.form
						  );
					if (response.data.success) {
						if (!this.motivoAusencia)
							this.addMotivoAusencia(
								response.data.motivoAusencia
							);
						else
							this.updateMotivoAusencia(
								response.data.motivoAusencia
							);
						this.modalSubmit(true);
						this.overlay = false;
					} else {
						this.modalOk(false);
					}
				} catch (e) {
					console.log(e);
					this.overlay = false;
					this.errorSubmit = true;
				}
			} else {
				this.overlay = false;
			}
		},
		setDataEdit() {
			this.form.motivo = this.motivoAusencia.motivo;
			this.form.diasAnticipacion = this.motivoAusencia.diasAnticipacion;
		},
		cancel() {
			this.$bvModal.hide("modal-agregar-th-motivos-ausencia");
		},
	},
	computed: {
		...mapState(["usuario", "okModal"]),
	},
	validations() {
		return {
			form: {
				motivo: { required },
				diasAnticipacion: { required },
			},
		};
	},
};
</script>
