<template>
	<b-container fluid style="height: calc(100vh - 54px)">
		<b-row class="h-100">
			<b-col lg="2" class="px-0 h-100">
				<co-configuracion-sidebar />
			</b-col>
			<b-col lg="10" class="pl-0">
				<div
					class="p-4"
					style="height: calc(100vh - 54px); overflow: auto;"
				>
					<b-row>
						<b-col lg="2"></b-col>
						<b-col lg="8">
							<h1 class="text-center">Autorizaciones</h1>
						</b-col>
						<b-col lg="2"></b-col>
					</b-row>

					<b-card class="shadow-sm mt-4">
						<b-row class="mb-2">
							<b-col>
								<b-badge
									variant="light"
									class="shadow-sm mt-1 float-right"
									v-if="saving"
								>
									<b-spinner
										type="grow"
										small
										label="Spinning"
										class="mr-2"
									></b-spinner
									>Guardando cambios ...
								</b-badge>

								<b-badge
									v-if="!saving && updatedMonto"
									variant="light"
									class="shadow-sm mt-2 float-right"
								>
									<font class="text-success">
										<i class="fas fa-check mr-1"></i>
										Cambios guardados
									</font>
								</b-badge>
							</b-col>
						</b-row>

						<hr class="mb-0 mt-4" />
						<b-table-simple
							hover
							small
							bordered
							caption-top
							responsive
							class="shadow-sm mb-0"
						>
							<b-thead>
								<b-tr class="text-center">
									<th
										class="align-middle"
										style="width: 50%;"
									>
										Autorizador
									</th>
									<th
										colspan="2"
										class="align-middle"
										style="width: 50%;"
									>
										Rangos de autorización
									</th>
								</b-tr>
							</b-thead>

							<template
								v-for="(autorizador,
								index) in listAutorizaciones"
							>
								<b-thead :key="index">
									<b-tr class="text-center">
										<th class="bg-th-auto align-middle">
											{{ autorizador.nombre_usuario }}
										</th>
										<th class="bg-white align-middle">
											<b-form-input
												type="text"
												size="sm"
												style="font-weight: bold;"
												class="text-center text-danger"
												:value="
													autorizador.montoInicial
												"
												@blur="
													edit(
														$event.target.value,
														'montoInicial',
														autorizador.idAutorizacion
													)
												"
											>
											</b-form-input>
										</th>
										<th class="bg-white align-middle">
											<b-form-input
												type="text"
												size="sm"
												style="font-weight: bold;"
												class="text-center text-danger"
												:value="autorizador.montoFin"
												@blur="
													edit(
														$event.target.value,
														'montoFin',
														autorizador.idAutorizacion
													)
												"
											>
											</b-form-input>
										</th>
									</b-tr>
								</b-thead>
							</template>
						</b-table-simple>
					</b-card>
				</div>
			</b-col>
		</b-row>
	</b-container>
</template>

<script>
import { mapState, mapActions, mapMutations } from "vuex";
export default {
	data() {
		return {
			saving: false,
			updatedMonto: false,
		};
	},
	mounted() {
		this.getAutorizaciones();
		this.hideBadgeSaving();
	},
	methods: {
		...mapActions("co_conf_autorizaciones", ["getAutorizaciones"]),
		...mapMutations("co_conf_autorizaciones", ["updateAutorizacion"]),

		async edit(value, campo, id) {
			try {
				this.editing(true);
				const data = { monto: value, campo: campo };
				const response = await axios.put(
					BaseUrl + `/api/co/sc/solicitudes/autorizacion/${id}`,
					data
				);
				if (response.data.success) {
					this.updateAutorizacion(response.data.autorizacion);
					this.editing(false);
				}
			} catch (error) {
				console.log(error);
			}
		},
		editing(status) {
			this.saving = status;
			this.updatedMonto = !status;
		},
		hideBadgeSaving() {
			this.saving = false;
			this.updatedMonto = false;
		},
	},
	computed: {
		...mapState("co_conf_autorizaciones", ["listAutorizaciones"]),
	},
};
</script>

<style>
.bg-th-auto {
	background-color: #dee2e6;
	color: #455566;
}
</style>
