<template>
	<b-list-group-item class="pl-3">
		<div class="media">
			<a href="#" class="icon-shape bg-white mr-3">
				<i :class="iconClass" class="text-dark"></i>
			</a>
			<div class="media-body align-self-center overflow-hidden">
				<h6 class="text-truncate mb-1">
					<a class="text-reset" href="#" @click="show">{{
						archivo.nombre
					}}</a>
				</h6>

				<ul class="list-inline small mb-1">
					<li class="list-inline-item">
						<span class="text-white text-uppercase">{{
							archivo.formato
						}}</span>
					</li>
					<li class="list-inline-item">
						<span class="text-white">{{ fileSize }}</span>
					</li>
				</ul>

				<h6 class="text-white mb-0">{{ archivo.codigo }}</h6>
			</div>

			<div class="align-self-center ml-3">
				<b-dropdown
					right
					variant="link"
					dropleft
					no-caret
					v-if="isAdmin"
					:disabled="
						hasPermission('ca.gc.fe.archivos.descargar') ||
						hasPermission('ca.gc.fe.archivos.editar') ||
						hasPermission('ca.gc.fe.archivos.eliminar')
							? false
							: true
					"
				>
					<template v-slot:button-content>
						<i class="fas fa-ellipsis-v mt-2 text-white"></i>
					</template>
					<b-dropdown-item
						v-if="hasPermission('ca.gc.fe.archivos.descargar')"
						href="#"
						@click="download"
						>Descargar</b-dropdown-item
					>
					<b-dropdown-item
						v-if="hasPermission('ca.gc.fe.archivos.editar')"
						href="#"
						@click="setArchivo(archivo)"
						v-b-modal.modal-archivo
						>Editar</b-dropdown-item
					>
					<b-dropdown-item
						v-if="hasPermission('ca.gc.fe.archivos.eliminar')"
						href="#"
						@click="setDataDelete"
						v-b-modal.modal-delete
						>Eliminar</b-dropdown-item
					>
				</b-dropdown>
				<b-button variant="link" v-else
					><i class="ml-auto fas fa-download text-dark"></i
				></b-button>
			</div>
		</div>
	</b-list-group-item>
</template>

<script>
import { mapState, mapMutations } from "vuex";

export default {
	props: {
		archivo: Object,
	},
	data() {
		return {
			isAdmin: true,
		};
	},
	mounted() {},
	methods: {
		...mapMutations("areas", ["setArchivo"]),
		...mapMutations(["setFormDelete"]),
        
		setDataDelete() {
			const data = {
				dpto: "nr",
				section: "archivos",
				tipo: "Archivo",
				id: this.archivo.idArchivo,
				registro: this.archivo.nombre,
			};
			this.setFormDelete(data);
		},
		download() {
			window.location =
				BaseUrl + `/api/nr/archivos/${this.archivo.idArchivo}`;
		},
		show() {
			window.open(
				BaseUrl + `/api/nr/archivos/${this.archivo.idArchivo}/show`,
				"_blank"
			);
		},
		hasPermission(funcion) {
			if (this.permissions.length) {
				const permiso = this.permissions.find(
					(permiso) => permiso.idFuncion == funcion
				);
				if (permiso) return true;
				return false;
			}
		},
	},
	computed: {
		...mapState(["permissions"]),

		fileSize() {
			let size = this.archivo.size / 1024;
			if (size > 1024) {
				size = size / 1024;
				return size.toFixed(2) + " MB";
			}
			return size.toFixed(2) + " KB";
		},
		iconClass() {
			switch (this.archivo.formato) {
				case "pdf":
					return "far fa-file-pdf";
					break;
				case "png":
					return "far fa-file-image";
					break;
				case "jpeg":
					return "far fa-file-image";
					break;
				case "jpg":
					return "far fa-file-image";
					break;
				case "xlsx":
					return "fas fa-file-escel";
					break;
				case "docx":
					return "fas fa-file-word";
					break;
				default:
					return "far fa-file";
					break;
			}
		},
	},
};
</script>
<style>
.punteado {
	border-style: dashed;
	border-width: 2px;
	border-color: #a7a7a7;
}
</style>
