<template>
	<div style="height: calc(100vh - 56px); overflow-y: auto">
		<div class="jumbotron">
			<div class="container">
				<h1 class="display-3">Filosofía empresarial</h1>
				<b-dropdown
					v-if="hasPermission('ca.gc.fe.archivos.mostrar')"
					id="dropdown-left"
					text="Ver archivos"
					class="m-2"
					size="lg"
				>
					<b-dropdown-item
						@click="
							openSidebar('filosofia', 'Filosofía Empresarial')
						"
						>Filosofía empresarial</b-dropdown-item
					>
					<b-dropdown-item
						@click="openSidebar('reglamento', 'Reglamento interno')"
						>Reglamento interno</b-dropdown-item
					>
					<b-dropdown-item
						@click="
							openSidebar(
								'politicas',
								'Politicas Organizacionales'
							)
						"
						>Políticas</b-dropdown-item
					>
					<b-dropdown-item
						@click="openSidebar('imagen', 'Imagen Corporativa')"
						>Imagen corporativa</b-dropdown-item
					>
				</b-dropdown>
			</div>
		</div>
		<div class="container">
			<div class="row text-center mb-4">
				<div class="col-lg-4">
					<div class="icon-box ">
						<i class="fa fa-eye" style="border-radius: 100px;"></i>
					</div>
					<h2 class="my-3">Misión</h2>
					<hr />
					<p class="text-justify">
						Aportar soluciones especializadas en mantenimiento
						industrial.
					</p>
				</div>
				<div class="col-lg-4">
					<div class="icon-box">
						<i
							class="fa fa-check"
							style="border-radius: 100px;"
						></i>
					</div>
					<h2 class="my-3">Visión</h2>
					<hr />
					<div class="text-justify">
						<p>
							<strong>Clientes y Mercado:</strong> Atención
							personalizada al sector industrial nacional e
							internacional en un 3% en ventas.
						</p>

						<p>
							<strong>Productos y Servicios:</strong> Altamente
							especializados en Molinos, Ventiladores y Monitoreo
							de Condición.
						</p>

						<p>
							<strong>Procesos:</strong> Responder a la demanda de
							los productos y servicios con infraestructura,
							tecnología y procesos certificados, alineados a la
							estrategia del negocio.
						</p>

						<p>
							<strong>Personal:</strong> Trabajo en equipos de
							alto desempeño en un ambiente laboral sano y
							armonioso, desarrollando una cultura competitiva.
						</p>

						<p>
							<strong>Comunidad y ambiente:</strong> Aportar un
							valor social, ecológico y económico. (Incluye la
							familia).
						</p>

						<p>
							<strong>Financiera:</strong> Mantener un crecimiento
							duplicando las ventas del negocio cada tres años con
							una rentabilidad superior al 15% y un crecimiento
							del 50% en inversión en infraestructura.
						</p>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="icon-box ">
						<i
							class="fa fa-bookmark"
							style="border-radius: 100px;"
						></i>
					</div>

					<h2 class="my-3">Valores</h2>
					<hr />
					<div>
						<p class="mb-2">Pasión</p>
						<p class="mb-2">Calidad</p>
						<p class="mb-2">Disciplina</p>
						<p class="mb-2">Prudencia</p>
						<p class="mb-2">Seguridad</p>
						<p class="mb-2">Innovación</p>
						<p class="mb-2">Compromiso</p>
						<p class="mb-2">Orden y limpieza</p>
						<p class="mb-2">Trabajo en equipo</p>
					</div>
				</div>
			</div>
			<b-sidebar
				id="sidebar-right"
				:title="nombreTipo"
				right
				shadow
				bg-variant="dark"
				text-variant="light"
				:visible="sidebar"
				@hidden="onHidden"
			>
				<div class="px-3 py-2">
					<nr-organizacion-list-files-component v-if="!editData" />
					<nr-organizacion-list-files-component v-else />
				</div>
			</b-sidebar>
		</div>
	</div>
</template>

<script>
import { mapMutations, mapActions, mapState } from "vuex";
export default {
	props: {},
	data() {
		return {
			tipo: "",
			sidebar: false,
			editData: false,
			nombreTipo: "",
		};
	},
	mounted() {},
	methods: {
		...mapMutations("organizacion", ["setTipo"]),
		...mapActions("organizacion", ["getArchivosByTipo"]),
		openSidebar(tipo, nombre) {
			this.setTipo(tipo);
			this.getArchivosByTipo();
			this.sidebar = true;
			this.nombreTipo = nombre;
		},
		onHidden() {
			this.sidebar = false;
		},
		hasPermission(funcion) {
			if (this.permissions.length) {
				const permiso = this.permissions.find(
					(permiso) => permiso.idFuncion == funcion
				);
				if (permiso) return true;
				return false;
			}
		},
	},
	computed: {
		...mapState(["permissions"]),
	},
};
</script>

<style>
.icon-box i {
	color: #bf2c2c;
	border: 5px solid #bf2c2c;
}
.icon-box i {
	font-size: 80px;
	color: #c23f3f;
	width: 170px;
	height: 170px;
	border: 5px solid #c23f3f;
	text-align: center;
	line-height: 165px;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
</style>
