<template>
	<b-overlay :show="overlay" rounded="sm" class="mt-2">
		<form ref="form" @submit.stop.prevent="submit">
			<template v-if="!archivoActivo || changeFile">
				<b-form-group label="Archivo" label-for="file-default">
					<b-form-file
						id="file-default"
						name="file"
						placeholder="Seleccione un archivo"
						@change="setFile"
						v-model="$v.form.file.$model"
						:state="
							$v.form.file.$dirty ? !$v.form.file.$error : null
						"
					>
					</b-form-file>
					<b-form-invalid-feedback id="feedback-file">
						Campo obligatorio
					</b-form-invalid-feedback>
				</b-form-group>
			</template>

			<template v-if="archivoActivo && !changeFile">
				<div class="text-center mt-3">
					<h5>{{ archivoActivo.nombre }}</h5>
					<hr class="mb-2" />
					<p class="mb-0">
						<small>
							Archivo actual &nbsp;
							<b-link
								@click="changeFile = !changeFile"
								class="text-danger"
							>
								<i class="fas fa-edit"></i>
							</b-link>
						</small>
					</p>
				</div>
			</template>

			<b-form-group label="Tipo">
				<b-form-select
					type="text"
					class="text-dark disabled"
					id="input-tipo"
					v-model="tipoActivo"
					disabled
					aria-describedby="feedback-tipo"
					:options="tipos"
				>
				</b-form-select>
				<b-form-invalid-feedback id="feedback-tipo">
					Campo obligatorio
				</b-form-invalid-feedback>
			</b-form-group>

			<!-- <b-row>
				<b-col lg="6">

					<b-form-group label="Codigo">
						<b-form-input type="text"
							id="input-clave"
							v-model="$v.form.clave.$model"
							:state="$v.form.clave.$dirty ? !$v.form.clave.$error : null"
							placeholder="Ej. ABC"
							aria-describedby="clave-required"
							class="text-center"
							@input="textToUpper">
						</b-form-input>
						<b-form-invalid-feedback id="clave-required">
							Campo obligatorio
						</b-form-invalid-feedback>
					</b-form-group>

				</b-col>
				<b-col>

					<b-form-group label="Area">
						<b-form-input type="text"
							id="input-version"
							v-model="$v.form.version.$model"
							:state="$v.form.version.$dirty ? !$v.form.version.$error : null"
							placeholder="Ej. 01"
							aria-describedby="feedback-version"
							class="text-center">
						</b-form-input>
						<b-form-invalid-feedback id="feedback-version">
							Campo obligatorio
						</b-form-invalid-feedback>
					</b-form-group>
					
				</b-col> 
			</b-row>

			<b-row>
				<b-col lg="6">

					<b-form-group label="Clave">
						<b-form-input type="text"
							id="input-clave"
							v-model="$v.form.clave.$model"
							:state="$v.form.clave.$dirty ? !$v.form.clave.$error : null"
							placeholder="Ej. ABC"
							aria-describedby="clave-required"
							class="text-center"
							@input="textToUpper">
						</b-form-input>
						<b-form-invalid-feedback id="clave-required">
							Campo obligatorio
						</b-form-invalid-feedback>
					</b-form-group>

				</b-col>
				<b-col>

					<b-form-group label="Versión">
						<b-form-input type="text"
							id="input-version"
							v-model="$v.form.version.$model"
							:state="$v.form.version.$dirty ? !$v.form.version.$error : null"
							placeholder="Ej. 01"
							aria-describedby="feedback-version"
							class="text-center">
						</b-form-input>
						<b-form-invalid-feedback id="feedback-version">
							Campo obligatorio
						</b-form-invalid-feedback>
					</b-form-group>
					
				</b-col> 
			</b-row> 
			
			<div class="text-center mt-3">
				<h1 class="text-dark">
					 {{form.tipo}} - {{codigoArea}} - {{form.clave}} - {{form.version}} 
				</h1>
				<hr class="mb-2">
				<p><small>Código</small></p>
			</div>	-->

			<b-form-group label="Última modificación">
				<!-- <b-form-input type="date"
					id="input-modificacion"
					v-model="$v.form.ultimaModificacion.$model"
					:state="$v.form.ultimaModificacion.$dirty ? !$v.form.ultimaModificacion.$error : null"
					placeholder="Ingrese la ultima modificación del archivo">
				</b-form-input> -->
				<b-calendar
					block
					v-model="$v.form.ultimaModificacion.$model"
					@context="onContext"
					locale="es-US"
					selected-variant="danger"
					today-variant="secondary"
				>
				</b-calendar>

				<div
					id="feedback-calendar"
					class="text-danger"
					v-if="$v.form.ultimaModificacion.$error"
				>
					<small class="mt-1">Campo obligatorio</small>
				</div>
			</b-form-group>
		</form>
	</b-overlay>
</template>

<script>
import {
	required,
	minLength,
	numeric,
	maxLength,
	alpha,
	url,
} from "vuelidate/lib/validators";
import { mapState, mapMutations, mapActions } from "vuex";
export default {
	props: {},
	data() {
		return {
			changeFile: false,
			value: "",
			context: null,
			overlay: false,
			tipos: [
				{ value: null, text: "Selecciona el tipo de archivo" },
				{ value: "filosofia", text: "Filosofía Empresarial" },
				{ value: "reglamento", text: "Reglamento Interno" },
				{ value: "politicas", text: "Políticas Organizacionales" },
				{ value: "imagen", text: "Imagen Corporativa" },
			],
			form: {
				idArchivo: null,
				clave: "",
				tipo: null,
				ultimaModificacion: "",
				version: "",
				file: null,
			},
		};
	},
	mounted() {
		if (this.archivoActivo) this.setDataEdit();
	},
	methods: {
		...mapMutations(["modalSubmit", "modalOk"]),
		...mapMutations("organizacion", ["addArchivo", "updateArchivo"]),
		setFile(e) {
			this.form.file = e.target.files[0];
		},
		async submit() {
			this.$v.$touch();
			if (!this.$v.$invalid) {
				this.overlay = true;

				var data = new FormData();

				data.append("idArchivo", this.form.idArchivo);
				data.append("tipo", this.tipoActivo);
				data.append("ultimaModificacion", this.form.ultimaModificacion);
				data.append("file", this.form.file);
				// data.append('clave', this.form.clave);
				// data.append('version', this.form.version);
				// data.append('codigo', this.codigo);
				// data.append('codigoArea', this.codigoArea);
				try {
					const response = !this.archivoActivo
						? await axios.post(
								BaseUrl + `/api/nr/organizacion/archivos`,
								data
						  )
						: await axios.post(
								BaseUrl +
									`/api/nr/organizacion/archivos/update`,
								data
						  );
					if (response.data.success) {
						if (!this.archivoActivo)
							this.addArchivo(response.data.archivo);
						else this.updateArchivo(response.data.archivo);
						this.overlay = false;
						this.modalSubmit(true);
					}
				} catch (e) {
					this.modalOk(false);
					this.overlay = false;
				}
			} else {
				this.modalOk(false);
			}
		},
		setDataEdit() {
			this.form.idArchivo = this.archivoActivo.idArchivo;
			this.form.clave = this.archivoActivo.clave;
			this.form.tipo = this.archivoActivo.tipo;
			this.form.version = this.archivoActivo.version;
			this.form.ultimaModificacion = this.archivoActivo.ultima_modificacion;
		},
		textToUpper(val) {
			this.form.clave = val.toUpperCase();
		},
		onContext(ctx) {
			this.context = ctx;
		},
	},
	computed: {
		...mapState(["okModal"]),
		...mapState("organizacion", ["archivoActivo", "tipoActivo"]),
		// codigo()
		// {
		// 	return `${this.form.tipo}-${this.codigoArea}-${this.form.clave}-${this.form.version}`;
		// }
	},
	validations() {
		if (this.archivoActivo) {
			return {
				form: {
					ultimaModificacion: {},
					tipo: {},
					file: {},
				},
			};
		} else {
			return {
				form: {
					ultimaModificacion: { required },
					tipo: {},
					file: { required },
				},
			};
		}
	},
	watch: {
		okModal() {
			if (this.okModal == true) {
				this.submit();
			}
		},
	},
};
</script>

<style>
.custom-file-input:lang(en) ~ .custom-file-label::after {
	content: "Elegir archivo";
}
</style>
