<template>
	<b-list-group flush class="card-body-scroll mt-2">
		<div class="mx-3">
			<div class="media border-bottom pt-2 mb-1 pl-3 bg-light-35">
				<div class="media-body align-self-center overflow-hidden">
					<h5 class="text-light">
						Archivos<b-badge variant="light-35"></b-badge>
					</h5>
				</div>
				<div class="align-self-center pb-2">
					<b-button variant="link" v-b-modal.modal-archivo
						><i class="fas fa-cloud-upload-alt mr-3 text-white"></i
					></b-button>
				</div>
			</div>
			<template v-if="listArchivos.length">
				<nr-organizacion-file-component
					v-for="(archivo, index) in listArchivos"
					:key="index"
					:archivo="archivo"
				/>
			</template>
			<div class="text-center mt-5" v-else>
				<h5 class="text-light">No se encontraron archivos</h5>
				<b-button
					v-if="hasPermission('ca.gc.fe.archivos.cargar')"
					class="mt-3 text-white"
					v-b-modal.modal-archivo
					>Subir archivo <i class="fas fa-cloud-upload-alt ml-1"></i
				></b-button>
			</div>
		</div>
		<modal-component :title="titleModalArchivo" :id="'modal-archivo'">
			<template slot="content">
				<nr-organizacion-form-file-component />
			</template>
		</modal-component>
	</b-list-group>
</template>

<script>
import { mapState, mapMutations } from "vuex";

export default {
	data() {
		return {
			filter: "",
		};
	},
	mounted() {},
	methods: {
		...mapMutations("organizacion", ["setArchivo"]),

		hasPermission(funcion) {
			if (this.permissions.length) {
				const permiso = this.permissions.find(
					(permiso) => permiso.idFuncion == funcion
				);
				if (permiso) return true;
				return false;
			}
		},
	},
	computed: {
		...mapState(["permissions"]),
		...mapState("organizacion", ["listArchivos", "archivoActivo"]),

		titleModalArchivo() {
			if (this.archivoActivo) return "Actualizar archivo";
			else return "Subir archivo";
		},
	},
};
</script>
